mixin AbilityScore(attr, componentSettings = {})
  - const { optional = false } = componentSettings;
  - const shortName = attr.slice(0,3).toUpperCase();
  - const className = (optional) ? ` toggleVisibilityBy-${attr}` : "";

  if (optional)
    input.toggleVisibility(type=`hidden` name=`attr_${attr}_toggle`)
    
  .abilityscore(class=`abilityscore--${shortName} ${className}`)
    button.abilityscore__rollbutton(type=`roll` name=`roll_${attr}` value=`@{wtype}&{template:simple} {{rname=^{${attr}-u}}} {{mod=@{${attr}_mod}@{jack_bonus}}} {{r1=[[@{d20}+@{${attr}_mod}@{jack_attr}[${shortName}]]]}} @{rtype}+@{${attr}_mod}@{jack_attr}[${shortName}]]]}} @{charname_output}` data-i18n=`${attr}-u`) 
    span.abilityscore__value(name=`attr_${attr}_mod` title=`@{${attr}_mod}`)
    .abilityscore__mod
      input.abilityscore__base(type=`text` name=`attr_${attr}_base` title=`@{${attr}}` value=`10`)
      input(type=`hidden` name=`attr_${attr}` value=`10`)
      input.abilityscore__flag(type=`hidden` name=`attr_${attr}_flag` value=`0`)
      span.abilityscore__final(name=`attr_${attr}`)