mixin SavingThrow (name, componentSettings = {})
  - const { optional } = componentSettings;
  - const attr = name.toLowerCase();
  - const className = (optional) ? `toggleVisibilityBy-${attr}` : ``;

  if (optional)
    input.toggle(type=`hidden` name=`attr_${attr}_toggle`)
    
  .savingthrow(class=className)
    input(type=`hidden` name=`attr_${attr}_save_roll`)
    .savingthrow__checkbox
      input(type=`checkbox` name=`attr_${attr}_save_prof` title=`@{${attr}_save_prof}` value=`(@{pb})`)
      span
    span.savingthrow__value(name=`attr_${attr}_save_bonus` title=`@{${attr}_save_bonus}`)
    button.savingthrow__button(type=`roll` name=`roll_${attr}_save` value=`@{${attr}_save_roll}` data-i18n=attr)