mixin Skill(name, ability)
  - const attr = name.toLowerCase().replace(/ /g, "_");
  - const shortName = ability.split(0,3)[0].toUpperCase();

  .skill(data-i18n-list-item=`${attr}`)
    input(type=`hidden` name=`attr_${attr}_roll`)
    .skill__checkbox
      input(type=`checkbox` name=`attr_${attr}_prof` title=`@{${attr}_prof}` value=`(@{pb}*@{${attr}_type})`)
      span
    span.skill__value(name=`attr_${attr}_bonus` title=`@{${attr}_bonus}`) 0
    button.skill__button(type=`roll` name=`roll_${attr}` value=`@{${attr}_roll}` data-i18n=`${attr}-core`)
      | #{name}
      span #{shortName}