mixin SpellLabel(level)
  - const label = (level === 0) ? "Cantrips" : level;
  - var spellPointCostPerLevel = [0, 2, 3, 5, 6, 7, 9, 10, 11, 13];
  - var spellPoinstCost = spellPointCostPerLevel[level];
  .spell-label(class=`spell-label--${level}`)
    .spell-label__numeral
      .spell-label__label
        if level !== 0
          span(data-i18n="Level")
        span  #{ label }
      if level !== 0
        button.pictos(name=`act_spell-reset-${level}`, type="action") 1
        button.pictos(name=`act_spell-use-${level}`, type="action") }
    if level !== 0
      .spell-label__total
        .spell-label__title(data-i18n="total")
        span(name=`attr_lvl${level}_slots_total`)
      .spell-label__expended
        .spell-label__title(data-i18n="current")
        input(type="number", name=`attr_lvl${level}_slots_expended`, value!="0")
