input(type='checkbox',
      name='attr_toggle_abilities_block',
      checked=false,
      class='sheet-toggle sheet-toggle--block')

.sheet-block.sheet-abilities
  .sheet-header
    span.sheet-header__title.sheet-apparel__name(name='attr_rename_block_abilities', data-i18n='abilities') Abilities

  input(type='checkbox',
        name='attr_abilities_visibility_toggle',
        checked=true,
        class='sheet-toggle sheet-toggle--visibility')

  fieldset.repeating_abilities
    .sheet-repitem.sheet-repitem--full-field
      input(type='radio',
            name='attr_ability_size',
            value='1',
            label='}',
            data-i18n-label='}',
            class='sheet-repitem__size-radio sheet-repitem__size-radio--1')

      - var i = 1

      while i < 6
        - ++i

        input(type='radio',
              name='attr_ability_size',
              value=`${i}`,
              label='}',
              data-i18n-label='}',
              class='sheet-repitem__size-radio')

      textarea(name='attr_ability',
               placeholder='Ability: Description',
               data-i18n-placeholder='ability-placeholder',
               spellcheck='false')

  .sheet-footer
