input(type='checkbox',
      name='attr_toggle_abilities_block',
      checked=false,
      class='sheet-toggle sheet-toggle--block')

.sheet-block.sheet-abilities
  .sheet-header
    span.sheet-header__title.sheet-apparel__name(name='attr_rename_block_abilities', data-i18n='abilities') Abilities

  input(type='checkbox',
        name='attr_abilities_visibility_toggle',
        checked=true,
        class='sheet-toggle sheet-toggle--visibility')

  fieldset.repeating_abilities
    .sheet-repitem.sheet-repitem--full-field
      span(name='attr_ability') [Ability] Description

      textarea(name='attr_ability',
               placeholder='Ability: Description',
               data-i18n-placeholder='ability-placeholder',
               spellcheck='false')

  .sheet-footer
