-
  const levelRanks = [['N', 'Novice'], ['S', 'Seasoned'], ['V', 'Veteran'],
                      ['H', 'Heroic'], ['L', 'Legendary']]

.sheet-advancements
  - var i = 0, j = 2, r = 0

  while i < 5
    - ++i
    .sheet-advancements__item
      input(type='text',
            name=`attr_chargen_edge_${i}`,
            placeholder='Novice',
            data-i18n-placeholder='advancements-novice-placeholder',
            spellcheck='false',
            class='sheet-align-left')

  while i < 27
    .sheet-advancements__item
      .sheet-advancements__rank
        span(data-i18n=`advancements-rank-${levelRanks[r][0].toLowerCase()}`)= levelRanks[r][0]
        - ++i

      input(type='text',
            name=`attr_advancement_${(i - 5)}`,
            placeholder=levelRanks[r][1],
            data-i18n-placeholder=`advancements-${levelRanks[r][1].toLowerCase()}-placeholder`,
            spellcheck='false',
            class='sheet-align-left')

      if j % 4 == 0 && r < 4
        - ++r

      - ++j
