input(type='checkbox',
      name='attr_toggle-allies-block',
      checked=false,
      class='sheet-toggle sheet-toggle--block')

.sheet-block.sheet-allies
  .sheet-header
    .sheet-header__title.sheet-allies__name
      span(name='attr_rename-block-allies', data-i18n='allies') Allies
    .sheet-header__labels
      .sheet-allies__pace
        span(data-i18n='pace') Pace
      .sheet-allies__parry
        span(data-i18n='parry') Parry
      .sheet-allies__toughness
        span(data-i18n='toughness') Tough.
      .sheet-allies__size
        span(data-i18n='size') Size
      .sheet-allies__exp
        span(data-i18n='exp') EXP
      .sheet-allies__level
        span(data-i18n='level') Level

  input(type='checkbox',
        name='attr_allies-visibility-toggle',
        checked=true,
        class='sheet-toggle sheet-toggle--visibility')
            
  fieldset.repeating_allies
    .sheet-repitem
      .sheet-repitem__primary
        input(type='text',
              name='attr_ally-name',
              placeholder='Name',
              data-i18n-placeholder='allies-name-placeholder',
              spellcheck='false',
              class='sheet-align-left sheet-allies__name sheet-stretch')

        input(type='text',
              name='attr_ally-pace',
              placeholder='6',
              data-i18n-placeholder='allies-pace-placeholder',
              spellcheck='false',
              class='sheet-allies__pace')
              
        input(type='text',
              name='attr_ally-parry',
              placeholder='4',
              data-i18n-placeholder='allies-parry-placeholder',
              spellcheck='false',
              class='sheet-allies__parry')
              
        input(type='text',
              name='attr_ally-toughness',
              placeholder='4',
              data-i18n-placeholder='allies-toughness-placeholder',
              spellcheck='false',
              class='sheet-allies__toughness')
              
        input(type='text',
              name='attr_ally-size',
              placeholder='0',
              data-i18n-placeholder='allies-size-placeholder',
              spellcheck='false',
              class='sheet-allies__size')
              
        input(type='text',
              name='attr_ally-exp',
              placeholder='0',
              data-i18n-placeholder='allies-exp-placeholder',
              spellcheck='false',
              class='sheet-allies__exp')
              
        input(type='text',
              name='attr_ally-level',
              placeholder='1',
              data-i18n-placeholder='allies-level-placeholder',
              spellcheck='false',
              class='sheet-allies__level')
              
        input(type='checkbox',
              name='attr_ally-note-box-toggle',
              class='sheet-toggle sheet-toggle--note-box')
              
        .sheet-repitem__note-box
          textarea(name='attr_ally-note-box',
                   placeholder='Notes',
                   data-i18n-placeholder='allies-note-box-placeholder',
                   spellcheck='false')

      input(type='checkbox',
            name='attr_ally-notes-toggle',
            class='sheet-toggle sheet-toggle--arrow')
            
      .sheet-repitem__secondary
        .sheet-left
          - var rolls = ['2', '4', '6', '8', '10', '12']
          - var i = 0

          while i < 6
            - var die = rolls[i] == 2 ? 'd4!cs2-2' : 'd' + rolls[i] + '!cs2'
            
            button(type='roll',
                   name='roll_ally-roll-' + die.replace('!cs2', ''),
                   value!='&{template:TraitRoll} {{name=[@{ally}] @{ally-name}}} {{trait=a ' + die.replace('!cs2', '') + '}} {{commander=@{name}}} {{rof=[[ ?{@{query-rate-of-fire}|1}} ]]}} {{modifier=?{@{query-modifier}|0}}} {{wd=?{@{query-wild-die}|@{None},-10000|d4|d6|d8|d10|d12}}} {{traitroll1=[[ ' + die + ' + ?{@{query-modifier}|0} ]]}} {{traitroll2=[[ ' + die + ' + ?{@{query-modifier}|0} ]]}} {{traitroll3=[[ ' + die + ' + ?{@{query-modifier}|0} ]]}} {{traitroll4=[[ ' + die + ' + ?{@{query-modifier}|0} ]]}} {{traitroll5=[[ ' + die + ' + ?{@{query-modifier}|0} ]]}} {{traitroll6=[[ ' + die + ' + ?{@{query-modifier}|0} ]]}} {{wdroll=[[ ?{@{query-wild-die}|@{None},-10000|d4|d6|d8|d10|d12}!cs2 + ?{@{query-modifier}|0} ]]}}')
             span(data-i18n='die-button-number-' + rolls[i])= rolls[i]

            - ++i
          
          .sheet-allies__health-field.sheet-allies__health-field--wounds
            input(type='text',
                  name='attr_ally-note-wounds',
                  spellcheck='false')
          
          .sheet-allies__health-field.sheet-allies__health-field--fatigue
            input(type='text',
                  name='attr_ally-note-fatigue',
                  spellcheck='false')
                   
        .sheet-right
          - var i = 0
          
          while i < 20
            - ++i
            input(type='text',
                  name='attr_ally-note-field-' + i,
                  placeholder='Note #' + i,
                  data-i18n-placeholder='allies-note-field-' + i + '-placeholder',
                  spellcheck='false',
                  class='sheet-allies__note-field sheet-allies__note-field--' + i)

  .sheet-footer
