input(type='checkbox',
      name='attr_toggle_allies_block',
      class='sheet-toggle sheet-toggle--block')

.sheet-block.sheet-allies
  .sheet-header
    span.sheet-header__title.sheet-allies__name(name='attr_rename_block_allies', data-i18n='allies') Allies
    .sheet-header__labels
      .sheet-allies__pace(data-i18n='pace') Pace
      .sheet-allies__parry(data-i18n='parry') Parry
      .sheet-allies__toughness(data-i18n='toughness') Tough.
      .sheet-allies__size(data-i18n='size') Size
      .sheet-allies__exp(data-i18n='exp') EXP
      .sheet-allies__level(data-i18n='level') Level

  input(type='checkbox',
        name='attr_allies_visibility_toggle',
        checked=true,
        class='sheet-toggle sheet-toggle--visibility')
            
  fieldset.repeating_allies
    .sheet-repitem
      .sheet-repitem__primary
        input(type='text',
              name='attr_ally_name',
              placeholder='Name',
              data-i18n-placeholder='allies-name-placeholder',
              spellcheck='false',
              class='sheet-align-left sheet-allies__name sheet-stretch')

        input(type='text',
              name='attr_ally_pace',
              placeholder='6',
              spellcheck='false',
              class='sheet-allies__pace')

        input(type='text',
              name='attr_ally_parry',
              placeholder='4',
              spellcheck='false',
              class='sheet-allies__parry')

        input(type='text',
              name='attr_ally_toughness',
              placeholder='4',
              spellcheck='false',
              class='sheet-allies__toughness')

        input(type='text',
              name='attr_ally_size',
              placeholder='0',
              spellcheck='false',
              class='sheet-allies__size')

        input(type='text',
              name='attr_ally_exp',
              placeholder='0',
              spellcheck='false',
              class='sheet-allies__exp')

        input(type='text',
              name='attr_ally_level',
              placeholder='1',
              spellcheck='false',
              class='sheet-allies__level')

        input(type='checkbox',
              name='attr_ally_note_box_toggle',
              class='sheet-toggle sheet-toggle--note-box')

        .sheet-repitem__note-box
          textarea(name='attr_ally_note_box',
                   placeholder='Notes',
                   data-i18n-placeholder='allies-note-box-placeholder',
                   spellcheck='false')

      input(type='checkbox',
            name='attr_ally_notes_toggle',
            class='sheet-toggle sheet-toggle--arrow')

      .sheet-repitem__secondary
        .sheet-left
          - var rolls = ['2', '4', '6', '8', '10', '12']
          - var i = 0

          while i < 6
            - var die = rolls[i] == 2 ? 'd4' : `d${rolls[i]}`
            - var untrained = rolls[i] == 2 ? '-2' : ''

            button(type='roll',
                   name=`roll_ally_roll_${rolls[i]}`,
                   value!=`@{gm_roll} &{template:TraitRoll} {{header=[^{ally}] @{ally_name} ^{rolls}: ${die}${untrained}}} {{commander=@{name}}} {{rof=[[ ?{@{query_rate_of_fire}|1} ]]}} {{modifier=?{@{query_modifier}|0}}} {{wd=?{@{query_wild_die}|@{none},-10000|d4|d6|d8|d10|d12}}} ${maxRof.map(n => `{{traitroll${n}=[[ ${die}!cs2 ${untrained} + (?{@{query_modifier}|0})[Modifier] ]]}}`).join(' ')} {{wdroll=[[ ?{@{query_wild_die}|@{none},-10000|d4|d6|d8|d10|d12}!cs2 - ${untrained} + (?{@{query_modifier}|0})[Modifier] ]]}} {{reroll=[r](~repeating_allies_ally_roll_${rolls[i]})}}`)
             span(data-i18n=`die-button-number-${rolls[i]}`)= rolls[i]

            - ++i

          .sheet-allies__health-field.sheet-allies__health-field--wounds
            input(type='text',
                  name='attr_ally_note_wounds',
                  spellcheck='false')

          .sheet-allies__health-field.sheet-allies__health-field--fatigue
            input(type='text',
                  name='attr_ally_note_fatigue',
                  spellcheck='false')

        .sheet-right
          - var i = 0

          while i < 20
            - ++i
            input(type='text',
                  name=`attr_ally_note_field_${i}`,
                  placeholder=`Note #${i}`,
                  data-i18n-placeholder=`allies-note-field-${i}-placeholder`,
                  spellcheck='false',
                  class=`sheet-allies__note-field sheet-allies__note-field--${i}`)

  .sheet-footer
