input(type='checkbox',
      name='attr_toggle_ammunition_block',
      checked=true,
      class='sheet-hidden sheet-toggle sheet-toggle-block')

.sheet-ammunition
  .sheet-header
    span.sheet-header__title(name='attr_rename_block_ammunition', data-i18n='ammunition') Ammunition

  input(type='checkbox',
        name='attr_ammunition_visibility_toggle',
        checked=true,
        class='sheet-toggle sheet-toggle--visibility')

  .sheet-ammunition__content
    - var i = 0

    while i < 3
      - ++i

      .sheet-ammunition__container.sheet-ammunition__container--1
        input(type='radio', name='attr_ammunition_select', value=`ammunition_container_${i}`, checked= i==1)
        span(name=`attr_ammunition_container_${i}_max`) 0
        input(type='text', name=`attr_ammunition_container_${i}`)
        span(name=`attr_rename_ammunition_container_${i}`)= `Ammo #${i}`

    .sheet-ammunition__buttons
      .sheet-top
        button(type='action' name='act_ammunition_+1') +1
        button(type='action' name='act_ammunition_+3') +3
        button(type='action' name='act_ammunition_+5') +5
        button(type='action' name='act_ammunition_+10') +10
        button(type='action' name='act_ammunition_set', data-i18n='ammunition-set') S

      .sheet-bottom
        button(type='action' name='act_ammunition_-1') −1
        button(type='action' name='act_ammunition_-3') −3
        button(type='action' name='act_ammunition_-5') −5
        button(type='action' name='act_ammunition_-10') −10
        button(type='action' name='act_ammunition_reset', data-i18n='ammunition-reset') R
      
  .sheet-footer
