input(type='checkbox',
      name='attr_toggle_apparel_block',
      checked=true,
      class='sheet-toggle sheet-toggle--block')

.sheet-block.sheet-apparel
  .sheet-header
    span.sheet-header__title.sheet-apparel__name(name='attr_rename_block_apparel', data-i18n='apparel') Apparel
    .sheet-header__labels
      .sheet-apparel__armor(data-i18n='apparel-armor') Armor
      .sheet-apparel__tags(data-i18n='apparel-properties') Properties
      .sheet-apparel__weight(data-i18n='apparel-weight') WGT

  input(type='checkbox',
        name='attr_apparel_visibility_toggle',
        checked=true,
        class='sheet-toggle sheet-toggle--visibility')

  fieldset.repeating_apparel
    .sheet-repitem
      .sheet-repitem__primary
        input(type='text',
              name='attr_apparel_name',
              placeholder='Apparel',
              data-i18n-placeholder='apparel-name-placeholder',
              spellcheck='false',
              class='sheet-align-left sheet-apparel__name sheet-stretch')

        input(type='text',
              name='attr_apparel_armor',
              placeholder='0',
              spellcheck='false',
              class='sheet-apparel__armor')

        input(type='text',
              name='attr_apparel_tags',
              placeholder='Protection/Resistance/Tags',
              data-i18n-placeholder='apparel-properties-placeholder',
              spellcheck='false',
              class='sheet-align-left sheet-apparel__tags')

        input(type='text',
              name='attr_apparel_weight',
              placeholder='WGT',
              data-i18n-placeholder='apparel-weight-placeholder',
              spellcheck='false',
              class='sheet-apparel__weight')

      input(type='checkbox',
            name='attr_apparel_notes_toggle',
            class='sheet-toggle sheet-toggle--arrow')

      .sheet-repitem__secondary
        .sheet-repitem__label(data-i18n='notes') Notes

        input(type='text',
              name='attr_apparel_notes',
              placeholder='Notes, Tags, Trappings, Requirements, etc.',
              data-i18n-placeholder='apparel-notes-placeholder',
              spellcheck='false',
              class='sheet-align-left sheet-repitem__note sheet-stretch')

        input(type='checkbox',
              name='attr_apparel_weight_toggle',
              checked=true,
              title='Weight On/Off',
              data-i18n-title='apparel-weight-toggle-title',
              class='sheet-toggle sheet-toggle--special sheet-toggle--weight')

        input(type='checkbox',
              name='attr_apparel_note_box_toggle',
              class='sheet-toggle sheet-toggle--note-box')

        .sheet-repitem__note-box
          textarea(name='attr_apparel_note_box',
                   placeholder='Notes',
                   data-i18n-placeholder='apparel-note-box-placeholder',
                   spellcheck='false')

  .sheet-footer
    span.sheet-label(data-i18n='apparel-total-weight') Total Weight:&nbsp;
    span(name='attr_carry_weight_apparel',
         class='sheet-label sheet-label--weight') 0.0
