.sheet-armor
  .sheet-armor__decoration
  +hexfield('armor_head', 'Head', 'left', '0')
    textarea(name='attr_head_notes',
             placeholder='NOTES',
             data-i18n-placeholder='armor-notes-u',
             spellcheck='false')
    .sheet-armor__pointer.sheet-armor__pointer--head

  +hexfield('armor_torso', 'Torso', 'left', '0')
    textarea(name='attr_torso_notes',
            placeholder='NOTES',
            data-i18n-placeholder='armor-notes-u',
            spellcheck='false')
    .sheet-armor__pointer.sheet-armor__pointer--torso

  +hexfield('armor_arms', 'Arms', 'left', '0')
    textarea(name='attr_arms_notes',
             placeholder='NOTES',
             data-i18n-placeholder='armor-notes-u',
             spellcheck='false')
    .sheet-armor__pointer.sheet-armor__pointer--arms

  +hexfield('armor_legs', 'Legs', 'left', '0')
    textarea(name='attr_legs_notes',
             placeholder='NOTES',
             data-i18n-placeholder='armor-notes-u',
             spellcheck='false')
    .sheet-armor__pointer.sheet-armor__pointer--legs
