.sheet-armor
  .sheet-armor__decoration
  +hexfield('armor-head', 'Head', 'left', '0')
    textarea(name='attr_head-notes',
             placeholder='NOTES',
             spellcheck='false')
    .sheet-armor__pointer.sheet-armor__pointer--head

  +hexfield('armor-torso', 'Torso', 'left', '0')
    textarea(name='attr_torso-notes',
            placeholder='NOTES',
            spellcheck='false')
    .sheet-armor__pointer.sheet-armor__pointer--torso

  +hexfield('armor-arms', 'Arms', 'left', '0')
    textarea(name='attr_arms-notes',
             placeholder='NOTES',
             spellcheck='false')
    .sheet-armor__pointer.sheet-armor__pointer--arms

  +hexfield('armor-legs', 'Legs', 'left', '0')
    textarea(name='attr_legs-notes',
             placeholder='NOTES',
             spellcheck='false')
    .sheet-armor__pointer.sheet-armor__pointer--legs
