input(type='checkbox',
      name='attr_toggle-strain',
      checked=false,
      class='sheet-hidden sheet-toggle--strain')

input(type='checkbox',
      name='attr_toggle-augmentations-block',
      checked=true,
      class='sheet-toggle sheet-toggle--block')

.sheet-block.sheet-augmentations
  .sheet-header
    .sheet-header__title.sheet-augmentations__name
      span(name='attr_rename-block-augmentations', data-i18n='augmentations') Augmentations
    .sheet-header__labels
      .sheet-augmentations__grade
        span(data-i18n='augmentations-grade') Grade
      .sheet-augmentations__power
        span(data-i18n='augmentations-power') Power
      .sheet-augmentations__slots
        span(data-i18n='augmentations-slots') Slots
      .sheet-augmentations__loss
        span.sheet-a(data-i18n='augmentations-loss') Loss
        span.sheet-b(data-i18n='augmentations-strain') Strain

  input(type='checkbox',
        name='attr_augmentations-visibility-toggle',
        checked=true,
        class='sheet-toggle sheet-toggle--visibility')

  fieldset.repeating_augmentations
    .sheet-repitem
      .sheet-repitem__primary
        input(type='text',
              name='attr_augmentation-name',
              placeholder='[Advanced/Superior] Augmentation [Level] (Upgrades)',
              data-i18n-placeholder='augmentation-name-placeholder',
              spellcheck='false',
              class='sheet-align-left sheet-augmentations__name sheet-stretch')
              
        +color_circle('augmentation-color')

        input(type='text',
              name='attr_augmentation-grade',
              placeholder='Iron',
              data-i18n-placeholder='augmentation-grade-placeholder',
              spellcheck='false',
              class='sheet-augmentations__grade')

        input(type='text',
              name='attr_augmentation-power',
              placeholder='0',
              spellcheck='false',
              class='sheet-augmentations__power')
              
        input(type='text',
              name='attr_augmentation-slots',
              placeholder='0',
              spellcheck='false',
              class='sheet-augmentations__slots')
              
        input(type='text',
              name='attr_augmentation-loss',
              placeholder='4.0',
              spellcheck='false',
              class='sheet-augmentations__loss')

      input(type='checkbox',
            name='attr_augmentation-notes-toggle',
            class='sheet-toggle sheet-toggle--arrow')
            
      .sheet-repitem__secondary
        .sheet-repitem__note-label
          span(data-i18n='augmentation-notes') Notes:

        input(type='text',
              name='attr_augmentation-notes',
              placeholder='Effect/Description',
              data-i18n-placeholder='augmentation-notes-placeholder',
              spellcheck='false',
              class='sheet-align-left sheet-repitem__note sheet-stretch')
              
        input(type='checkbox',
              name='attr_augmentation-loss-toggle',
              checked=true,
              title='Loss/Strain On/Off',
              data-i18n-title='augmentation-toggle-title',
              class='sheet-toggle sheet-toggle--special sheet-toggle--loss')
                    
        input(type='checkbox',
              name='attr_augmentation-note-box-toggle',
              class='sheet-toggle sheet-toggle--note-box')
              
        .sheet-repitem__note-box
          textarea(name='attr_augmentation-note-box',
                   placeholder='Notes',
                   data-i18n-placeholder='note-box-placeholder',
                   spellcheck='false')

  .sheet-footer
    span.sheet-label.sheet-a(data-i18n='augmentation-total-loss') Total Loss: 
    span.sheet-label.sheet-b(data-i18n='augmentation-total-strain') Total Strain: 
    span(name='attr_augmentations-total-loss',
         class='sheet-label sheet-label--loss') 0.0
