input(type='checkbox',
      name='attr_toggle_strain',
      class='sheet-hidden sheet-toggle--strain')
      
input(type='checkbox',
      name='attr_toggle_augmentation_markers',
      checked=true,
      class='sheet-hidden sheet-toggle-augmentation-markers')

input(type='checkbox',
      name='attr_toggle_augmentations_block',
      checked=true,
      class='sheet-toggle sheet-toggle--block')

.sheet-block.sheet-augmentations
  .sheet-header
    span.sheet-header__title.sheet-augmentations__name(name='attr_rename_block_augmentations', data-i18n='augmentations') Augmentations
    .sheet-header__labels
      .sheet-augmentations__grade(data-i18n='augmentations-grade') Grade
      .sheet-augmentations__power(data-i18n='augmentations-power') Power
      .sheet-augmentations__slots(data-i18n='augmentations-slots') Slots
      .sheet-augmentations__loss
        span.sheet-a(data-i18n='augmentations-loss') Loss
        span.sheet-b(data-i18n='augmentations-strain') Strain

  input(type='checkbox',
        name='attr_augmentations_visibility_toggle',
        checked=true,
        class='sheet-toggle sheet-toggle--visibility')

  fieldset.repeating_augmentations
    .sheet-repitem
      .sheet-repitem__primary
        input(type='text',
              name='attr_augmentation_name',
              placeholder='[Advanced/Superior] Augmentation [Level] (Upgrades)',
              data-i18n-placeholder='augmentations-name-placeholder',
              spellcheck='false',
              class='sheet-align-left sheet-augmentations__name sheet-stretch')

        +color_circle('augmentation-color')

        input(type='text',
              name='attr_augmentation_grade',
              placeholder='Iron',
              data-i18n-placeholder='augmentations-grade-placeholder',
              spellcheck='false',
              class='sheet-augmentations__grade')

        input(type='text',
              name='attr_augmentation_power',
              placeholder='0',
              spellcheck='false',
              class='sheet-augmentations__power')

        input(type='text',
              name='attr_augmentation_slots',
              placeholder='0',
              spellcheck='false',
              class='sheet-augmentations__slots')

        input(type='text',
              name='attr_augmentation_loss',
              placeholder='4.0',
              spellcheck='false',
              class='sheet-augmentations__loss')

      input(type='checkbox',
            name='attr_augmentation_notes_toggle',
            class='sheet-toggle sheet-toggle--arrow')

      .sheet-repitem__secondary
        input(type='checkbox',
              name='attr_multiplier_toggle',
              checked=true,
              class='sheet-hidden sheet-toggle')

        .sheet-repitem__label(data-i18n='multiplier') Multiplier

        input(type='text',
              name='attr_augmentation_multiplier',
              value='1.0',
              placeholder='1.0',
              class='sheet-augmentations__multiplier')

        .sheet-repitem__label(data-i18n='notes') Notes

        input(type='text',
              name='attr_augmentation_notes',
              placeholder='Effect/Description',
              data-i18n-placeholder='augmentations-notes-placeholder',
              spellcheck='false',
              class='sheet-align-left sheet-repitem__note sheet-stretch')

        input(type='checkbox',
              name='attr_settings_toggle',
              class='sheet-toggle sheet-toggle--settings')

        .sheet-repitem__settings
          .sheet-repitem__settings-content
            label.sheet-label-toggle
              input(type='checkbox', name='attr_multiplier_toggle', checked=true)
              span(data-i18n='multiplier') Multiplier

        input(type='checkbox',
              name='attr_augmentation_loss_toggle',
              checked=true,
              title='Loss/Strain On/Off',
              data-i18n-title='augmentations-toggle-title',
              class='sheet-toggle sheet-toggle--special sheet-toggle--loss')

        input(type='checkbox',
              name='attr_augmentation_note_box_toggle',
              class='sheet-toggle sheet-toggle--note-box')

        .sheet-repitem__note-box
          textarea(name='attr_augmentation_note_box',
                   placeholder='Notes',
                   data-i18n-placeholder='augmentations-note-box-placeholder',
                   spellcheck='false')

  .sheet-footer
    span.sheet-label.sheet-a(data-i18n='augmentations-total-loss') Total Loss:&nbsp;
    span.sheet-label.sheet-b(data-i18n='augmentations-total-strain') Total Strain:&nbsp;
    span(name='attr_augmentations_total_loss',
         class='sheet-label sheet-label--loss') 0.0
