.sheet-buttons
  .sheet-dice-roller
    input(type='text',
          name='attr_dice_roller_code',
          placeholder= '2d6!+2',
          data-i18n-placeholder='dice-roller-code-placeholder',
          class='sheet-dice-roller__input')

    button(type='roll',
           name='roll_dice_roller_damage',
           value!='&{template:DamageRoll} {{name=@{name}}} {{code=@{dice_roller_code}}} {{rof=[[ ?{@{query_rate_of_fire}|1} ]]}} {{roll1=[[ @{dice_roller_code} ]]}} {{roll2=[[ @{dice_roller_code} ]]}} {{roll3=[[ @{dice_roller_code} ]]}} {{roll4=[[ @{dice_roller_code} ]]}} {{roll5=[[ @{dice_roller_code} ]]}} {{roll6=[[ @{dice_roller_code} ]]}}')
      span(data-i18n='dice-roller-damage') Damage
                   
    button(type='roll',
           name='roll_dice_roller_hidden',
           value!='/w gm &{template:DiceRoller} {{name=@{name}}} {{code=@{dice_roller_code}}} {{rof=[[ ?{@{query_rate_of_fire}|1} ]]}} {{roll1=[[ @{dice_roller_code} ]]}} {{roll2=[[ @{dice_roller_code} ]]}} {{roll3=[[ @{dice_roller_code} ]]}} {{roll4=[[ @{dice_roller_code} ]]}} {{roll5=[[ @{dice_roller_code} ]]}} {{roll6=[[ @{dice_roller_code} ]]}}')
      span(data-i18n='dice-roller-hidden') Hidden
           
    button(type='roll',
           name='roll_dice_roller_open',
           value!='&{template:DiceRoller} {{name=@{name}}} {{code=@{dice_roller_code}}} {{rof=[[ ?{@{query_rate_of_fire}|1} ]]}} {{roll1=[[ @{dice_roller_code} ]]}} {{roll2=[[ @{dice_roller_code} ]]}} {{roll3=[[ @{dice_roller_code} ]]}} {{roll4=[[ @{dice_roller_code} ]]}} {{roll5=[[ @{dice_roller_code} ]]}} {{roll6=[[ @{dice_roller_code} ]]}}')
      span(data-i18n='dice-roller-roll') Roll
           
  .sheet-raise-calculator
    button(type='roll',
           name='roll_raise_calculator',
           value!='&{template:InfoBox} {{info=@{roll} (?{@{query_roll_result}}) @{vs_tn} (?{@{query_target_number}|4}) = [[ floor((?{@{query_roll_result}} - ?{@{query_target_number}|4}) / 4) ]] @{raises}.}}')
      span(data-i18n='raise-calculator') Raise Calculator
           
  input(type='checkbox',
        name='attr_toggle_run_explode',
        class='sheet-buttons__toggle-run-explode')

  .sheet-run-roller.sheet-a
    input(type='checkbox',
          name='attr_toggle_run_wounds',
          class='sheet-buttons__toggle-run-wounds')
          
    button(type='roll',
           name='roll_run',
           value!='&{template:RunRoll} {{name=@{name}}} {{pace=@{pace}}} {{mod=?{@{query_modifier}|0}}} {{rundie=@{run_roll}}} {{wounds=[[ @{wound_mod} ]]}} {{roll=[[ @{run_roll} + @{pace} - @{wound_mod} + ?{@{query_modifier}|0} ]]}}',
           class='sheet-a')
      span(data-i18n='dice-roller-run') Run
           
    button(type='roll',
           name='roll_run',
           value!='&{template:RunRoll} {{name=@{name}}} {{pace=@{pace}}} {{mod=?{@{query_modifier}|0}}} {{rundie=@{run_roll}}} {{roll=[[ @{run_roll} + @{pace} + ?{@{query_modifier}|0} ]]}}',
           class='sheet-b')
      span(data-i18n='dice-roller-run') Run

  .sheet-run-roller.sheet-b
    input(type='checkbox',
          name='attr_toggle_run_wounds',
          class='sheet-buttons__toggle-run-wounds')
          
    button(type='roll',
           name='roll_run',
           value!='&{template:RunRoll} {{name=@{name}}} {{pace=@{pace}}} {{mod=?{@{query_modifier}|0}}} {{rundie=@{run_roll}!}} {{wounds=[[ @{wound_mod} ]]}} {{roll=[[ @{run_roll}! + @{pace} - @{wound_mod} + ?{@{query_modifier}|0} ]]}}',
           class='sheet-a')
      span(data-i18n='dice-roller-run-ace') Run!
        
    button(type='roll',
           name='roll_run',
           value!='&{template:RunRoll} {{name=@{name}}} {{pace=@{pace}}} {{mod=?{@{query_modifier}|0}}} {{rundie=@{run_roll}!}} {{roll=[[ @{run_roll}! + @{pace} + ?{@{query_modifier}|0} ]]}}',
           class='sheet-b')
      span(data-i18n='dice-roller-run-ace') Run!
