.sheet-buttons
  .sheet-dice-roller
    input(type='hidden', name='attr_dice_roller_code', value='0')
    input(type='hidden',
          name='attr_dice_roller_template',
          value=`{{rof=[[ 0 + ?{@{query_rate_of_fire}|1} ]]}} ${maxRof.map(n => `{{roll${n}=[[ @{dice_roller_code} ]]}}`).join(' ')}`)

    input(type='text',
          name='attr_dice_roller_input',
          placeholder= '2d6!+2',
          data-i18n-placeholder='dice-roller-code-placeholder',
          class='sheet-dice-roller__input')

    button(type='roll',
           name='roll_dice_roller_damage',
           value!=`@{gm_roll} &{template:DamageRoll} {{header=@{name} ^{rolls} ^{damage}}} {{code=@{dice_roller_input}}} @{dice_roller_template} {{reroll=[r](~dice_roller_damage)}}`)
      span(data-i18n='dice-roller-damage') Damage

    button(type='roll',
           name='roll_dice_roller_hidden',
           value!=`/w gm &{template:DiceRoller} {{header=@{name} ^{rolls} @{dice_roller_input}}} @{dice_roller_template} {{reroll=[r](~dice_roller_hidden)}}`)
      span(data-i18n='dice-roller-hidden') Hidden

    button(type='roll',
           name='roll_dice_roller_open',
           value!=`&{template:DiceRoller} {{header=@{name} ^{rolls} @{dice_roller_input}}} @{dice_roller_template} {{reroll=[r](~dice_roller_open)}}`)
      span(data-i18n='dice-roller-roll') Roll

  .sheet-run-roller
    input(type='hidden', name='attr_run_wounds', value='@{wound_mod}')
    input(type='hidden', name='attr_run_fatigue', value='0')
    input(type='hidden', name='attr_run_code', value='@{run_roll}')

    button(type='roll',
           name='roll_run',
           value!='@{gm_roll} &{template:RunRoll} {{header=@{name} ^{runs-ellipsis} [[ @{run_code} + @{pace} - @{run_wounds} - @{run_fatigue} + ?{@{query_modifier}|0} ]]^{exclamation-mark}}} {{content=^{run} (@{pace} + @{run_code}) + ^{mod} (?{@{query_modifier}|0}) - ^{penalty} ([[ @{run_wounds} + @{run_fatigue} ]])}}')
      span(data-i18n='dice-roller-run') Run

  .sheet-raise-calculator
    button(type='roll',
           name='roll_raise_calculator',
           value!='@{gm_roll} &{template:InfoBox} {{content=^{roll-of} (?{@{query_roll_result}}) ^{vs-tn} (?{@{query_target_number}|4}) = [[ floor((?{@{query_roll_result}} - ?{@{query_target_number}|4}) / 4) ]] ^{raises}}}')
      span(data-i18n='raise-calculator') Raise Calculator

  label.sheet-label-toggle
    input(type='hidden', name=`attr_query_global_rof`, value='1')
    input(type='checkbox', name='attr_toggle_global_rof')
    span(data-i18n='query-rof') Query RoF

  label.sheet-label-toggle
    input(type='hidden', name=`attr_query_global_wd`, value='-10000-d20')
    input(type='checkbox', name='attr_toggle_global_wd')
    span(data-i18n='query-wd') Query WD

  label.sheet-label-toggle
    input(type='hidden', name=`attr_query_global_bonus_wd`, value='-10000-d20')
    input(type='checkbox', name='attr_toggle_global_bonus_wd')
    span(data-i18n='bonus-wd') Bonus WD

  label.sheet-label-toggle
    input(type='checkbox', name='attr_gm_roll', value='/w gm')
    span(data-i18n='gm-roll') GM Roll

  - var i = 0

  while i < 3
    - ++i

    input(type='checkbox',
          name=`attr_toggle_custom_button_${i}`,
          class='sheet-hidden sheet-toggle')

    .sheet-custom-button
      button(type='roll',
             name=`roll_custom_button_${i}`,
             value!=`@{custom_button_${i}_macro}`)
        span(name=`attr_rename_custom_button_${i}`)
          = i == 1 ? 'UnShake' : `Button #${i}`
