input(type='checkbox',
      name='attr_toggle_engrams_block',
      checked=true,
      class='sheet-toggle sheet-toggle--block')

.sheet-block.sheet-engrams
  .sheet-header
    span.sheet-header__title.sheet-engrams__name(name='attr_rename_block_engrams', data-i18n='engrams') Engrams
    .sheet-header__labels
      .sheet-engrams__penalty(data-i18n='engrams-penalty') Penalty
      .sheet-engrams__description(data-i18n='engrams-description') Description

  input(type='checkbox',
        name='attr_engrams_visibility_toggle',
        checked=true,
        class='sheet-toggle sheet-toggle--visibility')
        
  input(type='checkbox',
        name='attr_toggle_description_input_visibility',
        checked=true,
        class='sheet-toggle-description-input sheet-hidden')

  input(type='checkbox',
        name='attr_toggle_injection_input_visibility',
        class='sheet-toggle-injection-input sheet-hidden')

  fieldset.repeating_engrams
    .sheet-repitem
      .sheet-repitem__primary
        input(type='checkbox',
              name='attr_roll_button_toggle',
              class='sheet-hidden sheet-toggle sheet-toggle--list-roll')

        button(type='roll',
               name='roll_skill',
               value!=`@{skill_roll_body} {{wd=@{skill_wd}}} {{wdroll=[[ @{skill_wd_roll}!cs2 + (@{skill_untrained_mod})[Untrained] + (@{skill_mod}+0)[Flat] + (@{skill_bonus}+0)[Bonus] - (@{fatigue_mod})[Fatigue] - (@{wound_mod})[Wounds] + (?{@{query_modifier}|0})[Modifier] ]]}} @{wd_override} {{reroll=[r](~repeating_engrams_skill)}} {{description=@{roll_description}}} @{roll_injection}`,
               class='sheet-repitem__skill-roll sheet-repitem__skill-roll--wildcard') 9

        button(type='roll',
               name='roll_extra_skill',
               value!=`@{skill_roll_body} {{wd=@{skill_wd}}} {{wdroll=[[ @{skill_extra_wd_roll}!cs2 + (@{skill_untrained_mod})[Untrained] + (@{skill_mod}+0)[Flat] + (@{skill_bonus}+0)[Bonus] - (@{fatigue_mod})[Fatigue] - (@{wound_mod})[Wounds] + (?{@{query_modifier}|0})[Modifier] ]]}} @{wd_override} {{reroll=[r](~repeating_engrams_skill)}} {{description=@{roll_description}}} @{roll_injection}`,
               class='sheet-repitem__skill-roll sheet-repitem__skill-roll--extra') 9

        input(type='text',
              name='attr_engram_name',
              placeholder='Engram',
              data-i18n-placeholder='engrams-name-placeholder',
              spellcheck='false',
              class='sheet-align-left sheet-engrams__name sheet-stretch')

        input(type='text',
              name='attr_engram_penalty',
              placeholder='-1',
              spellcheck='false',
              class='sheet-engrams__penalty')

        input(type='text',
              name='attr_engram_description',
              placeholder='e.g. entangle (SWADE 161) power but resisted by Smarts',
              data-i18n-placeholder='engrams-description-placeholder',
              spellcheck='false',
              class='sheet-align-left sheet-engrams__description')

      input(type='checkbox',
            name='attr_engram_notes_toggle',
            class='sheet-toggle sheet-toggle--arrow')

      .sheet-repitem__secondary
        .sheet-repitem__label(data-i18n='notes') Notes

        input(type='text',
              name='attr_engram_notes',
              placeholder='Effect/Description',
              data-i18n-placeholder='engrams-notes-placeholder',
              spellcheck='false',
              class='sheet-align-left sheet-repitem__note sheet-stretch')

        input(type='checkbox',
              name='attr_engram_settings_toggle',
              class='sheet-toggle sheet-toggle--settings')

        .sheet-repitem__settings
          .sheet-repitem__settings-content
            label.sheet-label-toggle.sheet-label-toggle--full-row.sheet-roll-description
              input(type="hidden", name='attr_roll_description')
              input(type='checkbox', name='attr_roll_description_toggle')
              span(data-i18n='roll-description') Description
              input(type='text',
                    name='attr_roll_description_input',
                    placeholder='Narrative or functional description below the header in the Roll Template. Leave empty to disable.',
                    data-i18n-placeholder='roll-description-placeholder',
                    value='',
                    spellcheck='false',
                    class='sheet-label-toggle__input')

            label.sheet-label-toggle.sheet-label-toggle--full-row.sheet-roll-injection
              input(type="hidden", name='attr_roll_injection')
              input(type='checkbox', name='attr_roll_injection_toggle')
              span(data-i18n='roll-injection') Roll Injection
              input(type='text',
                    name='attr_roll_injection_input',
                    placeholder='{{source_label=}} {{source=}} {{custom3_label=}} {{custom3=}} {{rof=[[ 1 ]]}} {{traitroll8=}}',
                    data-i18n-placeholder='roll-injection-placeholder',
                    value='',
                    spellcheck='false',
                    class='sheet-label-toggle__input')

            label.sheet-label-toggle
              input(type='hidden', name='attr_skill_wd', value='@{hacking_wd}')
              input(type='hidden', name='attr_skill_mod', value='@{hacking_mod}')
              input(type='hidden', name='attr_skill_untrained_mod', value='@{hacking_untrained_mod}')
              input(type='hidden', name='attr_skill_roll', value='@{hacking_roll}')
              input(type='hidden', name='attr_skill_wd_roll', value='@{hacking_wd_roll}')
              input(type='hidden', name='attr_skill_extra_wd_roll', value='@{hacking_wd_roll}')
              input(type='hidden', name='attr_skill_code', value='@{hacking_code}')

              input(type='hidden', name=`attr_skill_global_wd_roll`, value=`{{global_wd=@{query_global_wd}}} {{global_wdroll=[[ @{query_global_wd}!cs2 + (@{skill_untrained_mod})[Untrained] + (@{skill_mod}+0)[Flat] + (@{skill_bonus}+0)[Bonus] - (@{fatigue_mod})[Fatigue] - (@{wound_mod})[Wounds] + (?{@{query_modifier}|0})[Modifier] ]]}}`)

              input(type='hidden', name=`attr_skill_global_bonus_wd_roll`, value=`{{bonus_wd=@{query_global_bonus_wd}}} {{bonus_wdroll=[[ @{query_global_bonus_wd}!cs2 + (@{skill_untrained_mod})[Untrained] + (@{skill_mod}+0)[Flat] + (@{skill_bonus}+0)[Bonus] - (@{fatigue_mod})[Fatigue] - (@{wound_mod})[Wounds] + (?{@{query_modifier}|0})[Modifier] ]]}}`)

              input(type='hidden',
                    name=`attr_skill_roll_body`,
                    value!=`@{gm_roll} &{template:TraitRoll} {{rof=[[ 0 + @{rof_override} ]]}} {{header=@{name} ^{rolls} @{skill_name}}} {{trait=@{skill_name}}} {{source_label=^{source}}} {{source=@{engram_name}}} {{traitdie=@{skill_code}}} {{wounds=[[ @{wound_mod} ]]}} {{fatigue=[[ @{fatigue_mod} ]]}} {{modifier=?{@{query_modifier}|0}}} {{bonus=@{skill_bonus}}} ${maxRof.map(n => `{{traitroll${n}=[[ @{skill_roll}!cs2 + (@{skill_untrained_mod})[Untrained] + (@{skill_mod}+0)[Flat] + (@{skill_bonus}+0)[Bonus] - (@{fatigue_mod})[Fatigue] - (@{wound_mod})[Wounds] + (?{@{query_modifier}|0})[Modifier] ]]}}`).join(' ')} @{skill_global_wd_roll} @{skill_global_bonus_wd_roll}`)

              input(type='checkbox', name='attr_roll_button_toggle')
              span(data-i18n='roll-button') Roll Button
              input(type='text',
                    name='attr_skill_name',
                    placeholder='Hacking',
                    data-i18n-placeholder='engrams-skill-placeholder',
                    value='Hacking',
                    spellcheck='false',
                    class='sheet-label-toggle__input')
              input(type='text',
                    name='attr_skill_bonus',
                    placeholder='+0',
                    class='sheet-label-toggle__input sheet-label-toggle__input--tiny')

            label.sheet-label-toggle
              input(type="hidden", name='attr_rof_override', value='1')
              input(type='checkbox', name='attr_rof_override_toggle')
              span(data-i18n='query-rof') Query RoF

            label.sheet-label-toggle
              input(type="hidden", name='attr_wd_override', value='')
              input(type='checkbox', name='attr_wd_override_toggle')
              span(data-i18n='wild-die-override') WD Override
              input(type='text',
                    name='attr_wd_override_die',
                    value='',
                    spellcheck='false',
                    class='sheet-label-toggle__input sheet-label-toggle__input--tiny')

        input(type='checkbox',
              name='attr_engram_note_box_toggle',
              class='sheet-toggle sheet-toggle--note-box')

        .sheet-repitem__note-box
          textarea(name='attr_engram_note_box',
                   placeholder='Notes',
                   data-i18n-placeholder='engrams-note-box-placeholder',
                   spellcheck='false')

  .sheet-footer
