.sheet-meta.sheet-extra-meta
  +meta_field('name', 'Name')
  +meta_field('size', 'Size')
  +meta_field('height', 'Height')
  +meta_field('weight', 'Weight')
  +meta_field('bennies', 'Bennies')

include _buttons.pug

.sheet-block.sheet-extra-attributes
  .sheet-header
    .sheet-header__title
      span(data-i18n='attributes') Attributes

  input(type='checkbox',
        name='attr_simple_attributes_visibility_toggle',
        checked=true,
        class='sheet-toggle sheet-toggle--visibility')

  .sheet-container
    +simple_trait('agility', 'Agility', 'd4', 'sheet-simple-trait--attribute', true)
    +simple_trait('smarts', 'Smarts', 'd4', 'sheet-simple-trait--attribute', true)
    +simple_trait('spirit', 'Spirit', 'd4', 'sheet-simple-trait--attribute', true)
    +simple_trait('strength', 'Strength', 'd4', 'sheet-simple-trait--attribute', true)
    +simple_trait('vigor', 'Vigor', 'd4', 'sheet-simple-trait--attribute', true)

.sheet-block.sheet-extra-skills
  .sheet-header
    .sheet-header__title
      span(data-i18n='skills') Skills

  input(type='checkbox',
        name='attr_simple_skill_selection_toggle',
        class='sheet-extra-skills__selection-toggle')

  input(type='checkbox',
        name='attr_simple_skills_visibility_toggle',
        checked=true,
        class='sheet-toggle sheet-toggle--visibility')

  .sheet-container
    -
      var skills = [['Academics', 'Sma'], ['Athletics', 'Agi'], ['Battle', 'Sma'],
                    ['Boating', 'Agi'], ['Driving', 'Agi'], ['Common Knowledge', 'Sma'],
                    ['Electronics', 'Sma'], ['Faith', 'Spi'], ['Fighting', 'Agi'],
                    ['Focus', 'Spi'], ['Gambling', 'Sma'], ['Hacking', 'Sma'],
                    ['Healing', 'Sma'], ['Intimidation', 'Spi'], ['Language', 'Sma'],
                    ['MAGIC', 'Sma'], ['Notice', 'Sma'], ['Occult', 'Sma'],
                    ['Performance', 'Spi'], ['Persuasion', 'Spi'], ['Piloting', 'Agi'],
                    ['Psionics', 'Sma'], ['Repair', 'Sma'], ['Research', 'Sma'],
                    ['Riding', 'Agi'], ['Science', 'Sma'], ['Shooting', 'Agi'],
                    ['Spellcasting', 'Sma'], ['Stealth', 'Agi'], ['Survival', 'Sma'],
                    ['Taunt', 'Sma'], ['Thievery', 'Agi'], ['Weird Science', 'Sma'],
                    ['Custom Skill 1', 'Custom'], ['Custom Skill 2', 'Custom'],
                    ['Custom Skill 3', 'Custom'], ['Custom Skill 4', 'Custom'],
                    ['Custom Skill 5', 'Custom'], ['Custom Skill 6', 'Custom'],
                    ['Unskilled', 'Custom']]

    -  var defaultSkills = ['athletics', 'common-knowledge', 'notice', 'persuasion', 'stealth']

    each skill in skills
      - var trait = skill[0].toLowerCase().replace('.', '').replace(/ /g, '_')
      - var skill_name = skill[0] == 'Common Knowledge' ? 'Common Knowl.' : skill[0]

      label.sheet-extra-skills__toggle-label
        input(type='checkbox',
              name=`attr_extra_skill_toggle_${trait}`,
              checked= defaultSkills.includes(trait) || trait == 'unskilled',
              class='sheet-extra-skills__toggle')
        span(name='attr_rename_' + trait)!= skill_name

      input(type='checkbox',
            name=`attr_extra_skill_toggle_${trait}`,
            checked= defaultSkills.includes(trait) || trait == 'unskilled',
            class='sheet-hidden sheet-extra-skills__toggle')

      +simple_trait(trait,
                    skill_name,
                    'd4-2',
                    'sheet-simple-trait--skill',
                    trait != 'unskilled')

.sheet-block.sheet-block.sheet-extra-secondary
  .sheet-header
    span.sheet-header__title(data-i18n='armor-and-statistics') Armor & Statistics

  input(type='checkbox',
        name='attr_simple_secondary_visibility_toggle',
        checked=true,
        class='sheet-toggle sheet-toggle--visibility')

  .sheet-container
    .sheet-extra-secondary__field
      input(type='text',
            name='attr_pace',
            placeholder='6',
            spellcheck='false',
            class='sheet-extra-secondary__input')
      .sheet-label
          span(data-i18n='pace') Pace

    .sheet-extra-secondary__field
      input(type='text',
            name='attr_run',
            placeholder='d6',
            spellcheck='false',
            class='sheet-extra-secondary__input')
      .sheet-label
          span(data-i18n='run') Run

    .sheet-extra-secondary__field
      input(type='text',
            name='attr_parry',
            placeholder='2',
            spellcheck='false',
            class='sheet-extra-secondary__input')
      .sheet-label
        span(data-i18n='parry') Parry

    .sheet-extra-secondary__field
      input(type='text',
            name='attr_toughness',
            placeholder='4',
            spellcheck='false',
            class='sheet-extra-secondary__input')
      .sheet-label
        span(data-i18n='toughness') Tough.

    .sheet-divider

    .sheet-extra-secondary__field
      input(type='text',
            name='attr_armor_head',
            placeholder='0',
            spellcheck='false',
            class='sheet-extra-secondary__input')
      .sheet-label
        span(data-i18n='armor-head') Head

    .sheet-extra-secondary__field
      input(type='text',
            name='attr_armor_torso',
            placeholder='0',
            spellcheck='false',
            class='sheet-extra-secondary__input')
      .sheet-label
        span(data-i18n='armor-torso') Torso

    .sheet-extra-secondary__field
      input(type='text',
            name='attr_armor_arms',
            placeholder='0',
            spellcheck='false',
            class='sheet-extra-secondary__input')
      .sheet-label
        span(data-i18n='armor-arms') Arms

    .sheet-extra-secondary__field
      input(type='text',
            name='attr_armor_legs',
            placeholder='0',
            spellcheck='false',
            class='sheet-extra-secondary__input')
      .sheet-label
        span(data-i18n='armor-legs') Legs

    .sheet-divider

    .sheet-extra-secondary__field
      input(type='text',
            name='attr_wound_mod',
            placeholder='0',
            spellcheck='false',
            class='sheet-extra-secondary__input')
      .sheet-label
        span(data-i18n='extra-wounds') WDS

    .sheet-extra-secondary__field
      input(type='text',
            name='attr_fatigue_mod',
            placeholder='0',
            spellcheck='false',
            class='sheet-extra-secondary__input')
      .sheet-label
        span(data-i18n='extra-fatigue') FTG

    +simple_trait('soak', 'Soak', 'd4', 'sheet-simple-trait--attribute')

input(type='checkbox',
      name='attr_toggle_quick_notes_block',
      checked=true,
      class='sheet-toggle sheet-toggle-block')

.sheet-block.sheet-quick-notes
  .sheet-header
    span.sheet-header__title(name='attr_rename_block_quick_notes', data-i18n='quick-notes') Quick Notes

  input(type='checkbox',
        name='attr_simple_quick_notes_visibility_toggle',
        checked=true,
        class='sheet-toggle sheet-toggle--visibility')

  .sheet-quick-notes__content
    span(name='attr_quick_notes')

    textarea(name='attr_quick_notes', spellcheck='false')

include _features.pug
include _abilities.pug
include _weapons.pug
include _apparel.pug
include _augmentations.pug
include _engrams.pug
include _powers.pug
include _vehicles.pug
include _walkers.pug
include _powerarmor.pug
include _allies.pug

.sheet-block.sheet-extra-settings
  label.sheet-extra-settings__item
    input(type='checkbox',
          name='attr_toggle_quick_notes_block',
          checked=true,
          class='sheet-hidden')
    span(name='attr_rename_block_quick_notes', data-i18n='quick-notes') Quick Notes

  label.sheet-extra-settings__item
    input(type='checkbox',
          name='attr_toggle_features_block',
          checked=true,
          class='sheet-hidden')
    span(data-i18n='edges-and-hindrances') Edges & Hindrances

  label.sheet-extra-settings__item
    input(type='checkbox',
          name='attr_toggle_abilities_block',
          class='sheet-hidden')
    span(name='attr_rename_block_abilities', data-i18n='abilities') Abilities

  label.sheet-extra-settings__item
    input(type='checkbox',
          name='attr_toggle_weapons_block',
          checked=true,
          class='sheet-hidden')
    span(name='attr_rename_block_weapons', data-i18n='weapons') Weapons

  label.sheet-extra-settings__item
    input(type='checkbox',
          name='attr_toggle_apparel_block',
          checked=true,
          class='sheet-hidden')
    span(name='attr_rename_block_apparel', data-i18n='apparel') Apparel

  label.sheet-extra-settings__item
    input(type='checkbox',
          name='attr_toggle_augmentations_block',
          checked=true,
          class='sheet-hidden')
    span(name='attr_rename_block_augmentations', data-i18n='augmentations') Augmentations

  label.sheet-extra-settings__item
    input(type='checkbox',
          name='attr_toggle_engrams_block',
          checked=true,
          class='sheet-hidden')
    span(name='attr_rename_block_engrams', data-i18n='engrams') Engrams

  label.sheet-extra-settings__item
    input(type='checkbox',
          name='attr_toggle_powerarmors_block',
          class='sheet-hidden')
    span(name='attr_rename_block_powerarmor', data-i18n='powerarmors') Power Armors

  label.sheet-extra-settings__item
    input(type='checkbox',
          name='attr_toggle_powers_block',
          class='sheet-hidden')
    span(name='attr_rename_block_powers', data-i18n='powers') Powers

  label.sheet-extra-settings__item
    input(type='checkbox',
          name='attr_toggle_vehicles_block',
          class='sheet-hidden')
    span(name='attr_rename_block_vehicles', data-i18n='vehicles') Vehicles

  label.sheet-extra-settings__item
    input(type='checkbox',
          name='attr_toggle_walkers_block',
          class='sheet-hidden')
    span(name='attr_rename_block_walkers', data-i18n='walkers') Walkers

  label.sheet-extra-settings__item
    input(type='checkbox',
          name='attr_toggle_allies_block',
          class='sheet-hidden')
    span(name='attr_rename_block_allies', data-i18n='allies') Allies
