input(type='checkbox',
      name='attr_toggle_features_block',
      checked=true,
      class='sheet-toggle sheet-toggle--block')

.sheet-features
  .sheet-header
    .sheet-header__title(data-i18n='edges-and-hindrances') Edges & Hindrances

  fieldset.repeating_features
    .sheet-repitem
      -
        var ranks = ['novice', 'seasoned', 'veteran', 'heroic', 'legendary',
                     'augmentation', 'dot', 'hindrance', 'disabled']

      each rank in ranks
        input(type='radio',
              name='attr_feature_rank',
              value=rank,
              class='sheet-color-cycle__radio sheet-color-cycle__radio--' + rank,
              checked= rank == 'novice')

      .sheet-features__inner-background
      
      span(name='attr_feature_name') New Edge/Hindrance

      input(type='text',
            name='attr_feature_name',
            placeholder='New',
            data-i18n-placeholder='feature-name-new',
            spellcheck='false',
            class='sheet-align-left sheet-features__name')

  .sheet-footer
