.sheet-health
  input(type='hidden', name='attr_wound_mod', value='0')
  input(type='hidden', name='attr_fatigue_mod', value='0')

  input(type='checkbox',
        name='attr_incap',
        class='sheet-hex sheet-hex--64 sheet-hex--incap')
      
  .sheet-health__wounds
    .sheet-health__icons
      input(type='checkbox',
            name='attr_health_icon_shield',
            class='sheet-icon sheet-icon--shield')

      input(type='checkbox',
            name='attr_health_icon_bug',
            class='sheet-icon sheet-icon--bug')

      input(type='checkbox',
            name='attr_health_icon_fire',
            class='sheet-icon sheet-icon--fire')

      input(type='checkbox',
            name='attr_health_icon_hit',
            class='sheet-icon sheet-icon--hit')

      input(type='checkbox',
            name='attr_health_icon_lightning',
            class='sheet-icon sheet-icon--lightning')

      input(type='checkbox',
            name='attr_health_icon_cancel',
            class='sheet-icon sheet-icon--cancel')

    .sheet-health__track
      - for (var i = 6; i > 0; --i) {
        - if (i > 1) {
          input(type='checkbox',
                name='attr_wound_toggle_' + i,
                class='sheet-radio-track-toggle sheet-radio-track-toggle--' + i,
                checked= i > 3 ? true : false)
        - }

        input(type='radio',
              name='attr_wounds',
              value=i,
              class='sheet-radio-track sheet-radio-track--' + i)
      - }

      input(type='radio',
            name='attr_wounds',
            value=0,
            class='sheet-reset-button',
            checked= true)

    .sheet-header__title(data-i18n='wounds') Wounds

  .sheet-health__center
    +hexfield('wound_mitigation', 'Wound Mitigation', 'left', '0', '', 'sheet-stay-on-input')
    +hexfield('rads', 'Rads', 'right', '0', '', 'sheet-stay-on-input')

  .sheet-health__fatigue
    .sheet-health__icons
      input(type='checkbox',
            name='attr_health_icon_rad',
            class='sheet-icon sheet-icon--rad')

      input(type='checkbox',
            name='attr_health_icon_tools',
            class='sheet-icon sheet-icon--tools')

      input(type='checkbox',
            name='attr_health_icon_ecg',
            class='sheet-icon sheet-icon--ecg')

    .sheet-health__track
      - for (var i = 3; i > 0; --i) {
        - if (i > 1) {
          input(type='checkbox',
                name='attr_fatigue_toggle_' + i,
                class='sheet-radio-track-toggle sheet-radio-track-toggle--' + i,
                checked= i > 2)
        - }

        input(type='radio',
              name='attr_fatigue',
              value=i,
              class='sheet-radio-track sheet-radio-track--' + i,
              checked= i == 0)
      - }

      input(type='radio',
            name='attr_fatigue',
            class='sheet-reset-button',
            checked= true)

    .sheet-header__title(data-i18n='fatigue') Fatigue
