input(type='checkbox',
      name='attr_toggle_integrity_block',
      checked=true,
      class='sheet-toggle sheet-toggle--block')

.sheet-integrity.sheet-block
  .sheet-integrity__status
    .sheet-integrity__loss-effects
      input(type='checkbox', name='attr_discord', class='sheet-hidden')
      span.sheet-integrity__discord(name='attr_rename_discord', data-i18n='integrity-discord') Discord

      input(type='checkbox', name='attr_psychosis', class='sheet-hidden')
      span.sheet-integrity__psychosis(name='attr_rename_psychosis', data-i18n='integrity-psychosis') Psychosis

      input(type='checkbox', name='attr_seizures', class='sheet-hidden')
      span.sheet-integrity__seizures(name='attr_rename_seizures', data-i18n='integrity-seizures') Seizures

      input(type='checkbox', name='attr_depersonalization', class='sheet-hidden')
      span.sheet-integrity__depersonalization(name='attr_rename_depersonalization', data-i18n='integrity-depersonalization') Depersonalization

    .sheet-integrity__progress
      input(type='hidden',
            name='attr_integrity_bar_size',
            value='80',
            readonly=true,
            class='sheet-integrity__bar-width')

      .sheet-integrity__progress-fill

      .sheet-integrity__marker.sheet-integrity__marker--70
      .sheet-integrity__marker.sheet-integrity__marker--60
      .sheet-integrity__marker.sheet-integrity__marker--50
      .sheet-integrity__marker.sheet-integrity__marker--40
      .sheet-integrity__marker.sheet-integrity__marker--30
      .sheet-integrity__marker.sheet-integrity__marker--20
      .sheet-integrity__marker.sheet-integrity__marker--10

    .sheet-integrity__loss-effects
      input(type='checkbox', name='attr_dissonance', class='sheet-hidden')
      span.sheet-integrity__dissonance(name='attr_rename_dissonance', data-i18n='integrity-dissonance') Dissonance

      input(type='checkbox', name='attr_alienation', class='sheet-hidden')
      span.sheet-integrity__alienation(name='attr_rename_alienation', data-i18n='integrity-alienation') Alienation

      input(type='checkbox', name='attr_derealization', class='sheet-hidden')
      span.sheet-integrity__derealization(name='attr_rename_derealization', data-i18n='integrity-derealization') Derealization

      input(type='checkbox', name='attr_ego_death', class='sheet-hidden')
      span.sheet-integrity__egodeath(name='attr_rename_ego_death', data-i18n='integrity-ego-death') Ego Death

  .sheet-integrity__hexfields
    .sheet-container
      span(name='attr_integrity',
           class='sheet-hex sheet-hex--64 sheet-hexfield__input') 80.0

      -// Cannot use 'integrity_max' because this would also trigger with 'integrity'
      +hexfield('integrity_maximum', 'Max', 'left', '0', '80', 'sheet-hide-until-needed sheet-hexfield-gray')
      +hexfield('integrity_mod', 'Mod', 'right', '0', '', 'sheet-hide-until-needed sheet-hexfield-gray')

    .sheet-large-label
      span(name='attr_rename_block_integrity', data-i18n='integrity') Integrity
