.sheet-inventory
  .sheet-header
    .sheet-header__title
      span(name='attr_rename-block-inventory', data-i18n='inventory') Inventory
    .sheet-header__labels
      .sheet-inventory__amount #
      .sheet-inventory__multi
      .sheet-inventory__weight
        span(data-i18n='inventory-weight-u') WGT

  input(type='checkbox',
        name='attr_inventory-visibility-toggle',
        checked=true,
        class='sheet-toggle sheet-toggle--visibility')

  fieldset.repeating_inventory
    .sheet-repitem
      .sheet-repitem__primary
        input(type='text',
              name='attr_inventory-name',
              placeholder='Item',
              data-i18n-placeholder='inventory-name-placeholder',
              spellcheck='false',
              class='sheet-align-left sheet-inventory__name  sheet-stretch')

        input(type='text',
              name='attr_inventory-amount',
              placeholder='0',
              data-i18n-placeholder='inventory-amount-placeholder',
              value='1',
              spellcheck='false',
              class='sheet-inventory__amount')

        .sheet-inventory__multi &times;

        input(type='text',
              name='attr_inventory-weight',
              placeholder='WGT',
              data-i18n-placeholder='inventory-weight-placeholder-u',
              spellcheck='false',
              class='sheet-inventory__weight')

      input(type='checkbox',
            name='attr_inventory-notes-toggle',
            class='sheet-toggle sheet-toggle--arrow')

      .sheet-repitem__secondary
        .sheet-repitem__note-label
          span(data-i18n='inventory-notes-label') Notes:

        input(type='text',
              name='attr_inventory-notes',
              placeholder='About this item...',
              data-i18n-placeholder='inventory-notes-placeholder',
              spellcheck='false',
              class='sheet-align-left sheet-repitem__note  sheet-stretch')

        input(type='checkbox',
              name='attr_inventory-weight-toggle',
              checked=true,
              title='Weight On/Off',
              data-i18n-title='inventory-weight-toggle-title',
              class='sheet-toggle sheet-toggle--special sheet-toggle--weight')

        input(type='checkbox',
              name='attr_inventory-note-box-toggle',
              class='sheet-toggle sheet-toggle--note-box')

        .sheet-repitem__note-box
          textarea(name='attr_inventory-note-box',
                   placeholder='Notes',
                   data-i18n-placeholder='inventory-note-box-placeholder',
                   spellcheck='false')

  .sheet-footer
    span.sheet-label(data-i18n='inventory-total-weight') Total Weight:&nbsp;
    span(name='attr_carry-weight-inventory',
         class='sheet-label sheet-label--weight') 0.0
