.sheet-inventory
  .sheet-header
    span.sheet-header__title(name='attr_rename_block_inventory', data-i18n='inventory') Inventory
    .sheet-header__labels
      .sheet-inventory__amount #
      .sheet-inventory__multi
      .sheet-inventory__weight(data-i18n='inventory-weight-u') WGT

  input(type='checkbox',
        name='attr_inventory_visibility_toggle',
        checked=true,
        class='sheet-toggle sheet-toggle--visibility')

  fieldset.repeating_inventory
    .sheet-repitem
      .sheet-repitem__primary
        input(type='text',
              name='attr_inventory_name',
              placeholder='Item',
              data-i18n-placeholder='inventory-name-placeholder',
              spellcheck='false',
              class='sheet-align-left sheet-inventory__name  sheet-stretch')

        input(type='text',
              name='attr_inventory_amount',
              placeholder='0',
              value='1',
              spellcheck='false',
              class='sheet-inventory__amount')

        .sheet-inventory__multi &times;

        input(type='text',
              name='attr_inventory_weight',
              placeholder='WGT',
              data-i18n-placeholder='inventory-weight-placeholder-u',
              spellcheck='false',
              class='sheet-inventory__weight')

      input(type='checkbox',
            name='attr_inventory_notes_toggle',
            class='sheet-toggle sheet-toggle--arrow')

      .sheet-repitem__secondary
        .sheet-repitem__label(data-i18n='notes') Notes

        input(type='text',
              name='attr_inventory_notes',
              placeholder='About this item...',
              data-i18n-placeholder='inventory-notes-placeholder',
              spellcheck='false',
              class='sheet-align-left sheet-repitem__note  sheet-stretch')

        input(type='checkbox',
              name='attr_inventory_weight_toggle',
              checked=true,
              title='Weight On/Off',
              data-i18n-title='inventory-weight-toggle-title',
              class='sheet-toggle sheet-toggle--special sheet-toggle--weight')

        input(type='checkbox',
              name='attr_inventory_note_box_toggle',
              class='sheet-toggle sheet-toggle--note-box')

        .sheet-repitem__note-box
          textarea(name='attr_inventory_note_box',
                   placeholder='Notes',
                   data-i18n-placeholder='inventory-note-box-placeholder',
                   spellcheck='false')

  .sheet-footer
    span.sheet-label(data-i18n='inventory-total-weight') Total Weight:&nbsp;
    span(name='attr_carry_weight_inventory',
         class='sheet-label sheet-label--weight') 0.0
