mixin simple_trait(name, label, value='d4', classes='', rename=false)
  - trait = name.toLowerCase()
  - trait_name = rename ? `@{rename_${trait}}` : label

  .sheet-simple-trait(class=classes)
    input(type='hidden', name=`attr_${trait}_extra_wd_roll`, value='-10000')

    input.sheet-simple-trait__expand(type='checkbox',
                                     name=`attr_expand_simple_${trait}`)

    .sheet-background
    
    - // Roll without RoF query
    button(type='roll',
           name=`roll_simple_${trait}`,
           value!=`&{template:TraitRoll} {{name=@{name}}} {{trait=${trait_name}}} {{traitdie=@{${trait}}}} {{flat=@{${trait}_mod}}} {{wounds=[[ @{wound_mod} ]]}} {{fatigue=[[ @{fatigue_mod} ]]}} {{rof=[[ 1 ]]}} {{modifier=?{@{query_modifier}|0}}} {{wd=@{${trait}_wd}}} {{traitroll1=[[ @{${trait}_roll} @{${trait}_mod} - @{fatigue_mod} - @{wound_mod} + ?{@{query_modifier}|0} ]]}} {{traitroll2=[[ @{${trait}_roll} @{${trait}_mod} - @{fatigue_mod} - @{wound_mod} + ?{@{query_modifier}|0} ]]}} {{traitroll3=[[ @{${trait}_roll} @{${trait}_mod} - @{fatigue_mod} - @{wound_mod} + ?{@{query_modifier}|0} ]]}} {{traitroll4=[[ @{${trait}_roll} @{${trait}_mod} - @{fatigue_mod} - @{wound_mod} + ?{@{query_modifier}|0} ]]}} {{traitroll5=[[ @{${trait}_roll} @{${trait}_mod} - @{fatigue_mod} - @{wound_mod} + ?{@{query_modifier}|0} ]]}} {{traitroll6=[[ @{${trait}_roll} @{${trait}_mod} - @{fatigue_mod} - @{wound_mod} + ?{@{query_modifier}|0} ]]}} {{wdroll=[[ @{${trait}_extra_wd_roll} @{${trait}_mod} - @{fatigue_mod} - @{wound_mod} + ?{@{query_modifier}|0} ]]}}`,
           class='sheet-simple-trait__roll')
      if rename
        span(name=`attr_rename_${trait}`)!= label
      else
        span(data-i18n=trait)!= label
    
    .sheet-simple-trait__buttons
      - var rolls = ['d4', 'd6', 'd8', 'd10', 'd12']
     
      each roll in rolls
        - // Roll with RoF query
        button(type='roll',
               name=`roll_simple_${trait}`,
               value!=`&{template:TraitRoll} {{name=@{name}}} {{trait=${trait_name}}} {{traitdie=${roll}}} {{flat=@{${trait}_mod}}} {{wounds=[[ @{wound_mod} ]]}} {{fatigue=[[ @{fatigue_mod} ]]}} {{rof=[[ ?{@{query_rate_of_fire}|@{${trait}_rof}} ]]}} {{modifier=?{@{query_modifier}|0}}} {{wd=@{${trait}_wd}}} {{traitroll1=[[ ${roll}!cs2 @{${trait}_mod} - @{fatigue_mod} - @{wound_mod} + ?{@{query_modifier}|0} ]]}} {{traitroll2=[[ ${roll}!cs2 @{${trait}_mod} - @{fatigue_mod} - @{wound_mod} + ?{@{query_modifier}|0} ]]}} {{traitroll3=[[ ${roll}!cs2 @{${trait}_mod} - @{fatigue_mod} - @{wound_mod} + ?{@{query_modifier}|0} ]]}} {{traitroll4=[[ ${roll}!cs2 @{${trait}_mod} - @{fatigue_mod} - @{wound_mod} + ?{@{query_modifier}|0} ]]}} {{traitroll5=[[ ${roll}!cs2 @{${trait}_mod} - @{fatigue_mod} - @{wound_mod} + ?{@{query_modifier}|0} ]]}} {{traitroll6=[[ ${roll}!cs2 @{${trait}_mod} - @{fatigue_mod} - @{wound_mod} + ?{@{query_modifier}|0} ]]}} {{wdroll=[[ @{${trait}_extra_wd_roll} @{${trait}_mod} - @{fatigue_mod} - @{wound_mod} + ?{@{query_modifier}|0} ]]}}`,
               class='sheet-simple-trait__custom-roll')= roll

    span.sheet-simple-trait__label(name=`attr_${trait}_code`)= value

    .sheet-simple-trait__inputs
      input(type='text',
            name=`attr_${trait}`,
            placeholder='d4',
            value=value,
            spellcheck='false')
            
      input(type='text',
            name=`attr_${trait}_mod`,
            placeholder='+/−',
            data-i18n-placeholder='extra-trait-mod-placeholder',
            spellcheck='false')
            
      input(type='text',
            name=`attr_${trait}_wd`,
            placeholder='WD',
            data-i18n-placeholder='extra-trait-wd-placeholder',
            spellcheck='false')
