mixin simple_trait(name, label, value='d4', classes='', rename=false)
  - trait = name.toLowerCase()
  - trait_name = rename ? '@{rename-' + trait + '}' : label
  
  .sheet-simple-trait(class=classes)
    input(type='hidden', name='attr_' + trait + '-extra-wd-roll', value='-10000')
                       
    input.sheet-simple-trait__expand(type='checkbox',
                                     name='attr_expand-simple-' + trait)
                                     
    .sheet-background
    
    - // Roll without RoF query
    button(type='roll',
           name='roll_simple-' + trait,
           value!='&{template:TraitRoll} {{name=@{name}}} {{trait=' + trait_name + '}} {{traitdie=@{' + trait + '}}} {{flat=@{' + trait + '-mod}}} {{wounds=[[ @{wound-mod} ]]}} {{fatigue=[[ @{fatigue-mod} ]]}} {{rof=[[ 1 ]]}} {{modifier=?{Modifier|0}}} {{wd=@{' + trait + '-wd}}} {{traitroll1=[[ @{' + trait + '-roll} @{' + trait + '-mod} - @{fatigue-mod} - @{wound-mod} + ?{Modifier|0} ]]}} {{traitroll2=[[ @{' + trait + '-roll} @{' + trait + '-mod} - @{fatigue-mod} - @{wound-mod} + ?{Modifier|0} ]]}} {{traitroll3=[[ @{' + trait + '-roll} @{' + trait + '-mod} - @{fatigue-mod} - @{wound-mod} + ?{Modifier|0} ]]}} {{traitroll4=[[ @{' + trait + '-roll} @{' + trait + '-mod} - @{fatigue-mod} - @{wound-mod} + ?{Modifier|0} ]]}} {{traitroll5=[[ @{' + trait + '-roll} @{' + trait + '-mod} - @{fatigue-mod} - @{wound-mod} + ?{Modifier|0} ]]}} {{traitroll6=[[ @{' + trait + '-roll} @{' + trait + '-mod} - @{fatigue-mod} - @{wound-mod} + ?{Modifier|0} ]]}} {{wdroll=[[ @{' + trait + '-extra-wd-roll} @{' + trait + '-mod} - @{fatigue-mod} - @{wound-mod} + ?{Modifier|0} ]]}}',
           class='sheet-simple-trait__roll')
      if rename
        span(name='attr_rename-' + trait)!= label
      else
        span(data-i18n=trait)!= label
    
    .sheet-simple-trait__buttons
      - var rolls = ['d4', 'd6', 'd8', 'd10', 'd12']
     
      each roll in rolls
        - // Roll with RoF query
        button(type='roll',
               name='roll_simple-' + trait,
               value!='&{template:TraitRoll} {{name=@{name}}} {{trait=' + trait_name + '}} {{traitdie=' + roll + '}} {{flat=@{' + trait + '-mod}}} {{wounds=[[ @{wound-mod} ]]}} {{fatigue=[[ @{fatigue-mod} ]]}} {{rof=[[ ?{Rate Of Fire|@{' + trait + '-rof}} ]]}} {{modifier=?{Modifier|0}}} {{wd=@{' + trait + '-wd}}} {{traitroll1=[[ ' + roll + '!cs2 @{' + trait + '-mod} - @{fatigue-mod} - @{wound-mod} + ?{Modifier|0} ]]}} {{traitroll2=[[ ' + roll + '!cs2 @{' + trait + '-mod} - @{fatigue-mod} - @{wound-mod} + ?{Modifier|0} ]]}} {{traitroll3=[[ ' + roll + '!cs2 @{' + trait + '-mod} - @{fatigue-mod} - @{wound-mod} + ?{Modifier|0} ]]}} {{traitroll4=[[ ' + roll + '!cs2 @{' + trait + '-mod} - @{fatigue-mod} - @{wound-mod} + ?{Modifier|0} ]]}} {{traitroll5=[[ ' + roll + '!cs2 @{' + trait + '-mod} - @{fatigue-mod} - @{wound-mod} + ?{Modifier|0} ]]}} {{traitroll6=[[ ' + roll + '!cs2 @{' + trait + '-mod} - @{fatigue-mod} - @{wound-mod} + ?{Modifier|0} ]]}} {{wdroll=[[ @{' + trait + '-extra-wd-roll} @{' + trait + '-mod} - @{fatigue-mod} - @{wound-mod} + ?{Modifier|0} ]]}}',
               class='sheet-simple-trait__custom-roll')= roll

    span.sheet-simple-trait__label(name='attr_' + trait + '-code')= value

    .sheet-simple-trait__inputs
      input(type='text',
            name='attr_' + trait,
            placeholder='d4',
            data-i18n-placeholder='extra-trait-placeholder',
            value=value,
            spellcheck='false')
            
      input(type='text',
            name='attr_' + trait + '-mod',
            placeholder='+/−',
            data-i18n-placeholder='extra-trait-mod-placeholder',
            spellcheck='false')
            
      input(type='text',
            name='attr_' + trait + '-wd',
            placeholder='WD',
            data-i18n-placeholder='extra-trait-wd-placeholder',
            spellcheck='false')
