mixin attribute(name, short)
  - trait = name.toLowerCase()

  .sheet-attribute(class='sheet-attribute--' + trait)
  
    button(type='roll',
           name='roll_' + trait,
           value!='&{template:TraitRoll} {{name=@{name}}} {{trait=@{rename-' + trait + '}}} {{traitdie=@{' + trait + '}}} {{flat=@{' + trait + '-mod}}} {{wounds=[[ @{wound-mod} ]]}} {{fatigue=[[ @{fatigue-mod} ]]}} {{rof=[[ ?{Rate Of Fire|1}} ]]}} {{modifier=?{Modifier|0}}} {{wd=@{' + trait + '-wd}}} {{traitroll1=[[ @{' + trait + '-roll} @{' + trait + '-mod} - @{fatigue-mod} - @{wound-mod} + ?{Modifier|0} ]]}} {{traitroll2=[[ @{' + trait + '-roll} @{' + trait + '-mod} - @{fatigue-mod} - @{wound-mod} + ?{Modifier|0} ]]}} {{traitroll3=[[ @{' + trait + '-roll} @{' + trait + '-mod} - @{fatigue-mod} - @{wound-mod} + ?{Modifier|0} ]]}} {{traitroll4=[[ @{' + trait + '-roll} @{' + trait + '-mod} - @{fatigue-mod} - @{wound-mod} + ?{Modifier|0} ]]}} {{traitroll5=[[ @{' + trait + '-roll} @{' + trait + '-mod} - @{fatigue-mod} - @{wound-mod} + ?{Modifier|0} ]]}} {{traitroll6=[[ @{' + trait + '-roll} @{' + trait + '-mod} - @{fatigue-mod} - @{wound-mod} + ?{Modifier|0} ]]}} {{wdroll=[[ @{' + trait + '-wd-roll} @{' + trait + '-mod} - @{fatigue-mod} - @{wound-mod} + ?{Modifier|0} ]]}}',
           class='sheet-attribute__button')
      span(name='attr_rename-' + short.toLowerCase(), data-i18n=short.toLowerCase() + '-u')= short

    input(type='text',
          name='attr_' + trait,
          placeholder='d4',
          value='d4',
          spellcheck='false',
          class='sheet-hex sheet-hex--48 sheet-hexfield__input')
          
    input.sheet-hidden(type='hidden', name='attr_rename-' + trait, value=name)

    input(type='hidden', name='attr_' + trait + '-roll', value='1d4!cs2')

    input(type='hidden', name='attr_' + trait + '-wd-roll', value='1d6!cs2')

    input(type='hidden', name='attr_' + trait + '-extra-wd-roll', value='-10000')

    +hexfield(trait + '-natural', 'Natural', 'left', 'd4', '', 'sheet-hide-until-needed sheet-hexfield-gray sheet-hexfield--nat')

    +hexfield(trait + '-mod', 'Bonus', 'right sheet-exception', '0', '', 'sheet-hide-until-needed sheet-stay-on-input sheet-hexfield--mod')

    +hexfield(trait + '-wd', 'WD', 'right', 'd6', '', 'sheet-hide-until-needed sheet-hexfield-gray sheet-hexfield--wd')
