- var colors = ['none', 'red', 'yellow', 'blue', 'green', 'purple', 'gray']

mixin color_circle(attribute, classes)
  .sheet-color-cycle(class=classes)
    each color in colors
      input(type='radio',
            name=`attr_color_marker_${attribute}`,
            value=color,
            class=`sheet-color-cycle__radio sheet-color-cycle__radio--${color}`,
            checked= color == 'none')
