mixin hexfield(trait, label, alignment, placeholder=' ', value='', classes='')
  .sheet-hexfield(class=`${classes} sheet-hexfield--${trait.toLowerCase().replace(/_/g, '-')}`)
    input(type='text',
          name=`attr_${trait.toLowerCase()}`,
          placeholder=placeholder,
          value=value,
          spellcheck='false',
          class='sheet-hex sheet-hex--36 sheet-hexfield__input')

    if block
      block

    .sheet-hexfield__label(class=`sheet-hexfield__label--${alignment}`)
      span(data-i18n=trait.toLowerCase().replace(/_/g, '-'))!= label
