mixin simple_trait(name, label, value='d4-2', classes='', rename=false)
  - var trait = name.toLowerCase()
  - var trait_name = rename ? `@{rename_${trait}}` : label

  .sheet-simple-trait(class=classes)
    input.sheet-simple-trait__expand(type='checkbox',
                                     name=`attr_expand_simple_${trait}`)

    .sheet-background

    - // Label roll
    button(type='roll',
           name=`roll_simple_${trait}`,
           value!=`@{${trait}_roll_body} {{wd=@{${trait}_wd}}} {{wdroll=[[ @{${trait}_extra_wd_roll}!cs2 + (@{${trait}_untrained_mod})[Untrained] + (@{${trait}_mod}+0)[Flat] - (@{fatigue_mod})[Fatigue] - (@{wound_mod})[Wounds] + (?{@{query_modifier}|0})[Modifier] ]]}} {{reroll=[r](~simple_${trait})}}`,
           class='sheet-simple-trait__roll')
      if rename
        span(name=`attr_rename_${trait}`)!= label
      else
        span(data-i18n=trait)!= label

    if trait != 'unskilled'
      .sheet-simple-trait__buttons
        - var dice = ['4', '6', '8', '10', '12']

        each die in dice
          - // Die button rolls
          button(type='roll',
                 name=`roll_simple_${trait}_${die}`,
                 value!= `@{gm_roll} &{template:TraitRoll} {{rof=[[ 0 + @{query_global_rof} ]]}} {{header=@{name} ^{rolls} @{rename_${trait}}}} {{trait=@{rename_${trait}}}} {{traitdie=d${die}}} {{flat=@{${trait}_mod}}} {{wounds=[[ @{wound_mod} ]]}} {{fatigue=[[ @{fatigue_mod} ]]}} {{modifier=?{@{query_modifier}|0}}} ${maxRof.map(n => `{{traitroll${n}=[[ 1d${die}!cs2 + (@{${trait}_mod}+0)[Flat] - (@{fatigue_mod})[Fatigue] - (@{wound_mod})[Wounds] + (?{@{query_modifier}|0})[Modifier] ]]}}`).join(' ')} @{${trait}_global_wd_roll} @{${trait}_global_bonus_wd_roll} {{wd=@{${trait}_wd}}} {{wdroll=[[ @{${trait}_extra_wd_roll}!cs2 + (@{${trait}_mod}+0)[Flat] - (@{fatigue_mod})[Fatigue] - (@{wound_mod})[Wounds] + (?{@{query_modifier}|0})[Modifier] ]]}} {{reroll=[r](~simple_${trait}_${die})}}`,
                 class='sheet-simple-trait__custom-roll')= `d${die}`

    span.sheet-simple-trait__label(name=`attr_${trait}_full_code`)= value

    .sheet-simple-trait__inputs
      input(type='text',
            name=`attr_${trait}`,
            placeholder='d4',
            value=value,
            spellcheck='false')

      input(type='text',
            name=`attr_${trait}_mod`,
            placeholder='+/−',
            data-i18n-placeholder='extra-trait-mod-placeholder',
            spellcheck='false')

      input(type='text',
            name=`attr_${trait}_wd`,
            placeholder='WD',
            data-i18n-placeholder='extra-trait-wd-placeholder',
            spellcheck='false')
