mixin vehicle_weapons_sub_list(classes='', item=10)
  .sheet-repitem__weapons(class=classes)
    .sheet-header
      .sheet-header__labels
        .sheet-repitem__weapons-name(data-i18n='sublist-weapons-name') Weapon
        .sheet-repitem__weapons-damage(data-i18n='sublist-weapons-ap-damage') AP Damage
        .sheet-repitem__weapons-damage(data-i18n='sublist-weapons-he-damage') HE Damage
        .sheet-repitem__weapons-range(data-i18n='sublist-weapons-range') Range
        .sheet-repitem__weapons-rof(data-i18n='sublist-weapons-rof') ROF

    - var i = 0

    while i < 10
      - ++i
      .sheet-repitem__subitem(class=`sheet-repitem__subitem--${i}`)
        .sheet-repitem__primary
          input(type='text',
                name=`attr_vehicle_weapon_${i}_name`,
                placeholder=`Weapon #${i}`,
                data-i18n-placeholder=`sublist-weapons-name-placeholder-${i}`,
                spellcheck='false',
                class='sheet-align-left sheet-repitem__weapons-name sheet-stretch')

          input(type='text',
                name=`attr_vehicle_weapon_${i}_ap_damage`,
                placeholder='3d10, AP 8',
                data-i18n-placeholder='sublist-weapons-ap-damage-placeholder',
                spellcheck='false',
                class='sheet-repitem__weapons-damage')

          input(type='text',
                name=`attr_vehicle_weapon_${i}_he_damage`,
                placeholder='3d8, AP 4, MBT',
                data-i18n-placeholder='sublist-weapons-he-damage-placeholder',
                spellcheck='false',
                class='sheet-repitem__weapons-damage')

          input(type='text',
                name=`attr_vehicle_weapon_${i}_range`,
                placeholder='50/100/200',
                data-i18n-placeholder='sublist-weapons-range-placeholder',
                spellcheck='false',
                class='sheet-repitem__weapons-range')

          input(type='text',
                name=`attr_vehicle_weapon_${i}_rof`,
                placeholder='1',
                spellcheck='false',
                class='sheet-repitem__weapons-rof')

          input(type='checkbox',
                name=`attr_vehicle_weapon_note_box_toggle_${i}`,
                class='sheet-toggle sheet-toggle--note-box')

          .sheet-repitem__note-box
            textarea(name=`attr_vehicle_weapon_note_box_${i}`,
                     placeholder='Notes',
                     data-i18n-placeholder='sublist-weapons-note-box-placeholder',
                     spellcheck='false')

        input(type='checkbox',
              name=`attr_vehicle_weapon_${i}_notes_toggle`,
              class='sheet-toggle sheet-toggle--arrow')

        .sheet-repitem__secondary
          .sheet-repitem__note-label
            span(data-i18n='sublist-weapons-notes-label') Notes:
          input(type='text',
                name=`attr_vehicle_weapon_${i}_notes`,
                placeholder='Notes, Tags, Trappings, etc.',
                data-i18n-placeholder='sublist-weapons-notes-placeholder',
                spellcheck='false',
                class='sheet-align-left sheet-repitem__note sheet-stretch')
