mixin hexfield(trait, label, alignment, placeholder=' ', value='', classes='')
  - i18n = trait.toLowerCase().replace(/_/g, '-')
  .sheet-hexfield(class=`${classes} sheet-hexfield--${i18n}`)
    input(type='text',
          name=`attr_${trait.toLowerCase()}`,
          placeholder=placeholder,
          value=value,
          spellcheck='false',
          class='sheet-hex sheet-hex--36 sheet-hexfield__input')

    if block
      block

    .sheet-hexfield__label(class=`sheet-hexfield__label--${alignment}`)
      span(data-i18n=i18n)!= label
