mixin meta_field(attribute, label, placeholder=' ')
  .sheet-meta-field
    input(type='text',
          name='attr_' + attribute,
          placeholder=placeholder,
          spellcheck='false',
          class='sheet-meta-field__input sheet-meta-field__input--' + attribute)

    .sheet-label
      span(name='attr_rename-label-' + attribute, data-i18n=attribute)!= label
