mixin meta_field(attribute, label, placeholder=' ')
  .sheet-meta-field
    input(type='text',
          name=`attr_${attribute}`,
          placeholder=placeholder,
          spellcheck='false',
          class=`sheet-meta-field__input sheet-meta-field__input--${attribute}`)

    - // Roll20 replaces "height" with "Page Height"
    - var i18n = attribute == 'height' ? '_height' : attribute
    .sheet-label
      span(name=`attr_rename_label_${attribute}`, data-i18n=i18n)!= label
