input(type='checkbox',
      name='attr_toggle_powerarmors_block',
      class='sheet-toggle sheet-toggle--block')

.sheet-block.sheet-powerarmors
  .sheet-header
    span.sheet-header__title.sheet-powerarmors__name(name='attr_rename_block_powerarmors', data-i18n='powerarmors') Power Armors
    .sheet-header__labels
      .sheet-powerarmors__size(data-i18n='powerarmors-size') Size
      .sheet-powerarmors__armor(data-i18n='powerarmors-armor') Armor
      .sheet-powerarmors__pace(data-i18n='powerarmors-pace') Pace
      .sheet-powerarmors__mods(data-i18n='powerarmors-mods') Mods
      .sheet-powerarmors__weight(data-i18n='powerarmors-weight') Weight
      .sheet-powerarmors__weapons(data-i18n='powerarmors-weapons') Weap.

  input(type='checkbox',
        name='attr_powerarmors_visibility_toggle',
        checked=true,
        class='sheet-toggle sheet-toggle--visibility')

  fieldset.repeating_powerarmors
    .sheet-repitem
      .sheet-repitem__primary
        input(type='text',
              name='attr_powerarmor_name',
              placeholder='Power Armor Type',
              data-i18n-placeholder='powerarmors-name-placeholder',
              spellcheck='false',
              class='sheet-align-left sheet-powerarmors__name sheet-stretch')

        input(type='text',
              name='attr_powerarmor_size',
              placeholder='1',
              spellcheck='false',
              class='sheet-powerarmors__size')

        input(type='text',
              name='attr_powerarmor_armor',
              placeholder='8',
              spellcheck='false',
              class='sheet-powerarmors__armor')

        input(type='text',
              name='attr_powerarmor_pace',
              placeholder='8',
              spellcheck='false',
              class='sheet-powerarmors__pace')

        input(type='text',
              name='attr_powerarmor_mods',
              placeholder='0/5',
              data-i18n-placeholder='powerarmors-mods-placeholder',
              spellcheck='false',
              class='sheet-powerarmors__mods')

        input(type='text',
              name='attr_powerarmor_weight',
              placeholder='500',
              data-i18n-placeholder='powerarmors-weight-placeholder',
              spellcheck='false',
              class='sheet-powerarmors__weight')

        input(type='text',
              name='attr_powerarmor_weapons_count',
              placeholder='0',
              spellcheck='false',
              class='sheet-powerarmors__weapons')

      input(type='checkbox',
            name='attr_powerarmor_notes_toggle',
            class='sheet-toggle sheet-toggle--arrow')

      .sheet-repitem__frame
        .sheet-repitem__frame-silhouette

        .sheet-repitem__frame-build
          textarea(name='attr_powerarmor_build',
                   placeholder='Chassis | Modifications, Notes, etc.',
                   data-i18n-placeholder='powerarmors-build-placeholder',
                   spellcheck='false')

      input(type='hidden',
            name='attr_powerarmor_weapons_count',
            value='0',
            class='sheet-hidden sheet-repitem__weapons-control')

      +vehicle_weapons_sub_list()

  .sheet-footer
