input(type='checkbox',
      name='attr_toggle-powerarmors-block',
      checked=false,
      class='sheet-toggle sheet-toggle--block')

.sheet-block.sheet-powerarmors
  .sheet-header
    .sheet-header__title.sheet-powerarmors__name
      span(name='attr_rename-block-powerarmors', data-i18n='powerarmors') Power Armors
    .sheet-header__labels
      .sheet-powerarmors__size
        span(data-i18n='powerarmors-size') Size
      .sheet-powerarmors__armor
        span(data-i18n='powerarmors-armor') Armor
      .sheet-powerarmors__pace
        span(data-i18n='powerarmors-pace') Pace
      .sheet-powerarmors__mods
        span(data-i18n='powerarmors-mods') Mods
      .sheet-powerarmors__weight
        span(data-i18n='powerarmors-weight') Weight
      .sheet-powerarmors__weapons
        span(data-i18n='powerarmors-weapons') Weap.

  input(type='checkbox',
        name='attr_powerarmors-visibility-toggle',
        checked=true,
        class='sheet-toggle sheet-toggle--visibility')

  fieldset.repeating_powerarmors
    .sheet-repitem
      .sheet-repitem__primary
        input(type='text',
              name='attr_powerarmor-name',
              placeholder='Power Armor Type',
              data-i18n-placeholder='powerarmors-name-placeholder',
              spellcheck='false',
              class='sheet-align-left sheet-powerarmors__name sheet-stretch')

        input(type='text',
              name='attr_powerarmor-size',
              placeholder='1',
              spellcheck='false',
              class='sheet-powerarmors__size')

        input(type='text',
              name='attr_powerarmor-armor',
              placeholder='8',
              spellcheck='false',
              class='sheet-powerarmors__armor')

        input(type='text',
              name='attr_powerarmor-pace',
              placeholder='8',
              spellcheck='false',
              class='sheet-powerarmors__pace')

        input(type='text',
              name='attr_powerarmor-mods',
              placeholder='0/5',
              data-i18n-placeholder='powerarmors-mods-placeholder',
              spellcheck='false',
              class='sheet-powerarmors__mods')

        input(type='text',
              name='attr_powerarmor-weight',
              placeholder='500',
              data-i18n-placeholder='powerarmors-weight-placeholder',
              spellcheck='false',
              class='sheet-powerarmors__weight')

        input(type='text',
              name='attr_powerarmor-weapons-count',
              placeholder='0',
              spellcheck='false',
              class='sheet-powerarmors__weapons')

      input(type='checkbox',
            name='attr_powerarmor-notes-toggle',
            class='sheet-toggle sheet-toggle--arrow')

      .sheet-repitem__frame
        .sheet-repitem__frame-silhouette

        .sheet-repitem__frame-build
          textarea(name='attr_powerarmor-build',
                   placeholder='Chassis | Modifications, Notes, etc.',
                   data-i18n-placeholder='powerarmors-build-placeholder',
                   spellcheck='false')

      input(type='hidden',
            name='attr_powerarmor-weapons-count',
            value='0',
            class='sheet-hidden sheet-repitem__weapons-control')

      +vehicle_weapons_sub_list()

  .sheet-footer
