input(type='checkbox',
      name='attr_toggle-pp',
      checked=false,
      class='sheet-hidden sheet-toggle--pp')

input(type='checkbox',
      name='attr_toggle-powers-block',
      checked=false,
      class='sheet-toggle sheet-toggle--block')

.sheet-block.sheet-powers
  .sheet-header
    .sheet-header__title.sheet-powers__name
      span(name='attr_rename-block-powers', data-i18n='powers') Powers
    .sheet-header__labels
      .sheet-powers__rank
        span(data-i18n='powers-rank') Rank
      .sheet-powers__pp.sheet-a
        span(data-i18n='powers-pp') PP
      .sheet-powers__penalty.sheet-b
        span(data-i18n='powers-penalty') Penalty
      .sheet-powers__range
        span(data-i18n='powers-range') Range
      .sheet-powers__duration
        span(data-i18n='powers-duration') Duration
      .sheet-powers__trapping
        span(data-i18n='powers-trapping') Trapping

  input(type='checkbox',
        name='attr_powers-visibility-toggle',
        checked=true,
        class='sheet-toggle sheet-toggle--visibility')

  fieldset.repeating_powers
    .sheet-repitem
      .sheet-repitem__primary
        input(type='text',
              name='attr_power-name',
              placeholder='Power',
              data-i18n-placeholder='powers-name-placeholder',
              spellcheck='false',
              class='sheet-align-left sheet-powers__name sheet-stretch')

        input(type='text',
              name='attr_power-rank',
              placeholder='N',
              data-i18n-placeholder='powers-rank-placeholder',
              spellcheck='false',
              class='sheet-powers__rank')

        input(type='text',
              name='attr_power-pp',
              placeholder='PP',
              data-i18n-placeholder='powers-pp-placeholder',
              spellcheck='false',
              class='sheet-a sheet-powers__pp')

        input(type='text',
              name='attr_power-penalty',
              placeholder='-1',
              data-i18n-placeholder='powers-penalty-placeholder',
              spellcheck='false',
              class='sheet-b sheet-powers__penalty')

        input(type='text',
              name='attr_power-range',
              placeholder='Range',
              data-i18n-placeholder='powers-range-placeholder',
              spellcheck='false',
              class='sheet-powers__range')

        input(type='text',
              name='attr_power-duration',
              placeholder='Duration',
              data-i18n-placeholder='powers-duration-placeholder',
              spellcheck='false',
              class='sheet-powers__duration')

        input(type='text',
              name='attr_power-trapping',
              placeholder='e.g. "bright flash of light"',
              data-i18n-placeholder='powers-trapping-placeholder',
              spellcheck='false',
              class='sheet-align-left sheet-powers__trapping')

      input(type='checkbox',
            name='attr_power-notes-toggle',
            class='sheet-toggle sheet-toggle--arrow')

      .sheet-repitem__secondary
        .sheet-repitem__note-label
          span(data-i18n='powers-notes-label') Notes:

        input(type='text',
              name='attr_power-notes',
              placeholder='Effect/Description',
              data-i18n-placeholder='powers-notes-placeholder',
              spellcheck='false',
              class='sheet-align-left sheet-repitem__note sheet-stretch')

        input(type='checkbox',
              name='attr_power-note-box-toggle',
              class='sheet-toggle sheet-toggle--note-box')

        .sheet-repitem__note-box
          textarea(name='attr_power-note-box',
                   placeholder='Notes',
                   data-i18n-placeholder='powers-note-box-placeholder',
                   spellcheck='false')

  .sheet-footer
