input(type='checkbox',
      name='attr_toggle-powerarmors-block',
      checked=false,
      class='sheet-toggle sheet-toggle--block')
      
.sheet-block.sheet-powerarmors
  .sheet-header
    .sheet-header__title.sheet-powerarmors__name
      span(name='attr_rename-block-powerarmor', data-i18n='powerarmor') Power Armor
    .sheet-header__labels
      .sheet-powerarmors__size Size
      .sheet-powerarmors__armor Armor
      .sheet-powerarmors__pace Pace
      .sheet-powerarmors__mods Mods
      .sheet-powerarmors__weight Weight
      .sheet-powerarmors__weapons Weap.

  input(type='checkbox',
        name='attr_powerarmors-visibility-toggle',
        checked=true,
        class='sheet-toggle sheet-toggle--visibility')

  fieldset.repeating_powerarmors
    .sheet-repitem
      .sheet-repitem__primary
        input(type='text',
              name='attr_powerarmor-name',
              placeholder='Power Armor Type',
              spellcheck='false',
              class='sheet-align-left sheet-powerarmors__name sheet-stretch')
              
        input(type='text',
              name='attr_powerarmor-size',
              placeholder='1',
              spellcheck='false',
              class='sheet-powerarmors__size')
              
        input(type='text',
              name='attr_powerarmor-armor',
              placeholder='8',
              spellcheck='false',
              class='sheet-powerarmors__armor')
              
        input(type='text',
              name='attr_powerarmor-pace',
              placeholder='8',
              spellcheck='false',
              class='sheet-powerarmors__pace')

        input(type='text',
              name='attr_powerarmor-mods',
              placeholder='0/5',
              spellcheck='false',
              class='sheet-powerarmors__mods')
              
        input(type='text',
              name='attr_powerarmor-weight',
              placeholder='500',
              spellcheck='false',
              class='sheet-powerarmors__weight')
              
        input(type='text',
              name='attr_powerarmor-weapons-count',
              placeholder='0',
              spellcheck='false',
              class='sheet-powerarmors__weapons')

      input(type='checkbox',
            name='attr_powerarmor-notes-toggle',
            class='sheet-toggle sheet-toggle--arrow')
            
      .sheet-repitem__frame
        .sheet-repitem__frame-silhouette
                
        .sheet-repitem__frame-build
          textarea(name='attr_powerarmor-build',
                   placeholder='Chassis | Modifications, Notes, etc.',
                   spellcheck='false')
                   
      input(type='hidden',
            name='attr_powerarmor-weapons-count',
            value='0',
            class='sheet-hidden sheet-repitem__weapons-control')
           
      .sheet-repitem__weapons
        .sheet-header
          .sheet-header__labels
            .sheet-repitem__weapons-name Weapon
            .sheet-repitem__weapons-damage AP Damage
            .sheet-repitem__weapons-damage HE Damage
            .sheet-repitem__weapons-range Range
            .sheet-repitem__weapons-rof ROF

        - var i = 0

        while i < 10
          - ++i
          .sheet-repitem__subitem(class='sheet-repitem__subitem--' + i)
            .sheet-repitem__primary
              input(type='text',
                    name='attr_powerarmor-weapon-' + i + '-name',
                    placeholder='Vehicular Weapon #' + i,
                    spellcheck='false',
                    class='sheet-align-left sheet-repitem__weapons-name  sheet-stretch')
                    
              input(type='text',
                    name='attr_powerarmor-weapon-' + i + '-ap-damage',
                    placeholder='3d10, AP 8',
                    spellcheck='false',
                    class='sheet-repitem__weapons-damage')
                    
              input(type='text',
                    name='attr_powerarmor-weapon-' + i + '-he-damage',
                    placeholder='3d8, AP 4, MBT',
                    spellcheck='false',
                    class='sheet-repitem__weapons-damage')
                    
              input(type='text',
                    name='attr_powerarmor-weapon-' + i + '-range',
                    placeholder='50/100/200',
                    spellcheck='false',
                    class='sheet-repitem__weapons-range')
                    
              input(type='text',
                    name='attr_powerarmor-weapon-' + i + '-rof',
                    placeholder='1',
                    spellcheck='false',
                    class='sheet-repitem__weapons-rof')
                    
              input(type='checkbox',
                    name='attr_powerarmor-weapon-note-box-toggle-' + i,
                    class='sheet-toggle sheet-toggle--note-box')
                    
              .sheet-repitem__note-box
                textarea(name='attr_powerarmor-weapon-note-box-' + i,
                         placeholder='NOTES',
                         spellcheck='false')
                  
            input(type='checkbox',
                  name='attr_powerarmor-weapon-' + i + '-notes-toggle',
                  class='sheet-toggle sheet-toggle--arrow')
                  
            .sheet-repitem__secondary
              .sheet-repitem__note-label Notes:
              input(type='text',
                    name='attr_powerarmor-weapon-' + i + '-notes',
                    placeholder='Notes, Tags, Trappings, etc.',
                    spellcheck='false',
                    class='sheet-align-left sheet-repitem__note  sheet-stretch')
                        
  .sheet-footer
