input(type='checkbox',
      name='attr_toggle_pp',
      class='sheet-hidden sheet-toggle--pp')

input(type='checkbox',
      name='attr_toggle_powers_block',
      class='sheet-toggle sheet-toggle--block')

.sheet-block.sheet-powers
  .sheet-header
    span.sheet-header__title.sheet-powers__name(name='attr_rename_block_powers', data-i18n='powers') Powers
    .sheet-header__labels
      .sheet-powers__damage
        label(title='Toggle Damage Rolls',
              data-i18n-title='toggle-damage-rolls-title',
              class='sheet-damage-roll-toggle-label')
          input.sheet-hidden(type='checkbox', name='attr_powers_damage_roll_toggle')
          span.sheet-icon ;
          span(data-i18n='powers-damage') Damage
      .sheet-powers__range(data-i18n='powers-range') Range
      .sheet-powers__ap(data-i18n='powers-ap') AP
      .sheet-powers__pp.sheet-a(data-i18n='powers-pp') PP
      .sheet-powers__penalty.sheet-b(data-i18n='powers-penalty') Penalty
      .sheet-powers__duration(data-i18n='powers-duration') Duration

  input(type='checkbox',
        name='attr_powers_visibility_toggle',
        checked=true,
        class='sheet-toggle sheet-toggle--visibility')

  input(type='checkbox',
        name='attr_powers_damage_roll_toggle',
        class='sheet-damage-roll-toggle sheet-hidden')
        
  input(type='checkbox',
        name='attr_toggle_description_input_visibility',
        checked=true,
        class='sheet-toggle-description-input sheet-hidden')

  input(type='checkbox',
        name='attr_toggle_injection_input_visibility',
        class='sheet-toggle-injection-input sheet-hidden')

  fieldset.repeating_powers
    .sheet-repitem
      .sheet-repitem__primary
        input(type='checkbox',
              name='attr_roll_button_toggle',
              class='sheet-hidden sheet-toggle sheet-toggle--list-roll')

        button(type='roll',
               name='roll_skill',
               value!=`@{skill_roll_body} {{wd=@{skill_wd}}} {{wdroll=[[ @{skill_wd_roll}!cs2 + (@{skill_untrained_mod})[Untrained] + (@{skill_mod}+0)[Flat] + (@{skill_bonus}+0)[Bonus] - (@{fatigue_mod})[Fatigue] - (@{wound_mod})[Wounds] + (?{@{query_modifier}|0})[Modifier] ]]}} @{wd_override} {{reroll=[r](~repeating_powers_skill)}} {{damageroll=[t](~repeating_powers_power_damage)}} {{description=@{roll_description}}} @{roll_injection}`,
               class='sheet-repitem__skill-roll sheet-repitem__skill-roll--wildcard') 9

        button(type='roll',
               name='roll_extra_skill',
               value!=`@{skill_roll_body} {{wd=@{skill_wd}}} {{wdroll=[[ @{skill_extra_wd_roll}!cs2 + (@{skill_untrained_mod})[Untrained] + (@{skill_mod}+0)[Flat] + (@{skill_bonus}+0)[Bonus] - (@{fatigue_mod})[Fatigue] - (@{wound_mod})[Wounds] + (?{@{query_modifier}|0})[Modifier] ]]}} @{wd_override} {{reroll=[r](~repeating_powers_skill)}} {{damageroll=[t](~repeating_powers_power_damage)}} {{description=@{roll_description}}} @{roll_injection}`,
               class='sheet-repitem__skill-roll sheet-repitem__skill-roll--extra') 9

        input(type='text',
              name='attr_power_name',
              placeholder='Power',
              data-i18n-placeholder='powers-name-placeholder',
              spellcheck='false',
              class='sheet-align-left sheet-powers__name sheet-stretch')

        input(type='checkbox',
              name='attr_damage_input_toggle',
              checked=true,
              class='sheet-hidden sheet-toggle')

        .sheet-damage-button-overlay
          input(type='hidden', name='attr_power_damage_roll', value='0')

          button(type='roll',
                 name='roll_power_damage',
                 value!=`@{gm_roll} &{template:DamageRoll} {{header=@{name} ^{rolls} ^{damage}}} {{code=@{power_damage}}} {{source_label=^{source}}} {{source=@{power_name}}} {{rof=[[ 0 + @{rof_override} ]]}} {{modifier=?{@{query_damage_modifier}}}} {{range=@{power_range}}} {{ap=@{power_ap}}} {{trapping=@{power_trapping}}} ${maxRof.map(n => `{{roll${n}=[[ @{power_damage_roll} + (?{@{query_damage_modifier}}+0) ]]}}`).join(' ')} {{reroll=[r](~repeating_powers_power_damage)}}`)

          input(type='text',
                name='attr_power_damage',
                placeholder='3d6',
                data-i18n-placeholder='powers-damage-placeholder',
                spellcheck='false',
                class='sheet-powers__damage')

        input(type='text',
              name='attr_power_range',
              placeholder='Range/Melee',
              data-i18n-placeholder='powers-range-placeholder',
              spellcheck='false',
              class='sheet-powers__range')

        input(type='text',
              name='attr_power_ap',
              placeholder='0',
              spellcheck='false',
              class='sheet-powers__ap')

        input(type='text',
              name='attr_power_pp',
              placeholder='2',
              data-i18n-placeholder='powers-pp-placeholder',
              spellcheck='false',
              class='sheet-a sheet-powers__pp')

        input(type='text',
              name='attr_power_penalty',
              placeholder='-1',
              spellcheck='false',
              class='sheet-b sheet-powers__penalty')

        input(type='text',
              name='attr_power_duration',
              placeholder='Duration',
              data-i18n-placeholder='powers-duration-placeholder',
              spellcheck='false',
              class='sheet-powers__duration')

      input(type='checkbox',
            name='attr_power_notes_toggle',
            class='sheet-toggle sheet-toggle--arrow')

      .sheet-repitem__secondary
        input(type='checkbox',
              name='attr_trapping_toggle',
              checked=true,
              class='sheet-hidden sheet-toggle')

        .sheet-repitem__label(data-i18n='trapping') Trapping
          
        input(type='text',
              name='attr_power_trapping',
              placeholder='Fire, Light, etc.',
              data-i18n-placeholder='powers-trapping-placeholder',
              spellcheck='false',
              class='sheet-align-left sheet-powers__trapping')

        .sheet-repitem__label(data-i18n='notes') Notes

        input(type='text',
              name='attr_power_notes',
              placeholder='Effect/Description',
              data-i18n-placeholder='powers-notes-placeholder',
              spellcheck='false',
              class='sheet-align-left sheet-repitem__note sheet-stretch')

        input(type='checkbox',
              name='attr_power_settings_toggle',
              class='sheet-toggle sheet-toggle--settings')

        .sheet-repitem__settings
          .sheet-repitem__settings-content
            label.sheet-label-toggle.sheet-label-toggle--full-row.sheet-roll-description
              input(type="hidden", name='attr_roll_description')
              input(type='checkbox', name='attr_roll_description_toggle')
              span(data-i18n='roll-description') Description
              input(type='text',
                    name='attr_roll_description_input',
                    placeholder='Narrative or functional description below the header in the Roll Template. Leave empty to disable.',
                    data-i18n-placeholder='roll-description-placeholder',
                    value='',
                    spellcheck='false',
                    class='sheet-label-toggle__input')

            label.sheet-label-toggle.sheet-label-toggle--full-row.sheet-roll-injection
              input(type="hidden", name='attr_roll_injection')
              input(type='checkbox', name='attr_roll_injection_toggle')
              span(data-i18n='roll-injection') Roll Injection
              input(type='text',
                    name='attr_roll_injection_input',
                    placeholder='{{source_label=}} {{source=}} {{custom3_label=}} {{custom3=}} {{rof=[[ 1 ]]}} {{traitroll8=}}',
                    data-i18n-placeholder='roll-injection-placeholder',
                    value='',
                    spellcheck='false',
                    class='sheet-label-toggle__input')

            label.sheet-label-toggle
              input(type='checkbox', name='attr_damage_input_toggle', checked=true)
              span(data-i18n='damage') Damage

            label.sheet-label-toggle
              input(type='checkbox', name='attr_trapping_toggle', checked=true)
              span(data-i18n='trapping') Trapping

            label.sheet-label-toggle
              input(type='hidden', name='attr_skill_wd', value='@{spellcasting_wd}')
              input(type='hidden', name='attr_skill_mod', value='@{spellcasting_mod}')
              input(type='hidden', name='attr_skill_untrained_mod', value='@{spellcasting_untrained_mod}')
              input(type='hidden', name='attr_skill_roll', value='@{spellcasting_roll}')
              input(type='hidden', name='attr_skill_wd_roll', value='@{spellcasting_wd_roll}')
              input(type='hidden', name='attr_skill_extra_wd_roll', value='@{spellcasting_wd_roll}')
              input(type='hidden', name='attr_skill_code', value='@{spellcasting_code}')

              input(type='hidden', name=`attr_skill_global_wd_roll`, value=`{{global_wd=@{query_global_wd}}} {{global_wdroll=[[ @{query_global_wd}!cs2 + (@{skill_untrained_mod})[Untrained] + (@{skill_mod}+0)[Flat] + (@{skill_bonus}+0)[Bonus] - (@{fatigue_mod})[Fatigue] - (@{wound_mod})[Wounds] + (?{@{query_modifier}|0})[Modifier] ]]}}`)

              input(type='hidden', name=`attr_skill_global_bonus_wd_roll`, value=`{{bonus_wd=@{query_global_bonus_wd}}} {{bonus_wdroll=[[ @{query_global_bonus_wd}!cs2 + (@{skill_untrained_mod})[Untrained] + (@{skill_mod}+0)[Flat] + (@{skill_bonus}+0)[Bonus] - (@{fatigue_mod})[Fatigue] - (@{wound_mod})[Wounds] + (?{@{query_modifier}|0})[Modifier] ]]}}`)

              input(type='hidden',
                    name=`attr_skill_roll_body`,
                    value!=`@{gm_roll} &{template:TraitRoll} {{rof=[[ 0 + @{rof_override} ]]}} {{header=@{name} ^{rolls} @{skill_name}}} {{trait=@{skill_name}}} {{source_label=^{power}}} {{source=@{power_name}}} {{traitdie=@{skill_code}}} {{wounds=[[ @{wound_mod} ]]}} {{fatigue=[[ @{fatigue_mod} ]]}} {{modifier=?{@{query_modifier}|0}}} {{bonus=@{skill_bonus}}} ${maxRof.map(n => `{{traitroll${n}=[[ @{skill_roll}!cs2 + (@{skill_untrained_mod})[Untrained] + (@{skill_mod}+0)[Flat] + (@{skill_bonus}+0)[Bonus] - (@{fatigue_mod})[Fatigue] - (@{wound_mod})[Wounds] + (?{@{query_modifier}|0})[Modifier] ]]}}`).join(' ')} @{skill_global_wd_roll} @{skill_global_bonus_wd_roll}`)

              input(type='checkbox', name='attr_roll_button_toggle')
              span(data-i18n='roll-button') Roll Button
              input(type='text',
                    name='attr_skill_name',
                    placeholder='Spellcasting',
                    data-i18n-placeholder='powers-skill-placeholder',
                    value='Spellcasting',
                    spellcheck='false',
                    class='sheet-label-toggle__input')
              input(type='text',
                    name='attr_skill_bonus',
                    placeholder='+0',
                    class='sheet-label-toggle__input sheet-label-toggle__input--tiny')

            label.sheet-label-toggle
              input(type="hidden", name='attr_rof_override', value='1')
              input(type='checkbox', name='attr_rof_override_toggle')
              span(data-i18n='query-rof') Query RoF

            label.sheet-label-toggle
              input(type="hidden", name='attr_wd_override', value='')
              input(type='checkbox', name='attr_wd_override_toggle')
              span(data-i18n='wild-die-override') WD Override
              input(type='text',
                    name='attr_wd_override_die',
                    value='',
                    spellcheck='false',
                    class='sheet-label-toggle__input sheet-label-toggle__input--tiny')

            label.sheet-label-toggle(title='Exploding Damage Dice On/Off', data-i18n-title='ace-damage-title')
              input(type="hidden", name='attr_explode_damage', value='!')
              input(type='checkbox', name='attr_explode_damage_toggle', checked=true)
              span(data-i18n='ace-damage') Ace Damage

        input(type='checkbox',
              name='attr_power_note_box_toggle',
              class='sheet-toggle sheet-toggle--note-box')

        .sheet-repitem__note-box
          textarea(name='attr_power_note_box',
                   placeholder='Notes',
                   data-i18n-placeholder='powers-note-box-placeholder',
                   spellcheck='false')

  .sheet-footer
