input(type='checkbox',
      name='attr_toggle_power_block',
      checked=true,
      class='sheet-toggle sheet-toggle--block')

.sheet-power
  input(type='text',
        name='attr_power',
        placeholder='0',
        class='sheet-hex sheet-hex--64 sheet-hexfield__input')

  span.sheet-header__title(name='attr_rename_block_power', data-i18n='power-energy') Power

  +hexfield('power_consumed', 'Consumed', 'left', '0', '', 'sheet-hide-until-needed')
  +hexfield('power_maximum', 'Max', 'right', '0', '', 'sheet-hide-until-needed')
