input(type='checkbox',
      name='attr_toggle-power-block',
      checked=true,
      class='sheet-toggle sheet-toggle--block')

.sheet-power
  input(type='text',
        name='attr_power',
        placeholder='0',
        data-i18n-placeholder='power-placeholder',
        class='sheet-hex sheet-hex--64 sheet-hexfield__input')
  
  .sheet-header__title
    span(name='attr_rename-block-power', data-i18n='power') Power
  
  +hexfield('power-consumed', 'Consumed', 'left', '0', '', 'sheet-hide-until-needed')
  +hexfield('power-max', 'Max', 'right', '0', '', 'sheet-hide-until-needed')
