input(type='checkbox',
      name='attr_toggle-quick-notes-block',
      checked=false,
      class='sheet-hidden sheet-toggle-block')

.sheet-quick-notes
  .sheet-header
    .sheet-header__title
      span(name='attr_rename-block-quick-notes', data-i18n='quick-notes') Quick Notes

  input(type='checkbox',
        name='attr_quick-notes-visibility-toggle',
        checked=true,
        class='sheet-toggle sheet-toggle--visibility')

  .sheet-quick-notes__content
    input.sheet-hidden(type='checkbox', name='attr_toggle-quick-notes-extension')

    textarea(name='attr_quick-notes', spellcheck='false')

  .sheet-footer
