input(type='checkbox',
      name='attr_toggle_quick_notes_block',
      checked=true,
      class='sheet-toggle sheet-toggle-block')

.sheet-quick-notes
  .sheet-header
    span.sheet-header__title(name='attr_rename_block_quick_notes', data-i18n='quick-notes') Quick Notes

  input(type='checkbox',
        name='attr_quick_notes_visibility_toggle',
        checked=true,
        class='sheet-toggle sheet-toggle--visibility')

  .sheet-quick-notes__content
    span(name='attr_quick_notes')

    textarea(name='attr_quick_notes', spellcheck='false')

  .sheet-footer
