rolltemplate.sheet-rolltemplate-TraitRoll
  .sheet-rolltemplate
    .sheet-rolltemplate__header {{header}}
    = '{{#description}}'
    .sheet-rolltemplate__description {{description}}
    = '{{/description}}'
    .sheet-rolltemplate__content
      = '{{#reroll}}'
      .sheet-rolltemplate__reroll(title='Reroll', data-i18n-title='rolltemplate-reroll-title')
        .sheet-rolltemplate__button {{reroll}}
      = '{{/reroll}}'
      = '{{#damageroll}}'
      .sheet-rolltemplate__roll-damage(title='Roll Damage', data-i18n-title='rolltemplate-damage-title')
        .sheet-rolltemplate__button {{damageroll}}
      = '{{/damageroll}}'
      = '{{#source_label}}'
      .sheet-rolltemplate__content-row
        .sheet-left {{source_label}}
        .sheet-right {{source}}
      = '{{/source_label}}'
      = '{{#traitdie}}'
      .sheet-rolltemplate__content-row
        .sheet-left {{trait}}
        .sheet-right
          span {{traitdie}}&nbsp;
          = '{{#flat}}'
          span ({{flat}})
          = '{{/flat}}'
      = '{{/traitdie}}'
      = '{{#rollLess() global_wdroll 0}}'
      = '{{#wd}}'
      = '{{#rollGreater() wdroll -1000}}'
      .sheet-rolltemplate__content-row
        .sheet-left(data-i18n='rolltemplate-wild-die') Wild Die
        .sheet-right {{wd}}
      = '{{/rollGreater() wdroll -1000}}'
      = '{{/wd}}'
      = '{{/rollLess() global_wdroll 0}}'
      = '{{#rollGreater() global_wdroll -1000}}'
      .sheet-rolltemplate__content-row
        .sheet-left(data-i18n='rolltemplate-wild-die') Wild Die
        .sheet-right {{global_wd}}
      = '{{/rollGreater() global_wdroll -1000}}'
      = '{{#rollGreater() bonus_wdroll -1000}}'
      .sheet-rolltemplate__content-row
        .sheet-left(data-i18n='rolltemplate-bonus-wild-die') Bonus Wild Die
        .sheet-right {{bonus_wd}}
      = '{{/rollGreater() bonus_wdroll -1000}}'
      = '{{#commander}}'
      .sheet-rolltemplate__content-row
        .sheet-left(data-i18n='rolltemplate-commander') Commander
        .sheet-right {{commander}}
      = '{{/commander}}'
      .sheet-rolltemplate__content-row
        .sheet-left(data-i18n='rolltemplate-modifier') Modifier
        .sheet-right {{modifier}}{{#bonus}} ({{bonus}}){{/bonus}}
      = '{{#rollGreater() rof 1}}'
      .sheet-rolltemplate__content-row
        .sheet-left(data-i18n='rolltemplate-dice-rof') Dice/RoF
        .sheet-right {{rof}}
      = '{{/rollGreater() rof 1}}'
      = '{{#rollGreater() wounds 0}}'
      .sheet-rolltemplate__content-row
        .sheet-left(data-i18n='rolltemplate-wound-penalty') Wound Penalty
        .sheet-right {{wounds}}
      = '{{/rollGreater() wounds 0}}'
      = '{{#rollGreater() fatigue 0}}'
      .sheet-rolltemplate__content-row
        .sheet-left(data-i18n='rolltemplate-fatigue') Fatigue
        .sheet-right {{fatigue}}
      = '{{/rollGreater() fatigue 0}}'
      = '{{#custom1_label}}'
      .sheet-rolltemplate__content-row
        .sheet-left {{custom1_label}}
        .sheet-right {{custom1}}
      = '{{/custom1_label}}'
      = '{{#custom2_label}}'
      .sheet-rolltemplate__content-row
        .sheet-left {{custom2_label}}
        .sheet-right {{custom2}}
      = '{{/custom2_label}}'
      = '{{#custom3_label}}'
      .sheet-rolltemplate__content-row
        .sheet-left {{custom3_label}}
        .sheet-right {{custom3}}
      = '{{/custom3_label}}'
    .sheet-rolltemplate__dice
      .sheet-left
        each roll in maxRof
          if roll > 1
            = `{{#rollGreater() rof ${roll-1}}}`
          .sheet-rolltemplate__roll(class=`sheet-rolltemplate__roll--${roll}`)
            = `{{traitroll${roll}}}`
          if roll > 1
            = `{{/rollGreater() rof ${roll-1}}}`
      .sheet-right
        = '{{#rollLess() global_wdroll -100}}'
        = '{{#rollGreater() wdroll -1000}}'
        .sheet-rolltemplate__roll.sheet-rolltemplate__roll--wd
          = '{{wdroll}}'
        = '{{/rollGreater() wdroll -1000}}'
        = '{{/rollLess() global_wdroll -100}}'
        = '{{#rollGreater() global_wdroll -1000}}'
        .sheet-rolltemplate__roll.sheet-rolltemplate__roll--wd
          = '{{global_wdroll}}'
        = '{{/rollGreater() global_wdroll -1000}}'
        = '{{#rollGreater() bonus_wdroll -1000}}'
        .sheet-rolltemplate__roll.sheet-rolltemplate__roll--wd
          = '{{bonus_wdroll}}'
        = '{{/rollGreater() bonus_wdroll -1000}}'

rolltemplate.sheet-rolltemplate-DiceRoller
  .sheet-rolltemplate
    .sheet-rolltemplate__header {{header}}
    .sheet-rolltemplate__content
      .sheet-rolltemplate__reroll(title='Reroll', data-i18n-title='rolltemplate-reroll-title')
        .sheet-rolltemplate__button {{reroll}}
      .sheet-rolltemplate__content-row
        .sheet-left(data-i18n='rolltemplate-dice-rof') Dice/RoF
        .sheet-right {{rof}}
    .sheet-rolltemplate__dice
      each roll in maxRof
        if roll > 1
          = `{{#rollGreater() rof ${roll-1}}}`
        .sheet-rolltemplate__roll(class=`sheet-rolltemplate__roll--${roll}`)
          = `{{roll${roll}}}`
        if roll > 1
          = `{{/rollGreater() rof ${roll-1}}}`

rolltemplate.sheet-rolltemplate-RunRoll
  .sheet-rolltemplate
    .sheet-rolltemplate__header {{header}}
    .sheet-rolltemplate__content {{content}}

rolltemplate.sheet-rolltemplate-InfoBox
  .sheet-rolltemplate
    .sheet-rolltemplate__content {{content}}

rolltemplate.sheet-rolltemplate-DamageRoll
  .sheet-rolltemplate
    .sheet-rolltemplate__header {{header}}
    = '{{#description}}'
    .sheet-rolltemplate__description {{description}}
    = '{{/description}}'
    .sheet-rolltemplate__content
      = '{{#reroll}}'
      .sheet-rolltemplate__reroll(title='Reroll', data-i18n-title='rolltemplate-reroll-title')
        .sheet-rolltemplate__button {{reroll}}
      = '{{/reroll}}'
      = '{{#source_label}}'
      .sheet-rolltemplate__content-row
        .sheet-left {{source_label}}
        .sheet-right {{source}}
      = '{{/source_label}}'
      .sheet-rolltemplate__content-row
        .sheet-left(data-i18n='rolltemplate-damage') Damage
        .sheet-right {{code}}
      = '{{#modifier}}'
      .sheet-rolltemplate__content-row
        .sheet-left(data-i18n='rolltemplate-damage-modifier') Damage Modifier
        .sheet-right {{modifier}}
      = '{{/modifier}}'
      = '{{#ap}}'
      .sheet-rolltemplate__content-row
        .sheet-left(data-i18n='rolltemplate-armor-piercing') Armor Piercing
        .sheet-right {{ap}}
      = '{{/ap}}'
      = '{{#rollGreater() rof 1}}'
      .sheet-rolltemplate__content-row
        .sheet-left(data-i18n='rolltemplate-hits-rof') Hits/RoF
        .sheet-right {{rof}}
      = '{{/rollGreater() rof 1}}'
      = '{{#range}}'
      .sheet-rolltemplate__content-row
        .sheet-left(data-i18n='rolltemplate-range') Range
        .sheet-right {{range}}
      = '{{/range}}'
      = '{{#trapping}}'
      .sheet-rolltemplate__content-row
        .sheet-left(data-i18n='rolltemplate-trapping') Trapping
        .sheet-right {{trapping}}
      = '{{/trapping}}'
      = '{{#custom1_label}}'
      .sheet-rolltemplate__content-row
        .sheet-left {{custom1_label}}
        .sheet-right {{custom1}}
      = '{{/custom1_label}}'
      = '{{#custom2_label}}'
      .sheet-rolltemplate__content-row
        .sheet-left {{custom2_label}}
        .sheet-right {{custom2}}
      = '{{/custom2_label}}'
      = '{{#custom3_label}}'
      .sheet-rolltemplate__content-row
        .sheet-left {{custom3_label}}
        .sheet-right {{custom3}}
      = '{{/custom3_label}}'
    .sheet-rolltemplate__dice.sheet-rolltemplate__dice--damage
      each roll in maxRof
        if roll > 1
          = `{{#rollGreater() rof ${roll-1}}}`
        .sheet-rolltemplate__damage-roll
          = `{{roll${roll}}}`
        if roll > 1
          = `{{/rollGreater() rof ${roll-1}}}`
