.sheet-secondary
  +hexfield('pace', 'Pace', 'bottom', '6', '6')
    +hexfield('flight', 'Flight', 'right', '0', '', 'sheet-hide-until-needed sheet-stay-on-input')
    +hexfield('run', 'Run', 'left', 'd6', '', 'sheet-hide-until-needed')
    input(type='hidden', name='attr_run_roll', value='d6')
  +hexfield('parry', 'Parry', 'bottom', '2')
  +hexfield('toughness', 'Tough.', 'bottom', '4')

  .sheet-hexfield(class=' sheet-hexfield--soak')
    input(type='text',
          name='attr_soak',
          placeholder='d4',
          value='d4',
          spellcheck='false',
          class='sheet-hex sheet-hex--36 sheet-hexfield__input')

    +hexfield('soak_mod', 'Bonus', 'up  sheet-exception', '0', '', 'sheet-hide-until-needed sheet-stay-on-input')
    +hexfield('soak_wd', 'WD', 'right', 'd6', '', 'sheet-hide-until-needed')

    input(type='hidden', name='attr_soak_roll', value='1d4')
    input(type='hidden', name='attr_soak_wd_roll', value='1d6')
    input(type='hidden', name='attr_soak_extra_wd_roll', value='-10000')
    input(type='hidden', name=`attr_soak_code`, value='d4')

    input(type='hidden', name=`attr_soak_global_wd_roll`, value=`{{global_wd=@{query_global_wd}}} {{global_wdroll=[[ @{query_global_wd}!cs2 + (@{soak_mod}+0)[Flat] - (@{fatigue_mod})[Fatigue] - (@{wound_mod})[Wounds] + (?{@{query_modifier}|0})[Modifier] ]]}}`)

    input(type='hidden', name=`attr_soak_global_bonus_wd_roll`, value=`{{bonus_wd=@{query_global_bonus_wd}}} {{bonus_wdroll=[[ @{query_global_bonus_wd}!cs2 + (@{soak_mod}+0)[Flat] - (@{fatigue_mod})[Fatigue] - (@{wound_mod})[Wounds] + (?{@{query_modifier}|0})[Modifier] ]]}}`)
    
    input(type='hidden',
          name=`attr_soak_roll_body`,
          value!=`@{gm_roll} &{template:TraitRoll} {{rof=[[ 0 + @{query_global_rof} ]]}} {{header=@{name} ^{rolls} ^{soak}}} {{trait=^{soak}}} {{traitdie=@{soak_code}}} {{wounds=[[ @{wound_mod} ]]}} {{fatigue=[[ @{fatigue_mod} ]]}} {{modifier=?{@{query_modifier}|0}}} ${maxRof.map(n => `{{traitroll${n}=[[ @{soak_roll}!cs2 + (@{soak_mod}+0)[Flat] - (@{fatigue_mod})[Fatigue] - (@{wound_mod})[Wounds] + (?{@{query_modifier}|0})[Modifier] ]]}}`).join(' ')} @{soak_global_wd_roll} @{soak_global_bonus_wd_roll}`)

    button(type='roll',
           name='roll_soak',
           value!=`@{soak_roll_body} {{wd=@{soak_wd}}} {{wdroll=[[ @{soak_wd_roll}!cs2 + (@{soak_mod}+0)[Flat] - (@{fatigue_mod})[Fatigue] - (@{wound_mod})[Wounds] + (?{@{query_modifier}|0})[Modifier] ]]}} {{reroll=[r](~soak)}}`,
           class='sheet-hexfield__label sheet-hexfield__label--bottom')
      span(data-i18n='soak') Soak
