.sheet-settings
  input(type='radio',
        name='attr_settings_pages',
        value='styles',
        label='Styles',
        data-i18n-label='settings-tab-styles',
        checked=true,
        class='sheet-settings__page-tab sheet-settings__page-tab--styles')

  input(type='radio',
        name='attr_settings_pages',
        value='setup',
        label='Setup',
        data-i18n-label='settings-tab-setup',
        class='sheet-settings__page-tab sheet-settings__page-tab--setup')

  input(type='radio',
        name='attr_settings_pages',
        value='blocks',
        label='Blocks',
        data-i18n-label='settings-tab-blocks',
        class='sheet-settings__page-tab sheet-settings__page-tab--blocks')

  input(type='radio',
        name='attr_settings_pages',
        value='skills',
        label='Skills',
        data-i18n-label='settings-tab-skills',
        class='sheet-settings__page-tab sheet-settings__page-tab--skills')

  input(type='radio',
        name='attr_settings_pages',
        value='help',
        label='Help',
        data-i18n-label='settings-tab-help',
        class='sheet-settings__page-tab sheet-settings__page-tab--help')

  .sheet-settings__page.sheet-settings__page--styles
    label.sheet-settings__item
      span(data-i18n='settings-style-background-grid') Background Grid
      input(type='checkbox',
            name='attr_toggle_style_grid',
            checked=true,
            class='sheet-checkbox')

    label.sheet-settings__item
      span(data-i18n='settings-style-dark-labels') Dark Labels
      input(type='checkbox',
            name='attr_toggle_style_dark_labels',
            class='sheet-checkbox')

    label.sheet-settings__item
      span(data-i18n='settings-style-skill-die-numbers') Skill Die Numbers
      input(type='checkbox',
            name='attr_toggle_skill_die_numbers',
            checked=true,
            class='sheet-checkbox')

    label.sheet-settings__item
      span(data-i18n='settings-style-roboto-font') Roboto Font (Off: Helvetica Neue)
      input(type='checkbox',
            name='attr_toggle_style_roboto',
            checked=true,
            class='sheet-checkbox')

    label.sheet-settings__item
      span(data-i18n='settings-style-rounded-corners') Rounded Corners
      input(type='checkbox',
            name='attr_toggle_style_corners',
            checked=true,
            class='sheet-checkbox')

    label.sheet-settings__item
      span(data-i18n='settings-style-transitions') Transitions
      input(type='checkbox',
            name='attr_toggle_style_transitions',
            checked=true,
            class='sheet-checkbox')

    label.sheet-settings__item
      span(data-i18n='settings-style-transition-delays') Transition Delays
      input(type='checkbox',
            name='attr_toggle_style_delays',
            checked=true,
            class='sheet-checkbox')

  .sheet-settings__page.sheet-settings__page--setup
    label.sheet-settings__item
      span(data-i18n='settings-rule-augmentation-strain') Augmentation Strain (SciFi Companion)
      input(type='checkbox',
            name='attr_toggle_strain',
            class='sheet-checkbox')

    label.sheet-settings__item
      span(data-i18n='settings-rule-no-power-points') No Power Points (SWADE 140)
      input(type='checkbox',
            name='attr_toggle_pp',
            class='sheet-checkbox')

    label.sheet-settings__item
      span(data-i18n='settings-function-query-rof-for-skills') Query Dice/RoF (Skills)
      input(type='checkbox',
            name='attr_toggle_skill_rof',
            class='sheet-checkbox')

    label.sheet-settings__item
      span(data-i18n='settings-function-roll-description-inputs') Roll Description Inputs
      input(type='checkbox',
            name='attr_toggle_description_input_visibility',
            checked=true,
            class='sheet-checkbox')

    label.sheet-settings__item
      span(data-i18n='settings-function-roll-injection-inputs') Roll Injection Inputs
      input(type='checkbox',
            name='attr_toggle_injection_input_visibility',
            class='sheet-checkbox')

    label.sheet-settings__item
      span(data-i18n='settings-function-explode-run-die') Explode Run Die
      input(type='checkbox',
            name='attr_toggle_run_explode',
            class='sheet-checkbox')

    label.sheet-settings__item
      span(data-i18n='settings-function-running-ignores-wounds') Running Ignores Wounds
      input(type='checkbox',
            name='attr_toggle_run_wounds',
            class='sheet-checkbox')

    label.sheet-settings__item
      span(data-i18n='settings-function-running-applies-fatigue') Running Applies Fatigue
      input(type='checkbox',
            name='attr_toggle_run_fatigue',
            class='sheet-checkbox')

    label.sheet-settings__item
      span
        span(data-i18n='settings-misc-extent-prefix') Extend&nbsp;
        span(name='attr_rename_block_quick_notes', data-i18n='quick-notes') Quick Notes
      input(type='checkbox',
            name='attr_toggle_quick_notes_extension',
            class='sheet-checkbox')

  .sheet-settings__page.sheet-settings__page--blocks
    label.sheet-settings__item
      span(name='attr_rename_block_ammunition', data-i18n='ammunition') Ammunition
      input(type='checkbox',
            name='attr_toggle_ammunition_block',
            checked=true,
            class='sheet-checkbox')

    - var i = 0

    while i < 3
      - ++i

      label.sheet-settings__item.sheet-settings__item--text-input
        span(data-i18n=`settings-ammunition-container-${i}-label`)= `[Ammo #${i}]`
        input(type='text',
              name=`attr_rename_ammunition_container_${i}`,
              placeholder=`Ammo #${i}`,
              data-i18n-placeholder=`settings-ammunition-container-${i}-placeholder`,
              value=`Ammo #${i}`,
              spellcheck='false',
              class='sheet-align-left')
        span p

    label.sheet-settings__item
      span(name='attr_rename_block_augmentations', data-i18n='augmentations') Augmentations
      input(type='checkbox',
            name='attr_toggle_augmentations_block',
            checked=true,
            class='sheet-checkbox')

    label.sheet-settings__item
      span(name='attr_rename_block_engrams', data-i18n='engrams') Engrams
      input(type='checkbox',
            name='attr_toggle_engrams_block',
            checked=true,
            class='sheet-checkbox')

    label.sheet-settings__item
      span(name='attr_rename_block_integrity', data-i18n='integrity') Integrity
      input(type='checkbox',
            name='attr_toggle_integrity_block',
            checked=true,
            class='sheet-checkbox')

    label.sheet-settings__item
      span
        span(name='attr_rename_block_power', data-i18n='power') Power
        span(data-i18n='settings-power-addendum') &nbsp;(Energy/Mana)
      input(type='checkbox',
            name='attr_toggle_power_block',
            checked=true,
            class='sheet-checkbox')

    label.sheet-settings__item
      span
        span(name='attr_rename_block_powers', data-i18n='powers') Powers
        span(data-i18n='settings-powers-addendum') &nbsp;(Spells)
      input(type='checkbox',
            name='attr_toggle_powers_block',
            class='sheet-checkbox')

    label.sheet-settings__item
      span(name='attr_rename_block_vehicles', data-i18n='vehicles') Vehicles
      input(type='checkbox',
            name='attr_toggle_vehicles_block',
            class='sheet-checkbox')

    label.sheet-settings__item
      span(name='attr_rename_block_powerarmors', data-i18n='powerarmors') Power Armors
      input(type='checkbox',
            name='attr_toggle_powerarmors_block',
            class='sheet-checkbox')

    label.sheet-settings__item
      span(name='attr_rename_block_walkers', data-i18n='walkers') Walkers
      input(type='checkbox',
            name='attr_toggle_walkers_block',
            class='sheet-checkbox')

    label.sheet-settings__item
      span(name='attr_rename_block_allies', data-i18n='allies') Allies
      input(type='checkbox',
            name='attr_toggle_allies_block',
            class='sheet-checkbox')

    label.sheet-settings__item
      span(name='attr_rename_block_quick_notes', data-i18n='quick-notes') Quick Notes
      input(type='checkbox',
            name='attr_toggle_quick_notes_block',
            checked=true,
            class='sheet-checkbox')

  .sheet-settings__page.sheet-settings__page--skills
    -
      var skills = ['Battle', 'Boating', 'Driving', 'Electronics', 'Faith', 'Focus',
                    'Gambling', 'Hacking', 'Healing', 'Language', 'MAGIC', 'Occult',
                    'Performance', 'Piloting', 'Repair', 'Psionics', 'Research',
                    'Riding', 'Science', 'Spellcasting', 'Survival', 'Taunt',
                    'Weird Science']

      var disabledSkills = ['Faith', 'Focus', 'Occult', 'Psionics', 'Language',
                            'Spellcasting', 'Weird Science']

    each skill in skills
      - var substring = skill.toLowerCase().replace(/ /g, '_')
      
      label.sheet-settings__item
        span(name=`attr_rename_${substring}`)= skill
        input(type='checkbox',
              name=`attr_toggle_skill_${substring}`,
              checked= !disabledSkills.includes(skill),
              class='sheet-checkbox')

    label.sheet-settings__item.sheet-settings__item--text-input
      span(data-i18n='settings-custom-skill-1-label') [Custom Skill #1]
      input(type='text',
            name='attr_rename_custom_skill_1',
            placeholder='Custom Skill 1',
            data-i18n-placeholder='settings-custom-skill-1-placeholder',
            value='Custom Skill 1',
            spellcheck='false',
            class='sheet-align-left')
      input(type='checkbox',
            name='attr_toggle_skill_custom_skill_1',
            class='sheet-checkbox')

    label.sheet-settings__item.sheet-settings__item--text-input
      span(data-i18n='settings-custom-skill-2-label') [Custom Skill #2]
      input(type='text',
            name='attr_rename_custom_skill_2',
            placeholder='Custom Skill 2',
            data-i18n-placeholder='settings-custom-skill-2-placeholder',
            value='Custom Skill 2',
            spellcheck='false',
            class='sheet-align-left')
      input(type='checkbox',
            name='attr_toggle_skill_custom_skill_2',
            class='sheet-checkbox')

  .sheet-settings__page.sheet-settings__page--help
    .sheet-settings__item.sheet-settings__item--help
      span(data-i18n='settings-help-ammunition') Ammunition
      input(type='checkbox',
            class='sheet-toggle sheet-toggle--spoiler')
      .sheet-bottom(data-i18n='settings-help-ammunition-description') You can keep track of up to three named "magazines" in the Ammunition block. The buttons allow you to quickly add to or subtract from the values. You can save a value with [S] and restore it with [R].

    .sheet-settings__item.sheet-settings__item--help
      span(data-i18n='settings-help-armor-and-notes') Armor & Notes
      input(type='checkbox',
            class='sheet-toggle sheet-toggle--spoiler')
      .sheet-bottom(data-i18n='settings-help-armor-and-notes-description') Enter your Armor ratings for the corresponding limbs. They are not self-calculating since there are too many factors; this is more convenient. You can add notes for Resistances, circumstance modifiers, or relevant augmentations such as subdermal armor to keep things in one place.

    .sheet-settings__item.sheet-settings__item--help
      span(data-i18n='settings-help-attribute-reference') Attribute Reference
      input(type='checkbox',
            class='sheet-toggle sheet-toggle--spoiler')
      .sheet-bottom(data-i18n='settings-help-attribute-reference-description') The attributes of this sheet follow a simple naming pattern and can be easily derived from their labels. Just remove any dots or special characters, expand abbreviations, convert to lowercase, and replace whitespaces with underscores (_). Adjacent attributes are appended with hyphens as well. So "Agility" becomes @{agility}, @{agility_mod}, @{agility_wd}, @{agility_extra_wd} (for extras only), and @{agility_natural}. "Tough." becomes @{toughness} and Armor is referenced with @{armor_head|_torso|_arms|_legs}. English only!

    .sheet-settings__item.sheet-settings__item--help
      span(data-i18n='settings-help-weapon-damage-rolls') Damage Rolls
      input(type='checkbox',
            class='sheet-toggle sheet-toggle--spoiler')
      .sheet-bottom(data-i18n='settings-help-weapon-damage-rolls-description') You can enable damage rolls for list items by clicking the damage label. This will disable editing. Note that the dice codes must be valid, but you can use "Str" or "Agi" (etc.) as shorthands to reference attributes. The parser is not smart, however, so please also refer to the Roll20 Dice Reference.

    .sheet-settings__item.sheet-settings__item--help
      span(data-i18n='settings-help-edges-and-hindrances') Edges & Hindrances
      input(type='checkbox',
            class='sheet-toggle sheet-toggle--spoiler')
      .sheet-bottom(data-i18n='settings-help-edges-and-hindrances-description') Manage your Edges and Hindrances here. They follow a horizontal masonry layout to save space and remain visible for convenience. The width is automatically adjusted once you press enter and you can cycle through colored labels to indicate Rank, type, and more. Sorting is wonky though.
      
    .sheet-settings__item.sheet-settings__item--help
      span(data-i18n='settings-help-extra-sheet') Extra Sheet
      input(type='checkbox',
            class='sheet-toggle sheet-toggle--spoiler')
      .sheet-bottom(data-i18n='settings-help-extra-sheet-description') For non-player characters, you can change the layout to a more compact alternative with the switch right above the sheet. This version lacks many features but is primed for Extras without Wild Die. Of course, you can add Wild Dice if needed. Edit Traits by clicking on their die, opening a small menu, and roll with the label. Hovering reveals buttons for direct die rolls. Add skills by clicking the framed pencil icon in the header row. Lists work as usual.

    .sheet-settings__item.sheet-settings__item--help
      span(data-i18n='settings-help-helper-buttons') Helper Buttons
      input(type='checkbox',
            class='sheet-toggle sheet-toggle--spoiler')
      .sheet-bottom(data-i18n='settings-help-helper-buttons-description') The buttons above the skill section provide selected actions and convenience functions. The dice roller input is parsed, so you can write codes like "Str+2d6". You may also use attribute references such as @{athletics} or macros, but beware that the parser is not smart. Hidden rolls are sent only to the GM.

    .sheet-settings__item.sheet-settings__item--help
      span(data-i18n='settings-help-hexagon-fields') Hexagon Fields
      input(type='checkbox',
            class='sheet-toggle sheet-toggle--spoiler')
      .sheet-bottom(data-i18n='settings-help-hexagon-fields-description') Your attributes and secondary statistics. They either accept dice codes (d4 to d12) or integers. Positive modifiers are automatically prefixed. Hovering reveals additional fields that are otherwise invisible until relevant. You can leave them empty to use defaults, such as a d6 as Wild Die. The Wild Die can be disabled with "n/a". The labels act as roll buttons.
      
    .sheet-settings__item.sheet-settings__item--help
      span(data-i18n='settings-help-list-item-options') List Item Options
      input(type='checkbox',
            class='sheet-toggle sheet-toggle--spoiler')
      .sheet-bottom(data-i18n='settings-help-list-item-options-description')!= 'Interactive list items, such as weapons and powers, come with options. When the item is folded out, you can access them via the gear icon. Typical options include toggles for buttons and fields, but some also allow to override the Wild Die and more. Mind that the inputs are <i>not</i> validated; do not enter nonsense!'

    .sheet-settings__item.sheet-settings__item--help
      span(data-i18n='settings-help-raise-damage') Raise Damage
      input(type='checkbox',
            class='sheet-toggle sheet-toggle--spoiler')
      .sheet-bottom(data-i18n='settings-help-raise-damage-description') There is no general function or field to apply raise damage since this modifier is too flexible. But nothing stops you from entering "1d6" when prompted to add a damage modifier. You could also add "2d4+2" or whatever modifier may apply.

    .sheet-settings__item.sheet-settings__item--help
      span(data-i18n='settings-help-rate-of-fire') Rate of Fire (Multiple Dice)
      input(type='checkbox',
            class='sheet-toggle sheet-toggle--spoiler')
      .sheet-bottom(data-i18n='settings-help-rate-of-fire-description') You can roll multiple skill dice by locking the skill tracks and clicking on the desired bubble, prompting you to enter the Rate of Fire. You can also enable this query for all skill rolls in the Setup tab. Other traits lack this feature, but the helper buttons query the Rate of Fire as well.

    .sheet-settings__item.sheet-settings__item--help
      span(data-i18n='settings-help-silhouette') Silhouette
      input(type='checkbox',
            class='sheet-toggle sheet-toggle--spoiler')
      .sheet-bottom(data-i18n='settings-help-silhouette-description') Choose your silhouette; it looks fancy! You can set color markers all over the silhouette for any purpose, indicating augmentations or injuries or whatever you like.

    .sheet-settings__item.sheet-settings__item--help
      span(data-i18n='settings-help-skill-tracks') Skill Tracks
      input(type='checkbox',
            class='sheet-toggle sheet-toggle--spoiler')
      .sheet-bottom(data-i18n='settings-help-skill-tracks-description') Enter your skill die by clicking on the corresponding bubble (d4-2 to d12). The skill name will darken once you become trained and acts as roll button. You can enter a modifier and custom Wild Die or leave these fields empty to use defaults; the Wild Die can be disabled with "n/a". Positive modifiers are automatically prefixed. On the far right, you can set a color marker for any purpose.

    .sheet-settings__item.sheet-settings__item--help
      span(data-i18n='settings-help-track-rolls') Track Rolls
      input(type='checkbox',
            class='sheet-toggle sheet-toggle--spoiler')
      .sheet-bottom(data-i18n='settings-help-track-rolls-description')!= 'When you lock the skill tracks with the icon in the top-right corner above the color marker column, you can click on the bubbles to roll the corresponding die independently. This is useful for effects that dynamically alter your skill die, such as <i>boost/lower trait</i>.'

    .sheet-settings__item.sheet-settings__item--help
      span(data-i18n='settings-help-vehicles-and-more') Vehicles & More
      input(type='checkbox',
            class='sheet-toggle sheet-toggle--spoiler')
      .sheet-bottom(data-i18n='settings-help-vehicles-and-more-description') You can enable blocks for vehicles and other vessels in the Blocks tab under Settings. The silhouette of vehicles can be cycled through by clicking; the switch can take a moment. Both blocks can display weapons by adding a number to the corresponding attribute (0-10).
