.sheet-settings
  input(type='radio',
        name='attr_settings-pages',
        value='styles',
        label='Styles',
        data-i18n-label='settings-tab-styles',
        checked=true,
        class='sheet-settings__page-tab sheet-settings__page-tab--styles')

  input(type='radio',
        name='attr_settings-pages',
        value='setup',
        label='Setup',
        data-i18n-label='settings-tab-setup',
        class='sheet-settings__page-tab sheet-settings__page-tab--setup')

  input(type='radio',
        name='attr_settings-pages',
        value='blocks',
        label='Blocks',
        data-i18n-label='settings-tab-blocks',
        class='sheet-settings__page-tab sheet-settings__page-tab--blocks')

  input(type='radio',
        name='attr_settings-pages',
        value='skills',
        label='Skills',
        data-i18n-label='settings-tab-skills',
        class='sheet-settings__page-tab sheet-settings__page-tab--skills')

  input(type='radio',
        name='attr_settings-pages',
        value='help',
        label='Help',
        data-i18n-label='settings-tab-help',
        class='sheet-settings__page-tab sheet-settings__page-tab--help')

  .sheet-settings__page.sheet-settings__page--styles
    label.sheet-settings__item
      span(data-i18n='settings-style-background-grid') Background Grid
      input(type='checkbox',
            name='attr_toggle-style-grid',
            checked=true,
            class='sheet-checkbox')

    label.sheet-settings__item
      span(data-i18n='settings-style-dark-labels') Dark Labels
      input(type='checkbox',
            name='attr_toggle-style-dark-labels',
            checked=false,
            class='sheet-checkbox')

    label.sheet-settings__item
      span(data-i18n='settings-style-roboto-font') Roboto Font (Off: Arial)
      input(type='checkbox',
            name='attr_toggle-style-roboto',
            checked=true,
            class='sheet-checkbox')

    label.sheet-settings__item
      span(data-i18n='settings-style-rounded-corners') Rounded Corners
      input(type='checkbox',
            name='attr_toggle-style-corners',
            checked=true,
            class='sheet-checkbox')

    label.sheet-settings__item
      span(data-i18n='settings-style-transitions') Transitions
      input(type='checkbox',
            name='attr_toggle-style-transitions',
            checked=true,
            class='sheet-checkbox')

    label.sheet-settings__item
      span(data-i18n='settings-style-transition-delays') Transition Delays
      input(type='checkbox',
            name='attr_toggle-style-delays',
            checked=true,
            class='sheet-checkbox')

  .sheet-settings__page.sheet-settings__page--setup
    label.sheet-settings__item
      span(data-i18n='settings-rule-augmentation-strain') Augmentation Strain (SciFi Companion)
      input(type='checkbox',
            name='attr_toggle-strain',
            checked=false,
            class='sheet-checkbox')

    label.sheet-settings__item
      span(data-i18n='settings-rule-no-power-points') No Power Points (SWADE 140)
      input(type='checkbox',
            name='attr_toggle-pp',
            checked=false,
            class='sheet-checkbox')

    label.sheet-settings__item
      span(data-i18n='settings-function-query-rof-for-skills') Query Dice/RoF (Skills)
      input(type='checkbox',
            name='attr_toggle-skill-rof',
            checked=false,
            class='sheet-checkbox')

    label.sheet-settings__item
      span(data-i18n='settings-function-explode-run-die') Explode Run Die
      input(type='checkbox',
            name='attr_toggle-run-explode',
            checked=false,
            class='sheet-checkbox')

    label.sheet-settings__item
      span(data-i18n='settings-function-running-ignores-wounds') Running Ignores Wounds
      input(type='checkbox',
            name='attr_toggle-run-wounds',
            checked=false,
            class='sheet-checkbox')

    label.sheet-settings__item
      span
        span(data-i18n='settings-misc-extent-prefix') Extend&nbsp;
        span(name='attr_rename-block-quick-notes', data-i18n='quick-notes') Quick Notes
      input(type='checkbox',
            name='attr_toggle-quick-notes-extension',
            checked=false,
            class='sheet-checkbox')

  .sheet-settings__page.sheet-settings__page--blocks
    label.sheet-settings__item
      span(name='attr_rename-block-augmentations', data-i18n='augmentations') Augmentations
      input(type='checkbox',
            name='attr_toggle-augmentations-block',
            checked=true,
            class='sheet-checkbox')

    label.sheet-settings__item
      span(name='attr_rename-block-engrams', data-i18n='engrams') Engrams
      input(type='checkbox',
            name='attr_toggle-engrams-block',
            checked=true,
            class='sheet-checkbox')

    label.sheet-settings__item
      span(name='attr_rename-block-integrity', data-i18n='integrity') Integrity
      input(type='checkbox',
            name='attr_toggle-integrity-block',
            checked=true,
            class='sheet-checkbox')

    label.sheet-settings__item
      span
        span(name='attr_rename-block-power', data-i18n='power') Power
        span(data-i18n='settings-power-addendum') &nbsp;(Energy/Mana)
      input(type='checkbox',
            name='attr_toggle-power-block',
            checked=true,
            class='sheet-checkbox')

    label.sheet-settings__item
      span
        span(name='attr_rename-block-powers', data-i18n='powers') Powers
        span(data-i18n='settings-powers-addendum') &nbsp;(Spells)
      input(type='checkbox',
            name='attr_toggle-powers-block',
            checked=false,
            class='sheet-checkbox')

    label.sheet-settings__item
      span(name='attr_rename-block-vehicles', data-i18n='vehicles') Vehicles
      input(type='checkbox',
            name='attr_toggle-vehicles-block',
            checked=false,
            class='sheet-checkbox')

    label.sheet-settings__item
      span(name='attr_rename-block-powerarmors', data-i18n='powerarmors') Power Armors
      input(type='checkbox',
            name='attr_toggle-powerarmors-block',
            checked=false,
            class='sheet-checkbox')

    label.sheet-settings__item
      span(name='attr_rename-block-walkers', data-i18n='walkers') Walkers
      input(type='checkbox',
            name='attr_toggle-walkers-block',
            checked=false,
            class='sheet-checkbox')

    label.sheet-settings__item
      span(name='attr_rename-block-allies', data-i18n='allies') Allies
      input(type='checkbox',
            name='attr_toggle-allies-block',
            checked=false,
            class='sheet-checkbox')

    label.sheet-settings__item
      span(name='attr_rename-block-quick-notes', data-i18n='quick-notes') Quick Notes
      input(type='checkbox',
            name='attr_toggle-quick-notes-block',
            checked=true,
            class='sheet-checkbox')

  .sheet-settings__page.sheet-settings__page--skills
    label.sheet-settings__item
      span(name='attr_rename-boating') Boating
      input(type='checkbox',
            name='attr_toggle-skill-boating',
            checked=true,
            class='sheet-checkbox')

    label.sheet-settings__item
      span(name='attr_rename-driving') Driving
      input(type='checkbox',
            name='attr_toggle-skill-driving',
            checked=true,
            class='sheet-checkbox')

    label.sheet-settings__item
      span(name='attr_rename-electronics') Electronics
      input(type='checkbox',
            name='attr_toggle-skill-electronics',
            checked=true,
            class='sheet-checkbox')

    label.sheet-settings__item
      span(name='attr_rename-faith') Faith
      input(type='checkbox',
            name='attr_toggle-skill-faith',
            checked=false,
            class='sheet-checkbox')

    label.sheet-settings__item
      span(name='attr_rename-focus') Focus
      input(type='checkbox',
            name='attr_toggle-skill-focus',
            checked=false,
            class='sheet-checkbox')

    label.sheet-settings__item
      span(name='attr_rename-language') Language
      input(type='checkbox',
            name='attr_toggle-skill-language',
            checked=false,
            class='sheet-checkbox')

    label.sheet-settings__item
      span(name='attr_rename-magic') MAGIC
      input(type='checkbox',
            name='attr_toggle-skill-magic',
            checked=true,
            class='sheet-checkbox')

    label.sheet-settings__item
      span(name='attr_rename-occult') Occult
      input(type='checkbox',
            name='attr_toggle-skill-occult',
            checked=false,
            class='sheet-checkbox')

    label.sheet-settings__item
      span(name='attr_rename-piloting') Piloting
      input(type='checkbox',
            name='attr_toggle-skill-piloting',
            checked=true,
            class='sheet-checkbox')

    label.sheet-settings__item
      span(name='attr_rename-psionics') Psionics
      input(type='checkbox',
            name='attr_toggle-skill-psionics',
            checked=false,
            class='sheet-checkbox')

    label.sheet-settings__item
      span(name='attr_rename-riding') Riding
      input(type='checkbox',
            name='attr_toggle-skill-riding',
            checked=true,
            class='sheet-checkbox')

    label.sheet-settings__item
      span(name='attr_rename-spellcasting') Spellcasting
      input(type='checkbox',
            name='attr_toggle-skill-spellcasting',
            checked=false,
            class='sheet-checkbox')

    label.sheet-settings__item
      span(name='attr_rename-weird-science') Weird Science
      input(type='checkbox',
            name='attr_toggle-skill-weird-science',
            checked=false,
            class='sheet-checkbox')

    label.sheet-settings__item.sheet-settings__item--text-input
      input(type='text',
            name='attr_rename-custom-skill-1',
            placeholder='Custom Skill 1',
            data-i18n-placeholder='settings-custom-skill-1-placeholder',
            value='Custom Skill 1',
            spellcheck='false',
            class='sheet-align-left')
      input(type='checkbox',
            name='attr_toggle-skill-custom-skill-1',
            checked=false,
            class='sheet-checkbox')

    label.sheet-settings__item.sheet-settings__item--text-input
      input(type='text',
            name='attr_rename-custom-skill-2',
            placeholder='Custom Skill 2',
            data-i18n-placeholder='settings-custom-skill-2-placeholder',
            value='Custom Skill 2',
            spellcheck='false',
            class='sheet-align-left')
      input(type='checkbox',
            name='attr_toggle-skill-custom-skill-2',
            checked=false,
            class='sheet-checkbox')

  .sheet-settings__page.sheet-settings__page--help
    .sheet-settings__item.sheet-settings__item--help
      span(data-i18n='settings-help-hexagon-fields') Hexagon Fields
      input(type='checkbox',
            class='sheet-toggle sheet-toggle--spoiler')
      .sheet-bottom
        span(data-i18n='settings-help-hexagon-fields-description') Your attributes and secondary statistics. They either accept dice codes (d4 to d12) or integers. Positive modifiers are automatically prefixed. Hovering reveals additional fields that are otherwise invisible until relevant. You can leave them empty to use defaults, such as a d6 as Wild Die. The Wild Die can be disabled with "n/a." The labels act as roll buttons.

    .sheet-settings__item.sheet-settings__item--help
      span(data-i18n='settings-help-skill-tracks') Skill Tracks
      input(type='checkbox',
            class='sheet-toggle sheet-toggle--spoiler')
      .sheet-bottom
        span(data-i18n='settings-help-skill-tracks-description') Enter your skill die by clicking on the corresponding bubble (d4-2 to d12). The skill name will darken once you become trained and acts as roll button. You can enter a modifier and custom Wild Die or leave these fields empty to use defaults; the Wild Die can be disabled with "n/a." Positive modifiers are automatically prefixed. On the far right, you can set a color marker for any purpose.

    .sheet-settings__item.sheet-settings__item--help
      span(data-i18n='settings-help-track-rolls') Track Rolls
      input(type='checkbox',
            class='sheet-toggle sheet-toggle--spoiler')
      .sheet-bottom
        span(data-i18n='settings-help-track-rolls-description')!= 'When you lock the skill tracks with the icon in the top-right corner above the color marker column, you can click on the bubbles to roll the corresponding die independently. This is useful for effects that dynamically alter your skill die, such as <i>boost/lower trait</i>.'

    .sheet-settings__item.sheet-settings__item--help
      span(data-i18n='settings-help-rate-of-fire') Rate of Fire (Multiple Dice)
      input(type='checkbox',
            class='sheet-toggle sheet-toggle--spoiler')
      .sheet-bottom
        span(data-i18n='settings-help-rate-of-fire-description') You can roll multiple skill dice by locking the skill tracks and clicking on the desired bubble, prompting you to enter the Rate of Fire. You can also enable this query for all skill rolls in the Setup tab. Other traits lack this feature, but the helper buttons query the Rate of Fire as well.

    .sheet-settings__item.sheet-settings__item--help
      span(data-i18n='settings-help-armor-and-notes') Armor & Notes
      input(type='checkbox',
            class='sheet-toggle sheet-toggle--spoiler')
      .sheet-bottom
        span(data-i18n='settings-help-armor-and-notes-description') Enter your Armor ratings for the corresponding limbs. They are not self-calculating since there are too many factors; this is more convenient. You can add notes for Resistances, circumstance modifiers, or relevant augmentations such as subdermal armor to keep things in one place.

    .sheet-settings__item.sheet-settings__item--help
      span(data-i18n='settings-help-silhouette') Silhouette
      input(type='checkbox',
            class='sheet-toggle sheet-toggle--spoiler')
      .sheet-bottom
        span(data-i18n='settings-help-silhouette-description') Choose your silhouette; it looks fancy! You can set color markers all over the silhouette for any purpose, indicating augmentations or injuries or whatever you like.

    .sheet-settings__item.sheet-settings__item--help
      span(data-i18n='settings-help-edges-and-hindrances') Edges & Hindrances
      input(type='checkbox',
            class='sheet-toggle sheet-toggle--spoiler')
      .sheet-bottom
        span(data-i18n='settings-help-edges-and-hindrances-description') Manage your Edges and Hindrances here. They follow a horizontal masonry layout to save space and remain visible for convenience. The width is automatically adjusted once you press enter and you can cycle through colored labels to indicate Rank, type, and more. Sorting is wonky though.

    .sheet-settings__item.sheet-settings__item--help
      span(data-i18n='settings-help-helper-buttons') Helper Buttons
      input(type='checkbox',
            class='sheet-toggle sheet-toggle--spoiler')
      .sheet-bottom
        span(data-i18n='settings-help-helper-buttons-description') The buttons above the skill section provide selected actions and convenience functions. The dice roller requires valid Roll20 dice codes to work, such as "2d6!" for two exploding six-sided dice. You may also use attribute references such as @{athletics} or macros. Please refer to the Roll20 Dice Reference for more exhaustive tutorials. Hidden rolls are sent only to the GM.

    .sheet-settings__item.sheet-settings__item--help
      span(data-i18n='settings-help-attribute-reference') Attribute Reference
      input(type='checkbox',
            class='sheet-toggle sheet-toggle--spoiler')
      .sheet-bottom
        span(data-i18n='settings-help-attribute-reference-description') The attributes of this sheet follow a simple naming pattern and can be easily derived from their labels. Just remove any dots or special characters, expand abbreviations, convert to lowercase, and replace any whitespaces with hyphens (-). Adjacent attributes are appended with hyphens as well. So "Agility" becomes @{agility}, @{agility-mod}, @{agility-wd}, @{agility-extra-wd} (for extras only), and @{agility-natural}. "Tough." becomes @{toughness} and Armor is referenced with @{armor-head|-torso|-arms|-legs}.

    .sheet-settings__item.sheet-settings__item--help
      span(data-i18n='settings-help-weapon-damage-rolls') Weapon Damage Rolls
      input(type='checkbox',
            class='sheet-toggle sheet-toggle--spoiler')
      .sheet-bottom
        span(data-i18n='settings-help-weapon-damage-rolls-description') You can enable damage rolls for your weapons with the icon next to the header label. This will disable editing. Note that the dice codes must be valid, but you can use "Str" or "Agi" (etc.) as shorthands to reference attributes. But you cannot use @{attribute}. The parser is not smart, however, so please also refer to the Roll20 Dice Reference.

    .sheet-settings__item.sheet-settings__item--help
      span(data-i18n='settings-help-vehicles-and-more') Vehicles & More
      input(type='checkbox',
            class='sheet-toggle sheet-toggle--spoiler')
      .sheet-bottom
        span(data-i18n='settings-help-vehicles-and-more-description') You can enable blocks for vehicles and other vessels in the Blocks tab under Settings. The silhouette of vehicles can be cycled through by clicking; the switch can take a moment. Both blocks can display weapons by adding a number to the corresponding attribute (0-10).
