.sheet-settings
  input(type='radio',
        name='attr_settings_pages',
        value='styles',
        label='Styles',
        data-i18n-label='settings-tab-styles',
        checked=true,
        class='sheet-settings__page-tab sheet-settings__page-tab--styles')

  input(type='radio',
        name='attr_settings_pages',
        value='setup',
        label='Setup',
        data-i18n-label='settings-tab-setup',
        class='sheet-settings__page-tab sheet-settings__page-tab--setup')

  input(type='radio',
        name='attr_settings_pages',
        value='blocks',
        label='Blocks',
        data-i18n-label='settings-tab-blocks',
        class='sheet-settings__page-tab sheet-settings__page-tab--blocks')

  input(type='radio',
        name='attr_settings_pages',
        value='skills',
        label='Skills',
        data-i18n-label='settings-tab-skills',
        class='sheet-settings__page-tab sheet-settings__page-tab--skills')

  input(type='radio',
        name='attr_settings_pages',
        value='help',
        label='Help',
        data-i18n-label='settings-tab-help',
        class='sheet-settings__page-tab sheet-settings__page-tab--help')

  .sheet-settings__page.sheet-settings__page--styles
    label.sheet-settings__item
      span(data-i18n='settings-style-background-grid') Background Grid
      input(type='checkbox',
            name='attr_toggle_style_grid',
            checked=true,
            class='sheet-checkbox')

    label.sheet-settings__item
      span(data-i18n='settings-style-dark-labels') Dark Labels
      input(type='checkbox',
            name='attr_toggle_style_dark_labels',
            class='sheet-checkbox')

    label.sheet-settings__item
      span(data-i18n='settings-style-roboto-font') Roboto Font (Off: Helvetica Neue)
      input(type='checkbox',
            name='attr_toggle_style_roboto',
            checked=true,
            class='sheet-checkbox')

    label.sheet-settings__item
      span(data-i18n='settings-style-rounded-corners') Rounded Corners
      input(type='checkbox',
            name='attr_toggle_style_corners',
            checked=true,
            class='sheet-checkbox')

    label.sheet-settings__item
      span(data-i18n='settings-style-skill-die-numbers') Skill Die Numbers
      input(type='checkbox',
            name='attr_toggle_skill_die_numbers',
            checked=true,
            class='sheet-checkbox')

    label.sheet-settings__item
      span(data-i18n='settings-style-transitions') Transitions
      input(type='checkbox',
            name='attr_toggle_style_transitions',
            checked=true,
            class='sheet-checkbox')

    label.sheet-settings__item
      span(data-i18n='settings-style-transition-delays') Transition Delays
      input(type='checkbox',
            name='attr_toggle_style_delays',
            checked=true,
            class='sheet-checkbox')

  .sheet-settings__page.sheet-settings__page--setup
    label.sheet-settings__item
      span(data-i18n='settings-function-augmentation-markers') Augmentation Markers
      input(type='checkbox',
        name='attr_toggle_augmentation_markers',
        checked=true,
        class='sheet-checkbox')

    label.sheet-settings__item
      span(data-i18n='settings-rule-augmentation-strain') Augmentation Strain (SciFi Companion)
      input(type='checkbox',
            name='attr_toggle_strain',
            class='sheet-checkbox')

    label.sheet-settings__item
      span(data-i18n='settings-function-explode-run-die') Explode Run Die
      input(type='checkbox',
            name='attr_toggle_run_explode',
            class='sheet-checkbox')

    label.sheet-settings__item
      span(data-i18n='settings-function-halve-untrained-penalty') Halve Untrained Penalty (-1)
      input(type='checkbox',
            name='attr_toggle_halve_untrained',
            class='sheet-checkbox')

    label.sheet-settings__item
      span(data-i18n='settings-function-roll-description-inputs') List Roll Description Inputs
      input(type='checkbox',
            name='attr_toggle_description_input_visibility',
            checked=true,
            class='sheet-checkbox')

    label.sheet-settings__item
      span(data-i18n='settings-function-roll-injection-inputs') List Roll Injection Inputs
      input(type='checkbox',
            name='attr_toggle_injection_input_visibility',
            class='sheet-checkbox')

    label.sheet-settings__item
      span(data-i18n='settings-rule-no-power-points') No Power Points (SWADE 140)
      input(type='checkbox',
            name='attr_toggle_pp',
            class='sheet-checkbox')

    label.sheet-settings__item
      span(data-i18n='settings-function-running-ignores-wounds') Running Ignores Wounds
      input(type='checkbox',
            name='attr_toggle_run_wounds',
            class='sheet-checkbox')

    label.sheet-settings__item
      span(data-i18n='settings-function-running-applies-fatigue') Running Applies Fatigue
      input(type='checkbox',
            name='attr_toggle_run_fatigue',
            class='sheet-checkbox')

    label.sheet-settings__item
      span(data-i18n='settings-function-silhouette-markers') Silhouette Markers
      input(type='checkbox',
            name='attr_toggle_silhouette_markers',
            checked=true,
            class='sheet-checkbox')

    label.sheet-settings__item
      span(data-i18n='settings-function-skill-markers') Skill Markers
      input(type='checkbox',
            name='attr_toggle_skill_markers',
            checked=true,
            class='sheet-checkbox')

    - var i = 0

    while i < 3
      - ++i

      label.sheet-settings__item.sheet-settings__item--text-input.sheet-settings__item--textarea
        span(data-i18n=`settings-custom-button-${i}-label`)= `Custom Button #${i}`
        input(type='text',
              name=`attr_rename_custom_button_${i}`,
              placeholder='UnShake/Detox/etc.',
              data-i18n-placeholder='settings-custom-buttons-placeholder',
              value= i == 1 ? 'UnShake' : `Button #${i}`,
              spellcheck='false',
              class='sheet-align-left')
        input(type='checkbox',
              name=`attr_toggle_custom_button_${i}`,
              class='sheet-checkbox sheet-settings__textarea-toggle')
        textarea(name=`attr_custom_button_${i}_macro`, spellcheck='false')
          !=`@{gm_roll} &{template:TraitRoll} {{header=@{name} ^{rolls} @{rename_spirit}}} {{trait=@{rename_spirit}}} {{traitdie=@{spirit}}} {{flat=@{spirit_mod}}} {{wounds=[[ @{wound_mod} ]]}} {{fatigue=[[ @{fatigue_mod} ]]}} {{modifier=?{@{query_modifier}|0}}} {{traitroll1=[[ @{spirit_roll}!cs2 @{spirit_mod} - @{fatigue_mod} - @{wound_mod} + ?{@{query_modifier}|0} ]]}} {{wd=@{spirit_wd}}} {{wdroll=[[ @{spirit_wd_roll}!cs2 @{spirit_mod} - @{fatigue_mod} - @{wound_mod} + ?{@{query_modifier}|0} ]]}} @{spirit_global_wd_roll} @{spirit_global_bonus_wd_roll}`

  .sheet-settings__page.sheet-settings__page--blocks
    label.sheet-settings__item.sheet-settings__item--text-input
      span(data-i18n='settings-abilities-label') Abilities
      input(type='text',
            name='attr_rename_block_abilities',
            placeholder='Abilities',
            data-i18n-placeholder='abilities',
            value='Abilities',
            spellcheck='false',
            class='sheet-align-left')
      input(type='checkbox',
            name='attr_toggle_abilities_block',
            class='sheet-checkbox')

    label.sheet-settings__item.sheet-settings__item--text-input
      span(data-i18n='settings-allies-label') Allies
      input(type='text',
            name='attr_rename_block_allies',
            placeholder='Allies',
            data-i18n-placeholder='allies',
            value='Allies',
            spellcheck='false',
            class='sheet-align-left')
      input(type='checkbox',
            name='attr_toggle_allies_block',
            class='sheet-checkbox')

    label.sheet-settings__item.sheet-settings__item--text-input
      span(data-i18n='settings-ammunition-label') Ammunition
      input(type='text',
            name='attr_rename_block_ammunition',
            placeholder='Ammunition',
            data-i18n-placeholder='ammunition',
            value='Ammunition',
            spellcheck='false',
            class='sheet-align-left')
      input(type='checkbox',
            name='attr_toggle_ammunition_block',
            checked=true,
            class='sheet-checkbox')

    - var i = 0

    while i < 3
      - ++i

      label.sheet-settings__item.sheet-settings__item--text-input
        span(data-i18n=`settings-ammunition-container-${i}`)= `Ammo #${i}`
        input(type='text',
              name=`attr_rename_ammunition_container_${i}`,
              placeholder=`Ammo #${i}`,
              data-i18n-placeholder=`settings-ammunition-container-${i}`,
              value=`Ammo #${i}`,
              spellcheck='false',
              class='sheet-align-left')
        span p

    label.sheet-settings__item.sheet-settings__item--text-input
      span(data-i18n='settings-apparel-label') Apparel
      input(type='text',
            name='attr_rename_block_apparel',
            placeholder='Apparel',
            data-i18n-placeholder='apparel',
            value='Apparel',
            spellcheck='false',
            class='sheet-align-left')
      input(type='checkbox',
            name='attr_toggle_apparel_block',
            checked=true,
            class='sheet-checkbox')

    label.sheet-settings__item.sheet-settings__item--text-input
      span(data-i18n='settings-augmentations-label') Augmentations
      input(type='text',
            name='attr_rename_block_augmentations',
            placeholder='Augmentations',
            data-i18n-placeholder='augmentations',
            value='Augmentations',
            spellcheck='false',
            class='sheet-align-left')
      input(type='checkbox',
            name='attr_toggle_augmentations_block',
            checked=true,
            class='sheet-checkbox')

    label.sheet-settings__item.sheet-settings__item--text-input
      span(data-i18n='settings-engrams-label') Engrams
      input(type='text',
            name='attr_rename_block_engrams',
            placeholder='Engrams',
            data-i18n-placeholder='engrams',
            value='Engrams',
            spellcheck='false',
            class='sheet-align-left')
      input(type='checkbox',
            name='attr_toggle_engrams_block',
            checked=true,
            class='sheet-checkbox')

    label.sheet-settings__item.sheet-settings__item--text-input
      span(data-i18n='settings-integrity-label') Integrity
      input(type='text',
            name='attr_rename_block_integrity',
            placeholder='Integrity',
            data-i18n-placeholder='integrity',
            value='Integrity',
            spellcheck='false',
            class='sheet-align-left')
      input(type='checkbox',
            name='attr_toggle_integrity_block',
            checked=true,
            class='sheet-checkbox')

    label.sheet-settings__item.sheet-settings__item--text-input
      span(data-i18n='settings-powerarmors-label') Power Armors
      input(type='text',
            name='attr_rename_block_powerarmors',
            placeholder='Power Armors',
            data-i18n-placeholder='powerarmors',
            value='Power Armors',
            spellcheck='false',
            class='sheet-align-left')
      input(type='checkbox',
            name='attr_toggle_powerarmors_block',
            class='sheet-checkbox')

    label.sheet-settings__item.sheet-settings__item--text-input
      span(data-i18n='settings-power-energy-label') Power/Energy/Mana
      input(type='text',
            name='attr_rename_block_power',
            placeholder='Power',
            data-i18n-placeholder='power',
            value='Power',
            spellcheck='false',
            class='sheet-align-left')
      input(type='checkbox',
            name='attr_toggle_power_block',
            checked=true,
            class='sheet-checkbox')

    label.sheet-settings__item.sheet-settings__item--text-input
      span(data-i18n='settings-powers-spells-label') Powers/Spells
      input(type='text',
            name='attr_rename_block_powers',
            placeholder='Powers',
            data-i18n-placeholder='powers',
            value='Powers',
            spellcheck='false',
            class='sheet-align-left')
      input(type='checkbox',
            name='attr_toggle_powers_block',
            class='sheet-checkbox')

    label.sheet-settings__item.sheet-settings__item--text-input
      span(data-i18n='settings-quick-notes-label') Quick Notes
      input(type='text',
            name='attr_rename_block_quick_notes',
            placeholder='Quick Notes',
            data-i18n-placeholder='quick-notes',
            value='Quick Notes',
            spellcheck='false',
            class='sheet-align-left')
      input(type='checkbox',
            name='attr_toggle_quick_notes_block',
            checked=true,
            class='sheet-checkbox')

    label.sheet-settings__item.sheet-settings__item--text-input
      span(data-i18n='settings-vehicles-label') Vehicles
      input(type='text',
            name='attr_rename_block_vehicles',
            placeholder='Vehicles',
            data-i18n-placeholder='vehicles',
            value='Vehicles',
            spellcheck='false',
            class='sheet-align-left')
      input(type='checkbox',
            name='attr_toggle_vehicles_block',
            class='sheet-checkbox')

    label.sheet-settings__item.sheet-settings__item--text-input
      span(data-i18n='settings-walkers-label') Walkers
      input(type='text',
            name='attr_rename_block_walkers',
            placeholder='Walkers',
            data-i18n-placeholder='walkers',
            value='Walkers',
            spellcheck='false',
            class='sheet-align-left')
      input(type='checkbox',
            name='attr_toggle_walkers_block',
            class='sheet-checkbox')

    label.sheet-settings__item.sheet-settings__item--text-input
      span(data-i18n='settings-weapons-label') Weapons
      input(type='text',
            name='attr_rename_block_weapons',
            placeholder='Weapons',
            data-i18n-placeholder='weapons',
            value='Weapons',
            spellcheck='false',
            class='sheet-align-left')
      input(type='checkbox',
            name='attr_toggle_weapons_block',
            checked=true,
            class='sheet-checkbox')

  .sheet-settings__page.sheet-settings__page--skills
    -
      var skills = ['Battle', 'Boating', 'Driving', 'Electronics', 'Faith', 'Focus',
                    'Gambling', 'Hacking', 'Healing', 'Language', 'MAGIC', 'Occult',
                    'Performance', 'Piloting', 'Psionics', 'Repair', 'Research',
                    'Riding', 'Science', 'Spellcasting', 'Survival', 'Taunt',
                    'Weird Science', 'Custom Skill 1', 'Custom Skill 2',
                    'Custom Skill 3', 'Custom Skill 4', 'Custom Skill 5',
                    'Custom Skill 6']

      var disabledSkills = ['Faith', 'Focus', 'Occult', 'Psionics', 'Language',
                            'Spellcasting', 'Weird Science', 'Custom Skill 1',
                            'Custom Skill 2', 'Custom Skill 3', 'Custom Skill 4',
                            'Custom Skill 5', 'Custom Skill 6']

    each skill in skills
      - var substring = skill.toLowerCase().replace(/ /g, '_').replace(/#/g, '')

      label.sheet-settings__item.sheet-settings__item--text-input
        span(data-i18n=`${substring.replace(/_/g, '-')}`)= skill
        input(type='text',
              name=`attr_rename_${substring}`,
              placeholder=skill,
              data-i18n-placeholder=`${substring.replace(/_/g, '-')}`,
              value=skill,
              spellcheck='false',
              class='sheet-align-left')
        input(type='checkbox',
              name=`attr_toggle_skill_${substring}`,
              checked= !disabledSkills.includes(skill),
              class='sheet-checkbox')

  .sheet-settings__page.sheet-settings__page--help
    .sheet-settings__item.sheet-settings__item--help
      span(data-i18n='settings-help-ammunition') Ammunition
      input(type='checkbox',
            class='sheet-toggle sheet-toggle--spoiler')
      .sheet-bottom(data-i18n='settings-help-ammunition-description') You can keep track of up to three named "magazines" in the Ammunition block. The buttons allow you to quickly add to or subtract from the values. You can save a value with [S] and restore it with [R].

    .sheet-settings__item.sheet-settings__item--help
      span(data-i18n='settings-help-armor-and-notes') Armor & Notes
      input(type='checkbox',
            class='sheet-toggle sheet-toggle--spoiler')
      .sheet-bottom(data-i18n='settings-help-armor-and-notes-description') Enter your Armor ratings for the corresponding limbs. They are not self-calculating since there are too many factors; this is more convenient. You can add notes for Resistances, circumstance modifiers, or relevant augmentations such as subdermal armor to keep things in one place.

    .sheet-settings__item.sheet-settings__item--help
      span(data-i18n='settings-help-attribute-reference') Attribute Reference
      input(type='checkbox',
            class='sheet-toggle sheet-toggle--spoiler')
      .sheet-bottom(data-i18n='settings-help-attribute-reference-description') The attributes of this sheet follow a simple naming pattern and can be easily derived from their labels. Just remove any dots or special characters, expand abbreviations, convert to lowercase, and replace whitespaces with underscores (_). Adjacent attributes are appended with hyphens as well. So "Agility" becomes @{agility}, @{agility_mod}, @{agility_wd}, @{agility_extra_wd} (for extras only), and @{agility_natural}. "Tough." becomes @{toughness} and Armor is referenced with @{armor_head|_torso|_arms|_legs}. English only!

    .sheet-settings__item.sheet-settings__item--help
      span(data-i18n='settings-help-weapon-damage-rolls') Damage Rolls
      input(type='checkbox',
            class='sheet-toggle sheet-toggle--spoiler')
      .sheet-bottom(data-i18n='settings-help-weapon-damage-rolls-description') You can enable damage rolls for list items by clicking the damage label. This will disable editing. Note that the dice codes must be valid, but you can use "Str" or "Agi" (etc.) as shorthands to reference attributes. The parser is not smart, however, so please also refer to the Roll20 Dice Reference.

    .sheet-settings__item.sheet-settings__item--help
      span(data-i18n='settings-help-edges-and-hindrances') Edges & Hindrances
      input(type='checkbox',
            class='sheet-toggle sheet-toggle--spoiler')
      .sheet-bottom(data-i18n='settings-help-edges-and-hindrances-description') Manage your Edges and Hindrances here. They follow a horizontal masonry layout to save space and remain visible for convenience. The width is automatically adjusted once you press enter and you can cycle through colored labels to indicate Rank, type, and more. Sorting is wonky though.
      
    .sheet-settings__item.sheet-settings__item--help
      span(data-i18n='settings-help-extra-sheet') Extra Sheet
      input(type='checkbox',
            class='sheet-toggle sheet-toggle--spoiler')
      .sheet-bottom(data-i18n='settings-help-extra-sheet-description') For non-player characters, you can change the layout to a more compact alternative with the switch right above the sheet. This version lacks many features but is primed for Extras without Wild Die. Of course, you can add Wild Dice if needed. Edit Traits by clicking on their die, opening a small menu, and roll with the label. Hovering reveals buttons for direct die rolls. Add skills by clicking the framed pencil icon in the header. Lists work as usual.

    .sheet-settings__item.sheet-settings__item--help
      span(data-i18n='settings-help-helper-buttons') Helper Buttons
      input(type='checkbox',
            class='sheet-toggle sheet-toggle--spoiler')
      .sheet-bottom(data-i18n='settings-help-helper-buttons-description') The buttons above the skill section provide selected actions and convenience functions. The dice roller input is parsed, so you can write codes like "Sma+2d6". You may also use references such as @{athletics} or macros, but beware that the parser is not smart. Hidden rolls are sent only to the GM. The toggles can enable/disable additional roll queries for the whole sheet.

    .sheet-settings__item.sheet-settings__item--help
      span(data-i18n='settings-help-hexagon-fields') Hexagon Fields
      input(type='checkbox',
            class='sheet-toggle sheet-toggle--spoiler')
      .sheet-bottom(data-i18n='settings-help-hexagon-fields-description') Your attributes and secondary statistics. They either accept dice codes (d4 to d12) or integers. Positive modifiers are automatically prefixed. Hovering reveals additional fields that are otherwise invisible until relevant. You can leave them empty to use defaults, such as a d6 as Wild Die. The Wild Die can be disabled with "n/a". The labels act as roll buttons.
      
    .sheet-settings__item.sheet-settings__item--help
      span(data-i18n='settings-help-list-item-options') List Item Options
      input(type='checkbox',
            class='sheet-toggle sheet-toggle--spoiler')
      .sheet-bottom(data-i18n='settings-help-list-item-options-description')!= 'Interactive list items, such as weapons and powers, come with options. When the item is folded out, you can access them via the gear icon. Typical options include toggles for buttons and fields, but some also allow to override the Wild Die and more. Mind that the inputs are <i>not</i> validated; do not enter nonsense!'

    .sheet-settings__item.sheet-settings__item--help
      span(data-i18n='settings-help-raise-damage') Raise Damage
      input(type='checkbox',
            class='sheet-toggle sheet-toggle--spoiler')
      .sheet-bottom(data-i18n='settings-help-raise-damage-description') There is no general function or field to apply raise damage since this modifier is too flexible. But nothing can stop you from entering "d6!" when prompted for a damage modifier. You could also add "2d4!+2" or whatever may apply in your case. Do not forget to add the exclamation mark after the die or the roll will not explode.

    .sheet-settings__item.sheet-settings__item--help
      span(data-i18n='settings-help-rate-of-fire') Rate of Fire (Multiple Dice)
      input(type='checkbox',
            class='sheet-toggle sheet-toggle--spoiler')
      .sheet-bottom(data-i18n='settings-help-rate-of-fire-description') To roll multiple skill dice, you have two options. If you lock the skills, you can click directly on the desired die bubble, always prompting you to enter the Rate of Fire. Alternatively, you can toggle the [Query RoF] helper button, enabling the feature for the whole sheet.

    .sheet-settings__item.sheet-settings__item--help
      span(data-i18n='settings-help-roll-injections') Roll Injections
      input(type='checkbox',
            class='sheet-toggle sheet-toggle--spoiler')
      .sheet-bottom(data-i18n='settings-help-roll-injections-description')!= '<div><p>When you enable the option under Setup, you can append and toggle custom code to list item rolls. Mind that the inputs are <i>not</i> validated; do not enter nonsense! Following is a collection of useful template hooks.</p><ul><li><b>{{header}}</b>Header content like \"X rolls Y\"</li><li><b>{{description}}</b>Italic text shown below the header</li><li><b>{{reroll}}</b>Link of the reroll button</li><li><b>{{damageroll}}</b>Link of the damage button</li><li><b>{{source_label}}</b>Label for the source, e.g. \"Weapon\"</li><li><b>{{source}}</b>Content of the source, e.g. \"Pistol\"</li><li><b>{{trait}}</b>Name of the Trait rolled</li><li><b>{{traitdie}}</b>Die of the Trait rolled</li><li><b>{{flat}}</b>Modifier of the Trait rolled</li><li><b>{{wd}}</b>Wild Die of the Trait rolled</li><li><b>{{commander}}</b>Commander of an ally</li><li><b>{{modifier}}</b>Queried modifier for the roll</li><li><b>{{rof}}</b>Rate of Fire as inline roll, e.g. [[ 1 ]]</li><li><b>{{wounds}}</b>Wound penalty applied to the roll</li><li><b>{{fatigue}}</b>Fatigue penalty applied to the roll</li><li><b>{{custom#_label}}</b>[1-3] Label for freeform content</li><li><b>{{custom#}}</b>[1-3] Freeform content</li><li><b>{{wdroll}}</b>Inline roll of the Wild Die (> -1001)</li><li><b>{{traitroll#}}</b>[1-8] Inline roll(s) of the Trait(s)</li></ul></div>'

    .sheet-settings__item.sheet-settings__item--help
      span(data-i18n='settings-help-silhouette') Silhouette
      input(type='checkbox',
            class='sheet-toggle sheet-toggle--spoiler')
      .sheet-bottom(data-i18n='settings-help-silhouette-description') Choose your silhouette; it looks fancy! You can set color markers all over the silhouette for any purpose, indicating augmentations or injuries or whatever you like.

    .sheet-settings__item.sheet-settings__item--help
      span(data-i18n='settings-help-skill-tracks') Skill Tracks
      input(type='checkbox',
            class='sheet-toggle sheet-toggle--spoiler')
      .sheet-bottom(data-i18n='settings-help-skill-tracks-description') Enter your skill die by clicking on the corresponding bubble (d4-2 to d12). The skill name will darken once you become trained and acts as roll button. You can enter a modifier and custom Wild Die or leave these fields empty to use defaults; the Wild Die can be disabled with "n/a". Positive modifiers are automatically prefixed. On the far right, you can set a color marker for any purpose.

    .sheet-settings__item.sheet-settings__item--help
      span(data-i18n='settings-help-track-rolls') Track Rolls
      input(type='checkbox',
            class='sheet-toggle sheet-toggle--spoiler')
      .sheet-bottom(data-i18n='settings-help-track-rolls-description')!= 'When you lock the skill tracks with the icon in the top-right corner above the color marker column, you can click on the bubbles to roll the corresponding die independently. This is useful for effects that dynamically alter your skill die, such as <i>boost/lower trait</i>.'

    .sheet-settings__item.sheet-settings__item--help
      span(data-i18n='settings-help-vehicles-and-more') Vehicles & More
      input(type='checkbox',
            class='sheet-toggle sheet-toggle--spoiler')
      .sheet-bottom(data-i18n='settings-help-vehicles-and-more-description') You can enable blocks for vehicles and other vessels in the Blocks tab under Settings. The silhouette of vehicles can be cycled through by clicking; the switch can take a moment. Both blocks can display weapons by adding a number to the corresponding attribute (0-10).
