- // Global variables
- var maxRof = [...Array(8).keys()].map(n => ++n)

include _common_fields.pug
include _mixin_attribute.pug
include _mixin_hexfield.pug
include _mixin_color_circle.pug
include _mixin_meta_field.pug
include _mixin_vehicle_weapons_sub_list.pug
include _mixin_simple_trait.pug

.sheet-wrapper
  input(type='checkbox',
        name='attr_toggle_style_grid',
        checked=true,
        class='sheet-hidden sheet-toggle-grid')

  input(type='checkbox',
        name='attr_toggle_style_dark_labels',
        class='sheet-hidden sheet-toggle-dark-labels')

  input(type='checkbox',
        name='attr_toggle_style_corners',
        checked=true,
        class='sheet-hidden sheet-toggle-corners')

  input(type='checkbox',
        name='attr_toggle_style_transitions',
        checked=true,
        class='sheet-hidden sheet-toggle-transitions')

  input(type='checkbox',
        name='attr_toggle_style_delays',
        checked=true,
        class='sheet-hidden sheet-toggle-delays')

  input(type='checkbox',
        name='attr_toggle_style_roboto',
        checked=true,
        class='sheet-hidden sheet-toggle-roboto')

  input(type='checkbox',
        name='attr_toggle_skill_die_numbers',
        checked=true,
        class='sheet-hidden sheet-toggle-skill-die-numbers')

  input(type='radio',
        name='attr_sheet_variant',
        value='wildcard',
        checked=true,
        class='sheet-variant-radio sheet-variant-radio--wildcard')

  input(type='radio',
        name='attr_sheet_variant',
        value='extra',
        class='sheet-variant-radio sheet-variant-radio--extra')

  .sheet-body
    .sheet-wildcard
      .sheet-section.sheet-section--header
        .sheet-left
          include _meta.pug
        .sheet-right
          include _buttons.pug
      .sheet-section.sheet-section--center
        .sheet-left
          .sheet-section--traits
            include _attributes.pug
            include _secondary.pug
            include _armor.pug
            include _silhouette.pug
          .sheet-section--features
            include _features.pug
          .sheet-section--resources
            include _health.pug
            include _power.pug
        .sheet-right.sheet-sans
          include _tabs.pug
          include _skills.pug
          include _notebook.pug
          include _advancements.pug
          include _settings.pug

      .sheet-section.sheet-section--footer
        .sheet-left
          include _abilities.pug
          include _weapons.pug
          include _apparel.pug
          include _integrity.pug
          include _augmentations.pug
          include _engrams.pug
          include _powers.pug
          include _vehicles.pug
          include _walkers.pug
          include _powerarmor.pug
          include _allies.pug
        .sheet-right
          include _ammunition.pug
          include _quick_notes.pug
          include _encumbrance.pug
          include _inventory.pug

    .sheet-extra
      include _extra_sheet.pug

  include _roll_template.pug
