input(type='checkbox',
      name='attr_toggle_silhouette_markers',
      checked=true,
      class='sheet-hidden sheet-toggle-silhouette-markers')

.sheet-silhouette
  input(type='checkbox',
        name='attr_silhouette_selection',
        class='sheet-silhouette__switch')

  .sheet-silhouette__image

  +color_circle('head', 'sheet-silhouette__head')
  +color_circle('torso_upper', 'sheet-silhouette__torso-upper')
  +color_circle('torso_lower', 'sheet-silhouette__torso-lower')
  +color_circle('left_arm_upper', 'sheet-silhouette__left-arm-upper')
  +color_circle('left_arm_lower', 'sheet-silhouette__left-arm-lower')
  +color_circle('left_hand', 'sheet-silhouette__left-hand')
  +color_circle('right_arm_upper', 'sheet-silhouette__right-arm-upper')
  +color_circle('right_arm_lower', 'sheet-silhouette__right-arm-lower')
  +color_circle('right_hand', 'sheet-silhouette__right-hand')
  +color_circle('left_leg_upper', 'sheet-silhouette__left-leg-upper')
  +color_circle('left_leg_lower', 'sheet-silhouette__left-leg-lower')
  +color_circle('right_leg_upper', 'sheet-silhouette__right-leg-upper')
  +color_circle('right_leg_lower', 'sheet-silhouette__right-leg-lower')
