-
  var skills = [['Academics', 'Sma'], ['Athletics', 'Agi'], ['Battle', 'Sma'],
                ['Boating', 'Agi'], ['Common Knowledge', 'Sma'], ['Driving', 'Agi'],
                ['Electronics', 'Sma'], ['Faith', 'Spi'], ['Fighting', 'Agi'],
                ['Focus', 'Spi'], ['Gambling', 'Sma'], ['Hacking', 'Sma'],
                ['Healing', 'Sma'], ['Intimidation', 'Spi'], ['Language', 'Sma'],
                ['MAGIC', 'Sma'], ['Notice', 'Sma'], ['Occult', 'Sma'],
                ['Performance', 'Spi'], ['Persuasion', 'Spi'], ['Piloting', 'Agi'],
                ['Psionics', 'Sma'], ['Repair', 'Sma'], ['Research', 'Sma'],
                ['Riding', 'Agi'], ['Science', 'Sma'], ['Shooting', 'Agi'],
                ['Spellcasting', 'Sma'], ['Stealth', 'Agi'], ['Survival', 'Sma'],
                ['Taunt', 'Sma'], ['Thievery', 'Agi'], ['Weird Science', 'Sma'],
                ['Custom Skill 1', 'Custom'], ['Custom Skill 2', 'Custom'],
                ['Custom Skill 3', 'Custom'], ['Custom Skill 4', 'Custom'],
                ['Custom Skill 5', 'Custom'], ['Custom Skill 6', 'Custom']]

  var disabledSkills = ['faith', 'focus', 'language', 'occult', 'psionics',
                        'spellcasting', 'weird_science', 'custom_skill_1',
                        'custom_skill_2', 'custom_skill_3', 'custom_skill_4',
                        'custom_skill_5', 'custom_skill_6']

  var steps = [['d4-2', '2'], ['d4', '4'], ['d6', '6'],
               ['d8', '8'], ['d10', '10'], ['d12', '12']].reverse()

input(type='checkbox',
      name='attr_toggle_skill_markers',
      checked=true,
      class='sheet-hidden sheet-toggle-skill-markers')

.sheet-skills
  input(type='checkbox', name='attr_skill_lock', class='sheet-skills__lock')

  .sheet-skills__wrapper
    .sheet-header
      .sheet-header__labels
        .sheet-skills__die
          span(data-i18n='die-button-number-2') 2
        .sheet-skills__die
          span(data-i18n='die-button-number-4') 4
        .sheet-skills__die
          span(data-i18n='die-button-number-6') 6
        .sheet-skills__die
          span(data-i18n='die-button-number-8') 8
        .sheet-skills__die
          span(data-i18n='die-button-number-10') 10
        .sheet-skills__die.sheet-a
          span(data-i18n='die-button-number-12') 12
        .sheet-skills__plus
        .sheet-skills__mod
          span(data-i18n='skill-track-mod-u') MOD
        .sheet-skills__wd
          span(data-i18n='skill-track-wd-u') WD

    each skill in skills
      - var trait = skill[0].toLowerCase().replace(/\./g, '').replace(/ /g, '_')

      input(type='checkbox',
            name=`attr_toggle_skill_${trait}`,
            checked= !disabledSkills.includes(trait),
            class='sheet-toggle sheet-toggle--block')

      .sheet-skills__skill(class=`sheet-skills__skill--${trait}`)
        .sheet-skills__color-marker
          +color_circle(trait)
          
        input(type='text',
              name=`attr_${trait}_wd`,
              placeholder='WD',
              data-i18n-placeholder='skill-track-wd-placeholder-u',
              class='sheet-skills__wd')

        input(type='text',
              name=`attr_${trait}_mod`,
              placeholder='MOD',
              data-i18n-placeholder='skill-track-mod-placeholder-u',
              class='sheet-skills__mod')

        .sheet-skills__plus +

        .sheet-skills__track
          each step in steps
            - var die = step[1] == '2' ? 'd4' : `d${step[1]}`
            - var ajdUntr = step[1] == '2' ? '@{adjust_untrained}' : ''
            - var untrained = step[1] == '2' ? '-2@{adjust_untrained}' : '0'

            input(type='radio',
                  name=`attr_${trait}`,
                  value=step[0],
                  label=step[0].replace('d', ''),
                  data-i18n-label=`skill-track-die-label-${step[0]}`,
                  class=`sheet-radio-track sheet-${step[0]}`,
                  checked= step[0] == 'd4-2')

            - // Track roll
            button(type='roll',
                   name=`roll_${trait}_${step[1]}`,
                   value!= `@{gm_roll} &{template:TraitRoll} {{rof=[[ 0 + ?{@{query_rate_of_fire}|1}} ]]}} {{header=@{name} ^{rolls} @{rename_${trait}}}} {{trait=@{rename_${trait}}}} {{traitdie=${step[0]}}} {{flat=@{${trait}_mod}${ajdUntr}}} {{wounds=[[ @{wound_mod} ]]}} {{fatigue=[[ @{fatigue_mod} ]]}} {{modifier=?{@{query_modifier}|0}}} ${maxRof.map(n => `{{traitroll${n}=[[ ${die}!cs2 + (${untrained})[Untrained] + (@{${trait}_mod}+0)[Flat] - (@{fatigue_mod})[Fatigue] - (@{wound_mod})[Wounds] + (?{@{query_modifier}|0})[Modifier] ]]}}`).join(' ')} {{global_wd=@{query_global_wd}}} {{global_wdroll=[[ @{query_global_wd}!cs2 + (${untrained})[Untrained] + (@{${trait}_mod}+0)[Flat] - (@{fatigue_mod})[Fatigue] - (@{wound_mod})[Wounds] + (?{@{query_modifier}|0})[Modifier] ]]}} {{bonus_wd=@{query_global_bonus_wd}}} {{bonus_wdroll=[[ @{query_global_bonus_wd}!cs2 + (${untrained})[Untrained] + (@{${trait}_mod}+0)[Flat] - (@{fatigue_mod})[Fatigue] - (@{wound_mod})[Wounds] + (?{@{query_modifier}|0})[Modifier] ]]}} {{wd=@{${trait}_wd}}} {{wdroll=[[ @{${trait}_wd_roll}!cs2 + (${untrained})[Untrained] + (@{${trait}_mod}+0)[Flat] - (@{fatigue_mod})[Fatigue] - (@{wound_mod})[Wounds] + (?{@{query_modifier}|0})[Modifier] ]]}} {{reroll=[r](~${trait}_${step[1]})}}`,
                   class='sheet-skills__step-button')
              .sheet-tooltip.sheet-tooltip--top
                span(data-i18n='roll-tooltip-prefix') Roll 
                span= `${step[0]} (`
                span(data-i18n='roll-tooltip-suffix') RoF 
                span= `1-${maxRof.length})`

          input(type='hidden',
                name=`attr_rename_${trait}`,
                value= skill[0] == 'Common Knowledge' ? 'Common Knowl.' : skill[0])

          input(type='hidden', name=`attr_${trait}_untrained_mod`, value='-2@{adjust_untrained}')
          input(type='hidden', name=`attr_${trait}_roll`, value='d4')
          input(type='hidden', name=`attr_${trait}_wd_roll`, value='d6')
          input(type='hidden', name=`attr_${trait}_extra_wd_roll`, value='-10000')
          input(type='hidden', name=`attr_${trait}_code`, value='d4-2')

          input(type='hidden', name=`attr_${trait}_global_wd_roll`, value=`{{global_wd=@{query_global_wd}}} {{global_wdroll=[[ @{query_global_wd}!cs2 + (@{${trait}_untrained_mod})[Untrained] + (@{${trait}_mod}+0)[Flat] - (@{fatigue_mod})[Fatigue] - (@{wound_mod})[Wounds] + (?{@{query_modifier}|0})[Modifier] ]]}}`)

          input(type='hidden', name=`attr_${trait}_global_bonus_wd_roll`, value=`{{bonus_wd=@{query_global_bonus_wd}}} {{bonus_wdroll=[[ @{query_global_bonus_wd}!cs2 + (@{${trait}_untrained_mod})[Untrained] + (@{${trait}_mod}+0)[Flat] - (@{fatigue_mod})[Fatigue] - (@{wound_mod})[Wounds] + (?{@{query_modifier}|0})[Modifier] ]]}}`)

          input(type='hidden',
                name=`attr_${trait}_roll_body`,
                value!=`@{gm_roll} &{template:TraitRoll} {{rof=[[ 0 + @{query_global_rof} ]]}} {{header=@{name} ^{rolls} @{rename_${trait}}}} {{trait=@{rename_${trait}}}} {{traitdie=@{${trait}_code}}} {{wounds=[[ @{wound_mod} ]]}} {{fatigue=[[ @{fatigue_mod} ]]}} {{modifier=?{@{query_modifier}|0}}} ${maxRof.map(n => `{{traitroll${n}=[[ @{${trait}_roll}!cs2 + (@{${trait}_untrained_mod})[Untrained] + (@{${trait}_mod}+0)[Flat] - (@{fatigue_mod})[Fatigue] - (@{wound_mod})[Wounds] + (?{@{query_modifier}|0})[Modifier] ]]}}`).join(' ')} @{${trait}_global_wd_roll} @{${trait}_global_bonus_wd_roll}`)

          -// Label roll; the modifier needs the +0 to work if empty!
          button(type='roll',
                 name=`roll_${trait}`,
                 value!=`@{${trait}_roll_body} {{wd=@{${trait}_wd}}} {{wdroll=[[ @{${trait}_wd_roll}!cs2 + (@{${trait}_untrained_mod})[Untrained] + (@{${trait}_mod}+0)[Flat] - (@{fatigue_mod})[Fatigue] - (@{wound_mod})[Wounds] + (?{@{query_modifier}|0})[Modifier] ]]}} {{reroll=[r](~${trait})}}`,
                 class='sheet-skills__button')
            .sheet-tooltip.sheet-tooltip--left
              span(name=`attr_rename_${skill[1].toLowerCase()}`,
                   data-i18n=`${skill[1].toLowerCase()}-u`)= skill[1]
            span(name=`attr_rename_${trait}`)
              = skill[0] == 'Common Knowledge' ? 'Common Knowl.' : skill[0]
