.sheet-sans-tab-line
input(type='radio',
      name='attr_sans_tabs',
      value='skills',
      label='Skills',
      data-i18n-label='tab-skills',
      checked=true)

input(type='radio',
      name='attr_sans_tabs',
      value='advancements',
      label='Advancements',
      data-i18n-label='tab-advancements')

input(type='radio',
      name='attr_sans_tabs',
      value='notebook',
      label='Notebook',
      data-i18n-label='tab-notebook')

input(type='radio',
      name='attr_sans_tabs',
      value='settings',
      label='Settings',
      data-i18n-label='tab-settings')
