.sheet-san-tabs
input(type='radio',
      name='attr_sans-tabs',
      value='skills',
      checked=true,
      class='sheet-tab sheet-tab--skills')

input(type='radio',
      name='attr_sans-tabs',
      value='advancements',
      class='sheet-tab sheet-tab--advancements')
      
input(type='radio',
      name='attr_sans-tabs',
      value='notebook',
      class='sheet-tab sheet-tab--notebook')

input(type='radio',
      name='attr_sans-tabs',
      value='settings',
      class='sheet-tab sheet-tab--settings')
