.sheet-san-tabs
input(type='radio',
      name='attr_sans_tabs',
      value='skills',
      label='Skills',
      data-i18n-label='tab-skills',
      checked=true,
      class='sheet-tab sheet-tab--skills')

input(type='radio',
      name='attr_sans_tabs',
      value='advancements',
      label='Advancements',
      data-i18n-label='tab-advancements',
      class='sheet-tab sheet-tab--advancements')

input(type='radio',
      name='attr_sans_tabs',
      value='notebook',
      label='Notebook',
      data-i18n-label='tab-notebook',
      class='sheet-tab sheet-tab--notebook')

input(type='radio',
      name='attr_sans_tabs',
      value='settings',
      label='Settings',
      data-i18n-label='tab-settings',
      class='sheet-tab sheet-tab--settings')
