input(type='checkbox',
      name='attr_toggle-vehicles-block',
      checked=false,
      class='sheet-toggle sheet-toggle--block')

.sheet-block.sheet-vehicles
  .sheet-header
    .sheet-header__title.sheet-vehicles__name
      span(name='attr_rename-block-vehicles', data-i18n='vehicles') Vehicles
    .sheet-header__labels
      .sheet-vehicles__size
        span(data-i18n='vehicles-size') Size
      .sheet-vehicles__handling
        span(data-i18n='vehicles-handling') Handling
      .sheet-vehicles__speed
        span(data-i18n='vehicles-speed') Speed
      .sheet-vehicles__toughness
        span(data-i18n='vehicles-toughness') Tough.
      .sheet-vehicles__crew
        span(data-i18n='vehicles-crew') Crew
      .sheet-vehicles__weapons
        span(data-i18n='vehicles-weapons') Weap.

  input(type='checkbox',
        name='attr_vehicles-visibility-toggle',
        checked=true,
        class='sheet-toggle sheet-toggle--visibility')

  fieldset.repeating_vehicles
    .sheet-repitem
      .sheet-repitem__primary
        input(type='text',
              name='attr_vehicle-name',
              placeholder='Vehicle Type',
              data-i18n-placeholder='vehicles-name-placeholder',
              spellcheck='false',
              class='sheet-align-left sheet-vehicles__name sheet-stretch')

        input(type='text',
              name='attr_vehicle-size',
              placeholder='3',
              data-i18n-placeholder='vehicles-size-placeholder',
              spellcheck='false',
              class='sheet-vehicles__size')

        input(type='text',
              name='attr_vehicle-handling',
              placeholder='0',
              data-i18n-placeholder='vehicles-handling-placeholder',
              spellcheck='false',
              class='sheet-vehicles__handling')

        input(type='text',
              name='attr_vehicle-speed',
              placeholder='80',
              data-i18n-placeholder='vehicles-speed-placeholder',
              spellcheck='false',
              class='sheet-vehicles__speed')

        input(type='text',
              name='attr_vehicle-toughness',
              placeholder='4 (0)',
              data-i18n-placeholder='vehicles-toughness-placeholder',
              spellcheck='false',
              class='sheet-vehicles__toughness')

        input(type='text',
              name='attr_vehicle-crew',
              placeholder='1+3',
              data-i18n-placeholder='vehicles-crew-placeholder',
              spellcheck='false',
              class='sheet-vehicles__crew')

        input(type='text',
              name='attr_vehicle-weapons-count',
              placeholder='0',
              data-i18n-placeholder='vehicles-weapons-placeholder',
              spellcheck='false',
              class='sheet-vehicles__weapons')

      input(type='checkbox',
            name='attr_vehicle-notes-toggle',
            class='sheet-toggle sheet-toggle--arrow')

      .sheet-repitem__frame
        input(type='hidden',
              name='attr_vehicle-silhouette',
              value='0',
              class='sheet-hidden sheet-repitem__frame-silhouette-control')

        .sheet-repitem__frame-silhouette
          input(type='checkbox',
                name='attr_vehicle-silhouette-cycle',
                class='sheet-repitem__frame-silhouette-button')

        .sheet-repitem__frame-build
          textarea(name='attr_vehicle-build',
                   placeholder='Chassis | Modifications, Notes, etc.',
                   data-i18n-placeholder='vehicles-build-placeholder',
                   spellcheck='false')

      input(type='hidden',
            name='attr_vehicle-weapons-count',
            value='0',
            class='sheet-hidden sheet-repitem__weapons-control')

      +vehicle_weapons_sub_list()

  .sheet-footer
