input(type='checkbox',
      name='attr_toggle_vehicles_block',
      checked=false,
      class='sheet-toggle sheet-toggle--block')

.sheet-block.sheet-vehicles
  .sheet-header
    span.sheet-header__title.sheet-vehicles__name(name='attr_rename_block_vehicles', data-i18n='vehicles') Vehicles
    .sheet-header__labels
      .sheet-vehicles__size(data-i18n='vehicles-size') Size
      .sheet-vehicles__handling(data-i18n='vehicles-handling') Handling
      .sheet-vehicles__speed(data-i18n='vehicles-speed') Speed
      .sheet-vehicles__toughness(data-i18n='vehicles-toughness') Tough.
      .sheet-vehicles__crew(data-i18n='vehicles-crew') Crew
      .sheet-vehicles__weapons(data-i18n='vehicles-weapons') Weap.

  input(type='checkbox',
        name='attr_vehicles_visibility_toggle',
        checked=true,
        class='sheet-toggle sheet-toggle--visibility')

  fieldset.repeating_vehicles
    .sheet-repitem
      .sheet-repitem__primary
        input(type='text',
              name='attr_vehicle_name',
              placeholder='Vehicle Type',
              data-i18n-placeholder='vehicles-name-placeholder',
              spellcheck='false',
              class='sheet-align-left sheet-vehicles__name sheet-stretch')

        input(type='text',
              name='attr_vehicle_size',
              placeholder='3',
              spellcheck='false',
              class='sheet-vehicles__size')

        input(type='text',
              name='attr_vehicle_handling',
              placeholder='0',
              spellcheck='false',
              class='sheet-vehicles__handling')

        input(type='text',
              name='attr_vehicle_speed',
              placeholder='80',
              spellcheck='false',
              class='sheet-vehicles__speed')

        input(type='text',
              name='attr_vehicle_toughness',
              placeholder='4 (0)',
              data-i18n-placeholder='vehicles-toughness-placeholder',
              spellcheck='false',
              class='sheet-vehicles__toughness')

        input(type='text',
              name='attr_vehicle_crew',
              placeholder='1+3',
              data-i18n-placeholder='vehicles-crew-placeholder',
              spellcheck='false',
              class='sheet-vehicles__crew')

        input(type='text',
              name='attr_vehicle_weapons_count',
              placeholder='0',
              spellcheck='false',
              class='sheet-vehicles__weapons')

      input(type='checkbox',
            name='attr_vehicle_notes_toggle',
            class='sheet-toggle sheet-toggle--arrow')

      .sheet-repitem__frame
        input(type='hidden',
              name='attr_vehicle_silhouette',
              value='0',
              class='sheet-hidden sheet-repitem__frame-silhouette-control')

        .sheet-repitem__frame-silhouette
          input(type='checkbox',
                name='attr_vehicle_silhouette_cycle',
                class='sheet-repitem__frame-silhouette-button')

        .sheet-repitem__frame-build
          textarea(name='attr_vehicle_build',
                   placeholder='Chassis | Modifications, Notes, etc.',
                   data-i18n-placeholder='vehicles-build-placeholder',
                   spellcheck='false')

      input(type='hidden',
            name='attr_vehicle_weapons_count',
            value='0',
            class='sheet-hidden sheet-repitem__weapons-control')

      +vehicle_weapons_sub_list()

  .sheet-footer
