input(type='checkbox',
      name='attr_toggle_walkers_block',
      checked=false,
      class='sheet-toggle sheet-toggle--block')

.sheet-block.sheet-walkers
  .sheet-header
    span.sheet-header__title.sheet-walkers__name(name='attr_rename_block_walkers', data-i18n='walkers') Walkers
    .sheet-header__labels
      .sheet-walkers__size(data-i18n='walkers-size') Size
      .sheet-walkers__pace(data-i18n='walkers-pace') Pace
      .sheet-walkers__strength(data-i18n='walkers-strength') Strength
      .sheet-walkers__toughness(data-i18n='walkers-toughness') Tough.
      .sheet-walkers__mods(data-i18n='walkers-mods') Mods
      .sheet-walkers__crew(data-i18n='walkers-crew') Crew
      .sheet-walkers__weapons(data-i18n='walkers-weapons') Weap.

  input(type='checkbox',
        name='attr_walkers_visibility_toggle',
        checked=true,
        class='sheet-toggle sheet-toggle--visibility')

  fieldset.repeating_walkers
    .sheet-repitem
      .sheet-repitem__primary
        input(type='text',
              name='attr_walker_name',
              placeholder='Walker Type',
              data-i18n-placeholder='walkers-name-placeholder',
              spellcheck='false',
              class='sheet-align-left sheet-walkers__name sheet-stretch')

        input(type='text',
              name='attr_walker_size',
              placeholder='1',
              spellcheck='false',
              class='sheet-walkers__size')

        input(type='text',
              name='attr_walker_pace',
              placeholder='6',
              spellcheck='false',
              class='sheet-walkers__pace')

        input(type='text',
              name='attr_walker_strength',
              placeholder='d12+4',
              spellcheck='false',
              class='sheet-walkers__strength')

        input(type='text',
              name='attr_walker_toughness',
              placeholder='20 (5)',
              data-i18n-placeholder='walkers-toughness-placeholder',
              spellcheck='false',
              class='sheet-walkers__toughness')

        input(type='text',
              name='attr_walker_mods',
              placeholder='0/20',
              data-i18n-placeholder='walkers-mods-placeholder',
              spellcheck='false',
              class='sheet-walkers__mods')

        input(type='text',
              name='attr_walker_crew',
              placeholder='1',
              spellcheck='false',
              class='sheet-walkers__crew')

        input(type='text',
              name='attr_walker_weapons_count',
              placeholder='0',
              spellcheck='false',
              class='sheet-walkers__weapons')

      input(type='checkbox',
            name='attr_walker_notes_toggle',
            class='sheet-toggle sheet-toggle--arrow')

      .sheet-repitem__frame
        .sheet-repitem__frame-silhouette

        .sheet-repitem__frame-build
          textarea(name='attr_walker_build',
                   placeholder='Chassis | Modifications, Notes, etc.',
                   data-i18n-placeholder='walkers-build-placeholder',
                   spellcheck='false')

      input(type='hidden',
            name='attr_walker_weapons_count',
            value='0',
            class='sheet-hidden sheet-repitem__weapons-control')

      +vehicle_weapons_sub_list()
            
  .sheet-footer
