input(type='checkbox',
      name='attr_toggle_weapons_block',
      checked=true,
      class='sheet-toggle sheet-toggle--block')

.sheet-block.sheet-weapons
  .sheet-header
    span.sheet-header__title.sheet-weapons__name(name='attr_rename_block_weapons', data-i18n='weapons') Weapons
    .sheet-header__labels
      .sheet-weapons__damage
        label(title='Toggle Damage Rolls',
              data-i18n-title='toggle-damage-rolls-title',
              class='sheet-damage-roll-toggle-label')
          input.sheet-hidden(type='checkbox', name='attr_weapons_damage_roll_toggle')
          span.sheet-icon ;
          span(data-i18n='weapons-damage') Damage
      .sheet-weapons__range(data-i18n='weapons-range') Range
      .sheet-weapons__ap(data-i18n='weapons-ap') AP
      .sheet-weapons__rof(data-i18n='weapons-rof') ROF
      .sheet-weapons__shots(data-i18n='weapons-shots') Shots
      .sheet-weapons__weight(data-i18n='weapons-weight') WGT

  input(type='checkbox',
        name='attr_weapons_visibility_toggle',
        checked=true,
        class='sheet-toggle sheet-toggle--visibility')

  input(type='checkbox',
        name='attr_weapons_damage_roll_toggle',
        class='sheet-damage-roll-toggle sheet-hidden')
        
  input(type='checkbox',
        name='attr_toggle_description_input_visibility',
        checked=true,
        class='sheet-toggle-description-input sheet-hidden')

  input(type='checkbox',
        name='attr_toggle_injection_input_visibility',
        class='sheet-toggle-injection-input sheet-hidden')

  fieldset.repeating_weapons
    .sheet-repitem
      .sheet-repitem__primary
        input(type='checkbox',
              name='attr_roll_button_toggle',
              class='sheet-hidden sheet-toggle sheet-toggle--list-roll')

        button(type='roll',
               name='roll_skill',
               value!=`@{skill_roll_body} {{wd=@{skill_wd}}} {{wdroll=[[ @{skill_wd_roll}!cs2 + (@{skill_untrained_mod})[Untrained] + (@{skill_mod}+0)[Flat] + (@{skill_bonus}+0)[Bonus] - (@{fatigue_mod})[Fatigue] - (@{wound_mod})[Wounds] + (?{@{query_modifier}|0})[Modifier] ]]}} @{wd_override} {{reroll=[r](~repeating_weapons_skill)}} {{damageroll=[t](~repeating_weapons_weapon_damage)}} {{description=@{roll_description}}} @{roll_injection}`,
               class='sheet-repitem__skill-roll sheet-repitem__skill-roll--wildcard') 9

        button(type='roll',
               name='roll_extra_skill',
               value!=`@{skill_roll_body} {{wd=@{skill_wd}}} {{wdroll=[[ @{skill_extra_wd_roll}!cs2 + (@{skill_untrained_mod})[Untrained] + (@{skill_mod}+0)[Flat] + (@{skill_bonus}+0)[Bonus] - (@{fatigue_mod})[Fatigue] - (@{wound_mod})[Wounds] + (?{@{query_modifier}|0})[Modifier] ]]}} @{wd_override} {{reroll=[r](~repeating_weapons_skill)}} {{damageroll=[t](~repeating_weapons_weapon_damage)}} {{description=@{roll_description}}} @{roll_injection}`,
               class='sheet-repitem__skill-roll sheet-repitem__skill-roll--extra') 9

        input(type='text',
              name='attr_weapon_name',
              placeholder='Weapon (Ammo)',
              data-i18n-placeholder='weapons-name-placeholder',
              spellcheck='false',
              class='sheet-align-left sheet-weapons__name sheet-stretch')

        .sheet-damage-button-overlay
          input(type='hidden', name='attr_weapon_damage_roll', value='0')

          button(type='roll',
                 name='roll_weapon_damage',
                 value!=`@{gm_roll} &{template:DamageRoll} {{header=@{name} ^{rolls} ^{damage}}} {{code=@{weapon_damage}}} {{source_label=^{weapon}}} {{source=@{weapon_name}}} {{rof=[[ 0 + @{rof_override} ]]}} {{modifier=?{@{query_damage_modifier}}}} {{range=@{weapon_range}}} {{ap=@{weapon_ap}}} {{trapping=@{weapon_trapping}}} ${maxRof.map(n => `{{roll${n}=[[ @{weapon_damage_roll} + (?{@{query_damage_modifier}}+0) ]]}}`).join(' ')} {{reroll=[r](~repeating_weapons_weapon_damage)}}`,
                 class='sheet-button sheet-weapons__damage-button')

          input(type='text',
                name='attr_weapon_damage',
                placeholder='STR+d6',
                data-i18n-placeholder='weapons-damage-placeholder',
                spellcheck='false',
                class='sheet-weapons__damage')

        input(type='text',
              name='attr_weapon_range',
              placeholder='Range/Melee',
              data-i18n-placeholder='weapons-range-placeholder',
              spellcheck='false',
              class='sheet-weapons__range')

        input(type='text',
              name='attr_weapon_ap',
              placeholder='0',
              spellcheck='false',
              class='sheet-weapons__ap')

        input(type='text',
              name='attr_weapon_rof',
              placeholder='1',
              spellcheck='false',
              class='sheet-weapons__rof')

        input(type='text',
              name='attr_weapon_shots',
              placeholder='6',
              spellcheck='false',
              class='sheet-weapons__shots')

        input(type='text',
              name='attr_weapon_weight',
              placeholder='4',
              spellcheck='false',
              class='sheet-weapons__weight')

      input(type='checkbox',
            name='attr_weapon_notes_toggle',
            class='sheet-toggle sheet-toggle--arrow')

      .sheet-repitem__secondary
        input(type='checkbox',
              name='attr_trapping_toggle',
              checked=true,
              class='sheet-hidden sheet-toggle')

        .sheet-repitem__label(data-i18n='trapping') Trapping
          
        input(type='text',
              name='attr_weapon_trapping',
              placeholder='Piercing/etc.',
              data-i18n-placeholder='weapons-trapping-placeholder',
              spellcheck='false',
              class='sheet-align-left sheet-weapons__trapping')

        .sheet-repitem__label(data-i18n='notes') Notes
          
        input(type='text',
              name='attr_weapon_notes',
              placeholder='Notes, Tags, Requirements, etc.',
              data-i18n-placeholder='weapons-notes-placeholder',
              spellcheck='false',
              class='sheet-align-left sheet-repitem__note sheet-stretch')

        input(type='checkbox',
              name='attr_weapon_settings_toggle',
              class='sheet-toggle sheet-toggle--settings')

        .sheet-repitem__settings
          .sheet-repitem__settings-content
            label.sheet-label-toggle.sheet-label-toggle--full-row.sheet-roll-description
              input(type="hidden", name='attr_roll_description')
              input(type='checkbox', name='attr_roll_description_toggle')
              span(data-i18n='roll-description') Description
              input(type='text',
                    name='attr_roll_description_input',
                    placeholder='Narrative or functional description below the header in the Roll Template. Leave empty to disable.',
                    data-i18n-placeholder='roll-description-placeholder',
                    value='',
                    spellcheck='false',
                    class='sheet-label-toggle__input')

            label.sheet-label-toggle.sheet-label-toggle--full-row.sheet-roll-injection
              input(type="hidden", name='attr_roll_injection')
              input(type='checkbox', name='attr_roll_injection_toggle')
              span(data-i18n='roll-injection') Roll Injection
              input(type='text',
                    name='attr_roll_injection_input',
                    placeholder='{{source_label=}} {{source=}} {{custom3_label=}} {{custom3=}} {{rof=[[ 1 ]]}} {{traitroll8=}}',
                    data-i18n-placeholder='roll-injection-placeholder',
                    value='',
                    spellcheck='false',
                    class='sheet-label-toggle__input')

            label.sheet-label-toggle
              input(type='checkbox', name='attr_trapping_toggle', checked=true)
              span(data-i18n='trapping') Trapping

            label.sheet-label-toggle
              input(type='hidden', name='attr_skill_wd', value='@{shooting_wd}')
              input(type='hidden', name='attr_skill_mod', value='@{shooting_mod}')
              input(type='hidden', name='attr_skill_untrained_mod', value='@{shooting_untrained_mod}')
              input(type='hidden', name='attr_skill_roll', value='@{shooting_roll}')
              input(type='hidden', name='attr_skill_wd_roll', value='@{shooting_wd_roll}')
              input(type='hidden', name='attr_skill_extra_wd_roll', value='@{shooting_wd_roll}')
              input(type='hidden', name='attr_skill_code', value='@{shooting_code}')

              input(type='hidden', name=`attr_skill_global_wd_roll`, value=`{{global_wd=@{query_global_wd}}} {{global_wdroll=[[ @{query_global_wd}!cs2 + (@{skill_untrained_mod})[Untrained] + (@{skill_mod}+0)[Flat] + (@{skill_bonus}+0)[Bonus] - (@{fatigue_mod})[Fatigue] - (@{wound_mod})[Wounds] + (?{@{query_modifier}|0})[Modifier] ]]}}`)

              input(type='hidden', name=`attr_skill_global_bonus_wd_roll`, value=`{{bonus_wd=@{query_global_bonus_wd}}} {{bonus_wdroll=[[ @{query_global_bonus_wd}!cs2 + (@{skill_untrained_mod})[Untrained] + (@{skill_mod}+0)[Flat] + (@{skill_bonus}+0)[Bonus] - (@{fatigue_mod})[Fatigue] - (@{wound_mod})[Wounds] + (?{@{query_modifier}|0})[Modifier] ]]}}`)

              input(type='hidden',
                    name=`attr_skill_roll_body`,
                    value!=`@{gm_roll} &{template:TraitRoll} {{rof=[[ 0 + @{rof_override} ]]}} {{header=@{name} ^{rolls} @{skill_name}}} {{trait=@{skill_name}}} {{source_label=^{weapon}}} {{source=@{weapon_name}}} {{traitdie=@{skill_code}}} {{wounds=[[ @{wound_mod} ]]}} {{fatigue=[[ @{fatigue_mod} ]]}} {{modifier=?{@{query_modifier}|0}}} {{bonus=@{skill_bonus}}} ${maxRof.map(n => `{{traitroll${n}=[[ @{skill_roll}!cs2 + (@{skill_untrained_mod})[Untrained] + (@{skill_mod}+0)[Flat] + (@{skill_bonus}+0)[Bonus] - (@{fatigue_mod})[Fatigue] - (@{wound_mod})[Wounds] + (?{@{query_modifier}|0})[Modifier] ]]}}`).join(' ')} @{skill_global_wd_roll} @{skill_global_bonus_wd_roll}`)
              
              input(type='checkbox', name='attr_roll_button_toggle')
              span(data-i18n='roll-button') Roll Button
              input(type='text',
                    name='attr_skill_name',
                    placeholder='Shooting',
                    data-i18n-placeholder='weapons-skill-placeholder',
                    value='Shooting',
                    spellcheck='false',
                    class='sheet-label-toggle__input')
              input(type='text',
                    name='attr_skill_bonus',
                    placeholder='+0',
                    class='sheet-label-toggle__input sheet-label-toggle__input--tiny')

            label.sheet-label-toggle
              input(type="hidden", name='attr_rof_override', value='?{@{query_rate_of_fire}|@{weapon_rof}}')
              input(type='checkbox', name='attr_rof_override_toggle', checked=true)
              span(data-i18n='query-rof') Query RoF

            label.sheet-label-toggle
              input(type="hidden", name='attr_wd_override', value='')
              input(type='checkbox', name='attr_wd_override_toggle')
              span(data-i18n='wild-die-override') WD Override
              input(type='text',
                    name='attr_wd_override_die',
                    value='',
                    spellcheck='false',
                    class='sheet-label-toggle__input sheet-label-toggle__input--tiny')

            label.sheet-label-toggle(title='Exploding Damage Dice On/Off', data-i18n-title='ace-damage-title')
              input(type="hidden", name='attr_explode_damage', value='!')
              input(type='checkbox', name='attr_explode_damage_toggle', checked=true)
              span(data-i18n='ace-damage') Ace Damage

        input(type='checkbox',
              name='attr_weapon_weight_toggle',
              checked=true,
              title='Weight On/Off',
              data-i18n-title='weapons-weight-toggle-title',
              class='sheet-toggle sheet-toggle--special sheet-toggle--weight')

        input(type='checkbox',
              name='attr_weapon_note_box_toggle',
              class='sheet-toggle sheet-toggle--note-box')

        .sheet-repitem__note-box
          textarea(name='attr_weapon_note_box',
                   placeholder='Notes',
                   data-i18n-placeholder='weapons-note-box-placeholder',
                   spellcheck='false')

  .sheet-footer
    span.sheet-label(data-i18n='weapons-total-weight') Total Weight:&nbsp;
    span(name='attr_carry_weight_weapons',
         class='sheet-label sheet-label--weight') 0.0
