.sheet-block.sheet-weapons
  .sheet-header
    .sheet-header__title.sheet-weapons__name
      span(name='attr_rename_block_weapons', data-i18n='weapons') Weapons
    .sheet-header__labels
      .sheet-weapons__damage
        span(data-i18n='weapons-damage') Damage
      .sheet-weapons__range
        span(data-i18n='weapons-range') Range
      .sheet-weapons__ap
        span(data-i18n='weapons-ap') AP
      .sheet-weapons__rof
        span(data-i18n='weapons-rof') ROF
      .sheet-weapons__shots
        span(data-i18n='weapons-shots') Shots
      .sheet-weapons__weight
        span(data-i18n='weapons-weight') WGT

  input(type='checkbox',
        name='attr_weapon_damage_roll_toggle',
        title='Damage Rolls On/Off',
        data-i18n-title='weapons-damage-toggle-title',
        class='sheet-toggle sheet-toggle--special sheet-toggle--damage')

  input(type='checkbox',
        name='attr_weapons_visibility_toggle',
        checked=true,
        class='sheet-toggle sheet-toggle--visibility')

  fieldset.repeating_weapons
    .sheet-repitem
      .sheet-repitem__primary
        input(type='text',
              name='attr_weapon_name',
              placeholder='Weapon (Ammo)',
              data-i18n-placeholder='weapons-name-placeholder',
              spellcheck='false',
              class='sheet-align-left sheet-weapons__name sheet-stretch')

        button(type='roll',
               name='roll_weapon_damage',
               value!=`&{template:DamageRoll} {{name=@{name}}} {{code=@{weapon_damage}}} {{weapon=@{weapon_name}}} {{rof=[[ ?{@{query_rate_of_fire}|1} ]]}} {{modifier=?{@{query_damage_modifier}}}} {{range=@{weapon_range}}} {{ap=@{weapon_ap}}} {{trapping=@{weapon_trapping}}} ${maxRof.map(n => `{{roll${n}=[[ @{weapon_damage_roll} + ?{@{query_damage_modifier}} ]]}}`).join(' ')}`,
               class='sheet-button sheet-weapons__damage-button')

        input(type='text',
              name='attr_weapon_damage',
              placeholder='STR+d6',
              data-i18n-placeholder='weapons-damage-placeholder',
              spellcheck='false',
              class='sheet-weapons__damage')

        input(type='hidden',
              name='attr_weapon_damage_roll',
              value='0',
              class='sheet-hidden')

        input(type='text',
              name='attr_weapon_range',
              placeholder='Range/Melee',
              data-i18n-placeholder='weapons-range-placeholder',
              spellcheck='false',
              class='sheet-weapons__range')

        input(type='text',
              name='attr_weapon_ap',
              placeholder='0',
              spellcheck='false',
              class='sheet-weapons__ap')

        input(type='text',
              name='attr_weapon_rof',
              placeholder='1',
              spellcheck='false',
              class='sheet-weapons__rof')

        input(type='text',
              name='attr_weapon_shots',
              placeholder='6',
              spellcheck='false',
              class='sheet-weapons__shots')

        input(type='text',
              name='attr_weapon_weight',
              placeholder='4',
              spellcheck='false',
              class='sheet-weapons__weight')

      input(type='checkbox',
            name='attr_weapon_notes_toggle',
            class='sheet-toggle sheet-toggle--arrow')

      .sheet-repitem__secondary
        .sheet-repitem__note-label
          span(data-i18n='weapons-trapping-label') Trapping:
          
        input(type='text',
              name='attr_weapon_trapping',
              placeholder='Piercing/etc.',
              data-i18n-placeholder='weapons-trapping-placeholder',
              spellcheck='false',
              class='sheet-align-left sheet-weapons__trapping')

        .sheet-repitem__note-label
          span(data-i18n='weapons-notes-label') Notes:
          
        input(type='text',
              name='attr_weapon_notes',
              placeholder='Notes, Tags, Requirements, etc.',
              data-i18n-placeholder='weapons-notes-placeholder',
              spellcheck='false',
              class='sheet-align-left sheet-repitem__note sheet-stretch')

        input(type='checkbox',
              name='attr_weapon_weight_toggle',
              checked=true,
              title='Weight On/Off',
              data-i18n-title='weapons-weight-toggle-title',
              class='sheet-toggle sheet-toggle--special sheet-toggle--weight')

        input(type='checkbox',
              name='attr_weapon_note_box_toggle',
              class='sheet-toggle sheet-toggle--note-box')

        .sheet-repitem__note-box
          textarea(name='attr_weapon_note_box',
                   placeholder='Notes',
                   data-i18n-placeholder='weapons-note-box-placeholder',
                   spellcheck='false')

  .sheet-footer
    span.sheet-label(data-i18n='weapons-total-weight') Total Weight:&nbsp;
    span(name='attr_carry_weight_weapons',
         class='sheet-label sheet-label--weight') 0.0
