.sheet-block.sheet-weapons
  .sheet-header
    .sheet-header__title.sheet-weapons__name
      span(name='attr_rename-block-weapons') Weapons
    .sheet-header__labels
      .sheet-weapons__damage Damage
      .sheet-weapons__range Range
      .sheet-weapons__ap AP
      .sheet-weapons__rof ROF
      .sheet-weapons__shots Shots
      .sheet-weapons__weight WGT
      
  input(type='checkbox',
        name='attr_weapon-damage-roll-toggle',
        title='Damage Rolls On/Off',
        class='sheet-toggle sheet-toggle--special sheet-toggle--damage')
            
  input(type='checkbox',
        name='attr_weapons-visibility-toggle',
        checked=true,
        class='sheet-toggle sheet-toggle--visibility')
            
  fieldset.repeating_weapons
    .sheet-repitem
      .sheet-repitem__primary
        input(type='text',
              name='attr_weapon-name',
              placeholder='Weapon (Ammo)',
              spellcheck='false',
              class='sheet-align-left sheet-weapons__name sheet-stretch')
              
        button(type='roll',
               name='roll_weapon-damage',
               value!='&{template:DamageRoll} {{name=@{name}}} {{code=@{weapon-damage}}} {{weapon=@{weapon-name}}} {{modifier=?{Damage Modifier}}} {{range=@{weapon-range}}} {{ap=@{weapon-ap}}} {{rof=[[ ?{Rate Of Fire|1} ]]}} {{trapping=@{weapon-trapping}}} {{roll1=[[ @{weapon-damage-roll} + ?{Damage Modifier} ]]}} {{roll2=[[ @{weapon-damage-roll} + ?{Damage Modifier} ]]}} {{roll3=[[ @{weapon-damage-roll} + ?{Damage Modifier} ]]}} {{roll4=[[ @{weapon-damage-roll} + ?{Damage Modifier} ]]}} {{roll5=[[ @{weapon-damage-roll} + ?{Damage Modifier} ]]}} {{roll6=[[ @{weapon-damage-roll} + ?{Damage Modifier} ]]}}',
               class='sheet-button sheet-weapons__damage-button')

        input(type='text',
              name='attr_weapon-damage',
              placeholder='STR+d6',
              spellcheck='false',
              class='sheet-weapons__damage')
              
        input(type='hidden',
              name='attr_weapon-damage-roll',
              value='0',
              class='sheet-hidden')
              
        input(type='text',
              name='attr_weapon-range',
              placeholder='Range/Melee',
              spellcheck='false',
              class='sheet-weapons__range')
              
        input(type='text',
              name='attr_weapon-ap',
              placeholder='AP',
              spellcheck='false',
              class='sheet-weapons__ap')
              
        input(type='text',
              name='attr_weapon-rof',
              placeholder='ROF',
              spellcheck='false',
              class='sheet-weapons__rof')
              
        input(type='text',
              name='attr_weapon-shots',
              placeholder='Shots',
              spellcheck='false',
              class='sheet-weapons__shots')
              
        input(type='text',
              name='attr_weapon-weight',
              placeholder='WGT',
              spellcheck='false',
              class='sheet-weapons__weight')

      input(type='checkbox',
            name='attr_weapon-notes-toggle',
            class='sheet-toggle sheet-toggle--arrow')
            
      .sheet-repitem__secondary
        .sheet-repitem__note-label Trapping:
        input(type='text',
              name='attr_weapon-trapping',
              placeholder='Piercing/etc.',
              spellcheck='false',
              class='sheet-align-left sheet-weapons__trapping')
              
        .sheet-repitem__note-label Notes:
        input(type='text',
              name='attr_weapon-notes',
              placeholder='Notes, Tags, Requirements, etc.',
              spellcheck='false',
              class='sheet-align-left sheet-repitem__note sheet-stretch')
              
        input(type='checkbox',
              name='attr_weapon-weight-toggle',
              checked=true,
              title='Weight On/Off',
              class='sheet-toggle sheet-toggle--special sheet-toggle--weight')
                    
        input(type='checkbox',
              name='attr_weapon-note-box-toggle',
              class='sheet-toggle sheet-toggle--note-box')
              
        .sheet-repitem__note-box
          textarea(name='attr_weapon-note-box',
                   placeholder='NOTES',
                   spellcheck='false')

  .sheet-footer
    span.sheet-label Total Weight: 
    span(name='attr_carry-weight-weapons',
         class='sheet-label sheet-label--weight') 0.0
