include ./actions
include ./body

mixin actionDieNegated(opts)
  div.sheet-result-body.sheet-result-row
    div Previous Action Score:
    div {{action}}
  div.sheet-result-body.sheet-result-row
    if opts.momentum
      div.sheet-subfooter.sheet-alert Action die cancelled for matching negative momentum.
    if opts.encumbered
      div.sheet-subfooter.sheet-alert Encumbered: Action die cancelled for being greater than or matching max load.
  div.sheet-result-body.sheet-result-row
    div Stat + Add:
    div {{stat}} + {{add}}
  div.sheet-result-body.sheet-result-row
    div New Action Score:
    div {{modifiers}}
  div.sheet-result-body.sheet-result-row
    div Challenge Dice:
    div {{challenge1}} {{challenge2}}
  if opts.encumbered
    +standardActionWithMomentum('modifiers')
  else
    +standardAction('modifiers')

mixin negationRoll(opts)
  | {{#rollTotal() momentum #{opts.momentum}}}
  | {{#rollTotal() action negate#{opts.die1}}}
  +actionDieNegated({momentum: true})
  | {{/rollTotal() action negate#{opts.die1}}}
  | {{#^rollTotal() action negate#{opts.die1}}}
  | {{#rollTotal() action negate#{opts.die2}}}
  +actionDieNegated({momentum: true})
  | {{/rollTotal() action negate#{opts.die2}}}
  | {{#^rollTotal() action negate#{opts.die2}}}
  +actionBody
  +standardAction('action')
  | {{/^rollTotal() action negate#{opts.die2}}}
  | {{/^rollTotal() action negate#{opts.die1}}}
  | {{/rollTotal() momentum #{opts.momentum}}}
  