include ./outcomes
include ./headers
include ./body

mixin standardAction(action)
  | {{#rollGreater() #{action} challenge1}}
  | {{#rollTotal() challenge1 challenge2}}
  +opportunity
  | {{/rollTotal() challenge1 challenge2}}
  | {{#^rollTotal() challenge1 challenge2}}
  | {{#rollGreater() #{action} challenge2}}
  +strongHit
  | {{/rollGreater() #{action} challenge2}}
  | {{#^rollGreater() #{action} challenge2}}
  +weakHit
  | {{/^rollGreater() #{action} challenge2}}
  | {{/^rollTotal() challenge1 challenge2}}
  | {{/rollGreater() #{action} challenge1}}
  | {{#^rollGreater() #{action} challenge1}}
  | {{#rollTotal() challenge1 challenge2}}
  +complication
  | {{/rollTotal() challenge1 challenge2}}
  | {{#^rollTotal() challenge1 challenge2}}
  | {{#rollGreater() #{action} challenge2}}
  +weakHit
  | {{/rollGreater() #{action} challenge2}}
  | {{#^rollGreater() #{action} challenge2}}
  +miss
  | {{/^rollGreater() #{action} challenge2}}
  | {{/^rollTotal() challenge1 challenge2}}
  | {{/^rollGreater() #{action} challenge1}}

mixin standardActionWithMomentum(action)
  | {{#rollGreater() #{action} challenge1}}
  | {{#rollTotal() challenge1 challenge2}}
  +opportunity
  | {{/rollTotal() challenge1 challenge2}}
  | {{#^rollTotal() challenge1 challenge2}}
  | {{#rollGreater() #{action} challenge2}}
  +strongHit
  | {{/rollGreater() #{action} challenge2}}
  | {{#^rollGreater() #{action} challenge2}}
  +weakHit
  | {{#rollGreater() momentum challenge2}}
  +momentumStrongHit
  | {{/rollGreater() momentum challenge2}}
  | {{/^rollGreater() #{action} challenge2}}
  | {{/^rollTotal() challenge1 challenge2}}
  | {{/rollGreater() #{action} challenge1}}
  | {{#^rollGreater() #{action} challenge1}}
  | {{#rollTotal() challenge1 challenge2}}
  +complication
  | {{#rollGreater() momentum challenge1}}
  +momentumStrongHit
  | {{/rollGreater() momentum challenge1}}
  | {{/rollTotal() challenge1 challenge2}}
  | {{#^rollTotal() challenge1 challenge2}}
  | {{#rollGreater() #{action} challenge2}}
  +weakHit
  | {{#rollGreater() momentum challenge1}}
  +momentumStrongHit
  | {{/rollGreater() momentum challenge1}}
  | {{/rollGreater() #{action} challenge2}}
  | {{#^rollGreater() #{action} challenge2}}
  +miss
  | {{#rollGreater() momentum challenge1}}
  | {{#rollGreater() momentum challenge2}}
  +momentumStrongHit
  | {{/rollGreater() momentum challenge2}}
  | {{#^rollGreater() momentum challenge2}}
  +momentumWeakHit
  | {{/^rollGreater() momentum challenge2}}
  | {{/rollGreater() momentum challenge1}}
  | {{#^rollGreater() momentum challenge1}}
  | {{#rollGreater() momentum challenge2}}
  +momentumWeakHit
  | {{/rollGreater() momentum challenge2}}
  | {{/^rollGreater() momentum challenge1}}
  | {{/^rollGreater() #{action} challenge2}}
  | {{/^rollTotal() challenge1 challenge2}}
  | {{/^rollGreater() #{action} challenge1}}