each levelObject, level in data
    datalist(id=`${level}-spells`)
        each spell, spellName in levelObject
            - let book = ''
            - let displayLevel = ''
            if (spell.book !== 'PHB')
                - book = spell.book
            if level.endsWith('monster')
                case spell.level
                    when '1': - displayLevel = `${spell.level}st level`
                    when '2': - displayLevel = `${spell.level}nd level`
                    when '3': - displayLevel = `${spell.level}rd level`
                    default:  - displayLevel = `${spell.level}th level`
                
                if (book)
                    - displayLevel += `, ${book}` 
                option(value!=spellName)= displayLevel
            else
                option(value!=spellName)= book