each levelObject, level in data
    datalist(id=`${level}-spells`)
        each spell, spellName in levelObject
            if level.endsWith('monster')
                case spell.level
                    when '1': option(value!=spellName)= `${spell.level}st level`
                    when '2': option(value!=spellName)= `${spell.level}nd level`
                    when '3': option(value!=spellName)= `${spell.level}rd level`
                    default:  option(value!=spellName)= `${spell.level}th level`
            else
                option(value!=spellName)