each levelObject, level in data
    datalist(id=`${level}-spells`)
        each spell, spellName in levelObject
            - let category = spell.category || ''
            if level.endsWith('monster')
                if (category)
                    - category += ', '
                case spell.level
                    when '1': - category = `${spell.level}st level`
                    when '2': - category = `${spell.level}nd level`
                    when '3': - category = `${spell.level}rd level`
                    default:  - category = `${spell.level}th level`


                if (spell.book !== 'PHB')
                    - category += `, ${spell.book}`
                option(value!=spellName)= category
            else
                if (category)
                    - category += ', '
                if (spell.book !== 'PHB')
                    - category += `${spell.book}`
                option(value!=spellName)= category