datalist(id='melee-weapons')
    each weapon in data
        - let group = weapon.group || '';
        if (weapon.category.includes('Melee'))
            if (weapon.book !== 'PHB')
                - group += `, ${weapon.book}`;
            option(value=weapon.name)= group
            
datalist(id='ranged-weapons')
    each weapon in data
        - let group = weapon.group || '';
        if (weapon.category.includes('Range'))
            if (weapon.book !== 'PHB')
                - group += `, ${weapon.book}`;
            option(value=weapon.name)= group

datalist(id='all-weapons')
    each weapon in data
        - let group = weapon.group || '';
        if (weapon.book !== 'PHB')
            - group += `, ${weapon.book}`;
        option(value=weapon.name)= group