mixin oracleRoll(id, table, row, index)
  -
    //- appends any Assets or Details info to the row
    var chanceFloor = row.Floor
    var chanceCeiling = row.Ceiling;
    const result = translation[row.$id]
  if chanceFloor === chanceCeiling
    | {{#rollTotal() #{id} #{chanceCeiling}}}
    |
    span!=result
    |
    | {{/rollTotal() #{id} #{chanceCeiling}}}
  else
    |
    | {{#rollBetween() #{id} #{chanceFloor} #{chanceCeiling}}}
    |
    span!=result
    |
    | {{/rollBetween() #{id} #{chanceFloor} #{chanceCeiling}}}

mixin oracleTemplate(oracle)
  - const id = oracle.$id;
  |
  | {{##{id}}}
  .sheet-result-row
    .sheet-oracle-dice
      span {{#{id}}}
    .sheet-oracle-table-text
      if oracle.Table
        each row, index in oracle.Table
          +oracleRoll(id, oracle.Table, row, index)
      else if oracle.Tables
        each subtable, index in oracle.Tables
          |
          | {{#rollTotal() tableChoice #{index}}}
          each row, index in subtable.Table
            +oracleRoll(id, subtable.Table, row, index)
            |
          | {{/rollTotal() tableChoice #{index}}}
      else if oracle.Oracles
        - let counter = 0;
        //- uses a counter instead of index to better handle any nested subtables
        each subCatOracle in oracle.Oracles
          if subCatOracle.Table
            |
            | {{#rollTotal() tableChoice #{counter}}}
            each row, index in subCatOracle.Table
              +oracleRoll(id, subCatOracle.Table, row, index)
              |
            | {{/rollTotal() tableChoice #{counter}}}
            - counter++
          if subCatOracle.Oracles
            each subSubCatOracle in subCatOracle.Oracles
              |
              | {{#rollTotal() tableChoice #{counter}}}
              each row, index in subSubCatOracle.Table
                +oracleRoll(id, subSubCatOracle.Table, row, index)
                |
              | {{/rollTotal() tableChoice #{counter}}}
              - counter++



  |
  | {{/#{id}}}

rolltemplate(class=`sheet-rolltemplate-starforged_oracles`)
  .sheet-roll-container
    .sheet-subheader {{header}}
    | {{#custom-oracle}}
    .sheet-result-row
      .sheet-oracle-table-text {{custom-oracle}}
    | {{/custom-oracle}}

    each category in oracles
      each oracle in category.Oracles
        +oracleTemplate(oracle)
      if category.Categories
        each subCategory in category.Categories
          +oracleTemplate(subCategory)