mixin matchText
  .sheet-result-row
    .sheet-subfooter.sheet-opportunity(data-i18n='roll-match-description')=translation['roll-match-description']

mixin matchRolls
  | {{#rollTotal() almostCertain 11}}
  +matchText
  | {{/rollTotal() almostCertain 11}}
  | {{#rollTotal() almostCertain 22}}
  +matchText
  | {{/rollTotal() almostCertain 22}}
  | {{#rollTotal() almostCertain 33}}
  +matchText
  | {{/rollTotal() almostCertain 33}}
  | {{#rollTotal() almostCertain 44}}
  +matchText
  | {{/rollTotal() almostCertain 44}}
  | {{#rollTotal() almostCertain 55}}
  +matchText
  | {{/rollTotal() almostCertain 55}}
  | {{#rollTotal() almostCertain 66}}
  +matchText
  | {{/rollTotal() almostCertain 66}}
  | {{#rollTotal() almostCertain 77}}
  +matchText
  | {{/rollTotal() almostCertain 77}}
  | {{#rollTotal() almostCertain 88}}
  +matchText
  | {{/rollTotal() almostCertain 88}}
  | {{#rollTotal() almostCertain 99}}
  +matchText
  | {{/rollTotal() almostCertain 99}}
  | {{#rollTotal() almostCertain 100}}
  +matchText
  | {{/rollTotal() almostCertain 100}}

mixin rawOracles
  | {{#almostCertain}}
  | {{#rollBetween() almostCertain 11 100}}
  .sheet-result-row
    .sheet-oracle-dice
      span {{almostCertain}}
    .sheet-oracle-table-text
      span.i18n-text(data-i18n='answer-yes')=translation['answer-yes']
  | {{/rollBetween() almostCertain 11 100}}
  | {{#^rollBetween() almostCertain 11 100}}
  .sheet-result-row
    .sheet-oracle-dice
      span {{almostCertain}}
    .sheet-oracle-table-text
      span.i18n-text(data-i18n='answer-no')=translation['answer-no']
  | {{/^rollBetween() almostCertain 11 100}}
  +matchRolls
  | {{/almostCertain}}
  | {{#likely}}
  | {{#rollBetween() likely 26 100}}
  .sheet-result-row
    .sheet-oracle-dice
      span {{likely}}
    .sheet-oracle-table-text
      span.i18n-text(data-i18n='answer-yes')=translation['answer-yes']
  | {{/rollBetween() likely 26 100}}
  | {{#^rollBetween() likely 26 100}}
  .sheet-result-row
    .sheet-oracle-dice
      span {{likely}}
    .sheet-oracle-table-text
      span.i18n-text(data-i18n='answer-no')=translation['answer-no']
  | {{/^rollBetween() likely 26 100}}
  +matchRolls
  | {{/likely}}
  | {{#fiftyFifty}}
  | {{#rollBetween() fiftyFifty 51 100}}
  .sheet-result-row
    .sheet-oracle-dice
      span {{fiftyFifty}}
    .sheet-oracle-table-text
      span.i18n-text(data-i18n='answer-yes')=translation['answer-yes']
  | {{/rollBetween() fiftyFifty 51 100}}
  | {{#^rollBetween() fiftyFifty 51 100}}
  .sheet-result-row
    .sheet-oracle-dice
      span {{fiftyFifty}}
    .sheet-oracle-table-text
      span.i18n-text(data-i18n='answer-no')=translation['answer-no']
  | {{/^rollBetween() fiftyFifty 51 100}}
  +matchRolls
  | {{/fiftyFifty}}
  | {{#unlikely}}
  | {{#rollBetween() unlikely 76 100}}
  .sheet-result-row
    .sheet-oracle-dice
      span {{unlikely}}
    .sheet-oracle-table-text
      span.i18n-text(data-i18n='answer-yes')=translation['answer-yes']
  | {{/rollBetween() unlikely 76 100}}
  | {{#^rollBetween() unlikely 76 100}}
  .sheet-result-row
    .sheet-oracle-dice
      span {{unlikely}}
    .sheet-oracle-table-text
      span.i18n-text(data-i18n='answer-no')=translation['answer-no']
  | {{/^rollBetween() unlikely 76 100}}
  +matchRolls
  | {{/unlikely}}
  | {{#smallChance}}
  | {{#rollBetween() smallChance 91 100}}
  .sheet-result-row
    .sheet-oracle-dice
      span {{smallChance}}
    .sheet-oracle-table-text
      span.i18n-text(data-i18n='answer-yes')=translation['answer-yes']
  | {{/rollBetween() smallChance 91 100}}
  | {{#^rollBetween() smallChance 91 100}}
  .sheet-result-row
    .sheet-oracle-dice
      span {{smallChance}}
    .sheet-oracle-table-text
      span.i18n-text(data-i18n='answer-no')=translation['answer-no']
  | {{/^rollBetween() smallChance 91 100}}
  +matchRolls
  | {{/smallChance}}

  | {{#payThePrice}}
  .sheet-result-row
    .sheet-oracle-dice
      span {{payThePrice}}
    .sheet-oracle-table-text
      | {{#rollBetween() payThePrice 1 2}}
      span
        | Roll again and apply that result but make it worse. If you roll this result yet again, think of something dreadful that changes the course of your quest (
        em Ask the Oracle
        |  if unsure) and make it happen.
      | {{/rollBetween() payThePrice 1 2}}
      | {{#rollBetween() payThePrice 3 5}}
      span A person or community you trusted loses faith in you, or acts against you.
      | {{/rollBetween() payThePrice 3 5}}
      | {{#rollBetween() payThePrice 6 9}}
      span A person or community you care about is exposed to danger.
      | {{/rollBetween() payThePrice 6 9}}
      | {{#rollBetween() payThePrice 10 16}}
      span You are separated from something or someone.
      | {{/rollBetween() payThePrice 10 16}}
      | {{#rollBetween() payThePrice 17 23}}
      span Your action has an unintended effect.
      | {{/rollBetween() payThePrice 17 23}}
      | {{#rollBetween() payThePrice 24 32}}
      span Something of value is lost or destroyed.
      | {{/rollBetween() payThePrice 24 32}}
      | {{#rollBetween() payThePrice 33 41}}
      span The current situation worsens
      | {{/rollBetween() payThePrice 33 41}}
      | {{#rollBetween() payThePrice 42 50}}
      span A new danger or foe is revealed.
      | {{/rollBetween() payThePrice 42 50}}
      | {{#rollBetween() payThePrice 51 59}}
      span It causes a delay or puts you at a disadvantage.
      | {{/rollBetween() payThePrice 51 59}}
      | {{#rollBetween() payThePrice 60 68}}
      span It is harmful.
      | {{/rollBetween() payThePrice 60 68}}
      | {{#rollBetween() payThePrice 69 77}}
      span It is stressful.
      | {{/rollBetween() payThePrice 69 77}}
      | {{#rollBetween() payThePrice 78 85}}
      span A surprising development complicates your quest.
      | {{/rollBetween() payThePrice 78 85}}
      | {{#rollBetween() payThePrice 86 90}}
      span It wastes resources.
      | {{/rollBetween() payThePrice 86 90}}
      | {{#rollBetween() payThePrice 91 94}}
      span It forces you to act against your best intentions.
      | {{/rollBetween() payThePrice 91 94}}
      | {{#rollBetween() payThePrice 95 98}}
      span A friend, companion, or ally is put in harm&rsquo;s way (or you are, if alone)
      | {{/rollBetween() payThePrice 95 98}}
      | {{#rollBetween() payThePrice 99 100}}
      span
        | Roll twice more on this table. Both results occur. If they are the same result, make it worse.
      | {{/rollBetween() payThePrice 99 100}}
  | {{/payThePrice}}

  | {{#endureHarm}}
  .sheet-result-row
    .sheet-oracle-dice
      span {{endureHarm}}
    .sheet-oracle-table-text
      | {{#rollBetween() endureHarm 1 10}}
      span
        | The harm is mortal.
        em Face Death.
      | {{/rollBetween() endureHarm 1 10}}
      | {{#rollBetween() endureHarm 11 20}}
      span
        | You are dying. You need to Heal within an hour or two, or
        em Face Death.
      | {{/rollBetween() endureHarm 11 20}}
      | {{#rollBetween() endureHarm 21 35}}
      span
        | You are unconscious and out of action. If left alone, you come back to your senses in
        | an hour or two. If you are vulnerable to a foe not inclined to show mercy,
        em
          | Face
          | Death.
      | {{/rollBetween() endureHarm 21 35}}
      | {{#rollBetween() endureHarm 36 50}}
      span
        | You are reeling and fighting to stay conscious. If you engage in any vigorous activity (such as running or fighting) before taking a breather for a few minutes, roll on this table again (before resolving the other move).
      | {{/rollBetween() endureHarm 36 50}}
      | {{#rollBetween() endureHarm 51 100}}
      span You are battered but still standing.
      | {{/rollBetween() endureHarm 51 100}}
  | {{/endureHarm}}

  | {{#endureStress}}
  .sheet-result-row
    .sheet-oracle-dice
      span {{endureStress}}
    .sheet-oracle-table-text
      | {{#rollBetween() endureStress 1 10}}
      span You are overwhelmed. <em>Face Desolation.</em>
      | {{/rollBetween() endureStress 1 10}}
      | {{#rollBetween() endureStress 11 25}}
      span You give up. <em>Forsake Your Vow</em> (if possible, one relevant to your current crisis).
      | {{/rollBetween() endureStress 11 25}}
      | {{#rollBetween() endureStress 26 50}}
      span You give in to a fear or compulsion, and act against your better instincts.
      | {{/rollBetween() endureStress 26 50}}
      | {{#rollBetween() endureStress 51 100}}
      span You persevere.
      | {{/rollBetween() endureStress 51 100}}
  | {{/endureStress}}
