mixin button(buttonTitle, attribute, title)
    button.button.button--roll(type='roll',
        name=`roll_skill-${attribute}`,
        value!=`&{template:skill} {{name=${buttonTitle}}} {{roll=[[[[1d10]] + [[1d10]] + [[@{${attribute}}]]]]}} {{r1=$[[0]]}} {{r2=$[[1]]}} {{attribute= ${title}}} {{modifier= +@{${attribute}}}} {{rollTargetDisplay=@{target}}} {{rollTarget=[[@{target}]]}}`)
        span.button__text(name="attr_" + attribute.toLowerCase())

mixin newline()
    | #{'\n'}