mixin progressRoll(opts, visibility)
  - var formattedName = _.kebabCase(opts.Name)
  button(
    type="roll"
    title=opts.Name
    name=`roll_${formattedName}`
    class=visibility
    value=`&{template:starforged_progress} {{header=@{character_name}}} {{progress_name=${opts.Name}}} {{progress=[[?{Filled Progress|0}]]}} {{challenge1=[[d10]]}} {{challenge2=[[d10]]}}`
  )

mixin oracleRoll(opts, visibility)
  button(
    type="roll"
    title=opts.title
    name=`roll_${opts.name}`
    class=visibility
    value=`&{template:starforged_oracles} {{header=${translation[opts.title]}}} {{${opts.name}=[[d100]]}}`
  )

mixin movesRoll(opts, visibility)
  - var formattedName = _.kebabCase(opts.Name)
  - var roll20MoveData = rolls[opts.Name]
  button(
    type="roll"
    title=`${opts.Name} Move`
    class=visibility
    name=`roll_${formattedName}`
    value!=`&{template:starforged_moves} {{header=@{character_name}}} {{name=${opts.Name}}} {{action=[[{d6+${roll20MoveData.stat}+(?{Modifier|0}),{10}}kl1]]}} {{negate1=[[1+${roll20MoveData.repeat_stat}+(?{Modifier|0})]]}} {{negate2=[[2+${roll20MoveData.repeat_stat}+(?{Modifier|0})]]}} {{negate3=[[3+${roll20MoveData.repeat_stat}+(?{Modifier|0})]]}} {{negate4=[[4+${roll20MoveData.repeat_stat}+(?{Modifier|0})]]}} {{negate5=[[5+${roll20MoveData.repeat_stat}+(?{Modifier|0})]]}} {{negate6=[[6+${roll20MoveData.repeat_stat}+(?{Modifier|0})]]}} {{challenge1=[[d10]]}} {{challenge2=[[d10]]}} {{momentum=[[@{momentum}]]}} {{modifiers=[[${roll20MoveData.repeat_stat}+(?{Modifier|0})]]}} {{add=[[(?{Modifier|0})]]}} {{stat=[[${roll20MoveData.repeat_stat}]]}}`
  )

mixin customRoll(opts, visibility)
  button(
    type="roll"
    title=`${translation[opts.title]} Move`
    class=visibility
    name=`roll_${opts.name}`
    value!=opts.roll
  )
