div(class='popup')
    div(class='lvlup')
        h1(data-i18n='confirmation-niveau')
        label
            span(data-i18n='confirmation-attaque')
            select(
                name='attr_popupniveau'
                class='popupniveau-select'
                )
        button(
            type='action'
            name='act_popup-annuler'
            data-i18n='annuler'
            class='annuler'
        )
        button(
            type='action'
            name='act_popupniveau-confirmer'
            data-i18n='confirmer'
            class='confirmer'
        )
    div(class='lvldown')
        h1(data-i18n='confirmation-niveau-down')
        button(
            type='action'
            name='act_popup-annuler'
            data-i18n='annuler'
            class='annuler'
        )
        button(
            type='action'
            name='act_popupniveaudown-confirmer'
            data-i18n='confirmer'
            class='confirmer'
        )
    div(class='popupcombat')
        h1(data-i18n='ask-modificateurs')
        span(class='subtitle' name='attr_popup-title')
        div(class='contact')
            label
                div
                    span(data-i18n='dice-attaque')
                    span()=' : '
                select(name='attr_popup-dice-atk')
                    option(value='0')='D20'
                    option(value='-1')='D12'
            label
                div
                    span(data-i18n='nbre-dice')
                    span()=' : '
                input(
                    type='number'
                    name='attr_nbre-dice'
                    value='1'
                    min='1'
                )
            label
                div
                    span(data-i18n='rang-voie')
                    span()=' : '
                input(
                    type='number'
                    name='attr_rang-voie'
                    value='0'
                    min='0'
                )
            label
                div
                    span(data-i18n='divers')
                    span()=' : '
                input(
                    type='number'
                    name='attr_divers'
                    value='0'
                )
        div(class='sortilege')
            label
                div
                    span(data-i18n='dice-attaque')
                    span()=' : '
                select(name='attr_popup-dice-atk')
                    option(value='0')='D20'
                    option(value='-1')='D12'
            label
                div
                    span(data-i18n='nbre-dice')
                    span()=' : '
                input(
                    type='number'
                    name='attr_nbre-dice'
                    value='1'
                    min='1'
                )
            label
                div
                    span(data-i18n='rang-voie')
                    span()=' : '
                input(
                    type='number'
                    name='attr_rang-voie'
                    value='0'
                    min='0'
                )
            label
                div
                    span(data-i18n='divers')
                    span()=' : '
                input(
                    type='number'
                    name='attr_divers'
                    value='0'
                )
        div(class='distance')
            label
                div
                    span(data-i18n='dice-attaque')
                    span()=' : '
                select(name='attr_popup-dice-atk')
                    option(value='0')='D20'
                    option(value='-1')='D12'
            label
                div
                    span(data-i18n='nbre-dice')
                    span()=' : '
                input(
                    type='number'
                    name='attr_nbre-dice'
                    value='1'
                    min='1'
                )
            label
                div
                    span(data-i18n='rang-voie')
                    span()=' : '
                input(
                    type='number'
                    name='attr_rang-voie'
                    value='0'
                    min='0'
                )
            label
                div
                    span(data-i18n='divers')
                    span()=' : '
                input(
                    type='number'
                    name='attr_divers'
                    value='0'
                )
            div(class='checkbtn')
                input(
                    type='hidden'
                    name='attr_arcdefeu'
                    value='0'
                )
                button(
                    type='action'
                    name=`act_arcdefeu`
                )
                    span(class='checked')='✓'
                    span(class='unchecked')='✕'
                span(data-i18n='arc-de-feu')
            div(class='list')
                span(data-i18n='luminosite')
                select(name='attr_popup-luminosite')
                    option(value='std' data-i18n='standard')
                    option(value='pnbr' data-i18n='penombre')
                    option(value='noir' data-i18n='noir-total')
            div(class='list')
                span(data-i18n='portee')
                select(name='attr_popup-portee')
                    option(value='std' data-i18n='portee-normale')
                    option(value='dbl' data-i18n='portee-double')
                    option(value='trp' data-i18n='portee-triple')
        button(
            type='action'
            name='act_popup-annuler'
            data-i18n='annuler'
            class='annuler'
        )
        button(
            type='action'
            name='act_popupcombat-confirmer'
            class='confirmer'
        )
            span(data-i18n='jet')
            span()=' !'
    div(class='popupstd')
        h1(data-i18n='ask-modificateurs')
        span(class='subtitle' name='attr_popup-title')
        div
            label
                div
                    span(data-i18n='dice-utilise')
                    span()=' : '
                select(name='attr_popup-dice')
                    option(value='0')='D20'
                    option(value='-1')='D12'
            label
                div
                    span(data-i18n='nbre-dice')
                    span()=' : '
                input(
                    type='number'
                    name='attr_nbre-dice'
                    value='1'
                    min='1'
                )
            label
                div
                    span(data-i18n='rang-voie')
                    span()=' : '
                input(
                    type='number'
                    name='attr_rang-voie'
                    value='0'
                    min='0'
                )
            label
                div
                    span(data-i18n='divers')
                    span()=' : '
                input(
                    type='number'
                    name='attr_divers'
                    value='0'
                )
        button(
            type='action'
            name='act_popup-annuler'
            data-i18n='annuler'
            class='annuler'
        )
        button(
            type='action'
            name='act_popupstd-confirmer'
            class='confirmer'
        )
            span(data-i18n='jet')
            span()=' !'