mixin progressBox
  option(value="0" selected)
  option(value="1") -
  option(value="2") +
  option(value="3") *
  option(value="4") #

mixin progressTrack(track, name, opts = [])
  .progress-container
    div.progress-row
      div
        label.btn(class=opts.btnClasses)
          span.i18n-text(data-i18n="progress-mark")=translation["progress-mark"]
          input(class="mark-vow hide-element" type="checkbox" name="attr_mark_progress")
        label.btn(class=opts.btnClasses)
          span.i18n-text(data-i18n="progress-clear")=translation["progress-clear"]
          input(class="clear-vow hide-element" type="checkbox" name="attr_clear_progress")
      each value in track
        +progressBoxComplex(`attr_progress_${value}`)
      div
        label.btn(class=opts.btnClasses)
          span.i18n-text(data-i18n="progress-conclude")=translation["progress-conclude"]
          button(
            type="roll"
            class='hide-element'
            name='rollProgress'
            value=`&{template:starforged_progress} {{progress_name=@{${name}}}} {{progress=[[@{progress-filled}]]}} {{challenge1=[[d10]]}} {{challenge2=[[d10]]}}`
          )
      input.hide-element(type='text' name='attr_progress-filled' value=`floor((@{progress_${track[0]}}+@{progress_${track[1]}}+@{progress_${track[2]}}+@{progress_${track[3]}}+@{progress_${track[4]}}+@{progress_${track[5]}}+@{progress_${track[6]}}+@{progress_${track[7]}}+@{progress_${track[8]}}+@{progress_${track[9]}})/4)` disabled='true')

mixin progressBoxComplex(attribute_name)
  .progress-input-holder
    select(name=attribute_name class="progress-input")
      +progressBox
    +progress_inputs(attribute_name)

mixin largeProgressBoxComplex(attribute_name)
  .large-progress-input-holder
    select(name=attribute_name class="large-progress-input")
      +progressBox
    +progress_inputs(attribute_name, { classes: 'large-input' })

mixin progress_inputs(attribute_name, opts = null)
  each index in ['1', '2', '3', '4']
    if opts
      if opts.classes
        input.hide(type='number' class=`hide ${opts.classes}` name=attribute_name min=index required)
    else
      input.hide(type='number' name=attribute_name min=index required)
    span