mixin statEditor()
  each stat in stats
    - const upper = stat.toUpperCase()
    div.stat
      h3.stats-title=upper
      input(
        type='text'
        class='stats-input'
        name=`attr_${stat}`
        value='0'
      )

mixin statStatic()
  each stat in stats
    - const upper = stat.toUpperCase()
    - const capitalised = stat.charAt(0).toUpperCase() + stat.slice(1)
    div.stat
      label.roll-label
        h3.stats-title=upper
        span(class='stats-input' name=`attr_${stat}`)
        button(
        type='roll'
        class='hide-element'
        title=`Roll +${capitalise}`
        name=`roll${capitalise}`
        value=`&{template:starforged_moves} {{name=Roll +${stat}}} {{action=[[{d6+@{${stat}}+(?{Modifier|0}),{10}}kl1]]}} {{negate1=[[1+@{${stat}}+(?{Modifier|0})]]}} {{negate2=[[2+@{${stat}}+(?{Modifier|0})]]}} {{negate3=[[3+@{${stat}}+(?{Modifier|0})]]}} {{negate4=[[4+@{${stat}}+(?{Modifier|0})]]}} {{negate5=[[5+@{${stat}}+(?{Modifier|0})]]}} {{negate6=[[6+@{${stat}}+(?{Modifier|0})]]}} {{challenge1=[[d10]]}} {{challenge2=[[d10]]}} {{momentum=[[@{momentum}]]}} {{modifiers=[[@{${stat}}+(?{Modifier|0})]]}} {{add=[[(?{Modifier|0})]]}} {{stat=[[@{${stat}}]]}}`
      )

mixin stats
  div.stats
    input(type='radio' class='hide-element stat-edit' name='attr_stat_mode' value='1')
    div.stat-edit.showhide
      div.stat-toggle.set-toggle
        label.stat-toggle.set-toggle APPLY
          input(type='radio' class='hide-element' name='attr_stat_mode_button' value='2')
      +statEditor()

    input(type='radio' class='hide-element stat-set' name='attr_stat_mode' value='2' checked)
    div.stat-set.showhide
      +statStatic()
      div.stat-toggle.edit-toggle
        label.stat-toggle.edit-toggle EDIT
          input(type='radio' class='hide-element' name='attr_stat_mode_button' value='1')