.horse
    .header
        h1(data-i18n='horses')
    .row
        h2.text-primary.knight(data-i18n='warhorse')
    .row.2autocolumn
        h2(data-i18n='type')
        +textInput('horse type')
    .row.2column
        each val in ['damage', 'move']
            .col.2autocolumn
                if val === 'damage'
                    +damageButton(`horse ${val}`, 'damage')
                else
                    h2(data-i18n=val)
                    +textInput(`horse ${val}`)
    .row.2column
        each val in ['armor', 'hp']
            .col.2autocolumn
                h2(data-i18n=val)
                +numberInput(`horse ${val}`)
    .row.3column
        each val in ['siz', 'con', 'dex']
            .col.2autocolumn
                h2.text-uppercase(data-i18n=`${val}`)
                +textInput(`horse ${val}`)
    .row.2autocolumn
        h2(data-i18n='breed')
        +textInput('horse breed')

    .joust-score
        .header
          h1(data-i18n='joust score')
        .row.2column
          each val in ['win', 'losses']
            .col.2autocolumn
              h2(data-i18n=val)
              +numberInput(val)
  
    .repeating-container
        fieldset(class='repeating_horses')
            .row
                +textInput('horse')
                h2(data-i18n='move')
                +textInput('horse move')
