include ../progress/mixins/box

- var track = [ 0, 1, 2, 3, 4, 5, 6, 7, 8, 9 ]
- var menaceTrack = [ 1, 2, 3, 4, 5, 6, 7, 8, 9, 10 ]
- var legacyVows = [ 1, 2, 3, 4, 5 ]

mixin input(id, nameValue)
  input(
    type="text"
    class=id
    data-i18n-placeholder=id
    placeholder=translation[id]
    name=nameValue
  )

mixin repeatingVow()
  +input("vow-name", 'attr_vow_name')

  div.vows-header
    each difficulty, index in difficulties
      label.difficulty
        if difficulty.checked
          input(type="radio" class="hide-element" name="attr_rank" value=index checked)
        else
          input(type="radio" class="hide-element" name="attr_rank" value=index)
        - var translation = `difficulty-${difficulty.text}`
        h5(data-i18n=translation)=translation[translation]

  div.vow
    .progress-row
      div
        label.btn
          input(class="mark-vow hide" type="checkbox" name="attr_mark_progress")
          div.btn-div(data-i18n='vow-mark')=translation['vow-mark']
        label.btn
          input(class="clear-vow hide" type="checkbox" name="attr_clear_progress")
          div.btn-div(data-i18n='clear-btn')=translation['clear-btn']
      each index in track
        +progressBoxComplex(`attr_progress_${index}`)
      div
        label.btn
          button(
            type="roll"
            class='hide'
            name="rollVow"
            value="&{template:starforged_progress} {{progress_type=Vow}} {{progress_name=@{vow_name}}} {{progress=[[@{vow-filled}]]}} {{challenge1=[[d10]]}} {{challenge2=[[d10]]}}"
          )
          div.btn-div(data-i18n='vow-fulfill')=translation['vow-fulfill']     
      input(
        type="text"
        class="hide-element"
        name="attr_vow-filled"
        value="floor((@{progress_0}+@{progress_1}+@{progress_2}+@{progress_3}+@{progress_4}+@{progress_5}+@{progress_6}+@{progress_7}+@{progress_8}+@{progress_9})/4)"
        disabled
      )