include ../progress/mixins/box

mixin input(id, nameValue)
  input(
    type="text"
    class=id
    data-i18n-placeholder=id
    placeholder=translation[id]
    name=nameValue
  )

mixin repeatingVow()
  .surface.vow-container
    +input("vow-name", 'attr_vow_name')

    div.vows-header
      each difficulty, index in difficulties
        label.difficulty.surface-2
          if difficulty.checked
            input(type="radio" class="hide-element" name="attr_rank" value=index checked)
          else
            input(type="radio" class="hide-element" name="attr_rank" value=index)
          - var translation = `difficulty-${difficulty.text}`
          h5(data-i18n=translation)=translation[translation]

    div.vow
      .progress-row
        div
          label.btn.surface-2
            input(class="mark-vow hide" type="checkbox" name="attr_mark_progress")
            div.btn-div.i18n-text(data-i18n='progress-mark')=translation['progress-mark']
          label.btn.surface-2
            input(class="clear-vow hide" type="checkbox" name="attr_clear_progress")
            div.btn-div.i18n-text(data-i18n='clear-btn')=translation['clear-btn']
        each index in track
          +progressBoxComplex(`attr_progress_${index}`)
        div
          label.btn.surface-2
            button(
              type="roll"
              class='hide'
              name="rollVow"
              value="&{template:starforged_progress} {{progress_type=Vow}} {{progress_name=@{vow_name}}} {{progress=[[@{vow-filled}]]}} {{challenge1=[[d10]]}} {{challenge2=[[d10]]}}"
            )
            div.btn-div.i18n-text(data-i18n='vow-fulfill')=translation['vow-fulfill']
        input(
          type="text"
          class="hide-element"
          name="attr_vow-filled"
          value=`floor((@{progress_${track[0]}}+@{progress_${track[1]}}+@{progress_${track[2]}}+@{progress_${track[3]}}+@{progress_${track[4]}}+@{progress_${track[5]}}+@{progress_${track[6]}}+@{progress_${track[7]}}+@{progress_${track[8]}}+@{progress_${track[9]}})/4)`
          disabled
        )