mixin textInput(name)
	- const attrName = name.replace(/ /g, '_');
	label(data-i18n-title=`enter ${name}` title=`enter ${name}`)
		input(data-i18n-placeholder=name name=`attr_${attrName}` placeholder=name title=`@{${attrName}}` type='text' value='')

mixin numberInput(name)
	- const attrName = name.replace(/ /g, '_');
	label(data-i18n-title=`enter ${name}` title=`enter ${name}`)
		input(name=`attr_${attrName}` title=`@{${attrName}}` type='number' value='')

mixin checkboxInput(name)
	- const attrName = name.replace(/ /g, '_');
	label.styled-checkbox.grid(data-i18n-title=`toggle ${name}` title=`enter ${name}`)
		input(name=`attr_${attrName}` title=`@{${attrName}}` type='checkbox' value=name)
		span.pictos 3

mixin checkboxSymbol(name, symbol)
	- const attrName = name.replace(/ /g, '_');
	input.toggles.text-center(name=`attr_${attrName}` title=`@{${attrName}}` type='checkbox' value=name)
	span.toggles.text-center.pictos #{symbol}

mixin textarea(name)
	textarea(name=`attr_${name}` placeholder=name)

mixin rollButton(name)
	- const attrName = name.replace(/ /g, '-');
	button.text-capitalize(data-i18n=name name=`roll_${attrName}` type='roll' value=`&{template:rolls} {{header=^{${name}}}} {{dice=[[1d20[Roll]]]}}`)

mixin repeatingText(name)
	- const attrName = name.replace(/ /g, '-');
	fieldset(class=`repeating_${attrName}`)
		.rowx.grid.descriptor
			.skill
				span(name='attr_name')
			+checkboxSymbol('collapse', 'i')
			+checkboxSymbol('settings', 'p')
			.rowx.collapse
				span.collapse.description(name='attr_description')
			.rowx.settings
				+textInput(`name`)
				+textarea('description')

mixin repeatingBackpack()
	fieldset(class=`repeating_backpack`)
		.rowx.grid
			+textInput(`name`)
			+textInput(`uses`)

mixin repeatingArmor()
	fieldset(class=`repeating_armor`)
		.rowx.grid
			+textInput(`name`)
			+textInput(`marked`)

mixin repeatingWeapon()
	fieldset(class=`repeating_weapon`)
		.rowx.grid
			+textInput(`name`)