//- SHEET VERSION
- var version = "1.76"; 
input(type="hidden" name="attr_version" value=`${version}`)

//- sheet start
.tab-buttons.middle.center
  input.npctoggle(type="hidden" name="attr_npc" value="0")
  button.pc(type="action" name="act_character") Character
  button.pc(type="action" name="act_background") Background
  button.npc(type="action" name="act_npc") NPC
  button(type="action" name="act_settings") Settings
  span.version.bold
    | Sheet Version: 
    span(name="attr_version")
input.tabstoggle(type="hidden" name="attr_sheetTab" value="character")
//- ---------------------------------------------------------------------------------
//- --------------------------- CHARACTER  ------------------------------------------
//- ---------------------------------------------------------------------------------
main.character
  //- NAME SECTION
  section.name.columnflex.nowrap
    .rowflex.nowrap.spaced
      .columnflex.nowrap
        label(style="width:100px;") Character name
        input(name="attr_character_name" type="text")
      .columnflex.nowrap
        label(style="width:80px;") Player name
        input(name="attr_player_name" type="text")
      .columnflex.nowrap
        label Campaign
        input(name="attr_campaign" type="text")
      .rowflex.nowrap
        .columnflex.nowrap.dice
          label.w70(title="@{td}") Tension Die
          select(name="attr_td" title="Tension Die @{td}").td
            option(value="d4") d4
            option(value="d6" selected="") d6
            option(value="d8") d8
            option(value="d10") d10
            option(value="d12") d12
        button(name="roll_td" type="roll" title="Roll Tension Die %{td}" value="@{whisper}&{template:stargate} {{title=Tension Die (@{td})}} @{show_name}  {{Roll=[[@{td}]]}} {{desc=Rolls the current tension die for the episode. }}")=" TD"
    .rowflex.nowrap.spaced.row2
      .columnflex.nowrap
        label Race
        input(name="attr_race" list="race" placeholder="race" type="text")
      .columnflex.nowrap
        label Origin
        input(name="attr_origin" list="origin" placeholder="origin" type="text")
      .columnflex.nowrap
        label Class
        input(name="attr_class" list="rpgclass" placeholder="class" type="text")
      .columnflex.nowrap
        label.w40(title="@{rank}") Level
        input.w40(name="attr_rank" title="@{rank}" type="number" placeholder="1")
      .columnflex.nowrap
        label.w30 MP
        input.w40(name="attr_mp" type="number" placeholder="" title="Mission Points")
      input(name="attr_class" type="hidden").eureka
      input(name="attr_show_eureka" type="hidden").eureka
      .columnflex.nowrap.eureka
        label Eureka Points
        .rowflex.nowrap
          input.w40(name="attr_eureka" type="number" placeholder="" title="Eureka Points: @{eureka}" value="0")
          span /
          input.w40(name="attr_eureka_max" type="number" placeholder="" title="Max Eureka Points: @{eureka|max}")
      .rowflex.nowrap
        .columnflex.nowrap.dice
          label.w40(title="Hit Dice") HD
          select(name="attr_hd" title="Hit Dice: @{hd}")
            option(value="d4") d4
            option(value="d6" selected="") d6
            option(value="d8") d8
            option(value="d10") d10
            option(value="d12") d12
        button(name="roll_hd" type="roll" title="%{hd}" value="@{whisper}&{template:stargate} {{color=green}} {{title=Hit Dice}} @{show_name} !modbattr --silent --name @{character_name} --hp|{{Healing=[[@{hd}]]}}!!! {{desc=One roll of the Hit Dice.}}")=" HD"

  //- ATTRIBUTES SECTION
  .attr.columnflex.nowrap.center
    each key , val in attrnames
      .stat.columnflex.nowrap.center.middle
        button.txt-btn.large(name=`roll_${val}` title=`%{${val}}` type="roll" value=`@{whisper}&{template:stargate} {{title=${key.charAt(0).toUpperCase()}${key.slice(1)} Check}} @{show_name} {{[[d20+(@{${val}_mod})]]=[[d20+(@{${val}_mod})]]}}`)= val.toUpperCase()
        input(name=`attr_${val}` type="number" value="10")
        span.mod(name=`attr_${val}_mod` title=`@{${val}_mod}`)
  //- Skills (20)
  section.skills.columnflex.nowrap.spaced
    h3 Skills
    each skill in skills
      .rowflex.nowrap
        input(name=`attr_${skill.attr}_c` type="checkbox" value="1" title="Proficency")
        input.w30(name=`attr_${skill.attr}` type="number" title=`@{${skill.attr}}` value="0")
        button.txt-btn(name=`roll_${skill.attr}` type="roll" value=`@{whisper}&{template:stargate} {{title=${skill.name} Check}} @{show_name} {{[[d20+(@{${skill.attr}})]]=[[d20+(@{${skill.attr}})]]}}`)= skill.name
        span="(" + skill.keyattr + ")"
  //- hp
  section.hp.rowflex.nowrap
    .section.columnflex.nowrap.middle.center
      label.txtcenter(title="Hit Points") HP
      .rowflex.nowrap
        input.stat.w40(name="attr_hp" type="number" value="" placeholder="20" title="@{hp}")
        span.slash /
        input.stat.w40(name="attr_hp_max" type="number" value="" placeholder="20" title="@{hp|max}")
    .section.columnflex.nowrap.middle.center.temphp
      label.txtcenter(title="Temporary Hit Points") Temp HP
      .rowflex.nowrap
        input.stat.w40(name="attr_hp_temp" type="number" value="" title="@{hp_temp}")
        span.slash /
        input.stat.w40(name="attr_hp_temp_max" type="number" value="" title="@{hp_temp|max}")
  //- condition
  section.condition.columnflex.nowrap.spaced
    h3.txtcenter(title="@{condition}") CONDITION
    .rowflex.nowrap
      input(name="attr_condition" type="radio" value="0" checked="true")
      span Normal
    each val, key in condition
      .rowflex.nowrap
        input(name="attr_condition" type="radio" value=`${key}`)
        span= val
  //- prof
  .prof.rowflex.nowrap
    .section.columnflex.nowrap.middle.center
      label.wide(title="Proficiency Bonus") Prof Bonus
      input.stat.w40(name="attr_prof" type="number" value="2" title="Proficiency Bonus: @{prof}")
    .section.columnflex.nowrap.middle.center.init
      button.txt-btn(name="roll_init" type="roll" value="@{whisper}&{template:stargate} {{title=Initiative}} @{show_name} {{ Roll =[[@{init_dice}+(@{init}) &{tracker}]]}}" title="%{init}") Initiative
      input.stat.w40(name="attr_init" type="number" value="0" title="@{init}")
    .section.columnflex.nowrap.middle.center.moxie
      button.txt-btn(name="roll_moxie" type="roll" value="@{whisper}&{template:stargate} {{title=Moxie}} @{show_name} {{ Roll =[[@{moxie_dice}+(@{moxie}) &{tracker}]]}}" title="Social Initiative: %{moxie}") Moxie
      input.stat.w40(name="attr_moxie" type="number" value="0" title="Social Initiative: @{moxie}")
  //- ac
  .ac.rowflex.nowrap
    .section.columnflex.nowrap.middle.center
      label.wide Armor Class
      input.stat.w70(name="attr_ac" type="number" value="10" title="@{ac}")
    .section.columnflex.nowrap.middle.center
      label.wide determination
      .rowflex.nowrap
        input.stat.w40(name="attr_determination" type="number" value="2" title="@{determination}")
        span.slash /
        input.stat.w40(name="attr_determination_max" type="number" value="2" title="@{determination|max}")
  //- speed
  .speed.rowflex.nowrap
    .section.columnflex.nowrap.middle.center
      label.bold.txtcenter Speed
      input.w70.stat(name="attr_speed" type="text" value="6m")
    //- death
    .section.death.columnflex.nowrap.middle.center
      button.txt-btn.large(name="roll_deathsave" type="roll" value="@{whisper}&{template:stargate} {{color=black}} {{title=Death Save}} @{show_name} {{Result=[[d20]]}}" title="%{deathsave}") Death Save
      .rowflex.nowrap.gap5
        each num in N(3)
          input(name=`attr_death_success${num}` type="checkbox" value="1")
        span Sucesses
      .rowflex.nowrap.gap5
        each num in N(3)
          input(name=`attr_death_failure${num}` type="checkbox" value="1")
        span.pad Failures
  //- saves
  section.saves.columnflex.nowrap
    h3 Saves
    each key , val in attrnames
      .rowflex.nowrap
        input(name=`attr_${val}_save_c` type="checkbox" value="1")
        input.w30(name=`attr_${val}_save` title=`@{${val}_save}` type="number" value="0")
        button.txt-btn(name=`roll_${val}_save` title=`%{${val}_save}` type="roll" value=`@{whisper}&{template:stargate} {{title=${key.charAt(0).toUpperCase()}${key.slice(1)} Save}} @{show_name} {{[[d20+(@{${val}_save})]]=[[d20+(@{${val}_save})]]}}`)= key.charAt(0).toUpperCase() + key.slice(1)
  //- bulk
  .bulk.rowflex.nowrap.middle.center
    .section.columnflex.nowrap.middle.center
      h3(title="@{bulk}") Bulk
      input.stat.w40(name="attr_bulk" type="number" value="8" title="@{bulk}")
    .section.columnflex.nowrap.middle.center
      h5(title="@{perception_passive}") Passive Perception
      input.stat.w40(name="attr_perception_passive" type="number" value="" title="@{perception_passive}")
  //- inventory mini
  section.inventory.columnflex.nowrap.center
    h4 Inventory
    textarea(name="attr_inventory" title="@{inventory}")
  //- attacks
  section.attacks
    span.name.bold Attack/Action Name
    span.bold to hit
    span.bold.pl20 dmg
    span.bold.dmg-type type
    span.bold range
    span.bold Cap/Reload
    span.bold.pl20 special
    //- attacks 1 - 7
    each num in N(7)
      .rowflex.nowrap
        button(name=`roll_attack${num}` type="roll" title=`%{attack${num}}` value=`@{whisper}&{template:stargate} {{title=@{attack${num}}}} @{show_name} {{[[d20+(@{attack${num}_to_hit})]]=[[d20+(@{attack${num}_to_hit})]]}} {{Damage=[[@{attack${num}_dmg}+0]] @{attack${num}_dmgtype} }} {{desc=@{attack${num}_special} }}`)
        input.ml15(name=`attr_attack${num}` type="text" placeholder="Sidearm(Beretta M9)")
      div
        input.w40(name=`attr_attack${num}_to_hit` type="text" placeholder="4")
      div
        input.w70.mr15(name=`attr_attack${num}_dmg` type="text" placeholder="1d6")
      div
        input.w50(name=`attr_attack${num}_dmgtype` type="text" placeholder="piercing")
      div
        input.w50(name=`attr_attack${num}_range` type="text" placeholder="50/100")
      div
        input.w50(name=`attr_attack${num}_reload` type="text" placeholder="15/1")
      div
        input.w110.mr15(name=`attr_attack${num}_special` type="text")

//- ---------------------------------------------------------------------------------
//- --------------------------- BACKGROUND ----------------------------------------------
//- ---------------------------------------------------------------------------------
main.background
  section.racial_abilities.columnflex.nowrap.center
    label Racial Abilities
    textarea(name="attr_racial")
  section.feats.columnflex.nowrap.center
    label Feats
    textarea(name="attr_feats")
  section.class.columnflex.nowrap.center
    label Class Abilities
    textarea(name="attr_class_abilities")
  section.equipment.columnflex.nowrap.center
    label Equipment
    textarea(name="attr_equipment")
  section.prof.columnflex.nowrap.center
    label Proficiencies
    textarea(name="attr_proficiencies")
  section.notes.columnflex.nowrap.center
    label Notes
    textarea(name="attr_notes")
//- ---------------------------------------------------------------------------------
//- ------------------------------ NPC ----------------------------------------------
//- ---------------------------------------------------------------------------------
main.npc.gap
  h1 NPC
  .section.columnflex.nowrap
    label.other NPC stuff
    .rowflex.nowrap
      span CR:
      input.w40(name="attr_cr" type="number" placeholder="" title="Challenge Rating: @{cr}" value="")
      span Speed
      input.w40(name="attr_speed_npc" type="text" style="width:200px" placeholder="1m Fly(6m)" title="@{speed_npc}" value="")
    .rowflex.nowrap
      span Type:
      input.w40(name="attr_type" type="text" style="width:350px" placeholder="Medium Humanoid(Scout 2)" title="Challenge Rating: @{type}" value="")
//- ---------------------------------------------------------------------------------
//- --------------------------- SETTINGS --------------------------------------------
//- ---------------------------------------------------------------------------------
main.settings
  section.settings.columnflex.nowrap.center
    h2 Settings
    .rowflex.nowrap
      span(title="@{whisper}") Whisper rolls?
      input(name="attr_whisper" title="@{whisper}" type="checkbox" value="/w gm")
    .rowflex.nowrap
      span(title="@{show_name}") Show name in rolls?
      select(name="attr_show_name" title="@{show_name}").w60
        option(value="{{subtitle=@{character_name} }}") Yes
        option(value=" ") No
    .rowflex.nowrap
      span(title="If you have your class set to Scientist, Eureka Points will automatically be show on the Character tab next to the HD. If you select 'Always', Eureka points will be displayed regardless of class.") Display Eureka Points?
      select(name="attr_show_eureka")
        option(value="1") Always
        option(value="0" selected) Only if Scientist
    .rowflex.nowrap
      h3 Advantage/disadvantage on rolls
    .rowflex.nowrap
      span(title="@{init_dice}") Initiative
      select(name="attr_init_dice" title="@{init_dice}")
        option(value="d20" selected) Normal
        option(value="2d20kh1") Advantage
        option(value="2d20kl1") Disadvantage
    .rowflex.nowrap
      span(title="@{moxie_dice}") Moxie
      select(name="attr_moxie_dice" title="@{moxie_dice}")
        option(value="d20" selected) Normal
        option(value="2d20kh1") Advantage
        option(value="2d20kl1") Disadvantage
    .rowflex.nowrap
      button(name="roll_shortrest" type="roll" title="%{shortrest}" value="@{whisper}&{template:stargate} {{color=green}} {{title=Short Rest}} @{show_name} !modbattr --silent --name @{character_name} --hp|{{Healing=[[@{hd}]]}}!!! {{desc=One roll of the Hit Dice.}}") Short Rest
      button(name="roll_longrest" type="roll" title="%{longrest}" value="@{whisper}&{template:stargate} {{color=green}} {{title=Long Rest}} @{show_name}  !modbattr --silent --name @{character_name} --hp|{{Healing=[[@{rank}@{hd}]]}}!!! {{desc=Rolls a number of Hit Dice equal to the characters level, and recovers that amount of health. }}") Long Rest
      button(name="roll_td" type="roll" title="%{td}" value="@{whisper}&{template:stargate} {{title=Tension Die (@{td})}} @{show_name}  {{Roll=[[@{td}]]}} {{desc=Rolls the current tension die for the episode. }}") Tension Dice
    .rowflex.nowrap
      h3 Custom roll
    .rowflex.nowrap
      button(name="roll_custom1" type="roll" value="@{whisper}@{custom1}")
      input(type="text" name="attr_custom1" value="&{template:stargate} {{color=green}} {{title=Med Kit}} @{show_name}  {{Healing=[[1d4]]}} {{desc=Heals someone with a medic kit. }}")
    .rowflex.nowrap
      button(name="roll_custom2" type="roll" value="@{whisper}@{custom2}")
      input(type="text" name="attr_custom2" value="&{template:stargate} {{color=white}} {{title=Scientific Discovery}} @{show_name}  {{DC=[[8+(@{wis_mod}[wisdom modifier])+(@{prof}[proficiency])]] Wisdom or Intelligence Save}} {{desc=Archeologist: As an action you can cause a target emotional and mental distress by using cultural taboos against them. If the target fails a Wisdom save (DC 8+ Intelligence modifier + Proficiency Bonus) you may spend a number of Eureka points. The target is stunned for a number of rounds equal to the Eureka points spent. A target that passes its save is immune to this ability for 24 hours (and possibly very upset). }}")
    .rowflex.nowrap
      button(name="roll_custom3" type="roll" value="@{whisper}@{custom3}")
      input(type="text" name="attr_custom3" value="&{template:stargate} {{color=white}} {{title=Tension Die (@{td})}} @{show_name}  {{Roll=[[@{td}]]}} {{desc=Rolls the current tension die for the episode. }}")
    .rowflex.nowrap
      button(name="roll_custom4" type="roll" value="@{whisper}@{custom4}")
      input(type="text" name="attr_custom4" value="&{template:stargate} {{title=Tension Die (@{td})}} @{show_name}  {{Roll=[[@{td}]]}} {{desc=Rolls the current tension die for the episode. }}")
  section.other.columnflex.nowrap.center
    h2 Other stats
    .rowflex.nowrap
      span Mission Points(MP):
      input.w40(name="attr_mp" type="number" placeholder="" title="Mission Points @{mp}")
      |       /
      input.w40(name="attr_mp_max" type="number" placeholder="" title="Total Mission Points @{mp|max}")
    .columnflex.nowrap
      span Wounds/Ability Damage
      textarea.dmg(name="attr_ability_damage")
  section.changelog.columnflex.nowrap.center
    button.txt-btn(name="roll_help" type="roll" value="@{whisper}&{template:stargate} {{title=[(Link)Sheet Userguide](https://wiki.roll20.net/Stargate) }} {{subtitle=Roll20 Wiki}} {{desc=  (Right-click to open in a new tab)\n**Official Stargate RPG**\n**Roll20 Character Sheet**\n created by **Andreas J.**([@anduh_](https://twitter.com/anduh_)) }}") Sheet Documentation
    br
    h1 Changelog
    label v.1.76 (Sept 30th)
    span
      |• add passive perception(next to bulk)
    label v.1.75 (Sept 7th)
    span
      |• Moved Eureka Points to main page. Shown to Scientists by default, setting option to always show it
      br
      |• Added HD & TD buttons to main page, changed HD to dropdown
      br
      |• rearrange WIS & INT to correct order
      br
      |• minor visual fixes
    label v.1.74 (Aug 30th)
    span
      |• Add adv./disadv. options to Init & moxie rolls
      br
      |• Add 6th & 7th weapon slot
    label v.1.73 (Aug 9th)
    span
      |• Remove History Skill (was skill in old beta rules)
    label v.1.72 (June)
    span
      |• code refactor
      br
      |       • page navigation made always visible
    label v.1.70 (May)
    span
      | • replace page buttons
      br
      |       • add datalists for race, origin, class
      br
      |       • refactor sheet in PUG &amp; SCSS
      br
      |       • update the sheet to work with CSE
  .ammo
    .section.columnflex.nowrap
      label.other Living Series
      .rowflex.nowrap
        span Stargaterpg.com username
        input.w40(name="attr_living_series_user" type="text" placeholder="" value="" style="width:100px")
        span(title="You can see your Roll20 id by going to your Roll20 profile page, and copying the numbers in the URL") Roll20 ID
        input.w40(name="attr_roll20id" type="text" style="width:100px" title="You can see your Roll20 id by going to your Roll20 profile page, and copying the numbers in the URL" value="")
      .rowflex.nowrap
        span Stargaterpg.com character link
        input.w40(name="attr_cahracter_link" type="text" style="width:350px" placeholder="The url to your character sheet" value="")
    .ammo.grid
      each num in N(4)
        .section.columnflex.nowrap.middle.center
          label="Ammo Weapon " + num
          input(name=`attr_ammo${num}` type="number" value="0")
//-    .rowflex.nowrap
//-     span(title="@{npc}") NPC sheet?
//-      input(name="attr_npc" title="@{npc}" type="checkbox" value="1")
//-    {
//-      "attribute": "npc",
//-      "displayname": "NPC Sheet?",
//-      "description": "Check if you want to show new sheets as NPC by default",
//-      "type": "checkbox",
//-      "value": "1"
//-    },