- const buttonName = name => name.replace(/ /g, '-');
- const attrName = name => name.replace(/ /g, '_');
- const removeSpace = name => name.replace(/ /g, '');
- const toLowerCase = name => name.toLowerCase();

mixin textInput(name)
	label(data-i18n-title=`enter ${name}` title=`enter ${name}`)
		input(data-i18n-placeholder=name name=`attr_${attrName(name)}` title=`@{${attrName(name)}}` type='text' value='')

mixin numberInput(name)
	label(data-i18n-title=`enter ${name}` title=`enter ${name}`)
		input(name=`attr_${attrName(name)}` placeholder='0' title=`@{${attrName(name)}}` type='number' value='')

mixin checkboxInput(name)
	label.styled-checkbox.grid(data-i18n-title=`toggle ${name}` title=`enter ${name}`)
		input(name=`attr_${attrName(name)}` title=`@{${attrName(name)}}` type='checkbox' value=name)
		span.pictos 3

mixin checkboxSymbol(name, symbol)
	input.toggles.text-center(name=`attr_${attrName(name)}` title=`@{${attrName(name)}}` type='checkbox' value=name)
	span.toggles.text-center.pictos #{symbol}

mixin textarea(name)
	textarea(name=`attr_${attrName(name)}` data-i18n-placeholder=name)

mixin rollButton(name)
	button.text-capitalize(data-i18n=name name=`roll_${buttonName(name)}` type='roll' value=`&{template:rolls} {{header=^{${name}}}} {{dice=[[1d20[Roll]]]}}`)

mixin repeatingText(name)
	fieldset(class=`repeating_${buttonName(name)}`)
		.rowx.grid.descriptor
			button.text-left.eclipse.font-weight-bold(name='roll_button' type='roll')
				span(name='attr_name')
			+checkboxSymbol('collapse', 'i')
			+checkboxSymbol('settings', 'p')
			.rowx.collapse
				span.collapse.description(name='attr_description')
			.rowx.settings
				+textInput(`name`)
				+textarea('description')

mixin repeatingBenefits(name)
	fieldset(class=`repeating_${buttonName(name)}`)
		.rowx.grid.descriptor
			button.text-left.eclipse.font-weight-bold(name='roll_button' type='roll')
				span(name='attr_name')
			+checkboxSymbol('collapse', 'i')
			+checkboxSymbol('settings', 'p')
			.rowx.collapse
				.grid.benefit-cost-row
					h3.font-smallcaps(data-i18n='benefit')
					h3.font-smallcaps(data-i18n='cost')
					span(name='attr_cost')
				.row
					span.collapse.description(name='attr_benefit')
			.rowx.settings
				.grid.mb-1.benefit-cost-row
					h3.font-smallcaps(data-i18n='name')
					+textInput(`name`)
					h3.font-smallcaps(data-i18n='cost')
					+textInput(`cost`)
				.row
					h3.font-smallcaps(data-i18n='benefit')
					+textarea('benefit')

mixin repeatingWithChecks(name)
	fieldset(class=`repeating_${buttonName(name)}`)
		.rowx.grid.descriptor
			+checkboxInput('check')
			button.text-left.eclipse.font-weight-bold(name='roll_button' type='roll')
				span(name='attr_name')
			+checkboxSymbol('collapse', 'i')
			+checkboxSymbol('settings', 'p')
			.rowx.collapse
				span.collapse.description(name='attr_description')
			.rowx.settings
				+textInput(`name`)
				+textarea('description')