include ../../data/difficulties
include ../progress/mixins/box

- var track = [ 0, 1, 2, 3, 4, 5, 6, 7, 8, 9 ]
- var menaceTrack = [ 1, 2, 3, 4, 5, 6, 7, 8, 9, 10 ]
- var legacyVows = [ 1, 2, 3, 4, 5 ]

mixin vowLegacy(number)
  input(type="text" class="vow-name" placeholder='Vow' name=`attr_vow${number}_name`)
  
  input.optional-vow-threat.hide(type='checkbox' name=`attr_optional_vow_threat_${number}` checked)
  .optional-vow-threat.showhide
    .threat-container
      .threat-header
        input(type="text" class="threat-name" placeholder='Threat' name=`attr_vow${number}_threat-name`)
        label.menace-show
          input(type='checkbox' class='hide menace-show-button' name=`attr_vow${number}_menace-show-button`)
          .menace-show-back MENACE
      input(type='checkbox' class='hide menace-show' name=`attr_vow${number}_menace-show`)
      .menace-row.showhide
        each index in menaceTrack
          label.menace-box
            input.menace-vow.hide(type='checkbox' class='hide' name=`attr_vow${number}-${index}-threat`)
            .menace-fill
            
  div.vows-header
    each difficulty, index in difficulties
      label.difficulty
        if difficulty.checked
          input(type="radio" class="hide" name=`attr_vow${number}_rank` value=index checked)
        else
          input(type="radio" class="hide" name=`attr_vow${number}_rank` value=index)
        h5=difficulty.text

  div.vow
    div
      label.btn MARK
        input(class="mark-vow hide" type="checkbox" name=`attr_mark_progress_${number}`)
      label.btn CLEAR
        input(class="clear-vow hide" type="checkbox" name=`attr_clear_progress_${number}`)
      each index in track
        select(name=`attr_vow${number}-${index}` class="progress-input")
          +progressBox
      label.btn FULFILL 
        button(
          type="roll"
          class='hide'
          name="rollVow"
          value=`&{template:ironsworn_progress} {{progress_type=Vow}} {{header=@{character_name} <em>Fulfill Your Vow</em> }} {{progress_name=@{vow${number}_name}}} {{progress=[[@{vow${number}-filled}]]}} {{challenge1=[[d10]]}} {{challenge2=[[d10]]}}`
        )               
      input(
        type="text"
        class="hide"
        name=`attr_vow${number}-filled`
        value=`floor((@{vow${number}-0}+@{vow${number}-1}+@{vow${number}-2}+@{vow${number}-3}+@{vow${number}-4}+@{vow${number}-5}+@{vow${number}-6}+@{vow${number}-7}+@{vow${number}-8}+@{vow${number}-9})/4)`
        disabled
      )

mixin repeatingVow()
  input(type="text" class="vow-name" name="attr_vow_name")

  .threat-container
    .threat-header
      input(type="text" class="threat-name" placeholder='Threat' name=`attr_threat-name`)
      label.menace-show
        input(type='checkbox' class='hide menace-show-button' name=`attr_menace-show-button` checked)
        .menace-show-back MENACE
    input(type='checkbox' class='hide menace-show' name=`attr_menace-show` checked)
    .menace-row.showhide
      each index in menaceTrack
        label.menace-box
          input.menace-vow.hide(type='checkbox' class='hide' name=`attr_menace-${index}`)
          .menace-fill

  div.vows-header
    each difficulty, index in difficulties
      label.difficulty
        if difficulty.checked
          input(type="radio" class="hide" name="attr_rank" value=index checked)
        else
          input(type="radio" class="hide" name="attr_rank" value=index)
        h5=difficulty.text

  div.vow
    div
      label.btn MARK
        input(class="mark-vow hide" type="checkbox" name="attr_mark_progress")
      label.btn CLEAR
        input(class="clear-vow hide" type="checkbox" name="attr_clear_progress")
      each index in track
        select(name=`attr_progress_${index}` class="progress-input")
          +progressBox
      label.btn FULFILL 
        button(
          type="roll"
          class='hide'
          name="rollVow"
          value="&{template:ironsworn_progress} {{progress_type=Vow}} {{header=@{character_name} <em>Fulfill Your Vow</em> }} {{progress_name=@{vow_name}}} {{progress=[[@{vow-filled}]]}} {{challenge1=[[d10]]}} {{challenge2=[[d10]]}}"
        )               
      input(
        type="text"
        class="hide"
        name="attr_vow-filled"
        value="floor((@{progress_0}+@{progress_1}+@{progress_2}+@{progress_3}+@{progress_4}+@{progress_5}+@{progress_6}+@{progress_7}+@{progress_8}+@{progress_9})/4)"
        disabled
      )