mixin repeatingWeapons(name)
	fieldset(class=`repeating_${buttonName(name)}`)
		.rowx.grid.descriptor
			+repeatingWeaponButton(name)
			each val in weaponFields
				.grid.column.text-center.mb-2.ellipsis(class=val)
					span(name=`attr_${attrName(val)}`)
			+checkboxSymbol('collapse', 'i')
			+checkboxSymbol('settings', 'p')
			.rowx.collapse
				each val in ['properties', 'special', 'description']
					.row.mb-1
						h3(data-i18n=val)
						span.collapse.description(name=`attr_${val}`)
			.rowx.settings
				.grid.weapon.mb-1
					each val in ['name', ...weaponFields]
						.grid.mb-2(class=val)
							h3.font-smallcaps(data-i18n=val)
							+textInput(val)
				.row
					h3.font-smallcaps(data-i18n='description')
					+textarea('description')
