.handler
	.grid_handler.agent-data.border(id='applicable-skills-handler')
		.header
			//h1(data-i18n="Agents Summary") Agents Summary
			h1 Agents Summary
		.inner-main.agent-grid.border-bottom
			- const infoProp = ['Agent','HP', 'WP', 'SAN', 'STR', 'CON', 'DEX', 'INT', 'POW', 'CHA', 'BP', 'Violence', 'Helplessness']		
			each prop in infoProp
				if prop === 'Helplessness'
					.grid__item_last
						h2= prop
				else if prop === 'Agent'
					.grid__item
						//button.update(type='action' name='act_update_agents') 1
						h2= prop
				else
					.grid__item
						h2= prop

		.inner-main.border-bottom.repeating-container
			fieldset.repeating_agents
				.handler_header.inner-main.agent-grid.repeating-agent-grid.border-bottom
					- const dataProp = ['name','hit_points', 'willpower_points', 'sanity_points', 'strength_score', 'constitution_score', 'dexterity_score','intelligence_score', 'power_score', 'charisma_score', 'reached_breaking_point','violence_adapted', 'helplessness_adapted']
					each attrName in dataProp
						if attrName==='name'
							.grid__item
								input(type='hidden' name=`attr_character_id` value=``)
								input.input-agent-name(  type='text' name='attr_name' value='name' title='@{repeating_agents_${x}_' + attrName + '}')
						else if attrName==='helplessness_adapted'
							.grid__item_last.align-center
								input(type='hidden' class='edit_test' name=`attr_${attrName}` value=``)
								span.align-center(name=`attr_${attrName}`)
						else
							.grid__item.align-center
								input(type='hidden' class='edit_test' name=`attr_${attrName}` value=``)
								span.align-center(name=`attr_${attrName}`)
								