mixin textInput(name)
	- const attrName = name.replace(/ /g, '_');
	label(data-i18n-title=`enter ${name}` title=`enter ${name}`)
		input(data-i18n-placeholder=name name=`attr_${attrName}` placeholder=name title=`@{${attrName}}` type='text' value='')

mixin numberInput(name)
	- const attrName = name.replace(/ /g, '_');
	label(data-i18n-title=`enter ${name}` title=`enter ${name}`)
		input(name=`attr_${attrName}` placeholder='#' title=`@{${attrName}}` type='number' value='0')

mixin checkboxInput(name)
	- const attrName = name.replace(/ /g, '_');
	label.styled-checkbox.grid(data-i18n-title=`${name}` title=`${name}`)
		input(name=`attr_${attrName}` title=`@{${attrName}}` type='checkbox' value=name)
		span.pictos 3

mixin attributeButton(name)
	- const buttonName = name.replace(/ /g, '-');
	- const attrName = name.replace(/ /g, '_');
	button.text-uppercase(data-i18n=`${name.slice(0, 3)}` name=`roll_${buttonName}` type='roll' value!=`&{template:rolls} {{header=^{${name}}}} {{dice=[[{1d20+({@{${attrName}}+?{Mod.|0}-20,0}kh1),1d0+20}kl1 [Roll]]]}} {{threshold=[[{@{${attrName}}+?{Mod.|0},20}kl1[Threshold]]]}} {{fumbleVal=[[20+({@{${attrName}}+?{Mod.|0},0}kl1)]]}}`)

mixin rollButton(name)
	- const buttonName = name.replace(/ /g, '-');
	- const attrName = name.replace(/ /g, '_');
	button.text-capitalize(data-i18n=name name=`roll_${buttonName}` type='roll' value!=`&{template:rolls} {{header=^{${name}}}} {{dice=[[{1d20+({@{${attrName}}+?{Mod.|0}-20,0}kh1),1d0+20}kl1 [Roll]]]}} {{threshold=[[{@{${attrName}}+?{Mod.|0},20}kl1[Threshold]]]}} {{fumbleVal=[[20+({@{${attrName}}+?{Mod.|0},0}kl1)]]}}`)

mixin squireButton(name)
	- const buttonName = name.replace(/ /g, '-');
	- const attrName = name.replace(/ /g, '_');
	button.text-capitalize(data-i18n=name name=`roll_${buttonName}` type='roll' value!=`&{template:rolls} {{header=Squire's ^{${name}}}} {{dice=[[{1d20+({@{squire_${attrName}}+?{Mod.|0}-20,0}kh1),1d0+20}kl1 [Roll]]]}} {{threshold=[[{@{squire_${attrName}}+?{Mod.|0},20}kl1[Threshold]]]}} {{fumbleVal=[[20+({@{squire_${attrName}}+?{Mod.|0},0}kl1)]]}}`)

mixin damageButton(name)
	- const buttonName = name.replace(/ /g, '-');
	- const attrName = name.replace(/ /g, '_');
	button.text-capitalize(data-i18n=name name=`roll_${buttonName}` type='roll' value!=`&{template:rolls} {{header=^{${name}}}} {{damage=[[(@{${attrName}}+?{Mod.|0})d6]]}}`)

mixin horseDamageButton(name)
	- const buttonName = name.replace(/ /g, '-');
	- const attrName = name.replace(/ /g, '_');
	button.text-capitalize(data-i18n='damage' name=`roll_${buttonName}` type='roll' value!=`&{template:rolls} {{header=^{${name}}}} {{damage=[[(@{${attrName}}+?{Mod.|0})d6]]}}`)

mixin repeatingRollButton(name)
	- const buttonName = name.replace(/ /g, '-');
	- const attrName = name.replace(/ /g, '_');
	button.d20(name=`roll_${buttonName}` type='roll' value!=`&{template:rolls}{{header=@{name}}}{{dice=[[{1d20+({@{${attrName}}+?{Mod.|0}-20,0}kh1),1d0+20}kl1 [Roll]]]}} {{threshold=[[{@{${attrName}}+?{Mod.|0},20}kl1[Threshold]]]}} {{fumbleVal=[[20+({@{${attrName}}+?{Mod.|0},0}kl1)]]}}`) t