- var track = [ 0, 1, 2, 3, 4, 5, 6, 7, 8, 9 ]
include ../progress/mixins/box

input.optional-track-failures.hide(type='checkbox' name='attr_optional_track_failures' checked)
div.optional-track-failures.showhide
  h3.divide &emsp;FAILURES&emsp;
  .misses-track
    div
      label.clear-miss CLEAR
        input(class="clear-miss hide" type="checkbox" name="attr_clear_misses")
      each index in track
        select(name=`attr_miss-${index}` class="progress-input miss-input")
          +progressBox
      label.btn LEARN 
        button(
          type="roll"
          class='hide'
          name="rollMisses"
          value="&{template:ironsworn_progress} {{progress_type=Failures}} {{header=@{character_name} <em>Learn From Your Failures</em> }} {{progress=[[@{misses-filled}]]}} {{challenge1=[[d10]]}} {{challenge2=[[d10]]}}"
        )    
      input(
        type="text"
        class="hide"
        name="attr_misses-filled"
        value="floor((@{miss-0}+@{miss-1}+@{miss-2}+@{miss-3}+@{miss-4}+@{miss-5}+@{miss-6}+@{miss-7}+@{miss-8}+@{miss-9})/4)"
        disabled="true"
    )