include ../../components/acts/acts
include ../../data/acts

mixin acts_page
  div.page-container
    input(
      type='radio'
      name='attr_page'
      class='acts hide-element'
      value='0'
      checked)
    div.acts.showhide
      div.nav-bar
        div.nav-row
          each act, index in act_names
            - var translation = `nav_${act}`
            div.nav-child
              label.page-label
                if index == 0
                  input(type='radio' name='attr_act_page_button' class='hide-element page-button' value=index checked)
                else
                  input(type='radio' name='attr_act_page_button' class='hide-element page-button' value=index)
                div(class=`page-button-back ${act}` data-i18n=translation)=locals[translation]

      each act, index in act_names
        if index == 0
          input(
            type='radio'
            class=`act-${act} hide-element`
            name='attr_act_page'
            value=index
            checked)
        else
          input(
            type='radio'
            class=`act-${act} hide-element`
            name='attr_act_page'
            value=index)
        div(class=`act-${act} showhide`)
          +generate_act_input_blocks(act)
