include ../../data/difficulties
include ../progress/mixins/box

- var track = [ 0, 1, 2, 3, 4, 5, 6, 7, 8, 9 ]
- var menaceTrack = [ 1, 2, 3, 4, 5, 6, 7, 8, 9, 10 ]
- var legacyVows = [ 1, 2, 3, 4, 5 ]

mixin input(id, nameValue)
  input(
    type="text"
    class=id
    data-i18n-placeholder=id
    placeholder=locals.translations[id]
    name=nameValue
  )

mixin vowLegacy(number)
  +input("vow-name", `attr_vow${number}_name`)
  
  input.optional-vow-threat.hide-element(type='checkbox' name=`attr_optional_vow_threat_${number}` checked)
  .optional-vow-threat.showhide
    .threat-container
      .threat-header
        +input("vow-threat", `attr_vow${number}_threat-name`)
        label.menace-show
          input(type='checkbox' class='hide-element menace-show-button' name=`attr_vow${number}_menace-show-button`)
          .menace-show-back(data-i18n='vow-menace')=locals.translations['vow-menace']
      input(type='checkbox' class='hide-element menace-show' name=`attr_vow${number}_menace-show`)
      .menace-row.showhide
        each index in menaceTrack
          label.menace-box
            input.menace-vow.hide-element(type='checkbox' class='hide-element' name=`attr_vow${number}-${index}-threat`)
            .menace-fill
            
  div.vows-header
    each difficulty, index in difficulties
      label.difficulty
        if difficulty.checked
          input(type="radio" class="hide-element" name=`attr_vow${number}_rank` value=index checked)
        else
          input(type="radio" class="hide-element" name=`attr_vow${number}_rank` value=index)
        - var translation = `difficulty-${difficulty.text}`
        h5(data-i18n=translation)=locals.translations[translation]

  div.vow
    .progress-row
      div
        label.btn
          input(class="mark-vow hide" type="checkbox" name=`attr_mark_progress_${number}`)
          div.btn-div(data-i18n='vow-mark')=locals.translations['vow-mark']
        label.btn
          input(class="clear-vow hide" type="checkbox" name=`attr_clear_progress_${number}`)
          div.btn-div(data-i18n='clear-btn')=locals.translations['clear-btn']
      each index in track
        +progressBoxComplex(`attr_vow${number}-${index}`)
      div
        label.btn
          button(
            type="roll"
            class='hide'
            name="rollVow"
            value=`&{template:ironsworn_progress} {{progress_type=Vow}} {{header=@{character_name} <em>Fulfill Your Vow</em> }} {{progress_name=@{vow${number}_name}}} {{progress=[[@{vow${number}-filled}]]}} {{challenge1=[[d10]]}} {{challenge2=[[d10]]}}`
          )
          div.btn-div(data-i18n='vow-fulfill')=locals.translations['vow-fulfill']
      input(
        type="text"
        class="hide-element"
        name=`attr_vow${number}-filled`
        value=`floor((@{vow${number}-0}+@{vow${number}-1}+@{vow${number}-2}+@{vow${number}-3}+@{vow${number}-4}+@{vow${number}-5}+@{vow${number}-6}+@{vow${number}-7}+@{vow${number}-8}+@{vow${number}-9})/4)`
        disabled
      )

mixin repeatingVow()
  +input("vow-name", 'attr_vow_name')

  .threat-container
    .threat-header
      +input("vow-threat", 'attr_threat-name')
      label.menace-show
        input(type='checkbox' class='hide-element menace-show-button' name=`attr_menace-show-button`)
        .menace-show-back(data-i18n='vow-menace')=locals.translations['vow-menace']
    input(type='checkbox' class='hide-element menace-show' name=`attr_menace-show`)
    .menace-row.showhide
      each index in menaceTrack
        label.menace-box
          input.menace-vow.hide-element(type='checkbox' class='hide-element' name=`attr_menace-${index}`)
          .menace-fill

  div.vows-header
    each difficulty, index in difficulties
      label.difficulty
        if difficulty.checked
          input(type="radio" class="hide-element" name="attr_rank" value=index checked)
        else
          input(type="radio" class="hide-element" name="attr_rank" value=index)
        - var translation = `difficulty-${difficulty.text}`
        h5(data-i18n=translation)=locals.translations[translation]

  div.vow
    .progress-row
      div
        label.btn
          input(class="mark-vow hide" type="checkbox" name="attr_mark_progress")
          div.btn-div(data-i18n='vow-mark')=locals.translations['vow-mark']
        label.btn
          input(class="clear-vow hide" type="checkbox" name="attr_clear_progress")
          div.btn-div(data-i18n='clear-btn')=locals.translations['clear-btn']
      each index in track
        +progressBoxComplex(`attr_progress_${index}`)
      div
        label.btn
          button(
            type="roll"
            class='hide'
            name="rollVow"
            value="&{template:ironsworn_progress} {{progress_type=Vow}} {{header=@{character_name} <em>Fulfill Your Vow</em> }}   {{progress_name=@{vow_name}}} {{progress=[[@{vow-filled}]]}} {{challenge1=[[d10]]}} {{challenge2=[[d10]]}}"
          )
          div.btn-div(data-i18n='vow-fulfill')=locals.translations['vow-fulfill']     
      input(
        type="text"
        class="hide-element"
        name="attr_vow-filled"
        value="floor((@{progress_0}+@{progress_1}+@{progress_2}+@{progress_3}+@{progress_4}+@{progress_5}+@{progress_6}+@{progress_7}+@{progress_8}+@{progress_9})/4)"
        disabled
      )