mixin field(field)
  -
    const { name, label, value, placeholder, min, max, blockName } = field;
    const type = field.type || "text";
    const title = field.title || field.label;
    const klass = `${attributes.class || ""} ${blockName}__${name}--${type}`;
    const options = field.options || [];

    const placeholderKey = field.placeholderKey || name;

  case type
    when "hidden"
      input(name=`attr_${name}`, type=type, value=value, class=klass)

    when "number"
      input(name=`attr_${name}`, type=type, value=value, class=klass, min=min, max=max,
            data-i18n-placeholder=`placeholder_${placeholderKey}`, placeholder=placeholder)

    when "textarea"
      textarea(name=`attr_${name}`, value=value, class=klass, min=min, max=max,
            data-i18n-placeholder=`placeholder_${placeholderKey}`, placeholder=placeholder)

    when "checkbox"
    when "radio"
      -
        const titleKey = `title_${name}_${value}`.replace(/\s/g, '_').replace(/\W/g, '');
      input(name=`attr_${name}`, type=type, value=value, data-i18n-title=titleKey, title=title, class=klass)

    when "select"
      select(name=`attr_${name}`, type=type, class=klass )
        each option in options
          option(data-i18n=option.name, value=option.value)=option.label

    when "text"
    default
      input(name=`attr_${name}`, type=type, value=value, class=klass,
            data-i18n-placeholder=`placeholder_${placeholderKey}`, placeholder=placeholder)

mixin span(field)
  -
    const name = field.name;
    const value = field.value || "";
    const klass = attributes.class || "";
  span(name=`attr_${name}`, class=klass)=value
