mixin navigation(sheet)
  -
    const nav = data[sheet].navigation.fields;
    const initialpage = JSON.parse(JSON.stringify(nav.at(0)));
    initialpage.type = "hidden";

  nav.nav(class=`nav__${sheet}`)
    +field(initialpage)
    each field in nav
      .nav__page(class=`nav__page--${field.value}`)
        - const i18nkey = `${field.name}_${field.value}`;
        +field(field).nav__page--input
        label.nav__label(class=`nav__label--${field.value}`, data-i18n=i18nkey)=field.label
