//- From https://github.com/clevett/roll20-SheetTemplate/
mixin textInput(name, label)
  - const attrName = name.replace(/ /g, '_');
  label(data-i18n-title=`enter something ${name}` title=`enter ${name}` class=`label ${attributes.class}`) 
    if label
      span.label__text= label
    input.label__input(name=`attr_${attrName}` title=`@{${attrName}}` type='text' value='')

mixin numberInput(name)
  - const attrName = name.replace(/ /g, '_');
  label(data-i18n-title=`enter ${name}` title=`enter ${name}` class=`label ${attributes.class}`)
    input.input.input--number.label__input(name=`attr_${attrName}` title=`@{${attrName}}` type='number' value='')

mixin hiddenInput(name, value)
  - const attrName = name.replace(/ /g, '_');
  input.label__input(name=`attr_${attrName}` title=`@{${attrName}}` type='hidden' value=`${value}`)

mixin checkboxInput(name)
  - const attrName = name.replace(/ /g, '_');
  label(data-i18n-title=`toggle ${name}` title=`enter ${name}` class=`label label--checkbox ${attributes.class}`)
    input.label__checkbox(name=`attr_${attrName}` title=`@{${attrName}}` type='checkbox' value=name)

mixin checkboxSymbol(name, symbol)
  - const attrName = name.replace(/ /g, '_');
  input.toggles.h-text-center(name=`attr_${attrName}` title=`@{${attrName}}` type='checkbox' value=name)
  span.toggles.h-text-center.pictos #{symbol}

mixin textarea(name)
  textarea(name=`attr_${name}`)

mixin rollButton(name)
  - const attrName = name.replace(/ /g, '-');
  button.text-capitalize(data-i18n=name name=`roll_${attrName}` type='roll' value=`&{template:rolls} {{header=^{${name}}}} {{dice=[[1d20[Roll]]]}}`)

mixin repeatingText(name)
  - const attrName = name.replace(/ /g, '-');
  fieldset(class=`repeating_${attrName}`)
    .rowx.grid.descriptor
      button.text-left.eclipse.font-weight-bold(name='roll_button' type='roll')
        span(name='attr_name')
      +checkboxSymbol('collapse', 'i')
      +checkboxSymbol('settings', 'p')
      .rowx.collapse
        span.collapse.description(name='attr_description')
      .rowx.settings
        +textInput(`name`)
        +textarea('description')