- var track = [ 'one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight', 'nine', 'ten' ]
include ../../data/difficulties
include ./mixins/box

fieldset.repeating_progress
  div
    br
    input.progress-name(type='text' name='attr_name')
    .progress-header
      each difficulty, index in difficulties
        label.difficulty
          if difficulty.checked
            input(type="radio" class="hide" name="attr_rank" value=index checked)
          else
            input(type="radio" class="hide" name="attr_rank" value=index)
          h5=difficulty.text
    .progress
      div
        label.btn MARK
          input(class="mark-vow hide" type="checkbox" name="attr_mark_progress")
        label.btn CLEAR
          input(class="clear-vow hide" type="checkbox" name="attr_clear_progress")
        each index in track
          select(name=`attr_progress_${index}` class="progress-input")
            +progressBox
        label.btn CONCLUDE 
          button(
            type="roll"
            class='hide'
            name="rollProgress"
            value='&{template:ironsworn_progress} {{header=@{character_name} Conclude Your Progress}} {{progress_name=@{name}}} {{progress=[[@{progress-filled}]]}} {{challenge1=[[d10]]}} {{challenge2=[[d10]]}}'
          )    
        input.hide(type='text' name='attr_progress-filled' value='floor((@{progress_one}+@{progress_two}+@{progress_three}+@{progress_four}+@{progress_five}+@{progress_six}+@{progress_seven}+@{progress_eight}+@{progress_nine}+@{progress_ten})/4)' disabled='true')
