- var track = [ 'one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight', 'nine', 'ten' ]
- var challenge = [ 'one', 'two', 'three', 'four' ]
include ../../data/difficulties
include ./mixins/box
include ../../data/translations

fieldset.repeating_progress
  div
    br
    .sheet-progress-holder
      input.progress-name(type='text' name='attr_name')
      label.challenge-show
        input(type='checkbox' class='hide challenge-show-button' name='attr_challenge-show-button')
        .challenge-show-back(data-i18n='progress-challenge')=translations['progress-challenge']
    .progress-header
      each difficulty, index in difficulties
        label.difficulty
          if difficulty.checked
            input(type="radio" class="hide" name="attr_rank" value=index checked)
          else
            input(type="radio" class="hide" name="attr_rank" value=index)
          h5=difficulty.text
    .progress
      .progress-row
        div
          label.btn MARK
            input(class="mark-vow hide" type="checkbox" name="attr_mark_progress")
          label.btn CLEAR
            input(class="clear-vow hide" type="checkbox" name="attr_clear_progress")
        each index in track
          +progressBoxComplex(`attr_progress_${index}`)
        div
          label.btn CONCLUDE 
            button(
              type="roll"
              class='hide'
              name="rollProgress"
              value='&{template:ironsworn_progress} {{header=@{character_name} Conclude Your Progress}} {{progress_name=@{name}}} {{progress=[[@{progress-filled}]]}} {{challenge1=[[d10]]}} {{challenge2=[[d10]]}}'
            )    
        input.hide(type='text' name='attr_progress-filled' value='floor((@{progress_one}+@{progress_two}+@{progress_three}+@{progress_four}+@{progress_five}+@{progress_six}+@{progress_seven}+@{progress_eight}+@{progress_nine}+@{progress_ten})/4)' disabled='true')
    .progress
      input(type='checkbox' class='hide challenge-show' name='attr_challenge-show' checked)
      .challenge-row.showhide
        label.challenge-label COUNTDOWN
        each index in challenge
          label.challenge-box
            input.challenge.hide(type='checkbox' class='hide' name=`attr_countdown-${index}`)
            .challenge-fill
      
