include ./tracks
div.footer
  div.momentum
    each object in momentumPositiveTrack 
      div.momentum-box
        if object.checked
          input(
          type='radio'
          name='attr_momentum'
          class='momentum-box-input'
          value=object.value
          checked
        )
        else
          input(
            type='radio'
            name='attr_momentum'
            class='momentum-box-input'
            value=object.value
          )
        div.momentum-box-back
          h3.momentum-box-value=object.text

  div.momentum
    div.momentum.momentum-dark
      h3.momentum-title Momentum

    div.momentum-burn
      input(type='checkbox' class='momentum-burn' title='Burn Momentum' name='attr_momentumBurn')
      span.momentum-burn BURN
      div.momentum-burn-back
    
    div.momentum-status-box
      h3.momentum-max MAX
      h3.momentum-status-value
        span(name='attr_momentum_max')
      input(type='text' class='hide' name='attr_momentum_max' value='10')

    div.momentum-status-box
      h3.momentum-reset RESET
      h3.momentum-status-value
        span(name='attr_momentum_reset')
      input(type='text' class='hide' name='attr_momentum_reset' value='2')