- const buttonName = name => name.replace(/ /g, '-');
- const attrName = name => name.replace(/ /g, '_');
- const removeSpace = name => name.replace(/ /g, '');
- const toLowerCase = name => name.toLowerCase();

mixin textInput(name)
	label(data-i18n-title=`enter ${name}` title=`enter ${name}`)
		input(data-i18n-placeholder=name name=`attr_${attrName(name)}` placeholder=name title=`@{${attrName(name)}}` type='text' value='')

mixin numberInput(name)
	label(data-i18n-title=`enter ${name}` title=`enter ${name}`)
		input(name=`attr_${attrName(name)}` title=`@{${attrName(name)}}` type='number' value='')

mixin checkboxInput(name)
	label.styled-checkbox.grid(data-i18n-title=`toggle ${name}` title=`enter ${name}`)
		input(name=`attr_${attrName(name)}` title=`@{${attrName(name)}}` type='checkbox' value=name)
		span.pictos 3

mixin textarea(name)
	textarea(name=`attr_${attrName(name)}` placeholder=name)

mixin rollButton(name)
	button.text-capitalize(data-i18n=name name=`roll_${buttonName(name)}` type='roll' value!=`&{template:rolls} {{header=^{${name}}}} {{dice=[[1d20[Roll]]]}}`)

mixin repeatingRollButton(name)
	button.text-left.ellipsis.font-weight-bold(name=`roll_${buttonName(name)}` type='roll' value!=`&{template:rolls} {{header=@{name}}} {{dice=@{description}}}`)
		span(name='attr_name')

mixin repeatingChatButton(name)
	button.chat(name=`roll_${buttonName(name)}` type='roll' value!=`&{template:rolls} {{header=@{name}}} {{dice=@{description}}}`)
		span.pictos q

mixin headerInput(name)
	.grid.col-auto-fr.gap-1.grid-flow-col.items-center
		h2(data-i18n=name)
		+textInput(name)

mixin repeatingText(name)
	fieldset(class=`repeating_${buttonName(name)}`)
		.grid.descriptor
			+repeatingRollButton(name)
			+checkboxSymbol('collapse', 'i')
			+checkboxSymbol('settings', 'p')
			.collapse
				span.collapse.description(name='attr_description')
			.settings
				+textInput(`name`)
				+textarea('description')