.pc.grid.gap-6.p-2.w-full
	.flex.flex-wrap.flex-row.gap-4
		.logo.grow-0
			img(src='images/logo.png')
		.grid.gap-1.grow.bio
			.grid.grid-flow-col.gap-1
				+headerInput('character name')
				+headerInput('lineage')
			.grid.grid-flow-col.gap-1
				+headerInput('level')
				+headerInput('height')
				+headerInput('weight')
			.grid.grid-flow-col.gap-1
				+headerInput('eye color')
				+headerInput('hair color')
				+headerInput('other')
	.div
		h2.text-center(data-i18n='personality / background')
		+textarea('personality background')
	.grid.gap-4.justify-between.items-center.attributes
		each val in ['str', 'dex', 'end', 'luck', 'awr', 'int', 'cha']
			.grid.attribute.justify-center.items-center.border
				.circle.rounded-full.border.grid.justify-center.items-center.font-bold
					h3.text-center(data-i18n=val)
					+numberInput(val)
				.box.grid.justify-center.items-center.skill
					h3.text-center(data-i18n='skills/bonus')
					+textarea(`${val} skills bonus`)
		.grid.justify-center.items-center.border.relative
			.grid.justify-center.items-center.currency-header.absolute
				h2.text-center.font-bold(data-i18n="currency")
			.box.grid.justify-center.items-center.h-full.w-full
				+textarea("currency")
	.grid.grid-cols-2 
		.grid.gap-4.inventory
			h2.text-center(data-i18n='inventory')
			fieldset(class=`repeating_inventory`)
				.grid.descriptor.relative.gap-1
					+editFlag()
					.grid.grid-flow-col.display.gap-4
						span.border-b-1(name=`attr_${attrName('name')}`)
						span.border-b-1.text-center(name=`attr_${attrName('qty')}`)
						+repeatingChatButton("item")
					.grid.grid-flow-col.edit.gap-4
						.grid.col-auto-fr
							h3.text-center(data-i18n='name')
							+textInput('name')
						.grid.col-auto-fr
							h3.text-center(data-i18n='qty')
							+textInput('qty')
					.grid.notes.display
						span.pl-4(name='attr_notes')
					.grid.notes.edit
						h3(data-i18n='notes')
						+textarea('notes')
	.grid.gap-4.talents
		h2.text-center(data-i18n='talents')
		fieldset(class=`repeating_talents`)
			.grid.descriptor.relative.gap-1
				+editFlag()
				.grid.grid-flow-col.display.gap-4
					span.border-b-1(name=`attr_${attrName('name')}`)
					span.border-b-1.text-center(name=`attr_${attrName('level')}`)
					+repeatingChatButton("talent")
				.grid.grid-flow-col.edit.gap-4
					.grid.col-auto-fr
						h3.text-center(data-i18n='name')
						+textInput('name')
					.grid.col-auto-fr
						h3.text-center(data-i18n='level')
						+textInput('level')
				.grid.notes.display
					span.pl-4(name='attr_notes')
				.grid.notes.edit
					h3(data-i18n='notes')
					+textarea('notes')