.pc.p-2.w-full.h-full
	input(type="hidden"  name="attr_tab" value="main")

	.header.grid.gap-6.mb-4
		.flex.flex-wrap.flex-row.gap-4
			.logo.grow-0
				img(src='images/logo.png')
			.grid.gap-1.grow.bio
				.grid.grid-flow-col.gap-1
					+headerInput('character name')
					+headerInput('lineage')
				.grid.grid-flow-col.gap-1
					+headerInput('level')
					+headerInput('height')
					+headerInput('weight')
				.grid.grid-flow-col.gap-1
					+headerInput('eye color')
					+headerInput('hair color')
					+headerInput('other')
		.grid.gap-2.grid-flow-col.auto-cols-min
			.grid.radio-button
				input(type="radio" name="attr_tab" value="main" checked)
				span(data-i18n='main')
			.grid.radio-button
				input(type="radio" name="attr_tab" value="combat")
				span(data-i18n='combat')
			.grid.radio-button
				input(type="radio" name="attr_tab" value="magic")
				span(data-i18n='magic')
			.grid.radio-button
				input(type="radio" name="attr_tab" value="journal")
				span(data-i18n='journal')


	.grid.gap-6.main
		.div
			h2.text-center(data-i18n='personality / background')
			+textarea('personality background')
		.grid.gap-4.justify-between.items-center.attributes
			each val in ['str', 'dex', 'end', 'luck', 'awr', 'int', 'cha']
				.grid.attribute.justify-center.items-center.border
					.circle.rounded-full.border.grid.justify-center.items-center.font-bold
						h3.text-center(data-i18n=val)
						+numberInput(val)
					.box.grid.justify-center.items-center.skill
						h3.text-center(data-i18n='skills/bonus')
						+textarea(`${val} skills bonus`)
			.grid.justify-center.items-center.border.relative
				.grid.justify-center.items-center.currency-header.absolute
					h2.text-center.font-bold(data-i18n="currency")
				.box.grid.justify-center.items-center.h-full.w-full
					+textarea("currency")
		.grid.grid-flow-col.grid-cols-2.gap-4
			.grid.gap-4.inventory.content-start
				h2.text-center(data-i18n='inventory')
				fieldset(class=`repeating_inventory`)
					.grid.descriptor.relative.gap-1
						+editFlag()
						.grid.grid-flow-col.gap-4
							.grid.col-auto-fr.gap-2
								h3(data-i18n='name')
								span.display(name=`attr_${attrName('name')}`)
								+textInput('name')
							.grid.col-auto-fr.gap-2
								h3(data-i18n='qty')
								span.display.text-center(name=`attr_${attrName('qty')}`)
								+textInput('qty')
						+repeatingChatButton("item")
						.grid.notes
							span.display.pl-4(name='attr_notes')
							+textarea('notes')
			.grid.gap-4.talents.content-start
				h2.text-center(data-i18n='talents')
				fieldset(class=`repeating_talents`)
					.grid.descriptor.relative.gap-1
						+editFlag()
						.grid.grid-flow-col.gap-4
							.grid.col-auto-fr.gap-2
								h3(data-i18n='name')
								span.display(name=`attr_${attrName('name')}`)
								+textInput('name')
							.grid.col-auto-fr.gap-2
								h3(data-i18n='level')
								span.display.text-center(name=`attr_${attrName('level')}`)
								+textInput('level')
						+repeatingChatButton("name")
						.grid.notes
							span.display.pl-4(name='attr_notes')
							+textarea('notes')
		.div
			h2.text-center(data-i18n='bop / lineage abilities')
			+textarea('abilities')
	include pages/combat.pug

	include pages/magic.pug
