.pc.grid.gap-6.p-2
	input(type="hidden"  name="attr_tab" value="main")
	
	.grid.gap-4
		.flex.flex-wrap.flex-row.gap-4
			.logo.grow-0
				img(src='https://raw.githubusercontent.com/clevett/roll20-character-sheets/refs/heads/mythcraft-1.0/Mythcraft/Mythcraft-Logo-Badge-Textured-Black.png' alt="Mythcraft Logo" title="Mythcraft Logo")
			.grid.gap-1.grow.bio
				.grid.grid-flow-col.gap-2.name-row
					+headerInput('character name')
					.grid.col-auto-fr.gap-1.grid-flow-col.items-center
						h3(data-i18n="level")
						+numberInput("level")(class="text-center")
				.grid.grid-flow-col.gap-2.name-row
					each val in ['lineage', 'age']
						+headerInput(val)
				.grid.grid-flow-col.gap-2
					each val in ['height', 'weight', 'size']
						+headerInput(val)
				.grid.grid-flow-col.gap-2
					each val in ['appearance']
						+headerInput(val)
		.grid.gap-2.grid-flow-col.auto-cols-min
			each tab in ['main', 'combat', 'magic', 'talents', 'journal', ]
				.grid.tab.relative
					input(type="radio" name="attr_tab" value=tab checked=(!!tab === 'main'))
					span(data-i18n=tab)


	.grid.gap-6.main
		.grid.gap-2.double-border-2.rounded-md.p-2.relative
			+title('personality / background')
			.grid.grid-flow-col.gap-2.personality
				each val in [ 'values', 'drive', 'quirk']
					+headerInput(val)(class=`${val}`)
			.grid.grid-flow-col.gap-2.background
				each val in ['background', 'occupation tag']
					+headerInput(val)(class=`${val}`)

		.grid.gap-2.grid-flow-col.items-center.content-start.attrs.relative
			each val in coreAttributes
				.circle.rounded-full.border.grid.justify-center.items-center.font-bold
					+attributeRoll(shortName(val), `${val}`)
					+numberInput(val)

		.grid.grid-flow-cols.gap-4.content-start.p-2.relative.grid-cols-2
			.grid.gap-6.content-start
				.grid.double-border-2.rounded-md.p-2.relative.skills
					+title('skills')
					.grid.grid-flow-col.gap-2.mb-2.border-bottom.subheaders
						.grid.grid-flow-col.gap-2.custom-grid
							each val in ['name','attribute','bonus']
								h3(data-i18n=val)
					+repeatingSkills('skill')
				+repeatingList('inventory', {display: ['name', 'qty', ], collapse: ['tags', "cost"]})
				.grid.double-border-2.rounded-md.p-2.relative
					+title('currency')
					+textarea("currency")
			.grid.gap-6.content-start
				+repeatingList('favorites', {display: ['name', 'tags', ]})

		
	.grid.gap-6.combat
		.grid.grid-flow-col.gap-2.hp-row
			.grid.double-border-2.rounded-md.p-2.relative
				+title("hp & shield")
				.grid.grid-flow-col.gap-2.hp
					+numberInputWithMax("hp")
					.grid.justify-center.items-center
						+numberInput("shield")(class="text-center")
						h3.text-center(data-i18n="shield")
			.grid.double-border-2.rounded-md.p-2.relative
				+title("death points")
				+numberInputWithMax("death points")
			.grid.double-border-2.rounded-md.p-2.relative
				+title("armor rating")
				+numberInput("armor rating", 10)
			.grid.double-border-2.rounded-md.p-2.relative
				+title("speed")
				+textInput("speed","20 ft")(class="text-center")
		.grid.gap-2
			.grid.grid-flow-col.gap-2.items-center
				.grid.double-border-2.rounded-md.p-2.relative
					+title("action points")
					.grid.grid-flow-col.gap-2
						.grid.justify-center.items-center
							+numberInput("action points")
							h3.text-center(data-i18n="current")
						.grid.justify-center.items-center
							+attrSpan("action points per round")(class="text-center")
							h3.text-center(data-i18n="ap/round")
				.grid.double-border-2.rounded-md.p-2.relative
					+title("special action points")
					+numberInputWithMax("special action points")
				.grid.double-border-2.rounded-md.p-2.relative
					+title("rerolls")
					.grid.grid-flow-col.gap-2
						.grid.justify-center.items-center
							+numberInput("rerolls")
							h3.text-center(data-i18n="current")
						.grid.justify-center.items-center
							+attrSpan("rerolls_max")(class="text-center")
							h3.text-center(data-i18n="max")

		.grid.gap-1.justify-between.items-center.attrs
			each val in combatAttributes
				.grid.relative.justify-center.items-center
					.circle.rounded-full.border.grid.justify-center.items-center.font-bold
						+attributeRoll(shortName(val), `${val}`)
						+numberInput(val)
			div
			each val in derivedAttributes
				.grid.relative.justify-center.items-center(class=`${val}`)
					.circle.rounded-full.border.grid.justify-center.items-center.font-bold
						h3.text-center(data-i18n=shortName(val))
						+attrSpan(val)(class="text-center")
			.grid.relative.justify-center.items-center(class=`${val}`).rerolls
				.circle.rounded-full.border.grid.justify-center.items-center.font-bold
					h3.text-center(data-i18n="rerolls")
					.grid.grid-flow-col.gap-2
						span(name="attr_rerolls_max" class="text-center")
		
		.grid.double-border-2.rounded-md.p-2.relative.attacks
			+title("attacks & spellcasting")
			+subheaders(["name", "apc", "attribute", "bonus", "damage", "damage type", "range"])
			.grid.gap-4
				+repeatingAttacks()
		.grid.gap-4.grid-flow-col.auto-cols-fr
			.grid.gap-6.content-start
				+repeatingList('reactive actions', {display: ['name', 'ap']})
				+repeatingList('conditions', {display: ['name']})
			.grid.gap-6.content-start
				+repeatingList('favorites', {display: ['name', 'tags', ]})


	.grid.gap-6.magic
		.grid.grid-flow-col.gap-4.mb-4
			.grid.double-border-2.rounded-md.p-2.relative
				+title("source / level")
				.grid.grid-flow-col.gap-2.hp
					.grid.justify-center.items-center
						+textInput("source")(class="text-center")
						h3.text-center(data-i18n="source")
					.grid.justify-center.items-center
						+numberInput("source level")(class="text-center")
						h3.text-center(data-i18n="level")
			.grid.double-border-2.rounded-md.p-2.relative
				+title("spell points")
				+numberInputWithMax("spell points")
			.grid.double-border-2.rounded-md.p-2.relative
				+title("spellcasting ability")
				.grid.justify-center.items-center
					select(name="attr_spellcasting_ability")
						each val in coreAttributes
							option(value=`@{${val}}` data-i18n=val)
								val
						
		.grid.gap-6.items-center.spell-list
			.grid.double-border-2.rounded-md.content-start.p-2.source-magic.relative
				.grid.grid-flow-col.items-center.justify-center.absolute.title
					h2.px-2.text-center(data-i18n='source magic')
					.grid.grid-flow-col.gap-2.source-sp
						span
							| ( 
						+textInput('source magic sp')
						span
							| )
						span
							SP
				+subheaders(['name', 'apc'])
				+repeatingSection('source magic', {display: ['name', 'apc']})

			.grid.double-border-2.rounded-md.p-2.relative.content-start.spells.spell-cards
				+title('spells')
				+repeatingSpellCards()
	
	.grid.gap-6.journal
		.grid.rounded-md.p-2.relative
			+repeatingList('additional info', {display: ['name', "category"]})
			
		.grid.gap-4.grid-flow-col.auto-cols-fr
			+repeatingList('location request contacts', {display: ['name']})

			.grid.justify-center.gap-4.resources.w-full
				.grid.double-border-2.rounded-md.p-2.relative.content-start.w-full.min-width-378
					+title('resources')
					fieldset(class="repeating_resources")
						.grid.gap-2.grid-flow-col
							+textInput('name')
							+numberInputWithMax('value')

		+repeatingList('journal', {display: ['name', 'date']})

	.grid.gap-4.talents.grid-flow-col.talent-grid
		+repeatingList('talents', {display: ['name', "tags"], collapse: ['prerequisites'], favorite: true})
		+repeatingList('abilities', {display: ['name', 'tags'], favorite: true})
