- var track = [ 0, 1, 2, 3, 4, 5, 6, 7, 8, 9 ]
include ../progress/mixins/box

input.optional-track-failures.hide-element(type='checkbox' name='attr_optional_track_failures' checked)
div.optional-track-failures.showhide
  h3.divide(data-i18n='page-summary-failures')=locals.translations['page-summary-failures']
  .misses-track
    .progress-row
      div
        label.clear-miss
          input(class="clear-miss hide" type="checkbox" name="attr_clear_misses")
          div.failure-btn-div(data-i18n='clear-btn')=locals.translations['clear-btn']
      each index in track
        +progressBoxComplex(`attr_miss_${index}`)
      div
        label.btn
          button(
            type="roll"
            class='hide'
            name="rollMisses"
            value="&{template:ironsworn_progress} {{progress_type=Failures}} {{header=@{character_name} <em>Learn From Your Failures</em> }} {{progress=[[@{misses-filled}]]}} {{challenge1=[[d10]]}} {{challenge2=[[d10]]}}"
          )
          div.failure-btn-div(data-i18n='failures-learn')=locals.translations['failures-learn'] 
      input(
        type="text"
        class="hide-element"
        name="attr_misses-filled"
        value="floor((@{miss_0}+@{miss_1}+@{miss_2}+@{miss_3}+@{miss_4}+@{miss_5}+@{miss_6}+@{miss_7}+@{miss_8}+@{miss_9})/4)"
        disabled="true"
    )