section.belongings
  -
    const belongings = data.character.belongings;
    const belongingsubs = belongings.subtitles;
    const { carry, carry_max, holos, debts } = belongings.fields;

  .death__block.belongings__carry
    label.carry__formula(data-i18n=belongingsubs.item_slots.name)=belongingsubs.item_slots.label
    .belongings__carry--block.carry__value
      label.text-center(data-i18n=carry.name)=carry.label
      +span(carry).death__label
    .belongings__carry--block.carry__value
      label.text-center(data-i18n=carry_max.name)=carry_max.label
      +span(carry_max).death__label

  .death__block.belongings__inventory
    .inventory__header
      div
      label.inventory__label.inventory__label--left.text-center(data-i18n="condition") Condition
      label.inventory__label.inventory__label--left.text-center(data-i18n="slots") Slots
      div
      label.inventory__label.inventory__label--right.text-center(data-i18n="condition") Condition
      label.inventory__label.inventory__label--right.text-center(data-i18n="slots") Slots
    +is-repeating-empty("inventory")
    fieldset.repeating_inventory
      - const { invname, condition, slots } = belongings.inventory.fields;
      .inventory
        .inventory--block
          +field(invname).inventory__input
          +field(condition).inventory__input
          +field(slots).inventory__input

  .death__block.belongings__small-items
    label.death__label(data-i18n="small_items") Small Items
    +is-repeating-empty("small-items")
    fieldset.repeating_small-items
      - const { itemname } = belongings.smallitems.fields;
      .small-items
        .small-items--block
          +field(itemname).small-items__input

  .death__block.belongings__weapons
    - const { wpnname, wpndamage, wpnuses, wpncondition, wpnslots } = belongings.weapons.fields;
    .weapons__header
      label.death__label(data-i18n="weapons") Weapons
      label.weapons__label(data-18n=wpndamage.name)=wpndamage.label
      label.weapons__label(data-18n=wpnuses.name)=wpnuses.label
      label.weapons__label(data-18n=wpncondition.name)=wpncondition.label
      label.weapons__label(data-18n=wpnslots.name)=wpnslots.label
    +is-repeating-empty("weapons")
    fieldset.repeating_weapons
      .weapons
        .weapons--block
          +field(wpnname).weapons__input
          +field(wpndamage).weapons__input.text-center
          +field(wpnuses).weapons__input
          +field(wpncondition).weapons__input
          +field(wpnslots).weapons__input



  .death__block.belongings__armor
    - const { armname, armprotect, armbonus, armcondition, armslots } = belongings.armor.fields;
    .armor__header
      label.death__label(data-i18n="armor") armor
      label.armor__label(data-18n=armprotect.name)=armprotect.label
      label.armor__label(data-18n=armbonus.name)=armbonus.label
      label.armor__label(data-18n=armcondition.name)=armcondition.label
      label.armor__label(data-18n=armslots.name)=armslots.label
    +is-repeating-empty("armor")
    fieldset.repeating_armor
      .armor
        .armor--block
          +field(armname).armor__input
          +field(armprotect).armor__input.text-center
          +field(armbonus).armor__input
          +field(armcondition).armor__input
          +field(armslots).armor__input

  .death__block.belongings__holos
    .belongings__holos--block
      label.death__label(data-i18n=holos.name)=holos.label
      +field(holos)
    .belongings__holos--block
      label.death__label(data-i18n=debts.name)=debts.label
      +field(debts)
