section.personal
  -
    const personal = data.character.personal;
    const {
      origin, name, nickname, origin_benefit, xp, background, past_allegiance, trait, drive,
      looks, abilities, defense, unarmored, hitpoints, portrait } = personal.fields;
    const personalsubs = personal.subtitles;

  .death__block.personal__origin
    label.death__label(data-i18n=origin.name)=origin.label
    .divider--dotted
    +field(origin)

  .death__block.personal__nickname
    .personal__nickname--block
      label.death__label(data-i18n=name.name)=name.label
      +field(name)
    .personal__nickname--block
      label.death__label(data-i18n=nickname.name)=nickname.label
      +field(nickname)

  .death__block.personal__origin-benefit
    label.death__label(data-i18n=origin_benefit.name)=origin_benefit.label
    +field(origin_benefit)

  .death__block.personal__xp
    label.death__label(data-i18n=xp.name)=xp.label
    +field(xp)

  .death__block.personal__background
    label.death__label(data-i18n=background.name)=background.label
    +field(background)

  .death__block.personal__past-allegiance
    label.death__label(data-i18n=past_allegiance.name)=past_allegiance.label
    +field(past_allegiance)

  .death__block.personal__trait
    label.death__label(data-i18n=trait.name)=trait.label
    +field(trait)

  .death__block.personal__drive
    label.death__label(data-i18n=drive.name)=drive.label
    +field(drive)

  .death__block.personal__looks
    label.death__label(data-i18n=looks.name)=looks.label
    +field(looks)

  .death__block.personal__abilities
    label.death__label(data-i18n=abilities.name)=abilities.label
    each ability in abilities.fields
      .personal__abilities--block
        button(name=`act_${ability.name}`, type="action").ability__button
          span.ability__label(data-i18n=ability.name)=ability.label
        +field(ability).ability__value.death__input--bordered

  .death__block.personal__defense
    .personal__defense--block
      - const defensesub = personalsubs.defense
      label.death__label(data-i18n=defense.name)=defense.label
      span.death__subtitle(data-i18n=defensesub.name)=defensesub.label
      span.death__subtitle
        |  (
        +span(unarmored)
        |)
    .personal__defense--block.defense__value
      +field(defense).death__input--bordered

  .death__block.personal__hitpoints
    .personal__hitpoints--block
      label.death__label(data-i18n=hitpoints.name)=hitpoints.label
      each subtitle in personalsubs.hitpoints
        span.death__subtitle.fst-italic(data-i18n=subtitle.name)=subtitle.label
        br
    each hp in hitpoints.fields
      .personal__hitpoints--block.hitpoints__value
        label.death__label.text-center(data-i18n=hp.name)=hp.label
        +field(hp).death__input--bordered

  .death__block.personal__portrait
    label.death__label(data-i18n=portrait.name)=portrait.label
    img.personal__portrait--image(name=`attr_${portrait.name}`)
