section.situation
  -
    const situation = data.character.situation;
    const {
      voidpoints, cosmicmutations, lifesupport, voidcorruption } = situation.fields;
    const situationsubs = situation.subtitles;

  .death__block.situation__void-points
    .situation__void-points--block
      label.death__label(data-i18n=voidpoints.name)=voidpoints.label
      .void-points__radios
        each field in voidpoints.options
          - const i18nkey = `${field.name}_${field.value}`;
          label.void-points__radio
            +field(field).void-points__input
            span.void-points__label(data-i18n=i18nkey)=field.value
    .situation__void-points--block
      - const { use_void_points, void_point_uses } = situationsubs;
      span.void-points__uses.death__subtitle(data-i18n=use_void_points.name)=use_void_points.label
      ul
        each subtitle in void_point_uses
          li.death__subtitle.fst-italic(data-i18n=subtitle.name)=subtitle.label


  .death__block.situation__cosmic-mutations
    label.death__label(data-i18n=cosmicmutations.name)=cosmicmutations.label
    +field(cosmicmutations)

  .death__block.situation__life-support
    label.death__label(data-i18n=lifesupport.name)=lifesupport.label
    .life-support
      +field(lifesupport)
      .life-support__labels
        label.life-support__label 0%
        label.life-support__label 100%
      .life-support__oxygen-tank
        .life-support__oxygen-tank--grid
          each bar in lifesupport.options
            label.oxygen-tank__bar(class=`oxygen-tank__bar--${bar.value}`)
              +field(bar).oxygen-tank__bar--input
              if bar.value == 0
                span.oxygen-tank__bar--empty(title="Empty", data-i18n-title="Empty") *
      .life-support__time-remaining
        each bar in lifesupport.options
          - const i18nkey = `${bar.name}_${bar.value}`;
          label.life-support__label.text-center(class=`life-support__time-remaining--${bar.value}`, data-i18n=i18nkey)=bar.label

  .death__block.situation__void-corruption
    label.death__label(data-i18n=voidcorruption.name)=voidcorruption.label
    +field(voidcorruption)
