include ./outcomes
include ./body
include ../../components/moves/mixins/container
include ../../data/move-list

mixin rarity(value)
  | {{#rollTotal() rarityDie#{value} rarityAction}}
  case value
    when '6'
      +rarityDramatic
    when '5'
      +raritySubtle
    default
      +rarityFail
  | {{/rollTotal() rarityDie#{value} rarityAction}}

mixin raritySixLogic()
  | {{#rollTotal() rarityDie6 rarityAction}}
  | {{#rollTotal() challenge1 challenge2}}
  +opportunity
  | {{/rollTotal() challenge1 challenge2}}
  +strongHit
  | {{#^rollTotal() challenge1 challenge2}}
  +rarity('6')
  | {{/^rollTotal() challenge1 challenge2}}
  | {{/rollTotal() rarityDie6 rarityAction}}
  | {{#^rollTotal() rarityDie6 rarityAction}}
  block
  | {{/^rollTotal() rarityDie6 rarityAction}}

mixin rollLimits()
  | {{#rollGreater() rarityAction 10}}
  | {{#rollTotal() challenge1 10}}
  | {{#rollTotal() challenge2 10}}
  +limitAlert
  +complication
  +rarity('1')
  | {{/rollTotal() challenge2 10}} 
  | {{#^rollTotal() challenge2 10}}
  +limitAlert
  +weakHit
  +rarity('5')
  | {{/^rollTotal() challenge2 10}}
  | {{/rollTotal() challenge1 10}}
  | {{#^rollTotal() challenge1 10}}
  | {{#rollTotal() challenge2 10}}
  +limitAlert
  +weakHit
  +rarity('5')
  | {{/rollTotal() challenge2 10}}
  | {{#^rollTotal() challenge2 10}}
  +limitAlert
  +strongHit
  +rarity('5')
  | {{/^rollTotal() challenge2 10}}
  | {{/^rollTotal() challenge1 10}}
  | {{/rollGreater() rarityAction 10}}
  | {{#^rollGreater() rarityAction 10}}
  block
  | {{/^rollGreater() rarityAction 10}}

mixin standardAction(type)
  if type == 'rarityAction'
    +rarityMove
  else if type == 'delveTheDepths'
    +delveTheDepthsMove(type)
  else
    | {{#rollGreater() #{type} challenge1}}
    | {{#rollTotal() challenge1 challenge2}}
    +opportunity
    | {{/rollTotal() challenge1 challenge2}}
    | {{#^rollTotal() challenge1 challenge2}}
    | {{#rollGreater() #{type} challenge2}}
    +strongHit
    | {{/rollGreater() #{type} challenge2}}
    | {{#^rollGreater() #{type} challenge2}}
    +weakHit
    | {{/^rollGreater() #{type} challenge2}}
    | {{/^rollTotal() challenge1 challenge2}}
    | {{/rollGreater() #{type} challenge1}}
    | {{#^rollGreater() #{type} challenge1}}
    | {{#rollTotal() challenge1 challenge2}}
    +complication
    | {{/rollTotal() challenge1 challenge2}}
    | {{#^rollTotal() challenge1 challenge2}}
    | {{#rollGreater() #{type} challenge2}}
    +weakHit
    | {{/rollGreater() #{type} challenge2}}
    | {{#^rollGreater() #{type} challenge2}}
    +miss
    | {{/^rollGreater() #{type} challenge2}}
    | {{/^rollTotal() challenge1 challenge2}}
    | {{/^rollGreater() #{type} challenge1}}

mixin standardActionWithMomentum(type)
  if type == 'rarityAction'
    +rarityMoveWithMomentum
  else if type == 'delveTheDepths'
    +delveTheDepthsMoveWithMomentum(type)
  else
    | {{#rollGreater() #{type} challenge1}}
    | {{#rollTotal() challenge1 challenge2}}
    +opportunity
    | {{/rollTotal() challenge1 challenge2}}
    | {{#^rollTotal() challenge1 challenge2}}
    | {{#rollGreater() #{type} challenge2}}
    +strongHit
    | {{/rollGreater() #{type} challenge2}}
    | {{#^rollGreater() #{type} challenge2}}
    +weakHit
    | {{#rollGreater() momentum challenge2}}
    +momentumStrongHit
    | {{/rollGreater() momentum challenge2}}
    | {{/^rollGreater() #{type} challenge2}}
    | {{/^rollTotal() challenge1 challenge2}}
    | {{/rollGreater() #{type} challenge1}}
    | {{#^rollGreater() #{type} challenge1}}
    | {{#rollTotal() challenge1 challenge2}}
    +complication
    | {{#rollGreater() momentum challenge1}}
    +momentumStrongHit
    | {{/rollGreater() momentum challenge1}}
    | {{/rollTotal() challenge1 challenge2}}
    | {{#^rollTotal() challenge1 challenge2}}
    | {{#rollGreater() #{type} challenge2}}
    +weakHit
    | {{#rollGreater() momentum challenge1}}
    +momentumStrongHit
    | {{/rollGreater() momentum challenge1}}
    | {{/rollGreater() #{type} challenge2}}
    | {{#^rollGreater() #{type} challenge2}}
    +miss
    | {{#rollGreater() momentum challenge1}}
    | {{#rollGreater() momentum challenge2}}
    +momentumStrongHit
    | {{/rollGreater() momentum challenge2}}
    | {{#^rollGreater() momentum challenge2}}
    +momentumWeakHit
    | {{/^rollGreater() momentum challenge2}}
    | {{/rollGreater() momentum challenge1}}
    | {{#^rollGreater() momentum challenge1}}
    | {{#rollGreater() momentum challenge2}}
    +momentumWeakHit
    | {{/rollGreater() momentum challenge2}}
    | {{/^rollGreater() momentum challenge1}}
    | {{/^rollGreater() #{type} challenge2}}
    | {{/^rollTotal() challenge1 challenge2}}
    | {{/^rollGreater() #{type} challenge1}}

mixin rarityMove
  +raritySixLogic
    +rollLimits
      | {{#rollGreater() rarityAction challenge1}}
      | {{#rollTotal() challenge1 challenge2}}
      +opportunity
      +rarity('5')
      | {{/rollTotal() challenge1 challenge2}}
      | {{#^rollTotal() challenge1 challenge2}}
      | {{#rollGreater() rarityAction challenge2}}
      +strongHit
      +rarity('5')
      | {{/rollGreater() rarityAction challenge2}}
      | {{#^rollGreater() rarityAction challenge2}}
      +weakHit
      +rarity('5')
      | {{/^rollGreater() rarityAction challenge2}}
      | {{/^rollTotal() challenge1 challenge2}}
      | {{/rollGreater() rarityAction challenge1}}
      | {{#^rollGreater() rarityAction challenge1}}
      | {{#rollTotal() challenge1 challenge2}}
      +complication
      +rarity('1')
      | {{/rollTotal() challenge1 challenge2}}
      | {{#^rollTotal() challenge1 challenge2}}
      | {{#rollGreater() rarityAction challenge2}}
      +weakHit
      +rarity('5')
      | {{/rollGreater() rarityAction challenge2}}
      | {{#^rollGreater() rarityAction challenge2}}
      +miss
      +rarity('1')
      | {{/^rollGreater() rarityAction challenge2}}
      | {{/^rollTotal() challenge1 challenge2}}
      | {{/^rollGreater() rarityAction challenge1}}

mixin rarityMoveWithMomentum
  +raritySixLogic
    +rollLimits
      | {{#rollGreater() rarityAction challenge1}}
      | {{#rollTotal() challenge1 challenge2}}
      +opportunity
      +rarity('5')
      | {{/rollTotal() challenge1 challenge2}}
      | {{#^rollTotal() challenge1 challenge2}}
      | {{#rollGreater() rarityAction challenge2}}
      +strongHit
      +rarity('5')
      | {{/rollGreater() rarityAction challenge2}}
      | {{#^rollGreater() rarityAction challenge2}}
      +weakHit
      +rarity('5')
      | {{#rollGreater() momentum challenge2}}
      +momentumStrongHit
      | {{/rollGreater() momentum challenge2}}
      | {{/^rollGreater() rarityAction challenge2}}
      | {{/^rollTotal() challenge1 challenge2}}
      | {{/rollGreater() rarityAction challenge1}}
      | {{#^rollGreater() rarityAction challenge1}}
      | {{#rollTotal() challenge1 challenge2}}
      +complication
      +rarity('1')
      | {{#rollGreater() momentum challenge1}}
      +momentumStrongHit
      +rarity('5')
      | {{/rollGreater() momentum challenge1}}
      | {{/rollTotal() challenge1 challenge2}}
      | {{#^rollTotal() challenge1 challenge2}}
      | {{#rollGreater() rarityAction challenge2}}
      +weakHit
      +rarity('5')
      | {{#rollGreater() momentum challenge1}}
      +momentumStrongHit
      | {{/rollGreater() momentum challenge1}}
      | {{/rollGreater() rarityAction challenge2}}
      | {{#^rollGreater() rarityAction challenge2}}
      +miss
      +rarity('1')
      | {{#rollGreater() momentum challenge1}}
      | {{#rollGreater() momentum challenge2}}
      +momentumStrongHit
      +rarity('5')
      | {{/rollGreater() momentum challenge2}}
      | {{#^rollGreater() momentum challenge2}}
      +momentumWeakHit
      +rarity('5')
      | {{/^rollGreater() momentum challenge2}}
      | {{/rollGreater() momentum challenge1}}
      | {{#^rollGreater() momentum challenge1}}
      | {{#rollGreater() momentum challenge2}}
      +momentumWeakHit
      +rarity('5')
      | {{/rollGreater() momentum challenge2}}
      | {{/^rollGreater() momentum challenge1}}
      | {{/^rollGreater() rarityAction challenge2}}
      | {{/^rollTotal() challenge1 challenge2}}
      | {{/^rollGreater() rarityAction challenge1}}

mixin delveTheDepthsMove(type)
  | {{#rollGreater() #{type} challenge1}}
  | {{#rollTotal() challenge1 challenge2}}
  +opportunity
  +findAnOpportunityRoll
  | {{/rollTotal() challenge1 challenge2}}
  | {{#^rollTotal() challenge1 challenge2}}
  | {{#rollGreater() #{type} challenge2}}
  +strongHit
  +findAnOpportunityRoll
  | {{/rollGreater() #{type} challenge2}}
  | {{#^rollGreater() #{type} challenge2}}
  +weakHit
  +delveTheDepthsTableRoll
  | {{/^rollGreater() #{type} challenge2}}
  | {{/^rollTotal() challenge1 challenge2}}
  | {{/rollGreater() #{type} challenge1}}
  | {{#^rollGreater() #{type} challenge1}}
  | {{#rollTotal() challenge1 challenge2}}
  +complication
  +revealADangerRoll
  | {{/rollTotal() challenge1 challenge2}}
  | {{#^rollTotal() challenge1 challenge2}}
  | {{#rollGreater() #{type} challenge2}}
  +weakHit
  +delveTheDepthsTableRoll
  | {{/rollGreater() #{type} challenge2}}
  | {{#^rollGreater() #{type} challenge2}}
  +miss
  +revealADangerRoll
  | {{/^rollGreater() #{type} challenge2}}
  | {{/^rollTotal() challenge1 challenge2}}
  | {{/^rollGreater() #{type} challenge1}}

mixin delveTheDepthsMoveWithMomentum(type)
  | {{#rollGreater() #{type} challenge1}}
  | {{#rollTotal() challenge1 challenge2}}
  +opportunity
  +findAnOpportunityRoll
  | {{/rollTotal() challenge1 challenge2}}
  | {{#^rollTotal() challenge1 challenge2}}
  | {{#rollGreater() #{type} challenge2}}
  +strongHit
  +findAnOpportunityRoll
  | {{/rollGreater() #{type} challenge2}}
  | {{#^rollGreater() #{type} challenge2}}
  +weakHit
  +delveTheDepthsTableRoll
  | {{#rollGreater() momentum challenge2}}
  +momentumStrongHit
  +findAnOpportunityRoll
  | {{/rollGreater() momentum challenge2}}
  | {{/^rollGreater() #{type} challenge2}}
  | {{/^rollTotal() challenge1 challenge2}}
  | {{/rollGreater() #{type} challenge1}}
  | {{#^rollGreater() #{type} challenge1}}
  | {{#rollTotal() challenge1 challenge2}}
  +complication
  +revealADangerRoll
  | {{#rollGreater() momentum challenge1}}
  +momentumStrongHit
  +findAnOpportunityRoll
  | {{/rollGreater() momentum challenge1}}
  | {{/rollTotal() challenge1 challenge2}}
  | {{#^rollTotal() challenge1 challenge2}}
  | {{#rollGreater() #{type} challenge2}}
  +weakHit
  +delveTheDepthsTableRoll
  | {{#rollGreater() momentum challenge1}}
  +momentumStrongHit
  +findAnOpportunityRoll
  | {{/rollGreater() momentum challenge1}}
  | {{/rollGreater() #{type} challenge2}}
  | {{#^rollGreater() #{type} challenge2}}
  +miss
  +revealADangerRoll
  | {{#rollGreater() momentum challenge1}}
  | {{#rollGreater() momentum challenge2}}
  +momentumStrongHit
  +findAnOpportunityRoll
  | {{/rollGreater() momentum challenge2}}
  | {{#^rollGreater() momentum challenge2}}
  +momentumWeakHit
  +delveTheDepthsTableRoll
  | {{/^rollGreater() momentum challenge2}}
  | {{/rollGreater() momentum challenge1}}
  | {{#^rollGreater() momentum challenge1}}
  | {{#rollGreater() momentum challenge2}}
  +momentumWeakHit
  +delveTheDepthsTableRoll
  | {{/rollGreater() momentum challenge2}}
  | {{/^rollGreater() momentum challenge1}}
  | {{/^rollGreater() #{type} challenge2}}
  | {{/^rollTotal() challenge1 challenge2}}
  | {{/^rollGreater() #{type} challenge1}}

mixin revealADangerRoll
  .sheet-result-row.sheet-roll-outcome.sheet-roll-button
    | {{revealADangerButton}}

mixin delveTheDepthsTableRoll
  .sheet-result-row.sheet-roll-outcome.sheet-roll-button
    | {{delveTheDepthsTableButton}}

mixin findAnOpportunityRoll
  .sheet-result-row.sheet-roll-outcome.sheet-roll-button
    | {{findAnOpportunityButton}}