mixin challengeDice
  .sheet-result-body.sheet-result-row
    .sheet-challenge-dice-title(data-i18n='roll-challenge-dice')=locals.translations['roll-challenge-dice']
    div {{challenge1}} {{challenge2}}

mixin actionBody(type)
  .sheet-result-body.sheet-result-row
    .sheet-action-score-title(data-i18n='roll-action-score')=locals.translations['roll-action-score']
    .sheet-action-score {{#{type}}}
  +challengeDice

mixin progressBody
  .sheet-result-body.sheet-result-row
    .sheet-progress-title(data-i18n='roll-action-progress')=locals.translations['roll-action-progress']
    .sheet-action-score {{progress}}
  +challengeDice

mixin momentumBody
  .sheet-result-body.sheet-result-row
    .sheet-momentum-title(data-i18n='resource-momentum')=locals.translations['resource-momentum']
    div {{momentum}}

mixin limitAlert
  .sheet-result-body.sheet-result-row
    .sheet-subfooter.sheet-alert Action die has been limited to 10 when calculating the outcome. See page 8.
