include ./actions
include ./body

mixin actionDieNegated(opts)
  div.sheet-result-body.sheet-result-row
    div Previous Action Score:
    div {{#{opts.type}}}
  div.sheet-result-body.sheet-result-row
    div.sheet-subfooter.sheet-alert Action die cancelled for matching negative momentum.
  div.sheet-result-body.sheet-result-row
    div Stat + Add:
    div {{stat}} + {{add}}
  div.sheet-result-body.sheet-result-row
    div New Action Score:
    div {{modifiers}}
  div.sheet-result-body.sheet-result-row
    div Challenge Dice:
    div {{challenge1}} {{challenge2}}
  +standardAction('modifiers')

mixin negationRoll(opts, type)
  | {{#rollTotal() momentum #{opts.momentum}}}
  | {{#rollTotal() #{type} negate#{opts.die}}}
  +actionDieNegated({momentum: true, type: type})
  | {{/rollTotal() #{type} negate#{opts.die}}}
  | {{#^rollTotal() #{type} negate#{opts.die}}}
  +actionBody(type)
  +standardAction(type)
  | {{/^rollTotal() #{type} negate#{opts.die}}}
  | {{/rollTotal() momentum #{opts.momentum}}}
  