include ./body

mixin opportunity
  .sheet-result-row.sheet-roll-outcome
    .sheet-opportunity
    .sheet-subfooter.sheet-roll-outcome-main(data-i18n='outcome-opportunity')=locals.translations['outcome-opportunity']

mixin strongHit
  .sheet-result-row.sheet-roll-outcome
    .sheet-strong-hit
    .sheet-subfooter.sheet-roll-outcome-main(data-i18n='outcome-strong-hit')=locals.translations['outcome-strong-hit']

mixin momentumStrongHit
  +momentumBody
  .sheet-result-row.sheet-roll-outcome
    .sheet-subfooter.sheet-subfooter-momentum(data-i18n='outcome-burn-strong-hit')=locals.translations['outcome-burn-strong-hit']
    .sheet-strong-hit

mixin weakHit
  .sheet-result-row.sheet-roll-outcome
    .sheet-weak-hit
    .sheet-subfooter.sheet-roll-outcome-main(data-i18n='outcome-weak-hit')=locals.translations['outcome-weak-hit']

mixin momentumWeakHit
  +momentumBody
  .sheet-result-row.sheet-roll-outcome
    .sheet-subfooter.sheet-subfooter-momentum(data-i18n='outcome-burn-weak-hit')=locals.translations['outcome-burn-weak-hit']
    .sheet-weak-hit

mixin miss
  .sheet-result-row.sheet-roll-outcome
    .sheet-miss
    .sheet-subfooter.sheet-roll-outcome-main(data-i18n='outcome-miss')=locals.translations['outcome-miss']

mixin complication
  .sheet-result-row.sheet-roll-outcome
    .sheet-complication
    .sheet-subfooter.sheet-roll-outcome-main(data-i18n='outcome-complication')=locals.translations['outcome-complication']

mixin rarityDramatic
  .sheet-result-row.sheet-roll-outcome
    .sheet-rarity-die
    .sheet-subfooter The power of the rarity manifests in a dramatic and obvious way

mixin raritySubtle
  .sheet-result-row.sheet-roll-outcome
    .sheet-rarity-die
    .sheet-subfooter The power of the rarity manifests in a subtle way

mixin rarityFail
  .sheet-result-row.sheet-roll-outcome
    .sheet-rarity-die
    .sheet-subfooter The rarity’s power fails or works against you
