include fields.pug

//
  @typedef {object} TabData
  @property {string} id The ID used to identify the tab radio buttons and their 
    corresponding containers. The container's ID will be suffixed with 
    "Container".
  @property {string} label The tab's label.
  @property {string} include The path to the pug file defining the tab contents.

mixin tabs(groupName, tabDataList)
  .tabs
    // Labels
    each tabData, index in tabDataList
      - var checked = (index === 0) ? 'checked' : undefined;
      +input('radio', groupName)(id=tabData.id, value=index, checked=checked)
      label(for=tabData.id)= tabData.label
    
    // Contents
    .tabContents
      each tabData in tabDataList
        .tab(id=tabData.id + 'Container')
          block
          +renderTab(tabData.id)
      
    
