section.hubdata
  -
    const hubdata = data.hub.hubdata;
    const {
      defrating, hubcondition, hubcondition_max, fuel, fuel_max,
      outputpower, powersource, totalpower, overheated
    } = hubdata.fields;
    const {
      overheatedmsg
    } = hubdata.subtitles;

  .death__block.hubdata__frame-integrity
    - const { frameintegrity } = hubdata
    .hubdata__frame-integrity--header
      label.death__label(data-i18n=frameintegrity.name)=frameintegrity.label
      +span(frameintegrity).death__label.frame-integrity__value
    .hubdata__frame-integrity--grid
      +field(frameintegrity)
      .frame-integrity
        each frame in frameintegrity.fields.frames
          div(class=`frame-integrity--${frame.value}`).frame-integrity--block
            label.frame-integrity__frame
              +field(frame).frame-integrity__frame--input
              if frame.label
                span.frame-integrity__frame--label=frame.label
                if [0, 50].includes(frame.value)
                  .divider--arrow-down
      .defense-rating
        label.death__label.text-center(data-i18n=defrating.name)=defrating.label
        +field(defrating).death__input--bordered

  .death__block.hubdata__integrity-events
    - const { conditionzero, distastertable, allcalm } = hubdata.integrityevents;
    label.integrity-events__label--condition-zero(data-i18n=conditionzero.name)=conditionzero.label
    label.integrity-events__label--distaster-table.text-center(data-i18n=distastertable.name)=distastertable.label
    label.integrity-events__label--all-calm(data-i18n=allcalm.name)=allcalm.label

  .death__block.hubdata__condition
    label.death__label(data-i18n="condition") Condition
    .hubdata__condition--block
      label.text-center(data-i18n="current") Current
      +field(hubcondition).death__input--bordered
    .hubdata__condition--block
      label.text-center(data-i18n="max") Max
      +field(hubcondition_max).death__input--bordered


  .death__block.hubdata__fuel
    label.death__label(data-i18n="fuel") Fuel
    .hubdata__fuel--block
      label.text-center(data-i18n="current") Current
      +field(fuel).death__input--bordered
    .hubdata__fuel--block
      label.text-center(data-i18n="max") Max
      +field(fuel_max).death__input--bordered
  .death__block.hubdata__power-source
    label.death__label(data-i18n=powersource.name)=powersource.label
    .hubdata__power-source--block
      .power-source
        each pwr in powersource.options
          - const i18nkey = `${pwr.name}_${pwr.value}`;
          label.power-source__radio
            +field(pwr).power-source__input
            span.power-source__label.fst-italic(data-i18n=i18nkey)=pwr.label
    .divider--arrow-right

  .death__block.hubdata__output-power
    label.text-center(data-i18n=outputpower.name)=outputpower.label
    +field(outputpower).death__input--bordered
    .divider--arrow-down

    //- .overheated
      label.text-center(data-i18n=outputpower.name)=outputpower.label
      +field(outputpower).death__input--bordered

  .death__block.hubdata__modules
    label.text-center(data-i18n=outputpower.name)=outputpower.label
    +span(outputpower).modules__input

  .death__block.hubdata__modules
    - const modules = hubdata.modules;
    - const { modname, modcost } = modules.fields;
    .hubdata__modules--block
      .modules__header
        label.death__label(data-i18n=modname.name)=modname.label
        label.modules__label.text-center(data-i18n=modcost.name)=modcost.label
      +is-repeating-empty("modules")
      fieldset.repeating_modules
        .modules
          .modules--block
            +field(modname).modules__input
            +field(modcost).modules__input
      .modules__footer
        label.modules__footer--label.text-end.fst-italic(data-i18n=totalpower.name)=totalpower.label
        //- label.modules__footer--label.text-end.fst-italic
          span(data-i18n=totalpower.name)=totalpower.label
          br
          span(data-i18n=overheatedmsg.name)=overheatedmsg.label
        +span(totalpower).hubdata__total_power_cost--number
        .divider--arrow-right

  .death__block.hubdata__overheated
    label.overheated__label.text-center.fst-italic(data-i18n=overheatedmsg.name)=overheatedmsg.label
    +field(overheated)
    .overheated
      label.overheated__warning(data-i18n=overheated.name)=overheated.label
      label.text-center(data-i18n=outputpower.name)=outputpower.label
      +field(outputpower).death__input--bordered
