section.hubinfo
  -
    const hubinfo = data.hub.information;
    const { hubName, hubType, hubBackground, appearance, quirks } = hubinfo.fields;
    const hubinfosubs = hubinfo.subtitles;

  .death__block.hubinfo__nickname
    label.death__label(data-i18n=`${hubName.name}_hub`)=hubName.label
    +field(hubName)

  .death__block.hubinfo__hub-type
    .hubinfo__hub-type--block
      label.death__label(data-i18n=hubType.name)=hubType.label
      +field(hubType)

  .death__block.hubinfo__background
    label.death__label(data-i18n=hubBackground.name)=hubBackground.label
    +field(hubBackground)

  .death__block.hubinfo__appearance
    label.death__label(data-i18n=appearance.name)=appearance.label
    +field(appearance)

  .death__block.hubinfo__quirks
    label.death__label(data-i18n=quirks.name)=quirks.label
    +is-repeating-empty("quirks")
    fieldset.repeating_quirks
      .quirks
        .quirks--block
          each quirk in quirks.fields
            +field(quirk).quirks__input
