mixin subtitle(key)
  h3
    span(data-i18n=key)

mixin headerEntry(name)
  label(for=`attr_pc_ship_${name}`)
    span(data-i18n=`pc_ship_${name}`)
  input(type='text' name=`attr_pc_ship_${name}`)

mixin abilityBox(name, ...abilities)
  +subtitle(`pc_ship_${name}`)
  .sheet-scores.sheet-flex-container
    each ability in abilities
      +ability(ability, name)
  span(data-i18n='pc_ship_modifiers')

mixin ability(name, owner)
  .sheet-ability
    label(for=`attr_pc_ship_${name}_${owner}`)
      span(data-i18n=`pc_ship_${name}`)
    input(type='text' name=`attr_pc_ship_${name}_${owner}`)

mixin armorClassOrManeuverEntry(name)
  div
    input(type='text' name=`attr_pc_ship_${name}`)
  label(for=`attr_pc_ship_${name}`)
    span(data-i18n=`${name.replace(/_/g,'-')}`)

.sheet-pc-ship
  input.tab-button.type-pc(name='attr_pc_sheet_type' type='radio' value!='pc' checked='checked')
  span(data-i18n='pc-u') PC
  input.tab-button.type-starship(name='attr_pc_sheet_type' type='radio' value!='starship')
  span(data-i18n='starship-u') STARSHIP

  .sheet-top
    .sheet-flex-container.sheet-logo
      h2
        span(data-i18n='starship-statistics')
      div
        img(src='https://raw.githubusercontent.com/skydawn1/esper_genesis/master/EG_Logo.png' alt='Esper Genesis Logo')

    .sheet-flex-container
      +headerEntry('name')
      +headerEntry('owner')
    .sheet-flex-container
      +headerEntry('size_category')
      +headerEntry('weight')
      +headerEntry('hull_type')
    .sheet-flex-container
      +headerEntry('crew_capacity')
      +headerEntry('cargo_capacity')
      +headerEntry('length')
      +headerEntry('width')
      +headerEntry('height')

  .sheet-middle.sheet-grid-container
      .sheet-col-left
        .sheet-grid-container.sheet-abilities
          .sheet-pilot
            +abilityBox('pilot', 'dexterity', 'wisdom')

          .sheet-captain
            +abilityBox('captain','wisdom', 'charisma')

          .sheet-technician1
            +abilityBox('technician1', 'intelligence', 'wisdom')

          .sheet-technician2
            +abilityBox('technician2', 'intelligence', 'wisdom')

          .sheet-commander
            +abilityBox('commander', 'dexterity', 'intelligence', 'wisdom', 'charisma')
        
        .sheet-grid-container.sheet-sensors-and-initiative
          .sheet-sensors
            +subtitle('pc_ship_sensors')
            label(for='attr_pc_ship_sensors')
              input(type='text' name='attr_pc_ship_sensors')
              span(data-i18n='pc_ship_sensors_info')
          
          .sheet-initiative
            +subtitle('pc_ship_initiative')
            label.sheet-grid-container(for='attr_pc_ship_initiative')
              input(type='text' name='attr_pc_ship_initiative')
              span(data-i18n='pc_ship_initiative_info')

      .sheet-col-center
        .sheet-piloting-maneuver-check
          +subtitle('piloting-maneuver-check')
          .sheet-fancy-input
            img(src=`${imagePath}/piloting_maneuver_check.png` alt='Piloting maneuver Check')
            input(type='text' name='attr_pc_ship_piloting_maneuver_check')
            
          p
            span(data-i18n='piloting-maneuver-check-info')
        
        .sheet-command-dice
          label(for='attr_pc_ship_command_dice')
            span(data-i18n='type-u')
            select(name='attr_pc_ship_command_dice')
              options(value='d4') d4
              options(value='d6') d6
              options(value='d4') d8
              options(value='d6') d12
              options(value='d6') d20
          
          .sheet-grid-container
            label(for='attr_pc_ship_total_dice')
              span(data-i18n='total-dice')
              input(type='number' name='attr_pc_ship_total_dice')
            
            label(for='attr_pc_ship_total_dice')
              span(data-i18n='dice-used')
              input(type='number' name='attr_pc_ship_total_dice')

        .sheet-grid-container.sheet-intercept-speed
          div
            .sheet-fancy-input
                img(src=`${imagePath}/intercept_speed.png` alt='Intercept Speed')
                input(type='text' name='attr_pc_ship_intercept_speed')
           
          div
            +subtitle('intercept-speed')
            label(for='attr_pc_ship_intercept_speed')
              input(type='checkbox' name='attr_pc_ship_stardrive' value='1')
              span(data-i18n='startdrive')

      .sheet-col-right
        .sheet-maneuver-save
          +subtitle('maneuver-save-dc')
          .sheet-grid-container
            div
              .sheet-fancy-input
                img(src=`${imagePath}/maneuver_save_dc.png` alt='maneuver Save DC')
                input(type='text' name='attr_pc_ship_maneuver_save_dc')
              
            
            div
              label(for='attr_pc_ship_maneuver_save_sc')
                span(data-i18n='maneuver-save-dc-info')
        

        .sheet-special-features
          +subtitle('special-features-and-options')
          +repeatingSection('ship-features')
            textarea(name='attr_feature' placeholder='Enter feature description...' required)
            span(name='attr_feature')

        .sheet-ship-cargo
          +subtitle('ship-cargo')
          +repeatingSection('ship-cargo')
            .sheet-grid-container
              div
                input(type='text' name='attr_name')
              div
                input(type='text' name='attr_weight')


  .sheet-bottom
    .sheet-grid-container
      div
        .sheet-grid-container
          .sheet-armor-class
            +subtitle('armor-class')
            .sheet-grid-container
              div
                .sheet-fancy-input
                  img(src=`${imagePath}/armor_class.png` alt='Armor Class')
                  input(type='text' name='attr_pc_ship_armor_class')
                
              .sheet-grid-container
                +armorClassOrManeuverEntry('base_armor_class')
                +armorClassOrManeuverEntry('maneuver_bonus')
                +armorClassOrManeuverEntry('pilot_dex_modifier')
                +armorClassOrManeuverEntry('misc_mod_bonus')
          
          .sheet-maneuver-defense
            +subtitle('maneuver-defense')
            .sheet-grid-container
              div
                .sheet-fancy-input
                  img(src=`${imagePath}/maneuver_defense.png` alt='Maneuver Bonus')
                  input(type='text' name='attr_pc_ship_maneuver_defense_bonus')
                
              .sheet-grid-container
                +armorClassOrManeuverEntry('base_maneuver_defense')
                +armorClassOrManeuverEntry('proficiency_bonus')
                +armorClassOrManeuverEntry('pilot_wis_modifier')
                +armorClassOrManeuverEntry('captain_cha_modifier')
        
        .sheet-defense-systems
          +subtitle('defense-systems')
          +repeatingSection('defense-systems')
            textarea(name='attr_item' placeholder='Enter item description...' required)
            span(name='attr_item')

      div
        .sheet-grid-container
          div
            .sheet-hull-points
              +subtitle('hull-points')
              .sheet-fancy-input
                img(src=`${imagePath}/hull_points.png` alt='Hull Points')
                input(type='text' name='attr_pc_ship_hull_points')
              span(data-i18n='hull-points-info')
            
            .sheet-resistances
              +subtitle('resistances')
              +repeatingSection('ship-resistances')
                textarea(name='attr_resistance' placeholder='Enter resitance description...' required)
                span(name='attr_resistance')

            .sheet-patch-repair
              +subtitle('patch-repair')
              .sheet-grid-container
                label(for='attr_pc_ship_patch_repair_die_type')
                  span(data-i18n='die-type')
                  input(type='text' name='attr_pc_ship_patch_repair_die_type')
                
                label(for='attr_pc_ship_patch_repair_int_mod')
                  span(data-i18n='int-mod')
                  input(type='text' name='attr_pc_ship_patch_repair_int_mod')

                label(for='attr_pc_ship_patch_repair_used')
                  span(data-i18n='used')
                  input(type='text' name='attr_pc_ship_patch_repair_used')
              span(data-i18n='patch-repair-info')
          div
            .sheet-damage-taken
              .sheet-grid-container
                div
                  label(for='attr_pc_ship_damage_threshold')
                    span(data-i18n='damage-threshold')
                    input(type='text' name='attr_pc_ship_damage_threshold')

                  label(for='attr_pc_ship_temp_hp')
                    span(data-i18n='temp-hp')
                    input(type='text' name='attr_pc_ship_temp_hp')
                label
                  span(data-i18n='damage')
                  textarea(name='attr_pc_ship_damage')
            
            .sheet-structural-integrity
              +subtitle('structural-integrity')
              .sheet-grid-container
                div
                  .sheet-fancy-input
                    img(src=`${imagePath}/structural_integrity.png` alt='Structural Integrity')
                    input(type='text' name='attr_pc_ship_structural_integrity')
                  span(data-i18n='structural-integrity-info')
                    
                label
                  input(type='text' name='attr_pc_remaining_si')
                  span(data-i18n='remaining-si')
    
    .sheet-weapon-systems
      .sheet-grid-container.sheet-max-weapon-payload
        label(for='attr_pc_ship_max_weapon_payload')
          span(data-i18n='max-weapon-payload')
        div
          input(type='text' name='attr_pc_ship_max_weapon_payload')
        
      +subtitle('weapon-systems')
      .sheet-grid-container.table-header
        .sheet-gunner
          span(data-i18n='pc-ship-gunner')
        .sheet-weapon
          span(data-i18n='pc-ship-weapon')
        .sheet-range
          span(data-i18n='pc-ship-range')
        .sheet-to-hit
          span(data-i18n='pc-ship-to-hit')
        .sheet-damage
          span(data-i18n='pc-ship-damage')
        .sheet-damage-type
          span(data-i18n='pc-ship-damage-type')

      +repeatingSection('weapon-systems')
        input(type='hidden' name='attr_rollbase' value!='@{wtype}&{template:atk} {{mod=@{tohit}}} {{rname=[@{weapon}](~repeating_weapon-systems_atkdmg)}} {{rnamec=[@{weapon}](~repeating_weapon-systems_atkdmgc)}} {{r1=[[@{d20} + @{tohit}]]}} {{normal=1}} {{r2=[[0d20]]}} {{range=@{range}}} {{desc=@{special}}} ammo=@{ammo} @{pc_ship_name} {{licensedsheet=@{licensedsheet}}}')
        input(type='hidden' name='attr_atkdmg' value!='')
        input(type='hidden' name='attr_atkdmgc' value!='')
        .sheet-grid-container.table-body
          .sheet-gunner
            input(type='text' name='attr_gunner')
          .sheet-weapon
            input(type='text' name='attr_weapon')
          .sheet-range
            input(type='text' name='attr_range')
          .sheet-to-hit
            input(type='text' name='attr_tohit')
          .sheet-damage
            input(type='text' name='attr_damage')
          .sheet-damage-type
            input(type='text' name='attr_dmgtype')
        .sheet-grid-container.table-meta
          label.sheet-special
            span(data-i18n='pc-ship-special')
            input(type='text' name='attr_special')
          label.sheet-ammo
            span(data-i18n='pc-ship-ammo')
            input(type='text' name='attr_ammo')
          label.sheet-recharge
            span(data-i18n='pc-ship-recharge')
            input(type='checkbox' name='attr_recharge' value='3')
            input(type='checkbox' name='attr_recharge' value='2')
            input(type='checkbox' name='attr_recharge' value='1')
        button.hidden(type='roll' value!='@{atkdmg}' name='roll_atkdmg')
        button.hidden(type='roll' value!='@{atkdmgc}' name='roll_atkdmgc')
        button(type='roll' value!='@{rollbase}' name='roll_attack') 
      
      div
        span(data-i18n='weapon-systems-info')