mixin headerEntry(name)
  label(for=`attr_pc_ship_${name}`)
    span(data-i18n=`pc_ship_${name}`)
  input(type='text' name=`attr_pc_ship_${name}`)

mixin abilityBox(name, ...abilities)
  h3
    span(data-i18n=`pc_ship_${name}`)
  .sheet-scores.sheet-flex-container
    each ability in abilities
      +ability(ability, name)
  span(data-i18n='pc_ship_modifiers')

mixin ability(name, owner)
  .sheet-ability
    label(for=`attr_pc_ship_${name}_${owner}`)
      span(data-i18n=`pc_ship_${name}`)
    input(type='text' name=`attr_pc_ship_${name}_${owner}`)

.sheet-pc-ship
  .sheet-top
    .sheet-flex-container
      +headerEntry('name')
      +headerEntry('owner')
    .sheet-flex-container
      +headerEntry('size_category')
      +headerEntry('weight')
      +headerEntry('hull_type')
    .sheet-flex-container
      +headerEntry('crew_capacity')
      +headerEntry('cargo_capacity')
      +headerEntry('length')
      +headerEntry('width')
      +headerEntry('height')

  .sheet-middle.sheet-grid-container
      .sheet-col-left
        .sheet-grid-container.sheet-abilities
          .sheet-pilot
            +abilityBox('pilot', 'dexterity', 'wisdom')

          .sheet-captain
            +abilityBox('captain','wisdom', 'charisma')

          .sheet-technician1
            +abilityBox('technician1', 'intelligence', 'wisdom')

          .sheet-technician2
            +abilityBox('technician2', 'intelligence', 'wisdom')

          .sheet-commander
            +abilityBox('commander', 'dexterity', 'intelligence', 'wisdom', 'charisma')

      .sheet-col-center
        .sheet-piloting-maneuver-check
          h3
            span(data-i18n='piloting-manuever-check')
          img(src=`${imagePath}/piloting_manuever_check.png` alt='Piloting Manuever Check')
          p
            span(data-i18n='piloting-manuever-check-info')
        
        .sheet-command-dice
          label(for='attr_pc_ship_command_dice')
            span(data-i18n='type-u')
            select(name='attr_pc_ship_command_dice')
              options(value='d4') d4
              options(value='d6') d6
              options(value='d4') d8
              options(value='d6') d12
              options(value='d6') d20
          
          .sheet-grid-container
            label(for='attr_pc_ship_total_dice')
              span(data-i18n='total-dice')
              input(type='number' name='attr_pc_ship_total_dice')
            
            label(for='attr_pc_ship_total_dice')
              span(data-i18n='dice-used')
              input(type='number' name='attr_pc_ship_total_dice')

        .sheet-grid-container.sheet-intercept-speed
          div
            img(src=`${imagePath}/intercept_speed.png` alt='intercept Speed')
          div
            h3
              span(data-i18n='intercept-speed')
            label(for='attr_pc_ship_intercept_speed')
              input(type='checkbox' name='attr_pc_ship_intercept_speed' value='1')
              span(data-i18n='startdrive')

      .sheet-col-right
        | 1

  .sheet-bottom