mixin headerEntry(name)
  label(for=`attr_pc_ship_${name}`)
    span(data-i18n=`pc_ship_${name}`)
  input(type='text' name=`attr_pc_ship_${name}`)

mixin abilityBox(name)
  h3
    span(data-i18n=`pc_ship_${name}`)
    if block
      .sheet-flex-container
        block
    span(data-i18n='pc_ship_modifiers')

mixin ability(name)
  .sheet-ability
    label(for=`attr_pc_ship_${name}`)
      span(data-i18n=`pc_ship_${name}`)
    input(type='text' name=`attr_pc_ship_${name}`)

.sheet-pc-ship
  .sheet-top
    .sheet-flex-container
      +headerEntry('name')
      +headerEntry('owner')
    .sheet-flex-container
      +headerEntry('size_category')
      +headerEntry('weight')
      +headerEntry('hull_type')
    .sheet-flex-container
      +headerEntry('crew_capacity')
      +headerEntry('cargo_capacity')
      +headerEntry('length')
      +headerEntry('width')
      +headerEntry('height')

  .sheet-middle.sheet-grid-container
      .sheet-col-left
        .sheet-grid-container.sheet-abilities
          .sheet-pilot
            +abilityBox('pilot')
              +ability('dexterity','pilot')
              +ability('wisdom','pilot')

          .sheet-captain
            +abilityBox('captain','')
              +ability('wisdom','')
              +ability('charisma','')

          .sheet-technician1
            +abilityBox('captain','')
              +ability('intelligence','')
              +ability('wisdom','')

          .sheet-technician2
            +abilityBox('captain','')
              +ability('intelligence','')
              +ability('wisdom','')

          .sheet-commander
            +abilityBox('captain','')
              +ability('dexterity','')
              +ability('intelligence','')
              +ability('wisdom','')
              +ability('charisma','')

      .sheet-col-center
        | 1
      .sheet-col-right
        | 1

  .sheet-bottom