.matrix.pc-col
  .pc-row.matrix-box
    .header.right-header
      h1(data-i18n='matrix') Matrix
      .right-tri
    .header.right-header
      each val in ['cyberdeck', 'living persona']
        .header.htab
          .triangle
          if (val === 'cyberdeck')
            input.matrix-toggle(name='attr_matrix_toggle' title='@{matrix_toggle}' type='radio' value=val checked)
          else
            input.matrix-toggle(name='attr_matrix_toggle' title='@{matrix_toggle}' type='radio' value='persona')
          h1(data-i18n=val)
          .right-tri
    .border-box
      .pc-box.medium-box
        input.matrix-toggle(name='attr_matrix_toggle' type='hidden' value='cyberdeck')
        include ./matrix/matrixSwitches.pug
        include ./matrix/cyberdeck.pug
        include ./matrix/livingPersona.pug

  .pc-row
    .header.right-header
      h1(data-i18n='complex form') Complex Forms
      .right-tri
    .border-box
      .pc-box.medium-box.complex-forms
        +fadeDrainSection('fade')
        .rows.repeating-container
          - const formsrepeatingSection = `@{repeating_forms_` + "${x}";
          .row-long.headers
            each val in complexFormAttributes
              h2.text-capitalize(data-i18n=val)
          fieldset(class=`repeating_forms`)
            input(name='attr_dicepool' type='hidden' value='0')

            //- This button displays in the roll template in chat window
            button.display-none(name="roll_fade" type="roll" value="@{gm_toggle} &{template:rolls}{{mod=[[@{modifiers_toggle}]]}}{{edge=[[@{edge_toggle}]]}}{{header=^{fade}}}{{base=^{base}}}{{dice=[[((@{fade_attribute_1}+@{fade_attribute_2}+@{fade_modifier})+@{modifiers_toggle}+@{edge_toggle})d6>5@{explode_toggle}]]}}")

            +displayRollButton(pcComplexFormButton, true)
            - const complexFormSpans = complexFormAttributes.shift();
            each val in complexFormSpans
              span.text-center.eclipse(name=`attr_${val}`)
            +repeatingSectionFlags()
            .settings
              label(data-i18n-title='name' title='name')
                input(name='attr_name' placeholder='name' title=`${formsrepeatingSection}_name}` type='text' value='')
              select(name=`attr_target` title=`${formsrepeatingSection}_target}` value='Device')
                each val in formTargets
                  option.text-capitalize(data-i18n=val value=val) #{val}
              select(name=`attr_duration` title=`${formsrepeatingSection}_duration}` value='Instant')
                each val in formDurations
                  option.text-capitalize(data-i18n=val value=val)
              label(data-i18n-title='fade' title='fade')
                input(name='attr_fade'  placeholder='-1' title=`${formsrepeatingSection}_fade}` type='number' value='')
              .row
                h3(data-i18n='skill') skill
                select(name=`attr_skill` title=`${formsrepeatingSection}_skill}` value='@{software}')
                  option(data-i18n='electronicsgroup' value='@{electronics}') Electronics Group
                  option(data-i18n='software' value='@{software}' selected) Software
                h3(data-i18n='specialization')
                label(data-i18n-title='specialization' title='specialization')
                  input(name='attr_specialization' value='2' title=`${formsrepeatingSection}_specialization}` type='checkbox')
                h3(data-i18n='modifier') modifier
                label(data-i18n-title='modifier' title='modifier')
                  input(name='attr_dicepool_modifier' title=`${formsrepeatingSection}_dicepool_modifier}` type='number')
              +repeatingSectionNotes('forms')

