.pc.character.container
  input(name='attr_page' type='hidden' value='one')

  include pc/header.pug

  .page-one
    .grid.box
      include pc/page-one/character-info.pug

      .grid.3column.personality-row
        .grid.column.personality
          .row
            h2.text-center.text-uppercase(data-i18n='personality')
          each val in ['desire and motivation', 'dislikes secrets regrets', 'philosophy principles']
            .row
              h3.colon.font-smallcaps(data-i18n=val)
              +textarea(val)

        .grid.column.mannerism
          .row
            h2.text-center.text-uppercase(data-i18n='mannerism')
          each val in ['quirk and habits', 'sayings']
            .row
              h3.colon.font-smallcaps(data-i18n=val)
              +textarea(val)

        .grid.column.origin
          .row
            h2.text-center.text-uppercase(data-i18n='origin')
          .row
            h3.colon.font-smallcaps(data-i18n='ancestry and relations')
            +textarea('ancestry and relations')
          .grid.2autocolumn.bottom-border
            h3.colon.font-smallcaps(data-i18n='caste')
            +textInput('caste')
          .row
            h3.colon.font-smallcaps(data-i18n='faction and allegiance')
            +textarea('faction and allegiance')
          each val in ['occupation', 'patron']
            .grid.2autocolumn.bottom-border
              h3.colon.font-smallcaps(data-i18n=val)
              +textInput(val)

    .mt-1.wastah-section
      .column.wastah
        .row.mt-1.mb-1.box
          .row
            h2.text-center.text-uppercase(data-i18n='wastah')
          .repeating-container
            +repeatingWithChecks('wastah')
        include pc/page-one/sanity.pug
        
      .grid.column.traits
          .grid.experience.4column
            .row.header
              h2.text-center.text-uppercase(data-i18n=val)
            .row.input
              +numberInput('experience points')
          each val in trait
            .grid.trait.4column(class=val)
              .row.header
                +traitButton(val)
              .row.modifier
                +numberInput(`${val} modifier`)
              .row.score
                +numberInput(`${val} score`)

      .column.enlightenment
        .row.mt-1.mb-1.box
          .row
            h2.text-center.text-uppercase(data-i18n='enlightenment')
          .repeating-container
            +repeatingWithChecks('enlightenment')
        include pc/page-one/health.pug

    include pc/page-one/skills.pug

  .page-two    
    .character-history
      .grid.box.mb-2
        each val in ['character history', 'friend allies', 'known enemies', 'notable people', 'notable experiences']
          .rowx.grid
            .header
              h2.font-smallcaps(data-i18n=val)
            +checkboxSymbol(`${val} collapse`, 'i')
            +checkboxSymbol(`${val} settings`, 'p')
            .collapse
              span(name=`attr_${attrName(val)}`)
            .settings
              +textarea(val)
    
    .mt-1.movement-section
      .column.movement-column
        .grid.box.movement
          .text-center
            h2(data-i18n='movement')
            span.subheader(data-i18n='(km/hour)')
          each val in movementSpeeds
            - const attrName = val.includes(' (') ?  val.split(' (')[0] : val;
            .grid.2autocolumn
              h3.font-smallcaps.colon(data-i18n=val)
              +textInput(attrName)
          .grid.2autocolumn
            h3.font-smallcaps.colon(data-i18n='other modifiers')
            +textInput('speed modifier')
          .grid.2autocolumn.speed
            .header
              h3.font-smallcaps.colon(data-i18n='combat speed')
              span.subheader(data-i18n='(meters/round)')
            .speed-total
              +numberInput('combat speed')

        .grid.box.defence-value
          .grid
            h2(data-i18n="defence value")
          each val in defenceValues
            .grid.2autocolumn
              h3.font-smallcaps.colon(data-i18n=val)
              +textInput(val)
          .grid.2autocolumn
            .header
              h3.text-uppercase(data-i18n='defence value')
            .defence-value-total
              +numberInput('defence value')

      .column.armor-column
        .grid.header
          h2(data-i18n="armour, tattoo's & graftings")
        .grid.content
          each val in ['head', 'torso', 'arms', 'legs']
            .grid.armor(class=val)
              .grid.column.armour-input
                .header
                  h3.text-center(data-i18n=val)
                  +numberInput(val)
              .grid.column.body
                +textarea(`${val} description`)
          .grid.2column
            .grid.column
              .grid.header
                h3.colon.text-center(data-i18n='bulk, properties, & other')
              .grid
                +textarea('bulk')
            .grid.column.damage-reduction.2autocolumn
              .header
                h2(data-i18n='damage reduction')
                span.subheader(data-i18n='(accumulated total)')
              .grid.content
                +numberInput('damage reduction')

      .column.wealth-column
        .grid.box.wealth
          h2(data-i18n='wealth')
          +textarea('wealth')

        .grid.box.property
          h2(data-i18n='property / assets')
          +textarea('property assets')
    
    .mt-1.box.equipment-section
      .row
        h2.text-uppercase.text-center(data-i18n='equipment')
      .grid.equipment
        +textarea('equipment')

    .mt-1.box.weapons-section
      .grid.headers
        h2.text-uppercase.text-left(data-i18n='weapons')
        each val in weaponFields
          h3.text-center.font-smallcaps(data-i18n=val)
      .grid.weapons
        .repeating-container
          +repeatingWeapons('weapons')
              