.pc.container
  .grid.2column.logo-row.mb-2
    .column.grid.2autocolumn.bottom-border
      h2.colon.font-smallcaps(data-i18n='player name')
      +textInput('player name')
    .column.grid.logo
      img(src=`${imgsrc}/Black%20Void%20by%20Penny%20for%20a%20Tale/src/imgs/logo.png` alt='Black Void')

  .grid.box
    include pc/character-info.pug

    .grid.3column.personality-row
      .grid.column.personality
        .row
          h2.text-center.text-uppercase(data-i18n='personality')
        each val in ['desire and motivation', 'dislikes secrets regrets', 'philosophy principles']
          .row
            h3.colon.font-smallcaps(data-i18n=val)
            +textarea(val)

      .grid.column.mannerism
        .row
          h2.text-center.text-uppercase(data-i18n='mannerism')
        each val in ['quirk and habits', 'sayings']
          .row
            h3.colon.font-smallcaps(data-i18n=val)
            +textarea(val)

      .grid.column.origin
        .row
          h2.text-center.text-uppercase(data-i18n='origin')
        .row
          h3.colon.font-smallcaps(data-i18n='ancestry and relations')
          +textarea('ancestry and relations')
        .grid.2autocolumn.bottom-border
          h3.colon.font-smallcaps(data-i18n='caste')
          +textInput('caste')
        .row
          h3.colon.font-smallcaps(data-i18n='faction and allegiance')
          +textarea('faction and allegiance')
        each val in ['occupation', 'patron']
          .grid.2autocolumn.bottom-border
            h3.colon.font-smallcaps(data-i18n=val)
            +textInput(val)

  .mt-1.wastah-row
    .column.wastah
      .row.mt-1.mb-1.box
        .row
          h2.text-center.text-uppercase(data-i18n='wastah')
        .repeating-container
          +repeatingWithChecks('wastah')
      .grid
        .grid.2column
          .column
            +numberInput('sanity')
          .column
            h2.text-uppercase(data-i18n='sanity')
        .grid.2column
          .column
            +numberInput('total sanity')
          .column
            h2.font-smallcaps(data-i18n='total sanity')
        .grid.2column
          .column
            +numberInput('anxious')
          .column
            h2.font-smallcaps(data-i18n='anxious (+1 to madness)')
        .grid.2column
          .column
            +numberInput('disturbed')
          .column
            h2.font-smallcaps(data-i18n='disturbed (+3 to madness)')
        .grid.2autocolumn
          h2.text-uppercase(data-i18n='madness')
          +textInput('madness')

    .grid.column.traits
      each val in ['intellect', 'agility', 'perception', 'experience points', 'awareness', 'presence', 'stamina', 'willpower', 'strength']
        if val == 'experience points'
          .grid.experience.4column
            .row.header
              h2.text-center.text-uppercase(data-i18n=val)
            .row.input
              +numberInput('experience points')
        else
          .grid.trait.3column(class=val)
            .row.header
              h2.text-uppercase(data-i18n=val)
            .row.modifier
              +numberInput(`${val} modifier`)
            .row.score
              +numberInput(`${val} score`)

    .column.enlightenment
      .row.mt-1.mb-1.box
        .row
          h2.text-center.text-uppercase(data-i18n='enlightenment')
        .repeating-container
          +repeatingWithChecks('enlightenment')
      .grid
        .grid.2column
          .column
            +numberInput('health')
          .column
            h2.text-uppercase(data-i18n='health')
        .grid.2column
          .column
            +numberInput('total health')
          .column
            h2.font-smallcaps(data-i18n='total health')
        .grid.2column
          .column
            +numberInput('hurt')
          .column
            h2.font-smallcaps(data-i18n='hurt (-1 penality)')
        .grid.2column
          .column
            +numberInput('injured')
          .column
            h2.font-smallcaps(data-i18n='injured (-3 penality)')
        .grid.2column
          .column
            +numberInput('dead')
          .column
            h2.text-uppercase(data-i18n='dead')

  .skills-row.mt-2
    .column
      each val in ['background', 'attributes', 'talents']
        .grid.box.mb-2(class=val)
          .grid.header
            .column
              h2.text-uppercase(data-i18n=val)
          .repeating-container
            +repeatingBenefits(val)

      .grid.powers.box

    .column.box
      .grid.skills

      .grid.combat-skills