-var dex = ["Acrobatics", "Archaic Guns", "Blaster", "Blaster Artillery", "Bowcaster", "Bows", "Brawling Parry", "Contortions", "Dancing", "Dodge", "Firearms", "Grenade", "Lightsaber", "Melee Combat", "Melee Parry", "Missile Weapon", "Pick Pocket", "Running", "Shockball Fling", "Shockball Scoop", "Slingshot", "Thrown Weapons", "Vehicle Blasters", "Wedsphere"];
-var dex = ["Acrobatics", "Archaic Guns", "Blaster", "Blaster Artillery", "Bowcaster", "Bows", "Brawling Parry", "Contortions", "Dancing", "Dodge", "Firearms", "Grenade", "Lightsaber", "Melee Combat", "Melee Parry", "Missile Weapon", "Pick Pocket", "Running", "Shockball Fling", "Shockball Scoop", "Slingshot", "Thrown Weapons", "Vehicle Blasters", "Wedsphere"];

-var know =  ["Accounting", "Agriculture", "Alien Species", "Artist", "Brainwashing", "Bureaucracy", "Business Administration", "Business", "Culinary Arts", "Cultures", "Drink Mixology", "Economics", "Home Economics", "Intimidation", "Languages", "Law Enforcement", "Military History", "Planetary Systems", "Shockball", "Streetwise", "Survival", "Tactics", "Traffic Control", "Torture", "Value", "Willpower"];

-var mech = ["Airship Operation", "Aquatic Ship Operation", "Archaic Starship Piloting", "Astrogation Calculating", "Beast Handling", "Beast Riding", "Capital Ship Gunnery", "Capital Ship Piloting", "Capital Ship Shields", "Ground Vehicle Operation", "Holorecorder Operation", "Household Appliance Operation", "Hover Vehicle Operation", "Jet Pack Operation", "Machinery Operation", "Musical Instrument", "Powersuit Operation", "Repulsorlift Operation", "Sailed Nautical Vessel Operation", "Sensors Operation", "Space Transports", "Starfighter Piloting", "Starship Gunnery", "Starship Shields", "Swoop Operation", "Undersea Vehicle Operation", "Walker Operation"];

-var per= ["Bargain", "Command", "Con", "Forgery", "Gambling", "Cesa", "Hide", "Investigation", "Persuasion", "Search", "Singing", "Sneak"];

-var str = ["Brawling", "Cleaning", "Climbing/Jumping", "Digging", "Stamina", "Swimming"];

-var tech = ["(A)Aquatic Vehicle Engineering", "Aquatic Vehicle Repair", "Archaic Gun Repair", "Armor Design", "Armor Repair", "(A)Armor Engneering", "(A)Battle Station Engineering", "Battle Station Repair", "(A)Battle Station Weapon Engineering", "Battle Station Weapon Repair", "(A)Blaster Artillery Engineering", "Blaster Repair", "(A)Blaster Engineering", "Bowcaster Repair", "Bow Repair Repairing", "(A)Capital Ship Engineering", "Capital Ship Repair", "Communications Repair", "(A)Computer Engineering", "Computer Programming/Repair", "Construction", "Cyborg Technology", "Demolitions", "(A)Droid Engineering", "Droid Repair", "Encryption Securing", "(A) Engineering", "Firearms Repair", "First Aid", "(A)Ground Vehicle Engineering", "Ground Vehicle Repair", "Holorecorder Repair", "(A)Hover Vehicle Engineering", "Hover Vehicle Repair", "(A)Jet Pack Engineering", "Jet Pack Repair", "Lightsaber Repair", "Machinery Repair", "(A) Medicine", "Melee Weapon Construction", "Melee Weapon Repair", "Musical Instrument Repair", "Powersuit Repair", "Prosthetic Design", "Prosthetic Repair", "(A)Repulsorlift Engineering", "Repulsorlift Repair", "Rocket Pack Repair", "Sailed Nautical Vessel Repair", "Security Bypassing", "(A)Space Transports Engineering", "Space Transports Repair", "(A)Starfighter Engineering", "Starfighter Repair", "(A)Starship Weapon Engineering", "Starship Weapon Repair", "(A)Swoop Engineering", "Swoop Repair", "(A)Walker Engineering", "Walker Repair"];

- var species = ["Aar’aa", "Abinyshi", "Abyssin", "Adarian", "Adnerem", "Advozse", "Aganof", "Aing-Tii", "Akwin", "Aleena", "Amanin", "Anguilla", "Annoo-dat", "Anointed People", "Anomid", "Anx", "Anzat", "Aqualish", "Arachnoid", "Aramandi", "Araquia", "Arcona", "Arkanian", "Askajian", "Avogwi (Altorian Bird)", "Ayrou", "Balinaka", "Balosar", "Barabel", "Baragwin", "Bartokk", "Berrite", "Besalisk", "Bilar", "Bimm (near-human)", "Bimm", "Bith", "Bitthævrian", "Blood Carver", "Boltrunian", "Borneck", "Bosph", "Bothan", "Bouncer", "Bovorian", "Brizzit", "Brubb", "Buzchub", "Caamasi", "Caarite", "Calibop", "Caridan", "Carosite", "Cathar", "Celegian", "Cerean", "Chadra-Fan", "Chagrian", "Chalactan", "Charon", "Charr Ontee", "Cha’wen’he", "Chazrach", "Chev", "Chevin", "Chikarri", "Chiss", "Chistori", "Chuhkyvi Iskalonian", "Clawdite", "Cliffborer", "Codru-Ji", "Colicoid", "Columi", "Conjeni", "Covallon", "Coway", "Coynite", "Cragmoloid", "Damaronian", "Dantari", "Dashade", "Dathomirian Rancor", "Dazouri", "Defel", "Derriphan", "Devaronian", "Devlikk", "Dornean", "Draedan", "Draethos", "Drall", "Dresselian", "Dug", "Duinuogwuin", "Dulok", "Duros", "Ebranite", "Ee", "Eirrauc", "Eklaad", "Elom", "Elomin", "Em’liy", "Entymal", "Epicanthix", "Ergesh", "Er’Kit", "Esoomian", "Essastii", "Etti", "Ewok", "Falleen", "Farghul", "Feeorin", "Fefze", "Fiery One", "Filar-Nitzan", "Filordus", "Filvian", "Firrerreo", "Flakax", "Florn Lamproid", "Fluggrian", "Fosh", "Frog-dog", "Frozian", "Gacerite", "Gados", "Galidyn", "Gamorrean", "Gand", "Gazaran", "Geelan", "Gen’Dai", "Geonosian", "Geran", "Gerb", "Gesaril", "Gigoran", "Givin", "Glymphid", "Gorm", "Gorothite", "Gossam", "Gotal", "Gran", "Gree", "Gruvian", "Gungan", "Gutratee", "Guudrian", "Hapan", "Herglic", "Hethas", "H’nemthe", "Ho’Din", "Hoojib", "Horansi", "Hortek", "Houk", "Hrakian", "Human", "Huralok", "Hutt", "Iktotchi", "Iotran", "Ipharian-Da’Lor", "Ishi Tib", "Iskalloni", "Issori", "Ithorian", "Ixlls", "Iyra", "Jarell", "Jawa", "Jenet", "Jiivahar", "Jillsarian", "Kadri’Ra", "Ka’hren", "Kalduu", "Kaleesh", "Kamarian", "Kaminoan", "Kari", "Karran", "Kel Dor", "Kentra", "Kerestian", "Ketton", "Khil", "Khommite", "Kian’thar", "Kilmaulsi", "Kitonak", "Klatooinian", "Kluuzot", "Kobok", "Kolac", "Koorivar", "Kowakian Monkey-Lizard", "Krakai", "Krevaaki", "Kriek", "Krikthasi", "Krish", "Krytollak", "Kubaz", "Kurtzen", "Kushiban", "Laboi", "Lafrarian", "Lahsbee / Huhk", "Lannik", "Lasat", "Lepi", "Lorrdian", "Lurrian", "Lutrillian", "Makurth", "Mantellian Savrip", "Maoi", "Marasan", "Massassi", "Meerian", "Melodie", "Menahuun", "Meri", "Mimbanite", "Miraluka", "Mirialan", "Mon Calamari", "Morodin", "Morseerian", "Mriss", "Mrlssi", "M’shinn", "Multopos", "Murachaun", "Muun", "Myneyrsh", "Nagai", "Najib", "Nalrithian", "Nalroni", "Nautolan", "Nazzar", "Neimoidian", "Nelvaanian", "Neti", "Nikto", "Nimbanel", "Noehon", "Noghri", "Nosaurian", "Nuiwit (Altorian Lizard)", "Nuknog", "Oblee", "Odenji", "Omwati", "Ongree", "Orfite", "Orgon", "Ortolan", "Ossan", "Pacithhip", "Paigun", "Pa’lowick", "Pau’an", "Permian", "Phindian", "Pho Ph’eahian", "Phuii", "Polis Massan", "Polydroxol", "Poss’Nomin", "Priapulin", "Protean", "Psadan", "Pulra", "P’w’eck", "Qieg", "Qiraash", "Quarren", "Quermian", "Quockran", "Quor’sav", "Qwohog", "Rakaan", "Rakatan", "Rakririan", "Ranat", "Ranth", "Reigat", "Rellarin", "Revwien", "Ri’Dar", "Riileb", "Riorian ", "Rishii", "Rodian", "Roonan", "Ropagu", "Ruurian", "Ruusanian", "Rybet", "Ryn", "Saheelindeeli", "Sakiyan", "Sanyassan", "Sarkan", "Sarrish", "Saurin", "Saurton", "Sauvax", "Sebiri", "Sedrian", "Segmi", "Seikoshan", "Sekct", "Selkath", "Selonian", "Shard", "Sharu", "Shashay", "Shatras", "Shawda Ubb", "Shi’ido", "Shistavanen", "Sic-Six", "Silika", "Siniteen", "Skakoan", "Skrilling", "S’kytri", "Slith", "Sljee", "Sludir", "Sluissi", "Sneevel", "Snivvian", "Spiner", "Squalris", "Squib", "Srrors’tok", "Ssamb", "Ssi-ruu", "Ssither", "Stenax", "Stennes Shifter", "Sullustan", "Sunesi", "Svivreni", "Swokes Swokes", "Sy Myrthian", "Talid", "Talz", "Tammuz-an", "Tarasin", "Tarc", "Tarong", "Tarro", "Tasari", "Tchuukthai", "Teek", "Teltior", "Temolak", "Tempestro", "Thakwaash", "Theelin", "Thisspian", "Tikiarri", "Tinnell", "Tirrith", "Tiss’shar", "T’landa Til", "Togorian", "Togruta", "Toka", "Toong", "Toydarian", "Trandoshan", "Trianii", "Triffian", "Troig", "Trunsk", "Tsil", "T’surr", "Tuhgri", "Tulvarees", "Tunroth", "Turazza", "Tusken Raider(Sand People)", "Twi’lek", "Tynnan", "Ubese", "Ugnaught", "Ugor", "Ukian", "Umbaran", "Utai", "Uukaablian", "Vaathkree", "Vashan", "Veknoid", "Vernol", "Verpine", "Viska", "Vodran", "Vor", "Vorzydiak", "Vratix", "Vulptereen", "Vultan", "Vurk", "Vuvrian", "Weequay", "Werbol", "Whiphid", "Wookiee", "Woostoid", "Wroonian", "Xa Fel", "Xamster", "Xan", "Xexto", "Xi’Dec", "Yaga", "Yam rii", "Yapi", "Yarkora", "Yevetha", "Yimi", "Yinchorri", "Yrashu", "Ysanna Nomad", "Yuuzahn Vong", "Yuzzem", "Yuzzum", "Yvarema", "Zabrak", "Zarian", "ZeHethbra", "Zelosian", "Zeltron", "Zexx", "Zizimaak"];

- var control = ["Absorb/Dissipate Energy",  "Accelerate Healing", "Burst of Speed", "Concentration", "Contort/Escape", "Control Disease", "Control Pain", "Detoxify Poison",  "Emptiness", "Enhance Attribute", "Force of Will", "Hibernation", "Trance", "Instinctive Astrogation", "Reduce Injury", "Remain Conscious", "Remove Fatigue", "Resist Stun", "Short-Term Memory Enhancement", "Rage"];

- var sense = ["Beast Languages", "Combat Sense", "Danger Sense", "Instinctive Astrogation", "Life Detection", "Life Sense", "Life Web", "Magnify Senses", "Merge Senses", "Postcognition", "Predict Natural Disaster", "Receptive Telepathy", "Sense Force", "Sense Force Potential", "Sense Path", "Shift Sense", "Translation", "Weather Sense"];

- var alter = ["Telekinesis", "Bolt of Hatred", "Dark Side Web", "Injure/Kill"];

- var controlsense = ["Farseeing", "Life Bond", "Lightsaber Combat", "Projective Telepathy"];

- var controlalter = ["Accelerate Another's Healing", "Control Another's Disease",  "Control Another's Pain", "Control Breathing", "Detoxify Another's Poison",  "Place Another in Hibernation Trance", "Remove Another's Fatigue", "Return Another to Consciousness", "Transfer Force", "Aura of Uneasiness", "Electronic Manipulation", "Feed on Dark Side", "Force Lightning", "Inflict Pain", "Waves of Darkness"];

- var sensealter = ["Dim Another's Senses", "Lesser Force Shield"];

- var forceall = ["Control Mind", "Create Force Storms", "Doppleganger", "Drain Life Energy", "Drain Life Essence", "Memory Wipe", "Telekinetic Kill",  "Transfer Life", "Force Scream"];

- var controlall = control.concat(controlsense, controlalter, forceall);

- var senseall = sense.concat(controlsense, sensealter, forceall);

- var alterall = alter.concat(controlalter, sensealter, forceall);

datalist#dexskills
    each skill in dex
        option(value=`${skill}`)=skill

datalist#knowskills
    each skill in know
        option(value=`${skill}`)=skill 

datalist#mechskills
    each skill in mech
        option(value=`${skill}`)=skill 

datalist#perskills
    each skill in per
        option(value=`${skill}`)=skill 

datalist#strskills
    each skill in str
        option(value=`${skill}`)=skill

datalist#techskills
    each skill in tech
        option(value=`${skill}`)=skill 

datalist#species
    each race in species
        option(value=`${race}`)=race

datalist#forcecontrol
    each power in controlall
       option(value=`${power}`)=power

datalist#forcesense
    each power in senseall
       option(value=`${power}`)=power

datalist#forcealter
    each power in alterall
       option(value=`${power}`)=power