mixin charmancer-pagecontrol(left_button, middle_button, right_button) 
    .ms-cm-pagecontrol
        if (typeof left_button !== 'undefined' && left_button.text)   
            button.ms-cm-pagecontrol__left(data-i18n=left_button.text, type="back", value=left_button.action)=left_button.text  
        if (typeof middle_button !== 'undefined' && middle_button.text)       
            button.ms-cm-pagecontrol__middle(data-i18n=middle_button.text, type=middle_button.action)=middle_button.text     
        if (typeof right_button !== 'undefined' && right_button.action === "finish") 
            button.ms-cm-pagecontrol__right(data-i18n=right_button.text, type="finish", value="newcharacter")=right_button.text
        else if (typeof right_button !== 'undefined' && right_button.text)  
            button.ms-cm-pagecontrol__right(data-i18n=right_button.text, type="back", value=right_button.action)=right_button.text

charmancer.sheet-charmancer-intro
    .ms-cm-wrapper
        .t__topbar
        .ms-cm-container
            .ms-cm-panel--full
                img.ms-cm-logo(src="https://s3.amazonaws.com/files.d20.io/images/145353993/itv_F4exdWuwHavdksYfCQ/max.png?1592850121", data-i18n-title="Mothership Logo")
                p.ms-cm-welcometext(data-i18n="charmancer-step1")
        +charmancer-pagecontrol({action: "none"},{action: "cancel", text: "cancel"},{action: "stats", text: "next"})

charmancer.sheet-repeating-topbar

    .ms-cm-topstats

        .ms-cm-stats

            each stat in stats 
                .ms-cm-mainstat
                    .ms-cm-mainstat__title(data-i18n=stat.attr)
                    .ms-cm-mainstat__value(class=`t__${stat.attr}`)
                    input(name=`comp_${stat.attr}`, type="hidden")
                    input(name=`comp_${stat.attr}_final`, type="hidden")

        .ms-cm-altstats
        
            .ms-cm-altstat
                .ms-cm-altstat__title(data-i18n="health")
                .ms-cm-altstat__value(class=`t__health`)
                    input(name=`comp_health`, type="hidden")

            .ms-cm-altstat
                .ms-cm-altstat__title(data-i18n="stress")
                .ms-cm-altstat__value(class=`t__stress`)
                    input(name=`comp_stress`, type="hidden")

            .ms-cm-altstat
                .ms-cm-altstat__title(data-i18n="resolve")
                .ms-cm-altstat__value(class=`t__resolve`)
                    input(name=`comp_resolve`, type="hidden")
            
        .ms-cm-saves

            each save in saves
                .ms-cm-mainsave
                    .ms-cm-mainsave__title(data-i18n=save.name)
                    .ms-cm-mainsave__value(class=`t__${save.name}`)
