-
    const custom_class = [
        {
            name:"Class Name",
            attr:"class",
            type:"input",
        },
        {
            name:"Sanity Save",
            attr:"sanity",
            type:"input",
        },
        {
            name:"Fear Save",
            attr:"fear",
            type:"input",
        },
        {
            name:"Body Save",
            attr:"body",
            type:"input",
        },
        {
            name:"Armor Save",
            attr:"armor",
            type:"input",
        },
        {
            name:"Strength Mod",
            attr:"strength_mod",
            type:"input",
        },
        {
            name:"Speed Mod",
            attr:"speed_mod",
            type:"input",
        },
        {
            name:"Intellect Mod",
            attr:"intellect_mod",
            type:"input",
        },
        {
            name:"Combat Mod",
            attr:"combat_mod",
            type:"input",
        },
        {
            name:"Stress Effect",
            attr:"stress_effect",
            type:"long",
        },
        {
            name:"Skill Points",
            attr:"skill_points",
            type:"input",
        },
    ];

charmancer.sheet-charmancer-class
    .ms-cm-wrapper
        input(name=`comp_selected`, type="hidden")
        .t__topbar
        .ms-cm-container.choice.showclasses
            .ms-cm-panel--classes
                h2.ms-cm-guidetitle(data-i18n="select a class")
                p.ms-cm-guidetext--span2(data-i18n="charmancer-step3a")
                .ms-cm-classes.t__classes
        .ms-cm-container.choice.showclassinfo
            .ms-cm-panel
                h2.ms-cm-guidetitle(data-i18n="your class")
                p.ms-cm-guidetext(data-i18n="charmancer-step3b")
                .ms-cm-center
                    button.ms-cm-button--action(data-i18n="reselect class", name="act_reselectc", type="action")
            .ms-cm-panel
                .choice.presetclass
                    h3.ms-cm-class__title--selected.t__cname
                    .ms-cm-savegroup
                        each save in saves 
                            .ms-cm-mainsave 
                                input(name=`comp_${save.name}`, type="hidden")
                                .ms-cm-mainsave__title(data-i18n=save.name)
                                .ms-cm-mainsave__value(class=`t__${save.name}`)
                    
                    input(name=`comp_skills`, type="hidden")
                    input(name=`comp_skill_choice`, type="hidden")
                    each stat in stats 
                        input(name=`comp_${stat.attr}_modifier`, type="hidden")
                    input(name=`comp_health`, type="hidden")

                    .ms-cm-row
                        .ms-cm-row__title(data-i18n="stress effect")
                        .t__stress_effect
                    .ms-cm-row
                        .ms-cm-row__title(data-i18n="skills")
                        .t__skills
                        .t__skill_choice
                    .ms-cm-row
                        .ms-cm-row__title(data-i18n="skill points")
                        .t__skill_points
                .choice.customclass
                    each field in custom_class
                        .ms-cm-row
                            .ms-cm-row__label(data-i18n=field.name)
                            if (field.type === "long")
                                input.ms-cm-row__input--long(name=`comp_${field.attr}`)
                            else
                                input.ms-cm-row__input(name=`comp_${field.attr}`)

            .ms-cm-compendium.choice.showclassinfo

        +charmancer-pagecontrol({action: "stats", text:"previous"},{action: "cancel", text: "cancel"},{action: "skills", text: "next"})

charmancer.sheet-repeating-class
    input.ms-cm-hide(name="comp_name", type="hidden")
    label.ms-cm-class
        input.ms-cm-hide(name="comp_selected", type="checkbox")
        .ms-cm-class__img.t__img
        h2.ms-cm-class__title.t__title
        .ms-cm-class__desc.t__desc

charmancer.sheet-repeating-skillselection
    .ms-cm-row--skillselect
        .ms-cm-row__title(data-i18n="choose a skill")
        select.ms-cm-row__select(name="comp_skill")
            option(data-i18n="choose")
        input(name="comp_skill_type", type="hidden")