charmancer.sheet-charmancer-skills
    .ms-cm-wrapper
        .t__topbar
        .ms-cm-container
            .ms-cm-panel--skills
                input(name="comp_owned", type="hidden")
                input(name="comp_unlocked", type="hidden")
                input(name="comp_trained_lock", type="hidden")
                input(name="comp_expert_lock", type="hidden")
                input(name="comp_master_lock", type="hidden")

                h2.ms-cm-guidetitle(data-i18n="choose skills")
                p.ms-cm-guidetext--span2(data-i18n="charmancer-step4")
                .ms-cm-skillpoints.t__skillpointserror
                    input(name="comp_skillpoints", type="hidden")
                    input(name="comp_skillpoints_max", type="hidden")
                    .ms-cm-skillpoints__label(data-i18n="remaining skillpoints")
                    .ms-cm-skillpoints__value.t__skillpoints
                .ms-cm-skillcol--trained
                    each skill in skills.trained    
                        -
                            const attr = skill.name.replace(/ /g,"_");
                        .ms-cm-skill     
                            input(name=`comp_${attr}`, type="hidden")
                            input(name=`comp_${attr}_type`, type="hidden")
                            button.ms-cm-skill__wrapper(class=`ms-cm-skill__wrapper--${attr}`, name=`act_toggle-${attr}`, type="action")
                                div.ms-cm-skill__check
                                div.ms-cm-skill__name(data-i18n=skill.name, type="roll", value=roll3)
                            span.ms-cm-tooltip
                                p
                                    span(data-i18n=skill.desc)
                .ms-cm-skillcol--expert
                    each skill in skills.expert    
                        -
                            const attr = skill.name.replace(/ /g,"_");
                        .ms-cm-skill
                            input(name=`comp_${attr}`, type="hidden")
                            input(name=`comp_${attr}_type`, type="hidden")
                            button.ms-cm-skill__wrapper(class=`ms-cm-skill__wrapper--${attr}`, name=`act_toggle-${attr}`, type="action")
                                div.ms-cm-skill__check
                                div.ms-cm-skill__name(data-i18n=skill.name, type="roll", value=roll3)
                            span.ms-cm-tooltip
                                p
                                    span(data-i18n=skill.desc)
                .ms-cm-skillcol--master
                    each skill in skills.master    
                        -
                            const attr = skill.name.replace(/ /g,"_");
                        .ms-cm-skill     
                            input(name=`comp_${attr}`, type="hidden")
                            input(name=`comp_${attr}_type`, type="hidden")
                            button.ms-cm-skill__wrapper(class=`ms-cm-skill__wrapper--${attr}`, name=`act_toggle-${attr}`, type="action")
                                div.ms-cm-skill__check
                                div.ms-cm-skill__name(data-i18n=skill.name, type="roll", value=roll3)
                            span.ms-cm-tooltip
                                p
                                    span(data-i18n=skill.desc)

        +charmancer-pagecontrol({action: "class", text:"previous"},{action: "cancel", text: "cancel"},{action: "equipment", text: "next"})