.flex-box.center.well-padded.boxed
  +input-label({
    label:'xp',
    inputObj:{name:'xp', class:'info-label center xp bigger', type:'number', value:'0', style:'width:100%;'}, 
    spanObj:{role:'heading', class:'xp', 'aria-level':3}
  })
  +number({name:'xp_max', class:'underlined number', value:'15', trigger:{affects:['xp_interval']}})
    //- each val in [9,12,15,18,21,24]
    //-   if val === 15
    //-     option(value=`${val}`, selected=true) #{val}
    //-   else
    //-     option(value=`${val}`) #{val}
  +number({name:'xp interval', readonly:true, class:'', value:'5', trigger:{calculation:'calcInterval'}})