mixin btn(opts)
  if opts.classes
    label(class=`common-btn ${opts.classes}`)
      if opts.pure_attr
        input.btn-input.hide(type=opts.type name=`attr_${opts.attribute}`)
      else
        if opts.checked
          input.btn-input.hide(type=opts.type name=`attr_${opts.attribute}_button` checked)
        else
          input.btn-input.hide(type=opts.type name=`attr_${opts.attribute}_button`)
      .btn-content=opts.text
  else
    label.common-btn
      input.btn-input.hide(type=opts.type name=`attr_${opts.attribute}_button`)
      .btn-content=opts.text