
mixin modalButton({name})
    - name = actionButtonName(replaceProblems(name));
    - attributes.class = attributes.class ? ` ${replaceProblems(attributes.class)}` : '';
    - attributes.class = `kmodal kmodal--${name} kmodal__button kmodal--${name}__button${attributes.class}`;
    - attributes.for = `kmodal-${name}`;
    label&attributes(attributes)
        block

mixin modalWindow({name})
    - name = actionButtonName(replaceProblems(name))
    - attributes.class = attributes.class ? ` ${replaceProblems(attributes.class)}` : '';
    - attributes.class = `kmodal kmodal__outer kmodal--${name} kmodal--${name}__outer${attributes.class}`;
        
    input(class=`kmodal kmodal--${name} kmodal__checkbox kmodal--${name}__checkbox` type="checkbox" id=`kmodal-${name}`)
    div&attributes(attributes)
        label(class=`kmodal kmodal__background kmodal--${name} kmodal--${name}__background` for=`kmodal-${name}`)
        div(class=`kmodal kmodal__inner kmodal--${name} kmodal--${name}__inner`)
            label(class=`kmodal kmodal__close kmodal--${name} kmodal--${name}__close` for=`kmodal-${name}`)
            div(class=`kmodal kmodal__content kmodal--${name} kmodal--${name}__content`)
                block

mixin modalContainer()
    .kmodal.kmodal__container&attributes(attributes)
        block