
//- VERSION
//- =============================
input(name='attr_version' type='hidden' value='1')

//- MIXINS
include src/pug/_mixins.pug

.grid.navigation
		each val in ['Main', 'Equipment', 'Log']
			if val === 'main'
				input(name='attr_tab' type='radio' value=val.toLowerCase() checked)
			else
				input(name='attr_tab' type='radio' value=val.toLowerCase())
			span(data-i18n=val) val

.container
	input(name='attr_tab' type='hidden' value='main')
	.main.tab
		.column
			.grid.spewbox
				h1 S.P.E.W Attributes
				.dicetypes
					each val in ['Strength', 'Perception', 'Empathy', 'Willpower']
						.grid.box.attributebox
							img(val=val, src='https://raw.githubusercontent.com/Roll20/roll20-character-sheets/master/outbreak/images/OU_Attributes_' + val + '_40x40.png')
							br
							span #{val}
							p
								input.spewbonus(type='text' name='attr_' + val +'bonus' title= val + 'Bonus' value='0')
								input.spewones(type='text' name='attr_' + val value='[[(@{#valBonus}*10)+@{val}]]')
				.grid.box.points
					each val in ['Survival', 'Competance', 'Gestalt']
						.grid.box.pointsbox
							span #{val} Points:
							input.points(type='text' name='attr_' + val +'points' title= val + 'points' value='0')

		.column
				.grid.box.logo
					img(alt='Outbreak Character Sheet', src='https://i.imgur.com/css0cBR.png')

	.equipment.tab

	.log.tab

//- ROLL TEMPLATE
//include src/pug/_rolltemplate.pug
include src/pug/rolltemplate.html