
//- VERSION
//- =============================
input(name='attr_version' type='hidden' value='1')

//- MIXINS
include src/pug/_mixins.pug

.grid.navigation
	each val in ['Main', 'Equipment', 'Log']
		if val === 'main'
			input(name='attr_tab' type='radio' value=val.toLowerCase() checked)
		else
			input(name='attr_tab' type='radio' value=val.toLowerCase())
		span(data-i18n=val) val

.container
	input(name='attr_tab' type='hidden' value='main')
	.main.tab
		.column
			.grid.playerinfo.box
				each val in ['Name', 'Player', 'Campaign']
					-const name = val.toLowerCase();
					h2(data-i18n=`${val}`) #{val}
					input(name=`attr_character_${name}` placeholder=val title=`@{character_${name}}` type='text' value='')

			.spewbox.box
				h1.green-header(data-i18n='S.P.E.W Attributes') S.P.E.W Attributes
				.grid.dicetypes
					each val in ['Strength', 'Perception', 'Empathy', 'Willpower']
						-const name = val.toLowerCase();
						.grid.attributes
							img(alt=`${val}` src=`https://raw.githubusercontent.com/clevett/roll20-character-sheets/outbreakv1/Outbreak/src/img/OU_Attributes_${val}_40x40.png`)
							h3(data-i18n=val) #{val}${name}
							.grid
								input(name=`attr_${name}` type='hidden' value=`[[(@{${name}_bonus}*10)+@{${name}_base}]]`)
								label
									input(name=`attr_${name}_bonus` title=`@{${name}_bonus}` type='text' value='0')
								label
									input(name=`attr_${name}_base`  title=`@{${name}_base}` type='text' value=`0`)
				
				h2(data-i18n='Character Resources') Character Resources
				.grid.points
					each val in ['Survival', 'Gestalt', 'Competance']
						-const name = val.toLowerCase();
						if val === 'Gestalt'
							h2.yellow-header(data-i18n=`${val} Level:`) #{val} Level:
						else
							h2.green-header(data-i18n=`${val} Points:`) #{val} Points:
						label
							input.points(name=`attr_${name}` title=`@{${name}}` value='0' type='text')

				.grid.skills
					h1.yellow-header(data-i18n='Skills') Skills
					h2(data-i18n='Basic Skills') Basic Skills
					.grid
						each val in {'Balance':'perception', 'Brawl': 'strength', 'Climb':'strength', 'Composure':'willpower', 'Dodge':'perception', 'Endurance':'strength', 'Expression':'empathy', 'Grapple':'strength', 'Hold':'willpower', 'Jump/Leap':'strength', 'Lift/Pull':'strenght', 'Resist Pain':'willpower', 'Search':'perception', 'Spot/Listen':'perception', 'Stealth':'strength'}
							+skillList(val)



					h2(data-i18n='Trained Skills') Trained Skills
					.grid
						each val in ['Bow/Crossbow', 'Calm Other', 'Deplomacy Persuade', 'Diplomacy Barter/Bribe', 'Diplomacy Command/Coax', 'Diplomacy Detect Motives', 'Diplomacy Intimidate', 'Digital Systems', 'Firearms Pistol', 'Firearms Long Gun', 'First Aid', 'Melee Attack Blunt', 'Melee Attack Pierce', 'Melee Attack Slash', 'Navigation', 'Swim', 'Throw']
							- const name = val.toLowerCase();

					h2(data-i18n='Expert Skills') Expert Skills
					.grid
						each val in ['Adv Medicine', 'Construct Engineer', 'Specialization','Specialization', 'Martial Arts', 'Pilot', 'Vehicle', 'Vehicle', 'Ride Animal', 'Animal', 'Science', 'Field Of Study', 'Field Of Study', 'Field Of Study', 'Survival', 'Toughness']
							- const name = val.toLowerCase();

		.column
				.grid.box.logo
					img(alt='Outbreak Character Sheet', src='https://i.imgur.com/css0cBR.png')

	.equipment.tab

	.log.tab

//- ROLL TEMPLATE
//include src/pug/_rolltemplate.pug
include src/pug/rolltemplate.html