
//- VERSION
//- =============================
input(name='attr_version' type='hidden' value='1')

//- MIXINS
include src/pug/_mixins.pug

h1.logo
.grid.outbreak-row
  .grid.box.navigation
    input(name='attr_tab' type='radio' value='1' class="sheet-tab sheet-tab1") 
    span MAIN
    input(name='attr_tab' type='radio' value='2' class="sheet-tab sheet-tab2") 
    span EQUIPMENT
    input(name='attr_tab' type='radio' value='3' class="sheet-tab sheet-tab3") 
    span LOG 

.grid.outbreak-row
  .grid.box.biobox
    each val in ['Name', 'Player', 'Campaign']
      - const attrName = val.toLowerCase();
      label(data-i18n-title=attrName title=attrName)
      input(data-i18n-placeholder=val name='attr_character_'+attrName placeholder=val title='@{character_'+attrName+'}' type='text' value='')

  .grid.box.logo
    img(alt='Outbreak Character Sheet', src='https://raw.githubusercontent.com/Roll20/roll20-character-sheets/master/outbreak/images/OU_Logo_340pxWx90pxH.png')

.grid.outbreak-row
  .grid.box.spewbox
    .grid.box.spewlabel S.P.E.W. Attributes
    each val in ['Strength', 'Perception', 'Empathy', 'Willpower']
      .grid.box.attributebox
        img(val=val, src='https://raw.githubusercontent.com/Roll20/roll20-character-sheets/master/outbreak/images/OU_Attributes_' + val + '_40x40.png')
        br
        span #{val}
        p
          input.spewbonus(type='text' name='attr_' + val +'bonus' title= val + 'Bonus' value='0')
          input.spewones(type='text' name='attr_' + val value='[[(@{#valBonus}*10)+@{val}]]')
    each val in ['Survival', 'Competance', 'Gestalt']
      .grid.box.pointsbox
        span #{val} Points:
        input.points(type='text' name='attr_' + val +'points' title= val + 'points' value='0')
      
.grid.outbreak-row
  .grid.box.dicebox
    .grid.box.dicelabel Skills
      span Basic Skills
      each val in ['Balance', 'Brawl', 'Climb', 'Composure', 'Dodge', 'Endurance', 'Expression', 'Grapple', 'Hold', 'Jump/Leap', 'Lift/Pull', 'Resist Pain', 'Search', 'Spot/Listen', 'Stealth']
        - const attrName = val.toLowerCase();
        .grid.box.skillbox
          span #{val}
          input.skillstat(type='hidden' name='attr_' + val value='(@{perception}+@{Wb})' title='Perception + Wb' disabled='true')
          input.skillstat(type='text' name='attr_Gestalt' + val value='0' title='Input total skill gain from spent gestalt levels')
          input.skillstat(type='text' name='attr_'+ val +'Total' value='[[@#{val}+@{Gest#{val}}]]' title='Will add Base Training Value equal to Pb + Training Value multiplied by the multiplier or any gear you are using.' disabled='true')
          input.skillname(type='hidden' name='attr_'+val+'Tot' value='(@{#{val}Total} [Skill]+@{#{val}BaseTv} [Kit])' disabled='true')
          button.skillstat(type='roll' name='roll_'+val title='If using no gear select none and select a multiplier of 0' value='&{template:ou} {{name=@{character_name}}} {{roll_name={#{val}%}}} {{attr=#{val}}}} {{Target1=[[@{#{val}Tot}]]}} {{Target2=[[@{#{val}Tot}+1]]}} {{skill=VS.}} {{Diff=@{dpDiff}}} {{Spd1=@{dpSpeed}}} {{Dmg=@{dpDmg}}} {{Deplet=@{dpDeplet}}} {{DieDif=@{DiffDie}}} {{DieSpd=@{SpeedDie}}} {{DieDmg=@{DmgDie}}} {{DieDep=@{DepletDie}}} {{result=[[1d100+@{dpDiff} [Diff]]]}} {{dos1=[[@{#{val}Tot}-19]]}} {{dos2a=[[@{#{val}Tot}-20]]}} {{dos2b=[[@{#{val}Tot}-29]]}} {{dos3a=[[@{#{val}Tot}-30]]}} {{dos3b=[[@{#{val}Tot}-39]]}} {{dos4a=[[@{#{val}Tot}-40]]}} {{dos4b=[[@{#{val}Tot}-49]]}} {{dof1=[[@{#{val}Tot}+19]]}} {{dof2a=[[@{#{val}Tot}+20]]}} {{dof2b=[[@{#{val}Tot}+29]]}} {{dof3a=[[@{#{val}Tot}+30]]}} {{dof3b=[[@{#{val}Tot}+39]]}} {{dof4a=[[@{#{val}Tot}+40]]}} {{dof4b=[[@{#{val}Tot}+49]]}}')

      span Trained Skills
      each val in ['Bow/Crossbow', 'Calm Other', 'Deplomacy Persuade', 'Diplomacy Barter/Bribe', 'Diplomacy Command/Coax', 'Diplomacy Detect Motives', 'Diplomacy Intimidate', 'Digital Systems', 'Firearms Pistol', 'Firearms Long Gun', 'First Aid', 'Melee Attack Blunt', 'Melee Attack Pierce', 'Melee Attack Slash', 'Navigation', 'Swim', 'Throw']
        - const attrName = val.toLowerCase();
        .grid.box.skillbox
          span #{val}
          input.skillstat(type='hidden' name='attr_' + val value='(@{perception}+@{Wb})' title='Perception + Wb' disabled='true')
          input.skillstat(type='text' name='attr_Gestalt' + val value='0' title='Input total skill gain from spent gestalt levels')
          input.skillstat(type='text' name='attr_'+ val +'Total' value='[[@#{val}+@{Gest#{val}}]]' title='Will add Base Training Value equal to Pb + Training Value multiplied by the multiplier or any gear you are using.' disabled='true')
          input.skillname(type='hidden' name='attr_'+val+'Tot' value='(@{#{val}Total} [Skill]+@{#{val}BaseTv} [Kit])' disabled='true')
          button.skillstat(type='roll' name='roll_'+val title='If using no gear select none and select a multiplier of 0' value='&{template:ou} {{name=@{character_name}}} {{roll_name={#{val}%}}} {{attr=#{val}}}} {{Target1=[[@{#{val}Tot}]]}} {{Target2=[[@{#{val}Tot}+1]]}} {{skill=VS.}} {{Diff=@{dpDiff}}} {{Spd1=@{dpSpeed}}} {{Dmg=@{dpDmg}}} {{Deplet=@{dpDeplet}}} {{DieDif=@{DiffDie}}} {{DieSpd=@{SpeedDie}}} {{DieDmg=@{DmgDie}}} {{DieDep=@{DepletDie}}} {{result=[[1d100+@{dpDiff} [Diff]]]}} {{dos1=[[@{#{val}Tot}-19]]}} {{dos2a=[[@{#{val}Tot}-20]]}} {{dos2b=[[@{#{val}Tot}-29]]}} {{dos3a=[[@{#{val}Tot}-30]]}} {{dos3b=[[@{#{val}Tot}-39]]}} {{dos4a=[[@{#{val}Tot}-40]]}} {{dos4b=[[@{#{val}Tot}-49]]}} {{dof1=[[@{#{val}Tot}+19]]}} {{dof2a=[[@{#{val}Tot}+20]]}} {{dof2b=[[@{#{val}Tot}+29]]}} {{dof3a=[[@{#{val}Tot}+30]]}} {{dof3b=[[@{#{val}Tot}+39]]}} {{dof4a=[[@{#{val}Tot}+40]]}} {{dof4b=[[@{#{val}Tot}+49]]}}')

      span Expert Skills
      each val in ['Adv Medicine', 'Construct Engineer', 'Specialization','Specialization', 'Martial Arts', 'Pilot', 'Vehicle', 'Vehicle', 'Ride Animal', 'Animal', 'Science', 'Field Of Study', 'Field Of Study', 'Field Of Study', 'Survival', 'Toughness']
        - const attrName = val.toLowerCase();
        .grid.box.skillbox
          if val == 'Specialization' || val == 'Vehicle' || val == 'Animal' || val == 'Field Of Study'
            input(type='text' name='attr_'+val placeholder=val title=val style='width:80px;')
            input.skillstat(type='hidden' name='attr_' + val value='(@{perception}+@{Wb})' title='Perception + Wb' disabled='true')
            input.skillstat(type='text' name='attr_Gestalt' + val value='0' title='Input total skill gain from spent gestalt levels')
            input.skillstat(type='text' name='attr_'+ val +'Total' value='[[@#{val}+@{Gest#{val}}]]' title='Will add Base Training Value equal to Pb + Training Value multiplied by the multiplier or any gear you are using.' disabled='true')
            input.skillname(type='hidden' name='attr_'+val+'Tot' value='(@{#{val}Total} [Skill]+@{#{val}BaseTv} [Kit])' disabled='true')
            button.skillstat(type='roll' name='roll_'+val title='If using no gear select none and select a multiplier of 0' value='&{template:ou} {{name=@{character_name}}} {{roll_name={#{val}%}}} {{attr=#{val}}}} {{Target1=[[@{#{val}Tot}]]}} {{Target2=[[@{#{val}Tot}+1]]}} {{skill=VS.}} {{Diff=@{dpDiff}}} {{Spd1=@{dpSpeed}}} {{Dmg=@{dpDmg}}} {{Deplet=@{dpDeplet}}} {{DieDif=@{DiffDie}}} {{DieSpd=@{SpeedDie}}} {{DieDmg=@{DmgDie}}} {{DieDep=@{DepletDie}}} {{result=[[1d100+@{dpDiff} [Diff]]]}} {{dos1=[[@{#{val}Tot}-19]]}} {{dos2a=[[@{#{val}Tot}-20]]}} {{dos2b=[[@{#{val}Tot}-29]]}} {{dos3a=[[@{#{val}Tot}-30]]}} {{dos3b=[[@{#{val}Tot}-39]]}} {{dos4a=[[@{#{val}Tot}-40]]}} {{dos4b=[[@{#{val}Tot}-49]]}} {{dof1=[[@{#{val}Tot}+19]]}} {{dof2a=[[@{#{val}Tot}+20]]}} {{dof2b=[[@{#{val}Tot}+29]]}} {{dof3a=[[@{#{val}Tot}+30]]}} {{dof3b=[[@{#{val}Tot}+39]]}} {{dof4a=[[@{#{val}Tot}+40]]}} {{dof4b=[[@{#{val}Tot}+49]]}}')
          else
            span #{val}
            input.skillstat(type='hidden' name='attr_' + val value='(@{perception}+@{Wb})' title='Perception + Wb' disabled='true')
            input.skillstat(type='text' name='attr_Gestalt' + val value='0' title='Input total skill gain from spent gestalt levels')
            input.skillstat(type='text' name='attr_'+ val +'Total' value='[[@#{val}+@{Gest#{val}}]]' title='Will add Base Training Value equal to Pb + Training Value multiplied by the multiplier or any gear you are using.' disabled='true')
            input.skillname(type='hidden' name='attr_'+val+'Tot' value='(@{#{val}Total} [Skill]+@{#{val}BaseTv} [Kit])' disabled='true')
            button.skillstat(type='roll' name='roll_'+val title='If using no gear select none and select a multiplier of 0' value='&{template:ou} {{name=@{character_name}}} {{roll_name={#{val}%}}} {{attr=#{val}}}} {{Target1=[[@{#{val}Tot}]]}} {{Target2=[[@{#{val}Tot}+1]]}} {{skill=VS.}} {{Diff=@{dpDiff}}} {{Spd1=@{dpSpeed}}} {{Dmg=@{dpDmg}}} {{Deplet=@{dpDeplet}}} {{DieDif=@{DiffDie}}} {{DieSpd=@{SpeedDie}}} {{DieDmg=@{DmgDie}}} {{DieDep=@{DepletDie}}} {{result=[[1d100+@{dpDiff} [Diff]]]}} {{dos1=[[@{#{val}Tot}-19]]}} {{dos2a=[[@{#{val}Tot}-20]]}} {{dos2b=[[@{#{val}Tot}-29]]}} {{dos3a=[[@{#{val}Tot}-30]]}} {{dos3b=[[@{#{val}Tot}-39]]}} {{dos4a=[[@{#{val}Tot}-40]]}} {{dos4b=[[@{#{val}Tot}-49]]}} {{dof1=[[@{#{val}Tot}+19]]}} {{dof2a=[[@{#{val}Tot}+20]]}} {{dof2b=[[@{#{val}Tot}+29]]}} {{dof3a=[[@{#{val}Tot}+30]]}} {{dof3b=[[@{#{val}Tot}+39]]}} {{dof4a=[[@{#{val}Tot}+40]]}} {{dof4b=[[@{#{val}Tot}+49]]}}')





//- ROLL TEMPLATE
//include src/pug/_rolltemplate.pug
include src/pug/rolltemplate.html