//- TODO: Convert oracle moves to all use data json
include ../../data/group-list
include ../../data/move-list
include ./mixins/move-builder

//- Search Bar
input(type='radio' class='hide full-move-list' name='attr_move_view' value='1' checked)
div.full-move-list.showhide
  div.search-bar
    input(type='text' class='search-bar' name='attr_move_search' placeholder='Search')
    label.clear-search CLEAR
      input(type='checkbox' class='hide' name='attr_clear_search')
  
  //- List of Moves
  div.move-container
    input(type='radio' class='hide' name='attr_selected_move')
    each group in moveGroups
      div.move-group
        div.move-group-title
          h3=group.title
        each move in group.moves
          div.move-list
            label.move
              input(type='radio' class='hide selected-move' name='attr_selected_move' value=move.value)
              input(type='checkbox' class='hide move-highlight' name=`attr_${move.value}_highlight`)
              div.move-name=move.name

//- Move Details
input(type='radio' class='hide move-preview' name='attr_move_view' value='2')
div.move-preview.showhide
  div.preview-bar
    div.search-preview-bar
      input(type='text' class='search-preview-bar' name='attr_move_search' placeholder='Search')
      label.clear-search CLEAR
        input(type='checkbox' class='hide' name='attr_clear_search')
    div.close-bar
      label.close-preview CLOSE PREVIEW
        input(type='checkbox' class='hide' name='attr_close_move_preview')
  div.preview-container
    div.move-scroll-list
      each group in moveGroups
        div.move-group-scroll
          div.move-group-title
            h3=group.title
          each move in group.moves
            div.move-list
              label.move
                input(type='radio' class='hide' name='attr_selected_move' value=move.value)
                input(type='checkbox' class='hide move-highlight' name=`attr_${move.value}_highlight`)
                div.move-name=move.name
    
    //- Move Previews
    div.move-preview-container
      each move, key in moveList
        +moveBuilder(move, key)
