include ./tracks.pug
div.sheet-resources
  div
    h2 Health
    img
    select(name='attr_health_ten')
      each val in trackValuesHealth
        option(value=val)=val
    select(name='attr_health_one')
      each val in trackValuesNine
        option(value=val)=val

  div
    h2 Spirit
    img
    select(name='attr_spirit')
      each val in trackValuesTen
        option(value=val)=`+${val}`

  div
    h2 Supply
    img
    select(name='attr_supply')
      each val  in trackValuesTen
        option(value=val)=`+${val}`
  
  div
    h2 Wealth
    img
    select(name='attr_wealth')
      each val  in trackValuesTen
        option(value=val)=`+${val}`

  div
    h2 Load
    img
    select(name='attr_load')
      each val in trackValuesTwelve
        option(value=val)=val