//- Commented out for first release
//- input.changelog.hide-element(type='checkbox' name='attr_changelog_1.0.0')
//- .changelog
//-   .copy
//-   label.close-changelog
//-     input(type='checkbox' name=`attr_close_changelog` class='hide-element')
//-     div.i18n-text(data-i18n='page-info-close')=translation['page-info-close']

- var sheets = [ 'character', 'shared' ]
input(type='checkbox' name='attr_modes_choice' class='modes-show hide-element' checked)
div.modes-show.hide-element
  div.mode-title
    h2.mode-title.i18n-text(data-i18n='page-select')=translation['page-select']
  div.modes

    each page, index in sheets
      label.mode
        h4.i18n-text(data-i18n=`page-name-${page}`)=translation[`page-name-${page}`]
        div.mode
          input(type='radio' name='attr_mode_button' class='hide-element' value=index)
          div.mode-image
            img(src=`https://raw.githubusercontent.com/Roll20/roll20-character-sheets/master/Ironsworn-Starforged/assets/${page}-sheet.png`)

input(type='radio' name='attr_mode' class='character-mode hide-element' value='0')
div.character-mode.hide-element
  include ./character/index

input(type='radio' name='attr_mode' class='shared-mode hide-element' value='1')
div.shared-mode.hide-element
  include ./shared/index