- const templateHeader = name => `&{template:rolls} {{header=^{${name}}}}`
- const rollFormula = attrName => `{{dice=[[{1d20+({@{${attrName}}+(?{Mod.|0})-20,0}kh1),1d0+20}kl1 [Roll]]]}} {{threshold=[[{@{${attrName}}+(?{Mod.|0}),20}kl1[Threshold]]]}} {{fumbleVal=[[20+({@{${attrName}}+(?{Mod.|0}),0}kl1)]]}}`
- const damageForumla = attrName => `{{damage=[[(@{${attrName}}+(?{Mod.|0}))d6]]}}`;
- const buttonName = name => name.replace(/ /g, '-');
- const attrName = name => name.replace(/ /g, '_');

mixin textInput(name)
	label(data-i18n-title=`enter ${name}` title=`enter ${name}`)
		input(data-i18n-placeholder=name name=`attr_${attrName(name)}` placeholder=name title=`@{${attrName(name)}}` type='text' value='')

mixin numberInput(name)
	label(data-i18n-title=`enter ${name}` title=`enter ${name}`)
		input(name=`attr_${attrName(name)}` placeholder='#' title=`@{${attrName(name)}}` type='number' value='0')

mixin checkboxInput(name)
	label.styled-checkbox.grid(data-i18n-title=`${name}` title=`${name}`)
		input(name=`attr_${attrName(name)}` title=`@{${attrName(name)}}` type='checkbox' value=name)
		span.pictos 3

mixin attributeButton(name)
	button.text-uppercase(data-i18n=`${name.slice(0, 3)}` name=`roll_${buttonName(name)}` type='roll' value!=`${templateHeader(name)} ${rollFormula(attrName(name))}`)

mixin rollButton(name)
	button.text-capitalize(data-i18n=name name=`roll_${buttonName(name)}` type='roll' value!=`${templateHeader(name)} ${rollFormula(attrName(name))}`)

mixin squireButton(name)
	button.text-capitalize(data-i18n=name name=`roll_${buttonName(name)}` type='roll' value!=`&{template:rolls} {{header=Squire's ^{${name}}}} ${rollFormula(attrName(name))}`)

mixin damageButton(name, i18n)
	- i18n = i18n ? i18n : name
	button.text-capitalize(data-i18n=i18n name=`roll_${buttonName(name)}` type='roll' value!=`${templateHeader(name)} ${damageForumla(attrName(name))}`)

mixin repeatingRollButton(name)
	button.d20(name=`roll_${buttonName(name)}` type='roll' value!=`&{template:rolls} {{header=@{name}}} ${rollFormula(attrName(name))}`) t

mixin repeatingEntourageSkillRollButton(i18n, name, value)
	button.text-capitalize(data-i18n=i18n name=`roll_${buttonName(name)}` type='roll' value!=`&{template:rolls} {{header=@{${attrName(name)}}}} ${rollFormula(attrName(value))}`)

mixin repeatingEntourageRollButton(i18n, header, value)
	- header = !header ? i18n : header
	- value = !value ? i18n : value
	button.text-capitalize(data-i18n=i18n name=`roll_${buttonName(i18n)}` type='roll' value!=`${templateHeader(header)} ${rollFormula(attrName(value))}`)

mixin repeatingEntourageDamageButton(i18n, name)
	button.text-capitalize(data-i18n=i18n name=`roll_${buttonName(name)}` type='roll' value!=`${templateHeader(i18n)} ${damageForumla(attrName(name))}`)

mixin tabButtons(value, className, selected)
	- const selectedKeyWord = selected ? 'selected' : ''
	label(class=`${className}` data-i18n-title=`sheet: ${value}`)
		input(name=`attr_sheet_type` title=`@{sheet_type}` type='radio' value=value ${selectedKeyWord})
		span.text-capitalize.text-center(data-i18n=`${value}`)