include ../../data/acts

mixin act_title_block(act)
  div.act-title-block
    +label_with_subtitle(`act_${act}`, 'before_you_were_born', `act_${act}_subtitle`)

mixin journaling-block(act)
  div.journaling-block
    +label_with_subtitle('journaling', `act_${act}_journal`)

mixin generate_act_input_blocks(act)
  div(class=`act-${act}-block`)
    +act_title_block(act)
  if act != 'final'
    div.act-prompt
      div.prompt-text(data-i18n=`act_${act}_prompt`)=locals[`act_${act}_prompt`]
    div.act-block
    each inp in act_inputs[act]
      if inp.is_together
        div.stat-block.together-block
          label
            span(data-i18n=inp.prompt)=locals[inp.prompt]
          if inp.subtitles
            each sub in inp.subtitles
              div.subtitle(data-i18n=sub)=locals[sub]
          textarea(
            class='stat-input'
            name=`attr_${inp.prompt}`
            data-i18n-placeholder=inp.placeholder
            rows=2
            spellcheck='false')
      else
        div.stat-block.rival-block
          div.rival.label-left
            label
              span(data-i18n=inp.prompt)=locals[inp.prompt]
          div.rival.label-right
            label
              span(data-i18n=inp.prompt)=locals[inp.prompt]
          div.rival-subtitle
            if inp.subtitles
              each sub in inp.subtitles
                div.subtitle(data-i18n=sub)=locals[sub]
          div.rival.rival-left
            textarea(
              class='stat-input'
              name=`attr_left_${inp.prompt}`
              data-i18n-placeholder=inp.placeholder
              rows=2
              spellcheck='false')
          div.rival.rival-right
            textarea(
              class='stat-input'
              name=`attr_right_${inp.prompt}`
              data-i18n-placeholder=inp.placeholder
              rows=2
              spellcheck='false')
    div.disagreement.subtitle(data-i18n='when_you_disagree')=locals['when_you_disagree']
    +journaling-block(act)
  else
    each inp in act_inputs[act]
      div.final-instructions(data-i18n=`${inp.prompt}`)=locals[`${inp.prompt}`]
    div.warning
      span(data-i18n='warning')=locals['warning']
      div(data-i18n='shuffle_your_deck')=locals['shuffle_your_deck']
