div.sheet-debilitiess
  h3.sheet-divide &emsp;DEBILITIES&emsp;
  br
  div.sheet-debility
        <table width="47%">
            <tr>
                <td colspan="4">
                    <h4 class="sheet-heading-left">
                        CONDITIONS</h4>
                </td>
            </tr>
            <tr>
                <td width="10%"><input type="checkbox" class="sheet-checkbox"
                        name="attr_debilWounded"><span></span>
                </td>
                <td width="40%">
                    <h5>Wounded</h5>
                </td>
                <td width="10%"><input type="checkbox" class="sheet-checkbox"
                        name="attr_debilShaken"><span></span>
                </td>
                <td width="40%">
                    <h5>Shaken</h5>
                </td>
            </tr>
            <tr>
                <td width="10%"><input type="checkbox" class="sheet-checkbox"
                        name="attr_debilUnprepared"><span></span>
                </td>
                <td width="40%">
                    <h5>Unprepared</h5>
                </td>
                <td width="10%"><input type="checkbox" class="sheet-checkbox"
                        name="attr_debilEncumbered"><span></span>
                </td>
                <td width="40%">
                    <h5>Encumbered</h5>
                </td>
            </tr>
        </table>
        <table width="6%"></table>
        <table width="47%">
            <tr>
                <td colspan="4">
                    <h4 class="sheet-heading-left">
                        BURDENS</h4>
                </td>
            </tr>
            <tr>
                <td width="10%"><input type="checkbox" class="sheet-checkbox"
                        name="attr_debilMarked"><span></span>
                </td>
                <td width="40%">
                    <h5>Cursed</h5>
                </td>
                <td width="10%"><input type="checkbox" class="sheet-checkbox"
                        name="attr_debilHaunted"><span></span>
                </td>
                <td width="40%">
                    <h5>Tormented</h5>
                </td>
            </tr>
            <tr>
                <td colspan="4">
                    <h4 class="sheet-heading-left">BANES
                    </h4>
                </td>
            </tr>
            <tr>
                <td width="10%"><input type="checkbox" class="sheet-checkbox"
                        name="attr_debilMaimed"><span></span>
                </td>
                <td width="40%">
                    <h5>Maimed</h5>
                </td>
                <td width="10%"><input type="checkbox" class="sheet-checkbox"
                        name="attr_debilCorrupted"><span></span>
                </td>
                <td width="40%">
                    <h5>Corrupted</h5>
                </td>
            </tr>
        </table>
        <table width="47%">
            <tr>
                <td colspan="4">
                    <h4 class="sheet-heading-left">Assets</h4>
                </td>
            </tr>
            <tr>
                <td width="10%"><input type="checkbox" class="sheet-checkbox"
                        name="attr_debilOathbreaker"><span></span>
                </td>
                <td width="40%">
                    <h5>Oathbreaker</h5>
                </td>
                <td width="10%"><input type="checkbox" class="sheet-checkbox"
                        name="attr_debilLeech"><span></span>
                </td>
                <td width="40%">
                    <h5>Leech</h5>
                </td>
            </tr>
        </table>
        <table width="6%"></table>
        <table width="47%">
            <tr>
                <td colspan="4">
                    <h4 class="sheet-heading-left">Custom Assets
                    </h4>
                </td>
            </tr>
            <tr>
                <td width="10%"><input type="checkbox" class="sheet-checkbox"
                        name="attr_debilCustom1"><span></span>
                </td>
                <td width="40%">
                    <h5>Custom 1</h5>
                </td>
                <td width="10%"><input type="checkbox" class="sheet-checkbox"
                        name="attr_debilCustom2"><span></span>
                </td>
                <td width="40%">
                    <h5>Custom 2</h5>
                </td>
            </tr>
        </table>
    </div>
</div>