mixin character-field(field)
    -
        const attr = (field.name === "Name") ? "character_name" : field.name.toLowerCase().replace(/ /g,"_");
    
    .wfrp-header__item-wrapper(class=`wfrp-header__item-wrapper--${attr}`)
        .wfrp-header__title(data-i18n=field.name)
        
        if (field.field === "select")
            input.sheet-control__custom(name=`attr_${attr}`, type="hidden")
            select.wfrp-header__select.sheet-control__custom(name=`attr_${attr}`)
                each option in field.options
                    option(data-i18n=option, value=option)
                option(data-i18n="Custom", value="Custom")
            .wfrp-header__customwrapper.sheet-control__custom
                input.wfrp-header__input(name=`attr_${attr}_custom`, type="text")
                button.wfrp-header__hidecustom(name=`act_remove_custom_${attr}`, type="action") ╳


        else if (field.field === "hidden")
            input(name=`attr_${attr}`, type="hidden", value=field.placeholder)
            span.wfrp-header__display.display(name=`attr_${attr}`)
        
        else
            input.wfrp-header__input(name=`attr_${attr}`, type=field.field)
