mixin display-toggle(attr, checked=false)
    label.wfrp-displaytoggle
        input.wfrp-displaytoggle__hide(checked=checked, name=`attr_${attr}`, type="checkbox", value="1")
        span.wfrp-displaytoggle__span y

mixin trait-toggle(attr, display, checked=false)
    label.wfrp-traittoggle
        input.wfrp-traittoggle__hide(checked=checked, name=`attr_${attr}_toggle`, type="checkbox", value="1")
        span.wfrp-traittoggle__span(name=display)