mixin species
    input(name=`attr_species_settings`, type="hidden", value=1)

    .wfrp-speciestable__row

        .wfrp-speciestable__cell--settingstoggle
            +display-toggle(`species_settings`, true)

        .wfrp-speciestable__cell--title
            span(name=`attr_species`)

        .wfrp-speciestable__row.wfrp-settings.control__hide--species_settings

            .wfrp-settings__row--span
                
                .wfrp-settings__label(data-i18n=`Name`)
                
                .wfrp-settings__wrapper
                    input.sheet-control__custom(name=`attr_species`, type="hidden")
                    
                    select.wfrp-settings__select.sheet-control__custom(name=`attr_species`)
                        each option in character[1].options
                            option(data-i18n=option)
                        option(data-i18n="Custom", value="Custom")
                    
                    .wfrp-header__customwrapper.sheet-control__custom
                        input.wfrp-header__input(name=`attr_species_custom`, type="text")

                        button.wfrp-header__hidecustom(name=`act_remove_custom_species`, type="action") ╳

            .wfrp-settings__col
                input(name="attr_species_disable3", type="hidden", value="0")
                input(name="attr_species_disable5", type="hidden", value="0")
                    
                .wfrp-settings__row--speciesskill
                    .wfrp-settings__header(data-i18n="Skill Name")
                    .wfrp-settings__header +3
                    .wfrp-settings__header +5
                    .wfrp-settings__header x
                    
                each skill in [1,2,3,4,5,6,7,8,9,10,11,12]

                        .wfrp-settings__row--speciesskill
                            input.wfrp-settings__input(data-i18n-placeholder=`Skill ${skill}`, name=`attr_species_skill_${skill}_name`, type="text")
                            input(name=`attr_species_skill_${skill}_advances`, type="radio", value=3)
                            input(name=`attr_species_skill_${skill}_advances`, type="radio", value=5)
                            button.wfrp-header__hidecustom(name=`act_remove_skill_${skill}`, type="action") ╳

            .wfrp-settings__col

                .wfrp-settings__row--talent
                    .wfrp-settings__header(data-i18n="Talent Name")
                    .wfrp-settings__header(data-i18n="Taken")

                each talent in [1,2,3,4,5,6,7,8,9,10]

                    .wfrp-settings__row--talent
                    
                        input.wfrp-settings__input(data-i18n-placeholder=`Talent ${talent}`, name=`attr_species_talent_${talent}_name`, type="text")
                        input.wfrp-settings__input(name=`attr_species_talent_${talent}_advances`, type="checkbox", value="1")