<div class="box">
    <h2 data-i18n="heading_powers">Ausbaukräfte</h2>
    <input class="feathertoggle" type="checkbox" name="attr_display-powers" value="1" checked="true"/>
    <img class="feather" src="https://ulisses-digital.de/R20/hexxen/images/Feather.png" />
    <div>
        <input type="hidden" class="editmode_toggle" name="attr_editmode" value="1" checked=true/>
        <fieldset class="repeating_powers">
            <div class="fieldsetcontainer">
                <input class="details-flag" type="checkbox" checked="true" name="attr_details-flag"/><span>i</span>
                <div class="display">
                    <span class="fieldset_editmode_toggle"></span>
                    <input class='textline'  type="text" name="attr_name" placeholder="Name"/>
                    <span name="attr_name"></span>
                    <input class="hideempty_toggle" type="hidden" name="attr_target"/>
                    <span class="hideempty">(
                        <span name="attr_target" data-i18n-dynamic=""></span>
                        <span name="attr_bonus"></span>
                        <span>)</span>
                    </span>
                </div>
                <div class="wrapper">
                    <span class="fieldset_editmode_toggle"></span>
                    <div>
                        <input class='textline'  type="text" name="attr_baseeffect" data-i18n-placeholder="label_power_baseeffect" placeholder="Stammeffekt"/>
                        textarea(name="attr_baseeffect_description" data-i18n-placeholder="label_description" placeholder="Description")
                        hr
                        each val in [1,2,3]
                            input(class="normal" type="checkbox" name="attr_apprenticeeffect"+val+"_active" value="1" checked=false)
                            span
                            input(class='textline'  type="text" name="attr_apprenticeeffect"+val data-i18n-placeholder="label_power_apprenticeeffect" placeholder="Geselleneffekt")
                            br
                            textarea(name="attr_apprenticeeffect"+val+"_description" data-i18n-placeholder="label_description" placeholder="Description")
                            br
                        
                        each val in [1,2,3]
                            input(class="normal" type="checkbox" name="attr_experteffect"+val+"_active" value="1" checked=false)
                            span
                            input(class='textline'  type="text" name="attr_experteffect"+val data-i18n-placeholder="label_power_experteffect" placeholder="Experteneffekt")
                            br
                            textarea(name="attr_experteffect"+val+"_description" data-i18n-placeholder="label_description" placeholder="Description")
                            br
                        
                        each val in [1,2,3]
                            input(class="normal" type="checkbox" name="attr_mastereffect"+val+"_active" value="1" checked=false)
                            span
                            input(class='textline'  type="text" name="attr_mastereffect"+val data-i18n-placeholder="label_power_mastereffect" placeholder="Meistereffekt")
                            br
                            textarea(name="attr_mastereffect"+val+"_description" data-i18n-placeholder="label_description" placeholder="Description")
                            br
                        
                    </div>
                    <div class="powercontainer">
                        div(class="basepowerbox")
                            input(type="radio" name="attr_details" value=10)
                            <span name="attr_baseeffect"></span>

                        input(class="effectselector" type="hidden" name="attr_details")
                        div(class="effect10")
                            span(class="text" name="attr_baseeffect_description")
                            input(class="hidedetails" type="radio" name="attr_details" value=0)
                            span {

                        hr(class="powerdivider")
                        each val in [1,2,3]
                            input(type="hidden" name="attr_apprenticeeffect"+val+"_active" value="1")
                            div(class="powerbox")
                                input(type="radio" name="attr_details" value=val)
                                span(name="attr_apprenticeeffect"+val)
                                br                        
                        each val in [1,2,3]
                            input(class="effectselector" type="hidden" name="attr_details")
                            div(class="effect"+val)
                                span(class="text" name="attr_apprenticeeffect"+val+"_description")
                                input(class="hidedetails" type="radio" name="attr_details" value=0)
                                span {

                        hr(class="powerdivider")
                        each val in [1,2,3]
                            input(type="hidden" name="attr_experteffect"+val+"_active" value="1")
                            div(class="powerbox")
                                input(type="radio" name="attr_details" value=(val+3))
                                span(name="attr_experteffect"+val)
                                br
                        each val in [1,2,3]
                            input(class="effectselector" type="hidden" name="attr_details")
                            div(class="effect"+(val+3))
                                span(class="text" name="attr_experteffect"+val+"_description")
                                input(class="hidedetails" type="radio" name="attr_details" value=0)
                                span {


                        hr(class="powerdivider")
                        each val in [1,2,3]
                            input(type="hidden" name="attr_mastereffect"+val+"_active" value="1")
                            div(class="powerbox")
                                input(type="radio" name="attr_details" value=(val+6))
                                span(name="attr_mastereffect"+val)
                                br
                        each val in [1,2,3]
                            input(class="effectselector" type="hidden" name="attr_details")
                            div(class="effect"+(val+6))
                                span(class="text" name="attr_mastereffect"+val+"_description")
                                input(class="hidedetails" type="radio" name="attr_details" value=0)
                                span {
                    </div>
                </div>
            </div>
        </fieldset>
    </div>
</div>