.augs.pc-col
  .pc-row
    .header.right-header
      h1(data-i18n='augmentations') Augmentations
      .right-tri
    .border-box
      .pc-box.medium-box
        .row-long.headers
          each val in augementations
            h2(data-i18n=`${val.toLowerCase()}`) #{val}
        .rows.repeating-container
          fieldset(class=`repeating_augementations`)
            span(name=`attr_augmentation`)
            span.center(name=`attr_rating`)
            span.center(name=`attr_essence`)
            +repeatingSectionFlags()
            .settings
              each val in augementations
                - const attrName = val === 'Augmentations' ? 'augmentation' : val.toLowerCase();
                - const type = val === 'Augmentations' ? 'text' : 'number';
                - const placeholder = val === 'Augmentations' ? 'name' : '0';
                label(data-i18n-title=val title=val)
                  input(name=`attr_${attrName}` placeholder=placeholder title=`@{repeating_augementations_`+'${x}'+`_${attrName}}` type=type value='')
              +repeatingSectionNotes('augementations')
