.core.pc-col
  include ../../html/core.html
  .quality-box
    .header.right-header
      .header.htab
        input.tab-switch(input name='attr_quality_toggle' type='radio'  value='quality' checked)
        h1(data-i18n='qualities') Qualities
        .right-tri
      .header.htab
        .triangle
        input.tab-switch(input name='attr_quality_toggle' type='radio'  value='martial')
        h1(data-i18n='martialarts') Martial Arts
        .right-tri
    .border-box
      .pc-box.medium-box
        input.tab-switch(input name='attr_quality_toggle' type='hidden'  value='quality')
        .quality
          .row-long.headers
            each val in ['Quality', 'Type']
              h2(data-i18n=`${val.toLowerCase()}`) #{val}
          .rows.repeating-container
            fieldset(class='repeating_quality')
              span.eclipse(name="attr_quality")
              span.center(name="attr_type")
              button.pictos(name="quality_chat" type="roll" value="@{gm_toggle} &{template:rolls}{{header=@{quality}}}{{desc=@{notes}}}") w
              +repeatingSectionFlags()
              .settings
                input(name="attr_quality" placeholder="quality name" title="@{repeating_quality_${x}_quality}" type="text")
                select(name="attr_type" title="@{repeating_quality_${x}_type}" value='p')
                  option(data-i18n="p" value="P" selected) P
                  option(data-i18n="n" value="N") N
                +repeatingSectionNotes('quality')
        .martial
          .row-long.headers
            each val in ['Technique', 'Style']
              h2(data-i18n=`${val.toLowerCase()}`) #{val}
          .rows.repeating-container
            fieldset(class='repeating_martial')
              span.eclipse(name="attr_technique")
              span.center(name="attr_style")
              button.pictos(name="technique_chat" type="roll" value="@{gm_toggle} &{template:rolls}{{header=@{technique}}}{{desc=@{notes}}}") w
              +repeatingSectionFlags()
              .settings
                input(name="attr_technique" placeholder="technique name" title="@{repeating_martial_${x}_technique}" type="text")
                input(name="attr_style" placeholder="style name" title="@{repeating_martial_${x}_style}" type="text")
                +repeatingSectionNotes('martial')
