.gear.pc-col
  .pc-row
    .header.right-header
      h1(data-i18n='gear') gear
      .right-tri
    .border-box
      .pc-box.medium-box
        .row-long.headers
          each val in ['Item', 'Rating', 'Quantity']
            h2(data-i18n=`${val.toLowerCase()}`) #{val}
        .rows.repeating-container
          fieldset(class=`repeating_items`)
            span(name=`attr_item`)
            span.center(name=`attr_rating`)
            span.center(name=`attr_quantity`)
            +repeatingSectionFlags()
            .settings
              label(data-i18n-title='item' title='item')
                input(name=`attr_item` placeholder='Jammer' title=`@{repeating_items_`+'${x}'+`_item}` type='text' value='')
              label(data-i18n-title='rating' title='rating')
                input(name=`attr_rating` placeholder='3' title=`@{repeating_items_`+'${x}'+`_rating}` type='text' value='')
              label(data-i18n-title='quantity' title='quantity')
                input(name=`attr_quantity` placeholder='x3' title=`@{repeating_items_`+'${x}'+`_quantity}` type='text' value='')
              +repeatingSectionNotes('items')
