.magic.pc-col
  .pc-row.spell-box
    .header.right-header
      h1(data-i18n='magic') Magic
      .right-tri
    .header.right-header
      .header.htab
        .triangle
        input.magic-toggle(name='attr_magic_toggle' title='@{magic_toggle}' type='radio' value='spells' checked)
        h1(data-i18n='spells') Spells
        .right-tri
      .header.htab
        .triangle
        input.magic-toggle(name='attr_magic_toggle' title='@{magic_toggle}' type='radio' value='preps')
        h1(data-i18n='prep') Prep...
        .right-tri
      .header.htab
        .triangle
        input.magic-toggle(name='attr_magic_toggle' title='@{magic_toggle}' type='radio' value='rituals')
        h1(data-i18n='rituals') Rituals
        .right-tri
    .border-box
      .pc-box.medium-box
        +fadeDrainSection('drain')
        input.magic-toggle(name='attr_magic_toggle' type='hidden' value='spells')
        .row-long.headers
          each val in ['spells', 'type', 'range', 'duration', 'drain']
            h2(data-i18n=val) #{val}

        .magic-spells.spellsForumlas
          +pcSpells('spell')

        .magic-preps.spellsForumlas
          +pcSpells('preps')

          .rows.repeating-container.prepared-preparations
            h2(data-i18n='preperations')
            .row-long.headers
              each val in ['name', 'force', 'potency', 'trigger']
                h3(data-i18n=val)
            fieldset(class='repeating_preperations')
              +displayRollButton(prepButton, false)
              each val in ['force', 'potency', 'trigger']
                span.center(name=`attr_${val}`)
              +repeatingSectionFlags()
              .settings
                label(data-i18n-title='name' title='name')
                  input(name='attr_name' placeholder='Name' title='@{repeating_preperations_${x}_name}' type='text' value='')
                label(data-i18n-title='force' title='force')
                  input(name='attr_force' placeholder='1' title='@{repeating_preperations_${x}_force}' type='number' value='')
                label(data-i18n-title='potency' title='potency')
                  input(name='attr_potency' placeholder='1' title='@{repeating_preperations_${x}_potency}' type='number' value='')
                select(name='attr_trigger' title='@{repeating_preperations_${x}_trigger}' value='Command')
                  optgroup(label='Trigger') Trigger
                    option(data-i18n='command' value='Command') command
                    option(data-i18n='contact' value='Contact' selected) contact
                    option(data-i18n='time' value='Time') time
                    option(data-i18n='special' value='Special') special
                +repeatingSectionNotes('preperations')

        .magic-rituals
          .rows.repeating-container
            fieldset(class=`repeating_ritual`)
              - const repeatingRitualSection = `@{repeating_${type}`+'_${x}';
              input(name='attr_dicepool' type='hidden' value='0')
              +displayRollButton(pcRitualButton, true)
              each val in ['type', 'range', 'duration', 'drain']
                span.center(name='attr_'+val)
              +repeatingSectionFlags()
              .settings
                label(data-i18n-title='name' title='name')
                  input(name='attr_name' placeholder='Curse (MATERIAL LINK, SPELL)' title=`@{${repeatingRitualSection}_name}` type='text')
                .rows
                  h3(data-i18n='skill') skill
                  select(name='attr_skill' title=`@{${repeatingRitualSection}_skill}`)
                    option(data-i18n='sorcerygroup' value='@{sorcery}') Sorcery Group
                    option(data-i18n='ritualspellcasting' value='@{ritualspellcasting}' selected) Ritual Spellcasting
                  h3(data-i18n='specialization') specialization
                  label(data-i18n-title='specialization' title='specialization')
                    input(name='attr_specialization' title=`@{${repeatingRitualSection}_specialization}` type='checkbox' value='2')
                  h3(data-i18n='modifier') modifier
                  label(data-i18n-title='modifier' title='modifier')
                    input(name='attr_dicepool_modifier' title=`@{${repeatingRitualSection}_dicepool_modifier}` type='number')
                +repeatingSectionNotes('ritual')

  .pc-row.powers
    .header.right-header
      h1(data-i18n='adeptpowers') Adept Powers or Other Abilities
      .right-tri
    .border-box
      .pc-box.medium-box
        +fadeDrainSection('drain', true)
        .row-long.headers
          h2(data-i18n='name') Name
          h2.center(data-i18n='rating') Rating
        .rows.repeating-container.powers
          fieldset(class=`repeating_powers`)
            span(name='attr_name')
            span.center(name='attr_rating')
            +repeatingSectionFlags()
            .settings
              label(data-i18n-title='name' title='name')
                input(name='attr_name' placeholder='name' title='@{repeating_powers_${x}_name}' type='text' value='')
              label(data-i18n-title='rating' title='rating')
                input(name='attr_rating' placeholder='rating' title='@{repeating_powers_${x}_rating}' type='number' value='')
              +repeatingSectionNotes('powers')
