.matrix.pc-col
  .pc-row.matrix-box
    .header.right-header
      h1(data-i18n='Commlinks') Commlinks
      .right-tri
    .border-box
      .pc-box.medium-box
        .commlinks.rows.repeating-container
          fieldset(class=`repeating_commlinks`)
            - const commlinksrepeatingSection = `@{repeating_commlink_` + "${x}";
            each val in ['name', 'os', 'response', 'system', 'signal', 'firewall']
              h2.text-capitalize(data-i18n=val)
              label(data-i18n-title=val)
                input(name=`attr_${val}` placeholder=`Commlink ${val}` title=`@{${commlinksrepeatingSection}_${val}}` type='text' value='')
            .con-hex
              input(type="radio" name="attr_matrix" value="0")
              h2(data-i18n="conditionmonitor")
              -let matrixHexes = 0;
              while matrixHexes < 13
                input(type="radio" name="attr_matrix" value=matrixHexes++)
                span.hexagon
        .rows.repeating-container.programs
          h2(data-i18n='programs') Programs
          fieldset(class=`repeating_programs`)
            - const programRepeatingSection = `@{repeating_programs_` + '${x}';
            input.toggle(name='attr_program_on' type='checkbox' checked)
            span.pictos Q
            button.pictos(name="roll_program" type="roll" value!=`${rollBeginging}{{header=@{program}}}{{base=^{base}}}{{dice=[[((@{skill}+@{rating}+@{modifier}+@{specialization})+@{wounds_toggle}+@{modifiers_toggle}+@{edge_toggle})d6>5@{explode_toggle}]]}}`)
              span.eclipse(name='attr_program')
            +repeatingSectionFlags()
            .settings
              .col
                label(data-i18n-title='programs' title='programs')
                  input(name='attr_program' placeholder='Program name' title='@{repeating_programs_${x}_program}' type='text' value='')
              .col
                h3(data-i18n='rating') rating
                label(data-i18n-title='programs' title='programs')
                  input(name='attr_rating' placeholder='0' title='@{repeating_programs_${x}_rating}' type='number' value='0')
              .col
                h3(data-i18n='skill') skill
                select(name=`attr_skill` title=`${programRepeatingSection}_skill}` value='@{cracking}')
                  optgroup(label='Cracking Skills' ) Cracking Skills
                    option(data-i18n='crackinggroup' value='@{cracking}' selected) Cracking Group
                    option(data-i18n='cybercombat' value='@{cybercombat}') Cybercombat
                    option(data-i18n='hacking' value='@{hacking}') Hacking
                    option(data-i18n='electronicwarfare' value='@{electronicwarfare}') Electronic Warfare
                  optgroup(label='Electronic Skills' ) Electronic Skills
                    option(data-i18n='electronicsgroup' value='@{electronics}') Electronics Group
                    option(data-i18n='computer' value='@{computer}') Computer
                    option(data-i18n='datasearch' value='@{datasearch}') Data Search
                    option(data-i18n='hardware' value='@{hardware}') Hardware
                    option(data-i18n='software' value='@{software}') Software
              .col
                h3(data-i18n='specialization') specialization
                label(data-i18n-title='specialization' title='specialization')
                  input(name='attr_specialization' value='2' title=`${programRepeatingSection}_specialization}` type='checkbox')
              .col
                h3(data-i18n='modifier') modifier
                label(data-i18n-title='modifier' title='modifier')
                  input(name='attr_modifier' title=`${programRepeatingSection}_modifier}` type='number' value='0')
              +repeatingSectionNotes('programs')
  .pc-row
    .header.right-header
      h1(data-i18n='complex form') Complex Forms
      .right-tri
    .border-box
      .pc-box.medium-box
        +fadeDrainSection('fade')
        .rows.repeating-container.complex-forms
          - const formsrepeatingSection = `@{repeating_forms_` + "${x}";
          .row-long.headers
            each val in complexFormAttributes
              h2.text-capitalize(data-i18n=val)
          fieldset(class=`repeating_forms`)
            input(name='attr_dicepool' type='hidden' value='0')
            +displayRollButton(pcComplexFormButton, true)
            - const complexFormSpans = complexFormAttributes.shift();
            each val in complexFormSpans
              span.center.eclipse(name=`attr_${val}`)
            +repeatingSectionFlags()
            .settings
              label(data-i18n-title='name' title='name')
                input(name='attr_name' placeholder='name' title=`${formsrepeatingSection}_name}` type='text' value='')
              select(name=`attr_target` title=`${formsrepeatingSection}_target}` value='Device')
                each val in formTargets
                  option.text-capitalize(data-i18n=val value=val) #{val}
              select(name=`attr_duration` title=`${formsrepeatingSection}_duration}` value='Instant')
                each val in formDurations
                  option.text-capitalize(data-i18n=val value=val)
              label(data-i18n-title='fade' title='fade')
                input(name='attr_fade'  placeholder='-1' title=`${formsrepeatingSection}_fade}` type='number' value='')
              .row
                h3(data-i18n='skill') skill
                select(name=`attr_skill` title=`${formsrepeatingSection}_skill}` value='@{software}')
                  option(data-i18n='Electronics Group' value='@{electronics}') Electronics Group
                  option(data-i18n='software' value='@{software}' selected) Software
                h3(data-i18n='specialization')
                label(data-i18n-title='specialization' title='specialization')
                  input(name='attr_specialization' value='2' title=`${formsrepeatingSection}_specialization}` type='checkbox')
                h3(data-i18n='modifier') modifier
                label(data-i18n-title='modifier' title='modifier')
                  input(name='attr_dicepool_modifier' title=`${formsrepeatingSection}_dicepool_modifier}` type='number')
              +repeatingSectionNotes('forms')
