.social.pc-col
  .pc-row
    .header.right-header
      h1(data-i18n="idslifestylecurrency")
      .right-tri
    .border-box.lifestyle
      .pc-box.small-box
        .row-long
          h3(data-i18n="primarylifestyle")
          input(name="attr_primary_lifestyle" placeholder="Middle /w GRID subscription" style="width: 77%" title="@{primary_lifestyle}" type="text")
        .row-long
          h3(data-i18n="nuyen")
          input(type="text" name="attr_primary_nuyen" placeholder="$1,000 UCAS" style="width: 90%" title="@{primary_nuyen}")
        .row-long
          h3(data-i18n="licenses")
          input(type="text" name="attr_primary_licenses" placeholder="Technomancer, Pistols..." style="width: 87%" title="@{primary_licenses}")
        .row-long.headers
          h2(data-i18n="fakeidsrelated")
        .rows.repeating-container
          fieldset(class='repeating_lifestyle')
            span.eclipse(name="attr_name")
            button.pictos(name="lifestyle_chat" type="roll" value="@{gm_toggle} &{template:rolls}{{header=@{name}}}{{desc=^{relatedlifestyle} @{lifestyle} , ^{nuyen} @{funds}, ^{licenses} @{licenses}}}") w
            input.collapse-flag(name='attr_display_flag' type='checkbox')
            span.pictos i
            input.settings-flag(name='attr_flag' title='Settings toggle' type='checkbox' checked)
            span.pictos x
            .collapse
              .rows
                h3(data-i18n="relatedlifestyle")
                span(name='attr_lifestyle')
              .rows
                h3(data-i18n="nuyen")
                span(name='attr_funds')
              .rows
                h3(data-i18n="licenses")
                span(name='attr_licenses')
            .settings
              h3(data-i18n="fakeid")
              input.text-left(name="attr_name" placeholder="John Doe" title="@{repeating_lifestyle_${x}_name}" type='text')
              h3(data-i18n="relatedlifestyle")
              textarea(name="attr_lifestyle" placeholder="Middle" title="@{repeating_lifestyle_${x}_lifestyle}")
              h3(data-i18n="funds")
              textarea(name="attr_funds" placeholder="$1,000 UCAS" title="@{repeating_lifestyle_${x}_funds}")
              h3(data-i18n="licenses")
              textarea(name="attr_licenses" placeholder="Technomancer, Pistols" title="@{repeating_lifestyle_${x}_licenses}")
  .pc-row
    .header.right-header
      h1(data-i18n="contacts")
      .right-tri
    .border-box.contacts
      .pc-box.small-box
        .row-long.headers
          each val in ['name', 'loyalty', 'connection', 'favor']
            h2(data-i18n=`${val.toLowerCase()}`) #{val}
        .rows.repeating-container
          fieldset(class='repeating_contacts')
            span.eclipse(name="attr_name")
            span.center(name="attr_loyalty")
            span.center(name="attr_connection")
            span.center(name="attr_favors")
            button.pictos(name="ontact_chat" type="roll" value="@{gm_toggle} &{template:rolls}{{header=@{name}}}{{desc=^{loyalty} @{loyalty} , ^{connection} @{connection}, ^{favor} @{favors}}}") w
            +repeatingSectionFlags()
            .settings
              input(type="text" name="attr_name" placeholder="Old Crow" title="@{repeating_contacts_${x}_name}")
              input(type="number" name="attr_loyalty" min="1" placeholder="3" title="@{repeating_contacts_${x}_name}")
              input(type="number" name="attr_connection" min="1" placeholder="8" title="@{repeating_contacts_${x}_name}")
              input(type="number" name="attr_favors" placeholder="+2" title="@{repeating_contacts_${x}_name}")
              +repeatingSectionNotes('contacts')
