.static.pc-col
  include ../../html/static.html
  //- SKILLS
  .pc-row
    .header
      - const skillTypes = {'Active': 'active', 'Knowledge': 'know', 'Language': 'lang'}
      each val, key in skillTypes
        - const attrName = key.toLowerCase();
        .header.htab
          .triangle
          input.tab-switch(name='attr_skill_toggle' title=key + ' skills' type='radio' value=attrName)
          h1(data-i18n=val) #{val}..
          .right-tri
      .triangle
      h1(data-i18n='skills') Skills
    .border-box.skill-box
      .pc-box.medium-box
        .rows.repeating-container
          .row-long.headers
            each val in ['Skill', 'RTG', 'Attribute']
              - const translationKey = val.toLowerCase();
              h2(data-i18n=translationKey) #{val}
        input.tab-switch(name='attr_skill_toggle' type='hidden' value='active')
        each val, key in {'active': ['active', 'Agility', 'Physical'],'knowledge':['know', 'Logic', 'Mental'], 'language': ['lang', 'Charisma', 'Social']}
          div(class=`skills-${val[0]}`)
            .rows.repeating-container
              if key === 'active'
                .row-long
                  input(name='attr_default_display' type='hidden' value='Agility')
                  +rollButton('default', '@{default_display}', '@{default_attribute}+-1')
                  span.text-align-center -
                  select.attribute-select(name='attr_default_attribute' title='Skill attribute')
                    +attributeSelect('Agility')
              fieldset(class=`repeating_${key}`)
                - const skillsRepeatingSection = `@{repeating_${key}`+'_${x}';

                input(name='attr_display_rating' type='hidden')
                input(name='attr_specialization' type='hidden' value='')
                input(name='attr_display_attribute' type='hidden' value=val[1])
                input(name='attr_dicepool' type='hidden' value='0')

                if key === 'active'
                  input(name='attr_display_skill' type='hidden' value='')

                input.settings-flag(name='attr_flag' type='hidden' value='settings' title=`${skillsRepeatingSection}_flag}`)
                .buttons
                  //- SKILL BUTTON
                  +skillButton(false, key)
                  //- SPECILIZATION BUTTON
                  +skillButton(true)
                span.text-align-center(name='attr_display_rating' title=`${skillsRepeatingSection}_display_rating}`)
                select.attribute-select(name='attr_attribute' title=`${skillsRepeatingSection}_attribute}`)
                  +attributeSelect(val[1])
                +repeatingSectionFlags()
                .settings
                  if key === 'active'
                    select.skill-select(name='attr_skill' value='Close Combat Group' title=`${skillsRepeatingSection}_skill}`)
                      include ../../html/skillselect.html
                  else
                    label(data-i18n-title='skill' title='skill')
                      input(name='attr_skill' placeholder=key type='text' title=`${skillsRepeatingSection}_skill}`)
                  label(data-i18n-title='rating' title='rating')
                    input(name='attr_rating' min='0' placeholder='0' type='number' title=`${skillsRepeatingSection}_rating}`)
                  label(data-i18n-title='ratingmodifier' title='Rating Modifier')
                    span(data-i18n='ratingmodifier') Rating Modifier
                    input(name='attr_rating_modifier' placeholder='0' type='number' title=`${skillsRepeatingSection}_rating_modifier}`)
                  label(data-i18n-title='specialization' title='specialization') 
                    span(data-i18n='specialization') specialization
                    input(name='attr_specialization' placeholder='specializations' type='text' title=`${skillsRepeatingSection}_specialization}`)
                  label(data-i18n-title='notes' title='notes')
                    span(data-i18n='notes') Notes
                    textarea(name='attr_notes' value='' placeholder='Notes' title=`${skillsRepeatingSection}_notes}`)
