.tabs
  img(alt='Shadowrun' src=`${imageSource}/ShadowrunLogo.png`)
  h1(data-i18n='character') Character
  label(data-i18n-title='character name' title='character name')
    input(type='text' name='attr_character_name' placeholder='Character name' title='@{character_name}')
  h1(data-i18n='player') Player
  label(data-i18n-title='player name' title='player name')
    input(type='text' name='attr_player_name' placeholder='Player name' title='@{player_name}')
  h2(data-i18n-title='/w GM') /w GM
  label.switch(data-i18n-title='whisper rolls to gm' title='whisper rolls to gm')
    input.whisper-toggle(name='attr_gm_toggle' type='checkbox' value='/w gm')
    span.slider
  each val, key in {'wounds': '@{wounds}', 'modifiers':'?{Modifiers +/-|0}', 'edge':'@{edge}'}
    h2(data-i18n-title=key) #{key}
    label.switch(data-i18n-title=key title=key)
      input.whisper-toggle(name='attr_'+key+'_toggle' type='checkbox' value=val)
      span.slider
  button(name='d6' title='Roll D6s' type='roll' value!='@{gm_toggle} &{template:rolls}{{header=^{d6}}}{{base=^{d6}}}{{dice=[[(?{d6s|0}d6>5@{explode_toggle})]]}}') L
  input(name='attr_tab' type='hidden' value='options')
  button.pictos(name='act_tab_options' title='@{tab}' type='action' ) y
  each val in tabs
    button(data-i18n=val name=`act_tab_${val}` type='action' title='@{tab}') #{val}