- var stats = [{ lower: 'edge', upper: 'EDGE', capital: 'Edge', placeholder: 'grace' }, { lower: 'heart', upper: 'HEART', capital: 'Heart', placeholder: 'soul' }, { lower: 'iron', upper: 'IRON', capital: 'Iron', placeholder: 'body', }, { lower: 'shadow', upper: 'SHADOW', capital: 'Shadow', placeholder: 'guile' }, { lower: 'wits', upper: 'WITS', capital: 'Wits', placeholder: 'mind' }]

div.sheet-stats
  each stat in stats
    div.sheet-stat
      button(
        type='roll'
        title=`Roll +${stat.capital}`
        name=`roll${stat.capital}`
        value=`&{template:Ironcrunch} {{header=@{character_name}}} {{name=Roll +${stat.lower}}} {{action=[[1d6+@{${stat.lower}}+(?{Modifier|0})]]}} {{challenge1=[[d10]]}} {{challenge2=[[d10]]}} {{momentum=[[@{momentum}]]}}  {{modifiers=[[@{#{}}+(?{Modifier|0})]]}} {{add=[[(?{Modifier|0})]]}} {{stat=[[@{${stat.lower}}]]}} {{fake_roll=[[0-(@{momentum})]]}} {{momentum_cancel=[[(@{${stat.lower}}+(?{Modifier|0}))-(@{momentum})]]}}`
      )
      h3.sheet-stats-title=stat.upper
      input(
        type='text'
        class='sheet-stats-input'
        name=`attr_${stat.lower}`
        placeholder=stat.placeholder
        value=''
      )