//- mixin
mixin skillblock(skill, skills)
  each skill in skills
    .section.flex-row
      input(type="number", name=`attr_${skill}`, placeholder="0").txtfield.warn-missing
      button(name=`roll_${skill}`, type="roll", value=`&{template:rolls} {{title=^{${skill}} }} {{subtitle=@{character_name} }} {{^{roll-i18n}=[[ [[2d6]]+@{${skill}} ]]}} {{baseroll=$[[0]]}}`).blank
        span(data-i18n=`${skill}`)= skill

mixin weaponblock(num)
  each n in N(5)
    button(name=`roll_weapon${n}`, type="roll", value=`&{template:rolls} {{title=^{weapon}: @{wpn${n}name} }} {{subtitle=@{character_name} }} {{^{range}= @{wpn${n}range} }}  {{^{roll-i18n}=[[ [[2d6]]+@{combat} ]]}} {{baseroll=$[[0]]}} {{^{damage}= [[@{wpn${n}dmg}6]] }}`).d6
    input(name=`attr_wpn${n}name`, type="text").weapon-name
    input(name=`attr_wpn${n}range`, type="text").range
    input(name=`attr_wpn${n}dmg`, placeholder="2d", type="text").dmg
    input(name=`attr_wpn${n}notes`, type="text").weapon-notes

mixin xpblock
  each name in ["experienced", "expert", "master", "grandmaster", "legend"]
    span(data-i18n=`${name}`)= cap(name)
    div
      each n in N(5)
        input(type="checkbox", name=`attr_${name}${n}`, value="1")

mixin mutations
  each mutation in mutationtypes
    option(value=`${i18nkey(mutation)}`)= mutation

mixin contamcheckbox
  div
    input(type="radio" name="contamination" value="0" checked)
    span= 0
  each n in N(6)
    div
      input(type="radio" name="contamination" value=`${n}`)
      span= n