include ../../../data/stats

mixin statBuilder()
  each stat in stats
    div.stat
      h3.stats-title=stat.upper
      input(
        type='text'
        class='stats-input'
        name=`attr_${stat.lower}`
        value='1'
      )

mixin statStatic()
  each stat in stats
    div.stat
      label.roll-label
        h3.stats-title=stat.upper
        span(class='stats-input' name=`attr_${stat.lower}`)
        button(
        type='roll'
        class='hide'
        title=`Roll +${stat.capital}`
        name=`roll${stat.capital}`
        value=`&{template:ironsworn_moves} {{header=@{character_name}}} {{name=Roll +${stat.lower}}} {{action=[[d6+@{${stat.lower}}+(?{Modifier|0})]]}} {{negate1=[[1+@{${stat.lower}}+(?{Modifier|0})]]}} {{negate2=[[2+@{${stat.lower}}+(?{Modifier|0})]]}} {{negate3=[[3+@{${stat.lower}}+(?{Modifier|0})]]}} {{negate4=[[4+@{${stat.lower}}+(?{Modifier|0})]]}} {{negate5=[[5+@{${stat.lower}}+(?{Modifier|0})]]}} {{negate6=[[6+@{${stat.lower}}+(?{Modifier|0})]]}} {{challenge1=[[d10]]}} {{challenge2=[[d10]]}} {{momentum=[[@{momentum}]]}} {{modifiers=[[@{${stat.lower}}+(?{Modifier|0})]]}} {{add=[[(?{Modifier|0})]]}} {{stat=[[@{${stat.lower}}]]}}`
      )
      