mixin details(option)
  div(class=`sheet-${option.type}-details`)
    each row in option.rows
      .sheet-details-row
        each detail in row.details
          if detail.columns
            div(class=`sheet-${option.type}-detail sheet-detail-columns`)
              each column in detail.columns
                .sheet-detail-column
                  p=column.text
                  input(type='text' name=`attr_${column.id}` placeholder=column.text)
          else if detail.header
            div(class=`sheet-${option.type}-detail sheet-details-header`)
              .sheet-details-header
                h3.sheet-details-header=detail.header
          else
            div(class=`sheet-${option.type}-detail`)
              p=detail.text
                input(type='text' name=`attr_${detail.id}` placeholder=detail.text)