include ./outcomes
include ./body
include ../../components/moves/mixins/container

mixin standardAction(type)
  | {{#rollGreater() #{type} challenge1}}
  | {{#rollTotal() challenge1 challenge2}}
  +opportunity
  | {{/rollTotal() challenge1 challenge2}}
  | {{#^rollTotal() challenge1 challenge2}}
  | {{#rollGreater() #{type} challenge2}}
  +strongHit
  | {{/rollGreater() #{type} challenge2}}
  | {{#^rollGreater() #{type} challenge2}}
  +weakHit
  | {{/^rollGreater() #{type} challenge2}}
  | {{/^rollTotal() challenge1 challenge2}}
  | {{/rollGreater() #{type} challenge1}}
  | {{#^rollGreater() #{type} challenge1}}
  | {{#rollTotal() challenge1 challenge2}}
  +complication
  | {{/rollTotal() challenge1 challenge2}}
  | {{#^rollTotal() challenge1 challenge2}}
  | {{#rollGreater() #{type} challenge2}}
  +weakHit
  | {{/rollGreater() #{type} challenge2}}
  | {{#^rollGreater() #{type} challenge2}}
  +miss
  | {{/^rollGreater() #{type} challenge2}}
  | {{/^rollTotal() challenge1 challenge2}}
  | {{/^rollGreater() #{type} challenge1}}

mixin standardActionWithMomentum(type)
  | {{#rollGreater() #{type} challenge1}}
  | {{#rollTotal() challenge1 challenge2}}
  +opportunity
  | {{/rollTotal() challenge1 challenge2}}
  | {{#^rollTotal() challenge1 challenge2}}
  | {{#rollGreater() #{type} challenge2}}
  +strongHit
  | {{/rollGreater() #{type} challenge2}}
  | {{#^rollGreater() #{type} challenge2}}
  +weakHit
  | {{#rollGreater() momentum challenge2}}
  +momentumStrongHit
  | {{/rollGreater() momentum challenge2}}
  | {{/^rollGreater() #{type} challenge2}}
  | {{/^rollTotal() challenge1 challenge2}}
  | {{/rollGreater() #{type} challenge1}}
  | {{#^rollGreater() #{type} challenge1}}
  | {{#rollTotal() challenge1 challenge2}}
  +complication
  | {{#rollGreater() momentum challenge1}}
  +momentumStrongHit
  | {{/rollGreater() momentum challenge1}}
  | {{/rollTotal() challenge1 challenge2}}
  | {{#^rollTotal() challenge1 challenge2}}
  | {{#rollGreater() #{type} challenge2}}
  +weakHit
  | {{#rollGreater() momentum challenge1}}
  +momentumStrongHit
  | {{/rollGreater() momentum challenge1}}
  | {{/rollGreater() #{type} challenge2}}
  | {{#^rollGreater() #{type} challenge2}}
  +miss
  | {{#rollGreater() momentum challenge1}}
  | {{#rollGreater() momentum challenge2}}
  +momentumStrongHit
  | {{/rollGreater() momentum challenge2}}
  | {{#^rollGreater() momentum challenge2}}
  +momentumWeakHit
  | {{/^rollGreater() momentum challenge2}}
  | {{/rollGreater() momentum challenge1}}
  | {{#^rollGreater() momentum challenge1}}
  | {{#rollGreater() momentum challenge2}}
  +momentumWeakHit
  | {{/rollGreater() momentum challenge2}}
  | {{/^rollGreater() momentum challenge1}}
  | {{/^rollGreater() #{type} challenge2}}
  | {{/^rollTotal() challenge1 challenge2}}
  | {{/^rollGreater() #{type} challenge1}}
