mixin challengeDice
  .sheet-result-body.sheet-result-row
    div.i18n-text(data-i18n='challenge-dice')=translation['challenge-dice']
    div.sheet-challenge-dice {{challenge1}} {{challenge2}}

mixin actionBody(type)
  .sheet-result-body.sheet-result-row
    div.i18n-text(data-i18n='action-score')=translation['action-score']
    div.sheet-action-score {{#{type}}}
  +challengeDice

mixin progressBody
  .sheet-result-body.sheet-result-row
    div {{progress_type}} Progress:
    div {{progress}}
  +challengeDice
  // TODO: figure out the most sensible way to handle translation strings here

mixin momentumBody
  .sheet-result-body.sheet-result-row
    div.i18n-text.sheet-momentum-title(data-i18n='momentum')=translation['momentum']
    div {{momentum}}

mixin limitAlert
  div.sheet-result-body.sheet-result-row
    div.i18n-text.sheet-subfooter.sheet-alert(data-i18n='action-score-limit-alert')=translation['action-score-limit-alert']