include ./actions
include ./body

mixin actionDieNegated(opts)
  div.sheet-result-body.sheet-result-row
    div.i18n-text(data-i18n='previous-action-score')=translation['previous-action-score']
    div {{#{opts.type}}}
  div.sheet-result-body.sheet-result-row
    div.sheet-subfooter.sheet-alert(data-i18n='momentum-cancel')=translation['momentum-cancel']
  div.sheet-result-body.sheet-result-row
    div.i18n-text(data-i18n='stat-plus-add')=translation['stat-plus-add']
    div {{stat}} + {{add}}
  div.sheet-result-body.sheet-result-row
    div.i18n-text(data-i18n='new-action-score')=translation['new-action-score']
    div {{modifiers}}
  div.sheet-result-body.sheet-result-row
    div.i18n-text(data-i18n='challenge-dice')=translation['challenge-dice']
    div {{challenge1}} {{challenge2}}
  +standardAction('modifiers')

mixin negationRoll(opts, type)
  | {{#rollTotal() momentum #{opts.momentum}}}
  | {{#rollTotal() #{type} negate#{opts.die}}}
  +actionDieNegated({momentum: true, type: type})
  | {{/rollTotal() #{type} negate#{opts.die}}}
  | {{#^rollTotal() #{type} negate#{opts.die}}}
  +actionBody(type)
  +standardAction(type)
  | {{/^rollTotal() #{type} negate#{opts.die}}}
  | {{/rollTotal() momentum #{opts.momentum}}}
