include ./body

mixin opportunity
  .sheet-result-row.sheet-roll-outcome
    .sheet-opportunity
    .sheet-subfooter.i18n-text(data-i18n='roll-strong-hit-match')=translation['roll-strong-hit-match']

mixin strongHit
  .sheet-result-row.sheet-roll-outcome
    .sheet-strong-hit
    .sheet-subfooter.i18n-text(data-i18n='roll-strong-hit')=translation['roll-strong-hit']

mixin momentumStrongHit
  +momentumBody
  .sheet-result-row.sheet-roll-outcome
    .sheet-strong-hit
    .sheet-subfooter.i18n-text(data-i18n='momentum-burn-strong-hit')=translation['momentum-burn-strong-hit']
// TODO: additional mixin for burning momentum for a strong hit with a match?
mixin weakHit
  .sheet-result-row.sheet-roll-outcome
    .sheet-weak-hit
    .sheet-subfooter.i18n-text(data-i18n='roll-weak-hit')=translation['roll-weak-hit']

mixin momentumWeakHit
  +momentumBody
  .sheet-result-row.sheet-roll-outcome
    .sheet-weak-hit
    .sheet-subfooter.i18n-text(data-i18n='momentum-burn-weak-hit')=translation['momentum-burn-weak-hit']

mixin miss
  .sheet-result-row.sheet-roll-outcome
    .sheet-miss
    .sheet-subfooter.i18n-text(data-i18n='roll-miss')=translation['roll-miss']

mixin complication
  .sheet-result-row.sheet-roll-outcome
    .sheet-complication
    .sheet-subfooter.i18n-text(data-i18n='roll-miss-match')=translation['roll-miss-match']
