<div class="page8tab">
    <hr class="sheet-nav-bottom">
    <div class="sheet-oracle-container">
        <div class="sheet-theme-column">
            <div class="sheet-oracle-box">
                <div class="sheet-oracle-title">Domain</div>
                <div class="sheet-oracle">
                    <label class="sheet-oracle-show" for="barrowDomain">Barrow</label>
                </div>
                <div class="sheet-oracle">
                    <label class="sheet-oracle-show" for="cavernDomain">Cavern</label>
                </div>
                <div class="sheet-oracle">
                    <label class="sheet-oracle-show" for="frozenCavernDomain">Frozen Cavern</label>
                </div>
                <div class="sheet-oracle">
                    <label class="sheet-oracle-show" for="icereachDomain">Ice Reach</label>
                </div>
                <div class="sheet-oracle">
                    <label class="sheet-oracle-show" for="mineDomain">Mine</label>
                </div>
                <div class="sheet-oracle">
                    <label class="sheet-oracle-show" for="passDomain">Pass</label>
                </div>
                <div class="sheet-oracle">
                    <label class="sheet-oracle-show" for="ruinDomain">Ruin</label>
                </div>
                <div class="sheet-oracle">
                    <label class="sheet-oracle-show" for="seaCaveDomain">Sea Cave</label>
                </div>
                <div class="sheet-oracle">
                    <label class="sheet-oracle-show" for="shadowfenDomain">Shadowfen</label>
                </div>
                <div class="sheet-oracle">
                    <label class="sheet-oracle-show" for="strongholdDomain">Stronghold</label>
                </div>
                <div class="sheet-oracle">
                    <label class="sheet-oracle-show" for="tanglewoodDomain">Tanglewood</label>
                </div>
                <div class="sheet-oracle">
                    <label class="sheet-oracle-show" for="underkeepDomain">Underkeep</label>
                </div>
            </div>
        </div>
        <div class="sheet-theme-column">

            <input type="radio" class="sheet-barrow sheet-hidden" id="barrowDomain" name="attr_themeDomainPreview"
                value="9" />
            <div class="sheet-barrow sheet-hide sheet-theme-outline">
                <div class="sheet-oracle-title sheet-oracle-table-preview">Domain</div>
                <div class="sheet-theme-container">
                    <h3 class="sheet-theme-header sheet-theme-title">BARROW</h3>
                    <p class="sheet-theme-body">The dead are enshrined here.</p>
                    <h3 class="sheet-theme-header">Features</h3>
                    <div class="sheet-theme-table">
                        <div class="oracle-row">
                            <span class="sheet-oracle-roll">21-43</span>
                            <span class="sheet-oracle-result">Burial chambers</span>
                        </div>
                        <div class="oracle-row">
                            <span class="sheet-oracle-roll">44-56</span>
                            <span class="sheet-oracle-result">Maze of narrow passages</span>
                        </div>
                        <div class="oracle-row">
                            <span class="sheet-oracle-roll">57-64</span>
                            <span class="sheet-oracle-result">Shrine</span>
                        </div>
                        <div class="oracle-row">
                            <span class="sheet-oracle-roll">65-68</span>
                            <span class="sheet-oracle-result">Stately vault</span>
                        </div>
                        <div class="oracle-row">
                            <span class="sheet-oracle-roll">69-72</span>
                            <span class="sheet-oracle-result">Offerings to the dead</span>
                        </div>
                        <div class="oracle-row">
                            <span class="sheet-oracle-roll">73-76</span>
                            <span class="sheet-oracle-result">Statuary or tapestries</span>
                        </div>
                        <div class="oracle-row">
                            <span class="sheet-oracle-roll">77-80</span>
                            <span class="sheet-oracle-result">Remains of a grave robber</span>
                        </div>
                        <div class="oracle-row">
                            <span class="sheet-oracle-roll">81-84</span>
                            <span class="sheet-oracle-result">Mass grave</span>
                        </div>
                        <div class="oracle-row">
                            <span class="sheet-oracle-roll">85-88</span>
                            <span class="sheet-oracle-result">Exhumed corpses</span>
                        </div>
                        <div class="oracle-row">
                            <span class="sheet-oracle-roll">89-98</span>
                            <span class="sheet-oracle-result">Something unusual or unexpected</span>
                        </div>
                        <div class="oracle-row">
                            <span class="sheet-oracle-roll">99</span>
                            <span class="sheet-oracle-result">You transition into a new theme</span>
                        </div>
                        <div class="oracle-row">
                            <span class="sheet-oracle-roll">00</span>
                            <span class="sheet-oracle-result">You transition into a new domain</span>
                        </div>
                    </div>
                    <h3 class="sheet-theme-header">Dangers</h3>
                    <div class="sheet-theme-table">
                        <div class="oracle-row">
                            <span class="sheet-oracle-roll">31-33</span>
                            <span class="sheet-oracle-result">Denizen guards this area</span>
                        </div>
                        <div class="oracle-row">
                            <span class="sheet-oracle-roll">34-36</span>
                            <span class="sheet-oracle-result">Trap</span>
                        </div>
                        <div class="oracle-row">
                            <span class="sheet-oracle-roll">37-39</span>
                            <span class="sheet-oracle-result">Death makes its presence known</span>
                        </div>
                        <div class="oracle-row">
                            <span class="sheet-oracle-roll">40-42</span>
                            <span class="sheet-oracle-result">Crumbling architecture</span>
                        </div>
                        <div class="oracle-row">
                            <span class="sheet-oracle-roll">43-45</span>
                            <span class="sheet-oracle-result">Grave goods with hidden dangers</span>
                        </div>
                    </div>
                </div>
            </div>

            <input type="radio" class="sheet-cavern sheet-hidden" id="cavernDomain" name="attr_themeDomainPreview"
                value="10" />
            <div class="sheet-cavern sheet-hide sheet-theme-outline">
                <div class="sheet-oracle-title sheet-oracle-table-preview">Domain</div>
                <div class="sheet-theme-container">
                    <h3 class="sheet-theme-header sheet-theme-title">CAVERN</h3>
                    <p class="sheet-theme-body">A place of stone and darkness.</p>
                    <h3 class="sheet-theme-header">Features</h3>
                    <div class="sheet-theme-table">
                        <div class="oracle-row">
                            <span class="sheet-oracle-roll">21-43</span>
                            <span class="sheet-oracle-result">Twisting passages</span>
                        </div>
                        <div class="oracle-row">
                            <span class="sheet-oracle-roll">44-56</span>
                            <span class="sheet-oracle-result">Cramped caves</span>
                        </div>
                        <div class="oracle-row">
                            <span class="sheet-oracle-roll">57-64</span>
                            <span class="sheet-oracle-result">Vast chamber</span>
                        </div>
                        <div class="oracle-row">
                            <span class="sheet-oracle-roll">65-68</span>
                            <span class="sheet-oracle-result">Subterranean waterway</span>
                        </div>
                        <div class="oracle-row">
                            <span class="sheet-oracle-roll">69-72</span>
                            <span class="sheet-oracle-result">Cave pool</span>
                        </div>
                        <div class="oracle-row">
                            <span class="sheet-oracle-roll">73-76</span>
                            <span class="sheet-oracle-result">Natural bridge</span>
                        </div>
                        <div class="oracle-row">
                            <span class="sheet-oracle-roll">77-80</span>
                            <span class="sheet-oracle-result">Towering stone formations</span>
                        </div>
                        <div class="oracle-row">
                            <span class="sheet-oracle-roll">81-84</span>
                            <span class="sheet-oracle-result">Natural illumination</span>
                        </div>
                        <div class="oracle-row">
                            <span class="sheet-oracle-roll">85-88</span>
                            <span class="sheet-oracle-result">Dark pit</span>
                        </div>
                        <div class="oracle-row">
                            <span class="sheet-oracle-roll">89-98</span>
                            <span class="sheet-oracle-result">Something unusual or unexpected</span>
                        </div>
                        <div class="oracle-row">
                            <span class="sheet-oracle-roll">99</span>
                            <span class="sheet-oracle-result">You transition into a new theme</span>
                        </div>
                        <div class="oracle-row">
                            <span class="sheet-oracle-roll">00</span>
                            <span class="sheet-oracle-result">You transition into a new domain</span>
                        </div>
                    </div>
                    <h3 class="sheet-theme-header">Dangers</h3>
                    <div class="sheet-theme-table">
                        <div class="oracle-row">
                            <span class="sheet-oracle-roll">31-33</span>
                            <span class="sheet-oracle-result">Denizen lairs here</span>
                        </div>
                        <div class="oracle-row">
                            <span class="sheet-oracle-roll">34-36</span>
                            <span class="sheet-oracle-result">Cave-in</span>
                        </div>
                        <div class="oracle-row">
                            <span class="sheet-oracle-roll">37-39</span>
                            <span class="sheet-oracle-result">Flooding</span>
                        </div>
                        <div class="oracle-row">
                            <span class="sheet-oracle-roll">40-42</span>
                            <span class="sheet-oracle-result">Perilous climb or descent</span>
                        </div>
                        <div class="oracle-row">
                            <span class="sheet-oracle-roll">43-45</span>
                            <span class="sheet-oracle-result">Fissure or sinkhole</span>
                        </div>
                    </div>
                </div>
            </div>

            <input type="radio" class="sheet-frozen-cavern sheet-hidden" id="frozenCavernDomain"
                name="attr_themeDomainPreview" value="11" />
            <div class="sheet-frozen-cavern sheet-hide sheet-theme-outline">
                <div class="sheet-oracle-title sheet-oracle-table-preview">Domain</div>
                <div class="sheet-theme-container">
                    <h3 class="sheet-theme-header sheet-theme-title">FROZEN CAVERN</h3>
                    <p class="sheet-theme-body">A place of deep caves and enduring cold.</p>
                    <h3 class="sheet-theme-header">Features</h3>
                    <div class="sheet-theme-table">
                        <div class="oracle-row">
                            <span class="sheet-oracle-roll">21-43</span>
                            <span class="sheet-oracle-result">Maze of icy tunnels</span>
                        </div>
                        <div class="oracle-row">
                            <span class="sheet-oracle-roll">44-56</span>
                            <span class="sheet-oracle-result">Glistening cave</span>
                        </div>
                        <div class="oracle-row">
                            <span class="sheet-oracle-roll">57-64</span>
                            <span class="sheet-oracle-result">Vast chamber</span>
                        </div>
                        <div class="oracle-row">
                            <span class="sheet-oracle-roll">65-68</span>
                            <span class="sheet-oracle-result">Frigid waterway</span>
                        </div>
                        <div class="oracle-row">
                            <span class="sheet-oracle-roll">69-72</span>
                            <span class="sheet-oracle-result">Icy pools</span>
                        </div>
                        <div class="oracle-row">
                            <span class="sheet-oracle-roll">73-76</span>
                            <span class="sheet-oracle-result">Magnificent ice formations</span>
                        </div>
                        <div class="oracle-row">
                            <span class="sheet-oracle-roll">77-80</span>
                            <span class="sheet-oracle-result">Frozen waterfall</span>
                        </div>
                        <div class="oracle-row">
                            <span class="sheet-oracle-roll">81-84</span>
                            <span class="sheet-oracle-result">Deep crevasses</span>
                        </div>
                        <div class="oracle-row">
                            <span class="sheet-oracle-roll">85-88</span>
                            <span class="sheet-oracle-result">Discovery locked in the ice</span>
                        </div>
                        <div class="oracle-row">
                            <span class="sheet-oracle-roll">89-98</span>
                            <span class="sheet-oracle-result">Something unusual or unexpected</span>
                        </div>
                        <div class="oracle-row">
                            <span class="sheet-oracle-roll">99</span>
                            <span class="sheet-oracle-result">You transition into a new theme</span>
                        </div>
                        <div class="oracle-row">
                            <span class="sheet-oracle-roll">00</span>
                            <span class="sheet-oracle-result">You transition into a new domain</span>
                        </div>
                    </div>
                    <h3 class="sheet-theme-header">Dangers</h3>
                    <div class="sheet-theme-table">
                        <div class="oracle-row">
                            <span class="sheet-oracle-roll">31-33</span>
                            <span class="sheet-oracle-result">Denizen lairs here</span>
                        </div>
                        <div class="oracle-row">
                            <span class="sheet-oracle-roll">34-36</span>
                            <span class="sheet-oracle-result">Fracturing ice</span>
                        </div>
                        <div class="oracle-row">
                            <span class="sheet-oracle-roll">37-39</span>
                            <span class="sheet-oracle-result">Crumbling chasm</span>
                        </div>
                        <div class="oracle-row">
                            <span class="sheet-oracle-roll">40-42</span>
                            <span class="sheet-oracle-result">Bitter chill</span>
                        </div>
                        <div class="oracle-row">
                            <span class="sheet-oracle-roll">43-45</span>
                            <span class="sheet-oracle-result">Disorienting reflections</span>
                        </div>
                    </div>
                </div>
            </div>

            <input type="radio" class="sheet-icereach sheet-hidden" id="icereachDomain" name="attr_themeDomainPreview"
                value="12" />
            <div class="sheet-icereach sheet-hide sheet-theme-outline">
                <div class="sheet-oracle-title sheet-oracle-table-preview">Domain</div>
                <div class="sheet-theme-container">
                    <h3 class="sheet-theme-header sheet-theme-title">ICEREACH</h3>
                    <p class="sheet-theme-body">A frigid landscape formed of frozen seas.</p>
                    <h3 class="sheet-theme-header">Features</h3>
                    <div class="sheet-theme-table">
                        <div class="oracle-row">
                            <span class="sheet-oracle-roll">21-43</span>
                            <span class="sheet-oracle-result">Plains of ice and snow</span>
                        </div>
                        <div class="oracle-row">
                            <span class="sheet-oracle-roll">44-56</span>
                            <span class="sheet-oracle-result">Seawater channel</span>
                        </div>
                        <div class="oracle-row">
                            <span class="sheet-oracle-roll">57-64</span>
                            <span class="sheet-oracle-result">Icy highlands</span>
                        </div>
                        <div class="oracle-row">
                            <span class="sheet-oracle-roll">65-68</span>
                            <span class="sheet-oracle-result">Crevasse</span>
                        </div>
                        <div class="oracle-row">
                            <span class="sheet-oracle-roll">69-72</span>
                            <span class="sheet-oracle-result">Ice floes</span>
                        </div>
                        <div class="oracle-row">
                            <span class="sheet-oracle-roll">73-76</span>
                            <span class="sheet-oracle-result">Ship trapped in ice</span>
                        </div>
                        <div class="oracle-row">
                            <span class="sheet-oracle-roll">77-80</span>
                            <span class="sheet-oracle-result">Animal herd or habitat</span>
                        </div>
                        <div class="oracle-row">
                            <span class="sheet-oracle-roll">81-84</span>
                            <span class="sheet-oracle-result">Frozen carcass</span>
                        </div>
                        <div class="oracle-row">
                            <span class="sheet-oracle-roll">85-88</span>
                            <span class="sheet-oracle-result">Camp or outpost</span>
                        </div>
                        <div class="oracle-row">
                            <span class="sheet-oracle-roll">89-98</span>
                            <span class="sheet-oracle-result">Something unusual or unexpected</span>
                        </div>
                        <div class="oracle-row">
                            <span class="sheet-oracle-roll">99</span>
                            <span class="sheet-oracle-result">You transition into a new theme</span>
                        </div>
                        <div class="oracle-row">
                            <span class="sheet-oracle-roll">00</span>
                            <span class="sheet-oracle-result">You transition into a new domain</span>
                        </div>
                    </div>
                    <h3 class="sheet-theme-header">Dangers</h3>
                    <div class="sheet-theme-table">
                        <div class="oracle-row">
                            <span class="sheet-oracle-roll">31-33</span>
                            <span class="sheet-oracle-result">Denizen hunts</span>
                        </div>
                        <div class="oracle-row">
                            <span class="sheet-oracle-roll">34-36</span>
                            <span class="sheet-oracle-result">Fragile ice above watery depths</span>
                        </div>
                        <div class="oracle-row">
                            <span class="sheet-oracle-roll">37-39</span>
                            <span class="sheet-oracle-result">Perilous climb or descent</span>
                        </div>
                        <div class="oracle-row">
                            <span class="sheet-oracle-roll">40-42</span>
                            <span class="sheet-oracle-result">Avalanche or icefall</span>
                        </div>
                        <div class="oracle-row">
                            <span class="sheet-oracle-roll">43-45</span>
                            <span class="sheet-oracle-result">Foul weather</span>
                        </div>
                    </div>
                </div>
            </div>

            <input type="radio" class="sheet-mine sheet-hidden" id="mineDomain" name="attr_themeDomainPreview"
                value="13" />
            <div class="sheet-mine sheet-hide sheet-theme-outline">
                <div class="sheet-oracle-title sheet-oracle-table-preview">Domain</div>
                <div class="sheet-theme-container">
                    <h3 class="sheet-theme-header sheet-theme-title">MINE</h3>
                    <p class="sheet-theme-body">Tunnels dug greedily and deep.</p>
                    <h3 class="sheet-theme-header">Features</h3>
                    <div class="sheet-theme-table">
                        <div class="oracle-row">
                            <span class="sheet-oracle-roll">21-43</span>
                            <span class="sheet-oracle-result">Cramped tunnels</span>
                        </div>
                        <div class="oracle-row">
                            <span class="sheet-oracle-roll">44-56</span>
                            <span class="sheet-oracle-result">Mine works</span>
                        </div>
                        <div class="oracle-row">
                            <span class="sheet-oracle-roll">57-64</span>
                            <span class="sheet-oracle-result">Excavated chamber</span>
                        </div>
                        <div class="oracle-row">
                            <span class="sheet-oracle-roll">65-68</span>
                            <span class="sheet-oracle-result">Mineshaft</span>
                        </div>
                        <div class="oracle-row">
                            <span class="sheet-oracle-roll">69-72</span>
                            <span class="sheet-oracle-result">Collapsed tunnel</span>
                        </div>
                        <div class="oracle-row">
                            <span class="sheet-oracle-roll">73-76</span>
                            <span class="sheet-oracle-result">Cluttered storage</span>
                        </div>
                        <div class="oracle-row">
                            <span class="sheet-oracle-roll">77-80</span>
                            <span class="sheet-oracle-result">Housing or common areas</span>
                        </div>
                        <div class="oracle-row">
                            <span class="sheet-oracle-roll">81-84</span>
                            <span class="sheet-oracle-result">Flooded chamber</span>
                        </div>
                        <div class="oracle-row">
                            <span class="sheet-oracle-roll">85-88</span>
                            <span class="sheet-oracle-result">Unearthed secret</span>
                        </div>
                        <div class="oracle-row">
                            <span class="sheet-oracle-roll">89-98</span>
                            <span class="sheet-oracle-result">Something unusual or unexpected</span>
                        </div>
                        <div class="oracle-row">
                            <span class="sheet-oracle-roll">99</span>
                            <span class="sheet-oracle-result">You transition into a new theme</span>
                        </div>
                        <div class="oracle-row">
                            <span class="sheet-oracle-roll">00</span>
                            <span class="sheet-oracle-result">You transition into a new domain</span>
                        </div>
                    </div>
                    <h3 class="sheet-theme-header">Dangers</h3>
                    <div class="sheet-theme-table">
                        <div class="oracle-row">
                            <span class="sheet-oracle-roll">31-33</span>
                            <span class="sheet-oracle-result">Cave-in</span>
                        </div>
                        <div class="oracle-row">
                            <span class="sheet-oracle-roll">34-36</span>
                            <span class="sheet-oracle-result">Flooding</span>
                        </div>
                        <div class="oracle-row">
                            <span class="sheet-oracle-roll">37-39</span>
                            <span class="sheet-oracle-result">Unstable platforms or architecture</span>
                        </div>
                        <div class="oracle-row">
                            <span class="sheet-oracle-roll">40-42</span>
                            <span class="sheet-oracle-result">Hazardous gas pocket</span>
                        </div>
                        <div class="oracle-row">
                            <span class="sheet-oracle-roll">43-45</span>
                            <span class="sheet-oracle-result">Weakened terrain</span>
                        </div>
                    </div>
                </div>
            </div>

            <input type="radio" class="sheet-pass sheet-hidden" id="passDomain" name="attr_themeDomainPreview"
                value="14" />
            <div class="sheet-pass sheet-hide sheet-theme-outline">
                <div class="sheet-oracle-title sheet-oracle-table-preview">Domain</div>
                <div class="sheet-theme-container">
                    <h3 class="sheet-theme-header sheet-theme-title">PASS</h3>
                    <p class="sheet-theme-body">Treacherous paths over high mountains.</p>
                    <h3 class="sheet-theme-header">Features</h3>
                    <div class="sheet-theme-table">
                        <div class="oracle-row">
                            <span class="sheet-oracle-roll">21-43</span>
                            <span class="sheet-oracle-result">Winding mountain path</span>
                        </div>
                        <div class="oracle-row">
                            <span class="sheet-oracle-roll">44-56</span>
                            <span class="sheet-oracle-result">Snowfield or glacial rocks</span>
                        </div>
                        <div class="oracle-row">
                            <span class="sheet-oracle-roll">57-64</span>
                            <span class="sheet-oracle-result">River gorge</span>
                        </div>
                        <div class="oracle-row">
                            <span class="sheet-oracle-roll">65-68</span>
                            <span class="sheet-oracle-result">Crashing waterfall</span>
                        </div>
                        <div class="oracle-row">
                            <span class="sheet-oracle-roll">69-72</span>
                            <span class="sheet-oracle-result">Highland lake</span>
                        </div>
                        <div class="oracle-row">
                            <span class="sheet-oracle-roll">73-76</span>
                            <span class="sheet-oracle-result">Forgotten cairn</span>
                        </div>
                        <div class="oracle-row">
                            <span class="sheet-oracle-roll">77-80</span>
                            <span class="sheet-oracle-result">Bridge</span>
                        </div>
                        <div class="oracle-row">
                            <span class="sheet-oracle-roll">81-84</span>
                            <span class="sheet-oracle-result">Overlook</span>
                        </div>
                        <div class="oracle-row">
                            <span class="sheet-oracle-roll">85-88</span>
                            <span class="sheet-oracle-result">Camp or outpost</span>
                        </div>
                        <div class="oracle-row">
                            <span class="sheet-oracle-roll">89-98</span>
                            <span class="sheet-oracle-result">Something unusual or unexpected</span>
                        </div>
                        <div class="oracle-row">
                            <span class="sheet-oracle-roll">99</span>
                            <span class="sheet-oracle-result">You transition into a new theme</span>
                        </div>
                        <div class="oracle-row">
                            <span class="sheet-oracle-roll">00</span>
                            <span class="sheet-oracle-result">You transition into a new domain</span>
                        </div>
                    </div>
                    <h3 class="sheet-theme-header">Dangers</h3>
                    <div class="sheet-theme-table">
                        <div class="oracle-row">
                            <span class="sheet-oracle-roll">31-33</span>
                            <span class="sheet-oracle-result">Denizen lairs here</span>
                        </div>
                        <div class="oracle-row">
                            <span class="sheet-oracle-roll">34-36</span>
                            <span class="sheet-oracle-result">Denizen hunts</span>
                        </div>
                        <div class="oracle-row">
                            <span class="sheet-oracle-roll">37-39</span>
                            <span class="sheet-oracle-result">Perilous climb or descent</span>
                        </div>
                        <div class="oracle-row">
                            <span class="sheet-oracle-roll">40-42</span>
                            <span class="sheet-oracle-result">Avalanche or rockslide</span>
                        </div>
                        <div class="oracle-row">
                            <span class="sheet-oracle-roll">43-45</span>
                            <span class="sheet-oracle-result">Foul weather</span>
                        </div>
                    </div>
                </div>
            </div>

            <input type="radio" class="sheet-ruin sheet-hidden" id="ruinDomain" name="attr_themeDomainPreview"
                value="15" />
            <div class="sheet-ruin sheet-hide sheet-theme-outline">
                <div class="sheet-oracle-title sheet-oracle-table-preview">Domain</div>
                <div class="sheet-theme-container">
                    <h3 class="sheet-theme-header sheet-theme-title">RUIN</h3>
                    <p class="sheet-theme-body">The crumbling legacy of a dead civilization.</p>
                    <h3 class="sheet-theme-header">Features</h3>
                    <div class="sheet-theme-table">
                        <div class="oracle-row">
                            <span class="sheet-oracle-roll">21-43</span>
                            <span class="sheet-oracle-result">Crumbling corridors and chambers</span>
                        </div>
                        <div class="oracle-row">
                            <span class="sheet-oracle-roll">44-56</span>
                            <span class="sheet-oracle-result">Collapsed architecture</span>
                        </div>
                        <div class="oracle-row">
                            <span class="sheet-oracle-roll">57-64</span>
                            <span class="sheet-oracle-result">Rubble-choked hall</span>
                        </div>
                        <div class="oracle-row">
                            <span class="sheet-oracle-roll">65-68</span>
                            <span class="sheet-oracle-result">Courtyard</span>
                        </div>
                        <div class="oracle-row">
                            <span class="sheet-oracle-roll">69-72</span>
                            <span class="sheet-oracle-result">Archive or library</span>
                        </div>
                        <div class="oracle-row">
                            <span class="sheet-oracle-roll">73-76</span>
                            <span class="sheet-oracle-result">Broken statuary or fading murals</span>
                        </div>
                        <div class="oracle-row">
                            <span class="sheet-oracle-roll">77-80</span>
                            <span class="sheet-oracle-result">Preserved vault</span>
                        </div>
                        <div class="oracle-row">
                            <span class="sheet-oracle-roll">81-84</span>
                            <span class="sheet-oracle-result">Temple to forgotten gods</span>
                        </div>
                        <div class="oracle-row">
                            <span class="sheet-oracle-roll">85-88</span>
                            <span class="sheet-oracle-result">Mausoleum</span>
                        </div>
                        <div class="oracle-row">
                            <span class="sheet-oracle-roll">89-98</span>
                            <span class="sheet-oracle-result">Something unusual or unexpected</span>
                        </div>
                        <div class="oracle-row">
                            <span class="sheet-oracle-roll">99</span>
                            <span class="sheet-oracle-result">You transition into a new theme</span>
                        </div>
                        <div class="oracle-row">
                            <span class="sheet-oracle-roll">00</span>
                            <span class="sheet-oracle-result">You transition into a new domain</span>
                        </div>
                    </div>
                    <h3 class="sheet-theme-header">Dangers</h3>
                    <div class="sheet-theme-table">
                        <div class="oracle-row">
                            <span class="sheet-oracle-roll">31-33</span>
                            <span class="sheet-oracle-result">Ancient mechanism or trap</span>
                        </div>
                        <div class="oracle-row">
                            <span class="sheet-oracle-roll">34-36</span>
                            <span class="sheet-oracle-result">Collapsing wall or ceiling</span>
                        </div>
                        <div class="oracle-row">
                            <span class="sheet-oracle-roll">37-39</span>
                            <span class="sheet-oracle-result">Blocked or broken passage</span>
                        </div>
                        <div class="oracle-row">
                            <span class="sheet-oracle-roll">40-42</span>
                            <span class="sheet-oracle-result">Unstable floor above a new danger</span>
                        </div>
                        <div class="oracle-row">
                            <span class="sheet-oracle-roll">43-45</span>
                            <span class="sheet-oracle-result">Ancient secrets best left buried</span>
                        </div>
                    </div>
                </div>
            </div>

            <input type="radio" class="sheet-sea-cave sheet-hidden" id="seaCaveDomain" name="attr_themeDomainPreview"
                value="16" />
            <div class="sheet-sea-cave sheet-hide sheet-theme-outline">
                <div class="sheet-oracle-title sheet-oracle-table-preview">Domain</div>
                <div class="sheet-theme-container">
                    <h3 class="sheet-theme-header sheet-theme-title">SEA CAVE</h3>
                    <p class="sheet-theme-body">Stone passages carved by ocean waves.</p>
                    <h3 class="sheet-theme-header">Features</h3>
                    <div class="sheet-theme-table">
                        <div class="oracle-row">
                            <span class="sheet-oracle-roll">21-43</span>
                            <span class="sheet-oracle-result">Watery tunnels</span>
                        </div>
                        <div class="oracle-row">
                            <span class="sheet-oracle-roll">44-56</span>
                            <span class="sheet-oracle-result">Eroded chamber</span>
                        </div>
                        <div class="oracle-row">
                            <span class="sheet-oracle-roll">57-64</span>
                            <span class="sheet-oracle-result">Flooded chamber</span>
                        </div>
                        <div class="oracle-row">
                            <span class="sheet-oracle-roll">65-68</span>
                            <span class="sheet-oracle-result">Vast chamber</span>
                        </div>
                        <div class="oracle-row">
                            <span class="sheet-oracle-roll">69-72</span>
                            <span class="sheet-oracle-result">Dry passages</span>
                        </div>
                        <div class="oracle-row">
                            <span class="sheet-oracle-roll">73-76</span>
                            <span class="sheet-oracle-result">Freshwater inlet</span>
                        </div>
                        <div class="oracle-row">
                            <span class="sheet-oracle-roll">77-80</span>
                            <span class="sheet-oracle-result">Rocky island</span>
                        </div>
                        <div class="oracle-row">
                            <span class="sheet-oracle-roll">81-84</span>
                            <span class="sheet-oracle-result">Waterborne debris</span>
                        </div>
                        <div class="oracle-row">
                            <span class="sheet-oracle-roll">85-88</span>
                            <span class="sheet-oracle-result">Shipwreck or boat</span>
                        </div>
                        <div class="oracle-row">
                            <span class="sheet-oracle-roll">89-98</span>
                            <span class="sheet-oracle-result">Something unusual or unexpected</span>
                        </div>
                        <div class="oracle-row">
                            <span class="sheet-oracle-roll">99</span>
                            <span class="sheet-oracle-result">You transition into a new theme</span>
                        </div>
                        <div class="oracle-row">
                            <span class="sheet-oracle-roll">00</span>
                            <span class="sheet-oracle-result">You transition into a new domain</span>
                        </div>
                    </div>
                    <h3 class="sheet-theme-header">Dangers</h3>
                    <div class="sheet-theme-table">
                        <div class="oracle-row">
                            <span class="sheet-oracle-roll">31-33</span>
                            <span class="sheet-oracle-result">Denizen strikes without warning</span>
                        </div>
                        <div class="oracle-row">
                            <span class="sheet-oracle-roll">34-36</span>
                            <span class="sheet-oracle-result">Denizen lurks below</span>
                        </div>
                        <div class="oracle-row">
                            <span class="sheet-oracle-roll">37-39</span>
                            <span class="sheet-oracle-result">Flooding</span>
                        </div>
                        <div class="oracle-row">
                            <span class="sheet-oracle-roll">40-42</span>
                            <span class="sheet-oracle-result">Rushing current</span>
                        </div>
                        <div class="oracle-row">
                            <span class="sheet-oracle-roll">43-45</span>
                            <span class="sheet-oracle-result">Claustrophobic squeeze</span>
                        </div>
                    </div>
                </div>
            </div>

            <input type="radio" class="sheet-shadowfen sheet-hidden" id="shadowfenDomain" name="attr_themeDomainPreview"
                value="17" />
            <div class="sheet-shadowfen sheet-hide sheet-theme-outline">
                <div class="sheet-oracle-title sheet-oracle-table-preview">Domain</div>
                <div class="sheet-theme-container">
                    <h3 class="sheet-theme-header sheet-theme-title">SHADOWFEN</h3>
                    <p class="sheet-theme-body">A primeval marsh, cloaked in mist.</p>
                    <h3 class="sheet-theme-header">Features</h3>
                    <div class="sheet-theme-table">
                        <div class="oracle-row">
                            <span class="sheet-oracle-roll">21-43</span>
                            <span class="sheet-oracle-result">Narrow path through a fetid bog</span>
                        </div>
                        <div class="oracle-row">
                            <span class="sheet-oracle-roll">44-56</span>
                            <span class="sheet-oracle-result">Stagnant waterway</span>
                        </div>
                        <div class="oracle-row">
                            <span class="sheet-oracle-roll">57-64</span>
                            <span class="sheet-oracle-result">Flooded thicket</span>
                        </div>
                        <div class="oracle-row">
                            <span class="sheet-oracle-roll">65-68</span>
                            <span class="sheet-oracle-result">Island of dry land</span>
                        </div>
                        <div class="oracle-row">
                            <span class="sheet-oracle-roll">69-72</span>
                            <span class="sheet-oracle-result">Submerged discovery</span>
                        </div>
                        <div class="oracle-row">
                            <span class="sheet-oracle-roll">73-76</span>
                            <span class="sheet-oracle-result">Preserved corpses</span>
                        </div>
                        <div class="oracle-row">
                            <span class="sheet-oracle-roll">77-80</span>
                            <span class="sheet-oracle-result">Overgrown structure</span>
                        </div>
                        <div class="oracle-row">
                            <span class="sheet-oracle-roll">81-84</span>
                            <span class="sheet-oracle-result">Tall reeds</span>
                        </div>
                        <div class="oracle-row">
                            <span class="sheet-oracle-roll">85-88</span>
                            <span class="sheet-oracle-result">Camp or outpost</span>
                        </div>
                        <div class="oracle-row">
                            <span class="sheet-oracle-roll">89-98</span>
                            <span class="sheet-oracle-result">Something unusual or unexpected</span>
                        </div>
                        <div class="oracle-row">
                            <span class="sheet-oracle-roll">99</span>
                            <span class="sheet-oracle-result">You transition into a new theme</span>
                        </div>
                        <div class="oracle-row">
                            <span class="sheet-oracle-roll">00</span>
                            <span class="sheet-oracle-result">You transition into a new domain</span>
                        </div>
                    </div>
                    <h3 class="sheet-theme-header">Dangers</h3>
                    <div class="sheet-theme-table">
                        <div class="oracle-row">
                            <span class="sheet-oracle-roll">31-33</span>
                            <span class="sheet-oracle-result">Denizen hunts</span>
                        </div>
                        <div class="oracle-row">
                            <span class="sheet-oracle-roll">34-36</span>
                            <span class="sheet-oracle-result">Deep water blocks the path</span>
                        </div>
                        <div class="oracle-row">
                            <span class="sheet-oracle-roll">37-39</span>
                            <span class="sheet-oracle-result">Toxic environment</span>
                        </div>
                        <div class="oracle-row">
                            <span class="sheet-oracle-roll">40-42</span>
                            <span class="sheet-oracle-result">Concealing or disorienting mist</span>
                        </div>
                        <div class="oracle-row">
                            <span class="sheet-oracle-roll">43-45</span>
                            <span class="sheet-oracle-result">Hidden quagmire</span>
                        </div>
                    </div>
                </div>
            </div>

            <input type="radio" class="sheet-stronghold sheet-hidden" id="strongholdDomain"
                name="attr_themeDomainPreview" value="18" />
            <div class="sheet-stronghold sheet-hide sheet-theme-outline">
                <div class="sheet-oracle-title sheet-oracle-table-preview">Domain</div>
                <div class="sheet-theme-container">
                    <h3 class="sheet-theme-header sheet-theme-title">STRONGHOLD</h3>
                    <p class="sheet-theme-body">A fortress secured against trespassers.</p>
                    <h3 class="sheet-theme-header">Features</h3>
                    <div class="sheet-theme-table">
                        <div class="oracle-row">
                            <span class="sheet-oracle-roll">21-43</span>
                            <span class="sheet-oracle-result">Connecting passageways</span>
                        </div>
                        <div class="oracle-row">
                            <span class="sheet-oracle-roll">44-56</span>
                            <span class="sheet-oracle-result">Barracks or common quarters</span>
                        </div>
                        <div class="oracle-row">
                            <span class="sheet-oracle-roll">57-64</span>
                            <span class="sheet-oracle-result">Large hall</span>
                        </div>
                        <div class="oracle-row">
                            <span class="sheet-oracle-roll">65-68</span>
                            <span class="sheet-oracle-result">Workshop or library</span>
                        </div>
                        <div class="oracle-row">
                            <span class="sheet-oracle-roll">69-72</span>
                            <span class="sheet-oracle-result">Command center or leadership</span>
                        </div>
                        <div class="oracle-row">
                            <span class="sheet-oracle-roll">73-76</span>
                            <span class="sheet-oracle-result">Ladder or stairwell</span>
                        </div>
                        <div class="oracle-row">
                            <span class="sheet-oracle-roll">77-80</span>
                            <span class="sheet-oracle-result">Storage</span>
                        </div>
                        <div class="oracle-row">
                            <span class="sheet-oracle-roll">81-84</span>
                            <span class="sheet-oracle-result">Kitchen or larder</span>
                        </div>
                        <div class="oracle-row">
                            <span class="sheet-oracle-roll">85-88</span>
                            <span class="sheet-oracle-result">Courtyard</span>
                        </div>
                        <div class="oracle-row">
                            <span class="sheet-oracle-roll">89-98</span>
                            <span class="sheet-oracle-result">Something unusual or unexpected</span>
                        </div>
                        <div class="oracle-row">
                            <span class="sheet-oracle-roll">99</span>
                            <span class="sheet-oracle-result">You transition into a new theme</span>
                        </div>
                        <div class="oracle-row">
                            <span class="sheet-oracle-roll">00</span>
                            <span class="sheet-oracle-result">You transition into a new domain</span>
                        </div>
                    </div>
                    <h3 class="sheet-theme-header">Dangers</h3>
                    <div class="sheet-theme-table">
                        <div class="oracle-row">
                            <span class="sheet-oracle-roll">31-33</span>
                            <span class="sheet-oracle-result">Blocked or guarded path</span>
                        </div>
                        <div class="oracle-row">
                            <span class="sheet-oracle-roll">34-36</span>
                            <span class="sheet-oracle-result">Caught in the open</span>
                        </div>
                        <div class="oracle-row">
                            <span class="sheet-oracle-roll">37-39</span>
                            <span class="sheet-oracle-result">Chokepoint</span>
                        </div>
                        <div class="oracle-row">
                            <span class="sheet-oracle-roll">40-42</span>
                            <span class="sheet-oracle-result">Trap</span>
                        </div>
                        <div class="oracle-row">
                            <span class="sheet-oracle-roll">43-45</span>
                            <span class="sheet-oracle-result">Alarm trigger</span>
                        </div>
                    </div>
                </div>
            </div>

            <input type="radio" class="sheet-tanglewood sheet-hidden" id="tanglewoodDomain"
                name="attr_themeDomainPreview" value="19" />
            <div class="sheet-tanglewood sheet-hide sheet-theme-outline">
                <div class="sheet-oracle-title sheet-oracle-table-preview">Domain</div>
                <div class="sheet-theme-container">
                    <h3 class="sheet-theme-header sheet-theme-title">TANGLEWOOD</h3>
                    <p class="sheet-theme-body">A perilous forest of eternal shadow.</p>
                    <h3 class="sheet-theme-header">Features</h3>
                    <div class="sheet-theme-table">
                        <div class="oracle-row">
                            <span class="sheet-oracle-roll">21-43</span>
                            <span class="sheet-oracle-result">Dense thicket</span>
                        </div>
                        <div class="oracle-row">
                            <span class="sheet-oracle-roll">44-56</span>
                            <span class="sheet-oracle-result">Overgrown path</span>
                        </div>
                        <div class="oracle-row">
                            <span class="sheet-oracle-roll">57-64</span>
                            <span class="sheet-oracle-result">Waterway</span>
                        </div>
                        <div class="oracle-row">
                            <span class="sheet-oracle-roll">65-68</span>
                            <span class="sheet-oracle-result">Clearing </span>
                        </div>
                        <div class="oracle-row">
                            <span class="sheet-oracle-roll">69-72</span>
                            <span class="sheet-oracle-result">Elder tree</span>
                        </div>
                        <div class="oracle-row">
                            <span class="sheet-oracle-roll">73-76</span>
                            <span class="sheet-oracle-result">Brambles</span>
                        </div>
                        <div class="oracle-row">
                            <span class="sheet-oracle-roll">77-80</span>
                            <span class="sheet-oracle-result">Overgrown structure</span>
                        </div>
                        <div class="oracle-row">
                            <span class="sheet-oracle-roll">81-84</span>
                            <span class="sheet-oracle-result">Rocky outcrop</span>
                        </div>
                        <div class="oracle-row">
                            <span class="sheet-oracle-roll">85-88</span>
                            <span class="sheet-oracle-result">Camp or outpost</span>
                        </div>
                        <div class="oracle-row">
                            <span class="sheet-oracle-roll">89-98</span>
                            <span class="sheet-oracle-result">Something unusual or unexpected</span>
                        </div>
                        <div class="oracle-row">
                            <span class="sheet-oracle-roll">99</span>
                            <span class="sheet-oracle-result">You transition into a new theme</span>
                        </div>
                        <div class="oracle-row">
                            <span class="sheet-oracle-roll">00</span>
                            <span class="sheet-oracle-result">You transition into a new domain</span>
                        </div>
                    </div>
                    <h3 class="sheet-theme-header">Dangers</h3>
                    <div class="sheet-theme-table">
                        <div class="oracle-row">
                            <span class="sheet-oracle-roll">31-33</span>
                            <span class="sheet-oracle-result">Denizen hunts</span>
                        </div>
                        <div class="oracle-row">
                            <span class="sheet-oracle-roll">34-36</span>
                            <span class="sheet-oracle-result">Denizen lairs here</span>
                        </div>
                        <div class="oracle-row">
                            <span class="sheet-oracle-roll">37-39</span>
                            <span class="sheet-oracle-result">Trap or snare</span>
                        </div>
                        <div class="oracle-row">
                            <span class="sheet-oracle-roll">40-42</span>
                            <span class="sheet-oracle-result">Path leads you astray</span>
                        </div>
                        <div class="oracle-row">
                            <span class="sheet-oracle-roll">43-45</span>
                            <span class="sheet-oracle-result">Entangling plant life</span>
                        </div>
                    </div>
                </div>
            </div>

            <input type="radio" class="sheet-underkeep sheet-hidden" id="underkeepDomain" name="attr_themeDomainPreview"
                value="20" />
            <div class="sheet-underkeep sheet-hide sheet-theme-outline">
                <div class="sheet-oracle-title sheet-oracle-table-preview">Domain</div>
                <div class="sheet-theme-container">
                    <h3 class="sheet-theme-header sheet-theme-title">UNDERKEEP</h3>
                    <p class="sheet-theme-body">An age-old subterranean dungeon.</p>
                    <h3 class="sheet-theme-header">Features</h3>
                    <div class="sheet-theme-table">
                        <div class="oracle-row">
                            <span class="sheet-oracle-roll">21-43</span>
                            <span class="sheet-oracle-result">Carved passages</span>
                        </div>
                        <div class="oracle-row">
                            <span class="sheet-oracle-roll">44-56</span>
                            <span class="sheet-oracle-result">Hall or chamber</span>
                        </div>
                        <div class="oracle-row">
                            <span class="sheet-oracle-roll">57-64</span>
                            <span class="sheet-oracle-result">Stairs into the depths</span>
                        </div>
                        <div class="oracle-row">
                            <span class="sheet-oracle-roll">65-68</span>
                            <span class="sheet-oracle-result">Grand doorway or entrance</span>
                        </div>
                        <div class="oracle-row">
                            <span class="sheet-oracle-roll">69-72</span>
                            <span class="sheet-oracle-result">Tomb or catacombs</span>
                        </div>
                        <div class="oracle-row">
                            <span class="sheet-oracle-roll">73-76</span>
                            <span class="sheet-oracle-result">Rough-hewn cave</span>
                        </div>
                        <div class="oracle-row">
                            <span class="sheet-oracle-roll">77-80</span>
                            <span class="sheet-oracle-result">Foundry or workshop</span>
                        </div>
                        <div class="oracle-row">
                            <span class="sheet-oracle-roll">81-84</span>
                            <span class="sheet-oracle-result">Shrine or temple</span>
                        </div>
                        <div class="oracle-row">
                            <span class="sheet-oracle-roll">85-88</span>
                            <span class="sheet-oracle-result">Imposing architecture or artistry</span>
                        </div>
                        <div class="oracle-row">
                            <span class="sheet-oracle-roll">89-98</span>
                            <span class="sheet-oracle-result">Something unusual or unexpected</span>
                        </div>
                        <div class="oracle-row">
                            <span class="sheet-oracle-roll">99</span>
                            <span class="sheet-oracle-result">You transition into a new theme</span>
                        </div>
                        <div class="oracle-row">
                            <span class="sheet-oracle-roll">00</span>
                            <span class="sheet-oracle-result">You transition into a new domain</span>
                        </div>
                    </div>
                    <h3 class="sheet-theme-header">Dangers</h3>
                    <div class="sheet-theme-table">
                        <div class="oracle-row">
                            <span class="sheet-oracle-roll">31-33</span>
                            <span class="sheet-oracle-result">Ancient mechanism or trap</span>
                        </div>
                        <div class="oracle-row">
                            <span class="sheet-oracle-roll">34-36</span>
                            <span class="sheet-oracle-result">Crumbling architecture</span>
                        </div>
                        <div class="oracle-row">
                            <span class="sheet-oracle-roll">37-39</span>
                            <span class="sheet-oracle-result">Blocked or broken passage</span>
                        </div>
                        <div class="oracle-row">
                            <span class="sheet-oracle-roll">40-42</span>
                            <span class="sheet-oracle-result">Artifact with a hidden danger</span>
                        </div>
                        <div class="oracle-row">
                            <span class="sheet-oracle-roll">43-45</span>
                            <span class="sheet-oracle-result">Denizen lurks in darkness</span>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>