<div class="page8tab">
    <hr class="sheet-nav-bottom">
    <div class="sheet-oracle-container">
        <div class="sheet-theme-column">
            <div class="sheet-oracle-box">
                <div class="sheet-oracle-title">Theme</div>
                <div class="sheet-oracle">
                    <label class="sheet-oracle-show" for="ancientTheme">Ancient</label>
                </div>
                <div class="sheet-oracle">
                    <label class="sheet-oracle-show" for="corruptedTheme">Corrupted</label>
                </div>
                <div class="sheet-oracle">
                    <label class="sheet-oracle-show" for="fortifiedTheme">Fortified</label>
                </div>
                <div class="sheet-oracle">
                    <label class="sheet-oracle-show" for="hallowedTheme">Hallowed</label>
                </div>
                <div class="sheet-oracle">
                    <label class="sheet-oracle-show" for="hauntedTheme">Haunted</label>
                </div>
                <div class="sheet-oracle">
                    <label class="sheet-oracle-show" for="infestedTheme">Infested</label>
                </div>
                <div class="sheet-oracle">
                    <label class="sheet-oracle-show" for="ravagedTheme">Ravaged</label>
                </div>
                <div class="sheet-oracle">
                    <label class="sheet-oracle-show" for="wildTheme">Wild</label>
                </div>
            </div>
            <div class="sheet-oracle-box">
                <div class="sheet-oracle-title">Domain</div>
                <div class="sheet-oracle">
                    <label class="sheet-oracle-show" for="barrowDomain">Barrow</label>
                </div>
                <div class="sheet-oracle">
                    <label class="sheet-oracle-show" for="cavernDomain">Cavern</label>
                </div>
                <div class="sheet-oracle">
                    <label class="sheet-oracle-show" for="frozenCavernDomain">Frozen Cavern</label>
                </div>
                <div class="sheet-oracle">
                    <label class="sheet-oracle-show" for="icereachDomain">Ice Reach</label>
                </div>
                <div class="sheet-oracle">
                    <label class="sheet-oracle-show" for="mineDomain">Mine</label>
                </div>
                <div class="sheet-oracle">
                    <label class="sheet-oracle-show" for="passDomain">Pass</label>
                </div>
                <div class="sheet-oracle">
                    <label class="sheet-oracle-show" for="ruinDomain">Ruin</label>
                </div>
                <div class="sheet-oracle">
                    <label class="sheet-oracle-show" for="seaCaveDomain">Sea Cave</label>
                </div>
                <div class="sheet-oracle">
                    <label class="sheet-oracle-show" for="shadowfenDomain">Shadowfen</label>
                </div>
                <div class="sheet-oracle">
                    <label class="sheet-oracle-show" for="strongholdDomain">Stronghold</label>
                </div>
                <div class="sheet-oracle">
                    <label class="sheet-oracle-show" for="tanglewoodDomain">Tanglewood</label>
                </div>
                <div class="sheet-oracle">
                    <label class="sheet-oracle-show" for="underkeepDomain">Underkeep</label>
                </div>
            </div>
        </div>
        <div class="sheet-theme-column">

            <input type="radio" class="sheet-ancient sheet-hidden" id="ancientTheme" name="attr_themeDomainPreview"
                value="1" />
            <div class="sheet-ancient sheet-hide sheet-theme-outline">
                <div class="sheet-oracle-title sheet-oracle-table-preview">Theme</div>
                <div class="sheet-theme-container">
                    <h3 class="sheet-theme-header sheet-theme-title">Ancient</h3>
                    <p class="sheet-theme-body">This place holds the secrets of a bygone age.</p>
                    <h3 class="sheet-theme-header">Features</h3>
                    <div class="sheet-theme-table">
                        <div class="oracle-row">
                            <span class="sheet-oracle-roll">1-4</span>
                            <span class="sheet-oracle-result">Evidence of lost knowledge</span>
                        </div>
                        <div class="oracle-row">
                            <span class="sheet-oracle-roll">5-8</span>
                            <span class="sheet-oracle-result">Inscrutable relics</span>
                        </div>
                        <div class="oracle-row">
                            <span class="sheet-oracle-roll">9-12</span>
                            <span class="sheet-oracle-result">Ancient artistry or craft</span>
                        </div>
                        <div class="oracle-row">
                            <span class="sheet-oracle-roll">13-16</span>
                            <span class="sheet-oracle-result">Preserved corpses or fossils</span>
                        </div>
                        <div class="oracle-row">
                            <span class="sheet-oracle-roll">17-20</span>
                            <span class="sheet-oracle-result">Visions of this place in another time</span>
                        </div>
                    </div>
                    <h3 class="sheet-theme-header">Dangers</h3>
                    <div class="sheet-theme-table">
                        <div class="oracle-row">
                            <span class="sheet-oracle-roll">1-5</span>
                            <span class="sheet-oracle-result">Ancient trap</span>
                        </div>
                        <div class="oracle-row">
                            <span class="sheet-oracle-roll">6-10</span>
                            <span class="sheet-oracle-result">Hazardous architecture or terrain</span>
                        </div>
                        <div class="oracle-row">
                            <span class="sheet-oracle-roll">11-12</span>
                            <span class="sheet-oracle-result">Blocked or broken path</span>
                        </div>
                        <div class="oracle-row">
                            <span class="sheet-oracle-roll">13-14</span>
                            <span class="sheet-oracle-result">Denizen protects an ancient secret</span>
                        </div>
                        <div class="oracle-row">
                            <span class="sheet-oracle-roll">15-16</span>
                            <span class="sheet-oracle-result">Denizen reveres an ancient power</span>
                        </div>
                        <div class="oracle-row">
                            <span class="sheet-oracle-roll">17-18</span>
                            <span class="sheet-oracle-result">Living relics of a lost age</span>
                        </div>
                        <div class="oracle-row">
                            <span class="sheet-oracle-roll">19-20</span>
                            <span class="sheet-oracle-result">Ancient evil resurgent</span>
                        </div>
                        <div class="oracle-row">
                            <span class="sheet-oracle-roll">21-22</span>
                            <span class="sheet-oracle-result">Dire warnings of a long-buried danger</span>
                        </div>
                        <div class="oracle-row">
                            <span class="sheet-oracle-roll">23-24</span>
                            <span class="sheet-oracle-result">Ancient disease or contamination</span>
                        </div>
                        <div class="oracle-row">
                            <span class="sheet-oracle-roll">25-26</span>
                            <span class="sheet-oracle-result">Artifact of terrible meaning or power</span>
                        </div>
                        <div class="oracle-row">
                            <span class="sheet-oracle-roll">27-28</span>
                            <span class="sheet-oracle-result">Disturbing evidence of ancient wrongs</span>
                        </div>
                        <div class="oracle-row">
                            <span class="sheet-oracle-roll">29-30</span>
                            <span class="sheet-oracle-result">Others seek power or knowledge</span>
                        </div>
                    </div>
                </div>
            </div>

            <input type="radio" class="sheet-corrupted sheet-hidden" id="corruptedTheme" name="attr_themeDomainPreview"
                value="2" />
            <div class="sheet-corrupted sheet-hide sheet-theme-outline">
                <div class="sheet-oracle-title sheet-oracle-table-preview">Theme</div>
                <div class="sheet-theme-container">
                    <h3 class="sheet-theme-header sheet-theme-title">CORRUPTED</h3>
                    <p class="sheet-theme-body">This place is tainted by dark magic.</p>
                    <h3 class="sheet-theme-header">Features</h3>
                    <div class="sheet-theme-table">
                        <div class="oracle-row">
                            <span class="sheet-oracle-roll">1-4</span>
                            <span class="sheet-oracle-result">Mystic focus or conduit</span>
                        </div>
                        <div class="oracle-row">
                            <span class="sheet-oracle-roll">5-8</span>
                            <span class="sheet-oracle-result">Strange environmental disturbances</span>
                        </div>
                        <div class="oracle-row">
                            <span class="sheet-oracle-roll">9-12</span>
                            <span class="sheet-oracle-result">Mystic runes or markings</span>
                        </div>
                        <div class="oracle-row">
                            <span class="sheet-oracle-roll">13-16</span>
                            <span class="sheet-oracle-result">Blight or decay</span>
                        </div>
                        <div class="oracle-row">
                            <span class="sheet-oracle-roll">17-20</span>
                            <span class="sheet-oracle-result">Evidence of a foul ritual</span>
                        </div>
                    </div>
                    <h3 class="sheet-theme-header">Dangers</h3>
                    <div class="sheet-theme-table">
                        <div class="oracle-row">
                            <span class="sheet-oracle-roll">1-5</span>
                            <span class="sheet-oracle-result">Denizen spawned from dark magic</span>
                        </div>
                        <div class="oracle-row">
                            <span class="sheet-oracle-roll">6-10</span>
                            <span class="sheet-oracle-result">Denizen controls dark magic</span>
                        </div>
                        <div class="oracle-row">
                            <span class="sheet-oracle-roll">11-12</span>
                            <span class="sheet-oracle-result">Denizen corrupted by dark magic</span>
                        </div>
                        <div class="oracle-row">
                            <span class="sheet-oracle-roll">13-14</span>
                            <span class="sheet-oracle-result">Corruption marks you</span>
                        </div>
                        <div class="oracle-row">
                            <span class="sheet-oracle-roll">15-16</span>
                            <span class="sheet-oracle-result">Innocents held in thrall</span>
                        </div>
                        <div class="oracle-row">
                            <span class="sheet-oracle-roll">17-18</span>
                            <span class="sheet-oracle-result">Revelations of a terrible truth</span>
                        </div>
                        <div class="oracle-row">
                            <span class="sheet-oracle-roll">19-20</span>
                            <span class="sheet-oracle-result">Mystic trap or trigger</span>
                        </div>
                        <div class="oracle-row">
                            <span class="sheet-oracle-roll">21-22</span>
                            <span class="sheet-oracle-result">Mystic barrier or ward</span>
                        </div>
                        <div class="oracle-row">
                            <span class="sheet-oracle-roll">23-24</span>
                            <span class="sheet-oracle-result">Illusions lead you astray</span>
                        </div>
                        <div class="oracle-row">
                            <span class="sheet-oracle-roll">25-26</span>
                            <span class="sheet-oracle-result">Dark ritual in progress</span>
                        </div>
                        <div class="oracle-row">
                            <span class="sheet-oracle-roll">27-28</span>
                            <span class="sheet-oracle-result">Lingering effects of a dark ritual</span>
                        </div>
                        <div class="oracle-row">
                            <span class="sheet-oracle-roll">29-30</span>
                            <span class="sheet-oracle-result">Dread harbingers of a greater magic</span>
                        </div>
                    </div>
                </div>
            </div>

            <input type="radio" class="sheet-fortified sheet-hidden" id="fortifiedTheme" name="attr_themeDomainPreview"
                value="3" />
            <div class="sheet-fortified sheet-hide sheet-theme-outline">
                <div class="sheet-oracle-title sheet-oracle-table-preview">Theme</div>
                <div class="sheet-theme-container">
                    <h3 class="sheet-theme-header sheet-theme-title">FORTIFIED</h3>
                    <p class="sheet-theme-body">Foes defend this place against intruders.</p>
                    <h3 class="sheet-theme-header">Features</h3>
                    <div class="sheet-theme-table">
                        <div class="oracle-row">
                            <span class="sheet-oracle-roll">1-4</span>
                            <span class="sheet-oracle-result">Camp or quarters</span>
                        </div>
                        <div class="oracle-row">
                            <span class="sheet-oracle-roll">5-8</span>
                            <span class="sheet-oracle-result">Guarded location</span>
                        </div>
                        <div class="oracle-row">
                            <span class="sheet-oracle-roll">9-12</span>
                            <span class="sheet-oracle-result">Storage or repository</span>
                        </div>
                        <div class="oracle-row">
                            <span class="sheet-oracle-roll">13-16</span>
                            <span class="sheet-oracle-result">Work or training area</span>
                        </div>
                        <div class="oracle-row">
                            <span class="sheet-oracle-roll">17-20</span>
                            <span class="sheet-oracle-result">Command center or leadership</span>
                        </div>
                    </div>
                    <h3 class="sheet-theme-header">Dangers</h3>
                    <div class="sheet-theme-table">
                        <div class="oracle-row">
                            <span class="sheet-oracle-roll">1-5</span>
                            <span class="sheet-oracle-result">Denizen patrols the area</span>
                        </div>
                        <div class="oracle-row">
                            <span class="sheet-oracle-roll">6-10</span>
                            <span class="sheet-oracle-result">Denizen on guard</span>
                        </div>
                        <div class="oracle-row">
                            <span class="sheet-oracle-roll">11-12</span>
                            <span class="sheet-oracle-result">Denizen ready to sound the alarm</span>
                        </div>
                        <div class="oracle-row">
                            <span class="sheet-oracle-roll">13-14</span>
                            <span class="sheet-oracle-result">Denizen sets an ambush</span>
                        </div>
                        <div class="oracle-row">
                            <span class="sheet-oracle-roll">15-16</span>
                            <span class="sheet-oracle-result">Denizen lures you into a trap</span>
                        </div>
                        <div class="oracle-row">
                            <span class="sheet-oracle-roll">17-18</span>
                            <span class="sheet-oracle-result">Denizens converge on this area</span>
                        </div>
                        <div class="oracle-row">
                            <span class="sheet-oracle-roll">19-20</span>
                            <span class="sheet-oracle-result">Pets or underlings</span>
                        </div>
                        <div class="oracle-row">
                            <span class="sheet-oracle-roll">21-22</span>
                            <span class="sheet-oracle-result">Unexpected alliance revealed</span>
                        </div>
                        <div class="oracle-row">
                            <span class="sheet-oracle-roll">23-24</span>
                            <span class="sheet-oracle-result">Nefarious plans revealed</span>
                        </div>
                        <div class="oracle-row">
                            <span class="sheet-oracle-roll">25-26</span>
                            <span class="sheet-oracle-result">Unexpected leader revealed</span>
                        </div>
                        <div class="oracle-row">
                            <span class="sheet-oracle-roll">27-28</span>
                            <span class="sheet-oracle-result">Trap</span>
                        </div>
                        <div class="oracle-row">
                            <span class="sheet-oracle-roll">29-30</span>
                            <span class="sheet-oracle-result">Alarm trigger</span>
                        </div>
                    </div>
                </div>
            </div>

            <input type="radio" class="sheet-hallowed sheet-hidden" id="hallowedTheme" name="attr_themeDomainPreview"
                value="4" />
            <div class="sheet-hallowed sheet-hide sheet-theme-outline">
                <div class="sheet-oracle-title sheet-oracle-table-preview">Theme</div>
                <div class="sheet-theme-container">
                    <h3 class="sheet-theme-header sheet-theme-title">HALLOWED</h3>
                    <p class="sheet-theme-body">The faithful worship here.</p>
                    <h3 class="sheet-theme-header">Features</h3>
                    <div class="sheet-theme-table">
                        <div class="oracle-row">
                            <span class="sheet-oracle-roll">1-4</span>
                            <span class="sheet-oracle-result">Temple or altar</span>
                        </div>
                        <div class="oracle-row">
                            <span class="sheet-oracle-roll">5-8</span>
                            <span class="sheet-oracle-result">Offerings or atonements</span>
                        </div>
                        <div class="oracle-row">
                            <span class="sheet-oracle-roll">9-12</span>
                            <span class="sheet-oracle-result">Religious relic or idol</span>
                        </div>
                        <div class="oracle-row">
                            <span class="sheet-oracle-roll">13-16</span>
                            <span class="sheet-oracle-result">Consecrated ground</span>
                        </div>
                        <div class="oracle-row">
                            <span class="sheet-oracle-roll">17-20</span>
                            <span class="sheet-oracle-result">Dwellings or gathering place</span>
                        </div>
                    </div>
                    <h3 class="sheet-theme-header">Dangers</h3>
                    <div class="sheet-theme-table">
                        <div class="oracle-row">
                            <span class="sheet-oracle-roll">1-5</span>
                            <span class="sheet-oracle-result">Denizen defends their sanctum</span>
                        </div>
                        <div class="oracle-row">
                            <span class="sheet-oracle-roll">6-10</span>
                            <span class="sheet-oracle-result">Denizen enacts the will of their god</span>
                        </div>
                        <div class="oracle-row">
                            <span class="sheet-oracle-roll">11-12</span>
                            <span class="sheet-oracle-result">Denizen seeks martyrdom</span>
                        </div>
                        <div class="oracle-row">
                            <span class="sheet-oracle-roll">13-14</span>
                            <span class="sheet-oracle-result">Secret of the faith is revealed</span>
                        </div>
                        <div class="oracle-row">
                            <span class="sheet-oracle-roll">15-16</span>
                            <span class="sheet-oracle-result">Greater purpose is revealed</span>
                        </div>
                        <div class="oracle-row">
                            <span class="sheet-oracle-roll">17-18</span>
                            <span class="sheet-oracle-result">Unexpected disciples are revealed</span>
                        </div>
                        <div class="oracle-row">
                            <span class="sheet-oracle-roll">19-20</span>
                            <span class="sheet-oracle-result">Divine manifestations</span>
                        </div>
                        <div class="oracle-row">
                            <span class="sheet-oracle-roll">21-22</span>
                            <span class="sheet-oracle-result">Aspect of the faith beguiles you</span>
                        </div>
                        <div class="oracle-row">
                            <span class="sheet-oracle-roll">23-24</span>
                            <span class="sheet-oracle-result">Unexpected leader is revealed</span>
                        </div>
                        <div class="oracle-row">
                            <span class="sheet-oracle-roll">25-26</span>
                            <span class="sheet-oracle-result">Embodiment of a god or myth</span>
                        </div>
                        <div class="oracle-row">
                            <span class="sheet-oracle-roll">27-28</span>
                            <span class="sheet-oracle-result">Protective ward or barrier</span>
                        </div>
                        <div class="oracle-row">
                            <span class="sheet-oracle-roll">29-30</span>
                            <span class="sheet-oracle-result">Prophecies reveal a dark fate</span>
                        </div>
                    </div>
                </div>
            </div>

            <input type="radio" class="sheet-haunted sheet-hidden" id="hauntedTheme" name="attr_themeDomainPreview"
                value="5" />
            <div class="sheet-haunted sheet-hide sheet-theme-outline">
                <div class="sheet-oracle-title sheet-oracle-table-preview">Theme</div>
                <div class="sheet-theme-container">
                    <h3 class="sheet-theme-header sheet-theme-title">HAUNTED</h3>
                    <p class="sheet-theme-body">Restless spirits are bound to this place.</p>
                    <h3 class="sheet-theme-header">Features</h3>
                    <div class="sheet-theme-table">
                        <div class="oracle-row">
                            <span class="sheet-oracle-roll">1-4</span>
                            <span class="sheet-oracle-result">Tomb or burial site</span>
                        </div>
                        <div class="oracle-row">
                            <span class="sheet-oracle-roll">5-8</span>
                            <span class="sheet-oracle-result">Blood was spilled here</span>
                        </div>
                        <div class="oracle-row">
                            <span class="sheet-oracle-roll">9-12</span>
                            <span class="sheet-oracle-result">Unnatural mists or darkness</span>
                        </div>
                        <div class="oracle-row">
                            <span class="sheet-oracle-roll">13-16</span>
                            <span class="sheet-oracle-result">Messages from beyond the grave</span>
                        </div>
                        <div class="oracle-row">
                            <span class="sheet-oracle-roll">17-20</span>
                            <span class="sheet-oracle-result">Apparitions of a person or event</span>
                        </div>
                    </div>
                    <h3 class="sheet-theme-header">Dangers</h3>
                    <div class="sheet-theme-table">
                        <div class="oracle-row">
                            <span class="sheet-oracle-roll">1-5</span>
                            <span class="sheet-oracle-result">Denizen haunts this area</span>
                        </div>
                        <div class="oracle-row">
                            <span class="sheet-oracle-roll">6-10</span>
                            <span class="sheet-oracle-result">Unsettling sounds or foreboding signs</span>
                        </div>
                        <div class="oracle-row">
                            <span class="sheet-oracle-roll">11-12</span>
                            <span class="sheet-oracle-result">Denizen attacks without warning</span>
                        </div>
                        <div class="oracle-row">
                            <span class="sheet-oracle-roll">13-14</span>
                            <span class="sheet-oracle-result">Denizen makes a costly demand</span>
                        </div>
                        <div class="oracle-row">
                            <span class="sheet-oracle-roll">15-16</span>
                            <span class="sheet-oracle-result">Denizen seizes your body or mind</span>
                        </div>
                        <div class="oracle-row">
                            <span class="sheet-oracle-roll">17-18</span>
                            <span class="sheet-oracle-result">Denizen taunts or lures you </span>
                        </div>
                        <div class="oracle-row">
                            <span class="sheet-oracle-roll">19-20</span>
                            <span class="sheet-oracle-result">A disturbing truth is revealed </span>
                        </div>
                        <div class="oracle-row">
                            <span class="sheet-oracle-roll">21-22</span>
                            <span class="sheet-oracle-result">Frightening visions</span>
                        </div>
                        <div class="oracle-row">
                            <span class="sheet-oracle-roll">23-24</span>
                            <span class="sheet-oracle-result">The environment is used against you</span>
                        </div>
                        <div class="oracle-row">
                            <span class="sheet-oracle-roll">25-26</span>
                            <span class="sheet-oracle-result">Trickery leads you astray</span>
                        </div>
                        <div class="oracle-row">
                            <span class="sheet-oracle-roll">27-28</span>
                            <span class="sheet-oracle-result">True nature of this place is revealed</span>
                        </div>
                        <div class="oracle-row">
                            <span class="sheet-oracle-roll">29-30</span>
                            <span class="sheet-oracle-result">Sudden, shocking manifestation</span>
                        </div>
                    </div>
                </div>
            </div>

            <input type="radio" class="sheet-infested sheet-hidden" id="infestedTheme" name="attr_themeDomainPreview"
                value="6" />
            <div class="sheet-infested sheet-hide sheet-theme-outline">
                <div class="sheet-oracle-title sheet-oracle-table-preview">Theme</div>
                <div class="sheet-theme-container">
                    <h3 class="sheet-theme-header sheet-theme-title">INFESTED</h3>
                    <p class="sheet-theme-body">Foul creatures dwell here.</p>
                    <h3 class="sheet-theme-header">Features</h3>
                    <div class="sheet-theme-table">
                        <div class="oracle-row">
                            <span class="sheet-oracle-roll">1-4</span>
                            <span class="sheet-oracle-result">Inhabited nest</span>
                        </div>
                        <div class="oracle-row">
                            <span class="sheet-oracle-roll">5-8</span>
                            <span class="sheet-oracle-result">Abandoned nest</span>
                        </div>
                        <div class="oracle-row">
                            <span class="sheet-oracle-roll">9-12</span>
                            <span class="sheet-oracle-result">Ravaged terrain or architecture</span>
                        </div>
                        <div class="oracle-row">
                            <span class="sheet-oracle-roll">13-16</span>
                            <span class="sheet-oracle-result">Remains or carrion</span>
                        </div>
                        <div class="oracle-row">
                            <span class="sheet-oracle-roll">17-20</span>
                            <span class="sheet-oracle-result">Hoarded food</span>
                        </div>
                    </div>
                    <h3 class="sheet-theme-header">Dangers</h3>
                    <div class="sheet-theme-table">
                        <div class="oracle-row">
                            <span class="sheet-oracle-roll">1-5</span>
                            <span class="sheet-oracle-result">Denizens swarm and attack</span>
                        </div>
                        <div class="oracle-row">
                            <span class="sheet-oracle-roll">6-10</span>
                            <span class="sheet-oracle-result">Toxic or sickening environment</span>
                        </div>
                        <div class="oracle-row">
                            <span class="sheet-oracle-roll">11-12</span>
                            <span class="sheet-oracle-result">Denizen stalks you</span>
                        </div>
                        <div class="oracle-row">
                            <span class="sheet-oracle-roll">13-14</span>
                            <span class="sheet-oracle-result">Denizen takes or destroys something</span>
                        </div>
                        <div class="oracle-row">
                            <span class="sheet-oracle-roll">15-16</span>
                            <span class="sheet-oracle-result">Denizen reveals surprising cleverness</span>
                        </div>
                        <div class="oracle-row">
                            <span class="sheet-oracle-roll">17-18</span>
                            <span class="sheet-oracle-result">Denizen guided by a greater threat</span>
                        </div>
                        <div class="oracle-row">
                            <span class="sheet-oracle-roll">19-20</span>
                            <span class="sheet-oracle-result">Denizen blocks the path</span>
                        </div>
                        <div class="oracle-row">
                            <span class="sheet-oracle-roll">21-22</span>
                            <span class="sheet-oracle-result">Denizen funnels you down a new path</span>
                        </div>
                        <div class="oracle-row">
                            <span class="sheet-oracle-roll">23-24</span>
                            <span class="sheet-oracle-result">Denizen undermines the path</span>
                        </div>
                        <div class="oracle-row">
                            <span class="sheet-oracle-roll">25-26</span>
                            <span class="sheet-oracle-result">Denizen lays in wait</span>
                        </div>
                        <div class="oracle-row">
                            <span class="sheet-oracle-roll">27-28</span>
                            <span class="sheet-oracle-result">Trap or snare</span>
                        </div>
                        <div class="oracle-row">
                            <span class="sheet-oracle-roll">29-30</span>
                            <span class="sheet-oracle-result">Victim’s horrible fate is revealed</span>
                        </div>
                    </div>
                </div>
            </div>

            <input type="radio" class="sheet-ravaged sheet-hidden" id="ravagedTheme" name="attr_themeDomainPreview"
                value="7" />
            <div class="sheet-ravaged sheet-hide sheet-theme-outline">
                <div class="sheet-oracle-title sheet-oracle-table-preview">Theme</div>
                <div class="sheet-theme-container">
                    <h3 class="sheet-theme-header sheet-theme-title">RAVAGED</h3>
                    <p class="sheet-theme-body">Time, disaster, or strife have taken their toll.</p>
                    <h3 class="sheet-theme-header">Features</h3>
                    <div class="sheet-theme-table">
                        <div class="oracle-row">
                            <span class="sheet-oracle-roll">1-4</span>
                            <span class="sheet-oracle-result">Path of destruction</span>
                        </div>
                        <div class="oracle-row">
                            <span class="sheet-oracle-roll">5-8</span>
                            <span class="sheet-oracle-result">Abandoned or ruined dwelling</span>
                        </div>
                        <div class="oracle-row">
                            <span class="sheet-oracle-roll">9-12</span>
                            <span class="sheet-oracle-result">Untouched or preserved area</span>
                        </div>
                        <div class="oracle-row">
                            <span class="sheet-oracle-roll">13-16</span>
                            <span class="sheet-oracle-result">Traces of what was lost</span>
                        </div>
                        <div class="oracle-row">
                            <span class="sheet-oracle-roll">17-20</span>
                            <span class="sheet-oracle-result">Ill-fated victims</span>
                        </div>
                    </div>
                    <h3 class="sheet-theme-header">Dangers</h3>
                    <div class="sheet-theme-table">
                        <div class="oracle-row">
                            <span class="sheet-oracle-roll">1-5</span>
                            <span class="sheet-oracle-result">Precarious architecture or terrain</span>
                        </div>
                        <div class="oracle-row">
                            <span class="sheet-oracle-roll">6-10</span>
                            <span class="sheet-oracle-result">Imminent collapse or destruction</span>
                        </div>
                        <div class="oracle-row">
                            <span class="sheet-oracle-roll">11-12</span>
                            <span class="sheet-oracle-result">Path undermined</span>
                        </div>
                        <div class="oracle-row">
                            <span class="sheet-oracle-roll">13-14</span>
                            <span class="sheet-oracle-result">Blocked or broken path</span>
                        </div>
                        <div class="oracle-row">
                            <span class="sheet-oracle-roll">15-16</span>
                            <span class="sheet-oracle-result">Vestiges of a destructive force</span>
                        </div>
                        <div class="oracle-row">
                            <span class="sheet-oracle-roll">17-18</span>
                            <span class="sheet-oracle-result">Unexpected environmental threat</span>
                        </div>
                        <div class="oracle-row">
                            <span class="sheet-oracle-roll">19-20</span>
                            <span class="sheet-oracle-result">Echoes of a troubling past</span>
                        </div>
                        <div class="oracle-row">
                            <span class="sheet-oracle-roll">21-22</span>
                            <span class="sheet-oracle-result">Signs of a horrible fate</span>
                        </div>
                        <div class="oracle-row">
                            <span class="sheet-oracle-roll">23-24</span>
                            <span class="sheet-oracle-result">Denizen seeks retribution</span>
                        </div>
                        <div class="oracle-row">
                            <span class="sheet-oracle-roll">25-26</span>
                            <span class="sheet-oracle-result">Denizen leverages the environment</span>
                        </div>
                        <div class="oracle-row">
                            <span class="sheet-oracle-roll">27-28</span>
                            <span class="sheet-oracle-result">Denizen restores what was lost</span>
                        </div>
                        <div class="oracle-row">
                            <span class="sheet-oracle-roll">29-30</span>
                            <span class="sheet-oracle-result">Ravages return anew</span>
                        </div>
                    </div>
                </div>
            </div>

            <input type="radio" class="sheet-wild sheet-hidden" id="wildTheme" name="attr_themeDomainPreview"
                value="8" />
            <div class="sheet-wild sheet-hide sheet-theme-outline">
                <div class="sheet-oracle-title sheet-oracle-table-preview">Theme</div>
                <div class="sheet-theme-container">
                    <h3 class="sheet-theme-header sheet-theme-title">WILD</h3>
                    <p class="sheet-theme-body">Nature prevails in this place.</p>
                    <h3 class="sheet-theme-header">Features</h3>
                    <div class="sheet-theme-table">
                        <div class="oracle-row">
                            <span class="sheet-oracle-roll">1-4</span>
                            <span class="sheet-oracle-result">Denizen’s lair</span>
                        </div>
                        <div class="oracle-row">
                            <span class="sheet-oracle-roll">5-8</span>
                            <span class="sheet-oracle-result">Territorial markings</span>
                        </div>
                        <div class="oracle-row">
                            <span class="sheet-oracle-roll">9-12</span>
                            <span class="sheet-oracle-result">Impressive flora or fauna</span>
                        </div>
                        <div class="oracle-row">
                            <span class="sheet-oracle-roll">13-16</span>
                            <span class="sheet-oracle-result">Hunting ground or watering hole</span>
                        </div>
                        <div class="oracle-row">
                            <span class="sheet-oracle-roll">17-20</span>
                            <span class="sheet-oracle-result">Remains or carrion</span>
                        </div>
                    </div>
                    <h3 class="sheet-theme-header">Dangers</h3>
                    <div class="sheet-theme-table">
                        <div class="oracle-row">
                            <span class="sheet-oracle-roll">1-5</span>
                            <span class="sheet-oracle-result">Denizen hunts</span>
                        </div>
                        <div class="oracle-row">
                            <span class="sheet-oracle-roll">6-10</span>
                            <span class="sheet-oracle-result">Denizen strikes without warning</span>
                        </div>
                        <div class="oracle-row">
                            <span class="sheet-oracle-roll">11-12</span>
                            <span class="sheet-oracle-result">Denizen leverages the environment</span>
                        </div>
                        <div class="oracle-row">
                            <span class="sheet-oracle-roll">13-14</span>
                            <span class="sheet-oracle-result">Denizen wields unexpected abilities</span>
                        </div>
                        <div class="oracle-row">
                            <span class="sheet-oracle-roll">15-16</span>
                            <span class="sheet-oracle-result">Denizen guided by a greater threat</span>
                        </div>
                        <div class="oracle-row">
                            <span class="sheet-oracle-roll">17-18</span>
                            <span class="sheet-oracle-result">Denizen protects something</span>
                        </div>
                        <div class="oracle-row">
                            <span class="sheet-oracle-roll">19-20</span>
                            <span class="sheet-oracle-result">Hazardous terrain</span>
                        </div>
                        <div class="oracle-row">
                            <span class="sheet-oracle-roll">21-22</span>
                            <span class="sheet-oracle-result">Weather or environmental threat</span>
                        </div>
                        <div class="oracle-row">
                            <span class="sheet-oracle-roll">23-24</span>
                            <span class="sheet-oracle-result">Benign aspect becomes a threat</span>
                        </div>
                        <div class="oracle-row">
                            <span class="sheet-oracle-roll">25-26</span>
                            <span class="sheet-oracle-result">Overzealous hunter</span>
                        </div>
                        <div class="oracle-row">
                            <span class="sheet-oracle-roll">27-28</span>
                            <span class="sheet-oracle-result">Disturbing evidence of a victim’s fate</span>
                        </div>
                        <div class="oracle-row">
                            <span class="sheet-oracle-roll">29-30</span>
                            <span class="sheet-oracle-result">Ill-fated victim in danger</span>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>