-
  var moveList = {
    advance: {
      title: 'Advance',
      name: 'advance',
      class: 'advance',
      page: 'Ironsworn - page X',
      system: 'ironsworn',
      content: [
        {
          p: `When <strong>you focus on your skills, receive training, find inspiration, earn a reward, or gain a companion,</strong> you may spend 3 experience to add a new asset, or 2 experience to upgrade an asset.`
        }
      ],      
      radio: 'advance'
    },
    advance_a_threat: {
      title: 'Advance A Threat',
      name: 'advanceAThreat',
      class: 'advance-a-threat',
      page: 'Delve - page 155',
      system: 'delve',
      content: [
        { 
          p: `When <strong>you give ground to a threat through inaction, failure, or delay,</strong> roll on the table below and envision how the change manifests in your world (<em>Ask the Oracle</em> if unsure).`
        },
        {
          table: { group: 'threat', name: 'advance_a_threat' }
        },
        {
          p: `On a match, this development also exposes a surprising aspect of the threat’s plan or nature.`
        },
        {
          p: `If <strong>you mark the last box on the threat’s menace track,</strong> the threat achieves its goal, or the final dire outcome occurs. You must <em>Forsake Your Vow.</em>`
        }
      ],      
      radio: 'advance_a_threat',
      no_quick_roll: true
    },
    aid_your_ally: {
      title: 'Aid Your Ally',
      name: 'aidYourAlly',
      class: 'aid-your-ally',
      page: 'Ironsworn - page X',
      radio: 'aid_your_ally',
      stat: `?{Stat|Edge, @{edge}|Iron, @{iron}|Heart, @{heart}|Shadow, @{shadow}|Wits, @{wits}}`,
      system: 'ironsworn',
      content: [
        { 
          p: `When <strong>you <em>Secure an Advantage</em> in direct support of an ally,</strong> and score a hit, they (instead of you) can take the benefits of the move. If you are in combat and score a <strong>strong hit,</strong> you and your ally have initiative.` 
        }
      ],      
      stat_repeat: '?{Stat}'
    },
    ask_the_oracle: {
      title: 'Ask the Oracle',
      name: 'askTheOracle',
      class: 'ask-the-oracle',
      page: 'Ironsworn - page 107',
      system: 'ironsworn',
      content: [
        { 
          p: `When <strong>you seek to resolve questions, discover details in the world, determine how other characters respond, or trigger encounters or events,</strong> you may...`
        },
        {
          list: [ 
            `Draw a conclusion: Decide the answer based on the most interesting and obvious result.`,
            `Ask a yes/no question: Decide the odds of a ‘yes’, and roll on the table below to check the answer.`,
            `Pick two: Envision two options. Rate one as ‘likely’, and roll on the table below to see if it is true. If not, it is the other.`,
            `Spark an idea: Brainstorm or use a random prompt.`
          ],
        },
        {
          ask_the_oracle: true
        }
      ],      
      radio: 'ask_the_oracle',
      no_quick_roll: true
    },
    battle: {
      title: 'Battle',
      name: 'Battle',
      class: 'battle',
      page: 'Ironsworn - page 84',
      radio: 'battle',
      stat: `?{Stat|Edge, @{edge}|Iron, @{iron}|Heart, @{heart}|Shadow, @{shadow}|Wits, @{wits}}`,
      stat_repeat: '?{Stat}',
      system: 'ironsworn',
      content: [
        { 
          p: `When <strong>you fight a battle,</strong> and it happens in a blur, envision your objective and roll. If you primarily...`
        },
        {
          list: [
            `Fight at range, or using your speed and the terrain to your advantage: Roll +edge.`,
            `Fight depending on your courage, allies, or companions: Roll +heart.`,
            `Fight in close to overpower your opponents: Roll +iron.`,
            `Fight using trickery to befuddle your opponents: Roll +shadow.`,
            `Fight using careful tactics to outsmart your opponents: Roll +wits.`
          ],
        },
        {
          p: `On a <strong>strong hit,</strong> you achieve your objective unconditionally. Take +2 momentum.`
        },
        {
          p: `On a <strong>weak hit,</strong> you achieve your objective, but not without cost. <em>Pay the Price.</em>`
        },
        {
          p: `On a <strong>miss,</strong> you are defeated and the objective is lost to you. <em>Pay the Price.</em>`
        }
      ],      
      roll: true
    },
    check_your_gear: {
      title: 'Check Your Gear',
      name: 'checkYourGear',
      class: 'check-your-gear',
      page: 'Delve - page 38',
      radio: 'check_your_gear',
      stat: `?{Stat|Supply,@{supply}|Wits - Improviser,@{wits}}`,
      system: 'delve',
      content: [
        { 
          p: `When <strong>you check to see if you have a specific helpful item,</strong> and you have at least +1 supply, roll +supply.`
        },
        {
          p: `On a <strong>strong hit,</strong> you have it. Take +1 momentum.`
        },
        {
          p: `On a <strong>weak hit,</strong> you have it, but your resources are diminished. Take +1 momentum and suffer -1 supply.`
        },
        {
          p: `On a <strong>miss,</strong> you don’t have it and the situation grows more perilous. <em>Pay the Price.</em>`
        }
      ],      
      stat_repeat: '?{Stat}'
    },
    clash: {
      title: 'Clash',
      name: 'clash',
      class: 'clash',
      page: 'Ironsworn - page 80',
      radio: 'clash',
      stat: `?{Stat|Edge&#44;@{edge}|Iron&#44;@{iron}|Light - Lightbearer&#44;?{Light&amp;#124;0&amp;#125;&#125;`,
      stat_repeat: '?{Stat}',
      system: 'ironsworn',
      content: [
        { 
          p: `When </strong>your foe has initiative and you fight with them in close quarters,</strong> roll +iron. When you exchange a volley at range, or shoot at an advancing foe, roll +edge.`
        },
        {
          p: `On a <strong>strong hit,</strong> inflict your harm and choose one. You have the initiative.`
        },
        {
          list: [
            `You bolster your position: Take +1 momentum.`,
            `You find an opening: Inflict +1 harm.`
          ]
        },
        {
          p: `On a <strong>weak hit,</strong> inflict your harm, but then <em>Pay the Price.</em> Your foe has initiative.`
        },
        {
          p: `On a <strong>miss,</strong> you are outmatched and must <em>Pay the Price.</em> Your foe has initiative.`
        }
      ],      
      roll: true
    },
    companion_endure_harm: {
      title: 'Companion Endure Harm',
      name: 'companionEndureHarm',
      class: 'companion-endure-harm',
      page: 'Ironsworn - page 94',
      stat: `?{Stat|Heart&#44;@{heart}|Companion's Health&#44;?{Health&amp;#124;0&amp;#125;&#125;`,
      stat_repeat: '?{Stat}',
      system: 'ironsworn',
      content: [
        { 
          p: `When <strong>your companion faces physical damage,</strong> they suffer -health equal to the amount of harm inflicted. If your companion’s health is 0, exchange any leftover -health for -momentum.`
        },
        {
          p: `Then, roll +heart or +your companion’s health, whichever is higher.`
        },
        {
          p: `On a <strong>strong hit,</strong> your companion rallies. Give them +1 health.`
        },
        {
          p: `On a <strong>weak hit,</strong> your companion is battered. If their health is 0, they cannot assist you until they gain at least +1 health.`
        },
        {
          p: `On a <strong>miss,</strong> also suffer -1 momentum. If your companion’s health is 0, they are gravely wounded and out of action. Without aid, they die in an hour or two.`
        },
        {
          p: `If you roll a miss with a 1 on your action die, and your companion’s health is 0, they are now dead. Take 1 experience for each marked ability on your companion asset, and remove it.`
        }
      ],      
      radio: 'companion_endure_harm',
      roll: true
    },
    compel: {
      title: 'Compel',
      name: 'compel',
      class: 'compel',
      page: 'Ironsworn - page 69',
      radio: 'compel',
      stat: `?{Stat|Iron&#44;@{iron}|Heart&#44;@{heart}|Shadow&#44;@{shadow}|Essence - Invoke&#44;?{Essence&amp;#124;0&amp;#125;&#125;`,
      stat_repeat: '?{Stat}',
      system: 'ironsworn',
      content: [
        { 
          p: `When <strong>you attempt to persuade someone to do something,</strong> envision your approach and roll. If you...`
        },
        {
          list: [
            `Charm, pacify, barter, or convince: Roll +heart (add +1 if you share a bond).`,
            `Threaten or incite: Roll +iron.`,
            `Lie or swindle: Roll +shadow.`
          ],
        },
        {
          p: `On a <strong>strong hit,</strong> they’ll do what you want or share what they know. Take +1 momentum. If you use this exchange to <em>Gather Information,</em> make that move now and add +1.`
        },
        {
          p: `On a <strong>weak hit,</strong> as above, but they ask something of you in return. Envision what they want (<em>Ask the Oracle</em> if unsure).`
        },
        {
          p: `On a <strong>miss,</strong> they refuse or make a demand which costs you greatly. <em>Pay the Price.</em>`
        }
      ],
      roll: true
    },
    delve_the_depths: {
      title: 'Delve the Depths',
      name: 'delveTheDepths',
      class: 'delve-the-depths',
      page: 'Delve - page 21',
      radio: 'delve_the_depths',
      stat: `?{Stat|Edge,@{edge}|Shadow,@{shadow}|Wits,@{wits}}`,
      stat_repeat: '?{Stat}',
      system: 'delve',
      content: [
        { 
          p: `When <strong>you traverse an area within a perilous site,</strong> envision your surroundings (<em>Ask the Oracle</em> if unsure). Then, consider your approach. If you navigate this area…`
        },
        {
          list: [
            `With haste: Roll +edge.`,
            `With stealth or trickery: Roll +shadow.`,
            `With observation, intuition, or expertise: Roll +wits.`
          ],
        },
        {
          p: `On a <strong>strong hit,</strong> you delve deeper. Mark progress and <em>Find an Opportunity.</em>`
        },
        {
          p: `On a <strong>weak hit,</strong> roll on the following table according to your stat.`
        },
        {
          p: `On a <strong>miss,</strong> <em>Reveal a Danger.</em>`
        },
        {
          depths_table: true
        }
      ],      
      roll: true
    },
    discover_a_site: {
      title: 'Discover a Site',
      name: 'discoverASite',
      class: 'discover-a-site',
      page: 'Delve - page 19',
      radio: 'discover_a_site',
      roll: true,
      system: 'delve',
      content: [
        { 
          p: `When <strong>you resolve to enter a perilous site in pursuit of an objective,</strong> choose the theme and domain which best represent its nature (<em>Ask the Oracle</em> if unsure), and give it a rank.`
        },
        {
          list: [
            `Troublesome site: 3 progress per area.`,
            `Dangerous site: 2 progress per area.`,
            `Formidable site: 1 progress per area.`,
            `Extreme site: 2 ticks per area.`,
            `Epic site: 1 tick per area.`
          ]
        },
        {
          p: `If you are returning to a previously explored site, roll both challenge dice, take the lowest value, and clear that number of progress boxes. Then, <em>Delve the Depths</em> to explore this place.`
        }
      ],      
      discover_a_site: true
    },
    draw_the_circle: {
      title: 'Draw the Circle',
      name: 'drawTheCircle',
      class: 'draw-the-circle',
      page: 'Ironsworn - page 73',
      radio: 'draw_the_circle',
      stat: `@{heart}`,
      stat_repeat: '@{heart}',
      system: 'ironsworn',
      content: [
        { 
          p: `When <strong>you challenge someone to a formal duel, or accept a challenge,</strong> roll +heart. If you share a bond with this community, add +1.`
        },
        {
          p: `On a <strong>strong hit,</strong> take +1 momentum. You may also choose up to two boasts and take +1 momentum for each.`
        },
        {
          p: `On a <strong>weak hit,</strong> you may choose one boast in exchange for +1 momentum.`
        },
        {
          list: [
            `Grant first strike: Your foe has initiative.`,
            `Bare yourself: Take no benefit of armor or shield; your foe’s harm is +1.`,
            `Hold no iron: Take no benefit of weapons; your harm is 1.`,
            `Bloody yourself: <em>Endure Harm</em> (1 harm).`,
            `To the death: One way or another, this fight must end with death.`
          ]
        },
        {
          p: `On a <strong>miss,</strong> you begin the duel at a disadvantage. Your foe has initiative. <em>Pay the Price.</em>`
        },
        {
          p: `Then, make moves to resolve the fight. If you are the victor, you may make a lawful demand, and your opponent must comply or forfeit their honor and standing. If you refuse the challenge, surrender, or are defeated, they make a demand of you.`
        }
      ],      
      roll: true
    },
    end_the_fight: {
      title: 'End the Fight',
      name: 'endTheFight',
      class: 'end-the-fight',
      page: 'Ironsworn - page 82',
      radio: 'end_the_fight',
      roll: true,
      system: 'ironsworn',
      content: [
        { 
          p: `<strong><em>Progress Move</em></strong>`
        },
        {
          p: `When <strong>you make a move to take decisive action,</strong> and score a <strong>strong hit,</strong> you may resolve the outcome of this fight. If you do, roll the challenge dice and compare to your progress. Momentum is ignored on this roll.`
        },
        {
          p: `On a <strong>strong hit,</strong> this foe is no longer in the fight. They are killed, out of action, flee, or surrender as appropriate to the situation and your intent (<em>Ask the Oracle</em> if unsure).`
        },
        {
          p: `On a <strong>weak hit,</strong> as above, but you must also choose one.`
        },
        {
          list: [
            `It’s worse than you thought: <em>Endure Harm.</em>`,
            `You are overcome: <em>Endure Stress.</em>`,
            `Your victory is short-lived: A new danger or foe appears, or an existing danger worsens.`,
            `You suffer collateral damage: Something of value is lost or broken, or someone important must pay the cost.`,
            `You’ll pay for it: An objective falls out of reach.`,
            `Others won’t forget: You are marked for vengeance.`
          ]
        },
        {
          p: `On a <strong>miss,</strong> you have lost this fight. <em>Pay the Price.</em>`
        }
      ],      
      progress: true
    },
    endure_harm: {
      title: 'Endure Harm',
      name: 'endureHarm',
      class: 'endure-harm',
      page: 'Ironsworn - page 91',
      radio: 'endure_harm',
      stat: `?{Stat|Health,@{health}|Iron,@{iron}}`,
      stat_repeat: '?{Stat}',
      system: 'ironsworn',
      content: [
        {
          p: `When <strong>you face physical damage,</strong> suffer -health equal to your foe’s rank or as appropriate to the situation. If your health is 0, suffer -momentum equal to any remaining -health.`
        },
        {
          p: `Then, roll +health or +iron, whichever is higher.`
        },
        {
          p: `On a <strong>strong hit,</strong> choose one.`
        },
        {
          list: [
            `Shake it off: If your health is greater than 0, suffer -1 momentum in exchange for +1 health.`,
            `Embrace the pain: Take +1 momentum.`
          ]
        },
        {
          p: `On a <strong>weak hit,</strong> you press on.`
        },
        {
          p: `On a <strong>miss,</strong> also suffer -1 momentum. If you are at 0 health, you must mark wounded or maimed (if currently unmarked) or roll on the oracle.`
        },
        {
          table: { group: 'suffer', name: 'endure_harm' }
        }
      ],      
      roll: true
    },
    endure_stress: {
      title: 'Endure Stress',
      name: 'endureStress',
      class: 'endure-stress',
      page: 'Ironsworn - page 95',
      radio: 'endure_stress',
      stat: `?{Stat|Spirit,@{spirit}|Heart,@{heart}}`,
      stat_repeat: '?{Stat}',
      system: 'ironsworn',
      content: [
        { 
          p: `When <strong>you face mental shock or despair,</strong> suffer -spirit equal to your foe’s rank or as appropriate to the situation. If your spirit is 0, suffer -momentum equal to any remaining -spirit.`,
        },
        {
          p: `Then, roll +spirit or +heart, whichever is higher.`,
        },
        {
          p: `On a <strong>strong hit,</strong> choose one.`,
        },
        {
          list: [
            `Shake it off: If your spirit is greater than 0, suffer -1 momentum in exchange for +1 spirit.`,
            `Embrace the darkness: Take +1 momentum.`
          ],
        },
        {
          p: `On a <strong>weak hit,</strong> you press on.`,
        },
        {
          p: `On a <strong>miss,</strong> also suffer -1 momentum. If you are at 0 spirit, you must mark shaken or corrupted (if currently unmarked) or roll on the table below.`,
        },
        {
          table: { group: 'suffer', name: 'endure_stress' }
        }
      ],      
      roll: true
    },
    enter_the_fray: {
      title: 'Enter the Fray',
      name: 'enterTheFray',
      class: 'enter-the-fray',
      page: 'Ironsworn - page 78',
      radio: 'enter_the_fray',
      stat: `?{Stat|Heart, @{heart}|Shadow, @{shadow}|Wits, @{wits}}`,
      stat_repeat: '?{Stat}',
      system: 'ironsworn',
      content: [
        { 
          p: `When <strong>you enter into combat,</strong> set the rank of each of your foes.`
        },
        {
          list: [
            `Troublesome foe: 3 progress per harm; inflicts 1 harm.`,
            `Dangerous foe: 2 progress per harm; inflicts 2 harm.`,
            `Formidable foe: 1 progress per harm; inflicts 3 harm.`,
            `Extreme foe: 2 ticks per harm; inflicts 4 harm.`,
            `Epic foe: 1 tick per harm; inflicts 5 harm.`
          ],
        },
        {
          p: `Then, roll to determine who is in control. If you are...`
        },
        {
          list: [
            `Facing off against your foe: Roll +heart.`,
            `Moving into position against an unaware foe, or striking without warning: Roll +shadow.`,
            `Ambushed: Roll +wits.`
          ]
        },
        {
          p: `On a <strong>strong hit,</strong> take +2 momentum. You have initiative.`
        },
        {
          p: `On a <strong>weak hit,</strong> choose one.`
        },
        {
          list: [
            `Bolster your position: Take +2 momentum.`,
            `Prepare to act: Take initiative.`
          ]
        },
        {
          p: `On a <strong>miss,</strong> combat begins with you at a disadvantage. <em>Pay the Price.</em> Your foe has initiative.`
        }
      ],      
      roll: true
    },
    escape_the_depths: {
      title: 'Escape the Depths',
      name: 'escapeTheDepths',
      class: 'escape-the-depths',
      page: 'Delve - page 42',
      radio: 'escape_the_depths',
      stat: `?{Stat|Edge,@{edge}|Heart,@{heart}|Iron,@{iron}|Wits,@{wits}|Shadow,@{shadow}}`,
      stat_repeat: '?{Stat}',
      system: 'delve',
      content: [
        { 
          p: `When <strong>you flee or withdraw from a site,</strong> consider the situation and your approach. If you...`
        },
        {
          list: [
            `Find the fastest way out: Roll +edge.`,
            `Steel yourself against the horrors of this place: Roll +heart.`,
            `Fight your way out: Roll +iron.`,
            `Retrace your steps or locate an alternate path: Roll +wits.`,
            `Keep out of sight: Roll +shadow.`
          ],
        },
        {
          p: `On a <strong>strong hit,</strong> you make your way safely out of the site. Take +1 momentum.`
        },
        {
          p: `On a <strong>weak hit,</strong> you find your way out, but this place exacts its price. Choose one.`
        },
        {
          list: [
            `You are weary or wounded: <em>Endure Harm.</em>`,
            `The experience leaves you shaken: <em>Endure Stress.</em>`,
            `You are delayed, and it costs you.`,
            `You leave behind something important.`,
            `You face a new complication as you emerge from the depths.`,
            `A denizen plots their revenge.`
          ]
        },
        {
          p: `On a <strong>miss,</strong> a dire threat or imposing obstacle stands in your way. <em>Reveal a Danger.</em> If you survive, you may make your escape.`
        }
      ],      
      roll: true
    },
    face_a_setback: {
      title: 'Face a Setback',
      name: 'faceASetback',
      class: 'face-a-setback',
      page: 'Ironsworn - page 97',
      system: 'ironsworn',
      content: [
        { 
          p: `When <strong>your momentum is at its minimum</strong> (-6), and you suffer additional -momentum, choose one.` 
        },
        { 
          list: [
            `Exchange each additional -momentum for any combination of -health, -spirit, or -supply as appropriate to the circumstances.`,
            `Envision an event or discovery (<em>Ask the Oracle</em> if unsure) which undermines your progress in a current quest, journey or fight. Then, for each additional -momentum, clear 1 unit of progress on that track per its rank (troublesome=clear 3 progress; dangerous=clear 2 progress; formidable=clear 1 progress; extreme=clear 2 ticks; epic=clear 1 tick).`
          ] 
        }
      ],      
      radio: 'face_a_setback',
      no_quick_roll: true
    },
    face_danger: {
      title: 'Face Danger',
      name: 'faceDanger',
      class: 'face-danger',
      page: 'Ironsworn - page 60',
      radio: 'face_danger',
      stat: `?{Stat|Edge&#44;@{edge}|Iron&#44;@{iron}|Heart&#44;@{heart}|Shadow&#44;@{shadow}|Wits&#44;@{wits}|Essence - Invoke&#44;?{Essence&amp;#124;0&amp;#125;&#125;`,
      stat_repeat: '?{Stat}',
      system: 'ironsworn',
      content: [
        {
          p: `When <strong>you attempt something risky or react to an imminent threat,</strong> envision your action and roll. If you act...`
        },
        {
          list: [
            `With speed, agility, or precision: Roll +edge.`,
            `With charm, loyalty, or courage: Roll +heart.`,
            `With aggressive action, forceful defense, strength, or endurance: Roll +iron.`,
            `With deception, stealth, or trickery: Roll +shadow.`,
            `With expertise, insight, or observation: Roll +wits.`
          ]
        },
        {
          p: `On a <strong>strong hit,</strong> you are successful. Take +1 momentum.`
        },
        {
          p: `On a <strong>weak hit,</strong> you succeed, but face a troublesome cost. Choose one.`
        },
        {
          list: [
            `You are delayed, lose advantage, or face a new danger: Suffer -1 momentum.`,
            `You are tired or hurt: <em>Endure Harm</em> (1 harm).`,
            `You are dispirited or afraid: <em>Endure Stress</em> (1 stress).`,
            `You sacrifice resources: Suffer -1 supply.`
          ]
        },
        {
          p: `On a <strong>miss,</strong> you fail, or your progress is undermined by a dramatic and costly turn of events. <em>Pay the Price.</em>`
        }
      ],      
      roll: true
    },
    face_death: {
      title: 'Face Death',
      name: 'faceDeath',
      class: 'face-death',
      page: 'Ironsworn - page 93',
      radio: 'face_death',
      stat: `?{Stat|Heart,@{heart}|Shadow - Shadow-kin,@{shadow}}`,
      stat_repeat: '?{Stat}',
      roll: true,
      system: 'ironsworn',
      content: [
        { 
          p: `When <strong>you are brought to the brink of death,</strong> and glimpse the world beyond, roll +heart.`
        },
        {
          p: `On a <strong>strong hit,</strong> death rejects you. You are cast back into the mortal world.`
        },
        {
          p: `On a <strong>weak hit,</strong> choose one.`
        },
        {
          list: [
            `You die, but not before making a noble sacrifice. Envision your final moments.`,
            `Death desires something of you in exchange for your life. Envision what it wants (<em>Ask the Oracle</em> if unsure), and <em>Swear an Iron Vow</em> (formidable or extreme) to complete that quest. If you fail to score a hit when you <em>Swear an Iron Vow,</em> or refuse the quest, you are dead. Otherwise, you return to the mortal world and are now cursed. You may only clear the cursed debility by completing the quest.`
          ]
        },
        {
          p: `On a <strong>miss,</strong> you are dead.`
        }
      ],      
      owl: true
    },
    face_desolation: {
      title: 'Face Desolation',
      name: 'faceDesolation',
      class: 'face-desolation',
      page: 'Ironsworn - page 96',
      radio: 'face_desolation',
      stat: `@{heart}`,
      stat_repeat: '@{heart}',
      system: 'ironsworn',
      content: [
        { 
          p: `When <strong>you are brought to the brink of desolation,</strong> roll +heart.`
        },
        {
          p: `On a <strong>strong hit,</strong> you resist and press on.`
        },
        {
          p: `On a <strong>weak hit,</strong> choose one.`
        },
        {
          list: [
            `Your spirit or sanity breaks, but not before you make a noble sacrifice. Envision your final moments.`,
            `You see a vision of a dreaded event coming to pass. Envision that dark future (<em>Ask the Oracle</em> if unsure), and <em>Swear an Iron Vow</em> (formidable or extreme) to prevent it. If you fail to score a hit when you <em>Swear an Iron Vow,</em> or refuse the quest, you are lost. Otherwise, you return to your senses and are now tormented. You may only clear the tormented debility by completing the quest.`
          ]
        },
        {
          p: `On a <strong>miss,</strong> you succumb to despair or horror and are lost.`
        }
      ],      
      roll: true
    },
    find_an_opportunity: {
      title: 'Find an Opportunity',
      name: 'findAnOpportunity',
      class: 'find-an-opportunity',
      page: 'Delve - page 30',
      system: 'delve',
      content: [
        { 
          p: `When <strong>you encounter a helpful situation or feature within a site,</strong> roll on the following table. If you are making this move as a result of a strong hit on <em>Delve the Depths,</em> you may pick or envision an opportunity instead of rolling.`
        },
        {
          p: `Then, choose one.`
        },
        {
          list: [
            `Gain insight or prepare: Take +1 momentum.`,
            `Take action now: You and any allies may make a move (not a progress move) which directly leverages the opportunity. When you do, add +1 and take +1 momentum on a hit.`
          ]
        },
        {
          table: { group: 'sites', name: 'find_an_opportunity' }
        }
      ],      
      radio: 'find_an_opportunity'
    },
    forge_a_bond: {
      title: 'Forge a Bond',
      name: 'forgeABond',
      class: 'forge-a-bond',
      page: 'Ironsworn - page 74',
      radio: 'forge_a_bond',
      stat: `?{Stat|Heart,@{heart}|Shadow - Trickster,@{shadow}}`,
      stat_repeat: '?{Stat}',
      system: 'ironsworn',
      content: [
        { 
          p: `When <strong>you spend significant time with a person or community, stand together to face hardships, or make sacrifices for their cause,</strong> you can attempt to create a bond. When you do, roll +heart. If you make this move after you successfully <em>Fulfill Your Vow</em> to their benefit, you may reroll any dice.`
        },
        {
          p: `On a <strong>strong hit,</strong> make note of the bond, mark a tick on your bond progress track, and choose one.`
        },
        {
          list: [
            `Take +1 spirit.`,
            `Take +2 momentum.`
          ]
        },
        {
          p: `On a <strong>weak hit,</strong> they ask something more of you first. Envision what it is (<em>Ask the Oracle</em> if unsure), do it (or <em>Swear an Iron Vow</em>), and mark the bond. If you refuse or fail, <em>Pay the Price.</em>`
        },
        {
          p: `On a <strong>miss,</strong> they reject you. <em>Pay the Price.</em>`
        }
      ],      
      roll: true
    },
    forsake_your_vow: {
      title: 'Forsake Your Vow',
      name: 'forsakeYourVow',
      class: 'forsake-your-vow',
      page: 'Ironsworn - page 102',
      system: 'ironsworn',
      content: [
        { 
          p: `When <strong>you renounce your quest, betray your promise, or the goal is lost to you,</strong> clear the vow and Endure Stress. You suffer -spirit equal to the rank of your quest (troublesome=1; dangerous=2; formidable=3; extreme=4; epic=5). If the vow was made to a person or community with whom you share a bond, <em>Test Your Bond</em> when you next meet.` 
        }
      ],      
      radio: 'forsake_your_vow',
      no_quick_roll: true
    },
    fulfill_your_vow: {
      title: 'Fulfill Your Vow',
      name: 'fulfillYourVow',
      class: 'fulfill-your-vow',
      page: 'Ironsworn - page 101 ',
      radio: 'fulfill_your_vow',
      roll: true,
      system: 'ironsworn',
      content: [
        { 
          p: `<strong><em>Progress Move</em></strong>`,
        },
        {
          p: `When <strong>you achieve what you believe to be the fulfillment of your vow,</strong> roll the challenge dice and compare to your progress. Momentum is ignored on this roll.`
        },
        {
          p: `On a <strong>strong hit,</strong> your quest is complete. Mark experience (troublesome=1; dangerous=2; formidable=3; extreme=4; epic=5).`
        },
        {
          p: `On a <strong>weak hit,</strong> there is more to be done or you realize the truth of your quest. Envision what you discover (<em>Ask the Oracle</em> if unsure). Then, mark experience (troublesome=0; dangerous=1; formidable=2; extreme=3; epic=4). You may <em>Swear an Iron Vow</em> to set things right. If you do, add +1.`
        },
        {
          p: `On a <strong>miss,</strong> your quest is undone. Envision what happens (<em>Ask the Oracle</em> if unsure), and choose one.`
        },
        {
          list: [
            `You recommit: Clear all but one filled progress, and raise the quest’s rank by one (if not already epic).`,
            `You give up: Forsake Your Vow.`
          ]
        }
      ],      
      progress: true
    },
    gather_information: {
      title: 'Gather Information',
      name: 'gatherInformation',
      class: 'gather-information',
      page: 'Ironsworn - page 62',
      radio: 'gather_information',
      stat: `?{Stat|Wits,@{wits}|Shadow - Infiltrator/Trickster/Scry,@{shadow}}`,
      stat_repeat: '?{Stat}',
      system: 'ironsworn',
      content: [
        { 
          p: `When <strong>you search an area, ask questions, conduct an investigation, or follow a track,</strong> roll +wits. If you act within a community or ask questions of a person with whom you share a bond, add +1.`
        },
        {
          p: `On a <strong>strong hit,</strong> you discover something helpful and specific. The path you must follow or action you must take to make progress is made clear. Envision what you learn (<em>Ask the Oracle</em> if unsure), and take +2 momentum.`
        },
        {
          p: `On a <strong>weak hit,</strong> the information complicates your quest or introduces a new danger. Envision what you discover (<em>Ask the Oracle</em> if unsure), and take +1 momentum.`
        },
        {
          p: `On a <strong>miss,</strong> your investigation unearths a dire threat or reveals an unwelcome truth that undermines your quest. <em>Pay the Price.</em>`
        }
      ],      
      roll: true
    },
    heal: {
      title: 'Heal',
      name: 'heal',
      class: 'heal',
      page: 'Ironsworn - page 62',
      radio: 'heal',
      stat: `?{Stat|Wits,@{wits}|Iron,@{iron}}`,
      stat_repeat: '?{Stat}',
      system: 'ironsworn',
      content: [
        { 
          p: `When <strong>you treat an injury or ailment,</strong> roll +wits. If you are mending your own wounds, roll +wits or +iron, whichever is lower.`
        },
        {
          p: `On a <strong>strong hit,</strong> your care is helpful. If you (or the ally under your care) have the wounded condition, you may clear it. Then, take or give up to +2 health.`
        },
        {
          p: `On a <strong>weak hit,</strong> as above, but you must suffer -1 supply or -1 momentum (your choice).`
        },
        {
          p: `On a <strong>miss,</strong> your aid is ineffective. <em>Pay the Price.</em>`
        }
      ],      
      roll: true
    },
    learn_from_your_failures: {
      title: 'Learn From Your Failures',
      name: 'learnFromYourFailures',
      class: 'learn-from-your-failures',
      page: 'Delve - page 59',
      radio: 'learn_from_your_failures',
      roll: true,
      system: 'delve',
      content: [
        { 
          p: `<strong><em>Progress Move</em></strong>`
        },
        {
          p: `When <strong>you spend time reflecting on your hardships and missteps,</strong> and your failure track is +6 or greater, roll your challenge dice and compare to your progress. Momentum is ignored on this roll.`
        },
        {
          p: `On a <strong>strong hit,</strong> you commit to making a dramatic change. Take 3 experience and clear all progress. Then, choose one.`
        },
        { 
          list: [
            `Adjust your approach: Discard a single asset, and take 2 experience for each marked ability.`,
            `Make an oath: <em>Swear an Iron Vow,</em> and reroll any dice.`,
            `Ready your next steps: Take +3 momentum.`
          ],
        },
        {
          p: `On a <strong>weak hit</strong>, you learn from your mistakes. Take 2 experience and clear all progress.`
        },
        {
          p: `On a <strong>miss</strong>, you’ve learned the wrong lessons. Take 1 experience and clear all progress. Then, envision how you set off on an ill-fated path.`
        }
      ],      
      progress: true
    },
    locate_your_objective: {
      title: 'Locate Your Objective',
      name: 'locateYourObjective',
      class: 'locate-your-objective',
      page: 'Delve - page 40',
      radio: 'locate_your_objective',
      roll: true,
      system: 'delve',
      content: [
        { 
          p: `<strong><em>Progress Move</em></strong>` 
        },
        { 
          p: `When <strong>your exploration of a site comes to an end,</strong> roll the challenge dice and compare to your progress. Momentum is ignored on this roll.` 
        },
        { 
          p: `On a <strong>strong hit,</strong> you locate your objective and the situation favors you. Choose one.` 
        },
        { 
          list: [
            `Make another move now (not a progress move), and add +1.`,
            `Take +1 momentum.`
          ]
        },
        { 
          p: `On a <strong>weak hit,</strong> you locate your objective but face an unforeseen hazard or complication. Envision what you find (Ask the Oracle if unsure).` 
        },
        { 
          p: `On a <strong>miss,</strong> your objective falls out of reach, you have been misled about the nature of your objective, or you discover that this site holds unexpected depths. If you continue your exploration, clear all but one filled progress and raise the site’s rank by one (if not already epic).` 
        }
      ],      
      progress: true
    },
    make_camp: {
      title: 'Make Camp',
      name: 'makeCamp',
      class: 'make-camp',
      page: 'Ironsworn - page 64',
      radio: 'make_camp',
      stat: `?{Stat|Supply&#44;@{supply}|Wits - Wildblood&#44;@{wits}|Health - Mammoth&#44;?{Mammoth's Health&amp;#124;0&amp;#125;&#125;`,
      stat_repeat: '?{Stat}',
      system: 'ironsworn',
      content: [
        { 
          p: `When <strong>you rest and recover for several hours in the wild,</strong> roll +supply.` 
        },
        { 
          p: `On a <strong>strong hit,</strong> you and your allies may each choose two.` 
        },
        { 
          p: `On a <strong>weak hit,</strong> choose one.` 
        },
        { 
          list: [
            `Recuperate: Take +1 health for you and any companions.`,
            `Partake: Suffer -1 supply and take +1 health for you and any companions.`,
            `Relax: Take +1 spirit.`,
            `Focus: Take +1 momentum.`,
            `Prepare: When you break camp, add +1 if you <em>Undertake a Journey.</em>`
          ]
        },
        { 
          p: `On a <strong>miss,</strong> you take no comfort. <em>Pay the Price.</em>` 
        }
      ],      
      roll: true
    },
    mark_your_failure: {
      title: 'Mark Your Failure',
      name: 'markYourFailure',
      class: 'mark-your-failure',
      page: 'Delve - page 58',
      system: 'delve',
      content: [
        { 
          p: `When you <strong>make a move and score a miss,</strong> mark a tick on your failure track. If <strong>you score a miss when making a progress move,</strong> mark two ticks.` 
        }
      ],      
      radio: 'mark_your_failure',
      no_quick_roll: true
    },
    out_of_supply: {
      title: 'Out of Supply',
      name: 'outOfSupply',
      class: 'out-of-supply',
      page: 'Ironsworn - page 97',
      system: 'ironsworn',
      content: [
        { 
          p: `When your <strong>supply is exhausted</strong> (reduced to 0), mark unprepared. If you suffer additional -supply while unprepared, you must exchange each additional -supply for any combination of -health, -spirit or -momentum as appropriate to the circumstances.` 
        }
      ],      
      radio: 'out_of_supply',
      no_quick_roll: true
    },
    pay_the_price: {
      title: 'Pay the Price',
      name: 'payThePrice',
      class: 'pay-the-price',
      page: 'Ironsworn - page 105',
      system: 'ironsworn',
      content: [
        { 
          p: `When <strong>you suffer the outcome of a move,</strong> choose one.` 
        },
        { 
          list: [
            `Make the most obvious negative outcome happen.`,
            `Envision two negative outcomes. Rate one as ‘likely’, and <em>Ask the Oracle</em> using the yes/no table. On a ‘yes’, make that outcome happen. Otherwise, make it the other.`,
            `Roll on the table below. If you have difficulty interpreting the result to fit the current situation, roll again.`
          ]
        },
        {
          table: { group: 'fate', name: 'pay_the_price' }
        }
      ],      
      radio: 'pay_the_price',
      no_quick_roll: true
    },
    reach_a_milestone: {
      title: 'Reach a Milestone',
      name: 'reachAMilestone',
      class: 'reach-a-milestone',
      page: 'Ironsworn - page 100',
      system: 'ironsworn',
      content: [
        { 
          p: `When <strong>you make significant progress in your quest</strong> by overcoming a critical obstacle, completing a perilous journey, solving a complex mystery, defeating a powerful threat, gaining vital support, or acquiring a crucial item, you may mark progress.` 
        },
        { 
          list: [
            `Troublesome quest: Mark 3 progress.`,
            `Dangerous quest: Mark 2 progress.`,
            `Formidable quest: Mark 1 progress.`,
            `Extreme quest: Mark 2 ticks.`,
            `Epic quest: Mark 1 tick.`
          ]
        }
      ],      
      radio: 'reach_a_milestone',
      no_quick_roll: true
    },
    reach_your_destination: {
      title: 'Reach Your Destination',
      name: 'reachYourDestination',
      class: 'reach-your-destination',
      page: 'Ironsworn - page X',
      radio: 'reach_your_destination',
      roll: true,
      system: 'ironsworn',
      content: [
        { 
          p: `<strong><em>Progress Move</em></strong>` 
        },
        { 
          p: `When <strong>your journey comes to an end,</strong> roll the challenge dice and compare to your progress. Momentum is ignored on this roll.` 
        },
        { 
          p: `On a <strong>strong hit,</strong> the situation at your destination favors you. Choose one.` 
        },
        { 
          list: [
            `Make another move now (not a progress move), and add +1.`,
            `Take +1 momentum.`
          ] 
        },
        { 
          p: `On a <strong>weak hit,</strong> you arrive but face an unforeseen hazard or complication. Envision what you find (<em>Ask the Oracle</em> if unsure).` 
        },
        { 
          p: `On a <strong>miss,</strong> you have gone hopelessly astray, your objective is lost to you, or you were misled about your destination. If your journey continues, clear all but one filled progress, and raise the journey’s rank by one (if not already epic).` 
        }
      ],      
      progress: true
    },
    resupply: {
      title: 'Resupply',
      name: 'resupply',
      class: 'resupply',
      page: 'Ironsworn - page 63',
      radio: 'resupply',
      stat: `?{Stat|Wits,@{wits}|Edge - Cave Lion,@{edge}|Shadow - Infiltrator,@{shadow}}`,
      stat_repeat: '?{Stat}',
      system: 'ironsworn',
      content: [
        { 
          p: `When <strong>you hunt, forage, or scavenge,</strong> roll +wits.` 
        },
        { 
          p: `On a <strong>strong hit,</strong> you bolster your resources. Take +2 supply.` 
        },
        { 
          p: `On a <strong>weak hit,</strong> take up to +2 supply, but suffer -1 momentum for each.` 
        },
        { 
          p: `On a <strong>miss,</strong> you find nothing helpful. <em>Pay the Price.</em>` 
        }
      ],      
      roll: true
    },
    reveal_a_danger: {
      title: 'Reveal a Danger',
      name: 'revealADanger',
      class: 'reveal-a-danger',
      page: 'Delve - page 34',
      system: 'delve',
      content: [
        { 
          p: `When <strong>you encounter a risky situation within a site,</strong> envision the danger or roll on the following table.` 
        },
        {
          table: { group: 'sites', name: 'reveal_a_danger' }
        }
      ],      
      radio: 'reveal_a_danger',
      no_quick_roll: true
    },
    reveal_a_danger_alt: {
      title: 'Reveal a Danger - Alt',
      name: 'revealADangerAlt',
      class: 'reveal-a-danger-alt',
      page: 'Delve - page 68',
      system: 'delve',
      content: [
        { 
          p: `When <strong>you encounter a risky situation within a site,</strong> envision the danger or roll on the following table.` 
        },
        {
          table: { group: 'sites', name: 'reveal_a_danger_alt' }
        }
      ],      
      radio: 'reveal_a_danger_alt',
      no_quick_roll: true
    },
    secure_an_advantage: {
      title: 'Secure an Advantage',
      name: 'secureAnAdvantage',
      class: 'secure-an-advantage',
      page: 'Ironsworn - page 61',
      radio: 'secure_an_advantage',
      stat: `?{Stat|Edge&#44;@{edge}|Iron&#44;@{iron}|Heart&#44;@{heart}|Shadow&#44;@{shadow}|Wits&#44;@{wits}|God's Stat - Devotant&#44;?{God's Stat&amp;#124;0&amp;#125;|Essence - Invoke&#44;?{Essence&amp;#124;0&amp;#125;&#125;`,
      stat_repeat: '?{Stat}',
      system: 'ironsworn',
      content: [
        { 
          p: `When <strong>you assess a situation, make preparations, or attempt to gain leverage,</strong> envision your action and roll. If you act...` 
        },
        { 
          list: [
            `With speed, agility, or precision: Roll +edge.`,
            `With charm, loyalty, or courage: Roll +heart.`,
            `With aggressive action, forceful defense, strength, or endurance: Roll +iron.`,
            `With deception, stealth, or trickery: Roll +shadow.`,
            `With expertise, insight, or observation: Roll +wits.`
          ]
        },
        { 
          p: `On a <strong>strong hit,</strong> you gain advantage. Choose one.` 
        },
        { 
          list: [
            `Take control: Make another move now (not a progress move), and add +1.`,
            `Prepare to act: Take +2 momentum.`
          ] 
        },
        { 
          p: `On a <strong>weak hit,</strong> your advantage is short-lived. Take +1 momentum.` 
        },
        { 
          p: `On a <strong>miss,</strong> you fail or your assumptions betray you. <em>Pay the Price.</em>` 
        }
      ],      
      roll: true
    },
    sojourn: {
      title: 'Sojourn',
      name: 'sojourn',
      class: 'sojourn',
      page: 'Ironsworn - page 71',
      radio: 'sojourn',
      stat: `?{Stat|Heart&#44;@{heart}|Shadow - Pretender&#44;@{shadow}|God's Stat - Devotant&#44;?{God's Stat&amp;#124;0&amp;#125;&#125;`,
      stat_repeat: '?{Stat}',
      system: 'ironsworn',
      content: [
        { 
          p: `When <strong>you spend time in a community seeking assistance,</strong> roll +heart. If you share a bond, add +1.`
        },
        { 
          p: `On <strong>strong hit,</strong> you and your allies may each choose two from within the categories below. On a <strong>weak hit,</strong> choose one. If you share a bond, choose one more.`
        },
        { 
          p: `On a hit, you and your allies may each focus on one of your chosen recover actions and roll +heart again. If you share a bond, add +1. On a <strong>strong hit,</strong> take +2 more for that action. On a <strong>weak hit,</strong> take +1 more. On a <strong>miss,</strong> it goes badly and you lose all benefits for that action.` 
        },
        { 
          h6: `Clear a Condition` 
        },
        {
          list: [
            `Mend: Clear a wounded debility and take +1 health.`,
            `Hearten: Clear a shaken debility and take +1 spirit.`,
            `Equip: Clear an unprepared debility and take +1 supply.`
          ]
        },
        { 
          h6: `Recover`
        },
        {
          list: [
            `Recuperate: Take +2 health for yourself and any companions.`,
            `Consort: Take +2 spirit.`,
            `Provision: Take +2 supply.`,
            `Plan: Take +2 momentum.`
          ]
        },
        { 
          h6: `Provide Aid`
        },
        {
          list: [
            `Take a quest: Envision what this community needs, or what trouble it is facing (<em>Ask the Oracle</em> if unsure). If you chose to help, <em>Swear an Iron Vow</em> and add +1.`
          ]
        },
        {
          p: `On a <strong>miss,</strong> you find no help here. <em>Pay the Price.</em>`
        }
      ],      
      roll: true
    },
    strike: {
      title: 'Strike',
      name: 'strike',
      class: 'strike',
      page: 'Ironsworn - page 79',
      radio: 'strike',
      stat: `?{Stat|Edge&#44;@{edge}|Iron&#44;@{iron}|Light - Lightbearer&#44;?{Light&amp;#124;0&amp;#125;&#125;`,
      stat_repeat: '?{Stat}',
      system: 'ironsworn',
      content: [
        { 
          p: `When <strong>you have initiative and attack in close quarters,</strong> roll +iron. When you have initiative and attack at range, roll +edge.` 
        },
        { 
          p: `On a <strong>strong hit,</strong> inflict +1 harm. You retain initiative.` 
        },
        { 
          p: `On a <strong>weak hit,</strong> inflict your harm and lose initiative.` 
        },
        { 
          p: `On a <strong>miss,</strong> your attack fails and you must <em>Pay the Price.</em> Your foe has initiative.` 
        }
      ],      
      roll: true
    },
    swear_an_iron_vow: {
      title: 'Swear an Iron Vow',
      name: 'swearAnIronVow',
      class: 'swear-an-iron-vow',
      page: 'Ironsworn - page 98',
      radio: 'swear_an_iron_vow',
      stat: `?{Stat|Heart&#44;@{heart}|God's Stat - Devotant&#44;?{God's Stat&amp;#124;0&amp;#125;&#125;`,
      stat_repeat: '?{Stat}',
      system: 'ironsworn',
      content: [
        { 
          p: `When <strong>you swear upon iron to complete a quest,</strong> write your vow and give the quest a rank. Then, roll +heart. If you make this vow to a person or community with whom you share a bond, add +1.` 
        },
        { 
          p: `On a <strong>strong hit,</strong> you are emboldened and it is clear what you must do next (Ask the Oracle if unsure). Take +2 momentum.` 
        },
        { 
          p: `On a <strong>weak hit,</strong> you are determined but begin your quest with more questions than answers. Take +1 momentum, and envision what you do to find a path forward.` 
        },
        { 
          p: `On a <strong>miss,</strong> you face a significant obstacle before you can begin your quest. Envision what stands in your way (Ask the Oracle if unsure), and choose one.` 
        },
        { 
          list: [
            `You press on: Suffer -2 momentum, and do what you must to overcome this obstacle.`,
            `You give up: Forsake Your Vow.`
          ]
        }
      ],      
      roll: true
    },
    take_a_hiatus: {
      title: 'Take a Hiatus',
      name: 'takeAHiatus',
      class: 'take-a-hiatus',
      page: 'Delve - page 158',
      system: 'delve',
      content: [
        { 
          p: `When <strong>you spend an extended time recovering in a safe place while a threat is active,</strong> do any of the following.` 
        },
        { 
          list: [
            `Clear any marked conditions.`,
            `Set your health, spirit, supply, and companion health to their maximum values.`,
            `Set your momentum to its reset value.`
          ] 
        },
        { 
          p: `Then, for each active threat, <em>Advance a Threat.</em>` 
        }
      ],      
      radio: 'take_a_hiatus',
      no_quick_roll: true
    },
    test_your_bond: {
      title: 'Test Your Bond',
      name: 'testYourBond',
      class: 'test-your-bond',
      page: 'Ironsworn - page 75',
      radio: 'test_your_bond',
      stat: `@{heart}`,
      stat_repeat: '@{heart}',
      system: 'ironsworn',
      content: [
        { 
          p: `When <strong>your bond is tested through conflict, betrayal, or circumstance,</strong> roll +heart.` 
        },
        { 
          p: `On a <strong>strong hit,</strong> this test has strengthened your bond. Choose one.` 
        },
        { 
          list: [
            `Take +1 spirit.`,
            `Take +2 momentum.`
          ]
        },
        { 
          p: `On a <strong>weak hit,</strong> your bond is fragile and you must prove your loyalty. Envision what they ask of you (<em>Ask the Oracle</em> if unsure), and do it (or <em>Swear an Iron Vow</em>). If you refuse or fail, clear the bond and <em>Pay the Price.</em>` 
        },
        { 
          p: `On a <strong>miss,</strong> or if you have no interest in maintaining this relationship, clear the bond and <em>Pay the Price.</em>` 
        }
      ],      
      roll: true
    },
    turn_the_tide: {
      title: 'Turn the Tide',
      name: 'turnTheTide',
      class: 'turn-the-tide',
      page: 'Ironsworn - page 81',
      system: 'ironsworn',
      content: [
        { 
          p: `Once per fight, when <strong>you risk it all,</strong> you may steal initiative from your foe to make a move (not a progress move). When you do, add +1 and take +1 momentum on a hit.` 
        },
        { 
          p: `If you fail to score a hit on that move, you must suffer a dire outcome. <em>Pay the Price.` 
        }
      ],      
      radio: 'turn_the_tide',
      no_quick_roll: true
    },
    undertake_a_journey: {
      title: 'Undertake a Journey',
      name: 'undertakeAJourney',
      class: 'undertake-a-journey',
      page: 'Ironsworn - page 65',
      radio: 'undertake_a_journey',
      stat: `?{Stat|Wits,@{wits}|Shadow - Shadow-walk,@{shadow}|Spirit or Heart - Tether&#44;?{Tether Stat&amp;#124;Spirit&amp;#44;@{spirit}&amp;#124;Heart&amp;#44;@{heart}&amp;#125;&#125;`,
      stat_repeat: '?{Stat}',
      system: 'ironsworn',
      content: [
        { 
          p: `When <strong>you travel across hazardous or unfamiliar lands,</strong> set the rank of your journey.` 
        },
        { 
          list: [
            `Troublesome journey: 3 progress per waypoint.`,
            `Dangerous journey: 2 progress per waypoint.`,
            `Formidable journey: 1 progress per waypoint.`,
            `Extreme journey: 2 ticks per waypoint.`,
            `Epic journey: 1 tick per waypoint.`
          ] 
        },
        { 
          p: `Then, for each segment of your journey, roll +wits. If you are setting off from a community with which you share a bond, add +1 to your initial roll.` 
        },
        { 
          p: `On a <strong>strong hit,</strong> you reach a waypoint. If the waypoint is unknown to you, envision it (<em>Ask the Oracle</em> if unsure). Then, choose one.` 
        },
        { 
          list: [
            `You make good use of your resources: Mark progress.`,
            `You move at speed: Mark progress and take +1 momentum, but suffer -1 supply.`
          ] 
        },
        { 
          p: `On a <strong>weak hit,</strong> you reach a waypoint and mark progress, but suffer -1 supply.` 
        },
        { 
          p: `On a <strong>miss,</strong> you are waylaid by a perilous event. <em>Pay the Price.</em>` 
        }
      ],      
      roll: true
    },
    wield_a_rarity: {
      title: 'Wield A Rarity',
      name: 'wieldARairty',
      class: 'wield-a-rarity',
      page: 'Delve - page 176',
      radio: 'wield_a_rarity',
      stat: `?{Stat|Edge,@{edge}|Iron,@{iron}|Heart,@{heart}|Shadow,@{shadow}|Wits,@{wits}}`,
      stat_repeat: '?{Stat}',
      roll: true,
      system: 'delve',
      content: [
        { 
          p: `When <strong>you make a move aided by an augmented asset,</strong> roll your rarity die in place of your action die.` 
        },
        { 
          p: `On <strong>any result</strong> with 6 showing on the rarity die, the power of the rarity manifests in a dramatic and obvious way. You score an automatic strong hit and take +1 momentum.` 
        },
        { 
          p: `On a <strong>hit</strong> with 5 showing on the rarity die, the power of the rarity manifests in a subtle way. Take +1 momentum.` 
        },
        { 
          p: `On a <strong>miss</strong> with 1 showing on the rarity die, the rarity’s power fails or works against you.` 
        }
      ],      
      rarity: true
    },
    write_your_epilogue: {
      title: 'Write Your Epilogue',
      name: 'writeYourEpilogue',
      class: 'write-your-epilogue',
      page: 'Ironsworn - page 77',
      radio: 'write_your_epilogue',
      roll: true,
      system: 'ironsworn',
      content: [
        { 
          p: `<strong><em>Progress Move</em></strong>` 
        },
        { 
          p: `When <strong>you retire from your life as Ironsworn,</strong> envision two things: What you hope for, and what you fear. Then, roll the challenge dice and compare to your bonds. Momentum is ignored on this roll.` 
        },
        { 
          p: `On a <strong>strong hit,</strong> things come to pass as you hoped.` 
        },
        { 
          p: `On a <strong>weak hit,</strong> your life takes an unexpected turn, but not necessarily for the worse. You find yourself spending your days with someone or in a place you did not foresee. Envision it (<em>Ask the Oracle</em> if unsure).` 
        },
        { 
          p: `On a <strong>miss,</strong> your fears are realized.` 
        }
      ],      
      progress: true
    },
  }