


.container
  .row

    .col
      // header
      div header info

    .col
      // navbar
      div navbar

    .col
      div origin radios

    .col-4
      div name
    .col-4
      div nickname
    .col-4.rowspan-4
      div origin benefit (row span 4)

    .col-3
      div xp
    .col-5
      div background

    .col-3
      div past allegiance
    .col-5
      div trait

    .col-3
      div drive
    .col-5.rowspan-2
      div looks (row span 2)

    .col-3.rowspan-3
      div ability (row span 3)
    .col-4.rowspan-3
      div portrait (row span 3)


    .col-5
      div defense rating

    .col-5
      div hit points

.font-h1="font-h1"
.font-h2="font-h2"
.font-h3="font-h3"
.font-h4="font-h4"
.font-h5="font-h5"
.font-h6="font-h6"
.font-xl="font-xl"
.font-l="font-l"
.font-m="font-m"
.font-s="font-s"
.font-xs="font-xs"
