- const { attitude } = data.character;
+blob({ name: 'attitude', title: 'Attitude' })
  +block('content')
    - const [boosts, kicks] = attitude.fields;
    - const four = Array.from(Array(4).keys(), (i) => i + 1);

    +field(attitude.subtitle)

    +field(boosts)
    +field(kicks)
    .attitude__clickies
      each index in four
        - const field = { ...boosts };
        - field.type = 'checkbox';
        - field.name = `${field.name}_${index}`;
        label.attitude__boost(class=`attitude__boost--${index}`)
          +field(field)
          span.visually-hidden(data-i18n=field.name)= field.label + ' ' + index

      each index in four
        - const field = { ...kicks };
        - field.type = 'checkbox';
        - field.name = `${field.name}_${index}`;
        label.attitude__kick(class=`attitude__kick--${index}`)
          +field(field)
          span.visually-hidden(data-i18n=field.name)= field.label + ' ' + index
