- const { components } = data.signature;
+blob({ name: 'components', title: 'Components' })
  +block('content')
    - const three = Array.from(Array(4).keys(), (i) => i);

    each component in components
      .components__component(class=`components__component--${component.name}`)
        label.components__component--header(data-i18n=component.name)= component.label
        .components__component--track
          +hidden(component.name).component__value
          each index in three
            - const field = { ...component, value: index };
            label.component__checkbox(class=`component__checkbox--${index}`)
              +field(field)
              span.visually-hidden(data-i18n=`${component.name}_${index}`)= `${index} ${component.label}`
