- const { dicetray } = data.character;
+panel({ name: 'dicetray', title: 'Dice Tray', static: true })
  +block('content')
    - const { hidden, actions, fields } = dicetray;
    .dicetray__actions
      each action in actions
        +action(action)

    +editorblock('dicetray')
      +block('edit')
        .row.dicetray__edit
          each field in hidden
            +field(field)
          each field in fields
            - const hideLabel = ['dicetray_check', 'dicetray_name'].includes(field.name);
            - const divClass = field.span ? `col-${field.span}` : '';
            - const labelClass = hideLabel ? 'visually-hidden' : null;
            .dicetray__field(class=`${field.name} ${divClass}`)
              if field.type === "checkbox"
                label(class=labelClass, for=field.name)
                  +field(field)
                  span(data-i18n=field.name)= field.label

              else
                +field(field).checkbox--scribble
                label(class=labelClass, data-i18n=field.name, for=field.name)= field.label

      //- +block('view')
        .dicetray__view
          label.dicetray__check
            +field(check).checkbox--scribble
            +span(name).dicetray__name
          +span(desc)
