+panel({ name: 'signature' })
  - const { hidden, signature, custom, fields } = data.signature;
  +block('header')
    each field in hidden
      +hidden(field)
    +span(signature).signature__title
    +span(custom).signature__title--custom
  +block('content')
    +editorblock('signature')
      +block('edit')
        each field in hidden
          +hidden(field)
        each field in fields
          div(class=`signature__${field.name}`)
            label(data-i18n=field.name, for=field.name)= field.label
            +field(field)

          if field.name === "signature"
            .signature__signature--custom
              label(data-i18n=custom.name, for=custom.name)= custom.label
              +field(custom)
      +block('view')
        each field in fields.slice(1)
          - const divClass = field.span ? `col-${field.span}` : '';
          div(class=divClass)
            +span(field)
            label(data-i18n=field.name)= field.label
