- const { turbo } = data.signature;

+blob({ name: 'turbo', title: 'Turbo' })
  +block('content')
    - const [boosts, kicks] = turbo.fields;
    - const three = Array.from(Array(3).keys(), (i) => i + 1);

    span(data-i18n='turbo_description') Describe how your device helps you with an action, then boost or kick as needed.

    +field(boosts)
    +field(kicks)
    .turbo__clickies
      each index in three
        - const field = { ...boosts };
        - field.type = 'checkbox';
        - field.name = `${field.name}_${index}`;
        label.turbo__boost(class=`turbo__boost--${index}`)
          +field(field)
          span.visually-hidden(data-i18n=field.name)= field.label + ' ' + index

      each index in three
        - const field = { ...kicks };
        - field.type = 'checkbox';
        - field.name = `${field.name}_${index}`;
        label.turbo__kick(class=`turbo__kick--${index}`)
          +field(field)
          span.visually-hidden(data-i18n=field.name)= field.label + ' ' + index
