include ../mixins/container

mixin FaceASetback(values)
  +container(values)
    p When <strong>your momentum is at its minimum (-6)</strong>, make a move if your action die matches your negative momentum, you must cancel your action die.
    p If you suffer additional -momentum, choose one.
    ul
      li Exchange each additional -momentum for any combination of -health, -spirit, -supply, -wealth or -companion’s loyalty as appropriate to the circumstances.
      li Envision an event or discovery which undermines your progress in a current quest, journey or fight. Then, for each additional -momentum, clear 1 unit of progress on that track per its rank (troublesome=clear 3 progress; dangerous=clear 2 progress; formidable=clear 1 progress; extreme=clear 2 ticks; epic=clear 1 tick).