mixin ability_select(name, default_ability)
    - default_ability = default_ability || "custom"
    select(name="attr_" + name + "_ability_select" title="@{" + name + "_ability_select}")
        each ability, abbreviation in {"str":"strength", "dex":"dexterity", "con":"constitution", "int":"intelligence", "wis":"wisdom", "cha":"charisma"}
            if ability == default_ability
                option(data-i18n=abbreviation value="@{" + ability + "_modifier}" selected="")=abbreviation
            else
                option(data-i18n=abbreviation value="@{" + ability + "_modifier}")=abbreviation
        option(data-i18n="custom" value="custom") custom

mixin rank_select(name)
    select(class!=attributes.class name="attr_" + name + "_rank" title="@{" + name + "_rank}")
        each rank, index in ["untrained", "trained", "expert", "master", "legendary"]
            - const rankvalue = index * 2
            if index == 0
                option(data-i18n=rank value=rankvalue selected="")=rank
            else
                option(data-i18n=rank value=rankvalue)=rank

mixin sort_select(spell_section)
    span.sort
        select(name="attr_sort_" + spell_section title="@{sort_" + spell_section + "}")
            option(data-i18n="sort_by:" selected="selected" value="") Sort by:
            option(data-i18n="name" value="name") Name
            option(data-i18n="name_descending" value="name_desc") Name Desc
            option(data-i18n="level" value="level") Level
            option(data-i18n="level_descending" value="level_desc") Level Desc

mixin spell_save_select(name, roll_value_basic, roll_value_normal)
    span(class!=attributes.class)
        select.simple(name="attr_" + name title="@{" + name + "}")
            option(data-i18n="none" value="") none
            option(data-i18n="basic" value=roll_value_basic) basic
            option(data-i18n="normal" value=roll_value_normal) normal

mixin repeating_spell_section(section_name)
    - var repeating_section_name = "repeating_" + section_name
    input(accept="Name" name="attr_" + section_name + "_spelldrop_name" type="hidden")
    input(accept="uniqueName" name="attr_" + section_name + "_spelldrop_uniq" type="hidden")
    input(accept="data" name="attr_" + section_name + "_spelldrop_data" type="hidden")

    .spell-panel-header
        span.sublabel.darkred(data-i18n="name") NAME
        case repeating_section_name
            when "repeating_spellfocus"
                span.sublabel.darkred.spellfocus-actions(data-i18n="actions") ACTIONS
                span.sublabel.darkred.spellfocus-level(data-i18n="level") LEVEL
            default
                span.sublabel.darkred(data-i18n="actions") ACTIONS
                span.sublabel.darkred(data-i18n="level") LEVEL
                span.sublabel.darkred(data-i18n="daily-uses") Daily Uses
        span.details-toggle-column
    input.toggles(name="attr_toggles" type="hidden" value="")
    fieldset(class=repeating_section_name)
        .spell-panel-row
            input.toggles(name="attr_toggles" type="hidden" value="display,settings,")
            button.sheet-pictos.sheet-settings-button(name="act_settings" type="action") y
            //- Optional Critical Damage handling
            input(name="attr_roll_critical_damage" type="hidden" value="@{damage_critical_roll}")
            input(name="attr_damage_critical_roll"  type="hidden" value=" {{roll03_name=^{critical_damage}}} {{roll03=[[(@{damage_dice} + (@{damage_ability})[ABI] + (@{damage_misc})[MISC] + (@{query_roll_damage_bonus})[@{text_roll_damage_bonus}])*2]]}} {{roll03_type=critical-damage}} {{roll03_info=@{damage_type}}}")
            input(name="attr_roll_critical_damage_button" type="hidden" value="{{roll03misc=[^{roll} ^{critical_damage}](~repeating_spellinnate_CRITICAL_DAMAGE) }}")
            case repeating_section_name
                when "repeating_spellinnate"
                    button(name="roll_CRITICAL_DAMAGE" style="display: none;" type="roll" value="@{whispertype} &{template:rolls} {{limit_height=@{roll_limit_height}}} {{charactername=@{character_name}}} {{header=@{name}}} {{subheader=^{@{school}} ^{@{magic_tradition}} ^{innate_spell} ^{level} @{current_level}}} @{damage_critical_roll}")
                    //-Roll buttons
                    button.pc-spellcaster-field(name="roll_spellroll" title="%{spellroll}" type="roll" value="@{whispertype} &{template:rolls} {{limit_height=@{roll_limit_height}}} {{charactername=@{character_name}}} {{header=@{name}}} {{subheader=^{@{school}} ^{@{magic_tradition}} ^{innate_spell} ^{level} @{current_level}}} {{desc=@{description}}}{{info02_name=^{cast}}} {{info02=@{cast}}}{{info03_name=^{traits}}} {{info03=@{traits}}} {{info04_name=^{range}}} {{info04=@{range}}} {{info05_name=^{target}}} {{info05=@{target}}} {{info06_name=^{area}}} {{info06=@{area}}} {{info07_name=^{duration}}} {{info07=@{duration}}}  @{saving_throw_select} @{attack_checkbox} @{damage_checkbox}")
                        span(name="attr_name")
                    button.npc-spellcaster-field(name="roll_npcspellroll" title="%{npcspellroll}" type="roll" value="@{whispertype} &{template:rolls} {{limit_height=@{roll_limit_height}}} {{charactername=@{character_name}}} {{header=@{name}}} {{subheader=^{@{school}} ^{@{magic_tradition}} ^{innate_spell} ^{level} @{current_level}}} {{desc=@{description}}}{{info02_name=^{cast}}} {{info02=@{cast}}}{{info03_name=^{traits}}} {{info03=@{traits}}} {{info04_name=^{range}}} {{info04=@{range}}} {{info05_name=^{target}}} {{info05=@{target}}} {{info06_name=^{area}}} {{info06=@{area}}} {{info07_name=^{duration}}} {{info07=@{duration}}}  @{npc_saving_throw_select} @{npc_attack_checkbox} @{damage_checkbox}")
                        span(name="attr_name")
                when "repeating_spellfocus"
                    button(name="roll_CRITICAL_DAMAGE" style="display: none;" type="roll" value="@{whispertype} &{template:rolls} {{limit_height=@{roll_limit_height}}} {{charactername=@{character_name}}} {{header=@{name}}} {{subheader=^{@{school}} ^{focus_spell} ^{level} @{current_level}}} @{damage_critical_roll}")
                    //-Roll buttons
                    button.pc-spellcaster-field(type="roll" title="%{spellroll}" name="roll_spellroll" value="@{whispertype} &{template:rolls} {{limit_height=@{roll_limit_height}}} {{charactername=@{character_name}}} {{header=@{name}}} {{subheader=^{@{school}} ^{focus_spell} ^{level} @{current_level}}} {{desc=@{description}}}{{info01_name=^{domain}}} {{info01=@{domain}}}{{info02_name=^{cast}}} {{info02=@{cast}}}{{info03_name=^{traits}}} {{info03=@{traits}}} {{info04_name=^{range}}} {{info04=@{range}}} {{info05_name=^{target}}} {{info05=@{target}}} {{info06_name=^{area}}} {{info06=@{area}}} {{info07_name=^{duration}}} {{info07=@{duration}}}  @{saving_throw_select} @{attack_checkbox} @{damage_checkbox}")
                        span(name="attr_name")
                    button.npc-spellcaster-field(type="roll" title="%{npcspellroll}" name="roll_npcspellroll" value="@{whispertype} &{template:rolls} {{limit_height=@{roll_limit_height}}} {{charactername=@{character_name}}} {{header=@{name}}} {{subheader=^{@{school}} ^{focus_spell} ^{level} @{current_level}}} {{desc=@{description}}}{{info01_name=^{domain}}} {{info01=@{domain}}}{{info02_name=^{cast}}} {{info02=@{cast}}}{{info03_name=^{traits}}} {{info03=@{traits}}} {{info04_name=^{range}}} {{info04=@{range}}} {{info05_name=^{target}}} {{info05=@{target}}} {{info06_name=^{area}}} {{info06=@{area}}} {{info07_name=^{duration}}} {{info07=@{duration}}}  @{npc_saving_throw_select} @{npc_attack_checkbox} @{damage_checkbox}")
                        span(name="attr_name")
                when "repeating_cantrip"
                    button(name="roll_CRITICAL_DAMAGE" style="display: none;" type="roll" value="@{whispertype} &{template:rolls} {{limit_height=@{roll_limit_height}}} {{charactername=@{character_name}}} {{header=@{name}}}  {{subheader=^{@{school}} ^{@{magic_tradition}} ^{cantrip}}} @{damage_critical_roll}")
                    //-Roll buttons
                    button.pc-spellcaster-field(name="roll_spellroll" title="%{spellroll}" type="roll" value="@{whispertype} &{template:rolls} {{limit_height=@{roll_limit_height}}} {{charactername=@{character_name}}} {{header=@{name}}} {{subheader=^{@{school}} ^{@{magic_tradition}} ^{cantrip}}} {{desc=@{description}}}{{info02_name=^{cast}}} {{info02=@{cast}}}{{info03_name=^{traits}}} {{info03=@{traits}}} {{info04_name=^{range}}} {{info04=@{range}}} {{info05_name=^{target}}} {{info05=@{target}}} {{info06_name=^{area}}} {{info06=@{area}}} {{info07_name=^{duration}}} {{info07=@{duration}}}  @{saving_throw_select} @{attack_checkbox} @{damage_checkbox}")
                        span(name="attr_name")
                    button.npc-spellcaster-field(name="roll_npcspellroll" title="%{npcspellroll}" type="roll" value="@{whispertype} &{template:rolls} {{limit_height=@{roll_limit_height}}} {{charactername=@{character_name}}} {{header=@{name}}} {{subheader=^{@{school}} ^{@{magic_tradition}} ^{cantrip}}} {{desc=@{description}}}{{info02_name=^{cast}}} {{info02=@{cast}}}{{info03_name=^{traits}}} {{info03=@{traits}}} {{info04_name=^{range}}} {{info04=@{range}}} {{info05_name=^{target}}} {{info05=@{target}}} {{info06_name=^{area}}} {{info06=@{area}}} {{info07_name=^{duration}}} {{info07=@{duration}}}  @{npc_saving_throw_select} @{npc_attack_checkbox} @{damage_checkbox}")
                        span(name="attr_name")
                default
                    button(name="roll_CRITICAL_DAMAGE" style="display: none;" type="roll" value="@{whispertype} &{template:rolls} {{limit_height=@{roll_limit_height}}} {{charactername=@{character_name}}} {{header=@{name}}} {{subheader=^{@{school}} ^{@{magic_tradition}} ^{spell} ^{level} @{current_level}}} @{damage_critical_roll}")
                    //-Roll buttons
                    button.pc-spellcaster-field(name="roll_spellroll" title="%{spellroll}" type="roll" value="@{whispertype} &{template:rolls} {{limit_height=@{roll_limit_height}}} {{charactername=@{character_name}}} {{header=@{name}}} {{subheader=^{@{school}} ^{@{magic_tradition}} ^{spell} ^{level} @{current_level}}} {{desc=@{description}}}{{info02_name=^{cast}}} {{info02=@{cast}}}{{info03_name=^{traits}}} {{info03=@{traits}}} {{info04_name=^{range}}} {{info04=@{range}}} {{info05_name=^{target}}} {{info05=@{target}}} {{info06_name=^{area}}} {{info06=@{area}}} {{info07_name=^{duration}}} {{info07=@{duration}}}  @{saving_throw_select} @{attack_checkbox} @{damage_checkbox}")
                        span(name="attr_name")
                    button.npc-spellcaster-field(name="roll_npcspellroll" title="%{npcspellroll}" type="roll" value="@{whispertype} &{template:rolls} {{limit_height=@{roll_limit_height}}} {{charactername=@{character_name}}} {{header=@{name}}} {{subheader=^{@{school}} ^{@{magic_tradition}} ^{spell} ^{level} @{current_level}}} {{desc=@{description}}}{{info02_name=^{cast}}} {{info02=@{cast}}}{{info03_name=^{traits}}} {{info03=@{traits}}} {{info04_name=^{range}}} {{info04=@{range}}} {{info05_name=^{target}}} {{info05=@{target}}} {{info06_name=^{area}}} {{info06=@{area}}} {{info07_name=^{duration}}} {{info07=@{duration}}} @{npc_saving_throw_select} @{npc_attack_checkbox} @{damage_checkbox}")
                        span(name="attr_name")
            case repeating_section_name
                when "repeating_spellfocus"
                    span.spellfocus-actions
                        select.simple(name="attr_cast_actions" title="@{cast_actions}")
                            each val in ["1-action", "2-action", "3-action", "1-to-3-actions", "reaction", "free_action"]
                                option(data-i18n=val value=val)=val
                    span.spellfocus-level
                        input(name="attr_current_level" placeholder="" spellcheck="false" title="@{current_level}" type="number")
                default
                    span
                        select.simple(name="attr_cast_actions" title="@{cast_actions}")
                            each val in ["1-action", "2-action", "3-action", "1-to-3-actions", "reaction", "free_action"]
                                option(data-i18n=val value=val)=val
                    span
                        input(name="attr_current_level" placeholder="" spellcheck="false" title="@{current_level}" type="number")
                    span
                        input(name="attr_uses" title="@{uses}" type="number" value="0")
                        | /
                        input(name="attr_uses_max" title="@{uses_max}" type="number" value="0")
            button(data-i18n-title="show_or_hide_weapon_notes" name="act_collapse" title="show or hide weapon notes" type="action") 4

            div.collapse
                .spell-details-section
                    .spell-details-row
                        span.spell-trait(name="attr_school")
                        input.spell-detail-toggle-control(name="attr_attack_checkbox" type="hidden" value="")
                        span.spell-trait.spell-detail-toggling-item(data-i18n="attack") attack
                        input.spell-detail-toggle-control(name="attr_npc_attack_checkbox" type="hidden" value="")
                        span.spell-trait.spell-detail-toggling-item(data-i18n="attack") attack
                        input.spell-detail-toggle-control(name="attr_traits" type="hidden" value="")
                        span.spell-trait.spell-detail-toggling-item(name="attr_traits")
                    .spell-details-row
                        case repeating_section_name
                            when "repeating_spellfocus"
                                span.spell-detail-title(data-i18n="domain") domain
                                span.spell-detail(name="attr_domain")
                            default
                                span.spell-detail-title(data-i18n="magic_tradition") Magic Tradition
                                span.spell-detail(name="attr_magic_tradition")
                        span.spell-detail-title(data-i18n="school") School
                        span.spell-detail(name="attr_school")
                    .spell-details-row
                        span.spell-detail-title(data-i18n="frequency") frequency
                        span.spell-detail(name="attr_frequency")
                        input.spell-detail-toggle-control(name="attr_duration" type="hidden" value="")
                        span.spell-detail-toggling-item
                            span.spell-detail-title(data-i18n="duration") duration
                            span.spell-detail(name="attr_duration")
                    .spell-details-row
                        input.spell-detail-toggle-control(name="attr_cast" type="hidden" value="")
                        span.spell-detail-toggling-item
                            span.spell-detail-title(data-i18n="cast") cast
                            span.spell-detail(name="attr_cast")
                        input.spell-detail-toggle-control(name="attr_cast_detail_information" type="hidden" value="")
                        span.spell-detail-toggling-item
                            span.spell-detail-title(name="attr_cast_detail_label")
                            span.spell-detail(name="attr_cast_detail_information")
                    input.spell-detail-toggle-control(name="attr_range" type="hidden" value="")
                    .spell-details-row.spell-detail-toggling-item
                        span.spell-detail-title(data-i18n="range") range
                        span.spell-detail(name="attr_range")
                    input.spell-detail-toggle-control(name="attr_area" type="hidden" value="")
                    .spell-details-row.spell-detail-toggling-item
                        span.spell-detail-title(data-i18n="area") area
                        span.spell-detail(name="attr_area")
                    input.spell-detail-toggle-control(name="attr_target" type="hidden" value="")
                    .spell-details-row.spell-detail-toggling-item
                        span.spell-detail-title(data-i18n="target") target
                        span.spell-detail(name="attr_target")
                .spell-details-section
                    .spell-details-row
                        span(name="attr_description")
                    input.spell-detail-toggle-control(name="attr_save_critical_success" type="hidden" value="")
                    .spell-details-row.spell-detail-toggling-item
                        span.spell-detail-title(data-i18n="critical_success") critical success
                        span.spell-detail(name="attr_save_critical_success")
                    input.spell-detail-toggle-control(name="attr_save_success" type="hidden" value="")
                    .spell-details-row.spell-detail-toggling-item
                        span.spell-detail-title(data-i18n="success") success
                        span.spell-detail(name="attr_save_success")
                    input.spell-detail-toggle-control(name="attr_save_failure" type="hidden" value="")
                    .spell-details-row.spell-detail-toggling-item
                        span.spell-detail-title(data-i18n="failure") failure
                        span.spell-detail(name="attr_save_failure")
                    input.spell-detail-toggle-control(name="attr_save_critical_failure" type="hidden" value="")
                    .spell-details-row.spell-detail-toggling-item
                        span.spell-detail-title(data-i18n="critical_failure") critical failure
                        span.spell-detail(name="attr_save_critical_failure")
                .spell-details-section
                    input.spell-detail-toggle-control(name="attr_heightened" type="hidden" value="")
                    .spell-details-row.spell-detail-toggling-item
                        span.spell-detail-title(data-i18n="heightened_effects") heightened effects
                        span.spell-detail(name="attr_heightened")

            .settings
                label.sublabel
                    span.sublabel.darkred(data-i18n="name") NAME
                    input(type="text" title="@{name}" name="attr_name" placeholder="Acid Arrow" spellcheck="false")
                label.sublabel
                    span.sublabel.darkred(data-i18n="base_level") BASE LEVEL
                    input(type="number" name="attr_spelllevel" value="1")
                label.sublabel
                    span.sublabel.darkred(data-i18n="traits") Traits
                    input(name="attr_traits" placeholder="traits" spellcheck="false" title="@{traits}" type="text")
                case repeating_section_name
                    when "repeating_spellfocus"
                        label.sublabel
                            span.sublabel.darkred(data-i18n="domain") domain
                            input(type="text" title="@{domain}" name="attr_domain" placeholder="freedom" spellcheck="false")
                    default
                        label.sublabel
                            span.sublabel.darkred(data-i18n="magic_tradition") magic tradition
                            select.simple(title="@{magic_tradition}" name="attr_magic_tradition")
                                option(data-i18n="spell tradition" value="empty-string" selected="") SPELL TRADITION
                                option(data-i18n="arcane spell" value="arcane") ARCANE SPELL
                                option(data-i18n="divine spell" value="divine") DIVINE SPELL
                                option(data-i18n="primal spell" value="primal") PRIMAL SPELL
                                option(data-i18n="occult spell" value="occult") OCCULT SPELL
                label.sublabel
                    span.sublabel.darkred(data-i18n="school") SCHOOL
                    select.simple(name="attr_school")
                        option(data-i18n="abjuration" value="abjuration" selected="") ABJURATION
                        option(data-i18n="conjuration" value="conjuration") CONJURATION
                        option(data-i18n="divination" value="divination") DIVINATION
                        option(data-i18n="enchantment" value="enchantment") ENCHANTMENT
                        option(data-i18n="evocation" value="evocation") EVOCATION
                        option(data-i18n="illusion" value="illusion") ILLUSION
                        option(data-i18n="necromancy" value="necromancy") NECROMANCY
                        option(data-i18n="transmutation" value="transmutation") TRANSMUTATION
                label.sublabel
                    span.sublabel.darkred(data-i18n="cast") Cast
                    input(name="attr_cast" placeholder="somatic, verbal" spellcheck="false" title="@{cast}" type="text")
                label.sublabel
                    span.sublabel.darkred
                        select.simple.label-select(name="attr_cast_detail_label")
                            option(data-i18n="requirement" value="requirement" selected="") requirement
                            option(data-i18n="trigger" value="trigger") trigger
                            option(data-i18n="cost" value="cost") cost
                    input(name="attr_cast_detail_information" placeholder="" spellcheck="false" title="@{cast_detail_information}" type="text")
                label.sublabel
                    span.sublabel.darkred(data-i18n="range") RANGE
                    input(name="attr_range" placeholder="120 feet" spellcheck="false" title="@{range}" type="text")
                label.sublabel
                    span.sublabel.darkred(data-i18n="target") TARGET
                    input(name="attr_target" placeholder="1 creature or object" spellcheck="false" title="@{target}" type="text")
                label.sublabel
                    span.sublabel.darkred(data-i18n="area") AREA
                    input(name="attr_area" placeholder="120 feet" spellcheck="false" title="@{area}" type="text")
                label.sublabel
                    span.sublabel.darkred(data-i18n="duration") DURATION
                    input(name="attr_duration" value="" placeholder="5 minutes" spellcheck="false" title="@{duration}" type="text")
                label.sublabel
                    span.sublabel.darkred(data-i18n="frequency") frequency
                    select.simple(name="attr_frequency" title="@{frequency}")
                        option(data-i18n="constant" value="constant" selected="selected") CONSTANT
                        option(data-i18n="at-will" value="at-will") AT WILL
                        option(data-i18n="x/day" value="daily-limit") X/DAY

                span.bordertop
                    span.sublabel.darkred(data-i18n="attack") attack
                    span.bordertop-row
                        case repeating_section_name
                            when "repeating_spellinnate"
                                span.bordertop-row-item
                                    span.sublabel.darkred(data-i18n="off_on") off/on
                                    span.pc-spellcaster-field
                                        label.switch(title="@{attack_checkbox}")
                                            input(name="attr_attack_roll" type="hidden" value="{{roll01=[[1d20cs20cf1 + (@{spellattack_rank})[Prof] + (@{level})[Level] + (@{spellattack_ability})[ABI] + (@{spellattack_misc})[MISC] + (@{query_roll_bonus})[@{text_bonus}]]]}} {{roll01_name=^{attack}}} {{roll01_type=attack}} {{roll01_critical=1}}")
                                            input(name="attr_attack_checkbox" title="@{attack_checkbox}" type="checkbox" value="@{attack_roll}")
                                            span.slider
                                    span.npc-spellcaster-field
                                        label.switch(title="@{npc_attack_checkbox}")
                                            input(name="attr_npc_attack_roll" type="hidden" value="{{roll01=[[1d20cs20cf1 + (@{spell_attack})[ATK] + (@{spellattack_misc})[MISC] + (@{query_roll_bonus})[@{text_bonus}]]]}} {{roll01_name=^{attack}}} {{roll01_type=attack}} {{roll01_critical=1}}")
                                            input(name="attr_npc_attack_checkbox" title="@{npc_attack_checkbox}" type="checkbox" value="@{npc_attack_roll}")
                                            span.slider
                                span.npc-spellcaster-field.bordertop-row-item
                                    span.sublabel.darkred(data-i18n="attack") attack
                                    input(readonly="" type="number" name="attr_spellattack" title="@{spellattack}" value="0")
                                // end npc spell attack section
                                span.pc-spellcaster-field.bordertop-row-item
                                    span.sublabel.darkred(data-i18n="rank") rank
                                    select.simple(name="attr_spellattack_rank" title="@{spellattack_rank}")
                                        option(value="2" data-i18n="trained" selected="") TRAINED
                                        option(value="4" data-i18n="expert") EXPERT
                                        option(value="6" data-i18n="master") MASTER
                                        option(value="8" data-i18n="legendary") LEGENDARY
                                span.pc-spellcaster-field.bordertop-row-item +
                                span.pc-spellcaster-field.bordertop-row-item
                                    span.sublabel.darkred(data-i18n="ability") ability
                                    select.simple(name="attr_spellattack_ability" title="@{spellattack_ability}")
                                        option(value="0") N/A
                                        option(value="@{strength_modifier}") STR
                                        option(value="@{dexterity_modifier}") DEX
                                        option(value="@{constitution_modifier}") CON
                                        option(value="@{intelligence_modifier}") INT
                                        option(value="@{wisdom_modifier}") WIS
                                        option(value="@{charisma_modifier}" selected="") CHA
                                // end pc spell attack section
                                span.bordertop-row-item +
                                span.bordertop-row-item
                                    span.sublabel.darkred(data-i18n="misc") misc
                                    input.5em(name="attr_spellattack_misc" placeholder="0" spellcheck="false" title="@{spellattack_misc}" type="text" value="0")
                            when "repeating_spellfocus"
                                span.bordertop-row-item
                                    span.sublabel.darkred(data-i18n="off_on") off/on
                                    span.pc-spellcaster-field
                                        label.switch(title="@{attack_checkbox}")
                                            input(name="attr_attack_roll" type="hidden" value="{{roll01=[[1d20cs20cf1 + (@{spellattack_ability})[ABI] + (@{spellattack_misc})[MISC] + (@{query_roll_bonus})[@{text_bonus}]]]}} {{roll01_name=^{attack}}} {{roll01_type=attack}} {{roll01_critical=1}}")
                                            input(name="attr_attack_checkbox" title="@{attack_checkbox}" type="checkbox" value="@{attack_roll}")
                                            span.slider
                                    span.npc-spellcaster-field
                                        label.switch(title="@{npc_attack_checkbox}")
                                            input(name="attr_npc_attack_roll" type="hidden" value="{{roll01=[[1d20cs20cf1 + (@{spell_attack})[ATK] + (@{spellattack_misc})[MISC] + (@{query_roll_bonus})[@{text_bonus}]]]}} {{roll01_name=^{attack}}} {{roll01_type=attack}} {{roll01_critical=1}}")
                                            input(name="attr_npc_attack_checkbox" title="@{npc_attack_checkbox}" type="checkbox" value="@{npc_attack_roll}")
                                            span.slider
                                span.npc-spellcaster-field.bordertop-row-item
                                    span.sublabel.darkred(data-i18n="attack") attack
                                    input(readonly="" type="number" name="attr_spellattack" title="@{spellattack}" value="0")
                                // end npc spell attack section
                                span.pc-spellcaster-field.bordertop-row-item
                                    span.sublabel.darkred(data-i18n="ability") ability
                                    select.simple(name="attr_spellattack_ability" title="@{spellattack_ability}")
                                        option(value="0" selected="selected") N/A
                                        option(value="@{strength_modifier}") STR
                                        option(value="@{dexterity_modifier}") DEX
                                        option(value="@{constitution_modifier}") CON
                                        option(value="@{intelligence_modifier}") INT
                                        option(value="@{wisdom_modifier}") WIS
                                        option(value="@{charisma_modifier}") CHA
                                // end pc spell attack section
                                span.bordertop-row-item +
                                span.bordertop-row-item
                                    span.sublabel.darkred(data-i18n="misc") misc
                                    input.5em(name="attr_spellattack_misc" placeholder="0" spellcheck="false" title="@{spellattack_misc}" type="text" value="0")
                            default
                                span.bordertop-row-item
                                    span.sublabel.darkred(data-i18n="off_on") off/on
                                    span.pc-spellcaster-field
                                        label.switch(title="@{attack_checkbox}")
                                            input(name="attr_attack_roll" type="hidden" value="{{roll01=[[1d20cs20cf1 + (@{spellattack})[Spell attack] + (@{spellattack_misc})[MISC] + (@{query_roll_bonus})[@{text_bonus}]]]}} {{roll01_name=^{attack}}} {{roll01_type=attack}} {{roll01_critical=1}}")
                                            input(name="attr_attack_checkbox" title="@{attack_checkbox}" type="checkbox" value="@{attack_roll}")
                                            span.slider
                                    span.npc-spellcaster-field
                                        label.switch(title="@{npc_attack_checkbox}")
                                            input(name="attr_npc_attack_roll" type="hidden" value="{{roll01=[[1d20cs20cf1 + (@{spellattack})[Spell attack] + (@{spellattack_misc})[MISC] + (@{query_roll_bonus})[@{text_bonus}]]]}} {{roll01_name=^{attack}}} {{roll01_type=attack}} {{roll01_critical=1}}")
                                            input(name="attr_npc_attack_checkbox" title="@{npc_attack_checkbox}" type="checkbox" value="@{npc_attack_roll}")
                                            span.slider
                                span.bordertop-row-item
                                    span.sublabel.darkred(data-i18n="attack") attack
                                    input(readonly="" type="number" name="attr_spellattack" title="@{spellattack}" value="0")
                                span.bordertop-row-item +
                                span.bordertop-row-item
                                    span.sublabel.darkred(data-i18n="misc") misc
                                    input.5em(name="attr_spellattack_misc" placeholder="0" spellcheck="false" title="@{spellattack_misc}" type="text" value="0")

                    span.bordertop-row
                        span.bordertop-row-item
                            span.sublabel.darkred(data-i18n="off_on") off/on
                            label.switch(title="@{damage_checkbox}")
                                input(name="attr_damage_roll" type="hidden" value="{{roll02_name=^{damage}}} {{roll02=[[@{damage_dice} + (@{damage_ability})[ABI] + (@{damage_misc})[MISC] + (@{query_roll_damage_bonus})[@{text_roll_damage_bonus}]]]}} {{roll02_type=damage}} {{roll02_info=@{damage_type}}} @{roll_critical_damage} {{roll04_name=^{damage_additional}}} {{roll04=@{damage_additional}}} {{roll04_type=damage}}")
                                input(name="attr_damage_checkbox" title="@{damage_checkbox}" type="checkbox" value="@{damage_roll}")
                                span.slider
                        span.bordertop-row-item
                            span.sublabel.darkred(data-i18n="damage") damage
                            input.5em(name="attr_damage_dice" placeholder="1d6" spellcheck="false" title="@{damage_dice}" type="text")
                        span.bordertop-row-item +
                        span.bordertop-row-item
                            span.sublabel.darkred(data-i18n="ability") ability
                            select.simple(name="attr_damage_ability" title="@{damage_ability}")
                                option(value="0" selected="") N/A
                                option(value="@{strength_modifier}") STR
                                option(value="@{dexterity_modifier}") DEX
                                option(value="@{constitution_modifier}") CON
                                option(value="@{intelligence_modifier}") INT
                                option(value="@{wisdom_modifier}") WIS
                                option(value="@{charisma_modifier}") CHA
                        span.bordertop-row-item +
                        span.bordertop-row-item
                            span.sublabel.darkred(data-i18n="misc") misc
                            input.5em(name="attr_damage_misc" placeholder="0" spellcheck="false" title="@{damage_misc}" type="text" value="0")
                        span.bordertop-row-item
                            span.sublabel.darkred(data-i18n="type") TYPE
                            input(name="attr_damage_type" placeholder="acid" spellcheck="false" title="@{damage_type}" type="text")
                        span.bordertop-row-item
                            span.sublabel.darkred(data-i18n="damage_additional") additional damage
                            input(name="attr_damage_additional" placeholder="" spellcheck="false" title="@{damage_additional}" type="text")

                span.bordertop
                    span.sublabel.darkred(data-i18n="saving_throw") Saving Throw
                    span.bordertop-row
                        input(name="attr_npc_save_roll_basic" type="hidden" value="{{savedc=[[@{spell_dc}[DC] + @{spelldc_misc}[MISC]]]}} {{savespecialdc=[[0 + @{spelldc}[DC] + @{spelldc_misc}[MISC]]]}} {{savedcmisc=[[0 + @{spelldc_misc}[MISC]]]}} {{savetype=^{@{save_type}}}} {{savebasic=true}}")
                        input(name="attr_npc_save_roll" type="hidden" value="{{savedc=[[@{spell_dc}[DC] + @{spelldc_misc}[MISC]]]}} {{savespecialdc=[[0 + @{spelldc}[DC] + @{spelldc_misc}[MISC]]]}} {{savedcmisc=[[0 + @{spelldc_misc}[MISC]]]}} {{savetype=^{@{save_type}}}} {{savecriticalsuccess=@{save_critical_success}}} {{savesuccess=@{save_success}}} {{savecriticalfailure=@{save_critical_failure}}} {{savefailure=@{save_failure}}}")
                        case repeating_section_name
                            when "repeating_spellinnate"
                                span.bordertop-row-item
                                    input(name="attr_save_roll_basic" type="hidden" value="{{savedc=[[10 + @{spelldc_rank}[DC Proficiency]  + @{level}[Level] + @{spelldc_ability}[ABI] + @{spelldc_misc}[MISC]]]}} {{savetype=^{@{save_type}}}} {{savebasic=true}}")
                                    input(name="attr_save_roll" type="hidden" value="{{savedc=[[10 + @{spelldc_rank}[DC Proficiency]  + @{level}[Level] + @{spelldc_ability}[ABI] + @{spelldc_misc}[MISC]]]}} {{savetype=^{@{save_type}}}} {{savecriticalsuccess=@{save_critical_success}}} {{savesuccess=@{save_success}}} {{savecriticalfailure=@{save_critical_failure}}} {{savefailure=@{save_failure}}}")
                                    span.sublabel.darkred(data-i18n="save") save
                                    +spell_save_select("saving_throw_select", "@{save_roll_basic}", "@{save_roll}")(class="pc-spellcaster-field")
                                    +spell_save_select("npc_saving_throw_select", "@{npc_save_roll_basic}", "@{npc_save_roll}")(class="npc-spellcaster-field")
                                span.bordertop-row-item
                                    span.sublabel.darkred(data-i18n="type") type
                                    select.simple(title="@{save_type}" name="attr_save_type")
                                        option(value="empty-string" selected="selected") -
                                        option(value="fortitude" data-i18n="fortitude") fortitude
                                        option(value="reflex" data-i18n="reflex") reflex
                                        option(value="will" data-i18n="will") will
                                span.bordertop-row-item.spacer
                                span.bordertop-row-item DC =
                                span.npc-spellcaster-field.bordertop-row-item (
                                span.npc-spellcaster-field.bordertop-row-item
                                    span.sublabel.darkred(data-i18n="spell_dc") spell_dc
                                    input(type="hidden" name="attr_spell_dc" value="0")
                                    span.simple(name="attr_spell_dc")
                                span.npc-spellcaster-field.bordertop-row-item or
                                span.npc-spellcaster-field.bordertop-row-item
                                    span.sublabel.darkred(data-i18n="dc") dc
                                    input(type="number" name="attr_spelldc" title="@{spelldc}" value="0")
                                span.npc-spellcaster-field.bordertop-row-item )
                                // end npc spell dc section
                                span.pc-spellcaster-field.bordertop-row-item 10 +
                                span.pc-spellcaster-field.bordertop-row-item
                                    span.sublabel.darkred(data-i18n="rank") rank
                                    select.simple(name="attr_spelldc_rank" title="@{spelldc_rank}")
                                        option(value="2" data-i18n="trained" selected="") TRAINED
                                        option(value="4" data-i18n="expert") EXPERT
                                        option(value="6" data-i18n="master") MASTER
                                        option(value="8" data-i18n="legendary") LEGENDARY
                                span.pc-spellcaster-field.bordertop-row-item +
                                span.pc-spellcaster-field.bordertop-row-item
                                    span.sublabel.darkred(data-i18n="ability") ability
                                    select.simple(title="@{spelldc_ability}" name="attr_spelldc_ability")
                                        option(value="0" selected="") N/A
                                        option(value="@{strength_modifier}") STR
                                        option(value="@{dexterity_modifier}") DEX
                                        option(value="@{constitution_modifier}") CON
                                        option(value="@{intelligence_modifier}") INT
                                        option(value="@{wisdom_modifier}") WIS
                                        option(value="@{charisma_modifier}" selected="") CHA
                                // end pc spell dc section
                                span.bordertop-row-item +
                                span.bordertop-row-item
                                    span.sublabel.darkred(data-i18n="misc") misc
                                    input.5em(name="attr_spelldc_misc" placeholder="0" spellcheck="false" title="@{spelldc_misc}" type="text" value="0")
                            when "repeating_spellfocus"
                                span.bordertop-row-item
                                    input(name="attr_save_roll_basic" type="hidden" value="{{savedc=[[10 + @{spelldc_rank}[DC Proficiency]  + @{level}[Level] + @{spelldc_ability}[ABI] + @{spelldc_misc}[MISC]]]}} {{savetype=^{@{save_type}}}} {{savebasic=true}}")
                                    input(name="attr_save_roll" type="hidden" value="{{savedc=[[10 + @{spelldc_rank}[DC Proficiency]  + @{level}[Level] + @{spelldc_ability}[ABI] + @{spelldc_misc}[MISC]]]}} {{savetype=^{@{save_type}}}} {{savecriticalsuccess=@{save_critical_success}}} {{savesuccess=@{save_success}}} {{savecriticalfailure=@{save_critical_failure}}} {{savefailure=@{save_failure}}}")
                                    span.sublabel.darkred(data-i18n="save") save
                                    +spell_save_select("saving_throw_select", "@{save_roll_basic}", "@{save_roll}")(class="pc-spellcaster-field")
                                    +spell_save_select("npc_saving_throw_select", "@{npc_save_roll_basic}", "@{npc_save_roll}")(class="npc-spellcaster-field")
                                span.bordertop-row-item
                                    span.sublabel.darkred(data-i18n="type") type
                                    select.simple(title="@{save_type}" name="attr_save_type")
                                        option(value="empty-string" selected="selected") -
                                        option(value="fortitude" data-i18n="fortitude") fortitude
                                        option(value="reflex" data-i18n="reflex") reflex
                                        option(value="will" data-i18n="will") will
                                span.bordertop-row-item.spacer
                                span.bordertop-row-item DC =
                                span.npc-spellcaster-field.bordertop-row-item (
                                span.npc-spellcaster-field.bordertop-row-item
                                    span.sublabel.darkred(data-i18n="spell_dc") spell_dc
                                    input(type="hidden" name="attr_spell_dc" value="0")
                                    span.simple(name="attr_spell_dc")
                                span.npc-spellcaster-field.bordertop-row-item or
                                span.npc-spellcaster-field.bordertop-row-item
                                    span.sublabel.darkred(data-i18n="dc") dc
                                    input(type="number" name="attr_spelldc" title="@{spelldc}" value="0")
                                span.npc-spellcaster-field.bordertop-row-item )
                                // end npc spell dc section
                                span.pc-spellcaster-field.bordertop-row-item 10 +
                                span.pc-spellcaster-field.bordertop-row-item
                                    span.sublabel.darkred(data-i18n="rank") rank
                                    select.simple(name="attr_spelldc_rank" title="@{spelldc_rank}")
                                        option(value="2" data-i18n="trained" selected="") TRAINED
                                        option(value="4" data-i18n="expert") EXPERT
                                        option(value="6" data-i18n="master") MASTER
                                        option(value="8" data-i18n="legendary") LEGENDARY
                                span.pc-spellcaster-field.bordertop-row-item +
                                span.pc-spellcaster-field.bordertop-row-item
                                    span.sublabel.darkred(data-i18n="ability") ability
                                    select.simple(title="@{spelldc_ability}" name="attr_spelldc_ability")
                                        option(value="0" selected="") N/A
                                        option(value="@{strength_modifier}") STR
                                        option(value="@{dexterity_modifier}") DEX
                                        option(value="@{constitution_modifier}") CON
                                        option(value="@{intelligence_modifier}") INT
                                        option(value="@{wisdom_modifier}") WIS
                                        option(value="@{charisma_modifier}" selected="") CHA
                                // end pc spell dc section
                                span.bordertop-row-item +
                                span.bordertop-row-item
                                    span.sublabel.darkred(data-i18n="misc") misc
                                    input.5em(name="attr_spelldc_misc" placeholder="0" spellcheck="false" title="@{spelldc_misc}" type="text" value="0")
                            default
                                span.bordertop-row-item
                                    input(name="attr_save_roll_basic" type="hidden" value="{{savedc=[[@{spelldc}[SPELL DC] + @{spelldc_misc}[MISC]]]}} {{savetype=^{@{save_type}}}} {{savebasic=true}}")
                                    input(name="attr_save_roll" type="hidden" value="{{savedc=[[@{spelldc}[SPELL DC] + @{spelldc_misc}[MISC]]]}} {{savetype=^{@{save_type}}}} {{savecriticalsuccess=@{save_critical_success}}} {{savesuccess=@{save_success}}} {{savecriticalfailure=@{save_critical_failure}}} {{savefailure=@{save_failure}}}")
                                    span.sublabel.darkred(data-i18n="save") save
                                    +spell_save_select("saving_throw_select", "@{save_roll_basic}", "@{save_roll}")(class="pc-spellcaster-field")
                                    +spell_save_select("npc_saving_throw_select", "@{npc_save_roll_basic}", "@{npc_save_roll}")(class="npc-spellcaster-field")
                                span.bordertop-row-item
                                    span.sublabel.darkred(data-i18n="type") type
                                    select.simple(title="@{save_type}" name="attr_save_type")
                                        option(value="empty-string" selected="selected") -
                                        option(value="fortitude" data-i18n="fortitude") fortitude
                                        option(value="reflex" data-i18n="reflex") reflex
                                        option(value="will" data-i18n="will") will
                                span.bordertop-row-item.spacer
                                span.bordertop-row-item DC =
                                span.npc-spellcaster-field.bordertop-row-item (
                                span.npc-spellcaster-field.bordertop-row-item
                                    span.sublabel.darkred(data-i18n="spell_dc") spell_dc
                                    input(type="hidden" name="attr_spell_dc" value="0")
                                    span.simple(name="attr_spell_dc")
                                span.npc-spellcaster-field.bordertop-row-item or
                                span.npc-spellcaster-field.bordertop-row-item
                                    span.sublabel.darkred(data-i18n="dc") dc
                                    input(type="number" name="attr_spelldc" title="@{spelldc}" value="0")
                                span.npc-spellcaster-field.bordertop-row-item )
                                // end npc spell dc section
                                span.pc-spellcaster-field.bordertop-row-item
                                    span.sublabel.darkred(data-i18n="spell_dc") spell_dc
                                    input(readonly="" type="number" name="attr_spelldc" title="@{spelldc}" value="0")
                                // end pc spell dc section
                                span.bordertop-row-item +
                                span.bordertop-row-item
                                    span.sublabel.darkred(data-i18n="misc") misc
                                    input.5em(name="attr_spelldc_misc" placeholder="0" spellcheck="false" title="@{spelldc_misc}" type="text" value="0")

                span.bordertop
                    label.sublabel.textarea(data-i18n-title="critical_success" title="critical_success")
                        span.sublabel.darkred(data-i18n="critical_success") critical success
                        textarea(name="attr_save_critical_success" placeholder="Critical Success" spellcheck="false" title="@{save_critical_success}")
                    label.sublabel.textarea(data-i18n-title="success" title="success")
                        span.sublabel.darkred(data-i18n="success") success
                        textarea(name="attr_save_success" placeholder="Success" spellcheck="false" title="@{save_success}")
                    label.sublabel.textarea(data-i18n-title="failure" title="failure")
                        span.sublabel.darkred(data-i18n="failure") Failure
                        textarea(name="attr_save_failure" placeholder="Failure" spellcheck="false" title="@{save_failure}")
                    label.sublabel.textarea(data-i18n-title="critical_failure" title="critical_failure")
                        span.sublabel.darkred(data-i18n="critical_failure") critical failure
                        textarea(name="attr_save_critical_failure" placeholder="Critical Failure" spellcheck="false" title="@{save_critical_failure}")

                span.bordertop
                    label.sublabel.textarea(data-i18n-title="description" title="description")
                        span.sublabel.darkred(data-i18n="description") description
                        textarea(name="attr_description" data-i18n-placeholder="description" placeholder="description" spellcheck="false" title="@{description}")

                span.bordertop.textarea(data-i18n-title="heightened_effects" title="heightened effects")
                    label.sublabel.textarea(data-i18n-title="heightened_effects" title="heightened_effects")
                        span.sublabel.darkred(data-i18n="heightened_effects") heightened effects
                        textarea(name="attr_heightened" data-i18n-placeholder="heightened_effects" placeholder="heightened_effects" spellcheck="false" title="@{heightened}")
