mixin textInput(name, i18n, accept)
  - i18n = i18n ? i18n : name
  label(data-i18n-title=`${i18n}`)
    input(data-i18n-placeholder=i18n name=`attr_${attrName(name)}` title=`@{${attrName(name)}}` type='text' value='' accept=accept)

mixin dropInput(val)
  - let { name, i18n, accept, type } = val
  - i18n = i18n ? i18n : name
  - accept = accept ? accept : attrName(name)
  if type === 'number'
    +numberInput(name, i18n, accept)
  else
    +textInput(name, i18n, accept)

mixin numberInput(name, i18n, accept)
  - i18n = i18n ? i18n : name
  label(data-i18n-title=`${i18n}`)
    input(name=`attr_${attrName(name)}` placeholder='#' title=`@{${attrName(name)}}` type='number' value='0', accept=accept)

mixin checkboxInput(name)
  label.styled-checkbox.grid(data-i18n-title=`${name}` title=`${name}`)
    input(name=`attr_${attrName(name)}` title=`@{${attrName(name)}}` type='checkbox' value=name)
    span.pictos 3