
//- Modes
div ${require('./pages/ironsworn/index.html')}
div ${require('./pages/delve/index.html')}

//- Roll Templates
rolltemplate.sheet-rolltemplate-ironsworn_oracles ${require('./roll-templates/ironsworn-oracles.html')}
rolltemplate.sheet-rolltemplate-ironsworn_moves ${require('./roll-templates/ironsworn-moves.html')}
rolltemplate.sheet-rolltemplate-ironsworn_delve_rarity ${require('./roll-templates/delve-rarity.html')}
rolltemplate.sheet-rolltemplate-ironsworn_delve_oracles ${require('./roll-templates/delve-oracles.html')}
rolltemplate.sheet-rolltemplate-ironsworn_delve_moves ${require('./roll-templates/delve-moves.html')}

//- Sheet Workers
script(type="text/worker") ${require('./workers/ironsworn.js')}