input.changelog.hide-element(type='checkbox' name='attr_changelog_2.3.0')
.changelog
  .copy
    h3 <strong>Version 2.3.0 Release</strong>
    div Added translation support for oracles. This includes the roll templates.
  label.close-changelog
    input(type='checkbox' name=`attr_close_changelog` class='hide-element')
    div(data-i18n='page-info-close')=locals.translations['page-info-close']

- var pages = [ 'character', 'shared' ]
input(type='checkbox' name='attr_modes_choice' class='modes-show hide-element' checked)
div.modes-show.hide-element
  div.mode-title
    h2.mode-title(data-i18n='page-select')=locals.translations['page-select']
  div.modes

    each page, index in pages
      label.mode 
        h4(data-i18n=`page-name-${page}`)=locals.translations[`page-name-${page}`]
        div.mode
          input(type='radio' name='attr_mode_button' class='hide-element' value=index)
          div.mode-image
            img(src=`https://raw.githubusercontent.com/Roll20/roll20-character-sheets/master/Ironsworn/assets/${page}-sheet.png`)

input(type='radio' name='attr_mode' class='character-mode hide-element' value='0')
div.character-mode.hide-element
  include ./character/index

input(type='radio' name='attr_mode' class='shared-mode hide-element' value='1')
div.shared-mode.hide-element
  include ./shared/index