input.changelog.hide-element(type='checkbox' name='attr_changelog_2.2.1')
.changelog
  .copy
    h3 <strong>Version 2.2.1 Release</strong>
    div The old static vows have now been migrated to the repeating vows (all the data should be there). If there are any issues, all of the old vow information is still available from the Abilities / Attributes section.
    div
      strong Using assets for the following moves (where it asks for a custom value) has now been disabled:
    div
      ul 
        li Clash
        li Companion Endure Harm
        li Compel
        li Face Danger
        li Make Camp 
        li Secure an Advantage
        li Sojourn
        li Strike
        li Swear an Iron Vow
        li Undertake a Journey
      div
        strong This is due to an issue with nested roll queries not working in the new character sheet system. (This fix is temporary while a permanent solution is found)
  label.close-changelog
    input(type='checkbox' name=`attr_close_changelog` class='hide-element')
    div(data-i18n='page-info-close')=locals['page-info-close']

- var pages = [ 'character', 'shared' ]
input(type='checkbox' name='attr_modes_choice' class='modes-show hide-element' checked)
div.modes-show.hide-element
  div.mode-title
    h2.mode-title(data-i18n='page-select')=locals['page-select']
  div.modes

    each page, index in pages
      label.mode 
        h4(data-i18n=`page-name-${page}`)=locals[`page-name-${page}`]
        div.mode
          input(type='radio' name='attr_mode_button' class='hide-element' value=index)
          div.mode-image
            img(src=`https://raw.githubusercontent.com/Roll20/roll20-character-sheets/master/Ironsworn/assets/${page}-sheet.png`)

input(type='radio' name='attr_mode' class='character-mode hide-element' value='0')
div.character-mode.hide-element
  include ./character/index

input(type='radio' name='attr_mode' class='shared-mode hide-element' value='1')
div.shared-mode.hide-element
  include ./shared/index