input.changelog.hide-element(type='checkbox' name='attr_changelog_2.7.0')
.changelog
  //- 2022/09/05
  input.changelog-entry.hide-element(type='checkbox' name='attr_changelog_2.7.0')
  .changelog-entry
    h3 Version 2.7.0 Release
    div Added assets summary in Moves.
    div Added more localization support.

  //- 2022/08/27
  input.changelog-entry.hide-element(type='checkbox' name='attr_changelog_2.6.0')
  .changelog-entry
    h3 Version 2.6.0 Release
    div Added more localization support.
    div Added Pay the Price and Ask the Oracle shorcuts in Moves.
    div Tweaked the roll templates.

  //- 2022/08/09
  input.changelog-entry.hide-element(type='checkbox' name='attr_changelog_2.5.0')
  .changelog-entry
    h3 Version 2.5.0 Release
    div Added stat roll shortcuts to the Moves in preview mode.

  //- 2022/08/04
  input.changelog-entry.hide-element(type='checkbox' name='attr_changelog_2.4.0')
  .changelog-entry
    h3 Version 2.4.0 Release
    div Added Scene categories in the Moves in preview mode.
    
  label.close-changelog
    input(type='checkbox' name=`attr_close_changelog` class='hide-element')
    div(data-i18n='page-info-close')=locals.translations['page-info-close']

- var pages = [ 'character', 'shared' ]
input(type='checkbox' name='attr_modes_choice' class='modes-show hide-element' checked)
.modes-show.hide-element
  .mode-title
    h2.mode-title(data-i18n='page-select')=locals.translations['page-select']
  .modes

    each page, index in pages
      label.mode 
        h4(data-i18n=`page-name-${page}`)=locals.translations[`page-name-${page}`]
        .mode
          input(type='radio' name='attr_mode_button' class='hide-element' value=index)
          .mode-image
            img(src=`https://raw.githubusercontent.com/Roll20/roll20-character-sheets/master/Ironsworn/assets/${page}-sheet.png`)

input(type='radio' name='attr_mode' class='character-mode hide-element' value='0')
.character-mode.hide-element
  include ./character/index

input(type='radio' name='attr_mode' class='shared-mode hide-element' value='1')
.shared-mode.hide-element
  include ./shared/index
