input(name='attr_version' type='hidden' value='4.31')

//- CHARACTER SHEET PAGE
input.sheet_type(name='attr_sheet_type' type='hidden' value='pc')

//- CHARACTER TYPE (MUNDANE < MAGIC < RESONANCE)
input.character-type(name='attr_flag_special' type='hidden' value='mundane')

//- MIXINS
include src/pug/abstracts/_mixins.pug

//- VARIABLES
include src/pug/base/_variables.pug

- const imageSource = 'https://raw.githubusercontent.com/Roll20/roll20-character-sheets/master/Shadowrun5thEdition/src/imgs/'

.pc
	.tabs
		img(alt='Shadowrun black and metallic logo' src=`${imageSource}/ShadowrunLogo.png`)
		h1(data-i18n='character') Character
		label(data-i18n-title='character name' title='character name')
			input(type='text' name='attr_character_name' placeholder='Character name' title='@{character_name}')
		h1(data-i18n='player') Player
		label(data-i18n-title='player name' title='player name')
			input(type='text' name='attr_player_name' placeholder='Player name' title='@{player_name}')
		h2(data-i18n-title='/w GM') /w GM
		label.switch(data-i18n-title='whisper rolls to gm' title='whisper rolls to gm')
			input.whisper-toggle(name='attr_gm_toggle' type='checkbox' value='/w gm')
			span.slider
		each val, key in {'wounds': '@{wounds}', 'modifiers':'?{Modifiers +/-|0}', 'edge':'@{edge}'}
			h2(data-i18n-title=key) #{key}
			label.switch(data-i18n-title=key title=key)
				input.whisper-toggle(name=`attr_${key}_toggle` type='checkbox' value=val)
				span.slider
		button(name='d6' title='Roll D6s' type='roll' value!='@{gm_toggle} &{template:rolls}{{header=^{d6}}}{{base=^{d6}}}{{dice=[[(?{d6s|0}d6>5@{explode_toggle})]]}}') L
		input(name='attr_tab' type='hidden' value='options')
		button.pictos(name='act_tab_options' title='@{tab}' type='action' ) y
		each val in ['core', 'arms', 'augs', 'gear', 'magic', 'matrix', 'social', 'vehicle']
			button(data-i18n=val name='act_tab_'+val type='action' title='@{tab}') #{val}

	input.options_toggle(name='attr_tab' type='hidden' value='options')

	//- STATIC TAB
	include src/pug/tabs/static.pug

	//- CORE TAB
	include src/pug/tabs/core.pug

	//- ARMS TAB
	include src/pug/tabs/arms.pug

	//- AUGS TAB
	include src/pug/tabs/augs.pug

	//- GEAR TAB
	include src/pug/tabs/gear.pug

	//- MAGIC TAB
	include src/pug/tabs/magic.pug

	//- MATRIX TAB
	include src/pug/tabs/matrix.pug

	//- SOCIAL TAB
	include src/pug/tabs/social.pug

	//- VEHICLE TAB
	include src/pug/tabs/vehicle.pug

	//- OPTIONS TAB
	include src/html/options.html

//- NPCs
include src/pug/_npc.pug

//- FOOTER
.footer
	div
		span(data-i18n="copyrightfooter")
		span Version
		span(name="attr_version")
	img(alt='Emerald Productins, LLC' src=`${imageSource}/EProd_Emerald_Gloss.png`)

//- ROLL TEMPLATES
include src/pug/_rolltemplates.pug

//- HIDDEN
include src/html/hidden.html

//- SCRIPTS
script(type="text/worker")

	include src/js/attributes.js

	include src/js/Classes/PrimaryWeapon.js
	include src/js/Classes/PrimaryArmor.js

	//- Generic helper functions used by shadowrunFunctions
	//- Has unit tests
	include src/js/processingFunctions.js

	//- Functions called by scripts to handle Shaodwrun specific rules
	//- Has unit tests
	include src/js/shadowrunFunctions.js

	//- Functions are called by the eventhandlers
	include src/js/scripts.js

	//- Handle version updates
	include src/js/versioning.js

	//- Listeners for changes
	include src/js/eventhandlers.js

	//- Chummer Importer Functions
	include src/js/importer.js
	include src/js/importerUI.js

//- CHUMMER IMPORTER
include src/html/importer.html