include ./tracks
.sub-header-static.surface
  .momentum.momentum-header
    .momentum.momentum-dark
      h3.momentum-title.i18n-text(data-i18n='momentum')

  .momentum
    each object in momentumPositiveTrack
      label.momentum-box
        if object.checked
          input(
          type='radio'
          name='attr_momentum'
          class='momentum-box-input hide-element'
          value=object.value
          checked
        )
        else
          input(
            type='radio'
            name='attr_momentum'
            class='momentum-box-input hide-element'
            value=object.value
          )
        .momentum-box-back
          h3.momentum-box-value=object.text

    label.momentum-burn
      input(type='checkbox' class='momentum-burn hide-element' title='Burn Momentum' name='attr_momentumBurn')
      .momentum-burn-back.i18n-text(data-i18n='momentum-burn')=translation['momentum-burn']

    .momentum-status-box
      h3.momentum-max.i18n-text(data-i18n='momentum-maximum')=translation['momentum-maximum']
      h3.momentum-status-value
        span.momentum-status-attr(name='attr_momentum_max')
      input(type='text' class='hide-element' name='attr_momentum_max' value='10')

    .momentum-status-box
      h3.momentum-reset.i18n-text(data-i18n='momentum-reset')=translation['momentum-reset']
      h3.momentum-status-value
        span.momentum-status-attr(name='attr_momentum_reset')
      input(type='text' class='hide-element' name='attr_momentum_reset' value='2')