- const { notes } = data.common;
+panel({ name: 'notes', title: 'notes' })
  +block('content')
    +repeating('notes')
      - const { hidden, broadcast, repeating } = notes;
      - const [name, desc] = repeating;
      +block('edit')
        .row.notes__edit
          //- each field in hidden
            +field(field)
          each field in repeating
            - const hideLabel = ['note_check', 'note_name'].includes(field.name);
            - const divClass = field.span ? `col-${field.span}` : '';
            - const labelClass = hideLabel ? 'visually-hidden' : null;
            .notes__field(class=`${field.name} ${divClass}`)
              unless field.type === "checkbox"
                +field(field)
                label(class=labelClass, data-i18n=field.name, for=field.name)= field.label
              else
                label(for=field.name)
                  +field(field)
                  span(class=labelClass, data-i18n=field.name)= field.label

      +block('view')
        +bubble({ name: 'note', broadcast })
          +block('header')
            .notes__view
              +span(name).note__name
            +block('content')
              +span(desc)
              label(data-i18n=desc.name)= desc.label

      +block('delete')
        +span(name).note__name
