mixin attributeRow(value)
	- const attribute = toLowerCase(attrName(value))
	input(type="hidden" name=`attr_${attribute}` value="0" )
	.col
		button.text-right.eclipse(data-i18n=attribute type="roll" name=`roll_${attribute}` value!=rollBeginging+`{{header=^{${attribute}}}}{{base=^{attributes}}}{{dice=[[(@{${attribute}}+(@{attribute_roll})+@{wounds_toggle}${rollEnding}`)
	.col
		.row-long
			.settings
				input(type="number" name=`attr_${attribute}_base` value="" placeholder="3" title=`@{${attribute}_base}`)
				span.tiny +
				input(type="number" name=`attr_${attribute}_modifier` value="" placeholder="0" title=`@{${attribute}_modifier}`)
				span.tiny =
				span.totals(name=`attr_display_${attribute}` title=`@{${attribute}}}`)
			.display
				.mt-2.text-center.d-block
					span(name=`attr_display_${attribute}` title=`@{${attribute}}`)