mixin commonRolls(value)
	- const attribute = attrName(value)
	input(type="hidden" name=`attr_${attribute}` value="0" )
	.col
		button.text-right.eclipse(data-i18n=attribute type="roll" name=`roll_${attribute}` value!=rollBeginging+`{{header=^{${attribute}}}}{{base=^{attributes}}}{{dice=[[(@{${attribute}}+@{wounds_toggle}${rollEnding}`)
	.col
		.row-long
			.settings
				input(type="number" name=`attr_${attribute}_modifier` value="" placeholder="0" title=`@{${attribute}_modifier}`)
				span.tiny =
				span(name=`attr_${attribute}` title=`@{${attribute}}}`)
			.display
				.mt-2.text-center.d-block
					span(name=`attr_${attribute}` title=`@{${attribute}}`)