mixin initiative(value)
	- const i18n = value == 'matrix' || value == 'astral' ? `${value}initiative` : 'initiative'
	input(type="hidden" name=`attr_${value}_mod` value="6")
	input(type="hidden" name=`attr_${value}_dice` value="1" min="1" max="5")
	.col
		button.eclipse.text-right.red(data-i18n=i18n name=`roll_${i18n}` type="roll" value!=rollBeginging+`{{header=^{${i18n}}}}{{base=^{base}}}{{dice=[[(@{${value}_mod}+@{wounds_toggle}+@{modifiers_toggle})+(@{${value}_dice})d6cf0 &{tracker}]]}}`)
	.col
		.row-long
			.settings
				input(type="number" name=`attr_${value}_mod_modifier` value="0" placeholder="0" title=`@{${value}_modifier}`)
				span.tiny +
				input(type="number" name=`attr_${value}_dice_modifier` value="0" min="0" max="4" placeholder="modifier" title=`@{${value}_dice_modifier}`)
				span.tiny =
				span(name=`attr_display_${value}_mod` title=`@{${value}_mod}`)
				span.tiny +
				span(name=`attr_${value}_dice` title=`@{${value}_dice}`)
				span(data-i18n="d6")
			.display
				.d-block.text-center
					span(name=`attr_display_${value}_mod` title=`@{${value}_mod}`)
					span.tiny +
					span(name=`attr_${value}_dice` title=`@{${value}_dice}`)
					span(data-i18n="d6")