- const coreAttributeArray = ['Body', 'Agility', 'Reaction', 'Strength', 'Willpower', 'Logic', 'Intuition', 'Charisma', 'Edge'];
- const attributesArray = ['Body', 'Agility', 'Reaction', 'Strength', 'Willpower', 'Logic', 'Intuition', 'Charisma', 'Magic', 'Resonance'];
- const limitObject = {'Mental':'mental_limit', 'Physical':'physical_limit', 'Social':'social_limit', 'Attack':'attack', 'Data Processing':'data_processing', 'Firewall':'firewall', 'Sleaze':'sleaze'};
- const hostObject = {'Host Rating': ['host_rating', '5'], 'Attack': ['attack', '5'], 'Sleaze': ['sleaze', '6'], 'Data Processing': ['data_processing', '7'], 'Firewall': ['firewall', '8']};
- const spriteObject = {'Level': ['level', '5'], 'Attack': ['attack', '5'], 'Sleaze': ['sleaze', '6'], 'Data Processing': ['data_processing', '7'], 'Firewall': ['firewall', '8']};

//- DIE ROLL VARIABLES
- const rollBeginging = '@{gm_toggle} &{template:rolls}'
- const rollEnding = '+@{wounds_toggle}+@{modifiers_toggle}+@{edge_toggle})d6>5@{explode_toggle}]]}}{{mod=[[@{modifiers_toggle}]]}}{{wound=[[@{wounds_toggle}]]}}{{edge=[[@{edge_toggle}]]}}'

//- ROLL BUTTOn
mixin rollButton(header, base, rollFormula)
    button(data-i18n=header name=header type='roll' value!=rollBeginging+'{{header=^{'+header+'}}}{{base='+base+'}}{{dice=[[(('+rollFormula+')'+rollEnding) #{header}

//- SKILL BUTTON
mixin skillButton(specialization)
    - const rollName = specialization === true ? 'specialization' : 'skill';
    - const rollFormula = specialization === true ? '@{dicepool}+@{attribute}+2' : '@{dicepool}+@{attribute}';
    - const desc = specialization === true ? 'Spec: @{specialization}, @{display_limit}' : '@{display_limit}';
    - const display = specialization === true ? "attr_display_specialization" : "attr_display";
    button(name=rollName type='roll' value!=rollBeginging+'{{header=@{skill}}}{{base=@{display_attribute}}}{{dice=[[(('+rollFormula+')'+rollEnding+'{{desc='+desc+'}}')
        span(name=display)

//- NPC ATTRIBUTE ROLLS
mixin npcAttributeButton(attribute, rollFormula)
    - const abbreviation = attribute.slice(0,1).toLowerCase();
    button(data-i18n=abbreviation name=attribute type='roll' value!=rollBeginging+'{{header=^{'+attribute+'}}}{{base=^{base}}}{{dice=[[(('+rollFormula+')'+rollEnding) #{abbreviation}

//- ATTRIBUTE SELECTS
mixin attributeSelect(selectedDefault)
    each attribute in attributesArray
        - const attributeName = attribute.toLowerCase();
        if attribute === selectedDefault
            option(data-i18n=attributeName value='@{' + attributeName + '}' selected) #{attribute}
        else
             option(data-i18n=attributeName value='@{' + attributeName + '}') #{attribute}

//- LIMIT SElECTS
mixin limitSelect(selectedDefault)
    option(value='none') -
    each val, key in limitObject
        - const attributeName = key.toLowerCase().replace(' ', '_');
        if key === selectedDefault
            option(data-i18n=attributeName value='@{' + val + '}' selected) #{key}
        else
            option(data-i18n=attributeName value='@{' + val + '}') #{key}

//- HOST & SPRITE NPCS
mixin hostSprite(object, attrName)
    each val, key in object
        - const base = '^{'+attrName+'}', rollForumla = '@{'+attrName+'}+@{'+val[0]+'}';
        +rollButton(val[0], base, rollForumla)
        span(name='attr_'+val[0])
        label.settings(data-i18n-title=val[0] title=key)
            input(name='attr_'+val[0] placeholder=val[1] title='@{'+val[0]+'}' type='number' value='')