//- @pugdoc
    name: nstateBox
    description: the skeletton for setting a nState checkbox (not limited to 3-state). You may
        | specify a class
    arguments:
        - {string} name - The r20 attribute name
mixin nstateBox(name)
    div(class!=`nstate ${attributes.class}`)
        +hiddenInput(name)
        +actButton(`${name}_cycle`)
        if block
            block

//- @pugdoc
    name: nstateOption
    description: option for the nstateBox widget. You may specify a class
mixin nstateOption(value)
    span(class!=`nstateopt ${attributes.class}`)!= value

//- @pugdoc
    name: healthBox
    description: This widget is used to store health issues
    arguments:
        - {string} name - The attribute name
mixin healthBox(name, letter=none)
    label.healthboxwrapper
        +nstateBox(name).healthbox
            +nstateOption(' ').health_ok
            +nstateOption('⟋').health_tenacity
            +nstateOption('X').health_wound
            +nstateOption('✱').health_longTenacity
        if letter != none
            span!= letter