include ./asset-custom
include ./asset-builder


mixin assets()
  .assets
    fieldset.repeating_assets.fixed-width
      .asset
        .asset-header
          select.asset-type-dropdown(name='attr_assettype')
            - var types = ['companion','path','combat-talent','ritual','custom']
            - var defaultDropdown = 'asset-dropdown-default'
            option(
              data-i18n=defaultDropdown
              value=''
              disabled=''
              selected=''
            )=locals.translations[defaultDropdown]
            each value in types
              - var translationValue = `asset-type-${value}`
              option(data-i18n=translationValue value=value)=locals.translations[translationValue]
        +companionBuilder
        +pathBuilder
        +combatTalentBuilder
        +ritualBuilder
        +customAssets