mixin bubble(label)
  .bubble(style=attributes.style, title=attributes.title)
    label= label
    .inner: block

mixin input(type, name)
  input(type=type, name='attr_' + name, placeholder=attributes.placeholder, style=attributes.style, value=attributes.value)

mixin labelledUnderlined(label)
  .labelledUnderlined(style=attributes.style)
    label= label
    .inner: block

mixin labelledLeft(label)
  .labelledLeft(style=attributes.style)
    label= label
    .inner: block

mixin option(view, value, isSelected)
  -
    if(!value)
      value = view;
  option(value=value, selected=isSelected)= view

mixin readOnly(name)
  span.readOnly(name='attr_' + name)
  +input('hidden', name)

mixin repeating(name)
  fieldset(class='repeating_' + name)
    block

mixin rollButton(attr, notes, options)
  -
    var tpl = '&{template:eh} {{charName=@{character_name}}} ' +
      '{{attr=' + attr + '}} {{result=[[@{' + attr + '}]]}}';
    if(notes)
      tpl += '{{notes=@{' + notes + '}}}';
  button(type='roll', value=tpl)

mixin select(name)
  select(name='attr_' + name, style=attributes.style)
    block

mixin textarea(name)
  textarea(name='attr_' + name, style=attributes.style, placeholder=attributes.placeholder)
