- var track = [ 0, 1, 2, 3, 4, 5, 6, 7, 8, 9 ]
include ../difficulties/array
include ./mixins/box

fieldset.repeating_progress
  div
    br
    input.sheet-progress-name(type='text' name='attr_name')
    .sheet-progress-header
      each difficulty, index in difficulties
        label.sheet-difficulty
          if difficulty.checked
            input(type="radio" class="sheet-hide" name="attr_rank" value=index checked)
          else
            input(type="radio" class="sheet-hide" name="attr_rank" value=index)
          h5=difficulty.text
    .sheet-progress
      div
        label.sheet-btn MARK
          input(class="sheet-mark-vow sheet-hide" type="checkbox" name="attr_mark_progress")
        label.sheet-btn CLEAR
          input(class="sheet-clear-vow sheet-hide" type="checkbox" name="attr_clear_progress")
        each index in track
          select(name=`attr_progress_${index}` class="sheet-progress-input")
            +progressBox
        label.sheet-btn CONCLUDE 
          button(
            type="roll"
            class='sheet-hide'
            name="rollProgress"
            value='&{template:ironcrunch_progress} {{header=@{character_name} Conclude Your Progress}} {{progress_name=@{name}}} {{progress=[[@{progress-filled}]]}} {{challenge1=[[d10]]}} {{challenge2=[[d10]]}}'
          )    
        input.sheet-hide(type='text' name='attr_progress-filled' value='floor((@{progress_0}+@{progress_1}+@{progress_2}+@{progress_3}+@{progress_4}+@{progress_5}+@{progress_6}+@{progress_7}+@{progress_8}+@{progress_9})/4)' disabled='true')
