include ../progress/mixins/box

mixin connections()
  .connection-component
    fieldset.repeating_connection
      .connection-container
        p.connection-title.i18n-text(data-i18n='character-name')
        // i18n = 'character-name'
        input.border-bottom.connection-name(type='text' name='attr_connection-name' placeholder='Name')
        label.btn.details-btn
          input.hide-element.btn-input(type='checkbox' name='attr_details_button')
          .btn-content.i18n-text(data-i18n='details')
        // i18n = 'details'
        input.hide-element.show-connection-info(type='checkbox' name='attr_details')
        .show-connection-info.showhide
          .full-width
            p.connection-title.i18n-text(data-i18n='location')
            input.connection-location.border-bottom(type='text' name='attr_connection-location' placeholder=translation["location"])
          .full-width
            p.connection-title.i18n-text(data-i18n='descriptors')
            input.connection-descriptors.border-bottom(type='text' name='attr_connection-descriptors' placeholder=translation['descriptors'])
          .full-width
            .progress-header
              each difficulty, index in difficulties
                label.difficulty
                  if difficulty.checked
                    input(type="radio" class="hide-element" name="attr_rank" value=index checked)
                  else
                    input(type="radio" class="hide-element" name="attr_rank" value=index)
                  h5=difficulty.text
            +progressTrack(track, 'connection-name')
          .full-width
            textarea.connection-notes(name='attr_connection-notes')