include ../progress/mixins/box

mixin connections()
  .connection-component
    fieldset.repeating_connection
      .connection-container.surface
        p.connection-title.i18n-text(data-i18n='character-name')
        input.border-bottom.connection-name(type='text' name='attr_connection-name' placeholder='Name')
        +btn({
          type: 'checkbox',
          translationId: 'details',
          attribute: `details`,
          classes: 'details-btn surface-2',
          pure_attr: true
        })
        input.hide-element.show-connection-info(type='checkbox' name='attr_details')
        .show-connection-info.showhide
          .full-width
            p.connection-title.i18n-text(data-i18n='location')
            input.connection-location.border-bottom(type='text' name='attr_connection-location' placeholder=translation["location"])
          .full-width
            p.connection-title.i18n-text(data-i18n='descriptors')
            input.connection-descriptors.border-bottom(type='text' name='attr_connection-descriptors' placeholder=translation['descriptors'])
          .full-width
            .progress-header
              each difficulty, index in difficulties
                label.difficulty.surface-2
                  if difficulty.checked
                    input(type="radio" class="hide-element" name="attr_rank" value=index checked)
                  else
                    input(type="radio" class="hide-element" name="attr_rank" value=index)
                  h5=difficulty.text
            +progressTrack(track, 'connection-name', { btnClasses: ['surface-2'] })
          .full-width
            textarea.connection-notes(name='attr_connection-notes')