
//- DICE SELECT
mixin diceSelect(selectedDefault)
	optgroup(label='Dice') Dice
		each val in diceTypes
			- const selectedDie = val === selectedDefault ? selected : "";
			option(value=val selectedDie)=val

//- ATTRIBUTE SELECT
mixin attrSelect(selectedDefault)
	optgroup(label='Attribute') Attribute
		each val in attributeObject
			- const attrName = val.toLowerCase();
			- const selectedAcc = val === selectedDefault ? selected : "";
			option(data-i18n=attrName value="[[@{" + attrName + "}]]" selectedAcc)= val

// ACTION
mixin actionSelect(selectedDefault)
	optgroup(label="Action Type") Action Type
		each val, index in ["Active", "Free", "Passive", "Reactive", "Special"]
			- const attrTypeName = val.toLowerCase();
			- const optionValue = index + 1;
			option(data-i18n=attrTypeName value=optionValue)=val

// RANKS
mixin rankChecks(section)
	each val, index in ["Novice", "Adept", "Master"]
		- const attrTypeName = val.toLowerCase();
		- const optionValue = index + 1;
		label(data-i18n-title="title-" + attrTypeName title="title-" + attrTypeName)
			input(data-i18n-title="title-" + attrTypeName name="attr_" + section + "-level" title="title-" + attrTypeName type="checkbox" value=optionValue)
			span(data-i18n=val)=val



//- WEAPON
mixin weapon()
	button(data-i18n-title="title-use-sattack" name="roll_attack" title="Use attack!" type='roll' value='&{template:attack}{{name=@{weapon1-name}}}{{attribute=[[@{attack-ability1}+(?{Modifier +/-|0})+@{weapon1-extra-attack}]]}}{{attribute1=[[@{attack-ability1}+(?{Modifier +/-|0})+@{weapon1-extra-attack}+1]]}} {{attack=[[1d20]]}} {{damage=[[@{weapon1-dtype}+@{weapon1-extra-dtype}+@{weapon1-extra-damage}]]}} {{damage-crit=[[1d6]]}} {{character-name=@{character-name}}} {{attack-type=[[@{attack-ability1}]]}}')
	label(data-i18n-title="title-weapon-or-power-used" title="Weapon or power used in attack")
		input(data-i18n-title="title-weapon-or-power-used" name="attr_weapon1-name" title="Weapon or power used in attack" type="text")
	select(data-i18n-title="title-attribute-explanation" name="attr_attack-ability1" title="Ability that determines a hit, usually Accurate")
		option(data-i18n="bonus-damage-abbrv" value="[[-1]]") Bonus dmg
		+attrSelect("Accurate")
	select(data-i18n-title="title-attack-roll" name="attr_weapon1-dtype" title="Attack roll for the weapon")
		+diceSelect("d8")
	label(data-i18n-title="quality" title="quality")
		input(data-i18n="balanced" data-i18n-title="title-weapon-quality" name="attr_weapon1-quality" placeholder="Balanced" title="Balanced, Blunt, Deep Impact, Jointed, Long, Precise, Short, etc." type="text")
	label.dashed(data-i18n-title="damage" title="damage")
		input.center(data-i18n-title="title-bonus-to-damage" name="attr_weapon1-extra-damage" title="Bonus to damage" type="number" value="0")
	label.dashed(data-i18n-title="roll" title="roll")
		select(data-i18n-title="title-extra-damage-roll" name="attr_weapon1-extra-dtype" title="Extra damage roll due to an ability")
			+diceSelect("0")
	label.dashed(data-i18n-title="attack" title="attack")
		input.center(data-i18n-title="title-bonus-to-attack-roll" name="attr_weapon1-extra-attack" title="Bonus to attack roll" type="number" value="0")

//- DEFENSE
mixin defense()
	button(name="roll_defense" type='roll' value="&{template:defense}{{name=@{armor1-name}}}{{attribute=[[@{defense-ability}+(?{Modifier +/-|0})+@{armor-impeding}+@{extra-armor}]]}}{{attribute1=[[1+@{defense-ability}+(?{Modifier +/-|0})+@{armor-impeding}+@{extra-armor}]]}}{{defense-roll=[[1d20]]}}{{damage-taken=[[@{armor1-dtype}+@{armor1-extra-dtype}+@{negated-damage}]]}}{{defense-crit=[[1d20]]}}{{damage-crit=[[1d6]]}}{{character-name=@{character-name}}} {{defense-type=[[@{defense-ability}]]}}")
	label(data-i18n-title="armor-or-power" title="armor-or-power")
		input(data-i18n-title="title-armor-or-power-explanation" name="attr_armor1-name" title="Armor the character is wearing, or Power used to defend" type="text")
	label(data-i18n-title="impede" title="impede")
		input(data-i18n-title="title-armors-impending-penalty" max="0" min="-4" name="attr_armor-impeding" title="Armor's impeding penalty" type="number" value="0")
	select(data-i18n-title="title-ability-that-determines-defense" name="attr_defense-ability" title="Ability that determines defense, usually Quick")
		option(data-i18n="bonus-damage-abbrv" value="[[-1]]") Bonus dmg
		+attrSelect("Quick")
	select(data-i18n-title="title-defense-armor" name="attr_armor1-dtype" title="Defense roll for the armor")
		+diceSelect("d4")
	label(data-i18n-title="quality" title="quality")
		input(data-i18n-title="title-armor-quality" data-i18n-placeholder="flexible" name="attr_armor1-quality" placeholder="Flexible" title="Flexible, Cumbersome, etc." type="text" value="")
	label.dashed(data-i18n-title="damage" title="damage")
		input(data-i18n-title="title-damage-reductio" name="attr_negated-damage" title="Any damage reduction from skills or items" type="number" value="0")
	label.dashed(data-i18n-title="roll" title="roll")
		select(data-i18n-title="title-damage-negated" name="attr_armor1-extra-dtype" title="Damage negated due to an ability")
					+diceSelect("0")
	label.dashed(data-i18n-title="defenses" title="Defense")
		input(data-i18n-title="title-any-bonus-to-defense" name="attr_extra-armor" title="Any bonus to defense, including shields" type="number" value="0")

//- TRAITS & ABILITES
mixin traitAbil(section)
	- const traitSkill = section === "ability" ? "skill" : section;
	button(data-i18n-title="title-" + section + "-check" name="roll_" + section + "Check" title=section + " Check" type="roll" value="&{template:abilitycheck}{{name=^{" + section + "}: @{" + section + "name}}} {{character=@{character-name}}} {{selected=@{" + section + "attribute}}} {{attribute=[[@{" + section + "attribute}+(?{Modifier +/-|0})]]}} {{roll=[[1d20]]}} ")
	label.long(data-i18n-title="title-" + section + "name" title=section + " name")
		input(data-i18n-placeholder="name" data-i18n-title="title-" + section + "name" name="attr_" + section + "name" placeholder="Name" title=section + " name" type="text")
	select(data-i18n-title="title-" + section + "-ability" name="attr_" + section + "attribute" title="Attribute for " + section " Check")
		option(data-i18n="select" value="[[-1]]" selected) Select
		+attrSelect("Accurate")
	select(name="attr_" + section + "-type" title=section + "action type" data-i18n-title="title-" + section + "-action-type" )
		+actionSelect("Special")
	+rankChecks(traitSkill)
	textarea(data-i18n-placeholder="effect" data-i18n-title="title-" + section + "-description" name="attr_" + section + "desc" placeholder="Effect" title=section + "description" )

//- BOONS & BURDENS
mixin boonBurden(section)
	label(data-i18n-title="title-" + section + "name" title=section + " name")
		input(data-i18n-placeholder="name" data-i18n-title="title-" + section + "name" name="attr_" + section + "name" placeholder="Name" title=section + " name" type="text")
	select(name="attr_" + section + "-type" title=section + "action type" data-i18n-title="title-" + section + "-action-type" )
		+actionSelect("Special")
	+rankChecks(section)
	textarea(data-i18n-placeholder="effect" data-i18n-title="title-" + section + "-description" name="attr_" + section + "desc" placeholder="Effect" title=section + "description" )