mixin config
  section.config
    -
      const config = data.common.config;
      const { sheetMode, rtype, wtype } = data.common.config.fields;
      const configsubs = config.subtitles;

    .death__block.config__sheet-mode
      label.death__label(data-i18n=sheetMode.name)=sheetMode.label
      .sheet-mode__radios
        each field in sheetMode.options
          - const i18nkey = `${field.name}_${field.value}`;
          label.sheet-mode__radio
            +field(field).sheet-mode__input
            span.sheet-mode__label(data-i18n=i18nkey)=field.value

    .death__block.config__roll-type
      label.death__label(data-i18n=rtype.name)=rtype.label
      +field(rtype).roll-type__input

    .death__block.config__whisper-type
      label.death__label(data-i18n=wtype.name)=wtype.label
      +field(wtype).whisper-type__input
