- var track = [ 0, 1, 2, 3, 4, 5, 6, 7, 8, 9 ]
include ../progress/mixins/box

h3.sheet-divide &emsp;MISSES&emsp;
.sheet-misses-track
  div
    label.sheet-clear-miss CLEAR
      input(class="sheet-clear-miss sheet-hide" type="checkbox" name="attr_clear_misses")
    each index in track
      select(name=`attr_miss-${index}` class="sheet-progress-input sheet-miss-input")
        +progressBox
    label.sheet-btn LEARN 
      button(
        type="roll"
        class='sheet-hide'
        name="rollMisses"
        value="&{template:ironcrunch_progress} {{progress_type=Misses}} {{header=@{character_name} <em>Learn from Faults</em> }} {{progress=[[@{misses-filled}]]}} {{challenge1=[[d10]]}} {{challenge2=[[d10]]}}"
      )    
    input(
      type="text"
      class="sheet-hide"
      name="attr_misses-filled"
      value="floor((@{miss-0}+@{miss-1}+@{miss-2}+@{miss-3}+@{miss-4}+@{miss-5}+@{miss-6}+@{miss-7}+@{miss-8}+@{miss-9})/4)"
      disabled="true"
    )