- var challenge = [ 'one', 'two', 'three', 'four' ]

include ./mixins/box

fieldset.repeating_progress
  .surface.progress-tab
    .progress-holder
      input.progress-name(type='text' name='attr_name')
      label.challenge-show
        input(type='checkbox' class='hide-element challenge-show-button' name='attr_challenge-show-button')
        .challenge-show-back.i18n-text(data-i18n='progress-challenge')=translation['progress-challenge']
    .progress-header
      each difficulty, index in difficulties
        label.difficulty.surface-2
          if difficulty.checked
            input(type="radio" class="hide-element" name="attr_rank" value=index checked)
          else
            input(type="radio" class="hide-element" name="attr_rank" value=index)
          h5=difficulty.text
    +progressTrack(track, 'name', { btnClasses: ['surface-2'] })
    .progress-container
      input(type='checkbox' class='hide-element challenge-show' name='attr_challenge-show')
      .challenge-row.showhide
        label.challenge-label
          span.i18n-text(data-i18n='scene-challenge-countdown')=translation['scene-challenge-countdown']
        each index in challenge
          label.challenge-box
            input.challenge.hide-element(type='checkbox' class='hide-element' name=`attr_countdown-${index}`)
            .challenge-fill

