-
  const type = [
    'personal',
    'group'
  ];
-
section#ambitions.ambitions.span-2.long-2
  each name in type
    if name === 'personal'
      h1(data-i18n='ambitions')
    else
      +input-label({label:'group name',
        inputObj:{name:'group name', class:'underlined h3-style-input center', type:'text', 'data-i18n-placeholder':'NA'},
        spanObj:{role:'heading', 'aria-level':3, class:'normal'}
      })
    +fieldset({name:`ambition-${name}`})
      .flex-box.row.justify-end
        .flex-box.col.no-gap
          +select-label({
              label:'size',
              inputObj:{name:'clock-size'},
              divObj:{class:'dropdown stat', style:'width:100px; margin:0px;'},
              spanObj:{class:'capitalize smallcaps', style:'width:50px;'}
            })
              each val in [4,6,8,10,12]
                option(value=`${val}`) #{val}
          .clock.small-clock
            +hidden({name:'clock-size', class:'clock-switch', value:'4'})
            each val in [4,6,8,10,12]
              +div({class:`clock_${val}`})
                +div({name:'clock', class:'clock-section'})
                  if val === 4
                    each num in [0,6,12,18]
                      +radio({name:`ac-${val}`, class:`clock-radio clock-${num}`, value:`${num}`})
                  else if val === 6
                    each num in [0,4,8,12,16,20]
                      +radio({name:`ac-${val}`, class:`clock-radio clock-${num}`, value:`${num}`})
                  else if val === 8
                    each num in [0,3,6,9,12,15,18,21]
                      +radio({name:`ac-${val}`, class:`clock-radio clock-${num}`, value:`${num}`})
                  else if val === 10
                    each num in [0,2,5,7,10,12,14,17,19,22]
                      +radio({name:`ac-${val}`, class:`clock-radio clock-${num}`, value:`${num}`})
                  else
                    each num in [0,1,4,6,8,11,12,13,16,18,20,23]
                      +radio({name:`ac-${val}`, class:`clock-radio clock-${num}`, value:`${num}`})
                  div.clock-face
        .flex-box.row.center
          +textarea({name:'notes', class:'textarea-6 ambition fixed', 'data-i18n-placeholder':`${name} ambition desc`})
          if name === 'personal'
            +button({name:'quote', type:'roll', class:'roll-quote', value:"&{template:icon} {{name=personal ambition}} {{character_name=@{character_name}}} {{character_id=@{character_id}}} {{text=@{notes}}}"})
          else
            +button({name:'quote', type:'roll', class:'roll-quote', value:"&{template:icon} {{name=group ambition}} {{character_name=@{group_name}}} {{text=@{notes}}}"})
  .hide-note
    p(class='bold capitalize', 'data-i18n'='ambition action roll')
    +checkbox({class:'collapse', value:'0', name:'collapse-ambition'})
    .notes.expanded
      p(class='indent bullet', 'data-i18n'="ambition reminder line 1")
      p(class='indent bullet', 'data-i18n'="ambition reminder line 2")
      p(class='indent bullet', 'data-i18n'="ambition reminder line 3")
      p(class='indent bullet', 'data-i18n'="ambition reminder line 4")
      p('data-i18n'="ambition reminder line 0")