mixin oracleRollGroup(group, type, key)
  .oracle-box
    .oracle-title=key
    each oracle in group.oracles
      .oracle
        .button-container
          - var id = oracle.class.toLowerCase().replace(/-/g, '_')
          button(
            type='roll'
            title=`@{roll_${id}_oracle}`
            name=`roll_${id}_oracle`
            value=`&{template:${type}_oracles} {{header=${oracle.name}}} {{${oracle.roll_id}=[[${oracle.dice}]]}}`
            )
        label.common-btn.oracle-btn
          input.hide.btn-input(
            type='radio'
            title=`@{oracle_${type}_button}`
            name=`attr_oracle_${type}_button`
            value=id
          )
          .btn-content=oracle.name

mixin oracleBuilder(opts, type)
  - var id = opts.class.toLowerCase().replace(/-/g, '_')
  input(class=`${opts.class} hide` type='radio' name=`attr_oracle_${type}` value=id)
  div(class=`${opts.class} showhide`)
    .oracle-title.oracle-table-preview=opts.name
    .oracle-table
      each row in opts.rows
        .oracle-row
          span.oracle-roll=row.roll
          span.oracle-result!=row.result
