.equipment
  .equipment__header
    span.equipment__count.pictos *
    span.equipment__title(data-i18n="item-name-u") ITEM NAME
    span.equipment__weighti
      img(
        src="https://app.roll20.net/images/dndstyling/weight_lbs.png",
        alt="Weight symbol"
      )

  fieldset.repeating_inventory
    .item
      input.item__optionsflag(type="hidden", name="attr_inventory_options")
      .item__titlerow
        input.item__equipped(
          type="checkbox",
          name="attr_equipped",
          value="1",
          checked="checked"
        )
        input.item__count(type="text", name="attr_itemcount", value="1")
        input.item__name(type="text", name="attr_itemname")
        input.item__weight(type="text", name="attr_itemweight")
        .item__optionsflag
          input.item__optionscheck(
            type="checkbox",
            name="attr_inventory_options"
          )
          span.pictos y
      .item__options.options
        .options__row.options__row--checkbox
          input.equipped(
            type="checkbox",
            name="attr_equipped",
            value="1",
            checked="checked"
          )
          span.equippedlabel(data-i18n="equipped-u") EQUIPPED
        .options__row.options__row--checkbox
          input.equipped(type="checkbox", name="attr_useasresource", value="1")
          span.equippedlabel(data-i18n="use-as-resource-u") USE AS A RESOURCE
        .options__row.options__row--checkbox
          input.equipped(type="checkbox", name="attr_hasattack", value="1")
          span.equippedlabel(data-i18n="has-attack-u") HAS AN ATTACK
        .options__row
          span(data-i18n="prop:-u") PROP:
          input(type="text", name="attr_itemproperties")
        .options__row
          span(data-i18n="mods:-u") MODS:
          input(type="text", name="attr_itemmodifiers")
        .options__row
          textarea.subtextarea(name="attr_itemcontent")
      input(type="hidden", name="attr_itemattackid")
      input(type="hidden", name="attr_itemresourceid")

  .equipment__weighttotal
    span.equipment__encumbrancetitle(data-i18n="total-weight-u") TOTAL WEIGHT
    input.equipment__encumbrance(
      type="number",
      name="attr_weighttotal",
      value="0"
    )
    input(type="hidden", name="attr_encumbrance")

  .equipment__label(data-i18n="Equipment") Equipment
