.exhaustions
  input(type="hidden", name="attr_exhaustion", value="0")
  .exhaustions__checks
    each i in [0, 1, 2, 3, 4, 5, 6]
      .exhaustion
        input.exhaustion__radio(type="radio", name="attr_exhaustion", value=i)
        span.exhaustion__text= i
  .exhaustions__tracker 
    each url, i in ["https://res.cloudinary.com/dmrhbjudf/image/upload/v1626558383/exhaustion-0_wulpge.png", "https://res.cloudinary.com/dmrhbjudf/image/upload/v1626558383/exhaustion-1_fzmarb.png", "https://res.cloudinary.com/dmrhbjudf/image/upload/v1626558383/exhaustion-2_prwgr3.png", "https://res.cloudinary.com/dmrhbjudf/image/upload/v1626558383/exhaustion-3_hvsfbn.png", "https://res.cloudinary.com/dmrhbjudf/image/upload/v1626558383/exhaustion-4_bnucar.png", "https://res.cloudinary.com/dmrhbjudf/image/upload/v1626558383/exhaustion-5_ncgzva.png", "https://res.cloudinary.com/dmrhbjudf/image/upload/v1626558383/exhaustion-6_zles7f.png"]
      - const className = `exhaustions__level--${i}`;
      img.exhaustions__level(class=className, src=url)
  span.exhaustions__label(data-i18n="Exhaustion") Exhaustion
