.knocks
  input(type="hidden", name="attr_knock", value="0")
  .knocks__tracker 
    each url, i in ["https://res.cloudinary.com/dmrhbjudf/image/upload/v1626558383/knocks-0_vjhzm1.png","https://res.cloudinary.com/dmrhbjudf/image/upload/v1626558383/knocks-1_jw2f7g.png","https://res.cloudinary.com/dmrhbjudf/image/upload/v1626558383/knocks-2_vjnn6l.png","https://res.cloudinary.com/dmrhbjudf/image/upload/v1626558383/knocks-3_k5vfqe.png","https://res.cloudinary.com/dmrhbjudf/image/upload/v1626558383/knocks-4_qgcbum.png","https://res.cloudinary.com/dmrhbjudf/image/upload/v1626558384/knocks-5_tdonfo.png","https://res.cloudinary.com/dmrhbjudf/image/upload/v1626558384/knocks-6_ta9dgm.png"]
      - const className = `knocks__level--${i}`;
      img.knocks__level(class=className, src=url)
  .knocks__checks
    each i in [0, 1, 2, 3, 4, 5, 6]
      .knock
        input.knock__radio(type="radio", name="attr_knock", value=i)
        span.knock__text= i
  span.knocks__label(data-i18n="Knocks") Knocks
