- var power_levels_all = [['cantrip',1,2],[3,4,5],[6,7,8,9]];
div.flex-row.body
    each power_levels in power_levels_all
        div.flex-colum.w-4
            each power_level in power_levels
                if power_level === 'cantrip'
                    .power-labels
                        span(data-i18n="force_slots_total-u") FORCE TOTAL
                        span(data-i18n="force_slots_remaining-u") FORCE REMAINING

                    .power-level.mb-3
                        .level
                            span FP
                        .total
                            input(type="number", name="attr_force_power_points_total", value="0")
                        .expended
                            input(type="number", name="attr_force_power_points_expended", value="0")

                    .power-labels
                        span(data-i18n="tech_slots_total-u") TECH TOTAL
                        span(data-i18n="tech_slots_remaining-u") TECH REMAINING

                    .power-level.mb-4
                        .level
                            span TP
                        .total
                            input(type="number", name="attr_tech_power_points_total", value="0")
                        .expended
                            input(type="number", name="attr_tech_power_points_expended", value="0")

                div.spell-group
                    // Power Level Header
                    .power-level
                        .level
                            if power_level === 'cantrip'
                                span= 0
                            else
                                span= power_level
                        .cantrips
                            span(data-i18n=`power-${power_level}-u`)= `Powers Lvl ${power_level}`

                    // Power Container
                    .power-container
                        fieldset(class=`repeating_power-${power_level}`)
                            .power
                                input.options-flag(type="checkbox", name="attr_options-flag", checked="checked")
                                span y
                                input.detail-flag(type="checkbox", name="attr_detail-flag")
                                span E
                                .options
                                    .flex-row
                                        span(data-i18n="name:-u") NAME:
                                        input(type="text", name="attr_powername")
                                    .flex-row
                                        span(data-i18n="school:-u") SCHOOL:
                                        select(name="attr_powerschool")
                                            option(value="force", data-i18n="force") Force
                                            option(value="tech", data-i18n="tech") Tech
                                    .flex-row
                                        span(data-i18n="casting-time:-u") CASTING TIME:
                                        input(type="text", name="attr_powercastingtime")
                                    .flex-row
                                        span(data-i18n="range:-u") RANGE:
                                        input(type="text", name="attr_powerrange")
                                    .flex-row
                                        span(data-i18n="target:-u") TARGET:
                                        input(type="text", name="attr_powertarget")
                                    .flex-row
                                        input(type="checkbox", name="attr_powerconcentration", value="{{concentration=1}}")
                                        span(data-i18n="concentration-u") CONCENTRATION
                                    .flex-row
                                        span(data-i18n="duration:-u") DURATION:
                                        input(type="text", name="attr_powerduration")
                                    .flex-row
                                        span(data-i18n="power-ability-u") POWERCASTING ABILITY
                                        select(name="attr_power_ability")
                                            option(value="0*", data-i18n="none-u") NONE
                                            option(value="power", data-i18n="power-u") POWER
                                            option(value="@{strength_mod}+", data-i18n="strength-u") STRENGTH
                                            option(value="@{dexterity_mod}+", data-i18n="dexterity-u") DEXTERITY
                                            option(value="@{constitution_mod}+", data-i18n="constitution-u") CONSTITUTION
                                            option(value="@{intelligence_mod}+", data-i18n="intelligence-u") INTELLIGENCE
                                            option(value="@{wisdom_mod}+", data-i18n="wisdom-u") WISDOM
                                            option(value="@{charisma_mod}+", data-i18n="charisma-u") CHARISMA
                                    .flex-row
                                        span(data-i18n="innate:-u") INNATE:
                                        input(type="text", name="attr_innate", placeholder="1/day", value="")
                                    .flex-row
                                        span(data-i18n="output:-u") OUTPUT:
                                        select(name="attr_poweroutput")
                                            option(value="POWERCARD", data-i18n="powercard-u") POWERCARD
                                            option(value="ATTACK", data-i18n="attack-u") ATTACK
                                    input.powerattackinfoflag(type="hidden", name="attr_poweroutput")

                                    .powerattackinfo
                                        .flex-row
                                            span(data-i18n="power-atk:-u") POWER ATTACK:
                                            select(name="attr_powerattack")
                                                option(value="None", data-i18n="none") None
                                                option(value="Melee", data-i18n="melee") Melee
                                                option(value="Ranged", data-i18n="ranged") Ranged
                                        .flex-row
                                            span(data-i18n="damage:-u") DAMAGE:
                                            input(type="text", name="attr_powerdamage", style="width: 50px;")
                                            span(data-i18n="type:-u") TYPE:
                                            input(type="text", name="attr_powerdamagetype", style="width: 103px;")
                                        .flex-row
                                            span(data-i18n="damage2:-u") DAMAGE2:
                                            input(type="text", name="attr_powerdamage2", style="width: 45px;")
                                            span(data-i18n="type:-u") TYPE:
                                            input(type="text", name="attr_powerdamagetype2", style="width: 103px;")
                                        .flex-row
                                            span(data-i18n="healing:-u") HEALING:
                                            input(type="text", name="attr_powerhealing", style="width: 45px;")
                                        .flex-row
                                            input(type="checkbox", name="attr_powerdmgmod", value="Yes")
                                            span(data-i18n="add-ability-mod-u") ADD ABILITY MOD TO DAMAGE OR HEALING
                                        .flex-row
                                            span(data-i18n="cantrip-progression:-u") AT-WILL PROGRESSION
                                            select(name="attr_power_damage_progression")
                                                option(value="", selected="selected", data-i18n="none-u") NONE
                                                option(value="Cantrip Dice", data-i18n="cantrip-dice-u") AT-WILL DICE
                                                option(value="Cantrip Beam", data-i18n="cantrip-beam-u") AT-WILL BEAM
                                        .flex-row
                                            span(data-i18n="saving-throw:-u") SAVING THROW:
                                            select(name="attr_powersave")
                                                option(value="", selected="selected", data-i18n="none-u") NONE
                                                option(value="Strength", data-i18n="str-u") STR
                                                option(value="Dexterity", data-i18n="dex-u") DEX
                                                option(value="Constitution", data-i18n="con-u") CON
                                                option(value="Intelligence", data-i18n="int-u") INT
                                                option(value="Wisdom", data-i18n="wis-u") WIS
                                                option(value="Charisma", data-i18n="cha-u") CHA
                                            span(data-i18n="effect:-u") EFFECT:
                                            input(type="text", name="attr_powersavesuccess", style="width: 78px;", placeholder="Half damage", data-i18n-placeholder="half-dmg-place")
                                        .flex-row
                                            span(data-i18n="at-higher-lvl-dmg:-u") HIGHER LVL CAST DMG:
                                            input(type="text", name="attr_powerhldie", placeholder="1", style="width: 15px; text-align: right;")
                                            select(name="attr_powerhldietype")
                                                option(value="", selected="selected", data-i18n="none-u") NONE
                                                option(value="d4") d4
                                                option(value="d6") d6
                                                option(value="d8") d8
                                                option(value="d10") d10
                                                option(value="d12") d12
                                                option(value="d20") d20
                                            span +
                                            input(type="text", name="attr_powerhlbonus", placeholder="0", style="width: 15px; text-align: center;")
                                        .flex-row
                                            span(data-i18n="include_power_desc:-u") INCLUDE POWER DESCRIPTION IN ATTACK:
                                            select(name="attr_includedesc")
                                                option(value="off", selected="selected", data-i18n="off") Off
                                                option(value="partial", data-i18n="partial") Partial
                                                option(value="on", data-i18n="on") On
                                    .flex-row
                                        span(data-i18n="description:-u") DESCRIPTION:
                                    .flex-row
                                        textarea(name="attr_powerdescription")
                                    .flex-row
                                        span(data-i18n="at-higher-lvl:-u") AT HIGHER LEVELS:
                                    .flex-row
                                        textarea(name="attr_powerathigherlevels", style="height: 36px; min-height: 36px;")

                                    input(type="hidden", name="attr_powerattackid")
                                    input(type="hidden", name="attr_powerlevel", value=`${power_level}`)

                                .flex-row.display
                                    input.custom-checkbox(type="checkbox",name="attr_rollprepared")
                                    span.custom-checkbox
                                    input(type="hidden", name="attr_rollcontent", value="@{wtype}&{template:power} {{level=@{powerschool} @{powerlevel}}}  {{name=@{powername}}} {{castingtime=@{powercastingtime}}} {{range=@{powerrange}}} {{target=@{powertarget}}}  {{duration=@{powerduration}}} {{description=@{powerdescription}}} {{athigherlevels=@{powerathigherlevels}}}  {{innate=@{innate}}} @{powerconcentration} @{charname_output}")
                                    button.powercard(type="roll", name="roll_power", value="@{rollcontent}")
                                        span.powername(name="attr_powername")
                                        input.innate_flag(type="hidden", name="attr_innate", value="")
                                        span.innate(name="attr_innate")
                                    input.powerconcentration(type="hidden", name="attr_powerconcentration", value="0")
                                    span.powerconcentration(data-i18n="power-concentration") C
                                .flex-column.detail
                                    .flex-row.flex-align-center
                                        label.flex-w-4.flex-justify-end(data-i18n="school:-u") SCHOOL:
                                        div.flex-w-8
                                            span(name="attr_powerschool")
                                    .flex-row.flex-align-center
                                        label.flex-w-4.flex-justify-end(data-i18n="casting-time:-u") CASTING TIME:
                                        div.flex-w-8
                                            span(name="attr_powercastingtime")
                                    .flex-row.flex-align-center
                                        label.flex-w-4.flex-justify-end(data-i18n="range:-u") RANGE:
                                        div.flex-w-8
                                            span(name="attr_powerrange")
                                    .flex-row.flex-align-center
                                        label.flex-w-4.flex-justify-end(data-i18n="target:-u") TARGET:
                                        div.flex-w-8
                                            span(name="attr_powertarget")
                                    .flex-row.flex-align-center
                                        label.flex-w-4.flex-justify-end(data-i18n="duration:-u") DURATION:
                                        div.flex-w-8
                                            span(name="attr_powerduration")
                                    .flex-row.flex-align-center
                                        label.flex-w-4.flex-justify-end(data-i18n="innate:-u") INNATE:
                                        div.flex-w-8
                                            span(name="attr_innate")
                                    hr.m-0
                                    .flex-row.mt-0
                                        span(name="attr_powerdescription")
                                    label.dt-subtitle(data-i18n="at-higher-lvl:-u") AT HIGHER LEVELS:
                                    .flex-row.mt-0
                                        span(name="attr_powerathigherlevels")
