mixin allequipment(what='pc')
	if (what==='pc')
		.grid.header-body.equipment(id='equipment-pc').border
			.section-header
				h1(data-i18n='equipment' data-i18n-title='equipment') equipment
			+mainequipmentpc
	else if (what==='npc')
		.grid_npc.armor-skills-abilities-other.border(id='equipment-npc')
			.header
				h2.npc(data-i18n="equipment") equipment
			+mainequipmentnpc

mixin allabilities()
	.grid_npc.armor-skills-abilities-other.border(id='abilities-npc')
		.header
			h2.npc(data-i18n="abilities") abilities
		+mainabilitiesnpc

mixin mainequipmentpc()
	.grid.section-body.border
		- const weaponsAttrs = ['weapons', 'skill %', 'base range', 'damage', 'armor piercing', 'lethality %', 'kill radius', 'ammo']
		- const ritualsAttrs = ['ritual', 'skill %', 'sanity cost','hit_points_cost','willpower_points_cost','power_score_cost', 'complexity', 'activation time','extra']
		h2.aligned-left(data-i18n='15. armor and gear' data-i18n-title='15. armor and gear') 15. armor and gear
		.border-bottom
			textarea(data-i18n-placeholder='armor and gear' name='attr_armor_and_gear' placeholder='armor and gear' title='@{armor_and_gear}')
		.section-directions.center.border-bottom
			span(data-i18n='Body armor reduces the damage of all attacks except Called Shots and successful Lethality rolls.') Body armor reduces the damage of all attacks except Called Shots and successful Lethality rolls.
		.grid.section-weapons.border-bottom
			each weapon in weaponsAttrs
				- const weaponHeader = (weapon === 'weapons') ? '16. weapons' : weapon;
				h2(data-i18n=weaponHeader data-i18n-title=weaponHeader title=weaponHeader)= weaponHeader
				if (weapon != 'ammo')
					.vert-line
		.repeating-container.border-bottom
			fieldset.repeating_weapons
				input(type='hidden' name='attr_initialized' value=0)
				.grid.section-weapons.border-bottom.repeating-section-weapons
					+weapons(weaponsAttrs)
		input.visible_rituals(type='hidden' name='attr_visible_pc_rituals')
		.is_visible_on_pc
			.grid.section-rituals.border-bottom
				each ritual in ritualsAttrs
					- const ritualHeader = (ritual === 'ritual') ? '16b. rituals' : ritual;
					if (ritual === 'willpower_points_cost')
						h2(data-i18n='WP cost' data-i18n-title='WP cost' title='WP cost')= 'WP cost' 
					else if (ritual === 'hit_points_cost')
						h2(data-i18n='HP cost' data-i18n-title='HP cost' title='HP cost')= 'HP cost'
					else if (ritual === 'power_score_cost')
						h2(data-i18n='POW cost' data-i18n-title='POW cost' title='POW cost')= 'POW cost'
					else
						h2(data-i18n=ritualHeader data-i18n-title=ritualHeader title=ritualHeader)= ritualHeader
					if (ritual != 'extra')
						.vert-line
			.repeating-container.border-bottom
				fieldset.repeating_rituals
					input(type='hidden' name='attr_initialized' value=0)
					.grid.section-rituals.border-bottom.repeating-section-rituals
						+rituals(ritualsAttrs)




mixin mainequipmentnpc()
	.grid.section-body.border.equipment
		.border-bottom
			textarea(data-i18n-placeholder='armor and gear' name='attr_armor_and_gear' placeholder='armor and gear' title='@{armor_and_gear}')
		.section-directions.center.border-bottom
			span(data-i18n='Body armor reduces the damage of all attacks except Called Shots and successful Lethality rolls.') Body armor reduces the damage of all attacks except Called Shots and successful Lethality rolls.
		.border-bottom
		
mixin mainabilitiesnpc()
	.grid.section-body.border.equipment
		- const weaponsAttrs = ['weapons', 'skill %', 'base range', 'damage', 'armor piercing', 'lethality %', 'kill radius', 'ammo']
		- const ritualsAttrs = ['ritual', 'skill %', 'sanity cost','hit_points_cost','willpower_points_cost','power_score_cost', 'complexity', 'activation time','extra']
		.grid.section-weapons.border-bottom
			each weapon in weaponsAttrs
				- const weaponHeader = (weapon === 'weapons') ? 'weapons' : weapon;
				h2(data-i18n=weaponHeader data-i18n-title=weaponHeader title=weaponHeader)= weaponHeader
				if (weapon != 'ammo')
					.vert-line
		.repeating-container.border-bottom
			fieldset.repeating_weapons
				input(type='hidden' name='attr_initialized' value=0)
				.grid.section-weapons.border-bottom.repeating-section-weapons
					+weapons(weaponsAttrs)
		.grid.section-rituals.border-bottom
			each ritual in ritualsAttrs
				- const ritualHeader = (ritual === 'ritual') ? 'rituals' : ritual;
				if (ritual === 'willpower_points_cost')
					h2(data-i18n='WP cost' data-i18n-title='WP cost' title='WP cost')= 'WP cost' 
				else if (ritual === 'hit_points_cost')
					h2(data-i18n='HP cost' data-i18n-title='HP cost' title='HP cost')= 'HP cost'
				else if (ritual === 'power_score_cost')
					h2(data-i18n='POW cost' data-i18n-title='POW cost' title='POW cost')= 'POW cost'
				else
					h2(data-i18n=ritualHeader data-i18n-title=ritualHeader title=ritualHeader)= ritualHeader
				if (ritual != 'extra')
					.vert-line
		.repeating-container.border-bottom
			fieldset.repeating_rituals
				input(type='hidden' name='attr_initialized' value=0)
				.grid.section-rituals.border-bottom.repeating-section-rituals
					+rituals(ritualsAttrs)
