include fields.pug

mixin abilityScoreRow(longname, shortname)
  tr
    td.blackBox
      .shortname= shortname
      .longname= longname
    td
      +fieldBox()(type='number', name=shortname)
    td
      +fieldBox()(type='number', name=shortname+'_temp')
    td
      +readOnlyBox()(name=shortname+'_mod')
    td
      +fieldUnderlined('Notes')(type='text', name=shortname+'_notes')

table.abilityScores
  thead
    tr
      th Ability Name
      th Base Score
      th Temp +/-
      th Modifier
      th
  tbody
    +abilityScoreRow('Strength', 'str')
    +abilityScoreRow('Dexterity', 'dex')
    +abilityScoreRow('Constitution', 'con')
    +abilityScoreRow('Intelligence', 'int')
    +abilityScoreRow('Wisdom', 'wis')
    +abilityScoreRow('Charisma', 'cha')
