mixin fieldUnderlined(label)
  .fieldUnderlined(style=attributes.style)
    label= label
    input(type=attributes.type, name='attr_'+attributes.name)

mixin fieldBox()
  .fieldBox(style=attributes.style)
    input(type=attributes.type, name='attr_'+attributes.name)

mixin fieldBoxH(label)
  .fieldBoxH(style=attributes.style)
    label= label
    input(type=attributes.type, name='attr_'+attributes.name)

mixin fieldBoxHFraction(label)
  .fieldBoxHFraction(style=attributes.style)
    label= label
    .fraction
      input(type=attributes.type, name='attr_'+attributes.name)
      span /
      input(type=attributes.type, name='attr_'+attributes.name+'_max')

mixin readOnlyBox()
  span.readOnlyBox(name='attr_' + attributes.name)
