mixin fieldBox(type, name)
  .fieldBox(style=attributes.style)
    input(type=type, name='attr_' + name)

mixin fraction(name)
  .fraction
    input(type='number', name='attr_' + name)
    span /
    input(type='number', name='attr_' + name + '_max')

mixin input(type, name)
  input(type=type, name='attr_' + name, style=attributes.style)

mixin labelledAbove(label)
  .labelledAbove(style=attributes.style)
    label= label
    .inner: block

mixin labelledBoxH(label)
  .labelledBoxH(class=attributes.class, style=attributes.style)
    label= label
    .inner: block

mixin labelledBoxV(label)
  .labelledBoxV(style=attributes.style)
    label= label
    .inner: block


mixin labelledUnderlined(label)
  .labelledUnderlined(style=attributes.style)
    label= label
    .inner: block

mixin readOnlyBox(name)
  .readOnlyBox: span(name='attr_' + name) 0

mixin repeating(name)
  fieldset(class='repeating_' + name)
    block

mixin select(name)
  select(name='attr_' + name)
    block

mixin textarea(name)
  textarea(name='attr_' + name, style=attributes.style, placeholder=attributes.placeholder)
