mixin fieldBox()
  .fieldBox(style=attributes.style)
    input(type=attributes.type, name='attr_'+attributes.name)

mixin fraction()
  .fraction
    input(type=attributes.type, name='attr_'+attributes.name)
    span /
    input(type=attributes.type, name='attr_'+attributes.name+'_max')

mixin labelledAbove(label)
  .labelledAbove(style=attributes.style)
    label= label
    .inner: block

mixin labelledBoxH(label)
  .labelledBoxH(class=attributes.class, style=attributes.style)
    label= label
    .inner: block

mixin labelledBoxV(label)
  .labelledBoxV(style=attributes.style)
    label= label
    .inner: block


mixin labelledUnderlined(label)
  .labelledUnderlined(style=attributes.style)
    label= label
    .inner: block

mixin readOnlyBox()
  .readOnlyBox: span(name='attr_' + attributes.name) 0
