mixin fieldUnderlined(label)
  .fieldUnderlined
    label= label
    input(type=attributes.type, name='attr_'+attributes.name)

mixin fieldBoxH(label)
  .fieldBoxH
    label= label
    input(type=attributes.type, name='attr_'+attributes.name)

mixin fieldBoxHFraction(label)
  .fieldBoxHFraction
    label= label
    .fraction
      input(type=attributes.type, name='attr_'+attributes.name)
      span /
      input(type=attributes.type, name='attr_'+attributes.name+'_max')
