include ../../data/translations
include ../../data/assets/combat-talents

mixin combatTalentBuilder
  input.asset-combat-talent.hide(type='checkbox' name='attr_assetcombat-talent')
  .combat-talent.showhide
    select.sub-dropdown(name='attr_assetdropdowncombattalent')
      - var defaultTranslation = 'asset-dropdown-default'
      option(data-i18n=defaultTranslation value='' disabled='' selected='')=translations[defaultTranslation]
      each asset, key in combatTalents
        option(data-i18n=`asset-title-${key}` value=key)=translations[`asset-title-${key}`]
    
    each asset, key in combatTalents
      input(class=`hide ${key}` type='checkbox' name=`attr_assetcombattalentdiv${key}`)
      div(class=`hide ${key}`)
        .asset-description
          - var translationDesc = `asset-description-${key}`
          .asset-description-text(data-i18n=translationDesc)=translations[translationDesc]
        .flex-wrapper
          .flex-container
            input.asset-ability(type='checkbox' name=`attr_assetcheckbox_${asset.abilityId}1` checked='')
            - var translationAbil1 = `asset-${key}-ability-one`
            .asset-ability(data-i18n=translationAbil1)=translations[translationAbil1]
          .flex-container
            input.asset-ability(type='checkbox' name=`attr_assetcheckbox_${asset.abilityId}2`)
            - var translationAbil2 = `asset-${key}-ability-two`
            .asset-ability(data-i18n=translationAbil2)=translations[translationAbil2]
          .flex-container
            input.asset-ability(type='checkbox' name=`attr_assetcheckbox_${asset.abilityId}3`)
            - var translationAbil3 = `asset-${key}-ability-three`
            .asset-ability(data-i18n=translationAbil3)=translations[translationAbil3]
        if key === 'ironclad'
          .asset-track-wrapper.asset-track-wrapper-wordy
            .asset-track-box
              .asset-track-box-display=translations['asset-ironclad-track-one']
              input(type='radio' name='attr_assettrack_ironclad' value='0')
            .asset-track-box
              .asset-track-box-display=translations['asset-ironclad-track-two']
              input(type='radio' name='attr_assettrack_ironclad' value='1')