.pc-row.attributes
  .header
    .triangle
    h1(data-i18n='attributes')
  .border-box
    .pc-box.medium-box.attributes
      input.settings-toggle(type="checkbox" name="attr_flag_attribute" checked)
      span.pictos.text-lowercase x
      .grid.attribute
        .col
          each value in coreAttributeArray
            - const attribute = toLowerCase(value)
            .grid.attribute-row
              input(type="hidden" name=`attr_${attribute}` value="0" )
              .col
                button.text-right(data-i18n=attribute type="roll" name=`roll_${attribute}` value!=rollBeginging+`{{header=^{${attribute}}}}{{base=^{attributes}}}{{dice=[[(@{${attribute}}+(@{attribute_roll})+@{wounds_toggle}${rollEnding}`)
              .col
                .row-long
                  .settings
                    input(type="number" name=`attr_${attribute}_base` value="" placeholder="3" title=`@{${attribute}_base}`)
                    span.tiny-span +
                    input(type="number" name=`attr_${attribute}_modifier` value="" placeholder="0" title=`@{${attribute}_modifier}`)
                    span.tiny-span =
                    span.totals(name=`attr_display_${attribute}` title=`@{${attribute}}`)
                  .display
                    span.text-center(name=`attr_display_${attribute}` title=`@{${attribute}}`)
          .grid.attribute-row
            input(type="hidden" name=`attr_edge` value="0" )
            .col
              button.text-right(data-i18n='edge' type="roll" name=`roll_edge` value!=rollBeginging+`{{header=^{edge}}}{{base=^{attributes}}}{{dice=[[(@{edge}+(@{attribute_roll})+@{wounds_toggle}${rollEnding}`)
            .col
              .row-long
                .settings
                  input(type="number" name=`attr_edge_base` value="" placeholder="3" title=`@{edge_base}`)
                  span.tiny-span +
                  input(type="number" name=`attr_edge_modifier` value="" placeholder="0" title=`@{edge_modifier}`)
                  span.tiny-span =
                  span.totals(name=`attr_display_edge` title=`@{edge}}`)
                .display
                  span.text-center(name=`attr_display_edge}` title=`@{edge}`)
        .col
      .row
