.pc-row.info
  .header
    .triangle
    h1(data-i18n='personal')
  .border-box
    .pc-box.small-box
      .grid.row-long.2autocolumn
        h2.text-uppercase(data-i18n="namealias")
        label(data-i18n-title='namealias')
          input(type="text" name="attr_name" data-i18n-placeholder="name" title="@{name}")
      .grid.row-long.4autocolumn
        each value in ['metatype', 'ethnicity']
          h2.text-capitalize(data-i18n=value)
          label(data-i18n-title=value)
            input(type="text" name=`attr_${value}` data-i18n-placeholder=`${value}` title=`@{${value}}`)
      .grid.row-long.8autocolumn
        each value in ['age', 'sex', 'height', 'weight']
          - const i18n = value == 'height' ? 'height-u' : value
          h2.text-capitalize(data-i18n=i18n)
          label(data-i18n-title=i18n)
            input(type="text" name=`attr_${value}` data-i18n-placeholder=`${i18n}` title=`@{${value}}`)
      .grid.row-long.6autocolumn
        each value in ['street cred', 'notoriety', 'public awareness']
          - const i18n = removeSpace(value)
          h2.text-capitalize(data-i18n=i18n)
          label(data-i18n-title=i18n)
            input(type="text" name=`attr_${value}` data-i18n-placeholder=`${i18n}` title=`@{${value}}`)
      .grid.row-long.6autocolumn
        each value in ['karma', 'total karma', 'misc']
          - const i18n = removeSpace(value)
          h2.text-capitalize(data-i18n=i18n)
          label(data-i18n-title=i18n)
            input(type="text" name=`attr_${value}` data-i18n-placeholder=`${i18n}` title=`@{${value}}`)