-
  const levelRanks = [['N', 'Novice'], ['S', 'Seasoned'], ['V', 'Veteran'],
                      ['H', 'Heroic'], ['L', 'Legendary']]

.sheet-advancements
  - var i = 0, j = 2, r = 0
  
  while i < 5
    - ++i
    .sheet-advancements__item
      input(type='text',
            name='attr_chargen-edge-' + i,
            placeholder='Novice',
            spellcheck='false',
            class='sheet-align-left')
  
  while i < 27
    .sheet-advancements__item
      .sheet-advancements__rank
        = levelRanks[r][0]
        - ++i

      input(type='text',
            name='attr_advancement-' + (i - 5),
            placeholder=levelRanks[r][1],
            spellcheck='false',
            class='sheet-align-left')

      if j % 4 == 0 && r < 4
        - ++r

      - ++j
