input(type='checkbox',
      name='attr_toggle-allies-block',
      checked=false,
      class='sheet-toggle sheet-toggle--block')

.sheet-block.sheet-allies
  .sheet-header
    .sheet-header__title.sheet-allies__name
      span(name='attr_rename-block-allies') Allies
    .sheet-header__labels
      .sheet-allies__pace Pace
      .sheet-allies__parry Parry
      .sheet-allies__toughness Tough.
      .sheet-allies__size Size
      .sheet-allies__exp EXP
      .sheet-allies__level Level

  input(type='checkbox',
        name='attr_allies-visibility-toggle',
        checked=true,
        class='sheet-toggle sheet-toggle--visibility')
            
  fieldset.repeating_allies
    .sheet-repitem
      .sheet-repitem__primary
        input(type='text',
              name='attr_ally-name',
              placeholder='Name',
              spellcheck='false',
              class='sheet-align-left sheet-allies__name sheet-stretch')

        input(type='text',
              name='attr_ally-pace',
              placeholder='6',
              spellcheck='false',
              class='sheet-allies__pace')
              
        input(type='text',
              name='attr_ally-parry',
              placeholder='4',
              spellcheck='false',
              class='sheet-allies__parry')
              
        input(type='text',
              name='attr_ally-toughness',
              placeholder='4',
              spellcheck='false',
              class='sheet-allies__toughness')
              
        input(type='text',
              name='attr_ally-size',
              placeholder='0',
              spellcheck='false',
              class='sheet-allies__size')
              
        input(type='text',
              name='attr_ally-exp',
              placeholder='0',
              spellcheck='false',
              class='sheet-allies__exp')
              
        input(type='text',
              name='attr_ally-level',
              placeholder='1',
              spellcheck='false',
              class='sheet-allies__level')
              
        input(type='checkbox',
              name='attr_ally-note-box-toggle',
              class='sheet-toggle sheet-toggle--note-box')
              
        .sheet-repitem__note-box
          textarea(name='attr_ally-note-box',
                   placeholder='NOTES',
                   spellcheck='false')

      input(type='checkbox',
            name='attr_ally-notes-toggle',
            class='sheet-toggle sheet-toggle--arrow')
            
      .sheet-repitem__secondary
        .sheet-left
          - var rolls = ['2', '4', '6', '8', '10', '12']
          - var i = 0

          while i < 6
            - var die = rolls[i] == 2 ? 'd4!cs2-2' : 'd' + rolls[i] + '!cs2'
            
            button(type='roll',
                   name='roll_ally-roll-' + die.replace('!cs2', ''),
                   value!='&{template:TraitRoll} {{name=[Ally] @{ally-name}}} {{trait=a ' + die.replace('!cs2', '') + '}} {{commander=@{name}}} {{rof=[[ ?{Rate Of Fire|1}} ]]}} {{modifier=?{Modifier|0}}} {{traitroll1=[[ ' + die + ' + ?{Modifier|0} ]]}} {{traitroll2=[[ ' + die + ' + ?{Modifier|0} ]]}} {{traitroll3=[[ ' + die + ' + ?{Modifier|0} ]]}} {{traitroll4=[[ ' + die + ' + ?{Modifier|0} ]]}} {{traitroll5=[[ ' + die + ' + ?{Modifier|0} ]]}} {{traitroll6=[[ ' + die + ' + ?{Modifier|0} ]]}} {{wdroll=[[ ?{Wild Die|None,-10000|d4,d4!cs2|d6,d6!cs2|d8,d8!cs2|d10,d10!cs2|d12,d12!cs2} + ?{Modifier|0} ]]}}')= rolls[i]

            - ++i
                   
        .sheet-right
          - var i = 0
          
          while i < 15
            - ++i
            input(type='text',
                  name='attr_ally-note-field-' + i,
                  placeholder='Note #' + i,
                  spellcheck='false',
                  class='sheet-allies__note-field sheet-allies__note-field--' + i)
          
          textarea.sheet-hidden(name='attr_ally-notes',
                   placeholder='Notes',
                   spellcheck='false')

  .sheet-footer
