.sheet-block.sheet-apparel
  .sheet-header
    .sheet-header__title.sheet-apparel__name
      span(name='attr_rename-block-apparel') Apparel
    .sheet-header__labels
      .sheet-apparel__armor Armor
      .sheet-apparel__tags Properties
      .sheet-apparel__weight WGT
            
  input(type='checkbox',
        name='attr_apparel-visibility-toggle',
        checked=true,
        class='sheet-toggle sheet-toggle--visibility')
            
  fieldset.repeating_apparel
    .sheet-repitem
      .sheet-repitem__primary
        input(type='text',
              name='attr_apparel-name',
              placeholder='Apparel',
              spellcheck='false',
              class='sheet-align-left sheet-apparel__name sheet-stretch')

        input(type='text',
              name='attr_apparel-armor',
              placeholder='Armor',
              spellcheck='false',
              class='sheet-apparel__armor')
              
        input(type='text',
              name='attr_apparel-tags',
              placeholder='Protection/Resistance/Tags',
              spellcheck='false',
              class='sheet-align-left sheet-apparel__tags')
              
        input(type='text',
              name='attr_apparel-weight',
              placeholder='WGT',
              spellcheck='false',
              class='sheet-apparel__weight')

      input(type='checkbox',
            name='attr_apparel-notes-toggle',
            class='sheet-toggle sheet-toggle--arrow')
            
      .sheet-repitem__secondary
        .sheet-repitem__note-label Notes:
        input(type='text',
              name='attr_apparel-notes',
              placeholder='Notes, Tags, Trappings, Requirements, etc.',
              spellcheck='false',
              class='sheet-align-left sheet-repitem__note sheet-stretch')
              
        input(type='checkbox',
              name='attr_apparel-weight-toggle',
              checked=true,
              title='Weight On/Off',
              class='sheet-toggle sheet-toggle--special sheet-toggle--weight')
                    
        input(type='checkbox',
              name='attr_apparel-note-box-toggle',
              class='sheet-toggle sheet-toggle--note-box')
              
        .sheet-repitem__note-box
          textarea(name='attr_apparel-note-box',
                   placeholder='NOTES',
                   spellcheck='false')

  .sheet-footer
    span.sheet-label Total Weight: 
    span(name='attr_carry-weight-apparel',
         class='sheet-label sheet-label--weight') 0.0
