input(type='checkbox',
      name='attr_toggle-strain',
      checked=false,
      class='sheet-hidden sheet-toggle--strain')

input(type='checkbox',
      name='attr_toggle-augmentations-block',
      checked=true,
      class='sheet-toggle sheet-toggle--block')

.sheet-block.sheet-augmentations
  .sheet-header
    .sheet-header__title.sheet-augmentations__name
      span(name='attr_rename-block-augmentations') Augmentations
    .sheet-header__labels
      .sheet-augmentations__grade Grade
      .sheet-augmentations__power Power
      .sheet-augmentations__slots Slots
      .sheet-augmentations__loss
        span.sheet-a LOSS
        span.sheet-b STRAIN

  input(type='checkbox',
        name='attr_augmentations-visibility-toggle',
        checked=true,
        class='sheet-toggle sheet-toggle--visibility')

  fieldset.repeating_augmentations
    .sheet-repitem
      .sheet-repitem__primary
        input(type='text',
              name='attr_augmentation-name',
              placeholder='[Advanced/Superior] Augmentation [Level] (Upgrades)',
              spellcheck='false',
              class='sheet-align-left sheet-augmentations__name sheet-stretch')
              
        +color_circle('augmentation-color')

        input(type='text',
              name='attr_augmentation-grade',
              placeholder='Iron',
              spellcheck='false',
              class='sheet-augmentations__grade')

        input(type='text',
              name='attr_augmentation-power',
              placeholder='0',
              spellcheck='false',
              class='sheet-augmentations__power')
              
        input(type='text',
              name='attr_augmentation-slots',
              placeholder='0',
              spellcheck='false',
              class='sheet-augmentations__slots')
              
        input(type='text',
              name='attr_augmentation-loss',
              placeholder='4.0',
              spellcheck='false',
              class='sheet-augmentations__loss')

      input(type='checkbox',
            name='attr_augmentation-notes-toggle',
            class='sheet-toggle sheet-toggle--arrow')
            
      .sheet-repitem__secondary
        .sheet-repitem__note-label Notes:
        input(type='text',
              name='attr_augmentation-notes',
              placeholder='Effect/Description',
              spellcheck='false',
              class='sheet-align-left sheet-repitem__note sheet-stretch')
              
        input(type='checkbox',
              name='attr_augmentation-loss-toggle',
              checked=true,
              title='Loss/Strain On/Off',
              class='sheet-toggle sheet-toggle--special sheet-toggle--loss')
                    
        input(type='checkbox',
              name='attr_augmentation-note-box-toggle',
              class='sheet-toggle sheet-toggle--note-box')
              
        .sheet-repitem__note-box
          textarea(name='attr_augmentation-note-box',
                   placeholder='NOTES',
                   spellcheck='false')

  .sheet-footer
    span.sheet-label.sheet-a Total Loss: 
    span.sheet-label.sheet-b Total Strain: 
    span(name='attr_augmentations-total-loss',
         class='sheet-label sheet-label--loss') 0.0
