.sheet-buttons
  .sheet-dice-roller
    input(type='text',
          name='attr_dice-roller-code',
          placeholder= '2d6!+2',
          class='sheet-dice-roller__input')

    button(type='roll',
           name='roll_dice-roller-damage',
           value!='&{template:DamageRoll} {{name=@{name}}} {{code=@{dice-roller-code}}} {{rof=[[ ?{Rate Of Fire|1} ]]}} {{roll1=[[ @{dice-roller-code} ]]}} {{roll2=[[ @{dice-roller-code} ]]}} {{roll3=[[ @{dice-roller-code} ]]}} {{roll4=[[ @{dice-roller-code} ]]}} {{roll5=[[ @{dice-roller-code} ]]}} {{roll6=[[ @{dice-roller-code} ]]}}') Damage
                   
    button(type='roll',
           name='roll_dice-roller-hidden',
           value!='/w gm &{template:DiceRoller} {{name=@{name}}} {{code=@{dice-roller-code}}} {{rof=[[ ?{Rate Of Fire|1} ]]}} {{roll1=[[ @{dice-roller-code} ]]}} {{roll2=[[ @{dice-roller-code} ]]}} {{roll3=[[ @{dice-roller-code} ]]}} {{roll4=[[ @{dice-roller-code} ]]}} {{roll5=[[ @{dice-roller-code} ]]}} {{roll6=[[ @{dice-roller-code} ]]}}') Hidden
           
    button(type='roll',
           name='roll_dice-roller-open',
           value!='&{template:DiceRoller} {{name=@{name}}} {{code=@{dice-roller-code}}} {{rof=[[ ?{Rate Of Fire|1} ]]}} {{roll1=[[ @{dice-roller-code} ]]}} {{roll2=[[ @{dice-roller-code} ]]}} {{roll3=[[ @{dice-roller-code} ]]}} {{roll4=[[ @{dice-roller-code} ]]}} {{roll5=[[ @{dice-roller-code} ]]}} {{roll6=[[ @{dice-roller-code} ]]}}') Roll
           
  .sheet-raise-calculator
    button(type='roll',
           name='roll_raise-calculator',
           value!='&{template:InfoBox} {{info=Roll (?{Roll Result}) vs. TN (?{Target Number|4}) equals [[ floor((?{Roll Result} - ?{Target Number|4}) / 4) ]] raises.}}') Raise Calculator
           
  input(type='checkbox',
        name='attr_toggle-run-explode',
        class='sheet-buttons__toggle-run-explode')

  .sheet-run-roller.sheet-a
    input(type='checkbox',
          name='attr_toggle-run-wounds',
          class='sheet-buttons__toggle-run-wounds')
          
    button(type='roll',
           name='roll_run',
           value!='&{template:RunRoll} {{name=@{name}}} {{pace=@{pace}}} {{mod=?{Modifier|0}}} {{rundie=@{run-roll}}} {{wounds=[[ @{wound-mod} ]]}} {{roll=[[ @{run-roll} + @{pace} - @{wound-mod} + ?{Modifier|0} ]]}}',
           class='sheet-a') Run
           
    button(type='roll',
           name='roll_run',
           value!='&{template:RunRoll} {{name=@{name}}} {{pace=@{pace}}} {{mod=?{Modifier|0}}} {{rundie=@{run-roll}}} {{roll=[[ @{run-roll} + @{pace} + ?{Modifier|0} ]]}}',
           class='sheet-b') Run

  .sheet-run-roller.sheet-b
    input(type='checkbox',
          name='attr_toggle-run-wounds',
          class='sheet-buttons__toggle-run-wounds')
          
    button(type='roll',
           name='roll_run',
           value!='&{template:RunRoll} {{name=@{name}}} {{pace=@{pace}}} {{mod=?{Modifier|0}}} {{rundie=@{run-roll}!}} {{wounds=[[ @{wound-mod} ]]}} {{roll=[[ @{run-roll}! + @{pace} - @{wound-mod} + ?{Modifier|0} ]]}}',
           class='sheet-a') Run!
        
    button(type='roll',
           name='roll_run',
           value!='&{template:RunRoll} {{name=@{name}}} {{pace=@{pace}}} {{mod=?{Modifier|0}}} {{rundie=@{run-roll}!}} {{roll=[[ @{run-roll}! + @{pace} + ?{Modifier|0} ]]}}',
           class='sheet-b') Run!
