input(type='checkbox',
      name='attr_toggle-engrams-block',
      checked=true,
      class='sheet-toggle sheet-toggle--block')
      
.sheet-block.sheet-engrams
  .sheet-header
    .sheet-header__title.sheet-engrams__name
      span(name='attr_rename-block-engrams') Engrams
    .sheet-header__labels
      .sheet-engrams__penalty Penalty
      .sheet-engrams__description Description

  input(type='checkbox',
        name='attr_engrams-visibility-toggle',
        checked=true,
        class='sheet-toggle sheet-toggle--visibility')

  fieldset.repeating_engrams
    .sheet-repitem
      .sheet-repitem__primary
        input(type='text',
              name='attr_engram-name',
              placeholder='Engram',
              spellcheck='false',
              class='sheet-align-left sheet-engrams__name sheet-stretch')
              
        input(type='text',
              name='attr_engram-penalty',
              placeholder='-1',
              spellcheck='false',
              class='sheet-engrams__penalty')

        input(type='text',
              name='attr_engram-description',
              placeholder='e.g. entangle (SWADE 161) power but resisted by Smarts',
              spellcheck='false',
              class='sheet-align-left sheet-engrams__description')

      input(type='checkbox',
            name='attr_engram-notes-toggle',
            class='sheet-toggle sheet-toggle--arrow')
            
      .sheet-repitem__secondary
        .sheet-repitem__note-label Notes:
        input(type='text',
              name='attr_engram-notes',
              placeholder='Effect/Description',
              spellcheck='false',
              class='sheet-align-left sheet-repitem__note sheet-stretch')
                    
        input(type='checkbox',
              name='attr_engram-note-box-toggle',
              class='sheet-toggle sheet-toggle--note-box')
              
        .sheet-repitem__note-box
          textarea(name='attr_engram-note-box',
                   placeholder='NOTES',
                   spellcheck='false')

  .sheet-footer
