.sheet-secondary
  +hexfield('pace', 'Pace', 'bottom', '6', '6')
    +hexfield('flight', 'Flight', 'right', '0', '', 'sheet-hide-until-needed sheet-stay-on-input')
    +hexfield('run', 'Run', 'left', 'd6', '', 'sheet-hide-until-needed')
    input(type='hidden', name='attr_run-roll', value='d6')
  +hexfield('parry', 'Parry', 'bottom', '2')
  +hexfield('toughness', 'Tough.', 'bottom', '4')
  
  .sheet-hexfield(class=' sheet-hexfield--soak')
    input(type='text',
          name='attr_soak',
          placeholder='d4',
          value='d4',
          spellcheck='false',
          class='sheet-hex sheet-hex--36 sheet-hexfield__input')
         
    +hexfield('soak-mod', 'Bonus', 'up  sheet-exception', '0', '', 'sheet-hide-until-needed sheet-stay-on-input')
    +hexfield('soak-wd', 'WD', 'right', 'd6', '', 'sheet-hide-until-needed')
     
    input(type='hidden', name='attr_soak-roll', value='1d4!cs2')
    input(type='hidden', name='attr_soak-wd-roll', value='1d6!cs2')
    input(type='hidden', name='attr_soak-extra-wd-roll', value='-10000')
    
    button(type='roll',
           name='roll_soak',
           value!='&{template:TraitRoll} {{name=@{name}}} {{trait=Soak}} {{traitdie=@{soak}}} {{flat=@{soak-mod}}} {{wounds=[[ @{wound-mod} ]]}} {{fatigue=[[ @{fatigue-mod} ]]}} {{rof=[[ 1 ]]}} {{modifier=?{Modifier|0}}} {{traitroll1=[[ @{soak-roll} @{soak-mod} - @{fatigue-mod} - @{wound-mod} + ?{Modifier|0} ]]}} {{traitroll2=[[ @{soak-roll} @{soak-mod} - @{fatigue-mod} - @{wound-mod} + ?{Modifier|0} ]]}} {{traitroll3=[[ @{soak-roll} @{soak-mod} - @{fatigue-mod} - @{wound-mod} + ?{Modifier|0} ]]}} {{traitroll4=[[ @{soak-roll} @{soak-mod} - @{fatigue-mod} - @{wound-mod} + ?{Modifier|0} ]]}} {{traitroll5=[[ @{soak-roll} @{soak-mod} - @{fatigue-mod} - @{wound-mod} + ?{Modifier|0} ]]}} {{traitroll6=[[ @{soak-roll} @{soak-mod} - @{fatigue-mod} - @{wound-mod} + ?{Modifier|0} ]]}} {{wdroll=[[ @{soak-wd-roll} @{soak-mod} - @{fatigue-mod} - @{wound-mod} + ?{Modifier|0} ]]}}',
           class='sheet-hexfield__label sheet-hexfield__label--bottom') Soak
