mixin savingThrow(longName, shortName, abilityName, abilityShortName)
  tr
    td.blackBox
      .saveName= longName
      .abilityName= abilityName
    td
      +readOnlyBox()(name=shortname)
    td
      .mathOperator = 10 +
    td
      +fieldBox()(type='number', name=shortname+'_base')
    td
      .mathOperator +
    td
      +readOnlyBox()(name=abilityShortName+'_mod')
    td
      .mathOperator +
    td
      +fieldBox()(type='number', name=shortname+'_misc')
    td
      +labelledUnderlined('')(style='width: 100%;'): input(type='text', name=shortname+'_notes')

table.savingThrows(style='width:100%;')
  thead
    tr
      th Saving Throws
      th Total
      th
      th Base Save
      th
      th Ability Mod
      th
      th Misc +/-
      th(style='width: 40%;') Conditional Modifiers
  tbody
    +savingThrow('Fortitude', 'fort', 'Constitution', 'con')
    +savingThrow('Reflex', 'ref', 'Dexterity', 'dex')
    +savingThrow('Will', 'will', 'Wisdom', 'wis')
