mixin btn(opts)
  if opts.classes
    label(class=`sheet-common-btn ${opts.classes}`)
      input.sheet-btn-input.sheet-hide(type=opts.type name=`attr_${opts.attribute}_button`)
      .sheet-btn-content=opts.text
  else
    label.sheet-common-btn
      input.sheet-btn-input.sheet-hide(type=opts.type name=`attr_${opts.attribute}_button`)
      .sheet-btn-content=opts.text