// - LETHALITY DAMAGE
mixin modifierRow()
  | {{#rollTotal() computed::blast_radius 1}}
  .sheet-template-row.sheet-template-tworows
    span.sheet-after-colons.sheet-rolltitle(data-i18n="blast radius:") blast radius:
    span.sheet-template-computed 
      span +20%
  | {{/rollTotal() computed::blast_radius 1}}

  | {{#rollTotal() computed::isShotgun 1}}
  .sheet-template-row.sheet-template-tworows
    span.sheet-after-colons.sheet-rolltitle(data-i18n="shotgun:") shotgun:
    span.sheet-template-computed 
      span +20%
  | {{/rollTotal() computed::isShotgun 1}}

  | {{#rollTotal() computed::accessories 1}}
  .sheet-template-row.sheet-template-tworows
    span.sheet-after-colons.sheet-rolltitle {{accessoriesName}}:
    span.sheet-template-computed
      |{{#rollGreater() computed::accessoriesMod 0}} 
      span.sheet-template-plus.sheet-template-percent {{accessoriesMod}}
      | {{/rollGreater() computed::accessoriesMod 0}}
      | {{#rollLess() computed::accessoriesMod 0}}
      span.sheet-template-percent {{accessoriesMod}}
      | {{/rollLess() computed::accessoriesMod 0}}
  | {{/rollTotal() computed::accessories 1}}
  .sheet-template-row.sheet-template-tworows  
    span.sheet-after-colons.sheet-rolltitle(data-i18n="modifier:") modifier:
    span.sheet-template-computed
      | {{#rollGreater() computed::modifier 0}}
      span.sheet-template-plus.sheet-template-percent {{computed::modifier}}
      | {{/rollGreater() computed::modifier 0}}
      | {{#rollLess() computed::modifier 0}}
      span.sheet-template-percent {{computed::modifier}}
      | {{/rollLess() computed::modifier 0}}

mixin extraInfo()
  |{{#base_range}}
  .sheet-template-row.sheet-template-tworows 
    span.sheet-after-colons.sheet-rolltitle(i18n="base range:") base range: 
    span.sheet-template-computed
      span {{base_range}}
  |{{/base_range}}

  |{{#armor_piercing}}
  .sheet-template-row.sheet-template-tworows 
    span.sheet-after-colons.sheet-rolltitle(i18n="armor piercing:") armor piercing:
    span.sheet-template-computed
      span {{armor_piercing}}
  |{{/armor_piercing}}

  |{{#kill_radius}}
  .sheet-template-row.sheet-template-tworows 
    span.sheet-after-colons.sheet-rolltitle(i18n="armor piercing:") armor piercing:
    span.sheet-template-computed
      span {{kill_radius}}
  |{{/kill_radius}}

mixin doDamage()
  |{{#damage}}
  .sheet-template-row.sheet-template-onerow 
    | {{#rollTotal() computed::isCritical 0}}
    .sheet-template-attack-buttons  
      .sheet-template-button {{damage}}
    | {{/rollTotal() computed::isCritical 0}}
    | {{#rollTotal() computed::isCritical 1}}
    .sheet-template-attack-buttons  
        .sheet-template-button {{damage_critical}}
    | {{/rollTotal() computed::isCritical 1}}
  |{{/damage}}

mixin doDamageVoid()
  |{{#damage}}
  .sheet-template-row.sheet-template-onerow 
    | {{#rollTotal() computed::isCritical 0}}
    .sheet-template-attack-buttons-void   
      .sheet-template-button {{voiddamage}}
    | {{/rollTotal() computed::isCritical 0}}
    | {{#rollTotal() computed::isCritical 1}}
    .sheet-template-attack-buttons-void   
      .sheet-template-button {{voiddamage_critical}}
    | {{/rollTotal() computed::isCritical 1}}
  |{{/damage}}

mixin doDoubleDamage()
  |{{#double_damage}}
  .sheet-template-row.sheet-template-onerow 
    | {{#rollTotal() computed::isCritical 0}}
    .sheet-template-attack-buttons   
      .sheet-template-button {{double_damage}}
    | {{/rollTotal() computed::isCritical 0}}
    | {{#rollTotal() computed::isCritical 1}}
    .sheet-template-attack-buttons 
      .sheet-template-button {{double_damage_critical}}
    | {{/rollTotal() computed::isCritical 1}}
  |{{/double_damage}}

mixin doDoubleDamageVoid()
  |{{#double_damage}}
  .sheet-template-row.sheet-template-onerow 
    | {{#rollTotal() computed::isCritical 0}}
    .sheet-template-attack-buttons-void  
      .sheet-template-button {{voiddouble_damage}}
    | {{/rollTotal() computed::isCritical 0}}
    | {{#rollTotal() computed::isCritical 1}}
    .sheet-template-attack-buttons-void  
      .sheet-template-button {{voiddouble_damage_critical}}
    | {{/rollTotal() computed::isCritical 1}}
  |{{/double_damage}}


mixin doLethality()
  |{{#lethality}}
  .sheet-template-row.sheet-template-onerow 
    | {{#rollTotal() computed::isCritical 0}}
    .sheet-template-attack-buttons 
      .sheet-template-button {{lethality}}
    | {{/rollTotal() computed::isCritical 0}}
    | {{#rollTotal() computed::isCritical 1}}
    .sheet-template-attack-buttons
      .sheet-template-button {{lethality_critical}}
    | {{/rollTotal() computed::isCritical 1}}
  |{{/lethality}}

mixin doLethalityVoid()
  |{{#lethality}}
  .sheet-template-row.sheet-template-onerow 
    | {{#rollTotal() computed::isCritical 0}}
    .sheet-template-attack-buttons-void  
      .sheet-template-button {{voidlethality}}
    | {{/rollTotal() computed::isCritical 0}}
    | {{#rollTotal() computed::isCritical 1}}
    .sheet-template-attack-buttons-void  
      .sheet-template-button {{voidlethality_critical}}
    | {{/rollTotal() computed::isCritical 1}}
  |{{/lethality}}


mixin doSelectiveFire()
  |{{#selective_fire}}
  .sheet-template-row.sheet-template-onerow 
    | {{#rollTotal() computed::isCritical 0}}
    .sheet-template-attack-buttons  
      .sheet-template-button {{selective_fire}}
    | {{/rollTotal() computed::isCritical 0}}
    | {{#rollTotal() computed::isCritical 1}}
    .sheet-template-attack-buttons  
      .sheet-template-button {{selective_fire_critical}}
    | {{/rollTotal() computed::isCritical 1}}
  |{{/selective_fire}}

mixin doSelectiveFireVoid()
  |{{#selective_fire}}
  .sheet-template-row.sheet-template-onerow 
    | {{#rollTotal() computed::isCritical 0}}
    .sheet-template-attack-buttons-void  
      .sheet-template-button {{voidselective_fire}}
    | {{/rollTotal() computed::isCritical 0}}
    | {{#rollTotal() computed::isCritical 1}}
    .sheet-template-attack-buttons-void  
      .sheet-template-button {{voidselective_fire_critical}}
    | {{/rollTotal() computed::isCritical 1}}
  |{{/selective_fire}}

mixin rollDamages()
  |{{#wammo}}
  +doDamage()
  +doDoubleDamage()
  +doLethality()
  |{{/wammo}}
  |{{#noammo}} 
  +doDamageVoid()
  +doDoubleDamageVoid()
  +doLethalityVoid()
  |{{/noammo}}
  |{{#selfire_wammo}}
  +doSelectiveFire()
  |{{/selfire_wammo}}
  |{{#selfire_noammo}}
  +doSelectiveFireVoid()
  |{{/selfire_noammo}}

mixin rollHeader(isPercent=false)
  | {{#name}}
  .sheet-template-superheader
    h2 {{name}}
  | {{/name}}
  | {{#header}}
  .sheet-template-header
    h1  {{header}} 
    if isPercent
      h2 {{#subheader}}({{subheader}}%){{/subheader}}
    else
      h2 {{#subheader}}({{subheader}}){{/subheader}}
  | {{/header}}   

mixin rollNoSubHeader()
  //- Display a header on the template -
  | {{#name}}
  .sheet-template-superheader
    h2 {{name}}
  | {{/name}}
  //- Display a header on the template -
  | {{#header}}
  .sheet-template-header
    h1  {{header}}
  | {{/header}}


mixin lossAttribute(attrName, attrUnit, isSan=false)
  if isSan !== true
    .grid.sheet-template-subheader
      - const attrTitle=attrName.replace('_',' ');
      h2(data-i18n=attrTitle)
  .sheet-template-row.sheet-template-onerows 
    - const attrCost = attrName+'_cost';
    span
      span.inlinerollresult {{#{attrCost}}}
      span #{attrUnit}   
  .sheet-template-row.sheet-template-threerows 
    span.sheet-rollbefore.sheet-template-computed {{#{attrName}}}
    span.sheet-rolltext.sheet-template-computed → 
    span.sheet-rollafter.sheet-template-computed {{computed::#{attrCost}}}     

mixin costritual()
    .grid.sheet-template-subheader
      h2(data-i18n="ritual cost") ritual cost 
    |{{#willpower_points_cost}}
    .sheet-template-row.sheet-template-tworows 
      span.sheet-after-colons.sheet-rolltitle(data-i18n='willpower:')
      span
        span.sheet-template-computed {{willpower_points_cost}}
    |{{/willpower_points_cost}}
    |{{#hit_points_cost}}
    .sheet-template-row.sheet-template-tworows 
      span.sheet-after-colons.sheet-rolltitle(data-i18n='hit points:')
      span
        span.sheet-template-computed {{hit_points_cost}}
    |{{/hit_points_cost}}
    |{{#strength_score_cost}}
    .sheet-template-row.sheet-template-tworows 
      span.sheet-after-colons.sheet-rolltitle(data-i18n='strength:')
      span
        span.sheet-template-computed {{strength_score_cost}}
    |{{/strength_score_cost}}
    |{{#constitution_score_cost}}
    .sheet-template-row.sheet-template-tworows 
      span.sheet-after-colons.sheet-rolltitle(data-i18n='constitution:')
      span
        span.sheet-template-computed {{constitution_score_cost}}
    |{{/constitution_score_cost}}
    |{{#dexterity_score_cost}}
    .sheet-template-row.sheet-template-tworows 
      span.sheet-after-colons.sheet-rolltitle(data-i18n='dexterity:')
      span
        span.sheet-template-computed {{dexterity_score_cost}}
    |{{/dexterity_score_cost}}
    |{{#intelligence_score_cost}}
    .sheet-template-row.sheet-template-tworows 
      span.sheet-after-colons.sheet-rolltitle(data-i18n='intelligence:')
      span
        span.sheet-template-computed {{intelligence_score_cost}}
    |{{/intelligence_score_cost}}
    |{{#charisma_score_cost}}
    .sheet-template-row.sheet-template-tworows 
      span.sheet-after-colons.sheet-rolltitle(data-i18n='charisma:')
      span
        span.sheet-template-computed {{charisma_score_cost}}
    |{{/charisma_score_cost}}
    |{{#power_score_cost}}
    .sheet-template-row.sheet-template-tworows 
      span.sheet-after-colons.sheet-rolltitle(data-i18n='power:')
      span
        span.sheet-template-computed {{power_score_cost}}
    |{{/power_score_cost}}

    |{{#rollTotal() computed::isSuccess 1}}
    .sheet-template-row.sheet-template-tworows 
      span.sheet-after-colons.sheet-rolltitle(data-i18n='sanity cost:') :
      span.sheet-template-computed
        span {{sanity_loss_high}}
    |{{/rollTotal() computed::isSuccess 1}}
    
    |{{#rollTotal() computed::isSuccess 0}}
    .sheet-template-row.sheet-template-tworows 
      span.sheet-after-colons.sheet-rolltitle(data-i18n='sanity cost:') :
      span
        span.aligned-left.sheet-template-computed {{sanity_loss_low}}
        span.sheet-rolltext.aligned-left /
        span.aligned-left.sheet-template-computed {{sanity_loss_high}}
    |{{/rollTotal() computed::isSuccess 0}}
    .grid.sheet-template-subheader
      h2(style=`color:${maincolor}` data-i18n="outcome") outcome

mixin dmgritual()
  |{{#damage_button}}
  .grid.sheet-template-subheader
    h2(data-i18n="Attack") 
  .sheet-template-row.sheet-template-onerow 
    span.sheet-template-attack-buttons  
      .sheet-template-button {{damage_button}}
  |{{/damage_button}}


mixin healritual()
  |{{#heal_button}}
  .grid.sheet-template-subheader
    h2(data-i18n="Attack") 
  .sheet-template-row.sheet-template-onerow 
    span.sheet-template-attack-buttons  
      .sheet-template-button {{heal_button}}
  |{{/heal_button}}


  
.rolltemplates 
  rolltemplate.sheet-rolltemplate-fancy-bonds
    .sheet-template-container
      |{{#^rollTotal() local_wp 0}}
      +rollHeader(true)
      |{{/^rollTotal() local_wp 0}}
      |{{#rollTotal() local_wp 0}}
      +rollNoSubHeader()
      |{{/rollTotal() local_wp 0}}
      .sheet-template-body
        |{{#^rollTotal() local_wp 0}}
        .sheet-template-row.sheet-template-tworows 
            span.sheet-rolltitle(data-i18n="bond score:")
            span
              span.sheet-rollbefore.aligned-left.sheet-template-computed {{score}}
              span.sheet-rolltext.aligned-left.sheet-template-computed → 
              span.sheet-rollafter.aligned-left.sheet-template-computed {{computed::score}}
        .sheet-template-row.sheet-template-tworows 
            span.sheet-after-colons.sheet-rolltitle(data-i18n="willpower:") willpower:
            span
              span.sheet-rollbefore.aligned-left.sheet-template-computed {{local_wp}}
              span.sheet-rolltext.aligned-left.sheet-template-computed → 
              span.sheet-rollafter.aligned-left.sheet-template-computed {{computed::local_wp}}
        |{{#projection}}
        .sheet-template-row.sheet-template-onerow 
          |{{#^rollGreater() dice local_wp}}
          span.inlinerollresult {{dice}} SAN
          |{{/^rollGreater() dice local_wp}}
          |{{#rollGreater() dice local_wp}}
          span.inlinerollresult {{local_wp}} SAN
          |{{/rollGreater() dice local_wp}}
          
        |{{/projection}}
        |{{#rollTotal() computed::zerowp 1}}
        .sheet-template-row.sheet-template-onerows 
          span.inlinerollresult(data-i18n="repression fails at 0 willpower.") repression automatically fail at 0 willpower. 
        |{{/rollTotal() computed::zerowp 1}} 
        |{{/^rollTotal() local_wp 0}}

        |{{#rollTotal() local_wp 0}}
        .sheet-template-row.sheet-template-onerows 
          span.inlinerollresult(data-i18n="projection fails at 0 willpower.") projection fails at 0 willpower.
        |{{/rollTotal() local_wp 0}}
    |{{#^rollTotal() computed::zerowp 1}}
    |{{#repression}}
    .sheet-template-reaction 
        .sheet-template-button {{repress}}
    |{{/repression}}
    |{{/^rollTotal() computed::zerowp 1}}



  rolltemplate.sheet-rolltemplate-fancy-ritualloss
    .sheet-template-container
      +rollHeader()
      .sheet-template-body
        - const attrNames = {'sanity_points':'SAN','willpower_points':'WP','hit_points':'HP','strength_score':'STR','constitution_score':'CON','dexterity_score':'DEX','intelligence_score':'INT','charisma_score':'CHA'}; 
        |{{#has_strength_score}}
        +lossAttribute('strength_score', 'STR')
        |{{/has_strength_score}}
        |{{#has_constitution_score}}
        +lossAttribute('constitution_score', 'CON')
        |{{/has_constitution_score}}
        |{{#has_dexterity_score}}
        +lossAttribute('dexterity_score', 'DEX')
        |{{/has_dexterity_score}}
        |{{#has_intelligence_score}}
        +lossAttribute('intelligence_score', 'INT')
        |{{/has_intelligence_score}}
        |{{#has_charisma_score}}
        +lossAttribute('charisma_score', 'CHA')
        |{{/has_charisma_score}}
        |{{#has_power_score}}
        +lossAttribute('power_score', 'POW')
        |{{/has_power_score}}
        |{{#has_hit_points}}
        +lossAttribute('hit_points', 'HP')
        |{{/has_hit_points}}
        |{{#has_willpower_points}}
        +lossAttribute('willpower_points', 'WP')
        |{{/has_willpower_points}}
        |{{#has_sanity_points}}
        +lossAttribute('sanity_points', 'SAN')
        |{{/has_sanity_points}}
          


  rolltemplate.sheet-rolltemplate-fancy-rituals
    .sheet-template-container
      +rollHeader(true)
      |{{#description}}
      .sheet-template-body 
        .sheet-template-row.sheet-template-description
          span.sheet-template-inline-block  {{description}}
        .grid.sheet-template-subheader
          h2(style=`color:black` ) .   
      |{{/description}}  
      .sheet-template-body   
        |{{#rollTotal() flawed_ritual 1}}
        .sheet-template-row.sheet-template-tworows
          span.sheet-after-colons.sheet-rolltitle(data-i18n="flawed ritual:")
          span 
            span.sheet-template-computed -20%
        .sheet-template-row.sheet-template-tworows
          span.sheet-after-colons.sheet-rolltitle(data-i18n="modifier:") modifier:
          span 
            span.sheet-template-computed {{computed::modifier}}%
        |{{/rollTotal() flawed_ritual 1}}
        |{{#^rollTotal() flawed_ritual 1}}
        |{{#^rollTotal() modifier 0}}
        .sheet-template-row.sheet-template-tworows
          span.sheet-after-colons.sheet-rolltitle(data-i18n="modifier:") modifier:
          span 
            span.sheet-template-computed {{modifier}}%
        |{{/^rollTotal() modifier 0}}
        |{{/^rollTotal() flawed_ritual 1}}
        
        .sheet-template-row.sheet-template-onerow 
          span.inlinerollresult {{dice}}    
        +costritual()
            
        |{{#rollTotal() computed::isSuccess 1}}
        .sheet-template-row.sheet-template-onerow 
            span.sheet-template-outcome(data-i18n="success") success
        |{{/rollTotal() computed::isSuccess 1}}
        
        |{{#rollTotal() computed::isSuccess 0}}
        .sheet-template-row.sheet-template-onerow 
            span.sheet-template-outcome(data-i18n="failure") failure
        |{{/rollTotal() computed::isSuccess 0}}
        |{{#rollTotal() computed::isSuccess 1}}
        .sheet-template-row.sheet-template-onerow
          span.sheet-template-attack-buttons  
            .sheet-template-button {{pay_cost}}
        |{{/rollTotal() computed::isSuccess 1}}
        
        |{{#rollTotal() computed::isSuccess 0}}
        .sheet-template-row.sheet-template-tworows 
          span.sheet-template-attack-buttons  
            .sheet-template-button {{accept_failure}}
          span.sheet-template-attack-buttons
            .sheet-template-button {{reject_failure}}
        |{{/rollTotal() computed::isSuccess 0}}
        +dmgritual()
        +healritual()
    |{{#power_reaction}}
    .sheet-template-reaction 
        .sheet-template-button {{power_reaction}}
    |{{/power_reaction}}


  rolltemplate.sheet-rolltemplate-fancy-damages 
      .sheet-template-container 
        | {{#damage}}
        +rollHeader() 
        | {{/damage}}
        | {{#lethality}}
        +rollHeader(true)
        | {{/lethality}}
        .sheet-template-body
          | {{#damage}}
          .sheet-template-row.sheet-template-tworows 
            span.sheet-after-colons.sheet-rolltitle(data-i18n="damage:") damage:
            span.inlinerollresult {{damage}}
          | {{/damage}}
          | {{#lethality}}
          .sheet-template-row.sheet-template-onerow 
            span.inlinerollresult {{roll}}
          .sheet-template-row.sheet-template-tworows 
            span.sheet-after-colons.sheet-rolltitle(data-i18n="lethality:") lethality:
            span.sheet-template-computed
              span {{computed::lethality}}
          .sheet-template-row.sheet-template-tworows 
            span.sheet-after-colons.sheet-rolltitle(data-i18n="outcome:") outcome:
            |{{#^rollGreater() roll computed::lethality}}
            span.sheet-template-outcome(data-i18n="kill") kill 
            | {{/^rollGreater() roll computed::lethality}} 
            | {{#rollGreater() roll computed::lethality}}
            span.sheet-template-outcome(data-i18n="failure") failure
            | {{/rollGreater() roll computed::lethality}}
          .sheet-template-row.sheet-template-tworows 
            span.sheet-after-colons.sheet-rolltitle(data-i18n="damage:") damage:
            span.sheet-template-computed
              span {{computed::roll}}
          | {{/lethality}}
          | {{#rollTotal() trackbullets 1}}
          .sheet-template-row.sheet-template-onerow 
            span
              span.sheet-rollbefore.aligned-left.sheet-template-computed {{current_ammo}}
              span.sheet-rolltext.aligned-left → 
              span.sheet-rollafter.aligned-left.sheet-template-computed {{computed::current_ammo}}
          | {{/rollTotal() trackbullets 1}}

  rolltemplate.sheet-rolltemplate-fancy-sanloss
    .sheet-template-container
      +rollHeader()
      
      .sheet-template-body 
        |{{#description}}
        .sheet-template-row.sheet-template-description
          span.sheet-template-inline-block  {{description}}
        |{{/description}}
        
        .sheet-template-row.sheet-template-tworows
          span.sheet-after-colons.sheet-rolltitle(data-i18n="success:") success:
          span.sheet-template-attack-buttons  
            .sheet-template-button {{success_roll}}
        .sheet-template-row.sheet-template-tworows
          span.sheet-after-colons.sheet-rolltitle(data-i18n="failure:") failure:
          .sheet-template-attack-buttons  
            .sheet-template-button {{failure_roll}}


  rolltemplate.sheet-rolltemplate-fancy-rolls
      .sheet-template-container
        +rollHeader(true)
        //- Display the dice roll in the template -
        | {{#rollTotal() computed::zero_willpower 1}}
        .sheet-template-overlay-zero-wp
          .sheet-template-overlay-zero-wp90
            .sheet-template-body
              .sheet-template-row.sheet-template-onerow 
                span.inlinerollresult(data-i18n="Actions automatically fail at 0 willpower.") Actions automatically fail at 0 willpower.
              .sheet-template-row.sheet-template-onerow 
                span.sheet-template-outcome(data-i18n="failure") failure     
        | {{/rollTotal() computed::zero_willpower 1}}    
        
        | {{#rollTotal() computed::low_willpower 1}}
        .sheet-template-overlay-low-wp
          .sheet-template-overlay-low-wp90
            .sheet-template-body
              | {{#^rollTotal() computed::modifier 0}}
              +modifierRow()
              | {{/^rollTotal() computed::modifier 0}}
              +extraInfo()
              .sheet-template-row.sheet-template-onerow 
                span.inlinerollresult {{dice}}
                // SUCCESS
              | {{#rollTotal() computed::isSuccess 1}}
              | {{#rollTotal() computed::isCritical 1}}
              .sheet-template-row.sheet-template-onerow 
                span.sheet-template-outcome(data-i18n="critical") critical
              | {{/rollTotal() computed::isCritical 1}}
              | {{/rollTotal() computed::isSuccess 1}}
              
              | {{#rollTotal() computed::isSuccess 1}}
              | {{#rollTotal() computed::isCritical 0}}
              .sheet-template-row.sheet-template-onerow 
                span.sheet-template-outcome(data-i18n="success") success
              | {{/rollTotal() computed::isCritical 0}}
              | {{/rollTotal() computed::isSuccess 1}}
              
              
              
              | {{#rollTotal() computed::isSuccess 0}}
              | {{#rollTotal() computed::isCritical 1}}
              .sheet-template-row.sheet-template-onerow 
                span.sheet-template-outcome(data-i18n="fumble") fumble
              | {{/rollTotal() computed::isCritical 1}}
              | {{/rollTotal() computed::isSuccess 0}}


              
              | {{#rollTotal() computed::isSuccess 0}}
              | {{#rollTotal() computed::isCritical 0}}
              .sheet-template-row.sheet-template-onerow 
                span.sheet-template-outcome(data-i18n="failure") failure
              | {{/rollTotal() computed::isCritical 0}}
              | {{/rollTotal() computed::isSuccess 0}}

              | {{#rollTotal() computed::isSuccess 1}}
              +rollDamages()
              | {{/rollTotal() computed::isSuccess 1}}

        | {{/rollTotal() computed::low_willpower 1}}
        
        | {{#rollTotal() computed::low_willpower 0}}
        | {{#rollTotal() computed::zero_willpower 0}}
        
        .sheet-template-body
          | {{#^rollTotal() computed::modifier 0}}
          +modifierRow()
          | {{/^rollTotal() computed::modifier 0}}
          
          .sheet-template-row.sheet-template-onerow 
            span.inlinerollresult {{dice}}
            // SUCCESS
          | {{#rollTotal() computed::isSuccess 1}}
          | {{#rollTotal() computed::isCritical 1}}
          .sheet-template-row.sheet-template-onerow 
            span.sheet-template-outcome(data-i18n="critical") critical
          | {{/rollTotal() computed::isCritical 1}}
          | {{/rollTotal() computed::isSuccess 1}}
          
          | {{#rollTotal() computed::isSuccess 1}}
          | {{#rollTotal() computed::isCritical 0}}
          .sheet-template-row.sheet-template-onerow 
            span.sheet-template-outcome(data-i18n="success") success
          | {{/rollTotal() computed::isCritical 0}}
          | {{/rollTotal() computed::isSuccess 1}}
          | {{#rollTotal() computed::isSuccess 0}}
          | {{#rollTotal() computed::isCritical 1}}
          .sheet-template-row.sheet-template-onerow 
            span.sheet-template-outcome(data-i18n="fumble") fumble
          | {{/rollTotal() computed::isCritical 1}}
          | {{/rollTotal() computed::isSuccess 0}}

          | {{#rollTotal() computed::isSuccess 0}}
          | {{#rollTotal() computed::isCritical 0}}
          .sheet-template-row.sheet-template-onerow 
            span.sheet-template-outcome(data-i18n="failure") failure
          | {{/rollTotal() computed::isCritical 0}}
          | {{/rollTotal() computed::isSuccess 0}}
          | {{#rollTotal() computed::isSuccess 1}}
          +rollDamages()
          | {{/rollTotal() computed::isSuccess 1}}
        | {{/rollTotal() computed::zero_willpower 0}}
        | {{/rollTotal() computed::low_willpower 0}}

      | {{#ritual}}
      | {{/ritual}}

