+panel({ name: 'fame', title: 'Fame' })
  - const { fame } = data.crew;
  +block('content')
    +editorblock('fame')
      +block('edit')
        .fame__hypes
          each field in fame.hype
            .fame__hype
              +field(field)
              label(data-i18n=field.name, for=field.name)= field.label
        .fame__ranks
          each rank in fame.ranks
            - const { label, style, perks, descriptions } = rank;
            .fame__rank
              label.rank(for=label.name)
                +field(label)
                span.rank__name(data-i18n=label.name)= label.label
                if style
                  span.rank__cost(data-i18n=style.name)= style.label
              each field in perks
                .fame__perk
                  label.fame__perk--name(for=field.name)
                    +field(field)
                    span(data-i18n=field.name)= field.label
                  //- span.fame__perk--description(data-i18n=`${field.name}_description`)= descriptions[field.name]

      +block('view')
        .fame__ranks
          each rank in fame.ranks
            - const { label, perks, descriptions } = rank;
            .fame__rank
              +hidden(label.name)
              span.rank__name(data-i18n=label.name)= label.label
              each field in perks
                .fame__perk
                  +hidden(field.name)
                  span.fame__perk--name(data-i18n=field.name)= field.label
