//- Include Supplement Toggle
include ../../data/settings
include ../../common/pug/button

mixin settings()
  .settings-menu
    each group, key in settings
      .settings-group
        .settings-group-title=key.toUpperCase()
        each setting in group
          .setting-container
            .setting-name=setting.text
            .setting-toggle
              label.setting-switch
                if setting.checked
                  input(type='checkbox' name=`attr_${setting.attribute}` checked)
                else
                  input(type='checkbox' name=`attr_${setting.attribute}`)
                span.setting-slider.setting-round
            .setting-description=setting.description
          