include ../data/list

mixin cardBody(id)
  - var condition = conditionsBody[id]
  p.sheet-card-description=condition.description
  each point in condition.points
    ul.sheet-condition-body-list
      if point.foe
        li.sheet-foe-bullet!=point.text
      else
        li.sheet-char-bullet!=point.text
  
  if condition.severity
    if condition.severity.reduce
      - var reduce = condition.severity.reduce
      p.sheet-severity-reduce Reduce your severity by 1...
      each point in reduce
        ul.sheet-condition-body-list
          if point.foe
            li.sheet-foe-bullet!=point.text
          else
            li.sheet-char-bullet!=point.text
  
  if condition.clear
    p.sheet-condition-clear Clear this condition...
    each point in condition.clear
      ul.sheet-condition-body-list
        if point.foe
          li.sheet-foe-bullet!=point.text
        else
          li.sheet-char-bullet!=point.text
  
  if condition.severity
    .sheet-severity-track
      each part, index in condition.severity.track
        label.sheet-common-btn.sheet-track-child
          input.sheet-btn-input.sheet-hide.sheet-track-btn(type='radio' name=`attr_${id}_track` value=index)
          if part.text
            .sheet-btn-content!=part.text
          else
            .sheet-btn-content!=part.value
