include ../data/list

mixin cardBody(id)
  - var condition = conditionsBody[id]
  p.sheet-card-description=condition.description
  each point in condition.points
    ul
      if point.foe
        li.sheet-foe-bullet!=point.text
      else
        li.sheet-char-bullet!=point.text
  
  if condition.severity
    - var reduce = condition.severity.reduce
    p.sheet-severity-reduce!=reduce.text
    ul
      li.sheet-severity-bullet!=reduce.point
  
  if condition.clear
    p.sheet-severity-reduce!=condition.clear.text
    ul
      li.sheet-severity-bullet!=condition.clear.point
  
  if condition.severity
    .sheet-severity-track
      each part, index in condition.severity.track
        label.sheet-common-btn.sheet-track-child
          input.sheet-btn-input.sheet-hide.sheet-track-btn(type='radio' name=`attr_${id}_track` value=index)
          if part.text
            .sheet-btn-content!=part.text
          else
            .sheet-btn-content!=part.value
