include ../../data/nav

mixin nav_bar
  div.nav-bar
    each row in navigation
      div.nav-row
        each page in row.pages
          div.nav-child
            label.page-label
              if page.checked
                input(
                  type='radio'
                  name='attr_page_button'
                  class='hide-element page-button'
                  value=page.id
                  checked)
              else
                input(
                  type='radio'
                  name='attr_page_button'
                  class='hide-element page-button'
                  value=page.id)
              - var translation = `${page.text}`
              div.page-button-back(data-i18n=translation)=locals[translation]
