div(class="box")  
    h2(data-i18n="heading_weapons") Waffenübersicht  
    <input class="feathertoggle" type="checkbox" name="attr_display-weapons" value="1" checked="true"/>
    img(class="feather" src="https://ulisses-digital.de/R20/hexxen/images/Feather.png")
    div(class="weapons")
        h4(data-i18n="header_weapon") Waffe
        h4(data-i18n="header_damage") Sch
        h4(data-i18n="header_actionpoints") Ap
        h4(data-i18n="header_skillvalue") Fw   
        h4(data-i18n="header_sum") Sum
        h4(data-i18n="header_attack") Ang
        h4(data-i18n="header_parry") Par
        each val in weapons
            input(type="hidden" class="weaponrowactive" name="attr_"+val.id+"_active")
            div(class="item tooltip")
                label(class="item" data-i18n=val.id)= val.name
                span(class="tooltiptext" data-i18n=val.id+"_note")= val.note
            input(type="hidden" class="weaponrowactive" name="attr_"+val.id+"_active")
            label(class="item")= val.damage
            input(type="hidden" class="weaponrowactive" name="attr_"+val.id+"_active")
            label(class="item")= val.ap
            input(type="hidden" class="weaponrowactive" name="attr_"+val.id+"_active")
            span(class="item" name="attr_"+val.id)  
            input(type="hidden" class="weaponrowactive" name="attr_"+val.id+"_active")          
            div(class="item tooltip")
                span(class="item label" name="attr_"+val.id+"_max") 
                div(class="tooltiptext")
                    span(data-i18n="header_skillvalue") FW
                    span  +  
                    span(data-i18n=val.baseattribute+"_short") Ath  
            input(type="hidden" class="weaponrowactive" name="attr_"+val.id+"_active")
            div(class="item tooltip")
                input(type="hidden" name="attr_"+val.id+"_mod_desc")
                span(class="tooltiptext" name="attr_"+val.id+"_mod_desc")
                if(val.preselect)
                    input(type="hidden" class="normal" name="attr_"+val.id+"_active" value="1")
                else
                    input(type="hidden" class="normal" name="attr_"+val.id+"_active" value="0")
                button(type='action' class="roll attackdie" name='act_'+val.id)
            input(type="hidden" class="weaponrowactive" name="attr_"+val.id+"_active")
            div(class="item tooltip")
                input(type="hidden" name="attr_parry_"+val.id+"_mod_desc")
                span(class="tooltiptext" name="attr_parry_"+val.id+"_mod_desc")
                if(val.preselect)
                    input(type="hidden" class="normal" name="attr_"+val.id+"_active" value="1")
                else
                    input(type="hidden" class="normal" name="attr_"+val.id+"_active" value="0")
                button(type='action' class="roll parrydie" name='act_parry_'+val.id) b
            
            if val.mounted
                input(type="hidden" class="weaponrowactive" name="attr_"+val.id+"_active")
                div(class="item tooltip")
                    span (... 
                    span(data-i18n="mounted")
                    span )
                    span(class="tooltiptext" data-i18n=val.id+"_note")= val.note
                input(type="hidden" class="weaponrowactive" name="attr_"+val.id+"_active")
                label(class="item")= val.mounted_damage
                input(type="hidden" class="weaponrowactive" name="attr_"+val.id+"_active")
                label(class="item")= val.mounted_ap
                input(type="hidden" class="weaponrowactive" name="attr_"+val.id+"_active")
                span(class="item" name="attr_"+val.id)  
                input(type="hidden" class="weaponrowactive" name="attr_"+val.id+"_active")          
                div(class="item tooltip")
                    span(class="item label" name="attr_"+val.id+"_max") 
                    div(class="tooltiptext")
                        span(data-i18n="header_skillvalue") FW
                        span  +  
                        span(data-i18n=val.baseattribute+"_short") Ath  
                input(type="hidden" class="weaponrowactive" name="attr_"+val.id+"_active")
                div(class="item tooltip")
                    input(type="hidden" name="attr_"+val.id+"_mod_desc")
                    span(class="tooltiptext" name="attr_"+val.id+"_mod_desc")
                    if(val.preselect)
                        input(type="hidden" class="normal" name="attr_"+val.id+"_active" value="1")
                    else
                        input(type="hidden" class="normal" name="attr_"+val.id+"_active" value="0")
                    button(type='action' class="roll attackdie" name='act_'+val.id+"_mounted")
                input(type="hidden" class="weaponrowactive" name="attr_"+val.id+"_active")
                div(class="item tooltip")
                    input(type="hidden" name="attr_parry_"+val.id+"_mod_desc")
                    span(class="tooltiptext" name="attr_parry_"+val.id+"_mod_desc")
                    if(val.preselect)
                        input(type="hidden" class="normal" name="attr_"+val.id+"_active" value="1")
                    else
                        input(type="hidden" class="normal" name="attr_"+val.id+"_active" value="0")
                    button(type='action' class="roll parrydie" name='act_parry_'+val.id+"_mounted") b

            if val.vs_mounted
                input(type="hidden" class="weaponrowactive" name="attr_"+val.id+"_active")
                div(class="item tooltip")
                    span (... 
                    span(data-i18n="vs_mounted")
                    span )
                    span(class="tooltiptext" data-i18n=val.id+"_note")= val.note
                input(type="hidden" class="weaponrowactive" name="attr_"+val.id+"_active")
                label(class="item")= val.vs_mounted_damage
                input(type="hidden" class="weaponrowactive" name="attr_"+val.id+"_active")
                label(class="item")= val.vs_mounted_ap
                input(type="hidden" class="weaponrowactive" name="attr_"+val.id+"_active")
                span(class="item" name="attr_"+val.id)  
                input(type="hidden" class="weaponrowactive" name="attr_"+val.id+"_active")          
                div(class="item tooltip")
                    span(class="item label" name="attr_"+val.id+"_max") 
                    div(class="tooltiptext")
                        span(data-i18n="header_skillvalue") FW
                        span  +  
                        span(data-i18n=val.baseattribute+"_short") Ath  
                input(type="hidden" class="weaponrowactive" name="attr_"+val.id+"_active")
                div(class="item tooltip")
                    input(type="hidden" name="attr_"+val.id+"_mod_desc")
                    span(class="tooltiptext" name="attr_"+val.id+"_mod_desc")
                    if(val.preselect)
                        input(type="hidden" class="normal" name="attr_"+val.id+"_active" value="1")
                    else
                        input(type="hidden" class="normal" name="attr_"+val.id+"_active" value="0")
                    button(type='action' class="roll attackdie" name='act_'+val.id+"_vsmounted")
                input(type="hidden" class="weaponrowactive" name="attr_"+val.id+"_active")
                div(class="item tooltip")
                    input(type="hidden" name="attr_parry_"+val.id+"_mod_desc")
                    span(class="tooltiptext" name="attr_parry_"+val.id+"_mod_desc")
                    if(val.preselect)
                        input(type="hidden" class="normal" name="attr_"+val.id+"_active" value="1")
                    else
                        input(type="hidden" class="normal" name="attr_"+val.id+"_active" value="0")
                    button(type='action' class="roll parrydie" name='act_parry_'+val.id+"_vsmounted") b

