div(class="box")  
    h2(data-i18n="heading_weapons") Waffenübersicht  
    img(class="feather" src="https://ulisses-digital.de/R20/hexxen/images/Feather.png")
    div(class="weapons_edit")
        h4
        h4(data-i18n="header_weapon") Waffe
        h4(data-i18n="header_damage") Sch
        h4(data-i18n="header_actionpoints") Ap
        h4(data-i18n="header_skillvalue") Fw   
        h4(data-i18n="header_sum") Sum
        each val in weapons
            span
                input(type="checkbox" class="normal" name="attr_"+val.id+"_active" value="1" checked=val.preselect)
                span
            div(class="item tooltip")
                label(class="item" data-i18n=val.id)= val.name
                span(class="tooltiptext" data-i18n=val.id+"_note")= val.note
            label(class="item")= val.damage
            label(class="item")= val.ap
            input(class="number" type="number" name="attr_"+val.id)  
            div(class="item tooltip")
                span(class="item label" name="attr_"+val.id+"_max") 
                div(class="tooltiptext")
                    span(data-i18n="header_skillvalue") FW
                    span  +  
                    span(data-i18n=val.baseattribute+"_short") Ath  