//-
  Generates a repeating fieldset for bonds.
  Expands when clicking the DETAILS label.

  @mixin
  @outputs repeating html fieldset

  @memberof components/bonds

- 
  var 
    linkTrack = [
      { value: '2', text: '+2'},
      { value: '1', text: '+1' },
      { value: '0', text: '0', checked:true },
      { value: '-1', text: '-1' },
      { value: '-2', text: '-2' }
    ]

mixin individuals
  .bond-component
    fieldset.repeating_bonds
      .bond-container
        p.bond-title NAME:
        input.border-bottom.bond-name(type='text' name='attr_bond-name' placeholder='Name')
        .individual-nav
          label.bond-details-btn
            input.hide.btn-input(type='checkbox' name='attr_details_button')
            .btn-content DETAILS 
          label.bond-details-btn
            input.hide.btn-input(type='checkbox' name='attr_links_button')
            .btn-content LINKS
        
        input.hide.show-bond-info(type='checkbox' name='attr_details')
        .show-bond-info.showhide
          .full-width
            p.bond-title LOCATION:
            input.bond-location.border-bottom(type='text' name='attr_bond-location' placeholder='Location')
          .full-width
            p.bond-title DESCRIPTORS:
            input.bond-descriptors.border-bottom(type='text' name='attr_bond-descriptors' placeholder='Descriptors')
          .full-width
            p.bond-title.bond-notes-title(style='border-radius: 0.3em 0.3em 0em 0em')
              | NOTES
            textarea.bond-notes(name='attr_bond-notes')
        
        input.hide.show-bond-links(type='checkbox' name='attr_links')
        .show-bond-links.showhide
          .links
            - var n = 0;
            while n < 3
              - var number = n++
              
              .link
                input.link-flip-front.hide(type='radio' name=`attr_flip_${number}` value='1' checked)
                .link-front.link-flip-front.link-flip.sheet-link-side
                  label.link-button
                    if number == 1
                      input.hide.link-box-input.link-button(type='radio' name=`attr_primary_button` value=number checked)
                    else
                      input.hide.link-box-input.link-button(type='radio' name=`attr_primary_button` value=number)
                    .link-box-back.link-button-back
                      span Secondary
                  .link-details
                    .link-container
                      .link-theme
                          .bond-title Theme
                          input.bond-descriptors.border-bottom.link-title(type='text' name=`attr_theme_${number}`)
                    .link-container
                      .link-hope
                          .bond-title Hope
                          input.bond-descriptors.border-bottom.link-title(type='text' name=`attr_hope_${number}`)
                    .link-container
                      .link-track
                          each object in linkTrack 
                            .link-box
                              label.link-label
                                if object.checked
                                  input(
                                    type='radio'
                                    name=`attr_link_${number}`
                                    class='hide link-box-input'
                                    value=object.value
                                    checked
                                  )
                                else
                                  input(
                                    type='radio'
                                    name=`attr_link_${number}`
                                    class='hide link-box-input'
                                    value=object.value
                                  )
                                .link-box-back=object.text
                    .link-container
                      .link-fear
                          .bond-title Fear
                          input.bond-descriptors.border-bottom.link-title(type='text' name=`attr_fear_${number}`)
                  label.link-button
                    input.hide.link-box-input(type='radio' name=`attr_flip_button_${number}` value='2')
                    .link-box-back Flip
                
                input.link-flip-back.hide(type='radio' name=`attr_flip_${number}` value='2')
                .link-back.link-flip-back.link-flip.sheet-link-side
                  label.link-button
                    .link-box-back Fractured
                  .filler-link
                  label.link-button
                    input.hide.link-box-input(type='radio' name=`attr_flip_button_${number}` value='1')
                    .link-box-back Flip
              