include ../../data/assets

mixin ability(asset, ability, number, name)
  - var abilityId = `${name}_${number}`
  .flex-container
    if ability.Enabled
      input.asset-ability(
        type='checkbox'
        name=`attr_ability_checkbox_${abilityId}`
        checked
      )
    else
      input.asset-ability(
        type='checkbox'
        name=`attr_assetcheckbox_${asset.abilityId}${number}`
      )
    - var translationAbility = `asset-${name}-ability-${number}`
    .asset-ability
      p(data-i18n=translationAbility)=translation[translationAbility]
      if ability.Fields
        each field in ability.Fields
          - var translationAbilityField = `asset-${name}-ability-${number}-field-${field}`
          .asset-ability-write-in(data-i18n=translationAbilityField)=translation[translationAbilityField]
          input.border-bottom.no-border(type='text' name=`attr_ability_field${field}` value='')

mixin description(asset, key)
  .asset-description
    - var translationDesc = `asset-description-${key}`
    .asset-description-text(data-i18n=translationDesc)=translation[translationDesc]

mixin field(field, assetName)
  .asset-write-in.asset-name(
    data-i18n=`asset-${assetName}-field-${field}`
  )=translation[`asset-${assetName}-field-${field}`]
  input.border-bottom.no-border(type='text' name=`attr_field-${field}` value='')

mixin track(track, assetName)
  .asset-track-wrapper
    - var currentTrack = 0
    while currentTrack <= track.Value
      .asset-track-box
        if currentTrack == 0
          .asset-track-box-display=0
        else
          .asset-track-box-display=`+ ${currentTrack}`
        input(type='radio' name=`attr_assettrack_${assetName}` value=`${currentTrack}`)
        - currentTrack++

mixin genericBuilder 
  //- Asset Datalist
  input.asset-options-header(type='text' list='assetList' name='attr_asset' placeholder='Type Asset Name')
  datalist(id='assetList')
    each asset in assets.Assets
      - var name = asset.Name.toLowerCase().replace(/\s/g, '-')
      option(data-i18n=`asset-name-${name}` value=name)=translation[`asset-name-${name}`]
    option(data-i18n=`asset-name-custom` value='custom')=translation[`asset-name-custom`]

  //- Asset Content
  each asset in assets.Assets
    //- build data list
    - var name = asset.Name.toLowerCase().replace(/\s/g, '-')
    - var category = asset.Category.toLowerCase().replace(/\s/g, '-')
    input(class=`hide-element ${name}` type='checkbox' name=`attr_${name}`)
    div(class=`hide-element ${name} category-${category}`)
      .asset-content-header
        .asset-details
          .category=asset.Category
          span.asset-name=asset.Name
        .background-svg
      if asset.Description
        +description(asset, name)
      if asset.Fields
        each field in asset.Fields
          +field(field, name)
      .flex-wrapper
        each ability, index in asset.Abilities
          - var abilityNumber = index + 1
          +ability(asset, ability, abilityNumber, name)
      if asset.Track
        +track(asset.Track, name)
