include ../../data/nav

mixin navBar(sheetType)
  div.nav-bar
    if sheetType == 'shared'
      - var rows = sharedRows
    else
      - var rows = charRows
    each row in rows
      div.nav-row
        each page in row.pages 
          div.nav-child
            label.page-label
              if page.checked
                input(type='radio' name=`attr_${sheetType}_page_button` class='hide page-button' value=page.id checked)
              else
                input(type='radio' name=`attr_${sheetType}_page_button` class='hide page-button' value=page.id)
              div.page-button-back=page.text
