mixin ability(name, label)
    .ability
        //- +numberLabelled(name, label, `ab_${name}`, 0)&attributes(attributes)
        label.textLabelled&attributes(attributes)
            div!= label
            +numberInput(name, 5)(id=`ab_${name}`)
            +actButton(`roll_${name}`, label).roll.d8
            +actButton(`exp_${name}`, label).roll.d10