mixin panel(title=null, bigTitle=false)
    div(class=`panel ${attributes.class}`)
        if title
            if bigTitle
                h2!= title
            else
                h3!= title
        if block
            .panelbody
                block