include ../../data/move-list
include ../moves/mixins/move-builder

mixin oracleLabel(type, name, id)
  label.common-btn.oracle-btn
    input.hide.btn-input(
      type='radio'
      title=`@{oracle_${type}_button}`
      name=`attr_oracle_${type}_button`
      value=id
    )
    .btn-content.oracle-name=name

mixin oracleRollGroup(group, type, key)
  .oracle-box
    .oracle-title=key.replace(/_/g, ' ')
    each oracle in group.oracles
      - var header = oracle.name.replace(/_/g, ' ')
      - var id = oracle.roll_id
      if key === 'moves'
        .oracle
          +oracleLabel(type, header, id)
      else if oracle.oracle_group === '2'
        .oracle
          .button-container
            - var sub_one = oracle.sub_oracles[0]
            - var sub_two = oracle.sub_oracles[1]
            button(
              type='roll'
              title=`@{roll_${id}_oracle}`
              name=`roll_${id}_oracle`
              value=`&{template:${type}_oracles} {{header=${header}}} {{${key}${oracle.roll_id}=[[${oracle.dice}]]}} {{${key}${sub_one.roll_id}=[[${sub_one.dice}]]}} {{${key}${sub_two.roll_id}=[[${sub_two.dice}]]}}`
              )
          +oracleLabel(type, header, id)
      else
        .oracle
          .button-container
            button(
              type='roll'
              title=`@{roll_${id}_oracle}`
              name=`roll_${id}_oracle`
              value=`&{template:${type}_oracles} {{header=${header}}} {{${key}${oracle.roll_id}=[[${oracle.dice}]]}}`
              )
          +oracleLabel(type, header, id)

mixin oracleBuilder(opts, type, key)
  - var id = opts.roll_id
  - var oracleName = `${key}-${opts.name}`
  - var oracleClass = oracleName.replace(/_/g, '-')
  input(class=`${oracleClass} hide` type='radio' name=`attr_oracle_${type}` value=id)
  div(class=`${oracleClass} showhide`)
    .oracle-title.oracle-table-preview=opts.name.replace(/_/g, ' ')
    if opts.oracle_move
      +moveBuilder(moveList[opts.name], { visibility: true, no_title: true })
    else if opts.oracle_group === '2'
      .oracle-table.sheet-flex-table
        each sub_oracle in opts.sub_oracles
          .sheet-oracle-sub-column
            each row in sub_oracle.rows
              .oracle-row
                span.oracle-roll=row.roll
                span.oracle-result!=row.result
    else
      if opts.columns === '2'
        .oracle-table.sheet-oracle-table-2-column
          each row in opts.rows
            .oracle-row.oracle-row-2
              span.oracle-roll=row.roll
              span.oracle-result!=row.result

      else if opts.columns === '3'
        .oracle-table.sheet-oracle-table-3-column
          each row in opts.rows
            .oracle-row.oracle-row-3
              span.oracle-roll=row.roll
              span.oracle-result!=row.result
      
      else if opts.columns === '4'
        .oracle-table.sheet-oracle-table-4-column
          each row in opts.rows
            .oracle-row.oracle-row-4
              span.oracle-roll=row.roll
              span.oracle-result!=row.result

      else
        .oracle-table
          each row in opts.rows
            .oracle-row
              span.oracle-roll=row.roll
              span.oracle-result!=row.result
