mixin oracleRollGroup(group, type, key)
  .oracle-box
    .oracle-title=key.replace(/_/g, ' ')
    each oracle in group.oracles
      .oracle
        .button-container
          - var id = oracle.roll_id
          button(
            type='roll'
            title=`@{roll_${id}_oracle}`
            name=`roll_${id}_oracle`
            value=`&{template:${type}_oracles} {{header=${oracle.name}}} {{${oracle.roll_id}=[[${oracle.dice}]]}}`
            )
        label.common-btn.oracle-btn
          input.hide.btn-input(
            type='radio'
            title=`@{oracle_${type}_button}`
            name=`attr_oracle_${type}_button`
            value=id
          )
          .btn-content.oracle-name=oracle.name.replace(/_/g, ' ')

mixin oracleBuilder(opts, type, key)
  - var id = opts.roll_id
  - var oracleName = `${key}-${opts.name}`
  - var oracleClass = oracleName.replace(/_/g, '-')
  input(class=`${oracleClass} hide` type='radio' name=`attr_oracle_${type}` value=id)
  div(class=`${oracleClass} showhide`)
    .oracle-title.oracle-table-preview=opts.name.replace(/_/g, ' ')
    .oracle-table
      each row in opts.rows
        .oracle-row
          span.oracle-roll=row.roll
          span.oracle-result!=row.result
