.entourage.grid
  .row.bottom-border.text-center
    h1.knight(data-i18n=`knight's entourage`)
    h1.woman(data-i18n=`lady's entourage`)
  .row.2column
    .col
      .row.knight
        h1(data-i18n='squire')
      .repeating-container.gold-bottom-border.knight
        fieldset(class='repeating_squire')
          .row.2autocolumn
            h2(data-i18n='squire')
            +textInput('name')
          .row.col-2
            .col
              .row.3column
                each val in ['born', 'age', 'mod']
                  .col.2autocolumn
                    h2(data-i18n=val)
                    +textInput(val)
              .row.2autocolumn
                h2(data-i18n='skill')
                +textInput('skill 1')
              .row.2autocolumn
                h2(data-i18n='skill')
                +textInput('skill 2')
              .row.2autocolumn
                h2(data-i18n='loyalty lord')
                +textInput('loyalty lord')
            .col
              .row.2autocolumn
                h2(data-i18n='squire skill')
                +textInput('squire skill')
              - let squireSkillCounter = 1;
              while squireSkillCounter < 4
                .row.2autocolumn
                  h2(data-i18n='value')
                  +textInput(`value ${squireSkillCounter++}`)
      .row.woman
        h1(data-i18n='maid-in-waiting')
      .repeating-container.gold-bottom-border.woman
        fieldset(class='repeating_maid')
          .row.2autocolumn
            h2(data-i18n='maid-in-waiting')
            +textInput('maid in waiting')
          .row.3column
            each val in ['born', 'age', 'mod']
              .col.2autocolumn
                h2(data-i18n=val)
                +textInput(val)
          .row.2autocolumn
            h2(data-i18n='hand maiden skill')
            +textInput('hand maiden skill')
          .row.col-2
            .col
              .row.2autocolumn
                h2(data-i18n='skill')
                +textInput('skill')
              .row.2autocolumn
                h2(data-i18n='skill industry')
                +textInput('skill industry')
              .row.2autocolumn
                h2(data-i18n='loyalty lady')
                +textInput('loyalty lady')
            .col
              - let maidSkillCounter = 1;
              while maidSkillCounter < 4
                .row.2autocolumn
                  h2(data-i18n='value')
                  +textInput(`value ${maidSkillCounter++}`)
      .row.knight
        h1(data-i18n='mesnie')
      .repeating-container.gold-bottom-border.knight
        fieldset(class='repeating_mesnie')
          .row.col-2
            .col
              .row.2autocolumn
                h2(data-i18n='position')
                +textInput('name')
              .row.2autocolumn
                h2(data-i18n='weapon')
                +textInput('weapon 1')
              .row.2autocolumn
                h2(data-i18n='weapon')
                +textInput('weapon 2')
              .row.2column
                .col.2autocolumn
                  h2(data-i18n='armor')
                  +textInput('armor')
                .col.2autocolumn
                  h2(data-i18n='mw')
                  +textInput('mw')
              .row.2column
                  .col.2autocolumn
                    h2(data-i18n='horse')
                    +textInput('horse')
                  .col.2autocolumn
                    h2(data-i18n='damage')
                    +textInput('damage')
            .col
              .row.2autocolumn
                h2(data-i18n='cost £')
                +textInput('cost')
              .row.damage
                h2(data-i18n='damage')
                +textInput('damage 1')
                span(data-i18n='d6')
              .row.damage
                h2(data-i18n='damage')
                +textInput('damage 2')
                span(data-i18n='d6')
              .row.2autocolumn
                h2(data-i18n='glory')
                +textInput('glory')
              .row.2autocolumn
                h2(data-i18n='armor')
                +textInput('armor value')
      .row.knight
        h1(data-i18n='wife')
      .row.wife.knight
        .row.2autocolumn
            h2(data-i18n='wife')
            +textInput(`wife name`)
        - let wifeSkillCounter = 1
        while wifeSkillCounter < 4
          .row.2autocolumn
            h2(data-i18n='improvable skill')
            +textInput(`wife improvable skill ${wifeSkillCounter++}`)
        .row.2column
          .col
            each val in ['born', 'modifier', 'skill 1', 'skill 2', 'love (family)', 'dowry']
              - const headerName = val.includes('skill') ? val.split(' ')[0] : val;
              - const attrName = val.includes('love') ? val.split(' (')[0] : val;
              .row.2autocolumn
                h2(data-i18n=headerName)
                +textInput(`wife ${attrName}`)
          .col
            each val in ['age', 'lady skill', 'value 1', 'value 2', 'value 3', 'dower']
              - const headerName = val.includes('value') ? val.split(' ')[0] : val;
              .row.2autocolumn
                h2(data-i18n=headerName)
                +textInput(`wife ${val}`)
      .row.2autocolumn.knight
        h2(data-i18n='number of children')
        +textInput('number of children')
      .row.woman
        h1(data-i18n='husband')
      .row.husband.woman
        .row.3column
          each val in ['born', 'age', 'mod']
            .col.2autocolumn
              h2(data-i18n=val)
              +textInput(`husband ${val}`)
        .row.2autocolumn
          h2(data-i18n='knight skill')
          +textInput('knight skill')
        .row.col-2
            .col
              .row.2autocolumn
                h2(data-i18n='skill')
                +textInput('husband skill 1')
              .row.2autocolumn
                h2(data-i18n='skill')
                +textInput('husband skill 2')
              .row.2autocolumn
                h2(data-i18n='loyalty lord')
                +textInput('husband loyalty lord')
              .row.2autocolumn
                h2(data-i18n='glory')
                +textInput('husband glory')
            .col
              - let husbandSkillCounter = 1;
              while husbandSkillCounter < 4
                .row.2autocolumn
                  h2(data-i18n='value')
                  +textInput(`husband value ${husbandSkillCounter++}`)

    .col.commoners.gold-left-border
      .row
        h1(data-i18n='entourage')
      .repeating-container
        fieldset(class='repeating_entourage')
          .row.col-2
            .col.2autocolumn
              h2(data-i18n='position')
              +textInput('position')
            .col.2autocolumn
              h2(data-i18n='cost £')
              +textInput('cost')
          - let entourageSkillCounter = 1
          while entourageSkillCounter < 4
            .row.col-2
              .col.2autocolumn
                h2(data-i18n='skill')
                +textInput(`skill ${entourageSkillCounter}`)
              .col.2autocolumn
                h2(data-i18n='value')
                +textInput(`value ${entourageSkillCounter++}`)
