.entourage.grid
	.row.bottom-border.text-center.header
		h1.knight(data-i18n=`knight's entourage`)
		h1.woman(data-i18n=`lady's entourage`)
	.row.2column
		.col
			.row.knight
				h1(data-i18n='squire')
			.repeating-container.gold-bottom-border.knight
				fieldset(class='repeating_squire')
					.row.2autocolumn
						h2(data-i18n='squire')
						+textInput('name')
					.row.col-2
						.col
							.row.3column
								each val in ['born', 'age', 'mod']
									.col.2autocolumn
										h2(data-i18n=val)
										+textInput(val)
							each val in ['1', '2']
								.row.2autocolumn
									+repeatingEntourageSkillRollButton('skill', `skill ${val}`, `value ${val}`)
									+textInput(val)
							.row.2autocolumn
								+repeatingEntourageRollButton('loyalty lord', 'loyalty lord', 'value 3')
								+textInput('loyalty lord')
						.col
							.row.2autocolumn
								+repeatingEntourageRollButton('squire skill')
								+textInput('squire skill')
							- let squireSkillCounter = 1;
							while squireSkillCounter < 4
								.row.2autocolumn
									h2(data-i18n='value')
									+textInput(`value ${squireSkillCounter++}`)
			.row.woman
				h1(data-i18n='maid-in-waiting')
			.repeating-container.gold-bottom-border.woman
				fieldset(class='repeating_maid')
					.row.2autocolumn
						h2(data-i18n='maid-in-waiting')
						+textInput('maid in waiting')
					.row.3column
						each val in ['born', 'age', 'mod']
							.col.2autocolumn
								h2(data-i18n=val)
								+textInput(val)
					.row.2autocolumn
						+repeatingEntourageRollButton('hand maiden skill')
						+textInput('hand maiden skill')
					.row.col-2
						.col
							each val, index in ['skill', 'skill industry']
								.row.2autocolumn
									+repeatingEntourageSkillRollButton(val, val, `value ${index+1}`)
									+textInput(val)
							.row.2autocolumn
								+repeatingEntourageSkillRollButton('loyalty lady', 'loyalty lady', 'value 3')
								+textInput('loyalty lady')
						.col
							- let maidSkillCounter = 1;
							while maidSkillCounter < 4
								.row.2autocolumn
									h2(data-i18n='value')
									+textInput(`value ${maidSkillCounter++}`)
			.row.knight
				h1(data-i18n='mesnie')
			.repeating-container.gold-bottom-border.knight
				fieldset(class='repeating_mesnie')
					.row.col-2
						.col.2autocolumn
							h2(data-i18n='position')
							+textInput('name')
						.col.2autocolumn
							h2(data-i18n='cost £')
							+textInput('cost')
					.row.mesnie-weapon
						each val in ['1', '2']
							+repeatingEntourageSkillRollButton('weapon', `weapon ${val}`, `weapon value ${val}`)
							+textInput(`weapon ${val}`)
							h2(data-i18n='value')
							+textInput(`weapon value ${val}`)
							+repeatingEntourageDamageButton('damage', 'damage 1')
							+textInput('damage 1')
							span(data-i18n='d6')
					.row.3column
						each val in ['armor', 'mw', 'glory']
							.col.2autocolumn
								h2(data-i18n=val)
								+textInput(val)
					.row.3column
						.col.2autocolumn
							h2(data-i18n='horse')
							+textInput('horse')
						.col.2autocolumn
							+repeatingEntourageDamageButton('damage', 'damage')
							+textInput('damage')
						.col.2autocolumn
							h2(data-i18n='armor')
							+textInput('armor value')

			.row.knight
				h1(data-i18n='wife')
			.row.wife.knight
				.row.2autocolumn
						h2(data-i18n='wife')
						+textInput(`wife name`)
				.row.col-2
					.col
						- let wifeSkillCounter = 1
						while wifeSkillCounter < 4
							.col.2autocolumn
								+repeatingEntourageSkillRollButton('improvable skill', `wife improvable skill ${wifeSkillCounter}`, `wife improvable skill value ${wifeSkillCounter}`)
								+textInput(`wife improvable skill ${wifeSkillCounter++}`)
					.col
						- let wifeValueCounter = 1
						while wifeValueCounter < 4
							.row.2autocolumn
								h2(data-i18n='value')
								+textInput(`wife improvable skill value ${wifeValueCounter++}`)

				.row.2column
					.col
						each val in ['born', 'modifier']
							.row.2autocolumn
								h2(data-i18n=val)
								+textInput(`wife ${val}`)
						each val in ['skill 1', 'skill 2']
							.row.2autocolumn
								+repeatingEntourageSkillRollButton('skill', 'wife skill 1', 'wife value 1')
								+textInput(`wife ${val}`)
						.row.2autocolumn
							+repeatingEntourageRollButton('love family', 'love family', 'wife love')
							+textInput(`wife love`)
						.row.2autocolumn
								h2(data-i18n='dowry')
								+textInput(`wife dowry`)
					.col
						.row.2autocolumn
							h2(data-i18n='age')
							+textInput(`wife age`)
						.row.2autocolumn
							+repeatingEntourageRollButton('lady skill', 'lady skill', 'wife lady skill')
							+textInput(`wife lady skill`) 
						each val in ['value 1', 'value 2', 'value 3', 'dower']
							- const headerName = val.includes('value') ? val.split(' ')[0] : val;
							.row.2autocolumn
								h2(data-i18n=headerName)
								+textInput(`wife ${val}`)
			.row.2autocolumn.knight
				h2(data-i18n='number of children')
				+textInput('number of children')
			.row.woman
				h1(data-i18n='husband')
			.row.husband.woman
				.row.3column
					each val in ['born', 'age', 'mod']
						.col.2autocolumn
							h2(data-i18n=val)
							+textInput(`husband ${val}`)
				.row.2autocolumn
					+repeatingEntourageRollButton('knight skill')
					+textInput('knight skill')
				.row.col-2
						.col
							each skill in ['skill 1', 'skill 2']
								.row.2autocolumn
									+repeatingEntourageSkillRollButton('skill', `husband ${skill}`, `husband value ${skill.split(' ')[1]}`)
									+textInput(`husband ${skill}`)
							each val in ['loyalty lord', 'glory']
								.row.2autocolumn
									+repeatingEntourageRollButton(val, val, `husband ${val}`)
									+textInput(`husband ${val}`)
						.col
							- let husbandSkillCounter = 1;
							while husbandSkillCounter < 4
								.row.2autocolumn
									h2(data-i18n='value')
									+textInput(`husband value ${husbandSkillCounter++}`)

		.col.commoners.gold-left-border
			.row
				h1(data-i18n='entourage')
			.repeating-container
				fieldset(class='repeating_entourage')
					.row.col-2
						.col.2autocolumn
							h2(data-i18n='position')
							+textInput('position')
						.col.2autocolumn
							h2(data-i18n='cost £')
							+textInput('cost')
					- let entourageSkillCounter = 1
					while entourageSkillCounter < 4
						.row.col-2
							.col.2autocolumn
								+repeatingEntourageSkillRollButton('skill', `skill ${entourageSkillCounter}`, `value ${entourageSkillCounter}`)
								+textInput(`skill ${entourageSkillCounter}`)
							.col.2autocolumn
								h2(data-i18n='value')
								+textInput(`value ${entourageSkillCounter++}`)
