.feast-record.grid
  .row.2column
    .col
      img(alt='King Arthur Pendragon' src='https://raw.githubusercontent.com/Roll20/roll20-character-sheets/master/Pendragon5thEdition/src/pendragonlogo.jpg')
    .col.header
      h1.header(data-i18n='feast record')
  .row.3column
    each val in ['location', 'size', 'date']
      .col.grid.2autocolumn
        h2(data-i18n=val)
        +textInput(`feast ${val}`)
  .row.sub-header.bottom-border
    each val in ['seating', 'glory', 'geniality mod.', 'accumulated geniality']
      h2(data-i18n=val)
  each value, key in {'above the salt (high table)':2, 'near the salt (seat of honor)': 1,'below the salt (normal seating)': 0,'on the floor (squires)': -1}
    - const repeatingName = key.split(' (')[0].replace(/ /g, '-');
    .row.sub-header
      .col.table
        h3(data-i18n=key)
      .col.grid.6column
        - let n = 1
        while n < 6
          h3.text-center(data-i18n=`round ${n++}`)
        h3.text-center.font-weight-bold(data-i18n='total')
    .repeating-container
      fieldset(class=`repeating_${repeatingName}`)
        .row
          .col
            +textInput('name')
          .col
            +numberInput('glory')
          .col
            label(data-i18n-title=`enter geniality modifier` title=`enter geniality modifier`)
              input.text-center(data-i18n-placeholder=name name=`attr_geniality_modifier` placeholder=name title=`@{geniality_modifier}` type='text' value=value)
          .col.6column
            - let roundCounter = 0
            while roundCounter < 5
              +numberInput(`round ${roundCounter++}`)
            +numberInput('round total')
  .row
    h2(data-i18n='notes')
    textarea(name='attr_feast_record_notes')
    
.gamemaster-characters
  .row.2column
    .col
      img(alt='King Arthur Pendragon' src='https://raw.githubusercontent.com/Roll20/roll20-character-sheets/master/Pendragon5thEdition/src/pendragonlogo.jpg')
    .col.header
      h1.header(data-i18n='gamemaster characters')
  .row.3column
    each val in ['location', 'size', 'date']
      .col.grid.2autocolumn
        h2(data-i18n=val)
        +textInput(val)
  .row.bottom-border
    h2(data-i18n='significant gamemaster characters')
  .row.sub-header
    each val in gmCharacters
      if val === 'name'
        h2(data-i18n=val)
      else
        h2.text-center(data-i18n=val)
  .repeating-container
    fieldset(class=`repeating_gamemaster-characters`)
      .row.repeating-row
        each val in gmCharacters
          if val === 'name'
            +textInput(val)
          else if val === 'glory'
            +numberInput(val)
          else
            .col
              +numberInput(val)
              +rollButton(val)
  .row
    h2(data-i18n='notes')
    textarea(name='attr_gamemaster-characters_notes')
