.treasure-record.grid 
  .grid.2column
    .col
      .row
        img(alt='King Arthur Pendragon' src=`${imageSource}/pendragonlogo.jpg`)
      .row.header
        h1.header(data-i18n='treasure record')
    .col
      each val in ['knight name', 'treasure location', 'security', 'other location', 'best clothing']
        .grid.2autocolumn
          h2(data-i18n=val)
          +textInput(`${val}`)
      .grid.2autocolumn
        .col
          h2.eclipse(data-i18n=`treasure total`)
        .col.total.text-center
          input(name=`attr_treasure_total` type='hidden' value='0')
          span(name=`attr_treasure_total`)

  .grid.sub-header.bottom-border
    each val in ['date', 'source/expense', 'form of treasure', 'amount/worth', 'total £']
      h2.eclipse(data-i18n=val)
  .repeating-container
    fieldset(class=`repeating_treasure-record`)
      .grid
        each val in ['date', 'source expense', 'form of treasure', 'amount worth', 'total']
          .col
            +textInput(val)

.income-worksheet.grid
  .grid.2column
    .col
      .row
        img(alt='King Arthur Pendragon' src=`${imageSource}/pendragonlogo.jpg`)
      .row.header
        h1.header(data-i18n='manor income worksheet')
    .col
      .row
        button.text-capitalize(data-i18n='weather' name=`roll_${buttonName('weather')}` type='roll' value!=`${templateHeader('weather')} {{damage=[[3d6+5]]}}`)

        button.text-capitalize(data-i18n='manorial luck' name=`roll_${buttonName('d6')}` type='roll' value!=`${templateHeader('manorial luck')} {{luck=[[1d6]]}} {{calamity=[[1d20]]}}`)

        button.text-capitalize(data-i18n='property destruction' name=`roll_${buttonName('property destruction')}` type='roll' value!=`${templateHeader('property destruction')} {{damage=[[1d20+(?{Mod.|0})]]}}`)

      .row
        button.text-capitalize(data-i18n='conflict' name=`roll_${buttonName('conflict')}` type='roll' value!=`${templateHeader('conflict')} {{conflict=[[1d6+(?{Mod.|0})]]}}`)

        button.text-capitalize(data-i18n='season' name=`roll_${buttonName('season')}` type='roll' value!=`${templateHeader('season')} {{season=[[1d6]]}}`)

        button.text-capitalize(data-i18n='knightly presence' name=`roll_${buttonName('d6')}` type='roll' value!=`${templateHeader('knightly presence')} {{knightly=[[1d6]]}}`)

      .row
        button.text-capitalize(data-i18n='bandits' name=`roll_${buttonName('bandits')}` type='roll' value!=`${templateHeader('bandits')} {{damage=[[1d6-1]]}}`)

        button.text-capitalize(data-i18n='raided' name=`roll_${buttonName('raided')}` type='roll' value!=`${templateHeader('raided')} {{damage=[[1d6+1+(?{Mod.|0})]]}}`)

        button.text-capitalize(data-i18n='pillaged' name=`roll_${buttonName('pillaged')}` type='roll' value!=`${templateHeader('pillaged')} {{damage=[[1d6+6+(?{Mod.|0})]]}}`)

        button.text-capitalize(data-i18n='plundered' name=`roll_${buttonName('plundered')}` type='roll' value!=`${templateHeader('plundered')} {{damage=[[2d6+6+(?{Mod.|0})]]}}`)

      .row
        button.text-capitalize(data-i18n='property destruction' name=`roll_${buttonName('property destruction')}` type='roll' value!=`${templateHeader('property destruction')} {{damage=[[1d20+(?{Mod.|0})]]}}`)

  .border
    .grid.sub-header.bottom-border.mt
      each val in ['a.d.', 'revenue £', 'fortune', 'harvest', 'tally']
        .col
          h2.eclipse(data-i18n=val)
      
    .repeating-container
      fieldset(class=`repeating_income-worksheet`)
        .grid.grid-rows
          .col
            .row.text-center
              h3.eclipse(data-i18n='date')
            .row
              +textInput('date')
          .col.group
            .row.text-center
              h3.eclipse(data-i18n='anticipated income')
            .row.total.text-center
              input(name='attr_anticipated_income' type='hidden' value='0')
              span(name='attr_anticipated_income')
            each val in ['normal income', 'investment income']
              .grid.2autocolumn
                h3.eclipse(data-i18n=val)
                +textInput(val)
          .col.group
            .row.grid.text-center
              +rollButton('misfortune')
            .row.total.text-center
              input(name='attr_misfortune' type='hidden' value='0')
              span(name='attr_misfortune')
            .grid.2autocolumn
              h3.eclipse(data-i18n='manorial luck')
              +textInput('manorial luck')
            .grid.4autocolumn
              each val in ['fate', 'care']
                h3.eclipse(data-i18n=val)
                +textInput(val)
          .col.group
            .row.text-center
              h3.eclipse(data-i18n='manor income')
            .row.total.text-center
              input(name='attr_manor_income' type='hidden' value='0')
              span(name='attr_manor_income')
            .grid
              .row
                h3.eclipse(data-i18n='harvest result')
              .row
                select(name="attr_harvest_result")
                  each val, key in { 'incredible': 2.5, 'excellent': 2, 'good': 1.5, 'regular': 1, 'meager': 0.75, 'bad': 0.5, 'very bad': 0.25, 'negligible': 0.17}
                    option(data-i18n=key value=val)
          .col.group
            .row.text-center
              h3.eclipse(data-i18n='treasury')
            .row.total.text-center
              span(name='attr_treasury')
            each val in ['emergency income', 'expenses']
              .grid.2autocolumn
                h3.eclipse(data-i18n=val)
                +textInput(val)
        .grid.2autocolumn
          h3.eclipse(data-i18n='notes')
          +textInput('notes')


  .grid.income-treasure.mt.2column
    .col.text-center
      .row
        h3.eclipse(data-i18n=`annual income`)
      .row.total
        span(name=`attr_annual_income_total` )
    .col.text-center
      .row
        h3.eclipse(data-i18n=`treasure total`)
      .row.total
        span(name=`attr_treasure_total` )

  .grid.expenses.mt 
    .col.text-center
      .row
        h3.eclipse(data-i18n=`expenses`)
      .row.total
        input(name=`attr_expense_total` type='hidden' value='0')
        span(name=`attr_expense_total` )
    .flex-center
      span =
    .col.text-center
      .row
        h3.eclipse(data-i18n=`lifestyle £`)
      .row.total
        +textInput('lifestyle')
    .flex-center
      span +
    .col.text-center
      .row
        h3.eclipse(data-i18n=`annual maintenance £`)
      .row.total
        span(name=`attr_annual_maintenance_total` )
    .flex-center
      span +
    .col.text-center
      .row
        h3.eclipse(data-i18n=`new improvements £`)
      .row.total
        +textInput('new improvements')
    .flex-center
      span +
    .col.text-center
      .row
        h3.eclipse(data-i18n=`retinue total £`)
      .row.total
        span(name=`attr_retinue_total` )

.land-record.grid
  .col
    .grid.headers
      .col
        .row
          img(alt='King Arthur Pendragon' src=`${imageSource}/pendragonlogo.jpg`)
        .row.header
          h1.header(data-i18n='land record')
      .col
        each val in ['manor name', 'held by', 'liege lord', 'location']
          .grid.2autocolumn
            h2(data-i18n=val)
            +textInput(`${val}`)
        .grid.2autocolumn 
          h2(data-i18n='fortification (DV)')
          +textInput('fortification')
    .grid.3column
      each val in ['annual income total', 'annual maintenance total', 'annual glory total']
        .col
          .row.text-center
            h3.eclipse(data-i18n=`${val}`)
          .row.total.text-center
            input(name=`attr_${attrName(val)}` type='hidden' value='0')
            span(name=`attr_${attrName(val)}`)
    .border.mt
      .row.mt.bottom-border
        h2(data-i18n='manor improvements')
      
      .repeating-container
        fieldset(class=`repeating_land-record`)
          .grid.first-row
            each val in ['date', 'feature', 'building cost', 'hate (landlord)']
              h3(data-i18n=val)
              +textInput(val)
          .grid.3column
            each val in ['annual income', 'annual maintenance', 'annual glory']
              .grid.2autocolumn
                h3(data-i18n=val)
                +textInput(val)
          .grid.2autocolumn
              h3(data-i18n='notes')
              +textInput('notes')
  .col
    .grid.2autocolumn
      h2.text-uppercase(data-i18n='hate (landlord)')
      +numberInput(`hate landlord`)
    .grid.2autocolumn.mt
      h2.text-uppercase(data-i18n='population')
      +numberInput(`population`)
    .flex-center.mt
      button.text-capitalize(data-i18n='population growth' name=`roll_${buttonName('population growth')}` type='roll' value!=`${templateHeader('population growth')} {{dice=[[1d20]]}} {{threshold=[[@{population}/100]]}}`)
    .flex-center.mt
      button.text-capitalize(data-i18n='build improvement' name=`roll_${buttonName('build improvement')}` type='roll' value!=`${templateHeader('build improvement')} {{build=[[1d20cs0cf20]]}}`)

    .row.text-center.mt
      .row
        h3.eclipse(data-i18n=`retinue total £`)
      .row.total
        input(name=`attr_retinue_total` type='hidden' value='0')
        span(name=`attr_retinue_total` )

    .border.retinue.mt
      .bottom-border
        h2(data-i18n='manor personal & retinue')
      .grid.subheaders.bottom-border 
        each val in ['type', 'cost', 'rating']
          h3.text-center(data-i18n=val)
      .repeating-container
        fieldset(class=`repeating_manor-personnel-retinue`)
          .grid
            +textInput('type')
            +textInput('cost')
            +textInput('rating')
            +repeatingRetinueRollButton('rating', `rating`)
          
          






    