.grid.settings
  .col
    h1(data-i18n='character sheet type')
    select(name='attr_sheet_select' value='knight')
      option(data-i18n='knight' value='knight' selected)
      option(data-i18n='woman' value='woman')
      option(data-i18n='feast' value='feast record')

//-

  .col.sheet-type
    each val in ['character', 'holdings', 'entourage', 'feast']
      label(data-i18n-title=`sheet type: ${val}`)
        if val === 'character'
          input(name=`attr_sheet_type` title=`@{sheet_type}` type='radio' value=val selected)
          span.text-center(data-i18n=`${val}`)
        else
          input(name=`attr_sheet_type` title=`@{sheet_type}` type='radio' value=val)
          span.text-center(data-i18n=`${val}`)
  .col
    select(name='attr_character_type' value='knight')
      option(data-i18n='knight' value='knight' selected)
      option(data-i18n='woman' value='woman')
    select(name='attr_feast_type' value='feast')
      option(data-i18n='feast record' value='record' selected)
      option(data-i18n='gamemaster characters' value='characters')
-//