include ./lists/companions.pug
input(type="checkbox" class="sheet-checkbox sheet-asset-companion sheet-hide" name="attr_assetcompanion")
div.sheet-companion.sheet-hide
  select(name="attr_assetDropdownCompanion" class="sheet-sub-dropdown")
    option(value="" disabled selected) Select
    each companion in companions
      option(value=companion.id)=companion.name
  
  each companion in companions
    input(type="checkbox" class=`sheet-checkbox sheet-${companion.id} sheet-hide` name=`attr_assetcompaniondiv${companion.id}`)
    div(class=`sheet-${companion.id} sheet-hide`)
      
      div.sheet-asset-description
        div.sheet-asset-write-in Name
          input(type="text" class="sheet-border-bottom sheet-no-border" name="attr_assetname" value="")
        div.sheet-asset-description-text=companion.description
      
      div.sheet-flex-wrapper
        div.sheet-flex-container
          each ability, index in companion.abilities
            input(type="checkbox" class="sheet-checkbox sheet-asset-ability" name=`attr_assetcheckbox_${companion.id}_${index}`)
            div.sheet-asset-ability!=ability
      
      div.sheet-asset-track-wrapper
        each track, index in companion.tracks
          div.sheet-asset-track-box
            div.sheet-asset-track-box-display=`${track}`
              input(type="radio" name=`attr_assettrack_${companion.id}` value=`${index}`)

          
//- <div class="sheet-companion sheet-hide">
//-     <select name="attr_assetDropdownCompanion" class="sheet-sub-dropdown">
//-         <option value="" disabled selected>Select</option>
//-         <option value="cave-lion">Cave Lion</option>
//-         <option value="giant-spider">Giant Spider</option>
//-         <option value="hawk">Hawk</option>
//-         <option value="horse">Horse</option>
//-         <option value="hound">Hound</option>
//-         <option value="kindred">Kindred</option>
//-         <option value="mammoth">Mammoth</option>
//-         <option value="owl">Owl</option>
//-         <option value="raven">Raven</option>
//-         <option value="young-wyvern">Young Wyvern</option>
//-     </select>
//-     <input type="checkbox" class="sheet-checkbox sheet-cave-lion sheet-hide" name="attr_assetcompaniondivcave-lion">
//-     <div class="sheet-cave-lion sheet-hide">
//-         <div class="sheet-asset-description">
//-             <div class="sheet-asset-write-in">Name:<input type="text"
//-                     class="sheet-border-bottom sheet-no-border" name="attr_assetname" value=""></div>
//-             <div class="sheet-asset-description-text">Your cat takes down its prey.</div>
//-         </div>
//-         <div class="sheet-flex-wrapper">
//-             <div class="sheet-flex-container">
//-                 <input type="checkbox" class="sheet-checkbox sheet-asset-ability" name="attr_assetcheckbox_cavelion1">
//-                 <div class="sheet-asset-ability"><b>Eager:</b> When your cat chases down big game, you
//-                     may <em>Resupply</em> with +edge (instead of +wits). If you do, take +1 supply or +1
//-                     momentum on a strong hit.</div>
//-             </div>
//-             <div class="sheet-flex-container">
//-                 <input type="checkbox" class="sheet-checkbox sheet-asset-ability" name="attr_assetcheckbox_cavelion2">
//-                 <div class="sheet-asset-ability"><b>Inescapable:</b> When you <em>Enter the Fray</em> or
//-                     <em>Strike</em> by sending your cat to attack, roll +edge. On a hit, take +2
//-                     momentum</div>
//-             </div>
//-             <div class="sheet-flex-container">
//-                 <input type="checkbox" class="sheet-checkbox sheet-asset-ability" name="attr_assetcheckbox_cavelion3">
//-                 <div class="sheet-asset-ability"><b>Protective:</b> When you <em>Make Camp</em>, your
//-                     cat is alert to trouble. If you or an ally choose to relax, take +1 spirit. If you
//-                     focus, take +1 momentum.</div>
//-             </div>
//-         </div>
//-         <div class="sheet-asset-track-wrapper">
//-             <div class="sheet-asset-track-box">
//-                 <div class="sheet-asset-track-box-display">0</div>
//-                 <input type="radio" name="attr_assettrack_cavelion" value="0">
//-             </div>
//-             <div class="sheet-asset-track-box">
//-                 <div class="sheet-asset-track-box-display">+ 1</div>
//-                 <input type="radio" name="attr_assettrack_cavelion" value="1">
//-             </div>
//-             <div class="sheet-asset-track-box">
//-                 <div class="sheet-asset-track-box-display">+ 2</div>
//-                 <input type="radio" name="attr_assettrack_cavelion" value="2">
//-             </div>
//-             <div class="sheet-asset-track-box">
//-                 <div class="sheet-asset-track-box-display">+ 3</div>
//-                 <input type="radio" name="attr_assettrack_cavelion" value="3">
//-             </div>
//-             <div class="sheet-asset-track-box">
//-                 <div class="sheet-asset-track-box-display">+ 4</div>
//-                 <input type="radio" name="attr_assettrack_cavelion" value="4">
//-             </div>
//-         </div>
//-     </div>
//-     <input type="checkbox" class="sheet-checkbox sheet-giant-spider sheet-hide" name="attr_assetcompaniondivgiant-spider">
//-     <div class="sheet-giant-spider sheet-hide">
//-         <div class="sheet-asset-description">
//-             <div class="sheet-asset-write-in">Name:<input type="text"
//-                     class="sheet-border-bottom sheet-no-border" name="attr_assetname" value=""></div>
//-             <div class="sheet-asset-description-text">Your spider uncovers secrets.</div>
//-         </div>
//-         <div class="sheet-flex-wrapper">
//-             <div class="sheet-flex-container">
//-                 <input type="checkbox" class="sheet-checkbox sheet-asset-ability" name="attr_assetcheckbox_giantspider1">
//-                 <div class="sheet-asset-ability"><b>Discreet:</b> When you <em>Secure an Advantage</em>
//-                     by sending your spider to scout a place, add +1 and take +1 momentum on a hit.</div>
//-             </div>
//-             <div class="sheet-flex-container">
//-                 <input type="checkbox" class="sheet-checkbox sheet-asset-ability" name="attr_assetcheckbox_giantspider2">
//-                 <div class="sheet-asset-ability"><b>Soul-Piercing:</b> You may <em>Face Danger</em> +shadow by sending your spider to secretly study someone. On a hit, the spider returns to reveal the target’s deepest fears through a reflection in its glassy eyes. Use this to <em>Gather Information</em> and reroll any dice.</div>
//-             </div>
//-             <div class="sheet-flex-container">
//-                 <input type="checkbox" class="sheet-checkbox sheet-asset-ability" name="attr_assetcheckbox_giantspider3">
//-                 <div class="sheet-asset-ability"><b>Ensnaring:</b> When your spider sets a trap, add +1 as you <em>Enter the Fray</em> +shadow. On a <strong>strong hit,</strong> also inflict 2 harm.</div>
//-             </div>
//-         </div>
//-         <div class="sheet-asset-track-wrapper">
//-             <div class="sheet-asset-track-box">
//-                 <div class="sheet-asset-track-box-display">0</div>
//-                 <input type="radio" name="attr_assettrack_giantspider" value="0">
//-             </div>
//-             <div class="sheet-asset-track-box">
//-                 <div class="sheet-asset-track-box-display">+ 1</div>
//-                 <input type="radio" name="attr_assettrack_giantspider" value="1">
//-             </div>
//-             <div class="sheet-asset-track-box">
//-                 <div class="sheet-asset-track-box-display">+ 2</div>
//-                 <input type="radio" name="attr_assettrack_giantspider" value="2">
//-             </div>
//-             <div class="sheet-asset-track-box">
//-                 <div class="sheet-asset-track-box-display">+ 3</div>
//-                 <input type="radio" name="attr_assettrack_giantspider" value="3">
//-             </div>
//-             <div class="sheet-asset-track-box">
//-                 <div class="sheet-asset-track-box-display">+ 4</div>
//-                 <input type="radio" name="attr_assettrack_giantspider" value="4">
//-             </div>
//-         </div>
//-     </div>
//-     <input type="checkbox" class="sheet-checkbox sheet-hawk sheet-hide" name="attr_assetcompaniondivhawk">
//-     <div class="sheet-hawk sheet-hide">
//-         <div class="sheet-asset-description">
//-             <div class="sheet-asset-write-in">Name:<input type="text"
//-                     class="sheet-border-bottom sheet-no-border" name="attr_assetname" value=""></div>
//-             <div class="sheet-asset-description-text">Your hawk can aid you while it is aloft.</div>
//-         </div>
//-         <div class="sheet-flex-wrapper">
//-             <div class="sheet-flex-container">
//-                 <input type="checkbox" class="sheet-checkbox sheet-asset-ability" name="attr_assetcheckbox_hawk1">
//-                 <div class="sheet-asset-ability"><b>Far-seeing:</b> When you <em>Undertake a
//-                         Journey</em>, or when you <em>Resupply</em> by hunting for small game, add +1.
//-                 </div>
//-             </div>
//-             <div class="sheet-flex-container">
//-                 <input type="checkbox" class="sheet-checkbox sheet-asset-ability" name="attr_assetcheckbox_hawk2">
//-                 <div class="sheet-asset-ability"><b>Fierce:</b> When you <em>Secure an Advantage</em> +edge using your hawk to harass and distract your foes, add +1 and take +1 momentum on a hit.</div>
//-             </div>
//-             <div class="sheet-flex-container">
//-                 <input type="checkbox" class="sheet-checkbox sheet-asset-ability" name="attr_assetcheckbox_hawk3">
//-                 <div class="sheet-asset-ability"><b>Vigilant:</b> When you <em>Face Danger</em> +wits to detect an approaching threat, or when you <em>Enter the Fray</em> +wits against an ambush, add +2.</div>
//-             </div>
//-         </div>
//-         <div class="sheet-asset-track-wrapper">
//-             <div class="sheet-asset-track-box">
//-                 <div class="sheet-asset-track-box-display">0</div>
//-                 <input type="radio" name="attr_assettrack_hawk" value="0">
//-             </div>
//-             <div class="sheet-asset-track-box">
//-                 <div class="sheet-asset-track-box-display">+ 1</div>
//-                 <input type="radio" name="attr_assettrack_hawk" value="1">
//-             </div>
//-             <div class="sheet-asset-track-box">
//-                 <div class="sheet-asset-track-box-display">+ 2</div>
//-                 <input type="radio" name="attr_assettrack_hawk" value="2">
//-             </div>
//-             <div class="sheet-asset-track-box">
//-                 <div class="sheet-asset-track-box-display">+ 3</div>
//-                 <input type="radio" name="attr_assettrack_hawk" value="3">
//-             </div>
//-         </div>
//-     </div>
//-     <input type="checkbox" class="sheet-checkbox sheet-horse sheet-hide" name="attr_assetcompaniondivhorse">
//-     <div class="sheet-horse sheet-hide">
//-         <div class="sheet-asset-description">
//-             <div class="sheet-asset-write-in">Name:<input type="text"
//-                     class="sheet-border-bottom sheet-no-border" name="attr_assetname" value=""></div>
//-             <div class="sheet-asset-description-text">You and your horse ride as one. </div>
//-         </div>
//-         <div class="sheet-flex-wrapper">
//-             <div class="sheet-flex-container">
//-                 <input type="checkbox" class="sheet-checkbox sheet-asset-ability" name="attr_assetcheckbox_horse1">
//-                 <div class="sheet-asset-ability"><b>Swift:</b> When you <em>Face Danger</em> +edge using your horse’s speed and grace, or when you <em>Undertake a Journey</em>, add +1.
//-                 </div>
//-             </div>
//-             <div class="sheet-flex-container">
//-                 <input type="checkbox" class="sheet-checkbox sheet-asset-ability" name="attr_assetcheckbox_horse2">
//-                 <div class="sheet-asset-ability"><b>Fearless:</b> When you <em>Enter the Fray</em> or <em>Secure an Advantage</em> +heart by charging into combat, add +1 and take +1  momentum on a hit.</div>
//-             </div>
//-             <div class="sheet-flex-container">
//-                 <input type="checkbox" class="sheet-checkbox sheet-asset-ability" name="attr_assetcheckbox_horse3">
//-                 <div class="sheet-asset-ability">
//-                   <b>Mighty:</b> When you <em>Strike</em> or <em>Clash</em> at close range while mounted, add +1 and inflict +1 harm on a hit.
//-                 </div>
//-             </div>
//-         </div>
//-         <div class="sheet-asset-track-wrapper">
//-             <div class="sheet-asset-track-box">
//-                 <div class="sheet-asset-track-box-display">0</div>
//-                 <input type="radio" name="attr_assettrack_horse" value="0">
//-             </div>
//-             <div class="sheet-asset-track-box">
//-                 <div class="sheet-asset-track-box-display">+ 1</div>
//-                 <input type="radio" name="attr_assettrack_horse" value="1">
//-             </div>
//-             <div class="sheet-asset-track-box">
//-                 <div class="sheet-asset-track-box-display">+ 2</div>
//-                 <input type="radio" name="attr_assettrack_horse" value="2">
//-             </div>
//-             <div class="sheet-asset-track-box">
//-                 <div class="sheet-asset-track-box-display">+ 3</div>
//-                 <input type="radio" name="attr_assettrack_horse" value="3">
//-             </div>
//-             <div class="sheet-asset-track-box">
//-                 <div class="sheet-asset-track-box-display">+ 4</div>
//-                 <input type="radio" name="attr_assettrack_horse" value="4">
//-             </div>
//-             <div class="sheet-asset-track-box">
//-                 <div class="sheet-asset-track-box-display">+ 5</div>
//-                 <input type="radio" name="attr_assettrack_horse" value="5">
//-             </div>
//-         </div>
//-     </div>
//-     <input type="checkbox" class="sheet-checkbox sheet-hound sheet-hide" name="attr_assetcompaniondivhound">
//-     <div class="sheet-hound sheet-hide">
//-         <div class="sheet-asset-description">
//-             <div class="sheet-asset-write-in">Name:<input type="text" class="sheet-border-bottom sheet-no-border" name="attr_assetname" value=""></div>
//-             <div class="sheet-asset-description-text">Your hound is your steadfast companion. </div>
//-         </div>
//-         <div class="sheet-flex-wrapper">
//-             <div class="sheet-flex-container">
//-                 <input type="checkbox" class="sheet-checkbox sheet-asset-ability" name="attr_assetcheckbox_hound1">
//-                 <div class="sheet-asset-ability"><b>Sharp:</b> When you <em>Gather Information</em> using your hound’s keen senses to track your quarry or investigate a scene, add +1 and take +1 momentum on a hit.</div>
//-             </div>
//-             <div class="sheet-flex-container">
//-                 <input type="checkbox" class="sheet-checkbox sheet-asset-ability" name="attr_assetcheckbox_hound2">
//-                 <div class="sheet-asset-ability"><b>Ferocious:</b> When you <em>Strike</em> or <em>Clash</em> alongside your hound and score a hit, inflict +1 harm or take +1 momentum.</div>
//-             </div>
//-             <div class="sheet-flex-container">
//-                 <input type="checkbox" class="sheet-checkbox sheet-asset-ability" name="attr_assetcheckbox_hound3">
//-                 <div class="sheet-asset-ability"><b>Loyal:</b> When you <em>Endure Stress</em> in the company of your hound, add +1.</div>
//-             </div>
//-         </div>
//-         <div class="sheet-asset-track-wrapper">
//-             <div class="sheet-asset-track-box">
//-                 <div class="sheet-asset-track-box-display">0</div>
//-                 <input type="radio" name="attr_assettrack_hound" value="0">
//-             </div>
//-             <div class="sheet-asset-track-box">
//-                 <div class="sheet-asset-track-box-display">+ 1</div>
//-                 <input type="radio" name="attr_assettrack_hound" value="1">
//-             </div>
//-             <div class="sheet-asset-track-box">
//-                 <div class="sheet-asset-track-box-display">+ 2</div>
//-                 <input type="radio" name="attr_assettrack_hound" value="2">
//-             </div>
//-             <div class="sheet-asset-track-box">
//-                 <div class="sheet-asset-track-box-display">+ 3</div>
//-                 <input type="radio" name="attr_assettrack_hound" value="3">
//-             </div>
//-             <div class="sheet-asset-track-box">
//-                 <div class="sheet-asset-track-box-display">+ 4</div>
//-                 <input type="radio" name="attr_assettrack_hound" value="4">
//-             </div>
//-         </div>
//-     </div>
//-     <input type="checkbox" class="sheet-checkbox sheet-kindred sheet-hide" name="attr_assetcompaniondivkindred">
//-     <div class="sheet-kindred sheet-hide">
//-         <div class="sheet-asset-description">
//-             <div class="sheet-asset-write-in">Name:<input type="text"
//-                     class="sheet-border-bottom sheet-no-border" name="attr_assetname" value=""></div>
//-             <div class="sheet-asset-description-text">Your friend stands by you.</div>
//-         </div>
//-         <div class="sheet-flex-wrapper">
//-             <div class="sheet-flex-container">
//-                 <input type="checkbox" class="sheet-checkbox sheet-asset-ability"
//-                     name="attr_assetcheckbox_kindred1">
//-                 <div class="sheet-asset-ability"><b>Skilled:</b> When you make a move outside of combat
//-                     aided by your companion’s expertise, add +1.
//-                     <div class="sheet-asset-ability-write-in">
//-                         Expertise:
//-                         <input type="text" class="sheet-border-bottom sheet-no-border"
//-                             name="attr_assetexpertise" value="">
//-                     </div>
//-                 </div>
//-             </div>
//-             <div class="sheet-flex-container">
//-                 <input type="checkbox" class="sheet-checkbox sheet-asset-ability"
//-                     name="attr_assetcheckbox_kindred2">
//-                 <div class="sheet-asset-ability"><b>Shield-Kin:</b> When you <em>Clash</em> or
//-                     <em>Battle</em> alongside your companion, or when you <em>Face Danger</em> against
//-                     an attack by standing together, add +1.</div>
//-             </div>
//-             <div class="sheet-flex-container">
//-                 <input type="checkbox" class="sheet-checkbox sheet-asset-ability"
//-                     name="attr_assetcheckbox_kindred3">
//-                 <div class="sheet-asset-ability"><b>Bonded:</b> Once you mark a bond with your
//-                     companion, add +1 when you <em>Face Desolation</em> in their presence.</div>
//-             </div>
//-         </div>
//-         <div class="sheet-asset-track-wrapper">
//-             <div class="sheet-asset-track-box">
//-                 <div class="sheet-asset-track-box-display">0</div>
//-                 <input type="radio" name="attr_assettrack_kindred" value="0">
//-             </div>
//-             <div class="sheet-asset-track-box">
//-                 <div class="sheet-asset-track-box-display">+ 1</div>
//-                 <input type="radio" name="attr_assettrack_kindred" value="1">
//-             </div>
//-             <div class="sheet-asset-track-box">
//-                 <div class="sheet-asset-track-box-display">+ 2</div>
//-                 <input type="radio" name="attr_assettrack_kindred" value="2">
//-             </div>
//-             <div class="sheet-asset-track-box">
//-                 <div class="sheet-asset-track-box-display">+ 3</div>
//-                 <input type="radio" name="attr_assettrack_kindred" value="3">
//-             </div>
//-             <div class="sheet-asset-track-box">
//-                 <div class="sheet-asset-track-box-display">+ 4</div>
//-                 <input type="radio" name="attr_assettrack_kindred" value="4">
//-             </div>
//-         </div>
//-     </div>
//-     <input type="checkbox" class="sheet-checkbox sheet-mammoth sheet-hide"
//-         name="attr_assetcompaniondivmammoth">
//-     <div class="sheet-mammoth sheet-hide">
//-         <div class="sheet-asset-description">
//-             <div class="sheet-asset-write-in">Name:<input type="text"
//-                     class="sheet-border-bottom sheet-no-border" name="attr_assetname" value=""></div>
//-             <div class="sheet-asset-description-text">Your mammoth walks a resolute path.</div>
//-         </div>
//-         <div class="sheet-flex-wrapper">
//-             <div class="sheet-flex-container">
//-                 <input type="checkbox" class="sheet-checkbox sheet-asset-ability"
//-                     name="attr_assetcheckbox_mammoth1">
//-                 <div class="sheet-asset-ability"><b>Lumbering:</b> When your mammoth travels with you as
//-                     you <em>Undertake a Journey</em>, you may add +2 but suffer -1 momentum (decide
//-                     before rolling)</div>
//-             </div>
//-             <div class="sheet-flex-container">
//-                 <input type="checkbox" class="sheet-checkbox sheet-asset-ability"
//-                     name="attr_assetcheckbox_mammoth2">
//-                 <div class="sheet-asset-ability"><b>Beast of burden:</b> When you make a move which
//-                     requires you to roll +supply, you may instead roll +your mammoth’s health.</div>
//-             </div>
//-             <div class="sheet-flex-container">
//-                 <input type="checkbox" class="sheet-checkbox sheet-asset-ability"
//-                     name="attr_assetcheckbox_mammoth3">
//-                 <div class="sheet-asset-ability"><b>Overpowering:</b> When you <em>Strike</em> or
//-                     <em>Clash</em> by riding your mammoth against a pack of foes, add +1 and inflict +1
//-                     harm on a hit.</div>
//-             </div>
//-         </div>
//-         <div class="sheet-asset-track-wrapper">
//-             <div class="sheet-asset-track-box">
//-                 <div class="sheet-asset-track-box-display">0</div>
//-                 <input type="radio" name="attr_assettrack_mammoth" value="0">
//-             </div>
//-             <div class="sheet-asset-track-box">
//-                 <div class="sheet-asset-track-box-display">+ 1</div>
//-                 <input type="radio" name="attr_assettrack_mammoth" value="1">
//-             </div>
//-             <div class="sheet-asset-track-box">
//-                 <div class="sheet-asset-track-box-display">+ 2</div>
//-                 <input type="radio" name="attr_assettrack_mammoth" value="2">
//-             </div>
//-             <div class="sheet-asset-track-box">
//-                 <div class="sheet-asset-track-box-display">+ 3</div>
//-                 <input type="radio" name="attr_assettrack_mammoth" value="3">
//-             </div>
//-             <div class="sheet-asset-track-box">
//-                 <div class="sheet-asset-track-box-display">+ 4</div>
//-                 <input type="radio" name="attr_assettrack_mammoth" value="4">
//-             </div>
//-             <div class="sheet-asset-track-box">
//-                 <div class="sheet-asset-track-box-display">+ 5</div>
//-                 <input type="radio" name="attr_assettrack_mammoth" value="5">
//-             </div>
//-         </div>
//-     </div>
//-     <input type="checkbox" class="sheet-checkbox sheet-owl sheet-hide"
//-         name="attr_assetcompaniondivowl">
//-     <div class="sheet-owl sheet-hide">
//-         <div class="sheet-asset-description">
//-             <div class="sheet-asset-write-in">Name:<input type="text"
//-                     class="sheet-border-bottom sheet-no-border" name="attr_assetname" value=""></div>
//-             <div class="sheet-asset-description-text">Your owl soars through the darkness.</div>
//-         </div>
//-         <div class="sheet-flex-wrapper">
//-             <div class="sheet-flex-container">
//-                 <input type="checkbox" class="sheet-checkbox sheet-asset-ability"
//-                     name="attr_assetcheckbox_owl1">
//-                 <div class="sheet-asset-ability"><b>Nocturnal:</b> If you <em>Resupply</em> at night by
//-                     sending your owl to hunt, take +2 momentum on a hit. When you <em>Enter the
//-                         Fray</em> +wits against an ambush in darkness, add +1 and take +1 momentum on a
//-                     hit.</div>
//-             </div>
//-             <div class="sheet-flex-container">
//-                 <input type="checkbox" class="sheet-checkbox sheet-asset-ability"
//-                     name="attr_assetcheckbox_owl2">
//-                 <div class="sheet-asset-ability"><b>Sage:</b> When you leverage your owl’s secret
//-                     knowledge to perform a ritual, add +1 or take +1 momentum on a hit (decide before
//-                     rolling).</div>
//-             </div>
//-             <div class="sheet-flex-container">
//-                 <input type="checkbox" class="sheet-checkbox sheet-asset-ability"
//-                     name="attr_assetcheckbox_owl3">
//-                 <div class="sheet-asset-ability"><b>Embodying:</b> When you <em>Face Death</em>, take
//-                     your owl’s health as +momentum before you roll.</div>
//-             </div>
//-         </div>
//-         <div class="sheet-asset-track-wrapper">
//-             <div class="sheet-asset-track-box">
//-                 <div class="sheet-asset-track-box-display">0</div>
//-                 <input type="radio" name="attr_assettrack_owl" value="0">
//-             </div>
//-             <div class="sheet-asset-track-box">
//-                 <div class="sheet-asset-track-box-display">+ 1</div>
//-                 <input type="radio" name="attr_assettrack_owl" value="1">
//-             </div>
//-             <div class="sheet-asset-track-box">
//-                 <div class="sheet-asset-track-box-display">+ 2</div>
//-                 <input type="radio" name="attr_assettrack_owl" value="2">
//-             </div>
//-             <div class="sheet-asset-track-box">
//-                 <div class="sheet-asset-track-box-display">+ 3</div>
//-                 <input type="radio" name="attr_assettrack_owl" value="3">
//-             </div>
//-         </div>
//-     </div>
//-     <input type="checkbox" class="sheet-checkbox sheet-raven sheet-hide"
//-         name="attr_assetcompaniondivraven">
//-     <div class="sheet-raven sheet-hide">
//-         <div class="sheet-asset-description">
//-             <div class="sheet-asset-write-in">Name:<input type="text"
//-                     class="sheet-border-bottom sheet-no-border" name="attr_assetname" value=""></div>
//-             <div class="sheet-asset-description-text">Your raven heeds your call.</div>
//-         </div>
//-         <div class="sheet-flex-wrapper">
//-             <div class="sheet-flex-container">
//-                 <input type="checkbox" class="sheet-checkbox sheet-asset-ability"
//-                     name="attr_assetcheckbox_raven1">
//-                 <div class="sheet-asset-ability"><b>Sly:</b> When you <em>Secure an Advantage</em> or
//-                     <em>Face Danger</em> +shadow using your raven to perform trickery (such as creating
//-                     a distraction or stealing a small object) add +1 and take +1 momentum on a hit.
//-                 </div>
//-             </div>
//-             <div class="sheet-flex-container">
//-                 <input type="checkbox" class="sheet-checkbox sheet-asset-ability"
//-                     name="attr_assetcheckbox_raven2">
//-                 <div class="sheet-asset-ability"><b>Knowing:</b> When you <em>Face Death</em>, add +2
//-                     and take +1 momentum on a hit.</div>
//-             </div>
//-             <div class="sheet-flex-container">
//-                 <input type="checkbox" class="sheet-checkbox sheet-asset-ability"
//-                     name="attr_assetcheckbox_raven3">
//-                 <div class="sheet-asset-ability"><b>Diligent:</b> When your raven carries messages for
//-                     you, you may <em>Secure an Advantage</em>, <em>Gather Information</em>, or
//-                     <em>Compel</em> from a distance.</div>
//-             </div>
//-         </div>
//-         <div class="sheet-asset-track-wrapper">
//-             <div class="sheet-asset-track-box">
//-                 <div class="sheet-asset-track-box-display">0</div>
//-                 <input type="radio" name="attr_assettrack_raven" value="0">
//-             </div>
//-             <div class="sheet-asset-track-box">
//-                 <div class="sheet-asset-track-box-display">+ 1</div>
//-                 <input type="radio" name="attr_assettrack_raven" value="1">
//-             </div>
//-             <div class="sheet-asset-track-box">
//-                 <div class="sheet-asset-track-box-display">+ 2</div>
//-                 <input type="radio" name="attr_assettrack_raven" value="2">
//-             </div>
//-         </div>
//-     </div>
//-     <input type="checkbox" class="sheet-checkbox sheet-young-wyvern sheet-hide"
//-         name="attr_assetcompaniondivyoung-wyvern">
//-     <div class="sheet-young-wyvern sheet-hide">
//-         <div class="sheet-asset-description">
//-             <div class="sheet-asset-write-in">Name:<input type="text"
//-                     class="sheet-border-bottom sheet-no-border" name="attr_assetname" value=""></div>
//-             <div class="sheet-asset-description-text">Your wyvern won’t devour you. For now.</div>
//-         </div>
//-         <div class="sheet-flex-wrapper">
//-             <div class="sheet-flex-container">
//-                 <input type="checkbox" class="sheet-checkbox sheet-asset-ability"
//-                     name="attr_assetcheckbox_youngwyvern1">
//-                 <div class="sheet-asset-ability"><b>Insatiable:</b> When you <em>Undertake a
//-                         Journey</em> and score a hit, you may suffer -1 supply in exchange for +2
//-                     momentum.</div>
//-             </div>
//-             <div class="sheet-flex-container">
//-                 <input type="checkbox" class="sheet-checkbox sheet-asset-ability"
//-                     name="attr_assetcheckbox_youngwyvern2">
//-                 <div class="sheet-asset-ability"><b>Indomitable:</b> When you make the <em>Companion
//-                         Endure Harm</em> move for your wyvern, add +2 and take +1 momentum on a hit.
//-                 </div>
//-             </div>
//-             <div class="sheet-flex-container">
//-                 <input type="checkbox" class="sheet-checkbox sheet-asset-ability"
//-                     name="attr_assetcheckbox_youngwyvern3">
//-                 <div class="sheet-asset-ability"><b>Savage:</b> When you <em>Strike</em> by commanding
//-                     your wyvern to attack, roll +heart. Your wyvern inflicts 3 harm on a hit.</div>
//-             </div>
//-         </div>
//-         <div class="sheet-asset-track-wrapper">
//-             <div class="sheet-asset-track-box">
//-                 <div class="sheet-asset-track-box-display">0</div>
//-                 <input type="radio" name="attr_assettrack_youngwyvern" value="0">
//-             </div>
//-             <div class="sheet-asset-track-box">
//-                 <div class="sheet-asset-track-box-display">+ 1</div>
//-                 <input type="radio" name="attr_assettrack_youngwyvern" value="1">
//-             </div>
//-             <div class="sheet-asset-track-box">
//-                 <div class="sheet-asset-track-box-display">+ 2</div>
//-                 <input type="radio" name="attr_assettrack_youngwyvern" value="2">
//-             </div>
//-             <div class="sheet-asset-track-box">
//-                 <div class="sheet-asset-track-box-display">+ 3</div>
//-                 <input type="radio" name="attr_assettrack_youngwyvern" value="3">
//-             </div>
//-             <div class="sheet-asset-track-box">
//-                 <div class="sheet-asset-track-box-display">+ 4</div>
//-                 <input type="radio" name="attr_assettrack_youngwyvern" value="4">
//-             </div>
//-             <div class="sheet-asset-track-box">
//-                 <div class="sheet-asset-track-box-display">+ 5</div>
//-                 <input type="radio" name="attr_assettrack_youngwyvern" value="5">
//-             </div>
//-         </div>
//-     </div>
//- </div>