include ./lists/companions.pug
input(type="checkbox" class="sheet-checkbox sheet-asset-companion sheet-hide" name="attr_assetcompanion")
div.sheet-companion.sheet-hide
  select(name="attr_assetDropdownCompanion" class="sheet-sub-dropdown")
    option(value="" disabled selected) Select
    each companion in companions
      option(value=companion.id)=companion.name
  
  each companion in companions
    input(type="checkbox" class=`sheet-checkbox sheet-${companion.id} sheet-hide` name=`attr_assetcompaniondiv${companion.id}`)
    div(class=`sheet-${companion.id} sheet-hide`)
      
      div.sheet-asset-description
        div.sheet-asset-write-in Name
          input(type="text" class="sheet-border-bottom sheet-no-border" name="attr_assetname" value="")
        div.sheet-asset-description-text=companion.description
      
      div.sheet-flex-wrapper
        div.sheet-flex-container
          each ability, index in companion.abilities
            input(type="checkbox" class="sheet-checkbox sheet-asset-ability" name=`attr_assetcheckbox_${companion.id}_${index}`)
            div.sheet-asset-ability!=ability
      
      div.sheet-asset-track-wrapper
        each track, index in companion.tracks
          div.sheet-asset-track-box
            div.sheet-asset-track-box-display=`${track}`
              input(type="radio" name=`attr_assettrack_${companion.id}` value=`${index}`)