- 
  var 
    combatTalents = {
      archer: {
        abilityId: 'archer'
      },
      berserker: {
        title: ''
        abilityId: 'berserker'
      },
      brawler: {
        abilityId: 'brawler'
      },
      cutthroat: {
        abilityId: 'cutthroat'
      },
      duelist: {
        abilityId: 'duelist'
      },
      fletcher: {
        abilityId: 'fletcher'
      },
      ironclad: {
        abilityId: 'ironclad'
      },
      'long-arm': {
        abilityId: 'longarm'
      },
      'shield-bearer': {
        abilityId: 'shieldbearer'
      },
      skirmisher: {
        abilityId: 'skirmisher'
      },
      slinger: {
        abilityId: 'slinger'
      },
      sunderer: {
        abilityId: 'sunderer'
      },
      swordmaster: {
        abilityId: 'swordmaster'
      },
      'thunder-bringer': {
        abilityId: 'thunderbringer'
      }
  }

option(data-i18n='asset-title-berserker' value='berserker')=translations['asset-title-berserker']
option(data-i18n='asset-title-brawler' value='brawler')=translations['asset-title-brawler']
option(data-i18n='asset-title-cutthroat' value='cutthroat')=translations['asset-title-cutthroat']
option(data-i18n='asset-title-duelist' value='duelist')=translations['asset-title-duelist']
option(data-i18n='asset-title-fletcher' value='fletcher')=translations['asset-title-fletcher']
option(data-i18n='asset-title-ironclad' value='ironclad')=translations['asset-title-ironclad']
option(data-i18n='asset-title-long-arm' value='long-arm')=translations['asset-title-long-arm']
option(data-i18n='asset-title-shield-bearer' value='shield-bearer')=translations['asset-title-shield-bearer']
option(data-i18n='asset-title-skirmisher' value='skirmisher')=translations['asset-title-skirmisher']
option(data-i18n='asset-title-slinger' value='slinger')=translations['asset-title-slinger']
option(data-i18n='asset-title-sunderer' value='sunderer')=translations['asset-title-sunderer']
option(data-i18n='asset-title-swordmaster' value='swordmaster')=translations['asset-title-swordmaster']
option(data-i18n='asset-title-thunder-bringer' value='thunder-bringer')=translations['asset-title-thunder-bringer']
