//- VERSION
//- =============================
input(name='attr_version' type='hidden' value='1')

//- MIXINS
include src/pug/_mixins.pug

// TABS
// =============================
input.type(name='attr_sheet_type' type='hidden' value='pc')
input.display_string(name='attr_toggles' type='hidden' value='')

//TABS & LOGO
// =============================
.tabs.grid
	// Buttons to toggle on GM whisper
	span(data-i18n='GM Whisper') GM Whisper
	label.switch(data-i18n='whisper rolls to gm' title='whisper rolls to gm')
		input.whisper-toggle(name='attr_gm_toggle' type='checkbox' value='/w gm')
		span.slider
	// LOGO
	img(alt='Delta Green' src='https://raw.githubusercontent.com/clevett/roll20-character-sheets/deltagreen/Delta%20Green%20by%20Arc%20Dream%20Publishing/img/deltagreenlogo.jpg')
	// CHARACTER SHEETS
	span(data-i18n='Sheet Type') Sheet Type
	select(name='attr_sheet_type')
		optgroup(label='Sheet Type')
			option(data-i18n='pc' value='pc') pc
			option(data-i18n='npc' value='npc') npc


//- OBJECTS
//- ============================={{/damage}}
include src/pug/_objects.pug


// NPC SHEET
// =============================
.npc
	.grid
		.section-header
			label(data-i18n-title='enter a name for non-player character' title='enter a name for non-player character')
				input(data-i18n-placeholder='character name' name='attr_name' placeholder='Character name' title='@{name}' type='text' value='')
		.section-body
			.section
				each val, key in statsObject
					- const statRollValue = `@{gm_toggle} &{template:rolls} {{header=^{${val}}}} {{subheader=@{${key}}}} {{dice=[[1d10]]}} {{dice2=[[1d10]]}}`;
					button(name=key data-i18n-title=key + ' roll' title=key + ' roll' type='roll' value!=statRollValue)
						h1(data-i18n=val)=val
					label(data-i18n-title=key title=key)
						input(data-i18n-placeholder='10' min=0 name='attr_' + key placeholder='10' title='@{' + key + '}' type='number' value='10')
			.section
				h1(data-i18n='HP') HP
				label(data-i18n-title='enter hit points' title='enter hit points')
					input(data-i18n-placeholder='10' name='attr_hit_points' placeholder='10' title='@{hit_points}' type='number' value='')
				h1(data-i18n='WP') WP
				label(data-i18n-title='enter willpower points' title='enter willpower points')
					input(data-i18n-placeholder='10' name='attr_willpower_points' placeholder='10' title='@{willpower_points}' type='number' value='')
			.section
				h1(data-i18n='armor') ARMOR
					label(data-i18n-title='enter armor text' title='enter armor text')
						input(data-i18n-placeholder='8 points of thick hide' name='attr_armor' placeholder='8 points of thick hide' title='@{armor}' type='text' value='')
			.section
				h1(data-i18n='skills') skills
			.section
				h1(data-i18n='attacks') attacks
			.section
				h1(data-i18n='other notes') other notes
					textarea(name='attr_other_notes')


// PC SHEET
// =============================
include src/pug/_pc.pug

// ROLL TEMPLATE
// =============================
include src/pug/rolltemplate.pug


//SHEETWORKERS
// =============================
script(type='text/worker')
		include src/pug/sheetworkers.js