mixin edittoggle(name)
  button.edit-toggle(name=`act_${name}-editor`, type='action')
    input.edit-toggle__controller(name=`attr_${name}_editor`, type='hidden', value='on')
    .edit-toggle__edit
      span.visually-hidden(data-i18n='view') View
      span.pictos(aria-hidden='true') *
    .edit-toggle__view
      span.visually-hidden(data-i18n='edit') Edit
      span.pictos(aria-hidden='true') p

mixin minitoggle(name)
  button.minimizer-toggle(name=`act_${name}-minimizer`, type='action')
    input.minimizer-toggle__controller(name=`attr_${name}_minimizer`, type='hidden', value='0')
    .minimizer-toggle__edit
      span.visually-hidden(data-i18n='maximize') Maximize
      span.pictos(aria-hidden='true') &
    .minimizer-toggle__view
      span.visually-hidden(data-i18n='minimize') Minimize
      span.pictos(aria-hidden='true') _

mixin editorblock(toggleName, klassName)
  - const panelClass = klassName || toggleName;
  - const editClass = `${toggleName}__edit`;
  - const viewClass = `${toggleName}__view`;
  .editor
    //- input.editor__controller(name=`attr_${toggleName}_editor`,  value='0',type='hidden')
    block
    //- .editor__wrapper(class=`${panelClass}__wrapper`)
      .editor__content
    .editor__edit(class=editClass)
      +block("edit", true)
    .editor__view(class=viewClass)
      +block("view", true)
