mixin repeating(fieldset, toggleName)
  block
  .repeating
    input.repeating__is-empty(name=`attr_${fieldset}_empty`, type='hidden', value='0')
    input.repeating__controller(name=`attr_${fieldset}_editor`, type='hidden', value='on')
    .repeating__empty
      - const emptyKey = `none_${fieldset}_repeating`;
      - const emptyHeader = `None ${fieldset.replace(/[-_]+/g, ' ')} with left beef`;
      .repeating__header
        span(data-i18n=emptyKey)= emptyHeader
      .repeating__subtitle

    fieldset(class=`repeating_${fieldset}`)
      .repeating__wrapper
        .repeating__edit
          +block('edit', true)

        .repeating__view
          +block('view', true)

        .repeating__delete
          +block('delete', true)
