include ./outcomes
include ./body

mixin rarity(value)
  | {{#rollTotal() rarityDie#{value} rarityAction}}
  case value
    when '6'
      +rarityDramatic
    when '5'
      +raritySubtle
    default
      +rarityFail
  | {{/rollTotal() rarityDie#{value} rarityAction}}


mixin standardAction(type)
  if type == 'rarityAction'
    +rarityMove
  else
    | {{#rollGreater() #{type} challenge1}}
    | {{#rollTotal() challenge1 challenge2}}
    +opportunity
    | {{/rollTotal() challenge1 challenge2}}
    | {{#^rollTotal() challenge1 challenge2}}
    | {{#rollGreater() #{type} challenge2}}
    +strongHit
    | {{/rollGreater() #{type} challenge2}}
    | {{#^rollGreater() #{type} challenge2}}
    +weakHit
    | {{/^rollGreater() #{type} challenge2}}
    | {{/^rollTotal() challenge1 challenge2}}
    | {{/rollGreater() #{type} challenge1}}
    | {{#^rollGreater() #{type} challenge1}}
    | {{#rollTotal() challenge1 challenge2}}
    +complication
    | {{/rollTotal() challenge1 challenge2}}
    | {{#^rollTotal() challenge1 challenge2}}
    | {{#rollGreater() #{type} challenge2}}
    +weakHit
    | {{/rollGreater() #{type} challenge2}}
    | {{#^rollGreater() #{type} challenge2}}
    +miss
    | {{/^rollGreater() #{type} challenge2}}
    | {{/^rollTotal() challenge1 challenge2}}
    | {{/^rollGreater() #{type} challenge1}}

mixin standardActionWithMomentum(type)
  if type == 'rarityAction'
    +rarityMoveWithMomentum
  else
    | {{#rollGreater() #{type} challenge1}}
    | {{#rollTotal() challenge1 challenge2}}
    +opportunity
    | {{/rollTotal() challenge1 challenge2}}
    | {{#^rollTotal() challenge1 challenge2}}
    | {{#rollGreater() #{type} challenge2}}
    +strongHit
    | {{/rollGreater() #{type} challenge2}}
    | {{#^rollGreater() #{type} challenge2}}
    +weakHit
    | {{#rollGreater() momentum challenge2}}
    +momentumStrongHit
    | {{/rollGreater() momentum challenge2}}
    | {{/^rollGreater() #{type} challenge2}}
    | {{/^rollTotal() challenge1 challenge2}}
    | {{/rollGreater() #{type} challenge1}}
    | {{#^rollGreater() #{type} challenge1}}
    | {{#rollTotal() challenge1 challenge2}}
    +complication
    | {{#rollGreater() momentum challenge1}}
    +momentumStrongHit
    | {{/rollGreater() momentum challenge1}}
    | {{/rollTotal() challenge1 challenge2}}
    | {{#^rollTotal() challenge1 challenge2}}
    | {{#rollGreater() #{type} challenge2}}
    +weakHit
    | {{#rollGreater() momentum challenge1}}
    +momentumStrongHit
    | {{/rollGreater() momentum challenge1}}
    | {{/rollGreater() #{type} challenge2}}
    | {{#^rollGreater() #{type} challenge2}}
    +miss
    | {{#rollGreater() momentum challenge1}}
    | {{#rollGreater() momentum challenge2}}
    +momentumStrongHit
    | {{/rollGreater() momentum challenge2}}
    | {{#^rollGreater() momentum challenge2}}
    +momentumWeakHit
    | {{/^rollGreater() momentum challenge2}}
    | {{/rollGreater() momentum challenge1}}
    | {{#^rollGreater() momentum challenge1}}
    | {{#rollGreater() momentum challenge2}}
    +momentumWeakHit
    | {{/rollGreater() momentum challenge2}}
    | {{/^rollGreater() momentum challenge1}}
    | {{/^rollGreater() #{type} challenge2}}
    | {{/^rollTotal() challenge1 challenge2}}
    | {{/^rollGreater() #{type} challenge1}}

mixin rarityMove
  | {{#rollTotal() rarityDie6 rarityAction}}
  | {{#rollTotal() challenge1 challenge2}}
  +opportunity
  | {{/rollTotal() challenge1 challenge2}}
  +strongHit
  | {{#^rollTotal() challenge1 challenge2}}
  +rarity('6')
  | {{/^rollTotal() challenge1 challenge2}}
  | {{/rollTotal() rarityDie6 rarityAction}}
  | {{#^rollTotal() rarityDie6 rarityAction}}
  | {{#rollGreater() rarityAction challenge1}}
  | {{#rollTotal() challenge1 challenge2}}
  +opportunity
  +rarity('5')
  | {{/rollTotal() challenge1 challenge2}}
  | {{#^rollTotal() challenge1 challenge2}}
  | {{#rollGreater() rarityAction challenge2}}
  +strongHit
  +rarity('5')
  | {{/rollGreater() rarityAction challenge2}}
  | {{#^rollGreater() rarityAction challenge2}}
  +weakHit
  +rarity('5')
  | {{/^rollGreater() rarityAction challenge2}}
  | {{/^rollTotal() challenge1 challenge2}}
  | {{/rollGreater() rarityAction challenge1}}
  | {{#^rollGreater() rarityAction challenge1}}
  | {{#rollTotal() challenge1 challenge2}}
  +complication
  +rarity('1')
  | {{/rollTotal() challenge1 challenge2}}
  | {{#^rollTotal() challenge1 challenge2}}
  | {{#rollGreater() rarityAction challenge2}}
  +weakHit
  +rarity('5')
  | {{/rollGreater() rarityAction challenge2}}
  | {{#^rollGreater() rarityAction challenge2}}
  +miss
  +rarity('1')
  | {{/^rollGreater() rarityAction challenge2}}
  | {{/^rollTotal() challenge1 challenge2}}
  | {{/^rollGreater() rarityAction challenge1}}
  | {{/^rollTotal() rarityDie6 rarityAction}}

mixin rarityMoveWithMomentum
  | {{#rollTotal() rarityDie6 rarityAction}}
  | {{#rollTotal() challenge1 challenge2}}
  +opportunity
  | {{/rollTotal() challenge1 challenge2}}
  +strongHit
  | {{#^rollTotal() challenge1 challenge2}}
  +rarity('6')
  | {{/^rollTotal() challenge1 challenge2}}
  | {{/rollTotal() rarityDie6 rarityAction}}
  | {{#^rollTotal() rarityDie6 rarityAction}}
  | {{#rollGreater() rarityAction challenge1}}
  | {{#rollTotal() challenge1 challenge2}}
  +opportunity
  +rarity('5')
  | {{/rollTotal() challenge1 challenge2}}
  | {{#^rollTotal() challenge1 challenge2}}
  | {{#rollGreater() rarityAction challenge2}}
  +strongHit
  +rarity('5')
  | {{/rollGreater() rarityAction challenge2}}
  | {{#^rollGreater() rarityAction challenge2}}
  +weakHit
  +rarity('5')
  | {{#rollGreater() momentum challenge2}}
  +momentumStrongHit
  | {{/rollGreater() momentum challenge2}}
  | {{/^rollGreater() rarityAction challenge2}}
  | {{/^rollTotal() challenge1 challenge2}}
  | {{/rollGreater() rarityAction challenge1}}
  | {{#^rollGreater() rarityAction challenge1}}
  | {{#rollTotal() challenge1 challenge2}}
  +complication
  +rarity('1')
  | {{#rollGreater() momentum challenge1}}
  +momentumStrongHit
  +rarity('5')
  | {{/rollGreater() momentum challenge1}}
  | {{/rollTotal() challenge1 challenge2}}
  | {{#^rollTotal() challenge1 challenge2}}
  | {{#rollGreater() rarityAction challenge2}}
  +weakHit
  +rarity('5')
  | {{#rollGreater() momentum challenge1}}
  +momentumStrongHit
  | {{/rollGreater() momentum challenge1}}
  | {{/rollGreater() rarityAction challenge2}}
  | {{#^rollGreater() rarityAction challenge2}}
  +miss
  +rarity('1')
  | {{#rollGreater() momentum challenge1}}
  | {{#rollGreater() momentum challenge2}}
  +momentumStrongHit
  +rarity('5')
  | {{/rollGreater() momentum challenge2}}
  | {{#^rollGreater() momentum challenge2}}
  +momentumWeakHit
  +rarity('5')
  | {{/^rollGreater() momentum challenge2}}
  | {{/rollGreater() momentum challenge1}}
  | {{#^rollGreater() momentum challenge1}}
  | {{#rollGreater() momentum challenge2}}
  +momentumWeakHit
  +rarity('5')
  | {{/rollGreater() momentum challenge2}}
  | {{/^rollGreater() momentum challenge1}}
  | {{/^rollGreater() rarityAction challenge2}}
  | {{/^rollTotal() challenge1 challenge2}}
  | {{/^rollGreater() rarityAction challenge1}}
  | {{/^rollTotal() rarityDie6 rarityAction}}
