//- include ../../../data/oracles

//- rolltemplate.sheet-rolltemplate-ironcrunch_oracles
//-   .sheet-roll-container
//-     .sheet-subheader {{header}}
//-     | {{#custom-oracle}}
//-     .sheet-result-row
//-       .sheet-oracle-table-text {{custom-oracle}}
//-     | {{/custom-oracle}}
//-     each group in oracles.ironcrunch
//-       each oracle in group.oracles
//-         |
//-         | {{##{oracle.roll_id}}}
//-         .sheet-result-row
//-           .sheet-oracle-dice
//-             span {{#{oracle.roll_id}}}
//-           .sheet-oracle-table-text
//-             each row in oracle.rows
//-               - var rollValues = row.roll.match(/(\d+-\d*)|(\d+)/gm)[0].replace('-', ' ')
//-               | 
//-               | {{#roll#{row.type}() #{oracle.roll_id} #{rollValues}}}
//-               | 
//-               span!=row.result
//-               | 
//-               | {{/roll#{row.type}() #{oracle.roll_id} #{rollValues}}}
//-         |
//-         | {{/#{oracle.roll_id}}}