include sheetdata.pug

.ms-wrapper.compendium-drop-target.monsters
    input(type="hidden", name="attr_sheet_toggle", value="pc")
    input(type="hidden", name="attr_init", value="0")
    input(type="hidden", name="attr_settings_toggle")
    input.sheet-skill-toggle(type="hidden", name="attr_sheet_skill_toggles")

    input(accept="Category", name="attr_drop_category", type="hidden")
    input(accept="Name", name="attr_drop_name", type="hidden")
    input(accept="data", name="attr_drop_data", type="hidden")
    input(accept="Content", name="attr_drop_content", type="hidden")
    
    label.ms-settings__toggle
        input(type="checkbox", name="attr_settings_toggle")
        span y

    .ms-settings
        .ms-settings__row
            .ms-settings__label(data-i18n="sheet type")
            select.ms-settings__input(name="attr_sheet_toggle")
                option(data-i18n="PC", value="pc")
                option(data-i18n="NPC", value="npc")
                option(data-i18n="Ship", value="ship")
        .ms-settings__row--ship
            .ms-settings__label(data-i18n="ship builder")
            button(data-i18n="launch", name="act_startship", type="action")
    
    .ms-pc
        .ms-header
            .ms-header__logo
                img(src="https://s3.amazonaws.com/files.d20.io/images/145353993/itv_F4exdWuwHavdksYfCQ/max.png?1592850121", data-i18n-title="Mothership Logo")
            .ms-header__details
                each field in headerfields
                    div(class=`ms-header__field--${field.attr}`)
                        .ms-header__title(data-i18n=field.label)
                        input.ms-header__input.ms-rounded(name=`attr_${field.attr}`, type=field.type)
        .ms-skillsaves
            .ms-stats
                each field in toprowfields
                    .ms-topstat
                        .ms-topstat__label(data-i18n=field.attr)
                        input.ms-topstat__stat(placeholder=field.placeholder, name=`attr_${field.attr}`, type="number")
                        .ms-topstat__label--invert(data-i18n=field.subtext)
                .ms-topstat--minmax
                    .ms-topstat__label(data-i18n="health")
                    .ms-topstat__minmaxwrapper
                        input.ms-topstat__max(name="attr_health_max", placeholder="78", type="number")
                        input.ms-topstat__min(name="attr_health", placeholder="78", type="number")
                    .ms-topstat__label--small(data-i18n="max")
                    .ms-topstat__label--small(data-i18n="current")
                .ms-stats__main
                    each stat in stats
                        -
                            const roll1 = [
                                `&{template:ms}`,
                                `{{name=${stat.attr}}}`,
                                `{{character_name=@{character_name}}}`,
                                `{{roll=[[1d100cs1cf100]]}}`,
                                `{{roll2=[[?{Advantage/Disadvantage|Normal,0|Advantage/Disadvantage,1d100cs1cf100}]]}}`,
                                `{{target=@{${stat.attr}}}}`
                            ].join(" ");
                        .ms-mainstat
                            .ms-mainstat__label
                                button(data-i18n=stat.attr, type="roll", value=roll1)
                                span.ms-tooltip
                                    p
                                        span(data-i18n=stat.label)
                            input.ms-mainstat__input(name=`attr_${stat.attr}`, type="number")
                .ms-patches
                    h1(data-i18n="patch")
                    textarea.ms-patches__textarea.ms-rounded(name=`attr_patch`)
                    h1(data-i18n="trinket")
                    textarea.ms-patches__textarea.ms-rounded(name=`attr_trinket`)
            .ms-saves
                .ms-saves__col--left
                    each save in saves
                        -
                            const roll2 = [
                                `&{template:ms}`,
                                `{{name=${save.name}}}`,
                                `{{character_name=@{character_name}}}`,
                                `{{roll=[[1d100cs1cf100]]}}`,
                                `{{roll2=[[?{Advantage/Disadvantage|Normal,0|Advantage/Disadvantage,1d100cs1cf100}]]}}`,
                                `{{target=@{${save.name}}}}`
                            ].join(" ");
                        .ms-saves__label
                            button.ms-saves__name(data-i18n=save.name, type="roll", value=roll2)
                            span.ms-tooltip
                                p
                                    span(data-i18n=save.desc)
                            .ms-saves__subtext(data-i18n=save.subtext)
                .ms-saves__col--right
                    each save in saves
                        .ms-saves__inputwrapper
                            input.ms-saves__input(name=`attr_${save.name}`, type="number")
            .ms-stress_panic
                .ms-stress_panic__label(data-i18n="stress & panic")
                input.ms-stress_panic__input.ms-rounded(name=`attr_stress_panic`, type="text")

        .ms-skills
            h1(data-i18n="skills")
            .ms-skillpoints
                .ms-skillpoints__label(data-i18n="skill points")
                input.ms-skillpoints__input.ms-rounded(name=`attr_skill_points`, type="number")
                .ms-tooltip--skills
                    ul
                        li 
                            strong.ms-tooltip__label(data-i18n="trained skills")
                            span(data-i18n="cost 1 point")
                        li 
                            strong.ms-tooltip__label(data-i18n="expert skills")
                            span(data-i18n="cost 2 points")
                        li 
                            strong.ms-tooltip__label(data-i18n="master skills")
                            span(data-i18n="cost 3 points")
                    span(data-i18n="To take an Expert or Master skill you must first take one of its prerequisite skills")
            .ms-skills__trained
                h2(data-i18n="trained +10%")
                .ms-tooltip
                    p(data-i18n="You’ve received standard training in this area equivalent to a bachelor's degree or on-the-job training for a couple years.")
                each skill in skills.trained
                    -
                        const attr = skill.name.replace(/ /g,"_");
                        const roll3 = [
                                `&{template:ms}`,
                                `{{name=${skill.name}}}`,
                                `{{character_name=@{character_name}}}`,
                                `{{roll=[[1d100cs1cf100]]}}`,
                                `{{roll2=[[?{Advantage/Disadvantage|Normal,0|Advantage/Disadvantage,1d100cs1cf100}]]}}`,
                                `{{target=[[?{Attribute|Strength,@{strength}|Speed,@{speed}|Intellect,@{intellect}|Combat,@{combat}}+10]]}}`
                            ].join(" ");

                    .ms-skill-wrapper
                        .ms-skill(class=`ms-skill--${attr}`)
                            input(name=`attr_${attr}_settings`, type="hidden")
                            label.ms-skill__checkmark
                                input(name=`attr_${attr}`, type="checkbox")
                                span
                            div.ms-skill__button
                                button(data-i18n=skill.name, type="roll", value=roll3)
                            label.ms-skill__cog
                                input(name=`attr_${attr}_settings`, type="checkbox")
                                span y
                            .ms-skill__settings 
                                .ms-skill__settingsrow
                                    .ms-skill__settingstitle(data-i18n="notes")
                                    input.ms-skill__settingsinput(name=`attr_${attr}_notes`, type="text")
                        span.ms-tooltip
                            p
                                span(data-i18n=skill.desc)
                fieldset(class=`repeating_trained`)
                    -
                        const roll4 = [
                                `&{template:ms}`,
                                `{{name=@{skill_name}}}}`,
                                `{{character_name=@{character_name}}}`,
                                `{{roll=[[1d100cs1cf100]]}}`,
                                `{{roll2=[[?{Advantage/Disadvantage|Normal,0|Advantage/Disadvantage,1d100cs1cf100}]]}}`,
                                `{{target=[[?{Attribute|Strength,@{strength}|Speed,@{speed}|Intellect,@{intellect}|Combat,@{combat}}+10]]}}`
                            ].join(" ");
                            
                    .ms-skill-wrapper
                        .ms-skill--repeating
                            input(name=`attr_skill_settings`, type="hidden", value="on")
                            label.ms-skill__checkmark
                                input(name=`attr_skill_trained`, type="checkbox")
                                span
                            div.ms-skill__button
                                button.edit-hide(type="roll", value=roll4)
                                    span(name="attr_skill_name")
                            label.ms-skill__cog
                                input(name=`attr_skill_settings`, type="checkbox")
                                span y
                            .ms-skill__settings  
                                .ms-skill__settingsrow
                                    .ms-skill__settingstitle(data-i18n="name")
                                    input.ms-skill__settingsinput(data-i18n-title="custom skill", name="attr_skill_name", type="text")
                                .ms-skill__settingsrow
                                    .ms-skill__settingstitle(data-i18n="notes")
                                    input.ms-skill__settingsinput(name=`attr_skill_notes`, type="text")
                        span.ms-tooltip
                            span(name="attr_skill_notes")
            .ms-skills__expert
                h2(data-i18n="expert +15%")
                .ms-tooltip
                    p(data-i18n="You have the equivalent of a doctorate or many years of experience.")
                each skill in skills.expert
                    -
                        const attr = skill.name.replace(/ /g,"_");
                        const roll5 = [
                                `&{template:ms}`,
                                `{{name=${skill.name}}}`,
                                `{{character_name=@{character_name}}}`,
                                `{{roll=[[1d100cs1cf100]]}}`,
                                `{{roll2=[[?{Advantage/Disadvantage|Normal,0|Advantage/Disadvantage,1d100cs1cf100}]]}}`,
                                `{{target=[[?{Attribute|Strength,@{strength}|Speed,@{speed}|Intellect,@{intellect}|Combat,@{combat}}+15]]}}`
                            ].join(" ");

                    .ms-skill-wrapper
                        .ms-skill(class=`ms-skill--${attr}`)
                            input(name=`attr_${attr}_settings`, type="hidden")
                            label.ms-skill__checkmark
                                input(name=`attr_${attr}`, type="checkbox")
                                span
                            div.ms-skill__button
                                button(data-i18n=skill.name, type="roll", value=roll5)
                                    span(name="attr_skill_name")
                            label.ms-skill__cog
                                input(name=`attr_${attr}_settings`, type="checkbox")
                                span y
                            .ms-skill__settings 
                                .ms-skill__settingsrow
                                    .ms-skill__settingstitle(data-i18n="notes")
                                    input.ms-skill__settingsinput(name=`attr_${attr}_notes`, type="text")
                        span.ms-tooltip
                            p
                                span(data-i18n=skill.desc)
                            p
                                strong.ms-tooltip__label(data-i18n="prerequisites")
                                div(data-i18n=skill.prereq.join(", "))

                fieldset(class=`repeating_expert`)
                    -
                        const roll6 = [
                                `&{template:ms}`,
                                `{{name=@{skill_name}}}}`,
                                `{{character_name=@{character_name}}}`,
                                `{{roll=[[1d100cs1cf100]]}}`,
                                `{{roll2=[[?{Advantage/Disadvantage|Normal,0|Advantage/Disadvantage,1d100cs1cf100}]]}}`,
                                `{{target=[[?{Attribute|Strength,@{strength}|Speed,@{speed}|Intellect,@{intellect}|Combat,@{combat}}+20]]}}`
                            ].join(" ");

                    .ms-skill-wrapper
                        .ms-skill--repeating
                            input(name=`attr_skill_settings`, type="hidden", value="on")
                            label.ms-skill__checkmark
                                input(name=`attr_skill_trained`, type="checkbox")
                                span
                            div.ms-skill__button
                                button.edit-hide(type="roll", value=roll6)
                                    span(name="attr_skill_name")
                            label.ms-skill__cog
                                input(name=`attr_skill_settings`, type="checkbox")
                                span y
                            .ms-skill__settings  
                                .ms-skill__settingsrow
                                    .ms-skill__settingstitle(data-i18n="name")
                                    input.ms-skill__settingsinput(data-i18n-value="custom skill", name="attr_skill_name", type="text")
                                .ms-skill__settingsrow
                                    .ms-skill__settingstitle(data-i18n="notes")
                                    input.ms-skill__settingsinput(name=`attr_skill_notes`, type="text")
                        span.ms-tooltip
                            span(name="attr_skill_notes")

            .ms-skills__master
                h2(data-i18n="master +20%")
                .ms-tooltip
                    p(data-i18n="You are one of the luminaries of this field and are aware of cutting edge techniques or highly specialized and niche information.")
                each skill in skills.master
                    -
                        const attr = skill.name.replace(/ /g,"_");
                        const roll7 = [
                                `&{template:ms}`,
                                `{{name=${skill.name}}}`,
                                `{{character_name=@{character_name}}}`,
                                `{{roll=[[1d100cs1cf100]]}}`,
                                `{{roll2=[[?{Advantage/Disadvantage|Normal,0|Advantage/Disadvantage,1d100cs1cf100}]]}}`,
                                `{{target=[[?{Attribute|Strength,@{strength}|Speed,@{speed}|Intellect,@{intellect}|Combat,@{combat}}+20]]}}`
                            ].join(" ");

                    .ms-skill-wrapper
                        .ms-skill(class=`ms-skill--${attr}`)
                            input(name=`attr_${attr}_settings`, type="hidden")
                            label.ms-skill__checkmark
                                input(name=`attr_${attr}`, type="checkbox")
                                span
                            div.ms-skill__button
                                button(data-i18n=skill.name, type="roll", value=roll7)
                            label.ms-skill__cog
                                input(name=`attr_${attr}_settings`, type="checkbox")
                                span y
                            .ms-skill__settings 
                                .ms-skill__settingsrow
                                    .ms-skill__settingstitle(data-i18n="notes")
                                    input.ms-skill__settingsinput(name=`attr_${attr}_notes`, type="text")
                        span.ms-tooltip
                            p
                                span(data-i18n=skill.desc)
                            p
                                strong.ms-tooltip__label(data-i18n="prerequisites")
                                div(data-i18n=skill.prereq.join(", "))
                fieldset(class=`repeating_master`)
                    -
                        const roll8 = [
                                `&{template:ms}`,
                                `{{name=@{skill_name}}}}`,
                                `{{character_name=@{character_name}}}`,
                                `{{roll=[[1d100cs1cf100]]}}`,
                                `{{roll2=[[?{Advantage/Disadvantage|Normal,0|Advantage/Disadvantage,1d100cs1cf100}]]}}`,
                                `{{target=[[?{Attribute|Strength,@{strength}|Speed,@{speed}|Intellect,@{intellect}|Combat,@{combat}}+20]]}}`
                            ].join(" ");

                    .ms-skill-wrapper
                        .ms-skill--repeating
                            input(name=`attr_skill_settings`, type="hidden", value="on")
                            label.ms-skill__checkmark
                                input(name=`attr_skill_trained`, type="checkbox")
                                span
                            div.ms-skill__button
                                button.edit-hide(type="roll", value=roll8)
                                    span(name="attr_skill_name")
                            label.ms-skill__cog
                                input(name=`attr_skill_settings`, type="checkbox")
                                span y
                            .ms-skill__settings  
                                .ms-skill__settingsrow
                                    .ms-skill__settingstitle(data-i18n="name")
                                    input.ms-skill__settingsinput(data-i18n-value="custom skill", name="attr_skill_name", type="text")
                                .ms-skill__settingsrow
                                    .ms-skill__settingstitle(data-i18n="notes")
                                    input.ms-skill__settingsinput(name=`attr_skill_notes`, type="text")
                        span.ms-tooltip
                            span(name="attr_skill_notes")
        .ms-gear 
            .ms-equipment
                h1(data-i18n="equipment")
                .ms-equipmentrow--head
                    .ms-equipmentrow__name--head(data-i18n="item")
                    .ms-equipmentrow__type--head(data-i18n="type")
                fieldset(class=`repeating_equipment`)
                    .ms-equipmentrow
                        input(name=`attr_equipment_settings`, type="hidden", value="on")
                        input(name=`attr_equipment_linkedid`, type="hidden")
                        input.ms-equipmentrow__name(name=`attr_equipment_name`, type="text")
                        input.ms-equipmentrow__type(name=`attr_equipment_type`, type="hidden")
                        select.ms-equipmentrow__type(name=`attr_equipment_type`)
                            option(data-i18n="Gear")
                            option(data-i18n="Weapon")
                            option(data-i18n="Ammunition")
                            option(data-i18n="Armor")
                            option(data-i18n="Patch")
                            option(data-i18n="Trinket")
                            option(data-i18n="Other")
                        label.ms-equipmentrow__cog
                            input(name=`attr_equipment_settings`, type="checkbox", checked)
                            span y
                        .ms-equipmentrow__settings
                            .ms-equipmentrow__settingsrow--full.show_armor
                                .ms-equipmentrow__settingstitle(data-i18n="armor bonus")
                                input.ms-equipmentrow__settingsinput(name="attr_equipment_armor_bonus", type="text")
                            .ms-equipmentrow__settingsrow--full
                                .ms-equipmentrow__settingstitle(data-i18n="notes")
                                textarea.ms-equipmentrow__textarea(name="attr_equipment_notes")
                
                .ms-credits
                    .ms-credits__label(data-i18n="credits")
                    input.ms-credits__input.ms-rounded(name=`attr_credits`, type="text")

            .ms-attacks
                h1(data-i18n="attacks")
                .ms-attackrow--head
                    .ms-attackrow__name--head(data-i18n="attack")
                    .ms-attackrow__type--head(data-i18n="type")
                    .ms-attackrow__type--head(data-i18n="damage")
                fieldset(class=`repeating_attacks`)
                    -
                        const roll9 = [
                                `&{template:ms}`,
                                `{{name=@{attack_name}}}`,
                                `{{character_name=@{character_name}}}`,
                                `{{roll=[[1d100cs1cf100]]}}`,
                                `{{roll2=[[?{Advantage/Disadvantage|Normal,0|Advantage/Disadvantage,1d100cs1cf100}]]}}`,
                                `{{target=[[@{combat}]]}}`,
                                `{{ranges=@{attack_range_s}}}`,
                                `{{rangem=@{attack_range_m}}}`,
                                `{{rangel=@{attack_range_l}}}`,
                                `{{damage=[[@{attack_damage}]]}}`
                            ].join(" ");
                    .ms-attackrow
                        input(name=`attr_attack_settings`, type="hidden", value="on")
                        input(name=`attr_attack_linkedid`, type="hidden")
                        button.ms-attackrow__name(type="roll", value=roll9)
                            span(name=`attr_attack_name`, type="text")
                        input.ms-attackrow__skill(name=`attr_attack_type`, type="hidden")
                        select.ms-attackrow__skill(name=`attr_attack_type`)
                            option(data-i18n="Ranged")
                            option(data-i18n="Melee")
                        input.ms-attackrow__damage(name=`attr_attack_damage`, type="text")
                        label.ms-attackrow__cog
                            input(name=`attr_attack_settings`, type="checkbox", checked)
                            span y
                        .ms-attackrow__settings
                            .ms-attackrow__settingsrow--full
                                .ms-attackrow__settingstitle(data-i18n="name")
                                input.ms-attackrow__settingsinput(data-i18n-value="custom skill", name="attr_attack_name", type="text")
                            .ms-attackrow__settingsrow--range.show_ranged
                                .ms-attackrow__settingstitle(data-i18n="range")
                                input.ms-attackrow__settingsinput(data-i18n-placeholder="short", name="attr_attack_range_s", type="text")
                                input.ms-attackrow__settingsinput(data-i18n-placeholder="medium", name="attr_attack_range_m", type="text")
                                input.ms-attackrow__settingsinput(data-i18n-placeholder="long", name="attr_attack_range_l", type="text")
                            .ms-attackrow__settingsrow
                                div
                                    .ms-attackrow__settingstitle(data-i18n="critical damage")
                                    input.ms-attackrow__settingsinput(data-i18n-placeholder="damage", name="attr_attack_crit_damage", type="text")
                                div 
                                    .ms-attackrow__settingstitle(data-i18n="critical effect")
                                    input.ms-attackrow__settingsinput(data-i18n-placeholder="effect", name="attr_attack_crit_effect", type="text")
                            .ms-attackrow__settingsrow
                                div 
                                    .ms-attackrow__settingstitle(data-i18n="shots")
                                    input.ms-attackrow__settingsinput(data-i18n-placeholder="shots", name="attr_attack_shots", type="text")
                                div
                                    .ms-attackrow__settingstitle(data-i18n="ammunition")
                                    input.ms-attackrow__settingsinput(data-i18n-placeholder="damage", name="attr_attack_ammunition", type="text")
                            .ms-attackrow__settingsrow--full
                                .ms-attackrow__settingstitle(data-i18n="notes")
                                textarea.ms-sattackrow__textarea(name="attr_attack_notes")
    .ms-ship
        include shipsheet.pug

    .ms-npc
        include npc.pug

include rolltemplates.pug

script(type="text/worker")

    include ../js/sheetworkers.js