- 

    const npc_stats = [
        {
            name: "Combat",
            attr: "combat",
            desc: "This works exactly like the PC's combat stat, except it doubles as an armor save.",
        },
        {
            name: "Speed",
            attr: "speed",
            desc: "This works exactly like the PC's speed stat.",
        },
        {
            name: "Instinct",
            attr: "instinct",
            desc: "This is a catchall for Fear, Sanity, Body, Intellect and everything else.",
        },        
    ];

    const hits = [
        {
            name: "Hits",
            attr: "hits_max",
            placeholder: "5",
        },
        {
            name: "Health",
            attr: "health_max",
            paceholder: "30",
        }
    ];

.ms-npcwrapper

    h2.ms-npcname
        input(name="attr_npcname_toggle", type="hidden")
        button.ms-npcname_button(name="act_editname_on", type="action") 
            span(name="attr_character_name")
        input(name="attr_character_name", type="text")
        button.ms-npcname_switch(name="act_editname_off", type="action") ✔

    .ms-npcstats

        each stat in npc_stats

            - 
                const npc_ability_roll = [
                    `&{template:ms}`,
                    `{{name=${stat.name}}}`,
                    `{{character_name=@{character_name}}}`,
                    `{{roll=[[1d100cs1cf100]]}}`,
                    `{{roll2=[[?{Advantage/Disadvantage|Normal,0|Advantage/Disadvantage,1d100cs1cf100}]]}}`,
                    `{{target=@{${stat.attr}}}}`].join();

            .ms-mainstat
                .ms-mainstat__label
                    button(data-i18n=stat.name, type="roll", value=npc_ability_roll)
                    span.ms-tooltip
                        p
                            span(data-i18n=stat.desc)
                input.ms-mainstat__input(name=`attr_${stat.attr}`, type="number", placeholder="20")

        
        .ms-topstat--minmax
            .ms-topstat__label(data-i18n="health")
            .ms-topstat__minmaxwrapper
                input.ms-topstat__max(name="attr_hits_max", placeholder="3", type="number")
                input.ms-topstat__min(name="attr_hitpoints_max", placeholder="40", type="number")
            .ms-topstat__label--small(data-i18n="hits")
            .ms-topstat__label--small(data-i18n="health")

    .ms-npcrepeating

        .ms-npcattacks
            h3(data-i18n="Attacks")
            fieldset(class=`repeating_attacks`)
                -
                    const npc_attack_roll = [
                            `&{template:ms}`,
                            `{{name=@{attack_name}}}`,
                            `{{character_name=@{character_name}}}`,
                            `{{roll=[[1d100cs1cf100]]}}`,
                            `{{roll2=[[?{Advantage/Disadvantage|Normal,0|Advantage/Disadvantage,1d100cs1cf100}]]}}`,
                            `{{target=[[@{combat}]]}}`,
                            //- `{{ranges=@{attack_range_s}}}`,
                            //- `{{rangem=@{attack_range_m}}}`,
                            //- `{{rangel=@{attack_range_l}}}`,
                            `{{damage=[[@{attack_damage}]]}}`
                        ].join(" ");
                .ms-npcattackrow
                    input(name=`attr_attack_settings`, type="hidden", value="on")
                    span.ms-npcattackrow__arrow ]
                    button.ms-npcattackrow__name(type="roll", value=npc_attack_roll)
                        span(name=`attr_attack_name`, type="text")
                    span.ms-npcattackrow__damage(name=`attr_attack_damage`, type="text")
                    label.ms-npcattackrow__cog
                        input(name=`attr_attack_settings`, type="checkbox", checked)
                        span y
                    .ms-npcattackrow__settings
                        .ms-npcattackrow__settingsrow
                            .ms-npcattackrow__settingstitle(data-i18n="name")
                            input.ms-npcattackrow__settingsinput(data-i18n-value="attack name", name="attr_attack_name", type="text")
                        .ms-npcattackrow__settingsrow
                            .ms-npcattackrow__settingstitle(data-i18n="damage")
                            input.ms-npcattackrow__settingsinput(data-i18n-value="damage", name="attr_attack_damage", type="text")
                        .ms-npcattackrow__settingsrow
                            .ms-npcattackrow__settingstitle(data-i18n="type")
                            select.ms-npcattackrow__skill(name=`attr_attack_type`)
                                option(data-i18n="Ranged")
                                option(data-i18n="Melee")
                        .ms-npcattackrow__settingsrow--full
                            .ms-npcattackrow__settingstitle(data-i18n="notes")
                            textarea.ms-npcattackrow__textarea(name="attr_attack_notes")

        .ms-npcgrid
            h3(data-i18n="Special Abilities")
            fieldset(class=`repeating_abilities`)
                -
                    const npc_ability_roll = [
                            `&{template:ms}`,
                            `{{name=@{ability_name}}}`,
                            `{{character_name=@{character_name}}}`,
                            //- `{{ranges=@{attack_range_s}}}`,
                            //- `{{rangem=@{attack_range_m}}}`,
                            //- `{{rangel=@{attack_range_l}}}`,
                            `{{notes=@{ability_text}}}`
                        ].join(" ");
                .ms-npcabilityrow 
                    input(name=`attr_ability_settings`, type="hidden", value="on")
                    button.ms-npcabilityrow__name(type="roll", value=npc_ability_roll)
                        span(name=`attr_ability_name`, type="text")
                    label.ms-npcabilityrow__cog
                        input(name=`attr_ability_settings`, type="checkbox", checked)
                        span y
                    span.ms-npcabilityrow__text(name=`attr_ability_text`)
                    .ms-npcabilityrow__settings
                        .ms-npcabilityrow__settingsrow
                            .ms-npcabilityrow__settingstitle(data-i18n="name")
                            input.ms-npcabilityrow__settingsinput(data-i18n-value="ability name", name="attr_ability_name", type="text")
                        .ms-npcabilityrow__settingsrow--full
                            .ms-npcabilityrow__settingstitle(data-i18n="description")
                            textarea.ms-npcabilityrow__textarea(name="attr_ability_text")

        .ms-npcdescription
            h3(data-i18n="description")
            textarea.ms-npcdescription__description(data-i18n-placeholder="Enter the NPC's description here.", name="attr_description")

        .ms-npcequipment
            h3(data-i18n="equipment")
            textarea.ms-npcequipment__equipment(data-i18n-placeholder="Enter the NPC's equipment here.", name="attr_equipment")