rolltemplate.sheet-rolltemplate-ms
    .sheet-ms-container
        | {{#name}}
        h1 {{name}} 
        | {{/name}}
        | {{#character_name}}
        h2 {{character_name}} 
        | {{/character_name}}
        | {{#roll}}
        .sheet-ms-roll
            .sheet-ms-roll__roll {{roll}}
            |  {{#roll2}}
            .sheet-ms-roll__roll2 {{roll2}}
            |  {{/roll2}}
        | {{#advantage}}
        | {{#rollLess() roll1 target}}            
        .sheet-ms-success
            each value in [1, 2, 3, 4, 5, 6, 7, 8]
                | {{rollTotal() roll #{value}#{value}}}
                span(data-i18n="critical")
                | {{/rollTotal() roll #{value}#{value}}}
            span(data-i18n="success")
        | {{/rollLess() roll1 target}}
        | {{#rollLess() roll2 target}}
        | {{^rollLess() roll1 target}}
        .sheet-ms-success
            each value in [1, 2, 3, 4, 5, 6, 7, 8]
                | {{rollTotal() roll2 #{value}#{value}}}
                span(data-i18n="critical")
                | {{/rollTotal() roll2 #{value}#{value}}}
            span(data-i18n="success")
        | {{/^rollLess() roll1 target}}
        | {{/rollLess() roll2 target}}
        | {{#rollGreater() roll1 target}} 
        | {{#rollGreater() roll2 target}}        
        .sheet-ms-failure
            | {{#rollLess() roll1 roll2}}
            each value in [1, 2, 3, 4, 5, 6, 7, 8]
                | {{rollTotal() roll #{value}#{value}}}
                span(data-i18n="critical")
                | {{/rollTotal() roll #{value}#{value}}}
            | {{#rollLess() roll1 roll2}}
            | {{#rollLess() roll2 roll1}}
            each value in [1, 2, 3, 4, 5, 6, 7, 8]
                | {{rollTotal() roll2 #{value}#{value}}}
                span(data-i18n="critical")
                | {{/rollTotal() roll2 #{value}#{value}}}
            | {{#rollLess() roll2 roll1}}
            span(data-i18n="failure")
        | {{/rollGreater() roll2 target}} 
        | {{/rollGreater() roll1 target}} 
        | {{#rollTotal() roll1 target}} 
        | {{#rollTotal() roll2 target}}        
        .sheet-ms-failure
            each value in [1, 2, 3, 4, 5, 6, 7, 8]
                | {{rollTotal() roll #{value}#{value}}}
                span(data-i18n="critical")
                | {{/rollTotal() roll #{value}#{value}}}
            span(data-i18n="failure")
        | {{/rollTotal() roll2 target}} 
        | {{/rollTotal() roll1 target}} 
        .sheet-ms-critical-success
        .sheet-ms-critical-failure
        | {{/advantage}}
        | {{#disadvantage}}
        .sheet-ms-success
        .sheet-ms-failure
        .sheet-ms-critical-success
        .sheet-ms-critical-failure
        | {{/disadvantage}}
        | {{^disadvantage}}
        | {{^advantage}}
        .sheet-ms-success
        .sheet-ms-failure
        .sheet-ms-critical-success
        .sheet-ms-critical-failure
        | {{/^advantage}}
        | {{/^disadvantage}}
        | {{#target}}
        .sheet-ms-target
            .sheet-ms-target__label(data-i18n="target:")
            .sheet-ms-target__value {{target}}
        | {{/target}}
        | {{/roll}}