mixin calculationRow(field)
    .ms-shipbuilder__item
        if field.display
            span.ms-shipbuilder__display(name=`attr_${field.attr}`)
            .ms-shipbuilder__label(data-i18n=field.name)
        else 
            input.ms-shipbuilder__input(name=`attr_${field.attr}`, type="number")
            .ms-shipbuilder__label(data-i18n=field.name)
    if field.after && field.after === "arrow"
        .ms-shipbuilder__arrow ] 
    else if field.after && field.after === "equals"
        .ms-shipbuilder__equals = 
    else if field.after
        .ms-shipbuilder__modifier=field.after

input(name="attr_shipbuild", type="hidden", value="on")
.ms-shipbuilder

    .ms-shipbuilder__hwrap
        h2
            span(data-i18n="select")
            span.ms-invert(data-i18n="primary modules")

    each item, key in primary_modules
        - const title = key.replace(/\_/g, " ");

        .ms-shipbuilder__block(class=`ms-shipbuilder__block--${key}`)

            .ms-shipbuilder__title
                h3(data-i18n=title)
            
            .ms-shipbuilder__flex
                each field in item.fields
                    +calculationRow(field)

            .ms-shipbuilder__hull       
                .ms-shipbuilder__item
                    span.ms-shipbuilder__display(name=`attr_${key}_hull`)
                    .ms-shipbuilder__label(data-i18n="hull")


    .ms-shipbuilder__hwrap
        h2
            span(data-i18n="select")
            span.ms-invert(data-i18n="secondary modules")

    each item, key in secondary_modules
        - const title = key.replace(/\_/g, " ");

        .ms-shipbuilder__block(class=`ms-shipbuilder__block--${key}`)

            .ms-shipbuilder__title
                h3(data-i18n=title)
            
            .ms-shipbuilder__flex
                each field in item.fields
                    +calculationRow(field)

            .ms-shipbuilder__hull                    
                .ms-shipbuilder__item
                    span.ms-shipbuilder__display(name=`attr_${key}_hull`)
                    .ms-shipbuilder__label(data-i18n="hull")

    .ms-shipbuilder__hwrap
        h2
            span(data-i18n="calculate")
            span.ms-invert(data-i18n="total hull")

    each item, key in required_modules
        - const title = key.replace(/\_/g, " ");

        .ms-shipbuilder__block(class=`ms-shipbuilder__block--${key}`)

            .ms-shipbuilder__title
                h3(data-i18n=title)
            
            .ms-shipbuilder__flex
                each field in item.fields
                    +calculationRow(field)

            .ms-shipbuilder__hull
                    
                .ms-shipbuilder__item
                    span.ms-shipbuilder__display(name=`attr_${key}_hull`)
                    .ms-shipbuilder__label(data-i18n="hull")

    .ms-shipbuilder__complete
        button(data-i18n="complete ship", type="action", name="act_completeship")

    .ms-shipbuilder__panel

        .shipbuilder__panelitem
            .ms-shipbuilder__largelabel(data-i18n="base hull")
            span.ms-shipbuilder__largedisplay(name="attr_ship_base_hull")

        .shipbuilder__panelitem
            .ms-shipbuilder__largelabel(data-i18n="total hull")
            span.ms-shipbuilder__largedisplay(name="attr_ship_total_hull")

        .shipbuilder__panelitem
            .ms-shipbuilder__largelabel(data-i18n="armor")
            span.ms-shipbuilder__largedisplay(name="attr_armor")

        .shipbuilder__panelitem
            .ms-shipbuilder__largelabel(data-i18n="combat")
            span.ms-shipbuilder__largedisplay(name="attr_combat")

        .shipbuilder__panelitem
            .ms-shipbuilder__largelabel(data-i18n="intellect")
            span.ms-shipbuilder__largedisplay(name="attr_intellect")

        .shipbuilder__panelitem
            .ms-shipbuilder__largelabel(data-i18n="speed")
            span.ms-shipbuilder__largedisplay(name="attr_speed")

        .shipbuilder__panelitem
            .ms-shipbuilder__largelabel(data-i18n="cost")
            span.ms-shipbuilder__wrapdisplay
                span.ms-shipbuilder__largedisplay(name="attr_ship_cost")
                span(data-i18n="mil")

.ms-shipwrapper

    .ms-header
        .ms-header__logo
            img(src="https://s3.amazonaws.com/files.d20.io/images/145353993/itv_F4exdWuwHavdksYfCQ/max.png?1592850121", data-i18n-title="Mothership Logo")
        .ms-header__details
            each field in shipfields
                div(class=`ms-header__field--${field.attr}`)
                    .ms-header__title(data-i18n=field.label)
                    input.ms-header__input.ms-rounded(name=`attr_${field.attr}`, type=field.type)
    
    .ms-shipstats
        each stat in shipstats
            -
                const roll1 = [
                    `&{template:ms}`,
                    `{{name=${stat.attr}}}`,
                    `{{character_name=@{character_name}}}`,
                    `{{roll=[[1d100cs1cf100]]}}`,
                    `{{roll2=[[?{Advantage/Disadvantage|Normal,0|Advantage/Disadvantage,1d100cs1cf100}]]}}`,
                    `{{target=@{${stat.attr}}}}`
                ].join(" ");
            .ms-mainstat
                .ms-mainstat__label
                    button(data-i18n=stat.attr, type="roll", value=roll1)
                    span.ms-tooltip
                        p
                            span(data-i18n=stat.label)
                input.ms-mainstat__input(name=`attr_${stat.attr}`, type="number")
    
        .ms-topstat--minmax
            .ms-topstat__label(data-i18n="hull")
            .ms-topstat__minmaxwrapper
                input.ms-topstat__max(name="attr_hull_max", placeholder="78", type="number")
                input.ms-topstat__min(name="attr_hull", placeholder="78", type="number")
            .ms-topstat__label--small(data-i18n="max")
            .ms-topstat__label--small(data-i18n="current")

        .ms-hullvalues
            input(name="attr_hull_toggle", type="hidden")
            each value in [25, 50, 75] 
                .ms-topstat(class=`ms-topstat--${value}`)
                    input.ms-topstat__stat(placeholder=`${Math.floor(78/100*(100-value))}`, name=`attr_hull_${value}`, type="number")
                    .ms-topstat__label--invert=`${value}%`
    
        .ms-topstat--minmax
            .ms-topstat__label(data-i18n="fuel")
            .ms-topstat__minmaxwrapper
                input.ms-topstat__max(name="attr_fuel_max", placeholder="78", type="number")
                input.ms-topstat__min(name="attr_fuel", placeholder="78", type="number")
            .ms-topstat__label--small(data-i18n="max")
            .ms-topstat__label--small(data-i18n="current")
    
        .ms-topstat--minmax
            .ms-topstat__label(data-i18n="galley stock")
            .ms-topstat__minmaxwrapper
                input.ms-topstat__max(name="attr_stock_max", type="number", value="30")
                input.ms-topstat__min(name="attr_stock", type="number", value="30")
            .ms-topstat__label--small(data-i18n="max")
            .ms-topstat__label--small(data-i18n="current")
    
    -
        const shipattack = [
                `&{template:ms}`,
                `{{name=@{shipweapon_name}}}`,
                `{{character_name=@{character_name}}}`,
                `{{roll=[[1d100cs1cf100]]}}`,
                `{{roll2=[[?{Advantage/Disadvantage|Normal,0|Advantage/Disadvantage,1d100cs1cf100}]]}}`,
                `{{target=[[@{combat}]]}}`,
                //- `{{ranges=@{attack_range_s}}}`,
                //- `{{rangem=@{attack_range_m}}}`,
                //- `{{rangel=@{attack_range_l}}}`,
                `{{damage=[[@{shipweapon_damage}]]}}`
            ].join(" ");

    .ms-shipweapons 
        h1(data-i18n="weapons")
        .ms-shipweaponrow--head
            .ms-shipweaponrow__name--head(data-i18n="weapon")
            .ms-shipweaponrow__type--head(data-i18n="damage")
        fieldset(class=`repeating_shipweapon`)
            .ms-shipweaponrow
                input(name=`attr_shipweapon_settings`, type="hidden", value="on")
                button.ms-shipweaponrow__name(type="roll", value=shipattack)
                    span(name=`attr_shipweapon_name`, type="text")
                span.ms-shipweaponrow__damage(name=`attr_shipweapon_damage`, type="text")
                label.ms-shipweaponrow__cog
                    input(name=`attr_shipweapon_settings`, type="checkbox", checked)
                    span y
                .ms-shipweaponrow__settings
                    .ms-attackrow__settingsrow
                        .ms-attackrow__settingsrow--full
                            .ms-attackrow__settingstitle(data-i18n="name")
                            input.ms-sattackrow__textarea(name="attr_shipweapon_name", type="text")
                        .ms-attackrow__settingsrow--full
                            .ms-attackrow__settingstitle(data-i18n="damage")
                            input.ms-sattackrow__textarea(name="attr_shipweapon_damage", type="text")
                        .ms-attackrow__settingsrow--full
                            .ms-attackrow__settingstitle(data-i18n="notes")
                            textarea.ms-sattackrow__textarea(name="attr_shipweapon_notes")

    .ms-crewwrap
        .ms-shipofficers
            h1(data-i18n="officers")
            .ms-shipofficerrow--head
                .ms-shipofficerrow__name--head(data-i18n="name")
                .ms-shipofficerrow__type--head(data-i18n="rank")
            fieldset(class=`repeating_shipcrew`)
                .ms-shipofficerrow
                    input(name=`attr_shipcrew_settings`, type="hidden", value="on")
                    input.ms-shipofficerrow__name(name=`attr_shipcrew_name`, type="text")
                    input.ms-shipofficerrow__rank(name=`attr_shipcrew_rank`, type="text")

        .ms-crew
            .ms-crew__label(data-i18n="total crew")
            input.ms-crew__input.ms-rounded(name=`attr_crew`, type="number")
            
        .ms-crew
            .ms-crew__label(data-i18n="max crew")
            input.ms-crew__input.ms-rounded(name=`attr_crew_max`, type="number")

    .ms-shipcargo
        h1(data-i18n="cargo")
        .ms-shipcargorow--head
            .ms-shipcargorow__name--head(data-i18n="item")
            .ms-shipcargorow__type--head #
            .ms-shipcargorow__name--head(data-i18n="item")
            .ms-shipcargorow__type--head #
        fieldset(class=`repeating_shipcargo`)
            .ms-shipcargorow
                input(name=`attr_shipcrew_settings`, type="hidden", value="on")
                input.ms-shipcargorow__name(name=`attr_shipcrew_item`, type="text")
                input.ms-shipcargorow__name(name=`attr_shipcrew_number`, type="text")

        .ms-cargowrap       
            .ms-cargo
                .ms-credits__label(data-i18n="total cargo")
                input.ms-credits__input.ms-rounded(name=`attr_cargo`, type="text")
            .ms-cargo
                .ms-credits__label(data-i18n="max cargo")
                input.ms-credits__input.ms-rounded(name=`attr_cargo_max`, type="text")

    .ms-shipsecondaries
        each field in shipsecondaries
            .ms-topstat
                .ms-topstat__label(data-i18n=field.name)
                input.ms-topstat__stat(placeholder=field.placeholder, name=`attr_${field.attr}`, type="number")
        
