.pc.container.grid
  h1.text-center(data-i18n='trophy gold')
  .column
    .row.grid.2column
      .col
        h2(data-i18n='name')
        +textInput('character name')
      .col
        h2(data-i18n='player')
        +textInput('player')
    .row.grid.2column
      .col
        h2(data-i18n='occupation')
        +textInput('occupation')
        span(data-i18n='occupation description')
      .col.repeating-container
        h3(data-i18n='skills')
        +repeatingText('occupation skills')
    .row.grid.2column
      .col
        h2(data-i18n='background')
        +textInput('background')
      .col
        h3(data-i18n='skill')
        +textInput('background skill')
    .row.grid.2column.training
      .col
        h2(data-i18n='training')
        span(data-i18n='training description')
      .col.repeating-container
        h3(data-i18n='skills')
        +repeatingText('training skills')
    .row.grid.2column.household
      .col
        h2(data-i18n='household')
        span(data-i18n='training description')
      .col
        h3(data-i18n='household name & description')
        +textarea('household description')
    .row.grid.2column
      .col
        h2(data-i18n='rituals')
        span(data-i18n='rituals description')
      .col.repeating-container
        h3(data-i18n='rituals')
        +repeatingText('rituals')
    .row.grid.2column.library
      .col
        h2(data-i18n='library')
        span(data-i18n='library description')
      .col.repeating-container
        h3(data-i18n='rituals')
        +repeatingText('library rituals')

  .column
    .row
      h2(data-i18n='drive')
      +textarea('drive')
    .row.grid.hoard
      h2(data-i18n='hoard')
      -let hoardChecks = 1
      while hoardChecks < 50
        +checkboxInput(`hoard ${hoardChecks++}`)
    .row.equipment
      h2(data-i18n='equipment')
      .row.backpack.grid.backpack
        h3(data-i18n='backpack')
        h4(data-i18n='uses')
        .repeating-container
          +repeatingBackpack
      .row.combat.grid
        h3(data-i18n='combat')
        h4(data-i18n='marked')
        .repeating-container.armor
          +repeatingArmor()
        .repeating-container
          +repeatingWeapon('weapon')
      .row
        h3(data-i18n='found equipment')
        +textarea('found equipment')
    .row.conditions.repeating-container
      h2(data-i18n='conditions')
      +repeatingText('conditions')

  .column.squares
    .row.burdens
      h2(data-i18n='burdens')
      +textInput(`burdens`)
    .row.gold
      h2(data-i18n='gold')
      +textInput(`gold`)
    .row.ruin
      h2(data-i18n='ruin')
      -let ruinBoxes = 1
      while ruinBoxes < 7
        label(data-i18n-title=`ruin box ${ruinBoxes}` title=`ruin box ${ruinBoxes}`)
          input(name=`attr_ruin_${ruinBoxes}` title=`@{ruin_${ruinBoxes}}` type='checkbox' value=ruinBoxes)
          .slash
          .text-center #{ruinBoxes}
        - ruinBoxes++
      