include ../../data/group-list
include ../../data/scroll-list
include ../../data/move-list
include ./mixins/move-builder


//- Search Bar
input(type='radio' class='hide-element move-full-list' name='attr_move_view' value='1' checked)
.move-full-list.showhide
  //- List of Moves
  .move-container
    input(type='radio' class='hide-element' name='attr_selected_move')
    each group in moveGroups
      if group.optional
        input(type='checkbox' class=`optional-move-${group.optional} hide-element` name=`attr_optional_move_${group.optional}` checked)
        div(class=`move-group optional-move-${group.optional} hide-element`)
          .move-group-title
            h3(data-i18n=group.title)=locals.translations[group.title]
          each move in group.moves
            .move-list
              +listButton(moveList[move.value])
              label.move
                input(type='radio' class='hide-element selected-move' name='attr_selected_move' value=move.value)
                .move-name(data-i18n=move.name)=locals.translations[move.name]
      else
        .move-group
          .move-group-title
            h3(data-i18n=group.title)=locals.translations[group.title]
          each move in group.moves
            .move-list
              +listButton(moveList[move.value])
              label.move
                input(type='radio' class='hide-element selected-move' name='attr_selected_move' value=move.value)
                .move-name(data-i18n=move.name)=locals.translations[move.name]

//- Move Details
input(type='radio' class='hide-element move-preview' name='attr_move_view' value='2')
.move-preview.showhide
  .preview-bar
    .close-bar
      label.close-preview
        span(data-i18n='move-close-preview')=locals.translations['move-close-preview']
        input(type='checkbox' class='hide-element' name='attr_close_move_preview')
  .preview-container
    .move-scroll-list
      each group in moveGroupsScroll
        .move-group-scroll
          .move-group-title
            h3(data-i18n=group.title)=locals.translations[group.title]
          each move in group.moves
            .move-list
              label.move
                input(type='radio' class='hide-element' name='attr_selected_move' value=move.value)
                .move-name(data-i18n=move.name)=locals.translations[move.name]
    
    //- Move Previews
    .move-preview-sidebar
      .move-preview-container
        each move in moveList
          +moveBuilder(move, false)
      input.optional-move-assets-summary.hide-element(type='checkbox' name='attr_optional_move_assets_summary' checked)
      .optional-move-assets-summary.hide-element
        h3.move-assets-summary-header(data-i18n='nav-assets')=locals.translations['nav-assets']
        +assetsSummary()
