include ../../data/group-list
include ../../data/scroll-list
include ../../data/move-list
include ./mixins/move-builder


//- Search Bar
input(type='radio' class='hide-element full-move-list' name='attr_move_view' value='1' checked)
.full-move-list.showhide
  //- .search-bar
  //-   input(type='text' class='search-bar' name='attr_move_search' placeholder='Search')
  //-   label.clear-search CLEAR
  //-     input(type='checkbox' class='hide-element' name='attr_clear_search')
  
  //- List of Moves
  .move-container
    input(type='radio' class='hide-element' name='attr_selected_move')
    each group in moveGroups
      if group.optional
        input(type='checkbox' class=`optional-move-${group.optional} hide-element` name=`attr_optional_move_${group.optional}` checked)
        div(class=`move-group optional-move-${group.optional} hide-element`)
          .move-group-title
            h3(data-i18n=group.title)=locals.translations[group.title]
          each move in group.moves
            .move-list
              +listButton(moveList[move.value])
              label.move
                input(type='radio' class='hide-element selected-move' name='attr_selected_move' value=move.value)
                div.move-name(data-i18n=move.name)=locals.translations[move.name]
      else
        .move-group
          .move-group-title
            h3(data-i18n=group.title)=locals.translations[group.title]
          each move in group.moves
            .move-list
              +listButton(moveList[move.value])
              label.move
                input(type='radio' class='hide-element selected-move' name='attr_selected_move' value=move.value)
                div.move-name(data-i18n=move.name)=locals.translations[move.name]

//- Move Details
input(type='radio' class='hide-element move-preview' name='attr_move_view' value='2')
.move-preview.showhide
  .preview-bar
    //- .search-preview-bar
    //-   input(type='text' class='search-preview-bar' name='attr_move_search' placeholder='Search')
    //-   label.clear-search CLEAR
    //-     input(type='checkbox' class='hide-element' name='attr_clear_search')
    .close-bar
      label.close-preview CLOSE PREVIEW
        input(type='checkbox' class='hide-element' name='attr_close_move_preview')
  .preview-container
    .move-scroll-list
      each group in moveGroupsScroll
        .move-group-scroll
          .move-group-title
            h3(data-i18n=group.title)=locals.translations[group.title]
          each move in group.moves
            .move-list
              label.move
                input(type='radio' class='hide-element' name='attr_selected_move' value=move.value)
                //- input(type='checkbox' class='hide-element move-highlight' name=`attr_${move.value}_highlight`)
                div.move-name(data-i18n=move.name)=locals.translations[move.name]
    
    //- Move Previews
    .move-preview-container
      each move in moveList
        +moveBuilder(move, false)
