mixin career-level(level, first)
    .wfrp-settings__titlewrap
        .wfrp-settings__controlwrap
            input(name=`attr_career_level_current`, type="hidden", value="1")
            button(data-i18n="Switch", name=`act_newcareerlevel-${level}`, type="action")
            span(data-i18n="Current" class=`wfrp-current_level--${level}`) 
        h2(data-i18n=`Level ${level}`) 

    .wfrp-settings__row--invert
        .wfrp-settings__label(data-i18n=`Name`)
        input.wfrp-settings__input(name=`attr_career_level${level}_name`, type="text")

    .wfrp-settings__row--invert
        .wfrp-settings__label(data-i18n=`Status`) 
        input.wfrp-settings__input(name=`attr_career_level${level}_status`, type="text")

    .wfrp-settings__col
        if (level === 1 && first === true)
            .wfrp-settings__row--skillinit
                .wfrp-settings__header(data-i18n="Skill Name")
                .wfrp-settings__header(data-i18n="Initial")
                .wfrp-settings__header(data-i18n="Advances")
        else 
            .wfrp-settings__row--skill
                .wfrp-settings__header(data-i18n="Skill Name")
                .wfrp-settings__header(data-i18n="Advances")
            
        each skill in [1,2,3,4,5,6,7,8,9,10]

            if (level === 1 && first === true)

                .wfrp-settings__row--skillinit
                    input.wfrp-settings__input(data-i18n-placeholder=`Skill ${skill}`, name=`attr_career_skill_${level}_${skill}_name`, type="text")
                    input.wfrp-settings__input--init(name=`attr_career_skill_${level}_${skill}_init`, type="number")
                    input.wfrp-settings__input(name=`attr_career_skill_${level}_${skill}_advances`, type="number")

            else

                .wfrp-settings__row--skill
                    input.wfrp-settings__input(data-i18n-placeholder=`Skill ${skill}`, name=`attr_career_skill_${level}_${skill}_name`, type="text")
                    input.wfrp-settings__input(name=`attr_career_skill_${level}_${skill}_advances`, type="number")

    .wfrp-settings__col

        if (level === 1 && first === true)
            .wfrp-settings__row--talentinit
                .wfrp-settings__header(data-i18n="Talent Name")
                .wfrp-settings__header(data-i18n="Initial")
                .wfrp-settings__header(data-i18n="Advances")
        else 
            .wfrp-settings__row--talent
                .wfrp-settings__header(data-i18n="Talent Name")
                .wfrp-settings__header(data-i18n="Advances")

        each talent in [1,2,3,4,5]

            if (level === 1 && first === true)

                .wfrp-settings__row--talentinit
                
                    input.wfrp-settings__input(data-i18n-placeholder=`Talent ${talent}`, name=`attr_career_talent_${level}_${talent}_name`, type="text")
                    input.wfrp-settings__input(name=`attr_career_talent_${level}_${talent}_init`, type="number")
                    input.wfrp-settings__input(name=`attr_career_talent_${level}_${talent}_advances`, type="number")

            else

                .wfrp-settings__row--talent
                
                    input.wfrp-settings__input(data-i18n-placeholder=`Talent ${talent}`, name=`attr_career_talent_${level}_${talent}_name`, type="text")
                    input.wfrp-settings__input(name=`attr_career_talent_${level}_${talent}_advances`, type="number")
        
        .wfrp-settings__row
            .wfrp-settings__label--full(data-i18n=`Trappings`) 
            textarea.wfrp-settings__textarea(name=`attr_career_${level}_trappings`)

mixin careers-row
    input(name=`attr_career_settings`, type="hidden", value=1)
    input.wfrp-settings__input(name=`attr_career_first`, type="hidden")

    .wfrp-careertable__row

        .wfrp-careertable__cell--settingstoggle
            +display-toggle(`career_settings`, true)

        .wfrp-careertable__cell
            span(name=`attr_career_name`)

        .wfrp-careertable__cell
            span(name=`attr_career_level`)

        .wfrp-careertable__cell
            span(name=`attr_career_status`)
            input(name=`attr_career_status`, type="hidden")

        .wfrp-careertable__cell--last
            span(name=`attr_career_advances`)
            
        .wfrp-careertable__row.wfrp-settings.control__hide--career_settings
        
            .wfrp-settings__row--career_name
                input.wfrp-settings__checkbox(name=`attr_career_current`, type="hidden")
                .wfrp-settings__label(data-i18n=`Name`)
                input.wfrp-settings__input(name=`attr_career_name`, type="text")

            .wfrp-settings__row--span
                .wfrp-settings__label--full(data-i18n=`Notes`) 
                textarea.wfrp-settings__textarea(name=`attr_career_notes`)

            h2(data-i18n="Characteristic Advances")

            .wfrp-settings__row--characteristics
                    
                .wfrp-settings__item
                    .wfrp_settings__title
                    .wfrp_settings__title.wfrp-career__characteristic--first(data-i18n="Initial")
                    .wfrp_settings__title(data-i18n="Advances")
        
                each characteristic in characteristics
                    -
                        const attr = characteristic.name.toLowerCase().replace(/ /g,"_");
                    
                    .wfrp-settings__item
                        input(name=`attr_career_${attr}`, type="hidden")
                        label.wfrp-settings__label
                            input.wfrp-settings__checkbox(name=`attr_career_${attr}`, type="checkbox")
                            span(data-i18n=characteristic.abbreviation)
                        div.wfrp-career__characteristic--first
                            input.wfrp-settings__input(name=`attr_career_${attr}_init`, type="number")
                        div.wfrp-career__characteristic
                            input.wfrp-settings__input(name=`attr_career_${attr}_advances`, type="number")

            
            .wfrp-settings__row--span(class=`wfrp-career__row--first`)
                +career-level(1, true)
                
            each level in [1,2,3,4]
                .wfrp-settings__row--span(class=`wfrp-career__row--${level}`)
                    +career-level(level)