- const characteristics = ['Intelligence', 'Perception', 'Presence', 'Communication','Strength', 'Stamina', 'Dexterity', 'Quickness'];

div(class='tabpage __abilityTab')
    div(class="pageHalf characteristics")
        h1
            | Characteristics
        div
            +fieldset({name:"shapeshifts", trigger:{triggeredFuncs:["removeShapeshift"]}})
                .shapeshiftBlock
                    +collapse("selected")(class="shapeshiftSelector", hidden)
                    h2.shapeshiftTitle
                        +action({
                            name:"shapeshift-name-action",
                            class:"shapeshiftNameAction",
                            trigger:{triggeredFuncs:["selectShapeshift"]}
                        })
                            +span({name:"shapeshift_name",class:"shapeshiftNameSpan"})
                        +text({name:"shapeshift_name",class:"shapeshiftNameText"})
                            
                    .characteristicsBlock
                        
                        each char in characteristics
                            .charRow
                                +hidden({name:"char_selected"})
                                label(class=`charLabel label__${char}`)
                                    input(type="radio" class="name" name="attr_char_selected" value=`${char}`)
                                    span= char
                                input(type="number" class="value" name=`attr_${char}_Score` value="0")
                                +roll(`${char}`, `${char}`, `${char}`)
                                input(type="checkbox" class="button__quill" name=`attr_show_${char}`)
                            div(class="expanding_contrast __golden")
                                input(type="hidden" class="expand_toggle" name=`attr_show_${char}`)
                                div(class="expanding" )
                                    +textarea({name:"attr_VirtueDescription"})
            div(class="repcontrol shapeshiftsControls")
                +action({
                    name:"shapeshift-add",
                    "data-i18n":"shapeshift_add",
                    class:"btn repcontrol_add shapeshift_add",
                    trigger:{triggeredFuncs:["addShapeshift"]}
                })
                    | +Add

    div(class="pageHalf abilities")
        h1 Abilities
        div
            h2 Shape-specific abilities
            +nestedFieldset({name:"Shape-specific abilities"})
                +level({name:"shape-title", locked:true})
                    h3 this is a title that is better
                +level({name:"ability-entry"})
                    .ability-entry
                        +input({name:"ability name",type:"text",class:"--name"})
                        +input({name:"ability damage",type:"number",class:"--damage"})
        div
            h2 Non-shape-specific abilities
            fieldset(class="repeating_ability")
                div
                    +roll("Ability Roll", "attr_Ability_name", `Ability_name`)
                    input(type="text" name="attr_Ability_name")
                    span(class="display_score")
                        | 3
                    input(type="checkbox" class="button__quill" name="attr_show_expand")
                
                div(class="expanding_contrast __golden")
                    input(type="hidden" class="expand_toggle" name="attr_show_expand")
                    div(class="expanding" )
                        div(class="xp_ribbon")
                            div(class="specialization")
                                input(type="text" name="attr_Ability_speciality")
                            div(class="ribbonScore" data-tip="Base Score")
                                input(type="number" name="Ability_score" value="0")
                            span(class="tip" data-tip="Base Score")
                            div(class="ribbonCurrent" data-tip="Current Experience")
                                    input(type="number" name="Ability_current" value="0")
                            span(class="tip" data-tip="Current Experience")
                            div(class="ribbonPair")
                                div(class="ribbonProgress" data-tip="Experience to next level")
                                    input(type="number" name="Ability_progress" value="0")
                                span(class="tip" data-tip="Experience to next level")
                                div(class="ribbonMax"  data-tip="Experience to buy")
                                    input(type="number" name="Ability_max" value="0")
                                span(class="tip" data-tip="Experience to buy")
                            div(class="ribbonBonus" data-tip="Bonus to base score")
                                input(type="number" name="Ability_bonus" value="0")
                            span(class="tip" data-tip="Bonus to base score")
                        label(class="option_accelerated" data-tip="Accelerated Experience")
                            span
                                | Accelerated Ability
                            span(class="icon_accelerated")
                            div(class="c_check")
                                input(type="checkbox" name="attr_Ability_accelerated")
                                span
                            span(class="tip" data-tip="Accelerated Experience")