.wfrp-npc__wrapper

    .wfrp-npcsettings

        label.wfrp-npcsettings__toggle 
            input.wfrp-npcsettings__hide(name="attr_npc_settings", type="checkbox")
            span.pictos y
            
        input(name="attr_npc_settings", type="hidden")

        .wfrp-npcsettings__wrapper

            .wfrp-npcsettings__name
                .wfrp-npcsettings__label(data-i18n="Name")
                input.wfrp-npcsettings__input(name=`attr_character_name`, type="text")

            .wfrp-npcsettings__description
                .wfrp-npcsettings__label(data-i18n="Description")
                textarea.wfrp-npcsettings__textarea(name=`attr_npc_description`)

            h2(data-i18n="Characteristics")
            .wfrp-npcsettings__characteristics
                each characteristic in npc_characteristics
                    - const attr = characteristic.name.toLowerCase().replace(/ /g,"_");
                    .wfrp-npcsettings__characteristic
                        .wfrp-npcsettings__label(data-i18n=characteristic.abbreviation)
                        input.wfrp-npcsettings__input(name=`attr_${attr}`, type="number")

            h2(data-i18n="Skills")
            .wfrp-npcsettings__skills
                - 
                    const skill_list = [...skills.basic, ...skills.advanced].sort((a,b)=> {                    
                        let nameA = a.name.toUpperCase(); // ignore upper and lowercase
                        let nameB = b.name.toUpperCase(); // ignore upper and lowercase
                        if (nameA < nameB) {
                            return -1;
                        }
                        if (nameA > nameB) {
                            return 1;
                        }
                    });

                each skill in skill_list
                    - 
                        const attr = skill.name.toLowerCase().replace(/ /g,"-");
                    if (skill.grouped !== true)
                        .wfrp-npcsettings__skill
                            .wfrp-npcsettings__label(data-i18n=skill.name)
                            input.wfrp-npcsettings__input(name=`attr_${attr}`, type="number")
                            
                    if (skill.name === "Melee" || skill.name === "Ranged" || skill.name === "Channelling" || skill.name === "Language")
                        each specialism in skill.specialisations
                            .wfrp-npcsettings__skill
                                .wfrp-npcsettings__label(data-i18n=`${skill.name} (${specialism})`) 
                                input.wfrp-npcsettings__input(name=`attr_${specialism}`, type="number")


            h2(data-i18n="Settings")
            .wfrp-npcsettings__settings

                .wfrp-npcsettings__row
                    .wfrp-npcsettings__label(data-i18n="NPC")
                    input.wfrp-npcsettings__checkbox(name=`attr_npc`, type="checkbox")

                .wfrp-npcsettings__row
                    .wfrp-npcsettings__label(data-i18n="Character Size")
                    select.wfrp-npcsettings__select(name="attr_size")
                        option(data-i18n="Tiny", value="tiny")
                        option(data-i18n="Little", value="little")
                        option(data-i18n="Small", value="small")
                        option(data-i18n="Average", value="average", selected)
                        option(data-i18n="Large", value="large")
                        option(data-i18n="Enormous", value="enormous")
                        option(data-i18n="Monstrous", value="monstrous")

                .wfrp-npcsettings__row
                    .wfrp-npcsettings__label(data-i18n="Whisper to GM")
                    select.wfrp-npcsettings__select(name="attr_setting_whisper")
                        option(data-i18n="Off", value="1", selected)
                        option(data-i18n="On", value="2")

                .wfrp-npcsettings__row
                    .wfrp-npcsettings__label(data-i18n="Query Difficulty")
                    select.wfrp-npcsettings__select(name="attr_setting_diff_option")
                        option(data-i18n="On", value="1", selected)
                        option(data-i18n="Off", value="2")

                .wfrp-npcsettings__row
                    .wfrp-npcsettings__label(data-i18n="Query Additional Bonuses")
                    select.wfrp-npcsettings__select(name="attr_setting_bonus_option")
                        option(data-i18n="On", value="1", selected)
                        option(data-i18n="Off", value="2")

                .wfrp-npcsettings__row
                    .wfrp-npcsettings__label(data-i18n="Automatic Success & Failure")
                    select.wfrp-npcsettings__select(name="attr_setting_crit_option")
                        option(data-i18n="Default", value="1", selected)
                        option(value="2") 01/96-100
                        option(value="3") 01/100

                .wfrp-npcsettings__row
                    .wfrp-npcsettings__label(data-i18n="Initiative")
                    select.wfrp-npcsettings__select(name="attr_setting_init_option")
                        option(data-i18n="Default", value="1", selected)
                        option(value="2") 1d10+I
                        option(value="3") 1d10+IB+AgB

                .wfrp-npcsettings__row
                    .wfrp-npcsettings__label(data-i18n="Maximum Advantage")
                    input.wfrp-npcsettings__input(name="attr_setting_max_advantage", type="number")

                .wfrp-npcsettings__row
                    .wfrp-npcsettings__label(data-i18n="Ranged Damage Bonus")
                    input.wfrp-npcsettings__input(name="attr_ranged_damage_bonus", type="number")

                .wfrp-npcsettings__row
                    .wfrp-npcsettings__label(data-i18n="Melee Damage Bonus")
                    input.wfrp-npcsettings__input(name="attr_melee_damage_bonus", type="number")

                .wfrp-npcsettings__row
                    .wfrp-npcsettings__label(data-i18n="Show Skills")
                    input.wfrp-npcsettings__checkbox(name=`attr_npc_skill_flag`, type="checkbox")

                .wfrp-npcsettings__row
                    .wfrp-npcsettings__label(data-i18n="Show Trappings")
                    input.wfrp-npcsettings__checkbox(name=`attr_npc_trapping_flag`, type="checkbox")


    .wfrp-npc__slash

        .wfrp-npc__name
            h1.wfrp-npc__name
                span(name="attr_character_name")

        .wfrp-npc__description
            span(name="attr_npc_description")

        .wfrp-npc__stats
            each characteristic in npc_characteristics
                +npc-characteristic-col(characteristic)

    .wfrp-npc__grid

        .wfrp-npc__leftcol
            
            input(name=`attr_npc_skill_flag`, type="hidden")
            .wfrp-npc__skills    
                h2.wfrp-npc__subtitle(data-i18n="Skills")

                .wfrp-npcskill__wrapper
                    each skill in [...skills.basic, ...skills.advanced]
                        +npc-skill(skill)

            .wfrp-npccombat
                h2.wfrp-npc__subtitle(data-i18n="Combat")
                .wfrp-npcadvantage
                    +advantage()
                        .wfrp-advantage__label(data-i18n="Advantage")  
                .wfrp-npccontrols__wrapper
                    .wfrp-npccontrols__button
                        button(data-i18n="Initiative", type="roll", value=`&{template:wfrp} {{name=@{character_name}}} {{roll_name=Initiative}} @{roll_init}`)
                    .wfrp-npccontrols__button
                        button(data-i18n="Dodge", type="roll", value=rolls.combat.dodge)
                    .wfrp-npccontrols__button
                        button(data-i18n="Endurance", type="roll", value=rolls.combat.endurance)
                    .wfrp-npccontrols__button
                        button(data-i18n="Intuition", type="roll", value=rolls.combat.intuition)
                    .wfrp-npccontrols__button
                        button(data-i18n="Perception", type="roll", value=rolls.combat.perception)
                    .wfrp-npccontrols__button
                        button(data-i18n="Cool", type="roll", value=rolls.combat.cool)

            .wfrp-npcattack
                h2.wfrp-npc__subtitle(data-i18n="Attacks")
                +repeating-section("attacks","npc-attack-row")

            input(name=`attr_npc_trapping_flag`, type="hidden") 
            .wfrp-npctrappings
                h2.wfrp-npc__subtitle(data-i18n="Trappings")
                textarea.wfrp-npctrappings__textarea(name="attr_npc_trappings")

        .wfrp-npc__rightcol

            .wfrp-npctrait
                h2.wfrp-npc__subtitle(data-i18n="Traits")
                +repeating-section("traits","npc-trait-row")

            .wfrp-npctrait
                h2.wfrp-npc__subtitle(data-i18n="Talents")
                +repeating-section("talent","npc-talent-row")

            .wfrp-npctrait
                h2.wfrp-npc__subtitle(data-i18n="Optional Traits")
                +repeating-section("optional-traits","npc-opttrait-row")