input(name="attr_setting_button_hide", type="hidden")

.wfrp-header.wfrp-panel
    .wfrp-header__logo
    .wfrp-header__info
        each field in character 
            +character-field(field)

.wfrp-navigation.wfrp-panel
    .wfrp-navigation__roll
        label.wfrp-navigation__item
            input(name="attr_setting_whisper", type="checkbox", value="2")
            span(data-i18n="Whisper to GM")
    .wfrp-navigation__items
        each item in navigation 
            - 
                const settings = (item === "settings") ? "wfrp-navigation__item--settings" : "wfrp-navigation__item";

            label(class=settings)
                input(name="attr_nav", type="radio", value=item)
                if (item === "settings")
                    span y
                else 
                    span(data-i18n=item)

.wfrp-characteristics.wfrp-panel.page__main
    input(name="attr_control_hide--characteristics", type="hidden")
    h1.wfrp-panel__header(data-i18n="Characteristics")
    .wfrp-chartable
        .wfrp-chartable__cell--noborder &nbsp;
        .wfrp-chartable__cell--left(data-i18n="Initial")
        .wfrp-chartable__cell--left(data-i18n="Advances")
        .wfrp-chartable__cell--left(data-i18n="Modifier")
        .wfrp-chartable__cell--left(data-i18n="Current")
        .wfrp-chartable__cell--left(data-i18n="Bonus")
        each characteristic in characteristics
            +characteristic-col(characteristic)

.wfrp-resilience.wfrp-panel.page__main
    h1.wfrp-panel__header(data-i18n="Resilience")
    .wfrp-field__wrapper
        +generic-field(resilience[0], "text", "2-1")
        +generic-field(resilience[1], "text", "2-1")
    +generic-field(resilience[2], "text", "1-2")

.wfrp-fate.wfrp-panel.page__main
    h1.wfrp-panel__header(data-i18n="Fate")
    each field in fate 
        +generic-field(field, "number", "1-1")

.wfrp-movement.wfrp-panel.page__main
    input(name="attr_movement_mod", type="hidden")
    h1.wfrp-panel__header(data-i18n="Movement")
    each field in movement 
        +generic-field(field, "text", "1-2")

.wfrp-experience.wfrp-panel.page__main
    h1.wfrp-panel__header(data-i18n="Experience")
    each field in experience 
        +generic-display(field, "text", "1-1")

.wfrp-skills.wfrp-panel.page__main
    .wfrp-skilltable
        h1.wfrp-panel__header(data-i18n="Basic Skills")
        .wfrp-skilltable__row--head
            .wfrp-skilltable__cell(data-i18n="Name")
            .wfrp-skilltable__cell.wfrp-skilltable__cell--span2(data-i18n="Char.")
            .wfrp-skilltable__cell(data-i18n="Adv.")
            .wfrp-skilltable__cell--last(data-i18n="Total")
        each skill in skills.basic
            if skill.grouped === true
                +skill-grouped(skill)
            else 
                +skill(skill)

.wfrp-skills.wfrp-panel.page__main
    .wfrp-skilltable
        h1.wfrp-panel__header(data-i18n="Advanced Skills")
        .wfrp-skilltable__row--head
            .wfrp-skilltable__cell(data-i18n="Name")
            .wfrp-skilltable__cell.wfrp-skilltable__cell--span2(data-i18n="Char.")
            .wfrp-skilltable__cell(data-i18n="Adv.")
            .wfrp-skilltable__cell--last(data-i18n="Total")
        each skill in skills.advanced
            if skill.grouped === true
                +skill-grouped(skill)
            else 
                +skill(skill)

.wfrp-talents.wfrp-panel.page__main
    h1.wfrp-panel__header(data-i18n="Talents")
    .wfrp-talenttable
        .wfrp-talenttable__row--head
            .wfrp-talenttable__cell(data-i18n="Name")
            .wfrp-talenttable__cell(data-i18n="Ranks")
            .wfrp-talenttable__cell--last
        +repeating-section("talent","talent-row")

.wfrp-conditions.wfrp-panel.page__main
    h1.wfrp-panel__header(data-i18n="Conditions")
    .wfrp-conditiontable
        .wfrp-conditiontable__row--head
            .wfrp-conditiontable__cell(data-i18n="Name")
            .wfrp-conditiontable__cell(data-i18n="Ranks")
            .wfrp-conditiontable__cell--last
        +repeating-section("conditions","condition-row")

.wfrp-psychology.wfrp-panel.page__main
    h1.wfrp-panel__header(data-i18n="Psychology")
    .wfrp-psychologytable
        .wfrp-psychologytable__row--head
            .wfrp-psychologytable__cell(data-i18n="Name")
            .wfrp-psychologytable__cell--last
        +repeating-section("psychology","psychology-row")

.wfrp-corruption.wfrp-panel.page__main
    h1.wfrp-panel__header(data-i18n="Corruption & Mutations")
    +generic-field(corruption[0],"number","2-1")
    .wfrp-corruptiontable
        .wfrp-corruptiontable__row--head
            .wfrp-corruptiontable__cell(data-i18n="Name")
            .wfrp-corruptiontable__cell--last
        +repeating-section("corruption","corruption-row")

.wfrp-ambitions.wfrp-panel.page__main--grid
    h1.wfrp-panel__header(data-i18n="Ambitions")
    each ambition in ambitions 
        +generic-textarea(ambition.name, "1-25", ambition.attr)

.wfrp-party.wfrp-panel.page__main--grid
    h1.wfrp-panel__header(data-i18n="Party")
    each ambition in party
        if (ambition.field === "text") 
            +generic-field(ambition, "text", "1-25", ambition.attr)
        else 
            +generic-textarea(ambition.name, "1-25", ambition.attr)

.wfrp-trappings.page__combat--flex
    .wfrp-panel.wfrp-panel--trappings
        h1.wfrp-panel__header(data-i18n="Trappings")
        .wfrp-trappingtable
            .wfrp-trappingtable__row--head
                .wfrp-trappingtable__cell(data-i18n="Name")
                .wfrp-trappingtable__cell #
                .wfrp-trappingtable__cell--last(data-i18n="Enc.")
            +repeating-section("trappings","trapping-row")

    .wfrp-encwealth

        .wfrp-panel
            h1.wfrp-panel__header(data-i18n="Enc.")
            input(name="attr_encumbrance_bonus", type="hidden", value=0)
            +generic-display({name:"Current Enc.", attr:"encumbrance"}, "number", "2-1")
            +generic-display({name:"Max Enc.", attr:"encumbrance_max"}, "number", "2-1")

        .wfrp-panel
            h1.wfrp-panel__header(data-i18n="Wealth")

            .wfrp-field--grid1-1
                span.wfrp-field__header--flex
                    span(data-i18n="GC")
                    button.pictos(name="act_gold_to_silver", type="action") }
                input.wfrp-field__input(name=`attr_gold`, type="number", value="0")

            .wfrp-field--grid1-1
                span.wfrp-field__header--flex
                    span(data-i18n="SS")
                    button.pictos(name="act_silver_to_brass", type="action") }
                    button.pictos(name="act_silver_to_gold", type="action") {
                input.wfrp-field__input(name=`attr_silver`, type="number", value="0")

            .wfrp-field--grid1-1
                span.wfrp-field__header--flex
                    span(data-i18n="BP")
                    button.pictos(name="act_brass_to_silver", type="action") {
                input.wfrp-field__input(name=`attr_brass`, type="number", value="0")

.wfrp-armour__wrapper.wfrp-panel.page__combat
    h1.wfrp-panel__header(data-i18n="Armour Points")

    .wfrp-armour__row
        .wfrp-armour__block--head
            .wfrp-armour__roll 01-09
            span.wfrp-armour__display(name="attr_armour_head") 
            .wfrp-armour__location(data-i18n="Head")

        .wfrp-armour__block--leftarm 
            .wfrp-armour__roll 10-24
            span.wfrp-armour__display(name="attr_armour_leftarm") 
            .wfrp-armour__location(data-i18n="Left Arm")

    .wfrp-armour__row
        .wfrp-armour__block--rightarm
            .wfrp-armour__roll 25-44
            span.wfrp-armour__display(name="attr_armour_rightarm") 
            .wfrp-armour__location(data-i18n="Right Arm")

        .wfrp-armour__block--body
            .wfrp-armour__roll 45-79
            span.wfrp-armour__display(name="attr_armour_body") 
            .wfrp-armour__location(data-i18n="Body")

    .wfrp-armour__row
        .wfrp-armour__block--rightleg
            .wfrp-armour__roll 90-00
            span.wfrp-armour__display(name="attr_armour_rightleg") 
            .wfrp-armour__location(data-i18n="Right Leg")

        .wfrp-armour__block--leftleg 
            .wfrp-armour__roll 80-89
            span.wfrp-armour__display(name="attr_armour_leftleg") 
            .wfrp-armour__location(data-i18n="Left Leg")

    .wfrp-armour__row
        .wfrp-armour__block--shield
            span.wfrp-armour__display(name="attr_armour_shield") 
            .wfrp-armour__location(data-i18n="Shield")

        .wfrp-armour__block--toughness 
            .wfrp-armour__roll 
            span.wfrp-armour__display(name="attr_toughness_bonus") 
            .wfrp-armour__location(data-i18n="TB")

.wfrp-controls.wfrp-panel.page__combat
    h1.wfrp-panel__header(data-i18n="Controls")
    .wfrp-controls__wrapper
        .wfrp-controls__button
            button(data-i18n="Initiative", type="roll", value=`&{template:wfrp} {{name=@{character_name}}} {{roll_name=Initiative}} @{roll_init}`)
        .wfrp-controls__button
            button(data-i18n="Dodge", type="roll", value=rolls.combat.dodge)
        .wfrp-controls__button
            button(data-i18n="Endurance", type="roll", value=rolls.combat.endurance)
        .wfrp-controls__button
            button(data-i18n="Intuition", type="roll", value=rolls.combat.intuition)
        .wfrp-controls__button
            button(data-i18n="Perception", type="roll", value=rolls.combat.perception)
        .wfrp-controls__button
            button(data-i18n="Cool", type="roll", value=rolls.combat.cool)
        //.wfrp-controls__button
            button(data-i18n="Critical Hit", type="roll", value=rolls.crit)
        //.wfrp-controls__button
            button(data-i18n="Fumble", type="roll", value=rolls.fumble)

.wfrp-advantage.wfrp-panel.page__combat
    h1.wfrp-panel__header(data-i18n="Advantage")
    +advantage()

.wfrp-wounds.wfrp-panel.page__combat
    h1.wfrp-panel__header(data-i18n="Wounds")
    input(name="attr_wounds_mod", type="hidden")
    +generic-field({name:"Current Wounds", attr:"wounds"},"number","2-1")
    +generic-display({name:"Max Wounds", attr:"wounds_max"}, "number", "2-1")
        
.wfrp-wounds.wfrp-panel.page__combat
    h1.wfrp-panel__header(data-i18n="Critical Wounds")
    .wfrp-criticaltable__row--head
        .wfrp-criticaltable__cell(data-i18n="Name")
        .wfrp-criticaltable__cell(data-i18n="Location")
        .wfrp-criticaltable__cell--last #
    .wfrp-woundtable
        +repeating-section("criticals","critical-row")

.wfrp-armour.wfrp-panel.page__combat
    h1.wfrp-panel__header(data-i18n="Armour")
    .wfrp-armourtable
        .wfrp-armourtable__row--head
            .wfrp-armourtable__cell(data-i18n="Name")
            .wfrp-armourtable__cell(data-i18n="Locations")
            .wfrp-armourtable__cell(data-i18n="AP")
            .wfrp-armourtable__cell--last(data-i18n="Qualities")
        +repeating-section("armour","armour-row")

.wfrp-weapons.wfrp-panel.page__combat
    h1.wfrp-panel__header(data-i18n="Weapons")
    .wfrp-weapontable
        .wfrp-weapontable__row--head
            .wfrp-weapontable__cell(data-i18n="Name")
            .wfrp-weapontable__cell(data-i18n="Group")
            .wfrp-weapontable__cell(data-i18n="Total")
            .wfrp-weapontable__cell(data-i18n="Range")
            .wfrp-weapontable__cell(data-i18n="Damage")
            .wfrp-weapontable__cell--last(data-i18n="Qualities")
    .wfrp-weapontable
        +repeating-section("weapons","weapon-row")

.wfrp-spells.wfrp-panel.page__magic
    h1.wfrp-panel__header(data-i18n="Spells & Prayers")
    .wfrp-spelltable
        .wfrp-spelltable__row--head
            .wfrp-spelltable__cell(data-i18n="Name")
            .wfrp-spelltable__cell(data-i18n="School / Deity")
            .wfrp-spelltable__cell(data-i18n="Total")
            .wfrp-spelltable__cell(data-i18n="CN")
            .wfrp-spelltable__cell(data-i18n="Range")
            .wfrp-spelltable__cell(data-i18n="Target")
            .wfrp-spelltable__cell--last(data-i18n="Duration")
    .wfrp-spelltable
        +repeating-section("spells","spell-row")
    .wfrp-spell__sin
        +generic-field({name:"Sin", attr:"sin"}, "number", "1-1")

.wfrp-careers.page__advances--grid
    .wfrp-panel
        input(name="attr_control_hide--characteristics", type="hidden")
        h1.wfrp-panel__header(data-i18n="Careers")
        .wfrp-careertable__row--head
            .wfrp-careertable__cell(data-i18n="Career")
            .wfrp-careertable__cell(data-i18n="Level")
            .wfrp-careertable__cell(data-i18n="Status")
            .wfrp-careertable__cell--last(data-i18n="Advances")
        +repeating-section("careers","careers-row")

    .wfrp-panel
        input(name="attr_control_hide--characteristics", type="hidden")
        h1.wfrp-panel__header(data-i18n="Species")
        +species("spells","spell-row")

.wfrp-experience--alt.page__advances--flex
    .wfrp-panel
        h1.wfrp-panel__header(data-i18n="Experience")
        each field in experience 
            +generic-display(field, "text", "2-1")

    .wfrp-panel.wfrp-panel--awards.page__advances
        h1.wfrp-panel__header(data-i18n="Experience Awards")
        .wfrp-experiencetable__row--head
            .wfrp-experiencetable__cell(data-i18n="Source")
            .wfrp-experiencetable__cell--last(data-i18n="XP")
        +repeating-section("experience","experience-row")
        .wfrp-panel__footer.wfrp-controls
            .wfrp-controls__button
                button(data-i18n="Consolidate Rewards", name="act_combinexp", type="action") 
        h1.wfrp-panel__header(data-i18n="Experience Spends")
        .wfrp-experiencetable__row--head
            .wfrp-experiencetable__cell(data-i18n="Use")
            .wfrp-experiencetable__cell--last(data-i18n="XP")
        +repeating-section("experiencespent","experience-row")

include settings.pug