div(class="tabCombat tab")
    include subCombat/header.html

    input(
        type="hidden" 
        name="attr_tabDistance" 
        class="subTabDistance"
        value="1"
    )

    input(
        type="hidden" 
        name="attr_tabMelee" 
        class="subTabMelee"
        value="2"
    )

    input(
        type="hidden" 
        name="attr_tabAutre" 
        class="subTabAutre"
        value="3"
    )

    input(
        type="hidden" 
        name="attr_tabEquipementDefensif" 
        class="subTabDefensif"
        value="4"
    )

    input(
        type="hidden" 
        name="attr_tabCapaciteArmure" 
        class="subTabArmure"
        value="0"
    )

    input(
        type="hidden" 
        name="attr_tabArmesImprovisees" 
        class="subTabImprovisee"
        value="6"
    )

    include subCombat/menu.html
    include subCombat/armure.html
    include subCombat/armesPJ.html
    include subCombat/capacites.html
    include subCombat/armesPNJ.html
    include subCombat/bottom.html
