include ./mixins/stats

div.sheet-stats
  +statBuilder()
  div.sheet-stat
    h3.sheet-stats-title Protection
    input(
      type='text'
      class='sheet-stats-input'
      name=`attr_protection`
      value='0'
    )
  div.sheet-stat
    h3.sheet-stats-title Face Danger / Clash Add
    input(
      type='text'
      class='sheet-stats-input'
      name=`attr_protection`
      value='0'
    )