
mixin encounter_block
  fieldset.repeating_encounters
    +encounter_entry
  +losses_counter
  +final_result_block

mixin encounter_entry
  div.encounter-block
    div.encounter-row-1
      div.encounter-date.left
        +stat_no_label('text', 'encounter_date', 'encounter_date')
      div.encounter-context
        +stat_no_label('text', 'encounter_context', 'encounter_context')
    
    div.encounter-success-defeat.left
      input(type='radio' name='attr_encounter_victor' value='left')
      //- span.success-defeat-label='/'
      //- div.encounter-check
      //-   label.checkbox
      //-     input(type='radio' name='attr_encounter_victor' value='left')
      //-     span.encounter-square
      //-     div.encounter-display
    
    div.encounter-inputs
      div.encounter-row-2
        div.encounter-taken-recovered.left
          div.reverse-skew
            +stat_no_label('text', 'left_taken_or_recovered', 'taken_or_recovered')
        div.encounter-taken-recovered.right
          div.reverse-skew
            +stat_no_label('text', 'right_taken_or_recovered', 'taken_or_recovered')

      div.encounter-row-3
        div.encounter-details.left
          div.reverse-skew
            +stat_no_label('text', 'left_encounter_details', 'encounter_details')
        div.encounter-details.right
          div.reverse-skew
            +stat_no_label('text', 'right_encounter_details', 'encounter_details')

    div.encounter-success-defeat.right
      input(type='radio' name='attr_encounter_victor' value='right')
      //- span.success-defeat-label='/'
      //- div.encounter-check
      //-   label.checkbox
      //-     input(type='radio' name='attr_encounter_victor' value='right')
      //-     span.encounter-square
      //-     div.encounter-display

    div.gray-diamond
      span

mixin losses_counter
  div.losses-block
    div.losses-label(data-i18n='losses_counter')=locals['losses_counter']
    div.losses-counter
      div.loss-increments
        - var left = 1;
        while left <= 5
          div.loss-increment.left
            label
              input(
                type='checkbox'
                class=`checkbox-size-${left}`
                name=`attr_left_loss_${left}`
                value=1)
              div.loss-section
              - left++;
        div.loss-increment.final
          label
            input(
              type='checkbox'
                class='checkbox-size-6'
              name='attr_loss_6'
              value=1)
            div.loss-section
        - var right = 5;
        while right > 0
          div.loss-increment.right
            label
              input(
                type='checkbox'
                class=`checkbox-size-${right}`
                name=`attr_right_loss_${right}`
                value=1)
              div.loss-section
              - right--;

mixin final_result_block
  div.final-result-block
    div.final-win-row
      div.result-radio.left
        input.left(type='radio' name='attr_left_result' value='win')
      div.result-label.left
        div(data-i18n='emerged_victorious')=locals['emerged_victorious']
      div.result-label.right
        div(data-i18n='emerged_victorious')=locals['emerged_victorious']
      div.result-radio.right
        input.right(type='radio' name='attr_right_result' value='win')
    div.final-loss-row
      div.result-radio.left
        input.left(type='radio' name='attr_left_result' value='loss')
      div.result-label.left
        div(data-i18n='was_defeated')=locals['was_defeated']
      div.result-label.right
        div(data-i18n='was_defeated')=locals['was_defeated']
      div.result-radio.right
        input.right(type='radio' name='attr_right_result' value='loss')

