h1(data-i18n='skills') skills
each default_ability, skill in {'acrobatics':'dexterity','arcana':'intelligence','athletics':'strength','crafting':'intelligence','deception':'charisma','diplomacy':'charisma','intimidation':'charisma','medicine':'wisdom','nature':'wisdom','occultism':'intelligence','performance':'charisma','religion':'wisdom','society':'intelligence','stealth':'dexterity','survival':'wisdom','thievery':'dexterity'}
    .grid.display
        button.pictos.settings-button(data-i18n-title=`${skill}_settings` name=`act_toggle_${skill}` title=`${skill} settings` type='action') y
        button.h2(data-i18n=`${skill}` name=`roll_${skill.toUpperCase()}` type='roll' value=`@{whispertype} &{template:rolls} {{limit_height=@{roll_limit_height}}} {{charactername=@{character_name}}} {{header=^{${skill}}}} {{subheader=^{skill}}} {{roll01=[[1d20cs20cf1 + [@{${skill}_proficiency_display}] (@{${skill}})[@{text_modifier}] + (@{query_roll_bonus})[@{text_bonus}]]]}} {{roll01_type=skill}} {{notes_show=@{roll_show_notes}}} {{notes=@{${skill}_notes}}}`) #{skill}
        .circle
            span(name=`attr_${skill}` title=`@{${skill}}`)
        span.symbol =
        label.sublabel(data-i18n-title=`${skill}_ability_modifier` title=`${skill} ability modifier`)
            span.sublabel.darkred(data-i18n='mod') mod
            span(name=`attr_${skill}_ability` title=`@{${skill} ability}`)
        label.sublabel(data-i18n-title=`${skill}_proficiency` title=`${skill} proficiency`)
            span.sublabel.darkred(data-i18n='prof') prof
            span
                span.inline(name=`attr_${skill}_proficiency_display`)
                span.inline(name=`attr_${skill}_proficiency` title=`@{${skill}_proficiency}`)
        label.sublabel(data-i18n-title=`${skill}_item` title=`${skill} item`)
            span.sublabel.darkred(data-i18n='item') item
            span(name=`attr_${skill}_item` title=`@{${skill}_item}`)
        label.sublabel(data-i18n-title=`${skill}_temporary` title=`${skill} temporary`)
            span.sublabel.darkred(data-i18n='temp') temp
            span(name=`attr_${skill}_temporary` title=`@{${skill}_temporary}`)
        if (skill === 'acrobatics' || skill === 'athletics' || skill === 'stealth' || skill === 'thievery')
            label.sublabel(data-i18n-title=`${skill}_armor_pentalty` title=`${skill} armor pentalty`)
                span.sublabel.darkred(data-i18n='armor') armor
                span(name=`attr_${skill}_armor` title=`@{${skill}_armor}`)
    .grid.settings(class=`${skill}-settings`)
        .ability-select
            +ability_select(skill,default_ability)
            label(data-i18n-title=`${skill}_ability_input` title=`${skill} ability input`)
                input(data-i18n-placeholder='0' name=`attr_${skill}_ability` placeholder='0' spellcheck='false' title=`@{${skill}_ability}` type='text' value='')
        label(data-i18n-title=`${skill}_rank_select` title=`${skill} rank select`)
            span.sublabel.darkred(data-i18n='rank') rank
            +rank_select(skill)
        label(data-i18n-title=`${skill}_item` title=`${skill} item`)
            span.sublabel.darkred(data-i18n='item') item
            input(data-i18n-placeholder='0' name=`attr_${skill}_item` placeholder='0' spellcheck='false' title=`@{${skill}_item}` type='text' value='')
        label.sublabel(data-i18n-title=`${skill}_temporary` title=`${skill} temporary`)
            span.sublabel.darkred(data-i18n='temp') temp
            input(data-i18n-placeholder='0' name=`attr_${skill}_temporary` placeholder='0' spellcheck='false' title=`@{${skill}_temporary}` type='text' value='')
        if (skill === 'acrobatics' || skill === 'athletics' || skill === 'stealth' || skill === 'thievery')
            label.sublabel(data-i18n-title=`${skill}_armor_pentalty` title=`${skill} armor pentalty`)
                span.sublabel.darkred(data-i18n='armor') armor
                input(data-i18n-placeholder='0' name=`attr_${skill}_armor` placeholder='0' spellcheck='false' title=`@{${skill}_armor}` type='text' value='')
        label(data-i18n-title=`${skill}_notes` title=`${skill} notes`)
            span(data-i18n='notes')
            textarea(data-i18n-placeholder='notes' name=`attr_${skill}_notes` placeholder='notes' spellcheck='false' title=`@{${skill}_notes}` value='')

h2(data-i18n='lore') lore
fieldset(class='repeating_lore')
    input(name='attr_toggles' type='hidden' value='display,settings,')
    .grid.display
        button.pictos.settings-button(data-i18n-title=`lore_settings` name=`act_settings` title=`lore settings` type='action') y
        button.h2(name=`roll_LORE` type='roll' value=`@{whispertype} &{template:rolls} {{limit_height=@{roll_limit_height}}} {{charactername=@{character_name}}} {{header=@{lore_name}}} {{subheader=^{skill}}} {{roll01=[[1d20cs20cf1 + [@{lore_proficiency_display}] (@{lore})[@{text_modifier}] + (@{query_roll_bonus})[@{text_bonus}]]]}} {{roll01_type=skill}} {{notes_show=@{roll_show_notes}}} {{notes=@{lore_notes}}}`)
            span(name='attr_lore_name')
        input(name='attr_lore' type='hidden' value='0')
        .circle
            span(name=`attr_lore` title=`@{lore}`)
        span.symbol =
        label.sublabel(data-i18n-title=`lore_ability_modifier` title=`lore ability modifier`)
            span.sublabel.darkred(data-i18n='mod') mod
            span(name=`attr_lore_ability` title=`@{lore ability}`)
        label.sublabel(data-i18n-title=`lore_proficiency` title=`lore proficiency`)
            span.sublabel.darkred(data-i18n='prof') prof
            span
                input(name="attr_lore_proficiency_display" type="hidden" value="")
                span.inline(name="attr_lore_proficiency_display")
                span.inline(name="attr_lore_proficiency" title="@{lore_proficiency}")
        label.sublabel(data-i18n-title=`lore_item` title=`lore item`)
            span.sublabel.darkred(data-i18n='item') item
            span(name=`attr_lore_item` title=`@{lore_item}`)
        label.sublabel(data-i18n-title=`lore_temporary` title=`lore temporary`)
            span.sublabel.darkred(data-i18n='temp') temp
            span(name=`attr_lore_temporary` title=`@{lore_temporary}`)
    .grid.settings(class=`lore-settings`)
        label(data-i18n-title=`lore_name` title=`lore name`)
            span.sublabel.darkred(data-i18n='name') name
            input(data-i18n-placeholder='lore' name=`attr_lore_name` placeholder='lore' spellcheck='false' title=`@{lore_name}` type='text' value='')
        .ability-select
            +ability_select('lore','intelligence')
            label(data-i18n-title=`lore_ability_input` title=`lore ability input`)
                input(data-i18n-placeholder='0' name=`attr_lore_ability` placeholder='0' spellcheck='false' title=`@{lore_ability}` type='text' value='')
        label(data-i18n-title=`lore_rank_select` title=`lore rank select`)
            span.sublabel.darkred(data-i18n='rank') rank
            +rank_select('lore')
        label(data-i18n-title=`lore_item` title=`lore item`)
            span.sublabel.darkred(data-i18n='item') item
            input(data-i18n-placeholder='0' name=`attr_lore_item` placeholder='0' spellcheck='false' title=`@{lore_item}` type='text' value='')
        label.sublabel(data-i18n-title=`lore_temporary` title=`lore temporary`)
            span.sublabel.darkred(data-i18n='temp') temp
            input(data-i18n-placeholder='0' name=`attr_lore_temporary` placeholder='0' spellcheck='false' title=`@{lore_temporary}` type='text' value='')
        if (skill === 'acrobatics' || skill === 'athletics' || skill === 'stealth' || skill === 'thievery')
            label.sublabel(data-i18n-title=`lore_armor_pentalty` title=`lore armor pentalty`)
                span.sublabel.darkred(data-i18n='armor') armor
                input(data-i18n-placeholder='0' name=`attr_lore_armor` placeholder='0' spellcheck='false' title=`@{lore_armor}` type='text' value='')
        label(data-i18n-title=`lore_notes` title=`lore notes`)
            span(data-i18n='notes')
            textarea(data-i18n-placeholder='notes' name=`attr_lore_notes` placeholder='notes' spellcheck='false' title=`@{lore_notes}` value='')