
//- create [tag] with properties
//- [tag] is passed in the obj but removed to prevent adding it to the final html
//- [data_i18n] is shorthand for data-i18n
//- [data_i18n_title] allows for translated title on :hover
//- [name] is prepended with attr_
//- [title] defaults to the attribute @{...}
//- [locals] adds text programmatically instead of writing it yourself
mixin tag(obj)
  - const tag = obj.tag;
  - obj = handleTag(obj);
  #{tag}&attributes(obj)(class!=attributes.class)=locals[obj["data-i18n"]]
    block

mixin span(obj)
  - obj.tag = "span";
  +tag(obj)&attributes(attributes)
    block

mixin label(obj)
  - obj.tag = "label";
  +tag(obj)&attributes(attributes)
    block

mixin h1(obj)
  - obj.tag = "h1";
  +tag(obj)&attributes(attributes)
    block

mixin h2(obj)
  - obj.tag = "h2";
  +tag(obj)&attributes(attributes)
    block

mixin h3(obj)
  - obj.tag = "h3";
  +tag(obj)&attributes(attributes)
    block

mixin h4(obj)
  - obj.tag = "h4";
  +tag(obj)&attributes(attributes)
    block

mixin h5(obj)
  - obj.tag = "h5";
  +tag(obj)&attributes(attributes)
    block

mixin img(obj)
  - obj.tag = "img"
  - obj.title = obj.src;
  - obj.src = `${data.assets.folder}${data.assets[obj.src]}`;
  +tag(obj)&attributes(attributes)

mixin div(obj)
  - obj.tag = "div";
  +tag(obj)&attributes(attributes)
    block

mixin section(obj)
  - obj.tag = "section";
  +tag(obj)&attributes(attributes)
    block

mixin article(obj)
  - obj.tag = "article";
  +tag(obj)&attributes(attributes)
    block

mixin button(obj)
  if obj.type === "action"
    - obj.name = `act_${obj.name}`;
  else
    - obj.type = "roll";
    - obj.title = obj.title || `%{${obj.name}}`;
    - obj.name = `roll_${obj.name}`;
  if !obj["data-i18n"]
    - obj["data-i18n"] = obj.data_i18n ? obj.data_i18n : null;
    - obj.data_i18n = null;
  button&attributes(obj)(class!=attributes.class)
    block

mixin action(obj)
  - obj.type = "action";
  +button(obj)&attributes(attributes)
    block

mixin roll(obj)
  - obj.type = "roll";
  +button(obj)&attributes(attributes)
    block
