- const templatePrefix = "&{template:rolls}"

//- Luck is < 0 you can never crit hit & subtract Luck from every d20
//- Luck >= 1 crits add Luck to damage
mixin attributeRoll(name, attribute)
	button.text-center.uppercase(data-i18n=name name=`roll_${dashedName(attribute)}` type='roll' value!=`${templatePrefix} {{header=^{${attribute}}}} {{dice=[[1d20+@{${attribute}}]]}} `)

mixin rollButton(name, formula)
	button.text-capitalize(data-i18n=name name=`roll_${dashedName(name)}` type='roll' value!=`${templatePrefix} {{header=^{${name}}}} {{dice=[[1d20+${formula}]]}} {{description=@{description}}}`)

mixin repeatingRollButton(name, includeDescription = false)
	- const description = includeDescription ? "{{description=@{description}}" : ""
	button.text-left.ellipsis.font-weight-bold(name=`roll_${dashedName(name)}` type='roll' value!=`${templatePrefix} {{header=@{name}}} {{dice=[[1d20+@{attribute}+@{bonus}]]}} {${description}}}`)
		span(name='attr_name')

mixin repeatingChatIconButton(name)
	button.chat(name=`roll_${dashedName(name)}` type='roll' value!=`${templatePrefix} {{header=@{name}}} {{dice=@{description}}}`)
		span.pictos q

mixin repeatingChatButton(name)
	button.text-left.chat(name=`roll_${dashedName(name)}` type='roll' value!=`${templatePrefix} {{header=@{name}}} {{description=@{description}}}`)
		span(name='attr_name')
