mixin textInput(name)
	label(data-i18n-title=`enter ${name}` title=`enter ${name}`)
		input(class!=attributes.class data-i18n-placeholder=name name=`attr_${attrName(name)}` placeholder=name title=`@{${attrName(name)}}` type='text' value='')

mixin numberInput(name, defaultValue)
	- const value = defaultValue || 0
	label(data-i18n-title=`enter ${name}` title=`enter ${name}`)
		input(class!=attributes.class name=`attr_${attrName(name)}` title=`@{${attrName(name)}}` type='number' value=value)

mixin checkboxInput(name)
	label.styled-checkbox.grid(class!=attributes.class data-i18n-title=`toggle ${name}` title=`enter ${name}`)
		input(name=`attr_${attrName(name)}` title=`@{${attrName(name)}}` type='checkbox' value=name)
		span.pictos 3

//- p lowercase = pencil
mixin editToggle(name)
	- const attr = name ? `toggle_edit_${attrName(name)}` : 'toggle_edit'
	input.toggle.toggle-edit(name=`attr_${attr}` title=`edit toggle` type='checkbox' value='true' checked)
	span.pictos p

mixin collapseToggle(name)
	- const attr = name ? `toggle_collapse_${attrName(name)}` : 'toggle_collapse'
	input.toggle.toggle-collapse(name=`attr_${attr}` title=`collapse toggle` type='checkbox' value='true')
	span ^