mixin textInput(name, defaultValue)
	- const value = defaultValue || ''
	label(data-i18n-title=`enter ${name}` title=`enter ${name}`)
		input(class!=attributes.class data-i18n-placeholder=name name=`attr_${attrName(name)}` placeholder=name title=`@{${attrName(name)}}` type='text' value=value)

mixin numberInput(name, defaultValue)
	- const value = defaultValue || 0
	label(data-i18n-title=`enter ${name}` title=`enter ${name}`)
		input(class!=attributes.class name=`attr_${attrName(name)}` title=`@{${attrName(name)}}` type='number' value=value)

mixin checkboxInput(name)
	label.styled-checkbox.grid(class!=attributes.class data-i18n-title=`toggle ${name}` title=`enter ${name}`)
		input(name=`attr_${attrName(name)}` title=`@{${attrName(name)}}` type='checkbox' value=name)
		span.pictos 3

mixin numberInputWithMax(name, defaultValue)
	- const value = defaultValue || 0
	.grid.grid-flow-col.gap-2
		.grid.justify-center.items-center
			+numberInput(name, value)(class="text-center")
			+h3Header("current")
		.grid.justify-center.items-center
			+numberInput(`${name} max`, value)(class="text-center")
			+h3Header("max")
