mixin textInput(name)
	label(data-i18n-title=`enter ${name}` title=`enter ${name}`)
		input(data-i18n-placeholder=name name=`attr_${attrName(name)}` placeholder=name title=`@{${attrName(name)}}` type='text' value='')

mixin numberInput(name)
	label(data-i18n-title=`enter ${name}` title=`enter ${name}`)
		input(name=`attr_${attrName(name)}` title=`@{${attrName(name)}}` type='number' value='')

mixin checkboxInput(name)
	label.styled-checkbox.grid(data-i18n-title=`toggle ${name}` title=`enter ${name}`)
		input(name=`attr_${attrName(name)}` title=`@{${attrName(name)}}` type='checkbox' value=name)
		span.pictos 3