mixin textInput(name, defaultValue)
	- const value = defaultValue || ''
	label(data-i18n-title=`enter ${name}` title=`enter ${name}`)
		input(class!=attributes.class data-i18n-placeholder=name name=`attr_${attrName(name)}` placeholder=name title=`@{${attrName(name)}}` type='text' value=value)

mixin numberInput(name, defaultValue)
	- const value = defaultValue || 0
	label(data-i18n-title=`enter ${name}` title=`enter ${name}`)
		input(class!=attributes.class name=`attr_${attrName(name)}` title=`@{${attrName(name)}}` type='number' value=value)

mixin checkboxInput(name)
	label.styled-checkbox.grid(class!=attributes.class data-i18n-title=`toggle ${name}` title=`enter ${name}`)
		input(name=`attr_${attrName(name)}` title=`@{${attrName(name)}}` type='checkbox' value=name)
		span.pictos 3

mixin numberInputWithMax(name, defaultValue)
	- const value = defaultValue || 0
	.grid.grid-flow-col.gap-2
		.grid.justify-center.items-center
			+numberInput(name, value)(class="text-center")
			h3.text-center(data-i18n="current")
		.grid.justify-center.items-center
			+numberInput(`${name} max`, value)(class="text-center")
			h3.text-center(data-i18n="max")

//- p lowercase = pencil
mixin editToggle(name, checked = true)
	- const attr = name ? `toggle_edit_${attrName(name)}` : 'toggle_edit'
	input.toggle.toggle-edit(name=`attr_${attr}` title=`edit toggle` type='checkbox' value='true' checked=checked)
	span.pictos.lowercase p

mixin collapseToggle(name)
	- const attr = name ? `toggle_collapse_${attrName(name)}` : 'toggle_collapse'
	input.toggle.toggle-collapse(name=`attr_${attr}` title=`collapse toggle` type='checkbox' value='true')
	span.pictos.lowercase i

mixin favoriteToggle(name)
	- const attr = name ? `toggle_favorite_${attrName(name)}` : 'toggle_favorite'
	input.toggle.toggle-favorite(name=`attr_${attr}` title=`favorite toggle` type='checkbox' value='true')
	span.pictos.uppercase S

mixin settingsToggle(name)
	- const attr = name ? `toggle_${attrName(name)}` : 'toggle_favorite'
	input.toggle.toggle-settings(name=`attr_${attr}` title=`favorite toggle` type='checkbox' value='true')
	span.pictos.lowercase y