mixin repeatingSection(name, values)
	fieldset(class=`repeating_${attrName(name)}`)
		.grid.descriptor.relative.gap-1
			+editFlag()
			.grid.grid-flow-col.gap-2.custom-grid
				each val in values
					.grid
						span.display(name=`attr_${attrName(val)}`)
						.edit.grid.grid-flow-col.gap-2.col-auto-fr.items-center
							h4(data-i18n=val)
							+textInput(val)
			+repeatingChatButton("name")
			.grid.notes
				span.display.pl-4(name='attr_notes')
				+textarea('notes')

mixin repeatingList(name, values)
	.grid.double-border-2.rounded-md.content-start.p-2.repeating-container.relative(class=buttonName(name))
		+title(name)
		+subheaders(values)
		+repeatingSection(name, values)

mixin repeatingSkills(attribute, values)
	fieldset(class=`repeating_${attribute}_skills`)
		.grid.gap-1.custom-grid.relative
			.grid.grid-flow-col.gap-2
				+repeatingRollButton(`${attribute}_skill`)
				span.text-center(name="attr_bonus")
			+editFlag()
			.edit
				.grid.gap-2.col-auto-fr.items-center
					h4(data-i18n="name")
					+textInput("name")
				.grid.gap-2.col-auto-fr.items-center
					h4(data-i18n="category")
					+textInput("category")
				.grid.gap-2.col-auto-fr.items-center
					h4(data-i18n="bonus")
					+numberInput("bonus")
	