
//- p lowercase = pencil
mixin editToggle(name, checked = true)
	- const attr = name ? `toggle_edit_${attrName(name)}` : 'toggle_edit'
	input.toggle.toggle-edit(name=`attr_${attr}` title=`edit toggle` type='checkbox' value='true' checked=checked)
	span.pictos.lowercase p

mixin collapseToggle(name)
	- const attr = name ? `toggle_collapse_${attrName(name)}` : 'toggle_collapse'
	input.toggle.toggle-collapse(name=`attr_${attr}` title=`collapse toggle` type='checkbox' value='true')
	span.pictos.lowercase i

mixin favoriteToggle(name)
	- const attr = name ? `toggle_favorite_${attrName(name)}` : 'toggle_favorite'
	input.toggle.toggle-favorite(name=`attr_${attr}` title=`favorite toggle` type='checkbox' value='true')
	span.pictos.uppercase S

mixin settingsToggle(name)
	- const attr = name ? `toggle_${attrName(name)}` : 'toggle_favorite'
	input.toggle.toggle-settings(name=`attr_${attr}` title=`favorite toggle` type='checkbox' value='true')
	span.pictos.lowercase y