include ../../data/scroll-list
include ./mixins/move-builder

- var groupTypes = [  'adventure', 'legacy', 'combat', 'connection', 'fate', 'quest', 'recover', 'exploration', 'suffer', 'threshold' ]

input(type='radio' class='hide-element full-move-list' name='attr_move_view' value='1' checked)
.full-move-list.showhide
  
  //- List of Moves
  .move-container
    input(type='radio' class='hide-element' name='attr_selected_move')
    each group in groupTypes
      .move-group
        .move-group-title
          - var groupTitleValue = `move-group-title-${group}`
          h3(data-i18n=groupTitleValue)=translation[groupTitleValue]
        - var moveList = moves.Moves.filter(obj => { return obj.Category === translation[groupTitleValue] })
        each move in moveList
          .move-list
            +listButton(move)
            label.move
              input(type='radio' class='hide-element selected-move' name='attr_selected_move' value=move.Name)
              - var moveKey = `move-title-${move.Name.toLowerCase().replace(/\s/g, '-')}` 
              div.move-name(data-i18n=moveKey)=translation[moveKey]

//- Move Details
input(type='radio' class='hide-element move-preview' name='attr_move_view' value='2')
.move-preview.showhide
  .preview-bar
    .close-bar
      label.close-preview CLOSE PREVIEW
        input(type='checkbox' class='hide-element' name='attr_close_move_preview')
  .preview-container
    .move-scroll-list
      each group in groupTypes
        .move-group-scroll
          .move-group-title
            - var groupTitleValue = `move-group-title-${group}`
            h3(data-i18n=groupTitleValue)=translation[groupTitleValue]
          - var moveList = moves.Moves.filter(obj => { return obj.Category === translation[groupTitleValue] })
          each move in moveList
            .move-list
              label.move
                input(type='radio' class='hide-element' name='attr_selected_move' value=move.Name)
                - var moveKey = `move-title-${move.Name.toLowerCase().replace(/\s/g, '-')}` 
                div.move-name(data-i18n=moveKey)=translation[moveKey]
    
    //- Move Previews
    .move-preview-container
      each move in moves.Moves
        +movePreviewFactory(move)
