include ./data/list
include ./mixins/container

//- ## Search Bar
input(type='radio' class='sheet-hide sheet-full-move-list' name='attr_move_view' value='1' checked)
div.sheet-full-move-list.sheet-showhide
  div.sheet-search-bar
    input(type='text' class='sheet-search-bar' name='attr_move_search' placeholder='Search')
    label.sheet-clear-search CLEAR
      input(type='checkbox' class='sheet-hide' name='attr_clear_search')
  //- ## List of Moves
  div.sheet-move-container
    input(type='radio' class='sheet-hide' name='attr_selected_move')
    each group in moveGroups
      div.sheet-move-group
        div.sheet-move-group-title
          h3=group.title
        each move in group.moves
          div.sheet-move-list
            label.sheet-move
              input(type='radio' class='sheet-hide sheet-selected-move' name='attr_selected_move' value=move.value)
              input(type='checkbox' class='sheet-hide sheet-move-highlight' name=`attr_${move.value}_highlight`)
              div.sheet-move-name=move.name
//- ## Move Details
input(type='radio' class='sheet-hide sheet-move-preview' name='attr_move_view' value='2')
div.sheet-move-preview.sheet-showhide
  div.sheet-preview-bar
    div.sheet-search-preview-bar
      input(type='text' class='sheet-search-preview-bar' name='attr_move_search' placeholder='Search')
      label.sheet-clear-search CLEAR
        input(type='checkbox' class='sheet-hide' name='attr_clear_search')
    div.sheet-close-bar
      label.sheet-close-preview CLOSE PREVIEW
        input(type='checkbox' class='sheet-hide' name='attr_close_move_preview')
  div.sheet-preview-container
    div.sheet-move-scroll-list
      each group in moveGroups
        div.sheet-move-group-scroll
          div.sheet-move-group-title
            h3=group.title
          each move in group.moves
            div.sheet-move-list
              label.sheet-move
                input(type='radio' class='sheet-hide' name='attr_selected_move' value=move.value)
                input(type='checkbox' class='sheet-hide sheet-move-highlight' name=`attr_${move.value}_highlight`)
                div.sheet-move-name=move.name
    div.sheet-move-preview-container
      include ./content/advance
      include ./content/aid-your-ally
      include ./content/ask-the-oracle
      include ./content/battle
      include ./content/burn-momentum
      include ./content/check-your-gear
      include ./content/clash
      include ./content/companion-becomes-unconditional
      include ./content/compel
      include ./content/conditional-companion-abandons
      include ./content/conditional-companion-acts
      include ./content/delve-the-depths
      include ./content/discover-a-site
      include ./content/draw-the-circle
      include ./content/end-the-fight
      include ./content/endure-harm
      include ./content/endure-stress
      include ./content/enter-the-fray
      include ./content/escape-the-depths
      include ./content/face-a-setback
      include ./content/face-danger
      include ./content/face-death
      include ./content/face-desolation
      include ./content/find-an-opportunity
      include ./content/foe-inflicts-harm
      include ./content/forge-a-bond
      include ./content/forsake-your-vow
      include ./content/fulfill-your-vow
      include ./content/gather-information
      include ./content/heal
      include ./content/hearten
      include ./content/inflict-harm
      include ./content/learn-from-faults
      include ./content/locate-your-objective
      include ./content/make-an-effort
      include ./content/make-camp
      include ./content/manifest-insanity
      include ./content/not-assist-conditional-companion
      include ./content/order-conditional-companion
      include ./content/out-of-supply
      include ./content/patch-equipment
      include ./content/pay-the-price
      include ./content/reach-a-milestone
      include ./content/reach-your-destination
      include ./content/resupply
      include ./content/reveal-a-danger
      include ./content/secure-an-advantage
      include ./content/show-resilience
      include ./content/sojourn
      include ./content/strengthen-their-loyalty
      include ./content/strike
      include ./content/swear-an-iron-vow
      include ./content/take-a-downtime
      include ./content/take-conditional-companion
      include ./content/take-on-overload
      include ./content/test-their-loyalty
      include ./content/test-your-bond
      include ./content/trade
      include ./content/turn-the-tide
      include ./content/undertake-a-journey
      include ./content/write-your-epilogue
