//- TODO: Convert oracle moves to all use data json
include ../../data/group-list
include ../../data/move-list
include ./mixins/container

//- ## Search Bar
input(type='radio' class='sheet-hide sheet-full-move-list' name='attr_move_view' value='1' checked)
div.sheet-full-move-list.sheet-showhide
  div.sheet-search-bar
    input(type='text' class='sheet-search-bar' name='attr_move_search' placeholder='Search')
    label.sheet-clear-search CLEAR
      input(type='checkbox' class='sheet-hide' name='attr_clear_search')
  //- ## List of Moves
  div.sheet-move-container
    input(type='radio' class='sheet-hide' name='attr_selected_move')
    each group in moveGroups
      div.sheet-move-group
        div.sheet-move-group-title
          h3=group.title
        each move in group.moves
          div.sheet-move-list
            label.sheet-move
              input(type='radio' class='sheet-hide sheet-selected-move' name='attr_selected_move' value=move.value)
              input(type='checkbox' class='sheet-hide sheet-move-highlight' name=`attr_${move.value}_highlight`)
              div.sheet-move-name=move.name
//- ## Move Details
input(type='radio' class='sheet-hide sheet-move-preview' name='attr_move_view' value='2')
div.sheet-move-preview.sheet-showhide
  div.sheet-preview-bar
    div.sheet-search-preview-bar
      input(type='text' class='sheet-search-preview-bar' name='attr_move_search' placeholder='Search')
      label.sheet-clear-search CLEAR
        input(type='checkbox' class='sheet-hide' name='attr_clear_search')
    div.sheet-close-bar
      label.sheet-close-preview CLOSE PREVIEW
        input(type='checkbox' class='sheet-hide' name='attr_close_move_preview')
  div.sheet-preview-container
    div.sheet-move-scroll-list
      each group in moveGroups
        div.sheet-move-group-scroll
          div.sheet-move-group-title
            h3=group.title
          each move in group.moves
            div.sheet-move-list
              label.sheet-move
                input(type='radio' class='sheet-hide' name='attr_selected_move' value=move.value)
                input(type='checkbox' class='sheet-hide sheet-move-highlight' name=`attr_${move.value}_highlight`)
                div.sheet-move-name=move.name
    div.sheet-move-preview-container
      include ./content/advance
      +Advance(moveList.advance)
      include ./content/aid-your-ally
      +AidYourAlly(moveList.aid_your_ally)
      include ./content/ask-the-oracle
      +AskTheOracle(moveList.ask_the_oracle)
      include ./content/battle
      +Battle(moveList.battle)
      include ./content/burn-momentum
      +BurnMomentum(moveList.burn_momentum)
      include ./content/check-your-gear
      +CheckYourGear(moveList.check_your_gear)
      include ./content/clash
      +Clash(moveList.clash)
      include ./content/companion-becomes-unconditional
      +CompanionBecomesUnconditional(moveList.companion_becomes_unconditional)
      include ./content/compel
      +Compel(moveList.compel)
      include ./content/conditional-companion-abandons
      +ConditionalCompanionAbandons(moveList.conditional_companion_abandons)
      include ./content/conditional-companion-acts
      +ConditionalCompanionActs(moveList.conditional_companion_acts)
      include ./content/delve-the-depths
      +DelveTheDepths(moveList.delve_the_depths)
      include ./content/discover-a-site
      +DiscoverASite(moveList.discover_a_site)
      include ./content/draw-the-circle
      +DrawTheCircle(moveList.draw_the_circle)
      include ./content/end-the-fight
      +EndTheFight(moveList.end_the_fight)
      include ./content/endure-harm
      +EndureHarm(moveList.endure_harm)
      include ./content/endure-stress
      +EndureStress(moveList.endure_stress)
      include ./content/enter-the-fray
      +EnterTheFray(moveList.enter_the_fray)
      include ./content/escape-the-depths
      +EscapeTheDepths(moveList.escape_the_depths)
      include ./content/face-a-setback
      +FaceASetback(moveList.face_a_setback)
      include ./content/face-danger
      +FaceDanger(moveList.face_danger)
      include ./content/face-death
      +FaceDeath(moveList.face_death)
      include ./content/face-desolation
      +FaceDesolation(moveList.face_desolation)
      include ./content/find-an-opportunity
      +FindAnOpportunity(moveList.find_an_opportunity)
      include ./content/foe-inflicts-harm
      +FoeInflictsHarm(moveList.foe_inflicts_harm)
      include ./content/forge-a-bond
      +ForgeABond(moveList.forge_a_bond)
      include ./content/forsake-your-vow
      +ForsakeYourVow(moveList.forsake_your_vow)
      include ./content/fulfill-your-vow
      +FulfillYourVow(moveList.fulfill_your_vow)
      include ./content/gather-information
      +GatherInformation(moveList.gather_information)
      include ./content/heal
      +Heal(moveList.heal)
      include ./content/hearten
      +Hearten(moveList.hearten)
      include ./content/inflict-harm
      +InflictHarm(moveList.inflict_harm)
      include ./content/learn-from-faults
      +LearnFromFaults(moveList.learn_from_faults)
      include ./content/locate-your-objective
      +LocateYourObjective(moveList.locate_your_objective)
      include ./content/make-an-effort
      +MakeAnEffort(moveList.make_an_effort)
      include ./content/make-camp
      +MakeCamp(moveList.make_camp)
      include ./content/manifest-insanity
      +ManifestInsanity(moveList.manifest_insanity)
      include ./content/not-assist-conditional-companion
      +NotAssistConditionalCompanion(moveList.not_assist_conditional_companion)
      include ./content/order-conditional-companion
      +OrderConditionalCompanion(moveList.order_conditional_companion)
      include ./content/out-of-supply
      +OutOfSupply(moveList.out_of_supply)
      include ./content/patch-equipment
      +PatchEquipment(moveList.patch_equipment)
      include ./content/pay-the-price
      +PayThePrice(moveList.pay_the_price)
      include ./content/reach-a-milestone
      +ReachAMilestone(moveList.reach_a_milestone)
      include ./content/reach-your-destination
      +ReachYourDestination(moveList.reach_your_destination)
      include ./content/resupply
      +Resupply(moveList.resupply)
      include ./content/reveal-a-danger
      +RevealADanger(moveList.reveal_a_danger)
      include ./content/secure-an-advantage
      +SecureAnAdvantage(moveList.secure_an_advantage)
      include ./content/show-resilience
      +ShowResilience(moveList.show_resilience)
      include ./content/sojourn
      +Sojourn(moveList.sojourn)
      include ./content/strengthen-their-loyalty
      +StrengthenTheirLoyalty(moveList.strengthen_their_loyalty)
      include ./content/strike
      +Strike(moveList.strike)
      include ./content/swear-an-iron-vow
      +SwearAnIronVow(moveList.swear_an_iron_vow)
      include ./content/take-a-downtime
      +TakeADowntime(moveList.take_a_downtime)
      include ./content/take-conditional-companion
      +TakeConditionalCompanion(moveList.take_conditional_companion)
      include ./content/take-on-overload
      +TakeOnOverload(moveList.take_on_overload)
      include ./content/test-their-loyalty
      +TestTheirLoyalty(moveList.test_their_loyalty)
      include ./content/test-your-bond
      +TestYourBond(moveList.test_your_bond)
      include ./content/trade
      +Trade(moveList.trade)
      include ./content/turn-the-tide
      +TurnTheTide(moveList.turn_the_tide)
      include ./content/undertake-a-journey
      +UndertakeAJourney(moveList.undertake_a_journey)
      include ./content/write-your-epilogue
      +WriteYourEpilogue(moveList.write_your_epilogue)
