include ../../../data/stats
include ./rolls
include ./roll-shortcuts
include ../../assets/assets

mixin rollLabel
  label.roll-label
    span(data-i18n='roll-btn')=locals.translations['roll-btn']
    block

mixin rollListLabel
  label.roll-list-label
    span(data-i18n='roll-btn')=locals.translations['roll-btn']
    block

mixin rollLabelTable
  label.roll-label
    span(data-i18n='roll-table')=locals.translations['roll-table']
    block

mixin preview(move, misc)
  if misc.no_title
    div
  else
    .move-title.move-preview(data-i18n=move.title)=locals.translations[move.title]
  if move.roll
    .roll-viewer
      if move.progress
        +rollLabel
          +progressRoll(move, 'roll-show')
      else if move.oracle
        +rollLabel
          +oracleRoll(move, 'roll-show')
      else if move.rarity
        +rollLabel
          +rarityRoll(move, 'roll-show')
      else if move.owl
        +rollLabel
          +owlRoll(move, 'roll-show')
      else if move.discover_a_site
        +rollLabel
          +discoverASiteRoll(move, 'roll-show')
      else if move.delve_the_depths
        +rollLabel
          +delveTheDepthsRoll(move, 'roll-show')
      else
        +rollLabel
          +movesRoll(move, 'roll-show')
  .move-description
    block
  if move.delve_the_depths
    +rollLabelTable
      +delveTheDepthsTableRoll(move, 'hide-element')
  .oracle-footer.move-page-footer=move.page

mixin container(move, misc)
  if misc.visibility
    .move-visible
      +preview(move, misc)
        block
  else
    input(type='radio' name='attr_move_preview' class=`${move.class} hide-element` value=move.radio)
    div(class=`${move.class} showhide move-preview-withroll-container`)
      - var moveStats = move.class == 'companion-endure-harm' || move.class == 'swear-an-iron-vow' ? "@{heart}" : move.stat
      .move-roll-shortcuts-container
        if moveStats && move.roll && !move.rarity && !move.discover_a_site && !move.delve_the_depths
          - var rollableStats = [...stats, {lower: 'health', translationId: 'resource-health'}, {lower: 'spirit', translationId: 'resource-spirit'}, {lower: 'supply', translationId: 'resource-supply'}]
          each stat in rollableStats
            if moveStats.includes(`@{${stat.lower}}`)
              +rollStat(move, stat)
        if move.class != 'ask-the-oracle'
          +rollAskTheOracle()
        if move.class != 'pay-the-price'
          +rollPayThePrice()
      div
        +preview(move, misc)
          block

mixin listButton(move)
  if move.no_quick_roll
    |
  else
    .button-container
      if move.progress
        +progressRoll(move, 'roll-show')
      else if move.oracle
        +oracleRoll(move, 'roll-show')
      else if move.rarity
        +rarityRoll(move, 'roll-show')
      else if move.owl
        +owlRoll(move, 'roll-show')
      else if move.discover_a_site
        +discoverASiteRoll(move, 'roll-show')
      else
        +movesRoll(move, 'roll-show')
