include ../../../data/stats
include ./rolls
include ./roll-shortcuts

mixin rollLabel
  label.roll-label
    span(data-i18n='roll-btn')=locals.translations['roll-btn']
    block

mixin rollListLabel
  label.roll-list-label
    span(data-i18n='roll-btn')=locals.translations['roll-btn']
    block

mixin rollLabelTable
  label.roll-label
    span(data-i18n='roll-table')=locals.translations['roll-table']
    block

mixin preview(opts, misc)
  if misc.no_title
    div
  else
    div.move-title.move-preview(data-i18n=opts.title)=locals.translations[opts.title]
  if opts.roll
    div.roll-viewer
      if opts.progress
        +rollLabel
          +progressRoll(opts, 'roll-show')
      else if opts.oracle
        +rollLabel
          +oracleRoll(opts, 'roll-show')
      else if opts.rarity
        +rollLabel
          +rarityRoll(opts, 'roll-show')
      else if opts.owl
        +rollLabel
          +owlRoll(opts, 'roll-show')
      else if opts.discover_a_site
        +rollLabel
          +discoverASiteRoll(opts, 'roll-show')
      else if opts.delve_the_depths
        +rollLabel
          +delveTheDepthsRoll(opts, 'roll-show')
      else
        +rollLabel
          +movesRoll(opts, 'roll-show')
  .move-description
    block
  if opts.delve_the_depths
    +rollLabelTable
      +delveTheDepthsTableRoll(opts, 'hide-element')
  .oracle-footer.move-page-footer=opts.page

mixin container(opts, misc)
  if misc.visibility
    div.move-visible
      +preview(opts, misc)
        block
  else
    input(type='radio' name='attr_move_preview' class=`${opts.class} hide-element` value=opts.radio)
    div(class=`${opts.class} showhide move-preview-withroll-container`)
      - var moveStats = opts.class == 'companion-endure-harm' || opts.class == 'swear-an-iron-vow' ? "@{heart}" : opts.stat
      div.move-roll-shortcuts-container
        if moveStats && opts.roll && !opts.rarity && !opts.discover_a_site && !opts.delve_the_depths
          - var rollableStats = [...stats, {lower: 'health', translationId: 'resource-health'}, {lower: 'spirit', translationId: 'resource-spirit'}, {lower: 'supply', translationId: 'resource-supply'}]
          each stat in rollableStats
            if moveStats.includes(`@{${stat.lower}}`)
              +rollStat(opts, stat)
        if opts.class != 'ask-the-oracle'
          +rollAskTheOracle()
        if opts.class != 'pay-the-price'
          +rollPayThePrice()
      div
        +preview(opts, misc)
          block

mixin listButton(opts)
  if opts.no_quick_roll
    |
  else
    .button-container
      if opts.progress
        +progressRoll(opts, 'roll-show')
      else if opts.oracle
        +oracleRoll(opts, 'roll-show')
      else if opts.rarity
        +rarityRoll(opts, 'roll-show')
      else if opts.owl
        +owlRoll(opts, 'roll-show')
      else if opts.discover_a_site
        +discoverASiteRoll(opts, 'roll-show')
      else
        +movesRoll(opts, 'roll-show')
