mixin progressRoll(opts, visibility)
  button(
    type="roll"
    title=opts.title
    name=`roll_${opts.name}`
    class=visibility
    value=`&{template:ironsworn_progress} {{header=@{character_name}}} {{progress_name=${locals.translations[opts.title]}}} {{progress=[[?{Filled Progress|0}]]}} {{challenge1=[[d10]]}} {{challenge2=[[d10]]}}`
  )

mixin oracleRoll(opts, visibility)
  button(
    type="roll"
    title=opts.title
    name=`roll_${opts.name}`
    class=visibility
    value=`&{template:${opts.type}} {{header=${locals.translations[opts.title]}}} {{${opts.name}=[[d100]]}}`
  )

mixin discoverASiteRoll(opts, visibility)
  button(
    type="roll"
    title=opts.title
    name=`roll_${opts.name}`
    class=visibility
    value=`&{template:ironsworn_moves} {{header=${locals.translations[opts.title]}}} {{${opts.name}=[[2d10kl1]]}}`
  )

mixin rarityRoll(opts, visibility)
  button(
    type="roll"
    title=`${locals.translations[opts.title]} Move`
    class=visibility
    name=`roll_${opts.name}`
    value!=`&{template:ironsworn_moves} {{header=@{character_name}}} {{name=${locals.translations[opts.title]}}} {{rarityAction=[[d6+${opts.stat}+(?{Modifier|0})]]}} {{negate1=[[1+${opts.stat_repeat}+(?{Modifier|0})]]}} {{negate2=[[2+${opts.stat_repeat}+(?{Modifier|0})]]}} {{negate3=[[3+${opts.stat_repeat}+(?{Modifier|0})]]}} {{negate4=[[4+${opts.stat_repeat}+(?{Modifier|0})]]}} {{negate5=[[5+${opts.stat_repeat}+(?{Modifier|0})]]}} {{negate6=[[6+${opts.stat_repeat}+(?{Modifier|0})]]}} {{challenge1=[[d10]]}} {{challenge2=[[d10]]}} {{momentum=[[@{momentum}]]}} {{modifiers=[[${opts.stat_repeat}+(?{Modifier|0})]]}} {{add=[[(?{Modifier|0})]]}} {{stat=[[${opts.stat_repeat}]]}} {{rarityDie6=[[6+${opts.stat_repeat}+(?{Modifier|0})]]}} {{rarityDie5=[[5+${opts.stat_repeat}+(?{Modifier|0})]]}} {{rarityDie1=[[1+${opts.stat_repeat}+(?{Modifier|0})]]}}`
  )

mixin owlRoll(opts, visibility)
  button(
    type="roll"
    title=`${locals.translations[opts.title]} Move`
    class=visibility
    name=`roll_${opts.name}`
    value!=`&{template:ironsworn_moves} {{header=@{character_name}}} {{name=${locals.translations[opts.title]}}} {{action=[[{d6+${opts.stat}+(?{Modifier|0}),{10}}kl1]]}} {{owl=[[?{Owl Companion|No&#44;0|Yes&#44;?{Owl's Health&amp;#124;0&amp;#125;&#125;]]}} {{negate1=[[1+${opts.stat_repeat}+(?{Modifier|0})]]}} {{negate2=[[2+${opts.stat_repeat}+(?{Modifier|0})]]}} {{negate3=[[3+${opts.stat_repeat}+(?{Modifier|0})]]}} {{negate4=[[4+${opts.stat_repeat}+(?{Modifier|0})]]}} {{negate5=[[5+${opts.stat_repeat}+(?{Modifier|0})]]}} {{negate6=[[6+${opts.stat_repeat}+(?{Modifier|0})]]}} {{challenge1=[[d10]]}} {{challenge2=[[d10]]}} {{momentum=[[@{momentum}+(?{Owl Companion})]]}} {{modifiers=[[${opts.stat_repeat}+(?{Modifier|0})]]}} {{add=[[(?{Modifier|0})]]}} {{stat=[[${opts.stat_repeat}]]}}`
  )

mixin delveTheDepthsRoll(opts, visibility)
  button(
    type="roll"
    title=`${locals.translations[opts.title]} Move`
    class=visibility
    name=`roll_${opts.name}`
    value!=`&{template:ironsworn_moves} {{header=@{character_name}}} {{name=${locals.translations[opts.title]}}} {{delveTheDepths=[[{d6+${opts.stat}+(?{Modifier|0}),{10}}kl1]]}} {{negate1=[[1+${opts.stat_repeat}+(?{Modifier|0})]]}} {{negate2=[[2+${opts.stat_repeat}+(?{Modifier|0})]]}} {{negate3=[[3+${opts.stat_repeat}+(?{Modifier|0})]]}} {{negate4=[[4+${opts.stat_repeat}+(?{Modifier|0})]]}} {{negate5=[[5+${opts.stat_repeat}+(?{Modifier|0})]]}} {{negate6=[[6+${opts.stat_repeat}+(?{Modifier|0})]]}} {{challenge1=[[d10]]}} {{challenge2=[[d10]]}} {{momentum=[[@{momentum}]]}} {{modifiers=[[${opts.stat_repeat}+(?{Modifier|0})]]}} {{add=[[(?{Modifier|0})]]}} {{stat=[[${opts.stat_repeat}]]}} {{revealADangerButton=[Reveal A Danger](~@{character_name}|revealADanger_oracle)}} {{findAnOpportunityButton=[Find An Opportunity](~@{character_name}|findAnOpportunity_oracle)}} {{delveTheDepthsTableButton=[Roll on the Table](~@{character_name}|delveTheDepthsTableRoll)}}`
  )

mixin delveTheDepthsTableRoll(opts, visibility)
  button(
    type="roll"
    title=`${locals.translations[opts.title]} Move`
    class=visibility
    name=`roll_${opts.name}TableRoll`
    value!=`&{template:ironsworn_oracles} {{header=${locals.translations[opts.title]}}} {{delveTheDepthsTableRoll=[[d100]]}} {{statValue=[[?{Stat|Edge,1|Shadow,2|Wits,3}]]}}`
  )

mixin movesRoll(opts, visibility)
  button(
    type="roll"
    title=`${locals.translations[opts.title]} Move`
    class=visibility
    name=`roll_${opts.name}`
    value!=`&{template:ironsworn_moves} {{header=@{character_name}}} {{name=${locals.translations[opts.title]}}} {{action=[[{d6+${opts.stat}+(?{Modifier|0}),{10}}kl1]]}} {{negate1=[[1+${opts.stat_repeat}+(?{Modifier|0})]]}} {{negate2=[[2+${opts.stat_repeat}+(?{Modifier|0})]]}} {{negate3=[[3+${opts.stat_repeat}+(?{Modifier|0})]]}} {{negate4=[[4+${opts.stat_repeat}+(?{Modifier|0})]]}} {{negate5=[[5+${opts.stat_repeat}+(?{Modifier|0})]]}} {{negate6=[[6+${opts.stat_repeat}+(?{Modifier|0})]]}} {{challenge1=[[d10]]}} {{challenge2=[[d10]]}} {{momentum=[[@{momentum}]]}} {{modifiers=[[${opts.stat_repeat}+(?{Modifier|0})]]}} {{add=[[(?{Modifier|0})]]}} {{stat=[[${opts.stat_repeat}]]}}`
  )

mixin rollLabel
  label.roll-label Roll
    block

mixin rollListLabel
  label.roll-list-label Roll
    block

mixin rollLabelTable
  label.roll-label Roll on the Table
    block

mixin preview(opts, misc)
  if misc.no_title
    div
  else
    div.move-title.move-preview(data-i18n=opts.title)=locals.translations[opts.title]
  if opts.roll
    div.roll-viewer
      if opts.progress
        +rollLabel
          +progressRoll(opts, 'hide-element')
      else if opts.oracle
        +rollLabel
          +oracleRoll(opts, 'hide-element')
      else if opts.rarity
        +rollLabel
          +rarityRoll(opts, 'hide-element')
      else if opts.owl
        +rollLabel
          +owlRoll(opts, 'hide-element')
      else if opts.discover_a_site
        +rollLabel
          +discoverASiteRoll(opts, 'hide-element')
      else if opts.delve_the_depths
        +rollLabel
          +delveTheDepthsRoll(opts, 'hide-element')
      else
        +rollLabel
          +movesRoll(opts, 'hide-element')
  .move-description
    block
  if opts.delve_the_depths
    +rollLabelTable
      +delveTheDepthsTableRoll(opts, 'hide-element')
  .oracle-footer.move-page-footer=opts.page

mixin container(opts, misc)
  if misc.visibility
    div.move-visible
      +preview(opts, misc)
        block
  else
    input(type='radio' name='attr_move_preview' class=`${opts.class} hide-element` value=opts.radio)
    div(class=`${opts.class} showhide`)
      +preview(opts, misc)
        block

mixin listButton(opts)
  if opts.no_quick_roll
    |
  else
    .button-container
      if opts.progress
        +progressRoll(opts, 'roll-show')
      else if opts.oracle
        +oracleRoll(opts, 'roll-show')
      else if opts.rarity
        +rarityRoll(opts, 'roll-show')
      else if opts.owl
        +owlRoll(opts, 'roll-show')
      else if opts.discover_a_site
        +discoverASiteRoll(opts, 'roll-show')
      else
        +movesRoll(opts, 'roll-show')