mixin oracleTable(oracle, system, key)
  - var header = oracle.name.replace(/_/g, ' ')
  div(class=`${oracle.class}`)
    label.roll-label.embedded-btn Roll Oracle
      button.hide-element(
        type='roll'
        title=`@{roll_${oracle.roll_id}_oracle}`
        name=`roll_${oracle.roll_id}_oracle`
        value=`&{template:${system}_oracles} {{header=${header}}} {{${key}${oracle.roll_id}=[[${oracle.dice}]]}}`
        )
    .oracle-table 
      each row in oracle.rows
        .oracle-row 
          span.oracle-roll=row.roll
          span.oracle-result!=row.result