mixin oracleTable(oracle, move, key)
  div(class=`${oracle.class}`)
    label.roll-label.embedded-btn
      span(data-i18n='roll-oracle')=locals.translations['roll-oracle']
      button.hide-element(
        type='roll'
        title=`@{roll_${oracle.roll_id}_oracle}`
        name=`roll_${oracle.roll_id}_oracle`
        value=`&{template:moves_oracles} {{header=^{${move.title}}}} {{${key}${oracle.roll_id}=[[${oracle.dice}]]}}`
        )
    .oracle-table
      each row, index in oracle.rows
        .oracle-row
          span.oracle-roll=row.roll
          span.oracle-result(data-i18n=`${key}${oracle.roll_id}-${index}`)!=locals.translations[`${key}${oracle.roll_id}-${index}`]
