mixin rollStat(move, stat)
  div.move-roll-stat-container
    h3.move-roll-stat-title!=`&nbsp;${stat.lower}&nbsp;`
    +rollStatModifier(0, move, stat)
    +rollStatModifier(1, move, stat)
    +rollStatModifier(2, move, stat)

mixin rollStatModifier(modifier, move, stat)
  label(class=`move-roll-stat-modifier move-roll-stat-modifier${modifier}`)
    if modifier == 0
      span(name=`attr_${stat.lower}`)
    else
      div= `+${modifier}`
    button(
      type='roll'
      class='hide-element'
      title=`Roll +${stat.lower.toUpperCase()}`
      name=`roll${stat.lower.toUpperCase()}`
      value=`&{template:ironsworn_moves} {{header=@{character_name}}} {{name=${locals.translations[move.title]}}} {{action=[[{d6+@{${stat.lower}}+${modifier},{10}}kl1]]}} {{negate1=[[1+@{${stat.lower}}+${modifier}]]}} {{negate2=[[2+@{${stat.lower}}+${modifier}]]}} {{negate3=[[3+@{${stat.lower}}+${modifier}]]}} {{negate4=[[4+@{${stat.lower}}+${modifier}]]}} {{negate5=[[5+@{${stat.lower}}+${modifier}]]}} {{negate6=[[6+@{${stat.lower}}+${modifier}]]}} {{challenge1=[[d10]]}} {{challenge2=[[d10]]}} {{momentum=[[@{momentum}]]}} {{modifiers=[[@{${stat.lower}}+${modifier}]]}} {{add=[[${modifier}]]}} {{stat=[[@{${stat.lower}}]]}}`
    )
