mixin progressRoll(opts, visibility)
  button(
    type="roll"
    title=locals.translations[opts.title]
    name=`roll_${opts.name}`
    class=visibility
    value=`&{template:ironsworn_progress} {{header=^{${opts.title}}}} {{progress_name=@{character_name}}} {{progress=[[?{Filled Progress|0}]]}} {{challenge1=[[d10]]}} {{challenge2=[[d10]]}}`
  )

mixin oracleRoll(opts, visibility)
  button(
    type="roll"
    title=locals.translations[opts.title]
    name=`roll_${opts.name}`
    class=visibility
    value=`&{template:${opts.type}} {{header=^{${opts.title}}}} {{${opts.name}=[[d100]]}}`
  )

mixin discoverASiteRoll(opts, visibility)
  button(
    type="roll"
    title=opts.title
    name=`roll_${opts.name}`
    class=visibility
    value=`&{template:ironsworn_moves} {{header=^{${opts.title}}}} {{${opts.name}=[[2d10kl1]]}}`
  )

mixin rarityRoll(opts, visibility)
  button(
    type="roll"
    title=`${locals.translations[opts.title]} Move`
    class=visibility
    name=`roll_${opts.name}`
    value!=`&{template:ironsworn_moves} {{header=^{${opts.title}}}} {{name=@{character_name}}} {{rarityAction=[[d6+${opts.stat}+(?{Modifier|0})]]}} {{negate1=[[1+${opts.stat_repeat}+(?{Modifier|0})]]}} {{negate2=[[2+${opts.stat_repeat}+(?{Modifier|0})]]}} {{negate3=[[3+${opts.stat_repeat}+(?{Modifier|0})]]}} {{negate4=[[4+${opts.stat_repeat}+(?{Modifier|0})]]}} {{negate5=[[5+${opts.stat_repeat}+(?{Modifier|0})]]}} {{negate6=[[6+${opts.stat_repeat}+(?{Modifier|0})]]}} {{challenge1=[[d10]]}} {{challenge2=[[d10]]}} {{momentum=[[@{momentum}]]}} {{modifiers=[[${opts.stat_repeat}+(?{Modifier|0})]]}} {{add=[[(?{Modifier|0})]]}} {{stat=[[${opts.stat_repeat}]]}} {{rarityDie6=[[6+${opts.stat_repeat}+(?{Modifier|0})]]}} {{rarityDie5=[[5+${opts.stat_repeat}+(?{Modifier|0})]]}} {{rarityDie1=[[1+${opts.stat_repeat}+(?{Modifier|0})]]}}`
  )

mixin owlRoll(opts, visibility)
  button(
    type="roll"
    title=`${locals.translations[opts.title]} Move`
    class=visibility
    name=`roll_${opts.name}`
    value!=`&{template:ironsworn_moves} {{header=^{${opts.title}}}} {{name=@{character_name}}} {{action=[[{d6+${opts.stat}+(?{Modifier|0}),{10}}kl1]]}} {{owl=[[?{Owl Companion|No&#44;0|Yes&#44;?{Owl's Health&amp;#124;0&amp;#125;&#125;]]}} {{negate1=[[1+${opts.stat_repeat}+(?{Modifier|0})]]}} {{negate2=[[2+${opts.stat_repeat}+(?{Modifier|0})]]}} {{negate3=[[3+${opts.stat_repeat}+(?{Modifier|0})]]}} {{negate4=[[4+${opts.stat_repeat}+(?{Modifier|0})]]}} {{negate5=[[5+${opts.stat_repeat}+(?{Modifier|0})]]}} {{negate6=[[6+${opts.stat_repeat}+(?{Modifier|0})]]}} {{challenge1=[[d10]]}} {{challenge2=[[d10]]}} {{momentum=[[@{momentum}+(?{Owl Companion})]]}} {{modifiers=[[${opts.stat_repeat}+(?{Modifier|0})]]}} {{add=[[(?{Modifier|0})]]}} {{stat=[[${opts.stat_repeat}]]}}`
  )

mixin delveTheDepthsRoll(opts, visibility)
  button(
    type="roll"
    title=`${locals.translations[opts.title]} Move`
    class=visibility
    name=`roll_${opts.name}`
    value!=`&{template:ironsworn_moves} {{header=^{${opts.title}}}} {{name=@{character_name}}} {{delveTheDepths=[[{d6+${opts.stat}+(?{Modifier|0}),{10}}kl1]]}} {{negate1=[[1+${opts.stat_repeat}+(?{Modifier|0})]]}} {{negate2=[[2+${opts.stat_repeat}+(?{Modifier|0})]]}} {{negate3=[[3+${opts.stat_repeat}+(?{Modifier|0})]]}} {{negate4=[[4+${opts.stat_repeat}+(?{Modifier|0})]]}} {{negate5=[[5+${opts.stat_repeat}+(?{Modifier|0})]]}} {{negate6=[[6+${opts.stat_repeat}+(?{Modifier|0})]]}} {{challenge1=[[d10]]}} {{challenge2=[[d10]]}} {{momentum=[[@{momentum}]]}} {{modifiers=[[${opts.stat_repeat}+(?{Modifier|0})]]}} {{add=[[(?{Modifier|0})]]}} {{stat=[[${opts.stat_repeat}]]}} {{revealADangerButton=[Reveal A Danger](~@{character_name}|revealADanger_oracle)}} {{findAnOpportunityButton=[Find An Opportunity](~@{character_name}|findAnOpportunity_oracle)}} {{delveTheDepthsTableButton=[Roll on the Table](~@{character_name}|delveTheDepthsTableRoll)}}`
  )

mixin delveTheDepthsTableRoll(opts, visibility)
  button(
    type="roll"
    title=`${locals.translations[opts.title]} Move`
    class=visibility
    name=`roll_${opts.name}TableRoll`
    value!=`&{template:ironsworn_oracles} {{header=^{${opts.title}}}} {{delveTheDepthsTableRoll=[[d100]]}} {{statValue=[[?{Stat|Edge,1|Shadow,2|Wits,3}]]}}`
  )

mixin movesRoll(opts, visibility)
  button(
    type="roll"
    title=`${locals.translations[opts.title]} Move`
    class=visibility
    name=`roll_${opts.name}`
    value!=`&{template:ironsworn_moves} {{header=^{${opts.title}}}} {{name=@{character_name}}} {{action=[[{d6+${opts.stat}+(?{Modifier|0}),{10}}kl1]]}} {{negate1=[[1+${opts.stat_repeat}+(?{Modifier|0})]]}} {{negate2=[[2+${opts.stat_repeat}+(?{Modifier|0})]]}} {{negate3=[[3+${opts.stat_repeat}+(?{Modifier|0})]]}} {{negate4=[[4+${opts.stat_repeat}+(?{Modifier|0})]]}} {{negate5=[[5+${opts.stat_repeat}+(?{Modifier|0})]]}} {{negate6=[[6+${opts.stat_repeat}+(?{Modifier|0})]]}} {{challenge1=[[d10]]}} {{challenge2=[[d10]]}} {{momentum=[[@{momentum}]]}} {{modifiers=[[${opts.stat_repeat}+(?{Modifier|0})]]}} {{add=[[(?{Modifier|0})]]}} {{stat=[[${opts.stat_repeat}]]}}`
  )
