mixin oracleTable(group, type, key)
  .move-sub-nav
    each oracle, index in group.oracles
      label.btn.move-nav-child
        input(type='radio' name=`attr_${group.id}_button` class='hide table-btn' value=index)
        .move-nav-content=oracle.name
  each oracle, index in group.oracles
    input(type='radio' name=`attr_${group.id}_tables` class=`${oracle.class} hide` value=index)
    div(class=`${oracle.class} showhide`)
      label.sheet-roll-label.sheet-embedded-btn Roll Oracle
        button.sheet-hide(
          type='roll'
          title=`@{roll_${group.id}_oracle}`
          name=`roll_${group.id}_oracle`
          value=`&{template:${type}_oracles} {{header=${oracle.name}}} {{${oracle.roll_id}=[[${oracle.dice}]]}}`
          )
      .sheet-oracle-table 
        each row in oracle.rows
          .oracle-row 
            span.sheet-oracle-roll=row.roll
            span.sheet-oracle-result!=row.result