mixin characteristic-display(name, attr) 
    label.kob-characteristic(class=`kob-characteristic--${attr}`)
        strong.kob-characteristic__label(data-i18n=name)=name
        input.kob-characteristic__input(name=`attr_${attr}`, type="text")

mixin select-display(name, attr, options) 
    label.kob-characteristic(class=`kob-characteristic--${attr}`)
        strong.kob-characteristic__label(data-i18n=name)=name
        select.kob-characteristic__select(name=`attr_${attr}`, type="text")
            each option in options
                - const val = option.toLowerCase();
                option(data-i18n=option, value=val)=option

mixin stat-display(name, attr)
    - 
        const roll = [
            `&{template:kobrooms}`,
            `{{name=${name}}}`,
            `{{character_name=@{character_name}}}`,
            `{{roll=[[1@{${attr}}!+?{Bonus|Stat,@{${attr}_stat}|Magic,@{${attr}_magic}|None,0}+?{Bonuses / Penalties|0}]]}}`,
        ].join(" ");
    .kob-stat
        button.kob-stat__button(data-i18n=name, name=`roll_${attr}`, type="roll", value=roll)=name
        .kob-stat__wrapper
            select.kob-stat__select(name=`attr_${attr}`)
                +dice-select()
            label.kob-stat__label
                input.kob-stat__input(name=`attr_${attr}_stat`, type="text", value="0")
                span.kob-stat__tag(data-i18n="Stat") Stat
            label.kob-stat__label
                input.kob-stat__input(name=`attr_${attr}_magic`, type="text", value="0")
                span.kob-stat__tag(data-i18n="Magic") Magic

mixin dice-select(selected)
    - const dice = ["d4", "d6", "d8", "d10", "d12", "d20"];
    each die in dice
        option(data-i18n=die value=die selected=(die == selected))=die