.translations
  - const points = Array.from(Array(5).keys(), (i) => i + 1);
  each point in points
    span.translation(data-i18n=`style_${point}`)= `${point} style`
    span.translation(data-i18n=`style_${point}_short`)= `${point}s`
    span.translation(data-i18n=`trouble_${point}`)= `${point} trouble`
    span.translation(data-i18n=`trouble_${point}_short`)= `${point}t`

  //- playbook personalities
  each personality in data.translation.personalities
    each translation in Object.entries(personality)
      - const [key, text] = translation;
      span.translation(data-i18n=key)= text

  //- signatures
  each signature in data.translation.signatures
    each translation in Object.entries(signature)
      - const [key, text] = translation;
      span.translation(data-i18n=key)= text

  //- gear
  each translation in Object.entries(data.translation.gear)
    - const [key, text] = translation;
    span.translation(data-i18n=key)= text

  //- factions
  each translation in Object.entries(data.translation.factions)
    - const [key, text] = translation;
    span.translation(data-i18n=key)= text
