include ./container
include ./oracle-table

mixin movePreviewFactory(move, options)
  +container(move, options)
    .rules-text!=move.Text
    if move.Oracle
      .move-oracle-container
        if move.Name === 'Ask the Oracle'
          //- TODO: resolve this so it pulls AtA properly
        else
          - var singleOracle = oracles.find(group => { return group.Name === 'Move' }).Oracles.find(oracle => { return oracle.Name === move.Name })
          +oracleTable(singleOracle)

mixin preview(move, options)
  if options.no_title
    div
  else
    div.move-title.move-preview=move.Name
  - const statCheck = move.Triggers.find(trigger => { return trigger["Stat Options"] })
  if move['Progress Move']
    +rollLabel
      +progressRoll(move, 'hide-element')
  else if statCheck
    +rollLabel
      +movesRoll(move, 'hide-element')
  .move-description
    block
  .oracle-footer.move-page-footer=move.page

mixin container(move, options = false)
  if options.visibility
    div.move-visible
      +preview(move, options)
        block
  else
    input(type='radio' name='attr_move_preview' class=`${move.id} hide-element` value=move.Name)
    div(class=`${move.id} showhide`)
      +preview(move, options)
        block