include ./container
include ./oracle-table

mixin movePreviewFactory(move, options)
  +container(move, options)
    p!=move.Text
    if move.Oracle
      .move-oracle-container
        if move.Name === 'Ask the Oracle'
          - var multiOracles = oracles.find(group => { return group.Name === move.Name }).Oracles
          each oracle in multiOracles
            +oracleTable(oracle, 'ask-the-oracle')
        else
          - var singleOracle = oracles.find(group => { return group.Name === 'Move' }).Oracles.find(oracle => { return oracle.Name === move.Name })
          +oracleTable(singleOracle)

mixin preview(move, options)
  if options.no_title
    div
  else
    div.move-title.move-preview=move.Name
  - const statCheck = move.Triggers.find(trigger => { return trigger.Stat })
  if move['Progress Move']
    +rollLabel
      +progressRoll(move, 'hide-element')
  else if statCheck
    +rollLabel
      +movesRoll(move, 'hide-element')
  .move-description
    block
  .oracle-footer.move-page-footer=move.page

mixin container(move, options = false)
  - var formattedName = move.Name.replace(/\s/g, '-').toLowerCase()
  if options.visibility
    div.move-visible
      +preview(move, options)
        block
  else
    input(type='radio' name='attr_move_preview' class=`${formattedName} hide-element` value=move.Name)
    div(class=`${formattedName} showhide`)
      +preview(move, options)
        block