mixin table(table)
  .oracle-table 
    each row, index in table.Table
      .oracle-row
        - const initChance = (index === 0) ? row.Chance - (row.Chance - 1) : table.Table[index - 1].Chance + 1
        - const finalChance = row.Chance
        - const chance = `${initChance}-${finalChance}`
        span.oracle-roll=chance
        span.oracle-result=row.Description

mixin oracleMultipleTableFactory(oracle, group)
  - const id = `${group}-${oracle.Name.toLowerCase().replace(/\s/g, '-')}`
  - const options = oracle.Tables.map((obj, index) => { return `${obj['Display name']},${index}` })
  - const rollQuery = `{{tableChoice=[[(?{Choose Table|${options.join('|')}})]]}}`
  div(class=`${id}`)
    label.roll-label.embedded-btn=oracle.Name
      button.hide-element(
        type='roll'
        title=`@{roll_${id}_oracle}`
        name=`roll_${id}_oracle`
        value=`&{template:starforged_oracles} ${rollQuery} {{header=${oracle.Name}}} {{${id}=[[d100]]}}`
      )
    each table in oracle.Tables
      .oracle-subtitle=table['Display name']
      +table(table)

mixin oracleTableFactory(oracle, group)
  - const id = `${group}-${oracle.Name.toLowerCase().replace(/\s/g, '-')}`
  div(class=`${id}`)
    label.roll-label.embedded-btn=`${oracle.Name} Oracle`
      button.hide-element(
        type='roll'
        title=`@{roll_${id}_oracle}`
        name=`roll_${id}_oracle`
        value=`&{template:starforged_oracles} {{header=${oracle.Name}}} {{${id}=[[d100]]}}`
      )
    +table(oracle)

mixin oracleTable(oracle, group = 'move')
  if oracle.Tables
    +oracleMultipleTableFactory(oracle, group)
  else
    +oracleTableFactory(oracle, group)