input.sheet-flag.sheet-modal-flag(
  value="0" 
  name="attr_show_roll_modal" 
  type="hidden"
  )
#complex-roll-modal.sheet-complex-roll-modal.sheet-hidden
  input.sheet-close-complex-modal(
    name="attr_close_complex_modal" 
    type="checkbox"
    )
  span
  .sheet-header
    span
      span(name="attr_complex_trigger_display")
      |  Check
  .sheet-roll-obstacle
    .sheet-column-3
      span.sheet-font-bigger.sheet-bold Obstacle Type
      .sheet-row.sheet-check-container
        input.sheet-underlined(
          checked="" 
          value="independent" 
          name="attr_ob_type" 
          type="radio"
          )
        span
        span.sheet-font-small.sheet-bold  Independent
      .sheet-row.sheet-check-container
        input.sheet-underlined(
          value="versus" 
          name="attr_ob_type" 
          type="radio"
          )
        span
        span.sheet-font-small.sheet-bold  Versus
      .sheet-row.sheet-check-container
        input.sheet-underlined(
          value="conflict" 
          name="attr_ob_type" 
          type="radio"
          )
        span
        span.sheet-font-small.sheet-bold  Disposition
      .sheet-row.sheet-check-container
        input.sheet-underlined(
          value="simple" 
          name="attr_ob_type" 
          type="radio"
          )
        span
        span.sheet-font-small.sheet-bold  Simple
    .sheet-column-3
      span.sheet-font-bigger.sheet-bold You're Rolling
      input.char-sheet.sheet-ob-input.sheet-rolling(
        value="@{bl_prefix}@{complex_trigger_mod}@{complex_conditions_modifier}@{complex_mods}@{bl_suffix}" 
        disabled="true" 
        name="attr_complex_rolling" 
        type="number"
        )
    .sheet-column-3
      input.char-sheet.sheet-flag.sheet-ob-flag(
        value="independent" 
        name="attr_ob_type" 
        type="hidden"
        )
      span.sheet-font-bigger.sheet-bold.sheet-hidden.sheet-independent.sheet-versus Against
      span.sheet-font-bigger.sheet-bold.sheet-hidden.sheet-conflict Disposition
      span.sheet-font-small.sheet-bold.sheet-hidden.sheet-independent Obstacle #
      span.sheet-font-small.sheet-bold.sheet-hidden.sheet-versus Opponent's # of Dice
      .sheet-font-small.sheet-bold.sheet-hidden.sheet-conflict.sheet-relative.sheet-disposition-type
        .sheet-relative
          input.sheet-underlined(
            checked="" 
            value="@{will}" 
            name="attr_success_mod_base" 
            type="radio"
            )
          span
          span Will
        .sheet-relative
          input.sheet-underlined(
            value="@{health}" 
            name="attr_success_mod_base" 
            type="radio"
            )
          span
          span Health
        .sheet-relative
          input.sheet-underlined(
            value="@{nature}" 
            name="attr_success_mod_base" 
            type="radio"
            )
          span
          span Nature
        .sheet-relative
          select.sheet-disposition-subtype(name="attr_conflict_sub_type")
            option(value="{{might=@{might}}} ") Might
            option(value="{{precedence=@{precedence}}} ") Precedence
            option(value=" ") Neither
      input.char-sheet.sheet-hidden.sheet-independent.sheet-versus.sheet-ob-input(
        min="0" 
        value="1" 
        name="attr_ob" 
        type="number"
        )
      input.char-sheet.sheet-hidden.sheet-conflict.sheet-ob-input(
        value="@{success_mod_base}+@{success_mod}" 
        disabled="true" 
        name="attr_complex_successes" 
        type="number"
        )
      button.sheet-complex-roll-button(
        value="&{template:complex} {{roll_name=@{complex_trigger_display}}} {{number_of_dice=[[@{complex_rolling}]]}} {{result=[[[[@{complex_rolling}]]d6>4]]}} @{roll_template_conditions} @{roll_template_complex_mods} @{ob_type_template} {{ob=[[@{ob}@{complex_ob_formula}]]}} @{success_mod_rolltemplate} {{success_mod=@{success_mod}}} @{conflict_sub_type} {{character=@{character_name}}}" 
        name="roll_complex" 
        type="roll"
        )
        span.sheet-handwritten Roll
      // <input type="checkbox" name="attr_complex_roll_listener" class="sheet-complex-roll-listener">
  .sheet-roll-choices
    .sheet-column-2
      span.sheet-font-bigger.sheet-bold Options
      input.sheet-flag.sheet-ob-flag(
        value="independent" 
        name="attr_ob_type" 
        type="hidden"
        )
      .sheet-row.sheet-check-container.trait-row
        input.char-sheet.sheet-underlined.sheet-trait-mod(
          value="@{trait_mod_type}" 
          name="attr_trait_mod" 
          type="checkbox"
          )
        span
        span.sheet-bold.sheet-font-small  Using Trait
        .sheet-hidden.sheet-trait-mod-options
          select.sheet-underlined-select.sheet-trait-select(name="attr_trait_mod_type")
            option(value="1") For Self (+1D)
            option(value="-1") Against Self (-1D)
            option.sheet-hidden.sheet-versus(value="2") Opponent Using Trait Against Themselves (+2D)
      .sheet-row.sheet-check-container
        input.sheet-underlined.sheet-persona(
          value="@{persona_mod_number}" 
          name="attr_persona_mod" 
          type="checkbox"
          )
        span
        span.sheet-bold.sheet-font-small  Spend Persona
        .sheet-hidden.sheet-persona-options
          input.sheet-underlined-input(
            max="3" 
            min="1" 
            value="1" 
            name="attr_persona_mod_number" 
            type="number"
            )
      .sheet-row.sheet-check-container
        input.sheet-underlined.sheet-nature(
          value="@{nature}" 
          name="attr_nature_mod" 
          type="checkbox"
          )
        span
        span.sheet-bold.sheet-font-small
          | Use Nature (+
          span(name="attr_taxed_nature")
          | D)
        .sheet-hidden.sheet-nature-options
          select.sheet-underlined-select.sheet-nature-select(name="attr_nature_in_or_out")
            option(value="inside") Inside
            option(value="outside") Outside
      .sheet-row.sheet-check-container
        input.sheet-underlined.sheet-help(
          value="@{help_mod_number}" 
          name="attr_help_mod" 
          type="checkbox"
          )
        span
        span.sheet-bold.sheet-font-small  Help or Aid
        .sheet-hidden.sheet-help-options
          input.sheet-underlined-input(
            value="1" 
            name="attr_help_mod_number" 
            type="number"
            )
      .sheet-row.sheet-check-container
        input.sheet-underlined.sheet-gear(
          value="@{gear_mod_number}" 
          name="attr_gear_mod" 
          type="checkbox"
          )
        span
        span.sheet-bold.sheet-font-small  Gear or Supplies
        .sheet-hidden.sheet-gear-options
          input.sheet-underlined-input(
            value="1" 
            name="attr_gear_mod_number" 
            type="number"
            )
      .sheet-row.sheet-check-container.sheet-hidden.sheet-conflict
        input.sheet-underlined(
          value="-1" 
          name="attr_party_hungry_and_thirsty_mod" 
          type="checkbox"
          )
        span
        span.sheet-bold.sheet-font-small  Party is Hungry and Thirsty (-1S)
      input.sheet-flag.sheet-town-ability-flag(
        name="attr_complex_trigger" 
        type="hidden"
        )
      .sheet-row.sheet-check-container.sheet-hidden.sheet-town-ability
        input.sheet-underlined(
          value="1" 
          name="attr_home_town_mod" 
          type="checkbox"
          )
        span
        span.sheet-bold.sheet-font-small  Home Town (+1D)
      .sheet-row.sheet-check-container
        input.sheet-underlined(
          value="1" 
          name="attr_enchanted_item_mod" 
          type="checkbox"
          )
        span
        span.sheet-bold.sheet-font-small  Enchanted Item Effect (+1D)
      .sheet-row.sheet-check-container
        input.sheet-underlined(
          value="1" 
          name="attr_invocation_mod" 
          type="checkbox"
          )
        span
        span.sheet-bold.sheet-font-small  Invocation Effect (+1D)
      .sheet-row.sheet-check-container
        input.sheet-underlined(
          value="1" 
          name="attr_spell_mod" 
          type="checkbox"
          )
        span
        span.sheet-bold.sheet-font-small  Spell Effect (+1D)
      .sheet-row.sheet-check-container
        input.sheet-underlined(
          value="1" 
          name="attr_level_benefit_mod" 
          type="checkbox"
          )
        span
        span.sheet-bold.sheet-font-small  Level Benefit (+1D)
      .sheet-row.sheet-check-container
        input.sheet-underlined(
          value="-1" 
          name="attr_dim_light_mod" 
          type="checkbox"
          )
        span
        span.sheet-bold.sheet-font-small  Dim Light (-1S)
      .sheet-row.sheet-check-container
        input.sheet-underlined(
          value="-1" 
          name="attr_evil_gm_factor_mod" 
          type="checkbox"
          )
        span
        span.sheet-bold.sheet-font-small  Evil GM Factor (-1S)
      .sheet-row.sheet-check-container.sheet-bottom
        input.sheet-underlined.sheet-other(
          value="@{other_mod_number}" 
          name="attr_other_mod" 
          type="checkbox"
          )
        span
        span.sheet-bold.sheet-font-small  Other Modifiers
        .sheet-hidden.sheet-other-options
          span.sheet-handwritten Dice
          input.sheet-underlined-input(
            value="1" 
            name="attr_other_mod_number" 
            type="number"
            )
          span.sheet-handwritten Successes
          input.sheet-underlined-input(
            value="1" 
            name="attr_other_successes" 
            type="number"
            )
    .sheet-column-2
      input.sheet-flag.sheet-ob-flag(
        value="independent" 
        name="attr_ob_type" 
        type="hidden"
        )
      span.sheet-font-bigger.sheet-bold Active Modifiers
      .sheet-row
        span
          span(name="attr_complex_trigger_display")
          | (+
          span(name="attr_complex_trigger_mod")
          | D)
      .sheet-row
        input.sheet-flag.sheet-mod-flag(
          name="attr_fresh" 
          type="hidden"
          )
        span.sheet-hidden.sheet-mod Fresh (+1D)
      .sheet-row
        input.sheet-flag.sheet-mod-flag(
          name="attr_injured" 
          type="hidden"
          )
        input.sheet-flag.sheet-not-town(
          name="attr_trigger_is_not_town" 
          type="hidden"
          )
        span.sheet-hidden.sheet-mod Injured (-1D)
      .sheet-row
        input.sheet-flag.sheet-mod-flag(
          name="attr_sick" 
          type="hidden"
          )
        input.sheet-flag.sheet-not-town(
          name="attr_trigger_is_not_town" 
          type="hidden"
          )
        span.sheet-hidden.sheet-mod Sick (-1D)
      .sheet-row.sheet-hidden.sheet-conflict
        input.sheet-flag.sheet-mod-flag(
          name="attr_exhausted" 
          type="hidden"
          )
        span.sheet-hidden.sheet-mod Exhausted (-1S)
      .sheet-row.sheet-hidden.sheet-conflict
        input.sheet-flag.sheet-mod-flag(
          name="attr_hungry_and_thirsty" 
          type="hidden"
          )
        span.sheet-hidden.sheet-mod Hungry and Thirsty (-1S)
      .sheet-row.sheet-hidden.sheet-conflict
        input.sheet-flag.sheet-mod-flag(
          name="attr_party_hungry_and_thirsty_mod" 
          type="hidden"
          )
        span.sheet-hidden.sheet-mod Party is Hungry and Thirsty (-1S)
      .sheet-row
        input.sheet-flag.sheet-mod-flag(
          value="0" 
          name="attr_backpack_mod" 
          type="hidden"
          )
        span.sheet-hidden.sheet-mod Wearing a Backpack (-1S)
      .sheet-row
        input.sheet-flag.sheet-mod-flag(
          name="attr_trait_mod" 
          type="hidden"
          )
        span.sheet-hidden.sheet-mod
          | Trait (+
          span(name="attr_trait_mod_type")
          | D)
      .sheet-row
        input.sheet-flag.sheet-mod-flag(
          name="attr_persona_mod" 
          type="hidden"
          )
        span.sheet-hidden.sheet-mod
          | Persona (+
          span(name="attr_persona_mod_number")
          | D)
          span.sheet-danger
            | Spending
            span(name="attr_persona_mod_number")
            | Persona
      .sheet-row
        input.sheet-flag.sheet-mod-flag(
          name="attr_nature_mod" 
          type="hidden"
          )
        span.sheet-hidden.sheet-mod
          | Nature (+
          span(name="attr_taxed_nature")
          | D)
        input.sheet-flag.sheet-in-or-out(
          value="in" 
          name="attr_nature_in_or_out" 
          type="hidden"
          )
        span.sheet-hidden.sheet-out.sheet-danger Outside Taxes Nature
      .sheet-row
        input.sheet-flag.sheet-mod-flag(
          name="attr_help_mod" 
          type="hidden"
          )
        span.sheet-hidden.sheet-mod
          | Help or Aid (+
          span(name="attr_help_mod_number")
          | D)
      .sheet-row
        input.sheet-flag.sheet-mod-flag(
          name="attr_gear_mod" 
          type="hidden"
          )
        span.sheet-hidden.sheet-mod
          | Gear or Supplies (+
          span(name="attr_gear_mod_number")
          | D)
      input.sheet-flag.sheet-town-ability-flag(
        name="attr_complex_trigger" 
        type="hidden"
        )
      .sheet-row.sheet-hidden.sheet-town-ability
        input.sheet-flag.sheet-mod-flag(
          name="attr_home_town_mod" 
          type="hidden"
          )
        span.sheet-hidden.sheet-mod Home Town (+1D)
      .sheet-row.sheet-hidden
        input.sheet-flag.sheet-mod-flag(
          name="attr_enchanted_item_mod" 
          type="hidden"
          )
        span.sheet-hidden.sheet-mod Enchanted Item Effect (+1D)
      .sheet-row.sheet-hidden
        input.sheet-flag.sheet-mod-flag(
          name="attr_invocation_mod" 
          type="hidden"
          )
        span.sheet-hidden.sheet-mod Invocation Effect (+1D)
      .sheet-row.sheet-hidden
        input.sheet-flag.sheet-mod-flag(
          name="attr_spell_mod" 
          type="hidden"
          )
        span.sheet-hidden.sheet-mod Spell Effect (+1D)
      .sheet-row.sheet-hidden
        input.sheet-flag.sheet-mod-flag(
          name="attr_level_benefit_mod" 
          type="hidden"
          )
        span.sheet-hidden.sheet-mod Level Benefit (+1D)
      .sheet-row.sheet-hidden
        input.sheet-flag.sheet-mod-flag(
          name="attr_dim_light_mod" 
          type="hidden"
          )
        span.sheet-hidden.sheet-mod Dim Light (-1S)
      .sheet-row.sheet-hidden
        input.sheet-flag.sheet-mod-flag(
          name="attr_evil_gm_factor_mod" 
          type="hidden"
          )
        span.sheet-hidden.sheet-mod Evil GM Factor (-1S)
      .sheet-row.sheet-hidden
        input.sheet-flag.sheet-mod-flag(
          name="attr_other_mod" 
          type="hidden"
          )
        span.sheet-hidden.sheet-mod
          | Other Modifiers (
          span(name="attr_other_mod_operator")
          span(name="attr_other_mod_number")
          | D)
          |   (
          span(name="attr_other_successes_operator")
          span(name="attr_other_successes")
          | S)
      .sheet-row
        input.sheet-flag.sheet-mod-flag-bl(
          name="attr_bl_suffix" 
          type="hidden"
          )
        input.sheet-flag.sheet-mod-flag-bl(
          name="attr_bl_prefix" 
          type="hidden"
          )
        span.sheet-hidden.sheet-mod Beginner's Luck (Total Halved)