mixin kaSelectorNeph(attrName)
    select(name=attrName)
        option(value='', selected) Ka dominant : aucun
        option(value='Feu') Ka dominant : Feu
        option(value='Terre') Ka dominant : Terre
        option(value='Air') Ka dominant : Air
        option(value='Lune') Ka dominant : Lune
        option(value='Eau') Ka dominant : Eau

mixin kaSelectorVecuSimu(attrName, carac, idc="", withMemos=false)
    - 
        var nbidc = "-nbr" +idc
        var effectiveMnemos = ''
        if (withMemos) {
            effectiveMnemos = '+@{effectiveMnemos}'
        }
    select(name=`attr_${attrName}`)
        option(value=roll_simu_appr_null.replace('__ATTR__', carac).replace('__MNEMOS__', effectiveMnemos), selected) Aucune approche
        each appr, ka in approches
            option(value=roll_simu_appr_elem.replace('__ATTR__', carac).replace('__MNEMOS__', effectiveMnemos).replace('__KA__', ka).replace('__KAD__',appr[0]).replace('__APPR__',appr[1]).replace('-nbr', nbidc)).hideHumain.hideSelenim #{appr[1]}
        option(value=roll_simu_appr_ksol.replace('__ATTR__', carac).replace('__MNEMOS__', effectiveMnemos)).hideNephilim.hideSelenim Approche solaire
        option(value=roll_simu_appr_kln.replace('__ATTR__', carac).replace('__MNEMOS__', effectiveMnemos)).hideNephilim.hideHumain Approche de KLN

mixin kaSelectorArcadia(attrName)
    select(name=`attr_${attrName}`)
        option(value=roll_arcadia_null selected) Aucune approche
        each appr, ka in approcheArcadia
            option(value=roll_arcadia_elem.replace('__KA__', ka).replace('__KAD__', appr[0]).replace('__APPR__', appr[1]) class=appr[2]) #{appr[1]}