
//- DICE SELECT
mixin diceSelect(selectedDefault)
	- const diceTypes = ['d4', 'd6', 'd8', 'd10', 'd12', 'd20'];
	optgroup(label='Dice') Dice
		each val in diceTypes
			- const selectedDie = val === selectedDefault ? selected : '';
			option(value=val selectedDie)=val

mixin diceSelect(type)
	select(name=`attr_${type}_dice`)
		option(data-i18n='0' value='[[0d6]]')
		- let dieSelect = 1;
		while dieSelect < 10
			option(data-i18n=dieSelect value=`[[${dieSelect}d6!pcs>6cf<0]]`)
			- dieSelect++

mixin dieRadios(type)
	input(name=`attr_${type}_die` type='radio' value='[[5d1]]' checked)
	span.bold(data-i18n='d5!')
	input(name=`attr_${type}_die` type='radio' value='[[6d1]]')
	span.bold(data-i18n='d6')

//- SKILL BUILDERS
mixin skillList(skill, primaryAttribute, secondaryAttribute)
	.skill
		-const name = skill.toLowerCase().replace('/', '_').replace(' ', '_');
		input(name=`attr_${name}_button_base` type='hidden' value=`[[(?{Gear Or Kit | None, 0 | Archery, @{archery_gear}|Athletic Gear, @{athletic_gear}|Bludgeon, @{bludgeoning}|Climbing Gear, @{climbing_gear}|Command Apparatus, @{command_app}|Firefighting, @{firefighting}|First Aid Kit, @{first_aid_kits}|Long Gun, @{long_gun_tv}|Martial Arts, @{martial_arts}|Medical Gear, @{medical_gear}|Piercing, @{piercing}|Pistol, @{pistol_tv}|Recon Gear, @{recon_gear}|Slashing, @{slashing}|Survival Kit, @{survival_kit}|Swimming/Diving, @{swimming_diving}|Throwing, @{throwing}|Tools, @{tools}|Value, @{value}|Vehicles, @{vehicles}})*?{Multiplier|1|2|3|4|5}]]`)

		input(name=`attr_${name}_attributes` type='hidden' value=`(@{${primaryAttribute}}+@{${secondaryAttribute}_bonus})`)
			
		input(name=`attr_${name}_total` type='hidden' value=`(@{${name}} [Skill]+@{${name}_button_base} [Kit])`)

		button(name=`roll_${skill}` type='roll' value!=`&{template:ou} {{name=@{character_name}}} {{roll_name=^{${skill}}}} {{attr=${skill}}} {{Target1=[[@{${name}_total}]]}} {{Target2=[[@{${name}_total}+1]]}} {{skill=VS.}} {{Diff=@{difficulty_dice}}} {{Spd1=@{speed_dice}}} {{Dmg=@{damage_dice}}} {{Deplet=@{depletion_dice}}} {{DieDif=@{difficulty_die}}} {{DieSpd=@{speed_die}}} {{DieDmg=@{damage_dice}}} {{DieDep=@{depletion_die}}} {{result=[[1d100+@{difficulty_dice} [Diff]]]}} {{dos1=[[@{${name}_total}-19]]}} {{dos2a=[[@{${name}_total}-20]]}} {{dos2b=[[@{${name}_total}-29]]}} {{dos3a=[[@{${name}_total}-30]]}} {{dos3b=[[@{${name}_total}-39]]}} {{dos4a=[[@{${name}_total}-40]]}} {{dos4b=[[@{${name}_total}-49]]}} {{dof1=[[@{${name}_total}+19]]}} {{dof2a=[[@{${name}_total}+20]]}} {{dof2b=[[@{${name}_total}+29]]}} {{dof3a=[[@{${name}_total}+30]]}} {{dof3b=[[@{${name}_total}+39]]}} {{dof4a=[[@{${name}_total}+40]]}} {{dof4b=[[@{${name}_total}+49]]}}`) 
			span(data-i18n=`${skill}`) #{skill}
		label
			input.center(name=`attr_${name}_advancement` title=`attr_${name}_advancement` type='number' value='0')
		label
			input.center(name=`attr_${name}` title=`attr_${name}` type='number' value=`[[@{${name}_attributes}+@{${name}_advancement}]]` disabled='true')

//- SKILL BUILDERS
mixin expertSkillList(skill, primaryAttribute, secondaryAttribute)
	.skill
		-const name = skill.toLowerCase().replace('/', '_').replace(' ', '_');
		input(name=`attr_${name}_button_base` type='hidden' value=`[[(?{Gear Or Kit| None, 0 | Archery, @{archery_gear}|Athletic Gear, @{athletic_gear}|Bludgeon, @{bludgeoning}|Climbing Gear, @{climbing_gear}|Command Apparatus, @{command_app}|Firefighting, @{firefighting}|First Aid Kit, @{first_aid_kits}|Long Gun, @{long_gun}|Martial Arts, @{martial_arts}|Medical Gear, @{medical_gear}|Piercing, @{piercing}|Pistol, @{pistol}|Recon Gear, @{recon_gear}|Slashing, @{slashing}|Survival Kit, @{survival_kit}|Swimming/Diving, @{swimming_diving}|Throwing, @{throwing}|Tools, @{tools}|Value, @{value}|Vehicles, @{vehicles}})*?{Multiplier|1|2|3|4|5}]]`)

		input(name=`attr_${name}_attributes` type='hidden' value=`(@{${primaryAttribute}_bonus}+@{${secondaryAttribute}_bonus})`)
			
		input(name=`attr_${name}_total` type='hidden' value=`(@{${name}} [Skill]+@{${name}_button_base} [Kit])`)

		button(name=`roll_${skill}` type='roll' value!=`&{template:ou} {{name=@{character_name}}} {{roll_name=^{${skill}}}} {{attr=${skill}}} {{Target1=[[@{${name}_total}]]}} {{Target2=[[@{${name}_total}+1]]}} {{skill=VS.}} {{Diff=@{difficulty_dice}}} {{Spd1=@{speed_dice}}} {{Dmg=@{damage_dice}}} {{Deplet=@{depletion_dice}}} {{DieDif=@{difficulty_die}}} {{DieSpd=@{speed_die}}} {{DieDmg=@{damage_dice}}} {{DieDep=@{depletion_die}}} {{result=[[1d100+@{difficulty_dice} [Diff]]]}} {{dos1=[[@{${name}_total}-19]]}} {{dos2a=[[@{${name}_total}-20]]}} {{dos2b=[[@{${name}_total}-29]]}} {{dos3a=[[@{${name}_total}-30]]}} {{dos3b=[[@{${name}_total}-39]]}} {{dos4a=[[@{${name}_total}-40]]}} {{dos4b=[[@{${name}_total}-49]]}} {{dof1=[[@{${name}_total}+19]]}} {{dof2a=[[@{${name}_total}+20]]}} {{dof2b=[[@{${name}_total}+29]]}} {{dof3a=[[@{${name}_total}+30]]}} {{dof3b=[[@{${name}_total}+39]]}} {{dof4a=[[@{${name}_total}+40]]}} {{dof4b=[[@{${name}_total}+49]]}}`) 
			span(data-i18n=`${skill}`) #{skill}
		label
			input.center(name=`attr_${name}_advancement` title=`attr_${name}_advancement` type='number' value='0')
		label
			input.center(name=`attr_${name}` title=`attr_${name}` type='number' value=`[[@{${name}_attributes}+@{${name}_advancement}]]` disabled='true')