mixin progressBox
  option(value="0" selected)
  option(value="1") -
  option(value="2") +
  option(value="3") *
  option(value="4") #

mixin progressBoxComplex(attribute_name)
  .progress-input-holder
    select(name=attribute_name class="progress-input")
      option(value="0" selected)
      option(value="1") -
      option(value="2") +
      option(value="3") *
      option(value="4") #
    input.hide(type='number' name=attribute_name min='1' required)
    span
    input.hide(type='number' name=attribute_name min='2' required)
    span
    input.hide(type='number' name=attribute_name min='3' required)
    span
    input.hide(type='number' name=attribute_name min='4' required)
    span