include ../../data/move-list
include ../moves/mixins/move-builder

mixin oracleLabel(type, name, id)
  label.common-btn.oracle-btn
    input.hide-element.btn-input(
      type='radio'
      title=`@{oracle_${type}_button}`
      name=`attr_oracle_${type}_button`
      value=id
    )
    div(data-i18n=`oracle-label-${id}`).btn-content.oracle-name=name

mixin oracleRollGroup(group, type, key)
  .oracle-box
    .oracle-title(data-i18n=`oracle-title-${key}`)=key.replace(/_/g, ' ')
    //- - console.log(`"oracle-title-${key}":"${key.replace(/_/g, ' ')}",`)
    each oracle in group.oracles
      - var header = oracle.name.replace(/_/g, ' ')
      - var id = `${key}${oracle.roll_id}`
      if key === 'moves'
        .oracle
          +oracleLabel(type, header, id)
      else if oracle.oracle_group === '2'
        .oracle
          .button-container
            - var sub_one = oracle.sub_oracles[0]
            - var sub_two = oracle.sub_oracles[1]
            button(
              type='roll'
              class='oracle-roll'
              title=`@{roll_${id}_oracle}`
              name=`roll_${id}_oracle`
              value=`&{template:${type}_oracles} {{header=${header}}} {{${key}${oracle.roll_id}=[[${oracle.dice}]]}} {{${key}${sub_one.roll_id}=[[${sub_one.dice}]]}} {{${key}${sub_two.roll_id}=[[${sub_two.dice}]]}}`
              )
          +oracleLabel(type, header, id)
      else
        .oracle
          .button-container
            button(
              type='roll'
              class='oracle-roll'
              title=`@{roll_${id}_oracle}`
              name=`roll_${id}_oracle`
              value=`&{template:${type}_oracles} {{header=${header}}} {{${key}${oracle.roll_id}=[[${oracle.dice}]]}}`
              )
          +oracleLabel(type, header, id)

mixin oracleResult(id, index, result)
  if id === 'namesIronlander' || id === 'namesElf' || id === 'namesGiant' || id === 'namesVarou' || id === 'namesTroll' || id === 'site_nameNamesake'
    span.oracle-result!=result
  else
    span(data-i18n=`${id}-${index}`).oracle-result!=result

mixin oracleBuilder(opts, type, key)
  - var id = opts.roll_id
  - var oracleName = `${key}-${opts.name}`
  - var oracleTranslationId = `${key}${opts.roll_id}`
  - var oracleClass = oracleName.replace(/_/g, '-')

  input(class=`${oracleClass} hide-element` type='radio' name=`attr_oracle_${type}` value=`${key}${id}`)
  div(class=`${oracleClass} showhide`)
    .oracle-title.oracle-table-preview(data-i18n=`oracle-label-${oracleTranslationId}`)=opts.name.replace(/_/g, ' ')
    //- - console.log(`"oracle-title-${key}":"${key.replace(/_/g, ' ')}",`)
    if opts.oracle_move
      +moveBuilder(moveList[opts.name], { visibility: true, no_title: true })
    else if opts.oracle_group === '2'
      .oracle-table.flex-table
        each sub_oracle in opts.sub_oracles
          .oracle-sub-column
            each row, index in sub_oracle.rows
              .oracle-row
                span.oracle-roll=row.roll
                //- - console.log(sub_oracle)
                +oracleResult(`${key}${sub_oracle.roll_id}`, index, row.result)
    else
      if opts.columns === '2'
        .oracle-table.oracle-table-2-column
          each row, index in opts.rows
            .oracle-row.oracle-row-2
              span.oracle-roll=row.roll
              +oracleResult(oracleTranslationId, index, row.result)

      else if opts.columns === '3'
        .oracle-table.oracle-table-3-column
          each row,index in opts.rows
            .oracle-row.oracle-row-3
              span.oracle-roll=row.roll
              +oracleResult(oracleTranslationId, index, row.result)
      
      else if opts.columns === '4'
        .oracle-table.oracle-table-4-column
          each row,index in opts.rows
            .oracle-row.oracle-row-4
              span.oracle-roll=row.roll
              +oracleResult(oracleTranslationId, index, row.result)

      else
        .oracle-table
          each row,index in opts.rows
            .oracle-row
              span.oracle-roll=row.roll
              +oracleResult(oracleTranslationId, index, row.result)
