-
  const actions = [
    'charm',
    'command',
    'endure',
    'excel',
    'sense',
    'smash',
    'sneak',
    'study',
    'tinker',
    'traverse'
  ];
- varObjects.actionNames = actions;

section#actions.actions
  h1(data-i18n='actions')
  each name in actions
    .flex-box
      +button({name, class:'roll-d6', type:'roll', trigger:{listenerFunc:'initiateRoll'}})
      +input({name:`${name}-label`, value:`${name}`, class:'action-label uppercase', 'aria-level':3, data_i18n:`${name}`, type:'label', readonly:true})
      //- +hidden({name, class:'math', trigger:{triggeredFuncs:['calcActionDice']}})
      +fillLeft({
        radioObj:{name:`${name}-dice`},
        divObj:{class:'action-radio'},
        valueArray:[0,1,2,3,4],
        trigger:{affects:[`${name}`]}
      })
      +span({style:'width:20px; height:20px'})
        +checkbox({name:`${name}-knack`, class:'checkbox magenta tick'})
      +span({style:'width:20px; height:20px'})
        +checkbox({name:`${name}-burden`, class:'checkbox'})
  +fieldset({name:'action'})
    .flex-box
      +button({name:'roll', class:'roll-d6', type:'roll', trigger:{listenerFunc:'initiateRoll'}})
      +input({name:'label', class:'action-label uppercase', 'aria-level':3, data_i18n:'custom', type:'label', placeholder:'custom'})
      //- +hidden({name:'custom', class:'math', trigger:{triggeredFuncs:['calcActionDice']}})
      +fillLeft({
        radioObj:{name:'dice'},
        divObj:{class:'action-radio'},
        valueArray:[0,1,2,3,4],
        trigger:{affects:['action']}
      })
      +span({style:'width:20px; height:20px'})
        +checkbox({name:'knack', class:'checkbox magenta tick'})
      +span({style:'width:20px; height:20px'})
        +checkbox({name:'burden', class:'checkbox'})