-
  const actions = [
    'charm',
    'command',
    'endure',
    'excel',
    'sense',
    'smash',
    'sneak',
    'study',
    'tinker',
    'traverse'
  ];
- varObjects.actionNames = actions;

section#actions.actions
  h1(data-i18n='actions')
  each name in actions
    .flex-box.space-around
      +roller({name, trigger:{triggeredFuncs:['iconRoll']}})
      +input({name, value:`${name}`, class:'action-label uppercase bigger', 'aria-level':3, data_i18n:`${name}`, type:'label', readonly:true})
      //- +number({name:`${name}_dice`, readonly:'true', class:'autocalc', value:`(@{${name}-dots}+@{${name}-knack}-@{${name}-burden})`, 'aria-level':5})
      +fillLeft({
        radioObj:{name:`${name}_dice`},
        divObj:{class:'action-radio'},
        valueArray:[0,1,2,3,4]
      })
      +span({style:'width:20px; height:20px'})
        +checkbox({name:`${name}-knack`, value:'1', class:'checkbox magenta tick'})
      +span({style:'width:20px; height:20px'})
        +checkbox({name:`${name}-burden`, value:'1', class:'checkbox'})
  +fieldset({name:'action'})
    .flex-box.space-around
      +roller({name:'custom', trigger:{triggeredFuncs:['iconRoll']}})
      +text({name:'name', class:'action-label uppercase bigger', 'aria-level':3, 'data-i18n-placeholder':'custom'})
      //- +number({name:'dice', disabled:'true', class:'autocalc', value:'(@{dots}+@{knack}-@{burden})', 'aria-level':5})
      +fillLeft({
        radioObj:{name:'dots'},
        divObj:{class:'action-radio'},
        valueArray:[0,1,2,3,4]
      })
      +span({style:'width:20px; height:20px'})
        +checkbox({name:'knack', value:'1', class:'checkbox magenta tick'})
      +span({style:'width:20px; height:20px'})
        +checkbox({name:'burden', value:'1', class:'checkbox'})