-
  const actions = [
    'charm',
    'command',
    'endure',
    'excel',
    'sense',
    'smash',
    'sneak',
    'study',
    'tinker',
    'traverse'
  ];
- varObjects.actionNames = actions;

section#actions.actions
  h1(data-i18n='actions')
  each name in actions
    .flex-box.space-around
      +button({name:`roll ${name}`, type:'roll', class:'roll-d6',
        value:`&{template:icon} {{name=${name}}} {{character_name=@{character_name}}} {{character_id=@{character_id}}} {{roll_name=Action Roll}} {{hidden-calc=[[(@{${name}_dice}@{curses})]]}} {{action-roll0=[[(@{${name}_dice}@{curses})d6kh1sd]]}} {{action-roll1=[[2d6kl1sd]]}}`
      })
      +input({name, value:`${name}`, class:'action-label uppercase bigger', 'aria-level':3, data_i18n:`${name}`, type:'label', readonly:true})
      +number({name:`${name} dice`, disabled:'true', class:'autocalc', value:`(@{${name}_dots}+@{${name}_knack}-@{${name}_burden})`, 'aria-level':5})
      .action-dots.center
        each num in [0,1,2,3,4]
          if num === 0
            +input({name:`${name} dots`, type:'radio', class:'fill-left dots radio-zero', value:`${num}`, checked:'true'})
            span
          else
            +input({name:`${name} dots`, type:'radio', class:'fill-left dots', value:`${num}`})
            span
      .action-checkboxes
        +checkbox({name:`${name} knack`, value:'1', class:'checkbox magenta up'})
      .action-checkboxes
        +checkbox({name:`${name} burden`, value:'1', class:'checkbox black down'})
  +fieldset({name:'action'})
    .flex-box.space-around
      +button({name:`roll`, type:'roll', class:'roll-d6',
        value:'&{template:icon} {{name=@{name}}} {{character_name=@{character_name}}} {{character_id=@{character_id}}} {{roll_name=Action Roll}} {{hidden-calc=[[(@{dice}@{curses})]]}} {{action-roll0=[[(@{dice}@{curses})d6kh1sd]]}} {{action-roll1=[[2d6kl1sd]]}}'
      })
      +text({name:'name', class:'action-label uppercase bigger', 'aria-level':3, 'data-i18n-placeholder':'custom'})
      +number({name:'dice', disabled:'true', class:'autocalc', value:'(@{dots}+@{knack}-@{burden})', 'aria-level':5})
      .action-dots.center
        each num in [0,1,2,3,4]
          if num === 0
            +input({name:'dots', type:'radio', class:'fill-left dots radio-zero', value:`${num}`, checked:'true'})
            span
          else
            +input({name:'dots', type:'radio', class:'fill-left dots', value:`${num}`})
            span
      .action-checkboxes
        +checkbox({name:'knack', value:'1', class:'checkbox magenta up'})
      .action-checkboxes
        +checkbox({name:'burden', value:'1', class:'checkbox black down'})
  .hide-note
    p(class='bold capitalize', 'data-i18n'='fortune action roll')
    +checkbox({class:'collapse', value:'0', name:'collapse-ambition'})
    .notes.expanded
      p('data-i18n'="fortune reminder line 0")
      p(class='indent bullet', 'data-i18n'="fortune reminder line 1")
      p(class='indent bullet', 'data-i18n'="fortune reminder line 2")
      p(class='indent bullet', 'data-i18n'="fortune reminder line 3")
      p(class='indent bullet', 'data-i18n'="fortune reminder line 4")