section#burdens.burdens
  h1(data-i18n='burdens')
  .repcol.fit30.half-gap
    +fieldset({name:'burdens'})
      .flex-box.col.center
        +text({name:'name', class:'burden underlined capitalize short-text', 'data-i18n-placeholder':'burden'})
        +select-label({
          label:'size',
          inputObj:{name:'clock-size'},
          divObj:{class:'dropdown stat', style:'width:100px'},
          spanObj:{class:'capitalize smallcaps', style:'width:50px'}
        })
          each val in [4,6,8,10,12]
            option(value=`${val}`) #{val}
        .clock
          +hidden({name:'clock-size', class:'clock-switch', value:'4'})
          each val in [4,6,8,10,12]
            +div({class:`clock_${val}`})
              +div({name:'clock', class:'clock-section'})
                if val === 4
                  each num in [0,6,12,18]
                    +radio({name:`bc-${val}`, class:`clock-radio clock-${num}`, value:`${num}`})
                else if val === 6
                  each num in [0,4,8,12,16,20]
                    +radio({name:`bc-${val}`, class:`clock-radio clock-${num}`, value:`${num}`})
                else if val === 8
                  each num in [0,3,6,9,12,15,18,21]
                    +radio({name:`bc-${val}`, class:`clock-radio clock-${num}`, value:`${num}`})
                else if val === 10
                  each num in [0,2,5,7,10,12,14,17,19,22]
                    +radio({name:`bc-${val}`, class:`clock-radio clock-${num}`, value:`${num}`})
                else
                  each num in [0,1,4,6,8,11,12,13,16,18,20,23]
                    +radio({name:`bc-${val}`, class:`clock-radio clock-${num}`, value:`${num}`})
                div.clock-face
        each num in [1,2]
          .flex-box.center
            p(class='bold mono burden-penalty', 'data-i18n'='-1d')
            +text({name:`penalty ${num}`, class:'burden-penalty underlined smallcaps'})
  .hide-note
    p(class='bold capitalize', 'data-i18n'='burdens reminder title')
    +checkbox({class:'collapse', value:'0', name:'collapse-burdens'})
    .notes.expanded
      p('data-i18n'="burdens reminder line 0")
      p(class='indent bullet', 'data-i18n'="burdens reminder line 1")
      p(class='indent bullet', 'data-i18n'="burdens reminder line 2")
      p(class='indent bullet', 'data-i18n'="burdens reminder line 3")
      p('data-i18n'="burdens reminder line 4")
