-
  const resource = [
    'effort',
    'strain'
  ];
- varObjects.resourceNames = resource;

each name in resource
  +section({class:`${name}`, id:'resource'})
    +div({class:'resource-label', style:'height:50px;'})
      +label({name, class:'input-label uppercase', data_i18n:`${name}`, 'aria-label':5})
      +select-label({
            label:`${name}:`,
            inputObj:{name:`${name}_max`},
            divObj:{class:'dropdown stat', style:'width:100px;'},
            spanObj:{class:'capitalize smallcaps'},
          })
            if name === 'effort'
              each val in [2,3,4,5,6]
                if val === 3
                  option(value=`${val}`, selected=true) #{val}
                else
                  option(value=`${val}`) #{val}
            else
              each val in [3,4,5,6,7,8]
                if val === 5
                  option(value=`${val}`, selected=true) #{val}
                else
                  option(value=`${val}`) #{val}
    +div({class:'resource span-2', style:'width:180px;'})
      if name === 'effort'
        +hidden({name:`${name}_max`, class:'resource-switch', value:'3'})
      else
        +hidden({name:`${name}_max`, class:'resource-switch', value:'5'})
      if name === 'effort'
        +div({class:`${name} resource_2`})
          +fillLeft({
              radioObj:{name},
              divObj:{class:'resource-radio'},
              valueArray:[0,1,2]
          })
      +div({class:`${name} resource_3`})
        +fillLeft({
            radioObj:{name},
            divObj:{class:'resource-radio'},
            valueArray:[0,1,2,3]
        })
      +div({class:`${name} resource_4`})
        +fillLeft({
            radioObj:{name},
            divObj:{class:'resource-radio'},
            valueArray:[0,1,2,3,4]
        })
      +div({class:`${name} resource_5`})
        +fillLeft({
            radioObj:{name},
            divObj:{class:'resource-radio'},
            valueArray:[0,1,2,3,4,5]
        })
      +div({class:`${name} resource_6`})
        +fillLeft({
            radioObj:{name},
            divObj:{class:'resource-radio'},
            valueArray:[0,1,2,3,4,5,6]
        })
      if name === 'strain'
        +div({class:`${name} resource_7`})
          +fillLeft({
              radioObj:{name},
              divObj:{class:'resource-radio'},
              valueArray:[0,1,2,3,4,5,6,7]
          })
        +div({class:`${name} resource_8`})
          +fillLeft({
              radioObj:{name},
              divObj:{class:'resource-radio'},
              valueArray:[0,1,2,3,4,5,6,7,8]
          })
    +div({class:'resource-penalty', style:'min-width:120px;'})
      if name === 'effort'
        .flex-box
          +label({name:'exhausted-label', class:'input-label capitalize', 'data-i18n':'exhausted', 'aria-label':6})
          +checkbox({name:'exhausted'})
      else
        .flex-box
          +label({name:'broken-label', class:'input-label capitalize', 'data-i18n':'broken', 'aria-label':6})
          +checkbox({name:'broken'})