-
  const resource = [
    'effort',
    'strain'
  ];
- varObjects.resourceNames = resource;

each name in resource
  +section({class:`${name} half-gap boxed well-padded`, id:'resource'})
    .flex-box.center
      +input-label({label:`${name}`,
        inputObj:{name, class:'bigger', type:'number', value:'0', readonly:true, style:'width:20%;'},
        spanObj:{role:'heading', class:'bigger', 'aria-level':3}
      })
    .flex-box.resource
      if name === 'effort'
        +hidden({name:`${name}_max`, class:'resource-switch', value:'3'})
      else
        +hidden({name:`${name}_max`, class:'resource-switch', value:'5'})
      if name === 'effort'
        .resource_2.center
          each num in [0,1,2]
            if num === 0
              +input({name, type:'radio', class:'fill-left diamonds radio-zero', value:`${num}`})
              span
            else
              +input({name, type:'radio', class:'fill-left diamonds', value:`${num}`})
              span
      .resource_3.center
          each num in [0,1,2,3]
            if num === 0
              +input({name, type:'radio', class:'fill-left diamonds radio-zero', value:`${num}`})
              span
            else
              +input({name, type:'radio', class:'fill-left diamonds', value:`${num}`})
              span
      .resource_4.center
          each num in [0,1,2,3,4]
            if num === 0
              +input({name, type:'radio', class:'fill-left diamonds radio-zero', value:`${num}`})
              span
            else
              +input({name, type:'radio', class:'fill-left diamonds', value:`${num}`})
              span
      .resource_5.center
          each num in [0,1,2,3,4,5]
            if num === 0
              +input({name, type:'radio', class:'fill-left diamonds radio-zero', value:`${num}`})
              span
            else
              +input({name, type:'radio', class:'fill-left diamonds', value:`${num}`})
              span
      .resource_6.center
          each num in [0,1,2,3,4,5,6]
            if num === 0
              +input({name, type:'radio', class:'fill-left diamonds radio-zero', value:`${num}`})
              span
            else
              +input({name, type:'radio', class:'fill-left diamonds resource-small', value:`${num}`})
              span
      if name === 'strain'
        .resource_7.center
          each num in [0,1,2,3,4,5,6,7]
            if num === 0
              +input({name, type:'radio', class:'fill-left diamonds resource-small radio-zero', value:`${num}`})
              span
            else
              +input({name, type:'radio', class:'fill-left diamonds resource-smaller', value:`${num}`})
              span
        .resource_8.center
          each num in [0,1,2,3,4,5,6,7,8]
            if num === 0
              +input({name, type:'radio', class:'fill-left diamonds resource-smaller radio-zero', value:`${num}`})
              span
            else
              +input({name, type:'radio', class:'fill-left diamonds resource-smallerer', value:`${num}`})
              span
    .flex-box.center
      +label({name:`${name} size`, class:'input-label capitalize status', 'data-i18n':`max ${name}`, 'aria-label':5}) 
      +select({name:`${name}_max`, class:'dropdown stat resource underlined', style:'width:40%;'})
        if name === 'effort'
          each val in [2,3,4,5,6]
            if val === 3
              option(value=`${val}`, selected=true) #{val}
            else
              option(value=`${val}`) #{val}
        else
          each val in [3,4,5,6,7,8]
            if val === 5
              option(value=`${val}`, selected=true) #{val}
            else
              option(value=`${val}`) #{val}
    .flex-box.center
      if name === 'effort'
        .flex-box
          +label({name:'exhausted-label', class:'input-label uppercase status', 'data-i18n':'exhausted', 'aria-label':5})
          +checkbox({name:'exhausted', class:'checkbox orange cross', value:'1'})
      else
        .flex-box
          +label({name:'broken-label', class:'input-label uppercase status', 'data-i18n':'broken', 'aria-label':5})
          +checkbox({name:'broken', class:'checkbox black cross', value:'1'})