include ../../common/pug/button

mixin otherImpact(index)
  .impact
    input(
      type='checkbox'
      name=`attr_impactOther${index}`
    )
    input(
      type='text'
      name=`attr_impactOther${index}_name`
      data-i18n-placeholder='impact'
      placeholder=translation['impact']
    )

mixin impactGroup(group, opts)
  if opts.title
    .impact-group-title=group.title
  .impact-list
    each impact in group.list
      - impact.classes = 'impact-btn surface-2 btn-rounded'
      +btn(impact)

mixin impacts(impactArray, opts)
  .impact-component
    each group in impactArray
      if opts.noContainer
        .impact-group
          +impactGroup(group, opts)
      else
        .impact-group.surface
          +impactGroup(group, opts)
    input.hide-element(type='text' name='attr_impact_total' value=0)
    if opts.customImpacts
      .custom-impacts
        h4.i18n-text.other-impacts-title(data-i18n='impact-others')
        each value in [ 1, 2 ]
          +otherImpact(value)