include ../../common/pug/button

mixin otherImpact(index)
  .impact
    input(
      type='checkbox'
      name=`attr_impactOther${index}`
    )
    input(
      type='text'
      name=`attr_impactOther${index}_name`
      placeholder='Impact'
    )


mixin impacts(opts)
  .impact-component
    each group in impacts
      .impact-group
        .impact-group-title=group.title
        .impact-list
          each impact in group.list
            +btn(impact)
    input.hide-element(type='text' name='attr_impact_total' value=0)
    .custom-impacts
      h4.other-impacts-title Other Impacts
      each value in [ 1, 2 ]
        +otherImpact(value)