include scaffold/_kpug.pug
include mixins/_sheetmixins.pug
//- additional includes should be below this point
- let gameName = 'icon';
- varObjects.sheetTypes = ['narrative','tactics','journal','roster'];
- varObjects.persistentTabs = ['narrative','tactics','journal','roster','settings'];

+hidden({name:'template start', value:`&{template:${gameName}} {{character_name=@{character_name}}} {{character_id=@{character_id}}}`})
+hidden({name:'sheet state', value:'settings'})
+hidden({name:'collapsed', value:''})
main#main
  include articles/_details.pug
  nav#main-nav.sheet-nav
    each val in varObjects.sheetTypes
      +navButton({name:val,class:`sheet-nav__tab ${val}`,'data-i18n':`${val} sheet`,'data-i18n-title':`${val} sheet button title`,role:'heading','aria-level':5,trigger:{triggeredFuncs:['navigateSheet']}})
    +navButton({name:'settings',class:'pictos active sheet-nav__tab settings','data-i18n-title':'open the settings page',role:'heading','aria-level':5,trigger:{triggeredFuncs:['navigateSheet']}})
      |y
    //- nav#main-nav.sheet-nav
    //-   +tabs({name:'icon',defaultActiveTab:'settings'})
    //-   each val in varObjects.sheetTypes
    //-     +navButton({
    //-       name:val,
    //-       class:`sheet-nav__tab ${val}`,
    //-       'data-i18n':`${val} sheet`,
    //-       'data-i18n-title':`${val} sheet button title`,
    //-       role:'heading',
    //-       'aria-level':5,
    //-       trigger:{triggeredFuncs:['navigateSheet']}})
    //-   //- This is our button to access the settings page. it's written separately because it has some different requirements
    //-   +navButton({name:'settings', class:'pictos active sheet-nav__tab settings','data-i18n-title':'open the settings page', role:'heading', 'aria-level':5, trigger:{triggeredFuncs:['navigateSheet']}})
    //-     |y
  include articles/_settings.pug
  include articles/_narrative.pug
  include articles/_tactics.pug
  include articles/_journal.pug
  include articles/_roster.pug
include rolltemplates/_icontemplate.pug
+kscript
  //- All additional javascript files should start here
  include Javascript/variables.js
  include Javascript/calculators.js
  include Javascript/updaters.js
  include Javascript/triggeredfuncs.js
  //- include Javascript/demoworkers.js