- var track = [ 'one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight', 'nine', 'ten' ]
- var challenge = [ 'one', 'two', 'three', 'four' ]
include ../../data/difficulties
include ./mixins/box

fieldset.repeating_progress
  div
    br
    .progress-holder
      input.progress-name(type='text' name='attr_name')
      label.challenge-show
        input(type='checkbox' class='hide-element challenge-show-button' name='attr_challenge-show-button')
        .challenge-show-back(data-i18n='progress-challenge')=locals.translations['progress-challenge']
    .progress-header
      each difficulty, index in difficulties
        label.difficulty
          if difficulty.checked
            input(type="radio" class="hide-element" name="attr_rank" value=index checked)
          else
            input(type="radio" class="hide-element" name="attr_rank" value=index)
          h5=difficulty.text
    +progressTrack(track, 'name')
    .progress-container
      input(type='checkbox' class='hide-element challenge-show' name='attr_challenge-show')
      .challenge-row.showhide
        label.challenge-label COUNTDOWN
        each index in challenge
          label.challenge-box
            input.challenge.hide-element(type='checkbox' class='hide-element' name=`attr_countdown-${index}`)
            .challenge-fill
      
