include ./tracks
div.sheet-footer
  div.sheet-momentum
      each object in momentumPositiveTrack 
        div.sheet-momentum-box
          if object.checked
            input(
            type='radio'
            name='attr_momentum'
            class='sheet-momentum-box-input'
            value=object.value
            checked
          )
          else
            input(
              type='radio'
              name='attr_momentum'
              class='sheet-momentum-box-input'
              value=object.value
            )
          div.sheet-momentum-box-back
            h3.sheet-momentum-box-value=object.text

  div.sheet-momentum
    div.sheet-momentum.sheet-momentum-dark
      h3.sheet-momentum-title Momentum

    div.sheet-momentum-burn
      input(type='checkbox' class='sheet-momentum-burn' title='Burn Momentum' name='attr_momentumBurn')
      span.sheet-momentum-burn BURN
      div.sheet-momentum-burn-back
    
    div.sheet-momentum-status-box
      h3.sheet-momentum-max MAX
      h3.sheet-momentum-status-value
        span(name='attr_momentum_max')
      input(type='text' class='sheet-hide' name='attr_momentum_max' value='20')

    div.sheet-momentum-status-box
      h3.sheet-momentum-reset RESET
      h3.sheet-momentum-status-value
        span(name='attr_momentum_reset')
      input(type='text' class='sheet-hide' name='attr_momentum_reset' value='2')
    
    each object in momentumNegativeTrack 
      div.sheet-momentum-box
        input(type='radio' name='attr_momentum' class='sheet-momentum-box-input' value=object.value)
        div.sheet-momentum-box-back
          h3.sheet-momentum-box-value=object.text