mixin label(i18n)
    label(data-i18n=i18n )&attributes(attributes)

mixin numeric_input(attr_name, default_value, min_value=false)
    input(name=`attr_${attr_name}` type='number' title=`\${${attr_name}}` + (default_value!==false ? `. Default: ${default_value}.` : '') value=default_value min=min_value)&attributes(attributes)

mixin text_input(attr_name)
    input(name=`attr_${attr_name}` type='text' title=`\${${attr_name}}`)&attributes(attributes)

-
    const characteristics = [
        { category: 'body',   list: [ 'strength', 'dexterity',  'endurance' ] },
        { category: 'mind',   list: [ 'wits',     'perception', 'will'      ] },
        { category: 'spirit', list: [ 'presence', 'intuition', 'faith'      ] }
    ];

mixin characteristic(name)
        button.fs-d20(type='roll' name=`roll_${name}` value=`&{template:fs-GoalRoll} {{characterName=@{character_name}}} {{characteristicName-i18n=^{${name}}}} {{bonus_penalty=[[?{@{goal_bonus_penalty_rollquery_i18n}}]]}} {{goal=[[@{${name}}+[[?{@{goal_bonus_penalty_rollquery_i18n}}]]]]}} {{roll=[[1d20cs[[{@{${name}}+[[?{@{goal_bonus_penalty_rollquery_i18n}}]],19}kl1]]cf20]]}}`)
        label.fs-characteristic-label
            span(data-i18n=`${name}`)
        +numeric_input(name, 3)
-
    const skills = [
        { name: 'academia', default: 3 },
        { name: 'alchemy', default: 0 },
        { name: 'animalia', default: 3 },
        { name: 'arts', default: 3 },
        { name: 'charm', default: 3 },
        { name: 'crafts', default: 3 },
        { name: 'disguise', default: 3 },
        { name: 'drive', default: 3 },
        { name: 'empathy', default: 3 },
        { name: 'fight', default: 3 },
        { name: 'focus', default: 3 },
        { name: 'impress', default: 3 },
        { name: 'interface', default: 0 },

        { name: 'intrusion', default: 3 },
        { name: 'knavery', default: 3 },
        { name: 'melee', default: 3 },
        { name: 'observe', default: 3 },
        { name: 'perform', default: 3 },
        { name: 'pilot', default: 0 },
        { name: 'remedy', default: 3 },
        { name: 'shoot', default: 3 },
        { name: 'sleight_of_hand', default: 3 },
        { name: 'sneak', default: 3 },
        { name: 'survival', default: 3 },
        { name: 'tech_redemption', default: 3 },
        { name: 'vigor', default: 3 }
    ];

mixin skill(name, value)
    .fs-skill
        .fs-skill-normal
            button.fs-d20(type='roll' name='roll_disabledbutton' value='' disabled='')
            .fs-skill-roll-characteristic-choice
                label
                    span(data-i18n=`${name}`) #{name}
                    |  +
                each charac_cat in characteristics
                    each characteristicName in charac_cat.list
                        div
                            div
                                button.fs-d20(type='roll' name=`roll_${characteristicName}_${name}` value=`&{template:fs-GoalRoll} {{characterName=@{character_name}}} {{characteristicName-i18n=^{${characteristicName}}}} {{skillName-i18n=^{${name}}}} {{bonus_penalty=[[?{@{goal_bonus_penalty_rollquery_i18n}}]]}} {{goal=[[@{${characteristicName}}+@{${name}}+[[?{@{goal_bonus_penalty_rollquery_i18n}}]]]]}} {{roll=[[1d20cs[[{@{${characteristicName}}+@{${name}}+[[?{@{goal_bonus_penalty_rollquery_i18n}}]],19}kl1]]cf20]]}}`)
                                label(data-i18n=`${characteristicName}`) #{characteristicName}
            label.fs-skill-label
                span(data-i18n=`${name}`) #{name}
        +numeric_input(name, value)


// CHARACTER SHEET LAYOUT - START
.fs-sheet

    input(type='hidden' name='attr_goal_bonus_penalty_rollquery_i18n' value='')

    .fs-sheet-container
        input(type='hidden' name='attr_sheet_version' value='latest')

        .fs-baseinfo
            .fs-sheet-section
                label.fs-uppercase-header(data-i18n='name')
                .fs-name-grid
                    +text_input('character_name')(class ='fs-name')
                    label.fs-planet(data-i18n='planet')
                    +text_input('planet')(class ='fs-planet')

            .fs-sheet-section
                label.fs-uppercase-header(data-i18n='rank')
                .fs-rank-grid
                    +text_input('rank')(class ='fs-rank')
                    label.fs-birthdate(data-i18n='birthdate')
                    +text_input('birthdate')(class ='fs-birthdate')

            .fs-sheet-section
                label.fs-uppercase-header(data-i18n='species')
                .fs-species-grid
                    +text_input('species')(class ='fs-species')
                    label.fs-size(data-i18n='size')
                    +text_input('size')(class ='fs-size')
                    label.fs-speed(data-i18n='speed')
                    +text_input('speed')(class ='fs-speed')

        .fs-lifepath
            .fs-sheet-section
                label.fs-uppercase-header(data-i18n='class')
                .fs-class-grid
                    +text_input('class_1')(class ='fs-class1')
                    +text_input('class_2')(class ='fs-class2')
                    label.fs-level(data-i18n='level') Level
                    +numeric_input('level', 1, 1)(class='fs-level')

            .fs-sheet-section
                label.fs-uppercase-header(data-i18n='faction')
                .fs-faction-grid
                    +text_input('faction')(class ='fs-faction')
                    label.fs-blessing(data-i18n='blessing')
                    +text_input('blessing')(class ='fs-blessing')
                    label.fs-curse(data-i18n='curse') Curse
                    +text_input('curse')(class ='fs-curse')

            .fs-sheet-section
                label.fs-uppercase-header(data-i18n='calling')
                .fs-calling-grid
                    +text_input('calling_1')
                    +text_input('calling_2')
                    +text_input('calling_3')

        .fs-traits
            .fs-sheet-section.fs-skills-header
                label.fs-uppercase-header(data-i18n='skills')

            .fs-skill-col.fs-skills-1
                - for (let i = 0; i < skills.length / 2; ++i)
                    +skill(skills[i].name, skills[i].default)

            .fs-skill-col.fs-skills-2
                - for (let i = skills.length / 2; i < skills.length; ++i)
                    +skill(skills[i].name, skills[i].default)

            .fs-characteristics
                each charac_cat in characteristics
                    .fs-sheet-section
                        label.fs-uppercase-header(data-i18n=charac_cat.category)
                        .fs-characteristic-cat-grid
                            each charac_name in charac_cat.list
                                +characteristic(charac_name)

        .fs-sheet-section
            label.fs-uppercase-header(data-i18n='occult')
            .fs-occult
                div
                    +label('psi')(class='fs-occult-left')
                    +numeric_input('psi', false, 0)
                    +numeric_input('urge', false, 0)
                    +label('urge')(class='fs-occult-right')
                div
                    +label('theurgy')(class='fs-occult-left')
                    +numeric_input('theurgy', false, 0)
                    +numeric_input('hubris', false, 0)
                    +label('hubris')(class='fs-occult-right')
                div
                    +text_input('occult_3_name')(class='fs-occult-left')
                    +numeric_input('occult_3', false, 0)
                    +numeric_input('occult_3_opposite', false, 0)
                    +text_input('occult_3_opposite_name')(class='fs-occult-right')

        .fs-defenses
            .fs-sheet-section
                label.fs-uppercase-header(data-i18n='resistances')
                .fs-resistances-grid
                    each charac_cat in characteristics
                        label(data-i18n=charac_cat.category)
                        +numeric_input(`${charac_cat.category}_resistance`, 0, 0)
                        +text_input(`${charac_cat.category}_resistance_modifier`)(data-i18n-placeholder='resistance_modifier')

            .fs-sheet-section
                .fs-armor-and-e-shield-grid
                    .fs-armor-and-e-shield-grid-row
                        label.fs-uppercase-header(data-i18n='armor')
                        +text_input('armor_name')
                    .fs-armor-and-e-shield-grid-row.fs-armor-vs
                        +numeric_input('armor_vs_blaster', false, 0)(data-i18n-placeholder='blaster_s')
                        +numeric_input('armor_vs_flame', false, 0)(data-i18n-placeholder='flame_s')
                        +numeric_input('armor_vs_hard', false, 0)(data-i18n-placeholder='hard_s')
                        +numeric_input('armor_vs_laser', false, 0)(data-i18n-placeholder='laser_s')
                        +numeric_input('armor_vs_shock', false, 0)(data-i18n-placeholder='shock_s')
                        +numeric_input('armor_vs_slam', false, 0)(data-i18n-placeholder='slam_s')
                        +numeric_input('armor_vs_sonic', false, 0)(data-i18n-placeholder='sonic_s')
                    .fs-armor-and-e-shield-grid-row
                        label.fs-uppercase-header(data-i18n='e_shield')
                        +text_input('shield_name')
                    .fs-armor-and-e-shield-grid-row.fs-e-shield-props
                        label(data-i18n='e_shield_thresholds')
                        +numeric_input('shield_thresholds_min')
                        label /
                        +numeric_input('shield_thresholds_max')
                        label(data-i18n='e_shield_hits')
                        +numeric_input('shield_hits')

            .fs-sheet-section
                .fs-vita-and-revivals-grid
                    label.fs-vitality-header.fs-uppercase-header(data-i18n='vitality')
                    label.fs-vitality-rating(data-i18n='rating')
                    +numeric_input('vitality_rating', 0, 0)(class='fs-vitality-rating')
                    label.fs-vitality-current(data-i18n='current')
                    +numeric_input('vitality_current', 0, 0)(class='fs-vitality-current')
                    label.fs-revivals-header.fs-uppercase-header(data-i18n='revivals')
                    label.fs-revivals-rating(data-i18n='rating')
                    +numeric_input('revivals_rating', 0, 0)(class='fs-revivals-rating')
                    label.fs-revivals-number(data-i18n='number')
                    +numeric_input('revivals_number', 0, 0)(class='fs-revivals-number')

        .fs-actions-vp-bank-and-surge
            .fs-sheet-section
                label.fs-uppercase-header(data-i18n='actions')
                
                .fs-actions
                    .fs-table
                        label.fs-table-head
                        label.fs-table-head(data-i18n='action')
                        label.fs-table-head(data-i18n='characteristic')
                        label.fs-table-head(data-i18n='skill')
                        label.fs-table-head(data-i18n='goal_bonus_penalty')
                    fieldset.repeating_actions
                        .fs-table
                            input(type='hidden' name='attr_action_characteristic_value')
                            input(type='hidden' name='attr_action_skill_value')
                            button.fs-20(type='roll' name='roll_action_roll' value='&{template:fs-GoalRoll} {{title=@{action_name}}} {{characterName=@{character_name}}} {{characteristicName-i18n=^{@{action_characteristic}}}} {{skillName-i18n=^{@{action_skill}}}} {{bonus_penalty=[[@{action_goal_bonus_penalty}+[[?{@{goal_bonus_penalty_rollquery_i18n}}]]]]}} {{goal=[[@{action_characteristic_value}+@{action_skill_value}+@{action_goal_bonus_penalty}+[[?{@{goal_bonus_penalty_rollquery_i18n}}]]]]}} {{roll=[[1d20cs[[{@{action_characteristic_value}+@{action_skill_value}+@{action_goal_bonus_penalty}+[[?{@{goal_bonus_penalty_rollquery_i18n}}]],19}kl1]]cf20]]}}')
                            input.fs-table-cell(type='text' name='attr_action_name')
                            select.fs-table-cell(name='attr_action_characteristic')
                                option(value='' selected)
                                each charac_cat in characteristics
                                    optgroup(data-i18n-label=charac_cat.category)
                                    each charac_name in charac_cat.list
                                        option(value=charac_name data-i18n=charac_name)
                            select.fs-table-cell(name='attr_action_skill')
                                option(value='' selected)
                                each sk in skills
                                    option(value=sk.name data-i18n=sk.name)
                            input.fs-table-cell(type='number' name='attr_action_goal_bonus_penalty' value=0)
                            .fs-notes
                                .fs-auto-expand-textarea
                                    span(name='attr_action_impact_notes')
                                    textarea(name='attr_action_impact_notes' data-i18n-placeholder='impact_notes' spellcheck='false')

            .fs-sheet-section-frame
                label.fs-uppercase-header(data-i18n='vp_bank')
                .fs-vp-and-surge-grids
                    label(data-i18n='vp_bank_capacity')
                    +numeric_input('vp_bank_capacity', 0, 0)
                    label(data-i18n='current_vp')
                    +numeric_input('current_vp', 0, 0)
                    label(data-i18n='current_wp')
                    +numeric_input('current_wp', 0, 0)
                label.fs-uppercase-header(data-i18n='surge')
                .fs-vp-and-surge-grids
                    label(data-i18n='surge_rating')
                    +numeric_input('surge_rating', 0, 0)
                    label(data-i18n='surge_number')
                    +numeric_input('surge_number', 0, 0)

        .fs-perks-capabilities-and-birthrights
            .fs-sheet-section
                label.fs-uppercase-header(data-i18n='perks')
                .fs-perks
                    fieldset.repeating_perks
                        .fs-table
                            input.fs-table-cell(type='text' name='attr_perk_name' data-i18n-placeholder='perk_name')
                            .fs-notes
                                .fs-auto-expand-textarea
                                    span(name='attr_perk_notes')
                                    textarea(name='attr_perk_notes' data-i18n-placeholder='perk_notes' spellcheck='false')
            div
                .fs-sheet-section
                    label.fs-uppercase-header(data-i18n='capabilities')
                    .fs-perks
                        fieldset.repeating_capabilities
                            .fs-table
                                input.fs-table-cell(type='text' name='attr_capability_name' data-i18n-placeholder='capability_name')
                                .fs-notes
                                    .fs-auto-expand-textarea
                                        span(name='attr_capability_notes')
                                        textarea(name='attr_capability_notes' data-i18n-placeholder='capability_notes' spellcheck='false')

                .fs-sheet-section
                    label.fs-uppercase-header(data-i18n='birthrights')
                    .fs-perks
                        fieldset.repeating_birthrights
                            .fs-table
                                input.fs-table-cell(type='text' name='attr_birthright_name' data-i18n-placeholder='birthright_name')
                                .fs-notes
                                    .fs-auto-expand-textarea
                                        span(name='attr_birthright_notes')
                                        textarea(name='attr_birthright_notes' data-i18n-placeholder='birthright_notes' spellcheck='false')

        .fs-possessions
            .fs-sheet-section

            .fs-possessions-header
                label.fs-uppercase-header(data-i18n='possessions')
                label(data-i18n='techgnosis')
                +numeric_input('techgnosis', 0, 0)

            .fs-carried-equipment
                each index in [1, 2]
                    div
                        .fs-table
                            label.fs-table-head(data-i18n='carried_equipment')
                            label.fs-table-head(data-i18n='tech_level_s')
                            label.fs-table-head(data-i18n='equipment_size')
                        fieldset(class=`repeating_carriedequipment${index}`)
                            .fs-table
                                input.fs-table-cell(type='text' name=`attr_carriedequipment${index}_name`)
                                input.fs-table-cell(type='number' name=`attr_carriedequipment${index}_tech_level`)
                                input.fs-table-cell(type='text' name=`attr_carriedequipment${index}_size`)
                                .fs-notes
                                    .fs-auto-expand-textarea
                                        span(name=`attr_carriedequipment${index}_notes`)
                                        textarea(name=`attr_carriedequipment${index}_notes` data-i18n-placeholder='notes' spellcheck='false')

            .fs-carried-weapons
                    div
                        .fs-table
                            label.fs-table-head(data-i18n='carried_weapons')
                            label.fs-table-head(data-i18n='tech_level_s')
                            label.fs-table-head(data-i18n='goal_bonus_penalty')
                            label.fs-table-head(data-i18n='damage_s')
                            label.fs-table-head(data-i18n='strength_s')
                            label.fs-table-head(data-i18n='range_s')
                            label.fs-table-head(data-i18n='rate_of_fire_s')
                            label.fs-table-head(data-i18n='ammunition_s')
                            label.fs-table-head(data-i18n='weapon_features')
                        fieldset(class='repeating_weapons')
                            .fs-table
                                input.fs-table-cell(type='text' name='attr_weapon_name')
                                input.fs-table-cell(type='number' name='attr_weapon_tl')
                                input.fs-table-cell(type='text' name='attr_weapon_goal')
                                input.fs-table-cell(type='text' name='attr_weapon_dmg')
                                input.fs-table-cell(type='number' name='attr_weapon_str')
                                input.fs-table-cell(type='text' name='attr_weapon_rng')
                                input.fs-table-cell(type='number' name='attr_weapon_rof')
                                input.fs-table-cell(type='number' name='attr_weapon_ammo')
                                input.fs-table-cell(type='text' name='attr_weapon_features')
                                .fs-notes
                                    .fs-auto-expand-textarea
                                        span(name=`attr_weapon_notes`)
                                        textarea(name=`attr_weapon_notes` data-i18n-placeholder='notes' spellcheck='false')

            .fs-owned
                each index in [1, 2]
                    div
                        .fs-table
                            label.fs-table-head(data-i18n='owned')
                            label.fs-table-head(data-i18n='location')
                        fieldset(class=`repeating_owned${index}`)
                            .fs-table
                                input.fs-table-cell(type='text' name=`attr_owned${index}_name`)
                                input.fs-table-cell(type='text' name=`attr_owned${index}_location`)
                                .fs-notes
                                    .fs-auto-expand-textarea
                                        span(name=`attr_owned${index}_notes`)
                                        textarea(name=`attr_owned${index}_notes` data-i18n-placeholder='notes' spellcheck='false')

        .fs-money
            .fs-sheet-section

            .fs-money-header
                label.fs-uppercase-header(data-i18n='money')
                +label('cash')
                +text_input('cash')

            .fs-assets
                each index in [1, 2]
                    div
                        .fs-table
                            label.fs-table-head(data-i18n='asset')
                            label.fs-table-head(data-i18n='income')
                        fieldset(class=`repeating_assets${index}`)
                            .fs-table
                                input.fs-table-cell(type='text' name=`attr_asset${index}_name`)
                                input.fs-table-cell(type='text' name=`attr_asset${index}_income`)
                                .fs-notes
                                    .fs-auto-expand-textarea
                                        span(name=`attr_asset${index}_notes`)
                                        textarea(name=`attr_asset${index}_notes` data-i18n-placeholder='notes' spellcheck='false')

        .fs-sheet-section
            label.fs-uppercase-header(data-i18n='last_notes')
            .fs-w100.fs-relative.fs-supertall-textarea
                .fs-auto-expand-textarea
                    span(name='attr_last_notes')
                    textarea(title='@{last_notes}' type='text' name='attr_last_notes' data-i18n-placeholder='notes' placeholder='Notes' spellcheck='false')

        .fs-footer

// CHARACTER SHEET LAYOUT - END
// ROLL TEMPLATES - START
include roll-templates.html
// ROLL TEMPLATES - END
// SHEET WORKERS - START
include sheet-workers.html
// SHEET WORKERS - END

// FIN.
