mixin skill(name, value)
    .fs-skill
        .fs-skill-normal
            button.fs-d20(type='roll' name='roll_disabledbutton' value='' disabled='')
            .fs-skill-roll-characteristic-choice
                label
                    span(data-i18n=`${name}`) #{name}
                    |  +
                each characteristicName in ['strength', 'dexterity', 'endurance', 'wits', 'perception', 'will', 'presence', 'intuition', 'faith']
                    div
                        button.fs-d20(type='roll' name=`roll_${characteristicName}_${name}` value=`&{template:fs-GoalRoll} {{characterName=@{character_name}}} {{characteristicName-i18n=^{${characteristicName}}}} {{skillName-i18n=^{${name}}}} {{goal=[[@{${characteristicName}}+@{${name}}]]}} {{roll=[[1d20cs[[{@{${characteristicName}}+@{${name}},19}kl1]]cf20]]}}`)
                        label(data-i18n=`${characteristicName}`) #{characteristicName}
            label.fs-skill-label
                span(data-i18n=`${name}`) #{name}
        input(type='number' name=`attr_${name}` min='0' value=`${value}` title=`@{${name}}. Default value: ${value}.`)

mixin characteristic(name)
    .fs-characteristic
        button.fs-d20(type='roll' name=`roll_${name}` value=`&{template:fs-GoalRoll} {{characterName=@{character_name}}} {{characteristicName-i18n=^{${name}}}} {{goal=[[@{${name}}]]}} {{roll=[[1d20cs[[{@{${name}},19}kl1]]cf20]]}}`)
        label.fs-characteristic-label
            span(data-i18n=`${name}`) ${name}
        input(name=`attr_${name}` type='number' min='0' value='3' title=`\${${name}}. Default value: 3.`)

// CHARACTER SHEET LAYOUT - START
.fs-sheet
    .fs-sheet-container
        input(type='hidden' name='attr_sheet_version' value='latest')

        .fs-baseinfo
            .fs-sheet-section
                h3.fs-uppercase-header(data-i18n='name') Name
                input.fs-w100(type="text" name="attr_character_name" title="${character_name}")
                .fs-nowrap-w100
                    label.fs-indented(data-i18n="planet") Planet
                    input.fs-w100(name="attr_planet" type="text" title="${planet}")

            .fs-sheet-section
                h3.fs-uppercase-header(data-i18n='rank') Rank
                input.fs-w100(type="text" name="attr_rank" title="${rank}")
                .fs-nowrap-w100
                    label.fs-indented(data-i18n="birthdate") Birthdate
                    input.fs-w100(name="attr_birthdate" type="text" title="${birthdate}")

            .fs-sheet-section
                h3.fs-uppercase-header(data-i18n='species') Species
                input.fs-w100(type="text" name="attr_species" title="${species}")
                .fs-nowrap-w100
                    label.fs-indented(data-i18n="size") Size
                    input.fs-w100(name="attr_size" type="text" title="${size}")
                    label.fs-indented(data-i18n="speed") Speed
                    input.fs-w100(name="attr_speed" type="text" title="${speed}")

        .fs-lifepath
            .fs-sheet-section
                h3.fs-uppercase-header(data-i18n='class') Class
                .fs-class-grid
                    input.fs-class1(name="attr_class_1" type="text" title="${class_1}")
                    input.fs-class2(name="attr_class_1" type="text" title="${class_2}")
                    label.fs-indented.fs-levellabel(data-i18n="level") Level
                    input.fs-levelvalue(name="attr_level" type="number" title="${level}")

            .fs-sheet-section
                h3.fs-uppercase-header(data-i18n='faction') Faction
                .fs-faction-grid
                    input.fs-faction(type="text" name="attr_faction" title="${faction}")
                    label.fs-indented.fs-blessing-label(data-i18n="blessing") Blessing
                    label.fs-indented.fs-curse-label(data-i18n="curse") Curse
                    input.fs-blessing-value(name="attr_blessing" type="text" title="${blessing}")
                    input.fs-curse-value(name="attr_curse" type="text" title="${curse}")

            .fs-sheet-section
                h3.fs-uppercase-header(data-i18n='calling') Calling
                input.fs-w100(type="text" name="attr_calling_1" title="${calling_1}")
                input.fs-w100(type="text" name="attr_calling_2" title="${calling_2}")
                input.fs-w100(type="text" name="attr_calling_3" title="${calling_3}")

        .fs-traits
            h3.fs-sheet-section.fs-skills-header.fs-uppercase-header(data-i18n='skills') Skills

            .fs-trait-col.fs-skills-1
                +skill('academia', '3')
                +skill('alchemy', '0')
                +skill('animalia', '3')
                +skill('arts', '3')
                +skill('charm', '3')
                +skill('crafts', '3')
                +skill('disguise', '3')
                +skill('drive', '3')
                +skill('empathy', '3')
                +skill('fight', '3')
                +skill('focus', '3')
                +skill('impress', '3')
                +skill('interface', '0')

            .fs-trait-col.fs-skills-2
                +skill('intrusion', '3')
                +skill('knavery', '3')
                +skill('melee', '3')
                +skill('observe', '3')
                +skill('perform', '3')
                +skill('pilot', '0')
                +skill('remedy', '3')
                +skill('shoot', '3')
                +skill('sleight_of_hand', '3')
                +skill('sneak', '3')
                +skill('survival', '3')
                +skill('tech_redemption', '3')
                +skill('vigor', '3')

            .fs-trait-col.fs-characteristics
                .fs-characteristic-category.fs-trait-col.fs-sheet-section
                    h3.fs-uppercase-header(data-i18n='body') Body
                    +characteristic('strength')
                    +characteristic('dexterity')
                    +characteristic('endurance')
                .fs-characteristic-category.fs-trait-col.fs-sheet-section
                    h3.fs-uppercase-header(data-i18n='mind') Mind
                    +characteristic('wits')
                    +characteristic('perception')
                    +characteristic('will')
                .fs-characteristic-category.fs-trait-col.fs-sheet-section
                    h3.fs-uppercase-header(data-i18n='spirit') Spirit
                    +characteristic('presence')
                    +characteristic('intuition')
                    +characteristic('faith')

        h3.fs-sheet-section.fs-uppercase-header(data-i18n='occult') Occult

        .fs-defenses
            .fs-sheet-section
                h3.fs-uppercase-header(data-i18n='resistances') Resistances

            .fs-sheet-section
                h3.fs-uppercase-header(data-i18n='armor') Armor
                h3.fs-uppercase-header(data-i18n='e-shield') E-Shield

            .fs-sheet-section.fs-vita-and-revivals-grid
                h3.fs-vitality-header.fs-uppercase-header(data-i18n='vitality') Vitality
                label.fs-indented.fs-vitality-rating-label(data-i18n="rating") Rating
                input.fs-vitality-rating-value(name="attr_vitality_rating" type="number" title="${vitality_rating}")
                label.fs-indented.fs-vitality-current-label(data-i18n="current") Current
                input.fs-vitality-current-value(name="attr_vitality_current" type="number" title="${vitality_current}")
                h3.fs-revivals-header.fs-uppercase-header(data-i18n='revivals') Revivals
                label.fs-indented.fs-revivals-rating-label(data-i18n="rating") Rating
                input.fs-revivals-rating-value(name="attr_revivals_rating" type="number" title="${revivals_rating}")
                label.fs-indented.fs-revivals-number-label(data-i18n="number") Number
                input.fs-revivals-number-current(name="attr_revivals_number" type="number" title="${vitality_current}")

        .fs-actions-vp-bank-and-surge
            .fs-sheet-section
                h3.fs-uppercase-header(data-i18n='actions') Actions

            .fs-sheet-section-frame
                h3.fs-uppercase-header(data-i18n='vp-bank') VP Bank
                h3.fs-uppercase-header(data-i18n='surge') Surge

        .fs-sheet-section
            h3.fs-uppercase-header(data-i18n='perks') Perks

        .fs-sheet-section
            h3.fs-uppercase-header(data-i18n='possessions') Possessions

        .fs-sheet-section
            h3.fs-uppercase-header(data-i18n='money') Money

        .fs-sheet-section
            h3.fs-uppercase-header(data-i18n='last_notes') Last Notes
            .fs-nontable.fs-core-details.fs-wide-readonly
                textarea.fs-inline-textarea.fs-supertall-textarea.fs-w100(title='@{last_notes}' type='text' name='attr_last_notes' spellcheck='false')

// CHARACTER SHEET LAYOUT - END
// ROLL TEMPLATES - START
include roll-templates.html
// ROLL TEMPLATES - END
// SHEET WORKERS - START
include sheet-workers.html
// SHEET WORKERS - END

// FIN.
