- const characteristics = ['strength', 'dexterity', 'endurance', 'wits', 'perception', 'will', 'presence', 'intuition', 'faith'];
mixin characteristic(name)
    .fs-characteristic
        button.fs-d20(type='roll' name=`roll_${name}` value=`&{template:fs-GoalRoll} {{characterName=@{character_name}}} {{characteristicName-i18n=^{${name}}}} {{bonus_penalty=[[?{@{goal_bonus_penalty_rollquery_i18n}}]]}} {{goal=[[@{${name}}+[[?{@{goal_bonus_penalty_rollquery_i18n}}]]]]}} {{roll=[[1d20cs[[{@{${name}}+[[?{@{goal_bonus_penalty_rollquery_i18n}}]],19}kl1]]cf20]]}}`)
        label.fs-characteristic-label
            span(data-i18n=`${name}`) ${name}
        input(name=`attr_${name}` type='number' min='0' value='3' title=`\${${name}}. Default value: 3.`)
-
    const skills = [
        { name: "academia", default: 3 },
        { name: "alchemy", default: 0 },
        { name: "animalia", default: 3 },
        { name: "arts", default: 3 },
        { name: "charm", default: 3 },
        { name: "crafts", default: 3 },
        { name: "disguise", default: 3 },
        { name: "drive", default: 3 },
        { name: "empathy", default: 3 },
        { name: "fight", default: 3 },
        { name: "focus", default: 3 },
        { name: "impress", default: 3 },
        { name: "interface", default: 0 },

        { name: "intrusion", default: 3 },
        { name: "knavery", default: 3 },
        { name: "melee", default: 3 },
        { name: "observe", default: 3 },
        { name: "perform", default: 3 },
        { name: "pilot", default: 0 },
        { name: "remedy", default: 3 },
        { name: "shoot", default: 3 },
        { name: "sleight_of_hand", default: 3 },
        { name: "sneak", default: 3 },
        { name: "survival", default: 3 },
        { name: "tech_redemption", default: 3 },
        { name: "vigor", default: 3 }
    ];
mixin skill(name, value)
    .fs-skill
        .fs-skill-normal
            button.fs-d20(type='roll' name='roll_disabledbutton' value='' disabled='')
            .fs-skill-roll-characteristic-choice
                label
                    span(data-i18n=`${name}`) #{name}
                    |  +
                each characteristicName in characteristics
                    div
                        div
                            button.fs-d20(type='roll' name=`roll_${characteristicName}_${name}` value=`&{template:fs-GoalRoll} {{characterName=@{character_name}}} {{characteristicName-i18n=^{${characteristicName}}}} {{skillName-i18n=^{${name}}}} {{bonus_penalty=[[?{@{goal_bonus_penalty_rollquery_i18n}}]]}} {{goal=[[@{${characteristicName}}+@{${name}}+[[?{@{goal_bonus_penalty_rollquery_i18n}}]]]]}} {{roll=[[1d20cs[[{@{${characteristicName}}+@{${name}}+[[?{@{goal_bonus_penalty_rollquery_i18n}}]],19}kl1]]cf20]]}}`)
                            label(data-i18n=`${characteristicName}`) #{characteristicName}
            label.fs-skill-label
                span(data-i18n=`${name}`) #{name}
        input(type='number' name=`attr_${name}` min='0' value=`${value}` title=`@{${name}}. Default value: ${value}.`)


// CHARACTER SHEET LAYOUT - START
.fs-sheet

    input(type="hidden" name="attr_goal_bonus_penalty_rollquery_i18n" value="")

    .fs-sheet-container
        input(type='hidden' name='attr_sheet_version' value='latest')

        .fs-baseinfo
            .fs-sheet-section
                h3.fs-uppercase-header(data-i18n='name') Name
                input.fs-w100(type="text" name="attr_character_name" title="${character_name}")
                .fs-nowrap-w100
                    label.fs-indented(data-i18n="planet") Planet
                    input.fs-w100(name="attr_planet" type="text" title="${planet}")

            .fs-sheet-section
                h3.fs-uppercase-header(data-i18n='rank') Rank
                input.fs-w100(type="text" name="attr_rank" title="${rank}")
                .fs-nowrap-w100
                    label.fs-indented(data-i18n="birthdate") Birthdate
                    input.fs-w100(name="attr_birthdate" type="text" title="${birthdate}")

            .fs-sheet-section
                h3.fs-uppercase-header(data-i18n='species') Species
                input.fs-w100(type="text" name="attr_species" title="${species}")
                .fs-nowrap-w100
                    label.fs-indented(data-i18n="size") Size
                    input.fs-w100(name="attr_size" type="text" title="${size}")
                    label.fs-indented(data-i18n="speed") Speed
                    input.fs-w100(name="attr_speed" type="text" title="${speed}")

        .fs-lifepath
            .fs-sheet-section
                h3.fs-uppercase-header(data-i18n='class') Class
                .fs-class-grid
                    input.fs-class1(name="attr_class_1" type="text" title="${class_1}")
                    input.fs-class2(name="attr_class_1" type="text" title="${class_2}")
                    label.fs-indented.fs-levellabel(data-i18n="level") Level
                    input.fs-levelvalue(name="attr_level" type="number" title="${level}")

            .fs-sheet-section
                h3.fs-uppercase-header(data-i18n='faction') Faction
                .fs-faction-grid
                    input.fs-faction(type="text" name="attr_faction" title="${faction}")
                    label.fs-indented.fs-blessing-label(data-i18n="blessing") Blessing
                    label.fs-indented.fs-curse-label(data-i18n="curse") Curse
                    input.fs-blessing-value(name="attr_blessing" type="text" title="${blessing}")
                    input.fs-curse-value(name="attr_curse" type="text" title="${curse}")

            .fs-sheet-section
                h3.fs-uppercase-header(data-i18n='calling') Calling
                input.fs-w100(type="text" name="attr_calling_1" title="${calling_1}")
                input.fs-w100(type="text" name="attr_calling_2" title="${calling_2}")
                input.fs-w100(type="text" name="attr_calling_3" title="${calling_3}")

        .fs-traits
            h3.fs-sheet-section.fs-skills-header.fs-uppercase-header(data-i18n='skills') Skills

            .fs-trait-col.fs-skills-1
                - for (let i = 0; i < skills.length / 2; ++i)
                    +skill(skills[i].name, skills[i].default)

            .fs-trait-col.fs-skills-2
                - for (let i = skills.length / 2; i < skills.length; ++i)
                    +skill(skills[i].name, skills[i].default)

            .fs-trait-col.fs-characteristics
                .fs-characteristic-category.fs-trait-col.fs-sheet-section
                    h3.fs-uppercase-header(data-i18n='body') Body
                    +characteristic('strength')
                    +characteristic('dexterity')
                    +characteristic('endurance')
                .fs-characteristic-category.fs-trait-col.fs-sheet-section
                    h3.fs-uppercase-header(data-i18n='mind') Mind
                    +characteristic('wits')
                    +characteristic('perception')
                    +characteristic('will')
                .fs-characteristic-category.fs-trait-col.fs-sheet-section
                    h3.fs-uppercase-header(data-i18n='spirit') Spirit
                    +characteristic('presence')
                    +characteristic('intuition')
                    +characteristic('faith')

        h3.fs-sheet-section.fs-uppercase-header(data-i18n='occult') Occult

        .fs-defenses
            .fs-sheet-section
                h3.fs-uppercase-header(data-i18n='resistances') Resistances

            .fs-sheet-section
                h3.fs-uppercase-header(data-i18n='armor') Armor
                h3.fs-uppercase-header(data-i18n='e-shield') E-Shield

            .fs-sheet-section.fs-vita-and-revivals-grid
                h3.fs-vitality-header.fs-uppercase-header(data-i18n='vitality') Vitality
                label.fs-indented.fs-vitality-rating-label(data-i18n="rating") Rating
                input.fs-vitality-rating-value(name="attr_vitality_rating" type="number" title="${vitality_rating}")
                label.fs-indented.fs-vitality-current-label(data-i18n="current") Current
                input.fs-vitality-current-value(name="attr_vitality_current" type="number" title="${vitality_current}")
                h3.fs-revivals-header.fs-uppercase-header(data-i18n='revivals') Revivals
                label.fs-indented.fs-revivals-rating-label(data-i18n="rating") Rating
                input.fs-revivals-rating-value(name="attr_revivals_rating" type="number" title="${revivals_rating}")
                label.fs-indented.fs-revivals-number-label(data-i18n="number") Number
                input.fs-revivals-number-current(name="attr_revivals_number" type="number" title="${vitality_current}")

        .fs-actions-vp-bank-and-surge
            .fs-sheet-section
                h3.fs-uppercase-header(data-i18n='actions') Actions
                
                .fs-actions
                    .fs-table
                        span.fs-table-head
                        span.fs-table-head(data-i18n="action") Maneuver/Attack
                        span.fs-table-head(data-i18n="characteristic") Characteristic
                        span.fs-table-head(data-i18n="skill") Skill
                        span.fs-table-head(data-i18n="goal_bonus_penalty") +/- Goal
                        span.fs-table-head(data-i18n="impact") Impact
                    fieldset.repeating_actions
                        .fs-table
                            input(type="hidden" name="attr_action_characteristic_value")
                            input(type="hidden" name="attr_action_skill_value")
                            button.fs-20(type="roll" name="roll_action_roll" value="&{template:fs-GoalRoll} {{title=@{action_name}}} {{characterName=@{character_name}}} {{characteristicName-i18n=^{@{action_characteristic}}}} {{skillName-i18n=^{@{action_skill}}}} {{bonus_penalty=[[?{@{goal_bonus_penalty_rollquery_i18n}}]]}} {{goal=[[@{action_characteristic_value}+@{action_skill_value}+[[?{@{goal_bonus_penalty_rollquery_i18n}}]]}} {{roll=[[1d20cs[[{@{action_characteristic_value}+@{action_skill_value}+?{@{bonus_penalty_rollquery_i18n}},19}kl1]]cf20]]}}")
                            input.fs-table-cell(type="text" name="attr_action_name")
                            select.fs-table-cell(name="attr_action_characteristic")
                                option(value="" selected)
                                optgroup(label="Body" data-i18n-label='body') Body
                                    option(value ="strength" data-i18n="strength") Strength
                                    option(value ="dexterity" data-i18n="dexterity") Dexterity
                                    option(value ="endurance" data-i18n="endurance") Endurance
                                optgroup(label="Mind" data-i18n-label='mind') Mind
                                    option(value ="wits" data-i18n="wits") Wits
                                    option(value ="perception" data-i18n="perception") Perception
                                    option(value ="will" data-i18n="will") Will
                                optgroup(label="Spirit" data-i18n-label='spirit') Spirit
                                    option(value ="presence" data-i18n="presence") Presence
                                    option(value ="intuition" data-i18n="intuition") Intuition
                                    option(value ="faith" data-i18n="faith") Faith
                            select.fs-table-cell(name="attr_action_skill")
                                option(value="" selected)
                                each sk in skills
                                    option(value =`${sk.name}` data-i18n=`${sk.name}`) #{sk.name}
                            input.fs-table-cell(type="number" name="attr_action_goal_penalty" value=0)
                            input.fs-table-cell(type="text" name="attr_action_impact")

            .fs-sheet-section-frame
                h3.fs-uppercase-header(data-i18n='vp-bank') VP Bank
                h3.fs-uppercase-header(data-i18n='surge') Surge

        .fs-sheet-section
            h3.fs-uppercase-header(data-i18n='perks') Perks

        .fs-sheet-section
            h3.fs-uppercase-header(data-i18n='possessions') Possessions

        .fs-sheet-section
            h3.fs-uppercase-header(data-i18n='money') Money

        .fs-sheet-section
            h3.fs-uppercase-header(data-i18n='last_notes') Last Notes
            .fs-nontable.fs-core-details.fs-wide-readonly
                textarea.fs-inline-textarea.fs-supertall-textarea.fs-w100(title='@{last_notes}' type='text' name='attr_last_notes' spellcheck='false')

// CHARACTER SHEET LAYOUT - END
// ROLL TEMPLATES - START
include roll-templates.html
// ROLL TEMPLATES - END
// SHEET WORKERS - START
include sheet-workers.html
// SHEET WORKERS - END

// FIN.
