include src/pug/components/components
include src/pug/abstracts/variables
include src/pug/abstracts/hiddenvariables

.compendium-drop-target.monsters
  input.npc_toggle(name="attr_npc", type="hidden", value="0")
  input.npcspellcastingflag(name="attr_npcspellcastingflag", type="hidden")
  input.toggleflag(name="attr_rtype", type="hidden")
  input.toggleflag(name="attr_confirm", type="hidden")
  input.toggleflag(name="attr_cancel", type="hidden")

  each val in ['Category', 'Name', 'data', 'Content']
    input(accept=val, name=`attr_drop_${val.toLowerCase()}`, type="hidden")

  
  // Drag and Drop Warning
  input.monster_confirm_flag(name='attr_monster_confirm_flag' type='hidden')
  .dialog.dialog--confirmnpc
    .dialog__wrapper
      .dialog__explain
        span(data-i18n="replace-sheet-with")
        span.dialog__newname(name="attr_drop_name")
      .dialog__buttonrow
        button.dialog__button(
          data-i18n="Confirm",
          name="act_confirm_npc",
          type="action"
        )
        button.dialog__button(
          data-i18n="Reject",
          name="act_reject_npc",
          type="action"
        )

  .dialog.dialog--warning
    .dialog__wrapper
      .dialog__explain(data-i18n="accept-compendium-drop")

  //- NPC
  .container.npc
    include src/pug/npc.pug

  //- PC
  .container.pc
    include src/pug/layouts/headers/header

    include src/pug/layouts/utility/navigation

    input.page__switch(name="attr_tab", type="hidden", value="core")

    .page.core
      include src/pug/layouts/tabs/core

    .page.spellmoves
      include src/pug/layouts/tabs/spells

    .page.bio
      include src/pug/layouts/tabs/bio

    .page.settings
      include src/pug/layouts/tabs/settings

//- .compendium_warning
//- 	span(data-i18n="accepting-drop-u") ACCEPTING DROP FROM COMPENDIUM

//- include src/pug/layouts/utility/dialogs

//- ROLL TEMPLATES
.rolltemplates
  include src/html/attack.html
  include src/html/attackdamage.html
  include src/html/damage.html
  include src/html/description.html
  include src/html/dmgaction.html
  include src/html/npc.html
  include src/html/npcaction.html
  include src/html/npcattack.html
  include src/html/npcdmg.html
  include src/html/npcfullatk.html
  include src/html/simple.html
  include src/html/simple3d.html
  include src/html/skill.html
  include src/html/spell.html
  include src/html/spelloutput.html
  include src/html/traits.html

//- SHEET WORKERS
script(type="text/worker")
  include src/js/classes/SheetUtils/SheetUtils.js
  include src/js/classes/FlagManager/FlagManager.js

  include src/js/helperFunctions.js
  include src/js/sheetworkers.js

  include src/js/classes/DropClasses/DropClasses.js
  include src/js/dragndrop/dropFunctions.js
  include src/js/dragndrop/DragAndDrop.js
