mixin tags(array)
  each tag in array
    if (tag[0] === "^")
      | {{#{ tag }}}
    else
      | {{##{ tag }}}
  if block
    block
  each tag in array.reverse()
    if (tag[0] === "^")
      - tag = tag.slice(1);
      | {{/#{ tag }}}
    else
      | {{/#{ tag }}}

mixin rollFunction(array)
  each tag in array
    | {{##{ tag }}}
  if block
    block
  each tag in array.reverse()
    | {{/#{ tag }}}

mixin displayDie(die)
  +rollFunction([`rollBetween() computed::${die} 1 1`])
    .sheet-roll__die
      span.sheet-roll__die--1
        | 1
        img(src='https://raw.githubusercontent.com/Roll20/roll20-character-sheets/master/Slugblaster/assets/dice/dice-01.svg')
  +rollFunction([`rollBetween() computed::${die} 2 2`])
    .sheet-roll__die
      span.sheet-roll__die--2
        | 2
        img(src='https://raw.githubusercontent.com/Roll20/roll20-character-sheets/master/Slugblaster/assets/dice/dice-02.svg')
  +rollFunction([`rollBetween() computed::${die} 3 3`])
    .sheet-roll__die
      span.sheet-roll__die--3
        | 3
        img(src='https://raw.githubusercontent.com/Roll20/roll20-character-sheets/master/Slugblaster/assets/dice/dice-03.svg')
  +rollFunction([`rollBetween() computed::${die} 4 4`])
    .sheet-roll__die
      span.sheet-roll__die--4
        | 4
        img(src='https://raw.githubusercontent.com/Roll20/roll20-character-sheets/master/Slugblaster/assets/dice/dice-04.svg')
  +rollFunction([`rollBetween() computed::${die} 5 5`])
    .sheet-roll__die
      span.sheet-roll__die--5
        | 5
        img(src='https://raw.githubusercontent.com/Roll20/roll20-character-sheets/master/Slugblaster/assets/dice/dice-05.svg')
  +rollFunction([`rollBetween() computed::${die} 6 6`])
    .sheet-roll__die
      span.sheet-roll__die--6
        | 6
        img(src='https://raw.githubusercontent.com/Roll20/roll20-character-sheets/master/Slugblaster/assets/dice/dice-06.svg')
