each discipline, disciplineName in data
    if (disciplineName === 'Attack' || disciplineName === 'Defense')
        datalist(id=`psionic-${disciplineName}s`.toLowerCase())
            each tier, tierName in discipline
                each power, powername in tier
                    option(value=powername)
    else
        each tier, tierName in discipline
            datalist(id=`${disciplineName}-${tierName}s`.toLowerCase())
                each power, powername in tier
                    option(value=powername)