style("text/css").
    table {
        border-collapse: collapse;
        position: relative;
        text-align: left;
    }
    tr.gray th {
        background: lightgray;
    }
    th, td {
        padding: 2px;
    }
    th {
        position: sticky;
        top: 0;
    }

table
    tr(class="gray")
        th Name
        th Schools
        th Book
    each levelObject, level in data
        each spell, spellName in levelObject
            if (!spell['school-spells-and-magic'])
                - continue
            tr
                td #{spellName}
                td #{spell.school}
                td #{spell.book}
            if (spell['school-spells-and-magic'])
                tr
                    td #{spellName}
                    td #{spell['school-spells-and-magic']}
                    td Player's Option: Spells & Magic
            tr
                td &emsp;