each levelObject, level in data
    datalist(id=`${level}-spells`)
        each spell, spellName in levelObject
            - let category = spell.category || ''
            if level.endsWith('monster')
                - let displayLevel
                case spell.level
                    when '1': - displayLevel = `${spell.level}st level`
                    when '2': - displayLevel = `${spell.level}nd level`
                    when '3': - displayLevel = `${spell.level}rd level`
                    when 'q': - displayLevel = `Quest Spell`
                    default:  - displayLevel = `${spell.level}th level`

                if (category)
                    - displayLevel += `, ${category}`
                if (spell.book !== 'PHB')
                    - displayLevel += `, ${spell.book}`
                option(value!=spellName)= displayLevel
            else
                if (spell.book !== 'PHB')
                    if (category)
                        - category += ', '
                    - category += `${spell.book}`
                option(value!=spellName)= category