style("text/css").
    table {
        border-collapse: collapse;
        position: relative;
        text-align: left;
    }
    tr.gray th {
        background: lightgray;
    }
    th, td {
        padding: 2px;
    }
    th {
        position: sticky;
        top: 0;
    }

table
    tr(class="gray")
        th Name
        th Spheres
        th Book
    each levelObject, level in data
        each spell, spellName in levelObject
            if (!spell['sphere-druids'] && !spell['sphere-necromancers'] && !spell['sphere-spells-and-magic'])
                - continue
            tr
                td #{spellName}
                td #{spell.sphere}
                td #{spell.book}
            if (spell['sphere-druids'])
                tr
                    td #{spellName}
                    td #{spell.sphere + spell['sphere-druids']}
                    td The Complete Druid's Handbook
            if (spell['sphere-necromancers'])
                tr
                    td #{spellName}
                    td #{spell.sphere + spell['sphere-necromancers']}
                    td The Complete Book of Necromancers
            if (spell['sphere-spells-and-magic'])
                tr
                    td #{spellName}
                    td #{spell['sphere-spells-and-magic']}
                    td Player's Option: Spells & Magic
            tr
                td &emsp;