- let i = 3;
table(class='sheet-centering-horizontal sheet-padding-right')
    tr
        th(style={'vertical-align': 'bottom'}) Ability Score
        th
            | Pick
            br
            | Pockets
            sup A
        th
            | Open
            br
            | Locks
            sup A
        th
            | Find/Remove
            br
            | Traps
            sup A
        th
            | Move
            br
            | Silently
            sup B
        th
            | Hide in
            br
            | Shadows
            sup B
        th
            | Climb
            br
            | Walls
            sup B
        th(style={'vertical-align': 'bottom'}) Tunneling
            sup D
        th
            | Escape
            br
            | Bonds
            sup D
    while i < 26
        if i === 13 || i === 14
        else if i === 15
            tr
                th 13-15
                td #{data['pickpocket'][15]}%
                td #{data['openlocks'][15]}%
                td #{data['findtraps'][15]}%
                td #{data['movesilently'][15]}%
                td #{data['hideinshadows'][15]}%
                td #{data['climbwalls'][15]}%
                td #{data['tunneling'][15]}%
                td #{data['escapebonds'][15]}%
        else
            tr
                th= i
                td #{data['pickpocket'][i]}%
                td #{data['openlocks'][i]}%
                td #{data['findtraps'][i]}%
                td #{data['movesilently'][i]}%
                td #{data['hideinshadows'][i]}%
                td #{data['climbwalls'][i]}%
                td #{data['tunneling'][i]}%
                td #{data['escapebonds'][i]}%
        - i++
    - i = 3
br
ul(class='custom-list')
    li(class='bullet-A')
        span Pick Pockets, Open Locks, Find/Remove Traps are adjusted by Dexterity/Aim
    li(class='bullet-B')
        span Move Silently, Hide in Shadows, Climb Walls are adjusted by Dexterity/Balance
    li(class='bullet-D')
        span Tunneling and Escape Bonds are adjusted by Dexterity
