- let i = 3;
table(class='sheet-rogue-info sheet-rogue-info-center-column1')
    tr
        th Ability Score
        th
            | Pick
            br
            | Pockets
            sup A
        th
            | Open
            br
            | Locks
            sup A
        th
            | Find/Remove
            br
            | Traps
            sup A
        th
            | Move
            br
            | Silently
            sup B
        th
            | Hide in
            br
            | Shadows
            sup B
        th
            | Climb
            br
            | Walls
            sup B
        th Tunneling
            sup D
        th
            | Escape
            br
            | Bonds
            sup D
    while i < 26
        if i === 13 || i === 14
            - i++
            - continue
        tr
            th #{i === 15 ? '13-15' : i}
            td= data['pickpocket'][i] === '0' ? '—' : data['pickpocket'][i]+'%'
            td= data['openlocks'][i] === '0' ? '—' : data['openlocks'][i]+'%'
            td= data['findtraps'][i] === '0' ? '—' : data['findtraps'][i]+'%'
            td= data['movesilently'][i] === '0' ? '—' : data['movesilently'][i]+'%'
            td= data['hideinshadows'][i] === '0' ? '—' : data['hideinshadows'][i]+'%'
            td= data['climbwalls'][i] === '0' ? '—' : data['climbwalls'][i]+'%'
            td= data['tunneling'][i] === '0' ? '—' : data['tunneling'][i]+'%'
            td= data['escapebonds'][i] === '0' ? '—' : data['escapebonds'][i]+'%'
        - i++
    - i = 3
ul(class='custom-list')
    li(class='bullet-A')
        span Pick Pockets, Open Locks, Find/Remove Traps are adjusted by Dexterity/Aim
    li(class='bullet-B')
        span Move Silently, Hide in Shadows, Climb Walls are adjusted by Dexterity/Balance
        ul
            li Climb Walls do not get adjusted by Dexterity in the Player's Handbook and therefore will only be set if Aim or Balance has a value, indicating that Player's Option rules are used.
    li(class='bullet-D')
        span Tunneling and Escape Bonds are adjusted by Dexterity
    li(class='bullet-disc')
        span Some setting, like Dark Sun, have specific adjustments for Dexterity below 9 and above 19. If you play in such a setting, update these values manually every time your Dexterity changes.
br