.table.grid-attributes
  .table__header 
    .table__cell Körperliche und Geistige Verfassung
  .grid-attributes__body
    .table__body.grid-attributes__attribute-values
      .table__cell.bold
        .label__text Attribute
      .table__cell.bold
        .label__text.h-text-center Wert
      .table__cell.bold
        .label__text.h-text-center x5
      .table__cell.bold
        .label__text Besonderes Merkmal
      each attribute in attributes 
        .table__cell.h-flex
          .h-grow
            span.label__text= attribute.label
          .h-shrink
            button(type="roll" value=`&{template:fhtagn} {{rollname=Probe vs. ${attribute.label}}} {{probe=[[1d100cf101cs0]]}} {{grundwert=@{${attribute.name}-x5}}}` name=`roll_${attribute.label}`) 
        .table__cell.h-text-center
          +numberInput(`${attribute.name}`)
        .table__cell.h-text-center
          +numberInput(`${attribute.name}-x5`)
        .table__cell
          +textInput(`${attribute.name}-besonderes-merkmal`)
      .table__cell.grid-attributes__appearance.h-flex.h-space-between.h-flex-column
        .bold Aussehen und körperliche Beeinträchtigungen
        +textarea('aussehen')
        div 
          +checkboxInput('erste-hilfe-erhalten')
          | Erste Hilfe seit letzter Verwundung erhalten.    

    .grid-attributes__derived-values
      .table__cell.bold
        .label__text Abgeleitete Werte
      .table__cell.bold
        .label__text.h-text-center Max
      .table__cell.bold
        .label__text.h-text-center Aktuell
      .table__cell.bold
        .label__text Schwellen
      each value in derivedValues
        .table__cell.h-flex
          .h-grow.label__text= value.label
          if value.name === "stabilitaetspunkte"
            .h-shrink
              button(type="roll" value=`&{template:fhtagn} {{rollname=Probe vs. Stabilität}} {{probe=[[1d100cf101cs0]]}} {{grundwert=@{stabilitaetspunkte-aktuell}}}` name=`roll_stabilitaet`) 

        //- Max
        if typeof value.max !== 'undefined'
          .table__cell.h-text-center= value.max
        else 
          .table__cell.h-text-center
            +numberInput(`${value.name}-max`)
        //- Value
        .table__cell.h-text-center
          +numberInput(`${value.name}-aktuell`)
        .table__cell!= value.schwelle
      .table__cell.grid-attributes__stability-losses.h-flex.h-flex-column.h-space-between
        .bold Stabilitätsverluste ohne weitere Folgen 
        .h-flex.h-space-between
          .grid-attributes__gewalt Gewalt: 
            +checkboxInput('gewalt-1')
            +checkboxInput('gewalt-2')
            +checkboxInput('gewalt-3')
            | abgehärtet
          .grid-attributes__hilflosigkeit Hilflosigkeit: 
            +checkboxInput('hilflosigkeit-1')
            +checkboxInput('hilflosigkeit-2')
            +checkboxInput('hilflosigkeit-3')
            | abgehärtet
      .table__cell.grid-attributes__motivations.h-flex.h-space-between.h-flex-column
        .bold Motivationen und psychische Störungen
        +textarea('motivationen')