.table.grid-connections
  .table__header.grid-connections__header
    .table__cell.grid-connections__connections Bindungen
    .table__cell.grid-connections__rituals Rituale
  .table__body.grid-connections__body 
    each row, index in new Array(6)
      .table__cell
        +textInput(`bindung-name-${index + 1}`)
      .table__cell.h-text-center
        +numberInput(`bindung-value-${index + 1}`)
      .table__cell
        +textInput(`bindung-name-${index + 7}`)
      .table__cell.h-text-center
        +numberInput(`bindung-value-${index + 7}`)
      .table__cell
        +textInput(`ritual-${index + 1}`)
