.table
  .table__header
    .table__cell Ausrüstung
  .table__body.grid-equipment
    .table__cell.grid-equipment__items
      .h-flex.h-flex-column.h-height-100
        .bold Gegenstände
        +textarea('items')
    .table__cell.bold.grid-equipment__schutz Schutz
    .table__cell.bold.h-text-center PW
    each cell, index in new Array(6)
      .table__cell.grid-equipment__schutz
        +textInput(`schutz-name-${index}`)
      .table__cell.h-text-center
        +numberInput(`schutz-pw-${index}`)
    .table__cell.bold Waffe
    .table__cell.bold Fertigkeit
    .table__cell.bold.h-text-center Fert. %
    .table__cell.bold.h-text-center BRW
    .table__cell.bold.h-text-center Schaden
    .table__cell.bold.h-text-center PB
    .table__cell.bold.h-text-center T%
    .table__cell.bold.h-text-center TWB 
    .table__cell.bold.h-text-center MUN

    .table__cell.h-flex 
      .h-grow Unbewaffnet
      .h-shrink
        button(type="roll" value=`&{template:fhtagn} {{rollname=Unbewaffneter Angriff}} {{probe=[[1d100cf101cs0]]}} {{grundwert=@{Waffenloser_Kampf-wert}}}`)
    .table__cell.h-text-center Waffenloser Kampf
      +hiddenInput('waffe-unbewaffnet-fert', 'Waffenloser Kampf')
    .table__cell.h-text-center
      +numberInput('waffe-unbewaffnet-fert-wert')
    .table__cell.h-text-center –
    .table__cell.h-text-center.h-flex
      .h-grow: +textInput('waffe-unbewaffnet-schaden')
      .h-shrink
        +hiddenInput('waffe-unbewaffnet-schaden-rollcontent', `&{template:fhtagn} {{rollname=Unbewaffneter Schaden}} {{probe=[[@{waffe-unbewaffnet-schaden}]]}}`)
        button(type="roll" value=`@{waffe-unbewaffnet-schaden-rollcontent}`)
    .table__cell.h-text-center –
    .table__cell.h-text-center –
    .table__cell.h-text-center –
    .table__cell.h-text-center – 
    each row, indexRow in new Array(4)
      each columnName, indexColumn in ['name', 'fert', 'fert-wert', 'BRW', 'schaden', 'PB', 'T%', 'TWB', 'MUN']
        .table__cell(class=[2, 3, 4, 5, 6, 7, 8].indexOf(indexColumn) > -1 ? 'h-text-center' : '')
          if (columnName === 'name')
            .h-flex
              .h-grow
                +textInput(`waffe-${indexRow}-${columnName}`)
              .h-shrink
                +hiddenInput(`waffe-${indexRow}-attack-roll`, `&{template:fhtagn} {{rollname=Angriff mit @{waffe-${indexRow}-name}}} {{probe=[[1d100cf101cs0]]}} {{grundwert=@{waffe-${indexRow}-fert-wert}}}`)
                button(type="roll" value=`@{waffe-${indexRow}-attack-roll}` name=`roll_waffe-${indexRow}`) 
          else if (columnName === 'fert')
            select(name=`attr_waffe-${indexRow}-fert`)
              option(value="null") – auswählen – 
              option(value="Athletik") Athletik
              option(value="Nahkampfwaffen") Nahkampfwaffe
              option(value="Schusswaffen") Schusswaffe
              option(value="Waffenloser_Kampf") Waffenloser Kampf
          else if (columnName === 'schaden')
            .h-flex
              .h-grow: +textInput(`waffe-${indexRow}-${columnName}`)
              .h-shrink
                +hiddenInput(`waffe-${indexRow}-${columnName}-rollcontent`, `&{template:fhtagn} {{rollname=Schaden mit @{waffe-${indexRow}-name}}} {{probe=[[@{waffe-${indexRow}-schaden}]]}}`)
                button(type="roll" value=`@{waffe-${indexRow}-${columnName}-rollcontent}`)
          else
            +numberInput(`waffe-${indexRow}-${columnName}`)

