.table.table--personal
  .table__header
    .table__cell Fertigkeiten
  .table__body.grid-skills
    each skill, skillname in skills
      if skill.specialisation
        .table__cell.table__cell-specialisation
          span= `${skillname} (${skill.value}%)`
          +hiddenInput(`${skillname}-basiswert`, skill.value)
        each specialisation, index in new Array(skill.specialisation)
          .table__cell.h-flex(class= index < (skill.specialisation - 1) ? 'table__cell-specialisation' : '')
            +checkboxInput(`${skillname}-custom-${index}-check`)
            +textInput(`${skillname}-custom-${index}`)(class="h-grow h-mr-3")
            +numberInput(`${skillname}-custom-${index}-wert`)(class="label--narrow h-text-center")
            +hiddenInput(`${skillname}-custom-${index}-rollcontent`, `&{template:fhtagn} {{rollname=Probe vs. ${skillname}: @{${skillname}-custom-${index}}}} {{probe=[[1d100cf101cs0]]}} {{basiswert=@{${skillname.replace(/ /g, '_')}-basiswert}}} {{grundwert=@{${skillname.replace(/ /g, '_')}-custom-${index}-wert}}}`)
            button(
              type="roll"
              value=`@{${skillname}-custom-${index}-rollcontent}`
              name=`roll_${skillname}-custom-${index}`
            )
      else
        .table__cell.h-flex
          .h-grow
            if (skillname !== 'Unnatürliches Wissen')
              +checkboxInput(`${skillname}-check`)
            span= `${skillname} (${skill.value}%)`
          .h-shrink
            +numberInput(`${skillname}-wert`)(class="label--narrow h-text-center")
            +hiddenInput(`${skillname}-basiswert`, skill.value)
          .h-shrink
            +hiddenInput(`${skillname}-rollcontent`, `&{template:fhtagn} {{rollname=Probe vs. ${skillname}}} {{probe=[[1d100cf101cs0]]}} {{basiswert=@{${skillname.replace(/ /g, '_')}-basiswert}}} {{grundwert=@{${skillname.replace(/ /g, '_')}-wert}}}`)
            button(
              type="roll"
              value=`@{${skillname.replace(/ /g, '_')}-rollcontent}`
              name=`roll_${skillname}`
            )
    .table__cell Weitere Fertigkeiten
    each emptyLine, index in new Array(13)
      .table__cell.h-flex
        .h-grow.h-flex
          +checkboxInput(`fertigkeit-custom-${index}-check`)
          +textInput(`fertigkeit-custom-${index}`)(class="h-mr-3")
        .h-shrink
          +numberInput(`fertigkeit-custom-${index}-value`)(class="label--narrow h-text-center")
        .h-shrink
          button(
            type="roll"
            value=`&{template:fhtagn} {{rollname=Probe vs. @{fertigkeit-custom-${index}} }} {{probe=[[1d100cf101cs0]]}} {{grundwert=@{fertigkeit-custom-${index}-value}}}` name=`roll_${skillname}-custom-${index}`
          )
