
//- VERSION
//- =============================
input(name='attr_version' type='hidden' value='1.04')

//- MIXINS
include src/pug/_mixins.pug

-const imgSRC = 'https://raw.githubusercontent.com/Roll20/roll20-character-sheets/master/Kids%20on%20Bikes%20Official/images';

h1.logo
  img(alt='Kids on Bike Character Sheet', src=`${imgSRC}/KOBLogo.png`)
.grid.kob-row
  .grid.box.biobox
    each val in ['Name', 'Age', 'Fear', 'Motivation']
      - const attrName = val.toLowerCase();
      img(alt=val src!=`${imgSRC}/Label-${val}.png`)
      input(data-i18n-placeholder=val name='attr_character_'+attrName placeholder=val title='@{character_'+attrName+'}' type='text' value='')
    img(src=`${imgSRC}/Label-Descriptions.png`, alt='Description')
    textarea(name='attr_character_description' title='@{character_description}')
    img(src=`${imgSRC}/Label-Adversity_updated.png` alt='Adversity')
    .sheet-biolabelcol
      span.sheet-adversitytokens
      - let index = 1
      while index < 16
        input(name='attr_token' + index++ title='@{token}' type='checkbox' value='1')

  .grid.box.dicebox
    each val in ['Fight', 'Flight', 'Brains', 'Brawn', 'Charm', 'Grit']
      - const attrName = val.toLowerCase();
      button(name=val type='roll' value!='&{template:rolls}{{header=^{'+val+'}}} {{dice=[[@{'+attrName+'}!+?{modifier|0}]]}}')  
        //-img(alt=val src=`${imgSRC}/Label-${val}.png`)
        span(data-i18n=val)
      select(name='attr_'+attrName title='@{'+attrName+'}' value='d4')
        +diceSelect()

.grid.kob-row
  .grid.box.strenghtsbox
    h2
      img.header(alt='Strengths' src=`${imgSRC}/Label-Strengths-1.png`)
      - const strengths =[{'attr' : 'cool', 'name' : 'COOL UNDER PRESSURE'}, {'attr' : 'easy_going', 'name' : 'EASY GOING'}, {'attr' : 'gross', 'name' : 'GROSS'}, {'attr' : 'heroic', 'name' : 'HEROIC'}, {'attr' : 'intuitive', 'name' : 'INTUITIVE'}, {'attr' : 'loyal', 'name' : 'LOYAL'}, {'attr' : 'lucky', 'name' : 'LUCKY'}, {'attr' : 'prepared', 'name' : 'PREPARED'}, {'attr' : 'protective', 'name' : 'PROTECTIVE'}, {'attr' : 'quick_healing', 'name' : 'QUICK HEALING'}, {'attr' : 'rebellious', 'name' : 'REBELLIOUS'}, {'attr' : 'tough', 'name' : 'TOUGH'}, {'attr' : 'treasure_hunter', 'name' : 'TREASURE HUNTER'}, {'attr' : 'unassuming', 'name' : 'UNASSUMING'}, {'attr' : 'wealthy', 'name' : 'WEALTHY'}]
    each s,i in strengths
      - const attrName = s.attr.split('attr_')[0];
      label(data-i18n-title=s.name title=s.name)
        input(name='attr_'+s.attr title='@{'+attrName+'}' type='checkbox' value='1')
      span(data-i18n=s.name)=s.name
    label.skilledat(data-i18n-title='SKILLED AT' title='SKILLED AT')
      input(name='attr_skilled_at' title='@{skilled_at}' type='checkbox' value='1')
    span(data-i18n='SKILLED AT:') SKILLED AT:
    label.skillatcheckbox(data-i18n-title='SKILLED AT DESCRIPTION' title='SKILLED AT DESCRIPTION')
      input(name='attr_skill_description' title='@{skill_description}' type='text' )

  .grid.box.flawsbox
    h2
      img.header(alt='Flaws' src=`${imgSRC}/Label-Flaws-1.png`)
    - const flaws = [{'name': "ABSENT MINDED", "attr":"attr_absent_minded"},{"name": "BLUNT","attr":"attr_blunt" } ,{"name":"BOASTFUL", "attr":"attr_boastful"},{"name":"CLUMSY", "attr" : "attr_clumsy"},{"name":"CONCEITED", "attr":"attr_conceited"} , {"name":"COWARDLY", "attr": "attr_cowardly"},{"name": "DECEITFUL", "attr":"attr_deceitful"} ,  {"name":"DEMANDING", "attr": "attr_demanding"}, {'attr' :'attr_disloyal', 'name': 'DISLOYAL'}, {'attr' :'attr_disobedient', 'name' : 'DISOBEDIENT'}, {'attr' :'attr_dogmatic', 'name' :'DOGMATIC'}, {'attr' :'attr_envious', 'name' : 'ENVIOUS'}, {'attr' :'attr_flippant', 'name' :'FLIPPANT'}, {'attr' :'attr_gloomy', 'name' : 'GLOOMY'}, {'attr' :'attr_greedy', 'name' :'GREEDY'}, {'attr' :'attr_hot_tempered', 'name' :'HOT-TEMPERED'}, {'attr' :'attr_ignorant', 'name' :'IGNORANT'}, {'attr' :'attr_inconsiderate', 'name' :'INCONSIDERATE'}, {'attr' :'attr_insecure', 'name' :'INSECURE'}, {'attr' :'attr_irrational', 'name' :'IRRATIONAL'}, {'attr' :'attr_neurotic', 'name' :'NEUROTIC'}, {'attr' :'attr_obnoxious', 'name' :'OBNOXIOUS'}, {'attr' :'attr_paranoid', 'name' :'PARANOID'}, {'attr' :'attr_patronizing', 'name' :'PATRONIZING'}, {'attr' :'attr_perverse', 'name' :'PERVERSE'}, {'attr' :'attr_petty', 'name' :'PETTY'}, {'attr' :'attr_picky', 'name' :'PICKY'}, {'attr' :'attr_prejudice', 'name' :'PREJUDICE'}, {'attr' :'attr_prim', 'name' :'PRIM'}, {'attr' :'attr_reckless', 'name' :'RECKLESS'},{'attr' :'attr_resentful', 'name' :'RESENTFUL'}, {'attr' :'attr_restless', 'name' :'RESTLESS'}, {'attr' :'attr_rude', 'name' :'RUDE'}, {'attr' :'attr_secretive', 'name' :'SECRETIVE'}, {'attr' :'attr_selfcentered', 'name' :'SELF-CENTERED'}, {'attr' :'attr_selfpitying', 'name' :'SELF-PITYING'}, {'attr' :'attr_slovenly', 'name' :'SLOVENLY'}, {'attr' :'attr_superstitous', 'name' :'SUPERSTITIOUS'}, {'attr' :'attr_vain', 'name' :'VAIN'}, {'attr' :'attr_vindictive', 'name' :'VINDICTIVE'} ]
    each n in flaws
      - const attrName = n.attr.split('attr_')[0];
      label(data-i18n-title=n.name title=n.name)
        input(name=n.attr title='@{'+attrName+'}' type='checkbox' value='1')
      span(data-i18n=n.name)=n.name


.grid.kob-row
  .grid.box.powers
    h2
      img.header(alt='Powers' src=`${imgSRC}/Label-Powers-1.png`)
    textarea(data-i18n-placeholder='Powers' name='attr_powers' placeholder='Powers' title='@{powers}')

  .grid.box.backpack
    h2
      img.header(alt='Backpack' src=`${imgSRC}/Label-Backpack-1.png`)
    textarea(data-i18n-placeholder='Backpack' name='attr_backpack' placeholder='Backpack' title='@{backpack}')

.grid.kob-row
  .grid.box.boxnotes  
    h2
      img.header(alt='Notes' src=`${imgSRC}/Label-Notes-1.png`)
    textarea(data-i18n-placeholder='Notes' name='attr_notes' placeholder='Notes' title='@{notes}')



//- ROLL TEMPLATE
include src/pug/rolltemplate.html