mixin tags(array)
  each tag in array
    if (tag[0] === "^")
      | {{#{ tag }}}
    else
      | {{##{ tag }}}
  if block
    block
  each tag in array.reverse()
    if (tag[0] === "^")
      - tag = tag.slice(1);
      | {{/#{ tag }}}
    else
      | {{/#{ tag }}}

mixin rollFunction(array)
  each tag in array
    | {{##{ tag }}}
  if block
    block
  each tag in array.reverse()
    | {{/#{ tag }}}
