- var charResources = [ 'health', 'spirit', 'supply']
- var sharedResources = [ 'supply' ]
- var standard = [ 5, 4, 3, 2, 1, 0 ]
- var inverse = [ 0, 1, 2, 3, 4, 5 ]

mixin options(trackValues)
  each val in trackValues
    option(value=val)=`+${val}`

mixin dropdowns(resource)
  div.resource
    label.roll-resource-label
      button(
        type="roll"
        title=`@{roll${resource}}`
        class='hide-element'
        name=`roll${resource}`
        value!=`&{template:ironsworn_moves} {{header=@{character_name}}} {{name=roll +${resource}}} {{action=[[{d6+@{${resource}}+(?{Modifier|0}),{10}}kl1]]}} {{negate1=[[1+@{${resource}}+(?{Modifier|0})]]}} {{negate2=[[2+@{${resource}}+(?{Modifier|0})]]}} {{negate3=[[3+@{${resource}}+(?{Modifier|0})]]}} {{negate4=[[4+@{${resource}}+(?{Modifier|0})]]}} {{negate5=[[5+@{${resource}}+(?{Modifier|0})]]}} {{negate6=[[6+@{${resource}}+(?{Modifier|0})]]}} {{challenge1=[[d10]]}} {{challenge2=[[d10]]}} {{momentum=[[@{momentum}]]}} {{modifiers=[[@{${resource}}+(?{Modifier|0})]]}} {{add=[[(?{Modifier|0})]]}} {{stat=[[@{${resource}}]]}}`
      )
      div(data-i18n=`resource-${resource}`)=locals.translations[`resource-${resource}`]
    select(class="resource-value" name=`attr_${resource}`)
      if resource == 'wealth'
        - var trackValues = inverse
        +options(inverse)
      else
        - var trackValues = standard
        +options(standard)

mixin character(resources)
  div.resources
    div.resource
      h2.resource-title(data-i18n='character-name')=locals.translations['character-name']
      div.health-status-box
        input(type='text' class="resource-value character-name" name="attr_character_name" placeholder='Character Name')

    each resource in resources
      +dropdowns(resource)
    
    div.resource
      h2.resource-title(data-i18n='character-experience')=locals.translations['character-experience']
      div.health-status-box
        input(type='text' class="resource-value" name="attr_xp" value="0")
      h2.resource-title(data-i18n='character-experience-spent')=locals.translations['character-experience-spent']
      div.health-status-box
        input(type='text' class="resource-value" name="attr_total_xp" value="0")

mixin shared(resources)
  div.resources
    each resource in resources
      +dropdowns(resource)

mixin resources(sheetType)
  if sheetType == 'shared'
    - var resources = sharedResources
    +shared(resources)
  else
    - var resources = charResources
    +character(resources)