input(
  name="attr_roll_template_conditions" 
  type="hidden"
)
input(
  name="attr_conditions_modifier" 
  type="hidden"
)
input(
  name="attr_town_conditions_modifier" 
  type="hidden"
)
input(
  name="attr_conflict_conditions_modifier" 
  type="hidden"
)
input(
  name="attr_complex_trigger" 
  type="hidden"
)
input(
  value="0" 
  name="attr_complex_trigger_mod" 
  type="hidden"
)
input(
  name="attr_complex_trigger_display" 
  type="hidden"
)
input(
  value="" 
  name="attr_complex_mods" 
  type="hidden"
)
input(
  value="@{conditions_modifier}" 
  name="attr_complex_conditions_modifier" 
  type="hidden"
)
input(
  name="attr_roll_template_complex_mods" 
  type="hidden"
)
input(
  value="" 
  name="attr_complex_ob_formula" 
  type="hidden"
)
input(
  value="" 
  name="attr_ob_type_template" 
  type="hidden"
)
input(
  value="0" 
  name="attr_success_mod" 
  type="hidden"
)
input(
  value="{{disposition=[[@{success_mod_base}]]}}" 
  name="attr_success_mod_rolltemplate" 
  type="hidden"
)
input(
  value="0"
  name="attr_backpack_mod" 
  type="hidden"
)
input(
  value="" 
  name="attr_bl_prefix" 
  type="hidden"
)
input(
  value=""
  name="attr_bl_suffix"
  type="hidden"
)
input(
  value="false"
  name="attr_initialized"
  type="hidden"
)
input(
  value=""
  name="attr_other_mod_operator"
  type="hidden"
)
input(
  value=""
  name="attr_other_successes_operator"
  type="hidden"
)