.sheet-page2.sheet-tabcontainer.sheet-hidden
  // FATE
  #inventory.sheet-section.sheet-inventory
    .sheet-header
      span Inventory
    .sheet-inventory-row
      .sheet-inventory-section
        .sheet-row.sheet-name-header
          span.sheet-font-bigger.sheet-bold Head
        .sheet-row.sheet-inventory-container
          span.sheet-font-small.sheet-faint.sheet-worn.sheet-bold Worn
          input.sheet-textinput.sheet-edit(
            name="attr_inventory_head1" 
            type="text"
            )
          span.sheet-play.sheet-handwritten.sheet-font-big(name="attr_inventory_head1")
          .sheet-status-container
            input.sheet-underlined.sheet-edit(
              value="1" 
              name="attr_inventory_head1_damaged" 
              type="checkbox"
              )
            span.sheet-edit
            span.sheet-font-small.sheet-status.sheet-faint.sheet-edit.sheet-bold Damaged
      .sheet-inventory-section
        .sheet-row.sheet-name-header
          span.sheet-font-bigger.sheet-bold Neck
        .sheet-row.sheet-inventory-container
          span.sheet-font-small.sheet-faint.sheet-worn.sheet-bold Worn
          input.sheet-textinput.sheet-edit(
            name="attr_inventory_neck1" 
            type="text"
            )
          span.sheet-play.sheet-handwritten.sheet-font-big(name="attr_inventory_neck1")
          .sheet-status-container
            input.sheet-underlined.sheet-edit(
              value="1" 
              name="attr_inventory_neck1_damaged" 
              type="checkbox"
              )
            span.sheet-edit
            span.sheet-font-small.sheet-status.sheet-faint.sheet-edit.sheet-bold Damaged
      .sheet-inventory-section
        .sheet-row.sheet-name-header
          span.sheet-font-bigger.sheet-bold Hands
        .sheet-row.sheet-inventory-container
          span.sheet-font-small.sheet-faint.sheet-worn.sheet-bold Worn
          input.sheet-textinput.sheet-edit(
            name="attr_inventory_hands1" 
            type="text"
            )
          span.sheet-play.sheet-handwritten.sheet-font-big(name="attr_inventory_hands1")
          .sheet-status-container
            input.sheet-underlined.sheet-edit(
              value="1" 
              name="attr_inventory_hands1_damaged" 
              type="checkbox"
              )
            span.sheet-edit
            span.sheet-font-small.sheet-status.sheet-faint.sheet-edit.sheet-bold Damaged
        .sheet-row.sheet-inventory-container
          span.sheet-font-small.sheet-faint.sheet-worn.sheet-bold Worn
          input.sheet-textinput.sheet-edit(
            name="attr_inventory_hands2" 
            type="text"
            )
          span.sheet-play.sheet-handwritten.sheet-font-big(name="attr_inventory_hands2")
          .sheet-status-container
            input.sheet-underlined.sheet-edit(
              value="1" 
              name="attr_inventory_hands2_damaged" 
              type="checkbox"
              )
            span.sheet-edit
            span.sheet-font-small.sheet-status.sheet-faint.sheet-edit.sheet-bold Damaged
        .sheet-row.sheet-inventory-container
          span.sheet-font-small.sheet-faint.sheet-worn.sheet-bold Carried
          input.sheet-textinput.sheet-edit(
            name="attr_inventory_hands3" 
            type="text"
            )
          span.sheet-play.sheet-handwritten.sheet-font-big(name="attr_inventory_hands3")
          .sheet-status-container
            input.sheet-underlined.sheet-edit(
              value="1" 
              name="attr_inventory_hands3_damaged" 
              type="checkbox"
              )
            span.sheet-edit
            span.sheet-font-small.sheet-status.sheet-faint.sheet-edit.sheet-bold Damaged
        .sheet-row.sheet-inventory-container
          span.sheet-font-small.sheet-faint.sheet-worn.sheet-bold Carried
          input.sheet-textinput.sheet-edit(
            name="attr_inventory_hands4" 
            type="text"
            )
          span.sheet-play.sheet-handwritten.sheet-font-big(name="attr_inventory_hands4")
          .sheet-status-container
            input.sheet-underlined.sheet-edit(
              value="1" 
              name="attr_inventory_hands4_damaged" 
              type="checkbox"
              )
            span.sheet-edit
            span.sheet-font-small.sheet-status.sheet-faint.sheet-edit.sheet-bold Damaged
      .sheet-inventory-section
        .sheet-row.sheet-name-header
          span.sheet-font-bigger.sheet-bold Feet
        .sheet-row.sheet-inventory-container
          span.sheet-font-small.sheet-faint.sheet-worn.sheet-bold Worn
          input.sheet-textinput.sheet-edit(
            name="attr_inventory_feet1" 
            type="text"
            )
          span.sheet-play.sheet-handwritten.sheet-font-big(name="attr_inventory_feet1")
          .sheet-status-container
            input.sheet-underlined.sheet-edit(
              value="1" 
              name="attr_inventory_feet1_damaged" 
              type="checkbox"
              )
            span.sheet-edit
            span.sheet-font-small.sheet-status.sheet-faint.sheet-edit.sheet-bold Damaged
    .sheet-inventory-row
      .sheet-inventory-section
        .sheet-row.sheet-name-header
          span.sheet-font-bigger.sheet-bold Torso
        input.sheet-flag.sheet-backpack-flag(
          value="none" 
          name="attr_backpack_type" 
          type="hidden"
          )
        .sheet-inventory-container.sheet-hidden.sheet-satchel
          span.sheet-font-small.sheet-faint.sheet-worn.sheet-bold Worn
          span.sheet-handwritten.sheet-font-big Satchel
          .sheet-status-container
            input.sheet-underlined.sheet-edit(
              value="1" 
              name="attr_inventory_torso1_damaged" 
              type="checkbox"
              )
            span.sheet-edit
            span.sheet-font-small.sheet-status.sheet-faint.sheet-edit.sheet-bold Damaged
        .sheet-inventory-container.sheet-hidden.sheet-backpack
          span.sheet-font-small.sheet-faint.sheet-worn.sheet-bold Worn
          span.sheet-handwritten.sheet-font-big Backpack
          .sheet-status-container
            input.sheet-underlined.sheet-edit(
              value="1" 
              name="attr_inventory_torso1_damaged" 
              type="checkbox"
              )
            span.sheet-edit
            span.sheet-font-small.sheet-status.sheet-faint.sheet-edit.sheet-bold Damaged
        .sheet-inventory-container.sheet-hidden.sheet-backpack
          span.sheet-font-small.sheet-faint.sheet-worn.sheet-bold Worn
          span.sheet-handwritten.sheet-font-big Backpack
          .sheet-status-container
            input.sheet-underlined.sheet-edit(
              value="1" 
              name="attr_inventory_torso2_damaged" 
              type="checkbox"
              )
            span.sheet-edit
            span.sheet-font-small.sheet-status.sheet-faint.sheet-edit.sheet-bold Damaged
        .sheet-inventory-container.sheet-hidden.sheet-none
          span.sheet-font-small.sheet-faint.sheet-worn.sheet-bold Worn
          input.sheet-textinput.sheet-edit(
            name="attr_inventory_torso1" 
            type="text"
            )
          span.sheet-play.sheet-handwritten.sheet-font-big(name="attr_inventory_torso1")
          .sheet-status-container
            input.sheet-underlined.sheet-edit(
              value="1" 
              name="attr_inventory_torso1_damaged" 
              type="checkbox"
              )
            span.sheet-edit
            span.sheet-font-small.sheet-status.sheet-faint.sheet-edit.sheet-bold Damaged
        .sheet-inventory-container.sheet-hidden.sheet-none.sheet-satchel
          span.sheet-font-small.sheet-faint.sheet-worn.sheet-bold Worn
          input.sheet-textinput.sheet-edit(
            name="attr_inventory_torso2" 
            type="text"
            )
          span.sheet-play.sheet-handwritten.sheet-font-big(name="attr_inventory_torso2")
          .sheet-status-container
            input.sheet-underlined.sheet-edit(
              value="1" 
              name="attr_inventory_torso2_damaged" 
              type="checkbox"
              )
            span.sheet-edit
            span.sheet-font-small.sheet-status.sheet-faint.sheet-edit.sheet-bold Damaged
        .sheet-inventory-container
          span.sheet-font-small.sheet-faint.sheet-worn.sheet-bold Worn
          input.sheet-textinput.sheet-edit(
            name="attr_inventory_torso3" 
            type="text"
            )
          span.sheet-play.sheet-handwritten.sheet-font-big(name="attr_inventory_torso3")
          .sheet-status-container
            input.sheet-underlined.sheet-edit(
              value="1" 
              name="attr_inventory_torso3_damaged" 
              type="checkbox"
              )
            span.sheet-edit
            span.sheet-font-small.sheet-status.sheet-faint.sheet-edit.sheet-bold Damaged
      .sheet-inventory-section
        .sheet-row.sheet-name-header
          span.sheet-font-bigger.sheet-bold Belt
        .sheet-row.sheet-inventory-container
          span.sheet-font-small.sheet-faint.sheet-worn.sheet-bold 1
          input.sheet-textinput.sheet-edit(
            name="attr_inventory_belt1" 
            type="text"
            )
          span.sheet-play.sheet-handwritten.sheet-font-big(name="attr_inventory_belt1")
          .sheet-status-container
            input.sheet-underlined.sheet-edit(
              value="1" 
              name="attr_inventory_belt1_damaged" 
              type="checkbox"
              )
            span.sheet-edit
            span.sheet-font-small.sheet-status.sheet-faint.sheet-edit.sheet-bold Damaged
        .sheet-row.sheet-inventory-container
          span.sheet-font-small.sheet-faint.sheet-worn.sheet-bold 2
          input.sheet-textinput.sheet-edit(
            name="attr_inventory_belt2" 
            type="text"
            )
          span.sheet-play.sheet-handwritten.sheet-font-big(name="attr_inventory_belt2")
          .sheet-status-container
            input.sheet-underlined.sheet-edit(
              value="1" 
              name="attr_inventory_belt2_damaged" 
              type="checkbox"
              )
            span.sheet-edit
            span.sheet-font-small.sheet-status.sheet-faint.sheet-edit.sheet-bold Damaged
        .sheet-row.sheet-inventory-container
          span.sheet-font-small.sheet-faint.sheet-worn.sheet-bold 3
          input.sheet-textinput.sheet-edit(
            name="attr_inventory_belt3" 
            type="text"
            )
          span.sheet-play.sheet-handwritten.sheet-font-big(name="attr_inventory_belt3")
          .sheet-status-container
            input.sheet-underlined.sheet-edit(
              value="1" 
              name="attr_inventory_belt3_damaged" 
              type="checkbox"
              )
            span.sheet-edit
            span.sheet-font-small.sheet-status.sheet-faint.sheet-edit.sheet-bold Damaged
        .sheet-row.sheet-inventory-container
          span.sheet-bold Belt items:
          span
            | belt 1, pack 1, or weapon 1. Bundled pack items must be kept in a
            |   purse or pouch.
      .sheet-inventory-section
        .sheet-row.sheet-name-header
          span.sheet-font-bigger.sheet-bold Pocket
        .sheet-row.sheet-inventory-container
          span.sheet-font-small.sheet-faint.sheet-worn.sheet-bold Trinkets
          input.sheet-textinput.sheet-edit(
            name="attr_inventory_pocket1" 
            type="text"
            )
          span.sheet-play.sheet-handwritten.sheet-font-big(name="attr_inventory_pocket1")
          .sheet-status-container
            input.sheet-underlined.sheet-edit(
              value="1" 
              name="attr_inventory_pocket1_damaged" 
              type="checkbox"
              )
            span.sheet-edit
            span.sheet-font-small.sheet-status.sheet-faint.sheet-edit.sheet-bold Damaged
    .sheet-inventory-row
      .sheet-edit
        .sheet-relative
          input.sheet-underlined(
            checked="" 
            value="none" 
            name="attr_backpack_type" 
            type="radio"
            )
          span
          span.sheet-font-small.sheet-bold No Bag
        .sheet-relative
          input.sheet-underlined(
            value="satchel" 
            name="attr_backpack_type" 
            type="radio"
            )
          span
          span.sheet-font-small.sheet-bold Satchel
        .sheet-relative
          input.sheet-underlined(
            value="backpack" 
            name="attr_backpack_type" 
            type="radio"
            )
          span
          span.sheet-font-small.sheet-bold Backpack
      input.sheet-flag.sheet-backpack-flag(
        name="attr_backpack_type" 
        type="hidden"
        )
      .sheet-inventory-section.sheet-hidden.sheet-satchel
        .sheet-row.sheet-name-header
          span.sheet-font-bigger.sheet-bold Satchel
        .sheet-row.sheet-inventory-container.sheet-faint
          span.sheet-bold.sheet-font-small Satchel:
          span.sheet-font-small Torso/Worn 1
        .sheet-row.sheet-inventory-container
          span.sheet-font-small.sheet-faint.sheet-worn.sheet-bold 1
          input.sheet-textinput.sheet-edit(
            name="attr_inventory_backpack1" 
            type="text"
            )
          span.sheet-play.sheet-handwritten.sheet-font-big(name="attr_inventory_backpack1")
          .sheet-status-container
            input.sheet-underlined.sheet-edit(
              value="1" 
              name="attr_inventory_backpack1_damaged" 
              type="checkbox"
              )
            span.sheet-edit
            span.sheet-font-small.sheet-status.sheet-faint.sheet-edit.sheet-bold Damaged
        .sheet-row.sheet-inventory-container
          span.sheet-font-small.sheet-faint.sheet-worn.sheet-bold 2
          input.sheet-textinput.sheet-edit(
            name="attr_inventory_backpack2" 
            type="text"
            )
          span.sheet-play.sheet-handwritten.sheet-font-big(name="attr_inventory_backpack2")
          .sheet-status-container
            input.sheet-underlined.sheet-edit(
              value="1" 
              name="attr_inventory_backpack2_damaged" 
              type="checkbox"
              )
            span.sheet-edit
            span.sheet-font-small.sheet-status.sheet-faint.sheet-edit.sheet-bold Damaged
        .sheet-row.sheet-inventory-container
          span.sheet-font-small.sheet-faint.sheet-worn.sheet-bold 3
          input.sheet-textinput.sheet-edit(
            name="attr_inventory_backpack3" 
            type="text"
            )
          span.sheet-play.sheet-handwritten.sheet-font-big(name="attr_inventory_backpack3")
          .sheet-status-container
            input.sheet-underlined.sheet-edit(
              value="1" 
              name="attr_inventory_backpack3_damaged" 
              type="checkbox"
              )
            span.sheet-edit
            span.sheet-font-small.sheet-status.sheet-faint.sheet-edit.sheet-bold Damaged
      .sheet-inventory-section.sheet-hidden.sheet-backpack
        .sheet-row.sheet-name-header
          span.sheet-font-bigger.sheet-bold Backpack
        .sheet-row.sheet-inventory-container.sheet-faint
          span.sheet-bold.sheet-font-small Backpack:
          span.sheet-font-small Torso/Worn 2.
          span.sheet-italic.sheet-font-small Factor for Dungeoneer and Fighter.
        .sheet-row.sheet-inventory-container
          span.sheet-font-small.sheet-faint.sheet-worn.sheet-bold 1
          input.sheet-textinput.sheet-edit(
            name="attr_inventory_backpack1" 
            type="text"
            )
          span.sheet-play.sheet-handwritten.sheet-font-big(name="attr_inventory_backpack1")
          .sheet-status-container
            input.sheet-underlined.sheet-edit(
              value="1" 
              name="attr_inventory_backpack1_damaged" 
              type="checkbox"
              )
            span.sheet-edit
            span.sheet-font-small.sheet-status.sheet-faint.sheet-edit.sheet-bold Damaged
        .sheet-row.sheet-inventory-container
          span.sheet-font-small.sheet-faint.sheet-worn.sheet-bold 2
          input.sheet-textinput.sheet-edit(
            name="attr_inventory_backpack2" 
            type="text"
            )
          span.sheet-play.sheet-handwritten.sheet-font-big(name="attr_inventory_backpack2")
          .sheet-status-container
            input.sheet-underlined.sheet-edit(
              value="1" 
              name="attr_inventory_backpack2_damaged" 
              type="checkbox"
              )
            span.sheet-edit
            span.sheet-font-small.sheet-status.sheet-faint.sheet-edit.sheet-bold Damaged
        .sheet-row.sheet-inventory-container
          span.sheet-font-small.sheet-faint.sheet-worn.sheet-bold 3
          input.sheet-textinput.sheet-edit(
            name="attr_inventory_backpack3" 
            type="text"
            )
          span.sheet-play.sheet-handwritten.sheet-font-big(name="attr_inventory_backpack3")
          .sheet-status-container
            input.sheet-underlined.sheet-edit(
              value="1" 
              name="attr_inventory_backpack3_damaged" 
              type="checkbox"
              )
            span.sheet-edit
            span.sheet-font-small.sheet-status.sheet-faint.sheet-edit.sheet-bold Damaged
        .sheet-row.sheet-inventory-container
          span.sheet-font-small.sheet-faint.sheet-worn.sheet-bold 4
          input.sheet-textinput.sheet-edit(
            name="attr_inventory_backpack4" 
            type="text"
            )
          span.sheet-play.sheet-handwritten.sheet-font-big(name="attr_inventory_backpack4")
          .sheet-status-container
            input.sheet-underlined.sheet-edit(
              value="1" 
              name="attr_inventory_backpack4_damaged" 
              type="checkbox"
              )
            span.sheet-edit
            span.sheet-font-small.sheet-status.sheet-faint.sheet-edit.sheet-bold Damaged
        .sheet-row.sheet-inventory-container
          span.sheet-font-small.sheet-faint.sheet-worn.sheet-bold 5
          input.sheet-textinput.sheet-edit(
            name="attr_inventory_backpack5" 
            type="text"
            )
          span.sheet-play.sheet-handwritten.sheet-font-big(name="attr_inventory_backpack5")
          .sheet-status-container
            input.sheet-underlined.sheet-edit(
              value="1" 
              name="attr_inventory_backpack5_damaged" 
              type="checkbox"
              )
            span.sheet-edit
            span.sheet-font-small.sheet-status.sheet-faint.sheet-edit.sheet-bold Damaged
        .sheet-row.sheet-inventory-container
          span.sheet-font-small.sheet-faint.sheet-worn.sheet-bold 6
          input.sheet-textinput.sheet-edit(
            name="attr_inventory_backpack6" 
            type="text"
            )
          span.sheet-play.sheet-handwritten.sheet-font-big(name="attr_inventory_backpack6")
          .sheet-status-container
            input.sheet-underlined.sheet-edit(
              value="1" 
              name="attr_inventory_backpack6_damaged" 
              type="checkbox"
              )
            span.sheet-edit
            span.sheet-font-small.sheet-status.sheet-faint.sheet-edit.sheet-bold Damaged
    .sheet-inventory-row.sheet-end
      fieldset(class="repeating_container")
        .sheet-inventory-section
          .sheet-edit
            .sheet-relative
              input.sheet-underlined(
                checked="" 
                value="small" 
                name="attr_container_type" 
                type="radio"
                )
              span
              span.sheet-font-small.sheet-bold Small Sack
            .sheet-relative
              input.sheet-underlined(
                value="large" 
                name="attr_container_type" 
                type="radio"
                )
              span
              span.sheet-font-small.sheet-bold Large Sack
            .sheet-relative
              input.sheet-underlined(
                value="cache" 
                name="attr_container_type" 
                type="radio"
                )
              span
              span.sheet-font-small.sheet-bold Cache
          input.sheet-flag.sheet-container-flag(
            value="small" 
            name="attr_container_type" 
            type="hidden"
            )
          .sheet-inventory-section.sheet-hidden.sheet-small
            .sheet-row.sheet-name-header
              span.sheet-font-bigger.sheet-bold Small Sack
            .sheet-carried-options
              div
                input.sheet-underlined(
                  value="carried" 
                  name="attr_carry_option" 
                  type="radio"
                  )
                span
                span.sheet-font-small.sheet-status.sheet-faint.sheet-bold Carried
              div
                input.sheet-underlined(
                  value="dropped" 
                  name="attr_carry_option" 
                  type="radio"
                  )
                span
                span.sheet-font-small.sheet-status.sheet-faint.sheet-bold Dropped
              div
                input.sheet-underlined(
                  value="lost" 
                  name="attr_carry_option" 
                  type="radio"
                  )
                span
                span.sheet-font-small.sheet-status.sheet-faint.sheet-bold Lost
            .sheet-row.sheet-inventory-container
              span.sheet-font-small.sheet-faint.sheet-worn.sheet-bold 1
              input.sheet-textinput.sheet-edit(
                name="attr_container1" 
                type="text"
                )
              span.sheet-play.sheet-handwritten.sheet-font-big(name="attr_container1")
              .sheet-status-container
                input.sheet-underlined.sheet-edit(
                  value="1" 
                  name="attr_container1_damaged" 
                  type="checkbox"
                  )
                span.sheet-edit
                span.sheet-font-small.sheet-status.sheet-faint.sheet-edit.sheet-bold Damaged
            .sheet-row.sheet-inventory-container
              span.sheet-font-small.sheet-faint.sheet-worn.sheet-bold 2
              input.sheet-textinput.sheet-edit(
                name="attr_container2" 
                type="text"
                )
              span.sheet-play.sheet-handwritten.sheet-font-big(name="attr_container2")
              .sheet-status-container
                input.sheet-underlined.sheet-edit(
                  value="1" 
                  name="attr_container2_damaged" 
                  type="checkbox"
                  )
                span.sheet-edit
                span.sheet-font-small.sheet-status.sheet-faint.sheet-edit.sheet-bold Damaged
          .sheet-inventory-section.sheet-hidden.sheet-large
            .sheet-row.sheet-name-header
              span.sheet-font-bigger.sheet-bold Large Sack
            .sheet-row.sheet-inventory-container.sheet-faint.sheet-font-small
              span Requires two hands to carry or pack 1 when empty
            .sheet-carried-options
              div
                input.sheet-underlined(
                  value="carried" 
                  name="attr_carry_option" 
                  type="radio"
                  )
                span
                span.sheet-font-small.sheet-status.sheet-faint.sheet-bold Carried
              div
                input.sheet-underlined(
                  value="dropped" 
                  name="attr_carry_option" 
                  type="radio"
                  )
                span
                span.sheet-font-small.sheet-status.sheet-faint.sheet-bold Dropped
              div
                input.sheet-underlined(
                  value="lost" 
                  name="attr_carry_option" 
                  type="radio"
                  )
                span
                span.sheet-font-small.sheet-status.sheet-faint.sheet-bold Lost
            .sheet-row.sheet-inventory-container
              span.sheet-font-small.sheet-faint.sheet-worn.sheet-bold 1
              input.sheet-textinput.sheet-edit(
                name="attr_container1" 
                type="text"
                )
              span.sheet-play.sheet-handwritten.sheet-font-big(name="attr_container1")
              .sheet-status-container
                input.sheet-underlined.sheet-edit(
                  value="1" 
                  name="attr_container1_damaged" 
                  type="checkbox"
                  )
                span.sheet-edit
                span.sheet-font-small.sheet-status.sheet-faint.sheet-edit.sheet-bold Damaged
            .sheet-row.sheet-inventory-container
              span.sheet-font-small.sheet-faint.sheet-worn.sheet-bold 2
              input.sheet-textinput.sheet-edit(
                name="attr_container2" 
                type="text"
                )
              span.sheet-play.sheet-handwritten.sheet-font-big(name="attr_container2")
              .sheet-status-container
                input.sheet-underlined.sheet-edit(
                  value="1" 
                  name="attr_container2_damaged" 
                  type="checkbox"
                  )
                span.sheet-edit
                span.sheet-font-small.sheet-status.sheet-faint.sheet-edit.sheet-bold Damaged
            .sheet-row.sheet-inventory-container
              span.sheet-font-small.sheet-faint.sheet-worn.sheet-bold 3
              input.sheet-textinput.sheet-edit(
                name="attr_container3" 
                type="text"
                )
              span.sheet-play.sheet-handwritten.sheet-font-big(name="attr_container3")
              .sheet-status-container
                input.sheet-underlined.sheet-edit(
                  value="1" 
                  name="attr_container3_damaged" 
                  type="checkbox"
                  )
                span.sheet-edit
                span.sheet-font-small.sheet-status.sheet-faint.sheet-edit.sheet-bold Damaged
            .sheet-row.sheet-inventory-container
              span.sheet-font-small.sheet-faint.sheet-worn.sheet-bold 4
              input.sheet-textinput.sheet-edit(
                name="attr_container4" 
                type="text"
                )
              span.sheet-play.sheet-handwritten.sheet-font-big(name="attr_container4")
              .sheet-status-container
                input.sheet-underlined.sheet-edit(
                  value="1" 
                  name="attr_container4_damaged" 
                  type="checkbox"
                  )
                span.sheet-edit
                span.sheet-font-small.sheet-status.sheet-faint.sheet-edit.sheet-bold Damaged
            .sheet-row.sheet-inventory-container
              span.sheet-font-small.sheet-faint.sheet-worn.sheet-bold 5
              input.sheet-textinput.sheet-edit(
                name="attr_container5" 
                type="text"
                )
              span.sheet-play.sheet-handwritten.sheet-font-big(name="attr_container5")
              .sheet-status-container
                input.sheet-underlined.sheet-edit(
                  value="1" 
                  name="attr_container5_damaged" 
                  type="checkbox"
                  )
                span.sheet-edit
                span.sheet-font-small.sheet-status.sheet-faint.sheet-edit.sheet-bold Damaged
            .sheet-row.sheet-inventory-container
              span.sheet-font-small.sheet-faint.sheet-worn.sheet-bold 6
              input.sheet-textinput.sheet-edit(
                name="attr_container6" 
                type="text"
                )
              span.sheet-play.sheet-handwritten.sheet-font-big(name="attr_container6")
              .sheet-status-container
                input.sheet-underlined.sheet-edit(
                  value="1" 
                  name="attr_container6_damaged" 
                  type="checkbox"
                  )
                span.sheet-edit
                span.sheet-font-small.sheet-status.sheet-faint.sheet-edit.sheet-bold Damaged
          .sheet-inventory-section.sheet-hidden.sheet-cache
            .sheet-row.sheet-name-header
              span.sheet-font-bigger.sheet-bold Cache
            .sheet-row.sheet-inventory-container.sheet-faint.sheet-font-small
              span Stashed in camp, in your home, or at your mom's house
            .sheet-row.sheet-inventory-container
              span.sheet-font-small.sheet-faint.sheet-worn.sheet-bold 1
              input.sheet-textinput.sheet-edit(
                name="attr_container1" 
                type="text"
                )
              span.sheet-play.sheet-handwritten.sheet-font-big(name="attr_container1")
              .sheet-status-container
                input.sheet-underlined.sheet-edit(
                  value="1" 
                  name="attr_container1_damaged" 
                  type="checkbox"
                  )
                span.sheet-edit
                span.sheet-font-small.sheet-status.sheet-faint.sheet-edit.sheet-bold Damaged
            .sheet-row.sheet-inventory-container
              span.sheet-font-small.sheet-faint.sheet-worn.sheet-bold 2
              input.sheet-textinput.sheet-edit(
                name="attr_container2" 
                type="text"
                )
              span.sheet-play.sheet-handwritten.sheet-font-big(name="attr_container2")
              .sheet-status-container
                input.sheet-underlined.sheet-edit(
                  value="1" 
                  name="attr_container2_damaged" 
                  type="checkbox"
                  )
                span.sheet-edit
                span.sheet-font-small.sheet-status.sheet-faint.sheet-edit.sheet-bold Damaged
            .sheet-row.sheet-inventory-container
              span.sheet-font-small.sheet-faint.sheet-worn.sheet-bold 3
              input.sheet-textinput.sheet-edit(
                name="attr_container3" 
                type="text"
                )
              span.sheet-play.sheet-handwritten.sheet-font-big(name="attr_container3")
              .sheet-status-container
                input.sheet-underlined.sheet-edit(
                  value="1" 
                  name="attr_container3_damaged" 
                  type="checkbox"
                  )
                span.sheet-edit
                span.sheet-font-small.sheet-status.sheet-faint.sheet-edit.sheet-bold Damaged
            .sheet-row.sheet-inventory-container
              span.sheet-font-small.sheet-faint.sheet-worn.sheet-bold 4
              input.sheet-textinput.sheet-edit(
                name="attr_container4" 
                type="text"
                )
              span.sheet-play.sheet-handwritten.sheet-font-big(name="attr_container4")
              .sheet-status-container
                input.sheet-underlined.sheet-edit(
                  value="1" 
                  name="attr_container4_damaged" 
                  type="checkbox"
                  )
                span.sheet-edit
                span.sheet-font-small.sheet-status.sheet-faint.sheet-edit.sheet-bold Damaged
            .sheet-row.sheet-inventory-container
              span.sheet-font-small.sheet-faint.sheet-worn.sheet-bold 5
              input.sheet-textinput.sheet-edit(
                name="attr_container5" 
                type="text"
                )
              span.sheet-play.sheet-handwritten.sheet-font-big(name="attr_container5")
              .sheet-status-container
                input.sheet-underlined.sheet-edit(
                  value="1" 
                  name="attr_container5_damaged" 
                  type="checkbox"
                  )
                span.sheet-edit
                span.sheet-font-small.sheet-status.sheet-faint.sheet-edit.sheet-bold Damaged
            .sheet-row.sheet-inventory-container
              span.sheet-font-small.sheet-faint.sheet-worn.sheet-bold 6
              input.sheet-textinput.sheet-edit(
                name="attr_container6" 
                type="text"
                )
              span.sheet-play.sheet-handwritten.sheet-font-big(name="attr_container6")
              .sheet-status-container
                input.sheet-underlined.sheet-edit(
                  value="1" 
                  name="attr_container6_damaged" 
                  type="checkbox"
                  )
                span.sheet-edit
                span.sheet-font-small.sheet-status.sheet-faint.sheet-edit.sheet-bold Damaged
            .sheet-row.sheet-inventory-container
              span.sheet-font-small.sheet-faint.sheet-worn.sheet-bold 7
              input.sheet-textinput.sheet-edit(
                name="attr_container7" 
                type="text"
                )
              span.sheet-play.sheet-handwritten.sheet-font-big(name="attr_container7")
              .sheet-status-container
                input.sheet-underlined.sheet-edit(
                  value="1" 
                  name="attr_container7_damaged" 
                  type="checkbox"
                  )
                span.sheet-edit
                span.sheet-font-small.sheet-status.sheet-faint.sheet-edit.sheet-bold Damaged
            .sheet-row.sheet-inventory-container
              span.sheet-font-small.sheet-faint.sheet-worn.sheet-bold 8
              input.sheet-textinput.sheet-edit(
                name="attr_container8" 
                type="text"
                )
              span.sheet-play.sheet-handwritten.sheet-font-big(name="attr_container8")
              .sheet-status-container
                input.sheet-underlined.sheet-edit(
                  value="1" 
                  name="attr_container8_damaged" 
                  type="checkbox"
                  )
                span.sheet-edit
                span.sheet-font-small.sheet-status.sheet-faint.sheet-edit.sheet-bold Damaged
            .sheet-row.sheet-inventory-container
              span.sheet-font-small.sheet-faint.sheet-worn.sheet-bold 9
              input.sheet-textinput.sheet-edit(
                name="attr_container9" 
                type="text"
                )
              span.sheet-play.sheet-handwritten.sheet-font-big(name="attr_container9")
              .sheet-status-container
                input.sheet-underlined.sheet-edit(
                  value="1" 
                  name="attr_container9_damaged" 
                  type="checkbox"
                  )
                span.sheet-edit
                span.sheet-font-small.sheet-status.sheet-faint.sheet-edit.sheet-bold Damaged
            .sheet-row.sheet-inventory-container
              span.sheet-font-small.sheet-faint.sheet-worn.sheet-bold 10
              input.sheet-textinput.sheet-edit(
                name="attr_container10" 
                type="text"
                )
              span.sheet-play.sheet-handwritten.sheet-font-big(name="attr_container10")
              .sheet-status-container
                input.sheet-underlined.sheet-edit(
                  value="1" 
                  name="attr_container10_damaged" 
                  type="checkbox"
                  )
                span.sheet-edit
                span.sheet-font-small.sheet-status.sheet-faint.sheet-edit.sheet-bold Damaged
            .sheet-row.sheet-inventory-container
              span.sheet-font-small.sheet-faint.sheet-worn.sheet-bold 11
              input.sheet-textinput.sheet-edit(
                name="attr_container11" 
                type="text"
                )
              span.sheet-play.sheet-handwritten.sheet-font-big(name="attr_container11")
              .sheet-status-container
                input.sheet-underlined.sheet-edit(
                  value="1" 
                  name="attr_container11_damaged" 
                  type="checkbox"
                  )
                span.sheet-edit
                span.sheet-font-small.sheet-status.sheet-faint.sheet-edit.sheet-bold Damaged
            .sheet-row.sheet-inventory-container
              span.sheet-font-small.sheet-faint.sheet-worn.sheet-bold 12
              input.sheet-textinput.sheet-edit(
                name="attr_container12" 
                type="text"
                )
              span.sheet-play.sheet-handwritten.sheet-font-big(name="attr_container12")
              .sheet-status-container
                input.sheet-underlined.sheet-edit(
                  value="1" 
                  name="attr_container12_damaged" 
                  type="checkbox"
                  )
                span.sheet-edit
                span.sheet-font-small.sheet-status.sheet-faint.sheet-edit.sheet-bold Damaged
