include kit_mixin.pug

.sheet-kit-tab
  .sheet-section-header Inventory
  .sheet-section-body
    // Head & Hands
    .sheet-kit-inventory-group
      // Head
      .sheet-kit-group
        .sheet-kit-header Head
        +kit_item("head1", "Head", "Worn")
      // Hands
      .sheet-kit-group
        .sheet-kit-header Hands
        +kit_item("hands1", "Hands", "Worn")
        +kit_item("hands2", "Hands", "Worn")
        +kit_item("hands3", "Hands", "Carried")
        +kit_item("hands4", "Hands", "Carried")
    
    // Neck & Belt
    .sheet-kit-inventory-group
      // Neck
      .sheet-kit-group
        .sheet-kit-header Neck
        +kit_item("neck1", "Neck", "Worn")
      // Belt
      .sheet-kit-header Belt
      +kit_item("belt1", "Belt", "1")
      +kit_item("belt2", "Belt", "2")
      +kit_item("belt3", "Belt", "3")
      .sheet-kit-subtext <strong>Belt items</strong>: belt 1, pack 1, or weapon 1. Bundled pack items must be kept in a purse or pouch.
    
    // Pouch & Torso & Feet
    .sheet-kit-inventory-group
      // Pouch
      .sheet-kit-group
        .sheet-kit-header Pocket
        +kit_item("pocket1", "Pouch", "Trinkets")
      // Torso
      .sheet-kit-group
        .sheet-kit-header Torso
        input.sheet-flag.sheet-backpack-flag(
          value="none" 
          name="attr_backpack_type" 
          type="hidden"
        )
        .sheet-hidden.sheet-satchel
          .sheet-kit-item
            .sheet-kit-item-prefix Worn
            span.sheet-handwritten Satchel
        .sheet-hidden.sheet-backpack
          .sheet-kit-item
            .sheet-kit-item-prefix Worn
            span.sheet-handwritten Backpack
          .sheet-kit-item
            .sheet-kit-item-prefix Worn
            span.sheet-handwritten Backpack
        .sheet-hidden.sheet-none
          +kit_item("torso1", "Torso", "Worn")
        .sheet-hidden.sheet-none.sheet-satchel
          +kit_item("torso2", "Torso", "Worn")
        +kit_item("torso3", "Torso", "Worn")
      // Feet
      .sheet-kit-group
        .sheet-kit-header Feet
        +kit_item("feet1", "Feet", "Worn")

    // Backpack
    .sheet-kit-group
      // Backpack selector 
      input.sheet-flag.sheet-backpack-flag(
        value="none" 
        name="attr_backpack_type" 
        type="hidden"
      )
      .sheet-hidden.sheet-none.sheet-kit-header No bag
      .sheet-hidden.sheet-satchel.sheet-kit-header Satchel
      .sheet-hidden.sheet-backpack.sheet-kit-header Backpack
      .sheet-bag-options.sheet-edit
        .sheet-bag-option
          input(
            checked="" 
            value="none" 
            name="attr_backpack_type" 
            type="radio"
          )
          .sheet-kit-subtext No bag
        .sheet-bag-option
          input(
            value="satchel" 
            name="attr_backpack_type" 
            type="radio"
          )
          .sheet-kit-subtext Satchel
        .sheet-bag-option
          input(
            value="backpack" 
            name="attr_backpack_type" 
            type="radio"
          )
          .sheet-kit-subtext Backpack
      .sheet-hidden.sheet-satchel.sheet-kit-subtext <strong>Satchel</strong>: torso/worn 1
      .sheet-hidden.sheet-backpack.sheet-kit-subtext <strong>Backpack</strong>: torse/worn 2. <em>Factor for Dungeoneer and Fighter</em>.
      .sheet-carried-options
        .sheet-carried-option
          input(
            value="carried" 
            name="attr_backpack_carry_option" 
            type="radio"
          )
          .sheet-kit-subtext Carried
        .sheet-carried-option
          input(
            value="dropped" 
            name="attr_backpack_carry_option" 
            type="radio"
          )
          .sheet-kit-subtext Dropped
        .sheet-carried-option
          input(
            value="lost" 
            name="attr_backpack_carry_option" 
            type="radio"
          )
          .sheet-kit-subtext Lost

      // Satchel/backpack
      .sheet-hidden.sheet-satchel
        +kit_item("backpack1", "Item", "1")
        +kit_item("backpack2", "Item", "2")
        +kit_item("backpack3", "Item", "3")

      .sheet-hidden.sheet-backpack
        +kit_item("backpack1", "Item", "1")
        +kit_item("backpack2", "Item", "2")
        +kit_item("backpack3", "Item", "3")
        +kit_item("backpack4", "Item", "4")
        +kit_item("backpack5", "Item", "5")
        +kit_item("backpack6", "Item", "6")
    
    // Containers
    .sheet-kit-group.sheet-kit-containers
      fieldset(class="repeating_container")
        input.sheet-container-flag(
          value="small" 
          name="attr_container_type" 
          type="hidden"
        )
        .sheet-hidden.sheet-small.sheet-kit-header Small Sack
        .sheet-hidden.sheet-large.sheet-kit-header Large Sack
        .sheet-hidden.sheet-cache.sheet-kit-header Cache
        .sheet-edit.sheet-container-options
          .sheet-bag-option
            input(
              checked="" 
              value="small" 
              name="attr_container_type" 
              type="radio"
            )
            .sheet-kit-subtext Small sack
          .sheet-bag-option
            input(
              value="large" 
              name="attr_container_type" 
              type="radio"
            )
            .sheet-kit-subtext Large sack
          .sheet-bag-option
            input(
              value="cache" 
              name="attr_container_type" 
              type="radio"
            )
            .sheet-kit-subtext Cache
        .sheet-hidden.sheet-large.sheet-kit-subtext Requires two hands to carry or pack 1 when empty.
        .sheet-hidden.sheet-cache.sheet-kit-subtext Stashed in camp, in your home, or at your mom's house.
        .sheet-carried-options
          .sheet-carried-option
            input(
              value="carried" 
              name="attr_carry_option" 
              type="radio"
            )
            .sheet-kit-subtext Carried
          .sheet-carried-option
            input(
              value="dropped" 
              name="attr_carry_option" 
              type="radio"
            )
            .sheet-kit-subtext Dropped
          .sheet-carried-option
            input(
              value="lost" 
              name="attr_carry_option" 
              type="radio"
            )
            .sheet-kit-subtext Lost
        +container_item("1", "Item", "1")
        +container_item("2", "Item", "2")
        .sheet-hidden.sheet-large.sheet-cache
          +container_item("3", "Item", "3")
          +container_item("4", "Item", "4")
          +container_item("5", "Item", "5")
          +container_item("6", "Item", "6")
        .sheet-hidden.sheet-cache
          +container_item("7", "Item", "7")
          +container_item("8", "Item", "8")
          +container_item("9", "Item", "9")
          +container_item("10", "Item", "10")
          +container_item("11", "Item", "11")
          +container_item("12", "Item", "12")

  .sheet-section-header Notes
  .sheet-section-body
      textarea.sheet-edit.sheet-inventory-notes-input(
        name="attr_inventory_notes" 
        type="text"
        placeholder="Notes..."
      )
      span.sheet-play.sheet-inventory-notes-display(name="attr_inventory_notes")