mixin kit_item(item, placeholder, prefix)
  .sheet-kit-item
    .sheet-kit-item-prefix #{prefix}
    input.sheet-edit(
      name="attr_inventory_" + item
      type="text"
      placeholder= placeholder + "..."
    )
    span.sheet-play.sheet-handwritten(name="attr_inventory_" + item)
  .sheet-kit-status
    input.sheet-edit(
      value="1" 
      name="attr_inventory_" + item + "_damaged" 
      type="checkbox"
    )
    .sheet-edit.sheet-kit-damaged Damaged

mixin container_item(number, placeholder, prefix)
  .sheet-kit-item
    .sheet-kit-item-prefix #{prefix}
    input.sheet-edit(
      name="attr_container" + number
      type="text"
      placeholder= placeholder + "..."
    )
    span.sheet-play.sheet-handwritten(name="attr_container" + number)
  .sheet-kit-status
    input.sheet-edit(
      value="1" 
      name="attr_container_" + number + "_damaged" 
      type="checkbox"
    )
    .sheet-edit.sheet-kit-damaged Damaged