.sheet-page3.sheet-tabcontainer.sheet-hidden
  // RELICS
  #relics.sheet-section.sheet-relics
    .sheet-header
      span Relics
    .sheet-relic-section
      .sheet-row
        .sheet-relic-name
          span.sheet-bold.sheet-font-small Relic
        .sheet-relic-inventory
          span.sheet-bold.sheet-font-small Inventory
        .sheet-relic-invocation
          span.sheet-bold.sheet-font-small Invocation/Patron/Circle
      fieldset(class="repeating_relics")
        .sheet-row
          .sheet-relic-name
            input.sheet-textinput.sheet-edit(
              name="attr_relic_name" 
              type="text"
              )
            span.sheet-play.sheet-handwritten.sheet-font-big(name="attr_relic_name")
          .sheet-relic-inventory
            input.sheet-textinput.sheet-edit(
              name="attr_relic_inventory" 
              type="text"
              )
            span.sheet-play.sheet-handwritten.sheet-font-big(name="attr_relic_inventory")
          .sheet-relic-invocation
            input.sheet-textinput.sheet-edit(
              name="attr_relic_invocation" 
              type="text"
              )
            span.sheet-play.sheet-handwritten.sheet-font-big(name="attr_relic_invocation")
    .sheet-urdr-burden-section
      div
        span.sheet-row.sheet-font-bigger.sheet-faint Urdr
        div
          input.sheet-normal.sheet-zero(
            checked="checked" 
            value="0" 
            name="attr_urdr" 
            type="radio"
            )
          span
          input.sheet-normal(
            value="1" 
            name="attr_urdr" 
            type="radio"
            )
          span
          input.sheet-normal(
            value="2" 
            name="attr_urdr" 
            type="radio"
            )
          span
          input.sheet-normal(
            value="3" 
            name="attr_urdr" 
            type="radio"
            )
          span
          input.sheet-normal(
            value="4" 
            name="attr_urdr" 
            type="radio"
            )
          span
        span.sheet-row.sheet-font-bigger.sheet-faint Burden
        div
          input.sheet-normal.sheet-zero(
            checked="checked" 
            value="0" 
            name="attr_burden" 
            type="radio"
            )
          span
          input.sheet-normal(
            value="1" 
            name="attr_burden" 
            type="radio"
            )
          span
          input.sheet-normal(
            value="2" 
            name="attr_burden" 
            type="radio"
            )
          span
          input.sheet-normal(
            value="3" 
            name="attr_burden" 
            type="radio"
            )
          span
          input.sheet-normal(
            value="4" 
            name="attr_burden" 
            type="radio"
            )
          span
          input.sheet-normal(
            value="5" 
            name="attr_burden" 
            type="radio"
            )
          span
          input.sheet-normal(
            value="6" 
            name="attr_burden" 
            type="radio"
            )
          span
          input.sheet-normal(
            value="7" 
            name="attr_burden" 
            type="radio"
            )
          span
          input.sheet-normal(
            value="8" 
            name="attr_burden" 
            type="radio"
            )
          span
          input.sheet-normal(
            value="9" 
            name="attr_burden" 
            type="radio"
            )
          span
          input.sheet-normal(
            value="10" 
            name="attr_burden" 
            type="radio"
            )
          span
        input.sheet-flag.sheet-stigmata-flag(
          value="0" 
          name="attr_stigmata_flag" 
          type="hidden"
          )
        span.sheet-danger.sheet-handwritten.sheet-hidden.sheet-stigmata Stigmata
  // RELICS
  #spells.sheet-section.sheet-spells
    .sheet-header
      span Arcane Spells
    .sheet-memory-palace
      div
        span.sheet-row.sheet-font-bigger.sheet-faint.sheet-underlined Memory Palace
        div
          input.sheet-normal.sheet-zero(
            checked="checked" 
            value="0" 
            name="attr_memory_palace" 
            type="radio"
            )
          span
          input.sheet-normal(
            value="1" 
            name="attr_memory_palace" 
            type="radio"
            )
          span
          input.sheet-normal(
            value="2" 
            name="attr_memory_palace" 
            type="radio"
            )
          span
          input.sheet-normal(
            value="3" 
            name="attr_memory_palace" 
            type="radio"
            )
          span
          input.sheet-normal(
            value="4" 
            name="attr_memory_palace" 
            type="radio"
            )
          span
          input.sheet-normal(
            value="5" 
            name="attr_memory_palace" 
            type="radio"
            )
          span
    .sheet-spells-section
      .sheet-row
        .sheet-spell-name
          span.sheet-bold.sheet-font-small Spell
        .sheet-spell-ob
          span.sheet-bold.sheet-font-small Ob
        .sheet-spell-known
          span.sheet-bold.sheet-font-small known
        .sheet-spell-book
          span.sheet-bold.sheet-font-small spell book
        .sheet-spell-mem
          span.sheet-bold.sheet-font-small mem.
        .sheet-spell-cast
          span.sheet-bold.sheet-font-small cast
        .sheet-spell-scroll
          span.sheet-bold.sheet-font-small scroll
        .sheet-spell-supplies
          span.sheet-bold.sheet-font-small supplies
        .sheet-spell-effect.sheet-title
          span.sheet-bold.sheet-font-small effect
      fieldset(class="repeating_spells")
        .sheet-row
          .sheet-spell-name
            input.sheet-textinput.sheet-edit(
              name="attr_spell_name" 
              type="text"
              )
            span.sheet-play.sheet-handwritten.sheet-font-big(name="attr_spell_name")
          .sheet-spell-ob
            input.sheet-numberinput.sheet-edit(
              name="attr_spell_ob" 
              type="number"
              )
            span.sheet-play.sheet-handwritten.sheet-font-big(name="attr_spell_ob")
          .sheet-spell-known
            input.sheet-underlined(
              value="1" 
              name="attr_spell_known" 
              type="checkbox"
              )
            span
          .sheet-spell-book
            input.sheet-underlined(
              value="1" 
              name="attr_spell_book" 
              type="checkbox"
              )
            span
          .sheet-spell-mem
            input.sheet-underlined(
              value="1" 
              name="attr_spell_mem" 
              type="checkbox"
              )
            span
          .sheet-spell-cast
            input.sheet-underlined(
              value="1" 
              name="attr_spell_cast" 
              type="checkbox"
              )
            span
          .sheet-spell-scroll
            input.sheet-underlined(
              value="1" 
              name="attr_spell_scroll" 
              type="checkbox"
              )
            span
          .sheet-spell-supplies
            input.sheet-underlined(
              value="1" 
              name="attr_spell_supplies" 
              type="checkbox"
              )
            span
          .sheet-spell-effect
            input.sheet-textinput.sheet-edit(
              name="attr_spell_effect" 
              type="text"
              )
            span.sheet-play.sheet-handwritten.sheet-font-big(name="attr_spell_effect")
