.sheet-options-tab
  // SHEET SETTINGS
  #settings.sheet-section.sheet-levels
    .sheet-header
      span Sheet Settings
    .sheet-section
      span.sheet-row.sheet-font-bigger.sheet-bold Roll Style
      .sheet-relative
        input.sheet-underlined(
          checked="checked" 
          value="complex" 
          name="attr_roll_type" 
          type="radio"
          )
        span
        span.sheet-font-small.sheet-status.sheet-bold Complex
        span.sheet-font-small.sheet-status.sheet-faint - Uses advanced roll modal
      .sheet-relative
        input.sheet-underlined(
          value="simple" 
          name="attr_roll_type" 
          type="radio"
          )
        span
        span.sheet-font-small.sheet-status.sheet-bold Simple
        span.sheet-font-small.sheet-status.sheet-faint - Roll directly to chat