.sheet-page4.sheet-tabcontainer.sheet-hidden
  // ALLIES & ENEMIES
  .sheet-relationship-tab
    .sheet-relationships-header Allies & Enemies
    .sheet-relationships-table-header
      .sheet-relationship-name-header Name
      .sheet-relationship-location-header Location
      .sheet-relationship-status-header Status
      .sheet-relationship-notes-header Notes
    fieldset(class="repeating_relationships")
      .sheet-relationship-row
        input.sheet-relationship-name-input(
          name="attr_relationship_name" 
          type="text"
        )
        span.sheet-relationship-name-display(name="attr_relationship_name")

        input.sheet-relationship-location-input(
          name="attr_relationship_location" 
          type="text"
        )
        span.sheet-relationship-location-display(name="attr_relationship_location")

        input.sheet-relationship-status-input(
          name="attr_relationship_status" 
          type="text"
        )
        span.sheet-relationship-status-display(name="attr_relationship_status")

        input.sheet-relationship-notes-input(
          name="attr_relationship_notes" 
          type="text"
        )
        span.sheet-relationship-notes-display(name="attr_relationship_notes")
