.sheet-page4.sheet-tabcontainer.sheet-hidden
  // ALLIES & ENEMIES
  #relationships.sheet-section.sheet-relationships
    .sheet-header
      span Allies & Enemies
    .sheet-relationship-section
      .sheet-row
        .sheet-relationship-name
          span.sheet-bold.sheet-font-small Name
        .sheet-relationship-location
          span.sheet-bold.sheet-font-small Location
        .sheet-relationship-status
          span.sheet-bold.sheet-font-small Status
        .sheet-relationship-notes
          span.sheet-bold.sheet-font-small Notes
      fieldset(class="repeating_relationships")
        .sheet-row
          .sheet-relationship-name
            input.sheet-textinput.sheet-edit(
              name="attr_relationship_name" 
              type="text"
              )
            span.sheet-play.sheet-handwritten.sheet-font-big(name="attr_relationship_name")
          .sheet-relationship-location
            input.sheet-textinput.sheet-edit(
              name="attr_relationship_location" 
              type="text"
              )
            span.sheet-play.sheet-handwritten.sheet-font-big(name="attr_relationship_location")
          .sheet-relationship-status
            input.sheet-textinput.sheet-edit(
              name="attr_relationship_status" 
              type="text"
              )
            span.sheet-play.sheet-handwritten.sheet-font-big(name="attr_relationship_status")
          .sheet-relationship-notes
            input.sheet-textinput.sheet-edit(
              name="attr_relationship_notes" 
              type="text"
              )
            span.sheet-play.sheet-handwritten.sheet-font-big(name="attr_relationship_notes")
