// ALLIES & ENEMIES
.sheet-relationships-tab
  .sheet-section-header Allies & Enemies
  .sheet-table-header
    .sheet-relationship-name-header Name
    .sheet-relationship-location-header Location
    .sheet-relationship-status-header Status
    .sheet-relationship-notes-header Notes
  fieldset(class="repeating_relationships")
    .sheet-table-row
      input.sheet-edit.sheet-relationship-name-input(
        name="attr_relationship_name" 
        type="text"
        placeholder="Name..."
      )
      span.sheet-play.sheet-relationship-name-display(name="attr_relationship_name")

      input.sheet-edit.sheet-relationship-location-input(
        name="attr_relationship_location" 
        type="text"
        placeholder="Location..."
      )
      span.sheet-play.sheet-relationship-location-display(name="attr_relationship_location")

      input.sheet-edit.sheet-relationship-status-input(
        name="attr_relationship_status" 
        type="text"
        placeholder="Status..."
      )
      span.sheet-play.sheet-relationship-status-display(name="attr_relationship_status")

      textarea.sheet-edit.sheet-relationship-notes-input(
        name="attr_relationship_notes" 
        type="text"
        placeholder="Notes..."
      )
      span.sheet-play.sheet-relationship-notes-display(name="attr_relationship_notes")
