// RELICS
.sheet-relics
  .sheet-section-header Relics
  .sheet-section-body
    .sheet-urdr-burden-section
      .sheet-header-2 Urdr
      .sheet-urdr-boxes
        label.sheet-magic-box.sheet-magic-box-zero X
          input(
            checked="checked" 
            value="0" 
            name="attr_urdr" 
            type="radio"
          )
        each i in [1, 2, 3, 4]
          label.sheet-magic-box
            input(
              value=i
              name="attr_urdr" 
              type="radio"
            )
      .sheet-header-2 Burden
      .sheet-burden-boxes
        label.sheet-magic-box.sheet-magic-box-zero X
          input(
            checked="checked" 
            value="0" 
            name="attr_burden" 
            type="radio"
          )
        each i in [1, 2, 3, 4, 5, 6, 7, 8, 9]
          label.sheet-magic-box
            input(
              value=i
              name="attr_burden" 
              type="radio"
            )
  
    .sheet-relic-list
      .sheet-table-header
        .sheet-relic-name Relic
        .sheet-relic-inventory  Inventory
        .sheet-relic-invocation Invocation/Patron/Circle
      fieldset(class="repeating_relics")
        .sheet-row
          .sheet-relic-name
            input.sheet-edit(
              name="attr_relic_name" 
              type="text"
              placeholder="Relic name..."
            )
            span.sheet-play.sheet-handwritten(name="attr_relic_name")
          .sheet-relic-inventory
            input.sheet-edit(
              name="attr_relic_inventory" 
              type="text"
              placeholder="Inventory slot..."
            )
            span.sheet-play.sheet-handwritten(name="attr_relic_inventory")
          .sheet-relic-invocation
            input.sheet-edit(
              name="attr_relic_invocation" 
              type="text"
              placeholder="Invocation/Patron/Circle..."
            )
            span.sheet-play.sheet-handwritten(name="attr_relic_invocation")
        .sheet-row
          .sheet-relic-notes 
            input.sheet-edit(
              name="attr_relic_notes" 
              type="text"
              placeholder="Notes..."
            )
            span.sheet-play.sheet-handwritten(name="attr_relic_notes")
      