input.sheet-rolling-flag(
  name="attr_rolling" 
  type="hidden"
)
for skill in skillsList
  .sheet-roll-header.sheet-skill(class="sheet-skill-" + skill.attribute)
    span(name="attr_rolling_title")
    .sheet-skills
      +skill("", skill.attribute, skill.root)
.sheet-roll-header.sheet-skill.sheet-skill-will
  span(name="attr_rolling_title")
  .sheet-abilities
    +ability("", "will", 6)
.sheet-roll-header.sheet-skill.sheet-skill-health
  span(name="attr_rolling_title")
  .sheet-abilities
    +ability("", "health", 6)
.sheet-roll-header.sheet-skill.sheet-skill-nature
  span(name="attr_rolling_title")
  .sheet-abilities
    .sheet-nature-rating
      input.sheet-handwritten(
        value!="1"
        name="attr_taxed_nature"
        type="number"
      )
      .sheet-slash /
      input.sheet-handwritten(
        value!="1"
        name="attr_nature"
        type="number"
      )
    .sheet-advancement
      input.sheet-advancement-flag(
        name="attr_nature"
        type="hidden"
      )
      .sheet-pass.sheet-pip-container
        input.sheet-pip-value-flag(
          name="attr_nature_pass"
          type="hidden"
        )
        div <strong>P</strong>:
        +zeroPip("nature_pass")
        each _, i in Array(7)
          +pip("nature_pass", i).sheet-hidden
      .sheet-fail.sheet-pip-container
        input.sheet-pip-value-flag(
          name="attr_nature_fail"
          type="hidden"
        )
        div <strong>F</strong>:
        +zeroPip("nature_fail")
        each _, i in Array(7)
          +pip("nature_fail", i).sheet-hidden
.sheet-roll-header.sheet-skill.sheet-skill-resources
  span(name="attr_rolling_title")
  .sheet-abilities
    +ability("", "resources", 9)
.sheet-roll-header.sheet-skill.sheet-skill-circles
  span(name="attr_rolling_title")
  .sheet-abilities
    +ability("", "circles", 6)
for i in [1, 2, 3, 4, 5]
  .sheet-roll-header.sheet-skill(class="sheet-skill-" + i)
      span(name="attr_rolling_title")
      .sheet-skills
        +customSkill(i, true)