include anatomy/anatomy_mixins.pug
include anatomy/fate_mixins.pug
include anatomy/traits_mixin.pug

.sheet-roll-tab
  .sheet-section-header
    span(name="attr_rolling")
    span &nbsp; Roll
  .sheet-section-body
    // Left column
    .sheet-column-left
      .sheet-roll-header Roll Type
      .sheet-obstacle
        select.sheet-handwritten.sheet-roll-type(name="attr_rolling_type")
          option(value="independent") Independent
          option(value="versus") Versus
          option(value="disposition") Disposition
        input.sheet-rolling-type-flag(
          name="attr_rolling_type" 
          type="hidden"
        )
        span.sheet-ob.sheet-independent Against Ob
        span.sheet-versus Versus
        input.sheet-independent.sheet-versus.sheet-handwritten(
          value!="1"
          name="attr_rolling_obstacle"
          type="number"
        )
        span.sheet-versus dice
        span.sheet-disposition Added to
        select.sheet-handwritten.sheet-disposition(name="attr_rolling_disposition_ability")
          option(value="will") Will
          option(value="health") Health
          option(value="nature") Nature
      .sheet-roll-header The Grind
      .sheet-reference-text (DH pg. 55; SG pg. 39, 48)
      .sheet-grind-turns
        input.sheet-handwritten(
          value!="1"
          name="attr_rolling_grind"
          type="number"
        )
        .sheet-grind-turns-label turn(s) of the grind
      input.sheet-condition-exhausted-flag(
        name="attr_exhausted" 
        type="hidden"
      )
      .sheet-exhausted-warning
        .sheet-reference-text Instinct is not free when exhausted (+1 Ob)
      .sheet-roll-header Trait
      .sheet-reference-text (DH pg. 79)
      select.sheet-handwritten.sheet-trait-selector(name="attr_rolling_trait")
      input.sheet-hidden-trait-flag(
        name="attr_rolling_trait" 
        type="hidden"
      )
      select.sheet-handwritten.sheet-trait-usage(name="attr_rolling_trait_option")
        option(value="forme") For me (+1D)
        option(value="againstme") For against me (-1D)
        option(value="opponent") For my opponent (vs +2D)
      .sheet-traits
        +traits()
      .sheet-roll-header Persona
      .sheet-reference-text (DH pg. 67, SG pg. 88)
      +persona()
      .sheet-persona
        input.sheet-handwritten(
          value!="0"
          name="attr_rolling_persona"
          type="number"
        )
        span Persona spent
      .sheet-channel-natur-option
        input.sheet-handwritten(
          name="attr_rolling_channel_nature" 
          type="checkbox"
        )
        span Channel nature
      input.sheet-hidden-channel-nature-flag(
        name="attr_rolling_channel_nature" 
        type="hidden"
      )
      .sheet-channel-nature
        .sheet-nature-rating
          input.sheet-handwritten(name="attr_taxed_nature", type="number")
          .sheet-slash /
          input.sheet-handwritten(name="attr_nature", type="number")
        select.sheet-handwritten.sheet-nature-within-without(name="attr_rolling_nature_within")
          option(value="within") Within
          option(value="outside") Outside

    // Center column
    .sheet-column-center
      .sheet-roll-header Additional dice
      .sheet-gear-or-supplies
        input.sheet-handwritten(
          value!="0"
          name="attr_rolling_gearetal"
          type="number"
        )
        .sheet-gear-or-supplies-label Gear, supplies, focus, materials, or sacramentals
      .sheet-other-dice
        input.sheet-handwritten(
          value!="0"
          name="attr_rolling_otherdice"
          type="number"
        )
        .sheet-other-dice-label other dice
      .sheet-other-successes
        input.sheet-handwritten(
          value!="0"
          name="attr_rolling_othersuccesses"
          type="number"
        )
        .sheet-other-dice-label other successes
      .sheet-roll-header Help & aid 
      .sheet-roll-help
        input.sheet-handwritten(
          value!="0"
          name="attr_rolling_help" 
          type="number"
        )
        .sheet-roll-help-label Ability, skill, or nature (help)
      .sheet-reference-text Helpers cannot be afraid
      input.sheet-grind-flag(
        name="attr_rolling_grind" 
        type="hidden"
      )
      .sheet-instinct-help-warning 
        .sheet-reference-text Instinct can only be helped by nature, instinct, or wise.
      .sheet-reference-text (DH pg. 65, 73; SG pg. 37)
      .sheet-roll-synergy
        input.sheet-handwritten(
          value!="0"
          name="attr_rolling_synergy" 
          type="number"
        )
        span Synergy
      .sheet-reference-text (DH pg. 87)
      .sheet-roll-aid
        input.sheet-handwritten(
          value!="0"
          name="attr_rolling_aid" 
          type="number"
        )
        span Aid
      .sheet-reference-text (DH pg. 77)
      .sheet-roll-header Conditions
      .sheet-reference-text (SG pg. 46)
      input.sheet-condition-fresh-flag(
        name="attr_fresh" 
        type="hidden"
      )
      .sheet-roll-fresh +1D for fresh
      input.sheet-condition-injured-flag(
        name="attr_injured" 
        type="hidden"
      )
      .sheet-roll-injured -1D for injured
      input.sheet-condition-sick-flag(
        name="attr_sick" 
        type="hidden"
      )
      .sheet-roll-sick -1D for sick
      .sheet-roll-header Rolling
      .sheet-rolling-body
        .sheet-dice-total
          input.sheet-rolling-type-flag(
            name="attr_rolling_type" 
            type="hidden"
          )
          span.sheet-handwritten(name="attr_rolling_dice", value!="0")
          .sheet-handwritten D
          .sheet-independent
            div &nbsp; vs
            .sheet-handwritten Ob
            span.sheet-handwritten(name="attr_rolling_obstacle", value!="0")
          .sheet-versus 
            div &nbsp; vs &nbsp;
            span.sheet-handwritten(name="attr_rolling_obstacle", value!="0")
            .sheet-handwritten D
          .sheet-disposition
            span &nbsp; added to &nbsp;
            span.sheet-handwritten(name="attr_rolling_disposition_ability")
        button.sheet-roll-button Roll

    // Right column
    .sheet-column-right
      .sheet-roll-header After rolling - Fate
      .sheet-reference-text (DH pg. 77, SG pg. 87)
      .sheet-deeper-understanding-label
        input.sheet-handwritten(
          name="attr_rolling_deeper_understanding"
          type="checkbox"
        )
        span Deeper understanding
      .sheet-luck-label
        input.sheet-handwritten(
          name="attr_rolling_luck"
          type="checkbox"
        )
        span Luck
      input.sheet-du-wise-flag(
        value!="0"
        name="attr_rolling_deeper_understanding" 
        type="hidden"
      )
      input.sheet-luck-flag(
        value!="0"
        name="attr_rolling_luck" 
        type="hidden"
      )
      .sheet-fate
        +fate()
      .sheet-deeper-understanding
        select.sheet-handwritten.sheet-du-wise-selector(name="attr_rolling_du_wise")
        input.sheet-du-wise-flag(
          value!="0"
          name="attr_rolling_du_wise" 
          type="hidden"
        )
        each i in [1, 2, 3, 4]
          div(class="sheet-wise-" + i)
            .sheet-wise-xp-section
              input(
                value!="1"
                name="attr_wise" + i + "_fate" 
                type="checkbox"
              )
              .sheet-wise-label Fate
            button.sheet-roll-button Roll
      .sheet-luck
        .sheet-luck-sixes
          input.sheet-handwritten.sheet-luck-dice(
            value!="0"
            name="attr_rolling_luck_dice" 
            type="number"
          )
          .sheet-luck-label six(es)
        button.sheet-roll-button Roll
      .sheet-roll-header After rolling - Persona
      .sheet-reference-text (DH pg. 77, SG pg. 88)
      .sheet-of-course
        input.sheet-handwritten(
          type="checkbox"
        )
        span Of course!
      .sheet-roll-header Breaking Ties
      .sheet-reference-text (SG pg. 32)
      .sheet-breaking-ties
        input.sheet-handwritten(
          type="checkbox"
        )
        span Breaking ties
      .sheet-roll-header Advancement
      div Mark pass or fail
      div Advance the grind
      div TODO Add this to the roll template??
      //- div TODO Advancement (Ability, nature)
      //- .sheet-beginners-luck TODO beginners luck
      //- div TODO Conflict conditions (bag, h&t, dim light etc.)
      // TODO Backpack dungeoneer and fighter warning
