// SPELLS
.sheet-spells
  .sheet-spells-title
    .sheet-section-header Arcane Spells
    .sheet-section-body
      .sheet-memory-palace
        .sheet-header-2 Memory Palace
        .sheet-memory-palace-boxes
          label.sheet-magic-box.sheet-magic-box-zero X
            input(
              checked="checked" 
              value="0" 
              name="attr_memory_palace" 
              type="radio"
            )
          each i in [1, 2, 3, 4, 5]
            label.sheet-magic-box
              input(
                value=i
                name="attr_memory_palace" 
                type="radio"
              )
  .sheet-spells-section
    .sheet-table-header
      .sheet-spell-name Spell
      .sheet-spell-ob Ob
      .sheet-spell-known known
      .sheet-spell-book spell book
      .sheet-spell-mem mem.
      .sheet-spell-cast cast
      .sheet-spell-scroll scroll
      .sheet-spell-supplies supplies
    fieldset(class="repeating_spells")
      .sheet-row
        .sheet-spell-name
          input.sheet-edit(
            name="attr_spell_name" 
            type="text"
            placeholder="Spell name..."
          )
          span.sheet-play.sheet-handwritten(name="attr_spell_name")
        .sheet-spell-ob
          input.sheet-edit(
            name="attr_spell_ob" 
            type="text"
            placeholder="Spell ob..."
          )
          span.sheet-play.sheet-handwritten(name="attr_spell_ob")
        .sheet-spell-known
          input.sheet-checkbox(
            value="1" 
            name="attr_spell_known" 
            type="checkbox"
          )
        .sheet-spell-book
          input.sheet-checkbox(
            value="1" 
            name="attr_spell_book" 
            type="checkbox"
          )
        .sheet-spell-mem
          input.sheet-checkbox(
            value="1" 
            name="attr_spell_mem" 
            type="checkbox"
          )
        .sheet-spell-cast
          input.sheet-checkbox(
            value="1" 
            name="attr_spell_cast" 
            type="checkbox"
          )
        .sheet-spell-scroll
          input.sheet-checkbox(
            value="1" 
            name="attr_spell_scroll" 
            type="checkbox"
          )
        .sheet-spell-supplies
          input.sheet-checkbox(
            value="1" 
            name="attr_spell_supplies" 
            type="checkbox"
          )
      .sheet-row
        .sheet-spell-effect
          input.sheet-edit(
            name="attr_spell_effect" 
            type="text"
            placeholder="Spell effect..."
          )
          span.sheet-play.sheet-handwritten(name="attr_spell_effect")
