input.sheet-absolute.sheet-tab.sheet-editing(
  checked="checked" 
  value="0" 
  name="attr_edit" 
  type="radio"
  )
span Edit Mode
input.sheet-absolute.sheet-tab.sheet-playing(
  value="1" 
  name="attr_edit" 
  type="radio"
  )
span Play Mode
input.sheet-absolute.sheet-tab.sheet-page1(
  checked="checked" 
  value="page1" 
  name="attr_tab" 
  type="radio"
  )
span Anatomy
input.sheet-absolute.sheet-tab.sheet-page2(
  value="page2" 
  name="attr_tab" 
  type="radio"
  )
span Kit
input.sheet-absolute.sheet-tab.sheet-page3(
  value="page3" 
  name="attr_tab" 
  type="radio"
  )
span Magic
input.sheet-absolute.sheet-tab.sheet-page4(
  value="page4" 
  name="attr_tab" 
  type="radio"
  )
span Relationships
input.sheet-absolute.sheet-tab.sheet-page5(
  value="page5" 
  name="attr_tab" 
  type="radio"
  )
span Level
input.sheet-absolute.sheet-tab.sheet-page6(
  value="page6" 
  name="attr_tab" 
  type="radio"
  )
span Options