// These inputs need to be unnested at the parent level for targeting the rest of the page
input.sheet-tab-toggle(
  type="hidden"
  name="attr_tab"
  value="anatomy"
)
input.sheet-edit-toggle(
  type="hidden"
  name="attr_edit"
  value="playing"
)
.sheet-tabs
  .sheet-tab-toggle-buttons
    button.sheet-tab-anatomy(
      type="action"
      name="act_anatomy"
    ) Anatomy
    button.sheet-tab-kit(
      type="action"
      name="act_kit"
    ) Kit
    button.sheet-tab-magic(
      type="action"
      name="act_magic"
    ) Magic
    button.sheet-tab-relationships(
      type="action"
      name="act_relationships"
    ) Relationships
    button.sheet-tab-levels(
      type="action"
      name="act_levels"
    ) Level
    button.sheet-tab-roll(
      type="action"
      name="act_roll"
    ) Roll

    .sheet-play-edit-buttons
      button.sheet-tab-playing(
        type="action"
        name="act_playing"
      ) Play Mode
      button.sheet-tab-editing(
        type="action"
        name="act_editing"
      ) Edit Mode
