- var track = [ 0, 1, 2, 3, 4, 5, 6, 7, 8, 9 ]
include ../progress/mixins/box

mixin bondsTrack()
  div.bonds-track
    div
      each index in track
        select(name=`attr_bond-${index}` class="progress-input")
          +progressBox
      input(
        type="text"
        class="hide"
        name="attr_bond-filled"
        value="floor((@{bond-0}+@{bond-1}+@{bond-2}+@{bond-3}+@{bond-4}+@{bond-5}+@{bond-6}+@{bond-7}+@{bond-8}+@{bond-9})/4)"
        disabled="true"
      )
