script(type="text/worker")
    include js/library.js
    include js/_functionsWeapons.js    
    
    include js/knight.js
    include js/buttons.js
    include js/roll.pug

div(class="content")
    input(
        type="hidden" 
        name="attr_version" 
        class="version"
        value="0"
    )

    include html/popup/popup.html

    input(
        type="hidden" 
        name="attr_fichePNJ" 
        class="ficheType" 
        value="0"
    )

    input(
        type="hidden" 
        name="attr_tab" 
        class="tabMenu" 
        value="dossier"
    )

    include html/top/left.html

    include html/top/right.html

    input(
        type="hidden" 
        name="attr_atkDefensif" 
        value="0" 
        readonly
    )

    input(
        type="hidden"
        name="attr_atkCouvert"
        value="0"
        readonly
    )

    input(
        type="hidden"
        name="attr_atkAgressif"
        value="0"
        readonly
    )

    input(
        type="hidden"
        name="attr_atkAkimbo"
        value="0"
        readonly
    )

    input(
        type="hidden"
        name="attr_atkAmbidextre"
        value="0"
        readonly
    ) 

    input(
        type="hidden" 
        name="attr_atkPilonnage" 
        value="0" 
        readonly
    )

    input(
        type="hidden" 
        name="attr_atkPuissant" 
        value="0" 
        readonly
    )

    input(
        type="hidden" 
        name="attr_rctBM" 
        readonly
    )

    input(
        type="hidden" 
        name="attr_defBM" 
        readonly
    )

    input(
        type="hidden" 
        name="attr_bonusReaction" 
        value="0" 
        readonly
    )

    input(
        type="hidden" 
        name="attr_bonusDefense"
        value="0" 
        readonly
    )


    input(
        type="hidden" 
        name="attr_styleSimple" 
        value="[[@{atkAkimbo}]]+[[@{atkAmbidextre}]]+[[@{atkCouvert}]]+[[@{atkDefensif}]]+[[@{atkAgressif}]]"
    )

    input(
        type="hidden" 
        name="attr_armure" 
        class="armureListe" 
        value="sans"
    )

    input(
        type="hidden" 
        name="attr_armureLegende" 
        class="armureLegendeListe" 
        value="sans"
    )

    input(
        type="hidden" 
        name="attr_tabEgide" 
        class="tabEgide" value="0"
    )

    input(
        type="hidden" 
        name="attr_tabResilience" 
        class="tabResilience" value="0"
    )

    input(
        type="hidden" 
        name="attr_tabArmureLegende" 
        class="tabArmureLegende" 
        value="0"
    )

    input(
        type="hidden" 
        name="attr_capaciteFanMade" 
        class="capacitesFanMade" 
        value="0"
    )

    input(
        type="hidden" 
        name="attr_phase2" 
        class="phase2" 
        value="0"
    )

    input(
        type="hidden" 
        name="attr_chevaliersHerauts" 
        class="herauts"
        value="0"
    )

    include html/tab/dossier.html
    include html/tab/armure.html
    include html/tab/combat.pug
    include html/tab/modules.html
    include html/tab/IA.html
    include html/tab/IAIncarnee.html
    include html/tab/overdrive.html
    include html/tab/historique.html
    include html/tab/art.html
    include html/tab/heroisme.html
    include html/tab/vehicule.html
    include html/tab/equipage.html
    include html/tab/mechaArmure.html

    include html/popup/MAJV15.html

include templates.pug