.settings-body
  .settings__col
    .options
      .options__row
        span(data-i18n="hit-die:-u") HIT DIE:
        select(name="attr_hitdietype")
          option(value="4") D4
          option(value="6") D6
          option(value="8") D8
          option(value="10") D10
          option(value="12") D12
      .options__row
        span(data-i18n="carrying-capacity-mod:-u") CARRYING CAPACITY MODIFIER:
        input(type="text" name="attr_carrying_capacity_mod" placeholder="*2")
      .options__row
        span(data-i18n="glob-atk-mod:-u") GLOBAL MAGIC ATTACK MODIFIER:
        input(type="text" name="attr_globalmagicmod" placeholder="0" value="0")
      .options__row
        span(data-i18n="magic-use-lvl:-u") MAGIC CASTER LEVEL:
        input(type="text" name="attr_caster_level")
      .options__row
        span(data-i18n="spell_dc_mod:-u") SPELL SAVE DC MOD:
        input(type="text" name="attr_spell_dc_mod" placeholder="0" value="0")
      .options__row--title
        span(data-i18n="class-options-u") CLASS OPTIONS 
        | ( 
        span(name="attr_class")
        | )
    .options
      input(type="hidden" name="attr_custom_class" value="1")
      .options__row
        span(data-i18n="class-name:-u") CLASS NAME:
        input(type="text" name="attr_cust_classname")
      .options__row
        span(data-i18n="hit-die:-u") HIT DIE:
        select(name="attr_cust_hitdietype")
          option(value="4") D4
          option(value="6") D6
          option(value="8") D8
          option(value="10") D10
          option(value="12") D12
      .options__row
        span(data-i18n="spellcasting-ability:-u") SPELLCASTING ABILITY:
        select(name="attr_cust_spellcasting_ability")
          option(value="0*" data-i18n="none-u") NONE
          option(value="@{strength_mod}+" data-i18n="strength-u") STRENGTH
          option(value="@{dexterity_mod}+" data-i18n="dexterity-u") DEXTERITY
          option(value="@{constitution_mod}+" data-i18n="constitution-u") CONSTITUTION
          option(value="@{intelligence_mod}+" data-i18n="intelligence-u") INTELLIGENCE
          option(value="@{wisdom_mod}+" data-i18n="wisdom-u") WISDOM
          option(value="@{charisma_mod}+" data-i18n="charisma-u") CHARISMA
      .options__row
        span(data-i18n="spell-slots:-u") SPELL SLOTS:
        select(name="attr_cust_spellslots")
          option(value="none" data-i18n="none-u") NONE
          option(value="full" data-i18n="spell-full-u") FULL (Cleric, Druid, Wizard)
          option(value="half" data-i18n="spell-half-u") HALF (Artificer, Paladin, Ranger)
          option(value="third" data-i18n="spell-third-u") THIRD (Arcane Fighter/Rogue)
      .options__row--title
        span(data-i18n="saves-u") SAVES
      .options__row.options__row--noborder
        input.options__flex--1(type="checkbox" name="attr_cust_strength_save_prof" value="(@{pb})")
        span(data-i18n="strength") Strength
        input.options__flex--1(type="checkbox" name="attr_cust_dexterity_save_prof" value="(@{pb})")
        span(data-i18n="dexterity") Dexterity
      .options__row.options__row--noborder
        input.options__flex--1(type="checkbox" name="attr_cust_constitution_save_prof" value="(@{pb})")
        span(data-i18n="constitution") Constitution
        input.options__flex--1(type="checkbox" name="attr_cust_intelligence_save_prof" value="(@{pb})")
        span(data-i18n="intelligence") Intelligence
      .options__row
        input.options__flex--1(type="checkbox" name="attr_cust_wisdom_save_prof" value="(@{pb})")
        span(data-i18n="wisdom") Wisdom
        input.options__flex--1(type="checkbox" name="attr_cust_charisma_save_prof" value="(@{pb})")
        span(data-i18n="charisma") Charisma
      .options__row--title
        span(data-i18n="cust-class-opts") CUSTOM CLASS OPTIONS
    .options.spell_slot_mods
      .options__row
        each level in [1,2,3]
          .options__flex--2
            span(data-i18n="lvl-u") LEVEL
            span.options__flex=level 
          span.options__flex--1 +
          input.options__flex--1(type="text" name=`attr_lvl${level}_slots_mod` value="0" placeholder="0" title=`@{lvl${level}_slots_mod}`)
      .options__row--title
        span(data-i18n="spell_slot_modifiers-u") SPELL SLOT MODIFIERS
  .settings__col
    .options
      .options__row
        span.options__flex--3(data-i18n="strength-u") STRENGTH
        span.options__flex--1 +
        input.options__flex--1(type="text" name="attr_strength_bonus" value="0" placeholder="0" title="@{strength_bonus}")
        span.options__flex--3(data-i18n="dexterity-u") DEXTERITY
        span.options__flex--1 +
        input.options__flex--1(type="text" name="attr_dexterity_bonus" value="0" placeholder="0" title="@{dexterity_bonus}")
      .options__row
        span.options__flex--3(data-i18n="constitution-u") CONSTITUTION
        span.options__flex--1 +
        input.options__flex--1(type="text" name="attr_constitution_bonus" value="0" placeholder="0" title="@{constitution_bonus}")
        span.options__flex--3(data-i18n="intelligence-u") INTELLIGENCE
        span.options__flex--1 +
        input.options__flex--1(type="text" name="attr_intelligence_bonus" value="0" placeholder="0" title="@{intelligence_bonus}")
      .options__row
        span.options__flex--3(data-i18n="wisdom-u") WISDOM
        span.options__flex--1 +
        input.options__flex--1(type="text" name="attr_wisdom_bonus" value="0" placeholder="0" title="@{wisdom_bonus}")
        span.options__flex--3(data-i18n="charisma-u") CHARISMA
        span.options__flex--1 +
        input.options__flex--1(type="text" name="attr_charisma_bonus" value="0" placeholder="0" title="@{charisma_bonus}")
      .options__row.options__row--noborder
        span(data-i18n="initiative-mod:-u") INITIATIVE MODIFIER:
        input(type="text" name="attr_initmod" placeholder="0" value="0")
      .options__row.options__row--noborder
        span(data-i18n="initiative-style:-u") INITIATIVE STYLE:
        select(name="attr_initiative_style")
          option(value="@{d20}" selected="selected" data-i18n="norm") Normal
          option(value="{@{d20},@{d20}}kh1" data-i18n="adv") Advantage
          option(value="{@{d20},@{d20}}kl1" data-i18n="disadv") Disadvantage
      .options__row
        input(type="checkbox" name="attr_init_tiebreaker" value="@{dexterity}/100")
        span(data-i18n="add-dex-tiebreaker-u") ADD DEX TIEBREAKER TO INITIATIVE
      //- .options__row.options__row--noborder
      //-   span(data-i18n="hpmods:-u") HP MODIFIERS:
      //- fieldset.repeating_hpmod
      //-   div
      //-     span(data-i18n="levels:-u") LEVELS:
      //-     select(name="attr_levels")
      //-       option(value="total" selected="selected" data-i18n="total-level-u") TOTAL LEVEL
      //-       option(value="base" data-i18n="main-class-level-u") MAIN CLASS LEVEL
      //-       option(value="multiclass1" data-i18n="class-2-level-u") CLASS 2 LEVEL
      //-       option(value="multiclass2" data-i18n="class-3-level-u") CLASS 3 LEVEL
      //-       option(value="multiclass3" data-i18n="class-4-level-u") CLASS 4 LEVEL
      //-     br
      //-     span(data-i18n="source:-u") SOURCE:
      //-     input(type="text" name="attr_source")
      //-     span(data-i18n="mod:-u") MOD:
      //-     input(type="text" name="attr_mod")
      .options__row--title
        span(data-i18n="attribute-opts-u") ATTRIBUTE OPTIONS
    .options
      .options__row.options__row--noborder
        span.options__flex--4(data-i18n="strength-save-u") STRENGTH SAVE
        span.options__flex +
        input.options__flex--1(type="text" name="attr_strength_save_mod" value="0" placeholder="0" title="@{strength_save_mod}")
        span.options__flex--4(data-i18n="dexterity-save-u") DEXTERITY SAVE
        span.options__flex +
        input.options__flex--1(type="text" name="attr_dexterity_save_mod" value="0" placeholder="0" title="@{dexterity_save_mod}")
      .options__row.options__row--noborder
        span.options__flex--4(data-i18n="constitution-save-u") CONSTITUTION SAVE
        span.options__flex +
        input.options__flex--1(type="text" name="attr_constitution_save_mod" value="0" placeholder="0" title="@{constitution_save_mod}")
        span.options__flex--4(data-i18n="intelligence-save-u") INTELLIGENCE SAVE
        span.options__flex +
        input.options__flex--1(type="text" name="attr_intelligence_save_mod" value="0" placeholder="0" title="@{intelligence_save_mod}")
      .options__row
        span.options__flex--4(data-i18n="wisdom-save-u") WISDOM SAVE
        span.options__flex +
        input.options__flex--1(type="text" name="attr_wisdom_save_mod" value="0" placeholder="0" title="@{wisdom_save_mod}")
        span.options__flex--4(data-i18n="charisma-save-u") CHARISMA SAVE
        span.options__flex +
        input.options__flex--1(type="text" name="attr_charisma_save_mod" value="0" placeholder="0" title="@{charisma_save_mod}")
      .options__row
        span(data-i18n="death-save-mod:-u") DEATH SAVE MODIFIER:
        input(type="text" name="attr_death_save_mod" placeholder="0" value="0")
      .options__row
        span(data-i18n="glob-saving-mod:-u") GLOBAL SAVING THROW MODIFIER:
        input(type="text" name="attr_globalsavemod" placeholder="0" value="0")
      .options__row--title
        span(data-i18n="save-opts-u") SAVE OPTIONS
    .options
      div(data-i18n-list="skills-list")
        for skill in globalAttributesByCategory.skills
          - const { name, ability } = skill;
          - const name_undercase = name.toLowerCase().replace(/ /g,"_");
          - const ability_short = ability.substring(0,3);
          .options__row(data-i18n-list-item=`${name_undercase}`)
            select.options__flex--4(name=`attr_${name_undercase}_type`)
              option(value="1" selected="selected" data-i18n="normal") Normal
              option(value="2" data-i18n="expertise") Expertise
            span.options__flex--5(data-i18n=`${name_undercase}-core`)
              | #{name} 
              span (#{ability_short})
            span.options__flex +
            input.options__flex--1(type="text" name=`attr_${name_undercase}_flat` value="0" placeholder="0" title=`@{${name_undercase}_flat}`)
      //- .options__row
      //-   input(type="checkbox" name="attr_jack_of_all_trades" value="@{jack}")
      //-   span(data-i18n="jack-of-all-u") JACK OF ALL TRADES
      //- .options__row
      //-   span(data-i18n="reliable-talent-u") RELIABLE TALENT:
      //-   select.dtype(name="attr_reliable_talent")
      //-     option(value="10" data-i18n="on") On
      //-     option(value="0" selected="selected" data-i18n="off") Off
      .options__row
        span(data-i18n="pass-perc-mod:-u") PASSIVE PERCEPTION MODIFIER:
        input(type="text" name="attr_passiveperceptionmod" placeholder="0" value="0")
      .options__row--title
        span(data-i18n="skill-opts-u") SKILL OPTIONS
  .settings__col
    .options
      .options__row
        input(type="checkbox" name="attr_npc" value="1")
        span(data-i18n="npc-u") NPC
      .options__row
        span(data-i18n="roll-queries:-u") ROLL QUERIES:
        select(name="attr_rtype")
          option(value="{{always=1}} {{r2=[[@{d20}" data-i18n="always-roll-adv") Always Roll Advantage
          option(value="@{advantagetoggle}" data-i18n="toggle-roll-adv") Advantage Toggle
          option(value="@{queryadvantage}" data-i18n="query-roll-adv") Query Advantage
          option(value="{{normal=1}} {{r2=[[0d20" data-i18n="never-roll-adv") Never Roll Advantage
      .options__row
        span(data-i18n="whisp-rolls-gm:-u") WHISPER ROLLS TO GM:
        select(name="attr_wtype")
          option(value="" data-i18n="never-whisper-roll") Never Whisper Rolls
          option(value="@{whispertoggle}" data-i18n="toggle-roll-whisper") Whisper Toggle
          option(value="?{Whisper?|Public Roll,|Whisper Roll,/w gm }" data-i18n="query-whisper-roll") Query Whisper
          option(value="/w gm " data-i18n="always-whisper-roll") Always Whisper Rolls
      .options__row
        span(data-i18n="auto-dmg-roll:-u") AUTO DAMAGE ROLL:
        select.dtype(name="attr_dtype")
          option(value="pick" data-i18n="never-roll-dmg") Don&apos;t Auto Roll Damage
          option(value="full" data-i18n="always-roll-dmg") Auto Roll Damage &amp; Crit
      .options__row
        span(data-i18n="core-die-roll:-u") CORE DIE ROLL:
        input(type="text" name="attr_core_die" value="1d20" placeholder="1d20" title="@{core_die}")
      .options__row
        span(data-i18n="default-critical-range:-u") CRITICAL RANGE:
        input(type="number" name="attr_default_critical_range" value="20" placeholder="20")
      .options__row
        span(data-i18n="prof-bonus:-u") PROFICIENCY BONUS:
        select.dtype(name="attr_pb_type")
          option(value="level" data-i18n="by-level") By Level (Default)
          option(value="die" data-i18n="prof-die") Proficency Die (DMG)
          option(value="custom" data-i18n="custom") Custom
        input(type="hidden" name="attr_pb_type")
        input.pb_custom(type="text" name="attr_pb_custom" placeholder="2d10")
      .options__row
        span(data-i18n="add-char-to-templates:-u") ADD CHARACTER NAME TO TEMPLATES:
        select.dtype(name="attr_charname_output")
          option(value="{{charname=@{character_name}}}" data-i18n="on") On
          option(value="charname=@{character_name}" selected="selected" data-i18n="off") Off
      .options__row
        span(data-i18n="level-calculations:-u") LEVEL CALCULATIONS:
        select.dtype(name="attr_level_calculations")
          option(value="on" selected="selected" data-i18n="on") On
          option(value="off" data-i18n="off") Off
      .options__row.options__row--noborder
        span(data-i18n="encumbrance:-u") ENCUMBRANCE:
        select(name="attr_encumbrance_setting")
          option(value="off" data-i18n="simple") Simple
          option(value="on" data-i18n="variant-phb") Variant (PHB p176)
          option(value="disabled" data-i18n="off") Off
      .options__row
        input(type="checkbox" name="attr_ingore_non_equipped_weight" value="1")
        span(data-i18n="ingore-non-equipped-weight") IGNORE NON-EQUIPPED ITEMS WEIGHT
      .options__row
        span(data-i18n="inventory:-u") INVENTORY:
        select(name="attr_simpleinventory")
          option(value="complex" data-i18n="compendium-compatible") Compendium Compatible
          option(value="simple" data-i18n="simple") Simple
      .options__row--title
        span(data-i18n="general-opts-u") GENERAL OPTIONS