mixin effortGroup(group)
  .sheet-group-container
    h4.sheet-group-title=group.name
    each move in group.moves
      .sheet-effort-list
        .sheet-effort-name=move
        .sheet-effort-track
          - var attr = move.toLowerCase().replace(/\s/g, '_')
          label.sheet-common-btn
            input.sheet-hide.sheet-btn-input(type='radio' name=`attr_effort_${attr}` value='0' checked)
            .sheet-btn-content 0
          label.sheet-common-btn
            input.sheet-hide.sheet-btn-input(type='radio' name=`attr_effort_${attr}` value='1')
            .sheet-btn-content +1
          label.sheet-common-btn
            input.sheet-hide.sheet-btn-input(type='radio' name=`attr_effort_${attr}` value='2')
            .sheet-btn-content +2
          label.sheet-common-btn
            input.sheet-hide.sheet-btn-input(type='radio' name=`attr_effort_${attr}` value='3')
            .sheet-btn-content +3
