fieldset.repeating_mount
	.core-box.stats
		.grid.grid-flow-col.gap-1
			each val in ["name", "type"]
				+text-input(`mount_${val}`, val)
		.grid.grid-flow-col.gap-1
			each val in ["ac", "hp", "spd",]
				if val == "hp"
					+text-input-duo(`mount_${val}`, `mount_${val}_max`, val, "0").center
				else
					+text-input(`mount_${val}`, val)(type="number", value="0").center 
			each val in ["morale", "attack", "carrying_capacity"]
				+text-input(`mount_${val}`, val).center
		.grid.mt
			+sectionheader("show_gear", "GEAR")
			div
				textarea(name=`attr_mount_gear`)
