include ../progress/mixins/box

- var legacies = [ 'quests', 'bonds', 'discoveries' ]
- var track = [ 1, 2 , 3, 4, 5, 6, 7, 8, 9, 10]

//-
  @mixin
  @outputs html

  @memberof components/legacies

mixin legacies()
  .legacies
    for legacy in legacies
      div(class=legacy)
        .legacy-row-1
          .title=translation[`legacy-${legacy}-title`]
        .legacy-row-2
          .progress-boxes
            .cmd-buttons
              +btn({type: 'checkbox', text: 'CLEAR', translationId: 'clear-btn', attribute: `clear_legacy_${legacy}`, action: 'static'})
              +btn({type: 'checkbox', text: 'MARK', translationId: 'vow-mark', attribute: `mark_legacy_${legacy}`, action: 'static'})
            each index in track
              .progress-box
                +largeProgressBoxComplex(`attr_legacy_progress_${legacy}_${index}`)
                .experience-boxes
                  each box in [ 1, 2 ]
                    label.experience-box
                      input.experience-box.hide-element(type='checkbox' name=`attr_${legacy}_experience_${index}_${box}`)
                      .experience-fill
            +btn({
              type: 'checkbox',
              text: '+10',
              attribute: `legacy_${legacy}_plus_ten`,
              classes: 'ten-marker'
            })

