
mixin label(i18n)
  label(data-i18n=i18n)=locals[i18n]

mixin label_and_input(i18n, attr, placeholder)
  label(data-i18n=i18n)=locals[i18n]
    input(
      type='text'
      name=`attr_${attr}`
      spellcheck='false'
      data-i18n-placeholder=placeholder)

mixin label_with_subtitle(i18n, ...subtitles)
  label(data-i18n=i18n)=locals[i18n]
  each sub in subtitles
    div.subtitle(data-i18n=sub)=locals[sub]

mixin ability(attr)
  div.ability-row
    div.ability-name(data-i18n=attr)=locals[attr]
    div.ability-value
      input(
        type='number'
        class='stat-input'
        name=`attr_${attr}`)

mixin stat(inp, attr, i18n=attr)
  label(data-i18n=i18n)=locals[i18n]
  input(
    type=inp,
    class='stat-input'
    name=`attr_${attr}`
    spellcheck='false')

mixin stat_with_subtitle(inp, attr, i18n=attr, ...subtitles)
  label(data-i18n=i18n)=locals[i18n]
  each sub in subtitles
    div.subtitle(data-i18n=sub)=locals[sub]
  input(
    type=inp,
    class='stat-input'
    name=`attr_${attr}`
    spellcheck='false')

mixin dotted_line(inp, attr, i18n=attr)
  label(data-i18n=i18n)=locals[i18n]
  input(
    type=inp,
    class='dotted-line'
    name=`attr_${attr}`
    spellcheck='false')

mixin stat_no_label(inp, attr, placeholder)
  input(
    type=inp,
    class='stat-input'
    name=`attr_${attr}`
    data-i18n-placeholder=placeholder
    spellcheck='false')

mixin const_stat_no_label(inp, attr)
  input(
    type=inp,
    class='stat-input'
    name=`attr_${attr}`
    readonly
    spellcheck='false')

mixin repeating_input(inp, attr)
  input(
    type=inp,
    class='repeating-input'
    name=`attr_${attr}`
    spellcheck='false')

mixin stat_area(attr, i18n, rows)
  label(data-i18n=i18n)=locals[i18n]
  textarea(
    class='stat-input'
    rows=rows
    name=`attr_${attr}`
    spellcheck='false')

mixin stat_area_with_subtitle(attr, rows, ...subtitles)
  label(data-i18n=attr)=locals[attr]
  each sub in subtitles
    div.subtitle(data-i18n=sub)=locals[sub]
  textarea(
    class='stat-input'
    rows=rows
    name=`attr_${attr}`
    spellcheck='false')
