include ../components/component
include ../components/nav/nav
include ../components/input/input
include ../components/header/header
include ./acts/acts
include ./encounter_report/encounter_report

div.crossed-fates
  h2(data-i18n='crossed_fates')=locals['crossed_fates']
    //- img(
    //-   src='https://raw.githubusercontent.com/Roll20/roll20-character-sheets/main/Crossed-Fates/assets/logo.png'
    //-   height=100
    //-   width=100
    //-   data-i18n-title='crossed_fates'
    //-   data-i18n-alt='crossed_fates')

  div.header
    +header

    //- nav bar
    +nav_bar

+acts_page
+encounter_report_page

footer.footer
  div.catscratcher
    label
      a(
        href='https://catscratcher.itch.io/'
        target='_blank'
        data-i18n='catscratcher')=locals['catscratcher']
  div.catscratcher-logo
    img(
      src='https://raw.githubusercontent.com/Roll20/roll20-character-sheets/master/Crossed-Fates/assets/cat.png'
      height=50
      width=50
      data-i18n-title='crossed_fates'
      data-i18n-alt='crossed_fates')
