.sheet-abilities
  .sheet-section-header Abilities

  .sheet-abilities-section
    // Raw Abilities
    .sheet-raw-abilities
      .sheet-table-header
        .sheet-skill-name Raw Abilities
        .sheet-rating Rating
        .sheet-advancement Advancement

      .sheet-table-body
        .sheet-table-row
          +ability("Will", "will", 6)
        .sheet-table-row
          +ability("Health", "health", 6)
        .sheet-table-row
            .sheet-skill-name.sheet-nature-name
              div Nature
              button.sheet-play.sheet-rollable(type="action", name="act_nature")
            .sheet-nature-rating
              input.sheet-edit(
                value!="1"
                name="attr_taxed_nature"
                type="number"
              )
              span.sheet-play.sheet-handwritten(name="attr_taxed_nature")
              .sheet-slash /
              input.sheet-edit(
                value!="1"
                name="attr_nature"
                type="number"
              )
              span.sheet-play.sheet-handwritten(name="attr_nature")
            .sheet-advancement
              input.sheet-advancement-flag(
                name="attr_nature"
                type="hidden"
              )
              .sheet-pass.sheet-pip-container
                input.sheet-pip-value-flag(
                  name="attr_nature_pass"
                  type="hidden"
                )
                div <strong>P</strong>:
                +zeroPip("nature_pass")
                each _, i in Array(7)
                  +pip("nature_pass", i).sheet-hidden
              .sheet-fail.sheet-pip-container
                input.sheet-pip-value-flag(
                  name="attr_nature_fail"
                  type="hidden"
                )
                div <strong>F</strong>:
                +zeroPip("nature_fail")
                each _, i in Array(7)
                  +pip("nature_fail", i).sheet-hidden

    // Town Abilities
    .sheet-town-abilities
      .sheet-table-header
        .sheet-skill-name Town Abilities
        .sheet-rating Rating
        .sheet-advancement Advancement

      .sheet-table-body
        .sheet-table-row
          +ability("Resources", "resources", 9)
        .sheet-table-row
          +ability("Circles", "circles", 9)
        .sheet-table-row
          .sheet-skill-name Precedence
          .sheet-rating
            input.sheet-edit(
              value!="0"
              name="attr_precedence"
              type="number"
            )
            span.sheet-play.sheet-handwritten(name="attr_precedence")
          .sheet-skill-name Might
          .sheet-rating
            input.sheet-edit(
              value!="3"
              name="attr_might"
              type="number"
            )
            span.sheet-play.sheet-handwritten(name="attr_might")

  // Nature
  .sheet-nature-section
    .sheet-descriptors-label Nature Descriptors:
    .sheet-descriptors 
      .sheet-nature-descriptor
        input.sheet-edit(
          name="attr_nature_descriptor_1" 
          type="text"
          placeholder="Nature..."
        )
        span.sheet-play.sheet-handwritten(name="attr_nature_descriptor_1")
      .sheet-nature-descriptor
        input.sheet-edit(
          name="attr_nature_descriptor_2" 
          type="text"
          placeholder="Nature..."
        )
        span.sheet-play.sheet-handwritten(name="attr_nature_descriptor_2")
      .sheet-nature-descriptor
        input.sheet-edit(
          name="attr_nature_descriptor_3" 
          type="text"
          placeholder="Nature..."
        )
        span.sheet-play.sheet-handwritten(name="attr_nature_descriptor_3")
