.sheet-section.sheet-abilities
  input.sheet-flag(
    value!="complex" 
    name="attr_roll_type" 
    class="sheet-roll_type" 
    type="hidden"
    )
  #abilities
    .sheet-header
      // <img height="26" width="26" src="https://cdn.shopify.com/s/files/1/1205/7108/products/tribal-fleur-de-lis-step-marker-black_1024x1024.jpeg">
      span Abilities
      // <img height="26" width="26" src="https://cdn.shopify.com/s/files/1/1205/7108/products/tribal-fleur-de-lis-step-marker-black_1024x1024.jpeg">
    .sheet-row
      .sheet-raw-abilities
        span.sheet-font-smallest.sheet-bold Raw Abilities
      .sheet-rating.sheet-header-only
        span.sheet-font-smallest.sheet-bold Rating
      .sheet-advancement
        span.sheet-font-smallest.sheet-bold Advancement
      .sheet-town-abilities
        span.sheet-font-smallest.sheet-bold Town Abilities
      .sheet-rating.sheet-header-only
        span.sheet-font-smallest.sheet-bold Rating
      .sheet-advancement
        span.sheet-font-smallest.sheet-bold Advancement
    .sheet-row
      .sheet-raw-abilities
        input.sheet-flag(
          name="attr_will" 
          value!="0" 
          class="sheet-beginner_luck_flag" 
          type="hidden"
          )
        button.sheet-hidden.sheet-normal(
          value!="&{template:simple} {{roll_name=Will}} {{number_of_dice=[[@{will}[Will]@{conditions_modifier}]]}} {{result=[[[[@{will}[Will]@{conditions_modifier}]]d6>4]]}} @{roll_template_conditions} {{character=@{character_name}}}" 
          name="roll_will" 
          class="sheet-simple_roll" 
          type="roll"
          )
          span.sheet-bold Will
        button.sheet-hidden(
          value!="&{template:simple} {{roll_name=Will}} {{bl=w}} {{number_of_dice=[[[[round(@{will}/2)]][Will]@{conditions_modifier}]]}} {{result=[[[[[[round(@{will}/2)]][Will]@{conditions_modifier}]]d6>4]]}} @{roll_template_conditions} {{character=@{character_name}}}" 
          name="roll_will_beginner_luck" 
          class="sheet-simple_roll sheet-beginner_luck" 
          type="roll"
          )
          span.sheet-bold Will
        input.sheet-hidden(
          value!="1" 
          name="attr_will_trigger" 
          class="sheet-complex_roll" 
          type="checkbox"
          )
        span.sheet-bold.sheet-hidden(class="sheet-complex_roll") Will
        input.sheet-flag.sheet-show-advancement(
          value!="0" 
          name="attr_will_show_advancement" 
          type="hidden"
          )
        input.sheet-hidden.sheet-advancement-checkbox(
          value!="1" 
          name="attr_will_advancement" 
          type="checkbox"
          )
        span.sheet-hidden.sheet-advancement-checkbox
      .sheet-rating
        input.sheet-underlined-input.sheet-edit(
          value!="1" 
          max="6" 
          min="1" 
          name="attr_will" 
          type="number"
          )
        span.sheet-underlined-span.sheet-play.sheet-handwritten.sheet-font-big(name="attr_will")
      .sheet-advancement
        input.sheet-flag.sheet-advancement-flag(
          name="attr_will" 
          type="hidden"
          )
        .sheet-advancement-pass
          span.sheet-bold.sheet-font-smallest P:
          input.sheet-normal.sheet-zero.sheet-1(
            checked="checked" 
            value!="0" 
            name="attr_will_pass" 
            type="radio"
            )
          span.sheet-0
          input.sheet-normal.sheet-hidden.sheet-1(
            value!="1" 
            name="attr_will_pass" 
            type="radio"
            )
          span.sheet-hidden.sheet-1
          input.sheet-normal.sheet-hidden.sheet-2(
            value!="2" 
            name="attr_will_pass" 
            type="radio"
            )
          span.sheet-hidden.sheet-2
          input.sheet-normal.sheet-hidden.sheet-3(
            value!="3" 
            name="attr_will_pass" 
            type="radio"
            )
          span.sheet-hidden.sheet-3
          input.sheet-normal.sheet-hidden.sheet-4(
            value!="4" 
            name="attr_will_pass" 
            type="radio"
            )
          span.sheet-hidden.sheet-4
          input.sheet-normal.sheet-hidden.sheet-5(
            value!="5" 
            name="attr_will_pass" 
            type="radio"
            )
          span.sheet-hidden.sheet-5
        .sheet-advancement-fail
          span.sheet-bold.sheet-font-smallest F:
          input.sheet-normal.sheet-zero.sheet-1(
            checked="checked" 
            value!="0" 
            name="attr_will_fail" 
            type="radio"
            )
          span.sheet-0
          input.sheet-normal.sheet-hidden.sheet-1(
            value!="1" 
            name="attr_will_fail" 
            type="radio"
            )
          span.sheet-hidden.sheet-1
          input.sheet-normal.sheet-hidden.sheet-2(
            value!="2" 
            name="attr_will_fail" 
            type="radio"
            )
          span.sheet-hidden.sheet-2
          input.sheet-normal.sheet-hidden.sheet-3(
            value!="3" 
            name="attr_will_fail" 
            type="radio"
            )
          span.sheet-hidden.sheet-3
          input.sheet-normal.sheet-hidden.sheet-4(
            value!="4" 
            name="attr_will_fail" 
            type="radio"
            )
          span.sheet-hidden.sheet-4
      .sheet-town-abilities
        input.sheet-flag(
          name="attr_resources" 
          value!="0" 
          class="sheet-beginner_luck_flag" 
          type="hidden"
          )
        button.sheet-hidden.sheet-normal(
          value!="&{template:simple} {{roll_name=Resources}} {{number_of_dice=[[@{resources}[Resources]@{town_conditions_modifier}]]}} {{result=[[[[@{resources}[Resources]@{town_conditions_modifier}]]d6>4]]}} @{roll_template_conditions} {{character=@{character_name}}}" 
          name="roll_resources" 
          class="sheet-simple_roll" 
          type="roll"
          )
          span.sheet-bold Resources
        button.sheet-hidden(
          value!="&{template:simple} {{roll_name=Resources}} {{bl=w}} {{number_of_dice=[[[[round(@{resources}/2)]][Resources]@{town_conditions_modifier}]]}} {{result=[[[[[[round(@{resources}/2)]][Resources]@{town_conditions_modifier}]]d6>4]]}} @{roll_template_conditions} {{character=@{character_name}}}" 
          name="roll_resources_beginner_luck" 
          class="sheet-simple_roll sheet-beginner_luck" 
          type="roll"
          )
          span.sheet-bold Resources
        input.sheet-hidden(
          value!="1" 
          name="attr_resources_trigger" 
          class="sheet-complex_roll" 
          type="checkbox"
          )
        span.sheet-bold.sheet-hidden(class="sheet-complex_roll") Resources
        input.sheet-flag.sheet-show-advancement(
          value!="0" 
          name="attr_resources_show_advancement" 
          type="hidden"
          )
        input.sheet-hidden.sheet-advancement-checkbox(
          value!="1" 
          name="attr_resources_advancement" 
          type="checkbox"
          )
        span.sheet-hidden.sheet-advancement-checkbox
      .sheet-rating
        input.sheet-underlined-input.sheet-edit(
          value!="0" 
          max="10" 
          min="0" 
          name="attr_resources" 
          type="number"
          )
        span.sheet-underlined-span.sheet-play.sheet-handwritten.sheet-font-big(name="attr_resources")
      .sheet-advancement
        input.sheet-flag.sheet-max10.sheet-advancement-flag(
          name="attr_resources" 
          type="hidden"
          )
        .sheet-advancement-pass
          span.sheet-bold.sheet-font-smallest P:
          input.sheet-normal.sheet-zero.sheet-1(
            checked="checked" 
            value!="0" 
            name="attr_resources_pass" 
            type="radio"
            )
          span.sheet-0
          input.sheet-normal.sheet-hidden.sheet-1(
            value!="1" 
            name="attr_resources_pass" 
            type="radio"
            )
          span.sheet-hidden.sheet-1
          input.sheet-normal.sheet-hidden.sheet-2(
            value!="2" 
            name="attr_resources_pass" 
            type="radio"
            )
          span.sheet-hidden.sheet-2
          input.sheet-normal.sheet-hidden.sheet-3(
            value!="3" 
            name="attr_resources_pass" 
            type="radio"
            )
          span.sheet-hidden.sheet-3
          input.sheet-normal.sheet-hidden.sheet-4(
            value!="4" 
            name="attr_resources_pass" 
            type="radio"
            )
          span.sheet-hidden.sheet-4
          input.sheet-normal.sheet-hidden.sheet-5(
            value!="5" 
            name="attr_resources_pass" 
            type="radio"
            )
          span.sheet-hidden.sheet-5
          input.sheet-normal.sheet-hidden.sheet-6(
            value!="6" 
            name="attr_resources_pass" 
            type="radio"
            )
          span.sheet-hidden.sheet-6
          input.sheet-normal.sheet-hidden.sheet-7(
            value!="7" 
            name="attr_resources_pass" 
            type="radio"
            )
          span.sheet-hidden.sheet-7
          input.sheet-normal.sheet-hidden.sheet-8(
            value!="8" 
            name="attr_resources_pass" 
            type="radio"
            )
          span.sheet-hidden.sheet-8
          input.sheet-normal.sheet-hidden.sheet-9(
            value!="9" 
            name="attr_resources_pass" 
            type="radio"
            )
          span.sheet-hidden.sheet-9
        .sheet-advancement-fail
          span.sheet-bold.sheet-font-smallest F:
          input.sheet-normal.sheet-zero.sheet-1(
            checked="checked" 
            value!="0" 
            name="attr_resources_fail" 
            type="radio"
            )
          span.sheet-0
          input.sheet-normal.sheet-hidden.sheet-1(
            value!="1" 
            name="attr_resources_fail" 
            type="radio"
            )
          span.sheet-hidden.sheet-1
          input.sheet-normal.sheet-hidden.sheet-2(
            value!="2" 
            name="attr_resources_fail" 
            type="radio"
            )
          span.sheet-hidden.sheet-2
          input.sheet-normal.sheet-hidden.sheet-3(
            value!="3" 
            name="attr_resources_fail" 
            type="radio"
            )
          span.sheet-hidden.sheet-3
          input.sheet-normal.sheet-hidden.sheet-4(
            value!="4" 
            name="attr_resources_fail" 
            type="radio"
            )
          span.sheet-hidden.sheet-4
          input.sheet-normal.sheet-hidden.sheet-5(
            value!="5" 
            name="attr_resources_fail" 
            type="radio"
            )
          span.sheet-hidden.sheet-5
          input.sheet-normal.sheet-hidden.sheet-6(
            value!="6" 
            name="attr_resources_fail" 
            type="radio"
            )
          span.sheet-hidden.sheet-6
          input.sheet-normal.sheet-hidden.sheet-7(
            value!="7" 
            name="attr_resources_fail" 
            type="radio"
            )
          span.sheet-hidden.sheet-7
          input.sheet-normal.sheet-hidden.sheet-8(
            value!="8" 
            name="attr_resources_fail" 
            type="radio"
            )
          span.sheet-hidden.sheet-8
    .sheet-row
      .sheet-raw-abilities
        input.sheet-flag(
          name="attr_health" 
          value!="0" 
          class="sheet-beginner_luck_flag" 
          type="hidden"
          )
        button.sheet-hidden.sheet-normal(
          value!="&{template:simple} {{roll_name=Health}} {{number_of_dice=[[@{health}[Health]@{conditions_modifier}]]}} {{result=[[[[@{health}[Health]@{conditions_modifier}]]d6>4]]}} @{roll_template_conditions} {{character=@{character_name}}}" 
          name="roll_health" 
          class="sheet-simple_roll" 
          type="roll"
          )
          span.sheet-bold Health
        button.sheet-hidden(
          value!="&{template:simple} {{roll_name=Health}} {{bl=w}} {{number_of_dice=[[[[round(@{health}/2)]][Health]@{conditions_modifier}]]}} {{result=[[[[[[round(@{health}/2)]][Health]@{conditions_modifier}]]d6>4]]}} @{roll_template_conditions} {{character=@{character_name}}}" 
          name="roll_health_beginner_luck" 
          class="sheet-simple_roll sheet-beginner_luck" 
          type="roll"
          )
          span.sheet-bold Health
        input.sheet-hidden(
          value!="1" 
          name="attr_health_trigger" 
          class="sheet-complex_roll" 
          type="checkbox"
          )
        span.sheet-bold.sheet-hidden(class="sheet-complex_roll") Health
        input.sheet-flag.sheet-show-advancement(
          value!="0" 
          name="attr_health_show_advancement" 
          type="hidden"
          )
        input.sheet-hidden.sheet-advancement-checkbox(
          value!="1" 
          name="attr_health_advancement" 
          type="checkbox"
          )
        span.sheet-hidden.sheet-advancement-checkbox
      .sheet-rating
        input.sheet-underlined-input.sheet-edit(
          value!="1" 
          max="6" 
          min="1" 
          name="attr_health" 
          type="number"
          )
        span.sheet-underlined-span.sheet-play.sheet-handwritten.sheet-font-big(name="attr_health")
      .sheet-advancement
        input.sheet-flag.sheet-advancement-flag(
          name="attr_health" 
          type="hidden"
          )
        .sheet-advancement-pass
          span.sheet-bold.sheet-font-smallest P:
          input.sheet-normal.sheet-zero.sheet-1(
            checked="checked" 
            value!="0" 
            name="attr_health_pass" 
            type="radio"
            )
          span.sheet-0
          input.sheet-normal.sheet-hidden.sheet-1(
            value!="1" 
            name="attr_health_pass" 
            type="radio"
            )
          span.sheet-hidden.sheet-1
          input.sheet-normal.sheet-hidden.sheet-2(
            value!="2" 
            name="attr_health_pass" 
            type="radio"
            )
          span.sheet-hidden.sheet-2
          input.sheet-normal.sheet-hidden.sheet-3(
            value!="3" 
            name="attr_health_pass" 
            type="radio"
            )
          span.sheet-hidden.sheet-3
          input.sheet-normal.sheet-hidden.sheet-4(
            value!="4" 
            name="attr_health_pass" 
            type="radio"
            )
          span.sheet-hidden.sheet-4
          input.sheet-normal.sheet-hidden.sheet-5(
            value!="5" 
            name="attr_health_pass" 
            type="radio"
            )
          span.sheet-hidden.sheet-5
        .sheet-advancement-fail
          span.sheet-bold.sheet-font-smallest F:
          input.sheet-normal.sheet-zero.sheet-1(
            checked="checked" 
            value!="0" 
            name="attr_health_fail" 
            type="radio"
            )
          span.sheet-0
          input.sheet-normal.sheet-hidden.sheet-1(
            value!="1" 
            name="attr_health_fail" 
            type="radio"
            )
          span.sheet-hidden.sheet-1
          input.sheet-normal.sheet-hidden.sheet-2(
            value!="2" 
            name="attr_health_fail" 
            type="radio"
            )
          span.sheet-hidden.sheet-2
          input.sheet-normal.sheet-hidden.sheet-3(
            value!="3" 
            name="attr_health_fail" 
            type="radio"
            )
          span.sheet-hidden.sheet-3
          input.sheet-normal.sheet-hidden.sheet-4(
            value!="4" 
            name="attr_health_fail" 
            type="radio"
            )
          span.sheet-hidden.sheet-4
      .sheet-town-abilities
        input.sheet-flag(
          name="attr_circles" 
          value!="0" 
          class="sheet-beginner_luck_flag" 
          type="hidden"
          )
        button.sheet-hidden.sheet-normal(
          value!="&{template:simple} {{roll_name=Circles}} {{number_of_dice=[[@{circles}[Circles]@{town_conditions_modifier}]]}} {{result=[[[[@{circles}[Circles]@{town_conditions_modifier}]]d6>4]]}} @{roll_template_conditions} {{character=@{character_name}}}" 
          name="roll_circles" 
          class="sheet-simple_roll" 
          type="roll"
          )
          span.sheet-bold Circles
        button.sheet-hidden(
          value!="&{template:simple} {{roll_name=Circles}} {{bl=w}} {{number_of_dice=[[[[round(@{circles}/2)]][Circles]@{town_conditions_modifier}]]}} {{result=[[[[[[round(@{circles}/2)]][Circles]@{town_conditions_modifier}]]d6>4]]}} @{roll_template_conditions} {{character=@{character_name}}}" 
          name="roll_circles_beginner_luck" 
          class="sheet-simple_roll sheet-beginner_luck" 
          type="roll"
          )
          span.sheet-bold Circles
        input.sheet-hidden(
          value!="1" 
          name="attr_circles_trigger" 
          class="sheet-complex_roll" 
          type="checkbox"
          )
        span.sheet-bold.sheet-hidden(class="sheet-complex_roll") Circles
        input.sheet-flag.sheet-show-advancement(
          value!="0" 
          name="attr_circles_show_advancement" 
          type="hidden"
          )
        input.sheet-hidden.sheet-advancement-checkbox(
          value!="1" 
          name="attr_circles_advancement" 
          type="checkbox"
          )
        span.sheet-hidden.sheet-advancement-checkbox
      .sheet-rating
        input.sheet-underlined-input.sheet-edit(
          value!="1" 
          max="10" 
          min="1" 
          name="attr_circles" 
          type="number"
          )
        span.sheet-underlined-span.sheet-play.sheet-handwritten.sheet-font-big(name="attr_circles")
      .sheet-advancement
        input.sheet-flag.sheet-max10.sheet-advancement-flag(
          name="attr_circles" 
          type="hidden"
          )
        .sheet-advancement-pass
          span.sheet-bold.sheet-font-smallest P:
          input.sheet-normal.sheet-zero.sheet-1(
            checked="checked" 
            value!="0" 
            name="attr_circles_pass" 
            type="radio"
            )
          span.sheet-0
          input.sheet-normal.sheet-hidden.sheet-1(
            value!="1" 
            name="attr_circles_pass" 
            type="radio"
            )
          span.sheet-hidden.sheet-1
          input.sheet-normal.sheet-hidden.sheet-2(
            value!="2" 
            name="attr_circles_pass" 
            type="radio"
            )
          span.sheet-hidden.sheet-2
          input.sheet-normal.sheet-hidden.sheet-3(
            value!="3" 
            name="attr_circles_pass" 
            type="radio"
            )
          span.sheet-hidden.sheet-3
          input.sheet-normal.sheet-hidden.sheet-4(
            value!="4" 
            name="attr_circles_pass" 
            type="radio"
            )
          span.sheet-hidden.sheet-4
          input.sheet-normal.sheet-hidden.sheet-5(
            value!="5" 
            name="attr_circles_pass" 
            type="radio"
            )
          span.sheet-hidden.sheet-5
          input.sheet-normal.sheet-hidden.sheet-6(
            value!="6" 
            name="attr_circles_pass" 
            type="radio"
            )
          span.sheet-hidden.sheet-6
          input.sheet-normal.sheet-hidden.sheet-7(
            value!="7" 
            name="attr_circles_pass" 
            type="radio"
            )
          span.sheet-hidden.sheet-7
          input.sheet-normal.sheet-hidden.sheet-8(
            value!="8" 
            name="attr_circles_pass" 
            type="radio"
            )
          span.sheet-hidden.sheet-8
          input.sheet-normal.sheet-hidden.sheet-9(
            value!="9" 
            name="attr_circles_pass" 
            type="radio"
            )
          span.sheet-hidden.sheet-9
        .sheet-advancement-fail
          span.sheet-bold.sheet-font-smallest F:
          input.sheet-normal.sheet-zero.sheet-1(
            checked="checked" 
            value!="0" 
            name="attr_circles_fail" 
            type="radio"
            )
          span.sheet-0
          input.sheet-normal.sheet-hidden.sheet-1(
            value!="1" 
            name="attr_circles_fail" 
            type="radio"
            )
          span.sheet-hidden.sheet-1
          input.sheet-normal.sheet-hidden.sheet-2(
            value!="2" 
            name="attr_circles_fail" 
            type="radio"
            )
          span.sheet-hidden.sheet-2
          input.sheet-normal.sheet-hidden.sheet-3(
            value!="3" 
            name="attr_circles_fail" 
            type="radio"
            )
          span.sheet-hidden.sheet-3
          input.sheet-normal.sheet-hidden.sheet-4(
            value!="4" 
            name="attr_circles_fail" 
            type="radio"
            )
          span.sheet-hidden.sheet-4
          input.sheet-normal.sheet-hidden.sheet-5(
            value!="5" 
            name="attr_circles_fail" 
            type="radio"
            )
          span.sheet-hidden.sheet-5
          input.sheet-normal.sheet-hidden.sheet-6(
            value!="6" 
            name="attr_circles_fail" 
            type="radio"
            )
          span.sheet-hidden.sheet-6
          input.sheet-normal.sheet-hidden.sheet-7(
            value!="7" 
            name="attr_circles_fail" 
            type="radio"
            )
          span.sheet-hidden.sheet-7
          input.sheet-normal.sheet-hidden.sheet-8(
            value!="8" 
            name="attr_circles_fail" 
            type="radio"
            )
          span.sheet-hidden.sheet-8
    .sheet-row
      .sheet-raw-abilities.sheet-nature
        input.sheet-flag(
          name="attr_nature" 
          value!="0" 
          class="sheet-beginner_luck_flag" 
          type="hidden"
          )
        button.sheet-hidden.sheet-normal(
          value!="&{template:simple} {{roll_name=Nature}} {{number_of_dice=[[@{nature}[Nature]@{conditions_modifier}]]}} {{result=[[[[@{nature}[Nature]@{conditions_modifier}]]d6>4]]}} @{roll_template_conditions} {{character=@{character_name}}}" 
          name="roll_nature" 
          class="sheet-simple_roll" 
          type="roll"
          )
          span.sheet-bold Nature
        button.sheet-hidden(
          value!="&{template:simple} {{roll_name=Nature}} {{bl=w}} {{number_of_dice=[[[[round(@{nature}/2)]][Nature]@{conditions_modifier}]]}} {{result=[[[[[[round(@{nature}/2)]][Nature]@{conditions_modifier}]]d6>4]]}} @{roll_template_conditions} {{character=@{character_name}}}" 
          name="roll_nature_beginner_luck" 
          class="sheet-simple_roll sheet-beginner_luck" 
          type="roll"
          )
          span.sheet-bold Nature
        input.sheet-hidden(
          value!="1" 
          name="attr_nature_trigger" 
          class="sheet-complex_roll" 
          type="checkbox"
          )
        span.sheet-bold.sheet-hidden(class="sheet-complex_roll") Nature
        input.sheet-flag.sheet-show-advancement(
          value!="0" 
          name="attr_nature_show_advancement" 
          type="hidden"
          )
        input.sheet-hidden.sheet-advancement-checkbox(
          value!="1" 
          name="attr_nature_advancement" 
          type="checkbox"
          )
        span.sheet-hidden.sheet-advancement-checkbox
      .sheet-rating.sheet-nature
        input.sheet-underlined-input.sheet-edit(
          value!="1" 
          max="7" 
          min="0" 
          name="attr_taxed_nature" 
          type="number"
          )
        span.sheet-underlined-span.sheet-play.sheet-handwritten.sheet-font-big(name="attr_taxed_nature")
        span.sheet-large-slash /
        input.sheet-underlined-input.sheet-edit(
          value!="1" 
          max="7" 
          min="1" 
          name="attr_nature" 
          type="number"
          )
        span.sheet-underlined-span.sheet-play.sheet-handwritten.sheet-font-big(name="attr_nature")
      .sheet-advancement
        input.sheet-flag.sheet-max10.sheet-advancement-flag(
          name="attr_nature" 
          type="hidden"
          )
        .sheet-advancement-pass
          span.sheet-bold.sheet-font-smallest P:
          input.sheet-normal.sheet-zero.sheet-1(
            checked="checked" 
            value!="0" 
            name="attr_nature_pass" 
            type="radio"
            )
          span.sheet-0
          input.sheet-normal.sheet-hidden.sheet-1(
            value!="1" 
            name="attr_nature_pass" 
            type="radio"
            )
          span.sheet-hidden.sheet-1
          input.sheet-normal.sheet-hidden.sheet-2(
            value!="2" 
            name="attr_nature_pass" 
            type="radio"
            )
          span.sheet-hidden.sheet-2
          input.sheet-normal.sheet-hidden.sheet-3(
            value!="3" 
            name="attr_nature_pass" 
            type="radio"
            )
          span.sheet-hidden.sheet-3
          input.sheet-normal.sheet-hidden.sheet-4(
            value!="4" 
            name="attr_nature_pass" 
            type="radio"
            )
          span.sheet-hidden.sheet-4
          input.sheet-normal.sheet-hidden.sheet-5(
            value!="5" 
            name="attr_nature_pass" 
            type="radio"
            )
          span.sheet-hidden.sheet-5
          input.sheet-normal.sheet-hidden.sheet-6(
            value!="6" 
            name="attr_nature_pass" 
            type="radio"
            )
          span.sheet-hidden.sheet-6
        .sheet-advancement-fail
          span.sheet-bold.sheet-font-smallest F:
          input.sheet-normal.sheet-zero.sheet-1(
            checked="checked" 
            value!="0" 
            name="attr_nature_fail" 
            type="radio"
            )
          span.sheet-0
          input.sheet-normal.sheet-hidden.sheet-1(
            value!="1" 
            name="attr_nature_fail" 
            type="radio"
            )
          span.sheet-hidden.sheet-1
          input.sheet-normal.sheet-hidden.sheet-2(
            value!="2" 
            name="attr_nature_fail" 
            type="radio"
            )
          span.sheet-hidden.sheet-2
          input.sheet-normal.sheet-hidden.sheet-3(
            value!="3" 
            name="attr_nature_fail" 
            type="radio"
            )
          span.sheet-hidden.sheet-3
          input.sheet-normal.sheet-hidden.sheet-4(
            value!="4" 
            name="attr_nature_fail" 
            type="radio"
            )
          span.sheet-hidden.sheet-4
          input.sheet-normal.sheet-hidden.sheet-5(
            value!="5" 
            name="attr_nature_fail" 
            type="radio"
            )
          span.sheet-hidden.sheet-5
      .sheet-town-abilities
        span.sheet-bold.sheet-precedence Precedence
      .sheet-rating
        input.sheet-underlined-input.sheet-edit(
          value!="0" 
          max="7" 
          min="0" 
          name="attr_precedence" 
          type="number"
          )
        span.sheet-underlined-span.sheet-play.sheet-handwritten.sheet-font-big(name="attr_precedence")
      .sheet-advancement.sheet-might-container
        .sheet-might
          span.sheet-bold Might
        .sheet-rating
          input.sheet-underlined-input.sheet-edit(
            value!="0" 
            max="7" 
            min="0" 
            name="attr_might" 
            type="number"
            )
          span.sheet-underlined-span.sheet-play.sheet-handwritten.sheet-font-big(name="attr_might")
    .sheet-row
      span.sheet-faint.sheet-italic.sheet-font-small Nature Descriptors:
      .sheet-nature-descriptor
        input.sheet-textinput.sheet-edit(
          name="attr_nature_descriptor_1" 
          type="text"
          )
        span.sheet-play.sheet-handwritten.sheet-font-big(name="attr_nature_descriptor_1")
      .sheet-nature-descriptor
        input.sheet-textinput.sheet-edit(
          name="attr_nature_descriptor_2" 
          type="text"
          )
        span.sheet-play.sheet-handwritten.sheet-font-big(name="attr_nature_descriptor_2")
      .sheet-nature-descriptor
        input.sheet-textinput.sheet-edit(
          name="attr_nature_descriptor_3" 
          type="text"
          )
        span.sheet-play.sheet-handwritten.sheet-font-big(name="attr_nature_descriptor_3")