mixin zeroPip(attr)
  label.sheet-pip.sheet-pip-zero&attributes(attributes) X
    input(
      checked="checked" 
      value="0" 
      name="attr_" + attr 
      type="radio"
    )

mixin pip(attr, index)
  label.sheet-pip&attributes(attributes)
    input(
      value=index
      name="attr_" + attr 
      type="radio"
    )
    
