mixin zeroPip(attr)
  label.sheet-pip.sheet-pip-zero&attributes(attributes) X
    input(
      checked="checked" 
      value="0" 
      name="attr_" + attr 
      type="radio"
    )

mixin pip(attr, index)
  label.sheet-pip(class="sheet-" + index)&attributes(attributes)
    input(
      value=index
      name="attr_" + attr 
      type="radio"
    )

mixin ability(label, attr, max)
  .sheet-skill-name #{label}
  .sheet-rating
    input.sheet-edit(
      value!="1"
      name="attr_" + attr
      type="number"
    )
    span.sheet-play.sheet-handwritten(name="attr_" + attr)
  .sheet-advancement
    input.sheet-advancement-flag(
      name="attr_" + attr 
      type="hidden"
    )
    .sheet-pass
      div <strong>P</strong>:
      +zeroPip(attr + "_pass")
      each _, i in Array(max)
        +pip(attr + "_pass", i).sheet-hidden
    .sheet-fail
      div <strong>F</strong>:
      +zeroPip(attr + "_fail")
      each _, i in Array(max)
        +pip(attr + "_fail", i).sheet-hidden
