mixin zeroPip(attr)
  button.sheet-pip.sheet-pip-zero&attributes(attributes)(
    type="action"
    name="act_" + attr
    value="0"
  ) X

mixin pip(attr, index)
  button.sheet-pip&attributes(attributes)(
    class="sheet-" + index
    type="action"
    name="act_" + attr
    value=index
  )

mixin ability(label, attr, max)
  if label
    .sheet-skill-name
      div #{label}
      button.sheet-play.sheet-rollable(type="action", name="act_" + attr)
  .sheet-rating
    input.sheet-edit(
      value!="0"
      name="attr_" + attr
      type="number"
    )
    span.sheet-play.sheet-handwritten(name="attr_" + attr)
  .sheet-advancement
    input.sheet-advancement-flag(
      name="attr_" + attr 
      type="hidden"
    )
    .sheet-pass.sheet-pip-container
      input.sheet-pip-value-flag(
        name="attr_" + attr + "_pass"
        type="hidden"
      )
      div <strong>P</strong>:
      +zeroPip(attr + "_pass")
      each _, i in Array(max)
        +pip(attr + "_pass", i).sheet-hidden
    .sheet-fail.sheet-pip-container
      input.sheet-pip-value-flag(
        name="attr_" + attr + "_fail"
        type="hidden"
      )
      div <strong>F</strong>:
      +zeroPip(attr + "_fail")
      each _, i in Array(max)
        +pip(attr + "_fail", i).sheet-hidden

mixin skill(label, attr, bl)
  if label
    .sheet-skill-name
      div #{label}
      button.sheet-play.sheet-rollable(type="action", name="act_" + attr)
  .sheet-rating
    input.sheet-edit(
      value!="0"
      name="attr_" + attr
      type="number"
    )
    span.sheet-play.sheet-handwritten(name="attr_" + attr)
  .sheet-advancement
    input.sheet-advancement-flag(
      name="attr_" + attr 
      type="hidden"
    )
    input.sheet-nature-flag(
      name="attr_nature" 
      type="hidden"
    )
    .sheet-pass.sheet-pip-container
      input.sheet-pip-value-flag(
        name="attr_" + attr + "_pass"
        type="hidden"
      )
      div <strong>P</strong>:
      +zeroPip(attr + "_pass")
      each _, i in Array(7)
        +pip(attr + "_pass", i).sheet-hidden
    .sheet-fail.sheet-pip-container
      input.sheet-pip-value-flag(
        name="attr_" + attr + "_fail"
        type="hidden"
      )
      div <strong>F</strong>:
      +zeroPip(attr + "_fail")
      each _, i in Array(7)
        +pip(attr + "_fail", i).sheet-hidden
    .sheet-bl.sheet-pip-container
      input.sheet-pip-value-flag(
        name="attr_" + attr + "_bl"
        type="hidden"
        value!="0"
      )
      div <strong>BL</strong>:
      +zeroPip(attr + "_bl")
      each _, i in Array(7)
        +pip(attr + "_bl", i).sheet-hidden
  .sheet-bl-root #{bl}

mixin customSkill(skillNum, disabled)
  if !disabled
    .sheet-skill-name
      input.sheet-edit(
        name="attr_skill" + skillNum + "_name"
        placeholder="Skill..."
        type="text"
      )
      button.sheet-play.sheet-rollable(type="action", name="act_skill" + skillNum)
      span.sheet-play(name="attr_skill" + skillNum + "_name")
  .sheet-rating
    input.sheet-edit(
      value!="0"
      name="attr_skill" + skillNum
      type="number"
    )
    span.sheet-play.sheet-handwritten(name="attr_skill" + skillNum)
  .sheet-advancement
    input.sheet-advancement-flag(
      name="attr_skill" + skillNum
      type="hidden"
    )
    input.sheet-nature-flag(
      name="attr_nature" 
      type="hidden"
    )
    .sheet-pass.sheet-pip-container
      input.sheet-pip-value-flag(
        name="attr_skill" + skillNum + "_pass"
        type="hidden"
        value!="0"
      )
      div <strong>P</strong>:
      +zeroPip("skill" + skillNum + "_pass")
      each _, i in Array(7)
        +pip("skill" + skillNum + "_pass", i).sheet-hidden
    .sheet-fail.sheet-pip-container
      input.sheet-pip-value-flag(
        name="attr_skill" + skillNum + "_fail"
        type="hidden"
        value!="0"
      )
      div <strong>F</strong>:
      +zeroPip("skill" + skillNum + "_fail")
      each _, i in Array(7)
        +pip("skill" + skillNum + "_fail", i).sheet-hidden
    .sheet-bl.sheet-pip-container
      input.sheet-pip-value-flag(
        name="attr_skill" + skillNum + "_bl"
        type="hidden"
        value!="0"
      )
      div <strong>BL</strong>:
      +zeroPip("skill" + skillNum + "_bl")
      each _, i in Array(7)
        +pip("skill" + skillNum + "_bl", i).sheet-hidden
  .sheet-bl-root
    span.sheet-play(name="attr_skill" + skillNum + "_bl_d")
    select(name="attr_skill" + skillNum + "_bl_d").sheet-edit
      option(
        selected="selected" 
        value!="W"
      ) W
      option(value!="H") H
