#conditions.sheet-section.sheet-conditions
  .sheet-header
    // <img height="26" width="26" src="https://cdn.shopify.com/s/files/1/1205/7108/products/tribal-fleur-de-lis-step-marker-black_1024x1024.jpeg">
    span Conditions
    // <img height="26" width="26" src="https://cdn.shopify.com/s/files/1/1205/7108/products/tribal-fleur-de-lis-step-marker-black_1024x1024.jpeg">
  .sheet-body
    input.sheet-flag(
      value!="complex" 
      name="attr_roll_type" 
      class="sheet-roll_type" 
      type="hidden"
      )
    .sheet-row
      .sheet-leftside
        span.sheet-font-smallest.sheet-italic Condition
      .sheet-rightside
        span.sheet-font-smallest.sheet-italic Recovery
    .sheet-row
      .sheet-row.sheet-condition
        input.sheet-underlined(
          checked="" 
          value!="1" 
          name="attr_fresh" 
          type="checkbox"
          )
        span
        span.sheet-bold.sheet-font-small Fresh
      .sheet-row
        span.sheet-font-smallest.sheet-italic.sheet-compact +1D all tests until other condition.
    .sheet-row
      .sheet-row.sheet-condition
        input.sheet-underlined(
          value!="1" 
          name="attr_hungry_and_thirsty" 
          type="checkbox"
          )
        span
        span.sheet-bold.sheet-font-small Hungry and Thirsty
      .sheet-row
        span.sheet-font-smallest.sheet-italic.sheet-compact -1S to disposition to any conflict.
    .sheet-row
      .sheet-row.sheet-condition
        input.sheet-underlined(
          value!="1" 
          name="attr_angry" 
          type="checkbox"
          )
        span
        span.sheet-bold.sheet-font-small Angry
        .sheet-right
          input.sheet-flag(
            value!="1" 
            name="attr_health" 
            class="sheet-beginner_luck_flag" 
            type="hidden"
            )
          button.sheet-hidden.sheet-normal(
            value!="&{template:simple} {{roll_name=Recovery from Angry}} {{number_of_dice=[[@{will}[Will]@{town_conditions_modifier}]]}} {{result=[[[[@{will}[Will]@{town_conditions_modifier}]]d6>4]]}} @{roll_template_conditions} {{character=@{character_name}}}" 
            name="roll_recovery_angry" 
            class="sheet-simple_roll" 
            type="roll"
            )
            span.sheet-font-smallest.sheet-italic Will Ob 2
          input.sheet-hidden(
            value!="1" 
            name="attr_recovery_angry_trigger" 
            class="sheet-complex_roll" 
            type="checkbox"
            )
          span.sheet-hidden.sheet-font-smallest.sheet-italic(class="sheet-complex_roll")
            | Will Ob
            |   2
      .sheet-row
        span.sheet-font-smallest.sheet-italic.sheet-compact No wises or beneficial traits.
    .sheet-row
      .sheet-row.sheet-condition
        input.sheet-underlined(
          value!="1" 
          name="attr_afraid" 
          type="checkbox"
          )
        span
        span.sheet-bold.sheet-font-small Afraid
        .sheet-right
          input.sheet-flag(
            value!="1" 
            name="attr_health" 
            class="sheet-beginner_luck_flag" 
            type="hidden"
            )
          button.sheet-hidden.sheet-normal(
            value!="&{template:simple} {{roll_name=Recovery from Afraid}} {{number_of_dice=[[@{will}[Will]@{town_conditions_modifier}]]}} {{result=[[[[@{will}[Will]@{town_conditions_modifier}]]d6>4]]}} @{roll_template_conditions} {{character=@{character_name}}}" 
            name="roll_recovery_afraid" 
            class="sheet-simple_roll" 
            type="roll"
            )
            span.sheet-font-smallest.sheet-italic Will Ob 3
          input.sheet-hidden(
            value!="1" 
            name="attr_recovery_afraid_trigger" 
            class="sheet-complex_roll" 
            type="checkbox"
            )
          span.sheet-hidden.sheet-font-smallest.sheet-italic(class="sheet-complex_roll")
            | Will Ob
            |   3
      .sheet-row
        span.sheet-font-smallest.sheet-italic.sheet-compact No help or use Beginner's Luck
    .sheet-row
      .sheet-row.sheet-condition
        input.sheet-underlined(
          value!="1" 
          name="attr_exhausted" 
          type="checkbox"
          )
        span
        span.sheet-bold.sheet-font-small Exhausted
        .sheet-right
          input.sheet-flag(
            value!="1" 
            name="attr_health" 
            class="sheet-beginner_luck_flag" 
            type="hidden"
            )
          button.sheet-hidden.sheet-normal(
            value!="&{template:simple} {{roll_name=Recovery from Exhausted}} {{number_of_dice=[[@{health}[Health]@{town_conditions_modifier}]]}} {{result=[[[[@{health}[Health]@{town_conditions_modifier}]]d6>4]]}} @{roll_template_conditions} {{character=@{character_name}}}" 
            name="roll_recovery_exhausted" 
            class="sheet-simple_roll" 
            type="roll"
            )
            span.sheet-font-smallest.sheet-italic Health Ob 3
          input.sheet-hidden(
            value!="1" 
            name="attr_recovery_exhausted_trigger" 
            class="sheet-complex_roll" 
            type="checkbox"
            )
          span.sheet-hidden.sheet-font-smallest.sheet-italic(class="sheet-complex_roll")
            | Health Ob
            |   3
      .sheet-row
        span.sheet-font-smallest.sheet-italic.sheet-compact
          | -1S to disposition to any conflict; may not
          |   use instinct for
          |   free.
    .sheet-row
      .sheet-row.sheet-condition
        input.sheet-underlined(
          value!="1" 
          name="attr_injured" 
          type="checkbox"
          )
        span
        span.sheet-bold.sheet-font-small Injured
        .sheet-right
          input.sheet-flag(
            value!="1" 
            name="attr_health" 
            class="sheet-beginner_luck_flag" 
            type="hidden"
            )
          button.sheet-hidden.sheet-normal(
            value!="&{template:simple} {{roll_name=Recovery from Injured}} {{number_of_dice=[[@{health}[Health]@{town_conditions_modifier}]]}} {{result=[[[[@{health}[Health]@{town_conditions_modifier}]]d6>4]]}} @{roll_template_conditions} {{character=@{character_name}}}" 
            name="roll_recovery_injured" 
            class="sheet-simple_roll" 
            type="roll"
            )
            span.sheet-font-smallest.sheet-italic Health Ob 4
          input.sheet-hidden(
            value!="1" 
            name="attr_recovery_injured_trigger" 
            class="sheet-complex_roll" 
            type="checkbox"
            )
          span.sheet-hidden.sheet-font-smallest.sheet-italic(class="sheet-complex_roll")
            | Health Ob
            |   4
      .sheet-row
        span.sheet-font-smallest.sheet-italic.sheet-compact
          | -1D to skills, Nature, Will, and Health (but
          |   not
          |   recovery)
    .sheet-row
      .sheet-row.sheet-condition
        input.sheet-underlined(
          value!="1" 
          name="attr_sick" 
          type="checkbox"
          )
        span
        span.sheet-bold.sheet-font-small Sick
        .sheet-right
          input.sheet-flag(
            value!="1" 
            name="attr_health" 
            class="sheet-beginner_luck_flag" 
            type="hidden"
            )
          button.sheet-hidden.sheet-normal(
            value!="&{template:simple} {{roll_name=Recovery from Sick}} {{number_of_dice=[[@{will}[Will]@{town_conditions_modifier}]]}} {{result=[[[[@{will}[Will]@{town_conditions_modifier}]]d6>4]]}} @{roll_template_conditions} {{character=@{character_name}}}" 
            name="roll_recovery_sick" 
            class="sheet-simple_roll" 
            type="roll"
            )
            span.sheet-font-smallest.sheet-italic Will Ob 3
          input.sheet-hidden(
            value!="1" 
            name="attr_recovery_sick_trigger" 
            class="sheet-complex_roll" 
            type="checkbox"
            )
          span.sheet-hidden.sheet-font-smallest.sheet-italic(class="sheet-complex_roll")
            | Will Ob
            |   3
      .sheet-row
        span.sheet-font-smallest.sheet-italic.sheet-compact
          | -1D to skills, Nature, Will, and Health (but
          |   not recovery); can
          |   not practice, learn, or advance.
    .sheet-row
      .sheet-row.sheet-condition
        input.sheet-underlined(
          value!="1" 
          name="attr_dead" 
          type="checkbox"
          )
        span
        span.sheet-bold.sheet-font-small Dead
      .sheet-row
        span.sheet-font-smallest.sheet-italic.sheet-compact May not test, help, or use wises.
.sheet-section.sheet-check-info(id="check_info")
  .sheet-row
    span.sheet-bold.sheet-italic.sheet-font-small Earning Checks
  .sheet-row
    span.sheet-font-smallest.sheet-compact
      b 1:
      |  -1D to your ind. or versus test
  .sheet-row
    span.sheet-font-smallest.sheet-compact
      b 2:
      |  +2D to opponent's versus test
  .sheet-row
    span.sheet-font-smallest.sheet-compact
      b 2:
      |  Break versus test tie in opponent's favor
  .sheet-row
    span.sheet-bold.sheet-italic.sheet-font-small Spending Checks
  .sheet-row
    span.sheet-font-smallest.sheet-compact
      b 1:
      |  One test or conflict during camp phase
  .sheet-row
    span.sheet-font-smallest.sheet-compact
      b 1:
      |  Recover when entering town
.sheet-footer
  span.sheet-font-smallest www.TorchbearerRPG.com