mixin condition(attr, name, desc, recovery)
  .sheet-condition-row
    .sheet-condition-row-top
      input(
        name="attr_" + attr
        type="checkbox"
      )
      .sheet-condition-name #{name}
      .sheet-condition-recovery #{recovery}
    .sheet-condition-row-bottom
      .sheet-condition-effect #{desc}

.sheet-conditions
  .sheet-section-header Conditions
  .sheet-body
    .sheet-conditions-labels
      .sheet-condition-label Condition
      .sheet-recovery-label Recovery
    +condition("fresh", "Fresh", "+1D all tests until other condition.")
    +condition("hungry_and_thirsty", "Hungry and Thirsty", "-1S to disposition to any conflict.")
    +condition("angry", "Angry", "No wises or beneficial traits.", "Will Ob 2")
    +condition("afraid", "Afraid", "No help or use Beginner's Luck.", "Will Ob 3")
    +condition("exhausted", "Exhausted", "-1S to disposition to any conflict; may not use instinct for free.", "Health Ob 3")
    +condition("injured", "Injured", "-1D to skills, Nature, Will, and Health (but not recovery).", "Health Ob 4")
    +condition("sick", "Sick", "-1D to skills, Nature, Will, and Health (but not recovery); cannot practice, learn, or advance.", "Will Ob 3")
    +condition("dead", "Dead", "May not test, help, or use wises.")
