#fate.sheet-section.sheet-fate
  .sheet-logo
  .sheet-header
    // <img height="26" width="26" src="https://cdn.shopify.com/s/files/1/1205/7108/products/tribal-fleur-de-lis-step-marker-black_1024x1024.jpeg">
    span Fate
    // <img height="26" width="26" src="https://cdn.shopify.com/s/files/1/1205/7108/products/tribal-fleur-de-lis-step-marker-black_1024x1024.jpeg">
  div
    .sheet-row.sheet-center.sheet-name-header
      span.sheet-font-bigger.sheet-bold Fate
    .sheet-row.sheet-center
      span.sheet-font-smallest.sheet-italic Current Total / Total Spent
      div
        .sheet-box
          input.sheet-persona-input(
            min="0" 
            name="attr_fate_current" 
            type="number"
            )
        .sheet-box
          input.sheet-persona-input(
            min="0" 
            name="attr_fate_spent" 
            type="number"
            )
    .sheet-row.sheet-center
      span.sheet-font-smallest.sheet-italic.sheet-compact
        | Spend one point to reroll all 6s as new dice,
        |   use a wise or learn
        |   from help.
    .sheet-row.sheet-center.sheet-name-header
      span.sheet-font-bigger.sheet-bold Persona
    .sheet-row.sheet-center
      span.sheet-font-smallest.sheet-italic Current Total / Total Spent
      div
        .sheet-box
          input.sheet-persona-input(
            min="0" 
            name="attr_persona_current" 
            type="number"
            )
        .sheet-box
          input.sheet-persona-input(
            min="0" 
            name="attr_persona_spent" 
            type="number"
            )
    .sheet-row.sheet-center
      span.sheet-font-smallest.sheet-italic.sheet-compact
        | Spend one point to add 1D, tap nature, or use a
        |   wise. You may
        |   spend up to three points to add up to 3D per roll.