mixin persona()
  .sheet-fate-titles
    div  Current Total
    div  Total Spent
  .sheet-fate-totals
    .sheet-box
      input.sheet-fate-input(
        min="0" 
        name="attr_persona_current" 
        type="number"
        value="0"
      )
    .sheet-box
      input.sheet-fate-input(
        min="0" 
        name="attr_persona_spent" 
        type="number"
        value="0"
      )