mixin persona()
  .sheet-fate-titles
    div  Current Persona — Total Spent
  .sheet-fate-totals
    .sheet-box
      input.sheet-fate-input(
        min="0" 
        name="attr_persona_current" 
        type="number"
        value="0"
      )
    .sheet-box
      input.sheet-fate-input(
        min="0" 
        name="attr_persona_spent" 
        type="number"
        value="0"
      )

mixin fate()
  .sheet-fate-titles
    div  Current Fate — Total Spent
  .sheet-fate-totals
    .sheet-box
      input.sheet-fate-input(
        min="0" 
        name="attr_fate_current" 
        type="number"
        value="0"
      )
    .sheet-box
      input.sheet-fate-input(
        min="0" 
        name="attr_fate_spent" 
        type="number"
        value="0"
      )