#traits.sheet-section.sheet-traits
  .sheet-header
    // <img height="26" width="26" src="https://cdn.shopify.com/s/files/1/1205/7108/products/tribal-fleur-de-lis-step-marker-black_1024x1024.jpeg">
    span Traits
  .sheet-trait-container
    div
      .sheet-trait-name
        span.sheet-font-smallest.sheet-bold Trait name
      .sheet-trait-level
        span.sheet-font-smallest.sheet-bold Trait level
      .sheet-trait-uses
        span.sheet-font-smallest.sheet-bold Beneficial uses
      .sheet-trait-checks
        span.sheet-font-smallest.sheet-bold Checks
    input.sheet-flag.sheet-condition-flag(
      name="attr_angry" 
      type="hidden"
      )
    span.sheet-row.sheet-hidden.sheet-condition-display.sheet-warning Angry: No beneficial traits.
    .sheet-trait
      input.sheet-flag.sheet-traits-flag(
        value!="0" 
        name="attr_trait1_level" 
        type="hidden"
        )
      .sheet-trait-name
        input.sheet-textinput.sheet-edit(
          name="attr_trait1_name" 
          type="text"
          )
        span.sheet-play.sheet-handwritten.sheet-font-big(name="attr_trait1_name")
      .sheet-trait-level
        select.sheet-select.sheet-edit(name="attr_trait1_level")
          option(value!="0")
          option(value!="1") 1. +1D per session
          option(value!="2") 2. +1D twice per session
          option(value!="3") 3. +1s on suc/tie roll
        span.sheet-play.sheet-font-smallest.sheet-hidden.sheet-1
          b 1
          |  +1D per session
        span.sheet-play.sheet-font-smallest.sheet-hidden.sheet-2
          b 2
          |  +1D twice per session
        span.sheet-play.sheet-font-smallest.sheet-hidden.sheet-3
          b 3
          |  +1s on suc/tie roll
      .sheet-trait-uses
        input.sheet-hidden.sheet-normal.sheet-zero.sheet-1.sheet-2(
          checked="checked" 
          value!="0" 
          name="attr_trait1_uses" 
          type="radio"
          )
        span.sheet-hidden.sheet-1.sheet-2
        input.sheet-hidden.sheet-normal.sheet-1.sheet-2(
          value!="1" 
          name="attr_trait1_uses" 
          type="radio"
          )
        span.sheet-hidden.sheet-1.sheet-2
        input.sheet-hidden.sheet-normal.sheet-2(
          value!="2" 
          name="attr_trait1_uses" 
          type="radio"
          )
        span.sheet-hidden.sheet-2
        span.sheet-font-smallest.sheet-italic.sheet-hidden.sheet-3 All appropriate tests
      .sheet-trait-checks
        input.sheet-normal.sheet-zero.sheet-hidden.sheet-1.sheet-2.sheet-3(
          checked="checked" 
          value!="0" 
          name="attr_trait1_checks" 
          type="radio"
          )
        span.sheet-hidden.sheet-1.sheet-2.sheet-3
        input.sheet-normal.sheet-hidden.sheet-1.sheet-2.sheet-3(
          value!="1" 
          name="attr_trait1_checks" 
          type="radio"
          )
        span.sheet-hidden.sheet-1.sheet-2.sheet-3
        input.sheet-normal.sheet-hidden.sheet-1.sheet-2.sheet-3(
          value!="2" 
          name="attr_trait1_checks" 
          type="radio"
          )
        span.sheet-hidden.sheet-1.sheet-2.sheet-3
    .sheet-trait
      input.sheet-flag.sheet-traits-flag(
        value!="0" 
        name="attr_trait2_level" 
        type="hidden"
        )
      .sheet-trait-name
        input.sheet-textinput.sheet-edit(
          name="attr_trait2_name" 
          type="text"
          )
        span.sheet-play.sheet-handwritten.sheet-font-big(name="attr_trait2_name")
      .sheet-trait-level
        select.sheet-select.sheet-edit(name="attr_trait2_level")
          option(value!="0")
          option(value!="1") 1. +1D per session
          option(value!="2") 2. +1D twice per session
          option(value!="3") 3. +1s on suc/tie roll
        span.sheet-play.sheet-font-smallest.sheet-hidden.sheet-1
          b 1
          |  +1D per session
        span.sheet-play.sheet-font-smallest.sheet-hidden.sheet-2
          b 2
          |  +1D twice per session
        span.sheet-play.sheet-font-smallest.sheet-hidden.sheet-3
          b 3
          |  +1s on suc/tie roll
      .sheet-trait-uses
        input.sheet-hidden.sheet-normal.sheet-zero.sheet-1.sheet-2(
          checked="checked" 
          value!="0" 
          name="attr_trait2_uses" 
          type="radio"
          )
        span.sheet-hidden.sheet-1.sheet-2
        input.sheet-hidden.sheet-normal.sheet-1.sheet-2(
          value!="1" 
          name="attr_trait2_uses" 
          type="radio"
          )
        span.sheet-hidden.sheet-1.sheet-2
        input.sheet-hidden.sheet-normal.sheet-2(
          value!="2" 
          name="attr_trait2_uses" 
          type="radio"
          )
        span.sheet-hidden.sheet-2
        span.sheet-font-smallest.sheet-italic.sheet-hidden.sheet-3 All appropriate tests
      .sheet-trait-checks
        input.sheet-normal.sheet-zero.sheet-hidden.sheet-1.sheet-2.sheet-3(
          checked="checked" 
          value!="0" 
          name="attr_trait2_checks" 
          type="radio"
          )
        span.sheet-hidden.sheet-1.sheet-2.sheet-3
        input.sheet-normal.sheet-hidden.sheet-1.sheet-2.sheet-3(
          value!="1" 
          name="attr_trait2_checks" 
          type="radio"
          )
        span.sheet-hidden.sheet-1.sheet-2.sheet-3
        input.sheet-normal.sheet-hidden.sheet-1.sheet-2.sheet-3(
          value!="2" 
          name="attr_trait2_checks" 
          type="radio"
          )
        span.sheet-hidden.sheet-1.sheet-2.sheet-3
    .sheet-trait
      input.sheet-flag.sheet-traits-flag(
        value!="0" 
        name="attr_trait3_level" 
        type="hidden"
        )
      .sheet-trait-name
        input.sheet-textinput.sheet-edit(
          name="attr_trait3_name" 
          type="text"
          )
        span.sheet-play.sheet-handwritten.sheet-font-big(name="attr_trait3_name")
      .sheet-trait-level
        select.sheet-select.sheet-edit(name="attr_trait3_level")
          option(value!="0")
          option(value!="1") 1. +1D per session
          option(value!="2") 2. +1D twice per session
          option(value!="3") 3. +1s on suc/tie roll
        span.sheet-play.sheet-font-smallest.sheet-hidden.sheet-1
          b 1
          |  +1D per session
        span.sheet-play.sheet-font-smallest.sheet-hidden.sheet-2
          b 2
          |  +1D twice per session
        span.sheet-play.sheet-font-smallest.sheet-hidden.sheet-3
          b 3
          |  +1s on suc/tie roll
      .sheet-trait-uses
        input.sheet-hidden.sheet-normal.sheet-zero.sheet-1.sheet-2(
          checked="checked" 
          value!="0" 
          name="attr_trait3_uses" 
          type="radio"
          )
        span.sheet-hidden.sheet-1.sheet-2
        input.sheet-hidden.sheet-normal.sheet-1.sheet-2(
          value!="1" 
          name="attr_trait3_uses" 
          type="radio"
          )
        span.sheet-hidden.sheet-1.sheet-2
        input.sheet-hidden.sheet-normal.sheet-2(
          value!="2" 
          name="attr_trait3_uses" 
          type="radio"
          )
        span.sheet-hidden.sheet-2
        span.sheet-font-smallest.sheet-italic.sheet-hidden.sheet-3 All appropriate tests
      .sheet-trait-checks
        input.sheet-normal.sheet-zero.sheet-hidden.sheet-1.sheet-2.sheet-3(
          checked="checked" 
          value!="0" 
          name="attr_trait3_checks" 
          type="radio"
          )
        span.sheet-hidden.sheet-1.sheet-2.sheet-3
        input.sheet-normal.sheet-hidden.sheet-1.sheet-2.sheet-3(
          value!="1" 
          name="attr_trait3_checks" 
          type="radio"
          )
        span.sheet-hidden.sheet-1.sheet-2.sheet-3
        input.sheet-normal.sheet-hidden.sheet-1.sheet-2.sheet-3(
          value!="2" 
          name="attr_trait3_checks" 
          type="radio"
          )
        span.sheet-hidden.sheet-1.sheet-2.sheet-3
    .sheet-trait
      input.sheet-flag.sheet-traits-flag(
        value!="0" 
        name="attr_trait4_level" 
        type="hidden"
        )
      .sheet-trait-name
        input.sheet-textinput.sheet-edit(
          name="attr_trait4_name" 
          type="text"
          )
        span.sheet-play.sheet-handwritten.sheet-font-big(name="attr_trait4_name")
      .sheet-trait-level
        select.sheet-select.sheet-edit(name="attr_trait4_level")
          option(value!="0")
          option(value!="1") 1. +1D per session
          option(value!="2") 2. +1D twice per session
          option(value!="3") 3. +1s on suc/tie roll
        span.sheet-play.sheet-font-smallest.sheet-hidden.sheet-1
          b 1
          |  +1D per session
        span.sheet-play.sheet-font-smallest.sheet-hidden.sheet-2
          b 2
          |  +1D twice per session
        span.sheet-play.sheet-font-smallest.sheet-hidden.sheet-3
          b 3
          |  +1s on suc/tie roll
      .sheet-trait-uses
        input.sheet-hidden.sheet-normal.sheet-zero.sheet-1.sheet-2(
          checked="checked" 
          value!="0" 
          name="attr_trait4_uses" 
          type="radio"
          )
        span.sheet-hidden.sheet-1.sheet-2
        input.sheet-hidden.sheet-normal.sheet-1.sheet-2(
          value!="1" 
          name="attr_trait4_uses" 
          type="radio"
          )
        span.sheet-hidden.sheet-1.sheet-2
        input.sheet-hidden.sheet-normal.sheet-2(
          value!="2" 
          name="attr_trait4_uses" 
          type="radio"
          )
        span.sheet-hidden.sheet-2
        span.sheet-font-smallest.sheet-italic.sheet-hidden.sheet-3 All appropriate tests
      .sheet-trait-checks
        input.sheet-normal.sheet-zero.sheet-hidden.sheet-1.sheet-2.sheet-3(
          checked="checked" 
          value!="0" 
          name="attr_trait4_checks" 
          type="radio"
          )
        span.sheet-hidden.sheet-1.sheet-2.sheet-3
        input.sheet-normal.sheet-hidden.sheet-1.sheet-2.sheet-3(
          value!="1" 
          name="attr_trait4_checks" 
          type="radio"
          )
        span.sheet-hidden.sheet-1.sheet-2.sheet-3
        input.sheet-normal.sheet-hidden.sheet-1.sheet-2.sheet-3(
          value!="2" 
          name="attr_trait4_checks" 
          type="radio"
          )
        span.sheet-hidden.sheet-1.sheet-2.sheet-3
  .sheet-footer
    span.sheet-font-smallest © 2020 Luke Crane, Thor Olavsrud.