mixin traits 
  .sheet-table-body
    each i in [1, 2, 3, 4]
      .sheet-trait(class='sheet-trait-' + i)
        .sheet-trait-name-body
          input.sheet-edit(
            name="attr_trait" + i + "_name" 
            type="text"
            placeholder="Trait..."
          )
          span.sheet-play.sheet-handwritten(name="attr_trait" + i + "_name")
        .sheet-trait-level-body
          select.sheet-edit(name="attr_trait" + i + "_level")
            option(value!="0") No trait
            option(value!="1") 1. +1D per session
            option(value!="2") 2. +1D twice per session
            option(value!="3") 3. +1s on suc/tie roll
          input.sheet-traits-flag(
            value!="0" 
            name="attr_trait" + i + "_level" 
            type="hidden"
          )
          .sheet-play.sheet-hidden.sheet-trait-level-1 <strong>1</strong> +1D per session
          .sheet-play.sheet-hidden.sheet-trait-level-2 <strong>2</strong> +1D twice per session
          .sheet-play.sheet-hidden.sheet-trait-level-3 <strong>3</strong> +1s on suc/tie roll
        .sheet-trait-uses-and-checks
          .sheet-trait-uses-body.sheet-pip-container
            input.sheet-traits-flag(
              value!="0" 
              name="attr_trait" + i + "_level" 
              type="hidden"
            )
            input.sheet-pip-value-flag(
              value!="0" 
              name="attr_trait" + i + "_uses" 
              type="hidden"
            )
            +zeroPip("trait" + i + "_uses").sheet-hidden.sheet-trait-level-1.sheet-trait-level-2
            +pip("trait" + i + "_uses", "1").sheet-hidden.sheet-trait-level-1.sheet-trait-level-2
            +pip("trait" + i + "_uses", "2").sheet-hidden.sheet-trait-level-2
            .sheet-hidden.sheet-trait-level-3 All appropriate tests
          .sheet-trait-check-body.sheet-pip-container
            input.sheet-traits-flag(
              value!="0" 
              name="attr_trait" + i + "_level" 
              type="hidden"
            )
            input.sheet-pip-value-flag(
              value!="0" 
              name="attr_trait" + i + "_checks" 
              type="hidden"
            )
            +zeroPip("trait" + i + "_checks").sheet-hidden.sheet-trait-level-1.sheet-trait-level-2.sheet-trait-level-3
            +pip("trait" + i + "_checks", "1").sheet-hidden.sheet-trait-level-1.sheet-trait-level-2.sheet-trait-level-3
            +pip("trait" + i + "_checks", "2").sheet-hidden.sheet-trait-level-1.sheet-trait-level-2.sheet-trait-level-3
            +pip("trait" + i + "_checks", "3").sheet-hidden.sheet-trait-level-1.sheet-trait-level-2.sheet-trait-level-3