#what-you-fight-for.sheet-section.sheet-what-you-fight-for
  .sheet-header
    // <img height="26" width="26" src="https://cdn.shopify.com/s/files/1/1205/7108/products/tribal-fleur-de-lis-step-marker-black_1024x1024.jpeg">
    span What You Fight For
  .sheet-body
    .sheet-row
      button(
        value!="&{template:simple} {{roll_name=Belief}} {{description=@{belief}}} {{character=@{character_name}}}" 
        name="roll_belief" 
        type="roll"
        )
        span.sheet-font-bigger.sheet-bold.sheet-row Belief
      span.sheet-font-smallest.sheet-italic.sheet-faint.sheet-row.sheet-compact
        | Uphold your belief in
        |   your actions and earn a fate point
      textarea.sheet-textarea.sheet-row.sheet-edit(
        name="attr_belief" 
        type="text"
        )
      span.sheet-handwritten.sheet-font-big.sheet-row.sheet-play(name="attr_belief")
    .sheet-row
      button(
        value!="&{template:simple} {{roll_name=Creed}} {{description=@{creed}}} {{character=@{character_name}}}" 
        name="roll_creed" 
        type="roll"
        )
        span.sheet-font-bigger.sheet-bold.sheet-row Creed
      span.sheet-font-smallest.sheet-italic.sheet-faint.sheet-row.sheet-compact
        | Endure a moral test
        |   driven by your creed and earn a persona
        |   point
      textarea.sheet-textarea.sheet-row.sheet-edit(
        placeholder="Opens at 3rd Level" 
        name="attr_creed"
        )
      span.sheet-handwritten.sheet-font-big.sheet-row.sheet-play(name="attr_creed")
    .sheet-row
      button(
        value!="&{template:simple} {{roll_name=Goal}} {{description=@{goal}}} {{character=@{character_name}}}" 
        name="roll_goal" 
        type="roll"
        )
        span.sheet-font-bigger.sheet-bold.sheet-row Goal
      span.sheet-font-smallest.sheet-italic.sheet-faint.sheet-row.sheet-compact
        | Accomplish a goal to earn
        |   a persona point
      textarea.sheet-textarea.sheet-row.sheet-edit(name="attr_goal")
      span.sheet-handwritten.sheet-font-big.sheet-row.sheet-play(name="attr_goal")
    .sheet-row
      button(
        value!="&{template:simple} {{roll_name=Instinct}} {{description=@{instinct}}} {{character=@{character_name}}}" 
        name="roll_instinct" 
        type="roll"
        )
        span.sheet-font-bigger.sheet-bold.sheet-row Instinct
      span.sheet-font-smallest.sheet-italic.sheet-faint.sheet-row.sheet-compact
        | Use an instinct to aid
        |   the group and earn a fate point
      input.sheet-flag.sheet-condition-flag(
        name="attr_exhausted" 
        type="hidden"
        )
      span.sheet-row.sheet-hidden.sheet-condition-display.sheet-warning
        | Exhausted: May not use instinct
        |   for free.
      textarea.sheet-textarea.sheet-row.sheet-edit(name="attr_instinct")
      span.sheet-handwritten.sheet-font-big.sheet-row.sheet-play(name="attr_instinct")