.sheet-what-you-fight-for
  .sheet-section-header What You Fight For
  .sheet-section-body
    // Belief
    .sheet-subsection
      .sheet-sub-header Belief
      .sheet-sub-text Uphold your belief in your actions and earn a fate point
      textarea.sheet-edit(
        name="attr_belief" 
        type="text"
        placeholder="Belief..."
      )
      span.sheet-handwritten.sheet-play(name="attr_belief")

    // Creed
    .sheet-subsection
      .sheet-sub-header Creed
      .sheet-sub-text Uphold your belief in your actions and earn a fate point
      textarea.sheet-edit(
        name="attr_creed" 
        type="text"
        placeholder="Opens at 3rd level..."
      )
      span.sheet-handwritten.sheet-play(name="attr_creed")

    // Goal
    .sheet-subsection
      .sheet-sub-header Goal
      .sheet-sub-text Accomplish a goal to earn a persona point
      textarea.sheet-edit(
        name="attr_goal" 
        type="text"
        placeholder="Goal..."
      )
      span.sheet-handwritten.sheet-play(name="attr_goal")

    // Instinct
    .sheet-subsection
      .sheet-sub-header Instinct
      .sheet-sub-text Use an instinct to aid the group and earn a fate point
      textarea.sheet-edit(
        name="attr_instinct" 
        type="text"
        placeholder="Instinct..."
      )
      span.sheet-handwritten.sheet-play(name="attr_instinct")
