mixin whoYouAre(prefix, attribute)
  .sheet-field
    .sheet-prefix #{prefix}:
    input.sheet-edit(
      name="attr_" + attribute
      type="text"
      placeholder= prefix + "..."
    )
    span.sheet-play.sheet-handwritten(name="attr_" + attribute)

.sheet-who-you-are
  .sheet-section-header Who You Are
  .sheet-section-body
    .sheet-section-column
      +whoYouAre("Name", "character_name")
      +whoYouAre("Stock", "stock")
      +whoYouAre("Class", "class")
      +whoYouAre("Age", "age")
      +whoYouAre("Home", "home")
    .sheet-section-column
      +whoYouAre("Parents", "parents")
      +whoYouAre("Mentor", "mentor_person")
      +whoYouAre("Friend", "friend")
      +whoYouAre("Enemy", "enemy")
      .sheet-field
        .sheet-prefix Level:
        input.sheet-edit(
          name="attr_level"
          type="number"
          placeholder="1"
        )
        span.sheet-play.sheet-handwritten(name="attr_level")
  +whoYouAre("Raiment", "raiment")
