#who-you-are.sheet-section.sheet-who-you-are
  .sheet-header
    span Who You Are
  .sheet-column-2
    .sheet-row.sheet-name
      span.sheet-font-big.sheet-bold Name:
      input.sheet-textinput.sheet-edit(
        name="attr_character_name" 
        type="text"
        )
      span.sheet-play.sheet-handwritten.sheet-font-big(name="attr_character_name")
    .sheet-row.sheet-stock
      span.sheet-font-big.sheet-bold Stock:
      input.sheet-textinput.sheet-edit(
        name="attr_stock" 
        type="text"
        )
      span.sheet-play.sheet-handwritten.sheet-font-big(name="attr_stock")
    .sheet-row.sheet-class
      span.sheet-font-big.sheet-bold Class:
      input.sheet-textinput.sheet-edit(
        name="attr_class" 
        type="text"
        )
      span.sheet-play.sheet-handwritten.sheet-font-big(name="attr_class")
    .sheet-row.sheet-age
      span.sheet-font-big.sheet-bold Age:
      input.sheet-numberinput.sheet-edit(
        name="attr_age" 
        type="number"
        )
      span.sheet-play.sheet-handwritten.sheet-font-big(name="attr_age")
    .sheet-row.sheet-home
      span.sheet-font-big.sheet-bold Home:
      input.sheet-textinput.sheet-edit(
        name="attr_home" 
        type="text"
        )
      span.sheet-play.sheet-handwritten.sheet-font-big(name="attr_home")
    .sheet-row.sheet-raiment
      span.sheet-font-big.sheet-bold Raiment:
      input.sheet-textinput.sheet-edit(
        name="attr_raiment" 
        type="text"
        )
      span.sheet-play.sheet-handwritten.sheet-font-big(name="attr_raiment")
  .sheet-column-2
    .sheet-row.sheet-parents
      span.sheet-font-big.sheet-bold Parents:
      input.sheet-textinput.sheet-edit(
        name="attr_parents" 
        type="text"
        )
      span.sheet-play.sheet-handwritten.sheet-font-big(name="attr_parents")
    .sheet-row.sheet-mentor
      span.sheet-font-big.sheet-bold Mentor:
      input.sheet-textinput.sheet-edit(
        name="attr_mentor_person" 
        type="text"
        )
      span.sheet-play.sheet-handwritten.sheet-font-big(name="attr_mentor_person")
    .sheet-row.sheet-friend
      span.sheet-font-big.sheet-bold Friend:
      input.sheet-textinput.sheet-edit(
        name="attr_friend" 
        type="text"
        )
      span.sheet-play.sheet-handwritten.sheet-font-big(name="attr_friend")
    .sheet-row.sheet-enemy
      span.sheet-font-big.sheet-bold Enemy:
      input.sheet-textinput.sheet-edit(
        name="attr_enemy" 
        type="text"
        )
      span.sheet-play.sheet-handwritten.sheet-font-big(name="attr_enemy")
    .sheet-row.sheet-level
      span.sheet-font-big.sheet-bold Level:
      input.sheet-numberinput.sheet-edit(
        name="attr_level" 
        type="number"
        )
      span.sheet-play.sheet-handwritten.sheet-font-big(name="attr_level")