.sheet-section.sheet-wises
  
  input.sheet-flag(
    value!="complex" 
    name="attr_roll_type" 
    class="sheet-roll_type" 
    type="hidden"
    )
  input.sheet-flag(
    name="attr_nature" 
    class="sheet-untaxed_nature" 
    type="hidden"
    )
  #wises
    .sheet-header
      // <img height="26" width="26" src="https://cdn.shopify.com/s/files/1/1205/7108/products/tribal-fleur-de-lis-step-marker-black_1024x1024.jpeg">
      span Wises
      // <img height="26" width="26" src="https://cdn.shopify.com/s/files/1/1205/7108/products/tribal-fleur-de-lis-step-marker-black_1024x1024.jpeg">
    input.sheet-flag.sheet-condition-flag(
      name="attr_angry" 
      type="hidden"
      )
    span.sheet-row.sheet-hidden.sheet-condition-display.sheet-warning Angry: No wises.
    .sheet-row
      .sheet-wises-left
        .sheet-name-container
          input.sheet-textinput.sheet-edit(
            name="attr_wise1_name" 
            type="text"
            )
          span.sheet-play.sheet-underlined-span.sheet-handwritten.sheet-font-big(name="attr_wise1_name")
        div
          .sheet-wise-check-container
            input.sheet-underlined(
              value!="1" 
              name="attr_wise1_pass" 
              type="checkbox"
              )
            span
            span.sheet-wise-check-value.sheet-font-small Pass
          .sheet-wise-check-container
            input.sheet-underlined(
              value!="1" 
              name="attr_wise1_fail" 
              type="checkbox"
              )
            span
            span.sheet-wise-check-value.sheet-font-small Fail
          .sheet-wise-check-container
            input.sheet-underlined(
              value!="1" 
              name="attr_wise1_fate" 
              type="checkbox"
              )
            span
            span.sheet-wise-check-value.sheet-font-small Fate
          .sheet-wise-check-container
            input.sheet-underlined(
              value!="1" 
              name="attr_wise1_persona" 
              type="checkbox"
              )
            span
            span.sheet-wise-check-value.sheet-font-small Persona
      .sheet-wises-right
        .sheet-name-container
          input.sheet-textinput.sheet-edit(
            name="attr_wise2_name" 
            type="text"
            )
          span.sheet-play.sheet-underlined-span.sheet-handwritten.sheet-font-big(name="attr_wise2_name")
        div
          .sheet-wise-check-container
            input.sheet-underlined(
              value!="1" 
              name="attr_wise2_pass" 
              type="checkbox"
              )
            span
            span.sheet-wise-check-value.sheet-font-small Pass
          .sheet-wise-check-container
            input.sheet-underlined(
              value!="1" 
              name="attr_wise2_fail" 
              type="checkbox"
              )
            span
            span.sheet-wise-check-value.sheet-font-small Fail
          .sheet-wise-check-container
            input.sheet-underlined(
              value!="1" 
              name="attr_wise2_fate" 
              type="checkbox"
              )
            span
            span.sheet-wise-check-value.sheet-font-small Fate
          .sheet-wise-check-container
            input.sheet-underlined(
              value!="1" 
              name="attr_wise2_persona" 
              type="checkbox"
              )
            span
            span.sheet-wise-check-value.sheet-font-small Persona
    .sheet-row
      .sheet-wises-left
        .sheet-name-container
          input.sheet-textinput.sheet-edit(
            name="attr_wise3_name" 
            type="text"
            )
          span.sheet-play.sheet-underlined-span.sheet-handwritten.sheet-font-big(name="attr_wise3_name")
        div
          .sheet-wise-check-container
            input.sheet-underlined(
              value!="1" 
              name="attr_wise3_pass" 
              type="checkbox"
              )
            span
            span.sheet-wise-check-value.sheet-font-small Pass
          .sheet-wise-check-container
            input.sheet-underlined(
              value!="1" 
              name="attr_wise3_fail" 
              type="checkbox"
              )
            span
            span.sheet-wise-check-value.sheet-font-small Fail
          .sheet-wise-check-container
            input.sheet-underlined(
              value!="1" 
              name="attr_wise3_fate" 
              type="checkbox"
              )
            span
            span.sheet-wise-check-value.sheet-font-small Fate
          .sheet-wise-check-container
            input.sheet-underlined(
              value!="1" 
              name="attr_wise3_persona" 
              type="checkbox"
              )
            span
            span.sheet-wise-check-value.sheet-font-small Persona
      .sheet-wises-right
        .sheet-name-container
          input.sheet-textinput.sheet-edit(
            name="attr_wise4_name" 
            type="text"
            )
          span.sheet-play.sheet-underlined-span.sheet-handwritten.sheet-font-big(name="attr_wise4_name")
        div
          .sheet-wise-check-container
            input.sheet-underlined(
              value!="1" 
              name="attr_wise4_pass" 
              type="checkbox"
              )
            span
            span.sheet-wise-check-value.sheet-font-small Pass
          .sheet-wise-check-container
            input.sheet-underlined(
              value!="1" 
              name="attr_wise4_fail" 
              type="checkbox"
              )
            span
            span.sheet-wise-check-value.sheet-font-small Fail
          .sheet-wise-check-container
            input.sheet-underlined(
              value!="1" 
              name="attr_wise4_fate" 
              type="checkbox"
              )
            span
            span.sheet-wise-check-value.sheet-font-small Fate
          .sheet-wise-check-container
            input.sheet-underlined(
              value!="1" 
              name="attr_wise4_persona" 
              type="checkbox"
              )
            span
            span.sheet-wise-check-value.sheet-font-small Persona
