mixin wise(i)
  .sheet-wise
    .sheet-wise-name
      input.sheet-textinput.sheet-edit(
        name="attr_wise" + i + "_name" 
        type="text"
        placeholder="Wise..."
      )
      span.sheet-play.sheet-handwritten(name="attr_wise" + i + "_name")
    .sheet-wise-xp
      .sheet-wise-xp-section
        input(
          value!="1" 
          name="attr_wise" + i + "_pass" 
          type="checkbox"
        )
        .sheet-wise-label Pass
      .sheet-wise-xp-section
        input(
          value!="1" 
          name="attr_wise" + i + "_fail" 
          type="checkbox"
        )
        .sheet-wise-label Fail
      .sheet-wise-xp-section
        input(
          value!="1" 
          name="attr_wise" + i + "_fate" 
          type="checkbox"
        )
        .sheet-wise-label Fate
      .sheet-wise-xp-section
        input(
          value!="1" 
          name="attr_wise" + i + "_persona" 
          type="checkbox"
        )
        .sheet-wise-label Persona



.sheet-wises
  .sheet-section-header Wises
  .sheet-wises-body
    +wise(1)
    +wise(2)
  .sheet-wises-body
    +wise(3)
    +wise(4)
