include ../moves/mixins/move-builder

mixin oracleLabel(type, name, id)
  label.toggle-btn.oracle-btn
    input.hide-element.btn-input(
      type='radio'
      title=`@{oracle_${type}_button}`
      name=`attr_oracle_${type}_button`
      value=id
    )
    .btn-content.oracle-name=header

mixin oracleRowBuilder(table, row, index)
  - const initChance = (index === 0) ? row.Chance - (row.Chance - 1) : table[index - 1].Chance + 1
  - const finalChance = row.Chance
  - const range = (initChance === finalChance) ? finalChance : `${initChance}-${finalChance}`
  - const result = row.Description.charAt(0).toUpperCase() + row.Description.slice(1)
  .oracle-row
    span.oracle-roll=range
    span.oracle-result=result 

mixin oracleRollGroup(group)
  .oracle-box
    .oracle-title=group.Name
    each oracle in group.Oracles
      - const header = `${group.Name} - ${oracle.Name}`
      - const groupFormattedName = group.Name.toLowerCase().replace(/\s/g, '-')
      - const oracleFormattedName = oracle.Name.toLowerCase().replace(/\s/g, '-')
      - const id = (oracleFormattedName === 'encountered-behavior') ? `${groupFormattedName}-encountered-beehavior` : `${groupFormattedName}-${oracleFormattedName}`
  
      .oracle
        .button-container
          button(
            type='roll'
            class='oracle-roll'
            title=`@{roll_${id}_oracle}`
            name=`roll_${id}_oracle`
            value=`&{template:starforged_oracles} {{header=${header}}} {{${id}=[[d100]]}}`
            )
        label.toggle-btn.oracle-btn
          input.hide-element.btn-input(
            type='radio'
            title=`@{oracle_starforged_button}`
            name=`attr_oracle_starforged_button`
            value=id
          )
          .btn-content.oracle-name=oracle.Name

mixin oracleBuilder(oracle, groupName)
  - const groupFormattedName = groupName.toLowerCase().replace(/\s/g, '-')
  - const oracleFormattedName = oracle.Name.toLowerCase().replace(/\s/g, '-')
  - const id = `${groupFormattedName}-${oracleFormattedName}`
  //- Stupid way for me to generate orcale ccs
  //- - console.log(`input[type=radio].${id}:checked ~ div.${id},`)

  input(class=`${id} hide-element` type='radio' name=`attr_oracle_starforged` value=id)
  div(class=`${id} showhide`)
    .oracle-title.oracle-table-preview=`${groupName} - ${oracle.Name}`
    .oracle-table
      if oracle.Table
        each row, index in oracle.Table
          +oracleRowBuilder(oracle.Table, row, index)
      else if oracle.Tables
        each table, index in oracle.Tables
          .oracle-subtitle=table['Display name']
          each row, index in table.Table
            +oracleRowBuilder(table.Table, row, index)