include ../../data/oracles
include ./raw-oracles

mixin oracleGroupTemplate(opts, name)
  - var id = `${name}${opts.roll_id}`
  |
  | {{##{id}}}
  .sheet-result-row
    .sheet-oracle-double-dice
      each subOracle in opts.sub_oracles
        -var subId = `${name}${subOracle.roll_id}`
        span {{#{subId}}}
    .sheet-oracle-table-text
      each subOracle in opts.sub_oracles
        -var subId = `${name}${subOracle.roll_id}`
        each row in subOracle.rows
          - var rollValues = row.roll.match(/(\d+-\d*)|(\d+)/gm)[0].replace('-', ' ')
          | 
          | {{#roll#{row.type}() #{subId} #{rollValues}}}
          | 
          span!=row.result
          | 
          | {{/roll#{row.type}() #{subId} #{rollValues}}}
  |
  | {{/#{id}}}

mixin oracleTemplate(opts, name)
  - var id = `${name}${opts.roll_id}`
  |
  | {{##{id}}}
  .sheet-result-row
    .sheet-oracle-dice
      span {{#{id}}}
    .sheet-oracle-table-text
      each row in opts.rows
        - var rollValues = row.roll.match(/(\d+-\d*)|(\d+)/gm)[0].replace('-', ' ')
        | 
        | {{#roll#{row.type}() #{id} #{rollValues}}}
        | 
        span!=row.result
        | 
        | {{/roll#{row.type}() #{id} #{rollValues}}}
  |
  | {{/#{id}}}

each system, key in oracles
  rolltemplate(class=`sheet-rolltemplate-${key}_oracles`)
    .sheet-roll-container
      .sheet-subheader {{header}}
      | {{#custom-oracle}}
      .sheet-result-row
        .sheet-oracle-table-text {{custom-oracle}}
      | {{/custom-oracle}}

      if key === 'ironsworn'
        +rawOracles
      
      each group, name in system
        each oracle in group.oracles
          if oracle.oracle_move
            |
          else if oracle.oracle_group
            +oracleGroupTemplate(oracle, name)
          else
            +oracleTemplate(oracle, name)
