div(class='combat')
    div(class='top')
        input(
            type='hidden'
            name='attr_dice-atk'
            value='0'
        )
        div(class='action-defensive')
            span(class='title' data-i18n='action-defensive')
            select(name='attr_action-defensive')
                option(value='standard' data-i18n='defense-standard' selected)
                option(value='simple' data-i18n='defense-simple')
                option(value='totale' data-i18n='defense-totale')

        div(class='deux-armes')
            input(
                type='hidden'
                name='attr_deux-armes'
                value='0'
            )
            span(class='title' data-i18n='combat-deux-armes')
            button(
                type='action'
                name='act_deux-armes'
            )
                span(class='checked')='✓'
                span(class='unchecked')='✕'

    div(class='contact')
        input(
            class='show'
            type='hidden'
            name='attr_showcontact'
            value='0'
        )

        div(class='header')
            button(
                type='action'
                name='act_showcontact'
            )
                span(
                    class='plus'
                )='+'
                span(
                    class='minus'
                )='-'
            h1(data-i18n='armes-contact')
        fieldset(class='repeating_wpncontact')
            input(
                class='modkipositif'
                type='hidden'
                name='attr_modkipositif'
                value='0'
            )
            input(
                class='modkinegatif'
                type='hidden'
                name='attr_modkinegatif'
                value='0'
            )
            input(
                class='modkipositifdgts'
                type='hidden'
                name='attr_modkipositifdgts'
                value='0'
            )
            input(
                class='modkinegatifdgts'
                type='hidden'
                name='attr_modkinegatifdgts'
                value='0'
            )
            input(
                class='wpnshow'
                type='hidden'
                name='attr_wpnshow'
                value='1'
            )

            div(class='wpnheader triple')
                button(
                    class='wpnshow'
                    type='action'
                    name='act_wpnshow'
                )
                    span(class='plus')='&'
                    span(class='minus')='_'
                input(
                    type='text'
                    name='attr_name'
                    data-i18n-placeholder='nom'
                )
                button(
                    class='wpnroll'
                    type='action'
                    name='act_wpnroll'
                )
                    span()
            label(class='std')
                span(data-i18n='utilisation')
                input(
                    type='text'
                    name='attr_utilisation'
                    data-i18n-placeholder='une-main'
                )
            label(class='std borderleft')
                span(data-i18n='dm')
                input(
                    type='text'
                    name='attr_dm'
                    data-i18n-placeholder='1d6'
                )
            label(class='std borderleft')
                span(data-i18n='for-min')
                input(
                    type='number'
                    name='attr_for-min'
                    value='0'
                )

            span(
                data-i18n='mod-attaque'
                class='triple subheader'
            )

            input(
                class='modatt'
                type='number'
                name='attr_modatt'
                value='0'
            )
            div(class='checkbtn borderleft modkipositif')
                button(
                    type='action'
                    name='act_modkipositif'
                )
                    span(class='checked')='✓'
                    span(class='unchecked')='✕'
                span(
                    data-i18n='add-mod-ki-positif'
                )
            div(class='checkbtn borderleft modkinegatif')
                button(
                    type='action'
                    name='act_modkinegatif'
                )
                    span(class='checked')='✓'
                    span(class='unchecked')='✕'
                span(
                    data-i18n='add-mod-ki-negatif'
                )

            span(
                data-i18n='mod-degats'
                class='triple subheader'
            )

            input(
                class='modatt'
                type='number'
                name='attr_moddgts'
                value='0'
            )
            div(class='checkbtn borderleft modkipositifdgts')
                button(
                    type='action'
                    name='act_modkipositifdgts'
                )
                    span(class='checked')='✓'
                    span(class='unchecked')='✕'
                span(
                    data-i18n='add-mod-ki-positif'
                )
            div(class='checkbtn borderleft modkinegatifdgts')
                button(
                    type='action'
                    name='act_modkinegatifdgts'
                )
                    span(class='checked')='✓'
                    span(class='unchecked')='✕'
                span(
                    data-i18n='add-mod-ki-negatif'
                )
            div(class='triple autoex')
                span(name='attr_description')
                textarea(name='attr_description' data-i18n-placeholder='description')

    div(class='distance')
        input(
            class='show'
            type='hidden'
            name='attr_showdistance'
            value='0'
        )

        div(class='header')
            button(
                type='action'
                name='act_showdistance'
            )
                span(
                    class='plus'
                )='+'
                span(
                    class='minus'
                )='-'
            h1(data-i18n='armes-distance')
        fieldset(class='repeating_wpndistance')
            input(
                class='modkipositif'
                type='hidden'
                name='attr_modkipositif'
                value='0'
            )
            input(
                class='modkinegatif'
                type='hidden'
                name='attr_modkinegatif'
                value='0'
            )
            input(
                class='modkipositifdgts'
                type='hidden'
                name='attr_modkipositifdgts'
                value='0'
            )
            input(
                class='modkinegatifdgts'
                type='hidden'
                name='attr_modkinegatifdgts'
                value='0'
            )
            input(
                class='wpnshow'
                type='hidden'
                name='attr_wpnshow'
                value='1'
            )

            div(class='wpnheader quintuple')
                button(
                    class='wpnshow'
                    type='action'
                    name='act_wpnshow'
                )
                    span(class='plus')='&'
                    span(class='minus')='_'
                input(
                    type='text'
                    name='attr_name'
                    data-i18n-placeholder='nom'
                )
                button(
                    class='wpnroll'
                    type='action'
                    name='act_wpnroll'
                )
                    span()
            label(class='std')
                span(data-i18n='utilisation')
                input(
                    type='text'
                    name='attr_utilisation'
                    data-i18n-placeholder='une-main'
                )
            label(class='std borderleft')
                span(data-i18n='dm')
                input(
                    type='text'
                    name='attr_dm'
                    data-i18n-placeholder='1d6'
                )
            label(class='std borderleft')
                span(data-i18n='portee')
                input(
                    type='text'
                    name='attr_portee'
                    value='0'
                )
            label(class='std borderleft')
                span(data-i18n='rechargement')
                input(
                    type='text'
                    name='attr_rechargement'
                    data-i18n-placeholder='action-simple'
                )
            label(class='std borderleft')
                span(data-i18n='for-min')
                input(
                    type='number'
                    name='attr_for-min'
                    value='0'
                )

            span(
                data-i18n='mod-attaque'
                class='quintuple subheader'
            )

            input(
                class='modatt'
                type='number'
                name='attr_modatt'
                value='0'
            )
            div(class='checkbtn doublemid borderleft modkipositif')
                button(
                    type='action'
                    name='act_modkipositif'
                )
                    span(class='checked')='✓'
                    span(class='unchecked')='✕'
                span(
                    data-i18n='add-mod-ki-positif'
                )
            div(class='checkbtn doubleend borderleft modkinegatif')
                button(
                    type='action'
                    name='act_modkinegatif'
                )
                    span(class='checked')='✓'
                    span(class='unchecked')='✕'
                span(
                    data-i18n='add-mod-ki-negatif'
                )

            span(
                data-i18n='mod-degats'
                class='quintuple subheader'
            )
            input(
                class='modatt'
                type='number'
                name='attr_moddgts'
                value='0'
            )
            div(class='checkbtn doublemid borderleft modkipositifdgts')
                button(
                    type='action'
                    name='act_modkipositifdgts'
                )
                    span(class='checked')='✓'
                    span(class='unchecked')='✕'
                span(
                    data-i18n='add-mod-ki-positif'
                )
            div(class='checkbtn doubleend borderleft modkinegatifdgts')
                button(
                    type='action'
                    name='act_modkinegatifdgts'
                )
                    span(class='checked')='✓'
                    span(class='unchecked')='✕'
                span(
                    data-i18n='add-mod-ki-negatif'
                )
            label(class='std bordertop')
                span(data-i18n='incident-tir')
                input(
                    type='number'
                    name='attr_incident-tir'
                    value='1'
                    min='0'
                )
            div(class='quadrupleend autoex')
                span(name='attr_description')
                textarea(name='attr_description' data-i18n-placeholder='description')

    div(class='sortilege')
        input(
            class='show'
            type='hidden'
            name='attr_showsortilege'
            value='0'
        )

        div(class='header')
            button(
                type='action'
                name='act_showsortilege'
            )
                span(
                    class='plus'
                )='+'
                span(
                    class='minus'
                )='-'
            h1(data-i18n='sortileges')
        fieldset(class='repeating_wpnsortilege')
            input(
                class='wpnshow'
                type='hidden'
                name='attr_wpnshow'
                value='1'
            )

            div(class='wpnheader triple')
                button(
                    class='wpnshow'
                    type='action'
                    name='act_wpnshow'
                )
                    span(class='plus')='&'
                    span(class='minus')='_'
                input(
                    type='text'
                    name='attr_name'
                    data-i18n-placeholder='nom'
                )
                button(
                    class='wpnroll'
                    type='action'
                    name='act_wpnroll'
                    data-i18n-title='sort-lancer'
                )
                    span(data-i18n-title='sort-lancer')
                button(
                    class='spellroll'
                    type='action'
                    name='act_spellroll'
                    data-i18n-title='magique-roll'
                )
                    img(
                        src=magique
                        data-i18n-title='magique-roll'
                    )
            input(
                type='text'
                name='attr_type-magie'
                data-i18n-placeholder='type-magie-plh'
            )
            input(
                class='borderleft'
                type='text'
                name='attr_forme-magie'
                data-i18n-placeholder='forme-magie'
            )
            label(class='std center wseparation borderleft')
                span(data-i18n='rang')
                input(
                    type='number'
                    name='attr_rang'
                    value='1'
                    min='0'
                )

            div(
                class='triple duo'
            )
                label(class='std wseparation')
                    span(data-i18n='caracteristique-utilisee')
                    select(name='attr_caracteristique')
                        each c in car
                            option(
                                value=`${c}`
                                data-i18n=`${c}`
                            )

                label(class='std wseparation borderleft')
                    span(data-i18n='difficulte-base')
                    input(
                        type='number'
                        name='attr_difficulte'
                        value='5'
                        min='0'
                    )

            div(class='triple autoex')
                span(name='attr_description')
                textarea(name='attr_description' data-i18n-placeholder='description')

    div(class='grenade')
        input(
            class='show'
            type='hidden'
            name='attr_showgrenade'
            value='0'
        )

        div(class='header')
            button(
                type='action'
                name='act_showgrenade'
            )
                span(
                    class='plus'
                )='+'
                span(
                    class='minus'
                )='-'
            h1(data-i18n='grenades')
        fieldset(class='repeating_wpngrenade')
            input(
                class='modkipositif'
                type='hidden'
                name='attr_modkipositif'
                value='0'
            )
            input(
                class='modkinegatif'
                type='hidden'
                name='attr_modkinegatif'
                value='0'
            )
            input(
                class='modkipositifdgts'
                type='hidden'
                name='attr_modkipositifdgts'
                value='0'
            )
            input(
                class='modkinegatifdgts'
                type='hidden'
                name='attr_modkinegatifdgts'
                value='0'
            )
            input(
                class='wpnshow'
                type='hidden'
                name='attr_wpnshow'
                value='1'
            )

            div(class='wpnheader quintuple')
                button(
                    class='wpnshow'
                    type='action'
                    name='act_wpnshow'
                )
                    span(class='plus')='&'
                    span(class='minus')='_'
                input(
                    type='text'
                    name='attr_name'
                    data-i18n-placeholder='nom'
                )
                button(
                    class='wpnroll'
                    type='action'
                    name='act_wpnroll'
                )
                    span()

            label(class='std')
                span(data-i18n='utilisation')
                input(
                    type='text'
                    name='attr_utilisation'
                    data-i18n-placeholder='une-main'
                )
            label(class='std borderleft')
                span(data-i18n='dm')
                input(
                    type='text'
                    name='attr_dm'
                    data-i18n-placeholder='dm'
                )
            label(class='std borderleft')
                span(data-i18n='portee')
                input(
                    type='text'
                    name='attr_portee'
                    data-i18n-placeholder='portee'
                )
            label(class='std borderleft')
                span(data-i18n='rechargement')
                input(
                    type='text'
                    name='attr_rechargement'
                    data-i18n-placeholder='action-simple'
                )
            label(class='std borderleft')
                span(data-i18n='for-min')
                input(
                    type='number'
                    name='attr_for-min'
                    value='0'
                )

            span(
                data-i18n='mod-attaque'
                class='quintuple subheader'
            )

            input(
                class='modatt'
                type='number'
                name='attr_modatt'
                value='0'
            )
            div(class='checkbtn doubleMiddle borderleft modkipositif')
                button(
                    type='action'
                    name='act_modkipositif'
                )
                    span(class='checked')='✓'
                    span(class='unchecked')='✕'
                span(
                    data-i18n='add-mod-ki-positif'
                )
            div(class='checkbtn doubleEnd borderleft modkinegatif')
                button(
                    type='action'
                    name='act_modkinegatif'
                )
                    span(class='checked')='✓'
                    span(class='unchecked')='✕'
                span(
                    data-i18n='add-mod-ki-negatif'
                )

            span(
                data-i18n='mod-degats'
                class='quintuple subheader'
            )

            input(
                class='modatt'
                type='number'
                name='attr_moddgts'
                value='0'
            )
            div(class='checkbtn doubleMiddle borderleft modkipositifdgts')
                button(
                    type='action'
                    name='act_modkipositifdgts'
                )
                    span(class='checked')='✓'
                    span(class='unchecked')='✕'
                span(
                    data-i18n='add-mod-ki-positif'
                )
            div(class='checkbtn doubleEnd borderleft modkinegatifdgts')
                button(
                    type='action'
                    name='act_modkinegatifdgts'
                )
                    span(class='checked')='✓'
                    span(class='unchecked')='✕'
                span(
                    data-i18n='add-mod-ki-negatif'
                )
            div(class='quintuple autoex')
                span(name='attr_description')
                textarea(name='attr_description' data-i18n-placeholder='description')

    div(class='artillerie')
        input(
            class='show'
            type='hidden'
            name='attr_showartillerie'
            value='0'
        )

        div(class='header')
            button(
                type='action'
                name='act_showartillerie'
            )
                span(
                    class='plus'
                )='+'
                span(
                    class='minus'
                )='-'
            h1(data-i18n='artillerie')
        fieldset(class='repeating_wpnartillerie')
            input(
                class='modkipositif'
                type='hidden'
                name='attr_modkipositif'
                value='0'
            )
            input(
                class='modkinegatif'
                type='hidden'
                name='attr_modkinegatif'
                value='0'
            )
            input(
                class='modkipositifdgts'
                type='hidden'
                name='attr_modkipositifdgts'
                value='0'
            )
            input(
                class='modkinegatifdgts'
                type='hidden'
                name='attr_modkinegatifdgts'
                value='0'
            )
            input(
                class='wpnshow'
                type='hidden'
                name='attr_wpnshow'
                value='1'
            )

            div(class='wpnheader quintuple')
                button(
                    class='wpnshow'
                    type='action'
                    name='act_wpnshow'
                )
                    span(class='plus')='&'
                    span(class='minus')='_'
                input(
                    type='text'
                    name='attr_name'
                    data-i18n-placeholder='nom'
                )
                button(
                    class='wpnroll'
                    type='action'
                    name='act_wpnroll'
                )
                    span()

            label(class='std')
                span(data-i18n='utilisation')
                input(
                    type='text'
                    name='attr_utilisation'
                    data-i18n-placeholder='une-main'
                )
            label(class='std borderleft')
                span(data-i18n='dm')
                input(
                    type='text'
                    name='attr_dm'
                    data-i18n-placeholder='dm'
                )
            label(class='std borderleft')
                span(data-i18n='portee')
                input(
                    type='text'
                    name='attr_portee'
                    data-i18n-placeholder='portee'
                )
            label(class='std borderleft')
                span(data-i18n='rechargement')
                input(
                    type='text'
                    name='attr_rechargement'
                    data-i18n-placeholder='action-simple'
                )
            label(class='std borderleft')
                span(data-i18n='aire-effet')
                input(
                    type='number'
                    name='attr_aire-effet'
                    value='0'
                )
            span(
                data-i18n='mod-attaque'
                class='quintuple subheader'
            )

            input(
                class='modatt'
                type='number'
                name='attr_modatt'
                value='0'
            )
            div(class='checkbtn doubleMiddle borderleft modkipositif')
                button(
                    type='action'
                    name='act_modkipositif'
                )
                    span(class='checked')='✓'
                    span(class='unchecked')='✕'
                span(
                    data-i18n='add-mod-ki-positif'
                )
            div(class='checkbtn doubleEnd borderleft modkinegatif')
                button(
                    type='action'
                    name='act_modkinegatif'
                )
                    span(class='checked')='✓'
                    span(class='unchecked')='✕'
                span(
                    data-i18n='add-mod-ki-negatif'
                )

            span(
                data-i18n='mod-degats'
                class='quintuple subheader'
            )

            input(
                class='modatt'
                type='number'
                name='attr_moddgts'
                value='0'
            )
            div(class='checkbtn doubleMiddle borderleft modkipositifdgts')
                button(
                    type='action'
                    name='act_modkipositifdgts'
                )
                    span(class='checked')='✓'
                    span(class='unchecked')='✕'
                span(
                    data-i18n='add-mod-ki-positif'
                )
            div(class='checkbtn doubleEnd borderleft modkinegatifdgts')
                button(
                    type='action'
                    name='act_modkinegatifdgts'
                )
                    span(class='checked')='✓'
                    span(class='unchecked')='✕'
                span(
                    data-i18n='add-mod-ki-negatif'
                )
            div(class='quintuple autoex')
                span(name='attr_description')
                textarea(name='attr_description' data-i18n-placeholder='description')