- var etats = ['affaibli', 'aveugle', 'etourdi', 'immobilise', 'paralyse', 'ralenti', 'renverse', 'surpris'];

div(class='listetats')
    input(
        type='hidden'
        name='attr_dice-special'
        value='0'
    )
    input(
        type='hidden'
        name='attr_initiative-etat'
        value='0'
    )
    input(
        type='hidden'
        name='attr_defense-etat'
        value='0'
    )
    input(
        type='hidden'
        name='attr_resistance-etat'
        value='0'
    )
    input(
        type='hidden'
        name='attr_contact-etat'
        value='0'
    )
    input(
        type='hidden'
        name='attr_distance-etat'
        value='0'
    )
    input(
        type='hidden'
        name='attr_magique-etat'
        value='0'
    )

    h1(class='title' data-i18n='etats-prejudiciables')
    each e in etats
        div(class='etat')
            input(
                type='hidden'
                name=`attr_${e}`
                value='0'
            )
            button(
                type='action'
                name=`act_${e}`
            )
                span(class='checked')='✓'
                span(class='unchecked')='✕'
            span(class='labeletat' data-i18n=`${e}`)
            span(
                class='data'
                data-i18n=`${e}-description`
            )
