div(class='inventaire')
    div(class='armure')
        h1(data-i18n='armures')
        fieldset(class='repeating_armures')
            input(
                type='hidden'
                class='equipped'
                name='attr_equip'
                value='0'
            )

            div(class='header')
                input(
                    type='text'
                    name='attr_name'
                    data-i18n-placeholder='nom'
                )
                label(
                    class='rd'
                    data-i18n-title='reduction-degats'
                )
                    span()='t'
                    input(
                        type='number'
                        name='attr_reduction'
                        value='0'
                        min='0'
                    )
                label(
                    class='defense'
                    data-i18n-title='defense'
                )
                    span()='b'
                    input(
                        type='number'
                        name='attr_defense'
                        value='0'
                    )
                button(
                    class='equipped'
                    type='action'
                    name='act_equip'
                    data-i18n='equipe'
                )='equipe'
            div(class='autoex')
                span(name='attr_description')
                textarea(name='attr_description')

    div(class='objets')
        h1(data-i18n='objets')
        fieldset(class='repeating_objets')
            div(class='header')
                input(
                    type='text'
                    name='attr_name'
                    data-i18n-placeholder='nom'
                )
            div(class='autoex')
                span(name='attr_description')
                textarea(name='attr_description')