- var famille = ['action', 'reflexion', 'societe'];

div(class='profil')
    div(class='col')
        label(class='famille')
            span(data-i18n='famille')
            select(
                name='attr_profil-famille'
            )
                option(
                    value=''
                    selected
                )
                each f in famille
                    option(
                        value=`${f}`
                        data-i18n=`${f}`
                        )=`${f}`
        label(class='attaque')
            span(data-i18n='attaque')
            input(
                type='number'
                name='attr_profil-attaque'
                value='0'
                min='0'
                )

        div(class='subcol')
            label(class='attaque-contact')
                span(data-i18n='attaque-contact')
                input(
                    type='number'
                    name='attr_profil-attaque-contact'
                    value='0'
                    min='0'
                    )
            label(class='attaque-distance')
                span(data-i18n='attaque-distance')
                input(
                    type='number'
                    name='attr_profil-attaque-distance'
                    value='0'
                    min='0'
                    )

    div(class='col')
        label(class='dv')
            span(data-i18n='de-de-vie')
            select(
                name='attr_profil-dv'
            )
                option(
                    value='10'
                    data-i18n='d10'
                    selected
                )
                option(
                    value='8'
                    data-i18n='d8'
                )
                option(
                    value='6'
                    data-i18n='d6'
                )
        label(class='capacite')
                span(data-i18n='capacite')
                input(
                    type='number'
                    name='attr_profil-capacite'
                    value='0'
                    min='0'
                    )
        label(class='serenite')
                span(data-i18n='serenite')
                input(
                    type='number'
                    name='attr_profil-serenite'
                    value='0'
                    min='0'
                    )
        label(class='chance')
                span(data-i18n='chance')
                input(
                    type='number'
                    name='attr_profil-chance'
                    value='0'
                    min='0'
                    )
