div(class='traits-mental')
    each m in traitsmental
        div(class='col')
            span(
                class='header'
                data-i18n=`${m}`
                )

            fieldset(class=`repeating_${m}`)
                input(
                    type='text'
                    name='attr_name'
                    data-i18n-placeholder='nom'
                    placeholder='nom'
                )
                div(class='autoex')
                    span(name='attr_description')
                    textarea(name='attr_description')

    div(class='traits')
        span(
            class='header'
            data-i18n=`avantages`
            )
        span(
            class='header'
            data-i18n=`desavantages`
            )
        div()
            fieldset(class='repeating_avantages')
                div(class='dataTraits')
                    input(
                        type='text'
                        name='attr_name'
                        data-i18n-placeholder='nom'
                        placeholder='nom'
                    )
                    label(class='cout')
                        span(class='title')
                            span(data-i18n='cout')='cout'
                            span()=' : '
                        input(
                            type='number'
                            name='attr_cout'
                            value='0'
                        )
                    div(class='autoex')
                        span(name='attr_description')
                        textarea(name='attr_description')
        div()
            fieldset(class='repeating_desavantages')
                div(class='dataTraits')
                    input(
                        type='text'
                        name='attr_name'
                        data-i18n-placeholder='nom'
                        placeholder='nom'
                    )
                    label(class='cout')
                        span(class='title')
                            span(data-i18n='cout')='cout'
                            span()=' : '
                        input(
                            type='number'
                            name='attr_cout'
                            value='0'
                        )
                    div(class='autoex')
                        span(name='attr_description')
                        textarea(name='attr_description')

    label(class='mythos')
        span(data-i18n='mythos')
        input(
            type='number'
            name='attr_mythos'
            value='0'
            min='0'
        )
