- var carVehicule = ['force', 'agilite', 'defense'];

div(class='vehicules')
    fieldset(class='repeating_vehicules')
        input(
            type='hidden'
            class='vehicule-edit'
            name='attr_edit'
            value='0'
        )

        input(
            type='text'
            name='attr_vehicule-name'
            data-i18n-placeholder='nom'
            class='name'
        )

        button(
            type='action'
            name='act_vehicule-edit'
            class='edit'
        )
            p(data-i18n='editer')

        div(class='mainleft')
            div(class=`mainsa unsimple`)
                div(class=`main red`)
                    span(
                        class='title'
                        data-i18n=`pv`
                    )
                    div(class=`value`)
                        input(
                                type='number'
                                class='score'
                                name=`attr_pv-vehicule`
                                value='0'
                                min='0'
                            )
                        span(
                            class='separator'
                        )='/'
                        span(
                            class='score_max'
                            name=`attr_pv-vehicule_max`
                        )='0'
                        input(
                            type='hidden'
                            name='attr_pv-vehicule_max'
                            value='0'
                        )
                div(class=`submain`)
                        label(class='demi')
                            span(
                                class='title'
                                data-i18n='modificateur-short'
                                )='mod.'
                            input(
                                type='number'
                                name=`attr_pv-vehicule-mod`
                                value='0'
                            )
                        label(class='demi')
                            span(
                                class='title'
                                data-i18n='temporaire-short'
                                )='mod.'
                            input(
                                type='number'
                                name=`attr_pv-vehicule-temp`
                                value='0'
                            )
                        label(class='full')
                            span(
                                class='title'
                                data-i18n='base'
                                )='base'
                            input(
                                type='number'
                                name=`attr_pv-vehicule-base`
                                value='0'
                            )

            div(class=`mainsa simple`)
                div(class=`main blue`)
                    span(
                        class='title'
                        data-i18n=`places`
                    )
                    div(class=`svalue`)
                        span(
                            class='score'
                            name='attr_places-vehicule'
                        )='4'

        div(class='vehicule_attributs')
            //Création de la liste des attributs
            each c in carVehicule
                div(class='main_block')
                    span(
                        class='title'
                        data-i18n=`${c}-short`
                    )=`${c}`

                    div(class='attr-block')
                        span(
                            class='score s2'
                            name=`attr_${c}-vehicule`
                        )='0'

        div(class='vehicule_edit_attributs')
            //Création de la liste des attributs en MODE EDITION
            each c in carVehicule
                div(class='main_block')
                    span(
                        class='title'
                        data-i18n=`${c}-short`
                    )=`${c}`

                    div(class='attr-block')
                        span(
                            class='score s2'
                            name=`attr_${c}-vehicule`
                        )='0'

                        if c === 'defense'
                            span(
                                class='toedit'
                                data-i18n='dexterite-short'
                            )='dexterite'
                            span(
                                class='noedit'
                                name=`attr_${c}-vehicule-dexterite`
                            )='0'

                        span(
                            class='toedit'
                            data-i18n='base'
                        )='base'
                        input(
                            type='number'
                            name=`attr_${c}-vehicule-base`
                            value='0'
                            min='0'
                        )

                        span(
                            class='toedit'
                            data-i18n='divers'
                        )='divers'
                        input(
                            type='number'
                            name=`attr_${c}-vehicule-divers`
                            value='0'
                        )

                        span(
                            class='toedit'
                            data-i18n='temporaire-short'
                        )='temp.'
                        input(
                            type='number'
                            name=`attr_${c}-vehicule-temp`
                            value='0'
                        )

                        input(
                            type='hidden'
                            name=`attr_${c}-vehicule`
                            value='0'
                        )

        button(
            type='action'
            name='act_vehicule-roll'
            class='roll'
        )
            p(data-i18n='pilotage-roll')