- var rangs = [1, 2, 3, 4, 5];
- var types = ['predilection', 'memefamille', 'horsfamille', 'horsprofil', 'prestige']

div(class='voies')
    div(class='ptsCapacites')
        input(
            type='hidden'
            name='attr_ptscapacites'
            value='0'
        )
        input(
            type='hidden'
            name='attr_ptscapacites_max'
            value='4'
        )
        span(
            data-i18n='points-capacites-short'
            class='label'
        )='pts-capacites'
        div(class='score')
            span(
                name='attr_ptscapacites'
                class='value'
            )='0'
            span(class='separator')='/'
            span(
                name='attr_ptscapacites_max'
                class='max'
            )='4'

    input(
        class='voie-selshow'
        type='hidden'
        name='attr_voie-selshow'
        value='capacite'
    )

    button(
        class='btnswitchc'
        type='action'
        name='act_switchcapacite'
    )
        span(
            data-i18n='capacites'
        )

    button(
        class='btnswitchv'
        type='action'
        name='act_switchvoie'
    )
        span(
            data-i18n='voies'
        )

    div(class='listCapacites')
        span(
            class='title'
            data-i18n='capacites'
        )
        fieldset(class='repeating_voies')
            span(
                class='namevoie'
                name='attr_name'
            )
            div(class='subtitle')
                span(
                    class='subtitle'
                    data-i18n='rang'
                )
                span()='1'
            div(class='subtitle')
                span(
                    class='subtitle'
                    data-i18n='rang'
                )
                span()='2'
            div(class='subtitle')
                span(
                    class='subtitle'
                    data-i18n='rang'
                )
                span()='3'
            div(class='subtitle')
                span(
                    class='subtitle'
                    data-i18n='rang'
                )
                span()='4'
            div(class='subtitle')
                span(
                    class='subtitle'
                    data-i18n='rang'
                )
                span()='5'
            each r, index in rangs
                input(
                    type='hidden'
                    class='rang-checked'
                    name=`attr_rang${r}`
                    value='0'
                )
                if index === 4
                    div(
                        class='voierang5'
                    )
                        span(name=`attr_rang-${r}-name`)
                        span(class='description')='?'
                        span(
                            class='reveal-description'
                            name=name=`attr_rang-${r}-description`
                        )
                else
                    div(
                        class='voierang'
                    )
                        span(name=`attr_rang-${r}-name`)
                        span(class='description')='?'
                        span(
                            class='reveal-description'
                            name=name=`attr_rang-${r}-description`
                        )

    div(class='listRangs')
        fieldset(class='repeating_voies')
            input(
                type='text'
                name='attr_name'
                data-i18n-placeholder='nom'
                placeholder='nom'
            )
            select(
                name='attr_type'
            )
                each t, index in types
                    if index === 0
                        option(
                            value=`${t}`
                            data-i18n=`voie${t}`
                            selected
                        )
                    else
                        option(
                            value=`${t}`
                            data-i18n=`voie${t}`
                        )
            each r, index in rangs
                div(class='rang')
                    input(
                        type='hidden'
                        class='rang-checked'
                        name=`attr_rang${r}`
                        value='0'
                    )
                    if index === 0
                        button(
                            type='action'
                            name=`act_rang${r}`
                            class='borderTop'
                        )
                            span(
                                class='checked'
                            )='✓'
                            span(
                                class='unchecked'
                            )='✕'
                    else
                        button(
                            type='action'
                            name=`act_rang${r}`
                        )
                            span(
                                class='checked'
                            )='✓'
                            span(
                                class='unchecked'
                            )='✕'

                    div(class='header')
                        span(
                            class='lRang'
                            data-i18n='rang'
                        )
                        span(class='vRang')=`${r} : `
                        input(
                            type='text'
                            name=`attr_rang-${r}-name`
                        )
                    div(class='autoex')
                        span(name=`attr_rang-${r}-description`)
                        textarea(name=`attr_rang-${r}-description`)