section#clocks.clocks
  h1(data-i18n='clocks')
  +fieldset({name:'general-clock'})
      .grid__2col
        .flex-box.col.no-gap
          +select-label({
              label:'size',
              inputObj:{name:'size'},
              divObj:{class:'dropdown stat', style:'width:100px; margin:0px;'},
              spanObj:{class:'capitalize smallcaps', style:'width:50px;'}
            })
              each val in [4,6,8,10,12]
                option(value=`${val}`) #{val}
          .clock
            +hidden({name:'size', class:'clock-switch', value:'4'})
            each val in [4,6,8,10,12]
              +div({class:`clock_${val}`})
                +div({name:'clock', class:'clock-section'})
                  if val === 4
                    each num in [0,6,12,18]
                      +radio({name:`gc-${val}`, class:`clock-radio clock-${num}`, value:`${num}`})
                  else if val === 6
                    each num in [0,4,8,12,16,20]
                      +radio({name:`gc-${val}`, class:`clock-radio clock-${num}`, value:`${num}`})
                  else if val === 8
                    each num in [0,3,6,9,12,15,18,21]
                      +radio({name:`gc-${val}`, class:`clock-radio clock-${num}`, value:`${num}`})
                  else if val === 10
                    each num in [0,2,5,7,10,12,14,17,19,22]
                      +radio({name:`gc-${val}`, class:`clock-radio clock-${num}`, value:`${num}`})
                  else
                    each num in [0,1,4,6,8,11,12,13,16,18,20,23]
                      +radio({name:`gc-${val}`, class:`clock-radio clock-${num}`, value:`${num}`})
                  div.clock-face
        .flex-box.col.no-gap            
          .flex-box.row.center.span-all
            +text({name:'name', class:'h3-style-input center', 'data-i18n-placeholder':'clock name', 'aria-level':3})
            +button({name:'quote', type:'roll', class:'roll-quote relative', value:"&{template:icon} {{name=@{name} clock}} {{character_name=Size @{size}}} {{text=@{notes}}}", style:'left:-4px;'})
          .flex-box.row.center
            +textarea({name:'notes', class:'textarea-6 ambition fixed', 'data-i18n-placeholder':'write any notes about this clock', style:'width:100%;'})