div.sheet-delve-mode ${require('../../components/character-details/details.html')}
div.sheet-delve-mode ${require('../../components/character-details/stats.html')}
div.sheet-delve-mode ${require('../../components/nav/delve-pages.html')}
div.sheet-delve-mode ${require('../../components/character-details/debilities.html')}
div.sheet-delve-mode ${require('../../components/character-details/momentum.html')}
