mixin textInput(name, value='')
  input(name=`attr_${name}` type='text' value=value)&attributes(attributes)

mixin numberInput(name, value='')
  input(name=`attr_${name}` type='number' value=value)&attributes(attributes)

mixin textareaInput(name, value='')
  textarea(name=`attr_${name}`)&attributes(attributes)= value

//- Textarea with a span named the same, the creator seemed to like that
mixin spanareaInput(name, value='')
  +textareaInput(name, value)(class!=attributes.class placeholder!=attributes.placeholder)= value
  span(name=`attr_${name}`)

mixin hiddenInput(name, value='')
  input(class!=attributes.class name=`attr_${name}` type='hidden' value=value)


mixin rollButton(name, value='', label=false)
  button(name=`roll_${name}` title!=attributes.title type='roll' value!=value class!=attributes.class)
    if (label)
      span #{label}

mixin actButton(name, value='')
  button(class!=attributes.class name=`act_${name}` type='action' value!=value)

mixin cbButton(name, label, value=null)
  label(class!=attributes.class)
    if value
      input(name=name value=value type='checkbox')&attributes(attributes)
    else
      input(name=name type='checkbox')&attributes(attributes)
    span(title=label)

mixin rdButton(name, label, value='')
  label
    input(name=name, value=value, type='radio')
    span(title=label)

mixin elemSelect(name, defLabel='')
  select(name=`attr_${name}`)
    option(value='0')!= defLabel
    option(value='kaair') Air
    option(value='kaeau') Eau
    option(value='kafeu') Feu
    option(value='kalune') Lune
    option(value='katerre') Terre

mixin imgNeph(path, alt)
  img(src=`https://raw.githubusercontent.com/Roll20/roll20-character-sheets/master/Nephilim-Legende/img/${path}` alt=alt)

//- Pour le combat
mixin caseDommage(name, label, value)
  label
    span!= label
    input(name=`attr_${name}` type='checkbox' value=value)
    span

mixin caseConsequence(name, label, value)
  div
    span!= label
    span!= value
    +cbButton(`attr_${name}`, '')
    +textInput(`${name}-desc`)