
mixin header
  div.rivals-header
    div.rival.header-left
      div.rival-stat
        span.header-label(data-i18n='header_side')=locals['header_side']
        span.header-value(name='attr_left_side')
      div.rival-stat
        span.header-label(data-i18n='name')=locals['name']
        span.header-value(name='attr_left_name')
      div.rival-stat
        span.header-label(data-i18n='pronouns')=locals['pronouns']
        span.header-value(name='attr_left_pronouns')
    div.logo
    div.rival.header-right
      div.rival-stat
        span.header-value(name='attr_right_side')
        span.header-label(data-i18n='header_side')=locals['header_side']
      div.rival-stat
        span.header-value(name='attr_right_name')
        span.header-label(data-i18n='name')=locals['name']
      div.rival-stat
        span.header-value(name='attr_right_pronouns')
        span.header-label(data-i18n='pronouns')=locals['pronouns']
