
    <div class="sectionheader">
        <label>
            <input class="toggle-hide" name="attr_attributes" type="checkbox" value="1" checked />
            <div class="innertable ">
                <div class="table-row">
                    <div class="table-cell-half">
                          
                                <h4 class="collapsearrow"><span data-i18n="attributes">Attribute</span> & 
                                    <span data-i18n="derivatives">Abgeleitete Werte</span>
                                </h4>
                          
                        </div>
                        <div class="table-cell-half">
                          
                               
                            
                    </div>
                </div> 
            </div>
            <h4>
        </label>
    </div>
    <input class="toggle-hide" name="attr_attributes" type="checkbox" value="1" checked />
    <div class="togglesection">
        <div class="flex-table">
            <div class="flexcontainer flex--warp">
                <div class="flex-table">
                    <%- include('attributeshort.ejs', {name: "body"}); %>
                    <%- include('attributeshort.ejs', {name: "agility"}); %>
                    <%- include('attributeshort.ejs', {name: "reaction"}); %>
                    <%- include('attributeshort.ejs', {name: "strength"}); %>
                   
                   
                </div>
                <div class="flex-table">
                    <%- include('attributeshort.ejs', {name: "willpower"}); %>
                    <%- include('attributeshort.ejs', {name: "logic"}); %>
                    <%- include('attributeshort.ejs', {name: "intuition"}); %>
                    <%- include('attributeshort.ejs', {name: "charisma"}); %>
                    <%- include('attributeshort.ejs', {name: "edge"}); %>
                   
                </div>

                <div class="flex-table">
                  
                        <%- include('attributesecondshort.ejs', {name: "composure",attrshort1:"cha",attrshort2:"wil"}); %>
                        <%- include('attributesecondshort.ejs', {name: "judgeintent",attrshort1:"int",attrshort2:"wil"}); %>
                        <%- include('attributesecondshort.ejs', {name: "memory",attrshort1:"log",attrshort2:"int"}); %>
                        <%- include('attributesecondshort.ejs', {name: "liftcarry",attrshort1:"bod",attrshort2:"wil"}); %>
                </div>
                
            </div>
            
        </div>
    </div>
