
    <div class="sectionheader">
        <label>
            <input class="toggle-hide" name="attr_attributes" type="checkbox" value="1" checked />
            <div class="innertable ">
                <div class="table-row">
                    <div class="table-cell-half">
                          
                                <h4 class="collapsearrow" data-i18n="attributes">Attribute</h4>
                          
                        </div>
                        <div class="table-cell-half">
                          
                                <h4 data-i18n="derivatives">Abgeleitete Werte</h4>
                            
                    </div>
                </div> 
            </div>
            <h4>
        </label>
    </div>
    <input class="toggle-hide" name="attr_attributes" type="checkbox" value="1" checked />
    <div class="togglesection">
        <div class="innertable">
            <div class="table-row">
                <div class="table-cell-half">
                    <div class="innertable">
                        <%- include('attributeheader.ejs'); %>

                        <%- include('attribute.ejs', {name: "body"}); %>
                        <%- include('attribute.ejs', {name: "agility"}); %>
                        <%- include('attribute.ejs', {name: "reaction"}); %>
                        <%- include('attribute.ejs', {name: "strength"}); %>
                        <%- include('attribute.ejs', {name: "willpower"}); %>
                        <%- include('attribute.ejs', {name: "logic"}); %>
                        <%- include('attribute.ejs', {name: "intuition"}); %>
                        <%- include('attribute.ejs', {name: "charisma"}); %>
                        <%- include('attribute.ejs', {name: "edge"}); %>
                    </div>
                </div>
                <div class="table-cell-half">
                    <div class="innertable">
                        <div class="table-row">
                            <div class="table-cell-skill-name"><span class="red" data-i18n="empty">&nbsp;</span></div>
                            <div class="table-cell"><span class="red" data-i18n="basis">Basis</span></div>
                            <div class="table-cell"><span class="red" data-i18n="mod">Mod</span></div>
                            <div class="table-cell"><span class="red" data-i18n="bonus" data-i18n-title="bonus">Mod</span></div>
                            <div class="table-cell"><span class="red" data-i18n="total">Gesamt</span></div>
                            <div class="table-cell-skill-name"><span class="red" data-i18n="rolls">Würfe</span></div>
                        </div>
                        <div class="table-row">
                            <div class="table-cell">
                                <span class="red" data-i18n="composure">Selbstbeherrschung</span>
                            </div>
                            <div class="table-cell"><input class="smallinput first" type="number" name="attr_composure_base" value="4" placeholder="4" title="@{composure_base}" /></div>
                            <div class="table-cell"><input class="smallinput" type="number" name="attr_composure_modifier" value="0" placeholder="0"/></div>
                            <div class="table-cell"><input class="smallinput" type="number" name="attr_composure_statusmodifier" value="0" placeholder="0" readonly/></div>
                            <div class="table-cell"><input class="smallinput last" type="number" name="attr_display_composure" value="4" placeholder="4" readonly/></div>
                            <div class="table-cell">
                                    <button class="iconbutton70" type="roll" name="roll_composure" value="@{gm_toggle} &{template:roll}{{mainattribute=^{composure}}}{{wilddieprop=[[@{wilddieprop}d6]]}}<%- include('dicetemplate.ejs', {pool: "(@{display_composure}+@{use_wounds}+@{sustain_malus}+@{allmod}+@{mod_roll}@{wilddiemod})"}); %>">
                                        <span class="red" data-i18n="cha_wil">CHA + WIL</span>
                                    </button>
                            
                            </div>
                        </div>
                        <div class="table-row">
                            <div class="table-cell">
                                <span class="red" data-i18n="judgeintent">Menschenkenntnis</span>
                            </div>
                            <div class="table-cell"><input class="smallinput first" type="number" name="attr_judgeintent_base" value="4" placeholder="4" title="@{judgeintent_base}" /></div>
                            <div class="table-cell"><input class="smallinput" type="number" name="attr_judgeintent_modifier" value="0" placeholder="0"/></div>
                            <div class="table-cell"><input class="smallinput" type="number" name="attr_judgeintent_statusmodifier" value="0" placeholder="0" readonly/></div>
                            <div class="table-cell"><input class="smallinput last" type="number" name="attr_display_judgeintent" value="4" placeholder="4" readonly/></div>
                            <div class="table-cell">
                                <button class="iconbutton70" type="roll" name="roll_judgeintent" value="@{gm_toggle} &{template:roll}{{mainattribute=^{judgeintent}}}{{wilddieprop=[[@{wilddieprop}d6]]}}<%- include('dicetemplate.ejs', {pool: "(@{display_judgeintent}+@{use_wounds}+@{sustain_malus}+@{allmod}+@{mod_roll}@{wilddiemod})"}); %>">
                                        <span class="red" data-i18n="int_wil">INT + WIL</span>
                                </button>
                            </div>
                        </div>
                        <div class="table-row">
                            <div class="table-cell">
                                <span class="red" data-i18n="memory">Erinnerungsvermögen</span>
                            </div>
                            <div class="table-cell"><input class="smallinput first" type="number" name="attr_memory_base" value="4" placeholder="4" title="@{memory_base}" /></div>
                            <div class="table-cell"><input class="smallinput" type="number" name="attr_memory_modifier" value="0" placeholder="0"/></div>
                            <div class="table-cell"><input class="smallinput" type="number" name="attr_memory_statusmodifier" value="0" placeholder="0" readonly/></div>
                            <div class="table-cell"><input class="smallinput last" type="number" name="attr_display_memory" value="4" placeholder="4" readonly/></div>
                            <div class="table-cell">
                                <button class="iconbutton70" type="roll" name="roll_memory" value="@{gm_toggle} &{template:roll}{{mainattribute=^{memory}}}{{wilddieprop=[[@{wilddieprop}d6]]}}<%- include('dicetemplate.ejs', {pool: "(@{display_memory}+@{use_wounds}+@{sustain_malus}+@{allmod}+@{mod_roll}@{wilddiemod})"}); %>">
                                        <span class="red" data-i18n="log_int">LOG + INT</span>
                                </button>
                            </div>
                        </div>
                        <div class="table-row">
                            <div class="table-cell">
                                <span class="red" data-i18n="liftcarry">Heben & Tragen</span>
                            </div>
                            <div class="table-cell"><input class="smallinput first" type="number" name="attr_liftcarry_base" value="4" placeholder="4" title="@{liftcarry_base}" /></div>
                            <div class="table-cell"><input class="smallinput" type="number" name="attr_liftcarry_modifier" value="0" placeholder="0"/></div>
                            <div class="table-cell"><input class="smallinput" type="number" name="attr_liftcarry_statusmodifier" readonly value="0" placeholder="0"/></div>
                            <div class="table-cell"><input class="smallinput last" type="number" name="attr_display_liftcarry" value="4" placeholder="4" readonly/></div>
                            <div class="table-cell">
                                <button class="iconbutton70" type="roll" name="roll_liftcarry" value="@{gm_toggle} &{template:roll}{{mainattribute=^{liftcarry}}}{{wilddieprop=[[@{wilddieprop}d6]]}}<%- include('dicetemplate.ejs', {pool: "(@{display_liftcarry}+@{use_wounds}+@{sustain_malus}+@{allmod}+@{mod_roll}@{wilddiemod})"}); %>">
                                        <span class="red" data-i18n="bod_wil">KON + WIL</span>
                                </button>
                            </div>
                        </div>
                        <div class="table-row">
                            <div class="table-cell">
                                <span class="red" data-i18n="defense_pool">Verteidigungspool</span>
                            </div>
                            <div class="table-cell"><input class="smallinput first" type="number" name="attr_ini_base" value="4" placeholder="4" title="@{ini_base}" /></div>
                            <div class="table-cell"><input class="smallinput" type="number" name="attr_ini_modifier" value="0" placeholder="0"/></div>
                            <div class="table-cell"><input class="smallinput" type="number" name="attr_ini_statusmodifier" readonly value="0" placeholder="0"/></div>
                            <div class="table-cell"><input class="smallinput last " type="number" name="attr_display_ini" value="4" placeholder="4" readonly/></div>
                            <div class="table-cell">
                                <button class="iconbutton70" type="roll" name="roll_vw" value="@{gm_toggle} &{template:roll}{{mainattribute=^{ini}}}{{wilddieprop=[[@{wilddieprop}d6]]}}<%- include('dicetemplate.ejs', {pool: "(@{display_ini}+@{use_wounds}+@{sustain_malus}+@{allmod}+@{mod_roll}@{wilddiemod})"}); %>">
                                        <span class="red" data-i18n="rea_int">REA + INT</span>
                                </button>
                                </div>
                        </div>
                        <div class="table-row">
                            <div class="table-cell">
                                <span class="red" data-i18n="inidice">Initiativewürfel</span>
                            </div>
                            <div class="table-cell"><input class="smallinput first" type="number" name="attr_inidice_base" readonly value="1" placeholder="1" title="@{inidice_base}" /></div>
                            <div class="table-cell"><input class="smallinput" type="number" name="attr_inidice_modifier" value="0" placeholder="0"/></div>
                            <div class="table-cell"><input class="smallinput" type="number" name="attr_inidice_statusmodifier" value="0" placeholder="0" readonly/></div>
                            <div class="table-cell"><input class="smallinput last" type="number" name="attr_display_inidice" value="1" placeholder="1" readonly/></div>
                            <div class="table-cell">
                                <!--<button class="iconbutton70" type="roll" name="roll_ini" value="@{gm_toggle} &{template:roll}{{mainattribute=^{ini}}}{{wilddieprop=[[@{wilddieprop}d6]]}}<%- include('dicetemplate.ejs', {pool: "(@{display_ini})"}); %>">
                                        <span class="red" data-i18n="rea_int">This is hidden</span>
                                </button>-->
                            </div>
                        </div>
                        <div class="table-row">
                            <div class="table-cell">
                                <span class="red" data-i18n="iniphys">Initiative (physisch)</span>
                            </div>
                            <div class="table-cell"><input class="smallinput first" type="number" name="attr_iniphys_base" value="4" placeholder="4" title="@{iniphys_base}" /></div>
                            <div class="table-cell"><input class="smallinput" type="number" name="attr_iniphys_modifier" value="0" placeholder="0"/></div>
                            <div class="table-cell"><input class="smallinput" type="number" name="attr_iniphys_statusmodifier" readonly value="0" placeholder="0"/></div>
                            <div class="table-cell"><input class="smallinput last" type="number" name="attr_display_iniphys" value="4" placeholder="4" readonly/></div>
                            <div class="table-cell">
                                <button class="iconbutton70" type="roll" name="roll_iniphys" value="@{gm_toggle} &{template:initiative}{{mainattribute=^{iniphys}}}{{wilddieprop=[[@{wilddieprop}d6]]}}<%- include('dicetemplateini.ejs', {pool: "(@{display_iniphys}+@{use_wounds}+@{sustain_malus})+@{display_inidice}"}); %>">
                                        <span class="red" data-i18n="select_token">Tokenroll</span>
                                </button>
                            </div>
                        </div>
                        <div class="table-row">
                            <div class="table-cell">
                                <span class="red" data-i18n="inimatrix">Initiative (Matrix)</span>
                            </div>
                            <div class="table-cell"><input class="smallinput first" type="number" name="attr_inimatrix_base" value="4" placeholder="4" title="@{inimatrix_base}" /></div>
                            <div class="table-cell"><input class="smallinput" type="number" name="attr_inimatrix_modifier" value="0" placeholder="0"/></div>
                            <div class="table-cell"><input class="smallinput" type="number" name="attr_inimatrix_statusmodifier" readonly value="0" placeholder="0"/></div>
                            <div class="table-cell"><input class="smallinput last" type="number" name="attr_display_inimatrix" value="4" placeholder="4" readonly/></div>
                            <div class="table-cell">
                                <button class="iconbutton70" type="roll" name="roll_inimatrix" value="@{gm_toggle} &{template:initiative}{{mainattribute=^{inimatrix}}}{{wilddieprop=[[@{wilddieprop}d6]]}}<%- include('dicetemplateini.ejs', {pool: "(@{display_inimatrix}+@{use_wounds}+@{sustain_malus})+3"}); %>">
                                        <span class="red" data-i18n="select_token">Tokenroll</span>
                                </button>
                            </div>
                        </div>
                        <div class="table-row">
                            <div class="table-cell">
                                <span class="red" data-i18n="iniastral">Initiative (Astral)</span>
                            </div>
                            <div class="table-cell"><input class="smallinput first" type="number" name="attr_iniastral_base" value="4" placeholder="4" title="@{iniastral_base}" /></div>
                            <div class="table-cell"><input class="smallinput" type="number" name="attr_iniastral_modifier" value="0" placeholder="0"/></div>
                            <div class="table-cell"><input class="smallinput" type="number" name="attr_iniastral_statusmodifier" value="0" placeholder="0" readonly/></div>
                            <div class="table-cell"><input class="smallinput last" type="number" name="attr_display_iniastral" value="4" placeholder="4" readonly/></div>
                            <div class="table-cell">
                                <button class="iconbutton70" type="roll" name="roll_iniastral" value="@{gm_toggle} &{template:initiative}{{mainattribute=^{iniastral}}}{{wilddieprop=[[@{wilddieprop}d6]]}}<%- include('dicetemplateini.ejs', {pool: "(@{display_iniastral}+@{use_wounds}+@{sustain_malus})+2"}); %>">
                                        <span class="red" data-i18n="select_token">Tokenroll</span>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
