
<% if (typeof minvalue === "undefined") minvalue=2  %>
<% if (!(typeof hide === "undefined")) { %>
    <input class="toggle-hide" name="attr_<%= hide %>" type="checkbox" value="1" checked/>
    <% } %>
    <div class="table-row">
                                <div class="table-cell-skill-name">
                                    <span class="red" data-i18n="display_<%= name %>"><%= name %></span>
                                </div>
                                <div class="table-cell"><input class="smallinput first" type="number" name="attr_<%= name %>_base" value="<%= minvalue %>" placeholder="<%= minvalue %>"  min="0"/> </div>
                                <div class="table-cell"><input class="smallinput" type="number" name="attr_<%= name %>_modifier" value="0" placeholder="0"  /> </div>
                                <div class="table-cell"><input class="smallinput" type="number" name="attr_<%= name %>_statusmodifier" value="0" placeholder="0" title="@{<%= name %>_statusmodifier}" readonly /> </div>
    
                                <div class="table-cell"><input class="smallinput last" type="number" name="attr_display_<%= name %>" readonly/></div>
                                <div class="table-cell">
                                        <div class="flexcontainer">
                                        <button class="iconbutton50" type="roll" name="roll_<%= name %>" value="@{gm_toggle} &{template:roll}{{mainattribute=^{<%= name %>}}}{{wilddieprop=[[@{wilddieprop}d6]]}}<%- include('dicetemplate.ejs', {pool: "(@{display_"+ name +"}+@{use_wounds}+@{sustain_malus}+@{allmod}+@{mod_roll}@{wilddiemod})"}); %>">
                                            <span class="red" data-i18n="<%= name %>_short"><%= name %></span>
                                        </button>
                                        <button class="iconbutton50" type="roll" name="roll_<%= name %>2" value="@{gm_toggle} &{template:roll}{{mainattribute=^{<%= name %>}}}{{secondattribute=^{<%= name %>}}}{{wilddieprop=[[@{wilddieprop}d6]]}}<%- include('dicetemplate.ejs',{pool: "(@{display_" + name + "}+@{display_"+ name + "}+@{use_wounds}+@{sustain_malus}+@{allmod}+@{mod_roll}@{wilddiemod})"}); %>">
                                            <span class="red" data-i18n="double">(x2)</span>
                                        </button>
                                     </div>
                                </div>
                            </div>