
<% if (!(typeof hide === "undefined")) { %>
    <input class="toggle-hide" name="attr_<%= hide %>" type="checkbox" value="1" checked/>
    <% } %>
    <div class="flexcontainer togglesection">
                                <div class="flex--2">
                                    <span class="red" data-i18n="<%= name %>"><%= name %></span>
                                </div>
                                <div class="flex-center">
                                    <input class="smallinput first" type="number" name="attr_<%= name %>_modifier" value="0" placeholder="0"  />
                                    <input class="smallinput last" type="number" name="attr_display_<%= name %>" value="2" placeholder="2" readonly/>
                                </div>
                                <div class="flexcontainer">
                                    <% if ( attrshort1 != "") { %>
                                    <button class="iconbutton" type="roll" name="roll_<%= name %>" value="@{gm_toggle} &{template:roll}{{mainattribute=^{<%= name %>}}}{{secondattribute=^{<%= name %>}}}{{wilddieprop=[[@{wilddieprop}d6]]}}<%- include('dicetemplate.ejs', {pool: "(@{display_" + name + "}+@{display_" + name + "}+@{use_wounds}+@{sustain_malus}+@{allmod}+@{mod_roll}@{wilddiemod})"}); %>">
                                      
                                    </button>
                                    <% } %>
                                </div>
                              
                                
    </div>