<div class='attacks'>
    <!--INi-->
      <div class="sectionheader">
          <label>
              <input class="toggle-hide" name="attr_ci_hide" type="checkbox" value="1"/>
              <h4><span data-i18n="combat_information">Initative&Verteidigung</span></h4>
          </label>
      </div>
       <input class="toggle-hide" name="attr_ci_hide" type="checkbox" value="1"/>
       <div class="togglesection">
          <div class="innertable">
              <div class="table-row">
                  <div class="table-cell-half">
                      <div class="innertable">
                          <div class="table-row">
                              <div class="table-cell-skill-name"><span class="red" data-i18n="empty">&nbsp;</span></div>
                              <div class="table-cell"><span class="red" data-i18n="basis">Basis</span></div>
                              <div class="table-cell"><span class="red" data-i18n="mod">Mod</span></div>
                              <div class="table-cell"><span class="red" data-i18n="bonus" data-i18n-title="bonus">Mod</span></div>
                              <div class="table-cell"><span class="red" data-i18n="total">Gesamt</span></div>
                              <div class="table-cell"><span class="red" >&nbsp;</span></div>
                              
                              <div class="table-cell-skill-name"><span class="red" data-i18n="rolls">Würfe</span></div>
                          </div>
                          <div class="table-row">
                              <div class="table-cell">
                                  <span class="red" data-i18n="inidice">Initiativewürfel</span>
                              </div>
                              <div class="table-cell"><input class="smallinput first" type="number" name="attr_inidice_base" readonly value="1" placeholder="1" title="@{inidice_base}" /></div>
                              <div class="table-cell"><input class="smallinput" type="number" name="attr_inidice_modifier" value="0" placeholder="0"/></div>
                              <div class="table-cell"><input class="smallinput" type="number" name="attr_inidice_statusmodifier" readonly value="0" placeholder="0"/></div>
                              <div class="table-cell"><input class="smallinput last" type="number" name="attr_display_inidice" value="1" placeholder="1" readonly/></div>
                              
                              <div class="table-cell">
                                  <!-- <button class="iconbutton70" type="roll" name="roll_ini" value="@{gm_toggle} &{template:roll}{{mainattribute=^{ini}}}{{wilddieprop=[[@{wilddieprop}d6]]}}<%- include('dicetemplate.ejs', {pool: "(@{display_ini})"}); %>">
                                          <span class="red" data-i18n="rea_int">This is hidden</span>
                                  </button> -->
                              </div>
                          </div>
                        <div class="table-row">

                            <div class="table-cell">
                                <span class="red" data-i18n="defense_pool">Verteidigungspool</span>
                            </div>
                            <div class="table-cell"><input class="smallinput first" type="number" name="attr_ini_base" value="4" placeholder="4" title="@{ini_base}" /></div>
                            <div class="table-cell"><input class="smallinput" type="number" name="attr_ini_modifier" value="0" placeholder="0"/></div>
                            <div class="table-cell"><input class="smallinput" type="number" name="attr_ini_statusmodifier" readonly value="0" placeholder="0"/></div>
                            <div class="table-cell">
                                <input class="smallinput " type="number" name="attr_display_ini"  value="4" placeholder="4" readonly/>
                            </div>
                            <div class="table-cell">
                                <input class="smallinput last " type="number" name="attr_defense_rating" data-i18n-title="defense_rating" value="0" placeholder="4"/>
                            </div>
                            
                            <div class="table-cell">
                                <button class="iconbutton70" type="roll" name="roll_vw" value="@{gm_toggle} &{template:roll}{{mainattribute=^{ini}}}{{wilddieprop=[[@{wilddieprop}d6]]}}<%- include('dicetemplate.ejs', {pool: "(@{display_ini}+@{use_wounds}+@{sustain_malus}+@{allmod}+@{mod_roll}@{wilddiemod})"}); %>">
                                        <span class="red" data-i18n="rea_int">REA + INT</span>
                                </button>
                                </div>
                         </div>
                        
                          <div class="table-row">
                              <div class="table-cell">
                              <span class="red" data-i18n="block">block</span>
                              </div>
                              <div class="table-cell"><input class="smallinput first" type="number" name="attr_block_rating" disabled value="((@{ini_base})+(@{ini_modifier})+(@{skill_melee_base})+(@{skill_melee_modifier}))" /></div>
                              <div class="table-cell"><input class="smallinput last" type="number" name="attr_block_mod"  value="0" title="" min="0" /></div>
                              <div class="table-cell"></div>

                              <div class="table-cell"><input class="smallinput first last" type="number" name="attr_block_total" disabled value="(@{ini_base}+@{ini_modifier}+@{skill_melee_base}+@{skill_melee_modifier}+@{block_mod})" /></div>
                              <div class="table-cell"></div>
                              <div class="table-cell">
                                  <button class="iconbutton" type="roll" name="roll_defenseBlock" value="@{gm_toggle} &{template:roll}{{mainattribute=^{defense}}}{{defenserating=[[@{defense_rating}]]}}{{wilddieprop=[[@{wilddieprop}d6]]}}<%- include('dicetemplate.ejs', {pool: "(@{display_ini}+@{skill_melee_base}+@{skill_melee_modifier}+@{block_mod}+@{use_wounds}+@{sustain_malus}+@{allmod}+@{mod_roll}@{wilddiemod})"}); %>">
                                     
                                  </button>
                                  
                              </div>
                          </div>
                          <div class="table-row">
                              <div class="table-cell">
                              <span class="red" data-i18n="dodge">block</span>
                              </div>
                              <div class="table-cell"><input class="smallinput first"  type="number" name="attr_doge_rating" disabled value="((@{ini_base})+(@{ini_modifier})+@{skill_athletics_base}+@{skill_athletics_modifier})" /></div>
                              <div class="table-cell"><input class="smallinput last" type="number" name="attr_doge_mod"  value="0" title="" min="0" /></div>
                              <div class="table-cell"></div>
                              <div class="table-cell"><input class="smallinput  first last" type="number" name="attr_doge_total" disabled value="(@{ini_base}+@{ini_modifier}+@{skill_athletics_base}+@{skill_athletics_modifier}+@{doge_mod})" title="" /></div>
                              <div class="table-cell"></div>
                              <div class="table-cell">
                                 
                                  <button class="iconbutton50" type="roll" name="roll_defenseDoge" value="@{gm_toggle} &{template:roll}{{mainattribute=^{defense}}}{{defenserating=[[@{defense_rating}]]}}{{wilddieprop=[[@{wilddieprop}d6]]}}<%- include('dicetemplate.ejs', {pool: "(@{display_ini}+@{skill_athletics_base}+@{doge_mod}+@{skill_athletics_modifier}+@{use_wounds}+@{sustain_malus}+@{allmod}+@{mod_roll}@{wilddiemod})"}); %>">
                                     
                                      </button>
                              </div>
                          </div>
                        
                         
                      </div>
                  </div>
                  <div class="table-cell-half">
                      <div class="innertable">
                          
                          <div class="table-row">
                              <div class="table-cell-skill-name"><span class="red" data-i18n="empty">&nbsp;</span></div>
                              <div class="table-cell"><span class="red" data-i18n="basis">Basis</span></div>
                              <div class="table-cell"><span class="red" data-i18n="mod">Mod</span></div>
                              <div class="table-cell"><span class="red" data-i18n="bonus" data-i18n-title="bonus">Mod</span></div>
                              <div class="table-cell"><span class="red" data-i18n="total">Gesamt</span></div>
                              <div class="table-cell"><span class="red" ></span></div>
                              <div class="table-cell-skill-name"><span class="red" data-i18n="rolls">Würfe</span></div>
                          </div>
                          <div class="table-row">
                              <div class="table-cell">
                                  <span class="red" data-i18n="iniphys">Initiative (physisch)</span>
                              </div>
                              <div class="table-cell"><input class="smallinput first" type="number" name="attr_iniphys_base" value="4" placeholder="4" title="@{iniphys_base}" /></div>
                              <div class="table-cell"><input class="smallinput" type="number" name="attr_iniphys_modifier" value="0" placeholder="0"/></div>
                              <div class="table-cell"><input class="smallinput" type="number" name="attr_iniphys_statusmodifier" readonly value="0" placeholder="0"/></div>
                              <div class="table-cell"><input class="smallinput last" type="number" name="attr_display_iniphys" value="4" placeholder="4" readonly/></div>
                              <div class="table-cell"></div>
                              <div class="table-cell">
                                  <button class="iconbutton70" type="roll" name="roll_iniphys" value="@{gm_toggle} &{template:initiative}{{mainattribute=^{iniphys}}}{{wilddieprop=[[@{wilddieprop}d6]]}}<%- include('dicetemplateini.ejs', {pool: "(@{display_iniphys}+@{use_wounds}+@{sustain_malus})+@{display_inidice}"}); %>">
                                      <span class="red" data-i18n="select_token">Tokenroll</span>
                              </button>
                              </div>
                          </div>
                          <div class="table-row">
                              <div class="table-cell">
                                  <span class="red" data-i18n="defense_soakstun">Schadenswiederstand(B)</span>
                              </div>
                              <div class="table-cell"><input class="smallinput first" type="number" name="attr_soakstun_base" readonly  title="@{body_base}+@{body_modifier}" min="1"> </div>
                              <div class="table-cell"><input class="smallinput" type="number" name="attr_soakstun_modifer" value="0" placeholder="0"  > </div>
                              <div class="table-cell"><input class="smallinput" type="number" name="attr_soakstun_statusmodifier" readonly value="0" placeholder="0"  > </div>
                              <div class="table-cell"><input class="smallinput" type="number" name="attr_display_soakstun" readonly=""></div>
                              <div class="table-cell"><input class="smallinput last" type="number" name="attr_damage_autoSoakstun" data-i18n-title="defense_autosoakshort" value="0"  min="0"></div>
                              <div class="table-cell">
                                  <button class="iconbutton" type="roll" name="roll_soakDamage" value="@{gm_toggle} &{template:roll}{{mainattribute=^{defense_soakstun}}}{{soaksuccess=[[@{damage_autoSoakstun}]]}}{{wilddieprop=[[@{wilddieprop}d6]]}}<%- include('dicetemplate.ejs', {pool: "(@{display_soakstun}+@{use_wounds}+@{sustain_malus}+@{allmod}+@{mod_roll}@{wilddiemod})"}); %>">
                                   </button>
                              </div>
                          </div>
                          <div class="table-row">
                              <div class="table-cell">
                                  <span class="red" data-i18n="defense_soak">Schadenswiederstand</span>
                              </div>
                              <div class="table-cell"><input class="smallinput first" type="number" name="attr_soak_base" readonly  title="@{body_base}+@{body_modifier}" min="1"> </div>
                              <div class="table-cell"><input class="smallinput" type="number" name="attr_soak_modifer" value="0" placeholder="0"  > </div>
                              <div class="table-cell"><input class="smallinput" type="number" name="attr_soak_statusmodifier" readonly value="0" placeholder="0"  > </div>
                              <div class="table-cell"><input class="smallinput" type="number" name="attr_display_soak" readonly=""></div>
                              <div class="table-cell"><input class="smallinput last" type="number" name="attr_damage_autoSoak" data-i18n-title="defense_autosoakshort" value="0"  min="0"></div>
                              <div class="table-cell">
                                  <button class="iconbutton" type="roll" name="roll_soakDamage" value="@{gm_toggle} &{template:roll}{{mainattribute=^{soak}}}{{soaksuccess=[[@{damage_autoSoak}]]}}{{wilddieprop=[[@{wilddieprop}d6]]}}<%- include('dicetemplate.ejs', {pool: "(@{display_soak}+@{use_wounds}+@{sustain_malus}+@{allmod}+@{mod_roll}@{wilddiemod})"}); %>">
                                   </button>
                              </div>
                              
                          </div>
                          <div class="table-row">
                              <div class="table-cell">
                                  <span class="red" data-i18n="composure">Selbstbeherrschung</span>
                              </div>
                              <div class="table-cell"><input class="smallinput first" type="number" name="attr_composure_base" value="4" placeholder="4" title="@{composure_base}" /></div>
                              <div class="table-cell"><input class="smallinput" type="number" name="attr_composure_modifier" value="0" placeholder="0"/></div>
                              <div class="table-cell"><input class="smallinput" type="number" name="attr_composure_statusmodifier" readonly value="0" placeholder="0"/></div>
                              <div class="table-cell"><input class="smallinput last" type="number" name="attr_display_composure" value="4" placeholder="4" readonly/></div>
                              <div class="table-cell"></div>
                              <div class="table-cell">
                                      <button class="iconbutton70" type="roll" name="roll_composure" value="@{gm_toggle} &{template:roll}{{mainattribute=^{composure}}}{{wilddieprop=[[@{wilddieprop}d6]]}}<%- include('dicetemplate.ejs', {pool: "(@{display_composure}+@{use_wounds}+@{sustain_malus}+@{allmod}+@{mod_roll}@{wilddiemod})"}); %>">
                                          <span class="red" data-i18n="cha_wil">CHA + WIL</span>
                                      </button>
                              
                              </div>
                          </div>
                          
                      </div>
                      
                  </div>
              </div>
          <!--EndINi-->

      
          
          </div>
      </div>
      <div class="sectionheader">
          <label>
              <input class="toggle-hide" name="attr_cs_hide" type="checkbox" value="1"/>
              <h4><span data-i18n="combat_skills">Kampffertigkeiten</span></h4>
          </label>
      </div>
       <input class="toggle-hide" name="attr_cs_hide" type="checkbox" value="1"/>
       <div class="togglesection">
          <div class="innertable">
              <div class="table-row">
                  <div class="rightalign mr--topgeg10">
                      <label >
                      <input  name="attr_config_skill_filter" type="checkbox" value="1"/>
                      <span class="red" data-i18n="setskillsfilter">setskillsfilter</span>
                      </label>
                  </div>
                 
              </div>
          </div>
          <div class="flexcontainer flex--warp">
            <div class="flex-table">
                
                <input class="filteredit hidden" name="attr_config_skill_filter" type="checkbox" value="1"/>
              
                <%- include('skillshort.ejs', {name: "firearms",category:"attack",selected:"agility"}); %>
                <%- include('skillshort.ejs', {name: "melee",category:"attack",selected:"agility"}); %>
                <%- include('skillcustomshort.ejs', {name: "exoticweapon1",category:"attack",selected:"agility"}); %>
                <%- include('skillcustomshort.ejs', {name: "exoticweapon2",category:"attack",selected:"agility"}); %>
              
                
            </div>
            <div class="flex-table">
                
                <input class="filteredit hidden" name="attr_config_skill_filter" type="checkbox" value="1"/>
                <%- include('skillshort.ejs', {name: "athletics",category:"attack",selected:"agility"}); %>
               
                <%- include('skillshort.ejs', {name: "perception",category:"attack",selected:"intuition"}); %>
                
            </div>
         </div>
      </div>
  <!--Meeleweapons-->
  <div class="sectionheader">
      <label>
          <input class="toggle-hide" name="attr_meeleweapon_hide" type="checkbox" value="1" checked/>
          <h4><span data-i18n="close_combat_weapons">Nahkampfwaffen</span></h4>
      </label>
  </div>
   <input class="toggle-hide" name="attr_meeleweapon_hide" type="checkbox" value="1"  checked />
   <div class="togglesection">
      <fieldset class="repeating_meleeweapons">
      <select class="meleetypedropdown" name="attr_mwskill">
          <option value="exotic" data-i18n="exotic">Exotische</option>
          <option value="unarmed" data-i18n="unarmed">Waffenlos</option>
          <option value="blades" data-i18n="blades">Klingen</option>
          <option value="clubs" data-i18n="clubs">Knüppel</option>
      </select>
      <input class="weaponname" type="text" name="attr_melee_name" /><br>
      <div class="hidebycomplexdamage">
          <div class="melee-textbox-medium"><span data-i18n="damage_title">Schaden:</span></div>
      </div>
      <div class="melee-textbox-small">
          <input class="smallinput first" type="number" name="attr_meleeweapondamage" value="2" placeholder="2" title="@{melee_damage_base}" min="1" />
      </div>
      <div class="melee-textbox-large"><span data-i18n="damage_type_title">Schadensart:</span></div>
      <div class="melee-textbox-small">
          <select class="damagetypedropdown" name="attr_mwtype">
              <option value="phys" data-i18n="phys_short_shifted">körperlich</option>
              <option value="stun" data-i18n="stun_short_shifted">geistig</option>
              <option value="shock" data-i18n="shock_short_shifted">geistig(e)</option>
              <option value="unown" data-i18n="unown_shifted">andere</option>
          </select>
      </div>
      <div class="melee-textbox-medium"><span data-i18n="dice_pool_title">Pool:</span></div>
      <div class="melee-textbox-small">
          <input class="smallinput first" type="number" name="attr_melee_attack_pool" value="" placeholder="2" title="@{melee_damage_base}" min="1" />
      </div>
      <div class="melee-textbox-large"><span data-i18n="weapon_attack_value_title">Angriffswert:</span></div>
      <div class="melee-textbox-small">
        <input class="smallinput" type="number" name="attr_melee_attack_rating" value="8" placeholder="8" title="@{melee_attack_rating}" min="1" />
      </div>
      <div class="melee-rollbox">
          <span class="tinyspacer">&nbsp;</span>
          <input class="toggle-hide-not" name="attr_meele_wilddie_toggle" type="checkbox" value="1"/>
          <input class="hidden" name="attr_wilddiemodmw" type="text" value="+0"/>
          <input class="hidden" name="attr_wilddiepropmw" type="text" value="0"/>
          
          <span class="tinyspacer">&nbsp;</span>
          <span class="red" data-i18n="use_wilddie">Schicksalswürfel verwenden?</span>
              <button class="longbutton" type="roll" name="roll_meleeweapon" value="@{gm_toggle} &{template:roll}{{mainattribute=^{skill_melee}}}{{specialisation=^{@{mwskill}}}}{{weaponname=@{melee_name}}}{{attackrating=[[@{melee_attack_rating}]]}}{{damage=[[@{meleeweapondamage}]]}}{{damagetype=^{@{mwtype}}}}{{wilddieprop=[[@{wilddiepropmw}d6]]}}<%- include('dicetemplate.ejs', {pool: "(@{melee_attack_pool}+@{use_wounds}+@{sustain_malus}+@{allmod}+@{mod_roll}@{wilddiemodmw})"}); %>">
                  <span class="red" data-i18n="attackroll">Angriffswurf</span>
              </button>
      </div>
      </fieldset>
   </div>
   <div class="sectionheader">
      <label>
          <input class="toggle-hide" name="attr_rangeweapon_hide" type="checkbox" value="1" checked/>
          <h4><span data-i18n="ranged_weapons">Fernkampfwaffen</span></h4>
      </label>
  </div>
   <input class="toggle-hide" name="attr_rangeweapon_hide" type="checkbox" value="1" checked />
   <div class="togglesection">
      <fieldset class="repeating_rangeweapons">
          <input class="toggle-hide" name="attr_collapse_rangeweapon" type="checkbox" value="1"/>
          <div class="rangeWeapon">
              <label>
                  <input class="toggle-hide" name="attr_collapse_rangeweapon" type="checkbox" value="1"/>
                  <h4 class="invert" data-i18n-title="expandcollapse"><span >&nbsp;</span></h4>
              </label>
              <select class="rangetypedropdown" name="attr_rwskill">
                  <option value="exotic" data-i18n="exotic">Exotische</option>
                  <option value="projectile" data-i18n="projectile">Projektilwaffen</option>
                  <option value="thrown" data-i18n="thrown">Wurwaffen</option>
                  <option value="taser" data-i18n="taser">Taser</option>
                  <option value="holdout" data-i18n="holdout">Holdout-Pistolen</option>
                  <option value="lightpistol" data-i18n="lightpistol">Leichte Pistolen</option>
                  <option value="heavypistol" data-i18n="heavypistol">Schwere Pistolen</option>
                  <option value="machinepistol" data-i18n="machinepistol">Automatikpistolen</option>
                  <option value="submachinegun" data-i18n="submachinegun">Maschinenpistolen</option>
                  <option value="shotgun" data-i18n="shotgun">Schrotflinten</option>
                  <option value="assaultrifle" data-i18n="assaultrifle">Sturmgewehre</option>
                  <option value="carbine" data-i18n="carbine">Karabiner</option>
                  <option value="sportrifle" data-i18n="sportrifle">Sportgewehre</option>
                  <option value="sniperrifle" data-i18n="sniperrifle">Scharfschützengewehre</option>
                  <option value="machinegun" data-i18n="machinegun">Maschinengewehre</option>
                  <option value="assaultcannon" data-i18n="assaultcannon">Sturmkanonen</option>
              </select>
              <input class="weaponname" type="text" name="attr_range_name" value="Name" />
              <div class="range-textbox-small"><span data-i18n="dice_pool_title">Pool:</span></div>
              <div class="range-textbox-small">
                  <input class="smallinput first last" type="number" name="attr_range_attack_pool" value="" placeholder="2" title="@{range_damage_base}" min="1" />
               
                 
              </div>
              <div class="range-textbox-small">
              <input class="smallinput first last" type="number" name="attr_range_attack_pooltotal" value="" placeholder="2" data-i18n-title="total" min="1"  readonly/>
              </div>
              <div class="range-textbox-small">
                  <button class="iconbutton" type="roll" name="rangeweapon" value="@{gm_toggle} &{template:roll}{{mainattribute=^{skill_range}}}{{specialisation=^{@{rwskill}}}}{{weaponname=@{range_name}}}{{range=^{range_vclose}}}{{firemode=^{@{firemode_name}}}}{{attackrating=[[@{attack_rating_vclose}+@{arvclosemod}+@{firemode_ar_mod}]]}}{{damage=[[@{damage_vclose}+@{damagevclosemod}+@{firemode_dam_mod}]]}}{{damagetype=^{@{rwtype}}}}{{wilddieprop=[[@{wilddieproprw}d6]]}}<%- include('dicetemplate.ejs', {pool: "(@{range_attack_pool}+@{use_wounds}+@{sustain_malus}+@{allmod}+@{mod_roll}@{wilddiemodrw})"}); %>">
                      
                  </button>
              </div>
             
                  <input type="checkbox" name="attr_smartgun" value="1" />
                  <span class="red pd--right" data-i18n="smartgun">Smartgun</span>
             
             
              <input class="toggle-hide-complex-damage" name="attr_rangehidecomplexdamage" type="checkbox" value="1"/>
              <span class="red pd--right" data-i18n="complex_damage_options">komplexer Schaden</span>
             
              <input class="toggle-hide-complex-ammo" name="attr_rangehidecomplexammo" type="checkbox" value="1"/>
              <span class="red" data-i18n="complex_ammo_options">komplexe Munition</span>
              
              

              <input class="toggle-hide toggle-hide-both" name="attr_rangehideboth" type="checkbox" value="1"/>
              <div class="hidebyboth">
                  <br>
              </div>
              <div class="hidebycomplexdamage inline">
                  <div class="melee-textbox-medium"><span data-i18n="damage_title">Schaden:</span></div>
                  <div class="range-textbox-small">
                      <input class="smallinput first last" type="number" name="attr_rangeweapondamage" value="2" placeholder="2" title="@{range_damage_base}" min="1" />
                  </div>
              </div>
              <input class="toggle-hide toggle-hide-both" name="attr_rangehideboth" type="checkbox" value="1"/>
              <div class="hidebyboth">
                  <div class="melee-textbox-large"><span data-i18n="damage_type_title">Schadensart:</span></div>
                  <div class="range-textbox-small">
                      <select class="damagetypedropdown" name="attr_rwtype">
                          <option value="phys" data-i18n="phys_short_shifted">körperlich</option>
                          <option value="stun" data-i18n="stun_short_shifted">geistig</option>
                          <option value="shock" data-i18n="shock_short_shifted">geistig(e)</option>
                          <option value="unown" data-i18n="unown_shifted">andere</option>
                      </select>
                  </div>
              </div>
              <div class="hidebycomplexammo inline">
                  <div class="range-textbox-colossal"><span data-i18n="mods_ammo_title">Schadensmodifikator (Munition)</span></div>
                  <div class="range-textbox-small">
                      <input class="smallinput first last" type="number" name="attr_ammodamagemodifier" value="0" placeholder="0" />
                  </div>
              </div>
              <div class="hidebycomplexammo inline">
                  <div class="range-textbox-colossal"><span data-i18n="attack_value_mod_ammo_title">Angriffswertmodifikator (Munition)</span></div>
                  <div class="range-textbox-small">
                      <input class="smallinput first last" type="number" name="attr_ammoarmodifier" value="0" placeholder="0" />
                  </div>
              </div>
              <br>

              <div class="range-textbox-medium"><span data-i18n="ammo_title">Munition:</span></div>
              <select class="ammotypedropdown" name="attr_ammotype">
                  <option value="apds" data-i18n="ammo_apds">APDS-Munition</option>
                  <option value="explosive" data-i18n="ammo_explosive">Explosivmunition</option>
                  <option value="flechette" data-i18n="ammo_flechette">Flechettemunition</option>
                  <option value="gel" data-i18n="ammo_gel">Gelmunition</option>
                  <option value="precision" data-i18n="ammo_precision">Präzisionsmunition</option>
                  <option value="revo" data-i18n="ammo_revo">REVO-Munition</option>
                  <option value="selfmade" data-i18n="ammo_selfmade">selbst gemachte Munitiion</option>
                  <option value="shocker" data-i18n="ammo_shocker">Schockermunition</option>
                  <option value="standard" data-i18n="ammo_standard">Standardmunition</option>
                  <option value="standard_ac" data-i18n="ammo_standardac">Sturmkanonenmunition</option>
              </select>
              <div class="range-textbox-large" >
                  <input class="smallinput first" type="number" name="attr_current_ammo" data-i18n-title="ammo_clip" value="0" placeholder="0" /> 
                  <input class="smallinput" type="number" name="attr_maximum_ammo" data-i18n-title="ammo_clipsize"value="15" placeholder="15"/>
                  <input class="smallinput last" type="number" name="attr_total_ammo" data-i18n-title="ammo_total" value="30" placeholder="30"/>
              </div>
              <select class="reloadtypdropdown" name="attr_reloadtyp">
                  <option value="g" data-i18n="reload_g">Gurtmunition</option>
                  <option value="i" data-i18n="reload_i">internes Magazin</option>
                  <option value="k" data-i18n="reload_k">Klapplademechanismus</option>
                  <option value="s" data-i18n="reload_s">Stangenmagazin</option>
                  <option value="t" data-i18n="reload_t">Trommelmagazin</option>
                  <option value="tr" data-i18n="reload_tr">Trommel, aufklappbar</option>
                  <option value="v" data-i18n="reload_v">Vorderlader</option>
              </select>
              <div class="range-textbox-colossal">
                  <button class="iconbutton50" type="action" name="act_reload" data-i18n="reload">
                      Nachladen
                  </button>
                  <button class="iconbutton50" type="action" name="act_shoot" data-i18n="shoot">
                      Feuern
                  </button>
              </div>
              <div class="unhidebyboth">
                  <div class="smallspacer">&nbsp;</div>
                  <div class="range-textbox-medium"><span data-i18n="damage_type_title">Schadensart:</span></div>
                  <div class="range-textbox-small">
                      <select class="damagetypedropdown" name="attr_rwtype">
                          <option value="phys" data-i18n="phys_short_shifted">körperlich</option>
                          <option value="stun" data-i18n="stun_short_shifted">geistig</option>
                          <option value="shock" data-i18n="shock_short_shifted">geistig(e)</option>
                          <option value="unown" data-i18n="unown_shifted">andere</option>
                      </select>
                  </div>
              </div>
              <br>
              <div class="range-textbox-huge"><span data-i18n="available_firemods">verfügbare Feuermodi</span></div>
              <select class="firemodedropdown" name="attr_firemode">
                  <option value="0" data-i18n="option_em">nur EM</option>
                  <option value="1" data-i18n="option_hm">HM</option>
                  <option value="2" data-i18n="option_sm">SM</option>
                  <option value="3" data-i18n="option_hmsm">HM/SM</option>
                  <option value="4" data-i18n="option_am">AM</option>
                  <option value="5" data-i18n="option_hmam">HM/AM</option>
                  <option value="6" data-i18n="option_smam">SM/AM</option>
                  <option value="7" data-i18n="option_hmsmam">HM/SM/AM</option>
              </select>
              <input class="hide smallinput" type="number" name="attr_firemode_ar_mod" value="0" placeholder="0" title="@{firemode_ar_mod}" min="-10"  />
              <input class="hide smallinput" type="number" name="attr_firemode_dam_mod" value="0" placeholder="0" title="@{firemode_dam_mod}" min="-10"  />
              <div class="range-textbox-huge">Feuermodus wählen:</div>
              <div class="range-textbox-huge"><span data-i18n="firemode_choice">Feuermodus wählen:</span></div>
              <!--<input class="toggle-hide-em" name="attr_em_visibility" type="checkbox" value="1"/>-->
              <div class="radio-em-visible">
                  <span class="em-visible"></span>
                  <span class="em-invisible">
                      <input type="checkbox" id="EM" name="attr_firemodeem" value="1" checked/>
                      <span class="red" data-i8n="em">EM</span>
                  </span>
              </div>
              <input class="toggle-hide-hm" name="attr_hm_visibility" type="checkbox" value="1"/>
              <div class="radio-hm-visible">
                  <span class="hm-visible"></span>
                  <span class="hm-invisible">
                      <input type="checkbox" name="attr_firemodehm" value="1" />
                      <span class="red" data-i18n="hm">HM</span>
                  </span>
              </div>
              <input class="toggle-hide-sm" name="attr_sm_visibility" type="checkbox" value="1"/>
              <div class="radio-sm-visible">
                  <span class="sm-visible"></span>
                  <span class="sm-invisible">
                      <input type="checkbox" name="attr_firemodesm" value="1" />
                      <span class="red" data-i18n="sm">SM</span>
                  </span>
              </div>
              <input class="toggle-hide-am" name="attr_am_visibility" type="checkbox" value="1"/>
              <div class="radio-am-visible">
                  <span class="am-visible"></span>
                  <span class="am-invisible">
                      <input type="checkbox" name="attr_firemodeam" value="1" />
                      <span class="red" data-i18n="am">AM</span>
                  </span>
              </div>
              <div class="box-wilddie-ranged">
                  <input class="toggle-hide-not" name="attr_wilddie_toggle" type="checkbox" value="1"/>
                  <span class="red" data-i18n="use_wilddie_short">Schicksalswürfel</span>
                  <input class="hidden" name="attr_wilddiemodrw" type="text" value="+0"/>
                  <input class="hidden" name="attr_wilddieproprw" type="text" value="0"/>
              </div>
              <input class="toggle-hide" type="text" name="attr_firemode_name" value="firemode_em" />
              <div class="range-table">
                  <div class="range-ranges-row">
                      <div class="range-textbox-huge">
                          <span data-i18n="range_title">Reichweiten (Meter)</span>
                      </div>
                      <div class="range-textbox-huge-center">
                          0 - 3
                      </div>
                      <div class="range-textbox-huge-center">
                          4 - 50
                      </div>
                      <div class="range-textbox-huge-center">
                          51 - 250
                      </div>
                      <div class="range-textbox-huge-center">
                          250 - 500
                      </div>
                      <div class="range-textbox-huge-center">
                          501+
                      </div>
                  </div>
                  <div class="range-ranges-row">
                      <div class="range-textbox-huge">
                          <span data-i18n="range_attack_value_title">Angriffswert</span>
                      </div>
                      <div class="range-textbox-huge-center">
                          <input class="smallinput first last" type="number" name="attr_attack_rating_vclose" value="0" placeholder="0"/>
                      </div>
                      <div class="range-textbox-huge-center">
                          <input class="smallinput first last" type="number" name="attr_attack_rating_close" value="0" placeholder="0"/>
                      </div>
                      <div class="range-textbox-huge-center">
                          <input class="smallinput first last" type="number" name="attr_attack_rating_medium" value="0" placeholder="0"/>
                      </div>
                      <div class="range-textbox-huge-center">
                          <input class="smallinput first last" type="number" name="attr_attack_rating_long" value="0" placeholder="0"/>
                      </div>
                      <div class="range-textbox-huge-center">
                          <input class="smallinput first last" type="number" name="attr_attack_rating_vlong" value="0" placeholder="0"/>
                      </div>
                  </div>
                  <input class="toggle-hide toggle-hide-complex-ammo" name="attr_rangehidecomplexammo" type="checkbox" value="1"/>
                  <div class="range-ranges-row-ammo">
                      <div class="range-textbox-huge">
                          > <span data-i18n="ammo_mods">Modifikator (Munition)</span>
                      </div>
                      <div class="range-textbox-huge-center">
                          <input class="smallinput first last" type="number" name="attr_arvclosemod" value="0" placeholder="0"/>
                      </div>
                      <div class="range-textbox-huge-center">
                          <input class="smallinput first last" type="number" name="attr_arclosemod" value="0" placeholder="0"/>
                      </div>
                      <div class="range-textbox-huge-center">
                          <input class="smallinput first last" type="number" name="attr_armediummod" value="0" placeholder="0"/>
                      </div>
                      <div class="range-textbox-huge-center">
                          <input class="smallinput first last" type="number" name="attr_arlongmod" value="0" placeholder="0"/>
                      </div>
                      <div class="range-textbox-huge-center">
                          <input class="smallinput first last" type="number" name="attr_arvlongmod" value="0" placeholder="0"/>
                      </div>
                  </div>
                  <input class="toggle-hide  toggle-hide-complex-damage" name="attr_rangehidecomplexdamage" type="checkbox" value="1"/>
                  <div class="range-ranges-row-damage">
                      <div class="range-textbox-huge">
                          <span data-i18n="damage">Schaden</span>
                      </div>
                      <div class="range-textbox-huge-center">
                          <input class="smallinput first last" type="number" name="attr_damage_vclose" value="0" placeholder="0"/>
                      </div>
                      <div class="range-textbox-huge-center">
                          <input class="smallinput first last" type="number" name="attr_damage_close" value="0" placeholder="0"/>
                      </div>
                      <div class="range-textbox-huge-center">
                          <input class="smallinput first last" type="number" name="attr_damage_medium" value="0" placeholder="0"/>
                      </div>
                      <div class="range-textbox-huge-center">
                          <input class="smallinput first last" type="number" name="attr_damage_long" value="0" placeholder="0"/>
                      </div>
                      <div class="range-textbox-huge-center">
                          <input class="smallinput first last" type="number" name="attr_damage_vlong" value="0" placeholder="0"/>
                      </div>
                  </div>
                  <div class="range-ranges-row-ammo range-ranges-row-damage">
                      <div class="range-textbox-huge">
                          > <span data-i18n="ammo_damage">Schaden (Munition)</span>
                      </div>
                      <div class="range-textbox-huge-center">
                          <input class="smallinput first last" type="number" name="attr_damagevclosemod" value="0" placeholder="0"/>
                      </div>
                      <div class="range-textbox-huge-center">
                          <input class="smallinput first last" type="number" name="attr_damageclosemod" value="0" placeholder="0"/>
                      </div>
                      <div class="range-textbox-huge-center">
                          <input class="smallinpu first lastt" type="number" name="attr_damagemediummod" value="0" placeholder="0"/>
                      </div>
                      <div class="range-textbox-huge-center">
                          <input class="smallinput first last" type="number" name="attr_damagelongmod" value="0" placeholder="0"/>
                      </div>
                      <div class="range-textbox-huge-center">
                          <input class="smallinput first last" type="number" name="attr_damagevlongmod" value="0" placeholder="0"/>
                      </div>
                  </div>
                
                  <div class="range-ranges-row">
                      <div class="range-textbox-huge">
                          <span data-i18n="attackroll">Angriffswurf</span>
                      </div>
                      <div class="range-textbox-huge-center">
                          <input class="toggle-hide" name="attr_wilddie_toggle" type="checkbox" value="1"/>
                      
                              <button class="iconbutton50" type="roll" name="rangeweapon" value="@{gm_toggle} &{template:roll}{{mainattribute=^{skill_range}}}{{specialisation=^{@{rwskill}}}}{{weaponname=@{range_name}}}{{range=^{range_vclose}}}{{firemode=^{@{firemode_name}}}}{{attackrating=[[@{attack_rating_vclose}+@{arvclosemod}+@{firemode_ar_mod}]]}}{{damage=[[@{damage_vclose}+@{damagevclosemod}+@{firemode_dam_mod}]]}}{{damagetype=^{@{rwtype}}}}{{wilddieprop=[[@{wilddieproprw}d6]]}}<%- include('dicetemplate.ejs', {pool: "(@{range_attack_pooltotal}+@{use_wounds}+@{sustain_malus}+@{allmod}+@{mod_roll}@{wilddiemodrw})"}); %>{{description=^{ammo_@{ammotype}}}}">
                                  <span class="red" data-i18n="attackroll">sehr nah</span>
                              </button>
                          
                      </div>
                      <div class="range-textbox-huge-center">
                          <input class="toggle-hide" name="attr_wilddie_toggle" type="checkbox" value="1"/>
                              <button class="iconbutton50" type="roll" name="rangeweapon" value="@{gm_toggle} &{template:roll}{{mainattribute=^{skill_range}}}{{specialisation=^{@{rwskill}}}}{{weaponname=@{range_name}}}{{range=^{range_close}}}{{firemode=^{@{firemode_name}}}}{{attackrating=[[@{attack_rating_close}+@{arclosemod}+@{firemode_ar_mod}]]}}{{damage=[[@{damage_close}+@{damageclosemod}+@{firemode_dam_mod}]]}}{{damagetype=^{@{rwtype}}}}{{wilddieprop=[[@{wilddieproprw}d6]]}}<%- include('dicetemplate.ejs', {pool: "(@{range_attack_pooltotal}+@{use_wounds}+@{sustain_malus}+@{allmod}+@{mod_roll}@{wilddiemodrw})"}); %>">
                                  <span class="red" data-i18n="attackroll">sehr nah</span>
                              </button>
                      </div>
                      <div class="range-textbox-huge-center">
                              <button class="iconbutton50" type="roll" name="rangeweapon" value="@{gm_toggle} &{template:roll}{{mainattribute=^{skill_range}}}{{specialisation=^{@{rwskill}}}}{{weaponname=@{range_name}}}{{range=^{range_medium}}}{{firemode=^{@{firemode_name}}}}{{attackrating=[[@{attack_rating_medium}+@{armediummod}+@{firemode_ar_mod}]]}}{{damage=[[@{damage_medium}+@{damagemediummod}+@{firemode_dam_mod}]]}}{{damagetype=^{@{rwtype}}}}{{wilddieprop=[[@{wilddieproprw}d6]]}}<%- include('dicetemplate.ejs', {pool: "(@{range_attack_pooltotal}+@{use_wounds}+@{sustain_malus}+@{allmod}+@{mod_roll}@{wilddiemodrw})"}); %>">
                                  <span class="red" data-i18n="attackroll">sehr nah</span>
                              </button>
                      </div>
                      <div class="range-textbox-huge-center">
                          <button class="iconbutton50" type="roll" name="rangeweapon" value="@{gm_toggle} &{template:roll}{{mainattribute=^{skill_range}}}{{specialisation=^{@{rwskill}}}}{{weaponname=@{range_name}}}{{range=^{range_long}}}{{firemode=^{@{firemode_name}}}}{{attackrating=[[@{attack_rating_long}+@{arlongmod}+@{firemode_ar_mod}]]}}{{damage=[[@{damage_long}+@{damagelongmod}+@{firemode_dam_mod}]]}}{{damagetype=^{@{rwtype}}}}{{wilddieprop=[[@{wilddieproprw}d6]]}}<%- include('dicetemplate.ejs', {pool: "(@{range_attack_pooltotal}+@{use_wounds}+@{sustain_malus}+@{allmod}+@{mod_roll}@{wilddiemodrw})"}); %>">
                                  <span class="red" data-i18n="attackroll">sehr nah</span>
                              </button>
                          
                      </div>
                      <div class="range-textbox-huge-center">
                          <button class="iconbutton50" type="roll" name="rangeweapon" value="@{gm_toggle} &{template:roll}{{mainattribute=^{skill_range}}}{{specialisation=^{@{rwskill}}}}{{weaponname=@{range_name}}}{{range=^{range_vlong}}}{{firemode=^{@{firemode_name}}}}{{attackrating=[[@{attack_rating_vlong}+@{arvlongmod}+@{firemode_ar_mod}]]}}{{damage=[[@{damage_vlong}+@{damagevlongmod}+@{firemode_dam_mod}]]}}{{damagetype=^{@{rwtype}}}}{{wilddieprop=[[@{wilddieproprw}d6]]}}<%- include('dicetemplate.ejs', {pool: "(@{range_attack_pool}+@{use_wounds}+@{sustain_malus}+@{allmod}+@{mod_roll}@{wilddiemodrw})"}); %>">
                                  <span class="red" data-i18n="attackroll">sehr nah</span>
                          </button>
                      </div>
                  </div>
              </div>
      </div>
      </fieldset>
  </div>  
  <%- include("section.ejs",{title:"combat_granates",template:"combat_granates.ejs",hideby:"combat_granates"}); %>
</div>