<div class="header" >
    <span > <label class="switch" data-i18n-title="longheader"><input name="attr_header_toggle" type="checkbox" value="1"/>            <span class="slider">&nbsp;</span>        </label><span class="slider-label pd--right" data-i18n="longheader">Langer Header</span></span>
    <span> <label class="switch" data-i18n-title="darkmode"><input  name="attr_style_toggle" type="checkbox" value="1"/>            <span class="slider">&nbsp;</span>        </label><span class="slider-label pd--right" data-i18n="darkmode">darkmode</span></span>
    <span>  <label class="switch" data-i18n-title="darkmode"><input  name="attr_stylelarge_toggle" type="checkbox" value="1"/>            <span class="slider">&nbsp;</span>        </label><span class="slider-label" data-i18n="lagemode">lagemode</span></span>
 </div>

 <input class="toggle-hide-invert" style="display: none;" name="attr_header_toggle" type="checkbox" value="1"/>
 <div class="header togglesection">
     
     <div class="innertable">
         <div class="table-row">
             <div class="table-cell-threequater">
                 <div class="innertable">
                     <div class="header-row pd--bottom">
                         <div class="header-fullcell">
                             <h4><span data-i18n="title_condition_monitor">Zustandsmonitor und Wundabzüge</span></h4>
                         </div>
                     </div>
                     <div class="table-row">
                         <div class="table-row"> <!-- erneut innere Tabelle für Zentrierung erforderlich -->
                             <div class="header-centered">
                                 <div class="header-row">
                                     <div class="header-monitortitlecell">
                                         <h6><span data-i18n="title_stun">geistig</span></h6>
                                     
                                     </div>
                                     <div class="table-cell">
                                         <input class="smallinput first" type="number" name="attr_wounds_stun_base" value="0" placeholder="0" title="wounds_stun_base"  readonly/>
                                     </div>
                                     <div class="header-monitorcell">
                                     <input class="toggle-hide" name="attr_stun_1_hide" type="checkbox" value="1"/>
                                     <div class="inline conditionmonitorbutton">
                                         <input type="hidden" class="direction" name="attr_stun_1" value="unchecked" />
                                         <button class="healthbutton-startofblock" type="action" name="act_stun_toggle_1">
                                             <span class="checked">✗</span>
                                         </button>
                                     </div>
                                     <input class="toggle-hide" name="attr_stun_2_hide" type="checkbox" value="1"/>
                                     <div class="inline conditionmonitorbutton">
                                         <input type="hidden" class="direction" name="attr_stun_2" value="unchecked" />
                                         <button class="healthbutton" type="action" name="act_stun_toggle_2">
                                             <span class="checked">✗</span>
                                         </button>
                                     </div>
                                     <input class="toggle-hide" name="attr_stun_3_hide" type="checkbox" value="1"/>
                                     <div class="inline conditionmonitorbutton pd--right">
                                         <input type="hidden" class="direction" name="attr_stun_3" value="unchecked" />
                                         <button class="healthbutton" type="action" name="act_stun_toggle_3">
                                             <span class="checked">✗</span>
                                         </button>
                                     </div>
                             
                                     <input class="toggle-hide" name="attr_stun_4_hide" type="checkbox" value="1"/>
                                     <div class="inline conditionmonitorbutton">
                                         <input type="hidden" class="direction" name="attr_stun_4" value="unchecked" />
                                         <button class="healthbutton-startofblock" type="action" name="act_stun_toggle_4">
                                             <span class="checked">✗</span>
                                         </button>
                                     </div>
                                     <input class="toggle-hide" name="attr_stun_5_hide" type="checkbox" value="1"/>
                                     <div class="inline conditionmonitorbutton">
                                         <input type="hidden" class="direction" name="attr_stun_5" value="unchecked" />
                                         <button class="healthbutton" type="action" name="act_stun_toggle_5">
                                             <span class="checked">✗</span>
                                             
                                         </button>
                                     </div>
                                     <input class="toggle-hide" name="attr_stun_6_hide" type="checkbox" value="1"/>
                                     <div class="inline conditionmonitorbutton pd--right">
                                         <input type="hidden" class="direction" name="attr_stun_6" value="unchecked" />
                                         <button class="healthbutton" type="action" name="act_stun_toggle_6">
                                             <span class="checked">✗</span>
                                             
                                         </button>
                                     </div>
                                 
                                     <input class="toggle-hide" name="attr_stun_7_hide" type="checkbox" value="1"/>
                                     <div class="inline conditionmonitorbutton">
                                         <input type="hidden" class="direction" name="attr_stun_7" value="unchecked" />
                                         <button class="healthbutton-startofblock" type="action" name="act_stun_toggle_7">
                                             <span class="checked">✗</span>
                                         </button>
                                     </div>
                                     <input class="toggle-hide" name="attr_stun_8_hide" type="checkbox" value="1"/>
                                     <div class="inline conditionmonitorbutton">
                                         <input type="hidden" class="direction" name="attr_stun_8" value="checked" />
                                         <button class="healthbutton" type="action" name="act_stun_toggle_8">
                                             <span class="checked">✗</span>
                                         </button>
                                     </div>
                                     <input class="toggle-hide" name="attr_stun_9_hide" type="checkbox" value="1"/>
                                     <div class="inline conditionmonitorbutton  pd--right">
                                         <input type="hidden" class="direction" name="attr_stun_9" value="unchecked" />
                                         <button class="healthbutton" type="action" name="act_stun_toggle_9">
                                             <span class="checked">✗</span>
                                         </button><br>
                                     </div>
                                     <input class="toggle-hide" name="attr_stun_10_hide" type="checkbox" value="1"/>
                                     <div class="inline conditionmonitorbutton">
                                         <input type="hidden" class="direction" name="attr_stun_10" value="unchecked" />
                                         <button class="healthbutton-startofblock" type="action" name="act_stun_toggle_10">
                                             <span class="checked">✗</span>
                                         </button>
                                     </div>
                                     <input class="toggle-hide" name="attr_stun_11_hide" type="checkbox" value="1"/>
                                     <div class="inline conditionmonitorbutton">
                                         <input type="hidden" class="direction" name="attr_stun_11" value="unchecked" />
                                         <button class="healthbutton" type="action" name="act_stun_toggle_11">
                                             <span class="checked">✗</span>
                                         </button>
                                     </div>
                                     <input class="toggle-hide" name="attr_stun_12_hide" type="checkbox" value="1"/>
                                     <div class="inline conditionmonitorbutton  pd--right">
                                         <input type="hidden" class="direction" name="attr_stun_12" value="unchecked" />
                                         <button class="healthbutton" type="action" name="act_stun_toggle_12">
                                             <span class="checked">✗</span>
                                         </button><br>
                                     </div>
                             
                                     <input class="toggle-hide" name="attr_stun_13_hide" type="checkbox" value="1"/>
                                     <div class="inline conditionmonitorbutton">
                                         <input type="hidden" class="direction" name="attr_stun_13" value="unchecked" />
                                         <button class="healthbutton-startofblock" type="action" name="act_stun_toggle_13">
                                             <span class="checked">✗</span>
                                         </button>
                                     </div>
                                     <input class="toggle-hide" name="attr_stun_14_hide" type="checkbox" value="1"/>
                                     <div class="inline conditionmonitorbutton">
                                         <input type="hidden" class="direction" name="attr_stun_14" value="unchecked" />
                                         <button class="healthbutton" type="action" name="act_stun_toggle_14">
                                             <span class="checked">✗</span>
                                         </button>
                                     </div>
                                     <input class="toggle-hide" name="attr_stun_15_hide" type="checkbox" value="1"/>
                                     <div class="inline conditionmonitorbutton  pd--right">
                                         <input type="hidden" class="direction" name="attr_stun_15" value="unchecked" />
                                         <button class="healthbutton" type="action" name="act_stun_toggle_15">
                                             <span class="checked">✗</span>
                                         </button><br>
                                     </div>
                             
                                     <input class="toggle-hide" name="attr_stun_16_hide" type="checkbox" value="1"/>
                                     <div class="inline conditionmonitorbutton">
                                         <input type="hidden" class="direction" name="attr_stun_16" value="unchecked" />
                                         <button class="healthbutton-startofblock" type="action" name="act_stun_toggle_16">
                                             <span class="checked">✗</span>
                                         </button>
                                     </div>
                                     <input class="toggle-hide" name="attr_stun_17_hide" type="checkbox" value="1"/>
                                     <div class="inline conditionmonitorbutton">
                                         <input type="hidden" class="direction" name="attr_stun_17" value="unchecked" />
                                         <button class="healthbutton" type="action" name="act_stun_toggle_17">
                                             <span class="checked">✗</span>
                                         </button>
                                     </div>
                                     <input class="toggle-hide" name="attr_stun_18_hide" type="checkbox" value="1"/>
                                     <div class="inline conditionmonitorbutton">
                                         <input type="hidden" class="direction" name="attr_stun_18" value="unchecked" />
                                         <button class="healthbutton" type="action" name="act_stun_toggle_18">
                                             <span class="checked">✗</span>
                                         </button>
                                     </div>
                                 </div>
                                 </div>
                             </div>
                         </div>
                         
                         <div class="table-row">
                             <div class="header-centered">
                                 <div class="header-row">
                                     <div class="header-monitortitlecell">
                                         <h6><span data-i18n="title_physical">körperlich</span></h6>
                                             
                                         </div>
                                     <div class="table-cell">
                                         <input class="smallinput first" type="number" name="attr_wounds_phys_base" value="0" placeholder="0" title="wounds_phys_base"  readonly/>
                                     </div>
                                     <div class="header-monitorcell">
                                         <input class="toggle-hide" name="attr_phys_1_hide" type="checkbox" value="1"/>
                                         <div class="inline conditionmonitorbutton">
                                             <input type="hidden" class="direction" name="attr_phys_1" value="unchecked" />
                                             <button class="healthbutton-startofblock" type="action" name="act_phys_toggle_1">
                                                 <span class="checked">✗</span>
                                             </button>
                                         </div>
                                         <input class="toggle-hide" name="attr_phys_2_hide" type="checkbox" value="1"/>
                                         <div class="inline conditionmonitorbutton">
                                             <input type="hidden" class="direction" name="attr_phys_2" value="unchecked" />
                                             <button class="healthbutton" type="action" name="act_phys_toggle_2">
                                                 <span class="checked">✗</span>
                                             </button>
                                         </div>
                                         <input class="toggle-hide" name="attr_phys_3_hide" type="checkbox" value="1"/>
                                         <div class="inline conditionmonitorbutton pd--right">
                                             <input type="hidden" class="direction" name="attr_phys_3" value="unchecked" />
                                             <button class="healthbutton" type="action" name="act_phys_toggle_3">
                                                 <span class="checked">✗</span>
                                             </button>
                                         </div>
                                     
                                         <input class="toggle-hide" name="attr_phys_4_hide" type="checkbox" value="1"/>
                                         <div class="inline conditionmonitorbutton">
                                             <input type="hidden" class="direction" name="attr_phys_4" value="unchecked" />
                                             <button class="healthbutton-startofblock" type="action" name="act_phys_toggle_4">
                                                 <span class="checked">✗</span>
                                             </button>
                                         </div>
                                         <input class="toggle-hide" name="attr_phys_5_hide" type="checkbox" value="1"/>
                                         <div class="inline conditionmonitorbutton">
                                             <input type="hidden" class="direction" name="attr_phys_5" value="unchecked" />
                                             <button class="healthbutton" type="action" name="act_phys_toggle_5">
                                                 <span class="checked">✗</span>
                                             </button>
                                         </div>
                                         <input class="toggle-hide" name="attr_phys_6_hide" type="checkbox" value="1"/>
                                         <div class="inline conditionmonitorbutton  pd--right">
                                             <input type="hidden" class="direction" name="attr_phys_6" value="unchecked" />
                                             <button class="healthbutton" type="action" name="act_phys_toggle_6">
                                                 <span class="checked">✗</span>
                                             </button>
                                         </div>
                                 
                                         <input class="toggle-hide" name="attr_phys_7_hide" type="checkbox" value="1"/>
                                         <div class="inline conditionmonitorbutton">
                                             <input type="hidden" class="direction" name="attr_phys_7" value="unchecked" />
                                             <button class="healthbutton-startofblock" type="action" name="act_phys_toggle_7">
                                                 <span class="checked">✗</span>
                                             </button>
                                         </div>
                                         <input class="toggle-hide" name="attr_phys_8_hide" type="checkbox" value="1"/>
                                         <div class="inline conditionmonitorbutton">
                                             <input type="hidden" class="direction" name="attr_phys_8" value="unchecked" />
                                             <button class="healthbutton" type="action" name="act_phys_toggle_8">
                                                 <span class="checked">✗</span>
                                             </button>
                                         </div>
                                         <input class="toggle-hide" name="attr_phys_9_hide" type="checkbox" value="1"/>
                                         <div class="inline conditionmonitorbutton pd--right">
                                             <input type="hidden" class="direction" name="attr_phys_9" value="unchecked" />
                                             <button class="healthbutton" type="action" name="act_phys_toggle_9">
                                                 <span class="checked">✗</span>
                                             </button><br>
                                         </div>
                                 
                                         <input class="toggle-hide" name="attr_phys_10_hide" type="checkbox" value="1"/>
                                         <div class="inline conditionmonitorbutton">
                                             <input type="hidden" class="direction" name="attr_phys_10" value="unchecked" />
                                             <button class="healthbutton-startofblock" type="action" name="act_phys_toggle_10">
                                                 <span class="checked">✗</span>
                                             </button>
                                         </div>
                                         <input class="toggle-hide" name="attr_phys_11_hide" type="checkbox" value="1"/>
                                         <div class="inline conditionmonitorbutton">
                                             <input type="hidden" class="direction" name="attr_phys_11" value="unchecked" />
                                             <button class="healthbutton" type="action" name="act_phys_toggle_11">
                                                 <span class="checked">✗</span>
                                             </button>
                                         </div>
                                         <input class="toggle-hide" name="attr_phys_12_hide" type="checkbox" value="1"/>
                                         <div class="inline conditionmonitorbutton pd--right">
                                             <input type="hidden" class="direction" name="attr_phys_12" value="unchecked" />
                                             <button class="healthbutton" type="action" name="act_phys_toggle_12">
                                                 <span class="checked">✗</span>
                                             </button><br>
                                         </div>
                                 
                                         <input class="toggle-hide" name="attr_phys_13_hide" type="checkbox" value="1"/>
                                         <div class="inline conditionmonitorbutton">
                                             <input type="hidden" class="direction" name="attr_phys_13" value="unchecked" />
                                             <button class="healthbutton-startofblock" type="action" name="act_phys_toggle_13">
                                                 <span class="checked">✗</span>
                                             </button>
                                         </div>
                                         <input class="toggle-hide" name="attr_phys_14_hide" type="checkbox" value="1"/>
                                         <div class="inline conditionmonitorbutton">
                                             <input type="hidden" class="direction" name="attr_phys_14" value="unchecked" />
                                             <button class="healthbutton" type="action" name="act_phys_toggle_14">
                                                 <span class="checked">✗</span>
                                             </button>
                                         </div>
                                         <input class="toggle-hide" name="attr_phys_15_hide" type="checkbox" value="1"/>
                                         <div class="inline conditionmonitorbutton  pd--right">
                                             <input type="hidden" class="direction" name="attr_phys_15" value="unchecked" />
                                             <button class="healthbutton" type="action" name="act_phys_toggle_15">
                                                 <span class="checked">✗</span>
                                             </button><br>
                                         </div>
                                 
                                         <input class="toggle-hide" name="attr_phys_16_hide" type="checkbox" value="1"/>
                                         <div class="inline conditionmonitorbutton">
                                             <input type="hidden" class="direction" name="attr_phys_16" value="unchecked" />
                                             <button class="healthbutton-startofblock" type="action" name="act_phys_toggle_16">
                                                 <span class="checked">✗</span>
                                             </button>
                                         </div>
                                         <input class="toggle-hide" name="attr_phys_17_hide" type="checkbox" value="1"/>
                                         <div class="inline conditionmonitorbutton">
                                             <input type="hidden" class="direction" name="attr_phys_17" value="unchecked" />
                                             <button class="healthbutton" type="action" name="act_phys_toggle_17">
                                                 <span class="checked">✗</span>
                                             </button>
                                         </div>
                                         <input class="toggle-hide" name="attr_phys_18_hide" type="checkbox" value="1"/>
                                         <div class="inline conditionmonitorbutton pd--right">
                                             <input type="hidden" class="direction" name="attr_phys_18" value="unchecked" />
                                             <button class="healthbutton" type="action" name="act_phys_toggle_18">
                                                 <span class="checked">✗</span>
                                             </button><br>
                                         </div>
                                 
                                         <input class="toggle-hide" name="attr_phys_19_hide" type="checkbox" value="1"/>
                                         <div class="inline conditionmonitorbutton">
                                             <input type="hidden" class="direction" name="attr_phys_19" value="unchecked" />
                                             <button class="healthbutton-startofblock" type="action" name="act_phys_toggle_19">
                                                 <span class="checked">✗</span>
                                             </button>
                                         </div>
                                     </div>
                                 </div>
                             </div>
                         </div>
                     </div>
                 </div>
                 <div class="innertable">
                     <div class="table-row-flat">
                         <div class="table-cell-middleinput"></div>
                         <div class="table-cell"><span class="red" data-i18n="mod"></span> </div>
                         <div class="table-cell"><span class="red" data-i18n="total"></span></div>
                         <div class="table-cell-long"></div>
                         <div class="table-cell"><span class="red" data-i18n="total"></span></div>
                         <div class="table-cell-rolls"></div>
                     
                     
                     </div>
                     <div class="table-row">
                         <div class="table-cell-middleinput"><span class="cyberberry-normal" data-i18n="title_wounds">Wundabzüge</span></div>
                         <div class="table-cell"><input class="smallinput first" type="number" name="attr_wounds_mod" value="0" placeholder="0" title="wounds_phys_base"/></div>
                         <div class="table-cell"><input class="smallinput last" type="number" name="attr_wounds_total" value="0" placeholder="0" title="wounds_phys_base" readonly/></div>
                         <div class="table-cell-long"> <h6><span data-i18n="title_overflow">Überzähliger Schaden</span></h6></div>
                         <div class="table-cell"><input class="smallinput first" type="number" name="attr_overflow" value="0" placeholder="0" title="wounds_phys_base"/></div>
                         <div class="table-cell-rolls"></div>
                     </div>
                     
                 </div>
             </div>
             <input class="toggle-hide" name="attr_hide_edge" type="checkbox" value="0" checked/>
             <div class="table-cell-half togglesection">
                 <div class="innertable">
                     <div class="header-row pd-bottom">
                         <div class="header-shortcell">
                             <div class="center">
                                 <h4><span data-i18n="title_edge">Edge</span></h4>
                             </div>
                         </div>
                     </div>
                     <div class="header-row">
                         <div class="table-cell pd--right">
                             <div class="whiteborder">
                                 <input class="toggle-hide toggle-hide-edge" name="attr_edge_1" type="checkbox" value="1"/>
                                 <div class="inline edgetoken">
                                     <label >
                                         <input class="hidden" type="checkbox"  name="attr_edge_current" value="1"/>
                                         <div class="edgetokengraphic pictos"><span>e</span></div>
                                      
                                     </label>
                                 </div>
                                 <input class="toggle-hide toggle-hide-edge" name="attr_edge_2" type="checkbox" value="1"/>
                                 <div class="inline edgetoken">
                                     <label >
                                         <input class="hidden" type="checkbox"  name="attr_edge_current" value="2"/>
                                         <div class="edgetokengraphic pictos"><span>e</span></div>
                                     </label>
                                 </div>
                                 <input class="toggle-hide toggle-hide-edge" name="attr_edge_3" type="checkbox" value="1"/>
                                 <div class="inline edgetoken">
                                     <label >
                                         <input class="hidden"  type="checkbox" name="attr_edge_current" value="3"/>
                                         <div class="edgetokengraphic pictos"><span>e</span></div>
                                     </label>
                                 </div>
                                 <input class="toggle-hide toggle-hide-edge" name="attr_edge_4" type="checkbox" value="1"/>
                                 <div class="inline edgetoken">
                                     <label >
                                         <input class="hidden" type="checkbox"  name="attr_edge_current" value="4"/>
                                         <div class="edgetokengraphic pictos"><span>e</span></div>
                                     </label>
                                 </div>
                                 <input class="toggle-hide toggle-hide-edge" name="attr_edge_5" type="checkbox" value="1"/>
                                 <div class="inline edgetoken">
                                     <label >
                                         <input class="hidden" type="checkbox"  name="attr_edge_current" value="5"/>
                                         <div class="edgetokengraphic pictos"><span>e</span></div>
                                     </label>
                                 </div>
                                 <input class="toggle-hide toggle-hide-edge" name="attr_edge_6" type="checkbox" value="1"/>
                                 <div class="inline edgetoken">
                                     <label >
                                         <input class="hidden" type="checkbox"  name="attr_edge_current" value="6"/>
                                         <div class="edgetokengraphic pictos"><span>e</span></div>
                                     </label>
                                 </div>
                                 <input class="toggle-hide toggle-hide-edge" name="attr_edge_7" type="checkbox" value="1"/>
                                 <div class="inline edgetoken">
                                     <label >
                                         <input class="hidden" type="checkbox"  name="attr_edge_current" value="7"/>
                                         <div class="edgetokengraphic pictos"><span>e</span></div>
                                     </label>
                                 </div>
                                 <input class="hide smallinput" type="number" name="attr_edge_current" value="0" placeholder="0" title="edge_current"/>
                             </div>
                             <div class="inline">
                                 <button class="edgebuttonshort" type="action" name="act_edge_plus_two">+2 </button>
                                 <button class="edgebuttonshort" type="action" name="act_edge_plus_one">+1 </button>
                                 <button class="edgebuttonshort" type="action" name="act_edge_minus_one">-1 </button>
                                 <button class="edgebuttonshort" type="action" name="act_edge_minus_two">-2 </button>
                                 <button class="edgebuttonshort" type="action" name="act_edge_minus_three">-3 </button>
                                 <button class="edgebuttonshort" type="action" name="act_edge_minus_four">-4 </button>
                                 <button class="edgebuttonshort" type="action" name="act_edge_minus_five">-5 </button>
                                 <button class="edgebutton" type="action" name="act_edge_reset"><span data-i18n="endscene">Szenenende</span></button>
                                 <button class="iconbutton70" type="roll" name="roll_reroll" value="@{gm_toggle} &{template:roll}{{mainattribute=^{rerolling}}}{{dicepool=[[?{pool}]]}}<%- include('dicetemplate.ejs', {pool: "(?{pool})"}); %>{{expertise=^{display_edge} [[-4]]}}"><span class="red" data-i18n="reroll"></span></button>
                             </div>
                         </div>
                     </div>
                 </div>
             </div>
             
         </div>
     </div>
     <input class="toggle-hide" name="attr_hide_actionmonitor" type="checkbox" value="0" checked/>
     <div class="innertable togglesection">
         <div class="table-row">
             <div class="header-fullcell pd--bottom pd--top">
                 <div class="center">
                     <h4><span data-i18n="title_action_monitor">Handlungsmonitor</span></h4>
                 </div>
             </div>
         </div>
         <div class="table-row">
             <div class="table-cell-middleinput">
                 <h6><span data-i18n="initiative_title">Nebenhandlungen</span></h6>
             </div>
             <div class="table-cell">
                 <input class="smallinput first last pd--right" type="number" name="attr_minor_action_count" value="2" placeholder="2" title="minor_actions_count" min="2" />
             </div>
            
             <div class="header-fullcell pd--left">
                 <button class="resetbutton" type="action" name="act_reset_action_count">
                     <span data-i18n="reset">Zurücksetzen</span>
                 </button>
             </div>
             <div class="header-fullcell">   
                 <input class="toggle-hide" name="attr_major_1_show" type="checkbox" value="1"/>
                 <div class="inline actionbutton">
                     <input type="hidden" class="direction" name="attr_major_1" value="unstruck" />
                     <button class="actionbutton" type="action" name="act_major_1_toggle">
                         <span class="unstruck" data-i18n="major_action_one">Haupthandlung #1</span>
                         <span class="struck" data-i18n="major_action_one">Haupthandlung #1</span>
                     </button>
                 </div>
             </div>
             <div class="header-fullcell">  
                 <input class="toggle-hide" name="attr_major_2_show" type="checkbox" value="1"/>
                 <div class="inline actionbutton">
                     <input type="hidden" class="direction" name="attr_major_2" value="unstruck" />
                     <button class="actionbutton" type="action" name="act_major_2_toggle">
                         <span class="unstruck" data-i18n="major_action_two">Haupthandlung #2</span>
                         <span class="struck"   data-i18n="major_action_two">Haupthandlung #2</span>
                     </button>
                 </div>
             </div>
             <div class="header-fullcell">      
                 <input class="toggle-hide" name="attr_minor_1_show" type="checkbox" value="1"/>
                 <div class="inline actionbutton">
                     <input type="hidden" class="direction" name="attr_minor_1" value="unstruck" />
                     <button class="minoractionbutton longer" type="action" name="act_minor_1_toggle">
                         <span class="unstruck" data-i18n="minor_action_one">Neben 1</span>
                         <span class="struck" data-i18n="minor_action_one">Neben 1</span>
                     </button>
                 </div>
             </div>
             <div class="header-fullcell">  
                 <input class="toggle-hide" name="attr_minor_2_show" type="checkbox" value="1"/>
                 <div class="inline actionbutton">
                     <input type="hidden" class="direction" name="attr_minor_2" value="unstruck" />
                     <button class="minoractionbutton longer" type="action" name="act_minor_2_toggle">
                         <span class="unstruck" data-i18n="minor_action_two">Neben 2</span>
                         <span class="struck"  data-i18n="minor_action_two">Neben 2</span>
                     </button>
                 </div>
             </div>
             <div class="header-fullcell">  
                 <input class="toggle-hide" name="attr_minor_3_show" type="checkbox" value="1"/>
                 <div class="inline actionbutton">
                     <input type="hidden" class="direction" name="attr_minor_3" value="unstruck" />
                     <button class="minoractionbutton longer" type="action" name="act_minor_3_toggle">
                         <span class="unstruck" data-i18n="minor_action_three">Neben 3</span>
                         <span class="struck"  data-i18n="minor_action_three">Neben 3</span>
                     </button>
                 </div>
             </div>
             <div class="header-fullcell">  
                 <input class="toggle-hide" name="attr_minor_4_show" type="checkbox" value="1"/>
                 <div class="inline actionbutton">
                     <input type="hidden" class="direction" name="attr_minor_4" value="unstruck" />
                     <button class="minoractionbutton longer" type="action" name="act_minor_4_toggle">
                         <span class="unstruck" data-i18n="minor_action_four">Neben 4</span>
                         <span class="struck" data-i18n="minor_action_four">Neben 4</span>
                     </button>
                 </div>
             </div>
             <div class="header-fullcell">  
                 <input class="toggle-hide" name="attr_minor_5_show" type="checkbox" value="1"/>
                 <div class="inline actionbutton">
                     <input type="hidden" class="direction" name="attr_minor_5" value="unstruck" />
                     <button class="minoractionbutton longer" type="action" name="act_minor_5_toggle">
                         <span class="unstruck" data-i18n="minor_action_five">Neben 5</span>
                         <span class="struck" data-i18n="minor_action_five">Neben 5</span>
                     </button>
                 </div>
             </div>
         </div>
     </div> 

     <div class="flex-table">
         
         <div class="flexcontainer">
         <div class="flex-center">
         <label class="switch" data-i18n-title="gm_whisper" title="GM-Roll y/n">
             <input name="attr_gm_toggle" type="checkbox" value="/w gm"/>
             <span class="slider">&nbsp;</span>
         </label>
         <div class="slider-label" data-i18n="title_gm_roll">Würfe an Spielleiter</span></div>
         </div>
         <div class="flex-center">
             <label class="switch" data-i18n-title="mod_roll" title="Modify y/n">
                 <input name="attr_mod_roll" type="checkbox" value="?{Modifier|0}"/>
                 <span class="slider">&nbsp;</span>
             </label>
             <div class="slider-label"><span data-i18n="test_modifiers">Probenmodifikatoren</span></div>
         </div>
         <div class="flex-center">
             <label class="switch" data-i18n-title="use_wounds" title="Wounds Penalties y/n">
                 <input name="attr_use_wounds" type="checkbox" value="@{wounds_total}"/>
                 <span class="slider">&nbsp;</span>
             </label>
             <div class="slider-label"><span data-i18n="title_apply_wounds">Appliquer les blessures</span></div>
         </div>
         <div class="flex-center">
             <label class="switch" data-i18n-title="exploding_dice" title="Exploding dice y/n">
                 <input name="attr_explode_toggle" type="checkbox" value="!"/>
                 <span class="slider">&nbsp;</span>
             </label>
             <input type="hidden" name="attr_exploding_dice" value=""/>
             <div class="slider-label"><span data-i18n="title_exploding_dice">explodierende Würfel</span></div>
         </div>
         <div class="flex-center">
            <label class="switch" data-i18n-title="wild_dice" title="Wild dice y/n">
                <input name="attr_wilddie_toggle" type="checkbox" value="1"/>
                <span class="slider">&nbsp;</span>
            </label>
            <input type="hidden" name="attr_wild_dice" value=""/>
            <div class="slider-label"><span data-i18n="wilddie_title">Schicksalswürfel</span></div><br>
            
         </div>
         <div> 
            <button class="iconbutton" type="roll" name="roll_skill_generic" value="@{gm_toggle} &{template:roll}{{wilddieprop=[[@{wilddieprop}d6]]}}<%- include('dicetemplate.ejs', {pool: "(?{Würfelpool|@{personal_dicepool}}+@{use_wounds}+@{sustain_malus}+@{allmod}+@{mod_roll}@{wilddiemod})"}); %>">
                <span class="red" data-i18n="generic_roll"></span>
            </button>
         </div>
     </div>
     </div>
      
 </div>
 <input class="toggle-hide" name="attr_header_toggle" type="checkbox" value="1"/>
 <div class="header togglesection">
       <div class="header-row">
         <div class="header-fullcell">
             <h4><span data-i18n="title_condition_monitor">Zustandsmonitor und Wundabzüge</span></h4>
         </div>
         <div class="header-shortcell">
             <div class="center">
                 <h4><span data-i18n="title_edge">Edge</span></h4>
             </div>
         </div>
         <div class="header-hugecell">
             <div class="center">
                 <h4><span data-i18n="title_generic_rolls">Generische Würfelwürfe</span></h4>
             </div>
         </div>
     </div>
     <div class="header-row">
         <div class="header-fullcell"> <!-- das ist eine Tabellenzelle, da hinein muss eine neue Tabelle -->
             <div class="innertable">
                 <div class="table-row">
                     <div class="table-cell-huge-center">
                         <h6><span data-i18n="title_stun">geistig</span></h6>
                         <input class="smallinput first" type="number" name="attr_wounds_stun_base" value="0" placeholder="0" title="wounds_stun_base"  readonly/>
                     </div>
                     <div class="table-cell-huge-center">
                         <h6><span data-i18n="title_physical">körperlich</span></h6>
                         <input class="smallinput first" type="number" name="attr_wounds_phys_base" value="0" placeholder="0" title="wounds_phys_base"  readonly/>
                     </div>
                 </div>
                 <div class="table-row">
                     <div class="table-cell-huge-center"> <!-- erneut innere Tabelle für Zentrierung erforderlich -->
                         <div class="header-centered">
                             <div class="header-row">
                                 <input class="toggle-hide" name="attr_stun_1_hide" type="checkbox" value="1"/>
                                 <div class="inline conditionmonitorbutton">
                                     <input type="hidden" class="direction" name="attr_stun_1" value="unchecked" />
                                     <button class="healthbutton-startofblock" type="action" name="act_stun_toggle_1">
                                         <span class="checked">✗</span>
                                         <span class="unchecked">✗</span>
                                     </button>
                                 </div>
                                 <input class="toggle-hide" name="attr_stun_2_hide" type="checkbox" value="1"/>
                                 <div class="inline conditionmonitorbutton">
                                     <input type="hidden" class="direction" name="attr_stun_2" value="unchecked" />
                                     <button class="healthbutton" type="action" name="act_stun_toggle_2">
                                         <span class="checked">✗</span>
                                         <span class="unchecked">✗</span>
                                     </button>
                                 </div>
                                 <input class="toggle-hide" name="attr_stun_3_hide" type="checkbox" value="1"/>
                                 <div class="inline conditionmonitorbutton">
                                     <input type="hidden" class="direction" name="attr_stun_3" value="unchecked" />
                                     <button class="healthbutton" type="action" name="act_stun_toggle_3">
                                         <span class="checked">✗</span>
                                         <span class="unchecked">✗</span>
                                     </button>
                                 </div>
                             </div>
                             <div class="header-row">
                                 <input class="toggle-hide" name="attr_stun_4_hide" type="checkbox" value="1"/>
                                 <div class="inline conditionmonitorbutton">
                                     <input type="hidden" class="direction" name="attr_stun_4" value="unchecked" />
                                     <button class="healthbutton-startofblock" type="action" name="act_stun_toggle_4">
                                         <span class="checked">✗</span>
                                         <span class="unchecked">✗</span>
                                     </button>
                                 </div>
                                 <input class="toggle-hide" name="attr_stun_5_hide" type="checkbox" value="1"/>
                                 <div class="inline conditionmonitorbutton">
                                     <input type="hidden" class="direction" name="attr_stun_5" value="unchecked" />
                                     <button class="healthbutton" type="action" name="act_stun_toggle_5">
                                         <span class="checked">✗</span>
                                         <span class="unchecked">✗</span>
                                     </button>
                                 </div>
                                 <input class="toggle-hide" name="attr_stun_6_hide" type="checkbox" value="1"/>
                                 <div class="inline conditionmonitorbutton">
                                     <input type="hidden" class="direction" name="attr_stun_6" value="unchecked" />
                                     <button class="healthbutton" type="action" name="act_stun_toggle_6">
                                         <span class="checked">✗</span>
                                         <span class="unchecked">✗</span>
                                     </button>
                                 </div>
                             </div>
                             <div class="header-row">
                                 <input class="toggle-hide" name="attr_stun_7_hide" type="checkbox" value="1"/>
                                 <div class="inline conditionmonitorbutton">
                                     <input type="hidden" class="direction" name="attr_stun_7" value="unchecked" />
                                     <button class="healthbutton-startofblock" type="action" name="act_stun_toggle_7">
                                         <span class="checked">✗</span>
                                         <span class="unchecked">✗</span>
                                     </button>
                                 </div>
                                 <input class="toggle-hide" name="attr_stun_8_hide" type="checkbox" value="1"/>
                                 <div class="inline conditionmonitorbutton">
                                     <input type="hidden" class="direction" name="attr_stun_8" value="checked" />
                                     <button class="healthbutton" type="action" name="act_stun_toggle_8">
                                         <span class="checked">✗</span>
                                         <span class="unchecked">✗</span>
                                     </button>
                                 </div>
                                 <input class="toggle-hide" name="attr_stun_9_hide" type="checkbox" value="1"/>
                                 <div class="inline conditionmonitorbutton">
                                     <input type="hidden" class="direction" name="attr_stun_9" value="unchecked" />
                                     <button class="healthbutton" type="action" name="act_stun_toggle_9">
                                         <span class="checked">✗</span>
                                         <span class="unchecked">✗</span>
                                     </button><br>
                                 </div>
                             </div>
                             <div class="header-row">
                                 <input class="toggle-hide" name="attr_stun_10_hide" type="checkbox" value="1"/>
                                 <div class="inline conditionmonitorbutton">
                                     <input type="hidden" class="direction" name="attr_stun_10" value="unchecked" />
                                     <button class="healthbutton-startofblock" type="action" name="act_stun_toggle_10">
                                         <span class="checked">✗</span>
                                         <span class="unchecked">✗</span>
                                     </button>
                                 </div>
                                 <input class="toggle-hide" name="attr_stun_11_hide" type="checkbox" value="1"/>
                                 <div class="inline conditionmonitorbutton">
                                     <input type="hidden" class="direction" name="attr_stun_11" value="unchecked" />
                                     <button class="healthbutton" type="action" name="act_stun_toggle_11">
                                         <span class="checked">✗</span>
                                         <span class="unchecked">✗</span>
                                     </button>
                                 </div>
                                 <input class="toggle-hide" name="attr_stun_12_hide" type="checkbox" value="1"/>
                                 <div class="inline conditionmonitorbutton">
                                     <input type="hidden" class="direction" name="attr_stun_12" value="unchecked" />
                                     <button class="healthbutton" type="action" name="act_stun_toggle_12">
                                         <span class="checked">✗</span>
                                         <span class="unchecked">✗</span>
                                     </button><br>
                                 </div>
                             </div>
                             <div class="header-row">
                                 <input class="toggle-hide" name="attr_stun_13_hide" type="checkbox" value="1"/>
                                 <div class="inline conditionmonitorbutton">
                                     <input type="hidden" class="direction" name="attr_stun_13" value="unchecked" />
                                     <button class="healthbutton-startofblock" type="action" name="act_stun_toggle_13">
                                         <span class="checked">✗</span>
                                         <span class="unchecked">✗</span>
                                     </button>
                                 </div>
                                 <input class="toggle-hide" name="attr_stun_14_hide" type="checkbox" value="1"/>
                                 <div class="inline conditionmonitorbutton">
                                     <input type="hidden" class="direction" name="attr_stun_14" value="unchecked" />
                                     <button class="healthbutton" type="action" name="act_stun_toggle_14">
                                         <span class="checked">✗</span>
                                         <span class="unchecked">✗</span>
                                     </button>
                                 </div>
                                  <input class="toggle-hide" name="attr_stun_15_hide" type="checkbox" value="1"/>
                                  <div class="inline conditionmonitorbutton">
                                     <input type="hidden" class="direction" name="attr_stun_15" value="unchecked" />
                                     <button class="healthbutton" type="action" name="act_stun_toggle_15">
                                         <span class="checked">✗</span>
                                         <span class="unchecked">✗</span>
                                     </button><br>
                                 </div>
                             </div>
                             <div class="header-row">
                                 <input class="toggle-hide" name="attr_stun_16_hide" type="checkbox" value="1"/>
                                 <div class="inline conditionmonitorbutton">
                                     <input type="hidden" class="direction" name="attr_stun_16" value="unchecked" />
                                     <button class="healthbutton-startofblock" type="action" name="act_stun_toggle_16">
                                         <span class="checked">✗</span>
                                         <span class="unchecked">✗</span>
                                     </button>
                                 </div>
                                 <input class="toggle-hide" name="attr_stun_17_hide" type="checkbox" value="1"/>
                                 <div class="inline conditionmonitorbutton">
                                     <input type="hidden" class="direction" name="attr_stun_17" value="unchecked" />
                                     <button class="healthbutton" type="action" name="act_stun_toggle_17">
                                         <span class="checked">✗</span>
                                         <span class="unchecked">✗</span>
                                     </button>
                                 </div>
                                 <input class="toggle-hide" name="attr_stun_18_hide" type="checkbox" value="1"/>
                                 <div class="inline conditionmonitorbutton">
                                     <input type="hidden" class="direction" name="attr_stun_18" value="unchecked" />
                                     <button class="healthbutton" type="action" name="act_stun_toggle_18">
                                         <span class="checked">✗</span>
                                         <span class="unchecked">✗</span>
                                     </button><br>
                                 </div>
                             </div>
                         </div>
                     </div>
                     <div class="table-cell-huge-center">
                         <div class="header-centered">
                             <div class="header-row">
                                 <input class="toggle-hide" name="attr_phys_1_hide" type="checkbox" value="1"/>
                                 <div class="inline conditionmonitorbutton">
                                     <input type="hidden" class="direction" name="attr_phys_1" value="unchecked" />
                                     <button class="healthbutton-startofblock" type="action" name="act_phys_toggle_1">
                                         <span class="checked">✗</span>
                                         <span class="unchecked">✗</span>
                                     </button>
                                 </div>
                                 <input class="toggle-hide" name="attr_phys_2_hide" type="checkbox" value="1"/>
                                 <div class="inline conditionmonitorbutton">
                                     <input type="hidden" class="direction" name="attr_phys_2" value="unchecked" />
                                     <button class="healthbutton" type="action" name="act_phys_toggle_2">
                                         <span class="checked">✗</span>
                                         <span class="unchecked">✗</span>
                                     </button>
                                 </div>
                                 <input class="toggle-hide" name="attr_phys_3_hide" type="checkbox" value="1"/>
                                 <div class="inline conditionmonitorbutton">
                                     <input type="hidden" class="direction" name="attr_phys_3" value="unchecked" />
                                     <button class="healthbutton" type="action" name="act_phys_toggle_3">
                                         <span class="checked">✗</span>
                                         <span class="unchecked">✗</span>
                                     </button>
                                 </div>
                             </div>
                             <div class="header-row">
                                 <input class="toggle-hide" name="attr_phys_4_hide" type="checkbox" value="1"/>
                                 <div class="inline conditionmonitorbutton">
                                     <input type="hidden" class="direction" name="attr_phys_4" value="unchecked" />
                                     <button class="healthbutton-startofblock" type="action" name="act_phys_toggle_4">
                                         <span class="checked">✗</span>
                                         <span class="unchecked">✗</span>
                                     </button>
                                 </div>
                                 <input class="toggle-hide" name="attr_phys_5_hide" type="checkbox" value="1"/>
                                 <div class="inline conditionmonitorbutton">
                                     <input type="hidden" class="direction" name="attr_phys_5" value="unchecked" />
                                     <button class="healthbutton" type="action" name="act_phys_toggle_5">
                                         <span class="checked">✗</span>
                                         <span class="unchecked">✗</span>
                                     </button>
                                 </div>
                                 <input class="toggle-hide" name="attr_phys_6_hide" type="checkbox" value="1"/>
                                 <div class="inline conditionmonitorbutton">
                                     <input type="hidden" class="direction" name="attr_phys_6" value="unchecked" />
                                     <button class="healthbutton" type="action" name="act_phys_toggle_6">
                                         <span class="checked">✗</span>
                                         <span class="unchecked">✗</span>
                                     </button>
                                 </div>
                             </div>
                             <div class="header-row">
                                 <input class="toggle-hide" name="attr_phys_7_hide" type="checkbox" value="1"/>
                                 <div class="inline conditionmonitorbutton">
                                     <input type="hidden" class="direction" name="attr_phys_7" value="unchecked" />
                                     <button class="healthbutton-startofblock" type="action" name="act_phys_toggle_7">
                                         <span class="checked">✗</span>
                                         <span class="unchecked">✗</span>
                                     </button>
                                 </div>
                                 <input class="toggle-hide" name="attr_phys_8_hide" type="checkbox" value="1"/>
                                 <div class="inline conditionmonitorbutton">
                                     <input type="hidden" class="direction" name="attr_phys_8" value="unchecked" />
                                     <button class="healthbutton" type="action" name="act_phys_toggle_8">
                                         <span class="checked">✗</span>
                                         <span class="unchecked">✗</span>
                                     </button>
                                 </div>
                                 <input class="toggle-hide" name="attr_phys_9_hide" type="checkbox" value="1"/>
                                 <div class="inline conditionmonitorbutton">
                                     <input type="hidden" class="direction" name="attr_phys_9" value="unchecked" />
                                     <button class="healthbutton" type="action" name="act_phys_toggle_9">
                                         <span class="checked">✗</span>
                                         <span class="unchecked">✗</span>
                                     </button><br>
                                 </div>
                             </div>
                             <div class="header-row">
                                 <input class="toggle-hide" name="attr_phys_10_hide" type="checkbox" value="1"/>
                                 <div class="inline conditionmonitorbutton">
                                     <input type="hidden" class="direction" name="attr_phys_10" value="unchecked" />
                                     <button class="healthbutton-startofblock" type="action" name="act_phys_toggle_10">
                                         <span class="checked">✗</span>
                                         <span class="unchecked">✗</span>
                                     </button>
                                 </div>
                                 <input class="toggle-hide" name="attr_phys_11_hide" type="checkbox" value="1"/>
                                 <div class="inline conditionmonitorbutton">
                                     <input type="hidden" class="direction" name="attr_phys_11" value="unchecked" />
                                     <button class="healthbutton" type="action" name="act_phys_toggle_11">
                                         <span class="checked">✗</span>
                                         <span class="unchecked">✗</span>
                                     </button>
                                 </div>
                                 <input class="toggle-hide" name="attr_phys_12_hide" type="checkbox" value="1"/>
                                 <div class="inline conditionmonitorbutton">
                                     <input type="hidden" class="direction" name="attr_phys_12" value="unchecked" />
                                     <button class="healthbutton" type="action" name="act_phys_toggle_12">
                                         <span class="checked">✗</span>
                                         <span class="unchecked">✗</span>
                                     </button><br>
                                 </div>
                             </div>
                             <div class="header-row">
                                 <input class="toggle-hide" name="attr_phys_13_hide" type="checkbox" value="1"/>
                                 <div class="inline conditionmonitorbutton">
                                     <input type="hidden" class="direction" name="attr_phys_13" value="unchecked" />
                                     <button class="healthbutton-startofblock" type="action" name="act_phys_toggle_13">
                                         <span class="checked">✗</span>
                                         <span class="unchecked">✗</span>
                                     </button>
                                 </div>
                                 <input class="toggle-hide" name="attr_phys_14_hide" type="checkbox" value="1"/>
                                 <div class="inline conditionmonitorbutton">
                                     <input type="hidden" class="direction" name="attr_phys_14" value="unchecked" />
                                     <button class="healthbutton" type="action" name="act_phys_toggle_14">
                                         <span class="checked">✗</span>
                                         <span class="unchecked">✗</span>
                                     </button>
                                 </div>
                                  <input class="toggle-hide" name="attr_phys_15_hide" type="checkbox" value="1"/>
                                  <div class="inline conditionmonitorbutton">
                                     <input type="hidden" class="direction" name="attr_phys_15" value="unchecked" />
                                     <button class="healthbutton" type="action" name="act_phys_toggle_15">
                                         <span class="checked">✗</span>
                                         <span class="unchecked">✗</span>
                                     </button><br>
                                 </div>
                             </div>
                             <div class="header-row">
                                 <input class="toggle-hide" name="attr_phys_16_hide" type="checkbox" value="1"/>
                                 <div class="inline conditionmonitorbutton">
                                     <input type="hidden" class="direction" name="attr_phys_16" value="unchecked" />
                                     <button class="healthbutton-startofblock" type="action" name="act_phys_toggle_16">
                                         <span class="checked">✗</span>
                                         <span class="unchecked">✗</span>
                                     </button>
                                 </div>
                                 <input class="toggle-hide" name="attr_phys_17_hide" type="checkbox" value="1"/>
                                 <div class="inline conditionmonitorbutton">
                                     <input type="hidden" class="direction" name="attr_phys_17" value="unchecked" />
                                     <button class="healthbutton" type="action" name="act_phys_toggle_17">
                                         <span class="checked">✗</span>
                                         <span class="unchecked">✗</span>
                                     </button>
                                 </div>
                                 <input class="toggle-hide" name="attr_phys_18_hide" type="checkbox" value="1"/>
                                 <div class="inline conditionmonitorbutton">
                                     <input type="hidden" class="direction" name="attr_phys_18" value="unchecked" />
                                     <button class="healthbutton" type="action" name="act_phys_toggle_18">
                                         <span class="checked">✗</span>
                                         <span class="unchecked">✗</span>
                                     </button><br>
                                 </div>
                             </div>
                             <div class="header-row">
                                 <input class="toggle-hide" name="attr_phys_19_hide" type="checkbox" value="1"/>
                                 <div class="inline conditionmonitorbutton">
                                     <input type="hidden" class="direction" name="attr_phys_19" value="unchecked" />
                                     <button class="healthbutton-startofblock" type="action" name="act_phys_toggle_19">
                                         <span class="checked">✗</span>
                                         <span class="unchecked">✗</span>
                                     </button>
                                 </div>
                             </div>
                         </div>
                     </div>
                 </div>
             </div>
         </div>
         <div class="header-shortcell">
             <div class="whiteborder">
                 <input class="toggle-hide toggle-hide-edge" name="attr_edge_1" type="checkbox" value="1"/>
                 <div class="inline edgetoken">
                     <label >
                         <input class="hidden" type="checkbox"  name="attr_edge_current" value="1"/>
                         <div class="edgetokengraphic pictos"><span>e</span></div>
                      
                     </label>
                 </div>
                 <input class="toggle-hide toggle-hide-edge" name="attr_edge_2" type="checkbox" value="1"/>
                 <div class="inline edgetoken">
                     <label >
                         <input class="hidden" type="checkbox"  name="attr_edge_current" value="2"/>
                         <div class="edgetokengraphic pictos"><span>e</span></div>
                     </label>
                 </div>
                 <input class="toggle-hide toggle-hide-edge" name="attr_edge_3" type="checkbox" value="1"/>
                 <div class="inline edgetoken">
                     <label >
                         <input class="hidden"  type="checkbox" name="attr_edge_current" value="3"/>
                         <div class="edgetokengraphic pictos"><span>e</span></div>
                     </label>
                 </div>
                 <input class="toggle-hide toggle-hide-edge" name="attr_edge_4" type="checkbox" value="1"/>
                 <div class="inline edgetoken">
                     <label >
                         <input class="hidden" type="checkbox"  name="attr_edge_current" value="4"/>
                         <div class="edgetokengraphic pictos"><span>e</span></div>
                     </label>
                 </div>
                 <input class="toggle-hide toggle-hide-edge" name="attr_edge_5" type="checkbox" value="1"/>
                 <div class="inline edgetoken">
                     <label >
                         <input class="hidden" type="checkbox"  name="attr_edge_current" value="5"/>
                         <div class="edgetokengraphic pictos"><span>e</span></div>
                     </label>
                 </div>
                 <input class="toggle-hide toggle-hide-edge" name="attr_edge_6" type="checkbox" value="1"/>
                 <div class="inline edgetoken">
                     <label >
                         <input class="hidden" type="checkbox"  name="attr_edge_current" value="6"/>
                         <div class="edgetokengraphic pictos"><span>e</span></div>
                     </label>
                 </div>
                 <input class="toggle-hide toggle-hide-edge" name="attr_edge_7" type="checkbox" value="1"/>
                 <div class="inline edgetoken">
                     <label >
                         <input class="hidden" type="checkbox"  name="attr_edge_current" value="7"/>
                         <div class="edgetokengraphic pictos"><span>e</span></div>
                     </label>
                 </div>
                 <input class="hide smallinput" type="number" name="attr_edge_current" value="0" placeholder="0" title="edge_current"/>
             </div>
             <div class="inline">
                 <button class="edgebutton" type="action" name="act_edge_plus_two">+2 <span data-i18n="edge">Edge</span></button>
                 <button class="edgebutton" type="action" name="act_edge_plus_one">+1 <span data-i18n="edge">Edge</span></button>
                 <button class="edgebutton" type="action" name="act_edge_minus_one">-1 <span data-i18n="edge">Edge</span></button>
                 <button class="edgebutton" type="action" name="act_edge_minus_two">-2 <span data-i18n="edge">Edge</span></button>
                 <button class="edgebutton" type="action" name="act_edge_minus_three">-3 <span data-i18n="edge">Edge</span></button>
                 <button class="edgebutton" type="action" name="act_edge_minus_four">-4 <span data-i18n="edge">Edge</span></button>
                 <button class="edgebutton" type="action" name="act_edge_minus_five">-5 <span data-i18n="edge">Edge</span></button>
                 <button class="edgebutton" type="action" name="act_edge_reset"><span data-i18n="endscene">Szenenende</span></button>
             </div>
         </div>
         <div class="header-fullcell">
             <div class="smallspacer">&nbsp;</div>
             <button class="shortcutbutton" type="roll" name="roll_offense" value="@{gm_toggle} &{template:roll}{{mainattribute=^{offense}}}{{weaponname=?{Name|@{personal_mainweapon}}}}{{attackrating=[[?{Angriffswert|@{personal_attackrating}}]]}}{{damage=[[?{Schadenscode|@{personal_damagecode}}]]}}{{wilddieprop=[[@{wilddieprop}d6]]}}<%- include('dicetemplate.ejs', {pool: "(?{Würfelpool|@{personal_attack_dicepool}}+@{use_wounds}+@{sustain_malus}+@{allmod}+@{mod_roll}@{wilddiemod})"}); %>">
                 <span class="cyberberry" data-i18n="offense">Angriff</span>
             </button>
             <br><div class="smallspacer">&nbsp;</div>
             <button class="shortcutbutton" type="roll" name="roll_defense_generic" value="@{gm_toggle} &{template:roll}{{mainattribute=^{defense}}}{{defenserating=[[?{Verteidigungswert|@{defense_rating}}]]}}{{wilddieprop=[[@{wilddieprop}d6]]}}<%- include('dicetemplate.ejs', {pool: "(?{Würfelpool|@{display_ini}}+@{use_wounds}+@{sustain_malus}+@{allmod}+@{mod_roll}@{wilddiemod})"}); %>">
                 <span class="cyberberry" data-i18n="defense">Verteidigung</span>
             </button>
             <br><div class="smallspacer">&nbsp;</div>
             <button class="shortcutbutton" type="roll" name="roll_soak_generic" value="@{gm_toggle} &{template:roll}{{mainattribute=^{soak}}}{{soaksuccess=[[?{Autoerfolge|@{personal_autosoak}}]]}}{{wilddieprop=[[@{wilddieprop}d6]]}}<%- include('dicetemplate.ejs', {pool: "(?{Würfelpool|@{personal_soakpool}}+@{use_wounds}+@{sustain_malus}+@{allmod}+@{mod_roll}@{wilddiemod})"}); %>">
                 <span class="cyberberry" data-i18n="soak">Schadenswiderstand</span>
             </button>
             <br><div class="smallspacer">&nbsp;</div>
             <button class="shortcutbutton" type="roll" name="roll_initiative_generic" value="@{gm_toggle} &{template:initiative}{{mainattribute=^{initiative}}}{{wilddieprop=[[@{wilddieprop}d6]]}}<%- include('dicetemplateini.ejs', {pool: "(?{Initiativebasis|@{display_ini}}+@{use_wounds}+@{sustain_malus})+?{Initiativewürfel|@{display_inidice}}"}); %>">
                 <span class="cyberberry" data-i18n="initiative">Initiative</span>
             </button>
             <br><div class="smallspacer">&nbsp;</div>
             <button class="shortcutbutton" type="roll" name="roll_skill_generic" value="@{gm_toggle} &{template:roll}{{mainattribute=^{attributeorskill}}}{{weaponname=?{Was würfelst du?|@{personal_skilldesc}}}}{{wilddieprop=[[@{wilddieprop}d6]]}}<%- include('dicetemplate.ejs', {pool: "(?{Würfelpool|@{personal_dicepool}}+@{use_wounds}+@{sustain_malus}+@{allmod}+@{mod_roll}@{wilddiemod})"}); %>">
                 <span class="cyberberry" data-i18n="attributeorskill">Attributs- oder Fertigkeitswurf</span>
             </button>
             <br><div class="smallspacer">&nbsp;</div>
             <span class="cyberberry" data-i18n="use_wilddie_short">Schiksalswürfel</span>  <span class="red"> Pool</span> <input class="smallinput first" type="number" name="attr_wdpool" value="0" placeholder="0" title="wounds_phys_base"/>
             <button class="mediumbutton" type="roll" name="roll_wild" value="@{gm_toggle} &{template:wilddie}{{mainattribute=^{use_wilddie_short}}}{{wilddie=[[1d6cs>5cf<1]]}}{{note=[1](~wildone)}}{{note2=[2-4](~wildtwo)}}{{note3=[5-6](~wildthree)}}">
                 <span class="cyberberry" data-i18n="roll">Schiksalswürfel</span>
             </button>
             <button class="invisbutton" type="roll" name="roll_wildone" value="@{gm_toggle} &{template:roll}{{mainattribute=^{use_wilddie_short}}}{{wilddice=1}}{{wilddieprop=[[@{wilddieprop}d6]]}}<%- include('dicetemplate.ejs', {pool: "(@{wdpool}-1+@{use_wounds}+@{sustain_malus}+@{allmod}+@{mod_roll}@{wilddiemod})"}); %>"></button>
             <button class="invisbutton" type="roll" name="roll_wildtwo" value="@{gm_toggle} &{template:roll}{{mainattribute=^{use_wilddie_short}}}{{wilddice=2-4}}{{wilddieprop=[[@{wilddieprop}d6]]}}<%- include('dicetemplate.ejs', {pool: "(@{wdpool}-1+@{use_wounds}+@{sustain_malus}+@{allmod}+@{mod_roll}@{wilddiemod})"}); %>"></button>
             <button class="invisbutton" type="roll" name="roll_wildthree" value="@{gm_toggle} &{template:roll}{{mainattribute=^{use_wilddie_short}}}{{wilddice=5-6}}{{wilddieprop=[[@{wilddieprop}d6]]}}<%- include('dicetemplate.ejs', {pool: "(@{wdpool}-1+@{use_wounds}+@{sustain_malus}+@{allmod}+@{mod_roll}@{wilddiemod})"}); %>"></button>


         </div>
     </div>
     <div class="header-row">
         <div class="header-fullcell">
             &nbsp;
         </div>
         <div class="header-shortcell">
             <div class="center">
                 <h4><span data-i18n="title_options">Optionen</span></h4>
             </div>
         </div>
         <div class="header-fullcell">
             <div class="center">
                 <h4><span data-i18n="title_action_monitor">Handlungsmonitor</span></h4>
             </div>
         </div>
     </div>
     <div class="header-row">
         <div class="header-fullcell">
             <div class="table-row">
                 <input class="smallinput first" type="number" name="attr_wounds_mod" value="0" placeholder="0" title="wounds_phys_base"/>
                 <span class="cyberberry-normal" data-i18n="mod_wounds">Modifikator (Wundabzüge)</span>
             </div>
             <div class="table-row">
                 <input class="smallinput first" type="number" name="attr_wounds_total" value="0" placeholder="0" title="wounds_phys_base" readonly/>
                 <h6><span data-i18n="title_total_wounds">Gesamtwert (Wundabzüge)</span></h6>
             </div>
             <div class="table-row">
                 <input class="smallinput first" type="number" name="attr_overflow" value="0" placeholder="0" title="wounds_phys_base"/>
                 <h6><span data-i18n="title_overflow">Überzähliger Schaden</span></h6>
             </div>
         </div>
         <div class="header-shortcell">
             <label class="switch" data-i18n-title="gm_whisper" title="GM-Roll y/n">
                 <input name="attr_gm_toggle" type="checkbox" value="/w gm"/>
                 <span class="slider">&nbsp;</span>
             </label>
             <div class="slider-label" data-i18n="title_gm_roll">Würfe an Spielleiter</span></div><br>
             <label class="switch" data-i18n-title="mod_roll" title="Modify y/n">
                 <input name="attr_mod_roll" type="checkbox" value="?{Modifier|0}"/>
                 <span class="slider">&nbsp;</span>
             </label>
             <div class="slider-label"><span data-i18n="test_modifiers">Probenmodifikatoren</span></div><br>
             <label class="switch" data-i18n-title="use_wounds" title="Wounds Penalties y/n">
                 <input name="attr_use_wounds" type="checkbox" value="@{wounds_total}"/>
                 <span class="slider">&nbsp;</span>
             </label>
             <div class="slider-label"><span data-i18n="title_apply_wounds">Appliquer les blessures</span></div><br>
             <label class="switch" data-i18n-title="exploding_dice" title="Exploding dice y/n">
                 <input name="attr_explode_toggle" type="checkbox" value="!"/>
                 <span class="slider">&nbsp;</span>
             </label>
             <input type="hidden" name="attr_exploding_dice" value=""/>
             <div class="slider-label"><span data-i18n="title_exploding_dice">explodierende Würfel</span></div><br>
             <label class="switch" data-i18n-title="wild_dice" title="Wild dice y/n">
                 <input name="attr_wilddie_toggle" type="checkbox" value="1"/>
                 <span class="slider">&nbsp;</span>
             </label>
             <input type="hidden" name="attr_wild_dice" value=""/>
             <div class="slider-label"><span data-i18n="wilddie_title">Schicksalswürfel</span></div><br>
             <button class="iconbutton" type="roll" name="roll_skill_generic" value="@{gm_toggle} &{template:roll}{{wilddieprop=[[@{wilddieprop}d6]]}}<%- include('dicetemplate.ejs', {pool: "(?{Würfelpool|@{personal_dicepool}}+@{use_wounds}+@{sustain_malus}+@{allmod}+@{mod_roll}@{wilddiemod})"}); %>">
                <span class="red" data-i18n="generic_roll"></span>
            </button>
         </div>
         <div class="header-fullcell">
             <div class="smallspacer">&nbsp;</div>
             <input class="smallinput" type="number" name="attr_minor_action_count" value="2" placeholder="0" title="minor_actions_count" min="2" />
             <h6><span data-i18n="initiative_title">Nebenhandlungen</span></h6>
             <button class="resetbutton" type="action" name="act_reset_action_count">
                 <span data-i18n="reset">Zurücksetzen</span>
             </button>
             <br><div class="smallspacer">&nbsp;</div>
             <input class="toggle-hide" name="attr_major_1_show" type="checkbox" value="1"/>
             <div class="inline actionbutton">
                 <input type="hidden" class="direction" name="attr_major_1" value="unstruck" />
                 <button class="actionbutton" type="action" name="act_major_1_toggle">
                     <span class="unstruck" data-i18n="major_action_one">Haupthandlung #1</span>
                     <span class="struck" data-i18n="major_action_one">Haupthandlung #1</span>
                 </button>
             </div>
             <input class="toggle-hide" name="attr_major_2_show" type="checkbox" value="1"/>
             <div class="inline actionbutton">
                 <input type="hidden" class="direction" name="attr_major_2" value="unstruck" />
                 <button class="actionbutton" type="action" name="act_major_2_toggle">
                     <span class="unstruck" data-i18n="major_action_two">Haupthandlung #2</span>
                     <span class="struck"   data-i18n="major_action_two">Haupthandlung #2</span>
                 </button>
             </div>
             <br><div class="smallspacer">&nbsp;</div>
             <input class="toggle-hide" name="attr_minor_1_show" type="checkbox" value="1"/>
             <div class="inline actionbutton">
                 <input type="hidden" class="direction" name="attr_minor_1" value="unstruck" />
                 <button class="minoractionbutton" type="action" name="act_minor_1_toggle">
                     <span class="unstruck" data-i18n="minor_action_one">Neben 1</span>
                     <span class="struck" data-i18n="minor_action_one">Neben 1</span>
                 </button>
             </div>
             <input class="toggle-hide" name="attr_minor_2_show" type="checkbox" value="1"/>
             <div class="inline actionbutton">
                 <input type="hidden" class="direction" name="attr_minor_2" value="unstruck" />
                 <button class="minoractionbutton" type="action" name="act_minor_2_toggle">
                     <span class="unstruck" data-i18n="minor_action_two">Neben 2</span>
                     <span class="struck"  data-i18n="minor_action_two">Neben 2</span>
                 </button>
             </div>
             <input class="toggle-hide" name="attr_minor_3_show" type="checkbox" value="1"/>
             <div class="inline actionbutton">
                 <input type="hidden" class="direction" name="attr_minor_3" value="unstruck" />
                 <button class="minoractionbutton" type="action" name="act_minor_3_toggle">
                     <span class="unstruck" data-i18n="minor_action_three">Neben 3</span>
                     <span class="struck"  data-i18n="minor_action_three">Neben 3</span>
                 </button>
             </div>
             <input class="toggle-hide" name="attr_minor_4_show" type="checkbox" value="1"/>
             <div class="inline actionbutton">
                 <input type="hidden" class="direction" name="attr_minor_4" value="unstruck" />
                 <button class="minoractionbutton" type="action" name="act_minor_4_toggle">
                     <span class="unstruck" data-i18n="minor_action_four">Neben 4</span>
                     <span class="struck" data-i18n="minor_action_four">Neben 4</span>
                 </button>
             </div>
             <input class="toggle-hide" name="attr_minor_5_show" type="checkbox" value="1"/>
             <div class="inline actionbutton">
                 <input type="hidden" class="direction" name="attr_minor_5" value="unstruck" />
                 <button class="minoractionbutton" type="action" name="act_minor_5_toggle">
                     <span class="unstruck" data-i18n="minor_action_five">Neben 5</span>
                     <span class="struck" data-i18n="minor_action_five">Neben 5</span>
                 </button>
             </div>
         </div>
     </div>
 </div>