
<% if (!(typeof hide === "undefined")) { %>
<input class="toggle-hide" name="attr_<%= hide %>" type="checkbox" value="1" checked/>
<% } %>
<div class="flexcontainer togglesection">
                            <div class="flex--2">
                                <span class="red" data-i18n="<%= name %>"><%= name %></span>
                            </div>
                            <div class="flex-center">
                                <input class="smallinput first" type="number" name="attr_<%= name %>_modifier" value="0" placeholder="0"  />
                                <input class="smallinput last" type="number" name="attr_display_<%= name %>" value="2" placeholder="2" readonly/>
                            </div>
                            <div class="flexcontainer">
                                <% if (dice == 1 || dice==2 || dice==3|| dice==4|| dice==5|| dice==6) { %>
                                <button class="iconbutton inibutton" type="roll" name="roll_iniphys" value="@{gm_toggle} &{template:initiative}{{mainattribute=^{<%= name %>}}}{{wilddieprop=[[@{wilddieprop}d6]]}}<%- include('dicetemplateini.ejs', {pool: "(@{display_" + name +"}+@{use_wounds}+@{sustain_malus})+"+ dice }); %>">
                                </button>    
                                <% } else if (dice != "") { %>
                                    <button class="iconbutton inibutton" type="roll" name="roll_iniphys" value="@{gm_toggle} &{template:initiative}{{mainattribute=^{<%= name %>}}}{{wilddieprop=[[@{wilddieprop}d6]]}}<%- include('dicetemplateini.ejs', {pool: "(@{display_" + name +"}+@{use_wounds}+@{sustain_malus})+@{display_"+dice +"}" }); %>">
                                    </button>   
                                <% } %>
                            </div>
                          
                            
</div>