<div class="flex-table">
    <div class="flexcontainer">
            <div class="flex-center">
               
                <span class="red" data-i18n="mod_magic">Magiebonus allgemein</span>
            </div>
            <div class="flex-center">
                
                <span class="red" data-i18n="mod_conjuring">Geisterbonus allgemein</span>
            </div>
            <div class="">
                <span class="red" data-i18n="conjuring_specific">spezifische Boni </span>
            </div>
            <div class="flex-center">
                <%- include('magic_spiritoptions.ejs', {attr: "spirit_con_type1"}); %>
            </div>
            <div class="flex-center">
                <%- include('magic_spiritoptions.ejs', {attr: "spirit_con_type2"}); %>
            </div>
            <div class="flex-center">
                <%- include('magic_spiritoptions.ejs', {attr: "spirit_con_type3"}); %>
            </div>
            <div class="flex-center">
                <%- include('magic_spiritoptions.ejs', {attr: "spirit_con_type4"}); %>
            </div>
           
    </div>
    <div class="flexcontainer">
        <div class="flex-center">
            <input class="smallinput first last" type="number" name="attr_mod_magic" value="0" placeholder="0" title="@{mod_magic}">
        </div>
        <div class="flex-center">
            <input class="smallinput first last" type="number" name="attr_mod_conjuring" value="0" placeholder="0" title="@{mod_conjuring}">
        </div>
        <div class="">
          
        </div>

        <div class="flex-center">
            <input class="smallinput first last" type="number" name="attr_spirit_con_type1_bonus" value="0" placeholder="0">
            
        </div>
        <div class="flex-center">
            <input class="smallinput first last" type="number" name="attr_spirit_con_type2_bonus" value="0" placeholder="0">
            
        </div>
        <div class="flex-center">
            <input class="smallinput first last" type="number" name="attr_spirit_con_type3_bonus" value="0" placeholder="0">
          
        </div>
        <div class="flex-center">
            <input class="smallinput first last" type="number" name="attr_spirit_con_type4_bonus" value="0" placeholder="0">
          
        </div>
    </div>
    <div class="flexcontainer">
        <h6><span data-i18n="conjuration_title"></span>/<span data-i18n="banishing"></span></h6>
    </div>

    
    <div class="flexcontainer">
        <div class="flex--1">
            <span data-i18n="spirit_type"></span>
        </div>
    
        <div class="flex--1">
            <select class="whitebackground first last" name="attr_conjuring_summoning_type" value="fire" title="conjuring_detection_type">
                <option value="fire" data-i18n="spirit_fire">Feuer</option>
                <option value="water" data-i18n="spirit_water">Wasser</option>
                <option value="earth" data-i18n="spirit_earth">Erde</option>
                <option value="air" data-i18n="spirit_air" selected>Luft</option>
                <option value="man" data-i18n="spirit_man">Mensch</option>
                <option value="beast" data-i18n="spirit_beast">Tier</option>
                <option value="task" data-i18n="spirit_task">Helfer</option>
                <option value="guardian" data-i18n="spirit_guardian">Beschützer</option>
                <option value="plant" data-i18n="spirit_plant">Pflanze</option>
                <option value="blood" data-i18n="spirit_blood">Blut</option>
            </select>
            <input class="smallinput hiddeninput" type="number" name="attr_banishing_bonus" value="0" placeholder="0"readonly>
        </div>
        <div class="flex-center flex--1">
            <span class="cyberberry" data-i18n="conjuring_force">Kraftstufe des Geistes</span>
            <input class="smallinput first last" type="number" name="attr_conjuring_force_summoning" value="1" placeholder="1" min="1" title="@{conjuring_force}"> 
        </div>
        
        
        <div class="flex-center">
            <span class="cyberberry" data-i18n="pool">pool</span>
            <input class="smallinput first last" type="number" name="attr_conjuring_summoning_total" value="@{skill_conjuring_total}+@{conjuring_bonus}" disabled>
        </div>
      

        <div class="flex--2">
            <button class="iconbutton70" type="roll" name="rangeweapon" value="@{gm_toggle} &{template:roll}{{mainattribute=^{act_summoning}}}{{spiritheadline=^{spirit_@{conjuring_summoning_type}}}}{{force=@{conjuring_force_summoning}}}{{summoner=^{summoner}}}{{wilddieprop=[[@{wilddieprop}d6]]}}<%- include('dicetemplate.ejs', {pool: "(@{skill_conjuring_total}+@{use_wounds}+@{sustain_malus}+@{allmod}+@{mod_roll}@{wilddiemod}+@{conjuring_bonus})"}); %>{{actingpperson=^{summoner}}}{{spirit=[[(@{conjuring_force_summoning}+@{conjuring_force_summoning})d6cs>5>5sd]]}}{{drain=[[(@{drain_total})d6@{exploding_dice}cs>5>5sd]]}}">
                <span class="red" data-i18n="conjuration_title">Herbeirufen</span>
            </button>
        </div>
        <div class="flex-center">
            <span class="cyberberry" data-i18n="pool">pool</span>
            <input class="smallinput first last" type="number" name="attr_conjuring_summoning_total" value="@{skill_conjuring_total}+@{banishing_bonus}" disabled>
        </div>
        
        <div class="flex--2">
            <button class="iconbutton70" type="roll" name="rangeweapon" value="@{gm_toggle} &{template:roll}{{mainattribute=^{act_summoning}}}{{spiritheadline=^{spirit_@{conjuring_summoning_type}}}}{{force=@{conjuring_force_summoning}}}{{summoner=^{summoner}}}{{wilddieprop=[[@{wilddieprop}d6]]}}<%- include('dicetemplate.ejs', {pool: "(@{skill_conjuring_total}+@{use_wounds}+@{sustain_malus}+@{allmod}+@{mod_roll}@{wilddiemod}+@{banishing_bonus})"}); %>{{actingpperson=^{summoner}}}{{spirit=[[(@{conjuring_force_summoning}+@{conjuring_force_summoning})d6cs>5>5sd]]}}{{drain=[[(@{drain_total})d6@{exploding_dice}cs>5>5sd]]}}">
                <span class="red" data-i18n="banishing">Verbannen</span>
            </button>
        </div>
    </div>
  
        
</div>
<h6><span data-i18n="invoked_spirits">Vorhandene Geister</span></h6>
        
<fieldset class="repeating_spirits">
    <div class="innertable">
        <div class="table-cell-one-fifth">
            <select class="spirittypedropdown whitebackground first last" name="attr_conjuring_present_type" value="fire" title="conjuring_present_type">
                <option value="spirit_fire" data-i18n="spirit_fire">Feuer</option>
                <option value="spirit_water" data-i18n="spirit_water">Wasser</option>
                <option value="spirit_earth" data-i18n="spirit_earth">Erde</option>
                <option value="spirit_air" data-i18n="spirit_air" selected>Luft</option>
                <option value="spirit_man" data-i18n="spirit_man">Mensch</option>
                <option value="spirit_beast" data-i18n="spirit_beast">Tier</option>
                <option value="spirit_task" data-i18n="spirit_task">Helfer</option>
                <option value="spirit_guardian" data-i18n="spirit_guardian">Beschützer</option>
                <option value="spirit_plant" data-i18n="spirit_plant">Pflanze</option>
                <option value="spirit_blood" data-i18n="spirit_blood">Blut</option>
            </select>
        </div>
        <div class="table-cell-one-fifth">
            <span class="cyberberry" data-i18n="conjuring_force">Kraftstufe des Geistes</span>
            <input class="smallinput first last" type="number" name="attr_conjuring_force_present" value="1" placeholder="1" min="1" title="@{conjuring_force}">
        </div>
        <div class="table-cell-one-fifth">
            <span class="cyberberry" data-i18n="condition_monitor">Monitore</span>
            <input class="tinyinput" type="number" name="attr_conjuring_condition_stun" value="0" placeholder="0" min="0" title="@{conjuring_stun_monitor}">
            &nbsp;/&nbsp;
            <input class="tinyinput" type="number" name="attr_conjuring_condition_phys" value="0" placeholder="0" min="0" title="@{conjuring_phys_monitor}">
        </div>
        <div class="table-cell-one-fifth">
            <span class="cyberberry" data-i18n="conjuring_services">Dienste</span>
            <div class="smallerspacer">&nbsp;</div>
            <input class="smallinput" type="number" name="attr_conjuring_services" value="1" placeholder="1" min="1" title="@{conjuring_services}">
        </div>
        <div class="table-cell-one-fifth">
            <button class="iconbutton50" type="roll" name="roll_spirit_action" value="@{gm_toggle} &{template:roll}{{mainattribute=^{act_spirit}}}{{spiritheadline=^{@{conjuring_present_type}}}}{{force=@{conjuring_force_present}}}{{wilddieprop=[[@{wilddieprop}d6]]}}<%- include('dicetemplate.ejs', {pool: "(?{Pool des Geistes|4}+@{allmod}+@{mod_roll}@{wilddiemod})"}); %>">
                <span class="cyberberry" data-i18n="roll">Würfeln</span>
            </button>
        </div>
    </div>
</fieldset>