<div class="magic">
    <div class="sectionheader">
        <label>
            <input class="toggle-hide" name="attr_magicbase_hide" type="checkbox" value="1"/>
            <h4><span data-i18n="basevalues">basevalues</span></h4>
        </label>
    </div>
     <input class="toggle-hide" name="attr_magicbase_hide" type="checkbox" value="1" checked/>
    <div class="togglesection">
        <div class="innertable">
            <div class="table-row">
                <div class="table-cell-half">
                    <div class="innertable">
                        <%- include('attributeheader.ejs'); %>
                         <%- include('attribute.ejs', {name: "magic",minvalue:"0"}); %>
                         <%- include('attribute.ejs', {name: "adeptpowerpoints",hide:"adept_power_hide",minvalue:"0"}); %>
                       </div>
                     
                          
                           
                           
                      
                </div>
                <div class="table-cell">
                    <div class="innertable">
                        <div class="table-row"></div>
                        </div>
                    <div class="flex-table">
                                               <div class="flexcontainer">
                            <div class="">
                                <span class="red" data-i18n="display_magicgrade">Initiatengrad</span>
                            </div>
                        
                            <div class="">
                                <input class="smallinput first last" type="number" name="attr_display_inigrade" value="0" placeholder="0" title="initiate_grade" min="0"/>
                            </div>
                            <div class="">
                                <span class="red" data-i18n="display_magicdurationmod">Malus (Dauer: A)</span>
                            </div>
                        
                            <div class="flex-center">
                                <div class="flex-center">
                                    <input class="smallinput first" type="number" name="attr_sustain_count" data-i18n-title="count" value="0" placeholder="0" title="sustain_malus"  />
                                    <input class="smallinput" type="number" name="attr_sustain_mod" data-i18n-title="mod" value="0" placeholder="0" title="sustain_malus"  />
                                    <input class="smallinput" type="number" name="attr_sustain_mod2" data-i18n-title="bonus" value="0" placeholder="0" title="sustain_malus" readonly />
                                    <input class="smallinput last" type="number" name="attr_sustain_malus" data-i18n-title="total" placeholder="0" title="sustain_malus" readonly />
                                </div>
                                
                            </div>
                        </div>
                        <div class="flexcontainer">
                           <div class="">
                                <span class="red" data-i18n="spell_drain">entzug</span>
                            </div>
            
                            <div class="flex-center">
                                <select class="attributedropdown first " name="attr_magic_drain_attribute" value="" title="magic_drain_attribute">
                                    <option value="@{display_body}" data-i18n="body">KON</option>
                                    <option value="@{display_agility}" data-i18n="agility">GES</option>
                                    <option value="@{display_reaction}" data-i18n="reaction">REA</option>
                                    <option value="@{display_strength}" data-i18n="strength">STÄ</option>
                                    <option value="@{display_willpower}" data-i18n="willpower">WIL</option>
                                    <option value="@{display_logic}" data-i18n="logic" selected="selected">LOG</option>
                                    <option value="@{display_intuition}" data-i18n="intuition">INT</option>
                                    <option value="@{display_charisma}" data-i18n="charisma">CHA</option>
                                    <option value="@{display_magic}" data-i18n="magic">MAG</option>
                                </select>
                                <input class="smallinput" type="number" name="attr_drain_mod" value="0" placeholder="0" data-i18n-title="mod" />
                                <input class="hidden" type="hidden" name="attr_drain_mod2"  />
                                <input class="smallinput last" type="number" name="attr_drain_total" value="@{magic_drain_attribute}+@{drain_mod}+@{drain_mod2}+@{display_willpower}" disabled />
                            </div>
                            <div class="flex-center">
                                <button class="iconbutton" type="roll" name="rangeweapon" value="@{gm_toggle} &{template:roll}{{mainattribute=^{spell_drain}}}{{dicepool=[[@{drain_total}]]}}{{dice=[[(@{drain_total})d6@{exploding_dice}cs>5>5sd]]}}">
                                    
                                </button>
                            </div>
                        </div>
                    </div>
                        
                </div>
            </div>
        </div> 
        
    </div>
    <input class="toggle-hide" name="attr_magic_skill_hide" type="checkbox" value="1" checked/>
    <div class="togglesection">
       
            <div class="sectionheader">
                <label>
                    <input class="toggle-hide" name="attr_magicskills_colapse" type="checkbox" value="1"/>
                    <h4><span data-i18n="section_magic_skills_title">section_magic_skills_title</span></h4>
                </label>
            </div>
             <input class="toggle-hide" name="attr_magicskills_colapse" type="checkbox" value="1"/>
            <div class="togglesection">
                <div class="innertable">
           
                    <div class="rightalign mr--topgeg10">
                        <label >
                        <input  name="attr_config_skill_filter" type="checkbox" value="1"/>
                        <span class="red" data-i18n="setskillsfilter">setskillsfilter</span>
                        </label>
                    </div>
                    <input class="toggle-hide" name="attr_config_skill_filter" type="checkbox" value="1"/>
                    <div class="togglesection">
                        <div class="table-row">
                    
                        <button class="mr--topgeg10" type="action" name="act_reset_magic_visibility">
                            <span data-i18n="display_all_skills">alle Fertigkeiten sichtbar machen</span>
                        </button>
                        <button class="mr--topgeg10" type="action" name="act_hide_unused_magics">
                            <span data-i18n="hide_skills_without_ranks">Fertigkeiten ohne Punkte ausblenden</span>
                        </button>
                        </div>
                   
                   
                    </div>
                 </div>	
                <div class="innertable">
                    <div class="table-row">
                        <div class="table-cell-skill-name"><span class="red" data-i18n="name">Verbergen</span></div>
                        <div class="table-cell"><span class="red" data-i18n="skill_level">Stufe</span></div>
                        <div class="table-cell"><span class="red" data-i18n="skill_modifier">Mod</span></div>
                        <div class="table-cell"><span class="red" data-i18n="bonus" data-i18n-title="bonus">Mod</span></div>
                        <div class="table-cell"><span class="red" data-i18n="skill_attribute">Attribut</span></div>
                        <div class="table-cell"><span class="red" data-i18n="total">Gesamt</span></div>
                        <div class="table-cell"><span class="red" ></span></div>
                        <div class="table-cell-skill-exp pd--left"><span class="red" data-i18n="specialisation">Spezialisierung</span></div>
                        <div class="table-cell"><span class="red" ></span></div>
                        <div class="table-cell"><span class="red" ></span></div>
                        <div class="table-cell-skill-exp pd--left"><span class="red" data-i18n="expertise">Expertise</span></div>
                        <div class="table-cell"><span class="red" ></span></div>
                        <div class="table-cell"><span class="red" ></span></div>
                        <div class="table-cell-rolls"></div>

                    </div>
                    <input class="filteredit hidden" name="attr_config_skill_filter" type="checkbox" value="1"/>    
                        <!--Astral-->
                        <%- include('skillsmagic.ejs', {category:"magic"}); %>
                    </div> 
            </div>
        </div>
   
    <%- include("section.ejs",{title:"magic_adept_powers",template:"magic_adeptpower.ejs",hideby:"adept_power"}); %>
    <%- include("section.ejs",{title:"magic_conjuration",template:"magic_conjuring.ejs",hideby:"conjuring"}); %>
    <%- include("section.ejs",{title:"magic_spells",template:"magic_spells.ejs",hideby:"spell"}); %>
    <%- include("section.ejs",{title:"magic_rituals",template:"magic_rituals.ejs",hideby:"rituals"}); %>
    <%- include("section.ejs",{title:"magic_alchemy",template:"magic_alchemy.ejs",hideby:"alchemy"}); %>
    <%- include("section.ejs",{title:"magic_focus_creation",template:"magic_foki.ejs",hideby:"craft_focus"}); %>
    <%- include("section.ejs",{title:"magic_meta_magic",template:"magic_metamagic.ejs",hideby:"meta_magic"}); %>

   
</div>