<div class='matrix'>
        <input class="toggle-hide" name="attr_matrix_section_hide_ini" type="checkbox" value="1" checked/>
        <div class="togglesection">
            <div class="sectionheader">
                <label>
                    <input class="toggle-hide" name="attr_ci_hide" type="checkbox" value="1"/>
                    <h4><span data-i18n="combat_information">Initative&Verteidigung</span></h4>
                </label>
            </div>
            <input class="toggle-hide" name="attr_ci_hide" type="checkbox" value="1"/>
            <div class="togglesection">
                <div class="innertable">
                    <div class="table-row">
                        <div class="table-cell-half">
                            <div class="innertable">
                                <div class="table-row">
                                    <div class="table-cell-skill-name"><span class="red" data-i18n="empty">&nbsp;</span></div>
                                    <div class="table-cell"><span class="red" data-i18n="basis">Basis</span></div>
                                    <div class="table-cell"><span class="red" data-i18n="mod">Mod</span></div>
                                    <div class="table-cell"><span class="red" data-i18n="bonus" data-i18n-title="bonus">Mod</span></div>
                                    <div class="table-cell"><span class="red" data-i18n="total">Gesamt</span></div>
                                    <div class="table-cell"><span class="red" ></span></div>
                                    <div class="table-cell-skill-name"><span class="red" data-i18n="rolls">Würfe</span></div>
                                </div>
                                <div class="table-row">
                                    <div class="table-cell">
                                        <span class="red" data-i18n="inidice">Initiativewürfel</span>
                                    </div>
                                    <div class="table-cell"><input class="smallinput first" type="number" name="attr_inidice_base" readonly value="1" placeholder="1" /></div>
                                    <div class="table-cell"><input class="smallinput" type="number" name="attr_inidice_modifier" value="0" placeholder="0"/></div>
                                    <div class="table-cell"><input class="smallinput" type="number" name="attr_inidice_statusmodifier" readonly value="0" placeholder="0"/></div>
                                    <div class="table-cell"><input class="smallinput last" type="number" name="attr_display_inidice" value="1" placeholder="1" readonly/></div>
                                    <div class="table-cell"></div>
                                    <div class="table-cell">
                                        <!-- <button class="iconbutton70" type="roll" name="roll_ini" value="@{gm_toggle} &{template:roll}{{mainattribute=^{ini}}}{{wilddieprop=[[@{wilddieprop}d6]]}}<%- include('dicetemplate.ejs', {pool: "(@{display_ini})"}); %>">
                                                <span class="red" data-i18n="rea_int">This is hidden</span>
                                        </button> -->
                                    </div>
                                </div>
                                <div class="table-row">
                                    <div class="table-cell">
                                        <span class="red" data-i18n="inidicematrix">Initiativewürfel(Hießes sim)</span>
                                    </div>
                                    <div class="table-cell"><input class="smallinput first" type="number" name="attr_inidicematrix_base" readonly value="3" placeholder="1"  /></div>
                                    <div class="table-cell"><input class="smallinput" type="number" name="attr_inidicematrix_modifier" value="0" placeholder="0"/></div>
                                    <div class="table-cell"><input class="smallinput" type="number" name="attr_inidicematrix_statusmodifier" readonly value="0" placeholder="0"/></div>
                                    <div class="table-cell"><input class="smallinput last" type="number" name="attr_display_inidicematrix" value="(@{inidicematrix_base}+@{inidicematrix_modifier})" placeholder="1" disabled/></div>
                                    <div class="table-cell"></div>
                                    <div class="table-cell">
                                        <!-- <button class="iconbutton70" type="roll" name="roll_ini" value="@{gm_toggle} &{template:roll}{{mainattribute=^{ini}}}{{wilddieprop=[[@{wilddieprop}d6]]}}<%- include('dicetemplate.ejs', {pool: "(@{display_inimatrix})"}); %>">
                                                <span class="red" data-i18n="intuition_short">This is hidden</span>
                                        </button> -->
                                    </div>
                                </div>
                                <div class="table-row">
                                    <div class="table-cell">
                                        <span class="red" data-i18n="inimatrix">Initiative (Matrix)</span>
                                    </div>
                                    <div class="table-cell"><input class="smallinput first" type="number" name="attr_inimatrix_base" value="4" placeholder="4" title="@{inimatrix_base}" /></div>
                                    <div class="table-cell"><input class="smallinput" type="number" name="attr_inimatrix_modifier" value="0" placeholder="0"/></div>
                                    <div class="table-cell"><input class="smallinput" type="number" name="attr_inimatrix_statusmodifier" readonly value="0" placeholder="0"/></div>
                                    <div class="table-cell"><input class="smallinput last" type="number" name="attr_display_inimatrix" value="4" placeholder="4" readonly/></div>
                                    <div class="table-cell"></div>
                                    <div class="table-cell">
                                        <button class="iconbutton70" type="roll" name="roll_inimatrix" value="@{gm_toggle} &{template:initiative}{{mainattribute=^{inimatrix}}}{{wilddieprop=[[@{wilddieprop}d6]]}}<%- include('dicetemplateini.ejs', {pool: "(@{display_inimatrix}+@{use_wounds}+@{sustain_malus})+@{display_inidicematrix}"}); %>">
                                                <span class="red" data-i18n="select_token">Tokenroll</span>
                                        </button>
                                    </div>
                                </div>
                               
                            
                            
                            
                            </div>
                        </div>
                        <div class="table-cell-half">
                            <div class="innertable">
                                
                                <div class="table-row">
                                    <div class="table-cell-skill-name"><span class="red" data-i18n="empty">&nbsp;</span></div>
                                    <div class="table-cell"><span class="red" data-i18n="basis">Basis</span></div>
                                    <div class="table-cell"><span class="red" data-i18n="mod">Mod</span></div>
                                    <div class="table-cell"><span class="red" data-i18n="bonus" data-i18n-title="bonus">Mod</span></div>
                                    <div class="table-cell"><span class="red" data-i18n="total">Gesamt</span></div>
                                    <div class="table-cell"><span class="red" ></span></div>
                                    <div class="table-cell-skill-name"><span class="red" data-i18n="rolls">Würfe</span></div>
                                </div>
                                <div class="table-row">
                                    <div class="table-cell">
                                        <span class="red" data-i18n="iniphys">Initiative (physisch)</span>
                                    </div>
                                    <div class="table-cell"><input class="smallinput first" type="number" name="attr_iniphys_base" value="4" placeholder="4" title="@{iniphys_base}" /></div>
                                    <div class="table-cell"><input class="smallinput" type="number" name="attr_iniphys_modifier" value="0" placeholder="0"/></div>
                                    <div class="table-cell"><input class="smallinput" type="number" name="attr_iniphys_statusmodifier" readonly value="0" placeholder="0"/></div>
                                    <div class="table-cell"><input class="smallinput last" type="number" name="attr_display_iniphys" value="4" placeholder="4" readonly/></div>
                                    <div class="table-cell"></div>
                                    <div class="table-cell">
                                        <button class="iconbutton70" type="roll" name="roll_iniphys" value="@{gm_toggle} &{template:initiative}{{mainattribute=^{iniphys}}}{{wilddieprop=[[@{wilddieprop}d6]]}}<%- include('dicetemplateini.ejs', {pool: "(@{display_iniphys}+@{use_wounds}+@{sustain_malus})+@{display_inidice}"}); %>">
                                            <span class="red" data-i18n="select_token">Tokenroll</span>
                                        </button>
                                    </div>
                                </div>
                                <div class="table-row">
                                    <div class="table-cell">
                                        <span class="red" data-i18n="defense_soakstun">Schadenswiederstand(B)</span>
                                    </div>
                                    <div class="table-cell"><input class="smallinput first" type="number" name="attr_soakstun_base" readonly  title="@{body_base}+@{body_modifier}" min="1"> </div>
                                    <div class="table-cell"><input class="smallinput" type="number" name="attr_soakstun_modifer" value="0" placeholder="0"  > </div>
                                    <div class="table-cell"><input class="smallinput" type="number" name="attr_soakstun_statusmodifier" readonly value="0" placeholder="0"  > </div>
                                    <div class="table-cell"><input class="smallinput" type="number" name="attr_display_soakstun" readonly=""></div>
                                    <div class="table-cell"><input class="smallinput last" type="number" name="attr_damage_autoSoakstun" data-i18n-title="defense_autosoakshort" value="0"  min="0"></div>
                                    <div class="table-cell">
                                        <button class="iconbutton" type="roll" name="roll_soakDamage" value="@{gm_toggle} &{template:roll}{{mainattribute=^{defense_soakstun}}}{{soaksuccess=[[@{damage_autoSoakstun}]]}}{{wilddieprop=[[@{wilddieprop}d6]]}}<%- include('dicetemplate.ejs', {pool: "(@{display_soakstun}+@{use_wounds}+@{sustain_malus}+@{allmod}+@{mod_roll}@{wilddiemod})"}); %>">
                                         </button>
                                    </div>
                                </div>
                                
                                <div class="table-row">
                    
                                    <div class="table-cell">
                                        <span class="red" data-i18n="defense_soak">Schadenswiederstand</span>
                                    </div>
                                    <div class="table-cell"><input class="smallinput first" type="number" name="attr_soak_base" readonly  title="@{body_base}+@{body_modifier}" min="1"> </div>
                                    <div class="table-cell"><input class="smallinput" type="number" name="attr_soak_modifer" value="0" placeholder="0"  > </div>
                                    <div class="table-cell"><input class="smallinput" type="number" name="attr_soak_statusmodifier" readonly value="0" placeholder="0"  > </div>
                                    <div class="table-cell"><input class="smallinput" type="number" name="attr_display_soak" readonly=""></div>
                                    <div class="table-cell">
                                        <input class="smallinput last" type="number" name="attr_damage_autoSoak" data-i18n-title="autoSuccsess" value="0"  min="0"> 
                                    </div>
                                    
                                    <div class="table-cell">
                                        <button class="iconbutton" type="roll" name="roll_soakDamage" value="@{gm_toggle} &{template:roll}{{mainattribute=^{soak}}}{{soaksuccess=[[@{damage_autoSoak}]]}}{{wilddieprop=[[@{wilddieprop}d6]]}}<%- include('dicetemplate.ejs', {pool: "(@{display_soak}+@{use_wounds}+@{sustain_malus}+@{allmod}+@{mod_roll}@{wilddiemod})"}); %>">
                                                
                                        </button>
                    
                                    </div>
                                    
                                </div>
                                <div class="table-row">
                                    <div class="table-cell">
                                        <span class="red" data-i18n="composure">Selbstbeherrschung</span>
                                    </div>
                                    <div class="table-cell"><input class="smallinput first" type="number" name="attr_composure_base" value="4" placeholder="4" title="@{composure_base}" /></div>
                                    <div class="table-cell"><input class="smallinput" type="number" name="attr_composure_modifier" value="0" placeholder="0"/></div>
                                    <div class="table-cell"><input class="smallinput" type="number" name="attr_composure_statusmodifier" readonly value="0" placeholder="0"/></div>
                                    <div class="table-cell"><input class="smallinput last" type="number" name="attr_display_composure" value="4" placeholder="4" readonly/></div>
                                    <div class="table-cell"></div>
                                    <div class="table-cell">
                                            <button class="iconbutton70" type="roll" name="roll_composure" value="@{gm_toggle} &{template:roll}{{mainattribute=^{composure}}}{{wilddieprop=[[@{wilddieprop}d6]]}}<%- include('dicetemplate.ejs', {pool: "(@{display_composure}+@{use_wounds}+@{sustain_malus}+@{allmod}+@{mod_roll}@{wilddiemod})"}); %>">
                                                <span class="red" data-i18n="cha_wil">CHA + WIL</span>
                                            </button>
                                    
                                    </div>
                                </div>
                                
                            </div>
                            
                        </div>
                    </div>
                <!--EndINi-->

            
                
                </div>
            </div>
        </div>
        <input class="toggle-hide" name="attr_matrix_section_hide_deck" type="checkbox" value="1" checked/>
        <div class="togglesection">
            <div class="sectionheader">
                <label>
                    <input class="toggle-hide" name="attr_deck_hide" type="checkbox" value="1" checked/>
                    <h4><span data-i18n="matrixdeck"> Deck</span></h4>
                </label>
            </div>
            <input class="toggle-hide" name="attr_deck_hide" type="checkbox" value="1" checked />
            <div class="togglesection">
                <div class="flex-table">
                    <div class="flexcontainer flex--al-center"> 
                        <div class="flexcontainer">     <span data-i18n="level">Stufe</span></div>
                        <div class="flexcontainer">     <span data-i18n="matrix_attack_score_title">Angriff</span></div>
                        <div class="flexcontainer">   <span data-i18n="matrix_attack_corruption_title">Schleicher</span></div>
                        <div class="flexcontainer">      <span data-i18n="matrix_dataprocessing_score_title">Datenverarb.</span></div>
                        <div class="flexcontainer">      <span data-i18n="matrix_fw_score_title">Firewall</span></div>
                        <div class="flexcontainer">      <span data-i18n="matrix_rauschen_title">Rauschen</span></div>
                        <div class="flexcontainer">      <span data-i18n="matrix_schaden_title">Schaden</span></div>
                    </div>
                     <div class="flexcontainer">
                        <div class="flex-center">
                            <input class="smallinput first last" type="number" name="attr_display_decklevel" value="0" placeholder="0"  min="0" />
                             
                        </div>
                        <div class="flex-center">
                            <input class="smallinput first" type="number" name="attr_display_angriff" value="0" placeholder="0"  min="0" />
                            <input class="smallinput" type="number" name="attr_display_angriffmod" value="0" data-i18n-title="mod" placeholder="0"/>
                            <input class="smallinput last" type="number" name="attr_display_angrifftotal" value="0" placeholder="0" data-i18n-title="total" readonly/>
                           
                        </div>
                        <div class="flex-center">
                            <input class="smallinput first" type="number" name="attr_display_schleicher" value="0" placeholder="0"  min="0" />
                            <input class="smallinput" type="number" name="attr_display_schleichermod" value="0" placeholder="0" data-i18n-title="mod"/>
                            <input class="smallinput last" type="number" name="attr_display_schleichertotal" value="0" placeholder="0" data-i18n-title="total" readonly/>
                           
                        </div>
                       
                        <div class="flex-center">
                            <input class="smallinput first" type="number" name="attr_display_datenverarbeitung" value="0" placeholder="0"  min="0" />
                            <input class="smallinput " type="number" name="attr_display_datenverarbeitungmod" value="0" placeholder="0" data-i18n-title="mod" min="0" />
                            <input class="smallinput last" type="number" name="attr_display_datenverarbeituntotal" value="0" placeholder="0" data-i18n-title="dvtotaldesc" readonly/>
                         
                        </div>
                            <div class="flex-center">
                                <input class="smallinput first " type="number" name="attr_display_firewall" value="0" placeholder="0" title="@{fw_base}" min="0" />
                                <input class="smallinput " type="number" name="attr_display_firewallmod" value="0" placeholder="0" data-i18n-title="mod" min="0" />
                                <input class="smallinput last" type="number" name="attr_display_firewalltotal" value="0" placeholder="0" data-i18n-title="mod" readonly/>
                              
                            </div>
                            <div class="flex-center">
                                <input class="smallinput first last" type="number" name="attr_display_rauschen" value="0" placeholder="0" title="@{fw_base}" min="0" />
                            </div>
                            <div class="flex-center">
                                <input class="smallinput first last" type="number" name="attr_display_deckschaden" value="0" data-i18n-title="max" readonly/>
                            </div>
                    </div>
                    <div class="flexcontainer">
                        <div class="flex-center">
                           <button class="iconbutton" type="roll" name="roll_display_angriff" value="@{gm_toggle} &amp;{template:roll}{{mainattribute=^{matrix_attack_score_title}}}{{dicepool=[[@{display_angrifftotal}+@{use_wounds} [Wounds] +@{sustain_malus} [Sunstain] +@{allmod}+@{mod_roll}[Test-Modifier]]]}}{{wilddieprop=[[@{wilddieprop}d6]]}}<%- include('dicetemplate.ejs', {pool: "(@{display_angrifftotal}+@{use_wounds}+@{sustain_malus}+@{allmod}+@{mod_roll}@{wilddiemod})"}); %>">
                           </button>
                        </div>
                        <div class="flex-center">
                            <button class="iconbutton" type="roll" name="roll_display_angriff" value="@{gm_toggle} &amp;{template:roll}{{mainattribute=^{matrix_attack_score_title}}}{{dicepool=[[@{display_angrifftotal}+@{use_wounds} [Wounds] +@{sustain_malus} [Sunstain] +@{allmod}+@{mod_roll}[Test-Modifier]]]}}{{wilddieprop=[[@{wilddieprop}d6]]}}<%- include('dicetemplate.ejs', {pool: "(@{display_angrifftotal}+@{use_wounds}+@{sustain_malus}+@{allmod}+@{mod_roll}@{wilddiemod})"}); %>">
                            </button>
                        </div>
                        <div class="flex-center">
                            <button class="iconbutton" type="roll" name="roll_display_schleicher" value="@{gm_toggle} &amp;{template:roll}{{mainattribute=^{matrix_attack_corruption_title}}}{{dicepool=[[@{display_schleichertotal}+@{use_wounds} [Wounds] +@{sustain_malus} [Sunstain] +@{allmod}+@{mod_roll}[Test-Modifier]]]}}{{wilddieprop=[[@{wilddieprop}d6]]}}<%- include('dicetemplate.ejs', {pool: "(@{display_schleichertotal}+@{use_wounds}+@{sustain_malus}+@{allmod}+@{mod_roll}@{wilddiemod})"}); %>">
                            </button>
                        </div>
                        <div class="flex-center">
                            <button class="iconbutton" type="roll" name="roll_display_datenverarbeitung" value="@{gm_toggle} &amp;{template:roll}{{mainattribute=^{matrix_dataprocessing_score_title}}}{{dicepool=[[@{display_datenverarbeituntotal}+@{use_wounds} [Wounds] +@{sustain_malus} [Sunstain] +@{allmod}+@{mod_roll}[Test-Modifier]]]}}{{wilddieprop=[[@{wilddieprop}d6]]}}<%- include('dicetemplate.ejs', {pool: "(@{display_datenverarbeituntotal}+@{use_wounds}+@{sustain_malus}+@{allmod}+@{mod_roll}@{wilddiemod})"}); %>">
                            </button>
                        </div>
                            <div class="flex-center">
                                <button class="iconbutton" type="roll" name="roll_display_firewall" value="@{gm_toggle} &amp;{template:roll}{{mainattribute=^{matrix_fw_score_title}}}{{dicepool=[[@{display_firewalltotal}+@{use_wounds} [Wounds] +@{sustain_malus} [Sunstain] +@{allmod}+@{mod_roll}[Test-Modifier]]]}}{{wilddieprop=[[@{wilddieprop}d6]]}}<%- include('dicetemplate.ejs', {pool: "(@{display_firewalltotal}+@{use_wounds}+@{sustain_malus}+@{allmod}+@{mod_roll}@{wilddiemod})"}); %>">
                                
                                </button>
                            </div>
                            <div class="flex-center">
                            </div>
                            <div class="flex-center">
                                <input class="smallinput first" type="number" name="attr_display_deckschadenakt" value="0" data-i18n-title="akt"/>
                                <input class="smallinput last" type="number" name="attr_display_deckschadenmod" value="0" data-i18n-title="mod" readonly/>
                            </div>
                    </div>
                    <div class="flexcontainer"> 
                        <div class="flex-center felx--1">
                            <span data-i18n="matrix_aw_title">aw</span>
                            <input class="smallinput first" type="number" name="attr_display_deckaw" value="0" placeholder="0"  readonly/>
                            <input class="smallinput last" type="number" name="attr_display_deckasdif" value="0" placeholder="0" data-i18n-title="matrix_divmod" readonly/>
                           
                        </div>
                        <div class="flex-center felx--1">
                            <span data-i18n="matrix_vw_title">aw</span>
                            <input class="smallinput first" type="number" name="attr_display_deckvw" value="0" placeholder="0"  readonly/>
                            <input class="smallinput last" type="number" name="attr_display_decksadif" value="0" placeholder="0" data-i18n-title="matrix_divmod" readonly/>
                           
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <input class="toggle-hide" name="attr_matrix_section_hide_skills" type="checkbox" value="1" checked/>
        <div class="togglesection">
            <div class="sectionheader">
                <label>
                    <input class="toggle-hide" name="attr_mf_hide" type="checkbox" value="1"/>
                    <h4><span data-i18n="matrixskills"> Matrix-Fertigkeiten</span></h4>
                </label>
            </div>
            <input class="toggle-hide" name="attr_mf_hide" type="checkbox" value="1"/>
            <div class="togglesection">
                <div class="innertable">
               
                    <div class="rightalign mr--topgeg10">
                        <label >
                        <input  name="attr_config_skill_filter" type="checkbox" value="1"/>
                        <span class="red" data-i18n="setskillsfilter">setskillsfilter</span>
                        </label>
                    </div>
                </div>   

                <div class="innertable">
                    <div class="table-row">
                        <div class="table-cell-skill-name"><span class="red" data-i18n="name">name</span></div>
                        <div class="table-cell"><span class="red" data-i18n="skill_level">Stufe</span></div>
                        <div class="table-cell"><span class="red" data-i18n="skill_modifier">Mod</span></div>
                        <div class="table-cell"><span class="red" data-i18n="bonus" data-i18n-title="bonus">Mod</span></div>
                        <div class="table-cell"><span class="red" data-i18n="skill_attribute">Attribut</span></div>
                        <div class="table-cell"><span class="red" data-i18n="total">Gesamt</span></div>
                        <div class="table-cell"><span class="red" ></span></div>
                        <div class="table-cell-skill-exp pd--left"><span class="red" data-i18n="specialisation">Spezialisierung</span></div>
                        <div class="table-cell"><span class="red" ></span></div>
                        <div class="table-cell"><span class="red" ></span></div>
                        <div class="table-cell-skill-exp pd--left"><span class="red" data-i18n="expertise">Expertise</span></div>
                        <div class="table-cell"><span class="red" ></span></div>
                        <div class="table-cell"><span class="red" ></span></div>
                        

                    </div>
                    <input class="filteredit hidden" name="attr_config_skill_filter" type="checkbox" value="1"/>
                    <%- include('skill.ejs', {name: "cracking",category:"matrix",selected:"logic"}); %>
                    <%- include('skill.ejs', {name: "electronics",category:"matrix",selected:"logic"}); %>
                    <%- include('skill.ejs', {name: "engineering",category:"matrix",selected:"logic"}); %>
                    <%- include('skill.ejs', {name: "task",category:"matrix",selected:"resonance"}); %>
                    <%- include('skill.ejs', {name: "perception",category:"matrix",selected:"intuition"}); %>
                
                </div>
            </div>
        </div>

        <%- include("section.ejs",{title:"matrix_actions",template:"matrix_actions.ejs",hideby:"matrix_section_actions"}); %>
        
        <input class="toggle-hide" name="attr_matrix_section_hide_programms" type="checkbox" value="1" checked/>
        <div class="togglesection">
            <div class="sectionheader">
                <label>
                    <input class="toggle-hide" name="attr_prg_hide" type="checkbox" value="1"/>
                    <h4><span data-i18n="matrixprograms"> Matrix-Prg</span></h4>
                </label>
            </div>
            <input class="toggle-hide" name="attr_prg_hide" type="checkbox" value="1"/>
            <div class="togglesection">
                <div class="">
                    <div class="flexcontainer">  
                         <div class="flexcontainer" data-i18n-title="prgbm_title"><span class="flex--r flex--2" data-i18n="prgbm"></span>
                            <div >   <label class="switch"  data-i18n-title="prgonoff" title="[prgonoff]">
                                <input name="attr_prgbm" type="checkbox" value="1">
                                <span class="slider">&nbsp;</span>
                            </label>
                            
                                  </div>
                        </div>
                        <div class="flexcontainer" data-i18n-title="prged_title"><span class="flex--r flex--2" data-i18n="prged"></span> <div > <label class="switch"  data-i18n-title="prgonoff" title="[prgonoff]">                            <input name="attr_prged" type="checkbox" value="1">                            <span class="slider">&nbsp;</span>                        </label>                              </div>              </div>
                        <div class="flexcontainer" data-i18n-title="prgko_title"><span class="flex--r flex--2" data-i18n="prgko"></span> <div >  <label class="switch"  data-i18n-title="prgonoff" title="[prgonoff]">                            <input name="attr_prgko" type="checkbox" value="1">                            <span class="slider">&nbsp;</span>                        </label>                             </div>               </div>
                        <div class="flexcontainer" data-i18n-title="prgsk_title"><span class="flex--r flex--2" data-i18n="prgsk"></span> <div >                       <label class="switch"  data-i18n-title="prgonoff" title="[prgonoff]">                            <input name="attr_prgsk" type="checkbox" value="1">                            <span class="slider">&nbsp;</span>                        </label>        </div>                                    </div>
                    </div>
                    <div class="flexcontainer">  
                        <div class="flexcontainer" data-i18n-title="prgsr_title"><span class="flex--r flex--2" data-i18n="prgsr"></span>    <div >                  <label class="switch"  data-i18n-title="prgonoff" title="[prgonoff]">                            <input name="attr_prgsr" type="checkbox" value="1">                            <span class="slider">&nbsp;</span>                        </label>                   </div>                         </div>
                        <div class="flexcontainer" data-i18n-title="prgtb_title"><span class="flex--r flex--2" data-i18n="prgtb"></span>    <div >                  <label class="switch"  data-i18n-title="prgonoff" title="[prgonoff]">                            <input name="attr_prgtb" type="checkbox" value="1">                            <span class="slider">&nbsp;</span>                        </label>                   </div>                         </div>
                        <div class="flexcontainer" data-i18n-title="prgvs_title"><span class="flex--r flex--2" data-i18n="prgvs"></span>    <div >                  <label class="switch"  data-i18n-title="prgonoff" title="[prgonoff]">                            <input name="attr_prgvs" type="checkbox" value="1">                            <span class="slider">&nbsp;</span>                        </label>                   </div>                         </div>
                        <div class="flexcontainer" data-i18n-title="prgvm_title"><span class="flex--r flex--2" data-i18n="prgvm"></span>    <div >                    <label class="switch"  data-i18n-title="prgonoff" title="[prgonoff]">                            <input name="attr_prgvm" type="checkbox" value="1">                            <span class="slider">&nbsp;</span>                        </label>                 </div>                           </div>
                    </div>
                    <div class="flexcontainer">  
                        <div class="flexcontainer" data-i18n-title="prgas_title"><span class="flex--r flex--2" data-i18n="prgas"></span>    <div >                  <label class="switch"  data-i18n-title="prgonoff" title="[prgonoff]">                            <input name="attr_prgas" type="checkbox" value="1">                            <span class="slider">&nbsp;</span>                        </label>                   </div>                       </div>
                        <div class="flexcontainer" data-i18n-title="prgan_title"><span class="flex--r flex--2" data-i18n="prgan"></span>    <div >                  <label class="switch"  data-i18n-title="prgonoff" title="[prgonoff]">                            <input name="attr_prgan" type="checkbox" value="1">                            <span class="slider">&nbsp;</span>                        </label>                   </div>                       </div>
                        <div class="flexcontainer" data-i18n-title="prgbf_title"><span class="flex--r flex--2" data-i18n="prgbf"></span>    <div >                  <label class="switch"  data-i18n-title="prgonoff" title="[prgonoff]">                            <input name="attr_prgbf" type="checkbox" value="1">                            <span class="slider">&nbsp;</span>                        </label>                   </div>                       </div>
                       <div class="flexcontainer" data-i18n-title="prgbff_title"><span class="flex--r flex--2" data-i18n="prgbff"></span>   <div >                   <label class="switch"  data-i18n-title="prgonoff" title="[prgonoff]">                            <input name="attr_prgbff" type="checkbox" value="1">                            <span class="slider">&nbsp;</span>                        </label>                 </div>                         </div>
                    </div>
                    <div class="flexcontainer">  
                        <div class="flexcontainer" data-i18n-title="prgbo_title"><span class="flex--r flex--2" data-i18n="prgbo"></span>     <div >                  <label class="switch"  data-i18n-title="prgonoff" title="[prgonoff]">                            <input name="attr_prgbo" type="checkbox" value="1">                            <span class="slider">&nbsp;</span>                        </label>                 </div>                         </div>
                        <div class="flexcontainer" data-i18n-title="prges_title"><span class="flex--r flex--2" data-i18n="prges"></span>     <div >                  <label class="switch"  data-i18n-title="prgonoff" title="[prgonoff]">                            <input name="attr_prges" type="checkbox" value="1">                            <span class="slider">&nbsp;</span>                        </label>                 </div>                         </div>
                       <div class="flexcontainer" data-i18n-title="prgess_title"><span class="flex--r flex--2" data-i18n="prgess"></span>    <div >                   <label class="switch"  data-i18n-title="prgonoff" title="[prgonoff]">                            <input name="attr_prgess" type="checkbox" value="1">                            <span class="slider">&nbsp;</span>                        </label>               </div>                           </div>
                        <div class="flexcontainer" data-i18n-title="prgfe_title"><span class="flex--r flex--2" data-i18n="prgfe"></span>     <div >                  <label class="switch"  data-i18n-title="prgonoff" title="[prgonoff]">                            <input name="attr_prgfe" type="checkbox" value="1">                            <span class="slider">&nbsp;</span>                        </label>                 </div>                         </div>
                    </div>
                    <div class="flexcontainer">  
                        <div class="flexcontainer" data-i18n-title="prgga_title"><span class="flex--r flex--2" data-i18n="prgga"></span>      <div >                  <label class="switch"  data-i18n-title="prgonoff" title="[prgonoff]">                            <input name="attr_prgga" type="checkbox" value="1">                            <span class="slider">&nbsp;</span>                        </label>                  </div>                        </div>
                        <div class="flexcontainer" data-i18n-title="prgpa_title"><span class="flex--r flex--2" data-i18n="prgpa"></span>      <div >                  <label class="switch"  data-i18n-title="prgonoff" title="[prgonoff]">                            <input name="attr_prgpa" type="checkbox" value="1">                            <span class="slider">&nbsp;</span>                        </label>                  </div>                        </div>
                        <div class="flexcontainer" data-i18n-title="prgss_title"><span class="flex--r flex--2" data-i18n="prgss"></span>      <div >                  <label class="switch"  data-i18n-title="prgonoff" title="[prgonoff]">                            <input name="attr_prgss" type="checkbox" value="1">                            <span class="slider">&nbsp;</span>                        </label>                  </div>                        </div>
                        <div class="flexcontainer" data-i18n-title="prgtk_title"><span class="flex--r flex--2" data-i18n="prgtk"></span>      <div >                  <label class="switch"  data-i18n-title="prgonoff" title="[prgonoff]">                            <input name="attr_prgtk" type="checkbox" value="1">                            <span class="slider">&nbsp;</span>                        </label>                  </div>                        </div>
                    </div>
                    <div class="flexcontainer">  
                        <div class="flexcontainer" data-i18n-title="prgut_title"><span class="flex--r flex--2" data-i18n="prgut"></span>      <div >                 <label class="switch"  data-i18n-title="prgonoff" title="[prgonoff]">                            <input name="attr_prgut" type="checkbox" value="1">                            <span class="slider">&nbsp;</span>                        </label>                   </div>                         </div>
                        <div class="flexcontainer" ></div>
                        <div class="flexcontainer" ></div>
                        <div class="flexcontainer" ></div>
                    </div>
                </div>
            </div>
        </div>
        <input class="toggle-hide" name="attr_matrix_section_hide_komplexforms" type="checkbox" value="1" checked/>
        <div class="togglesection">
            <div class="sectionheader">
                <label>
                    <input class="toggle-hide" name="attr_kf_hide" type="checkbox" value="1"/>
                    <h4><span data-i18n="komplexform"> Komplexe-Formen</span></h4>
                </label>
            </div>
            <input class="toggle-hide" name="attr_kf_hide" type="checkbox" value="1"/>
            <div class="togglesection">
                <div class="innertable half">
                    <%- include('attributeheader.ejs'); %>
                    <%- include('attribute.ejs', {name: "resonance"}); %>
                </div> 
                <div class="innertable">
                    <div class="table-row"> 
                        <div class="table-cell-skill-name"><span class="red" data-i18n="name">Name</span>  </div>
                        <div class="table-cell">  <span class="red" data-i18n="difficulty">Schw.</span></div>
                        <div class="table-cell">  <span class="red" data-i18n="duration">Dauer</span></div>
                        <div class="table-cell">  <span class="red" data-i18n="mod">Mod.</span></div>
                        <div class="table-cell">  <span class="red"></span></div>
                        <div class="table-cell-skill-name">  <span class="red" data-i18n="attrib1">Attribut1</span></div>
                        <div class="table-cell-skill-name">  <span class="red" data-i18n="attrib2">Attribut2</span></div>
                        <div class="table-cell">  <span class="red" data-i18n="dicepool">Pool</span></div>
                        <div class="table-cell-rolls"></div> 
                        
                        
                    </div>
        
                </div> 
                <fieldset class="repeating_kf">
                    <div class="innertable">
                    <div class="table-row">
                    
                        <div class="table-cell-skill-name"><input class="komplexformname   first last" type="text" name="attr_kf_name" value="" /> </div>   
                        <div class="table-cell">    <input class="smallinput first" type="number" name="attr_kf_schwund" value="" /> </div>  
                        <div class="table-cell">    <input class="smallinput" type="text" name="attr_kf_dauer" value="P" />  </div>
                        <div class="table-cell">    <input class="smallinput last" type="number" name="attr_kf_mod" value="0" />  </div>
                        <div class="table-cell"><input class="toggle-hide-not eye" name="attr_kpf_hide" type="checkbox" value="1"/> </div>
                        <div class="table-cell-skill-name">  
                                <select class="attributedropdown   first last" name="attr_kf_at1" value="display_resonance" title="@{skill_perception_attribute}">
                                    <option value="display_body" data-i18n="body">KON</option>
                                    <option value="display_agility" data-i18n="agility">GES</option>
                                    <option value="display_reaction" data-i18n="reaction">REA</option>
                                    <option value="display_strength" data-i18n="strength">STÄ</option>
                                    <option value="display_willpower" data-i18n="willpower">WIL</option>
                                    <option value="display_logic" data-i18n="logic">LOG</option>
                                    <option value="display_intuition" data-i18n="intuition" >INT</option>
                                    <option value="display_charisma" data-i18n="charisma">CHA</option>
                                    <option value="display_resonance" data-i18n="resonance" selected>RES</option>
                                </select>  
                        </div>
                        <div class="table-cell-skill-name">  
                            <select class="attributedropdown first last" name="attr_kf_at2" value="int" title="@{skill_perception_attribute}">
                                <option value="skill_electronics" data-i18n="skill_electronics" selected>Elektronik</option>
                                <option value="skill_cracking" data-i18n="skill_cracking">Cracken</option>
                                <option value="skill_piloting" data-i18n="skill_piloting"></option>
                            
                            </select>  
                        </div>
                        <div class="table-cell"><input class="smallinput first last" type="number" name="attr_kf_total" value="0" placeholder="0" readonly/></div>
                        <div class="table-cell">  
                            <button class="iconbutton50 btn ui-draggable" type="roll" name="roll_kf" value="@{gm_toggle} &{template:roll}{{mainattribute=^{@{kf_at1}}}}{{secondattribute=^{@{kf_at2}}}}{{expertise=@{kf_name} }}{{schwund=[[@{kf_schwund}]]}}{{schwunddrain=[[(@{display_willpower}+@{display_logic})d6cs>5>5sd]]}}{{wilddieprop=[[@{wilddieprop}d6]]}}<%- include('dicetemplate.ejs', {pool: "(@{kf_total}-@{display_rauschenclean}+@{use_wounds}+@{sustain_malus}+@{allmod}+@{mod_roll}@{wilddiemod})"}); %>{{description=@{kf_desc}}}">
                                <span class="red" title="" data-i18n="roll"></span>
                            </button>
                        </div>
                        <div class="table-cell-rolls"></div> 
                    </div>
                    
                </div> 
                    <input class="toggle-hide" name="attr_kpf_hide" type="checkbox" value="1"/>
                    <div class ="togglesection table-row">
                        
                            <textarea  class="fulltextbox  first last" type="text" name="attr_kf_desc" value=""></textarea>
                        
                    </div>
                    
                </fieldset>
                
            </div>
        </div>
        <input class="toggle-hide" name="attr_matrix_section_hide_sprites" type="checkbox" value="1" checked/>
        <div class="togglesection">
            <div class="sectionheader">
                <label>
                    <input class="toggle-hide" name="attr_sprites_hide" type="checkbox" value="1"/>
                    <h4><span data-i18n="matrixsprites"> Matrix-Sprites</span></h4>
                </label>
            </div>
            
            <input class="toggle-hide" name="attr_sprites_hide" type="checkbox" value="1"/>
            <div class="togglesection">
                <div class="innertable">
                    <div class="tablerow">
                        <div class="table-cell-skill-name"><span data-i18n="display_resonance"></span></div>
                        <div class="table-cell">
                            <input class="smallinput first last" type="number" name="attr_display_resonance" value="0">
                        </div>
                        <div class="table-cell">
                            <button class="iconbutton btn ui-draggable" type="roll" name="roll_display_firewall" value="@{gm_toggle} &amp;{template:roll}{{mainattribute=^{display_resonance}}}{{dicepool=[[@{display_resonance}+@{use_wounds} [Wounds] +@{sustain_malus} [Sunstain] +@{allmod}+@{mod_roll}[Test-Modifier]]]}}{{wilddieprop=[[@{wilddieprop}d6]]}}<%- include('dicetemplate.ejs', {pool: "(@{display_resonance}+@{use_wounds}+@{sustain_malus}+@{allmod}+@{mod_roll}@{wilddiemod})"}); %>">
                            
                            </button>
                        </div>
                    </div> 
                </div>     
                <div class="innertable">
                    <div class="table-row"> 
                        <div class="table-cell-skill-name"><span class="red" data-i18n="action">Aktion</span>  </div> 
                        <div class="table-cell"><span class="red" data-i18n="dice_pool_title">Pool</span>  </div> 
                        <div class="table-cell"><span class="red" data-i18n="mod">Mod</span>  </div> 
                        <div class="table-cell"><span class="red"></span>  </div> 
                        <div class="table-cell-skill-name"><span class="red" data-i18n="action">Aktion</span>  </div> 
                        <div class="table-cell"><span class="red" data-i18n="dice_pool_title">Pool</span>  </div> 
                        <div class="table-cell"><span class="red" data-i18n="mod">Mod</span>  </div> 
                        <div class="table-cell"><span class="red"></span>  </div> 
                        <div class="table-cell-skill-name"><span class="red" data-i18n="action">Aktion</span>  </div> 
                        <div class="table-cell"><span class="red" data-i18n="dice_pool_title">Pool</span>  </div> 
                        <div class="table-cell"><span class="red" data-i18n="mod">Mod</span>  </div> 
                        <div class="table-cell"><span class="red"></span>  </div> 
                        <div class="table-cell-rolls"></div>
                    </div>
                    <div class="table-row"> 
                        <div class="table-cell-skill-name"><span >Kompilieren</span>  </div> 
                        <div class="table-cell"> <input class="smallinput first" type="number" name="attr_display_compile" value="@{skill_task_base}+@{skill_task_modifier}+@{display_resonance}" placeholder="" disabled/>  </div> 
                        <div class="table-cell"><input class="smallinput last" type="number" name="attr_compile_mod" value="0" placeholder="0"/>  </div> 
                        <div class="table-cell">
                            <button class="iconbutton50 btn ui-draggable" type="roll" name="roll_kf" value="@{gm_toggle} &{template:roll}{{mainattribute=^{skill_task}}}{{secondattribute=^{display_resonance}}}{{expertise=^{compilesprite} }}{{schwunddrain=[[(@{display_willpower}+@{display_logic})d6cs>5>5sd]]}}{{wilddieprop=[[@{wilddieprop}d6]]}}<%- include('dicetemplate.ejs', {pool: "(@{skill_task_base}+@{skill_task_modifier}+@{display_resonance}+@{compile_mod}+@{use_wounds}+@{sustain_malus}+@{allmod}+@{mod_roll}@{wilddiemod})"}); %>{{sprite=[[(?{Stufe|2}+?{Stufe|2})d6cs>5sd>5]]}}">
                                
                            </button>
                        </div> 
                   
                    <div class="table-cell-skill-name"><span >Registrieren</span>  </div> 
                    <div class="table-cell"> <input class="smallinput first" type="number" name="attr_display_resgister" value="@{skill_task_base}+@{skill_task_modifier}+@{display_resonance}" placeholder="" disabled/>  </div> 
                    <div class="table-cell"><input class="smallinput last" type="number" name="attr_resgister_mod" value="0" placeholder="0"/>  </div> 
                    <div class="table-cell">
                        <button class="iconbutton50 btn ui-draggable" type="roll" name="roll_kf" value="@{gm_toggle} &{template:roll}{{mainattribute=^{skill_task}}}{{secondattribute=^{display_resonance}}}{{expertise=^{registersprite} }}{{schwunddrain=[[(@{display_willpower}+@{display_logic})d6cs>5>5sd]]}}{{wilddieprop=[[@{wilddieprop}d6]]}}<%- include('dicetemplate.ejs', {pool: "(@{skill_task_base}+@{skill_task_modifier}+@{display_resonance}+@{resgister_mod}+@{use_wounds}+@{sustain_malus}+@{allmod}+@{mod_roll}@{wilddiemod})"}); %>{{sprite=[[(?{Stufe|2}+?{Stufe|2})d6cs>5sd>5]]}}">
                            
                        </button>
                    </div>
                   
                    <div class="table-cell-skill-name"><span >Dekompile</span>  </div> 
                    <div class="table-cell"> <input class="smallinput first" type="number" name="attr_display_decompile" value="@{skill_task_base}+@{skill_task_modifier}+@{display_resonance}" placeholder="" disabled/>  </div> 
                    <div class="table-cell"><input class="smallinput last" type="number" name="attr_decompile_mod" value="0" placeholder="0"/>  </div> 
                    <div class="table-cell">
                        <button class="iconbutton50 btn ui-draggable" type="roll" name="roll_kf" value="@{gm_toggle} &{template:roll}{{mainattribute=^{skill_task}}}{{secondattribute=^{display_resonance}}}{{expertise=^{decompilesprite} }}{{schwunddrain=[[(@{display_willpower}+@{display_logic})d6cs>5>5sd]]}}{{wilddieprop=[[@{wilddieprop}d6]]}}<%- include('dicetemplate.ejs', {pool: "(@{skill_task_base}+@{skill_task_modifier}+@{display_resonance}+@{compile_mod}+@{use_wounds}+@{sustain_malus}+@{allmod}+@{mod_roll}@{wilddiemod})"}); %>">
                        
                        </button>
                    </div> 
                    <div class="table-cell-rolls"></div>
                    </div>
                    
                </div>
                <br>
                <div class="innertable mr--left pd--left mr--bottom">
                    <div class="table-row"> 
                        <div class="table-cell-skill-name"><span class="red">Typ</span>  </div>
                        <div class="table-cell">  <span class="red" data-i18n="level">Stufe</span></div>
                        <div class="table-cell">  <span class="red" data-i18n="matrix_attack_score_title" data-i18n-title="matrix_attack_score_title">Angriff</span></div>
                        <div class="table-cell">  <span class="red" data-i18n="matrix_attack_corruption_title_short" data-i18n-title="matrix_attack_corruption_title">Schl.</span></div>
                        <div class="table-cell">  <span class="red" data-i18n="matrix_dataprocessing_score_title_short" data-i18n-title="matrix_dataprocessing_score_title">DV.</span></div>
                        <div class="table-cell">  <span class="red" data-i18n="matrix_fw_score_title_short" data-i18n-title="matrix_fw_score_title_short">FW.</span></div>
                        <div class="table-cell">  <span class="red" data-i18n="initiative_short">Ini</span></div>
                        <div class="table-cell">  <span class="red" data-i18n="matrix_schaden_title_short" data-i18n-title="matrix_schaden_title">Schaden</span></div>
                        <div class="table-cell">  <span class="red" data-i18n="max" data-i18n-title="matrix_schadenmax_title">Max</span></div>
                        <div class="table-cell-rolls"></div>
                    </div>
                </div>
                <fieldset class="repeating_sprites">
                    <div class="innertable">

                    
                        <div class="table-row"> 
                            <div class="table-cell-skill-name pd--left">
                            <select class="spirittypedropdown sheet-whitebackground first last" name="attr_spritetype" title="spritetype_title">
                                <option value="sprite_ds" selected></option>
                                <option value="sprite_ds" data-i18n="sprite_ds" >Daten</option>
                                <option value="sprite_is" data-i18n="sprite_is">infiltrator</option>
                                <option value="sprite_ks" data-i18n="sprite_ks">Kurier</option>
                                <option value="sprite_ms" data-i18n="sprite_ms">maschinen</option>
                                <option value="sprite_ss" data-i18n="sprite_ss">Menschengeist</option>
                            </select>
                            </div>
                            <div class="table-cell"><input class="smallinput first" type="number" name="attr_sp_stufe" value="1" placeholder="0"/></div>
                            <div class="table-cell"><input class="smallinput" type="number" name="attr_sp_at" value="0" placeholder="0" readonly/></div>
                            <div class="table-cell"><input class="smallinput" type="number" name="attr_sp_sch" value="0" placeholder="0" readonly/></div>
                            <div class="table-cell"><input class="smallinput" type="number" name="attr_sp_dv" value="0" placeholder="0" readonly/></div>
                            <div class="table-cell"><input class="smallinput" type="number" name="attr_sp_fw" value="0" placeholder="0" readonly/></div>
                            <div class="table-cell"><input class="smallinput" type="number" name="attr_sp_ini" value="0" placeholder="0" readonly/></div>
                            <div class="table-cell"><input class="smallinput" type="number" name="attr_sp_dmg" value="0" placeholder="0"/></div>
                            <div class="table-cell"><input class="smallinput last" type="number" name="attr_sp_max" value="0" placeholder="0" readonly/></div>
                            <div class="table-cell">  
                                <button class="iconbutton50 btn ui-draggable" type="roll" name="roll_kf" value="@{gm_toggle} &{template:roll}{{mainattribute=^{@{spritetype}}}}{{wilddieprop=[[@{wilddieprop}d6]]}}<%- include('dicetemplate.ejs', {pool: "(?{Pool})"}); %>">
                                
                                </button>
                            </div>
                            <div class="table-cell-rolls"></div>
                        </div>
                    </div>
                    <div class="innertable pd--left">
                        <div class="table-row">
                            <div class="table-cell"><input class="komplexformname" type="text" name="attr_sp_power1" value="" placeholder=""/></div>
                            <div class="table-cell"><input class="komplexformname" type="text" name="attr_sp_power2" value="" placeholder=""/></div>
                            <div class="table-cell"><input class="komplexformname" type="text" name="attr_sp_power3" value="" placeholder=""/></div>
                            <div class="table-cell">       <input class="komplexformname" type="text" name="attr_sp_power4" value="" placeholder=""/></div>
                            <div class="table-cell-rolls"></div>
                        </div>
                        
                    </div>

                </fieldset>
            </div>
        </div>
    </div>