
        
        
            <div class="innertable">
               
                <div class="rightalign mr--topgeg10">
                    <label >
                    <input  name="attr_config_skill_filter" type="checkbox" value="1"/>
                    <span class="red" data-i18n="setskillsfilter">setskillsfilter</span>
                    </label>
                </div>
                <input class="toggle-hide" name="attr_config_skill_filter" type="checkbox" value="1"/>
                <div class="togglesection">
                    <div class="table-row">
                        
                        <button class="mr--topgeg10" type="action" name="act_reset_actions_visibility">
                            <span data-i18n="display_all_actions">alle Fertigkeiten sichtbar machen</span>
                        </button>
                        <button class="mr--topgeg10" type="action" name="act_hide_illegal_actions">
                            <span data-i18n="hide_illegal">Fertigkeiten ohne Punkte ausblenden</span>
                        </button>
                        </div>
                </div>
             </div>   


            <div class="flex-table">
                <div class="flexcontainer">  
                    <div class="flex-center">   </div>
                    <div class="flex-center"><span class="" data-i18n="check">Probe</span></div>
                    <div class="flex-center"><span class="" data-i18n="defense">Verteidigung</span></div>
                    <div class="flex-center"><span class="" data-i18n="devicedefence">GeräteVerteidigung</span></div>
                </div>
                <div class="flexcontainer">  
                    <div class="flex-center">    </div>
                    <div class="flex-center"><div class="flex-center"><span class="red" data-i18n="poolmodedg">Pool/Modifier/prg</span></div></div>
                    <div class="flex-center"><span class="red" data-i18n="poolmod">Pool/Modifier</span></div>
                    <div class="flex-center"><span class="red" data-i18n="poolmod">Pool/Modifier</span></div>
                
                </div>
                <input class="filteredit hidden" name="attr_config_skill_filter" type="checkbox" value="1"/>
                <!--Begin Ausstöpseln-->
                <input class="toggle-hide-skill" name="attr_mh_as_hide" type="checkbox" value="1"/>
                <div class="flexcontainer skill">  
                    <div class="flexcontainer"><input class="skillfilter eye" name="attr_mh_as_hide" type="checkbox" value="1"\/><span data-i18n="matrixaction_as">Ausstöpseln</span></div>
    
                    <div class="flex-center">   <div class="flex-center">
                        <input class="smallinput first" type="number" name="attr_mh_as_pool" value="(@{display_willpower}+@{skill_electronics_base}+@{skill_electronics_modifier}-@{display_rauschenclean}-@{display_deckschadenmod})" disabled/>    
                        <input class="smallinput" type="number" name="attr_mh_as_mod" value="0"/>
                        <input class="smallinput last" type="number" name="attr_mh_as_edg" value="" disabled/>
                        <button class="iconbutton  btn ui-dra
                        ble" type="roll" name="roll_mh_as" value="@{gm_toggle} &{template:roll}{{mainattribute=^{willpower_short}}}{{secondattribute=^{skill_electronics}}}{{expertise=^{matrixaction_as}}}{{wilddieprop=[[@{wilddieprop}d6]]}}{{dicepool=[[(@{mh_as_pool}+@{mh_as_mod}+@{use_wounds}+@{sustain_malus}+@{allmod}+@{mod_roll}@{wilddiemod})]]}}<%- include('dicetemplate.ejs', {pool: "(@{mh_as_pool}+@{mh_as_mod}+@{use_wounds}+@{sustain_malus}+@{allmod}+@{mod_roll}@{wilddiemod})"}); %>">
                            <span class="red" title="" data-i18n-title="mh_wil_el_title" data-i18n="mh_wil_el"></span>
                        </button>
                        </div>
                    </div>
                    <div class="flex-center">   
                        <input class="smallinput first" type="number" name="attr_mh_as_defpool" value="(@{prgpa}+@{display_charisma}+@{display_datenverarbeituntotal}-@{display_rauschenclean}-@{display_deckschadenmod})" disabled/>    
                        <input class="smallinput last" type="number" name="attr_mh_as_defmod" value="0"/>
                        <button class="iconbutton btn ui-draggable" type="roll" name="roll_mh_asdef" value="@{gm_toggle} &{template:roll}{{mainattribute=^{charisma_short}}}{{secondattribute=^{matrix_dataprocessing_score_title}}}{{expertise=^{matrixaction_as} ^{matrixaction_def}}}{{wilddieprop=[[@{wilddieprop}d6]]}}{{dicepool=[[(@{mh_as_defpool}+@{mh_as_defmod}+@{use_wounds}+@{sustain_malus}+@{allmod}+@{mod_roll}@{wilddiemod})]]}}<%- include('dicetemplate.ejs', {pool: "(@{mh_as_defpool}+@{mh_as_defmod}+@{use_wounds}+@{sustain_malus}+@{allmod}+@{mod_roll}@{wilddiemod})"}); %>">
                            <span class="red" title="" data-i18n-title="mh_cha_dv_title" data-i18n="mh_cha_dv"></span>
                        </button>
                    </div>
                    <div class="flex-center">   
                        <input class="smallinput first" type="number" name="attr_mh_as_def2pool" value="(@{display_angrifftotal}+@{display_datenverarbeituntotal}-@{display_deckschadenmod})" disabled/>    
                        <input class="smallinput last" type="number" name="attr_mh_as_def2mod" value="0"/>
                        <button class="iconbutton btn ui-draggable" type="roll" name="roll_mh_asdef2" value="@{gm_toggle} &{template:roll}{{mainattribute=^{matrix_attack_score_title}}}{{secondattribute=^{matrix_dataprocessing_score_title}}}{{expertise=^{matrixaction_as} ^{matrixaction_def2}}}{{wilddieprop=[[@{wilddieprop}d6]]}}{{dicepool=[[(@{mh_as_def2pool}+@{mh_as_def2mod}+@{use_wounds}+@{sustain_malus}+@{allmod}+@{mod_roll}@{wilddiemod})]]}}<%- include('dicetemplate.ejs', {pool: "(@{mh_as_def2pool}+@{mh_as_def2mod}+@{use_wounds}+@{sustain_malus}+@{allmod}+@{mod_roll}@{wilddiemod})"}); %>">
                            <span class="red" title="" data-i18n-title="mh_ag_dv_title" data-i18n="mh_ag_dv"></span>
                        </button>
                    </div>
                    
                </div>
                <!--Begin Befehl vortäuschen-->
                <input class="toggle-hide-skill" name="attr_mh_bv_hide" type="checkbox" value="1"/>
                <div class="flexcontainer skill">  
                    <div class="flexcontainer"><input class="skillfilter eye" name="attr_mh_bv_hide" type="checkbox" value="1"\/><span data-i18n="matrixaction_bv">Befehl vortäuschen</span></div>
    
                    <div class="flex-center">   
                        <input class="smallinput first" type="number" name="attr_mh_bv_pool" value="(@{display_logic}+@{skill_cracking_base}+@{skill_cracking_modifier}-@{display_rauschenclean}-@{display_deckschadenmod})" disabled/>    
                        <input class="smallinput" type="number" name="attr_mh_bv_mod" value="0"/>
                        <input class="smallinput last" type="number" name="attr_mh_bv_edg" value="" disabled/>
                        <button class="iconbutton illigalbutton btn ui-draggable" type="roll" name="roll_mh_bv" value="@{gm_toggle} &{template:roll}{{mainattribute=^{logic_short}}}{{secondattribute=^{skill_cracking}}}{{expertise=^{matrixaction_bv}}}{{wilddieprop=[[@{wilddieprop}d6]]}}{{dicepool=[[(@{mh_bv_pool}+@{mh_bv_mod}+@{use_wounds}+@{sustain_malus}+@{allmod}+@{mod_roll}@{wilddiemod})]]}}<%- include('dicetemplate.ejs', {pool: "(@{mh_bv_pool}+@{mh_bv_mod}+@{use_wounds}+@{sustain_malus}+@{allmod}+@{mod_roll}@{wilddiemod})"}); %>{{warning=^{illigaloperation}}}">
                            <span class="red" title="" data-i18n-title="mh_log_cr_title" data-i18n="mh_log_cr"></span>
                        </button>
                    </div>
                    <div class="flex-center">   
                    
                    </div>
                    <div class="flex-center">   
                        <input class="smallinput first" type="number" name="attr_mh_bv_def2pool" value="(@{display_firewalltotal}+@{display_datenverarbeituntotal}-@{display_deckschadenmod})" disabled/>    
                        <input class="smallinput last" type="number" name="attr_mh_bv_def2mod" value="0"/>
                        <button class="iconbutton btn ui-draggable" type="roll" name="roll_mh_bvdef2" value="@{gm_toggle} &{template:roll}{{mainattribute=^{matrix_fw_score_title}}}{{secondattribute=^{matrix_dataprocessing_score_title}}}{{expertise=^{matrixaction_bv} ^{matrixaction_def}}}{{wilddieprop=[[@{wilddieprop}d6]]}}{{dicepool=[[(@{mh_bv_def2pool}+@{mh_bv_def2mod}+@{use_wounds}+@{sustain_malus}+@{allmod}+@{mod_roll}@{wilddiemod})]]}}<%- include('dicetemplate.ejs', {pool: "(@{mh_bv_def2pool}+@{mh_bv_def2mod}+@{use_wounds}+@{sustain_malus}+@{allmod}+@{mod_roll}@{wilddiemod})"}); %>">
                            <span class="red" title="" data-i18n-title="mh_fw_dv_title" data-i18n="mh_fw_dv"></span>
                        </button>
                    </div>
                </div>
                <!--Begin Brute Force-->
                <input class="toggle-hide-skill" name="attr_mh_bf_hide" type="checkbox" value="1"/>
                <div class="flexcontainer skill">  
                    <div class="flexcontainer">
                        <input class="skillfilter eye" name="attr_mh_bf_hide" type="checkbox" value="1"\/>
                        <div>
                            <span data-i18n="matrixaction_bf">Brute Force</span> 
                            <span class="red" data-i18n="assosiatewithattack_short" data-i18n-title="assosiatewithattack">[</span>
                        </div>
                    </div>
    
                    <div class="flex-center">   
                        <input class="smallinput first" type="number" name="attr_mh_bf_pool" value="(@{display_logic}+@{skill_cracking_base}+@{skill_cracking_modifier}+@{display_deckasdif}-@{display_rauschenclean}-@{display_deckschadenmod})" disabled/>    
                        <input class="smallinput" type="number" name="attr_mh_bf_mod" value="0"/>
                        <input class="smallinput last" type="number" name="attr_mh_bf_edg" value="" disabled/>
                        <button class="iconbutton illigalbutton btn ui-draggable" type="roll" name="roll_mh_bv" value="@{gm_toggle} &{template:roll}{{mainattribute=^{logic_short}}}{{secondattribute=^{skill_cracking}}}{{expertise=^{matrixaction_bf}}}{{wilddieprop=[[@{wilddieprop}d6]]}}{{dicepool=[[(@{mh_bf_pool}+@{mh_bf_mod}+@{use_wounds}+@{sustain_malus}+@{allmod}+@{mod_roll}@{wilddiemod})]]}}<%- include('dicetemplate.ejs', {pool: "(@{mh_bf_pool}+@{mh_bf_mod}+@{use_wounds}+@{sustain_malus}+@{allmod}+@{mod_roll}@{wilddiemod})"}); %>{{warning=^{illigaloperation}}}">
                            <span class="red" title="" data-i18n-title="mh_log_cr_title" data-i18n="mh_log_cr"></span>
                        </button>
                    </div>
                    <div class="flex-center">   
                        <input class="smallinput first" type="number" name="attr_mh_bf_defpool" value="(@{prgpa}+@{display_willpower}+@{display_firewalltotal}-@{display_rauschenclean}-@{display_deckschadenmod})" disabled/>    
                        <input class="smallinput last" type="number" name="attr_mh_bf_defmod" value="0"/>
                        <button class="iconbutton btn ui-draggable" type="roll" name="roll_mh_mwdef" value="@{gm_toggle} &{template:roll}{{mainattribute=^{willpower}}}{{secondattribute=^{matrix_fw_score_title}}}{{expertise=^{matrixaction_bf} ^{matrixaction_def}}}{{wilddieprop=[[@{wilddieprop}d6]]}}{{dicepool=[[(@{mh_bf_defpool}+@{mh_bf_defmod}+@{use_wounds}+@{sustain_malus}+@{allmod}+@{mod_roll}@{wilddiemod})]]}}<%- include('dicetemplate.ejs', {pool: "(@{mh_bf_defpool}+@{mh_bf_defmod}+@{use_wounds}+@{sustain_malus}+@{allmod}+@{mod_roll}@{wilddiemod})"}); %>">
                            <span class="red" title="" data-i18n-title="mh_wil_dv_title" data-i18n="mh_wil_dv"></span>
                        </button>
                    </div>
                    <div class="flex-center">   
                        <input class="smallinput first" type="number" name="attr_mh_bf_def2pool" value="(@{display_intuition}+@{display_schleichertotal}+@{display_schleichertotal}-@{display_deckschadenmod})" disabled/>    
                        <input class="smallinput last" type="number" name="attr_mh_bf_def2mod" value="0"/>
                        <button class="iconbutton btn ui-draggable" type="roll" name="roll_mh_mwdef2" value="@{gm_toggle} &{template:roll}{{mainattribute=^{matrix_fw_score_title}}}{{secondattribute=^{matrix_fw_score_title}}}{{expertise=^{matrixaction_bf} ^{matrixaction_def2}}}{{wilddieprop=[[@{wilddieprop}d6]]}}{{dicepool=[[(@{mh_bf_def2pool}+@{mh_bf_def2mod}+@{use_wounds}+@{sustain_malus}+@{allmod}+@{mod_roll}@{wilddiemod})]]}}<%- include('dicetemplate.ejs', {pool: "(@{mh_bf_def2pool}+@{mh_bf_def2mod}+@{use_wounds}+@{sustain_malus}+@{allmod}+@{mod_roll}@{wilddiemod})"}); %>">
                            <span class="red" title="" data-i18n-title="mh_fw_fw_title" data-i18n="mh_fw_fw"></span>
                        </button>
                    </div>
                </div>
                <!--Begin Datei cracken-->
                <input class="toggle-hide-skill" name="attr_mh_dc_hide" type="checkbox" value="1"/>
                <div class="flexcontainer skill">  
                    <div class="flexcontainer"><input class="skillfilter eye" name="attr_mh_dc_hide" type="checkbox" value="1"\/><span data-i18n="matrixaction_dc">Datei cracken</span></div>
    
                    <div class="flex-center">   
                        <input class="smallinput first" type="number" name="attr_mh_dc_pool" value="(@{display_logic}+@{skill_cracking_base}+@{skill_cracking_modifier}+@{prgess}-@{display_rauschenclean}-@{display_deckschadenmod})" disabled/>    
                        <input class="smallinput" type="number" name="attr_mh_dc_mod" value="0"/>
                        <input class="smallinput last" type="number" name="attr_mh_dc_edg" value="0" disabled/>
                    <button class="iconbutton illigalbutton btn ui-draggable" type="roll" name="roll_mh_cr" value="@{gm_toggle} &{template:roll}{{mainattribute=^{logic_short}}}{{secondattribute=^{skill_cracking}}}{{expertise=^{matrixaction_dc}}}{{wilddieprop=[[@{wilddieprop}d6]]}}{{dicepool=[[(@{mh_dc_pool}+@{mh_dc_mod}+@{use_wounds}+@{sustain_malus}+@{allmod}+@{mod_roll}@{wilddiemod})]]}}<%- include('dicetemplate.ejs', {pool: "(@{mh_dc_pool}+@{mh_dc_mod}+@{use_wounds}+@{sustain_malus}+@{allmod}+@{mod_roll}@{wilddiemod})"}); %>{{warning=^{illigaloperation}}}">
                            <span class="red" title="" data-i18n-title="mh_log_cr_title" data-i18n="mh_log_cr"></span>
                        </button>
                    </div>
                    <div class="flex-center">   
                    
                    </div>
                    <div class="flex-center">   
                        <input class="smallinput first" type="number" name="attr_mh_dc_def2pool" value="0" />    
                        <input class="smallinput last" type="number" name="attr_mh_dc_def2mod" value="0"/>
                        <button class="iconbutton btn ui-draggable" type="roll" name="roll_mh_crdef2" value="@{gm_toggle} &{template:roll}{{mainattribute=^{mh_cryptpool}}}{{secondattribute=^{mh_cryptpool}}}{{expertise=^{matrixaction_dc} ^{matrixaction_def2}}}{{wilddieprop=[[@{wilddieprop}d6]]}}{{dicepool=[[(@{mh_dc_def2pool}+@{mh_dc_def2mod}+@{use_wounds}+@{sustain_malus}+@{allmod}+@{mod_roll}@{wilddiemod})]]}}<%- include('dicetemplate.ejs', {pool: "(@{mh_dc_def2pool}+@{mh_dc_def2mod}+@{use_wounds}+@{sustain_malus}+@{allmod}+@{mod_roll}@{wilddiemod})"}); %>">
                            <span class="red" title="" data-i18n-title="mh_cryptpool_title" data-i18n="mh_cryptpool"></span>
                        </button>
                    </div>
                </div>
                <!--Begin Datei editieren-->
                <input class="toggle-hide-skill" name="attr_mh_de_hide" type="checkbox" value="1"/>
                <div class="flexcontainer skill">  
                    <div class="flexcontainer"><input class="skillfilter eye" name="attr_mh_de_hide" type="checkbox" value="1"\/><span data-i18n="matrixaction_de"></span></div>
    
                    <div class="flex-center">   
                        <input class="smallinput first" type="number" name="attr_mh_de_pool" value="(@{display_logic}+@{skill_electronics_base}+@{skill_electronics_modifier}-@{display_rauschenclean}-@{display_deckschadenmod})" disabled/>    
                        <input class="smallinput" type="number" name="attr_mh_de_mod" value="0"/>
                        <input class="smallinput last" type="number" name="attr_mh_de_edg" value="(@{prged})" disabled/>
                        
                        <button class="iconbutton btn ui-draggable" type="roll" name="roll_mh_de" value="@{gm_toggle} &{template:roll}{{mainattribute=^{logic}}}{{secondattribute=^{skill_electronics}}}{{expertise=^{matrixaction_de}}}{{wilddieprop=[[@{wilddieprop}d6]]}}{{dicepool=[[(@{mh_de_pool}+@{mh_de_mod}+@{use_wounds}+@{sustain_malus}+@{allmod}+@{mod_roll}@{wilddiemod})]]}}<%- include('dicetemplate.ejs', {pool: "(@{mh_de_pool}+@{mh_de_mod}+@{use_wounds}+@{sustain_malus}+@{allmod}+@{mod_roll}@{wilddiemod})"}); %>">
                            <span class="red" title="" data-i18n-title="mh_log_el_title" data-i18n="mh_log_el"></span>
                        </button>
                    </div>
                    <div class="flex-center">   
                        <input class="smallinput first" type="number" name="attr_mh_de_defpool" value="(@{prgpa}+@{display_intuition}+@{display_firewalltotal}-@{display_rauschenclean}-@{display_deckschadenmod})" disabled/>    
                        <input class="smallinput last" type="number" name="attr_mh_de_defmod" value="0"/>
                        <button class="iconbutton btn ui-draggable" type="roll" name="roll_mh_dedef" value="@{gm_toggle} &{template:roll}{{mainattribute=^{intuition}}{{secondattribute=^{matrix_fw_score_title}}}{{expertise=^{matrixaction_de} ^{matrixaction_def}}}{{wilddieprop=[[@{wilddieprop}d6]]}}{{dicepool=[[(@{mh_de_defpool}+@{mh_de_defmod}+@{use_wounds}+@{sustain_malus}+@{allmod}+@{mod_roll}@{wilddiemod})]]}}<%- include('dicetemplate.ejs', {pool: "(@{mh_de_defpool}+@{mh_de_defmod}+@{use_wounds}+@{sustain_malus}+@{allmod}+@{mod_roll}@{wilddiemod})"}); %>">
                            <span class="red" title="" data-i18n-title="mh_int_fw_title" data-i18n="mh_int_fw"></span>
                        </button>
                    </div>
                    <div class="flex-center">   
                        <input class="smallinput first" type="number" name="attr_mh_de_def2pool" value="(@{display_intuition}+@{display_firewalltotal}+@{display_schleichertotal}-@{display_deckschadenmod})" disabled/>    
                        <input class="smallinput last" type="number" name="attr_mh_de_def2mod" value="0"/>
                        <button class="iconbutton btn ui-draggable" type="roll" name="roll_mh_dedef2" value="@{gm_toggle} &{template:roll}{{mainattribute=^{matrix_fw_score_title}}}{{secondattribute=^{matrix_attack_corruption_title}}}{{expertise=^{matrixaction_de} ^{matrixaction_def2}}}{{wilddieprop=[[@{wilddieprop}d6]]}}{{dicepool=[[(@{mh_de_def2pool}+@{mh_de_def2mod}+@{use_wounds}+@{sustain_malus}+@{allmod}+@{mod_roll}@{wilddiemod})]]}}<%- include('dicetemplate.ejs', {pool: "(@{mh_de_def2pool}+@{mh_de_def2mod}+@{use_wounds}+@{sustain_malus}+@{allmod}+@{mod_roll}@{wilddiemod})"}); %>">
                            <span class="red" title="" data-i18n-title="mh_fw_sch_title" data-i18n="mh_fw_sch"></span>
                        </button>
                    </div>
                </div>
            
                <!--BeginDatei verschlüsseln-->
                <input class="toggle-hide-skill" name="attr_mh_dv_hide" type="checkbox" value="1"/>
                <div class="flexcontainer skill">  
                    <div class="flexcontainer"><input class="skillfilter eye" name="attr_mh_dv_hide" type="checkbox" value="1"\/><span data-i18n="matrixaction_dv"></span></div>
    
                    <div class="flex-center">   
                        <input class="smallinput first" type="number" name="attr_mh_dv_pool" value="(@{display_logic}+@{skill_electronics_base}+@{skill_electronics_modifier}+@{prgvs}-@{display_rauschenclean}-@{display_deckschadenmod})" disabled/>    
                        <input class="smallinput" type="number" name="attr_mh_dv_mod" value="0"/>
                        <input class="smallinput last" type="number" name="attr_mh_dv_edg" value="" disabled/>
                        <button class="iconbutton btn ui-draggable" type="roll" name="roll_mh_dv" value="@{gm_toggle} &{template:roll}{{mainattribute=^{logic}}}{{secondattribute=^{skill_electronics}}}{{expertise=^{matrixaction_dv}}}{{wilddieprop=[[@{wilddieprop}d6]]}}{{dicepool=[[(@{mh_dv_pool}+@{mh_dv_mod}+@{use_wounds}+@{sustain_malus}+@{allmod}+@{mod_roll}@{wilddiemod})]]}}<%- include('dicetemplate.ejs', {pool: "(@{mh_dv_pool}+@{mh_dv_mod}+@{use_wounds}+@{sustain_malus}+@{allmod}+@{mod_roll}@{wilddiemod})"}); %>">
                            <span class="red" title="" data-i18n-title="mh_log_el_title" data-i18n="mh_log_el"></span>
                        </button>
                    </div>
                    <div class="flex-center">  </div>
                    <div class="flex-center">  </div>
                
                </div>
                <!--Begin Datenbombe entschärfen-->
                <input class="toggle-hide-skill" name="attr_mh_db_hide" type="checkbox" value="1"/>
                <div class="flexcontainer skill">  
                    <div class="flexcontainer"><input class="skillfilter eye" name="attr_mh_db_hide" type="checkbox" value="1"\/><span data-i18n="matrixaction_db"></span></div>
    
                    <div class="flex-center">   
                        <input class="smallinput first" type="number" name="attr_mh_db_pool" value="(@{display_intuition}+@{skill_electronics_base}+@{skill_electronics_modifier}-@{display_rauschenclean}-@{display_deckschadenmod})" disabled/>    
                        <input class="smallinput" type="number" name="attr_mh_db_mod" value="0"/>
                        <input class="smallinput last" type="number" name="attr_mh_db_edg" value="" disabled/>
                        <button class="iconbutton btn ui-draggable" type="roll" name="roll_mh_db" value="@{gm_toggle} &{template:roll}{{mainattribute=^{intuition}}}{{secondattribute=^{skill_electronics}}}{{expertise=^{matrixaction_db}}}{{wilddieprop=[[@{wilddieprop}d6]]}}{{dicepool=[[(@{mh_db_pool}+@{mh_db_mod}+@{use_wounds}+@{sustain_malus}+@{allmod}+@{mod_roll}@{wilddiemod})]]}}<%- include('dicetemplate.ejs', {pool: "(@{mh_db_pool}+@{mh_db_mod}+@{use_wounds}+@{sustain_malus}+@{allmod}+@{mod_roll}@{wilddiemod})"}); %>">
                            <span class="red" title="" data-i18n-title="mh_int_el_title" data-i18n="mh_int_el"></span>
                        </button>
                    </div>
                    <div class="flex-center">   
                    
                    </div>
                    <div class="flex-center">   
                        <input class="smallinput first" type="number" name="attr_mh_db_def2pool" value="0" />    
                        <input class="smallinput last" type="number" name="attr_mh_db_def2mod" value="0"/>
                        <button class="iconbutton btn ui-draggable" type="roll" name="roll_mh_dbdef2" value="@{gm_toggle} &{template:roll}{{mainattribute=^{mh_bombpool_title}}}{{secondattribute=^{mh_cryptpool}}}{{expertise=^{matrixaction_db} ^{matrixaction_def2}}}{{wilddieprop=[[@{wilddieprop}d6]]}}{{dicepool=[[(@{mh_db_def2pool}+@{mh_db_def2mod}+@{use_wounds}+@{sustain_malus}+@{allmod}+@{mod_roll}@{wilddiemod})]]}}<%- include('dicetemplate.ejs', {pool: "(@{mh_db_def2pool}+@{mh_db_def2mod}+@{use_wounds}+@{sustain_malus}+@{allmod}+@{mod_roll}@{wilddiemod})"}); %>">
                            <span class="red" title="" data-i18n-title="mh_bombpool_title" data-i18n="mh_cryptpool"></span>
                        </button>
                    </div>
                </div>
                <!--Begin Datenbombe legen-->
                <input class="toggle-hide-skill" name="attr_mh_dbl_hide" type="checkbox" value="1"/>
                <div class="flexcontainer skill">  
                    <div class="flexcontainer"><input class="skillfilter eye" name="attr_mh_dbl_hide" type="checkbox" value="1"\/><span data-i18n="matrixaction_dbl"></span></div>
    
                    <div class="flex-center">   
                        <input class="smallinput first" type="number" name="attr_mh_dbl_pool" value="(@{display_logic}+@{skill_cracking_base}+@{skill_cracking_modifier}-@{display_rauschenclean}-@{display_deckschadenmod})" disabled/>    
                        <input class="smallinput" type="number" name="attr_mh_dbl_mod" value="0"/>
                        <input class="smallinput last" type="number" name="attr_mh_dbl_edg" value="" disabled/>
                        <button class="iconbutton illigalbutton btn ui-draggable" type="roll" name="roll_mh_dbl" value="@{gm_toggle} &{template:roll}{{mainattribute=^{logic}}}{{secondattribute=^{skill_electronics}}}{{expertise=^{matrixaction_dbl}}}{{wilddieprop=[[@{wilddieprop}d6]]}}{{dicepool=[[(@{mh_dbl_pool}+@{mh_dbl_mod}+@{use_wounds}+@{sustain_malus}+@{allmod}+@{mod_roll}@{wilddiemod})]]}}<%- include('dicetemplate.ejs', {pool: "(@{mh_dbl_pool}+@{mh_dbl_mod}+@{use_wounds}+@{sustain_malus}+@{allmod}+@{mod_roll}@{wilddiemod})"}); %>{{warning=^{illigaloperation}}}">
                            <span class="red" title="" data-i18n-title="mh_log_cr_title" data-i18n="mh_log_cr"></span>
                        </button>
                    </div>
                    <div class="flex-center">   
                    
                    </div>
                    <div class="flex-center">   
                        <input class="smallinput first" type="number" name="attr_mh_dbl_def2pool" value="0" />    
                        <input class="smallinput last" type="number" name="attr_mh_dbl_def2mod" value="0"/>
                        <button class="iconbutton btn ui-draggable" type="roll" name="roll_mh_dbldef2" value="@{gm_toggle} &{template:roll}{{mainattribute=^{mh_cryptpool}}}{{secondattribute=^{mh_devicepool_title}}}{{expertise=^{matrixaction_dbl} ^{matrixaction_def2}}}{{wilddieprop=[[@{wilddieprop}d6]]}}{{dicepool=[[(@{mh_dbl_def2pool}+@{mh_dbl_def2mod}+@{use_wounds}+@{sustain_malus}+@{allmod}+@{mod_roll}@{wilddiemod})]]}}<%- include('dicetemplate.ejs', {pool: "(@{mh_dbl_def2pool}+@{mh_dbl_def2mod}+@{use_wounds}+@{sustain_malus}+@{allmod}+@{mod_roll}@{wilddiemod})"}); %>">
                            <span class="red" title="" data-i18n-title="mh_devicepool_title" data-i18n="mh_cryptpool"></span>
                        </button>
                    </div>
                </div>
                <!--Begin Datenspike-->
                <input class="toggle-hide-skill" name="attr_mh_ds_hide" type="checkbox" value="1"/>
                <div class="flexcontainer skill">  
                    <div class="flexcontainer">
                        <input class="skillfilter eye" name="attr_mh_ds_hide" type="checkbox" value="1"\/>
                        <div>
                            <span data-i18n="matrixaction_ds"></span>
                            <span class="red" data-i18n="assosiatewithattack_short" data-i18n-title="assosiatewithattack">[</span></div>
                        </div>
    
                    <div class="flex-center">   
                        <input class="smallinput first" type="number" name="attr_mh_ds_pool" value="(@{display_logic}+@{skill_cracking_base}+@{skill_cracking_modifier}+@{display_deckasdif}-@{display_rauschenclean}-@{display_deckschadenmod})" disabled/>    
                        <input class="smallinput" type="number" name="attr_mh_ds_mod" value="0"/>
                        <input class="smallinput last" type="number" name="attr_mh_ds_edg" value="" disabled/> 
                        <button class="iconbutton illigalbutton btn ui-draggable" type="roll" name="roll_mh_ds" value="@{gm_toggle} &{template:roll}{{mainattribute=^{logic}}}{{secondattribute=^{skill_cracking}}}{{expertise=^{matrixaction_ds}}}{{wilddieprop=[[@{wilddieprop}d6]]}}{{dicepool=[[(@{mh_ds_pool}+@{mh_ds_mod}+@{use_wounds}+@{sustain_malus}+@{allmod}+@{mod_roll}@{wilddiemod})]]}}<%- include('dicetemplate.ejs', {pool: "(@{mh_ds_pool}+@{mh_ds_mod}+@{use_wounds}+@{sustain_malus}+@{allmod}+@{mod_roll}@{wilddiemod})"}); %>{{warning=^{illigaloperation}}}">
                            <span class="red" title="" data-i18n-title="mh_log_cr_title" data-i18n="mh_log_cr"></span>
                        </button>
                    </div>
                    <div class="flex-center">   
                    
                    </div>
                    <div class="flex-center">   
                        <input class="smallinput first" type="number" name="attr_mh_ds_def2pool" value="(@{display_firewalltotal}+@{display_datenverarbeituntotal}-@{display_deckschadenmod})" disabled/>    
                        <input class="smallinput last" type="number" name="attr_mh_ds_def2mod" value="0"/>
                        <button class="iconbutton btn ui-draggable" type="roll" name="roll_mh_dsdef2" value="@{gm_toggle} &{template:roll}{{mainattribute=^{matrix_fw_score_title}}}{{secondattribute=^{matrix_dataprocessing_score_title}}}{{expertise=^{matrixaction_ds} ^{matrixaction_def2}}}{{wilddieprop=[[@{wilddieprop}d6]]}}{{dicepool=[[(@{mh_ds_def2pool}+@{mh_ds_def2mod}+@{use_wounds}+@{sustain_malus}+@{allmod}+@{mod_roll}@{wilddiemod})]]}}<%- include('dicetemplate.ejs', {pool: "(@{mh_ds_def2pool}+@{mh_ds_def2mod}+@{use_wounds}+@{sustain_malus}+@{allmod}+@{mod_roll}@{wilddiemod})"}); %>">
                            <span class="red" title="" data-i18n-title="mh_fw_dv_title" data-i18n="mh_fw_dv"></span>
                        </button>
                    </div>
                </div>
                <!--Begin Gerät formatieren-->
                <input class="toggle-hide-skill" name="attr_mh_gf_hide" type="checkbox" value="1"/>
                <div class="flexcontainer skill">  
                    <div class="flexcontainer"><input class="skillfilter eye" name="attr_mh_gf_hide" type="checkbox" value="1"\/><span data-i18n="matrixaction_gf"></span></div>
    
                    <div class="flex-center">   
                        <input class="smallinput first" type="number" name="attr_mh_gf_pool" value="(@{display_intuition}+@{skill_electronics_base}+@{skill_electronics_modifier}-@{display_rauschenclean}-@{display_deckschadenmod})" disabled/>    
                        <input class="smallinput" type="number" name="attr_mh_gf_mod" value="0"/>
                        <input class="smallinput last" type="number" name="attr_mh_gf_edg" value="" disabled/>
                        <button class="iconbutton btn ui-draggable" type="roll" name="roll_mh_gf" value="@{gm_toggle} &{template:roll}{{mainattribute=^{intuition}}}{{secondattribute=^{skill_electronics}}}{{expertise=^{matrixaction_gf}}}{{wilddieprop=[[@{wilddieprop}d6]]}}{{dicepool=[[(@{mh_gf_pool}+@{mh_gf_mod}+@{use_wounds}+@{sustain_malus}+@{allmod}+@{mod_roll}@{wilddiemod})]]}}<%- include('dicetemplate.ejs', {pool: "(@{mh_gf_pool}+@{mh_gf_mod}+@{use_wounds}+@{sustain_malus}+@{allmod}+@{mod_roll}@{wilddiemod})"}); %>">
                            <span class="red" title="" data-i18n-title="mh_int_el_title" data-i18n="mh_int_el"></span>
                        </button>
                    </div>
                    <div class="flex-center">   
                        <input class="smallinput first" type="number" name="attr_mh_gf_defpool" value="(@{prgpa}+@{display_willpower}+@{display_firewalltotal}-@{display_rauschenclean}-@{display_deckschadenmod})" disabled/>    
                        <input class="smallinput last" type="number" name="attr_mh_gf_defmod" value="0"/>
                        <button class="iconbutton btn ui-draggable" type="roll" name="roll_mh_gfdef" value="@{gm_toggle} &{template:roll}{{mainattribute=^{willpower}}}{{secondattribute=^{matrix_fw_score_title}}}{{expertise=^{matrixaction_gf} ^{matrixaction_def}}}{{wilddieprop=[[@{wilddieprop}d6]]}}{{dicepool=[[(@{mh_gf_defpool}+@{mh_gf_defmod}+@{use_wounds}+@{sustain_malus}+@{allmod}+@{mod_roll}@{wilddiemod})]]}}<%- include('dicetemplate.ejs', {pool: "(@{mh_gf_defpool}+@{mh_gf_defmod}+@{use_wounds}+@{sustain_malus}+@{allmod}+@{mod_roll}@{wilddiemod})"}); %>">
                            <span class="red" title="" data-i18n-title="mh_wil_fw_title" data-i18n="mh_wil_fw"></span>
                        </button>
                    </div>
                    <div class="flex-center">   
                        <input class="smallinput first" type="number" name="attr_mh_gf_def2pool" value="(@{display_firewalltotal}+@{display_firewalltotal}-@{display_deckschadenmod})" disabled/>    
                        <input class="smallinput last" type="number" name="attr_mh_gf_def2mod" value="0"/>
                        <button class="iconbutton btn ui-draggable" type="roll" name="roll_mh_gfdef2" value="@{gm_toggle} &{template:roll}{{mainattribute=^{matrix_fw_score_title}}}{{secondattribute=^{matrix_fw_score_title}}}{{expertise=^{matrixaction_gf} ^{matrixaction_def2}}}{{wilddieprop=[[@{wilddieprop}d6]]}}{{dicepool=[[(@{mh_gf_def2pool}+@{mh_gf_def2mod}+@{use_wounds}+@{sustain_malus}+@{allmod}+@{mod_roll}@{wilddiemod})]]}}<%- include('dicetemplate.ejs', {pool: "(@{mh_gf_def2pool}+@{mh_gf_def2mod}+@{use_wounds}+@{sustain_malus}+@{allmod}+@{mod_roll}@{wilddiemod})"}); %>">
                            <span class="red" title="" data-i18n-title="mh_fw_fw_title" data-i18n="mh_fw_fw"></span>
                        </button>
                    </div>
                </div>
                <!--Begin Gerät neu starten-->
                <input class="toggle-hide-skill" name="attr_mh_gn_hide" type="checkbox" value="1"/>
                <div class="flexcontainer skill">  
                    <div class="flexcontainer"><input class="skillfilter eye" name="attr_mh_gn_hide" type="checkbox" value="1"\/><span data-i18n="matrixaction_gn"></span></div>
    
                    <div class="flex-center">   
                        <input class="smallinput first" type="number" name="attr_mh_gn_pool" value="(@{display_intuition}+@{skill_electronics_base}+@{skill_electronics_modifier}-@{display_rauschenclean}-@{display_deckschadenmod})" disabled/>    
                        <input class="smallinput" type="number" name="attr_mh_gn_mod" value="0"/>
                        <input class="smallinput last" type="number" name="attr_mh_gn_edg" value="" disabled/>
                        <button class="iconbutton btn ui-draggable" type="roll" name="roll_mh_gn" value="@{gm_toggle} &{template:roll}{{mainattribute=^{intuition}}}{{secondattribute=^{skill_electronics}}}{{expertise=^{matrixaction_gn}}}{{wilddieprop=[[@{wilddieprop}d6]]}}{{dicepool=[[(@{mh_gn_pool}+@{mh_gn_mod}+@{use_wounds}+@{sustain_malus}+@{allmod}+@{mod_roll}@{wilddiemod})]]}}<%- include('dicetemplate.ejs', {pool: "(@{mh_gn_pool}+@{mh_gn_mod}+@{use_wounds}+@{sustain_malus}+@{allmod}+@{mod_roll}@{wilddiemod})"}); %>">
                            <span class="red" title="" data-i18n-title="mh_int_el_title" data-i18n="mh_int_el"></span>
                        </button>
                    </div>
                    <div class="flex-center">   
                        <input class="smallinput first" type="number" name="attr_mh_gn_defpool" value="(@{prgpa}+@{display_willpower}+@{display_firewalltotal}-@{display_rauschenclean}-@{display_deckschadenmod})" disabled/>    
                        <input class="smallinput last" type="number" name="attr_mh_gn_defmod" value="0"/>
                        <button class="iconbutton btn ui-draggable" type="roll" name="roll_mh_gndef" value="@{gm_toggle} &{template:roll}{{mainattribute=^{willpower}}}{{secondattribute=^{matrix_fw_score_title}}}{{expertise=^{matrixaction_gn} ^{matrixaction_def}}}{{wilddieprop=[[@{wilddieprop}d6]]}}{{dicepool=[[(@{mh_gn_defpool}+@{mh_gn_defmod}+@{use_wounds}+@{sustain_malus}+@{allmod}+@{mod_roll}@{wilddiemod})]]}}<%- include('dicetemplate.ejs', {pool: "(@{mh_gn_defpool}+@{mh_gn_defmod}+@{use_wounds}+@{sustain_malus}+@{allmod}+@{mod_roll}@{wilddiemod})"}); %>">
                            <span class="red" title="" data-i18n-title="mh_wil_fw_title" data-i18n="mh_wil_fw"></span>
                        </button>
                    </div>
                    <div class="flex-center">   
                        <input class="smallinput first" type="number" name="attr_mh_gn_def2pool" value="(@{display_firewalltotal}+@{display_firewalltotal}-@{display_deckschadenmod})" disabled/>    
                        <input class="smallinput last" type="number" name="attr_mh_gn_def2mod" value="0"/>
                        <button class="iconbutton btn ui-draggable" type="roll" name="roll_mh_gndef2" value="@{gm_toggle} &{template:roll}{{mainattribute=^{matrix_fw_score_title}}}{{secondattribute=^{matrix_fw_score_title}}}{{expertise=^{matrixaction_gn} ^{matrixaction_def2}}}{{wilddieprop=[[@{wilddieprop}d6]]}}{{dicepool=[[(@{mh_gn_def2pool}+@{mh_gn_def2mod}+@{use_wounds}+@{sustain_malus}+@{allmod}+@{mod_roll}@{wilddiemod})]]}}<%- include('dicetemplate.ejs', {pool: "(@{mh_gn_def2pool}+@{mh_gn_def2mod}+@{use_wounds}+@{sustain_malus}+@{allmod}+@{mod_roll}@{wilddiemod})"}); %>">
                            <span class="red" title="" data-i18n-title="mh_fw_fw_title" data-i18n="mh_fw_fw"></span>
                        </button>
                    </div>
                </div>
                <!--Begin Gerät steuern-->
                <input class="toggle-hide-skill" name="attr_mh_gs_hide" type="checkbox" value="1"/>
                <div class="flexcontainer skill">  
                    <div class="flexcontainer"><input class="skillfilter eye" name="attr_mh_gs_hide" type="checkbox" value="1"\/><span data-i18n="matrixaction_gs"></span></div>
    
                    <div class="flex-center">   
                        <input class="smallinput first" type="number" name="attr_mh_gs_pool" value="(@{display_intuition}+@{skill_electronics_base}+@{skill_electronics_modifier}-@{display_rauschenclean}-@{display_deckschadenmod})" disabled/>    
                        <input class="smallinput" type="number" name="attr_mh_gs_mod" value="0"/>
                        <input class="smallinput last" type="number" name="attr_mh_gs_edg" value="" disabled/>
                        <button class="iconbutton btn ui-draggable" type="roll" name="roll_mh_gs" value="@{gm_toggle} &{template:roll}{{mainattribute=^{intuition}}}{{secondattribute=^{skill_electronics}}}{{expertise=^{matrixaction_gs}}}{{wilddieprop=[[@{wilddieprop}d6]]}}{{dicepool=[[(@{mh_gs_pool}+@{mh_gs_mod}+@{use_wounds}+@{sustain_malus}+@{allmod}+@{mod_roll}@{wilddiemod})]]}}<%- include('dicetemplate.ejs', {pool: "(@{mh_gs_pool}+@{mh_gs_mod}+@{use_wounds}+@{sustain_malus}+@{allmod}+@{mod_roll}@{wilddiemod})"}); %>">
                            <span class="red" title="" data-i18n-title="mh_int_el_title" data-i18n="mh_int_el"></span>
                        </button>
                    </div>
                    <div class="flex-center">   
                        <input class="smallinput first" type="number" name="attr_mh_gs_defpool" value="(@{prgpa}+@{display_willpower}+@{display_firewalltotal}-@{display_rauschenclean}-@{display_deckschadenmod})" disabled/>    
                        <input class="smallinput last" type="number" name="attr_mh_gs_defmod" value="0"/>
                        <button class="iconbutton btn ui-draggable" type="roll" name="roll_mh_gsdef" value="@{gm_toggle} &{template:roll}{{mainattribute=^{willpower}}}{{secondattribute=^{matrix_fw_score_title}}}{{expertise=^{matrixaction_gs} ^{matrixaction_def}}}{{wilddieprop=[[@{wilddieprop}d6]]}}{{dicepool=[[(@{mh_gs_defpool}+@{mh_gs_defmod}+@{use_wounds}+@{sustain_malus}+@{allmod}+@{mod_roll}@{wilddiemod})]]}}<%- include('dicetemplate.ejs', {pool: "(@{mh_gs_defpool}+@{mh_gs_defmod}+@{use_wounds}+@{sustain_malus}+@{allmod}+@{mod_roll}@{wilddiemod})"}); %>">
                            <span class="red" title="" data-i18n-title="mh_wil_fw_title" data-i18n="mh_wil_fw"></span>
                        </button>
                    </div>
                    <div class="flex-center">   
                        <input class="smallinput first" type="number" name="attr_mh_gs_def2pool" value="(@{display_firewalltotal}+@{display_firewalltotal}-@{display_deckschadenmod})" disabled/>    
                        <input class="smallinput last" type="number" name="attr_mh_gs_def2mod" value="0"/>
                        <button class="iconbutton btn ui-draggable" type="roll" name="roll_mh_gsdef2" value="@{gm_toggle} &{template:roll}{{mainattribute=^{matrix_fw_score_title}}}{{secondattribute=^{matrix_fw_score_title}}}{{expertise=^{matrixaction_gs} ^{matrixaction_def2}}}{{wilddieprop=[[@{wilddieprop}d6]]}}{{dicepool=[[(@{mh_gs_def2pool}+@{mh_gs_def2mod}+@{use_wounds}+@{sustain_malus}+@{allmod}+@{mod_roll}@{wilddiemod})]]}}<%- include('dicetemplate.ejs', {pool: "(@{mh_gs_def2pool}+@{mh_gs_def2mod}+@{use_wounds}+@{sustain_malus}+@{allmod}+@{mod_roll}@{wilddiemod})"}); %>">
                            <span class="red" title="" data-i18n-title="mh_fw_fw_title" data-i18n="mh_fw_fw"></span>
                        </button>
                    </div>
                </div>
                <!--Begin Gerät steuern illegaln-->
                <input class="toggle-hide-skill" name="attr_mh_gsi_hide" type="checkbox" value="1"/>
                <div class="flexcontainer skill">  
                    <div class="flexcontainer"><input class="skillfilter eye" name="attr_mh_gsi_hide" type="checkbox" value="1"\/><span data-i18n="matrixaction_gsi"></span></div>

                    <div class="flex-center">   
                        <input class="smallinput first" type="number" name="attr_mh_gsi_pool" value="(@{display_logic}+@{skill_cracking_base}+@{skill_cracking_modifier}-@{display_rauschenclean}-@{display_deckschadenmod})" disabled/>    
                        <input class="smallinput" type="number" name="attr_mh_gsi_mod" value="0"/>
                        <input class="smallinput last" type="number" name="attr_mh_gsi_edg" value="" disabled/>
                        <button class="iconbutton illigalbutton btn ui-draggable" type="roll" name="roll_mh_gsi" value="@{gm_toggle} &{template:roll}{{mainattribute=^{logic}}}{{secondattribute=^{skill_cracking}}}{{expertise=^{matrixaction_gsi}}}{{wilddieprop=[[@{wilddieprop}d6]]}}{{dicepool=[[(@{mh_gsi_pool}+@{mh_gsi_mod}+@{use_wounds}+@{sustain_malus}+@{allmod}+@{mod_roll}@{wilddiemod})]]}}<%- include('dicetemplate.ejs', {pool: "(@{mh_gsi_pool}+@{mh_gsi_mod}+@{use_wounds}+@{sustain_malus}+@{allmod}+@{mod_roll}@{wilddiemod})"}); %>{{warning=^{illigaloperation}}}">
                            <span class="red" title="" data-i18n-title="mh_log_cr_title" data-i18n="mh_log_cr"></span>
                        </button>
                    </div>
                    <div class="flex-center">   
                        <input class="smallinput first" type="number" name="attr_mh_gsi_defpool" value="(@{prgpa}+@{display_willpower}+@{display_firewalltotal}-@{display_rauschenclean}-@{display_deckschadenmod})" disabled/>    
                        <input class="smallinput last" type="number" name="attr_mh_gsi_defmod" value="0"/>
                        <button class="iconbutton btn ui-draggable" type="roll" name="roll_mh_gsidef" value="@{gm_toggle} &{template:roll}{{mainattribute=^{willpower}}}{{secondattribute=^{matrix_fw_score_title}}}{{expertise=^{matrixaction_gsi} ^{matrixaction_def}}}{{wilddieprop=[[@{wilddieprop}d6]]}}{{dicepool=[[(@{mh_gsi_defpool}+@{mh_gsi_defmod}+@{use_wounds}+@{sustain_malus}+@{allmod}+@{mod_roll}@{wilddiemod})]]}}<%- include('dicetemplate.ejs', {pool: "(@{mh_gsi_defpool}+@{mh_gsi_defmod}+@{use_wounds}+@{sustain_malus}+@{allmod}+@{mod_roll}@{wilddiemod})"}); %>">
                            <span class="red" title="" data-i18n-title="mh_wil_fw_title" data-i18n="mh_wil_fw"></span>
                        </button>
                    </div>
                    <div class="flex-center">   
                        <input class="smallinput first" type="number" name="attr_mh_gsi_def2pool" value="(@{display_firewalltotal}+@{display_firewalltotal}-@{display_deckschadenmod})" disabled/>    
                        <input class="smallinput last" type="number" name="attr_mh_gsi_def2mod" value="0"/>
                        <button class="iconbutton btn ui-draggable" type="roll" name="roll_mh_gsidef2" value="@{gm_toggle} &{template:roll}{{mainattribute=^{matrix_fw_score_title}}}{{secondattribute=^{matrix_fw_score_title}}}{{expertise=^{matrixaction_gsi} ^{matrixaction_def2}}}{{wilddieprop=[[@{wilddieprop}d6]]}}{{dicepool=[[(@{mh_gsi_def2pool}+@{mh_gsi_def2mod}+@{use_wounds}+@{sustain_malus}+@{allmod}+@{mod_roll}@{wilddiemod})]]}}<%- include('dicetemplate.ejs', {pool: "(@{mh_gsi_def2pool}+@{mh_gsi_def2mod}+@{use_wounds}+@{sustain_malus}+@{allmod}+@{mod_roll}@{wilddiemod})"}); %>">
                            <span class="red" title="" data-i18n-title="mh_fw_fw_title" data-i18n="mh_fw_fw"></span>
                        </button>
                    </div>
                </div>
            
                <!--Begin Hineinspringen-->
                <input class="toggle-hide-skill" name="attr_mh_hs_hide" type="checkbox" value="1"/>
                <div class="flexcontainer skill">  
                    <div class="flexcontainer"><input class="skillfilter eye" name="attr_mh_hs_hide" type="checkbox" value="1"\/><span data-i18n="matrixaction_hs"></span></div>

                    <div class="flex-center">   
                        <input class="smallinput first" type="number" name="attr_mh_hs_pool" value="(@{display_logic}+@{skill_electronics_base}+@{skill_electronics_modifier}-@{display_rauschenclean}-@{display_deckschadenmod})" disabled/>    
                        <input class="smallinput" type="number" name="attr_mh_hs_mod" value="0"/>
                        <input class="smallinput last" type="number" name="attr_mh_hs_edg" value="" disabled/>
                        <button class="iconbutton btn ui-draggable" type="roll" name="roll_mh_hs" value="@{gm_toggle} &{template:roll}{{mainattribute=^{log}}}{{secondattribute=^{skill_electronics}}}{{expertise=^{matrixaction_hs}}}{{wilddieprop=[[@{wilddieprop}d6]]}}{{dicepool=[[(@{mh_hs_pool}+@{mh_hs_mod}+@{use_wounds}+@{sustain_malus}+@{allmod}+@{mod_roll}@{wilddiemod})]]}}<%- include('dicetemplate.ejs', {pool: "(@{mh_hs_pool}+@{mh_hs_mod}+@{use_wounds}+@{sustain_malus}+@{allmod}+@{mod_roll}@{wilddiemod})"}); %>">
                            <span class="red" title="" data-i18n-title="mh_log_el_title" data-i18n="mh_log_el"></span>
                        </button>
                    </div>
                    <div class="flex-center">   
                        <input class="smallinput first" type="number" name="attr_mh_hs_defpool" value="(@{prgpa}+@{display_willpower}+@{display_firewalltotal}-@{display_rauschenclean}-@{display_deckschadenmod})" disabled/>    
                        <input class="smallinput last" type="number" name="attr_mh_hs_defmod" value="0"/>
                        <button class="iconbutton btn ui-draggable" type="roll" name="roll_mh_hsdef" value="@{gm_toggle} &{template:roll}{{mainattribute=^{willpower}}}{{secondattribute=^{matrix_fw_score_title}}}{{expertise=^{matrixaction_hs} ^{matrixaction_def}}}{{wilddieprop=[[@{wilddieprop}d6]]}}{{dicepool=[[(@{mh_hs_defpool}+@{mh_hs_defmod}+@{use_wounds}+@{sustain_malus}+@{allmod}+@{mod_roll}@{wilddiemod})]]}}<%- include('dicetemplate.ejs', {pool: "(@{mh_hs_defpool}+@{mh_hs_defmod}+@{use_wounds}+@{sustain_malus}+@{allmod}+@{mod_roll}@{wilddiemod})"}); %>">
                            <span class="red" title="" data-i18n-title="mh_wil_fw_title" data-i18n="mh_wil_fw"></span>
                        </button>
                    </div>
                    <div class="flex-center">   
                        <input class="smallinput first" type="number" name="attr_mh_hs_def2pool" value="(@{display_firewalltotal}+@{display_firewalltotal}-@{display_deckschadenmod})" disabled/>    
                        <input class="smallinput last" type="number" name="attr_mh_hs_def2mod" value="0"/>
                        <button class="iconbutton btn ui-draggable" type="roll" name="roll_mh_hsdef2" value="@{gm_toggle} &{template:roll}{{mainattribute=^{matrix_fw_score_title}}}{{secondattribute=^{matrix_fw_score_title}}}{{expertise=^{matrixaction_hs} ^{matrixaction_def2}}}{{wilddieprop=[[@{wilddieprop}d6]]}}{{dicepool=[[(@{mh_hs_def2pool}+@{mh_hs_def2mod}+@{use_wounds}+@{sustain_malus}+@{allmod}+@{mod_roll}@{wilddiemod})]]}}<%- include('dicetemplate.ejs', {pool: "(@{mh_hs_def2pool}+@{mh_hs_def2mod}+@{use_wounds}+@{sustain_malus}+@{allmod}+@{mod_roll}@{wilddiemod})"}); %>">
                            <span class="red" title="" data-i18n-title="mh_fw_fw_title" data-i18n="mh_fw_fw"></span>
                        </button>
                    </div>
                </div>

                <!--Begin Hintertür benutzen-->
                <input class="toggle-hide-skill" name="attr_mh_ht_hide" type="checkbox" value="1"/>
                <div class="flexcontainer skill">  
                    <div class="flexcontainer">
                        <input class="skillfilter eye" name="attr_mh_ht_hide" type="checkbox" value="1"\/>
                        <div>
                            <span data-i18n="matrixaction_ht"></span>
                            <span class="red" data-i18n="assosiatewithcorruption_short" data-i18n-title="assosiatewithcorruption"></span>
                        </div>
                        
                    </div>

                    <div class="flex-center">   
                        <input class="smallinput first" type="number" name="attr_mh_ht_pool" value="(@{display_logic}+@{skill_cracking_base}+@{skill_cracking_modifier}+@{display_decksadif}-@{display_rauschenclean}-@{display_deckschadenmod})" disabled/>    
                        <input class="smallinput" type="number" name="attr_mh_ht_mod" value="0"/>
                        <input class="smallinput last" type="number" name="attr_mh_ht_edg" value="" disabled/>
                        <button class="iconbutton illigalbutton btn ui-draggable" type="roll" name="roll_mh_ht" value="@{gm_toggle} &{template:roll}{{mainattribute=^{logic}}}{{secondattribute=^{skill_cracking}}}{{expertise=^{matrixaction_ht}}}{{wilddieprop=[[@{wilddieprop}d6]]}}{{dicepool=[[(@{mh_ht_pool}+@{mh_ht_mod}+@{use_wounds}+@{sustain_malus}+@{allmod}+@{mod_roll}@{wilddiemod})]]}}<%- include('dicetemplate.ejs', {pool: "(@{mh_ht_pool}+@{mh_ht_mod}+@{use_wounds}+@{sustain_malus}+@{allmod}+@{mod_roll}@{wilddiemod})"}); %>{{warning=^{illigaloperation}}}">
                            <span class="red" title="" data-i18n-title="mh_log_cr_title" data-i18n="mh_log_cr"></span>
                        </button>
                    </div>
                    <div class="flex-center">   
                        <input class="smallinput first" type="number" name="attr_mh_ht_defpool" value="(@{prgpa}+@{display_willpower}+@{display_firewalltotal}-@{display_rauschenclean}-@{display_deckschadenmod})" disabled/>    
                        <input class="smallinput last" type="number" name="attr_mh_ht_defmod" value="0"/>
                        <button class="iconbutton btn ui-draggable" type="roll" name="roll_mh_htdef" value="@{gm_toggle} &{template:roll}{{mainattribute=^{willpower}}}{{secondattribute=^{matrix_fw_score_title}}}{{expertise=^{matrixaction_ht} ^{matrixaction_def}}}{{wilddieprop=[[@{wilddieprop}d6]]}}{{dicepool=[[(@{mh_ht_defpool}+@{mh_ht_defmod}+@{use_wounds}+@{sustain_malus}+@{allmod}+@{mod_roll}@{wilddiemod})]]}}<%- include('dicetemplate.ejs', {pool: "(@{mh_ht_defpool}+@{mh_ht_defmod}+@{use_wounds}+@{sustain_malus}+@{allmod}+@{mod_roll}@{wilddiemod})"}); %>">
                            <span class="red" title="" data-i18n-title="mh_wil_fw_title" data-i18n="mh_wil_fw"></span>
                        </button>
                    </div>
                    <div class="flex-center">   
                        <input class="smallinput first" type="number" name="attr_mh_ht_def2pool" value="(@{display_firewalltotal}+@{display_firewalltotal}-@{display_deckschadenmod})" disabled/>    
                        <input class="smallinput last" type="number" name="attr_mh_ht_def2mod" value="0"/>
                        <button class="iconbutton btn ui-draggable" type="roll" name="roll_mh_htdef2" value="@{gm_toggle} &{template:roll}{{mainattribute=^{matrix_fw_score_title}}}{{secondattribute=^{matrix_fw_score_title}}}{{expertise=^{matrixaction_ht} ^{matrixaction_def2}}}{{wilddieprop=[[@{wilddieprop}d6]]}}{{dicepool=[[(@{mh_ht_def2pool}+@{mh_ht_def2mod}+@{use_wounds}+@{sustain_malus}+@{allmod}+@{mod_roll}@{wilddiemod})]]}}<%- include('dicetemplate.ejs', {pool: "(@{mh_ht_def2pool}+@{mh_ht_def2mod}+@{use_wounds}+@{sustain_malus}+@{allmod}+@{mod_roll}@{wilddiemod})"}); %>">
                            <span class="red" title="" data-i18n-title="mh_fw_fw_title" data-i18n="mh_fw_fw"></span>
                        </button>
                    </div>
                </div>
                <!--Begin IconAufspüren-->
                <input class="toggle-hide-skill" name="attr_mh_ia_hide" type="checkbox" value="1"/>
                <div class="flexcontainer skill">  
                    <div class="flexcontainer">
                        <input class="skillfilter eye" name="attr_mh_ia_hide" type="checkbox" value="1"\/>
                       <div> <span data-i18n="matrixaction_ia"></span><span class="red" data-i18n="assosiatewithcorruption_short" data-i18n-title="assosiatewithcorruption"></span></div>
                    </div>

                    <div class="flex-center">   
                        <input class="smallinput first" type="number" name="attr_mh_ia_pool" value="(@{display_intuition}+@{skill_cracking_base}+@{skill_cracking_modifier}+@{display_decksadif}-@{display_rauschenclean}-@{display_deckschadenmod})" disabled/>    
                        <input class="smallinput" type="number" name="attr_mh_ia_mod" value="0"/>
                        <input class="smallinput last" type="number" name="attr_mh_ia_edg" value="(@{prgas})" disabled/>
                        <button class="iconbutton illigalbutton btn ui-draggable" type="roll" name="roll_mh_ia" value="@{gm_toggle} &{template:roll}{{mainattribute=^{intuition}}{{secondattribute=^{skill_cracking}}}{{expertise=^{matrixaction_ia}}}{{wilddieprop=[[@{wilddieprop}d6]]}}{{dicepool=[[(@{mh_ia_pool}+@{mh_ia_mod}+@{use_wounds}+@{sustain_malus}+@{allmod}+@{mod_roll}@{wilddiemod})]]}}<%- include('dicetemplate.ejs', {pool: "(@{mh_ia_pool}+@{mh_ia_mod}+@{use_wounds}+@{sustain_malus}+@{allmod}+@{mod_roll}@{wilddiemod})"}); %>{{warning=^{illigaloperation}}}">
                            <span class="red" title="" data-i18n-title="mh_int_cr_title" data-i18n="mh_int_cr"></span>
                        </button>
                    </div>
                    <div class="flex-center">   
                        <input class="smallinput first" type="number" name="attr_mh_ia_defpool" value="(@{prgpa}+@{display_willpower}+@{display_schleichertotal}-@{display_rauschenclean}-@{display_deckschadenmod})" disabled/>    
                        <input class="smallinput last" type="number" name="attr_mh_ia_defmod" value="0"/>
                        <button class="iconbutton btn ui-draggable" type="roll" name="roll_mh_iadef" value="@{gm_toggle} &{template:roll}{{mainattribute=^{willpower}}}{{secondattribute=^{matrix_attack_corruption_title}}}{{expertise=^{matrixaction_ia} ^{matrixaction_def}}}{{wilddieprop=[[@{wilddieprop}d6]]}}{{dicepool=[[(@{mh_ia_defpool}+@{mh_ia_defmod}+@{use_wounds}+@{sustain_malus}+@{allmod}+@{mod_roll}@{wilddiemod})]]}}<%- include('dicetemplate.ejs', {pool: "(@{mh_ia_defpool}+@{mh_ia_defmod}+@{use_wounds}+@{sustain_malus}+@{allmod}+@{mod_roll}@{wilddiemod})"}); %>">
                            <span class="red" title="" data-i18n-title="mh_wil_sch_title" data-i18n="mh_wil_sch"></span>
                        </button>
                    </div>
                    <div class="flex-center">   
                        <input class="smallinput first" type="number" name="attr_mh_ia_def2pool" value="(@{display_schleichertotal}+@{display_schleichertotal}-@{display_deckschadenmod})" disabled/>    
                        <input class="smallinput last" type="number" name="attr_mh_ia_def2mod" value="0"/>
                        <button class="iconbutton btn ui-draggable" type="roll" name="roll_mh_iadef2" value="@{gm_toggle} &{template:roll}{{mainattribute=^{matrix_attack_corruption_title}}}{{secondattribute=^{matrix_attack_corruption_title}}}{{expertise=^{matrixaction_ia} ^{matrixaction_def2}}}{{wilddieprop=[[@{wilddieprop}d6]]}}{{dicepool=[[(@{mh_ia_def2pool}+@{mh_ia_def2mod}+@{use_wounds}+@{sustain_malus}+@{allmod}+@{mod_roll}@{wilddiemod})]]}}<%- include('dicetemplate.ejs', {pool: "(@{mh_ia_def2pool}+@{mh_ia_def2mod}+@{use_wounds}+@{sustain_malus}+@{allmod}+@{mod_roll}@{wilddiemod})"}); %>">
                            <span class="red" title="" data-i18n-title="mh_sch_sch_title" data-i18n="mh_sch_sch"></span>
                        </button>
                    </div>
                </div>  
                <!--Begin Matrixsignatur löschen-->
                <input class="toggle-hide-skill" name="attr_mh_ml_hide" type="checkbox" value="1"/>
                <div class="flexcontainer skill">  
                    <div class="flexcontainer"><input class="skillfilter eye" name="attr_mh_ml_hide" type="checkbox" value="1"\/><span data-i18n="matrixaction_ml"></span></div>

                    <div class="flex-center">   
                        <input class="smallinput first" type="number" name="attr_mh_ml_pool" value="(@{display_logic}+@{skill_cracking_base}+@{skill_cracking_modifier}-@{display_rauschenclean}-@{display_deckschadenmod})" disabled/>    
                        <input class="smallinput" type="number" name="attr_mh_ml_mod" value="0"/>
                        <input class="smallinput last" type="number" name="attr_mh_ml_edg" value="" disabled/>
                        <button class="iconbutton illigalbutton btn ui-draggable" type="roll" name="roll_mh_ml" value="@{gm_toggle} &{template:roll}{{mainattribute=^{logic}}}{{secondattribute=^{skill_cracking}}}{{expertise=^{matrixaction_ml}}}{{wilddieprop=[[@{wilddieprop}d6]]}}{{dicepool=[[(@{mh_ml_pool}+@{mh_ml_mod}+@{use_wounds}+@{sustain_malus}+@{allmod}+@{mod_roll}@{wilddiemod})]]}}<%- include('dicetemplate.ejs', {pool: "(@{mh_ml_pool}+@{mh_ml_mod}+@{use_wounds}+@{sustain_malus}+@{allmod}+@{mod_roll}@{wilddiemod})"}); %>{{warning=^{illigaloperation}}}">
                            <span class="red" title="" data-i18n-title="mh_log_cr_title" data-i18n="mh_log_cr"></span>
                        </button>
                    </div>
                    <div class="flex-center">   
                        <input class="smallinput first" type="number" name="attr_mh_ml_defpool" value="(@{prgpa}+@{display_willpower}+@{display_firewalltotal}-@{display_rauschenclean}-@{display_deckschadenmod})" disabled/>    
                        <input class="smallinput last" type="number" name="attr_mh_ml_defmod" value="0"/>
                        <button class="iconbutton btn ui-draggable" type="roll" name="roll_mh_mldef" value="@{gm_toggle} &{template:roll}{{mainattribute=^{willpower}}}{{secondattribute=^{matrix_fw_score_title}}}{{expertise=^{matrixaction_ml} ^{matrixaction_def}}}{{wilddieprop=[[@{wilddieprop}d6]]}}{{dicepool=[[(@{mh_ml_defpool}+@{mh_ml_defmod}+@{use_wounds}+@{sustain_malus}+@{allmod}+@{mod_roll}@{wilddiemod})]]}}<%- include('dicetemplate.ejs', {pool: "(@{mh_ml_defpool}+@{mh_ml_defmod}+@{use_wounds}+@{sustain_malus}+@{allmod}+@{mod_roll}@{wilddiemod})"}); %>">
                            <span class="red" title="" data-i18n-title="mh_wil_fw_title" data-i18n="mh_wil_fw"></span>
                        </button>
                    </div>
                    <div class="flex-center">   
                        <input class="smallinput first" type="number" name="attr_mh_ml_def2pool" value="(@{display_firewalltotal}+@{display_firewalltotal}-@{display_deckschadenmod})" disabled/>    
                        <input class="smallinput last" type="number" name="attr_mh_ml_def2mod" value="0"/>
                        <button class="iconbutton btn ui-draggable" type="roll" name="roll_mh_mldef2" value="@{gm_toggle} &{template:roll}{{mainattribute=^{matrix_fw_score_title}}}{{secondattribute=^{matrix_fw_score_title}}}{{expertise=^{matrixaction_ml} ^{matrixaction_def2}}}{{wilddieprop=[[@{wilddieprop}d6]]}}{{dicepool=[[(@{mh_ml_def2pool}+@{mh_ml_def2mod}+@{use_wounds}+@{sustain_malus}+@{allmod}+@{mod_roll}@{wilddiemod})]]}}<%- include('dicetemplate.ejs', {pool: "(@{mh_ml_def2pool}+@{mh_ml_def2mod}+@{use_wounds}+@{sustain_malus}+@{allmod}+@{mod_roll}@{wilddiemod})"}); %>">
                            <span class="red" title="" data-i18n-title="mh_fw_fw_title" data-i18n="mh_fw_fw"></span>
                        </button>
                    </div>
                </div>
                <!--Begin Matrixsuche-->
                <input class="toggle-hide-skill" name="attr_mh_ms_hide" type="checkbox" value="1"/>
                <div class="flexcontainer skill">  
                    <div class="flexcontainer"><input class="skillfilter eye" name="attr_mh_ms_hide" type="checkbox" value="1"\/><span data-i18n="matrixaction_ms"></span></div>

                    <div class="flex-center">   
                        <input class="smallinput first" type="number" name="attr_mh_ms_pool" value="(@{display_intuition}+@{skill_electronics_base}+@{skill_electronics_modifier}-@{display_rauschenclean}-@{display_deckschadenmod})" disabled/>    
                        <input class="smallinput" type="number" name="attr_mh_ms_mod" value="0"/>
                        <input class="smallinput last" type="number" name="attr_mh_ms_edg" value="(@{prgsk})" disabled/>
                        <button class="iconbutton btn ui-draggable" type="roll" name="roll_mh_ms" value="@{gm_toggle} &{template:roll}{{mainattribute=^{intuition}}}{{secondattribute=^{skill_electronics}}}{{expertise=^{matrixaction_ms}}}{{wilddieprop=[[@{wilddieprop}d6]]}}{{dicepool=[[(@{mh_ms_pool}+@{mh_ms_mod}+@{use_wounds}+@{sustain_malus}+@{allmod}+@{mod_roll}@{wilddiemod})]]}}<%- include('dicetemplate.ejs', {pool: "(@{mh_ms_pool}+@{mh_ms_mod}+@{use_wounds}+@{sustain_malus}+@{allmod}+@{mod_roll}@{wilddiemod})"}); %>">
                            <span class="red" title="" data-i18n-title="mh_int_el_title" data-i18n="mh_int_el"></span>
                        </button>
                    </div>
                    <div class="flex-center">  </div>
                    <div class="flex-center">  </div>
                </div>
                <!--Begin MW-->
                <input class="toggle-hide-skill" name="attr_mh_mw_hide" type="checkbox" value="1"/>
                <div class="flexcontainer skill">  
                    <div class="flexcontainer"><input class="skillfilter eye" name="attr_mh_mw_hide" type="checkbox" value="1"\/><span data-i18n="matrixaction_mw"></span></div>
    
                    <div class="flex-center">   
                        <input class="smallinput first" type="number" name="attr_mh_mw_pool" value="(@{display_intuition}+@{skill_electronics_base}+@{skill_electronics_modifier}-@{display_rauschenclean}-@{display_deckschadenmod})" disabled/>    
                        <input class="smallinput" type="number" name="attr_mh_mw_mod" value="0"/>
                        <input class="smallinput last" type="number" name="attr_mh_mw_edg" value="" disabled/>
                        <button class="iconbutton btn ui-draggable" type="roll" name="roll_mh_mw" value="@{gm_toggle} &{template:roll}{{mainattribute=^{intuition}}}{{secondattribute=^{skill_electronics}}}{{expertise=^{matrixaction_mw}}}{{wilddieprop=[[@{wilddieprop}d6]]}}{{dicepool=[[(@{mh_mw_pool}+@{mh_mw_mod}+@{use_wounds}+@{sustain_malus}+@{allmod}+@{mod_roll}@{wilddiemod})]]}}<%- include('dicetemplate.ejs', {pool: "(@{mh_mw_pool}+@{mh_mw_mod}+@{use_wounds}+@{sustain_malus}+@{allmod}+@{mod_roll}@{wilddiemod})"}); %>">
                            <span class="red" title="" data-i18n-title="mh_int_el_title" data-i18n="mh_int_el"></span>
                        </button>
                    </div>
                    <div class="flex-center">   
                        <input class="smallinput first" type="number" name="attr_mh_mw_defpool" value="(@{prgpa}+@{display_willpower}+@{display_schleichertotal}-@{display_rauschenclean}-@{display_deckschadenmod})" disabled/>    
                        <input class="smallinput last" type="number" name="attr_mh_mw_defmod" value="0"/>
                        <button class="iconbutton btn ui-draggable" type="roll" name="roll_mh_mwdef" value="@{gm_toggle} &{template:roll}{{mainattribute=^{willpower}}}{{secondattribute=^{matrix_attack_corruption_title}}}{{expertise=^{matrixaction_mw} ^{matrixaction_def}}}{{wilddieprop=[[@{wilddieprop}d6]]}}{{dicepool=[[(@{mh_mw_defpool}+@{mh_mw_defmod}+@{use_wounds}+@{sustain_malus}+@{allmod}+@{mod_roll}@{wilddiemod})]]}}<%- include('dicetemplate.ejs', {pool: "(@{mh_mw_defpool}+@{mh_mw_defmod}+@{use_wounds}+@{sustain_malus}+@{allmod}+@{mod_roll}@{wilddiemod})"}); %>">
                            <span class="red" title="" data-i18n-title="mh_wil_sch_title" data-i18n="mh_wil_sch"></span>
                        </button>
                    </div>
                    <div class="flex-center">   
                        <input class="smallinput first" type="number" name="attr_mh_mw_def2pool" value="(@{display_schleichertotal}+@{display_schleichertotal}-@{display_deckschadenmod})" disabled/>    
                        <input class="smallinput last" type="number" name="attr_mh_mw_def2mod" value="0"/>
                        <button class="iconbutton btn ui-draggable" type="roll" name="roll_mh_mwdef2" value="@{gm_toggle} &{template:roll}{{mainattribute=^{matrix_attack_corruption_title}}}{{secondattribute=^{matrix_attack_corruption_title}}}{{expertise=^{matrixaction_mw} ^{matrixaction_def2}}}{{wilddieprop=[[@{wilddieprop}d6]]}}{{dicepool=[[(@{mh_mw_def2pool}+@{mh_mw_def2mod}+@{use_wounds}+@{sustain_malus}+@{allmod}+@{mod_roll}@{wilddiemod})]]}}<%- include('dicetemplate.ejs', {pool: "(@{mh_mw_def2pool}+@{mh_mw_def2mod}+@{use_wounds}+@{sustain_malus}+@{allmod}+@{mod_roll}@{wilddiemod})"}); %>">
                            <span class="red" title="" data-i18n-title="mh_sch_sch_title" data-i18n="mh_sch_sch"></span>
                        </button>
                    </div>
                </div>
                <!--Begin OW bestimmen-->
                <input class="toggle-hide-skill" name="attr_mh_ow_hide" type="checkbox" value="1"/>
                <div class="flexcontainer skill">  
                    <div class="flexcontainer"><input class="skillfilter eye" name="attr_mh_ow_hide" type="checkbox" value="1"\/><span data-i18n="matrixaction_ob"></span></div>

                    <div class="flex-center">   
                        <input class="smallinput first" type="number" name="attr_mh_ow_pool" value="(@{display_logic}+@{skill_cracking_base}+@{skill_cracking_modifier}-@{display_rauschenclean}-@{display_deckschadenmod})" disabled/>    
                        <input class="smallinput" type="number" name="attr_mh_ow_mod" value="0"/>
                        <input class="smallinput last" type="number" name="attr_mh_ow_edg" value="" disabled/>
                        <button class="iconbutton illigalbutton btn ui-draggable" type="roll" name="roll_mh_ml" value="@{gm_toggle} &{template:roll}{{mainattribute=^{logic}}}{{secondattribute=^{skill_cracking}}}{{expertise=^{matrixaction_ob}>=(4)}}{{wilddieprop=[[@{wilddieprop}d6]]}}{{dicepool=[[(@{mh_ow_pool}+@{mh_ow_mod}+@{use_wounds}+@{sustain_malus}+@{allmod}+@{mod_roll}@{wilddiemod})]]}}<%- include('dicetemplate.ejs', {pool: "(@{mh_ow_pool}+@{mh_ow_mod}+@{use_wounds}+@{sustain_malus}+@{allmod}+@{mod_roll}@{wilddiemod})"}); %>{{warning=^{illigaloperation}}}">
                            <span class="red" title="" data-i18n-title="mh_log_cr_title" data-i18n="mh_log_cr"></span>
                        </button>
                    </div>
                    <div class="flex-center">  </div>
                    <div class="flex-center">  </div>
                </div>
                <!--Begin Programmabsturtz-->
                <input class="toggle-hide-skill" name="attr_mh_pa_hide" type="checkbox" value="1"/>
                <div class="flexcontainer skill">  
                    <div class="flexcontainer"><input class="skillfilter eye" name="attr_mh_pa_hide" type="checkbox" value="1"\/><span data-i18n="matrixaction_pa"></span></div>

                    <div class="flex-center">   
                        <input class="smallinput first" type="number" name="attr_mh_pa_pool" value="(@{display_logic}+@{skill_cracking_base}+@{skill_cracking_modifier}-@{display_rauschenclean}-@{display_deckschadenmod})" disabled/>    
                        <input class="smallinput" type="number" name="attr_mh_pa_mod" value="0"/>
                        <input class="smallinput last" type="number" name="attr_mh_pa_edg" value="" disabled/>
                        <button class="iconbutton illigalbutton btn ui-draggable" type="roll" name="roll_mh_pa" value="@{gm_toggle} &{template:roll}{{mainattribute=^{logic}}}{{secondattribute=^{skill_cracking}}}{{expertise=^{matrixaction_pa}}}{{wilddieprop=[[@{wilddieprop}d6]]}}{{dicepool=[[(@{mh_pa_pool}+@{mh_pa_mod}+@{use_wounds}+@{sustain_malus}+@{allmod}+@{mod_roll}@{wilddiemod})]]}}<%- include('dicetemplate.ejs', {pool: "(@{mh_pa_pool}+@{mh_pa_mod}+@{use_wounds}+@{sustain_malus}+@{allmod}+@{mod_roll}@{wilddiemod})"}); %>{{warning=^{illigaloperation}}}">
                            <span class="red" title="" data-i18n-title="mh_log_cr_title" data-i18n="mh_log_cr"></span>
                        </button>
                    </div>
                <div class="flex-center">   
                    <!--     <input class="smallinput first" type="number" name="attr_mh_pa_defpool" value="(@{prgpa}+@{display_willpower}+@{display_datenverarbeituntotal}+@{prgtb}-@{display_rauschenclean}-@{display_deckschadenmod})" disabled/>    
                        <input class="smallinput last" type="number" name="attr_mh_pa_defmod" value="0"/>
                        <button class="iconbutton btn ui-draggable" type="roll" name="roll_mh_padef" value="@{gm_toggle} &{template:roll}{{mainattribute=^{willpower}}}{{secondattribute=^{matrix_dataprocessing_score_title}}}{{expertise=^{matrixaction_pa} ^{matrixaction_def}}}{{wilddieprop=[[@{wilddieprop}d6]]}}{{dicepool=[[(@{mh_pa_defpool}+@{mh_pa_defmod}+@{use_wounds}+@{sustain_malus}+@{allmod}+@{mod_roll}@{wilddiemod})]]}}<%- include('dicetemplate.ejs', {pool: "(@{mh_pa_defpool}+@{mh_pa_defmod}+@{use_wounds}+@{sustain_malus}+@{allmod}+@{mod_roll}@{wilddiemod})"}); %>">
                            <span class="red" title="" data-i18n-title="mh_wil_dv_title" data-i18n="mh_wil_dv"></span>
                        </button>-->
                    </div>
                    <div class="flex-center">   
                        <input class="smallinput first" type="number" name="attr_mh_pa_def2pool" value="(@{display_datenverarbeituntotal}-@{display_deckschadenmod})" disabled/>    
                        <input class="smallinput last" type="number" name="attr_mh_pa_def2mod" value="0"/>
                        <button class="iconbutton btn ui-draggable" type="roll" name="roll_mh_padef2" value="@{gm_toggle} &{template:roll}{{mainattribute=^{matrix_dataprocessing_score_title}}}{{secondattribute=^{mh_devicepool_title}}}{{expertise=^{matrixaction_pa} ^{matrixaction_def2}}}{{wilddieprop=[[@{wilddieprop}d6]]}}{{dicepool=[[(@{mh_pa_def2pool}+@{mh_pa_def2mod}+@{use_wounds}+@{sustain_malus}+@{allmod}+@{mod_roll}@{wilddiemod})]]}}<%- include('dicetemplate.ejs', {pool: "(@{mh_pa_def2pool}+@{mh_pa_def2mod}+@{use_wounds}+@{sustain_malus}+@{allmod}+@{mod_roll}@{wilddiemod})"}); %>">
                            <span class="red" title="" data-i18n-title="mh_dv_gs_title" data-i18n="mh_dv_gs"></span>
                        </button>
                    </div>
                </div>
                <!--Begin Prüfsumensuche-->
                <input class="toggle-hide-skill" name="attr_mh_ps_hide" type="checkbox" value="1"/>
                <div class="flexcontainer skill">  
                    <div class="flexcontainer"><input class="skillfilter eye" name="attr_mh_ps_hide" type="checkbox" value="1"\/><span data-i18n="matrixaction_ps"></span></div>

                    <div class="flex-center">   
                        <input class="smallinput first" type="number" name="attr_mh_ps_pool" value="(@{display_logic}+@{skill_cracking_base}+@{skill_cracking_modifier}-@{display_rauschenclean}-@{display_deckschadenmod})" disabled/>    
                        <input class="smallinput" type="number" name="attr_mh_ps_mod" value="0"/>
                        <input class="smallinput last" type="number" name="attr_mh_ps_edg" value="" disabled/>
                        <button class="iconbutton illigalbutton btn ui-draggable" type="roll" name="roll_mh_ps" value="@{gm_toggle} &{template:roll}{{mainattribute=^{logic}}}{{secondattribute=^{skill_cracking}}}{{expertise=^{matrixaction_ps}}}{{wilddieprop=[[@{wilddieprop}d6]]}}{{dicepool=[[(@{mh_ps_pool}+@{mh_ps_mod}+@{use_wounds}+@{sustain_malus}+@{allmod}+@{mod_roll}@{wilddiemod})]]}}<%- include('dicetemplate.ejs', {pool: "(@{mh_ps_pool}+@{mh_ps_mod}+@{use_wounds}+@{sustain_malus}+@{allmod}+@{mod_roll}@{wilddiemod})"}); %>{{warning=^{illigaloperation}}}">
                            <span class="red" title="" data-i18n-title="mh_log_cr_title" data-i18n="mh_log_cr"></span>
                        </button>
                    </div>
                    <div class="flex-center">  </div>
                    <div class="flex-center">  </div>
                </div>
                <!--Begin Signal stören-->
                <input class="toggle-hide-skill" name="attr_mh_ss_hide" type="checkbox" value="1"/>
                <div class="flexcontainer skill">  
                    <div class="flexcontainer"><input class="skillfilter eye" name="attr_mh_ss_hide" type="checkbox" value="1"\/><span data-i18n="matrixaction_ss"></span></div>

                    <div class="flex-center">   
                        <input class="smallinput first" type="number" name="attr_mh_ss_pool" value="(@{display_logic}+@{skill_cracking_base}+@{skill_cracking_modifier}-@{display_rauschenclean}-@{display_deckschadenmod})" disabled/>    
                        <input class="smallinput" type="number" name="attr_mh_ss_mod" value="0"/>
                        <input class="smallinput last" type="number" name="attr_mh_ss_edg" value="" disabled/>
                        <button class="iconbutton illigalbutton btn ui-draggable" type="roll" name="roll_mh_ss" value="@{gm_toggle} &{template:roll}{{mainattribute=^{logic}}}{{secondattribute=^{skill_cracking}}}{{expertise=^{matrixaction_ss}}}{{wilddieprop=[[@{wilddieprop}d6]]}}{{dicepool=[[(@{mh_ss_pool}+@{mh_ss_mod}+@{use_wounds}+@{sustain_malus}+@{allmod}+@{mod_roll}@{wilddiemod})]]}}<%- include('dicetemplate.ejs', {pool: "(@{mh_ss_pool}+@{mh_ss_mod}+@{use_wounds}+@{sustain_malus}+@{allmod}+@{mod_roll}@{wilddiemod})"}); %>{{warning=^{illigaloperation}}}">
                            <span class="red" title="" data-i18n-title="mh_log_cr_title" data-i18n="mh_log_cr"></span>
                        </button>
                    </div>
                    <div class="flex-center">  </div>
                    <div class="flex-center">  </div>
                </div>
                <!--Begin Sondiren-->
                <input class="toggle-hide-skill" name="attr_mh_so_hide" type="checkbox" value="1"/>
                <div class="flexcontainer skill">  
                    <div class="flexcontainer">
                        <input class="skillfilter eye" name="attr_mh_so_hide" type="checkbox" value="1"\/>
                       <div> 
                           <span data-i18n="matrixaction_so"></span>
                            <span class="red" data-i18n="assosiatewithcorruption_short" data-i18n-title="assosiatewithcorruption"></span>
                    </div>
                    </div>

                    <div class="flex-center">   
                        <input class="smallinput first" type="number" name="attr_mh_so_pool" value="(@{display_logic}+@{skill_cracking_base}+@{skill_cracking_modifier}+@{display_decksadif}-@{display_rauschenclean}-@{display_deckschadenmod})" disabled/>    
                        <input class="smallinput" type="number" name="attr_mh_so_mod" value="0"/>
                        <input class="smallinput last" type="number" name="attr_mh_so_edg" value="" disabled/>
                        <button class="iconbutton illigalbutton btn ui-draggable" type="roll" name="roll_mh_so" value="@{gm_toggle} &{template:roll}{{mainattribute=^{logic}}}{{secondattribute=^{skill_cracking}}}{{expertise=^{matrixaction_so}}}{{wilddieprop=[[@{wilddieprop}d6]]}}{{dicepool=[[(@{mh_so_pool}+@{mh_so_mod}+@{use_wounds}+@{sustain_malus}+@{allmod}+@{mod_roll}@{wilddiemod})]]}}<%- include('dicetemplate.ejs', {pool: "(@{mh_so_pool}+@{mh_so_mod}+@{use_wounds}+@{sustain_malus}+@{allmod}+@{mod_roll}@{wilddiemod})"}); %>{{warning=^{illigaloperation}}}">
                            <span class="red" title="" data-i18n-title="mh_log_cr_title" data-i18n="mh_log_cr"></span>
                        </button>
                    </div>
                    <div class="flex-center">   
                        <input class="smallinput first" type="number" name="attr_mh_so_defpool" value="(@{prgpa}+@{display_willpower}+@{display_firewalltotal}-@{display_rauschenclean}-@{display_deckschadenmod})" disabled/>    
                        <input class="smallinput last" type="number" name="attr_mh_so_defmod" value="0"/>
                        <button class="iconbutton btn ui-draggable" type="roll" name="roll_mh_sodef" value="@{gm_toggle} &{template:roll}{{mainattribute=^{willpower}}}{{secondattribute=^{matrix_fw_score_title}}}{{expertise=^{matrixaction_so} ^{matrixaction_def}}}{{wilddieprop=[[@{wilddieprop}d6]]}}{{dicepool=[[(@{mh_so_defpool}+@{mh_so_defmod}+@{use_wounds}+@{sustain_malus}+@{allmod}+@{mod_roll}@{wilddiemod})]]}}<%- include('dicetemplate.ejs', {pool: "(@{mh_so_defpool}+@{mh_so_defmod}+@{use_wounds}+@{sustain_malus}+@{allmod}+@{mod_roll}@{wilddiemod})"}); %>">
                            <span class="red" title="" data-i18n-title="mh_wil_fw_title" data-i18n="mh_wil_fw"></span>
                        </button>
                    </div>
                    <div class="flex-center">   
                        <input class="smallinput first" type="number" name="attr_mh_so_def2pool" value="(@{display_firewalltotal}+@{display_firewalltotal}-@{display_deckschadenmod})" disabled/>    
                        <input class="smallinput last" type="number" name="attr_mh_so_def2mod" value="0"/>
                        <button class="iconbutton btn ui-draggable" type="roll" name="roll_mh_sodef2" value="@{gm_toggle} &{template:roll}{{mainattribute=^{matrix_fw_score_title}}}{{secondattribute=^{matrix_fw_score_title}}}{{expertise=^{matrixaction_so} ^{matrixaction_def2}}}{{wilddieprop=[[@{wilddieprop}d6]]}}{{dicepool=[[(@{mh_so_def2pool}+@{mh_so_def2mod}+@{use_wounds}+@{sustain_malus}+@{allmod}+@{mod_roll}@{wilddiemod})]]}}<%- include('dicetemplate.ejs', {pool: "(@{mh_so_def2pool}+@{mh_so_def2mod}+@{use_wounds}+@{sustain_malus}+@{allmod}+@{mod_roll}@{wilddiemod})"}); %>">
                            <span class="red" title="" data-i18n-title="mh_fw_fw_title" data-i18n="mh_fw_fw"></span>
                        </button>
                    </div>
                </div>
                <!--Begin Teergrube-->
                <input class="toggle-hide-skill" name="attr_mh_tg_hide" type="checkbox" value="1"/>
                <div class="flexcontainer skill">  
                    <div class="flexcontainer">
                        <input class="skillfilter eye" name="attr_mh_tg_hide" type="checkbox" value="1"\/>
                        <div>
                            <span data-i18n="matrixaction_tg"></span>
                            <span class="red" data-i18n="assosiatewithattack_short" data-i18n-title="assosiatewithattack">[</span>
                        </div>
                    </div>
                        

                    <div class="flex-center">   
                        <input class="smallinput first" type="number" name="attr_mh_tg_pool" value="(@{display_logic}+@{skill_cracking_base}+@{skill_cracking_modifier}+@{display_deckasdif}-@{display_rauschenclean}-@{display_deckschadenmod})" disabled/>    
                        <input class="smallinput" type="number" name="attr_mh_tg_mod" value="0"/>
                        <input class="smallinput last" type="number" name="attr_mh_tg_edg" value="" disabled/>
                        <button class="iconbutton illigalbutton btn ui-draggable" type="roll" name="roll_mh_tg" value="@{gm_toggle} &{template:roll}{{mainattribute=^{logic}}}{{secondattribute=^{skill_cracking}}}{{expertise=^{matrixaction_tg}}}{{wilddieprop=[[@{wilddieprop}d6]]}}{{dicepool=[[(@{mh_tg_pool}+@{mh_tg_mod}+@{use_wounds}+@{sustain_malus}+@{allmod}+@{mod_roll}@{wilddiemod})]]}}<%- include('dicetemplate.ejs', {pool: "(@{mh_tg_pool}+@{mh_tg_mod}+@{use_wounds}+@{sustain_malus}+@{allmod}+@{mod_roll}@{wilddiemod})"}); %>{{warning=^{illigaloperation}}}">
                            <span class="red" title="" data-i18n-title="mh_log_cr_title" data-i18n="mh_log_cr"></span>
                        </button>
                    </div>
                    <div class="flex-center">   
                <!--     <input class="smallinput first" type="number" name="attr_mh_tg_defpool" value="(@{prgpa}+@{display_willpower}+@{display_firewalltotal}-@{display_rauschenclean}-@{display_deckschadenmod})" disabled/>    
                        <input class="smallinput last" type="number" name="attr_mh_tg_defmod" value="0"/>
                        <button class="iconbutton btn ui-draggable" type="roll" name="roll_mh_tgdef" value="@{gm_toggle} &{template:roll}{{mainattribute=^{willpower}}}{{secondattribute=^{matrix_fw_score_title}}}{{expertise=^{matrixaction_tg} ^{matrixaction_def}}}{{wilddieprop=[[@{wilddieprop}d6]]}}{{dicepool=[[(@{mh_tg_defpool}+@{mh_tg_defmod}+@{use_wounds}+@{sustain_malus}+@{allmod}+@{mod_roll}@{wilddiemod})]]}}<%- include('dicetemplate.ejs', {pool: "(@{mh_tg_defpool}+@{mh_tg_defmod}+@{use_wounds}+@{sustain_malus}+@{allmod}+@{mod_roll}@{wilddiemod})"}); %>">
                            <span class="red" title="" data-i18n-title="mh_wil_dv_title" data-i18n="mh_wil_fw"></span>
                        </button>
                        -->
                    </div>
                    <div class="flex-center">   
                        <input class="smallinput first" type="number" name="attr_mh_tg_def2pool" value="(@{display_firewalltotal}+@{display_datenverarbeituntotal}-@{display_deckschadenmod})" disabled/>    
                        <input class="smallinput last" type="number" name="attr_mh_tg_def2mod" value="0"/>
                        <button class="iconbutton btn ui-draggable" type="roll" name="roll_mh_tgdef2" value="@{gm_toggle} &{template:roll}{{mainattribute=^{matrix_fw_score_title}}}{{secondattribute=^{matrix_dataprocessing_score_title}}}{{expertise=^{matrixaction_tg} ^{matrixaction_def2}}}{{wilddieprop=[[@{wilddieprop}d6]]}}{{dicepool=[[(@{mh_tg_def2pool}+@{mh_tg_def2mod}+@{use_wounds}+@{sustain_malus}+@{allmod}+@{mod_roll}@{wilddiemod})]]}}<%- include('dicetemplate.ejs', {pool: "(@{mh_tg_def2pool}+@{mh_tg_def2mod}+@{use_wounds}+@{sustain_malus}+@{allmod}+@{mod_roll}@{wilddiemod})"}); %>">
                            <span class="red" title="" data-i18n-title="mh_fw_dv_title" data-i18n="mh_fw_dv"></span>
                        </button>
                    </div>
                </div>
                <!--Begin Übertragung abfangen-->
                <input class="toggle-hide-skill" name="attr_mh_ua_hide" type="checkbox" value="1"/>
                <div class="flexcontainer skill">  
                    <div class="flexcontainer"><input class="skillfilter eye" name="attr_mh_ua_hide" type="checkbox" value="1"\/><span data-i18n="matrixaction_ua"></span></div>

                    <div class="flex-center">   
                        <input class="smallinput first" type="number" name="attr_mh_ua_pool" value="(@{display_logic}+@{skill_cracking_base}+@{skill_cracking_modifier}-@{display_rauschenclean}-@{display_deckschadenmod})" disabled/>    
                        <input class="smallinput" type="number" name="attr_mh_ua_mod" value="0"/>
                        <input class="smallinput last" type="number" name="attr_mh_ua_edg" value="" disabled/>
                        <button class="iconbutton illigalbutton btn ui-draggable" type="roll" name="roll_mh_ua" value="@{gm_toggle} &{template:roll}{{mainattribute=^{logic}}}{{secondattribute=^{skill_cracking}}}{{expertise=^{matrixaction_ua}}}{{wilddieprop=[[@{wilddieprop}d6]]}}{{dicepool=[[(@{mh_ua_pool}+@{mh_ua_mod}+@{use_wounds}+@{sustain_malus}+@{allmod}+@{mod_roll}@{wilddiemod})]]}}<%- include('dicetemplate.ejs', {pool: "(@{mh_ua_pool}+@{mh_ua_mod}+@{use_wounds}+@{sustain_malus}+@{allmod}+@{mod_roll}@{wilddiemod})"}); %>{{warning=^{illigaloperation}}}">
                            <span class="red" title="" data-i18n-title="mh_log_cr_title" data-i18n="mh_log_cr"></span>
                        </button>
                    </div>
                    <div class="flex-center">   
                        <input class="smallinput first" type="number" name="attr_mh_ua_defpool" value="(@{prgpa}+@{display_logic}+@{display_firewalltotal}-@{display_rauschenclean}-@{display_deckschadenmod})" disabled/>    
                        <input class="smallinput last" type="number" name="attr_mh_ua_defmod" value="0"/>
                        <button class="iconbutton btn ui-draggable" type="roll" name="roll_mh_uadef" value="@{gm_toggle} &{template:roll}{{mainattribute=^{logic}}}{{secondattribute=^{matrix_fw_score_title}}}{{expertise=^{matrixaction_ua} ^{matrixaction_def}}}{{wilddieprop=[[@{wilddieprop}d6]]}}{{dicepool=[[(@{mh_ua_defpool}+@{mh_ua_defmod}+@{use_wounds}+@{sustain_malus}+@{allmod}+@{mod_roll}@{wilddiemod})]]}}<%- include('dicetemplate.ejs', {pool: "(@{mh_ua_defpool}+@{mh_ua_defmod}+@{use_wounds}+@{sustain_malus}+@{allmod}+@{mod_roll}@{wilddiemod})"}); %>">
                            <span class="red" title="" data-i18n-title="mh_log_fw_title" data-i18n="mh_log_fw"></span>
                        </button>
                    </div>
                    <div class="flex-center">   
                        <input class="smallinput first" type="number" name="attr_mh_ua_def2pool" value="(@{display_firewalltotal}+@{display_datenverarbeituntotal}-@{display_deckschadenmod})" disabled/>    
                        <input class="smallinput last" type="number" name="attr_mh_ua_def2mod" value="0"/>
                        <button class="iconbutton btn ui-draggable" type="roll" name="roll_mh_uadef2" value="@{gm_toggle} &{template:roll}{{mainattribute=^{matrix_fw_score_title}}}{{secondattribute=^{matrix_dataprocessing_score_title}}}{{expertise=^{matrixaction_ua} ^{matrixaction_def2}}}{{wilddieprop=[[@{wilddieprop}d6]]}}{{dicepool=[[(@{mh_ua_def2pool}+@{mh_ua_def2mod}+@{use_wounds}+@{sustain_malus}+@{allmod}+@{mod_roll}@{wilddiemod})]]}}<%- include('dicetemplate.ejs', {pool: "(@{mh_ua_def2pool}+@{mh_ua_def2mod}+@{use_wounds}+@{sustain_malus}+@{allmod}+@{mod_roll}@{wilddiemod})"}); %>">
                            <span class="red" title="" data-i18n-title="mh_fw_dv_title" data-i18n="mh_fw_dv"></span>
                        </button>
                    </div>
                </div>
                <!--Begin Verstecken-->
                <input class="toggle-hide-skill" name="attr_mh_vs_hide" type="checkbox" value="1"/>
                <div class="flexcontainer skill">  
                <div class="flexcontainer"><input class="skillfilter eye" name="attr_mh_vs_hide" type="checkbox" value="1"\/><span data-i18n="matrixaction_vs"></span></div>

                <div class="flex-center">   
                    <input class="smallinput first" type="number" name="attr_mh_vs_pool" value="(@{display_intuition}+@{skill_cracking_base}+@{skill_cracking_modifier}+@{display_decksadif}-@{display_rauschenclean}-@{display_deckschadenmod})" disabled/>    
                    <input class="smallinput" type="number" name="attr_mh_vs_mod" value="0"/>
                    <input class="smallinput last" type="number" name="attr_mh_vs_edg" value="(@{prgtk})" disabled/>
                    <button class="iconbutton illigalbutton btn ui-draggable" type="roll" name="roll_mh_vs" value="@{gm_toggle} &{template:roll}{{mainattribute=^{intuition}}}{{secondattribute=^{skill_cracking}}}{{expertise=^{matrixaction_vs}}}{{wilddieprop=[[@{wilddieprop}d6]]}}{{dicepool=[[(@{mh_vs_pool}+@{mh_vs_mod}+@{use_wounds}+@{sustain_malus}+@{allmod}+@{mod_roll}@{wilddiemod})]]}}<%- include('dicetemplate.ejs', {pool: "(@{mh_vs_pool}+@{mh_vs_mod}+@{use_wounds}+@{sustain_malus}+@{allmod}+@{mod_roll}@{wilddiemod})"}); %>{{warning=^{illigaloperation}}}">
                        <span class="red" title="" data-i18n-title="mh_int_cr_title" data-i18n="mh_int_cr"></span>
                    </button>
                </div>
                <div class="flex-center">   
                    <input class="smallinput first" type="number" name="attr_mh_vs_defpool" value="(@{prgpa}+@{display_intuition}+@{display_datenverarbeituntotal}-@{display_rauschenclean}-@{display_deckschadenmod})" disabled/>    
                    <input class="smallinput last" type="number" name="attr_mh_vs_defmod" value="0"/>
                    <button class="iconbutton btn ui-draggable" type="roll" name="roll_mh_vsdef" value="@{gm_toggle} &{template:roll}{{mainattribute=^{intuition}}}{{secondattribute=^{matrix_dataprocessing_score_title}}}{{expertise=^{matrixaction_vs} ^{matrixaction_def}}}{{wilddieprop=[[@{wilddieprop}d6]]}}{{dicepool=[[(@{mh_vs_defpool}+@{mh_vs_defmod}+@{use_wounds}+@{sustain_malus}+@{allmod}+@{mod_roll}@{wilddiemod})]]}}<%- include('dicetemplate.ejs', {pool: "(@{mh_vs_defpool}+@{mh_vs_defmod}+@{use_wounds}+@{sustain_malus}+@{allmod}+@{mod_roll}@{wilddiemod})"}); %>">
                        <span class="red" title="" data-i18n-title="mh_int_dv_title" data-i18n="mh_int_dv"></span>
                    </button>
                </div>
                <div class="flex-center">   
                    <input class="smallinput first" type="number" name="attr_mh_vs_def2pool" value="(@{display_datenverarbeituntotal}+@{display_schleichertotal}-@{display_deckschadenmod})" disabled/>    
                    <input class="smallinput last" type="number" name="attr_mh_vs_def2mod" value="0"/>
                    <button class="iconbutton btn ui-draggable" type="roll" name="roll_mh_vsdef2" value="@{gm_toggle} &{template:roll}{{mainattribute=^{matrix_dataprocessing_score_title}}}{{secondattribute=^{matrix_attack_corruption_title}}}{{expertise=^{matrixaction_vs} ^{matrixaction_def2}}}{{wilddieprop=[[@{wilddieprop}d6]]}}{{dicepool=[[(@{mh_vs_def2pool}+@{mh_vs_def2mod}+@{use_wounds}+@{sustain_malus}+@{allmod}+@{mod_roll}@{wilddiemod})]]}}<%- include('dicetemplate.ejs', {pool: "(@{mh_vs_def2pool}+@{mh_vs_def2mod}+@{use_wounds}+@{sustain_malus}+@{allmod}+@{mod_roll}@{wilddiemod})"}); %>">
                        <span class="red" title="" data-i18n-title="mh_dv_schtitle" data-i18n="mh_dv_sch"></span>
                    </button>
                </div>
            </div>
         </div>
    
