<%#  hideby sets the Hide Variable and Colapsevariable names %>
<%#  title Fills the data-i18n valeue section_???_title %>
<%#       template innerejs file          %>

<input class="toggle-hide" name="attr_<%= hideby %>_hide" type="checkbox" value="1" checked/>
<div class="togglesection">
   
        <div class="sectionheader">
            <label>
                <input class="toggle-hide" name="attr_<%= hideby %>_colapse" type="checkbox" value="1"/>
                <h4><span data-i18n="section_<%= title %>_title">section_magic_skills_title</span></h4>
            </label>
        </div>
         <input class="toggle-hide" name="attr_<%= hideby %>_colapse" type="checkbox" value="1"/>
        <div class="togglesection">
            <%- include(template); %>
        </div>
    </div>