<!-- DO NOT USE RADIO BUTTONS IN REPEATING SECTIONS -->
<div class="logo"></div>
<input class="darkstyle" name="attr_style_toggle" type="hidden" value="0"/> 
<input class="largefont" name="attr_stylelarge_toggle" type="hidden" value="0"/> 
<div class="wholedocument"> <!-- WIL max 12, KON max 14 + Robust gebaut 4 -->
    

    <%- include('header.ejs'); %>
    <div class="tabpanel first">
        <input type='hidden' class='tabstoggle' name='attr_sheetTab'  value='chardata' />
        <button class="headlinebutton tabchardata" type="action" name="act_chardata" data-i18n="character">Charakter</button>

        <input type='hidden' class='tabstoggle' name='attr_sheetTab'  value='attributes' />
        <button class="headlinebutton tabattributes" type="action" name="act_attributes" data-i18n="attributes">Attribute</button>
        
        <input type='hidden' class='tabstoggle' name='attr_sheetTab'  value='skills' />
        <button class="headlinebutton tabskills" type="action" name="act_skills" data-i18n="skills">Fertigkeiten</button>
        
        <input type='hidden' class='tabstoggle' name='attr_sheetTab'  value='attacks' />
        <button class="headlinebutton tabattacks" type="action" name="act_attacks" data-i18n="attacks">Angriffe</button>
        <span>
        <input class="toggle-hide" name="attr_hide_Magictab" type="checkbox" value="1" checked/>
        <input type='hidden' class='tabstoggle' name='attr_sheetTab'  value='magic' />
        <button class="headlinebutton tabmagic" type="action" name="act_magic" data-i18n="magic">Magie</button>
        </span>
        <span> 
            <input class="toggle-hide" name="attr_hide_Matrixtab" type="checkbox" value="1" checked/>
            <input type='hidden' class='tabstoggle' name='attr_sheetTab'  value='matrix' />
            <button class="headlinebutton tabmatrix" type="action" name="act_matrix" data-i18n="matrix">Matrix</button>
        </span>
        
        <span>
            <input class="toggle-hide" name="attr_hide_riggingtab" type="checkbox" value="1" checked/>
            <input type='hidden' class='tabstoggle' name='attr_sheetTab'  value='rigging' />
            <button class="headlinebutton tabrigging" type="action" name="act_rigging" data-i18n="rigging">Rigger</button>
        </span>
       
        
        <input type='hidden' class='tabstoggle' name='attr_sheetTab'  value='contacts' />
        <button class="headlinebutton tabcontacts" type="action" name="act_contacts" data-i18n="contacts">Connections</button>
        
        <input type='hidden' class='tabstoggle' name='attr_sheetTab'  value='gear' />
        <button class="headlinebutton tabgear" type="action" name="act_gear" data-i18n="gear">Ausrüstung</button>
        
        <input type='hidden' class='tabstoggle' name='attr_sheetTab'  value='notes' />
        <button class="headlinebutton tabnotes" type="action" name="act_notes" data-i18n="notes">Notizen</button>

        <span>
            <input class="toggle-hide" name="attr_hide_customrolls" type="checkbox" value="1"/>
            <input type='hidden' class='tabstoggle' name='attr_sheetTab'  value='customrolls' />
            <button class="headlinebutton tabnotes" type="action" name="act_customrolls" data-i18n="customrolls">customrolls</button>
        </span>
        <input type='hidden' class='tabstoggle' name='attr_sheetTab'  value='configuration' />
        <button class="headlinebutton tabconfig" type="action" name="act_configuration" data-i18n="config" >Configuration</button>
        <input type='hidden' class='tabstoggle' name='attr_sheetTab'  value='copyright' />
        <button class="headlinebutton tabcopyright" type="action" name="act_copyright" data-i18n="copyright">Copyright</button>
        
    </div>
    <input type='hidden' class='tabstoggle' name='attr_sheetTab'  value='copyright' /> <!--Tab-Steuerung, zwingend notwendig-->
    <%- include('copyright.ejs'); %>
    <%- include('chardata.ejs'); %>
    
    <%- include('attributes.ejs'); %>
    <%- include('skills.ejs'); %>
    <%- include('combat.ejs'); %>
    
    <%- include('magic.ejs'); %>
    <%- include('matrix.ejs'); %>
    <%- include('rigging.ejs'); %>
    <%- include('customrolls.ejs'); %>
    <%- include('contacts.ejs'); %>
    <%- include('gear.ejs'); %>
    <%- include('notes.ejs'); %>
    <%- include('config.ejs'); %>
    

 
    
    

</div>
<!-- to do: toggle Wunden, Mods, explodierende Würfel ... Benennung der Fenster ... Unglück-->


<%- include('rolltemplates.ejs'); -%>


<%- include('script/sheetworker.ejs'); -%>

