<div class='skills'>
    <%- include('attributessectionshort.ejs'); %>
    <div class="sectionheader">
        
        <label>
            <input class="toggle-hide" name="attr_skills_hide" type="checkbox" value="1"  checked />
            <h4 data-i18n="skills">Skills</h4>
        </label>
             
    </div>
    <input class="toggle-hide" name="attr_skills_hide" type="checkbox" value="1" checked/>
    <div class="togglesection">
        <div class="innertable">
           
            <div class="rightalign mr--topgeg10">
                <label >
                <input  name="attr_config_skill_filter" type="checkbox" value="1"/>
                <span class="red" data-i18n="setskillsfilter">setskillsfilter</span>
                </label>
            </div>
            <input class="toggle-hide" name="attr_config_skill_filter" type="checkbox" value="1"/>
            <div class="togglesection">
                <div class="table-row">
            
                <button class="mr--topgeg10" type="action" name="act_reset_skill_visibility">
                    <span data-i18n="display_all_skills">alle Fertigkeiten sichtbar machen</span>
                </button>
                <button class="mr--topgeg10" type="action" name="act_hide_unused_skills">
                    <span data-i18n="hide_skills_without_ranks">Fertigkeiten ohne Punkte ausblenden</span>
                </button>
                </div>
           
           
            </div>
         </div>
                 
        <div class="innertable">
                        <input class="filteredit hidden" name="attr_config_skill_filter" type="checkbox" value="1"/>
                        <div class="table-row">
                            <div class="table-cell-skill-name"><span class="red" data-i18n="name">Verbergen</span></div>
                            <div class="table-cell"><span class="red" data-i18n="skill_level">Stufe</span></div>
                            <div class="table-cell"><span class="red" data-i18n="skill_modifier">Mod</span></div>
                            <div class="table-cell"><span class="red" data-i18n="bonus" data-i18n-title="bonus">Mod</span></div>
                            <div class="table-cell"><span class="red" data-i18n="skill_attribute">Attribut</span></div>
                            <div class="table-cell"><span class="red" data-i18n="total">Gesamt</span></div>
                            <div class="table-cell"><span class="red" ></span></div>
                            <div class="table-cell-skill-exp pd--left"><span class="red" data-i18n="specialisation">Spezialisierung</span></div>
                            <div class="table-cell"><span class="red" ></span></div>
                            <div class="table-cell"><span class="red" ></span></div>
                            <div class="table-cell-skill-exp pd--left"><span class="red" data-i18n="expertise">Expertise</span></div>
                            <div class="table-cell"><span class="red" ></span></div>
                            <div class="table-cell"><span class="red" ></span></div>
                            

                        </div>
                        
                      
                        <%- include('skill.ejs', {name: "athletics",category:"",selected:"agility"}); %>
                        <%- include('skill.ejs', {name: "biotech",category:"",selected:"logic"}); %>
                        <%- include('skill.ejs', {name: "cracking",category:"",selected:"logic"}); %>
                        <%- include('skill.ejs', {name: "influence",category:"",selected:"charisma"}); %>
                        <%- include('skill.ejs', {name: "electronics",category:"",selected:"logic"}); %>
                        <%- include('skill.ejs', {name: "firearms",category:"",selected:"agility"}); %>
                        <%- include('skill.ejs', {name: "stealth",category:"",selected:"agility"}); %>
                        <%- include('skill.ejs', {name: "engineering",category:"",selected:"logic"}); %>
                        <%- include('skill.ejs', {name: "melee",category:"",selected:"agility"}); %>
                        <%- include('skill.ejs', {name: "outdoors",category:"",selected:"intuition"}); %>
                        <%- include('skill.ejs', {name: "piloting",category:"",selected:"reaction"}); %>
                        <%- include('skill.ejs', {name: "con",category:"",selected:"charisma"}); %>
                        <%- include('skill.ejs', {name: "perception",category:"",selected:"intuition"}); %>

                        <%- include('skillsmagic.ejs', {category:""}); %>
                        <%- include('skill.ejs', {name: "task",category:"",selected:"resonance"}); %>
                        

                        <%- include('skillcustom.ejs', {name: "exoticweapon1",category:"",selected:"agility"}); %>
                        <%- include('skillcustom.ejs', {name: "exoticweapon2",category:"",selected:"agility"}); %>
                 
        </div>
     </div>
    <!--Wissensfertigkeiten-->
    <div class="sectionheader">
        <label>
            <input class="toggle-hide" name="attr_knowledge_hide" type="checkbox" value="1"/>
            <h4><span data-i18n="knowledge"> knowledge</span></h4>
        </label>
    </div>
     <input class="toggle-hide" name="attr_knowledge_hide" type="checkbox" value="1"/>
     <div class="togglesection">
        <div class="table-row"> 
            <div class="table-cell-adept-name"><span class="red">Name</span>  </div>

        </div>

        <fieldset class="repeating_knowledge">
            <div class="table-row">
                <div class="table-cell-adept-name"><input class="adeptpowername" type="text" name="attr_knowledge_name" value="" /> </div>   
                <div class="table-cell"><input class="toggle-hide-not" name="attr_knowledge_hidefulltext" type="checkbox" value="1"/></div>
                <div class="table-cell-skill-rolls"><button class="postbutton" type="roll" name="roll_adeptpower" value="@{gm_toggle} &{template:post}{{category=^{knowledge}}}{{name=@{knowledge_name}}}{{description=@{knowledge_desc}}}">
                    <span class="red" title="" data-i18n="showinchat">showinchat</span>
                </button> </div> 
                <div class="table-cell-skill-rolls">
                    <button class="mediumbutton" type="roll" name="roll_memory" value="@{gm_toggle} &{template:roll}{{mainattribute=^{memory}}}{{secondattribute=@{knowledge_name}}}{{wilddieprop=[[@{wilddieprop}d6]]}}<%- include('dicetemplate.ejs', {pool: "(@{display_memory}+@{use_wounds}+@{sustain_malus}+@{allmod}+@{mod_roll}@{wilddiemod})"}); %>">
                        <span class="red" data-i18n="log_int">LOG + INT</span>
                    </button>
                    
                </div>
            </div>

            <input class="toggle-hide" name="attr_knowledge_hidefulltext" type="checkbox" value="1"/>
            <div class ="togglesection">
                <div class="table-row">
                    <textarea  class="fulltextbox" type="text" name="attr_knowledge_desc" value=""></textarea>
                </div>
            </div>
        </fieldset>
    </div>
     <!--Sprachen-->
    <div class="sectionheader">
        <label>
            <input class="toggle-hide" name="attr_language_hide" type="checkbox" value="1"/>
            <h4><span data-i18n="language"> language</span></h4>
        </label>
    </div>
     <input class="toggle-hide" name="attr_language_hide" type="checkbox" value="1"/>
     <div class="togglesection">
        <div class="table-row"> 
            <div class="table-cell-adept-name"><span class="red" data-i18n="display_name">Name</span>  </div>
            <div class="table-cell-adept-name"><span class="red" data-i18n="skill_level">Level</span>  </div>

        </div>

        <fieldset class="repeating_language">
            <div class="table-row">
                <div class="table-cell-adept-name"><input class="adeptpowername" type="text" name="attr_language_name" value="" /> </div>   
                <div class="table-cell-adept-name"><select class="attributedropdown" type="number" name="attr_language_level" value="0" >
                    <option value="0" data-i18n="language_level1" selected></option>
                    <option value="2" data-i18n="language_level2"></option>
                    <option value="3" data-i18n="language_level3"></option>
                    <option value="99" data-i18n="language_levelm"></option>
                    </select>
                 </div>   
                <div class="table-cell"><input class="toggle-hide-not" name="attr_language_hidefulltext" type="checkbox" value="1"/></div>
                <div class="table-cell-skill-rolls">
                        <button class="widesmallbutton" type="roll" name="roll_skill_perception_total" value="@{gm_toggle} &{template:roll}{{mainattribute=^{@{skill_perception_attribute}}}}{{secondattribute=^{skill_perception}}}{{expertise=@{language_name}+@{language_level}}}{{dicepool=[[@{skill_perception_total} [Skill+Attribute+Modifier]+@{language_level}+@{use_wounds} [Wounds] +@{sustain_malus} [Sunstain] +@{allmod}+@{mod_roll}[Test-Modifier]]]}}{{wilddieprop=[[@{wilddieprop}d6]]}}<%- include('dicetemplate.ejs', {pool: "(@{skill_perception_total}+@{language_level}+@{use_wounds}+@{sustain_malus}+@{allmod}+@{mod_roll}@{wilddiemod})"}); %>">
                            
                        </button>
                </div>
              
            </div>

            <input class="toggle-hide" name="attr_language_hidefulltext" type="checkbox" value="1"/>
            <div class ="togglesection">
                <div class="table-row">
                    <textarea  class="fulltextbox" type="text" name="attr_language_desc" value=""></textarea>
                </div>
            </div>
        </fieldset>
    </div>
    
</div>