<%/*Template for a Single Skill
Parameters 
name: Name of the Skill 
category: Name for the Hide-Categorry
selected: Name of the Selectet Attribute*/%>
            <!--Start <%= name %>-->
            <input class="toggle-hide-skill" name="attr_skill_<%= category %><%= name %>_hide" type="checkbox" value="1"/>
            <div class="table-row-skill skill">
                <div class="table-cell-skill-name">
                    <input class="skillfilter eye" name="attr_skill_<%= category %><%= name %>_hide" type="checkbox" value="1"/>
                    <span class="red" data-i18n="skill_<%= name %>"><%= name %></span>
                </div>
                <div class="table-cell"><input class="smallinput first" type="number" name="attr_skill_<%= name %>_base" value="-1" placeholder="-1" title="@{skill_<%= name %>_base}" min="-1" /></div>
                <div class="table-cell"><input class="smallinput" type="number" name="attr_skill_<%= name %>_modifier" value="0" placeholder="0" title="@{skill_<%= name %>_modifier}" /> </div>
                <div class="table-cell"><input class="smallinput" type="number" name="attr_skill_<%= name %>_statusmodifier" value="0" placeholder="0" title="@{skill_<%= name %>_statusmodifier}" readonly /> </div>

                <div class="table-cell">
                    <select class="attributedropdown" name="attr_skill_<%= name %>_attribute" value="display_<%= selected %>"  title="skill_<%= name %>_attribute">
                        <option value="display_body" data-i18n="body"<% if (selected=="body") { %> selected <% } %>>KON</option>
                        <option value="display_agility" data-i18n="agility"<% if (selected=="agility") { %> selected <% } %>>GES</option>
                        <option value="display_reaction" data-i18n="reaction"<% if (selected=="reaction") { %> selected <% } %>>REA</option>
                        <option value="display_strength" data-i18n="strength"<% if (selected=="strength") { %> selected <% } %>>STÄ</option>
                        <option value="display_willpower" data-i18n="willpower"<% if (selected=="willpower") { %> selected <% } %>>WIL</option>
                        <option value="display_logic" data-i18n="logic"<% if (selected=="logic") { %> selected <% } %> >LOG</option>
                        <option value="display_intuition" data-i18n="intuition"<% if (selected=="intuition") { %> selected <% } %>>INT</option>
                        <option value="display_charisma" data-i18n="charisma"<% if (selected=="charisma") { %> selected <% } %>>CHA</option>
                        <% if (selected=="resonance") { %><option value="display_resonance" data-i18n="resonance" selected>resonanz</option><% } %><% if (selected=="magic") { %><option value="display_magic" data-i18n="magic" selected>magic</option><% } %>
                    </select>
                </div>
                <div class="table-cell">
                    <input class="smallinput last" type="number" name="attr_skill_<%= name %>_total" value="0" placeholder="0" readonly/>
                                                </div>
                <div class="table-cell">
                    <button class="iconbutton" type="roll" name="roll_skill_<%= name %>_total" value="@{gm_toggle} &{template:roll}{{mainattribute=^{@{skill_<%= name %>_attribute}}}}{{secondattribute=^{skill_<%= name %>}}}{{dicepool=[[@{skill_<%= name %>_total} [Skill+Attribute+Modifier]+@{use_wounds} [Wounds] +@{sustain_malus} [Sunstain] +@{allmod}+@{mod_roll}[Test-Modifier]]]}}{{wilddieprop=[[@{wilddieprop}d6]]}}<%- include('dicetemplate.ejs', {pool: "(@{skill_" + name +"_total}+@{use_wounds}+@{sustain_malus}+@{allmod}+@{mod_roll}@{wilddiemod})"}); %>"/>
                </div>
                <div class="table-cell-skill-spec pd--left">
                    <input class="toggle-hide" name="attr_skill_<%= name %>_spec_visibility" type="checkbox" value="1"/>

                    <% if ((typeof options === "undefined")) { %>
                        <input class="input-mediumshort first" type="text" name="attr_skill_<%= name %>_spec" title="@{skill_<%= name %>_spec}"/>
                    <% } else{ %>  
                        <select class="input-mediumshort first" name="attr_skill_<%= name %>_spec">
                            <option value=""></option>
                            <% for(var i = 0; i < options.length; i++) {%>
                                <option value=<%= options[i] %> data-i18n="<%= options[i] %>"></option>
                             <% } %> 
                        </select>
                    <% } %>

                  
                </div>
                <div class="table-cell">
                    <input class="toggle-hide" name="attr_skill_<%= name %>_spec_roll_visibility" type="checkbox" value="1"/>
                    <input class="nput-<%= name %>-spec smallinput last" type="number" name="attr_skill_<%= name %>_total_spec" value="" placeholder="0" readonly/>
                </div>
                <div class="table-cell">
                    <input class="toggle-hide" name="attr_skill_<%= name %>_spec_roll_visibility" type="checkbox" value="1"/>
                    <span class="visible-spec"></span>
                    <span class="invisible-spec">
                        <button class="iconbutton" type="roll" name="roll_skill_<%= name %>_total_spec" value="@{gm_toggle} &{template:roll}{{mainattribute=^{@{skill_<%= name %>_attribute}}}}{{secondattribute=^{skill_<%= name %>}}}{{specialisation=@{skill_<%= name %>_spec}}}{{wilddieprop=[[@{wilddieprop}d6]]}}<%- include('dicetemplate.ejs', {pool: "(@{skill_" + name +"_total} +2 +@{use_wounds}+@{sustain_malus}+@{allmod}+@{mod_roll}@{wilddiemod})"}); %>"/>
                    </span>
            </div>
                <div class="table-cell-skill-exp pd--left">
                    <input class="toggle-hide" name="attr_skill_<%= name %>_exp_visibility" type="checkbox" value="1"/>
                    <% if ((typeof options === "undefined")) { %>
                    <input class="input-mediumshort first" type="text" name="attr_skill_<%= name %>_exp" title="@{skill_<%= name %>_exp}"/>
                    <% } else{ %>  
                        <select class="input-mediumshort first" name="attr_skill_<%= name %>_exp">
                            <option value=""></option>
                            <% for(var i = 0; i < options.length; i++) {%>
                                <option value=<%= options[i] %> data-i18n="<%= options[i] %>"></option>
                             <% } %> 
                        </select>
                    <% } %>

                </div>
                <div class="table-cell">
                    <input class="toggle-hide" name="attr_skill_<%= name %>_exp_roll_visibility" type="checkbox" value="1"/>
                    <input class="input-exp smallinput last " type="number" name="attr_skill_<%= name %>_total_exp" value="" placeholder="0" readonly/>
                </div>
            <div class="table-cell">
                    <input class="toggle-hide" name="attr_skill_<%= name %>_exp_roll_visibility" type="checkbox" value="1"/>
                        <span class="visible-exp"></span>
                        <span class="invisible-exp">
                            <button class="iconbutton" type="roll" name="roll_skill_<%= name %>_total_exp" value="@{gm_toggle} &{template:roll}{{mainattribute=^{@{skill_<%= name %>_attribute}}}}{{secondattribute=^{skill_<%= name %>}}}{{expertise=@{skill_<%= name %>_exp}}}{{wilddieprop=[[@{wilddieprop}d6]]}}<%- include('dicetemplate.ejs', {pool: "(@{skill_" + name + "_total}+3+@{use_wounds}+@{sustain_malus}+@{allmod}+@{mod_roll}@{wilddiemod})"}); %>"/>
                        </span>
                </div>
                
                <div class="table-cell-rolls"></div>
            </div><!--End of skill-->