- var ABILTIES = ['strength', 'dexterity', 'constitution', 'intelligence', 'wisdom', 'charisma'];

mixin ability(name)
  .attr-container
    button(type='roll' name=`roll_${name}` value!=`@{wtype}&{template:simple} {{rname=^{${name}-u}}} {{mod=@{${name}_mod}@{jack_bonus}}} {{r1=[[@{d20}+@{${name}_mod}@{jack_attr}[${name.substring(0,3).toUpperCase()}]]]}} @{rtype}+@{${name}_mod}@{jack_attr}[${name.substring(0,3).toUpperCase()}]]]}} @{charname_output} {{licensedsheet=@{licensedsheet}}}` data-i18n=`${name}-u`)= name.toUpperCase()
    input(type='hidden' name=`attr_${name}_mod` value='0')
    span.attr(name=`attr_${name}_mod` title=`@{${name}_mod}`) 0
    .attr-mod
      input.baseattr(type='text' name=`attr_${name}_base` title=`@{${name}}` value!='10')
      input(type='hidden' name=`attr_${name}` value!='10')
      input.attr-flag(type='hidden' name=`attr_${name}_flag` value!='0')
      span.finalattr(name=`attr_${name}`)

mixin abilityList()
  .attributes-container(style='margin-top: 10px;')
    each ability in ABILTIES
      +ability(ability)

mixin powerHeader(rank, tp)
  span.rank
    span(data-i18n='max-rank-u')
    span=rank
  span.tp=tp

mixin repeatingSection(name)
  fieldset(class=`repeating_${name}`)
    if(block)
      block