include ../../data/nav

mixin navBar(sheetType)
  div.nav-bar
    if sheetType == 'shared'
      - var rows = sharedRows
    else
      - var rows = charRows
    each row in rows
      div.nav-row
        each page in row.pages
          if page.optional
            input(type='checkbox' class=`optional-nav-${page.optional} hide-element` name=`attr_optional_nav_${page.optional}` checked)
            div(class=`nav-child optional-nav-${page.optional} showhide`)
              label.page-label
                if page.checked
                  input(type='radio' name=`attr_${sheetType}_page_button` class='hide-element page-button' value=page.id checked)
                else
                  input(type='radio' name=`attr_${sheetType}_page_button` class='hide-element page-button' value=page.id)
                - var translation = `nav-${page.text}`
                div.page-button-back(data-i18n=translation)=locals.translations[translation]
          else
            div.nav-child
              label.page-label
                if page.checked
                  input(type='radio' name=`attr_${sheetType}_page_button` class='hide-element page-button' value=page.id checked)
                else
                  input(type='radio' name=`attr_${sheetType}_page_button` class='hide-element page-button' value=page.id)
                - var translation = `nav-${page.text}`
                div.page-button-back(data-i18n=translation)=locals.translations[translation]
