//- include nested_fieldset/nested_fieldset.pug
include arm5roller/arm5roller.pug
//- include tabs/tabs.pug

mixin roll(name, label, modifier)
    button(type="roll" class="baseRoll" name=`roll_${label}` title=`%{${label}}` value=`[[1d10+(@{${modifier})}]]`)
    button(type="roll" class="baseRoll" name=`roll_${label}` title=`%{${label}}` value=`[[1d10+(@{${modifier})}]]`)

mixin score(name)
    div(class="bigScore")
        input(type="number" name=`attr_${name}_score`)
        span
        input(type="number" name=`attr_${name}_currentXP`)
        span
        input(type="number" name=`attr_${name}_nextXP`)
        span


mixin elementsJavascript()
    |
    | // Initialize the sheet basic elements
    |
    +arm5rollers_storage
    | // Sheetworkers for Custom Roll Parsing
    |
    include arm5roller/arm5roller.js
    //- +tabsMixinJavascript