mixin textInput(name, value='')
  input(class!=attributes.class name=`attr_${name}` placeholder!=attributes.placeholder type='text' value=value)

mixin numberInput(name, value='')
  input(class!=attributes.class name=`attr_${name}` placeholder!=attributes.placeholder type='number' value=value)

mixin textareaInput(name, value='')
  textarea(class!=attributes.class name=`attr_${name}` placeholder!=attributes.placeholder)= value

mixin hiddenInput(name, value='')
  input(class!=attributes.class name=`attr_${name}` type='hidden' value=value)

mixin rollButton(name, value='')
  button(class!=attributes.class name=`roll_${name}` type='roll' value=value)

mixin actButton(name, value='')
  button(class!=attributes.class name=`act_${name}` type='action' value=value)
