- var attributes = ['for','dex','int',"con","sag","cha"];

div.attributes.w-3
    each attribute in attributes
        div.attribute
            button.button-label(value=`@{${attribute}_rollvalue}` type="roll")
                span(data-i18n=`attribute.${attribute}`)= attribute
            span.mod(type="text" name=`attr_${attribute}_mod`)
            input(type="hidden" name=`attr_${attribute}_rollvalue`
            value=`&{template:main} {{titre=^{attribute.${attribute}.roll}}} {{subtitle=@{character_name} }} {{Jet=[[1d20+@{${attribute}_mod}]]}}`)
            div.base
                input(type="hidden" name=`attr_${attribute}_modified` value="false")
                input.base(type="number" name=`attr_${attribute}_base` value="10")
                span(name=`attr_${attribute}_total`) 10
