- var spell_levels_all = [[0,1,2],[3,4,5],[6,7,8],[9]];
div.spells.flex-column.w-12
    each spell_levels in spell_levels_all
        div.flex-row
            each spell_level in spell_levels
                div.spell-group.w-4
                    div.spell-header.flex-row
                        label.w-2= spell_level
                        div.w-5
                            input.input(type="number" name=`attr_spell_${spell_level}_total`)
                        div.w-5
                            input.input(type="number" name=`attr_spell_${spell_level}_left`)
                    div.spells-list.flex-column
                        fieldset(class=`repeating_spells${spell_level}`)
                            div.spell.border-bottom
                                input.options-flag(type="checkbox" name="attr_options-flag")
                                span y
                                div.flex-row.align-center
                                    input(type="checkbox" name="attr_prepared")
                                    button.spell-button(name="attr_roll" type="roll" value="@{rollvalue}")
                                        span.spell-name(name="attr_name")
                                        span!="&nbsp;"
                                        span.spell-innate(name="attr_innate")
                                    input(type="hidden" name="attr_rollvalue"
                                        value!="&{template:spell} {{name=^{spells.spell}: @{name}}}" +
                                            " {{school=@{school}}} {{casting-time=@{casting-time}}} {{range=@{range}}}" +
                                            " {{duration=@{duration}}} {{innate=@{innate}}}" +
                                        " {{subtitle=@{character_name}}} {{level="+spell_level+"}}  {{description=@{description}}}")
                                div.flex-column.options-options
                                    div.flex-row
                                        label.text-right.w-4
                                            span(data-i18n="common.name") Nom
                                            |  :
                                        input.visible-input.w-8(type="text" name="attr_name")
                                    div.flex-row
                                        label.text-right.w-4
                                            span(data-i18n="spells.school") Ecole
                                            |  :
                                        input.visible-input.w-8(type="text" name="attr_school")
                                    div.flex-row
                                        label.text-right.w-4
                                            span(data-i18n="spells.incantation") incantation
                                            |  :
                                        input.visible-input.w-8(type="text" name="attr_casting-time")
                                    div.flex-row
                                        label.text-right.w-4
                                            span(data-i18n="spells.range") Portée
                                            |  :
                                        input.visible-input.w-8(type="text" name="attr_range")
                                    div.flex-row
                                        label.text-right.w-4
                                            span(data-i18n="spells.duration") Durée
                                            |  :
                                        input.visible-input.w-8(type="text" name="attr_duration")
                                    div.flex-row
                                        label.text-right.w-4
                                            span(data-i18n="spells.innate") Inné
                                            |  :
                                        input.visible-input.w-8(type="text" name="attr_innate")
                                    label
                                        span(data-i18n="common.description") Inné
                                    textarea.textarea(name="attr_description")