.persona
	.row.headers
		each val in ['attribute', 'total', 'temp', 'base']
			h3(data-i18n=val)
	each key, val in {'attack':'charisma', 'data_processing': 'logic', 'sleaze': 'intuition', 'firewall': 'willpower'}
		input(type="hidden" name=`attr_persona_${val}` min="0" value="0")
		.row-long
			.attribute
				+matrixRolls(key, val)
			.total.text-center
				label(data-title-i18n=val)
					input(min="0" name=`attr_persona_${val}` placeholder="0" title=`@{persona_${val}}` type='number' value=`@{${key}}+@{persona_${val}_temp}` disabled)
			.temp.text-center
				label(data-title-i18n=val)
					input(min="0" name=`attr_persona_${val}_temp` placeholder="0" title=`@{persona_${val}_temp}` type='number' value="")
			.base.text-center
				span(name=`attr_${key}`)
	.rows.repeating-container.echos
		h2(data-i18n='echos') echos
		fieldset(class=`repeating_echos`)
			span.eclipse.font-bolder(name='attr_echo')
			button.pictos(name="echo_chat" type="roll" value="@{gm_toggle} &{template:rolls}{{header=@{echo}}}{{desc=@{notes}}}") w
			+repeatingSectionFlags()
			.settings
				label(data-i18n-title='echos' title='echos')
					input(name='attr_echo' placeholder='echo name' title='@{repeating_echos_${x}_echo}' type='text' value='')
				+repeatingSectionNotes('echos')