mixin ressourcestack(res_type)
    input(type="hidden" name="attr_"+res_type class='number')
    input(type="hidden" name="attr_displaychipstacks" class="displaychipstacks" value="1")
    span(class="chipstackgroup")
        input(type="radio" class="chipstack chip0" name="attr_"+res_type value="0" checked="checked")
        span
        each val in [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
            input(type="radio" class="chipstack "+res_type+"chip chip"+val name="attr_"+res_type value=val)
            span
    span(class="singlechip "+res_type+"chip")          
    div(class="chipnumber")
        button(type="action" name="act_rem"+res_type) -
        span(name="attr_"+res_type)
        button(type="action" name="act_add"+res_type) +
    div(class="tooltiptext")
        span(data-i18n="ressource_"+res_type)=res_type 
        input(class="hideempty_toggle" type="hidden" name="attr_"+res_type+"_max")
        span(class="hideempty")
            |  (max. 
            span(name="attr_"+res_type+"_max")
            | )
input(type="hidden" class="tutorialtoggle" name="attr_tutorial_done" value="0")
div(class="tutorial")   
<img class="raven" src="https://ulisses-digital.de/R20/hexxen/images/Rabenbanner.png" />
<img class="pc_only watermark" src="https://ulisses-digital.de/R20/hexxen/images/bg_watermark.png" />
input(type="hidden" class="tutorialstep0" name="attr_tutorial_step")
<div class="tabbuttonbar hintborder">
    <button type="action" class="pc_only" name="act_character"data-i18n="button_character">Character</button>
    <button type="action" class="npc_only" name="act_npc" data-i18n="button_npc">NPC</button>
    <button type="action" class="pc_only" name="act_combat" data-i18n="button_combat">Combat</button>
    <input type="hidden" class="editmode_toggle" name="attr_editmode" value="1" checked=true/>
    <button type="action" name="act_toggleeditmode" data-i18n="button_exit_edit_mode">Exit Edit Mode</button>
    <button type="action" name="act_toggleeditmode" data-i18n="button_enter_edit_mode">Enter Edit Mode</button>
    <span class="hinttext hinttextright" data-i18n="navigationhint">
    </span>
</div>
<div class="col" style="min-width:380px">
    <input type="hidden" class="editmode_toggle" name="attr_editmode" value="1" checked=true/>
    <div class="left">
        <div class="npc_only">
            <button type="action" name="act_converttopc" data-i18n="button_contert_to_pc">Convert to PC</button>
            <div class="npc_only">       
                <label data-i18n="label_hitpoints">Lebenspunkte:</label>  
                <input class='number' type="number" name="attr_npc_hitpoints" value="1" />    
                <span>(max. <input class='number' type="number" name="attr_npc_hitpoints_max" value="1" />)</span>
            </div>
            <div class="npc_leader_only">       
                <label data-i18n="label_hitpoints_formula">LeP-Formel:</label>  
                <input class='textline' type="text" name="attr_npc_hitpoints_formula" />
            </div>
        </div>
        <div class="pc_only">
            <button type="action" name="act_converttonpc" data-i18n="button_contert_to_npc">Convert to NPC</button>
            <br>
            <button type="action" name="act_resettutorial" data-i18n="button_reset_tutorial">Restart Tutorial</button>
            <br>
            <input type="checkbox" class="normal" name="attr_displayrage" value="1" checked=true/><span></span>
            <label data-i18n="label_option_display_rage">Display Rage</label>
            <br>
            <input type="checkbox" class="normal" name="attr_displayambition" value="1" checked=true/><span></span>
            <label data-i18n="label_option_display_ambition">Display Ambition</label>
            <br>
            <input type="checkbox" class="normal" name="attr_displayquintessence" value="1" checked=true/><span></span>
            <label data-i18n="label_option_display_quintessence">Display Quintessence</label>
            <br>
            <input type="checkbox" class="normal" name="attr_displaychipstacks" value="1" checked=true/><span></span>
            <label data-i18n="label_option_display_chipstacks">Display Chipstacks</label>
        </div>
    </div>
    <div style="min-width:400px">
        div(class="right npc_only npc_leader_only")
            each res_type in ["hex"]
                div(class="tooltip ressource_"+res_type)
                    input(type="hidden" name="attr_"+res_type class='number')
                    span(class="chipstackgroup")
                        input(type="radio" class="chipstack chip0" name="attr_"+res_type value="0" checked="checked")
                        span
                        each val in [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
                            input(type="radio" class="chipstack "+res_type+"chip chip"+val name="attr_"+res_type value=val)
                            span
                    div(class="chipnumber")
                        button(type="action" name="act_rem"+res_type) -
                        span(name="attr_"+res_type)
                        button(type="action" name="act_add"+res_type) +
                    div(class="tooltiptext")
                        span(data-i18n="ressource_"+res_type)=res_type 
                        input(class="hideempty_toggle" type="hidden" name="attr_"+res_type+"_max")
                        span(class="hideempty")
                            |  (max. 
                            span(name="attr_"+res_type+"_max")
                            | )
        <input type="hidden" name="attr_rollvaluename"/>
        <span class="label" name="attr_rollvaluename"></span>
        <br>
        <input type="hidden" min="0" max="10" name="attr_hexxen" />
        span(class="dicebargroup")
            input(type="radio" class="dicebarzero" name="attr_hexxen" value="0" checked="checked")
            span
            each val in [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
                input(type="radio" class="dicebar hexdie" value=val name="attr_hexxen")
                span
            br(class="spacer_dice npc_only")
            span(class="spacer_dice npc_only")
            each val in [11, 12, 13, 14, 15, 16, 17, 18, 19, 20]
                input(type="radio" class="npc_only dicebar hexdie" value=val name="attr_hexxen")
                span(class="npc_only")

        <div class="rolltestdice">
            <button type='roll' name='roll_testattack' value='@{rollquery}' data-i18n="button_roll">Roll</button>
        </div>
        <div class="resettestdice">
            <button type="action" name="act_resetroll" data-i18n="button_reset">Reset</button>
        </div>
        <br>
        <input type="hidden" min="-5" max="5" name="attr_janus" />
        input(type="hidden" class="tutorialstep3" name="attr_tutorial_step" value="0")
        <span class="dicebargroup tooltip hintborder">
            <input type="radio" class="dicebar reverse janusdiemalus" name="attr_janus" value="-5" /><span></span>
            <input type="radio" class="dicebar reverse janusdiemalus" name="attr_janus" value="-4" /><span></span>
            <input type="radio" class="dicebar reverse janusdiemalus" name="attr_janus" value="-3" /><span></span>
            <input type="radio" class="dicebar reverse janusdiemalus" name="attr_janus" value="-2" /><span></span>
            <input type="radio" class="dicebar reverse janusdiemalus" name="attr_janus" value="-1" /><span></span>
            <input type="radio" class="dicebarzero" name="attr_janus" value="0" /><span></span>
            <input type="radio" class="dicebar janusdiebonus" name="attr_janus" value="1" /><span></span>
            <input type="radio" class="dicebar janusdiebonus" name="attr_janus" value="2" /><span></span>
            <input type="radio" class="dicebar janusdiebonus" name="attr_janus" value="3" /><span></span>
            <input type="radio" class="dicebar janusdiebonus" name="attr_janus" value="4" /><span></span>
            <input type="radio" class="dicebar janusdiebonus" name="attr_janus" value="5" /><span></span>
            <span class="tooltiptext" data-i18n="janustooltip">
            </span>
            <span class="hinttext" data-i18n="janushint">
            </span>
        </span>
        <br>
        <input type="hidden" name="attr_rollmodifiers"/>
        <span class="label" name="attr_rollmodifiers"></span>
        <br>
        <button type='roll' class="directdieroller blessingdie" name='roll_blessingdie' title="Segnung" value='"&{template:check} {{name=@{character_name}}} {{attr=Segnung}} {{blessing1=[[d6cs>4cf1cf2]]}}"'></button>
        <button type='roll' class="directdieroller blooddie" name='roll_blooddie' title="Blutwürfel" value='"&{template:blood} {{name=@{character_name}}} {{attr=Blutwürfel}} {{blood1=[[d6cs>5cf1]]}}"'></button>
        <button type='roll' class="directdieroller elixirdie" name='roll_elixirdie' title="Elixierwürfel" value='"&{template:elixir} {{name=@{character_name}}} {{attr=Elixierwürfel}} {{elixir1=[[d6cs5]]}}"'></button>
        <hr class="stickydivider">
        <div class="pc_only stickygrid">
            <label data-i18n="label_actionpoints">Aktionspunkte:</label>
            <div>
                <input type="number" class="number" name="attr_ap" value="6" min="0" max="6"/>
                <span>(max. <span name="attr_ap_max"></span>)</span>
            </div>
            <label data-i18n="label_hitpoints">Lebenspunkte:</label>  
            <div>      
                <div class="tooltip inline">
                    <input class='number' type="number" name="attr_hitpoints" />    
                    <label class="tooltiptext" data-i18n="tooltip_hp">Aktuelle Basis-[Lep].<br>Bei Basis-[Lep]≤-1 der Verlust alle Coups/Ideen, deren Benutzung unmöglich. Puffer-[Lep]=0</label>
                    <span>(max. <span class="label" name="attr_hitpoints_max" ></span>)</span>
                </div>
                <span class="label">+</span>
                <div class="tooltip inline">
                    <input class='number' type="number" name="attr_bufferhitpoints" /> 
                    <label class="tooltiptext" data-i18n="label_buffer_hp">Puffer-[Lep]</label>
                </div>
            </div>
        </div>
        <div class="npc_only">       
            <label data-i18n="label_hitpoints">Lebenspunkte:</label>  
            <input class='number' type="number" name="attr_npc_hitpoints" value="1" />    
            <span>(max. <span class="label" name="attr_npc_hitpoints_max" ></span><span class="npc_leader_only"> / <span class="label" name="attr_npc_hitpoints_formula" ></span></span>)</span>
        </div>
        
    </div>
</div>
div(class="col pc_only")
    div(class="right")
        input(type="hidden" class="normal ressource_rage_toggle" name="attr_displayrage" value="1" checked="true")
        input(type="hidden" class="normal ressource_ambition_toggle" name="attr_displayambition" value="1" checked="true")      
        input(type="hidden" class="normal ressource_quintessence_toggle" name="attr_displayquintessence" value="1" checked="true")
        each res_type in ["coup", "idea", "blessing", "rage", "ambition", "quintessence"]
            if(res_type=="coup")
                input(type="hidden" class="tutorialstep4" name="attr_tutorial_step")
                div(class="tooltip ressource_"+res_type+" hintborder")
                    +ressourcestack(res_type)
                    span(class="hinttext hintposright" data-i18n="ressourcehint")
            else 
                div(class="tooltip ressource_"+res_type)
                    +ressourcestack(res_type)

                
            
