input.gamesys(type="hidden" name="attr_gametype" value="")
.tab-buttons.spaced.center
  //- <input type="hidden" class="npctoggle" name="attr_npc"  value="0">
  //-each tab in pages
  //-  button(type="action" name=`act_${tab}`) tab
  //- <button class="npc" type="action" name="act_npc" >NPC</button>
  input.tabstoggle(type="hidden" name="attr_sheetTab" value="character")
  input.gametoggle(type="hidden" name="attr_gametype" value="godsend")
  h1.godsend(title="GODSEND Agenda")
  h2.talislanta(title="Talislanta")
  h1.hellas(title="Hellas")
  h1.atlantis(title="Atlantis Second Age")
  div
    span Page selection
    //-select(name="attr_sheetTab")
      each tab in pages
        option(value=`${tab}`)= tab
    each tab in pages
      button(type="action" name=`act_${tab}`)= tab
    //-button(type="action" name="act_character")= character
    //-button(type="action" name="act_notes")= notes
    //-button(type="action" name="act_settings")= setting
  .version
    span Sheet Version: 
    span(name="attr_version")
input.tabstoggle(type="hidden" name="attr_sheetTab" value="character")
main.character
  section.common.spaced
    .columnflex.nowrap
      label Name
      input(name="attr_character_name" title="@{character_name}" type="text" class="name")
    .columnflex.nowrap
      label Species
      input(name="attr_species" title="@{species}" list="speciesgodsend" type="text")
    .columnflex.nowrap
      label Archetype
      input(name="attr_archetype_name" title="@{archetype_name}" list="archetypesgodsend" type="text")
    .columnflex.nowrap
      label Renown
      input(name="attr_renown" title="@{renown}" type="number")
  section.points.rowflex.nowrap.spaced
    each type in points
      .rowflex.nowrap
        span.cap= type + ' Points'
        input.txtfield(name=`attr_${type}_points` type="number" value="")
        span /
        input.txtfield(name=`attr_${type}_points_max` type="number" value="")

    .rowflex.nowrap
      span Wealth Rating
      input.txtfield(name="attr_wealth" title="@{wealth}" type="number" value="")
    .rowflex.nowrap
      span(title="Ability Level @{al}") AL
      input.txtfield(name="attr_al" title="Ability Level @{xp_al}" type="number" value="")
      span(title="Physical Defence @{xp_pd}") PD
      input.txtfield(name="attr_xp_pd" title="Physical Defence @{xp_pd}" type="number" value="")
      span(title="Mental Defence @{md}") MD
      input.txtfield(name="attr_xp_md" title="Mental Defence @{xp_md}" type="number" value="")

  section.attrs.columnflex.nowrap
    h2 Attributes
    .rowflex.nowrap.middle.spaced
      each name in attrs1
        +attrsrolls(name)
    .rowflex.nowrap.middle.spaced
      each name in attrs2
        +attrsrolls(name)
  //- Skills, Powers, weapons, armor
  section.skills.columnflex.nowrap

    h2 Skills
    .desc-row
      span name
      span level
      span.attr attr
      span.desc notes
    fieldset.repeating_skills
      button(name="roll_skill" value!="@{whisper}&{template:rolls} {{title=@{name} }} @{showname} {{roll= [[@{dice}[dice]+@{level}[@{name} level]+@{attribute}[attribute] @{modquery}]]}}" type="roll")
      input.name(name="attr_name" title="@{name}" list="skillsgodsend" type="text")
      input(name="attr_level" title="@{level}" type="number").level
      +attrselect
      input.desc(name="attr_notes" title="@{notes}" type="text")
      input(name="attr_attrname" type="hidden")

    h2 powers
    .desc-row
      span.powers name
      span rank
      span base cost
      span rank cost
      span cost total
      span desc
    fieldset.repeating_powers
      button.sendtext(name="roll_power" value!="@{whisper}&{template:rolls} {{title=@{name} }} @{showname} {{rank= [[@{rank}]] }} {{desc=@{desc} }}" type="roll")
      input.name(name="attr_name" title="@{name}" type="text")
      input.txtfield(name="attr_rank" title="@{rank}" type="number")
      input.txtfield(name="attr_cost_base" type="number")
      input.txtfield(name="attr_cost_rank" type="number")
      input.txtfield(name="attr_cost_total" type="number")
      input.name(name="attr_desc" title="@{desc}" type="text")

    h2 Weapons
    .desc-row
      span.weapons name
      span acc
      span dr
      span RoF
      span Ammo
      span rng
      span='R#'
      span attr
      span skill lvl
    fieldset.repeating_weapons
      button(name="roll_weapon" value!="@{whisper}&{template:rolls} {{title=@{name} }} @{showname} {{roll= [[@{dice}[Dice]+@{acc}[accuracy]+@{skill}[skill level]+@{attribute}[attribute] @{modquery}]]}} {{Damage= [[@{dr}]]}}" type="roll")
      input.name(name="attr_name" title="@{name}"  type="text")
      input.txtfield(name="attr_acc" type="number")
      input.txtfield(name="attr_dr" type="number")
      input.txtfield(name="attr_rof" type="number")
      input(name="attr_ammo" type="text")
      input(name="attr_rng" type="text")
      input(name="attr_rsharp" type="text")
      +attrselect
      input(name="attr_skill" type="text")

    h2 Armor
    .desc-row
      span.armor name
      span pr
      span enc
      span='R#'
    fieldset.repeating_armor
      input.name(name="attr_name" title="@{name}"  type="text")
      input.txtfield(name="attr_pr" type="number")
      input.txtfield(name="attr_enc" type="number")
      input(name="attr_rsharp" type="text")

  section.notes.columnflex.nowrap
    h2 Disadvantages
    for item in disadv
      div.rowflex.middle
        span
          span= item 
          input(name=`attr_${item}` title=`@{${item}}` type="text")
    each option in notes1
      h2= option
      textarea(name=`attr_${option}`)
  section.footer

main.notes
  h2 Notes
  each option in notes
    section.columnflex
      h3= option
      textarea(name=`attr_${option}`)

main.settings
  h2 Settings
  .section.rowflex.nowrap
    span='Ask for Roll Modifiers?'
    select.short(name="attr_modquery" title="@{modquery}")
      option(value="+(?{Roll Modifier|0}[Modifiers])") Yes
      option(value=" ") No
  .section.rowflex.nowrap
    span='Show Character Name in rolls?'
    select.short(name="attr_showname" title="@{showname}")
      option(value="{{subtitle=@{character_name} }}") Yes
      option(value=" ") No
  .section.rowflex.nowrap.gap
    span(title="@{whisper}") Whisper rolls to GM?
    input(name="attr_whisper" title="@{whisper}" type="checkbox" value="/w gm")
  .section.rowflex.nowrap.gap
    span Dice type
    select(name="attr_dice" title="@{dice}")
      option(value="2d10cf0cs0" selected)= '2d10 (GODSEND Agenda)'
      option(value="1d20")= 'd20 (Talislanta, Hellas, Atlantis)'
      option(value="2d10" selected)= '2d10 (1s & 10s higlighted)'
  .section.rowflex.nowrap.gap
    span= 'Game System (Header & layout)'
    select(name="attr_gametype" )
      option(value="godsend" selected)= 'GODSEND Agenda'
      option(value="talislanta")= 'Talislanta'
      option(value="hellas")= 'Hellas'
      option(value="atlantis")= 'Atlantis: Second Age'
  //-.section.rowflex.nowrap
    span='Show Costs for Powers?'
    select.short(name="attr_showcost" title="@{showcost}")
      option(value="{{base cost= @{cost_base} }} {{rank cost= @{cost_rank} }} {{total cost= @{cost_total} }}") Yes
      option(value=" ") No
