mixin navBar(sheetType)
  div.nav-bar
    - const rows = (sheetType == 'shared') ? pages.sharedRows : pages.charRows
    each row in rows
      div.nav-row
        each page in row
          div.nav-child
            label.page-label
              if page.checked
                input(type='radio' name=`attr_${sheetType}_page_button` class='hide-element page-button' value=page.id checked)
              else
                input(type='radio' name=`attr_${sheetType}_page_button` class='hide-element page-button' value=page.id)
              - var translation = `nav-${page.text}`
              div.page-button-back(data-i18n=translation)=translation[translation]
